<div class="container-fluid resPortAddPage resLandAddPage">
  <div class="row ">
    <div class="col-md-12 col-lg-12  col-sm-12 col-xs-12">
      <div class="panel panel-default masOpertion">
        <div class="panel-heading bg-trans flexTitle">
          <div>
            <h4>Add Carrier Rate</h4>
          </div>
          <div>
            <div class="btngrp">
              <button type="button"
									class="btn btn-default btn-xs btn-property cancel-btn"
									ng-click="cancel()">Cancel</button>
              <button type="button"
									class="btn btn-primary btn-xs btn-property accent-btn"
									ng-click="saveCarrierRate()">Save</button>
            </div>
          </div>
        </div>
        <div class="panel-body  ptb0 edit-body detail-body" id="carrier-rate-panel" panel-height
					ng-nicescroll nice-option="{{ngScrollConfig}}">
          <div class="pad-15 mb10">
            <div show-response></div>
            <div success-response></div>
            <div> <span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory fields</small> </div>
          </div>
          <div class="row ptb0">
            <div class="col-xs-12 nopadding">
              <div class="col-xs-12 nopadding">
                <div class="row nomargin">
                  <div class="col-xs-12 pl0">
                    <button type="button"
											class="btn btn-primary btn-xs btn-property accent-btn "
											ng-click="addNewRate()"> <i class="icon-add"></i> Add Rate </button>
                    <button type="button"
											class="btn btn-primary btn-xs btn-property accent-btn green-btn "
											ng-click="bulkuploadmodel();navigateToNextField('downloadtemplate')">Bulk Upload </button>
                  </div>
                </div>
                <form role="form" name="carrierRateForm">
                  <div class="pad-5 pl0 ">
                    <div class="table-responsive">
                      <table class="table table-inline-nopad  mb0"  sm-table-responsive  watch-data="carrierRateDataList" tab-nav tab-row="addNewRate()">
                        <thead class="border borderthead">
                          <tr>
                            <th rowspan="2" class="inl_sno">#</th>
                            <th rowspan="2" class="inl_mp">Carrier<span
													class="reqColor">*</span> </th>
                            <th rowspan="2" class=" inl_mp">Charge<span
													class="reqColor">*</span></th>
                            <th rowspan="2" class="inl_mp">Unit<span
													class="reqColor">*</span></th>
                            <th rowspan="2" class="inl_mp ">Chargeable Weight /
                              Actual<span class="reqColor">*</span> </th>
                            <th rowspan="2" class="inl_mp">Origin<span
													class="reqColor">*</span></th>
                            <th rowspan="2" class="inl_mp">Destination<span
													class="reqColor">*</span></th>
                            <th colspan="3" class="text-center bor-b-0"><b>First Effective</b></th>
                            <th colspan="3" class="text-center bor-b-0"><b>Second Effective</b></th>
                            <th rowspan="2" class="inl_xs">Action</th>
                            <!--<th rowspan="2">Notes</th>--> 
                            
                          </tr>
                          <tr>
                            <th colspan="1" class=" inl_mp">From Date<span
														class="reqColor">*</span></th>
                            <th colspan="1" class="text-right inl_mp">Amount<span
														class="reqColor">*</span></th>
                            <th colspan="1" class="text-right inl_mp">Min Amount<span
														class="reqColor"></span></th>
                            <th colspan="1" class=" inl_mp">From Date</th>
                            <th colspan="1" class="text-right inl_mp">Amount</th>
                            <th colspan="1" class="text-right inl_mp">Min Amount<span
														class="reqColor"></span></th>
                          </tr>
                        </thead>
                        <tbody  >
                          <tr ng-repeat ="data in carrierRateDataList track by $index">
                            <td data-nofloat="true" ng-class="{'error-cell text-center':errorArray[$index].errRow}" ng-click="errorShow(errorArray[$index],$index)"><span ng-show="errorArray[$index].errRow"> <a href="javascript:void(0);" data-placement="right"   
                        bs-tooltip="errorList" 
											class="color-white"> <img
												src="../../../../assets/images/error.png" /> </a> </span> <span ng-show="!errorArray[$index].errRow"> {{$index+1}} </span></td>
                            <td data-headtitle="Carrier" data-required="true"
												data-width="tw33per" ><div class="select-auto">
                                <input type="text" class="form-control errormargin"
														id="carrierCode{{$index}}" input-focus="true" 
														autocomplete="off" ng-model="data.carrierMaster"
														ng-class="{'error-control':errorArray[$index].carrierCode}"
														uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierRateEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectAddCarrier('chargeCode'+$index)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
                                <span class="select-arrow"><b></b></span> </div></td>
                            <td data-headtitle="Charge" data-required="true"
												data-width="tw33per"><div class="select-auto">
                                <input type="text" class="form-control errormargin"
														id="{{'chargeCode'+$index}}" 
														autocomplete="off" ng-model="data.chargeMaster"
														ng-class="{'error-control':errorArray[$index].chargeCode}"
														uib-typeahead="lovObject as lovObject.chargeName for lovObject in ajaxCarrierChargeEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectAddCharge('unitCode'+$index,data)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
                                <span class="select-arrow"><b></b></span> </div></td>
                            <td data-headtitle="Unit" data-required="true"
												data-width="tw33per"><div class="select-auto">
                                <input type="text" class="form-control errormargin"
														id="{{'unitCode'+$index}}" 
														autocomplete="off" ng-model="data.unitMaster"
														ng-class="{'error-control':errorArray[$index].unitCode}"
														uib-typeahead="lovObject as lovObject.unitName for lovObject in ajaxCarrierUnitEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectAddUnit('actualCharge'+$index)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
                                <span class="select-arrow"><b></b></span> </div></td>
                            <td data-headtitle="Chargeable Weight /
													Actual" data-required="true"
												data-width="tw33per "><select id="{{'actualCharge'+$index}}"
													ng-class="{'error-control':errorArray[$index].actualChargeable}"
													class="form-control errormargin"
													ng-class="{'error-control':errorMap.get('actualChargeable')!=null}"
													ng-options="item.id as item.title for item in chargeType"
													ng-model="data.actualChargeable"
													ng-change="selectAddActualCharge('origin'+$index)"
													>
                              </select></td>
                            <td class="text-right" data-headtitle="Origin" data-required="true"
												data-width="tw33per" ><div class="select-auto">
                                <input type="text" class="form-control errormargin"
														id="{{'origin'+$index}}" 
														autocomplete="off" ng-model="data.origin"
														ng-class="{'error-control':errorArray[$index].origin}"
														uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxCarrierOriginEvent($viewValue,data)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectAddOrigin('destination'+$index)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
                                <span class="select-arrow"><b></b></span> </div></td>
                            <td class="text-right" data-headtitle="Destination" data-required="true"
												data-width="tw33per"><div class="select-auto">
                                <input type="text" class="form-control errormargin"
														id="{{'destination'+$index}}" 
														autocomplete="off" ng-model="data.destination"
														ng-class="{'error-control':errorArray[$index].destination}"
														uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxCarrierDestinationEvent($viewValue,data)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectAddDestination('firstFrmDate'+$index)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
                                <span class="select-arrow"><b></b></span> </div></td>
                            <td class="text-right" data-headtitle="From Date" data-required="true"
												data-width="tw33per"><div class="inputBox">
                                <input class="form-control errormargin" id="{{'firstFrmDate'+$index}}"
														       type="text" 
											                  ng-class="{'error-control':errorArray[$index].firstFromDate}"
															ng-model="data.firstFromDate" 
															datetimepicker
															datetimepicker-options="{{datePickerOptions}}"
															date-callback="navigateToNextField('firstAmount'+$index)">
                                <span class="inputIcon"> <i class="icon-date" aria-hidden="true"></i> </span> <span class="error-message"
															  ng-show="errorMap.get('firstFromDate'+$index)!=null"> <small>{{errorMap.get('firstFromDate'+$index)}}</small> </span> </div></td>
                            <td class="text-right" data-headtitle="Amount" data-required="true"
												data-width="tw33per"><input type="text"
							                    	ng-class="{'error-control':errorArray[$index].firstAmount}"
													id="{{'firstAmount'+$index}}"
													class="form-control errormargin text-right"
													efsdecimals="data.origin.portGroupMaster.countryMaster.currencyMaster.decimalPoint" efsdecimal-point="data.origin.portGroupMaster.countryMaster.locale"
													ng-model="data.firstAmount" /></td>
                            <td class="text-right " data-headtitle="Min Amount" 
												data-width="tw33per"><input type="text"
													ng-class="{'error-control':errorArray[$index].firstMinAmount}"
													id="{{'firstMinAmount'+$index}}"
													class="form-control text-right"
													efsdecimals="data.origin.portGroupMaster.countryMaster.currencyMaster.decimalPoint" efsdecimal-point="data.origin.portGroupMaster.countryMaster.locale"
													ng-model="data.firstMinAmount" /></td>
                            <td class="text-right" data-headtitle="Form Date" 
												data-width="tw33per"><div class="inputBox">
                                <input class="form-control errormargin" 
														       ng-class="{'error-control':errorArray[$index].secondFromDate}"
														       datetimepicker-options="{{datePickerOptions}}"
														       type="text"
															   ng-model="data.secondFromDate"
															  datetimepicker
															  date-callback="navigateToNextField('secondAmount'+$index)">
                                <span class="inputIcon"><i class="icon-date"
															aria-hidden=true></i></span> </div></td>
                            <td data-headtitle="Amount" 
												data-width="tw33per"><input id="{{'secondAmount'+$index}}"
													ng-class="{'error-control':errorArray[$index].secondAmount}"
													type="text" class="form-control text-right"
													efsdecimals="data.origin.portGroupMaster.countryMaster.currencyMaster.decimalPoint" efsdecimal-point="data.origin.portGroupMaster.countryMaster.locale"
													ng-model="data.secondAmount" /></td>
                            <td class="" data-headtitle="Min Amount" 
												data-width="tw33per"><input type="text"
													ng-class="{'error-control':errorArray[$index].secondMinAmount}"
													class="form-control text-right last-child"
													efsdecimals="data.origin.portGroupMaster.countryMaster.currencyMaster.decimalPoint" efsdecimal-point="data.origin.portGroupMaster.countryMaster.locale"
													ng-model="data.secondMinAmount" /></td>
													
													
                            <td data-nofloat="true" data-action="true">
                            <ul class="list-inline ">
                            <li ng-show="carrierRateDataList.length>1">
                            <a href="javascript:void(0);" ng-click="removeCarrier($index)"><i class="icon-delete" data-placement="bottom" bs-tooltip="delete"></i></a></li>
                            </ul></td>
                              
                              
                              
                              
                              
                              
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--panel ends--> 
    </div>
    <!--col ends--> 
  </div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="resModal modal " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                  
                        <div class="col-xs-8">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>   
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>