<div>

    <button type="button" class="btn btn-info btn-property mb10 accent-btn"
            ng-click="addRow()">
        <i class="icon-add"></i> Add Receipt
    </button>






    <div class="table-responsive"  ng-style="dropStyle">
        <table class="table table-inline-nopad" tab-nav tab-row="addRow()">
            <thead>
            <tr>
                <th class="inl_s">#</th>
                <th>Daybook Code</th>
                <th>Document No.</th>
                <th>Currency</th>
                <th class="text-right">Amount</th>
                <th class="inl_s">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="eventObj in tableData track by $index">
                <td class="" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
                </td>
                <td>
                    <div class="select-auto">
                        <input type="text"
                               auto-complete
                               class="form-control"
                               input-focus="{{secondArr[$index].eventMaster}}"
                               ng-model="eventObj.eventMaster"
                        />
                    </div>

                </td>

                <td>
                    <div class="select-auto">
                        <input type="text"
                               auto-complete
                               class="form-control"
                               ng-model="eventObj.eventMaster"/>
                    </div>

                </td>
                <td>
                    <div class="select-auto">
                        <input type="text"
                               auto-complete
                               class="form-control"
                               ng-model="eventObj.eventMaster"/>
                    </div>

                </td>
                <td >

                    <input type="text"  class="form-control text-right" />

                </td>

                               <td>
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);" ng-click="removeObj(eventObj,$index)">
                            <i class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

</div><!--body ends-->