<div class="row">
    <div class="col-xs-12 mtb-15">
        <button type="button" class="btn accent-btn"  ng-click="addRow()"><i class="icon-add"></i> add auto mail mapping</button>
    </div>
    <div class="row nomargin">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-inline-nopad" tab-nav tab-row="addRow()">
                    <thead>
                    <th class="inl_sno">#</th>
                    <th class="inl_m">Auto Mail Name<span class="reqColor">*</span> </th>
                    <th class="inl_xs">Auto Mail Code<span class="reqColor">*</span></th>
                    <th class="inl_sm">Internal / External</th>
                    <th class="inl_sm">Event Type</th>
                    <th class="inl_sm">Status</th>
                    <th class="inl_xxs">Actions</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="autoMailMappingObj in tableData track by $index">
                            <td ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                                <span ng-show="secondArr[$index].errRow" >
                                    <a href="javascript:void(0);"  data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                        <img src="../../../../assets/images/error.png"/>
                                    </a>
                                </span>
                                <span ng-show="!secondArr[$index].errRow">
                                {{$index+1}}
                                </span>
                            </td>
                        <td>
                            <input  type="text" class="form-control"
                                    ng-class="{'error-control':secondArr[$index].messageName}"
                                    ng-model="autoMailMappingObj.messageName"
                                    input-focus="{{secondArr[$index].messageName}}"
                                    maxlength="100"
                                    />

                        </td>
                        <td >
                            <input  type="text" class="form-control" 
                            ng-model="autoMailMappingObj.messageCode"
                                    ng-class="{'error-control':secondArr[$index].messageCode}"
                                    maxlength="10" capitalize
                                    />

                        </td>
                       <td>
                           <select  class="form-control"
                                    ng-options="obj.value as obj.title for obj in messTypeArr"
                                    ng-model="autoMailMappingObj.messageSendType" >
                                    <option value=""></option>
                           </select>
                       </td>
                       <td>
                                <select  class="form-control"
                                         ng-options="item | MailEventType for item in eventArr"
                                         ng-model="autoMailMappingObj.eventType" >
                                         <option value=""></option>
                                </select>
                        </td>
                        <td >

                            <select  class="form-control last-child"
                                    ng-options="item for item in statusArr"
                                    ng-model="autoMailMappingObj.autoMailStatus" >
                            </select>
                        </td>
                            <td>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0);"
                                           ng-click="removeObj(partyCompany,$index)">
                                           <i class="icon-delete"
                                              data-placement="bottom"
                                                bs-tooltip="delete"></i></a></li>
                                </ul>
                            </td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div><!--conn tab ends-->
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>