<div class="inlineTable">
    <button tabindex="-1" type="button" class="btn btn-info btn-property mb10 accent-btn"
            ng-click="fnRole({param:addRole})?addRow():''" >
        <i class="icon-add"></i> Add Account
    </button>
    <div ng-style="dropStyle" class="table-responsive">
        <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
            <thead class="borderthead">
            <tr>
                <th class="inl_xs">#</th>
                <th class="inl_m">Location<span class="reqColor">*</span> </th>
                <th class="inl_m">Account<span class="reqColor">*</span></th>
                <th class="inl_mp">Term Code</th>
                <th class="inl_mp">Currency Code<span class="reqColor">*</span></th>
                <th class="inl_m">Billing Account Name</th>
                <th class="inl_mm">Billing Subledger Code</th>
                <th class="inl_mm">Tax Exempted</th>
                <th class="inl_mp">Status<span class="reqColor">*</span></th>
                <th class="inl_s">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="partyAccount in tableData track by $index">
                <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
                </td>
                <td data-headtitle="Location" data-required="true" data-width="tw30per">
                   
                   <div class="select-auto">
					<input type="text" 
					input-focus="{{secondArr[$index].locationNameFocus}}"
						class="form-control" 
						ng-class="{'error-control-auto':secondArr[$index].locationName}"
						autocomplete="off"
						ng-model="partyAccount.locationMaster"
						uib-typeahead="lovObject as lovObject.locationName for lovObject in ajaxAccLocationEvent($viewValue)"
						typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
						typeahead-show-hint="true" typeahead-show-loading="true" 
						 typeahead-select-on-exact="true" typeahead-append-to-body="true"
						typeahead-on-select="setStatus(partyAccount,'accountsName'+$index)"
						typeahead-focus-on-select="false"
						typeahead-focus-first="true"
						typeahead-editable="false"
						typeahead-min-length="1" typeahead-wait-ms="500" 
						ng-disabled="(!updateRole&&partyAccount.id!=null)"
						>
						<span class="select-arrow"><b></b></span>
				</div>

                </td>
                <td data-headtitle="Account" data-required="true" data-width="tw30per">
                
                <div class="select-auto">
					<input type="text" id="accountsName{{$index}}"
					input-focus="{{secondArr[$index].accountName}}"
						class="form-control" 
						ng-class="{'error-control-auto':secondArr[$index].accountName}"
						autocomplete="off"
						 ng-model="partyAccount.accountMaster"
						uib-typeahead="lovObject as lovObject.glAccountName for lovObject in ajaxAccountEvent($viewValue)"
						typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
						typeahead-show-hint="true" typeahead-show-loading="true" 
						 typeahead-select-on-exact="true" typeahead-append-to-body="true"
						typeahead-on-select="selectAccount('termCode'+$index)"
						typeahead-focus-on-select="false"
						typeahead-focus-first="true"
						typeahead-editable="false"
						typeahead-min-length="1" typeahead-wait-ms="500" 
						ng-disabled="(!updateRole && partyAccount.id!=null)"
						>
						<span class="select-arrow"><b></b></span>
				</div>
				
                    
                </td>
                <td data-headtitle="Term Code" data-width="tw30per">
                    <select id="termCode{{$index}}"
                            class="form-control"
                            ng-class="{'error-control':secondArr[$index].termCode}"
                            ng-options="obj as obj|TermCode for obj in termCodeArr"
                            ng-change="selectTermCode('currencyCode'+$index)"
                            ng-model="partyAccount.termCode"
                            ng-focus="dirtyIndex($index);"  ng-disabled="(!updateRole&&partyAccount.id!=null)"  >
                    </select>
                </td>
                <td data-headtitle="Currency Code" class="clearboth" data-width="tw30per">
                  <div class="select-auto">
					<input type="text" 
						class="form-control" id="currencyCode{{$index}}"
						ng-class="{'error-control-auto':secondArr[$index].currencyCode}"
						autocomplete="off"
						ng-model="partyAccount.currencyMaster"
						uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxAccCurrencyEvent($viewValue)"
						typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
						typeahead-show-hint="true" typeahead-show-loading="true" 
						 typeahead-select-on-exact="true" typeahead-append-to-body="true"
						typeahead-on-select="selectCurrencyCode('billingAccountName'+$index)"
						typeahead-focus-on-select="false"
						typeahead-focus-first="true"
						typeahead-editable="false"
						typeahead-min-length="1" typeahead-wait-ms="500" 
						ng-disabled="(!updateRole&&partyAccount.id!=null)" 
						>
						<span class="select-arrow"><b></b></span>
				</div>
				
                </td>
                <td data-headtitle="Billing Account Name"  data-width="tw30per">
                    <div class="select-auto">
                        <input type="text" class="form-control"  id="billingAccountName{{$index}}" 
							ng-class="{'error-control-auto':secondArr[$index].subLedgerName}" 
							ng-change="changeBillingSubLedgerCode(partyAccount);" 
							ng-disabled="(!updateRole&&partyAccount.id!=nul)" 
							autocomplete="off"
							 ng-model="partyAccount.billingAccountName" 
							uib-typeahead="lovObject as lovObject.accountMaster.glAccountName for lovObject in ajaxLedgerAccNameEvent($viewValue,dependData,partyAccount)"
							
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-party-account-template.html"
							typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-party-account-template-popup.html"
							
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectBillAccntName('taxExempted'+$index,$index,partyAccount)" 
							typeahead-focus-on-select="false"
							typeahead-focus-first="true" typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500">
						<span class="select-arrow"><b></b></span>
                    </div>

                </td>
					<td data-headtitle="Billing Subledger Code" data-width="tw30per">
						<input type="text" class="form-control " ng-disabled=true
						ng-model="partyAccount.billingSubLedgerCode.partyName">
					</td>
					<td data-headtitle="Tax Exempted" class="clearboth" data-width="tw30per">
                    <select id="taxExempted{{$index}}"
                            class="form-control"
                            ng-class="{'error-control':secondArr[$index].isTaxExempted}"
                            ng-options="obj.value as obj.title for obj in taxArr"
                            ng-model="partyAccount.isTaxExempted"
                            ng-focus="dirtyIndex($index);"
                            ng-disabled="(!updateRole&&partyAccount.id!=null)"   
                            ng-change="selectTaxExem('status'+$index)"
                                >
                    </select>
                </td>
                <td data-headtitle="Status"  data-width="tw30per">
                    <select  id="status{{$index}}" class="form-control last-child"
                            ng-class="{'error-control':secondArr[$index].isStatus}"
                            ng-options="item for item in lovStatusArr"
                            ng-model="partyAccount.status" required
                            ng-disabled="(!updateRole&&partyAccount.id!=null)"            >
                    </select>
                </td>
                <td  data-nofloat="true" data-action="true" >
                    <ul class="list-inline" ng-if="deleteRole">
                        <li ng-show="partyAccount.id==null">
                            <a href="javascript:void(0);"
                               ng-click="fnRole({param:deleteRole})?removeObj(partyCompany,$index):''">
                                <i class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>