<!DOCTYPE html>
<html ng-app="NewAgePublic">
<head>
<meta name="author" content="your name" />
<title>Account Activation</title>
<link rel="shortcut icon" type="image/x-icon"
	href="../../assets/images/favicon.png" />
<script src="../../plugins/javascript/jquery.min.js" type="text/javascript"></script>
<script src="../../plugins/javascript/angular/angular.js" type="text/javascript"></script>
<script
	src="../../public/account_activation/account_activation_controller.js"></script>
</head>
<body style="font-family: Microsoft New Tai Lue; margin: 0px auto; background: #f3f6fd;"
	ng-controller="AccountActivationController">
	<!--START POPUP -->
	<div ng-show="!flagSuccess && !isUserActivatedFlag" >
		<table width="40%"
			style="background: #fff; height: auto; margin: 0px auto; margin-top: 10%; border: 10px solid #e0e2e4;">
			<tr>
				<td>
					<table width="100%" style="padding: 20px 0px; background: #fafafa;">
						<tr>
							<td width="100%" align="center"><img src="efrightsuite.png"
								alt="" /></td>
						</tr>
					</table>

					<table width="100%"
						style="width: 100%; padding: 25px 0px; border-top: 1px solid #d9d9d9;">
						<tr>
							<td width="100%" align="center" style="padding-bottom: 20px;"><span
								style="color: #666; font-size: 20px;">Enter Authorization
									Code</span></td>
						</tr>
						<tr>
							<td width="100%" align="center" style="padding-bottom: 20px;"><span
								style="color: #666; padding: 6px 18px; font-size: 20px;">Activation
									Code <span style="color: red">*</span>
							</span> <span> <input id="code" type="password" name="code"
									ng-model="activationObj.key" style="padding: 10px;"
									maxlength="8">
							</span></td>
						</tr>
						<tr>
							<td width="100%" align="center" style="padding-bottom: 20px;">
								<span style="color: red" ng-show="errorMessage!=null">{{errorMessage}}</span>
							</td>
						</tr>
						<tr>
							<td width="100%" align="center" style="padding-top: 20px;">
								<button type="button"
									style="font-family: Microsoft New Tai Lue; background: #2196f5; color: #fff; padding: 6px 18px; border-radius: 3px; margin-left: 51%;"
									ng-click="confirm()">Confirm</button>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div ng-show="flagSuccess">
		<table width="40%"
			style="background: #fcfcfc; height: auto; margin: 0px auto; margin-top: 10%;">
			<tr>
				<td>
					<table width="100%" style="padding: 20px 0px; background: #fff;">
						<tr>
							<td width="100%" align="center" style="margin-bottom: 100px;"><img
								src="approval.png" alt="" /></td>
						</tr>
						<tr>
							<td width="100%" align="center"
								style="font-size: 22px; font-weight: bold; color: #373938;">Congratulations</td>
						</tr>
						<tr>
							<td width="100%" align="center" style="font-size: 22px; font-weight: normal; color: #373938;">
								Thank you for the activation
							</td>
							</tr>
							<tr>
							<td width="100%" align="center" style="font-size: 12px; font-weight: normal; color: #373938;">
								Your login credentials will be sent to your registered email shortly
							</td>
						</tr>
					</table>
					<!-- <table width="100%"
						style="width: 100%; padding: 25px 0px; border-top: 1px solid #d9d9d9;">
						<tr>
							<td width="100%" align="center"><span
								style="font-family: Microsoft New Tai Lue; background: #2196f5; color: #fff; padding: 6px 18px; border-radius: 3px;">Go
									to Login Page</span></td>
						</tr>
					</table> -->
				</td>
			</tr>
		</table>

	</div>

</body>
</html>