<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="vm.zoneMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.zoneMaster.id==null?'Add Zone':'Edit Zone'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
    <button type="button" class="btn cancel-btn"  ng-click="vm.cancel(vm.zoneMaster.id)">    Cancel </button>
    <button type="button"  class="btn accent-btn"  ng-click="vm.zoneMaster.id==null?vm.create():vm.update()"> {{vm.zoneMaster.id==null?'Save':'Update'}}</button>
                                      
      </div>
                        </div>
                    </div>
                    <div class="panel-body pt0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="zoneName"
                                 ng-class="{'error-control':errorMap.get('zoneName')!=null}"
                                 ng-change="vm.validate('zoneName', 1)" ng-model="vm.zoneMaster.zoneName"/>
                                 <span class="error-message" ng-show="errorMap.get('zoneName')!=null">
									 <small>{{errorMap.get('zoneName')}}</small>
								</span>
                            </div>
                        </div>
                        <div class="row ">
                        <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin plr0">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input 
                                    type="text" class="form-control" maxlength="6" id="zoneCode"
                                    ng-disabled="vm.zoneMaster.id!=null" capitalize
                                    input-focus="{{vm.errorMap.get('zoneCode')!=null}}"
                                    ng-class="{'error-control':errorMap.get('zoneCode')!=null}"
                                    ng-model="vm.zoneMaster.zoneCode" ng-change="vm.validate('zoneCode', 2)"/>
                                 <span class="error-message" ng-show="errorMap.get('zoneCode')!=null">
									 <small>{{errorMap.get('zoneCode')}}</small>
								</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  pl0" ng-class="vm.zoneMaster.id!=null?'visible-show':'visible-hide'">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="vm.setStatus(vm.zoneMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="vm.zoneMaster.status" required >
                                    </select>
                                </div></div>
                                </div>
                        </div>
                        
                        <div class="row">
                         <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label">Country<span class="reqColor">*</span></label>
                                    <div class="select-auto">
                                    <input type="text" class="form-control" id="countryName"
										input-focus="{{vm.errorMap.get('countryName')!=null}}" 
										ng-class="{'error-control':errorMap.get('countryName')!=null}" 
										autocomplete="off" ng-model="vm.zoneMaster.countryMaster" 
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="vm.validate('countryName', 3)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                    </div>
                                     <span class="error-message" ng-show="errorMap.get('countryName')!=null">
									 <small>{{errorMap.get('countryName')}}</small>
								</span>
                                </div>
                        </div>
                        </div>
                        
                             
                        
                        
                        
                        
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
