<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog width85per" >
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>WIN</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body">
				<div >	
<!-- 				<div class="row mtb-15" >
				<div class="col-md-12 col-xs-12">		
						
        <ul class="progress-indicator">
            <li class="completed" data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                Booking Date<br/><small>01-04-2017</small>
            </li>            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                Pickup Date<br/><small>02-04-2017</small>
            </li>
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                Cargo Received Date<br/><small>02-04-2017</small>
            </li>
            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETD <br/><small>Chennai(MAA)</small>
            </li>
            
             <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETA <br/><small>Bangalore(BLR)</small>
            </li>
             <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETD <br/><small>Bangalore(BLR)</small>
            </li>
            
             <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETA <br/><small>Dubai(UAE)</small>
            </li>
            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETD <br/><small>Dubai(UAE)</small>
            </li>
            
            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETA <br/><small>Canada(CAN)</small>
            </li>
            
             <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                CAN Date <br/><small>12-04-2017</small>
            </li>
                        
            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                Delivery Date <br/><small>14-04-2017</small>
            </li>           
            
            
        </ul>

					</div>
				</div> -->
				
				
				
				
<div class="row mtb-15" >
<div class="col-md-12 col-xs-12">
				
<div class="">			
				
<div class="col-md-4 col-xs-4">


<div class="row bor nopadding brad3 shade2 ptb10" style="border-radius:0;">

<div style="margin:10px auto;text-align:center;"><img class="fsl-logo" src="../../../assets/images/logo-win.png" width="230"></div>

<h5 class="winn-text" >Based On Agent ID</h5>

<div class="box-border" >
                                    <div class="col-xs-6">
                                        <div class="form-group mb-5">
                                            <label>Agent ID </label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group mb-5">
                                            <label>Location</label>
                                            <select class="form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                
                <div class="col-xs-12 ">
  <button type="button" class="btn btn-primary btn-xs btn-property accent-btn pull-right" >GET</button>        
          
          
          </div>                              
                                    
                                    
                                    
                                </div>
                                
                                
                                <hr></hr>
                                
                                
                                
                                
                                
   <h5 class="winn-text" >Based On Agent ID</h5>

<div class="">
                                    <div class="col-xs-6">
                                        <div class="form-group mb-5">
                                            <label>AWBID </label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group mb-5">
                                            <label>MAWID</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                
                <div class="col-xs-12" style="margin-bottom:10px; ">
  <button type="button" class="btn btn-primary btn-xs btn-property accent-btn pull-right" >GET</button>        
          
          
          </div>                              
                                    
                                    
                                    
                                </div>                             
                                
                                
                                
                                
                                
                                
                                
                      


</div>
 







</div>
<div class="col-md-8 col-xs-8">

<div class="row bor nopadding brad3 ptb10" style="border-radius:0;height: 350px;">


<div class="col-md-12 col-xs-12">

 <h5 class="winn-text" style="margin-bottom:10px;margin-top:10px;" >Based On Agent ID</h5>

<div class="table-responsive">
                                                            <table  class="table table-inline-nopad">
                                                                <thead>
                                                                <tr>
                                                                    <th class="inl_sno">#</th>
                                                                    <th class="inl_l">Location</th>
                                                                    <th class="inl_l">Subledger Code</th>
                                                                    <th class="inl_l">Subledger Name</th>
                                                                   
                                                                   
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>
                                                                       hjghjghj
                                                                    </td>
                                                                    <td>
                                                                       hjgjghj fhgfh
                                                                    </td>
                                                                    <td>

                                                                       ghfghfg

                                                                    </td>
                                                                   
                       
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>




</div>
</div>
</div>	

</div>					
				
				
				
				
				
				
				
				
				
				
				</div></div>				
				
				
				
				
				
				
				
				
				
				
				</div>
            </div>
        </div>
    </div>
</div>
