<div class="col-xs-12">
    <div class="row nomargin">
    <a ng-show="isEdit" tabIndex="-1" href="javascript:void(0)" ng-click="fnRole({param:addRole})?addRow():'';"
       class="btn btn-primary btn-xs btn-property accent-btn pull-left mb-5">
        <span class="icon-add"></span> Add Attachment
    </a>
    </div>
    <div class="row bor-btm-0 nomargin pt5 pb5">
		<div class="col-xs-12 plr0">
			<div class="table-fixed table-responsive mb0" ng-show="tableData.length>0 && !isEdit">
				<table class="table table-inline mt0 mb0">
					<thead class="borderthead">
						<tr>
							<th class="inl_sno" style="width:8%">#</th>
							<th class="inl_mpp" ng-repeat="headObj in attachmentConfig.columnDefs" ng-class="headObj.width">{{headObj.name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dataObj in tableData track by $index">
							<td class="inl_mpp">{{$index+1}}</td>
							<td  ng-repeat="headObj in attachmentConfig.columnDefs"
								class="{{headObj.width}} rel"
								title="{{setValue(headObj.type,dataObj,headObj.model)}}"><span
								ng-class="{'icon-span-ellipsis':headObj.type=='file'}">{{setValue(headObj.type,dataObj,headObj.model)}}</span>
								<span
								ng-if="headObj.type=='file' && setValue(headObj.type,dataObj,headObj.model)"
								class="icon-with-ellipsis"> <a data-placement="bottom"   bs-tooltip="downloadIcon"
									class="cursorPt"><i class="icon-download"
										ng-click="download(dataObj,headObj.model)"></i> </a>
							</span>
								<ul class="list-inline" ng-show="headObj.type=='action'">
									<li ng-show="isEdit"><a data-placement="bottom"   bs-tooltip="editIcon"
										class="cursorPt cur-pointer"><i class="icon-edit"
											ng-click="fnRole({param:updateRole})?editAttach(dataObj):''"></i> </a></li>
									<li
										ng-show="isEdit && isDelete"><a
                                            data-placement="bottom"   bs-tooltip="delete" class="cur-pointer cursorPt"><i
											class="icon-delete  icocolor" ng-click="fnRole({param:deleteRole})?deleteAttach(dataObj):''"></i> </a></li>
								</ul></td>
						</tr>
					</tbody>
				</table>
			</div>
            <div class="table-fixed table-responsive" ng-show="isEdit">
                <!--simple attachment-->
                <table class="table table-inline-nopad mt0" tab-nav tab-row="addRow()" >
                    <thead class="borderthead">
                    <tr>
                        <th class="inl_sno">#</th>
                        <th class="inl_m resinl_m">Reference No<span class="reqColor">*</span> </th>
                        <th class="inl_mpp">File<span class="reqColor">*</span></th>
                        <th class="inl_xs resinl_xs">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dataObj in tableData track by $index">
                        <td ng-class="{'error-cell text-center':secondArr[$index].errRow}" 
                        ng-click="errorShow(secondArr[$index],$index)">
	                         <span ng-show="secondArr[$index].errRow" >
	                             <a tabindex="-1" href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" class="color-white" >
                                     <b class="glyphicon glyphicon-warning-sign"></b>
                                 </a>
	                         </span>
	                        <span ng-show="!secondArr[$index].errRow">
	                        	{{$index+1}}
	                        </span>
                        </td>
                        <td>
                            <input type="text"
                            		id="{{indexKey+'attachRefNo'+$index}}"
                                   ng-model="dataObj.refNo"
                                   class="form-control" maxlength="100"
                                   ng-trim="false"
                                   input-focus="{{secondArr[$index].refNoFocus}}"
                                   ng-class="{'error-control':secondArr[$index].refNo}"
                                   ng-disabled="(!updateRole&&dataObj.id!=null)">
                        </td>
                        <td>
                            <div class="row nomargin">
                                <div class="col-xs-8 col-sm-8  col-md-9 col-lg-9 pl0 pr0  disabled-box"  ng-change="uploadAttach(dataObj.file, dataObj, $index)" ng-model="dataObj.file" ngf-drop ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">
                                    <h6 class="nomargin pl5 resfsize disablewid">{{dataObj.fileName?dataObj.fileName:(dataObj.file!=null?dataObj.file.name:'Drag and drop here')}}</h6>
                                </div>
                                <div class="col-xs-4 col-sm-3  col-md-3 col-lg-3 pl0 pr0">
                                    <a href="javascript:void(0);" tabindex="-1" 
                                       ngf-select  ng-model="dataObj.file"
                                       ngf-multiple="true"  ngf-allow-dir="true"
                                       ng-change="uploadAttach(dataObj.file, dataObj, $index)"
                                       class="btn btn-primary btn-property browse-btn last-child btn-xs ml-5"
                                       ng-disabled="(!updateRole&&dataObj.id!=null)">Browse</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                	<a data-placement="bottom"   bs-tooltip="delete" class="cur-pointer cursorPt">
                                		<i class="icon-delete icocolor" ng-click="fnRole({param:deleteRole})?removeObj(dataObj,$index):''"></i>
                                	 </a>
                                </li>
                                <li>
	                                	<a data-placement="bottom"   bs-tooltip="downloadIcon" class="cursorPt">
	                                		<i class="icon-download" ng-click="download(dataObj)"></i> 
	                                	</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--Advanced attachment-->
            </div>
		</div>
	</div>
    <script type="text/ng-template" id="errorPopUp.html">
        <div class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header nopadding">
                        <div class="row plr14px">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <h4>Following Error List</h4>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mt-7">
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body pt35 pb35">
                        <ul>
                            <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
