<div class="container-fluid m15 bor-voilt-lr">
	<div class="row nomargin" ng-click="invoice=!invoice" ng-init="invoice=true">
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Invoice & Credit Note</h5>
			</div>
			<div>
			<i class="{{invoice==true?'icon-uparrow':'icon-downarrow'}}"></i>
		</div>
		</div>
	</div>
	<div ng-hide="!invoice" class="accordian-content">
		<div class="row nomargin">
			<div class="col-xs-5 pl0">
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="createInvoice(shipmentServiceDetail)"><i class="icon-add opcfull"></i>  Add Invoice</button>
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="createCreditNote(shipmentServiceDetail)"><i class="icon-add opcfull"></i>  Add Credit Note Cost</button>
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="createCreditNoteRevenue(shipmentServiceDetail)"><i class="icon-add opcfull"></i>  Add Credit Note Revenue</button>
			</div>
			<div class="col-xs-7">
				<div classs="row">

					<label class="pull-left pr8 rel t-6">Filter By</label>

					<div class="col-xs-5">
						<button-group btn-index=""
									  states="btnGrp.TypeArr"
									  state="searchDto.invoiceCreditNoteType"
									  on-state-change="filterInvoiceCreditNote(searchDto.invoiceCreditNoteType)">
						</button-group>
					</div>
					<div class="col-xs-5">
                               <button-group btn-index=""
									  states="btnGrpFilter.TypeArr"
									  state="searchDto.customerAgentType"
									  on-state-change="filterCustomerAgent(searchDto.customerAgentType)">
						</button-group>
					</div>
				</div>
			</div>
			
		</div>
		<div class="table-responsive" ng-show="invoiceList.length>0">
			<table class="table table-hover mb-15">
				<thead>
				<tr>
					<th rowspan="2">#</th>
					<th rowspan="2">Daybook</th>
					<!--<th>Daybook Name</th>-->
					<th rowspan="2" class="w100px " style="white-space: normal">Invoice / Credit Note Document Number</th>
					<th rowspan="2">Document Date</th>
					<th rowspan="2">Due Date</th>
					<th rowspan="2">Adjustment Daybook</th>
					<th rowspan="2">Adjusted Document No</th>
					<th rowspan="2">Customer / Agent</th>
					<th rowspan="2">{{appMasterData['Party_Label']}} Name</th>
					<th rowspan="2">{{appMasterData['Party_Label']}} Account No</th>
					<th rowspan="2">Subledger</th>
					<th colspan="3" class="text-center">Billing</th>
					<th colspan="3" class="text-center">Local</th>
					<th rowspan="2">More</th>
				</tr>
				<tr>
						<th>Currency</th>
						<th class="text-right">Amount</th>
						<th class="text-right">Balance Amount</th>
						
						<th>Currency</th>
						<th class="text-right" >Amount</th>
						<th class="text-right" >Balance Amount</th>
					
					<!-- <th class="w100px">Status</th> -->
				</tr>

				</thead>
				<tbody ng-repeat="invoice in invoiceList | filter:{customerAgent: customerAgent,invoiceStatus:invoiceStatus,documentTypeCode:documentTypeCode} | orderBy : '-id' track by $index">
				<tr>
					<td>{{$index+1}}</td>
					<td>{{invoice.daybookMaster.daybookCode}}</td>
					<!--<td>{{invoice.daybookMaster.daybookName}}</td>-->
					<td>{{invoice.invoiceCreditNoteNo}}
					</td>
					<td>{{dateToString(invoice.invoiceCreditNoteDate)}}</td>
					<td>{{dateToString(invoice.dueDate)}}</td>
					<td>{{invoice.adjustMentDaybookMaster!=null?invoice.adjustMentDaybookMaster.daybookCode+'-'+invoice.adjustMentDaybookMaster.daybookName:'-'}}</td>
					<td>{{invoice.adjustmentInvoiceNo!=null?invoice.adjustmentInvoiceNo:'-'}}</td>
					<td>{{invoice.customerAgent}}</td>
					<td>{{invoice.party.partyName}}</td>
					<td>{{invoice.partyAccount.accountCode}}</td>
					<td>{{invoice.subledger}}</td>
					<td>{{invoice.billingCurrency.currencyCode}}</td>
					<td class="text-right">
					 {{currencyFormat(invoice.billingCurrency,invoice.currencyAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormat(invoice.billingCurrency,invoice.outstandingAmount)}}
					</td>
					<td>{{invoice.localCurrency.currencyCode}}</td>
					<td class="text-right">
					{{currencyFormat(invoice.localCurrency,invoice.localAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormat(invoice.localCurrency,invoice.outstandingAmount*invoice.roe)}}
					</td>
					<td><a href="javascript:void(0);" ng-click="getInvoiceCrnView(invoice,shipmentServiceDetail)"><i class="icon-notes"></i></a> </td>
				</tr>
				</tbody>
			</table>
		</div>
		<efs-spinner spinner-status="invoiceSpinner"></efs-spinner>
		<empty-record ng-show="!invoiceList || invoiceList.length==0" icon="invoice" text="Looks like there are no invoice records here"></empty-record>
	</div>
	<div class="row nomargin" ng-click="provisional=!provisional" ng-init="provisional=true">
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Provisional Revenue/Cost</h5>
			</div>
			<div>
				<i class="{{provisional==true?'icon-uparrow':'icon-downarrow'}}"></i>
			</div>
		</div>
	</div>
	<div ng-hide="!provisional" class="accordian-content pl0 pr0">
		<div ng-include="'app/components/crm/shipment/views/edit_provisionalcost.html'"></div>
	</div>
</div>
