<table class="table table-hover tab-width tfoot-bor0 table-default tab-col-bg" ng-show="shipmentServiceDetail.dimensionList.length>0" >
    <thead>
    <tr>
    <th>#</th>
    <th class="text-right" >No. of Pieces</th>
    <th class="text-right">Length</th>
    <th class="text-right">Width</th>
    <th class="text-right">Height</th>
    <th class="text-right">Volume Weight</th>
    <th class="text-right">Gross Weight</th>
    <th>Action</th>
    </tr>
    </thead>
     <tbody ng-repeat="shipmentServiceDimension in shipmentServiceDetail.dimensionList track by $index">
                                                                    <tr>
                                                                         <td class="text-right">{{$index+1}}</td>
                                                                        <td class="text-center">{{shipmentServiceDimension.noOfPiece}}</td>
                                                                        <td class="text-right">{{shipmentServiceDimension.length}}</td>
                                                                        <td class="text-right">{{shipmentServiceDimension.width}}</td>
                                                                        <td class="text-right">{{shipmentServiceDimension.height}}</td>
                                                                        <td class="text-right">{{shipmentServiceDimension.volumeWeight|number:3}}</td>
                                                                        <td class="text-right">{{shipmentServiceDimension.grossWeight|number:3}}</td>
                                                                         <td>                           
                                                                         <ul class="list-inline">
                                                                         <li class="cursorPt">
                                                                            <a data-placement="left"   bs-tooltip="edit" href="javascript:void(0);">
                                                                            <i class="icon-edit" ng-click="editShipmentDimension($index)" ></i>
                                                                                 </a>
                                                                                </li>
                                                                               <li class="cursorPt">
                                                                              <a data-placement="left"   bs-tooltip="delete" href="javascript:void(0);">
                                                                              <i class="icon-delete" ng-click="deleteShipmentDimension($index)"></i>
                                                                                </a>
                                                                           </li>
                                                                               </ul>
                                                                               </td>
                                                                    </tr>
                                                                    </tbody>
                                                                    <tfoot class="bg-danger">
                                                                    <tr>
                                                                        <td>Total</td>
                                                                        <td class="text-right">{{shipmentServiceDetail.dimensionTotalPiece}}</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="text-right">{{shipmentServiceDetail.dimensionVolWeight|number:3}}</td>
                                                                        <td class="text-right">{{shipmentServiceDetail.dimensionGrossWeight|number:3}}</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    </tfoot>
                                                                </table>
<empty-record ng-show="!shipmentServiceDetail.dimensionList || shipmentServiceDetail.dimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>