
<div class="row nomargin">
    <div class="col-xs-12 mt-15">
        <div class="table-responsive" ng-show="shipmentServiceDetail.shipmentServiceTriggerList.length>0">
            <table class="table table-inline" >
                <thead >
                <th class="inl_sno">#</th>
                <th class="inl_s">Date</th>
                <th class="inl_m">Trigger Type</th>
                <th class="inl_m">Trigger</th>
                <th class="inl_s">Protect</th>
                <th class="inl_s">Follow up Required</th>
               <!--  <th>Assigned To</th> -->
                <th class="inl_s">Follow up Date</th>
                <th class="inl_m">Note</th>
                <th class="inl_s">Follow up Completed</th>

                </thead>
                <tbody>
                <tr ng-repeat="shipmentServiceTrigger in shipmentServiceDetail.shipmentServiceTriggerList track by $index">
                 <td>{{serialNo($index)}}</td>
                                                                             <td>{{dateToString(shipmentServiceTrigger.date)}}</td>
                                                                            <td>{{shipmentServiceTrigger.triggerTypeMaster.triggerTypeName}}</td>
                                                                            <td>{{shipmentServiceTrigger.triggerMaster.triggerName}}</td>
                                                                            <td>{{shipmentServiceTrigger.protect}}</td>
                                                                            <td>{{shipmentServiceTrigger.followUpRequired}}</td>
                                                                            <!-- <td>{{shipmentServiceTrigger.employeeMaster.employeeName}}</td> -->
                                                                            <td>{{dateToString(shipmentServiceTrigger.followUpDate)}}</td>
                
                    <td>
                        <a href="javascript:;" data-placement="top-right" data-content=" {{shipmentServiceTrigger.note}}" data-container="body" data-trigger="focus" data-viewport="{ selector: 'body', padding: 0 }"  bs-popover><i class="fa fa-file-o" aria-hidden="false"></i>
                        </a>
                    </td>
                    <td>
                       {{shipmentServiceTrigger.completed}}
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <empty-record ng-show="!shipmentServiceDetail.shipmentServiceTriggerList || shipmentServiceDetail.shipmentServiceTriggerList.length==0" icon="status" text="Looks like there are no trigger records here"></empty-record>
    </div>
</div>