
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header flexTitle">
                <div>
                    <h4>More Info</h4>
                </div>
                <div>
                    <div class="btngrp">
                        <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body nopadding overflow-hidden" style="min-height: 300px">
                <div class="row nomargin">
                    <div class="col-xs-5 ptb-15">
                        <span>Shipper</span>
                        <h5>{{ifDataElseHifen(authenticatedDoc.shipper.partyName)}}</h5>
                        <address>
                            <ul class="list-unstyled">
                                <li>{{(authenticatedDoc.shipperAddress.addressLine1)}}</li>
                                <li>{{authenticatedDoc.shipperAddress.addressLine2}}</li>
                                <li>{{authenticatedDoc.shipperAddress.addressLine3}}</li>
                                <li>{{authenticatedDoc.shipperAddress.addressLine4}}</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-xs-5 ptb-15">
                        <span>Consignee</span>
                        <h5>{{ifDataElseHifen(authenticatedDoc.consignee.partyName)}}</h5>
                        <address>
                            <ul class="list-unstyled">
                                <li>{{authenticatedDoc.consigneeAddress.addressLine1}}</li>
                                <li>{{authenticatedDoc.consigneeAddress.addressLine2}}</li>
                                <li>{{authenticatedDoc.consigneeAddress.addressLine3}}</li>
                                <li>{{authenticatedDoc.consigneeAddress.addressLine4}}</li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="row line">
                    <hr>
                </div>
                <div class="row nomargin">
                    <div class="col-xs-5 ptb-15">
                        <span>First Notify</span>
                       <h5>{{ifDataElseHifen(authenticatedDoc.firstNotify.partyName)}}</h5>
                        <!-- if party name is empty then dont show the address -->
                        <address>
                            <ul class="list-unstyled">
                              <li>{{authenticatedDoc.firstNotifyAddress.addressLine1}}</li>
                                <li>{{authenticatedDoc.firstNotifyAddress.addressLine2}}</li>
                                <li>{{authenticatedDoc.firstNotifyAddress.addressLine3}}</li>
                                <li>{{authenticatedDoc.firstNotifyAddress.addressLine4}}</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-xs-5 ptb-15">
                        <span>Forwarder</span>
                        <h5>{{ifDataElseHifen(authenticatedDoc.forwarder.partyName)}}</h5>
                        <address>
                            <ul class="list-unstyled">
                                 <li>{{authenticatedDoc.forwarderAddress.addressLine1}}</li>
                                <li>{{authenticatedDoc.forwarderAddress.addressLine2}}</li>
                                <li>{{authenticatedDoc.forwarderAddress.addressLine3}}</li>
                                <li>{{authenticatedDoc.forwarderAddress.addressLine4}}</li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="row line">
                    <hr>
                </div>
                <div class="row nomargin">
                    <div class="col-xs-5 ptb-15 mb-20">
                        <span>Commodity</span>
                        <h6>{{ifDataElseHifen(authenticatedDoc.commodity)}}</h6>
                    </div>
                    <div class="col-xs-5 ptb-15 mb-20">
                        <span>Marks & No</span>
                        <h6>{{ifDataElseHifen(authenticatedDoc.marksAndNo)}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>