
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header flexTitle">
                <div>
                    <h4>More Info</h4>
                </div>
                <div>
                    <div class="btngrp">
                        <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Discard</button>
                        <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="$hide()">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-body nopadding overflow-hidden shade1" style="overflow-y: auto; min-height: 460px;">
                <div class="row nomargin shade2">
                    <div class="col-xs-5 ptb-15">
                        <div class="row">
                            <div class="col-xs-10">
                                <label>Shipper</label>
                                <div class="select-auto ">
                                                      <input type="text" class="form-control"  id ="{{'authDocShipper'+parent+'_'+child}}" 
														input-focus = "{{errorMap.get('authDocShipper'+parent+'_'+child)!=null}}" 
														autocomplete="off" ng-model="authenticatedDoc.shipper"
														uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
														typeahead-on-select=""selectedAuthDocsShipperEvent(authenticatedDoc,parent,child,'authConsignee')"" 
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-add-new="routePartyEvent('authenticatedDoc.shipper', true, null, true, parent, child)"
														typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
                                                       
                                                </div>
                                                <span class="error-message" ng-show="errorMap.get('authDocShipper'+parent+'_'+child)!=null">
                                                <small> {{errorMap.get('authDocShipper'+parent+'_'+child)}} </small>
                                            </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 mt-5" >
                               <input class="form-control"
                                                       ng-change="validateAuthDocsMore(2,authenticatedDoc,parent,child)"
                                                       ng-class="{'error-control':errorMap.get('authenticatedDoc.shipperAddress.addressLine1'+parent+'_'+child)!=null}"
                                                       ng-model="authenticatedDoc.shipperAddress.addressLine1"
                                                       type="text" >
                                                <span class="error-message" ng-show="errorMap.get('authenticatedDoc.shipperAddress.addressLine1'+parent+'_'+child)!=null">
													<small>{{errorMap.get('authenticatedDoc.shipperAddress.addressLine1'+parent+'_'+child)}}</small>
                                                </span>
                            </div>
                            <div class="col-xs-2 mt-7 pl0" >
                               <a  href="javascript:void(0)"
                                   data-container="false"   data-placement="auto right"     bs-tooltip="selectShipperAddress"
                                   tabIndex="-1"
                                   ng-click="showPartyAddress('shipperAddress',authenticatedDoc,parent,child);showAddressAuth();sideview=true"
                                   class="selectPicker-sm"> <i
                                                        class="fa fa-chevron-right"></i>
                                                </a>
                            </div>
                            <div class="col-xs-10 mt-4">
                                <input  class="form-control"
                                                        ng-class="{'error-control':errorMap.get('authenticatedDoc.shipperAddress.addressLine2'+parent+'_'+child)!=null}"
                                                        ng-change="validateAuthDocsMore(2,authenticatedDoc,parent,child)"
                                                        ng-model="authenticatedDoc.shipperAddress.addressLine2"
                                                        type="text"> <span
                                                    class="error-message"
                                                    ng-show="errorMap.get('authenticatedDoc.shipperAddress.addressLine2'+parent+'_'+child)!=null">
																													<small>{{errorMap.get('authenticatedDoc.shipperAddress.addressLine2'+parent+'_'+child)}}</small>
																												</span>
                            </div>
                            <div class="col-xs-10 mt-4">
                                 <input class="form-control"
                                                       ng-class="{'error-control':errorMap.get('authenticatedDoc.shipperAdrress.addressLine3'+parent+'_'+child)!=null}"
                                                       ng-change="validateAuthDocsMore(2,authenticatedDoc,parent,child)"
                                                       ng-model="authenticatedDoc.shipperAddress.addressLine3"
                                                       type="text"> <span
                                                    class="error-message"
                                                    ng-show="errorMap.get('authenticatedDoc.shipperAdrress.addressLine3'+parent+'_'+child)!=null">
																													<small>{{errorMap.get('authenticatedDoc.shipperAdrress.addressLine3'+parent+'_'+child)}}</small>
																												</span>
                            </div>
                            <div class="col-xs-10 mt-4">
                               <input  class="form-control"
                                                        ng-class="{'error-control':errorMap.get('authenticatedDoc.shipperAddress.addressLine4'+parent+'_'+child)!=null}"
                                                      ng-change="validateAuthDocsMore(2,authenticatedDoc,parent,child)"
                                                        ng-model="authenticatedDoc.shipperAddress.addressLine4"
                                                        type="text">
                                                <span  ng-show="errorMap.get('authenticatedDoc.shipperAddress.addressLine4'+parent+'_'+child)!=null">
                                              <small>{{errorMap.get('authenticatedDoc.shipperAddress.addressLine4'+parent+'_'+child)}}</small>
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 ptb-15">
                        <div class="row">
                            <div class="col-xs-10">
                                <label>Consignee</label>
                                <div class="select-auto ">
                                                        <input type="text" class="form-control" id ="{{'authConsignee'+parent+'_'+child}}"
															input-focus = "{{errorMap.get('authConsignee'+parent+'_'+child)!=null}}"
															autocomplete="off" ng-model="authenticatedDoc.consignee" 
															uib-typeahead="lovObject as lovObject.spartyName for lovObject in ajaxPartyEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
															typeahead-on-select="vm.selectedMaster('chargeCode',vm.stcGroupMaster);" 
															typeahead-focus-on-select="selectedAuthConsigneEvent(authenticatedDoc,parent,child,'authFirstNotify')"
															typeahead-focus-first="true" typeahead-editable="false" 
															typeahead-add-new="routePartyEvent('authenticatedDoc.consignee', true, null, true, parent, child)" 
															typeahead-min-length="1" typeahead-wait-ms="500">
														<span class="select-arrow"><b></b></span>
                                                    </div>
                                                    <span class="error-message"
                                                          ng-show="errorMap.get('authConsignee'+parent+'_'+child)!=null"><small>
                                                        {{errorMap.get('authConsignee'+parent+'_'+child)}} </small></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 mt-5" >
                               <input  class="form-control"
                                                            ng-change="validateAuthDocsMore(4,authenticatedDoc,parent,child)"
                                                            ng-class="{'error-control':errorMap.get('authenticatedDoc.consigneeAddress.addressLine1'+parent+'_'+child)!=null}"
                                                            ng-model="authenticatedDoc.consigneeAddress.addressLine1"
                                                            type="text" > <span
                                                        class="error-message"
                                                        ng-show="errorMap.get('authenticatedDoc.consigneeAddress.addressLine1'+parent+'_'+child)!=null">
																															<small>{{errorMap.get('authenticatedDoc.consigneeAddress.addressLine1'+parent+'_'+child)}}</small>
																														</span>
                            </div>
                            <div class="col-xs-2 mt-7 pl0" >
                                <a  href="javascript:void(0)"
                                    data-container="false"   data-placement="auto right"     bs-tooltip="selectConsigneeAddress"
                                    tabIndex="-1"
                                    ng-click="showPartyAddress('consigneeAddress',authenticatedDoc,parent,child);showAddressAuth();sideview=true"
                                    class="selectPicker-sm">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                            <div class="col-xs-10 mt-4">
                                <input class="form-control"
                                                          ng-change="validateAuthDocsMore(4,authenticatedDoc,parent,child)"
                                                           ng-class="{'error-control':errorMap.get('authenticatedDoc.consigneeAddress.addressLine2'+parent+'_'+child)!=null}"
                                                           ng-model="authenticatedDoc.consigneeAddress.addressLine2"
                                                           type="text" > <span
                                                        class="error-message"
                                                        ng-show="errorMap.get('authenticatedDoc.consigneeAddress.addressLine2'+parent+'_'+child)!=null">
																															<small>{{errorMap.get('authenticatedDoc.consigneeAddress.addressLine2'+parent+'_'+child)}}</small>
																														</span>
                            </div>
                            <div class="col-xs-10 mt-4">
                                 <input class="form-control"
                                                           ng-change="validateAuthDocsMore(4,authenticatedDoc,parent,child)"
                                                           ng-class="{'error-control':errorMap.get('authenticatedDoc.consigneeAddress.addressLine3'+parent+'_'+child)!=null}"
                                                           ng-model="authenticatedDoc.consigneeAddress.addressLine3"
                                                           type="text" > <span
                                                        class="error-message"
                                                        ng-show="errorMap.get('authenticatedDoc.consigneeAddress.addressLine3'+parent+'_'+child)!=null">
																															<small>{{errorMap.get('authenticatedDoc.consigneeAddress.addressLine3'+parent+'_'+child)}}</small>
																														</span>
                            </div>
                            <div class="col-xs-10 mt-4">
                                <input  class="form-control"
                                                            ng-change="validateAuthDocsMore(4,authenticatedDoc,parent,child)"
                                                            ng-class="{'error-control':errorMap.get('authenticatedDoc.consigneeAddress.addressLine4'+parent+'_'+child)!=null}"
                                                            ng-model="authenticatedDoc.consigneeAddress.addressLine4"
                                                            type="text" > <span
                                                        class="error-message"
                                                        ng-show="errorMap.get('authenticatedDoc.consigneeAddress.addressLine4'+parent+'_'+child)!=null">
																															<small>{{errorMap.get('authenticatedDoc.consigneeAddress.addressLine4'+parent+'_'+child)}}</small>
																														</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin shade2">
                    <div class="col-xs-5 ptb-15">
                        <div class="row">
                            <div class="col-xs-10">
                                <label>First Notify</label>
                                 <div class="select-auto ">
                                                         <input type="text" class="form-control" id ="{{'authFirstNotify'+parent+'_'+child}}" 
															input-focus = "{{errorMap.get('authFirstNotify'+parent+'_'+child)!=null}}" 
															autocomplete="off" ng-model="authenticatedDoc.firstNotify" 
															uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
															typeahead-on-select="vm.selectedMaster('chargeCode',vm.stcGroupMaster);" 
															typeahead-focus-on-select="selectedAuthFirstNotifyEvent(authenticatedDoc,parent,child,'authForwarder')"
															typeahead-focus-first="true" typeahead-editable="false" 
															typeahead-add-new="routePartyEvent('authenticatedDoc.firstNotify', true, null, true, parent, child)" 
															typeahead-min-length="1" typeahead-wait-ms="500">
														<span class="select-arrow"><b></b></span>
                                                    </div>


                                                    <span class="error-message"
                                                          ng-show="errorMap.get('authFirstNotify'+parent+'_'+child)!=null"><small>
                                                                                                                            {{errorMap.get('authFirstNotify'+parent+'_'+child)}} </small></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 mt-5" >
                                <input  class="form-control"
                                                            ng-change="validateAuthDocsMore(6,authenticatedDoc,parent,child)"
                                                            ng-class="{'error-control':errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine1'+parent+'_'+child)!=null}"
                                                            ng-model="authenticatedDoc.firstNotifyAddress.addressLine1"
                                                            type="text" > <span
                                                        class="error-message"
                                                        ng-show="errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine1'+parent+'_'+child)!=null">
																															<small>{{errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine1'+parent+'_'+child)}}</small>
																														</span>
                            </div>
                            <div class="col-xs-2 mt-7 pl0" >
                               <a  href="javascript:void(0)"
                                   data-container="false"   data-placement="auto right"     bs-tooltip="selctNotify1"
                                   tabIndex="-1"
                                   ng-click="showPartyAddress('firstNotifyAddress',authenticatedDoc,parent,child);showAddressAuth();sideview=true"
                                   class="selectPicker-sm">
                                   <i class="fa fa-chevron-right"></i>
                               </a>
                            </div>
                            <div class="col-xs-10 mt-4">
                               <input  class="form-control"
                                                           ng-change="validateAuthDocsMore(6,authenticatedDoc,parent,child)"
                                                            ng-class="{'error-control':errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine2'+parent+'_'+child)!=null}"
                                                            ng-model="authenticatedDoc.firstNotifyAddress.addressLine2"
                                                            type="text" > <span
                                                        class="error-message"
                                                        ng-show="errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine2'+parent+'_'+child)!=null">
																															<small>{{errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine2'+parent+'_'+child)}}</small>
																														</span>
                            </div>
                            <div class="col-xs-10 mt-4">
                                 <input  class="form-control"
                                                             ng-change="validateAuthDocsMore(6,authenticatedDoc,parent,child)"
                                                            ng-class="{'error-control':errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine3'+parent+'_'+child)!=null}"
                                                            ng-model="authenticatedDoc.firstNotifyAddress.addressLine3"
                                                            type="text" > <span
                                                        class="error-message"
                                                        ng-show="errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine3'+parent+'_'+child)!=null">
																															<small>{{errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine3'+parent+'_'+child)}}</small>
																														</span>
                            </div>
                            <div class="col-xs-10 mt-4">
                                <input  class="form-control"
                                                              ng-change="validateAuthDocsMore(6,authenticatedDoc,parent,child)"
                                                            ng-class="{'error-control':errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine4'+parent+'_'+child)!=null}"
                                                            ng-model="authenticatedDoc.firstNotifyAddress.addressLine4"
                                                            type="text" > <span
                                                        class="error-message"
                                                        ng-show="errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine4'+parent+'_'+child)!=null">
																															<small>{{errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine4'+parent+'_'+child)}}</small>
																														</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 ptb-15">
                        <div class="row">
                            <div class="col-xs-10">
                                <label>Forwarder</label>
                                  <div class="select-auto ">
                    <input type="text" class="form-control" id ="{{'authForwarder'+parent+'_'+child}}"  
				 input-focus = "{{errorMap.get('authForwarder'+parent+'_'+child)!=null}}"  
				autocomplete="off" ng-model="authenticatedDoc.forwarder"
				uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
				typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
				typeahead-on-select="vm.selectedMaster('chargeCode',vm.stcGroupMaster);" 
				typeahead-focus-on-select="selectedAuthForwarderEvent(authenticatedDoc,parent,child,'authCommodity')" 
				typeahead-focus-first="true" typeahead-editable="false" 
				typeahead-add-new="routePartyEvent('authenticatedDoc.forwarder', true, null, true, parent, child)"  
				typeahead-min-length="1" typeahead-wait-ms="500">
			<span class="select-arrow"><b></b></span>
                                                                    </div>																												<span class="error-message"
                                                                                                                                                                                                ng-show="errorMap.get('authForwarder'+parent+'_'+child)!=null"><small>
                                            {{errorMap.get('authForwarder'+parent+'_'+child)}} </small></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 mt-5" >
                                <input class="form-control"
                                                                           ng-class="{'error-control':errorMap.get('authenticatedDoc.forwarderAddress.addressLine1'+parent+'_'+child)!=null}"
                                                                          ng-change="validateAuthDocsMore(8,authenticatedDoc,parent,child)"
                                                                           ng-model="authenticatedDoc.forwarderAddress.addressLine1"
                                                                           type="text" > <span
                                                                        class="error-message"
                                                                        ng-show="errorMap.get('authenticatedDoc.forwarderAddress.addressLine1'+parent+'_'+child)!=null">
                                                                                                                            <small>{{errorMap.get('authenticatedDoc.forwarderAddress.addressLine1'+parent+'_'+child)}}</small>
                                                                                                                        </span>
                            </div>
                            <div class="col-xs-2 mt-7 pl0" >
                               <a href="javascript:void(0)"
                                  data-container="false"   data-placement="auto right"     bs-tooltip="selctNotify1"
                                  tabIndex="-1"
                                  ng-click="showPartyAddress('forwarderAddress',authenticatedDoc,parent,child);showAddressAuth();sideview=true"
                                  class="selectPicker-sm">
                                   <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                            <div class="col-xs-10 mt-4">
                               <input class="form-control"
                                                                           ng-class="{'error-control':errorMap.get('authenticatedDoc.forwarderAddress.addressLine2'+parent+'_'+child)!=null}"
                                                                           ng-change="validateAuthDocsMore(8,authenticatedDoc,parent,child)"
                                                                           ng-model="authenticatedDoc.forwarderAddress.addressLine2"
                                                                           type="text" > <span
                                                                        class="error-message"
                                                                        ng-show="errorMap.get('authenticatedDoc.forwarderAddress.addressLine2'+parent+'_'+child)!=null">
                                                                                                                            <small>{{errorMap.get('authenticatedDoc.forwarderAddress.addressLine2'+parent+'_'+child)}}</small>
                                                                                                                        </span>
                            </div>
                            <div class="col-xs-10 mt-4">
                                <input class="form-control"
                                                                           ng-change="validateAuthDocsMore(8,authenticatedDoc,parent,child)"
                                                                           ng-class="{'error-control':errorMap.get('authenticatedDoc.forwarderAddress.addressLine3'+parent+'_'+child)!=null}"
                                                                           ng-model="authenticatedDoc.forwarderAddress.addressLine3"
                                                                           type="text" > <span
                                                                        class="error-message"
                                                                        ng-show="errorMap.get('authenticatedDoc.forwarderAddress.addressLine3'+parent+'_'+child)!=null">
                                                                                                                            <small>{{errorMap.get('authenticatedDoc.forwarderAddress.addressLine3'+parent+'_'+child)}}</small>
                                                                                                                        </span>
                            </div>
                            <div class="col-xs-10 mt-4">
                               <input class="form-control"
                                                                          ng-change="validateAuthDocsMore(8,authenticatedDoc,parent,child)"
                                                                           ng-class="{'error-control':errorMap.get('authenticatedDoc.forwarderAddress.addressLine4'+parent+'_'+child)!=null}"
                                                                           ng-model="authenticatedDoc.forwarderAddress.addressLine4"
                                                                           type="text" > <span
                                                                        class="error-message"
                                                                        ng-show="errorMap.get('authenticatedDoc.forwarderAddress.addressLine4'+parent+'_'+child)!=null">
                                                                                                                            <small>{{errorMap.get('authenticatedDoc.forwarderAddress.addressLine4'+parent+'_'+child)}}</small>
                                                                                                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin shade1">
                    <div class="col-xs-5 ptb-15">
                        <div class="row">
                            <div class="col-xs-10">
                                <div class="form-group">
                                    <label>Commodity</label>
                                                                                       <textarea 
                                                                                        msd-elastic id="{{'authCommodity'+parent+'_'+child}}"
                                                                                        class="form-control minH-30"
                                                                                        ng-model="authenticatedDoc.commodity"
                                                                                        ng-class="{'error-control':errorMap.get('authCommodity'+parent+'_'+child)!=null}"
                                                                                        maxlength="4000">
												                                        </textarea>
												                                        <span class="error-message"
                                                                                              ng-show="errorMap.get('authCommodity'+parent+'_'+child)!=null"><small>{{errorMap.get('authCommodity'+parent+'_'+child)}}</small></span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 ptb-15">
                        <div class="row">
                            <div class="col-xs-10">
                                <div class="form-group">
                                    <label>Marks & No</label>
                                                                                        <textarea 
                                                                                        msd-elastic id="{{'authmarksAndNo'+parent+'_'+child}}"
                                                                                        class="form-control minH-30"
                                                                                        ng-model="authenticatedDoc.marksAndNo" 
                                                                                        ng-class="{'error-control':errorMap.get('authmarksAndNo'+parent+'_'+child)!=null}"
                                                                                        maxlength="4000">
												                                        </textarea>
												                                        <span class="error-message"
                                                                                              ng-show="errorMap.get('authmarksAndNo'+parent+'_'+child)!=null"><small>{{errorMap.get('authmarksAndNo'+parent+'_'+child)}}</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--SIDE VIEW-->
               <!--  <div ng-hide="!sideview" class="logs-transition sideView">
                    <select-list-picker panel-title="panelTitle" selected="selectedItem"
                                        data="addinfoArr" cancel-event="cancelinfo()"
                                        click-event="selecteRoleGroup(param)" ajax-event="ajaxRoleList(param)"
                                        config="addConfig"></select-list-picker>
                </div> -->
                <div ng-hide="!sideview" class="wrapper-back-drop"></div>

					<div ng-show="sideview"
						 class="logs-transition sideView">
						<select-list-picker panel-title="panelTitle"
											selected="selectedItem" data="docPartyAddressList"
											cancel-event="sideview=!sideview"
											click-event="selectedAuthDocsPartyAddress(param,authenticatedDoc,parent,child);sideview=!sideview"
											config="partyAddressListConfig"> </select-list-picker>
					</div>
            </div>
        </div>
    </div>


</div>


