<div class="row nomargin">
    <div class="col-xs-12 mt-15">
        <div class="table-responsive">
            <table class="table table-inline">
                <thead>
	                <tr>
	                	<th class="inl_sno text-center"> # </th>
	                    <th class="inl_sm">Receipt No</th>
	                    <th class="inl_sm">Receipt Date</th>
	                    <th class="inl_m"> CFS </th>
	                    <th class="inl_sm text-right">No of Pieces</th>
	                    <th class="inl_sm text-right">Gross Weight (KG)</th>
	                    <th class="inl_sm text-right">Volume Weight (KG)</th>
	                </tr>
                </thead>
                <tbody class="bor-0" ng-repeat="cfsReceive in shipmentServiceDetail.cfsReceiveEntryList | filter:cfsSearch:startsWith track by $index">
                <tr>
                    <td class="text-center">{{$index + 1}}</td>
                    <td class="tdtext-wrap" title="{{cfsReceive.cfsReceiptNumber}}"><a  ng-click="viewCFS(cfsReceive.id)" class=" hyperLink text-blue">{{cfsReceive.cfsReceiptNumber}}</a></td>
                    <td class="tdtext-wrap" title="{{dateToString(cfsReceive.cfsReceiptDate)}}">{{dateToString(cfsReceive.cfsReceiptDate)}}</td>
                    <td class="tdtext-wrap" title="{{cfsReceive.cfsMaster.cfsName}}">{{cfsReceive.cfsMaster.cfsName}}</td>
                    <td class="text-right" title="{{integerFormat(cfsReceive.noOfPieces,shipmentServiceDetail.country.locale)}}">{{integerFormat(cfsReceive.noOfPieces,shipmentServiceDetail.country.locale)}}</td>
                    <td class="text-right" title="{{weightFormat(cfsReceive.grossWeight,shipmentServiceDetail.country.locale)}}">{{weightFormat(cfsReceive.grossWeight,shipmentServiceDetail.country.locale)}}</td>
                    <td class="text-right" title="{{weightFormat(cfsReceive.volumeWeight,shipmentServiceDetail.country.locale)}}">{{weightFormat(cfsReceive.volumeWeight,shipmentServiceDetail.country.locale)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
