<div class="table-responsive" ng-show="shipmentServiceDetail.connectionList.length>0">
    <table class="table table-inline" style="width: 1500px">
        <thead>
        <th>#</th>
        <th>Move </th>
        <th>POL</th>
        <th>POD</th>
        <th>ETD</th>
        <th>ETA</th>
        <th>Carrier / Vessel</th>
        <th>Voy / Flt No</th>
        <th>Status</th>
        </thead>
        <tbody>
        <tr ng-repeat="serviceConnection in shipmentServiceDetail.connectionList track by $index">
            <td>{{serialNo($index)}}</td>
            <td>{{serviceConnection.move}}</td>
            <td>{{serviceConnection.pol.portName}}</td>
            <td>{{serviceConnection.pod.portName}}</td>
            <td><span>{{editDisplayDate(serviceConnection.etd)}}</span> </td>
            <td><span>{{editDisplayDate(serviceConnection.eta)}}</span> </td>
            <td>
            <img ng-show="serviceConnection.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{serviceConnection.carrierMaster.image}}" width="20" height="20"> 
            {{serviceConnection.carrierMaster.carrierName}}</td>
            <td>{{serviceConnection.flightVoyageNo}}</td>
            <td>{{serviceConnection.connectionStatus}}</td>
        </tr>
        </tbody>
    </table>
</div>
<empty-record ng-show="!shipmentServiceDetail.connectionList || shipmentServiceDetail.connectionList.length==0" icon="connection" text="Looks like there are no connection records here"></empty-record>

