
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header flexTitle">
                <div>
                    <h4>Copy Shipment No <span>13213233</span></h4>
                </div>
                <div>
                    <div class="btngrp">
                        <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button>
                        <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="$hide()">Copy</button>
                    </div>
                </div>
            </div>
            <div class="modal-body nopadding" style="min-height: 300px">
                <div class="row nomargin">
                    <div class="col-xs-12 ptb-15">
                        <h6>Copy the below services to New Shipment </h6>
                    </div>
                </div>
                <div class="row nomargin">
                    <div class="col-xs-12 ptb-15">
                        <div class="table-responsive">
                            <table class="table table-inline">
                                <thead>
                                    <th width="20px; min-width:20px;">
                                        <div class="checkbox" style="width: 0; height: 0; margin-top: -13px;">
                                            <label><input type="checkbox" value=""></label>
                                        </div>
                                    </th>
                                    <th class="inl_s">Service</th>
                                    <th class="inl_s">Service ID</th>
                                    <th class="inl_m">Origin</th>
                                    <th class="inl_m">Destination</th>
                                    <th class="inl_s">Terms of Shipment</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox nomargin" style="width: 0; height: 0;">
                                                <label><input type="checkbox" value=""></label>
                                            </div>
                                        </td>
                                        <td>Air Export</td>
                                        <td>
                                            464646
                                        </td>
                                        <td>Chennai</td>
                                        <td>Dubai</td>
                                        <td>Freight on board</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox nomargin" style="width: 0; height: 0;">
                                                <label><input type="checkbox" value=""></label>
                                            </div>
                                        </td>
                                        <td>AE Clearance</td>
                                        <td>
                                            997999
                                        </td>
                                        <td>Chennai</td>
                                        <td>Dubai</td>
                                        <td>Freight on board</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>