<div class="row nomargin">
    <div class="col-xs-12">
        <ul class="list-inline pills-tab bor-b-0">
            <li class="rel" ng-repeat="documentDetail in shipmentServiceDetail.documentList track by $index" ng-click="clickDocumentIndex($index)" title="{{documentDetail.documentNo?'Document No '+documentDetail.documentNo:'New Document'}}" >
                <a href="javascript:void(0);" ng-class="{'active':documentListTab==$index}">
                    {{documentDetail.documentNo!=null?'HAWB/'+documentDetail.documentNo:'New Document'}}
                </a>
            </li>

        </ul>
        <div class="panel panel-info mb0 bor-b-0 pb0 rel" ng-repeat="documentDetail in shipmentServiceDetail.documentList track by $index" ng-show="documentListTab==$index">
            <div class="panel-heading ">
                <section class="row">

                    <div class="col-xs-7 ">
                        <div class="row">
                            <div class="col-xs-4" >
                                <h3>House Air Waybill - <span class="new-panel-heading">{{documentDetail.documentNo}}</span></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="nomargin new-panel-heading">{{dateToString(documentDetail.documentReqDate)}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 ">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="flex flex-end align-middle">
                                    <!--<select class="form-control mt-7">
                                        <option>Export</option>
                                        <option>Import</option>
                                    </select>-->
                                    <div class="cursorPt" ng-show="documentDetail.id!=null && shipment.directShipment==false || shipment.directShipment=='No'"
                                     ng-controller="hawbController">
                                        <button  ng-disabled="disableSubmitBtn"  
                                        ng-click="diasbleSubmitBtnFn();
                                        previewReport(shipment,shipmentServiceDetail.shipmentUid,documentDetail.id,'HAWB',shipmentServiceDetail.id,false)" 
                                        class="btn green-btn" ng-show="documentDetail.id!=null" type="button">
                                            Preview HAWB Report
                                        </button>
                                    </div>
                                    <div class="cursorPt" ng-show="false" >
                                        <button  ng-click="reportModal(documentDetail.id,'HAWB')" class="btn accent-btn" ng-show="documentDetail.id!=null" type="button">
                                            HAWB Report
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div><!--heading ends-->
            <div class="panel-body pt0 detail-view nopanel_pattern plr0" >
                <div class="row pb0 ptb-15 nopadding ">
                    <div class="col-xs-12">
                        <div class="ptb-15">
                            <div class="col-xs-4">

                                <span>Shipper</span>
                                <h5 class="heading">{{documentDetail.shipper.partyName}}</h5>
                                <address class="mb0">
                                    <ul class="list-unstyled">
                                        <li>{{documentDetail.shipperAddress.addressLine1}}</li>
                                        <li>{{documentDetail.shipperAddress.addressLine2}}</li>
                                        <li>{{documentDetail.shipperAddress.addressLine3}}</li>
                                        <li>{{documentDetail.shipperAddress.addressLine4}}</li>
                                    </ul>
                                    <p class="mb0 mt-7"><span ng-show="documentDetail.shipperAddress.email!=null" class=" icon-email"></span> {{documentDetail.shipperAddress.email!=null?documentDetail.shipperAddress.email:'-'}}</p>
                                    <p class="mb0 mt-7"><span ng-show="documentDetail.shipperAddress.mobile!=null" class=" icon-mobile"></span> {{documentDetail.shipperAddress.mobile!=null?documentDetail.shipperAddress.mobile:'-'}}</p>
                                </address>
                            </div>
                            <div class="col-xs-4">
                                <span>Consignee</span>
                                <h5 class="heading">{{documentDetail.consignee.partyName!=null?documentDetail.consignee.partyName:'-'}}</h5>
                                <address class="mb0">
                                    <ul class="list-unstyled">
                                        <li>{{documentDetail.consigneeAddress.addressLine1}}</li>
                                        <li>{{documentDetail.consigneeAddress.addressLine2}}</li>
                                        <li>{{documentDetail.consigneeAddress.addressLine3}}</li>
                                        <li>{{documentDetail.consigneeAddress.addressLine4}}</li>
                                    </ul>
                                    <p class="mb0 mt-7"><span ng-show="documentDetail.consigneeAddress.email!=null" class=" icon-email"></span> {{documentDetail.consigneeAddress.email}}</p>
                                    <p class="mb0 mt-7"><span ng-show="documentDetail.consigneeAddress.mobile!=null" class=" icon-mobile"></span> {{documentDetail.consigneeAddress.mobile}}</p>
                                </address>
                            </div>
                            <div class="col-xs-4">
                                <span>Notify Customer 1</span>
                                <h5 class="heading">{{documentDetail.firstNotify.partyName!=null?documentDetail.firstNotify.partyName:'-'}}</h5>
                                <address class="mb0">
                                    <ul class="list-unstyled">
                                        <li>{{documentDetail.firstNotifyAddress.addressLine1}}</li>
                                        <li>{{documentDetail.firstNotifyAddress.addressLine2}}</li>
                                        <li>{{documentDetail.firstNotifyAddress.addressLine3}}</li>
                                        <li>{{documentDetail.firstNotifyAddress.addressLine4}}</li>
                                    </ul>
                                    <p class="mb0 mt-7"><span ng-show="documentDetail.firstNotifyAddress.email!=null" class=" icon-email"></span> {{documentDetail.firstNotifyAddress.email}}</p>
                                    <p class="mb0 mt-7"><span ng-show="documentDetail.firstNotifyAddress.mobile!=null" class=" icon-mobile"></span> {{documentDetail.firstNotifyAddress.mobile}}</p>
                                </address>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="showmore " ng-hide="!showmore">
                    <div class="pt-15 clearfix">
                        <div class="row nomargin nopadding">
                            <div class="ptb-15 clearfix">
                                <div class="col-xs-4">
                                    <span>Notify Customer 2</span>
                                    <h5 class="heading">{{documentDetail.secondNotify.partyName!=null?documentDetail.secondNotify.partyName:'-'}}</h5>
                                    <address class="mb0" >
                                        <ul class="list-unstyled">
                                            <li>{{documentDetail.secondNotifyAddress.addressLine1}}</li>
                                            <li>{{documentDetail.secondNotifyAddress.addressLine2}}</li>
                                            <li>{{documentDetail.secondNotifyAddress.addressLine3}}</li>
                                            <li>{{documentDetail.secondNotifyAddress.addressLine4}}</li>
                                        </ul>
                                        <p class="mb0 mt-7" ng-show="documentDetail.secondNotifyAddress.email!=null"><span class=" icon-email"></span> {{documentDetail.secondNotifyAddress.email}}</p>
                                        <p class="mb0 mt-7" ng-show="documentDetail.secondNotifyAddress.mobile!=null"><span class=" icon-mobile"></span> {{documentDetail.secondNotifyAddress.mobile}}</p>
                                    </address>
                                </div>
                                <div class="col-xs-4">
                                    <span>Forwarder</span>
                                    <h5 class="heading">{{documentDetail.forwarder.partyName!=null?documentDetail.forwarder.partyName:'-'}}</h5>
                                    <address class="mb0">
                                        <ul class="list-unstyled">
                                            <li>{{documentDetail.forwarderAddress.addressLine1}}</li>
                                            <li>{{documentDetail.forwarderAddress.addressLine2}}</li>
                                            <li>{{documentDetail.forwarderAddress.addressLine3}}</li>
                                            <li>{{documentDetail.forwarderAddress.addressLine4}}</li>
                                        </ul>
                                        <p class="mb0 mt-7" ng-show="documentDetail.forwarderAddress.email!=null"><span class="icon-email"></span> {{documentDetail.forwarderAddress.email}}</p>
                                        <p class="mb0 mt-7" ng-show="documentDetail.forwarderAddress.mobile!=null"><span class="icon-mobile"></span> {{documentDetail.forwarderAddress.mobile}}</p>
                                    </address>
                                </div>
                                <div class="col-xs-4">
                                    <span>Agent</span>
                                    <h5 class="heading">{{documentDetail.agent.partyName!=null?documentDetail.agent.partyName:'-'}}</h5>
                                    <address class="mb0">
                                        <ul class="list-unstyled">
                                            <li>{{documentDetail.agentAddress.addressLine1}}</li>
                                            <li>{{documentDetail.agentAddress.addressLine2}}</li>
                                            <li>{{documentDetail.agentAddress.addressLine3}}</li>
                                            <li>{{documentDetail.agentAddress.addressLine4}}</li>
                                        </ul>
                                        <p class="mb0 mt-7" ng-show="documentDetail.agentAddress.email!=null"><span class="icon-email"></span> {{documentDetail.agentAddress.email}}</p>
                                        <p class="mb0 mt-7" ng-show="documentDetail.agentAddress.mobile!=null"><span class="icon-mobile"></span> {{documentDetail.agentAddress.mobile}}</p>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="row nomargin nopadding bor-0">
                            <div class="ptb-15 clearfix">
                                <div class="col-xs-6">
                                    <span>Issuing Agent</span>
                                    <h5 class="heading">{{documentDetail.issuingAgent.partyName!=null?documentDetail.issuingAgent.partyName:'-'}}</h5>
                                    <address class="mb0">
                                        <ul class="list-unstyled">
                                            <li>{{documentDetail.issuingAgentAddress.addressLine1}}</li>
                                            <li>{{documentDetail.issuingAgentAddress.addressLine2}}</li>
                                            <li>{{documentDetail.issuingAgentAddress.addressLine3}}</li>
                                            <li>{{documentDetail.issuingAgentAddress.addressLine4}}</li>
                                        </ul>
                                        <p class="mb0 mt-7" ng-show="documentDetail.issuingAgentAddress.email!=null"><span class="icon-email"></span> {{documentDetail.issuingAgentAddress.email}}</p>
                                        <p class="mb0 mt-7" ng-show="documentDetail.issuingAgentAddress.mobile!=null"><span class="icon-mobile"></span> {{documentDetail.issuingAgentAddress.mobile}}</p>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin  padding15 text-underline	clear_both">
                    <div  ng-click="showmore=!showmore" ng-init="showmore=true">

                        <h5 class="text-blue pt0 cur-pointer">{{showmore==true?'Show Less -':'Show More +'}}</h5>
                        <!--<i class="pl0 cursorPt {{showmore==true?'icon-downarrow':'icon-uparrow'}}"></i>-->
                    </div>
                </div>
                <div class="  ">
                    <div ng-click="routeInfo=!routeInfo" ng-init="routeInfo=true" class=" cursorPt mb0 flex align-justify align-middle title  ">
                        <div>
                            <h5 style="text-transform: inherit !important;">
                                Routing & Carrier Info
                            </h5>
                        </div>
                        <div>
                            <i class="{{routeInfo==true?'icon-uparrow':' icon-downarrow'}}" aria-hidden="true"></i>
                        </div>

                    </div>
                    <div class="panel-body nopanel_pattern  fx-fade-normal fx-ease-sine nopadding" ng-hide="!routeInfo">
                        <div class="row nomargin nopadding">
                            <div class="ptb-15 clearfix">
                                <div class="col-xs-3">
                                    <span>Origin</span>
                                    <h6>{{documentDetail.origin.portName}}</h6>
                                </div>
                                <div class="col-xs-3">
                                    <span class="text-inherit">{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Loading':'Port of Loading'}}</span>
                                    <h6>{{documentDetail.pol.portName}}</h6>
                                </div>
                                <div class="col-xs-3">
                                    <span class="text-inherit">{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Discharge':'Port of Discharge'}}</span>
                                    <h6>{{documentDetail.pod.portName}}</h6>
                                </div>
                                <div class="col-xs-3">
                                    <span>Destination</span>
                                    <h6>{{documentDetail.destination.portName}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row nomargin nopadding bor-0">
                            <hr class="nomargin">
                        </div>

                        <div class="row nomargin nopadding ">
                            <div class="ptb-15 clearfix">
                                <div class="col-xs-3">
                                    <span>Carrier</span>
                                    
                                    <h6>
                                    <img ng-show="documentDetail.carrier.image!=null"  data-ng-src="data:image/png;base64,{{documentDetail.carrier.image}}" width="20" height="20">
                                    {{documentDetail.carrier!=null?documentDetail.carrier.carrierName:'-'}}</h6>
                                </div>
                                <div class="col-xs-2">
                                    <span>Flight No</span>
                                    <h6>{{documentDetail.routeNo}}</h6>
                                </div>
                                <div class="col-xs-2 col-xs-push-1">
                                    <span>ETD</span>
                                    <h6>{{documentDetail.etd!=null?dateAndTimeToString(documentDetail.etd):'-'}}</h6>
                                </div>
                                <div class="col-xs-2 col-xs-push-2">
                                    <span>ETA</span>
                                    <h6>{{documentDetail.eta!=null?dateAndTimeToString(documentDetail.eta):'-'}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" ">
                    <div ng-click="packsInfo=!packsInfo" ng-init="packsInfo=true" class=" mb0 cursorPt flex align-justify align-middle title">
                        <div>
                            <h5 class="">Packs & Dimension Info</h5>
                        </div>
                        <div>
                            <i class="{{packsInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
                        </div>

                    </div>
                    <div class=" pt0 fx-fade-normal fx-ease-sin " ng-hide="!packsInfo">
                        <div class="row nomargin nopadding">
                            <div class="ptb-15 clearfix">
                                <div class="col-xs-2">
                                    <span>Pack</span>
                                    <h6>{{documentDetail.packMaster!=null?documentDetail.packMaster.packName:'-'}}</h6>
                                </div>
                                <div class="col-xs-2">
                                    <span>No of Pieces</span>
                                    <h6>{{integerFormat(documentDetail.noOfPieces,shipmentServiceDetail.country.locale)}}</h6>
                                </div>
                                <div class="col-xs-2">
                                    <span>Sell Rate</span>
                                    <h6>{{currencyFormat(shipmentServiceDetail.country.currencyMaster,documentDetail.ratePerCharge)}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row nopadding nomargin bor-0">
                            <hr class="nomargin">
                        </div>
                        <div class="row nomargin nopadding bor-0">
                            <div class="ptb-15 clearfix">
                                <div class="col-xs-2">
                                    <span>Gross Weight (KG)</span>
                                    <h6>{{weightFormat(documentDetail.grossWeight,shipmentServiceDetail.country.locale)}}</h6>
                                </div>
								<div class="col-xs-2">
                                    <span>Volume Weight (KG)</span>
                                    <h6>{{weightFormat(documentDetail.volumeWeight,shipmentServiceDetail.country.locale)}}</h6>
                                </div>
                                
								<div class="col-xs-3 col-md-3 col-lg-2 m-mt-20">
                                    <span>Chargeable Weight (KG)</span>
                                    <h6>{{weightFormat(documentDetail.chargebleWeight,shipmentServiceDetail.country.locale)}}</h6>
                                </div>


                                <div class="col-xs-2">
                                    <span>Volume (CBM)</span>
                                    <h6>{{weightFormat(documentDetail.bookedVolumeUnitCbm,shipmentServiceDetail.country.locale)}}</h6>
                                </div>


                                
                                <div class="col-xs-2" ng-if="dynamicFormFieldMap.get('Shipment > Service > LBS')=='true'">
                                    <span>Gross Weight (LBS)</span>
                                    <h6>{{weightFormat(documentDetail.grossWeightInPound,shipmentServiceDetail.country.locale)}}</h6>
                                </div>
                                
                                <div class="col-xs-2" ng-if="dynamicFormFieldMap.get('Shipment > Service > LBS')=='true'">
                                    <span>Volume Weight (LBS)</span>
                                    <h6>{{weightFormat(documentDetail.volumeWeightInPound,shipmentServiceDetail.country.locale)}}</h6>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row nopadding nomargin bor-0 ">
                            <hr class="nomargin">
                        </div>


                        <div class="row nomargin nopadding bor-0">
                            <div class="ptb-15 clearfix">
                                <div class="col-xs-4">
                                    <span>Dimension Unit</span>
                                    <h6>{{documentDetail.dimensionUnit==false?'Centimeter / Kilos':'Inch / Pounds'}}</h6>
                                </div>
                                <div class="col-xs-3">
                                    <span class="block">Dimension Value</span>
                                    <h6>{{documentDetail.dimensionUnitValue}}</h6>
                                </div>
                            </div>
                        </div><!--ROW ENDS-->

                        <div class="row nomargin nopadding " >
                            <div class="col-xs-12 ptb-15 table-responsive" ng-show="documentDetail.dimensionList!=null && documentDetail.dimensionList.length!=0">
                                <table class="table table-inline" >
                                    <thead>
                                    <tr>
                                        <th class="inl_sno">#</th>
                                        <th class="text-right inl_m" style="text-transform: inherit !important;">No of Pieces</th>
                                        <th class="text-right inl_m">Length(in)</th>
                                        <th class="text-right inl_m">Width(in)</th>
                                        <th class="text-right inl_m">Height(in)</th>
                                        <th class="text-right inl_m">Volume Weight(KG)</th>
                                        <th class="text-right inl_m">Gross Weight(LBS)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="dimensionObj in documentDetail.dimensionList">
                                        <td>{{serialNo($index)}}</td>
                                        <td class="text-right">{{integerFormat(dimensionObj.noOfPiece,shipmentServiceDetail.country.locale) }}</td>
										<td class="text-right">{{integerFormat(dimensionObj.length,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{integerFormat(dimensionObj.width,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{integerFormat(dimensionObj.height,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{weightFormat(dimensionObj.volWeight,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{weightFormat(dimensionObj.grossWeight,shipmentServiceDetail.country.locale)}}</td>

                                    </tr>
                                    </tbody>
                                    <tfoot class="bg-danger" style="border:1px solid #F8DDAD">
                                    <tr>
                                        <td class="text-right">Total</td>
                                        <td class="text-right">{{integerFormat(documentDetail.noOfPieces,shipmentServiceDetail.country.locale)}}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">{{weightFormat(documentDetail.dimensionVolumeWeight,shipmentServiceDetail.country.locale)}}</td>
                                        <td class="text-right">{{weightFormat(documentDetail.dimensionGrossWeight,shipmentServiceDetail.country.locale)}}</td>

                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <empty-record ng-show="!documentDetail.dimensionList || documentDetail.dimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>
                        </div>
                    </div>

                </div>
                <div class="" ng-hide="true">
                    <div ng-click="wbInfo=!wbInfo" ng-init="wbInfo=false" class=" cursorPt mb0 flex align-justify align-middle title">
                        <div>
                            <h5>AWB Info</h5>
                        </div>

                        <div><i class="{{wbInfo==true?'icon-uparrow':'icon-downarrow'}}" aria-hidden="true"></i></div>

                    </div>
                    <div class="fx-fade-normal fx-ease-sine" ng-hide="!wbInfo">
                        <div class="row overflow-hidden nopadding">
                            <div class="col-xs-12  bor-fix plr0 ">
                                <div class="flex-row ptb-15">

                                    <div class="col-xs-3">
                                        <span>HAWB Received On</span>
                                        <h6>{{dateToString(documentDetail.hawbReceivedOn)}}</h6>
                                    </div>

                                    <div class="col-xs-3">
                                        <span>HAWB Received By</span>
                                        <h6>{{documentDetail.hawbReceivedBy.employeeName}}</h6>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="">
                    <div ng-click="otherInfo=!otherInfo" ng-init="otherInfo=false" class=" cursorPt mb0  flex align-justify align-middle title">
                        <div>
                            <h5 >Other Info</h5>
                        </div>
                        <div>
                            <i class="{{otherInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
                        </div>
                    </div>
                    <div class="fx-fade-normal fx-ease-sine" ng-hide="!otherInfo">
                        <div class="row overflow-hidden nopadding">
                            <div class="col-xs-12  bor-fix  ">
                                <div class="flex-row ptb-15">

                                    <div class="col-xs-4">
                                        <span>HAWB Received On</span>
                                        <h6>{{ifDataElseHifen(dateToString(documentDetail.hawbReceivedOn))}}</h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>HAWB Received By</span>
                                        <h6>{{ifDataElseHifen(documentDetail.hawbReceivedBy.employeeName)}}</h6>
                                    </div>
                                    <div class="col-xs-4">
										<span>Hawb No</span>
										<h6 class="mb0">{{ifDataElseHifen(documentDetail.hawbNo)}}</h6>
									</div>
                                </div>
                            </div>

                        </div>
                        <div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
                            <hr>
                        </div>
                        <div class="row nomargin overflow-hidden nopadding bor-b-0">
                            <div class="col-xs-4 bor-fix ptb-15">
                                <span>Handling Information</span>
                                <h6><span></span>{{documentDetail.handlingInformation!=null?documentDetail.handlingInformation:'-'}}</h6>
                            </div>
                            <div class="col-xs-4  bor-fix">
                                <div class="ptb-15">
                                    <span>Accounting Information</span>
                                    <h6><span></span>{{documentDetail.accoutingInformation!=null?documentDetail.accoutingInformation:'-'}}</h6>
                                </div>
                            </div>
                            <div class="col-xs-4 bor-fix">
                                <div class="flex flex-col align-justify ptb-15">
                                    <div>
                                        <span>Commodity Description</span>
                                        <h6><span></span>{{documentDetail.commodityDescription!=null?documentDetail.commodityDescription:'-'}}</h6>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
                            <hr>
                        </div>


                        <div class="row nomargin overflow-hidden nopadding bor-b-0">
                            <div class="col-xs-4 bor-fix">
                                <div class="flex flex-col align-justify ptb-15">

                                    <div>
                                        <span>Marks & No</span>
                                        <h6><span></span>{{documentDetail.marksAndNo!=null?documentDetail.marksAndNo:'-'}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 bor-fix">
                                <div class="flex flex-col align-justify ptb-15">

                                    <div>
                                        <span>Rate Class</span>
                                        <h6>{{documentDetail.rateClass!=null?documentDetail.rateClass:'-'}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
                            <hr>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

