	<div class="panel panel-info mb0 bor-b-0 pb0" ng-repeat="documentDetail in shipmentServiceDetail.documentList track by $index">
	    <div class="panel-heading ">
	        <section class="row">

				<div class="col-xs-7 ">
					<div class="row">
	            <div class="col-xs-4" >
	                <h3>House Air Waybill <span>{{documentDetail.documentNo}}</span></h3>
	            </div>
	            <div class="col-xs-4">
					<h3 class="nomargin new-panel-heading">{{editDisplayDate(documentDetail.documentReqDate)}}</h3>
	            </div>
						</div>
					</div>
				<div class="col-xs-5 ">
					<div class="row">
						<div class="col-xs-12">
							<div class="flex flex-end align-middle">
									<!--<select class="form-control mt-7">
										<option>Export</option>
										<option>Import</option>
									</select>-->
								<div class="cursorPt" ng-show="documentDetail.id!=null">
									<button  ng-click="previewReport(shipmentServiceDetail.shipmentUid,documentDetail.id,'HAWB',shipmentServiceDetail.id)" class="btn green-btn" ng-show="documentDetail.id!=null" type="button">
										Preview Report
									</button>
								</div>
								   <div class="cursorPt" ng-show="documentDetail.id!=null">
									<button  ng-click="reportModal(documentDetail.id,'HAWB')" class="btn accent-btn" ng-show="documentDetail.id!=null" type="button">
										HAWB Report
									</button>
									</div>

									<div  class="plr15" ng-hide="showDocumentEdit">
									   <a data-placement="bottom"   bs-tooltip="edit" href="javascript:void(0);"><i class="icon-bookings " ng-click="createDuplicateDocument($index)"></i></a>
										<a data-placement="bottom"   bs-tooltip="edit" href="javascript:void(0);"><i class="icon-edit plr15"  ng-click="hasAccess('CRM_SHIPMENT_SERVICE_DOCUMENT_EDIT')?editDocument($index):''"></i></a>
										<a data-placement="bottom"   bs-tooltip="delete"  href="javascript:void(0);" ><i class="icon-delete" ng-click="hasAccess('CRM_SHIPMENT_SERVICE_DOCUMENT_DELETE')?deleteDocument($index):''"></i></a>
									</div>

									<div  class="pl5" ng-click="pickup=!pickup" ng-init="pickup=true">
										<i class="cursorPt {{pickup==false?'icon-downarrow':'icon-uparrow'}}"></i>
									</div>
							</div>
						</div>
				    </div>
				</div>
	        </section>
	        <!--<div class="flex-title">
	            <div>
	                <h4>Document No <span>120806000258</span></h4>
	            </div>
	            <div>
	
	            </div>
	            <div>
	                <i class="fa fa-chevron-down"></i>
	            </div>
	        </div>--><!--flex ends-->
	    </div><!--heading ends-->
	    <div class="panel-body" ng-hide="!pickup">
	        <!--<div class="row">
	            <div class="col-xs-6">
	                <span>Company</span>
	                <h6>FREIGHT SYSTEMS</h6>
	            </div>
	            <div class="col-xs-3">
	                <span>Country</span>
	                <h6>INDIA</h6>
	            </div>
	            <div class="col-xs-3">
	                <span>Location</span>
	                <h6>-</h6>
	            </div>
	        </div>-->
	        <div class="row">
	            <div class="col-xs-6">
	                <span>Shipper</span>
	                <h5 class="heading">{{documentDetail.shipper.partyName}}</h5>
	                <address>
	                    <ul class="list-unstyled">
	                        <li>{{documentDetail.shipperAddress.addressLine1}}</li>
	                        <li>{{documentDetail.shipperAddress.addressLine2}}</li>
	                        <li>{{documentDetail.shipperAddress.addressLine3}}</li>
	                        <li>{{documentDetail.shipperAddress.addressLine4}}</li>
	                    </ul>
	                    <p><span ng-show="documentDetail.shipperAddress.email!=null" class="fa fa-envelope"></span>{{documentDetail.shipperAddress.email!=null?documentDetail.shipperAddress.email:'-'}}</p>
	                </address>
	            </div>
	            <div class="col-xs-6">
	                <span>Consignee</span>
	                <h5 class="heading">{{documentDetail.consignee.partyName!=null?documentDetail.consignee.partyName:'-'}}</h5>
	                <address>
	                    <ul class="list-unstyled">
	                        <li>{{documentDetail.consigneeAddress.addressLine1}}</li>
	                        <li>{{documentDetail.consigneeAddress.addressLine2}}</li>
	                        <li>{{documentDetail.consigneeAddress.addressLine3}}</li>
	                        <li>{{documentDetail.consigneeAddress.addressLine4}}</li>
	                    </ul>
	                    <p><span ng-show="documentDetail.consignee.email!=null" class="fa fa-envelope"></span>{{documentDetail.consignee.email}}</p>
	                </address>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-xs-6">
	                <span>First Notify {{appMasterData['Party_Label']}}</span>
	                <h5 class="heading">{{documentDetail.firstNotify.partyName!=null?documentDetail.firstNotify.partyName:'-'}}</h5>
	                <address>
	                    <ul class="list-unstyled">
	                        <li>{{documentDetail.firstNotifyAddress.addressLine1}}</li>
	                        <li>{{documentDetail.firstNotifyAddress.addressLine2}}</li>
	                        <li>{{documentDetail.firstNotifyAddress.addressLine3}}</li>
	                         <li>{{documentDetail.firstNotifyAddress.addressLine4}}</li>
	                    </ul>
	                    <p><span ng-show="documentDetail.firstNotifyAddress.email!=null" class="fa fa-envelope"></span>{{documentDetail.firstNotifyAddress.email}}</p>
	                </address>
	            </div>
	            <div class="col-xs-6">
	                <span>Second Notify {{appMasterData['Party_Label']}}</span>
	                <h5 class="heading">{{documentDetail.secondNotify.partyName!=null?documentDetail.secondNotify.partyName:'-'}}</h5>
	                <address>
	                    <ul class="list-unstyled">
	                        <li>{{documentDetail.secondNotifyAddress.addressLine1}}</li>
	                        <li>{{documentDetail.secondNotifyAddress.addressLine2}}</li>
	                        <li>{{documentDetail.secondNotifyAddress.addressLine3}}</li>
	                         <li>{{documentDetail.secondNotifyAddress.addressLine4}}</li>
	                    </ul>
	                    <p ng-show="documentDetail.secondNotifyAddress.email!=null"><span class="fa fa-envelope"></span>{{documentDetail.secondNotifyAddress.email}}</p>
	                </address>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-xs-6">
	                <span>Forwarder</span>
	                <h5 class="heading">{{documentDetail.forwarder.partyName!=null?documentDetail.forwarder.partyName:'-'}}</h5>
	                <address>
	                    <ul class="list-unstyled">
	                        <li>{{documentDetail.forwarderAddress.addressLine1}}</li>
	                        <li>{{documentDetail.forwarderAddress.addressLine2}}</li>
	                        <li>{{documentDetail.forwarderAddress.addressLine3}}</li>
	                         <li>{{documentDetail.forwarderAddress.addressLine4}}</li>
	                    </ul>
	                    <p ng-show="documentDetail.forwarderAddress.email!=null"><span class="fa fa-envelope"></span>{{documentDetail.forwarderAddress.email}}</p>
	                </address>
	            </div>
	            <div class="col-xs-6">
	                <span>Agent</span>
	                <h5 class="heading">{{documentDetail.agent.partyName!=null?documentDetail.agent.partyName:'-'}}</h5>
	                <address>
	                    <ul class="list-unstyled">
	                        <li>{{documentDetail.agentAddress.addressLine1}}</li>
	                        <li>{{documentDetail.agentAddress.addressLine2}}</li>
	                        <li>{{documentDetail.agentAddress.addressLine3}}</li>
	                         <li>{{documentDetail.agentAddress.addressLine4}}</li>
	                    </ul>
	                    <p ng-show="documentDetail.agentAddress.email!=null"><span class="fa fa-envelope"></span>{{documentDetail.agentAddress.email}}</p>
	                </address>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-xs-12">
	                <span>Issuing Agent</span>
	                <h5 class="heading">{{documentDetail.issuingAgent.partyName!=null?documentDetail.issuingAgent.partyName:'-'}}</h5>
	                <address>
	                    <ul class="list-unstyled">
	                        <li>{{documentDetail.issuingAgentAddress.addressLine1}}</li>
	                        <li>{{documentDetail.issuingAgentAddress.addressLine2}}</li>
	                        <li>{{documentDetail.issuingAgentAddress.addressLine3}}</li>
	                         <li>{{documentDetail.issuingAgentAddress.addressLine4}}</li>
	                    </ul>
	                    <p ng-show="documentDetail.issuingAgentAddress.email!=null"><span class="fa fa-envelope"></span>{{documentDetail.issuingAgentAddress.email}}</p>
	                </address>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-xs-2">
	                <span>Origin</span>
	                <h6>{{documentDetail.origin.portName}}</h6>
	            </div>
	            <div class="col-xs-2">
	                <span>{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Loading':'Port of Loading'}}</span>
	                <h6>{{documentDetail.pol.portName}}</h6>
	            </div>
	            <div class="col-xs-2">
	                <span>{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Discharge':'Port of Discharge'}}</span>
	                <h6>{{documentDetail.pod.portName}}</h6>
	            </div>
	            <div class="col-xs-2">
	                <span>Destination</span>
	                <h6>{{documentDetail.destination.portName}}</h6>
	            </div>
	        </div>
	        <!--<div class="row">
	            <div class="col-xs-6">
	                <span>Pickup Point</span>
	                <h6>-</h6>
	            </div>
	            <div class="col-xs-6">
	                <span>Delivery Point</span>
	                <h6>-</h6>
	            </div>
	        </div>-->
	        <div class="row nomargin pink-wrapper mtb-15 bor-btm-1 ">
	            <div class="col-xs-6 ptb-15">
	                <ul class="list-group">
	                    <li class="list-group-item">
	                        <div class="row">
	                            <div class="col-xs-4">
	                                <span>Pack</span>
	                                <h6>{{documentDetail.packMaster!=null?documentDetail.packMaster.packName:'-'}}</h6>
	                            </div>
	                            <div class="col-xs-4">
	                                <span>Pieces</span>
	                                <h6>{{documentDetail.noOfPieces}}</h6>
	                            </div>
	                            <div class="col-xs-4">
	                                <span>Sell Rate</span>
	                                <h6>{{documentDetail.ratePerCharge | number:3}}</h6>
	                            </div>
	                        </div>
	                        <!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>Pack</span>
	                                <h6>PALLETS</h6>
	                            </div>
	                            <div>
	                                <span>Pieces</span>
	                                <h6>2</h6>
	                            </div>
	                        </div>-->
	                    </li>
	                    <li class="list-group-item">
	                        <div class="row">
	                            <div class="col-xs-4">
	                                <span>Gross Weight (Pound)</span>
	                                <h6>{{documentDetail.grossWeightInPound | number:3}}</h6>
	                            </div>
								
	                            <div class="col-xs-4">
	                                <span>Volume Weight (Pound)</span>
	                                <h6>{{documentDetail.volumeWeightInPound | number:3}}</h6>
	                            </div>
	                            <div class="col-xs-4">
									<span>Volume (CBM)</span>
									<h6>{{documentDetail.bookedVolumeUnitCbm | number:3}}</h6>
								</div>
	                            
	                            
	                        </div>
	                        <!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>Gross Weight (Pounds)</span>
	                                <h6>165.00</h6>
	                            </div>
	                            <div>
	                                <span>Volume Weight (Pounds)</span>
	                                <h6>-</h6>
	                            </div>
	                        </div>-->
	                    </li>
	                    <li class="list-group-item">
	                        <div class="row">
	                            <div class="col-xs-4">
	                                <span>Gross Weight (Kg)</span>
	                                <h6>{{documentDetail.grossWeight | number:3}}</h6>
	                            </div>
	                            
	                            <div class="col-xs-4">
	                                <span>Chargeable Weight (Kg)</span>
	                                <h6>{{documentDetail.chargebleWeight | number:3}}</h6>
	                            </div>
	                            <div class="col-xs-4">
	                                <span>Volume Weight (Kg)</span>
	                                <h6>{{documentDetail.volumeWeight | number:3}}</h6>
	                            </div>
	                        </div>
	                        <!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>Gross Weight (KG)</span>
	                                <h6>165.00</h6>
	                            </div>
	                            <div>
	                                <span>Volume Weight (KG)</span>
	                                <h6>114.00</h6>
	                            </div>
	                            <div>
	                                <span>Chargeable Weight (KG)</span>
	                                <h6>307.00</h6>
	                            </div>
	                        </div>-->
	                    </li>
	                </ul>
	            </div>
	            <div class="col-xs-6 ptb-15">
	                <ul class="list-group">
	                    <li class="list-group-item">
	                        <div class="flex align-justify align-middle">
	                            <div>
	                                <span>Carrier</span>
	                                <h6>
	                                <img ng-show="documentDetail.carrier.image!=null"  data-ng-src="data:image/png;base64,{{documentDetail.carrier.image}}" width="20" height="20">
	                                {{documentDetail.carrier!=null?documentDetail.carrier.carrierName:'-'}}</h6>
	                            </div>
	                        </div>
	                    </li>
	                    <li class="list-group-item">
	                        <div class="row">
	                            <div class="col-xs-4">
	                                <span>Flight No</span>
	                                <h6>{{documentDetail.routeNo}}</h6>
	                            </div>
	                            <div class="col-xs-4">
	                                <span>MAWB No</span>
	                                <h6>{{documentDetail.mawbNo!=null?documentDetail.mawbNo:'-'}}</h6>
	                            </div>
	                        </div>
	                        <!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>Flight No</span>
	                                <h6>-</h6>
	                            </div>
	                            <div>
	                                <span>MAWB No</span>
	                                <h6>-</h6>
	                            </div>
	                        </div>-->
	                    </li>
	                    <li class="list-group-item">
	                        <div class="row">
	                            <div class="col-xs-4">
	                                <span>ETD</span>
	                                <h6>{{documentDetail.etd!=null?editDisplayDate(documentDetail.etd):'-'}}</h6>
	                            </div>
	                            <div class="col-xs-4">
	                                <span>ETA</span>
	                                <h6>{{documentDetail.eta!=null?editDisplayDate(documentDetail.eta):'-'}}</h6>
	                            </div>
	                        </div>
	                        <!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>ETD</span>
	                                <h6>-</h6>
	                            </div>
	                            <div>
	                                <span>ETA</span>
	                                <h6>-</h6>
	                            </div>
	                        </div>-->
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <div class="row" >
	        <div class="col-xs-12" ng-show="documentDetail.dimensionList!=null && documentDetail.dimensionList.length!=0">
			<table class="table table-hover tab-width tfoot-bor0 table-default tab-col-bg"  >
			    <thead>
			    <tr>
			    <th class="text-center">#</th>
			    <th class="text-right" >No. of Pieces</th>
			    <th class="text-right">Length ({{documentDetail.dimensionUnit?'in':'cm'}})</th>
			    <th class="text-right">Width ({{documentDetail.dimensionUnit?'in':'cm'}})</th>
			    <th class="text-right">Height ({{documentDetail.dimensionUnit?'in':'cm'}})</th>
			    <th class="text-right">Volume Weight (kg)</th>
			    <th class="text-right">Gross Weight({{documentDetail.dimensionUnit?'lb':'kg'}})</th>
			    <th class="text-right" ng-show="documentDetail.dimensionUnit">Gross Weight (kg)</th>
			    
			    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="dimensionObj in documentDetail.dimensionList">
			        <td class="text-center">{{serialNo($index)}}</td>
			        <td class="text-right">{{dimensionObj.noOfPiece}}</td>
			        <td class="text-right">{{dimensionObj.length}}</td>
			        <td class="text-right">{{dimensionObj.width}}</td>
			        <td class="text-right">{{dimensionObj.height}}</td>
			        <td class="text-right">{{dimensionObj.volWeight | number:3}}</td>
			        <td class="text-right">{{dimensionObj.grossWeight | number:3}}</td>
			        <td class="text-right" ng-show="documentDetail.dimensionUnit">{{dimensionObj.grossWeightKg | number:3}}</td>
			    </tr>
			    </tbody>
			    <tfoot class="bg-danger">
			    <tr>
			        <td class="text-right">Total</td>
			        <td class="text-right">{{documentDetail.noOfPieces}}</td>
			        <td></td>
			        <td></td>
			        <td></td>
			        <td class="text-right">{{documentDetail.volumeWeight | number:3}}</td>
			        <td class="text-right">{{documentDetail.dimensionUnit==false?documentDetail.grossWeight:documentDetail.grossWeightInPound | number:3}}</td>
			        <td class="text-right" ng-show="documentDetail.dimensionUnit">{{documentDetail.grossWeight | number:3}}</td>
			    </tr>
			    </tfoot>
			</table>
	        </div>
				<empty-record ng-show="!documentDetail.dimensionList || documentDetail.dimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>
	        </div>
	        <div class="row">
	            <div class="col-xs-12 mt-15">
	                <span>Handling Information</span>
	                <h6><span></span>{{documentDetail.handlingInformation!=null?documentDetail.handlingInformation:'-'}}</h6>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-xs-6 bor-r-1">
	                <span>Accounting Information</span>
	                <p>{{documentDetail.accoutingInformation!=null?documentDetail.accoutingInformation:'-'}}</p>
	                <p></p>
	                <p></p>
	            </div>
	            <div class="col-xs-6">
	                <div class="flex flex-col align-justify">
	                    <div>
	                        <span>Commodity Description</span>
	                        <p>{{documentDetail.commodityDescription!=null?documentDetail.commodityDescription:'-'}}</p>
	                    </div>
	                    <div>
	                        <span>Marks & No.</span>
	                        <p>{{documentDetail.marksAndNo!=null?documentDetail.marksAndNo:'-'}}</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-xs-6 bor-r-1">
	                <div class="flex-row">
	                    <div class="col-xs-4">
	                        <span>HAWB Received On</span>
	                        <h6>{{dateToString(documentDetail.hawbReceivedOn)}}</h6>
	                    </div>
	                    <div class="col-xs-4">
	                        <span>HAWB Received By</span>
	                        <h6>{{documentDetail.receivedBy.emloyeeName}}</h6>
	                    </div>
	                    <div class="col-xs-4"></div>
	                </div>
	            </div>
	            <div class="col-xs-6">
	                <div class="flex align-justify">
	                    <div>
	                        <span>Rate Class</span>
	                        <h6>{{documentDetail.rateClass!=null?documentDetail.rateClass:''}}</h6>
	                    </div>
	                    <!--<div>
	                        <span>Service Code</span>
	                        <h6>CFS/CY</h6>
	                    </div>-->
	                </div>
	            </div>
	        </div>
	        <!--<div class="row">
	            <div class="col-xs-6 bor-r-1">
	                <div class="flex-row">
	                    <div class="col-xs-4">
	                        <span>Vessel Code</span>
	                        <h6>-</h6>
	                    </div>
	                    <div class="col-xs-4">
	                        <span>Transit Port</span>
	                        <h6>DXB</h6>
	                    </div>
	                    <div class="col-xs-4">
	                        <span>Transit ETA</span>
	                        <h6>11 MAY 2016  14:25</h6>
	                    </div>
	                </div>
	            </div>
	            <div class="col-xs-6">
	
	            </div>
	        </div>-->
	    </div><!--body ends-->
	</div><!--row ends-->
	<awb-report></awb-report>