
<div class="row nomargin">
	<div class="col-xs-12">
		<ul class="list-inline pills-tab bor-b-0">
			<li class="rel" ng-repeat="documentDetail in shipmentServiceDetail.documentList track by $index" ng-click="clickDocumentIndex($index)" title="{{documentDetail.documentNo?'Document No '+documentDetail.documentNo:'New Document'}}" >
				<a href="javascript:void(0);" ng-class="{'active':documentListTab==$index}">
					{{documentDetail.documentNo!=null?'DO/'+documentDetail.documentNo:'New Document'}}
				</a>
			</li>
		</ul>
	</div>
	<div class="col-xs-12">
		<div class="panel panel-info mb0 bor-b-0 pb0 overflow-hidden" ng-repeat="documentDetail in shipmentServiceDetail.documentList track by $index" ng-show="documentListTab==$index">
			<div class="panel-heading ">
				<section class="row">

					<div class="col-xs-7 ">
						<div class="row">
							<div class="col-xs-4" >
								<h3>Delivery Order - <span class="new-panel-heading">{{documentDetail.documentNo}}</span></h3>
							</div>
							<div class="col-xs-4">
								<h3 class="nomargin new-panel-heading">{{dateToString(documentDetail.documentReqDate)}}</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-5 ">
						<div class="row">
							<div class="col-xs-12">
								<div class="flex flex-end align-middle">
									
								</div>
							</div>
						</div>
					</div>
				</section>

			</div><!--heading ends-->
			<div class="panel-body nopanel_pattern pt0 detail-view plr0" >

				<div class="row pb0 ptb-15 nopadding ">
					<div class="col-xs-12">
						<div class="ptb-15">

							<div class="col-xs-4">
								<span>Consignee</span>
								<h5 class="heading">{{documentDetail.consignee.partyName!=null?documentDetail.consignee.partyName:'-'}}</h5>
								<address class="mb0">
									<ul class="list-unstyled">
										<li>{{documentDetail.consigneeAddress.addressLine1}}</li>
										<li>{{documentDetail.consigneeAddress.addressLine2}}</li>
										<li>{{documentDetail.consigneeAddress.addressLine3}}</li>
										<li>{{documentDetail.consigneeAddress.addressLine4}}</li>
									</ul>
									<p class="mb0 mt-7"><span ng-show="documentDetail.consigneeAddress.email!=null" class=" icon-email"></span> {{documentDetail.consigneeAddress.email}}</p>
									<p class="mb0 mt-7"><span ng-show="documentDetail.consigneeAddress.mobile!=null" class=" icon-mobile"></span> {{documentDetail.consigneeAddress.mobile}}</p>
								</address>
							</div>
							<div class="col-xs-4">
								<span>Notify Customer 1</span>
								<h5 class="heading">{{documentDetail.firstNotify.partyName!=null?documentDetail.firstNotify.partyName:'-'}}</h5>
								<address class="mb0">
									<ul class="list-unstyled">
										<li>{{documentDetail.firstNotifyAddress.addressLine1}}</li>
										<li>{{documentDetail.firstNotifyAddress.addressLine2}}</li>
										<li>{{documentDetail.firstNotifyAddress.addressLine3}}</li>
										<li>{{documentDetail.firstNotifyAddress.addressLine4}}</li>
									</ul>
									<p class="mb0 mt-7"><span ng-show="documentDetail.firstNotifyAddress.email!=null" class=" icon-email"></span> {{documentDetail.firstNotifyAddress.email}}</p>
									<p class="mb0 mt-7"><span ng-show="documentDetail.firstNotifyAddress.mobile!=null" class=" icon-mobile"></span> {{documentDetail.firstNotifyAddress.mobile}}</p>
								</address>
							</div>
							<div class="col-xs-4">

								<span>Shipper</span>
								<h5 class="heading">{{documentDetail.shipper.partyName}}</h5>
								<address class="mb0">
									<ul class="list-unstyled">
										<li>{{documentDetail.shipperAddress.addressLine1}}</li>
										<li>{{documentDetail.shipperAddress.addressLine2}}</li>
										<li>{{documentDetail.shipperAddress.addressLine3}}</li>
										<li>{{documentDetail.shipperAddress.addressLine4}}</li>
									</ul>
									<p class="mb0 mt-7"><span ng-show="documentDetail.shipperAddress.email!=null" class=" icon-email"></span> {{documentDetail.shipperAddress.email!=null?documentDetail.shipperAddress.email:'-'}}</p>
									<p class="mb0 mt-7"><span ng-show="documentDetail.shipperAddress.mobile!=null" class=" icon-email"></span> {{documentDetail.shipperAddress.mobile!=null?documentDetail.shipperAddress.mobile:'-'}}</p>
								</address>
							</div>
						</div>
					</div>
				</div>
				<div class="showmore " ng-hide="!showmore">
					<div class="pt-15 clearfix">
						<div class="row nopadding">
							<div class="col-xs-12">
								<div class="ptb-15 clearfix">
									<div class="col-xs-4">
										<span>Issuing Agent</span>
										<h5 class="heading">{{documentDetail.issuingAgent.partyName!=null?documentDetail.issuingAgent.partyName:'-'}}</h5>
										<address class="mb0">
											<ul class="list-unstyled">
												<li>{{documentDetail.issuingAgentAddress.addressLine1}}</li>
												<li>{{documentDetail.issuingAgentAddress.addressLine2}}</li>
												<li>{{documentDetail.issuingAgentAddress.addressLine3}}</li>
												<li>{{documentDetail.issuingAgentAddress.addressLine4}}</li>
											</ul>
											<p class="mb0 mt-7" ng-show="documentDetail.issuingAgentAddress.email!=null"><span class=" icon-email"></span> {{documentDetail.issuingAgentAddress.email}}</p>
											<p class="mb0 mt-7" ng-show="documentDetail.issuingAgentAddress.mobile!=null"><span class=" icon-mobile"></span> {{documentDetail.issuingAgentAddress.mobile}}</p>
										</address>
									</div>
									<div class="col-xs-4">
										<span>Agent</span>
										<h5 class="heading">{{documentDetail.agent.partyName!=null?documentDetail.agent.partyName:'-'}}</h5>
										<address class="mb0">
											<ul class="list-unstyled">
												<li>{{documentDetail.agentAddress.addressLine1}}</li>
												<li>{{documentDetail.agentAddress.addressLine2}}</li>
												<li>{{documentDetail.agentAddress.addressLine3}}</li>
												<li>{{documentDetail.agentAddress.addressLine4}}</li>
											</ul>
											<p class="mb0 mt-7" ng-show="documentDetail.agentAddress.email!=null"><span class="icon-email"></span> {{documentDetail.agentAddress.email}}</p>
											<p class="mb0 mt-7" ng-show="documentDetail.agentAddress.mobile!=null"><span class="icon-mobile"></span> {{documentDetail.agentAddress.mobile}}</p>
										</address>
									</div>
									<div class="col-xs-4">
										<span>Notify Customer 2</span>
										<h5 class="heading">{{documentDetail.secondNotify.partyName!=null?documentDetail.secondNotify.partyName:'-'}}</h5>
										<address class="mb0" >
											<ul class="list-unstyled">
												<li>{{documentDetail.secondNotifyAddress.addressLine1}}</li>
												<li>{{documentDetail.secondNotifyAddress.addressLine2}}</li>
												<li>{{documentDetail.secondNotifyAddress.addressLine3}}</li>
												<li>{{documentDetail.secondNotifyAddress.addressLine4}}</li>
											</ul>
											<p class="mb0 mt-7" ng-show="documentDetail.secondNotifyAddress.email!=null"><span class=" icon-email"></span> {{documentDetail.secondNotifyAddress.email}}</p>
											<p class="mb0 mt-7" ng-show="documentDetail.secondNotifyAddress.mobile!=null"><span class=" icon-mobile"></span> {{documentDetail.secondNotifyAddress.mobile}}</p>
										</address>
									</div>
								</div>
							</div>
						</div>
						<div class="row nopadding bor-0">
							<div class="col-xs-12">
								<div class="ptb-15 clearfix">
									<div class="col-xs-6">
										<span>Forwarder</span>
										<h5 class="heading">{{documentDetail.forwarder.partyName!=null?documentDetail.forwarder.partyName:'-'}}</h5>
										<address class="mb0">
											<ul class="list-unstyled">
												<li>{{documentDetail.forwarderAddress.addressLine1}}</li>
												<li>{{documentDetail.forwarderAddress.addressLine2}}</li>
												<li>{{documentDetail.forwarderAddress.addressLine3}}</li>
												<li>{{documentDetail.forwarderAddress.addressLine4}}</li>
											</ul>
											<p class="mb0 mt-7" ng-show="documentDetail.forwarderAddress.email!=null"><span class="icon-email"></span> {{documentDetail.forwarderAddress.email}}</p>
											<p class="mb0 mt-7" ng-show="documentDetail.forwarderAddress.mobile!=null"><span class="icon-mobile"></span> {{documentDetail.forwarderAddress.mobile}}</p>
										</address>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row  pt0 padding15 text-underline nomargin	clear_both" ng-hide="shipment.isFromConsolForImport=='true' || shipment.isFromConsolForImport">
					<div  ng-click="showmore=!showmore" ng-init="showmore=true">

						<h5 class="  text-blue mt0 pt0 cur-pointer">{{showmore==true?'Show Less -':'Show More +'}}</h5>
						<!--<i class="pl0 cursorPt {{showmore==true?'icon-downarrow':'icon-uparrow'}}"></i>-->
					</div>
				</div>
				<div class="row nomargin" ng-hide="shipment.isFromConsolForImport=='true' || shipment.isFromConsolForImport">
					<div ng-click="routeInfo=!routeInfo" ng-init="routeInfo=true" class=" cursorPt mb0 flex align-justify align-middle title  ">
						<div>
							<h5 style="text-transform: inherit !important;">
								Routing & Carrier Info
							</h5>
						</div>
						<div>
							<i class="{{routeInfo==true?'icon-uparrow':' icon-downarrow'}}" aria-hidden="true"></i>
						</div>

					</div>

					<div class="panel-body nopanel_pattern fx-fade-normal fx-ease-sine nopadding" ng-hide="!routeInfo">
						<div class="row nopadding">
							<div class="col-xs-12">
								<div class="ptb-15 clearfix">
									<div class="col-xs-3">
										<span>Origin</span>
										<h6>{{documentDetail.origin.portName}}</h6>
									</div>
									<div class="col-xs-3">
										<span class="text-inherit">{{consol.serviceMaster.transportMode=='Air'?'Airport of Loading':'Port of Loading'}}</span>
										<h6>{{documentDetail.pol.portName}}</h6>
									</div>
									<div class="col-xs-3">
										<span class="text-inherit">{{consol.serviceMaster.transportMode=='Air'?'Airport of Discharge':'Port of Discharge'}}</span>
										<h6>{{documentDetail.pod.portName}}</h6>
									</div>
									<div class="col-xs-3">
										<span>Destination</span>
										<h6>{{documentDetail.destination.portName}}</h6>
									</div>
								</div>
							</div>

						</div>
						<div class="row nopadding bor-0">
							<hr class="nomargin">
						</div>
						<div class="row nopadding ">
							<div class="col-xs-12">
								<div class="ptb-15 clearfix">
									<div class="col-xs-3">
										<span>Carrier</span>
										<h6>
										<img ng-show="documentDetail.carrier.image!=null"  data-ng-src="data:image/png;base64,{{documentDetail.carrier.image}}" width="20" height="20">
										{{documentDetail.carrier!=null?documentDetail.carrier.carrierName:'-'}}</h6>
									</div>
									<div class="col-xs-2">
										<span>Flight No</span>
										<h6>{{documentDetail.routeNo}}</h6>
									</div>
									<div class="col-xs-2 col-xs-push-1">
										<span>ETD</span>
										<h6>{{documentDetail.etd!=null?dateAndTimeToString(documentDetail.etd):'-'}}</h6>
									</div>
									<div class="col-xs-2 col-xs-push-2">
										<span>ETA</span>
										<h6>{{documentDetail.eta!=null?dateAndTimeToString(documentDetail.eta):'-'}}</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="row nopadding ">
							<div class="col-xs-12">
								<div class="ptb-15 clearfix">
									<div class="col-xs-3">
									<span>IGM No</span>
										<h6>{{ifDataElseHifen(documentDetail.igmNo)}}</h6>
									
						</div>
						<div class="col-xs-2">
										<span>Reference No</span>
										<h6>{{ifDataElseHifen(documentDetail.referenceNo)}}</h6>
									</div>
						</div>
						</div>
						</div>
					</div>
				</div>
				<div class="row nomargin">
					<div ng-click="packsInfo=!packsInfo" ng-init="packsInfo=true" class=" mb0 cursorPt flex align-justify align-middle title">
						<div>
							<h5 class="">Packs & Dimension Info</h5>
						</div>
						<div>
							<i class="{{packsInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
						</div>

					</div>
					<div class=" pt0 fx-fade-normal fx-ease-sin " ng-hide="!packsInfo">
						<div class="row nopadding">
							<div class="col-xs-12">
								<div class="ptb-15 clearfix">
									<div class="col-xs-2">
										<span>Pack</span>
										<h6>{{documentDetail.packMaster!=null?documentDetail.packMaster.packName:'-'}}</h6>
									</div>
									<div class="col-xs-2">
										<span>Pieces</span>
										<h6>{{integerFormat(documentDetail.noOfPieces,shipmentServiceDetail.country.locale)}}</h6>
									</div>
									<div class="col-xs-2">
										<span>Sell Rate</span>
										<h6>{{currencyFormat(shipmentServiceDetail.country.currencyMaster,documentDetail.ratePerCharge)}}</h6>
									</div>
								</div>
							</div>

						</div>
						<div class="row nopadding bor-0">
							<hr class="nomargin">
						</div>
						<div class="row  nopadding bor-0">
							<div class="col-xs-12">
								<div class="ptb-15 clearfix">
									<div class="col-xs-2">
										<span>Gross Weight (KG)</span>
										<h6>{{weightFormat(documentDetail.grossWeight,shipmentServiceDetail.country.locale)}}</h6>
									</div>
									<div class="col-xs-2">
										<span>Volume Weight (KG)</span>
										<h6>{{weightFormat(documentDetail.volumeWeight,shipmentServiceDetail.country.locale)}}</h6>
									</div>

									<div class="col-xs-3 col-md-3 col-lg-2 m-mt-20">
										<span>Chargeable Weight (KG)</span>
										<h6>{{weightFormat(documentDetail.chargebleWeight,shipmentServiceDetail.country.locale)}}</h6>
									</div>
									<div class="col-xs-2">
										<span>Volume (CBM)</span>
										<h6>{{weightFormat(documentDetail.bookedVolumeUnitCbm,shipmentServiceDetail.country.locale)}}</h6>
									</div>

									<div class="col-xs-2"
									 ng-if="dynamicFormFieldMap.get('Shipment > Service > LBS')=='true'">
										<span>Gross Weight (LBS)</span>
										<h6>{{weightFormat(documentDetail.grossWeightInPound,shipmentServiceDetail.country.locale)}}</h6>
									</div>
									
									<div class="col-xs-2" ng-if="dynamicFormFieldMap.get('Shipment > Service > LBS')=='true'">
										<span>Volume Weight (LBS)</span>
										<h6>{{weightFormat(documentDetail.volumeWeightInPound,shipmentServiceDetail.country.locale)}}</h6>
									</div>
									
								</div>
							</div>

						</div>

						<div class="row nopadding bor-0 ">
							<hr class="nomargin">
						</div>


						<div class="row nopadding bor-0">
							<div class="col-xs-12">
								<div class="ptb-15 clearfix">
									<div class="col-xs-4">
										<span>Dimension Unit</span>
										<h5>{{documentDetail.dimensionUnit==false?'Centimeter / Kilos':'Inch / Pounds'}}</h5>
									</div>
									<div class="col-xs-3">
										<span class="block">Dimension Value</span>
										<h5>{{documentDetail.dimensionUnitValue}}</h5>
									</div>
								</div>
							</div>

						</div><!--ROW ENDS-->

						<div class="row nomargin nopadding " >
							<div class="col-xs-12 ptb-15 table-responsive" ng-show="documentDetail.dimensionList!=null && documentDetail.dimensionList.length!=0">
								<table class="table table-inline" >
									<thead>
									<tr>
										<th class="inl_sno">#</th>
										<th class="text-right inl_m text-inherit" style="text-transform: inherit !important;">No of Pieces</th>
										<th class="text-right inl_m">Length(in)</th>
										<th class="text-right inl_m">Width(in)</th>
										<th class="text-right inl_m">Height(in)</th>
										<th class="text-right inl_m">Volume Weight(KG)</th>
										<th class="text-right inl_m">Gross Weight(KG)</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="dimensionObj in documentDetail.dimensionList">
										<td >{{serialNo($index)}}</td>
										<td class="text-right">{{integerFormat(dimensionObj.noOfPiece,shipmentServiceDetail.country.locale) }}</td>
										<td class="text-right">{{integerFormat(dimensionObj.length,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{integerFormat(dimensionObj.width,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{integerFormat(dimensionObj.height,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{weightFormat(dimensionObj.volWeight,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{weightFormat(dimensionObj.grossWeight,shipmentServiceDetail.country.locale)}}</td>

									</tr>
									</tbody>
									<tfoot class="bg-danger" style="border:1px solid #F8DDAD">
									<tr>
										<td class="text-right">Total</td>
										<td class="text-right">{{integerFormat(documentDetail.noOfPieces,shipmentServiceDetail.country.locale)}}</td>
										<td></td>
										<td></td>
										<td></td>
										<td class="text-right">{{weightFormat(documentDetail.dimensionVolumeWeight,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{weightFormat(documentDetail.dimensionGrossWeight,shipmentServiceDetail.country.locale)}}</td>

									</tr>
									</tfoot>
								</table>
							</div>
							<empty-record ng-show="!documentDetail.dimensionList || documentDetail.dimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>
						</div>
					</div>

				</div>

				<div class="row nomargin">
					<div ng-click="otherInfo=!otherInfo" ng-init="otherInfo=false" class=" cursorPt mb0  flex align-justify align-middle title">
						<div>
							<h5>Other Info</h5>
						</div>
						<div>
							<i class="{{otherInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
						</div>

					</div>

					<div class="fx-fade-normal fx-ease-sine" ng-hide="!otherInfo">
						<div class="row overflow-hidden nopadding">
							<div class="col-xs-12  bor-fix  ">
								<div class="flex-row ptb-15">
									<div class="col-xs-2">
										<span>DO No</span>
										<h6 class="mb0">{{ifDataElseHifen(documentDetail.doNumber)}}</h6>
									</div>
									<div class="col-xs-2">
										<span>DO issued On</span>
										<h6 class="mb0">{{ifDataElseHifen(dateAndTimeToString(documentDetail.doIssuedDate))}}</h6>
									</div>
									
									<div class="col-xs-2" ng-show="shipment.isFromConsolForImport=='true' || shipment.isFromConsolForImport">
										<span>IGM No</span>
										<h6 class="mb0">{{ifDataElseHifen(documentDetail.igmNo)}}</h6>
									</div>
									
									<div class="col-xs-2" ng-show="shipment.isFromConsolForImport=='true' || shipment.isFromConsolForImport">
										<span>Reference No</span>
										<h6 class="mb0">{{ifDataElseHifen(documentDetail.referenceNo)}}</h6>
									</div>
									
									<div class="col-xs-2" ng-if="documentDetail.hawbNo!=null">
										<span>Hawb No</span>
										<h6 class="mb0">{{ifDataElseHifen(documentDetail.hawbNo)}}</h6>
									</div>
									<div class="col-xs-2">
										<span>CAN No</span>
										<h6 class="mb0">{{ifDataElseHifen(documentDetail.canNumber)}}</h6>
									</div>
									<div class="col-xs-2">
										<span>CAN issued On</span>
											<h6 class="mb0">{{ifDataElseHifen(dateAndTimeToString(documentDetail.canIssuedDate))}}</h6>
									</div>
									<div class="col-xs-2">
										<span>Hold</span>
										<h6 class="mb0">{{documentDetail.isHold?"Yes":"No"}}</h6>
									</div>
									<div class="col-xs-2">
										<span>Hold Release No</span>
										<h6 class="mb0">{{documentDetail.holdNo}}</h6>
									</div>

								</div>
							</div>
						</div>
						<div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
							<hr>
						</div>
						<div class="row overflow-hidden nopadding bor-b-0">
							<div class="col-xs-12">
								<div class="col-xs-2 bor-fix ptb-15">
									<span>CCN No</span>
									<h6 class="mb0"><span></span>{{documentDetail.handlingInformation!=null?documentDetail.handlingInformation:'-'}}</h6>
								</div>
								<div class="col-xs-2  bor-fix">
									<div class="ptb-15">
										<span>CCN Date</span>
										<p class="mb0">{{documentDetail.accoutingInformation!=null?documentDetail.accoutingInformation:'-'}}</p>

									</div>
								</div>
								<div class="col-xs-2  bor-fix">
									<div class="ptb-15">
										<span>Trans CCN No</span>
										<p class="mb0">{{documentDetail.accoutingInformation!=null?documentDetail.accoutingInformation:'-'}}</p>

									</div>
								</div>
								<div class="col-xs-2  bor-fix">
									<div class="ptb-15">
										<span>Trans CCN Date</span>
										<p class="mb0">{{documentDetail.accoutingInformation!=null?documentDetail.accoutingInformation:'-'}}</p>

									</div>
								</div>
							</div>

						</div>
						<div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
							<hr>
						</div>
						<div class="row overflow-hidden nopadding bor-b-0">
							<div class="col-xs-12">
								<div class="col-xs-4 bor-fix">
									<div class="flex flex-col align-justify ptb-15">

										<div>
											<span>Commodity Description</span>
											<p class="mb0">{{documentDetail.commodityDescription!=null?documentDetail.commodityDescription:'-'}}</p>
										</div>
									</div>
								</div>
								<div class="col-xs-4 bor-fix">
									<div class="flex flex-col align-justify ptb-15">

										<div>
											<span>Marks & No</span>
											<p class="mb0">{{documentDetail.marksAndNo!=null?documentDetail.marksAndNo:'-'}}</p>
										</div>
									</div>
								</div>
								<div class="col-xs-4 bor-fix">
									<div class="flex flex-col align-justify ptb-15">

										<div>
											<span>Rate Class</span>
											<p class="mb0">{{documentDetail.rateClass!=null?documentDetail.rateClass:'-'}}</p>
										</div>
									</div>
								</div>
							</div>



						</div>
						<div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
							<hr>
						</div>
						<div class="row overflow-hidden nopadding bor-b-0">
							<div class="col-xs-12">
								<div class="col-xs-4 bor-fix">
									<div class="flex flex-col align-justify ptb-15">

										<div>
											<span>Hold Note</span>
											<p class="mb0">-</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div><!--body ends-->
			<div class="panel-body ng-hide">
				<div class="row">
					<div class="col-xs-6">
						<span>Shipper</span>
						<h5 class="heading">{{documentDetail.shipper.partyName}}</h5>
						<address>
							<ul class="list-unstyled">
								<li>{{documentDetail.shipperAddress.addressLine1}}</li>
								<li>{{documentDetail.shipperAddress.addressLine2}}</li>
								<li>{{documentDetail.shipperAddress.addressLine3}}</li>
								<li>{{documentDetail.shipperAddress.addressLine4}}</li>
							</ul>
							<p><span ng-show="documentDetail.shipperAddress.email!=null" class="fa fa-envelope"></span>{{documentDetail.shipperAddress.email!=null?documentDetail.shipperAddress.email:'-'}}</p>
						</address>
					</div>
					<div class="col-xs-6">
						<span>Consignee</span>
						<h5 class="heading">{{documentDetail.consignee.partyName!=null?documentDetail.consignee.partyName:'-'}}</h5>
						<address>
							<ul class="list-unstyled">
								<li>{{documentDetail.consigneeAddress.addressLine1}}</li>
								<li>{{documentDetail.consigneeAddress.addressLine2}}</li>
								<li>{{documentDetail.consigneeAddress.addressLine3}}</li>
								<li>{{documentDetail.consigneeAddress.addressLine4}}</li>
							</ul>
							<p><span ng-show="documentDetail.consignee.email!=null" class="fa fa-envelope"></span>{{documentDetail.consignee.email}}</p>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<span>First Notify {{appMasterData['Party_Label']}}</span>
						<h5 class="heading">{{documentDetail.firstNotify.partyName!=null?documentDetail.firstNotify.partyName:'-'}}</h5>
						<address>
							<ul class="list-unstyled">
								<li>{{documentDetail.firstNotifyAddress.addressLine1}}</li>
								<li>{{documentDetail.firstNotifyAddress.addressLine2}}</li>
								<li>{{documentDetail.firstNotifyAddress.addressLine3}}</li>
								<li>{{documentDetail.firstNotifyAddress.addressLine4}}</li>
							</ul>
							<p><span ng-show="documentDetail.firstNotifyAddress.email!=null" class="fa fa-envelope"></span>{{documentDetail.firstNotifyAddress.email}}</p>
						</address>
					</div>
					<div class="col-xs-6">
						<span>Second Notify {{appMasterData['Party_Label']}}</span>
						<h5 class="heading">{{documentDetail.secondNotify.partyName!=null?documentDetail.secondNotify.partyName:'-'}}</h5>
						<address>
							<ul class="list-unstyled">
								<li>{{documentDetail.secondNotifyAddress.addressLine1}}</li>
								<li>{{documentDetail.secondNotifyAddress.addressLine2}}</li>
								<li>{{documentDetail.secondNotifyAddress.addressLine3}}</li>
								<li>{{documentDetail.secondNotifyAddress.addressLine4}}</li>
							</ul>
							<p ng-show="documentDetail.secondNotifyAddress.email!=null"><span class="fa fa-envelope"></span>{{documentDetail.secondNotifyAddress.email}}</p>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<span>Forwarder</span>
						<h5 class="heading">{{documentDetail.forwarder.partyName!=null?documentDetail.forwarder.partyName:'-'}}</h5>
						<address>
							<ul class="list-unstyled">
								<li>{{documentDetail.forwarderAddress.addressLine1}}</li>
								<li>{{documentDetail.forwarderAddress.addressLine2}}</li>
								<li>{{documentDetail.forwarderAddress.addressLine3}}</li>
								<li>{{documentDetail.forwarderAddress.addressLine4}}</li>
							</ul>
							<p ng-show="documentDetail.forwarderAddress.email!=null"><span class="fa fa-envelope"></span>{{documentDetail.forwarderAddress.email}}</p>
						</address>
					</div>
					<div class="col-xs-6">
						<span>Agent</span>
						<h5 class="heading">{{documentDetail.agent.partyName!=null?documentDetail.agent.partyName:'-'}}</h5>
						<address>
							<ul class="list-unstyled">
								<li>{{documentDetail.agentAddress.addressLine1}}</li>
								<li>{{documentDetail.agentAddress.addressLine2}}</li>
								<li>{{documentDetail.agentAddress.addressLine3}}</li>
								<li>{{documentDetail.agentAddress.addressLine4}}</li>
							</ul>
							<p ng-show="documentDetail.agentAddress.email!=null"><span class="fa fa-envelope"></span>{{documentDetail.agentAddress.email}}</p>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<span>Issuing Agent</span>
						<h5 class="heading">{{documentDetail.issuingAgent.partyName!=null?documentDetail.issuingAgent.partyName:'-'}}</h5>
						<address>
							<ul class="list-unstyled">
								<li>{{documentDetail.issuingAgentAddress.addressLine1}}</li>
								<li>{{documentDetail.issuingAgentAddress.addressLine2}}</li>
								<li>{{documentDetail.issuingAgentAddress.addressLine3}}</li>
								<li>{{documentDetail.issuingAgentAddress.addressLine4}}</li>
							</ul>
							<p ng-show="documentDetail.issuingAgentAddress.email!=null"><span class="fa fa-envelope"></span>{{documentDetail.issuingAgentAddress.email}}</p>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<span>Origin</span>
						<h6>{{documentDetail.origin.portName}}</h6>
					</div>
					<div class="col-xs-2">
						<span>{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Loading':'Port of Loading'}}</span>
						<h6>{{documentDetail.pol.portName}}</h6>
					</div>
					<div class="col-xs-2">
						<span>{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Discharge':'Port of Discharge'}}</span>
						<h6>{{documentDetail.pod.portName}}</h6>
					</div>
					<div class="col-xs-2">
						<span>Destination</span>
						<h6>{{documentDetail.destination.portName}}</h6>
					</div>
				</div>
				<div class="row nomargin pink-wrapper mtb-15 bor-btm-1 ">
					<div class="col-xs-6 ptb-15">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-4">
										<span>Pack</span>
										<h6>{{documentDetail.packMaster!=null?documentDetail.packMaster.packName:'-'}}</h6>
									</div>
									<div class="col-xs-4">
										<span>Pieces</span>
										<h6>{{documentDetail.noOfPieces}}</h6>
									</div>
									<div class="col-xs-4">
										<span>Sell Rate</span>
										<h6>{{documentDetail.ratePerCharge | number:3}}</h6>
									</div>
								</div>
								<!--<div class="flex align-justify align-middle">
                                    <div>
                                        <span>Pack</span>
                                        <h6>PALLETS</h6>
                                    </div>
                                    <div>
                                        <span>Pieces</span>
                                        <h6>2</h6>
                                    </div>
                                </div>-->
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-4">
										<span>Gross Weight (KG)</span>
										<h6>{{documentDetail.grossWeight | number:3}}</h6>
									</div>
									<div class="col-xs-4">
										<span>Gross Weight (LBS)</span>
										<h6>{{documentDetail.grossWeightInPound | number:3}}</h6>
									</div>
									<div class="col-xs-4">
										<span>Volume Weight (KG)</span>
										<h6>{{documentDetail.volumeWeight | number:3}}</h6>
									</div>

								</div>
								<!--<div class="flex align-justify align-middle">
                                    <div>
                                        <span>Gross Weight (Pounds)</span>
                                        <h6>165.00</h6>
                                    </div>
                                    <div>
                                        <span>Volume Weight (Pounds)</span>
                                        <h6>-</h6>
                                    </div>
                                </div>-->
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-4">
										<span>Volume Weight (LBS)</span>
										<h6>{{documentDetail.volumeWeightInPound | number:3}}</h6>
									</div>
									<div class="col-xs-4">
										<span>Chargeable Weight (KG)</span>
										<h6>{{documentDetail.chargebleWeight | number:3}}</h6>
									</div>

								</div>
								<!--<div class="flex align-justify align-middle">
                                    <div>
                                        <span>Gross Weight (KG)</span>
                                        <h6>165.00</h6>
                                    </div>
                                    <div>
                                        <span>Volume Weight (KG)</span>
                                        <h6>114.00</h6>
                                    </div>
                                    <div>
                                        <span>Chargeable Weight (KG)</span>
                                        <h6>307.00</h6>
                                    </div>
                                </div>-->
							</li>
						</ul>
					</div>
					<div class="col-xs-6 ptb-15">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="flex align-justify align-middle">
									<div>
										<span>Carrier</span>
										<h6>
										<img ng-show="documentDetail.carrier.image!=null"  data-ng-src="data:image/png;base64,{{documentDetail.carrier.image}}" width="20" height="20">
										{{documentDetail.carrier!=null?documentDetail.carrier.carrierName:'-'}}</h6>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-4">
										<span>Flight No</span>
										<h6>{{documentDetail.routeNo}}</h6>
									</div>
									<div class="col-xs-4">
										<span>MAWB No</span>
										<h6>{{documentDetail.mawbNo!=null?documentDetail.mawbNo:'-'}}</h6>
									</div>
								</div>
								<!--<div class="flex align-justify align-middle">
                                    <div>
                                        <span>Flight No</span>
                                        <h6>-</h6>
                                    </div>
                                    <div>
                                        <span>MAWB No</span>
                                        <h6>-</h6>
                                    </div>
                                </div>-->
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-4">
										<span>ETD</span>
										<h6>{{documentDetail.etd!=null?dateToString(documentDetail.etd):'-'}}</h6>
									</div>
									<div class="col-xs-4">
										<span>ETA</span>
										<h6>{{documentDetail.eta!=null?dateToString(documentDetail.eta):'-'}}</h6>
									</div>
								</div>
								<!--<div class="flex align-justify align-middle">
                                    <div>
                                        <span>ETD</span>
                                        <h6>-</h6>
                                    </div>
                                    <div>
                                        <span>ETA</span>
                                        <h6>-</h6>
                                    </div>
                                </div>-->
							</li>
						</ul>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-12" ng-show="documentDetail.dimensionList!=null && documentDetail.dimensionList.length!=0">
						<table class="table table-hover tab-width tfoot-bor0 table-default tab-col-bg"  >
							<thead>
							<tr>
								<th class="text-center">#</th>
								<th class="text-right" >No of Pieces</th>
								<th class="text-right">Length ({{documentDetail.dimensionUnit?'in':'cm'}})</th>
								<th class="text-right">Width ({{documentDetail.dimensionUnit?'in':'cm'}})</th>
								<th class="text-right">Height ({{documentDetail.dimensionUnit?'in':'cm'}})</th>
								<th class="text-right">Volume Weight (KG)</th>
								<th class="text-right">Gross Weight({{documentDetail.dimensionUnit?'LBS':'KG'}})</th>
								<th class="text-right" ng-show="documentDetail.dimensionUnit">Gross Weight (KG)</th>

							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="dimensionObj in documentDetail.dimensionList">
								<td class="text-center">{{serialNo($index)}}</td>
								<td class="text-right">{{dimensionObj.noOfPiece}}</td>
								<td class="text-right">{{dimensionObj.length}}</td>
								<td class="text-right">{{dimensionObj.width}}</td>
								<td class="text-right">{{dimensionObj.height}}</td>
								<td class="text-right">{{dimensionObj.volWeight | number:3}}</td>
								<td class="text-right">{{dimensionObj.grossWeight | number:3}}</td>
								<td class="text-right" ng-show="documentDetail.dimensionUnit">{{dimensionObj.grossWeightKg | number:3}}</td>
							</tr>
							</tbody>
							<tfoot class="bg-danger">
							<tr>
								<td class="text-right">Total</td>
								<td class="text-right">{{documentDetail.noOfPieces}}</td>
								<td></td>
								<td></td>
								<td></td>
								<td class="text-right">{{documentDetail.volumeWeight | number:3}}</td>
								<td class="text-right">{{documentDetail.dimensionUnit!='INCHORPOUNDS'?documentDetail.grossWeight:documentDetail.grossWeightInPound | number:3}}</td>
								<td class="text-right" ng-show="documentDetail.dimensionUnit">{{documentDetail.grossWeight | number:3}}</td>
							</tr>
							</tfoot>
						</table>
					</div>
					<empty-record ng-show="!documentDetail.dimensionList || documentDetail.dimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>
				</div>
				<div class="row">
					<div class="col-xs-12 mt-15">
						<span>Handling Information</span>
						<h6><span></span>{{documentDetail.handlingInformation!=null?documentDetail.handlingInformation:'-'}}</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 bor-r-1">
						<span>Accounting Information</span>
						<p>{{documentDetail.accoutingInformation!=null?documentDetail.accoutingInformation:'-'}}</p>
						<p></p>
						<p></p>
					</div>
					<div class="col-xs-6">
						<div class="flex flex-col align-justify">
							<div>
								<span>Commodity Description</span>
								<p>{{documentDetail.commodityDescription!=null?documentDetail.commodityDescription:'-'}}</p>
							</div>
							<div>
								<span>Marks & No</span>
								<p>{{documentDetail.marksAndNo!=null?documentDetail.marksAndNo:'-'}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 bor-r-1">
						<div class="flex-row">
							<div class="col-xs-4">
								<span>HAWB Received On</span>
								<h6>{{dateToString(documentDetail.hawbReceivedOn)}}</h6>
							</div>
							<div class="col-xs-4">
								<span>HAWB Received By</span>
								<h6>{{documentDetail.hawbReceivedBy.employeeName}}</h6>
							</div>
							<div class="col-xs-4"></div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="flex align-justify">
							<div>
								<span>Rate Class</span>
								<h6>{{documentDetail.rateClass!=null?documentDetail.rateClass:''}}</h6>
							</div>
							<!--<div>
                                <span>Service Code</span>
                                <h6>CFS/CY</h6>
                            </div>-->
						</div>
					</div>
				</div>
			</div><!--body ends-->
		</div><!--row ends-->


		<awb-report></awb-report>
	</div>
</div>
