<div class="table-responsive mb-15" ng-show="shipmentServiceDetail.eventList.length>0">
    <table class="table table-inline" >
        <thead >
        <th class="inl_sno">#</th>
        <th class="inl_l">Name</th>
        <th class="inl_s">Date</th>
        <th class="inl_s">Follow up Required</th>
        <th class="inl_m">Assigned To</th>
        <th class="inl_s">Follow up Date</th>
        <th class="inl_s">Completed</th>
        </thead>
        <tbody>
        <tr ng-repeat="shipmentServiceEvent in shipmentServiceDetail.eventList track by $index">
            <td>{{serialNo($index)}}</td>
            <td>{{shipmentServiceEvent.eventMaster.eventName}}</td>
            <td>{{dateToString(shipmentServiceEvent.eventDate)}}</td>
            <td>{{shipmentServiceEvent.followUpRequired}}</td>
            <td>{{shipmentServiceEvent.assignedTo.employeeName}}</td>
            <td>{{dateToString(shipmentServiceEvent.followUpDate)}}</td>
            <td>{{shipmentServiceEvent.isCompleted}}</td>

        </tr>
        </tbody>
    </table>
</div>
<empty-record ng-show="!shipmentServiceDetail.eventList || shipmentServiceDetail.eventList.length==0" icon="event" text="Looks like there are no event records here"></empty-record>