<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Get Cost from Service</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            <li><button type="button" tabindex="4" class="btn btn-primary btn-xs btn-property accent-btn">Save</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="">Filter by Service ID</label>
                                <input type="email" class="form-control" id="" style="margin-left: 10px">
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 mt-15">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th class="text-center">
                                        <div class="checkbox nomargin t-8">
                                            <label><input type="checkbox" value=""></label>
                                        </div>
                                    </th>
                                    <th>#</th>
                                    <th>Service ID</th>
                                    <th>Charge Code</th>
                                    <th>Charge Name</th>
                                    <th>Currency ​​​​​​​Code</th>
                                    <th class="text-right">ROE</th>
                                    <th class="text-right">No of Units</th>
                                    <th class="text-right">Amt per Unit</th>
                                    <th class="text-right">Amount</th>
                                    <th class="text-right">Amount (INR)</th>
                                    <th>{{appMasterData['Party_Label']}} Code</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="checkbox nomargin">
                                                <label><input type="checkbox" value=""></label>
                                            </div>
                                        </td>
                                        <td>1</td>
                                        <td class="text-blue cur-pointer">2132123</td>
                                        <td>FRT</td>
                                        <td>FREIGHT CHARGE</td>
                                        <td>INR</td>
                                        <td class="text-right">1.0000000</td>
                                        <td class="text-right">1</td>
                                        <td class="text-right">4400.00</td>
                                        <td class="text-right">4400.00</td>
                                        <td class="text-right">4400.00</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
