
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header flexTitle">
                <div>
                    <h4>Copy Shipment</h4>
                </div>
                <div>
                    <div class="btngrp">
                        <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()" tabindex="-1">Close</button>
                        <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="shipmentCopy(tmpObject,copyShipmentSearchResult);" id="copyButton" tabindex="-1">Copy</button>
                    </div>
                </div>
            </div>
            <div class="modal-body fgmb0 nopadding" style="min-height: 300px">
                <div class="row ptb-15 nomargin">
                    <div class="col-xs-12">
                        <span><span class="reqColor">*</span> Indicates Mandatory Fields</span>
                    </div>
                </div>
                <div class="row nomargin ptb-15 bg-lblue">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>service<span>*</span></label>
                            
                            <div class="select-auto">	
                                     <input type="text" class="form-control" id="copy_shipment_service" 
										input-focus="{{errorMap.get('copyShipment.service')!=null}}" 
										autocomplete="off" ng-model="copyShipment.service" 
										uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="copyShipmentSearch_selectedService('copy_shipment_party')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
							</div>
							<span class="error-message" style="color: red;" ng-show="errorMap.get('copyShipment.service')!=null">
								<small>{{errorMap.get('copyShipment.service')}}</small>
							</span>
                        </div>
                    </div>
                    <div class="col-xs-3 plr0">
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="form-group">
                                    <label>{{appMasterData['Party_Label']}}<span>*</span></label>
                                 	<div class="select-auto">
									<input type="text" class="form-control" id="copy_shipment_party" 
										input-focus="{{errorMap.get('copyShipment.party')!=null}}" 
										autocomplete="off" ng-model="copyShipment.party" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxShipmentPartyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="copyShipmentSearch_selectedParty('searchButton')"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
								</div>

									<span class="error-message" ng-show="errorMap.get('copyShipment.party')!=null">
										<small>{{errorMap.get('copyShipment.party')}}</small>
									</span>
                                </div>
                            </div>
                            <div class="col-xs-2 pl0 mt-25" ng-hide = "true">
                                <a href="javascript:void(0)" class="selectPicker-sm"
                                   data-container="false" 
                                   data-placement="auto right" 
                                     bs-tooltip="edit" tabindex="-1">
                                    <i class="icon-edit"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="btn btn-property color-white green-btn" style="position:relative; top: 22px; min-width: 80px;" ng-click="copyShipment_search()" id="searchButton">Search</button>
                    </div>
                </div>

                <div class="row nomargin">
                    <div class="col-xs-12 ptb-15" style="height:300px; min-height: 300px; overflow-y: auto" ng-init="tablepreloader=true">
                        <div class="table-responsive" >
                            <table class="table table-inline"><!--when select service in Air Export show Below table -->
                                <thead>
                                    <tr>
                                        <th  width="20px; min-width:20px;"></th>
                                        <th class="inl_s">Origin</th>
                                        <th class="inl_s">Destination</th>
                                        <th class="inl_s">Shipper</th>
                                        <th class="inl_s">Consignee</th>
                                        <th class="inl_s">Terms of Shipment</th>
                                        <th class="inl_s">Shipment ID</th>
                                        <th class="inl_s">Shipment Date</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="copyShipment.originName" ng-change="copyShipment_search()" >
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="copyShipment.destinationName" ng-change="copyShipment_search()" >
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="copyShipment.shipperName" ng-change="copyShipment_search()" >
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="copyShipment.consigneeName" ng-change="copyShipment_search()" >
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="copyShipment.tosName" ng-change="copyShipment_search()" >
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="copyShipment.shipmentUid" ng-change="copyShipment_search()" >
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <div class="inputBox">
                                                    <input class="form-control" datetimepicker
                                                           datetimepicker-options="{{datePickerOptions}}"
                                                           ng-model="copyShipment.shipmentDateTemp" ng-change="copyShipment_search()" >
                                                    <span class="inputIcon">
                                                    	<i class="icon-date" aria-hidden="true"></i>
                                                	</span>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    <tr ng-repeat="data in copyShipmentSearchResult"> 
                                        <td>
                                            <div class="radio nomargin" style="width: 0; height: 0;">
                                                <label>
                                                    <input type="radio"
                                                           data-ng-value="data.id"
                                                           data-ng-model="$parent.tmpObject" 
                                                           style="margin-left: -21px"></label>
                                            </div>
                                        </td>
                                        <td>{{data.originName}} </td>
                                        <td>{{data.destinationName}}</td>
                                        <td>{{data.shipperName}}</td>
                                        <td>{{data.consigneeName}}</td>
                                        <td>{{data.tosName}}</td>
                                        <td>{{data.shipmentUid}}</td>
                                        <td>{{dateToString(data.shipmentDate)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-12 ptb-15">
                        <div class="pull-left">
                            <ul class="list-inline">
                                <li>Show</li>
                                <li>
                                    <select class="form-control legend-show-ctrl" 
                                    		ng-model="copyShipmentLimit"
                                            ng-change="copyShipmentLimitChange(copyShipmentLimit)" 
                                            ng-options="v for v in copyShipmentLimitArray" tabindex="-1">
                                    </select>
                                </li>
                                <li>Entries</li>
                            </ul>
                        </div>
                        <div class="pull-right text-right">
                            <pagination-dr  page="copyShipmentPage" 
                            				size="copyShipmentLimit" 
                            				total="copyShipmentTotalRecord" 
                            				page-change="copyShipmentChangePage(param)" 
                            				class="pull-right" ></pagination-dr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>