<style>
.pointer {
	cursor: pointer;
}
</style>
<div class="modal reportpopup page-style" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog" style="width: 80%;">
		<div class="modal-content pb-15">
			<div class="modal-header">
				<div class="title">
					<div class="flex align-justify align-middle minH-40">
						<div>
							<h4>Route Map</h4>
						</div>
						<div>
							<button type="button"
								class="btn btn-primary btn-xs btn-property cancel-btn"
								ng-click="$hide()">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body ptb0">
				<div class="row">
					<div style="width: 100%; float: left; height: 400px;">

						<ng-map zoom="14" center="Chennai" style="height:90%"> <directions
							draggable="true" panel="directions-panel" travel-mode="DRIVING"
							origin="Chennai" destination="Dharmapuri"> </directions> </ng-map>
							{{sourceMapPlace}} to {{destinationMapPlace}}
						<!-- Directions path length:
						{{map.directionsRenderers[0].directions.routes[0].overview_path.length}} -->
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

