<style>
	.pointer {
	    cursor: pointer;
	}
</style>

<div class="modal reportpopup page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:45%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title">
                    <div class="flex align-justify align-middle minH-40">
                        <div>
                            <h4>HAWB Report</h4>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body ptb0">
                <div class="row">
                    <div class="col-xs-12 bg-lgray ptb-15">
                        <h5></h5>
                        <button-group btn-index="3"
                                      states="generate.hawbTypeArr"
                                      state="generate.type"
                                      ng-click="hawbReport(reportDocumentDetail.id, generate.type)"
                                      >
                        </button-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

