<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rel">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Description</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="9" ng-blur="cancelGenerate()" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            <li><button type="button" tabindex="9" ng-blur="cancelGenerate()" class="btn btn-primary btn-xs btn-property cancel-btn">Save</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control minH-140"></textarea>
                </div>
            </div>
            <modal-spinner spinner-status="popup.spinner"></modal-spinner>
        </div>
    </div>
</div>
