<div ng-repeat="shipmentServiceDetail in shipment.shipmentServiceList track by $index">
<div class="row nomargin">
    <div class="col-xs-6 mt10">
        <span>Transporter</span>
        <h4>{{shipmentServiceDetail.pickUpDeliveryPoint.transporter.partyName}}</h4>
    </div>
    <div class="col-xs-6 mt10">
        <span>Address</span>
        <h6>{{shipmentServiceDetail.pickUpDeliveryPoint.transporterAddress}}</h6>
    </div>
</div>

<div class="row nomargin" ng-click="pickup=!pickup" ng-init="pickup=false">
    <div class="flex align-middle align-justify title cursorPt">
        <div>
            <h5 class="text-inherit">Pick Up</h5>{{shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp?'Yes':'No'}}
        </div>
        <div>
            <i class="{{pickup==true?'icon-uparrow':'icon-downarrow'}}" ></i>
        </div>
    </div>
</div>

<div class="row nomargin" ng-hide="!pickup">
   <div class="col-xs-12 mb-15">
       <div class="row nomargin detail-panel">
           <div class="borderBX">
               <div class="col-xs-4">
                   <div class="fluidBx flex flex-col align-justify">
                       <div>
                           <span>Pick Up Point</span>
                           <h6>{{shipmentServiceDetail.pickUpDeliveryPoint.pickupPoint.partyName}}</h6>
                       </div>
                       <div>
                           <span>Pick Up From</span>
                           <h6>{{shipmentServiceDetail.pickUpDeliveryPoint.pickupFrom.portName}}</h6>
                       </div>
                   </div>
               </div>
           </div>
           <div class="borderBx">
               <div class="col-xs-4"  style="border-right: 1px solid rgba(255, 255, 255, 0.12)">
                   <div class="fluidBx flex flex-col">
                       <div>
                           <span>Pick Up Place</span>
                           <address class="mb0 mt10">
                               <ul class="list-unstyled">
                                   <li>{{shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace}}</li>
                                   <li></li>
                                   <li></li>
                                   <li></li>
                               </ul>
                           </address>
                       </div>
                   </div>
               </div>
           </div>
           <div class="borderBx">
               <div class="col-xs-4">
                   <div class="fluidBx flex flex-col">
                       <span>Contact Person</span>
                       <ul class="list-unstyled mt10">
                           <li><i class="icon-user pr8"></i>{{shipmentServiceDetail.pickUpDeliveryPoint.pickUpContactPerson}} </li>
                           <li><i class="icon-mobile pr8"></i>{{shipmentServiceDetail.pickUpDeliveryPoint.pickUpMobileNo}}</li>
                           <li><i class="icon-phone pr8"></i>{{shipmentServiceDetail.pickUpDeliveryPoint.pickUpPhoneNo}} </li>
                           <li><i class="icon-email pr8"></i> {{shipmentServiceDetail.pickUpDeliveryPoint.pickUpEmail}}</li>
                           <li></li>
                       </ul>
                   </div>
               </div>
           </div>
       </div><!--row ends-->
       <div class="row nomargin detail-panel brad-0 pb-15">
           <div class="col-xs-4">
               <div class="fluidBx flex align-justify align-middle height-auto">
                   <div>
                       <span>Pick Up Followup</span>
                       <h6><span>{{shipmentServiceDetail.pickUpDeliveryPoint.pickUpFollowUp}}</span></h6>
                   </div>
                   <div>
                       <span>Planned Pick Up</span>
                       <h6> <span>{{shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlanned}}</span></h6>
                   </div>
               </div>
           </div>
           <div class="col-xs-4">
               <div class="fluidBx flex flex-col height-auto">
                   <span>Actual Pick Up</span>
                   <h6> <span>{{shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual}}</span></h6>
               </div>
           </div>
       </div>
   </div>
</div><!--Pickup  ends-->


</div>