<div class="container-fluid">
<div class="row nomargin">

         <div class="col-xs-12 mb-15">
            <button type="button" class="btn btn-property accent-btn" ng-click="provisionalObj.id==null?addNewProvisionalFromShipment(shipmentServiceDetail):editNewProvisionalFromShipment(provisionalObj,shipmentServiceDetail)"><i class="icon-add opcfull"></i>{{provisionalObj.id!=null?'edit provision':'add Provision'}}</button>
        </div>
</div>

    <div class="row nomargin">
        <div class="col-xs-12">
            <div class="table-responsive mb-15" ng-show="provisionalObj.provisionalItemList.length>0">
                <table class="table tab-border tab-width table-default mb0 " style="width: 1300px">
                    <thead>
                    <tr>
                        <th rowspan="2" class="text-center inl_sno">#</th>
                        <th rowspan="2" class="inl_s">Service ID</th>
                        <!--<th rowspan="2" class="w150px">Charge</th>-->
                        <th rowspan="2" class="inl_l" style=" padding-left: 5px !important; padding-right: 5px !important;">Charge</th>
                        <th rowspan="2" class="inl_xs" style="padding-left: 5px !important; padding-right: 5px !important;">Unit</th>
                        <th rowspan="2" class="text-righ inl_xs" style="padding-left: 5px !important; padding-right: 5px !important;">No of Units</th>
                        <th colspan="6" class="text-center"><b>Sell</b></th>
                        <th colspan="6" class="text-center"><b>Buy</b></th>
                        <th rowspan="2" class="inl_xs" style="padding-left: 7px !important;">More</th>


                    </tr>
                    <tr>
                        <th colspan="1" title="Currency" style="padding-left: 5px !important; padding-right: 5px !important;">Curr</th>
                        <th colspan="1" class="text-right inl_m">ROE</th>
                        <th colspan="1" class="text-right inl_m">Amt / Unit	</th>
                        <th colspan="1" class="text-right inl_m">Amount</th>
                        <th colspan="1" class="text-right inl_m">Amount ({{provisionalObj.localCurrency.currencyCode}})</th>
                        <!--<th colspan="1" class="w200px">Bill to {{appMasterData['Party_Label']}}</th>
                        <th colspan="1" title="Description" class="inl_s">Desc.</th>-->
                        <th colspan="1" class="inl_s" style="padding-left: 7px !important;">Taxable</th>
                        <th colspan="1" title="Currency Code" style="padding-left: 5px !important; padding-right: 5px !important;">Curr</th>
                        <th colspan="1" class="text-right inl_s">ROE</th>
                        <th colspan="1" class="text-right inl_m">Amt / Unit</th>
                        <th colspan="1" class="text-right inl_m">Amount</th>
                        <th colspan="1" class="text-right inl_m">Amount ({{provisionalObj.localCurrency.currencyCode}})</th>
                        <!--<th colspan="1" class="inl-m">Vendor Subledger</th>
                        <th colspan="1" title="Description" class="inl_s">Desc.</th>-->
                        <th colspan="1" class="inl_sm">Plus / Minus</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat = "provisionalItem in provisionalObj.provisionalItemList track by $index">

                        <td class="text-center">{{$index+1}}</td>
                        
					<td><a ng-click="provisionalItem.serviceUid!=null?goToShipmentService(provisionalItem.shipmentService.shipmentUid):goToConsol(provisionalObj.masterUid)"
						class="hyperLink mb0">
							{{provisionalItem.serviceUid!=null?provisionalItem.serviceUid:provisionalObj.masterUid}}</a>
					</td>
                         <td style=" padding-left: 5px !important; padding-right: 5px !important;">{{provisionalItem.chargeMaster.chargeName}}</td>
                        <td style="padding-left: 5px !important; padding-right: 5px !important;">{{provisionalItem.unitMaster.unitCode}}</td>
                        <td class="text-right" style=" padding-left: 5px !important; padding-right: 5px !important;">{{weightFormat(provisionalItem.noOfUnits,provisionalItem.shipmentService.country.locale)}}</td>
                        <td class="text-left" style=" padding-left: 5px !important; padding-right: 5px !important;"> {{provisionalItem.sellCurrency.currencyCode}} </td>
                        <td class="text-right">{{currencyRoeFormat(provisionalObj.localCurrency,provisionalItem.sellRoe)}}</td>
                        <td class="text-right">{{currencyFormat(provisionalItem.sellCurrency,provisionalItem.sellAmountPerUnit)}}</td>
                                <td class="text-right">{{currencyFormat(provisionalItem.sellCurrency,provisionalItem.sellAmount)}}</td>
                                <td class="text-right">{{currencyFormat(provisionalObj.localCurrency,provisionalItem.sellLocalAmount)}}</td>
                        <!--<td></td>
                        <td class="text-center">
                            <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="notesmodel()"></span>
                        </td>-->
                        <!-- <td class="text-center">
                            <div class="checkbox nomargin">
                                <label><input type="checkbox" ng-model="provisionalItem.isTaxable" value="provisionalItem.isTaxable" ng-disabled = "true"></label>
                            </div>
                        </td> -->
                        <td class="text-center">{{provisionalItem.isTaxable==true || provisionalItem.isTaxable=='true'?'Yes':'No'}}</td>
                        <td style=" padding-left: 5px !important; padding-right: 5px !important;">{{provisionalItem.buyCurrency.currencyCode}}</td>
                        <td class="text-right">{{currencyRoeFormat(provisionalObj.localCurrency,provisionalItem.buyRoe)}}</td>
                                    <td class="text-right"> {{currencyFormat(provisionalItem.buyCurrency,provisionalItem.buyAmountPerUnit)}}</td>
                                <td class="text-right">{{currencyFormat(provisionalItem.buyCurrency,provisionalItem.buyAmount)}}</td>
                                <td class="text-right">{{currencyFormat(provisionalObj.localCurrency,provisionalItem.buyLocalAmount)}}</td>
                        <!--<td></td>
                        <td class="text-center">
                            <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="notesmodel()"></span>
                        </td>-->
                        <td class="text-center">{{provisionalItem.plusMinus}}</td>
                        <td class="text-center">
                            <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="refmodel(provisionalItem)"></span>
                        </td>
                        <!--<td>
                            324663434576
                        </td>-->

                    </tr>




                    
                    </tbody>
                </table>
            </div>
           <efs-spinner spinner-status="provisionSpinner"></efs-spinner>
            <empty-record ng-show="!provisionalObj.provisionalItemList || provisionalObj.provisionalItemList.length==0" icon="provisional" text="Looks like there are no provisional records here"></empty-record>
        </div>
    </div>
    <div class="row nomargin" ng-show="provisionalObj.provisionalItemList.length>0">
        <div class="col-xs-3">
            <div class="sm-inline-box" >
                <div>Total Revenue</div>
                <div>{{currencyFormat(provisionalObj.localCurrency,provisionalObj.totalRevenue)}} <span>{{provisionalObj.localCurrency.currencyCode}}</span></div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="sm-inline-box" >
                <div>Total Cost</div>
                <div>{{currencyFormat(provisionalObj.localCurrency,provisionalObj.totalCost)}} <span>{{provisionalObj.localCurrency.currencyCode}}</span></div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="sm-inline-box">
                <div>Net</div>
                <div>{{currencyFormat(provisionalObj.localCurrency,provisionalObj.netAmount)}} <span>{{provisionalObj.localCurrency.currencyCode}}</span></div>
            </div>
        </div>
    </div>
</div>
