<div class="row nomargin">
	<!--<div class="col-xs-4 mt10">-->
		<!--<span>Quotation No</span>-->
		<!--<h6 class="text-underline"><a ng-click="goToQuotationView(shipmentServiceDetail.quotationUid)" href="javascript:void(0)" class=" hyperLink text-blue">{{shipmentServiceDetail.quotationUid!=null?shipmentServiceDetail.quotationUid:'-'}}-->
	<!--</a></h6>-->
	<!--</div>-->
	<div class="col-xs-4 mt10"
		ng-if="dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Party')==true || dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Party')=='true'">
		<span>Brokerage {{appMasterData['Party_Label']}}</span>
		<h6>{{shipmentServiceDetail.brokerageParty!=null?shipmentServiceDetail.brokerageParty.partyName:'-'}}</h6>
	</div>
	<div class="col-xs-4 mt10"
		ng-if="dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Percentage')==true || dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Percentage')=='true'">
		<span>Brokerage Percentage</span>
		<h6>{{shipmentServiceDetail.brokeragePercentage!=null?shipmentServiceDetail.brokeragePercentage:'-'}}</h6>
	</div>
	<div class="row">
	<div class="col-md-12">
<label>All Inclusive</label><br>
<span>{{shipmentServiceDetail.isAllInclusiveCharges==true?'Yes':'No'}}</span></div>
</div>
</div>
<div class="table-responsive " ng-show="shipmentServiceDetail.shipmentChargeList.length>0">
	<table class="table table-inline mb0">
		<thead class="borderthead">
			<tr>
				<th rowspan="2" class="inl_xs">#</th>
				<th rowspan="2" class="inl_s">Charge Code</th>
				<th rowspan="2" class="inl_m">Charge Name</th>
				<th rowspan="2" class="inl_s">PP/CC</th>
				<th rowspan="2" class="inl_s">Unit</th>
				<th rowspan="2" class="inl_s">No of Units</th>
				<th colspan="3" class="text-center bor-b-0" ng-show="!rateMerged"><b>Client Gross Rate</b></th>
				<th colspan="3" class="text-center bor-b-0" ng-show="!rateMerged"><b>Client Net Rate</b></th>
				<th colspan="3" class="text-center bor-b-0" ng-show="!rateMerged"><b>{{shipmentServiceDetail.serviceMaster.importExport=='Export'?'Declared Cost':'Declared Sell'}}</b></th>
				<th colspan="3" class="text-center bor-b-0" ng-show="rateMerged"><b>Sell</b></th>
				<th colspan="3" class="text-center bor-b-0"><b>Cost</b></th>
				<th rowspan="2" class="inl_s" >Vendor</th>
				<th rowspan="2" ng-if="shipmentServiceDetail.serviceMaster.importExport=='Export'" class="inl_s">Due</th>
				<th rowspan="2" class="inl_s">Actual Weight</th>
				<th rowspan="2" class="inl_xs">Note</th>
				<th rowspan="2" class="inl_s" ng-hide="showRateEdit" >Action</th>
			</tr>
			<tr>
				<th colspan="1" class="inl_xs" ng-show="!rateMerged">Curr</th>
				<th colspan="1" class="text-right inl_mp" ng-show="!rateMerged">Amt per Unit</th>
				<th colspan="1" class="text-right inl_mp" ng-show="!rateMerged">Min Amount</th>
				<th colspan="1" class="inl_xs" ng-show="!rateMerged">Curr</th>
				<th colspan="1" class="text-right inl_mp" ng-show="!rateMerged">Amt per Unit</th>
				<th colspan="1" class="text-right inl_mp" ng-show="!rateMerged">Min Amount</th>
				<th colspan="1" class="inl_xs" ng-show="!rateMerged">Curr</th>
				<th colspan="1" class="text-right inl_mp" ng-show="!rateMerged">Amt per Unit</th>
				<th colspan="1" class="text-right inl_mp" ng-show="!rateMerged">Min Amount</th>
				<th colspan="1" class="inl_xs" ng-show="rateMerged">Curr</th>
				<th colspan="1" class="text-right inl_mp" ng-show="rateMerged">Amt per Unit</th>
				<th colspan="1" class="text-right inl_mp" ng-show="rateMerged">Min Amount</th>
				<th colspan="1" class="inl_xs">Curr</th>
				<th colspan="1" class="text-right inl_mp">Amt per Unit</th>
				<th colspan="1" class="text-right inl_mp">Min Amount</th>
			</tr>
		</thead>
		<tbody
				ng-repeat="charge in shipmentServiceDetail.shipmentChargeList track by $index">
			<tr>
				<td>{{$index+1}}</td>
				<td>{{charge.chargeMaster.chargeCode}}</td>
				<td>{{charge.chargeName}}</td>
				<td>{{charge.ppcc}}</td>
				<td>{{charge.unitMaster.unitName}}</td>
				<td>{{charge.numberOfUnit}}</td>
				<td ng-show="!rateMerged">{{charge.grossSaleCurrency.currencyCode}}</td>
				<td class="text-right" ng-show="!rateMerged">{{currencyFormat(charge.grossSaleCurrency,charge.grossSaleAmount)}}</td>
				<td class="text-right" ng-show="!rateMerged">{{currencyFormat(charge.grossSaleCurrency,charge.grossSaleMinimum)}}</td>
				<td ng-show="!rateMerged">{{charge.netSaleCurrency.currencyCode}}</td>
				<td class="text-right" ng-show="!rateMerged">{{currencyFormat(charge.netSaleCurrency,charge.netSaleAmount)}}</td>
				<td class="text-right" ng-show="!rateMerged">{{currencyFormat(charge.netSaleCurrency,charge.netSaleMinimum)}}</td>
				<td ng-show="!rateMerged">{{charge.declaredSaleCurrency.currencyCode}}</td>
				<td class="text-right" ng-show="!rateMerged">{{currencyFormat(charge.declaredSaleCurrency,charge.declaredSaleAmount)}}</td>
				<td class="text-right" ng-show="!rateMerged">{{currencyFormat(charge.declaredSaleCurrency,charge.declaredSaleMinimum)}}</td>
				<td ng-show="rateMerged">{{charge.rateCurrency.currencyCode}}</td>
				<td class="text-right" ng-show="rateMerged">{{currencyFormat(charge.rateCurrency,charge.rateAmount)}}</td>
				<td class="text-right" ng-show="rateMerged">{{currencyFormat(charge.rateCurrency,charge.rateMinimum)}}</td>
				<td>{{charge.costCurrency.currencyCode}}</td>
				<td class="text-right">{{currencyFormat(charge.costCurrency,charge.costAmount)}}</td>
				<td class="text-right">{{currencyFormat(charge.costCurrency,charge.costMinimum)}}</td>
				<td >{{charge.vendor.partyCode}}</td>
				<td  ng-if="shipmentServiceDetail.serviceMaster.importExport=='Export'">{{charge.due}}</td>
				<td>{{charge.actualChargeable | chargeType}}</td>
				<td>
				<a href="javascript:;" data-placement="top-right" data-content="{{charge.note}}" 
				data-container="body" data-trigger="focus" data-viewport="{ selector: 'body', padding: 0 }" 
				 bs-popover><i class="fa fa-file-o" aria-hidden="false"></i>
                        </a>
				</td>
				 <td class="pad-25" ng-hide="showRateEdit">
					<ul class="list-inline">
						<li class="cursorPt"><a
								data-placement="left"   bs-tooltip="edit"
							href="javascript:void(0);" ng-click="editRate($index)"><i
								class="icon-edit"></i></a></li>
						<li class="cursorPt"><a data-placement="left"   bs-tooltip="delete"
							href="javascript:void(0);" ng-click="deleteRate($index)"><i
								class="fa fa-trash"></i></a></li>
					</ul>
				</td> 


			</tr>

		</tbody>
		
	</table>
	<empty-record ng-show="!shipmentServiceDetail.shipmentChargeList || shipmentServiceDetail.shipmentChargeList.length==0" icon="charge" text="Looks like there are no charge records here"></empty-record>
</div>
<input type="button" ng-hide="true"
	   class="btn btn-primary btn-xs btn-property accent-btn mb-10 pull-right"
	   value="Total in Local Amount"
	   ng-click="viewRate(shipmentServiceDetail)"/>
<empty-record ng-show="!shipmentServiceDetail.shipmentChargeList || shipmentServiceDetail.shipmentChargeList.length==0" icon="rate" text="Looks like there are no Charge records here"></empty-record>
<script type="text/ng-template" id="viewlocalRate.html">
	<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header nopadding ">
					<div class="row plr14px">
						<div class="col-xs-6"> 
							<h4>Rate Total ( Local Amount )</h4>
						</div>
						<div class="col-xs-6 mt-7">
							<ul class="list-inline pull-right">
								<li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button> </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="modal-body" style="padding:22px !important;" >
					<table class="table table-hover">
						<tbody>
						<tr ng-show="rateMerged==false">
							<td>Client Gross Rate</td>
							<td class="text-right" >{{clientGrossRate}} {{localCurrency}}</td>
						</tr>
						<tr ng-show="rateMerged==false">
							<td>Client Net Rate</td>
							<td class="text-right" >{{clientNetRate}} {{localCurrency}}</td>
						</tr>
						<tr ng-show="rateMerged==false">
							<td>Declared Cost</td>
							<td class="text-right" >{{declaredCost}} {{localCurrency}}</td>
						</tr>
						<tr ng-show="rateMerged==true">
							<td>Rate</td>
							<td class="text-right" >{{rate}} {{localCurrency}}</td>
						</tr>
						<tr>
							<td>Cost</td>
							<td class="text-right">{{cost}} {{localCurrency}}</td>
						</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</script>