
<div class="col-xs-8 " ng-show="shipmentServiceDetail.referenceList.length>0">
	<div class="table-responsive mtb-15" >
		<table class="table table-inline">
			<thead>
				<th class="inl_sno">#</th>
				<th class="inl_m">Reference Type</th>
				<th class="inl_m">Reference No</th>
				<th class="inl_s">Note</th>
			</thead>
			<tbody >
				  <tr ng-repeat="reference in shipmentServiceDetail.referenceList track by $index">
					<td>{{$index + 1}}</td>
					<td>{{reference.referenceTypeMaster.referenceTypeName}}</td>
					<td>{{reference.referenceNumber}}</td>
					<td>
						<a href="javascript:;" data-animation="am-fade" data-placement="top-right" data-content="{{reference.referenceNotes}}"
						   data-container="body" data-trigger="focus" data-viewport="{ selector: 'body', padding: 0 }"
						   bs-popover><i class="fa fa-file-o" aria-hidden="false"></i>
						</a>
						<!--<a href="javascript:;" data-placement="top-left" data-container="body" data-content="{{reference.referenceNotes}}" data-trigger="click" bs-popove >
							<span class="icon-notes"></span>
						</a>-->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="col-xs-12" ng-show="!shipmentServiceDetail.referenceList || shipmentServiceDetail.referenceList.length==0">
	<empty-record  icon="reference" text="Looks like there are no reference records here"></empty-record>
</div>