<style>
	.pointer {
	    cursor: pointer;
	}
</style>

<div class="modal reportpopup page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:45%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title">
                    <div class="flex align-justify align-middle minH-40">
                        <div>
                            <h4>Generate</h4>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body ptb0">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="mb-15">Export Booking Confirmation Report in PDF, XLS, RTF</h4>
                        <div class="row">
                            <div class="col-xs-3 text-center mb-15">
                                <div  class="file-formet pointer" ng-click="changeDownloadType('PDF')" ng-class="downloadFIleType === 'PDF' ? 'active' : ''">
                                    <i class="icon-pdf" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center mb-15">
                                <div class="file-formet pointer"  ng-click="changeDownloadType('XLS')" ng-class="downloadFIleType === 'XLS' ? 'active' : ''">
                                    <i class="icon-xls" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center mb-15">
                                <div class="file-formet pointer"  ng-click="changeDownloadType('RTF')" ng-class="downloadFIleType === 'RTF' ? 'active' : ''">
                                    <i class="icon-rtf" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 bg-lgray ptb-15">
                        <h5></h5>
                        <button-group btn-index="3"
                                      states="generate.TypeArr"
                                      state="generate.type"
                                      ng-click="bookingConfirmation(documentDetail.id,generate.type)"
                                      >
                        </button-group>
                    </div>
                    <div class="col-xs-12" style="display:none;">
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="form-group mb0">
                                            <label class="control-label text-left col-sm-2 pr0">To:</label>
                                            <div class="col-sm-10 pl0">
                                                <span class="flex align-middle chips">
                                                    <div>cs@agsmovers.in</div>
                                                    <div><i class="icon-close"></i> </div>
                                                </span>
                                                <!--<input type="email" class="form-control bor-0" id="email" >-->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-group mb0">
                                            <label class="control-label text-left col-sm-2 pr0" for="cc">CC:</label>
                                            <div class="col-sm-10 pl0">
                                                <input type="email" class="form-control bor-0" id="cc">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-group mb0">
                                            <label class="control-label text-left col-sm-2 pr0" for="sub">Sub:</label>
                                            <div class="col-sm-10 pl0">
                                                <input type="email" class="form-control bor-0" id="sub" >
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item mb0">
                                        <div class="form-group">
                                            <label class="control-label text-left col-sm-2 pr0" for="message">Message:</label>
                                            <div class="col-sm-10 pl0">
                                                <textarea class="form-control bor-0 minH-74"
                                                        msd-elastic
                                                        ng-model="reportMsg"
                                                        id="message"
                                                        >
                                                </textarea>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

