<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width50per widP80per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Un-Sign Off</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                        <li>
                                <button type="button" class="btn accent-btn" >View History</button>
                         </li>
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">discard</button>
                                </li>
                            <li >
                                <button type="button" class="btn accent-btn" ng-click="saveServiceUnSignOff(serviceObject.shipmentServiceSignOff)">Un-Sign Off</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt5 pb10">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group mb0">
                            <label class="text-inherit">Shipment UID</label>
                            <input  type="text" class="form-control" ng-disabled="true" ng-model="serviceObject.shipmentServiceSignOff.shipmentUid">
                        </div>
                    </div>
                    <div class="col-xs-4"> 
                     	<div class="form-group mb0">
                            <label class="text-inherit">Service Code</label>
                            <input  type="text" class="form-control" ng-disabled="true" ng-model="serviceObject.shipmentServiceSignOff.serviceUid">
                        </div>
                    </div>
                    
                    <div class="col-xs-4">
                        <div class="form-group mb0">
                            <label class="text-inherit">Master ID</label>
                            <input  type="text" class="form-control"  ng-disabled="true"  ng-model="serviceObject.shipmentServiceSignOff.consolUid">
                        </div>
                    </div>
                </div>
				<div class="row bor-0 mt10">
					<hr class="nomargin">
				</div>
				<div class="row">
												
                    <div class="col-xs-4 mt-5">
                        <div class="form-group mb0">
                            <label class="text-inherit">Un-Sign Off By</label>
                            
							<div class="select-auto">
                                <input ng-disabled="true" type="text" class="form-control" id="serviceObject.shipmentServiceSignOff.signOffBy" 
										autocomplete="off" ng-model="serviceObject.shipmentServiceSignOff.signOffBy" 
										uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxEmployeeEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true"  typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-focus-on-select="false"
										typeahead-focus-first="false" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                            </div>
                          
                        </div>
                    </div>
                    
					<div class="col-xs-4 mt-5">
						<label>Un-Sign Off Date</label>
						<div class="inputBox">
							 <input ng-disabled="true"	 type="text" class="form-control" datetimepicker datetimepicker-options="{{dateTimePickerOptions}}" 
									id="SignOffDate" ng-model="serviceObject.shipmentServiceSignOff.signOffDate"> 
							<span class="inputIcon"> <i class="icon-date" aria-hidden="true"></i> </span>
						</div>
					</div>
					<!-- <div class="col-xs-4 col-md-4 col-lg-4 mt-5">
                         <label>Sign Off</label>
                         <ul class="list-inline">
                             <li ng-class="{'opc-5':serviceObject.shipmentServiceSignOff.isSignOff}">No</li>
                             <li class="v-align-top"><switch tabIndex="0"
                                                             id="serviceObject.shipmentServiceSignOff.isSignOff"
                                                             ng-model="serviceObject.shipmentServiceSignOff.isSignOff" class="green"></switch>
                             </li>
                             <li ng-class="{'opc-5':!serviceObject.shipmentServiceSignOff.isSignOff}">Yes</li>
                         </ul>
                     </div> -->
                </div>
                
                
               <!--  <div class="row" style="padding:9px;"></div> -->
                <div class="row">
                
                     
                     
                   
                    <div class="col-xs-4 mt-5">
                        <div class="form-group mb0">
                            <label class="text-inherit">Comment</label>
                            <div class="select-auto">
                                  <input type="text" class="form-control" id="serviceObject.shipmentServiceSignOff.commentMaster"  
										input-focus="{{errorMap.get('serviceCode')!=null}}"
										autocomplete="off" ng-model="serviceObject.shipmentServiceSignOff.commentMaster" 
										uib-typeahead="lovObject as lovObject.commentName for lovObject in ajaxCommentEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true"  typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedCommentMaster()" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="false" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                            </div>
                        </div>
                    </div>       
                </div>
                
               <!--  <div class="row" style="padding:9px;"></div> -->
                
                <div class="row nomargin">
                	<div class="col-xs-8 pl0 mt-5">
                	<label class="text-inherit">Description</label>
						<textarea msd-elastic class="form-control minH-130 elastic-htyaxisscroll txtresize"
						input-focus="true"
						id="notes" name="notes" ng-model="serviceObject.shipmentServiceSignOff.description" maxlength="4000">
                                       </textarea>
					</div>
                </div>
            </div><!--body ends-->
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->
