<div class="container-fluid resPortListPage resLandListPage">
	<div class="row ml0 mr0" data-ng-controller="sub_ledgerCtrl">
		<div ng-show="!showDetail" class="list-container col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-click="showHistory=false">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addSubledger()">
									<i class="icon-add"></i> Add Subledger
								</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
						<div show-response></div>
				<div class="panel-body edit-bodyTab" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 	data="subledgerArr"
										head="subledgerHeadArr"
										sort="sortSelection"
										click-event="hasAccess('MASTER_CHARGE_VIEW')?rowSelect(param):''"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page" size="limit" >
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit"
										ng-change="limitChange(limit)" ng-options="v for v in limit" value="10">
										

								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		
		<div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12 pl0" ng-show="showDetail" >
		
		<div class="row">
				<div class="col-xs-12 mb-5">
					<div class="flex align-justify align-middle">
						<div>
							<div class="btngrp">
								<button class="btn btn-xs btn-property btn-gray" ng-click="cancel()"><i class="icon-back-menu"></i> Back </button>
								<button class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="addSubledger()"><i class="icon-add"></i> Add Subledger</button>
							</div>
						</div>
						<!-- <div>
							<ul class="list-inline">
								<li>
									<ul class="list-inline li-p0">
										<li>{{vm.selectedRowIndex+1}}</li>
                                        <li>of</li>
                                        <li>100</li>
									</ul>
								</li>
								<li class="pr0">
									<ul class="list-inline next-prev">
										<li><i class="icon-r-arrow" aria-hidden="true" ng-click="vm.singlePageNavigation(-1)"></i></li>
										<li><i class="icon-r-arrow" aria-hidden="true" ng-click="vm.singlePageNavigation(1)"></i></li>
									</ul>
								</li>
							</ul>
						</div> -->
					</div>
				</div><!--COL ENDS-->
			</div>
			<div class="panel panel-default detail-transition" >
				<div class="panel-heading flexTitle">
					<div>
						<ul class="list-inline">
							<li>
								<span ng-click="cancel()"
								   class="list-panel-back cur-pointer">
									<i class="icon-back-menu" data-placement="bottom"   bs-tooltip="back"></i></span>
							</li>
							<li>
								<h4>View Subledger</h4>
							</li>
						</ul>
					</div>
					<div>
						<ul class="list-inline text-right">
							<!--<li><i class="icon-settings"></i></li>-->
							<li><a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"
									><i class="icon-logs" data-placement="bottom"   bs-tooltip="activity"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="editIcon" tooltip-side="bottom" href="javascript:void(0)" ng-click="addSubledger()"
								   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
							<li><a href="javascript:void(0)"
								   ng-click="hasAccess('MASTER_CHARGE_DELETE')?deleteMaster():''" class="list-panel-edit-btn cursorPt"><i
									class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body detail-body pb0" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
					<div class="detail-view">
						
						<div class="row metadata-detail bor-btm-1">
						<div class="col-xs-6 plr0 ">
								<div class="row  nopadding">
								<div class="col-xs-6 pl0">
							<span >Name</span>
							<h6>Pooja Expenses</h6>
							</div>
								<div class="col-xs-6 pl0">
							<span >Code</span>
							<h6>S000080</h6>
							</div>
							
							
							</div>
							</div>
							<div class="col-xs-6 plr0 ">
								<div class="row  nopadding">
								
								<div class="col-xs-4 pl0">
										<span >Job Account</span>
										<h6>Yes</h6>
									</div>
								<div class="col-xs-4 pl0">
										<span >Bank Account</span>
										<h6>Yes</h6>
									</div>
									<div class="col-xs-4 pl0">
										<span>Status</span>
										<show-status status="{{subledgerArr.status}}"></show-status>
									</div>
							</div>
							</div>
							</div>
							
						

						<div class="row nopadding bor-0">
							<div class="col-xs-12 nopadding">
								<ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='glmapping'">
									<li data-menu-item="charge">
										<button type="button" class="btn" ng-class="Tabs=='glmapping'?'active':'btn-normal'" ng-click="Tabs='glmapping'">Account Details</button>
									</li>
									<li data-menu-item="notes">
										<button type="button" class="btn" ng-class="Tabs=='bankDetails'?'active':'btn-normal'" ng-click="Tabs='bankDetails'">Bank Details</button>
									</li>
								</ul><!--TAB MENUS ENDS-->
								<div class="tab-content " >
									<div ng-show="Tabs=='glmapping'">
										<div class="row nopadding">
											<div class="col-xs-12 ">
												<div class="table-responsive">
													<table  class="table table-inline mb-10">
														<thead>
														<tr>
															<th class="inl_xs text-center">#</th>
															<th class="inl_l">Location</th>
															<th class="inl_l">Account Name</th>
															<th class="inl_l">Account Code</th>
															
															<th class="inl_mpp">Status</th>
														</tr>
														</thead>
														<tbody>
														<tr>
															<td class="text-center">1</td>
															<td>Chennai</td>
															<td>Bank Balance Local currency</td>
															<td >1103020004</td>
															
															<td></td>
														</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div><!--charge TAB ENDS-->

									<div ng-show="Tabs=='bankDetails'">

										<div class="row plr0 pb0 pt0	" style="padding-top: 0px !important;">
										<div class="col-xs-12 pl0 pr0">
										<div class="row">
											<div class="col-xs-6 pl0">
								<div class="row  nomargin bor-with-rad-view">
													<div class="col-xs-6 pl0 pb17">
														<span >Account No</span>
														<h6>21445787899</h6>
													</div>
													<div class="col-xs-6 pl0 pb17">
														<span>Bank Name</span>
														<h6>OBC Bank - OBC</h6>
													</div>
													
													<div class="col-xs-6 pl0 pb17">
														<span>Branch Name</span>
														<h6>Velachery</h6>
													</div>
													<div class="col-xs-6 pl0 pb17">
														<span>IFSC Code</span>
														<h6>OBC0000050</h6>
													</div>
													<div class="col-xs-6 pl0 pb17">
														<span >Multiple Credit</span>
														<h6>Yes</h6>
													</div>
													<div class="col-xs-6 pl0 pb17">
																<span >IBAN No</span>
																<h6>-</h6>
															</div>
												
												</div>
											</div>
											<div class="col-xs-6 plr0">
								<div class="row   nomargin bor-with-rad-view">
										<div class="col-xs-6 pl0">
																<span >Bank Address</span>
																<h6>123, 7th Avenue</h6>
																<h6  class="mt-5">Velachery</h6>
																<h6 class="mt-5">Chennai</h6>
															</div>
															<div class="col-xs-6 pl0">
																<span >Swift Address</span>
																<h6>4, Zuroang Street</h6>
																 <h6 class="mt-5">Andheri</h6>
																 <h6 class="mt-5">Mumbai</h6>
															</div>			
													
													
												</div>
											</div>
										</div>
										</div>
										</div>
										
										<!--notes TAB ENDS-->
								</div><!--TAB CONTENT TAB ENDS-->
							</div><!--Col ends-->
						</div><!--row ends-->
					</div>
					<div class="logs-view logs-transition width42per" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="showHistory=false"
											   class="list-panel-back"><i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
								
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="chargeMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{chargeMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(chargeMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="chargeMaster.systemTrack.lastUpdatedU"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{chargeMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(chargeMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
		
		
	<!-- <div ng-show="showDetail" ng-include="'app/components/master/sub_ledger_master/view/sub_ledger_view.html'"></div> -->
</div>
</div>
