<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-6">
            <form role="form" name="vm.generalNoteMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.generalNoteMaster.id==null?'Add General Note':'Edit General Note'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="vm.cancel(vm.generalNoteMaster.id)">
                                        Cancel
                                    </button>
 <button type="button"  class="btn accent-btn"  ng-click="vm.generalNoteMaster.id==null?vm.create():vm.update()"> {{vm.generalNoteMaster.id==null?'Save':'Update'}}</button>							
                 </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit pt0"
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>




						<div class="row">
							 <div class="col-xs-8 col-md-6 col-sm-6 pl0">
                                    <label class="custom-label">General Note Category<span>*</span></label>
                                   <select  class="form-control "  id="category" input-focus="true"
                                                            ng-class="{'error-control':errorMap.get('category')!=null}"
                                                            ng-options="item for item in enum['GeneralNoteCategory']"
                                                            ng-model="vm.generalNoteMaster.category" ng-change="vm.selectedMaster('subCategory',vm.generalNoteMaster,1);">
                                                    </select>
                                     <span class="error-message" ng-show="errorMap.get('category')!=null">
									      <small>{{errorMap.get('category')}}</small>
								     </span>
								 </div>						
						</div>
						
						<div class="row">
							 <div class="col-xs-8 col-md-6 col-sm-6 pl0">
                                    <label class="custom-label">General Note Sub Category<span>*</span></label>
                                   <select  class="form-control "  id="subCategory" 
                                                            ng-class="{'error-control':errorMap.get('subCategory')!=null}"
                                                           ng-options="item for item in enum['GeneralNoteSubCategory']"
                                                            ng-model="vm.generalNoteMaster.subCategory" ng-change="vm.selectedMaster('service',vm.generalNoteMaster,2);">
                                                    </select>
                                     <span class="error-message" ng-show="errorMap.get('subCategory')!=null">
									      <small>{{errorMap.get('subCategory')}}</small>
								     </span>
								 </div>						
						</div>
						
						
						<div class="row">
							<div class="col-xs-8 col-md-6 col-sm-6 pl0">
								<label>Service<span ng-show="vm.generalNoteMaster.subCategory=='Service'">*</span></label>

								<div class="select-auto">
									<input type="text" class="form-control" id="service"
										input-focus="{{errorMap.get('service')!=null}}"
										autocomplete="off" ng-model="vm.generalNoteMaster.serviceMaster"
										uib-typeahead="lovObject as lovObject.serviceName for lovObject in vm.ajaxServiceEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="vm.selectedMaster('location',vm.generalNoteMaster,3);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
								</div>
								<span class="error-message"
									ng-show="errorMap.get('service')!=null"> <small>
										{{errorMap.get('service')}} </small>
								</span>
							</div>
						</div>
						
						
						
						<div class="row">
							<div class="col-xs-8 col-md-6 col-sm-6 pl0">
								<label>Location<span>*</span></label>

								<div class="select-auto">
									<input type="text" class="form-control" id="location"
										input-focus="{{errorMap.get('location')!=null}}"
										autocomplete="off" ng-model="vm.generalNoteMaster.locationMaster"
										uib-typeahead="lovObject as lovObject.locationName for lovObject in vm.ajaxLocationEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="vm.selectedMaster('note',vm.generalNoteMaster,4);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
								</div>

								<span class="error-message"
									ng-show="errorMap.get('location')!=null"> <small>
										{{errorMap.get('location')}} </small>
								</span>
							</div>
						</div>
						
                              <div class="row ">
                            <div class="col-xs-8 col-md-6 col-sm-6 form-group nomargin pl0">
                         <div class="form-group nomargin pl0">
                                    <label class="custom-label">Note</label>
                                    <textarea 
									class="form-control elastic-ht" rows="3" msd-elastic
									id="note" class="form-control"
									ng-model="vm.generalNoteMaster.note"
									ng-class="{'error-control':errorMap.get('note')!=null}"
									maxlength="1000">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
