<div class="container-fluid" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="bankform">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{bankMaster.id!=null?'Edit Bank':'Add Bank'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="cancelToList()">
                                        Cancel
                                    </button>
                                    
                                    <button type="button"  class="btn btn-property accent-btn"
                                     ng-click="bankMaster.id!=null?update():create()">
                                     {{bankMaster.id!=null?'Update':'Save'}}
                                     </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input type="text" class="form-control" 
                                input-focus="true"
                                focus="{{errorMap.get('bankName')!=null}}"
                                 ng-class="{'error-control':errorMap.get('bankName')!=null}"
                                ng-model="bankMaster.bankName" 
                                ng-change="validateBankOnChange(bankMaster,1)"
                                id="bankName" maxlength="100">
                                <div>
									<span class="error-message" ng-show="errorMap.get('bankName')!=null">
										<small>{{errorMap.get('bankName')}}</small>
									</span>
								</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-7 form-group nomargin pl0 pr0">
                               <div class="col-xs-6 col-sm-6 form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input type="text" class="form-control"  capitalize
                                    input-focus="{{errorMap.get('bankCode')!=null}}"
                                    ng-class="{'error-control':errorMap.get('bankCode')!=null}"
                                    ng-model="bankMaster.bankCode"
                                    ng-change="validateBankOnChange(bankMaster,2)"
                                     id="bankCode" maxlength="10">
                                     
                             <div>
									<span class="error-message" ng-show="errorMap.get('bankCode')!=null">
										<small>{{errorMap.get('bankCode')}}</small>
									</span>
								</div>
                                </div>
                                <div class="col-xs-6 col-sm-6 form-group nomargin ">
                                <label class="custom-label">Smart Business bank code</label>
                                    <input type="text" class="form-control"  capitalize
                                    input-focus="{{errorMap.get('smartbankCode')!=null}}"
                                    ng-class="{'error-control':errorMap.get('smartbankCode')!=null}"
                                    ng-model="bankMaster.smartBusinessBankCode"
                                    ng-change="validateBankOnChange(bankMaster,3)"
                                     id="smartbankCode" maxlength="30">
                                     
                             <div>
									<span class="error-message" ng-show="errorMap.get('smartbankCode')!=null">
										<small>{{errorMap.get('smartbankCode')}}</small>
									</span>
								</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="bankMaster.id!=null">
                         <div class="col-sm-6 col-xs-6 col-md-6 col-lg-7 form-group nomargin pl0 pr0" ng-class="bankMaster.id!=null?'visible-show':'visible-hide'">
                                <div class="col-xs-12  form-group nomargin pl0">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="setStatus(bankMaster.status)"
                                            id="bankStatus"
                                            ng-model="bankMaster.status"
                                            ng-options="item for item in enum['LovStatus']"
                                            required
                                            >
                                    </select>
                                </div></div>
                        </div>
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
