<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row ">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-7 ">
            <form role="form"  id="companyMasterForm" name="companyMasterForm"
                  ng-submit="companyMaster.id!=null?update():save()">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{companyMaster.id!=null?'Edit':'Add'}} Company </h4>
                        </div>
                        <div>
                            <div class="btngrp">

                                    <button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>

                                    <input type="submit" class="btn accent-btn" value="{{companyMaster.id!=null?'Update':'Save'}}">

                            </div>
                        </div>
                    </div>
                    <div class="panel-body pt0 half-master-edit" id="company-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory Fields</small></div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span>
                                </label>
                                <input input-focus="true" focus="{{errorMap.get('companyName')!=null}}" type="text"
                                       class="form-control"  ng-change="validateCompanyMaster(1)"
                                       id="companyName"
                                       name="companyName"
                                       ng-model="companyMaster.companyName"
                                       ng-class="{'error-control':errorMap.get('companyName')!=null}"
                                       maxlength="100"
                                       >
                                <div>
                                       <span class="error-message" ng-show="errorMap.get('companyName')!=null"><small>{{errorMap.get('companyName')}}</small></span>                         
                                  </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 nomargin nopadding">
                                <div class="col-xs-6 form-group nomargin pl0">
                                <label class="custom-label">
                                     Code<span class="reqColor">*</span>
                                </label>
                                <input focus="{{errorMap.get('companyCode')!=null}}" type="text"
                                       id="companyCode"   ng-change="validateCompanyMaster(2)"
                                       name="companyCode"
                                       class="form-control"
                                       ng-class="{'error-control':errorMap.get('companyCode')!=null}"
                                       ng-model="companyMaster.companyCode"
                                       maxlength="3"
                                       capitalize ng-disabled="companyMaster.id!=null">
                                <div>
                                        <span class="error-message" ng-show="errorMap.get('companyCode')!=null"><small>{{errorMap.get('companyCode')}}</small></span>   
                                </div>
                            </div>
                                <div class="col-xs-6 form-group nomargin"  ng-show="companyMaster.id!=null">

                                    <label class="w-100 custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="setStatus(companyMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="companyMaster.status">
                                    </select>
                                </div>
                             </div>
                        </div>
                  <!--        <div class="row ">
                            
                         </div> -->
                    </div><!--panel body ends-->
                </div><!--panel ends-->
            </form>
        </div><!--col ends-->
    </div>
</div>

