<!DOCTYPE html>
<html ng-app="NewAgePublic">
<head>
<meta name="author" content="your name" />
<title>Account Activation</title>
<link rel="shortcut icon" type="image/x-icon"
	href="../../assets/images/favicon.png" />
<script src="../../plugins/javascript/jquery.min.js" type="text/javascript"></script>
<script src="../../plugins/javascript/angular/angular.js" type="text/javascript"></script>
<script
	src="../../public/account_activation/account_activation_success_controller.js"></script>
</head>
<body
	style="font-family: Microsoft New Tai Lue; margin: 0px auto; background: #f3f6fd;"
	ng-controller="AccountActivationSuccessController">
	<!--START POPUP -->

	<table width="40%"
		style="background: #fcfcfc; height: auto; margin: 0px auto; margin-top: 10%;">
		<tr>
			<td>
				<table width="100%" style="padding: 20px 0px; background: #fff;">
					<tr>
						<td width="100%" align="center"
							style="font-size: 22px; font-weight: bold; color: #373938;">Congratulations</td>
					</tr>
					<tr>
						<td width="100%" align="center"
							style="font-size: 22px; font-weight: normal; color: #373938;">Your
							account has been initiated successfully</td>
					</tr>
					<tr>
						<td width="100%" align="center"
							style="font-size: 22px; font-weight: normal; color: #373938;">Please
							refer your email for further activation process</td>
					</tr>
				</table>
				<table width="100%"
					style="width: 100%; padding: 25px 0px; border-top: 1px solid #d9d9d9;">
					<tr>
						<td width="100%" align="center" ng-click="closeInitiation()"><span
							style="background: #2196f5; color: #fff; padding: 6px 18px; border-radius: 3px; cursor:pointer;">Close</span></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<!--END POPUP -->
</body>
</html>