<!DOCTYPE html>
<html>
<head>
<meta name="author" content="your name" />
<title>Registration</title>

<link rel="shortcut icon" type="image/x-icon" href="../../assets/images/favicon.png" />

<link rel="stylesheet" href="../../plugins/css/angular-ui-notification.min.css">
<link rel="stylesheet" href="../../plugins/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap-theme.css">
<link rel="stylesheet" href="../../plugins/javascript/jquery-ui-1.11.4/jquery-ui.css" />
<!-- Data Picker -->
<link rel="stylesheet" href="../../plugins/javascript/angular/b3Picker/bootstrap-datetimepicker.css">
<!-- Data Picker -->

<!-- ngDialog -->
<link rel="stylesheet" href="../../plugins/javascript/angular/ngdialog/ngDialog.css">
<link rel="stylesheet" href="../../plugins/javascript/angular/ngdialog/ngDialog-theme-default.css">
<!-- ngDialog -->
<link rel="stylesheet" href="../../plugins/javascript/angular/oi.select/dist/select.css">

<!-- <link rel="stylesheet/less" href="../../main.less" type="text/css" /> -->

<link rel="stylesheet" href="../../plugins/css/style.css">




<script src="../../plugins/javascript/jquery.min.js" type="text/javascript"></script>
<script src="../../plugins/javascript/jquery-ui-1.11.4/jquery-ui.js" type="text/javascript"></script>
<script src="../../plugins/javascript/angular/angular.js" type="text/javascript"></script>


<!-- Angular Strap  -->
<script src="../../plugins/javascript/angular/angular-strap.min.js" type="text/javascript"></script>
<script src="../../plugins/javascript/angular/angular-strap.tpl.min.js" type="text/javascript"></script>
<!-- Angular Strap  -->


<!-- <script src="../../plugins/js/less.js" type="text/javascript"></script> -->
<script src="../../plugins/javascript/angular/angular-sanitize.js"></script>
<script src="../../app/shared/notification/angular-ui-notification.min.js"></script>
<script src="../../plugins/javscript/angular/ngStorage.min.js"></script>
<!-- <script src="../../plugins/js/less.js" type="text/javascript"></script>
<script src="../../plugins/javascript/angular/js/angular-less.js"
	type="text/javascript"></script> -->
<script src="../../plugins/javascript/angular/switch/angular-ui-switch.js" type="text/javascript"></script>
<script src="../../plugins/javascript/angular/ui-angular-bootstrap/ui-bootstrap-tpls-2.4.0.js" type="text/javascript"></script>
<script src="../../plugins/javascript/angular/angular-resource.js" type="text/javascript"></script>
<script src="../trailregistraion/user_trail_registration.js" type="text/javascript"></script>


<script src="../../public/trailregistraion/user_trail_registration.js"></script>


</head>
<body
	style="background-image: url(../../../assets/images/bgs.jpg); height: 100% !important; overflow-y: auto; padding-bottom: 0px !important;"
	ng-app="NewAgeTrailRegistration">
	<div class="container-fluid pl0 pr0 page-style">
		<div ng-controller="UserTrailRegistrationCtrl">
			<div class="credentials">
				<div class="credentials-panel">

					<div ng-show="forgotPassword==null" class="login"
						style="padding: 12px 15px 20px;">
						<form role="form" id="loginForm" class="form-horizontal"
							name="loginForm">
							<div show-response></div>
							<div class="login-wrapper">

								<div class="mb-15">

									<div class="row nomargin">

										<div class="col-xs-12 form-group nomargin plr0">
											<h3 class="pull-left">Sign up for 30-days Trial</h3>
										</div>
										<!-- <div class="col-xs-12 form-group nomargin plr0 pb10">
											<h5 class="text-left">
												Already have a EFS version 2 online account? <br/> <span
													class="bluevaluelg" style="color: #00abeb">Add
													another company</span>
											</h5>
										</div> -->

									</div>

									<div class="row nomargin">

										<div class="col-xs-12 plr0 mb10">
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-envelope"
													style="font-size: 16px; color: #acacac" aria-hidden="true"></i></span>
												<input class="form-control" id="email"
													 ng-model="locationSetup.email" 
													ng-blur="validate(1)" placeholder="Email">

											</div>
											<div class="pull-left">
												<span class="error-message"
													ng-show="errorMap.get('email')!=null"><small>
														{{errorMap.get('email')}} </small></span>
											</div>
										</div>
										<div class="col-xs-12 plr0 mb10">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-user"
													style="font-size: 16px; color: #acacac" aria-hidden="true"></i></span>
												<input type="text" class="form-control" id="firstName"
													ng-model="locationSetup.firstName" maxlength="30"
													placeholder="First Name">
											</div>

											<div class="pull-left">
												<span class="error-message"
													ng-show="errorMap.get('firstName')!=null"><small>
														{{errorMap.get('firstName')}} </small></span>
											</div>
										</div>

										<div class="col-xs-12 plr0 mb10">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-user"
													style="font-size: 16px; color: #acacac" aria-hidden="true"></i></span>
												<input type="text" class="form-control" id="lastName"
													ng-model="locationSetup.lastName" maxlength="30"
													placeholder="Last Name">
											</div>
											<div class="pull-left">
												<span class="error-message"
													ng-show="errorMap.get('lastName')!=null"><small>
														{{errorMap.get('lastName')}} </small></span>
											</div>
										</div>
										<div class="col-xs-12 plr0 mb10">
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-unlock-alt"
													style="font-size: 16px; color: #acacac" aria-hidden="true"></i></span>
												<input type="password" id="password-field" name="password"
													maxlength="20" class="form-control"
													ng-blur="validate(4);locationSetup.password = locationSetup.password.split(' ').join('')"
													ng-model="locationSetup.password" placeholder="Password">
												<span data-placement="bottom" tooltip="togglePassword"
													class="input-group-addon addon-icon cursorPt rel bor-0px ">
													<span toggle="#password-field"
													class="fa fa-fw fa-eye field-icon toggle-password">
												</span>

												</span>

											</div>
											<span class="error-message pull-left"
												ng-show="errorMap.get('password')!=null"><small>
													{{errorMap.get('password')}} </small></span>
											<div class="pull-left" ng-hide=true>
												<span> <img ng-show="errorMap.get('password')!=null"
													src="../trailregistraion/alert_info.png" alt="Info"
													height="14" width="14" ng-click="showHint()"></span> <span
													class="error-message"
													ng-show="errorMap.get('password')!=null"><small>
														{{errorMap.get('password')}} </small></span>
											</div>
										</div>
									</div>
									<button type="submit"
										class="btn btn-primary btn-xs btn-property accent-btn mt10"
										ng-click="startFreeTrail()"
										style="background: #2196f3 !important; height: 42px !important; width: 100% !important;">
										<span class="icon-lock whitecolor"></span> Start Free Trial
									</button>

								</div>
						</form>
						<p class="mt-15 text-left hyp_link">
							By signing up, you agree to the 
							<a href="/public/trailregistraion/terms_of_service.html" target="_blank">
								Terms of Service
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
