<div class="row  ">
	<div class="col-xs-12 ">
            <div class="row nomargin">
		
				<ul class="nav btn-tab2" ng-init="currentTab='charge_setup_tab'">
					<li ng-class="currentTab=='gl_setup_tab'?'activeBtnblue':'active'"
						ng-click="currentTab='gl_setup_tab'" ng-hide="true">
						GL Setup
					</li>
					<li ng-class="currentTab=='ar_pr_setup_tab'?'activeBtnblue':'active'"
						ng-click="currentTab='ar_pr_setup_tab'" ng-hide="true">
						AR & AP Setup
					</li>
					<li ng-class="currentTab=='charge_setup_tab'?'activeBtnblue':'active'"
						ng-click="currentTab='charge_setup_tab'">
						Charge Setup
					</li>
				</ul>
			</div>
			<div class="col-xs-12 half-master-edit-tab "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
				<div class="row">
					<div class="tab-content">
						<!--tab one start-->
						<div ng-show="currentTab=='gl_setup_tab'">
							<div ng-include="'views/charge_tab/templates/gl_setup_tab.html'"></div>
						</div>
						<!--tab one end-->

						<!--tab two start-->
						<div ng-show="currentTab=='ar_pr_setup_tab'">
							<div ng-include="'views/charge_tab/templates/ar_pr_setup_tab.html'"></div>
						</div>
						<!--tab two ends-->

						<!--tab three start-->
						<div ng-show="currentTab=='charge_setup_tab'">
							<div ng-include="'views/charge_tab/templates/charge_setup_tab.html'"></div>
						</div>
						<!--tab three end-->

					</div>
				</div>
				
			</div>
		</div>
	</div>



<div class="panel-footer">
	<div class=" col-md-12 mt10 ">

		<div class="btngrp pull-right">
			<button class="btn btn-xs btn-property accent-btn" ng-click="saveChargeSetup('app.finance')">
				<span class="chevron-font">&#xf053;</span> Back
			</button>
			<!-- ngIf: !isNavigation -->
			<button class="btn btn-primary btn-xs btn-property accent-btn"
				ng-click="saveChargeSetup('app.others')">
				Next <span class="chevron-font">&#xf054;</span>

			</button>
			<!-- end ngIf: !isNavigation -->

		</div>
	</div>
</div>












