<div class="panel-body plr0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
	<div class="row ">
		<div class="col-xs-12">
		<div class="row nomargin">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 mt-5">
		<div class="form-group mb0">
				<label>Salutation<span class="reqColor">*</span></label> <select
					class="form-control" id="locationSetup.salutation"
					ng-options="item for item in SalutationType"
					ng-model="locationSetup.salutation"
					ng-change="changedSalutation('locationSetup.firstName')"
					ng-class="{'error-control-auto':companyErrorMap.get('locationSetup.salutation')!=null}">
				 </select> <span class="error-message"
					ng-show="companyErrorMap.get('locationSetup.salutation')!=null">
					<small>{{companyErrorMap.get('locationSetup.salutation')}}</small>
				</span>
               </div>
			</div>


			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3  mt-5">
			<div class="form-group mb0">
				<label>First Name <span class="reqColor">*</span></label> <input
					class="form-control" type="text" id="locationSetup.firstName"
					ng-model="locationSetup.firstName" maxlength="100"
					ng-class="{'error-control-auto':companyErrorMap.get('locationSetup.firstName')!=null}" />
				<span class="error-message"
					ng-show="companyErrorMap.get('locationSetup.firstName')!=null">
					<small>{{companyErrorMap.get('locationSetup.firstName')}}</small>
				</span>
              </div>
			</div>



			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3  mt-5">
			<div class="form-group mb0">
				<label>Last Name <span class="reqColor">*</span></label> <input
					class="form-control" type="text" id="locationSetup.lastName"
					ng-model="locationSetup.lastName" maxlength="100"
					ng-class="{'error-control-auto':companyErrorMap.get('locationSetup.lastName')!=null}" />
				<span class="error-message"
					ng-show="companyErrorMap.get('locationSetup.lastName')!=null">
					<small>{{companyErrorMap.get('locationSetup.lastName')}}</small>
				</span>
              </div>
			</div>


			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3  mt-5">
			<div class="form-group mb0">
				<label class="text-inherit">eMail <span class="reqColor">*</span></label>
				<input type="text" class="form-control" id="email"
					ng-model="locationSetup.email"
					ng-blur="validateEmail(locationSetup)?'':navigateToNextField('email')"
					ng-class="{'error-control':companyErrorMap.get('email')!=null}"
					maxlength="500">
				<div>
					<span class="error-message" ng-show="companyErrorMap.get('email')!=null"><small>{{companyErrorMap.get('email')}}</small></span>
					<span class="error-message"
						ng-show="companyErrorMap.get('locationSetup.email')!=null"><small>{{companyErrorMap.get('locationSetup.email')}}</small></span>
				</div>
				</div>
			</div>


</div>

<div class="row nomargin">
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3  mt-5">
			<div class="form-group mb0">
				<label>Country <span class="reqColor">*</span></label>
				<div class="select-auto">
					<input type="text" class="form-control"
						id="locationSetup.countryMaster"
						input-focus="{{errorMap.get('locationSetup.countryMaster')!=null}}"
						ng-class="{'error-control-auto':companyErrorMap.get('locationSetup.countryMaster')!=null}"
						class="form-control" autocomplete="off"
						ng-model="locationSetup.countryMaster"
						uib-typeahead="lovObject as lovObject.countryName for lovObject in getCountryList($viewValue)"
						typeahead-template-url="../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-company-country-image.html"
						typeahead-show-hint="true" typeahead-show-loading="true"
						typeahead-select-on-exact="true" typeahead-append-to-body="true"
						typeahead-on-select="selectedCountry('locationSetup.phone');"
						typeahead-focus-on-select="false" typeahead-focus-first="true"
						typeahead-editable="false" typeahead-min-length="2"
						typeahead-wait-ms="500" ng-blur="selectDataFromCountry()"> <span class="select-arrow"><b></b></span>

				</div>
				<span class="error-message"
					ng-show="companyErrorMap.get('locationSetup.countryMaster')!=null">
					<small>{{companyErrorMap.get('locationSetup.countryMaster')}}</small>
				</span>
</div>
			</div>


			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3  mt-5">
			<div class="form-group mb0">
				<label>Phone <span class="reqColor">*</span></label>
				<div class="col-md-12 pl0 pr0">
					<div class="col-xs-2  pl0 pr0">
						<input type="text" class="form-control pl5 pr5 disabled-box" disabled
							ng-model="locationSetup.dialCode" />

					</div>
					<div class="col-xs-10 pr0">
						<input class="form-control" type="text" id="locationSetup.phone"
							ng-model="locationSetup.phone" maxlength="100"
							ng-class="{'error-control-auto':companyErrorMap.get('locationSetup.phone')!=null}"
							ng-blur="isPhoneNumberValid()" ng-change="validateCompanyTab(6)" />
						<span class="error-message"
							ng-show="companyErrorMap.get('locationSetup.phone')!=null">
							<small>{{companyErrorMap.get('locationSetup.phone')}}</small>
						</span> <span class="error-message" ng-show="invalidPhoneNumber">
							<small>{{invalidPhoneNumberMessage}}</small>
						</span>
</div>
					</div>
				</div>
			</div>


			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3  mt-5">
			<div class="form-group mb0">
				<label>Mobile </label> <input class="form-control" type="text"
					id="locationSetup.mobile" ng-model="locationSetup.mobile"
					maxlength="100" ng-change="validateCompanyTab(61)"
					ng-class="{'error-control-auto':companyErrorMap.get('locationSetup.mobile')!=null}" />
				<span class="error-message"
					ng-show="companyErrorMap.get('locationSetup.mobile')!=null">
					<small>{{companyErrorMap.get('locationSetup.mobile')}}</small>
				</span>
				</div>
			</div>



			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3  mt-5">
			<div class="form-group mb0">
				<label>Company Name <span class="reqColor">*</span></label> <input
					class="form-control" type="text"
					ng-model="locationSetup.companyRegisteredName" maxlength="100"
					id="locationSetup.companyRegisteredName"
					ng-blur="isCompanyNameUnique()" /> <span class="error-message"
					ng-show="companyErrorMap.get('locationSetup.companyRegisteredName')!=null">
					<small>{{companyErrorMap.get('locationSetup.companyRegisteredName')}}</small>
				</span> <span class="error-message" ng-show="!companyNameUnique"> <small>{{companyNameUniqueErrorMessage}}</small>
				</span>
				</div>
			</div>
</div>


			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
				<div class="row">
				
				 <div class="col-lg-12 pl0 pr0">
			
                   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4  mt-5 ">
                   <div class="form-group mb0">
						<label> Address 1 <span class="reqColor">*</span></label> <input
							class="form-control" type="text"
							ng-model="locationSetup.addressLine1" maxlength="100"
							id="locationSetup.addressLine1" /> <span class="error-message"
							ng-show="companyErrorMap.get('locationSetup.addressLine1')!=null">
							<small>{{companyErrorMap.get('locationSetup.addressLine1')}}</small>
						</span>
						</div>
					</div>


					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4  mt-5">
					<div class="form-group mb0">
						<label> Address 2</label> <input class="form-control" type="text"
							ng-model="locationSetup.addressLine2" maxlength="100"
							id="locationSetup.addressLine2" /> <span class="error-message"
							ng-show="companyErrorMap.get('locationSetup.addressLine2')!=null">
							<small>{{companyErrorMap.get('locationSetup.addressLine2')}}</small>
						</span>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mt-5">
					<div class="form-group mb0">
						<label> Address 3</label> <input class="form-control" type="text"
							ng-model="locationSetup.addressLine3" maxlength="100"
							id="locationSetup.addressLine3" /> <span class="error-message"
							ng-show="companyErrorMap.get('locationSetup.addressLine3')!=null">
							<small>{{companyErrorMap.get('locationSetup.addressLine3')}}</small>
						</span>
						</div>

					</div>
</div>

          <div class=" col-lg-12 pl0 pr0">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mt-5">
					<div class="form-group mb0">
						<label>Area <span class="reqColor">*</span></label> <input
							class="form-control" type="text" 
							ng-model="locationSetup.area" maxlength="100"
							id="locationSetup.area" ng-change="validateCompanyTab(11)" /> 
							<span class="error-message"
								ng-show="companyErrorMap.get('locationSetup.area')!=null">
								<small>{{companyErrorMap.get('locationSetup.area')}}</small>
							</span>
						</div>

					</div>


					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mt-5">
					<div class="form-group mb0">
						<label>Province / state</label>
						<div class="select-auto">
							<input type="text" class="form-control" id="stateProvince"
								ng-class="{'error-control-auto':companyErrorMap.get('locState')!=null}"
								autocomplete="off" ng-model="locationSetup.stateMaster"
								uib-typeahead="lovObject as lovObject.stateName for lovObject in getStateList($viewValue)"
								typeahead-template-url="../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-public-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedState('locCity');"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="2"
								typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
						</div>
						<span class="error-message"
							ng-show="companyErrorMap.get('locState')!=null"> <small>{{companyErrorMap.get('locState')}}</small>
						</span>
						</div>

					</div>


					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mt-5">
					<div class="form-group mb0">
						<label>City<span class="reqColor">*</span></label>
						<div class="select-auto">
							<input type="text" class="form-control" id="locCity"
								ng-class="{'error-control-auto':companyErrorMap.get('locCity')!=null}"
								autocomplete="off" ng-model="locationSetup.cityMaster"
								uib-typeahead="lovObject as lovObject.cityName for lovObject in getCityList($viewValue)"
								typeahead-template-url="../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-public-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-on-select="selectedCity(locationSetup,'zipCode');"
								typeahead-editable="false" typeahead-min-length="2"
								typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
						</div>
						<span class="error-message"
							ng-show="companyErrorMap.get('locCity')!=null"> <small>{{companyErrorMap.get('locCity')}}</small>
						</span>
                     </div>
					</div>

</div>




 <div class=" col-lg-12 pl0 pr0">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mt-5">
					<div class="form-group mb0">
						<label>Zip Code</label> <input type="text" class="form-control"
							ng-model="locationSetup.zipCode" maxlength="10" id="zipCode" />
                               </div>
					</div>


					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 mt-5">
                         <div class="form-group mb0">
						<label>Region</label>
						<div class="select-auto">
							<input type="text" class="form-control" id="regionName"
								autocomplete="off" ng-model="locationSetup.regionMaster"
								uib-typeahead="lovObject as lovObject.regionName for lovObject in getRegionList($viewValue)"
								typeahead-template-url="../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-public-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-on-select="selectedRegion('isHeadOffice');"
								typeahead-focus-on-select="false"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-focus-first="true" typeahead-editable="false"
								typeahead-min-length="2" typeahead-wait-ms="500"> <span
								class="select-arrow"><b></b></span>
						</div>
</div>
					</div>

					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 mt-5 mb10">
					<div class="form-group mb0">
						<label>Head Office</label>
						<ul class="list-inline">
							<li ng-class="{'opc-5':locationSetup.isHeadOffice}">No</li>
							<li class="v-align-top"><switch id="isHeadOffice"
									tabindex="0" ng-model="locationSetup.isHeadOffice"
									class="green"> </switch></li>
							<li ng-class="{'opc-5':!locationSetup.isHeadOffice}">Yes</li>
						</ul>
					</div>
         </div>
				
			</div>
			
			</div>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 pl0 pr0 mt-5">
				<div class="form-group mb0 overflow-hidden">
					<div class="row nomargin nopadding">
						<!-- Logo Starts Here -->
						<div class="col-xs-12 col-md-12 col-lg-12 mt-5">
							<label class="custom-label">Company Logo</label>
							<div
								ng-show="companyUploadText == true && companyUploadIsBusy != true"
								ngf-drop ngf-select ng-model="companyLogo"
								ngf-drag-over-class="'dragover'" ngf-multiple="false"
								ngf-allow-dir="true" accept="image/*"
								ng-change="companyLogoUpload(companyLogo)"
								ngf-pattern="'image/*'" class="file-drop-boxxx">
								<div class="col-md-12 text-center">
									<ul class="list-unstyled">
										<li>Drop Here</li>
										<li>Or</li>
										<li>
											<button type="button"
												class="btn btn-primary btn-property browse-btn">
												BROWSE</button>
										</li>
									</ul>
								</div>
							</div>


							<div ng-show="!companyUploadText && companyUploadIsBusy ==true"
								class="file-drop-boxxx mt-3">
								<div class="loader"></div>
							</div>
							<!-- <!-- <div ng-show="!companyUploadText && companyUploadIsBusy ==true"
								class="rel img-box">
								<attach-Spinner spinner-status="true"></attach-Spinner>
							</div> -->

							<div
								ng-show="companyUploadText == false && companyUploadIsBusy != true"
								ngf-select ngf-drop ng-model="companyLogo" ngf-multiple="false"
								ng-change="companyLogoUpload(companyLogo)" class="rel img-box"
								ng-mouseover="showBackDrop=true"
								ng-mouseleave="showBackDrop=false">
								<img
									ng-src="data:image/jpeg;base64,{{locationSetup.encodedLogo}}"
									class="display-block">
								<div class="wrapper-back-drop hide-transition"
									ng-show="showBackDrop">
									<span class="cursorPt overlay-img-btn" ngf-select ngf-drop
										ng-model="logo" ngf-multiple="false"
										ng-change="companyLogoUpload(companyLogo)"> <i
										class="fa fa-upload"></i>
									</span>
								</div>
							</div>
						</div>
						<!-- Logo Stops Here -->
					</div>
				</div>
			</div>


			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-12 pl0 pr0">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
				<div class="form-group mb0">
					<label>Time Zone <span class="reqColor">*</span></label>
					<!-- <select
						class="form-control" id="timeZone"
						ng-options="item for item in timeZoneList"
						ng-model="locationSetup.timeZone"
						ng-change="changedTimeZone('dateFormat')"
						ng-class="{'error-control-auto':companyErrorMap.get('locationSetup.timeZone')!=null}">
					</select>  -->

					<div class="select-auto">
						<input type="text" class="form-control" id="timeZone"
							autocomplete="off" ng-model="locationSetup.timeZoneMaster"
							uib-typeahead="lovObject as lovObject.displayTimeZone for lovObject in getTimeZoneMasterList($viewValue)"
							typeahead-template-url="../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-public-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"
							typeahead-on-select="selectedTimeZoneMaster('dateFormat');"
							typeahead-focus-on-select="false"
							typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-focus-first="true" typeahead-editable="false"
							typeahead-min-length="2" typeahead-wait-ms="500"> <span
							class="select-arrow"><b></b></span>
					</div>


					<span class="error-message"
						ng-show="companyErrorMap.get('locationSetup.timeZone')!=null">
						<small>{{companyErrorMap.get('locationSetup.timeZone')}}</small>
					</span>
</div>

				</div>


				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 ">
				<div class="form-group mb0">
					<label class="custom-label">Date Format <span
						class="reqColor">*</span></label> 
				<select class="form-control"
						id="dateFormat" ng-options="item for item in dateFormatArray"
						ng-model="locationSetup.dateFormat"
						ng-change="changeDateFormat('nextCompanyTab')"
						ng-class="{'error-control-auto':companyErrorMap.get('locationSetup.dateFormat')!=null}">
					</select> <span class="error-message"
						ng-show="companyErrorMap.get('locationSetup.dateFormat')!=null">
						<small>{{companyErrorMap.get('locationSetup.dateFormat')}}</small>
					</span>
					</div>
				</div>

				<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 pt15  pl0">
					<div class="col-sm-12 terms mt-5 ">
					<div class="form-group mb0">
						<div class="">
							 <input style="cursor:pointer" type="checkbox" id="termsCondition" class="checkbox-custom"
								ng-model="locationSetup.isTermsAccepted" 
								tabindex="0">
								<div class="cr">
									<i class="cr-icon fa fa-check"></i>
								</div> <label class="checkbox-custom-label"> <a style="font-size:15px !important"
									href="javaScript:void(0)" ng-click="showTermsModal()"
									tabindex="0">Terms and Conditions</a>
							</label></div>
							
						</div>
					</div>
				</div> -->

			</div>



			<!-- End sixth coloum -->


		</div>
	</div>
</div>


<div class="panel-footer">
	<div class=" col-md-12 mt10 ">
		<div class="pull-right">
			<button id="nextCompanyTab" class="btn btn-primary btn-xs btn-property accent-btn"
				ng-click="saveCompanyTab('app.login')">
				Next <span class="chevron-font">&#xf054;</span>
			</button>
		</div>
	</div>

</div>
