<div class="container-fluid" ng-controller="glOperationCtrls">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4> WIN</span>
                        </h4>
                    </div>

                </div>
                <div class="panel-body edit-body pt0" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <form role="form">

                        <div class="row mtb-15">
                            <div>

                                <div class="">

                                    <div class="col-md-4 col-xs-4">


                                        <div class="row bor nopadding brad3 shade2 ptb10" style="border-radius:0;border:none;">

                                            <div style="margin:10px auto;text-align:center;">
                                                <img class="fsl-logo" src="../../../assets/images/logo-win.png" width="230">
                                            </div>

                                            <h5 class="winn-text">Based On Agent ID</h5>

                                            <div class="box-border">
                                                <div class="col-xs-6">
                                                    <div class="form-group mb-5">
                                                        <label>Agent ID </label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group mb-5">
                                                        <label>Location</label>
                                                        <select class="form-control">
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 ">
                                                    <button type="button" class="btn btn-primary btn-xs btn-property accent-btn pull-right">GET</button>


                                                </div>



                                            </div>


                                            <h5 class="winn-text">Based On Agent ID</h5>

                                            <div class="">
                                                <div class="col-xs-6">
                                                    <div class="form-group mb-5">
                                                        <label>AWBID </label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group mb-5">
                                                        <label>MAWID</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-xs-12" style="margin-bottom:10px; ">
                                                    <button type="button" class="btn btn-primary btn-xs btn-property accent-btn pull-right">GET</button>


                                                </div>



                                            </div>










                                        </div>








                                    </div>
                                    <div class="col-md-8 col-xs-8">

                                        <div class="row bor nopadding brad3 ptb10" style="border-radius:0;height: 350px;">


                                            <div class="col-md-12 col-xs-12">

                                                <h5 class="winn-text" style="margin-bottom:10px;margin-top:10px;">Based On Agent ID</h5>

                                                <div class="table-responsive">
                                                    <table class="table table-inline-nopad">
                                                        <thead>
                                                            <tr>
                                                                <th class="inl_sno">#</th>
                                                                <th class="inl_l">Location</th>
                                                                <th class="inl_l">Subledger Code</th>
                                                                <th class="inl_l">Subledger Name</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>
                                                                    hjghjghj
                                                                </td>
                                                                <td>
                                                                    hjgjghj fhgfh
                                                                </td>
                                                                <td>

                                                                    ghfghfg

                                                                </td>


                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>




                                            </div>
                                        </div>
                                    </div>

                                </div>










                            </div>
                        </div>










                    </form>
                </div>
            </div>
            <!--panel ends-->
        </div>
    </div>
</div>