<div>

    <button type="button" class="btn btn-info btn-property mb10 accent-btn"
            ng-click="addRow()">
        <i class="icon-add"></i> Add Charge
    </button>






    <div class=""  ng-style="dropStyle">
        <table class="table table-hover tab-bordered" tab-nav tab-row="addRow()" style="width: 2500px">
            <thead>
            <tr>
                <th>#</th>
                <th>Service ID</th>
                <th>Charge Code <span class="reqColor">*</span></th>
                <th>Charge Name <span class="reqColor">*</span></th>
                <th>C / R / N <span class="reqColor">*</span></th>
                <th>Description <span class="reqColor">*</span></th>
                <th>Currency <span class="reqColor">*</span></th>
                <th class="text-right">ROE <span class="reqColor">*</span></th>
                <th class="text-right">Unit</th>
                <th class="text-right">Amt per Unit</th>
                <th class="text-right">Amount <span class="reqColor">*</span></th>
                <th class="text-right">Amount (INR)</th>
                <th class="text-right">Amount (SGD) <span class="reqColor">*</span></th>
                <th>Debit / Credit <span class="reqColor">*</span></th>

                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="eventObj in tableData track by $index">
                <td class="w50px text-center" ng-class="{'error-cell':secondArr[$index].errRow}">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
                </td>
                <td class="w150px">
                    <div class="select-auto">
                        <input type="text"
                               auto-complete
                               class="form-control"
                               input-focus="{{secondArr[$index].eventMaster}}"
                               ng-model="eventObj.eventMaster"/>
                    </div>

                </td>
                <td class="w150px">
                    <div class="select-auto">
                        <input type="text"
                               auto-complete
                               class="form-control"
                               ng-model="eventObj.eventMaster"/>
                    </div>


                </td>
                <td  class="w250px">

                    <input type="text"  class="form-control" />

                    </td>
                <td class="w150px" >
                    <select  class="form-control" ng-model="eventObj.followUpRequired">
                    </select>

                                  </td>
                <td class="w300px">
                      <textarea class="form-control "
                                ng-model="charge.note"
                                maxlength="4000"
                                ng-class="{'error-control':secondArr[$index].note}"
                                ng-focus="dirtyIndex($index)" style="height: 26PX; overflow: hidden; resize: none ">
                </textarea>

                </td>
                <td class="w200px">

                    <div class="select-auto">
                        <input type="text"
                               auto-complete
                               class="form-control"
                               ng-model="eventObj.eventMaster"/>
                    </div>
                </td>

                <td class="w150px">

                    <input type="text"  class="form-control text-right" />
                </td>
                <td class="w150px">
                    <input type="text"  class="form-control text-right" />

                </td>
                <td class="w200px">
                    <input type="text"  class="form-control text-right" />

                </td>
                <td  class="w200px">
                    <input type="text"  class="form-control text-right" />

                </td>
                <td  class="w200px">
                    <input type="text"  class="form-control text-right" />

                </td>
                <td  class="w200px">
                    <input type="text"  class="form-control text-right" />

                </td>
                <td  class="w150px">
                    <select  class="form-control" ng-model="eventObj.followUpRequired">
                    </select>
                </td>
                <!--<td>-->
                    <!--<ul class="list-inline">-->
                        <!--<li>-->
                            <!--<input type="checkbox"  >-->
                        <!--</li>-->
                    <!--</ul>-->


                <!--</td>-->
                               <td>
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);" ng-click="removeObj(eventObj,$index)">
                            <i class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

</div><!--body ends-->