<div class="container-fluid resPortListPage resLandListPage">
	<div class="row ml0 mr0">
		<div ng-show="deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12 " >
			<div class="panel panel-default" ng-click="showHistory = false">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()" >
									<i class="icon-add"></i> Add Currency
								</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
						<div show-response></div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 	data="currencyArr"
										head="currencyHeadArr"
										sort="sortSelection"
										click-event="rowSelect(param)"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page" size="limit" >
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit"
										ng-change="limitChange(limit)" ng-options="v for v in limitArr">

								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12 m-pl0 ">
			<div class="panel panel-default detail-transition" ng-show="currencyMaster.id!=null">
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom"   bs-tooltip="back"  href="javascript:void(0)" ng-click="cancel()"
									 class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<span>Currency</span>
						</div>
					</div>
					<div class="pull-right ">
						<ul class="list-inline text-right">
							<li><a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"
									><i class="icon-logs" data-placement="bottom"   bs-tooltip="activity"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="edit"  href="javascript:void(0)" ng-click="editCurrency()"
								   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)"
								   ng-click="deleteCurrency()" class="list-panel-edit-btn cursorPt"><i
									class="icon-delete"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="showHistory=false">
					
						<div class="row metadata-detail">
							<span >Name</span>
							<h5 >{{currencyMaster.currencyName}}{{(currencyMaster.symbol) ? ' ('+currencyMaster.symbol+')':''}} </h5>
						</div>
					
					<div class="row ">
						<ul class="list-inline ">
							<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<span >Code</span>
								<h5 >{{currencyMaster.currencyCode}}</h5>
							</li>
							<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<span >Status</span>
								<show-status status="{{currencyMaster.status}}"></show-status>
							</li>
						</ul>
					</div>
					<div class="row ">
						<ul class="list-inline">
							<li class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<span >Country</span>
								<h5 > <img ng-show="currencyMaster.countryMaster.image!=null"  data-ng-src="data:image/png;base64,{{currencyMaster.countryMaster.image}}" style="padding-right:3px;" width="23" height="20">{{currencyMaster.countryMaster.countryName}}</h5>
							</li>
						</ul>

					</div>
					<div class="row noborder">
						<ul class="list-inline ">
							<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<span >Prefix</span>
								<h5 >{{currencyMaster.prefix}}</h5>
							</li>
							<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<span >Suffix</span>
								<h5 >{{currencyMaster.suffix}}</h5>
							</li>
						</ul>
						<ul class="list-inline  same-row-ul">
							<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<span >Decimal</span>
								<h5 >{{currencyMaster.decimalPoint}}</h5>
							</li>
							<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<span >Denomination</span>
								<h5 >{{currencyMaster.denomination}}</h5>
							</li>
						</ul>
					</div>
					</div>
					<div class="logs-view logs-transition" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="showHistory=false"
											   class="list-panel-back">
												<i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span >Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="currencyMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{currencyMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(currencyMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="currencyMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{currencyMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(currencyMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


