<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-md-12 col-lg-7 col-sm-12 col-xs-12">
            <form role="form" id="currencymasterform" name="currencymasterform"
                  ng-submit="currencyMaster.id!=null?update():save()" novalidate>
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{currencyMaster.id!=null?'Edit':'Add'}} Currency  </h4>
                        </div>
                        <div>
                            <div class="btngrp">

                                    <button type="button" class="btn cancel-btn"
                                            ng-click="cancel()">Cancel
                                    </button>


                                    <input type="submit" class="btn accent-btn"
                                           value="{{currencyMaster.id!=null?'Update':'Save'}}">

                            </div>
                        </div>
                    </div>
                    <div class="panel-body pt0 half-master-edit" id="currency-panel" panel-height ng-nicescroll
                         nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div><span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields </small>
                            </div>
                        </div>
                        <!--row ends-->
                        <div class="row ">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12  form-group nomargin pl0">
                                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  nomargin pl0 pr0">
                                <label class="custom-label"
                                       ng-class="{'error-label':currencymasterform.currencyname.$error.required && !currencymasterform.currencyname.$pristine}">
                                    Name<span class="reqColor">*</span></label>
                                <input input-focus="true" type="text" class="form-control" id="currencyname"
                                       name="currencyname" ng-change="validateCurrencyMaster(1)"
                                       ng-model="currencyMaster.currencyName"
                                       ng-class="{'error-control':errorMap.get('currencyName')!=null}"
                                       input-focus="{{errorMap.get('currencyName')!=null}}"
                                       maxlength="100" 
                                        />

                                <div>
                                    <span class="error-message" ng-show="errorMap.get('currencyName')!=null"><small>
                                        {{errorMap.get('currencyName')}}
                                    </small></span>
                                </div>
                            </div>
                                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 nomargin pr0">
                                <label class="custom-label">Symbol</label>
                                <input type="text" ng-model="currencyMaster.symbol"  maxlength="10" class="form-control"  />
                            </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12  form-group nomargin pl0">
                            <div class="col-xs-6 form-group nomargin  plr0">
                                <label class="custom-label"
                                       ng-class="{'error-label':currencymasterform.currencycode.$error.required && !currencymasterform.currencycode.$pristine}">
                                    Code<span class="reqColor">*</span></label>
                                <input type="text" id="currencycode"
                                       name="currencycode" ng-change="validateCurrencyMaster(2)"
                                       class="form-control"
                                       ng-class="{'error-control':errorMap.get('currencyCode')!=null}"
                                       ng-model="currencyMaster.currencyCode" minlength=1
                                       maxlength="3"
                                       input-focus="{{errorMap.get('currencyCode')!=null}}"
                                       capitalize ng-disabled="currencyMaster.id!=null">

                                <div>
                                    <span class="error-message" ng-show="errorMap.get('currencyCode')!=null"><small>
                                        {{errorMap.get('currencyCode')}}
                                    </small></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  form-group nomargin pr0"
                                 ng-show="currencyMaster.id!=null">
                                <label class="w-100 custom-label">Status</label>
                                <select class="form-control status" id="status"
                                        ng-class="setStatus(currencyMaster.status)"
                                        ng-options="item for item in enum['LovStatus']"
                                        ng-model="currencyMaster.status" required>
                                </select>
                            </div>
                            </div>
                        </div>
                        <!--row ends-->
                        <div class="row ">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12  nomargin plr0">
                               <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  nomargin pl0"> 
                               <label class="custom-label">Country<span class="reqColor">*</span></label>
                                <div class="select-auto">
                                    <input type="text" class="form-control" 
										input-focus="{{errorMap.get('country')!=null}}"
										autocomplete="off" ng-model="currencyMaster.countryMaster"
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedCountry(param);"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
										<span class="select-arrow"><b></b></span>
                                </div>
                                <div>
                                    <span class="error-message" ng-show="errorMap.get('country')!=null"><small>
                                        {{errorMap.get('country')}}
                                    </small></span>
                                </div>
								</div>
                            </div>
                        </div>
                        <div class="row noborder">

                            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6  nopadding">

                                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 pl0 form-group">
                                    <label class="custom-label ">Prefix<span class="reqColor">*</span></label>
                                    <input type="text" ng-change="validateCurrencyMaster(4)"
                                           class="form-control" id="prefix" name="currencyprefix"
                                           ng-model="currencyMaster.prefix"
                                           ng-class="{'error-control':errorMap.get('prefix')!=null}"
                                           maxlength="30" 
                                             input-focus="{{errorMap.get('prefix')!=null}}"
                                           >

                                    <div>
                                        <span class="error-message" ng-show="errorMap.get('prefix')!=null"><small>
                                            {{errorMap.get('prefix')}}
                                        </small></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  form-group  pl0">
                                    <label class="custom-label ">Suffix<span class="reqColor">*</span></label>
                                    <input  type="text" ng-change="validateCurrencyMaster(5)"
                                           class="form-control" id="currencysuffix"
                                           ng-model="currencyMaster.suffix"
                                           ng-class="{'error-control':errorMap.get('suffix')!=null}"
                                           maxlength="30"  
                                           input-focus="{{errorMap.get('suffix')!=null}}"
                                            >

                                    <div>
                                        <span class="error-message" ng-show="errorMap.get('suffix')!=null"><small>
                                            {{errorMap.get('suffix')}}
                                        </small></span>
                                    </div>
                                </div>
                            </div>

                       
                            <div class="col-sm-6 col-xs-12 col-md-16 col-lg-6  nopadding">
                                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  form-group pl0">
                                    <label class="custom-label ">Decimal<span class="reqColor">*</span></label>
                                    <select class="form-control" ng-model="currencyMaster.decimalPoint"
                                            name="decimal" required ng-change="bindDenomination()" input-focus="{{errorMap.get('decimal')!=null}}">
										<option></option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
										<span class="error-message" ng-show="errorMap.get('decimal')!=null">
											<small>
                                            	{{errorMap.get('decimal')}}
                                        	</small>
                                        </span>
                                  
                                </div>
                                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  form-group pl0">
                                    <label class="custom-label ">Denomination</label>
                                    <input type="text" class="form-control" id="denomination"
                                           ng-model="currencyMaster.denomination" ng-disabled="true" required
                                           name="denomination" required>
                                </div>

                            </div>
                        </div>
                        <!--btn group ends-->

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
