<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog width75per">
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body mb-10  minH-380">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-fixed table-responsive">
                            <table class="table table-inline">
                                <thead>
                                    <tr>
                                        <th class="inl_m">Charge</th>
                                        <th class="inl_s text-right">Min</th>
                                        <th class="inl_s text-right">- 45</th>
                                        <th class="inl_s text-right">+ 45</th>
                                        <th class="inl_s text-right">+ 100</th>
                                        <th class="inl_s text-right">+ 250 / 300</th>
                                        <th class="inl_s text-right">+ 500</th>
                                        <th class="inl_s text-right">+ 1000</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>SSR</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.minimum)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.minus45)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus45)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus100)}}</td>
                                        <td ng-show="pricingCarrier.carrierMaster.isPlus300" class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus250)}}</td>
                                        <td ng-show="!pricingCarrier.carrierMaster.isPlus300" class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus300)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus500)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus1000)}}</td>
                                    </tr>
                                    <tr>
                                        <td>MSR</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.minimum)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.minus45)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus45)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus100)}}</td>
                                        <td ng-show="pricingCarrier.carrierMaster.isPlus300" class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus250)}}</td>
                                        <td ng-show="!pricingCarrier.carrierMaster.isPlus300" class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus300)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus500)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus1000)}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cost</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.minimum)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.minus45)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus45)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus100)}}</td>
                                        <td ng-show="pricingCarrier.carrierMaster.isPlus300" class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus250)}}</td>
                                        <td ng-show="!pricingCarrier.carrierMaster.isPlus300" class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus300)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus500)}}</td>
                                        <td class="text-right">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus1000)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row line ">
                    <hr>
                </div>
                <div class="row  overflow-hidden">
                    <div class="col-xs-6 ptb-15 bor-r-1 bor-fix">
                        <div class="row mb10">
                            <div class="col-xs-12"> <span class="ft14px ft400">Fuel Surcharge</span></div>
                        </div>

                        <div class="col-xs-6 pl0 mb10">
                            <span>Valid From</span>
                            <h6>{{dateToString(pricingCarrier.fuelValidFrom)}}</h6>

                        </div>
                        <div class="col-xs-6 pl0 mb10">
                            <span>Valid To</span>
                            <h6>{{dateToString(pricingCarrier.fuelValidTo)}}</h6>
                        </div>
                    </div>
                    <div class="col-xs-6 ptb-15 bor-fix">
                        <div class="row mb10">
                            <div class="col-xs-12"> <span class="ft14px ft400">Security Surcharge</span></div>
                        </div>

                        <div class="col-xs-6 pl0 mb10">
                            <span>Valid From</span>
                            <h6>{{dateToString(pricingCarrier.securityChargeValidFrom)}}</h6>
                        </div>
                        <div class="col-xs-6 pl0 mb10">
                            <span>Valid To</span>
                            <h6>{{dateToString(pricingCarrier.securityChargeValidTo)}}</h6>
                        </div>
                    </div>
                </div>
                <div class="row line ">
                    <hr>
                </div>
                <!--<div class="row">
                    <div class="col-xs-6 ptb-15">
                        <span>Remark</span>
                        <h6>-</h6>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</div>