<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog width75per">
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <div class="pull-right">
                            <button type="button" tabindex="" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button>
                            <button type="button" tabindex="" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="$hide()">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body fgmb0 minH-380">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-inline-nopad">
                                <thead>
                                    <tr>
                                        <th class="inl_m">Charge</th>
                                        <th class="inl_s text-right">Min</th>
                                        <th class="inl_s text-right">- 45</th>
                                        <th class="inl_s text-right">+ 45</th>
                                        <th class="inl_s text-right">+ 100</th>
                                        <th class="inl_s text-right">+ 250 / 300</th>
                                        <th class="inl_s text-right">+ 500</th>
                                        <th class="inl_s text-right">+ 1000</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>SSR</td>
                                        <td><input input-focus="true" type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.standardSellPrice.minimum"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.standardSellPrice.minus45"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.standardSellPrice.plus45"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.standardSellPrice.plus100"
                                                class="form-control text-right" /> </td>
                                        <td ng-if="pricingCarrier.carrierMaster==null || pricingCarrier.carrierMaster.id==null || pricingCarrier.carrierMaster.isPlus300"><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.standardSellPrice.plus250"
                                                class="form-control text-right" /> </td>
                                        <td ng-if="pricingCarrier.carrierMaster!=null && pricingCarrier.carrierMaster.id!=null && !pricingCarrier.carrierMaster.isPlus300"><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.standardSellPrice.plus300"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.standardSellPrice.plus500"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.standardSellPrice.plus1000"
                                                class="form-control text-right" /> </td>
                                    </tr>
                                    <tr>
                                        <td>MSR</td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.minimumSellPrice.minimum"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.minimumSellPrice.minus45"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.minimumSellPrice.plus45"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.minimumSellPrice.plus100"
                                                class="form-control text-right" /> </td>
                                        <td ng-if="pricingCarrier.carrierMaster==null || pricingCarrier.carrierMaster.id==null || pricingCarrier.carrierMaster.isPlus300"><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.minimumSellPrice.plus250"
                                                class="form-control text-right" /> </td>
                                        <td ng-if="pricingCarrier.carrierMaster!=null && pricingCarrier.carrierMaster.id!=null && !pricingCarrier.carrierMaster.isPlus300"><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.minimumSellPrice.plus300"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.minimumSellPrice.plus500"
                                                class="form-control text-right" /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.minimumSellPrice.plus1000"
                                                class="form-control text-right" /> </td>
                                    </tr>
                                    <tr>
                                        <td>Cost</td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.cost.minimum" class="form-control text-right"
                                            /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.cost.minus45" class="form-control text-right"
                                            /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.cost.plus45" class="form-control text-right"
                                            /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.cost.plus100" class="form-control text-right"
                                            /> </td>
                                        <td ng-if="pricingCarrier.carrierMaster==null || pricingCarrier.carrierMaster.id==null || pricingCarrier.carrierMaster.isPlus300"><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.cost.plus250" class="form-control text-right"
                                            /> </td>
                                        <td ng-if="pricingCarrier.carrierMaster!=null && pricingCarrier.carrierMaster.id!=null && !pricingCarrier.carrierMaster.isPlus300"><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.cost.plus300" class="form-control text-right"
                                            /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.cost.plus500" class="form-control text-right"
                                            /> </td>
                                        <td><input type="text" maxlength="17" efsdecimals="pricingCarrier.currencyMaster.decimalPoint" efsdecimal-point="pricingCarrier.currencyMaster.countryMaster.locale" ng-model="pricingCarrier.cost.plus1000" class="form-control text-right"
                                            /> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row line ">
                    <hr>
                </div>
                <div class="row  overflow-hidden">
                    <div class="col-xs-6 ptb-15 bor-r-1 bor-fix">
                        <div class="row">
                            <div class="col-xs-12"> <span class="ft14px ft400">Fuel Surcharge</span></div>
                        </div>

                        <div class="col-xs-4 pl0 mb10">
                            <label class="custom-label">Valid From</label>
                            <div class="inputBox">
                                <input type="text" class="form-control" ng-model="pricingCarrier.fuelValidFrom" datetimepicker datetimepicker-options="{{datePickerOptions}}" date-callback="navigateToNextField('fuelValidTo')" ng-disabled="pricingCarrier.allInclusive">
                                <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                            </div>

                        </div>
                        <div class="col-xs-4 pl0 mb10">
                            <label class="custom-label">Valid To</label>
                            <div class="inputBox">
                                <input type="text" id="fuelValidTo" class="form-control" ng-model="pricingCarrier.fuelValidTo" datetimepicker datetimepicker-options="{{datePickerOptions}}" date-callback="navigateToNextField('securityChargeValidFrom')" ng-disabled="pricingCarrier.allInclusive">
                                <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 ptb-15 bor-fix">
                        <div class="row">
                            <div class="col-xs-12"> <span class="ft14px ft400">Security Surcharge</span></div>
                        </div>

                        <div class="col-xs-4 pl0 mb10">
                            <label class="custom-label">Valid From</label>
                            <div class="inputBox">
                                <input type="text" id="securityChargeValidFrom" class="form-control" ng-model="pricingCarrier.securityChargeValidFrom" datetimepicker datetimepicker-options="{{datePickerOptions}}" date-callback="navigateToNextField('securityChargeValidTo')" ng-disabled="pricingCarrier.allInclusive">
                                <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-4 pl0 mb10">
                            <label class="custom-label">Valid To</label>
                            <div class="inputBox">
                                <input type="text" id="securityChargeValidTo" class="form-control" ng-model="pricingCarrier.securityChargeValidTo" datetimepicker datetimepicker-options="{{datePickerOptions}}" ng-disabled="pricingCarrier.allInclusive">
                                <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row line ">
                    <hr>
                </div>
                <!--<div class="row">
                    <div class="col-xs-6 ptb-15">
                        <label class="custom-label">Remark</label>
                        <textarea class="form-control last-child minH-100" id="note"
                                  ng-model="frieghtPopup"
                                  maxlength="4000">
                        </textarea>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>