<div class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header nopadding">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Notes</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body minH-180">
                <div class="row">
                    <div class="col-xs-12">
                        <h6>-</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>