<div class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header nopadding">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Notes</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                            <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="save(popUpNote)">Save</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body minH-180">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                               <textarea class="form-control last-child minH-180" id="note"
                                         ng-model="popUpNote"
                                         maxlength="4000">
                                </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>