<div class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header nopadding">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Create shipment</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                            <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="createShipment(carrier)">Submit</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body minH-180">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        <label>Carrier</label>
                                 <div class="select-auto">
		                                        	<div class="col-md-11 col-xs-11" style="padding: 0px !important">
													<input type="text" 
														class="form-control" id="carrier"
														autocomplete="off"
														input-focus = "{{errorMap.get('carrier')!=null}}"
	                                                    ng-model="carrier"
														uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierDynamicEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
														typeahead-show-hint="true" typeahead-show-loading="true" 
														 typeahead-select-on-exact="true" typeahead-append-to-body="false"
														typeahead-on-select=""
														typeahead-focus-on-select="false"
														typeahead-focus-first="true"
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500" 
														>
														<span class="select-arrow"><b></b></span>
												</div>
											</div> 
											<span ng-show="errorMap.get('carrier')!=null">{{errorMap.get('carrier')}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>