<div class="row">
    <div class="col-xs-12 mb-9">
        <div class="flex align-justify align-middle">
            <div>
                <div class="btngrp">
                    <button class="btn btn-xs btn-property btn-gray" ng-click="back()"><i class="icon-back-menu"></i> Back </button>
                    <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()"><i class="icon-add"></i> Add Pricing Air</button>
                </div>
            </div>

            <div class="btngrp">
                <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="showPopup(pricingMaster)"><i class="icon-add"></i> Create Shipment</button>
            </div>
            <!-- <div >
                <ul class="list-inline" ng-hide ="false">
                    <li>
                        <ul class="list-inline li-p0">
                            <li>{{selectedRowIndex+1}}</li>
                            <li>of</li>
                            <li>{{totalRecord}}</li>
                        </ul>
                    </li>
                    <li class="pr0">
                        <ul class="list-inline next-prev">
                            <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                            <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                        </ul>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <!--COL ENDS-->
</div>
<div class="panel panel-default detail-transition">
    <div class="panel-heading flexTitle">
        <div>
            <h4>Pricing Air</h4>
        </div>
        <div>
            <ul class="list-inline text-right">
                <li>
                    <a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory">
                        <i class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i></a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="editPricingAir()" class="list-panel-edit-btn cursorPt">
                        <i class="icon-edit" data-placement="bottom" bs-tooltip="editIcon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body pt0" panel-height-fit ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">

        <div show-response></div>
        <div success-message></div>
        <client-error message="clientMessage"></client-error>


        <div class="">
            <div class="row  metadata-detail overflow-hidden">
                <div class="col-xs-7 padlr-0 bor-fix bor-r-1">
                    <div class="col-xs-4 ptb-15">
                        <span>Origin</span>
                        <h6>{{pricingMaster.origin.portName}}</h6>
                    </div>
                    <div class="col-xs-4 ptb-15">
                        <span>Destination</span>
                        <h6>{{pricingMaster.destination.portName}}</h6>
                    </div>
                    <div class="col-xs-4 ptb-15">
                        <span>Transit Port</span>
                        <h6>{{pricingMaster.transit.portName}}</h6>
                    </div>
                    <div class="col-xs-4 ptb-15">
                        <span>Routed</span>
                        <h6>{{pricingMaster.whoRouted!=null?pricingMaster.whoRouted:'-'}}</h6>
                    </div>
                </div>
                <div class="col-xs-5 padlr-0 bor-fix">
                    <div class="col-xs-6 ptb-15">
                        <span>Download</span>
                        <h6 class=" cur-pointer" ng-click="download(pricingMaster)"> <span class="hyperLink">{{pricingMaster.origin.portName+'_'+pricingMaster.destination.portName}}{{pricingMaster.transit.portName==null?'':('_'+pricingMaster.transit.portName)}}.csv</span>
                            <span data-placement="bottom" bs-tooltip="downloadIcon" class="ml-8 icon-download">
                            </span>
                        </h6>
                    </div>

                    <div class="col-xs-6 ptb-15">
                        <span>Upload</span>
                        <h6 class="cur-pointer" ng-click="pricingAirUploadmodel(pricingMaster.id)"><span class="hyperLink">{{data.file.name}}</span>
                            <span data-placement="bottom" bs-tooltip="upload" class="ml-8 icon-upload"></span>
                        </h6>
                    </div>

                    <!-- <div ng-show="pricingMaster.id==null" class="col-xs-4">
                                    <label tabindex="-1" class="custom-label">Upload File</label>
                                    <div class="flex flex-row">
                                        <input type="text" ng-model="data.file.name" class="form-control width42per " disabled/>
                                        <button type="button" tabindex="-1" class="btn btn-xs green-btn ml-15" ng-click="pricingAirUploadmodel();navigateToNextField('pricingUpload')">Upload</button>
                                        <button type="button" tabindex="-1" class="btn btn-xs accent-btn ml-15" onclick="window.location.href='/document-templates/Pricing_air_template.csv'" download>Download</button>
                                    </div>
                                </div> -->

                </div>

            </div>
            <div class="row line">
                <hr>
            </div>
            <div class="row bor-0">
                <div class="col-xs-12 nopadding">
                    <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="openDefaultTab('general')">
                        <li data-menu-item="General">
                            <button type="button" class="btn" ng-class="Tabs=='general'?'active':'btn-normal'" ng-click="clickOnTab('general')">General</button>
                        </li>
                        <li data-menu-item="Hazardous">
                            <button ng-hide="true" type="button" class="btn" ng-class="Tabs=='hazardous'?'active':'btn-normal'" ng-click="Tabs='hazardous'">Hazardous</button>
                        </li>
                        <li data-menu-item="Attachments">
                            <button type="button" class="btn" ng-class="Tabs=='attachments'?'active':'btn-normal'" ng-click="clickOnTab('attachments')">Attachments</button>
                        </li>
                        <li data-more-menu-item>
                            <button ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                        </li>
                    </ul>
                    <!--TAB MENUS ENDS-->
                    <div class="tab-content">
                        <div ng-show="Tabs=='general'">
                            <div class="row nomargin pt10 ">
                                <div class="col-xs-12 ">
                                    <ul class="nav nav-tabs bor bor-b-0">
                                        <li>
                                            <button type="button" class="btn" tabindex="-1" ng-class="pricingState=='Origin'?'normal':'default'" ng-click="clickOnTab('Origin')">Origin Charges</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn" tabindex="-1" ng-class="pricingState=='Freight'?'normal':'default'" ng-click="clickOnTab('Freight')">Freight Charges</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn" tabindex="-1" ng-class="pricingState=='Destination'?'normal':'default'" ng-click="clickOnTab('Destination')">Destination Charges</button>
                                        </li>
                                    </ul>
                                    <div class="col-xs-12 bor bor-t-0 pt10 pb10">
                                        <div ng-show="pricingState=='Origin'" class="table-responsive table-fixed mt0" ng-init="openDefaultTab('Origin')">
                                            <table class="table table-inline" ng-show="pricingMaster.generalOriginPriceList.length>0">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" class="inl_sno">#</th>
                                                        <th rowspan="2" class="inl_m">Charge</th>
                                                        <th rowspan="2" class="inl_xs">Unit</th>
                                                        <th rowspan="2" class="inl_xs">Currency</th>
                                                        <th colspan="2" class="text-center">Valid</th>
                                                        <th colspan="2" class="text-center">MSR</th>
                                                        <th colspan="2" class="text-center">SSR</th>
                                                        <th colspan="2" class="text-center">Cost</th>
                                                        <!--<th rowspan="2" class="inl_sm">Remark</th>-->
                                                    </tr>
                                                    <tr>
                                                        <th class="inl_s">From</th>
                                                        <th class="inl_s">To</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pricingPortPair in pricingMaster.generalOriginPriceList track by $index">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{pricingPortPair.chargeMaster.chargeName}}</td>
                                                        <td>{{pricingPortPair.unitMaster.unitName}}</td>
                                                        <td>{{pricingPortPair.currencyMaster.currencyName}}</td>
                                                        <td>{{dateToString(pricingPortPair.validFromDate)}}</td>
                                                        <td>{{dateToString(pricingPortPair.validToDate)}}</td>
                                                        <td class="text-right">
                                                            {{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.minSelInMinimum)}}
                                                        </td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.minSelInAmount)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInMinimum)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInAmount)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInMinimum)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInAmount)}}</td>
                                                        <!--<td>
                                                        <a href="javascript:void(0);" class="cur-pointer last-child" ng-click="noteViewPopup()"><span class="icon-notes" title="Notes"></span></a>
                                                    </td>-->
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <empty-record ng-show="!pricingMaster.generalOriginPriceList  || pricingMaster.generalOriginPriceList.length==0" icon="edi" text="Looks like there are no origin price records here"></empty-record>
                                        </div>
                                        <!--ORIGIN -->
                                        <div ng-show="pricingState=='Freight'" class="table-responsive table-fixed mt0">
                                            <div class="row">
                                                <div class="col-xs-12 ptb-15" ng-show="pricingMaster.generalFreightPriceList.length>0">
                                                    <div class="flex align-right">
                                                        <div>
                                                            <div class="checkbox check-btn check-default">
                                                                <label>
                                                                    <input type="checkbox"
                                                                           ng-model="moreFre">
                                                                    Show Min Sell Price and Cost</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-inline" ng-show="pricingMaster.generalFreightPriceList.length>0">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" class="inl_sno">#</th>
                                                        <th rowspan="2" class="inl_m">Charge</th>
                                                        <th rowspan="2" class="inl_xs">Currency</th>
                                                        <th rowspan="2" class="inl_s">Carrier</th>
                                                        <th colspan="2" class="text-center" ng-show="!moreFre">Valid</th>
                                                        <th colspan="7" class="text-center" ng-show="!moreFre">SSR</th>
                                                        <th colspan="7" class="text-center" ng-show="moreFre">MSR</th>
                                                        <th colspan="7" class="text-center" ng-show="moreFre">Cost</th>
                                                        <th rowspan="2" class="inl_s text-right" ng-show="!moreFre">Fuel Surcharge</th>
                                                        <th rowspan="2" class="inl_s text-right" ng-show="!moreFre">Security Surcharge</th>
                                                        <th rowspan="2" class="inl_sm"></th>
                                                    </tr>
                                                    <tr>
                                                        <th class=" inl_s" ng-show="!moreFre">From</th>
                                                        <th class="inl_s" ng-show="!moreFre">To</th>

                                                        <th class="inl_xs text-right" ng-show="!moreFre">Min</th>
                                                        <th class="inl_xs text-right" ng-show="!moreFre">- 45</th>
                                                        <th class="inl_xs text-right" ng-show="!moreFre">+ 45</th>
                                                        <th class="inl_xs text-right" ng-show="!moreFre">+ 100</th>
                                                        <th class="inl_s text-right" ng-show="!moreFre">+ 250 / 300</th>
                                                        <th class="inl_xs text-right" ng-show="!moreFre">+ 500</th>
                                                        <th class="inl_xs text-right" ng-show="!moreFre">+ 1000</th>

                                                        <th class="inl_xs text-right" ng-show="moreFre">Min</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">- 45</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">+ 45</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">+ 100</th>
                                                        <th class="inl_s text-right" ng-show="moreFre">+ 250 / 300</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">+ 500</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">+ 1000</th>

                                                        <th class="inl_xs text-right" ng-show="moreFre">Min</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">- 45</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">+ 45</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">+ 100</th>
                                                        <th class="inl_s text-right" ng-show="moreFre">+ 250 / 300</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">+ 500</th>
                                                        <th class="inl_xs text-right" ng-show="moreFre">+ 1000</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pricingCarrier in pricingMaster.generalFreightPriceList track by $index">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{pricingCarrier.chargeMaster.chargeName}}</td>
                                                        <td>{{pricingCarrier.currencyMaster.currencyName}}</td>
                                                        <td><img ng-show="pricingCarrier.carrierMaster.image!=null" data-ng-src="data:image/png;base64,{{pricingCarrier.carrierMaster.image}}" style="padding-right:3px;" width="23" height="20">{{pricingCarrier.carrierMaster.carrierName}}</td>
                                                        <td ng-show="!moreFre">{{dateToString(pricingCarrier.validFrom)}}</td>
                                                        <td ng-show="!moreFre">{{dateToString(pricingCarrier.validTo)}}</td>

                                                        <td class="text-right" ng-show="!moreFre">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.minimum)}}
                                                        </td>
                                                        <td class="text-right" ng-show="!moreFre">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.minus45)}}
                                                        </td>
                                                        <td class="text-right" ng-show="!moreFre">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus45)}}
                                                        </td>
                                                        <td class="text-right" ng-show="!moreFre">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus100)}}
                                                        </td>
                                                        <td class="text-right" ng-show="!moreFre && pricingCarrier.carrierMaster.isPlus300">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus250)}}
                                                        </td>
                                                        <td class="text-right" ng-show="!moreFre && !pricingCarrier.carrierMaster.isPlus300">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus300)}}
                                                        </td>
                                                        <td class="text-right" ng-show="!moreFre">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus500)}}
                                                        </td>
                                                        <td class="text-right" ng-show="!moreFre">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus1000)}}
                                                        </td>
                                                        <!--Std sell-->

                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.minimum)}}</td>
                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.minus45)}}</td>
                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus45)}}</td>
                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus100)}}</td>
                                                        <td class="text-right" ng-show="moreFre && pricingCarrier.carrierMaster.isPlus300">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus250)}}</td>
                                                        <td class="text-right" ng-show="moreFre && !pricingCarrier.carrierMaster.isPlus300">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus300)}}</td>
                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus500)}}</td>
                                                        <td class="text-right" ng-show="moreFre">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus1000)}}
                                                        </td>
                                                        <!--MIn sell price-->

                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.minimum)}}</td>
                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.minus45)}}</td>
                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus45)}}</td>
                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus100)}}</td>
                                                        <td class="text-right" ng-show="moreFre && pricingCarrier.carrierMaster.isPlus300 ">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus250)}}</td>
                                                        <td class="text-right" ng-show="moreFre && !pricingCarrier.carrierMaster.isPlus300 ">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus300)}}</td>
                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus500)}}</td>
                                                        <td class="text-right" ng-show="moreFre">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus1000)}}</td>
                                                        <!--Cost-->

                                                        <td class="text-right" ng-show="!moreFre">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.fuelSurcharge)}}
                                                        </td>
                                                        <td class="text-right" ng-show="!moreFre">
                                                            {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.securitySurcharge)}}
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn accent-btn" ng-click="moreinfoPopup(pricingCarrier)">More Info</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <empty-record ng-show="!pricingMaster.generalFreightPriceList  || pricingMaster.generalFreightPriceList.length==0" icon="edi" text="Looks like there are no freight price records here"></empty-record>
                                        </div>
                                        <!--FRIGHT-->
                                        <div ng-show="pricingState=='Destination'" class="table-responsive table-fixed mt0">
                                            <table class="table table-inline" ng-show="pricingMaster.generalDestinationPriceList.length>0">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" class="inl_sno">#</th>
                                                        <th rowspan="2" class="inl_m">Charge</th>
                                                        <th rowspan="2" class="inl_xs">Unit</th>
                                                        <th rowspan="2" class="inl_xs">Currency</th>
                                                        <th colspan="2" class="text-center">Valid</th>
                                                        <th colspan="2" class="text-center">MSR</th>
                                                        <th colspan="2" class="text-center">SSR</th>
                                                        <th colspan="2" class="text-center">Cost</th>
                                                        <!--<th rowspan="2" class="inl_sm">Remark</th>-->
                                                    </tr>
                                                    <tr>
                                                        <th class=" inl_s">From</th>
                                                        <th class="inl_s">To</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pricingPortPair in pricingMaster.generalDestinationPriceList track by $index">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{pricingPortPair.chargeMaster.chargeName}}</td>
                                                        <td>{{pricingPortPair.unitMaster.unitName}}</td>
                                                        <td>{{pricingPortPair.currencyMaster.currencyName}}</td>
                                                        <td>{{dateToString(pricingPortPair.validFromDate)}}</td>
                                                        <td>{{dateToString(pricingPortPair.validToDate)}}</td>
                                                        <td class="text-right">
                                                            {{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.minSelInMinimum)}}
                                                        </td>

                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.minSelInAmount)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInMinimum)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInAmount)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInMinimum)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInAmount)}}</td>
                                                        <!--<td>
                                                        <a href="javascript:void(0);" class="cur-pointer last-child" ng-click="noteViewPopup()"><span class="icon-notes" title="Notes"></span></a>
                                                    </td>-->
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <empty-record ng-show="!pricingMaster.generalDestinationPriceList || pricingMaster.generalDestinationPriceList.length==0" icon="edi" text="Looks like there are no destination price records here"></empty-record>
                                        </div>
                                        <!--DESTINATION-->

                                    </div>
                                </div>
                                <!--<div class="col-xs-4 ptb-15">-->
                                <!--<button-group-->
                                <!--states="pricingAir"-->
                                <!--state="pricingState"-->
                                <!--on-state-change="pricingChange()">-->
                                <!--</button-group>-->
                                <!--</div>-->

                            </div>
                        </div>
                        <!--Accounting TAB ENDS-->
                        <div ng-show="Tabs=='hazardous'">
                            <div class="row nomargin pt10 pb10 ">
                                <div class="col-xs-12 ">
                                    <ul class="nav nav-tabs bor bor-b-0">
                                        <li>
                                            <button type="button" class="btn" tabindex="-1" ng-class="pricingState=='Origin'?'normal':'default'" ng-click="pricingState='Origin'">Origin Charges</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn" tabindex="-1" ng-class="pricingState=='Freight'?'normal':'default'" ng-click="pricingState='Freight'">Freight Charges</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn" tabindex="-1" ng-class="pricingState=='Destination'?'normal':'default'" ng-click="pricingState='Destination'">Destination Charges</button>
                                        </li>
                                    </ul>
                                    <div class="col-xs-12 bor bor-t-0 pt10">
                                        <div ng-show="pricingState=='Origin'" class="table-responsive table-fixed mt0">
                                            <table class="table table-inline" ng-show="pricingMaster.hazardousOriginPriceList.length>0">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" class="inl_sno">#</th>
                                                        <th rowspan="2" class="inl_m">Charge</th>
                                                        <th rowspan="2" class="inl_xs">Unit</th>
                                                        <th rowspan="2" class="inl_xs">Currency</th>
                                                        <th colspan="2" class="text-center">Valid</th>
                                                        <th colspan="2" class="text-center">MSR</th>
                                                        <th colspan="2" class="text-center">SSR</th>
                                                        <th colspan="2" class="text-center">Cost</th>
                                                        <!--<th rowspan="2" class="inl_sm">Remark</th>-->
                                                    </tr>
                                                    <tr>
                                                        <th class="inl_s">From</th>
                                                        <th class="inl_s">To</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pricingPortPair in pricingMaster.hazardousOriginPriceList track by $index">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{pricingPortPair.chargeMaster.chargeName}}</td>
                                                        <td>{{pricingPortPair.unitMaster.unitName}}</td>
                                                        <td>{{pricingPortPair.currencyMaster.currencyName}}</td>
                                                        <td>{{dateToString(pricingPortPair.validFromDate)}}</td>
                                                        <td>{{dateToString(pricingPortPair.validToDate)}}</td>
                                                        <td class="text-right">
                                                            {{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.minSelInMinimum)}}
                                                        </td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.minSelInAmount)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInMinimum)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInAmount)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInMinimum)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInAmount)}}</td>
                                                        <!--<td>
                                                        <a href="javascript:void(0);" class="cur-pointer last-child" ng-click="noteViewPopup()"><span class="icon-notes" title="Notes"></span></a>
                                                    </td>-->
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <empty-record ng-show="!pricingMaster.hazardousOriginPriceList  || pricingMaster.hazardousOriginPriceList.length==0" icon="edi" text="Looks like there are no origin price records here"></empty-record>
                                        </div>
                                        <!--ORIGIN -->
                                        <div ng-show="pricingState=='Freight'" class="table-responsive table-fixed mt0">
                                            <div class="row">
                                                <div class="col-xs-12 ptb-15" ng-show="pricingMaster.hazardousFreightPriceList.length>0">
                                                    <div class="flex align-right">
                                                        <div>
                                                            <div class="checkbox check-btn check-default">
                                                                <label>
                                                                    <input type="checkbox"
                                                                           ng-model="moreHaz">
                                                                    Show Min Sell Price and Cost</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-inline" ng-show="pricingMaster.hazardousFreightPriceList.length>0">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" class="inl_sno">#</th>
                                                        <th rowspan="2" class="inl_m">Charge</th>
                                                        <th rowspan="2" class="inl_xs">Currency</th>
                                                        <th rowspan="2" class="inl_s">Carrier</th>
                                                        <th colspan="2" class="text-center" ng-show="!moreHaz">Valid</th>
                                                        <th colspan="7" class="text-center" ng-show="!moreHaz">SSR</th>
                                                        <th colspan="7" class="text-center" ng-show="moreHaz">MSR</th>
                                                        <th colspan="7" class="text-center" ng-show="moreHaz">Cost</th>
                                                        <th rowspan="2" class="inl_s text-right" ng-show="!moreHaz">Fuel Surcharge</th>
                                                        <th rowspan="2" class="inl_s text-right" ng-show="!moreHaz">Security Surcharge</th>
                                                        <th rowspan="2" class="inl_sm"></th>
                                                    </tr>
                                                    <tr>
                                                        <th class=" inl_s" ng-show="!moreHaz">From</th>
                                                        <th class="inl_s" ng-show="!moreHaz">To</th>

                                                        <th class="inl_xs text-right" ng-show="!moreHaz">Min</th>
                                                        <th class="inl_xs text-right" ng-show="!moreHaz">- 45</th>
                                                        <th class="inl_xs text-right" ng-show="!moreHaz">+ 45</th>
                                                        <th class="inl_xs text-right" ng-show="!moreHaz">+ 100</th>
                                                        <th class="inl_s text-right" ng-show="!moreHaz">+ 250 / 300</th>
                                                        <th class="inl_xs text-right" ng-show="!moreHaz">+ 500</th>
                                                        <th class="inl_xs text-right" ng-show="!moreHaz">+ 1000</th>

                                                        <th class="inl_xs text-right" ng-show="moreHaz">Min</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">- 45</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">+ 45</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">+ 100</th>
                                                        <th class="inl_s text-right" ng-show="moreHaz">+ 250 / 300</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">+ 500</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">+ 1000</th>

                                                        <th class="inl_xs text-right" ng-show="moreHaz">Min</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">- 45</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">+ 45</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">+ 100</th>
                                                        <th class="inl_s text-right" ng-show="moreHaz">+ 250 / 300</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">+ 500</th>
                                                        <th class="inl_xs text-right" ng-show="moreHaz">+ 1000</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pricingCarrier in pricingMaster.hazardousFreightPriceList track by $index">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{pricingCarrier.chargeMaster.chargeName}}</td>
                                                        <td>{{pricingCarrier.currencyMaster.currencyName}}</td>
                                                        <td><img ng-show="pricingCarrier.carrierMaster.image!=null" data-ng-src="data:image/png;base64,{{pricingCarrier.carrierMaster.image}}" style="padding-right:3px;" width="23" height="20"> {{pricingCarrier.carrierMaster.carrierName}}</td>

                                                        <td ng-show="!moreHaz">{{dateToString(pricingCarrier.validFrom)}}</td>
                                                        <td ng-show="!moreHaz"> {{dateToString(pricingCarrier.validTo)}}</td>

                                                        <td class="text-right" ng-show="!moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.minimum)}}</td>
                                                        <td class="text-right" ng-show="!moreHaz"> {{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.minus45)}}</td>
                                                        <td class="text-right" ng-show="!moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus45)}}</td>
                                                        <td class="text-right" ng-show="!moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus100)}}</td>
                                                        <td class="text-right" ng-show="!moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus300)}}</td>
                                                        <td class="text-right" ng-show="!moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus500)}}</td>
                                                        <td class="text-right" ng-show="!moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.standardSellPrice.plus1000)}}</td>

                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.minimum)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.minus45)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus45)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus100)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus300)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus500)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.minimumSellPrice.plus1000)}}</td>

                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.minimum)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.minus45)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus45)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus100)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus300)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus500)}}</td>
                                                        <td class="text-right" ng-show="moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.cost.plus1000)}}</td>

                                                        <td class="text-right" ng-show="!moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.fuelSurcharge)}}</td>
                                                        <td class="text-right" ng-show="!moreHaz">{{currencyFormat(pricingCarrier.currencyMaster,pricingCarrier.securitySurcharge)}}</td>
                                                        <td>
                                                            <button type="button" class="btn accent-btn" ng-click="moreinfoPopup(pricingCarrier)">More Info</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <empty-record ng-show="!pricingMaster.hazardousFreightPriceList  || pricingMaster.hazardousFreightPriceList.length==0" icon="edi" text="Looks like there are no freight price records here"></empty-record>
                                        </div>
                                        <!--FRIGHT-->
                                        <div ng-show="pricingState=='Destination'" class="table-responsive table-fixed mt0">
                                            <table class="table table-inline" ng-show="pricingMaster.hazardousDestinationPriceList.length>0">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" class="inl_sno">#</th>
                                                        <th rowspan="2" class="inl_m">Charge</th>
                                                        <th rowspan="2" class="inl_xs">Unit</th>
                                                        <th rowspan="2" class="inl_xs">Currency</th>
                                                        <th colspan="2" class="text-center">Valid</th>
                                                        <th colspan="2" class="text-center">MSR</th>
                                                        <th colspan="2" class="text-center">SSR</th>
                                                        <th colspan="2" class="text-center">Cost</th>
                                                        <!--<th rowspan="2" class="inl_sm">Remark</th>-->
                                                    </tr>
                                                    <tr>
                                                        <th class=" inl_s">From</th>
                                                        <th class="inl_s">To</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                        <th class="text-right inl_s">Minimum</th>
                                                        <th class="text-right inl_s">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pricingPortPair in pricingMaster.hazardousDestinationPriceList track by $index">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{pricingPortPair.chargeMaster.chargeName}}</td>
                                                        <td>{{pricingPortPair.unitMaster.unitName}}</td>
                                                        <td>{{pricingPortPair.currencyMaster.currencyName}}</td>
                                                        <td>{{dateToString(pricingPortPair.validFromDate)}}</td>
                                                        <td>{{dateToString(pricingPortPair.validToDate)}}</td>
                                                        <td class="text-right">
                                                            {{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.minSelInMinimum)}}
                                                        </td>

                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.minSelInAmount)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInMinimum)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInAmount)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInMinimum)}}</td>
                                                        <td class="text-right">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInAmount)}}</td>
                                                        <!--<td>
                                                        <a href="javascript:void(0);" class="cur-pointer last-child" ng-click="noteViewPopup()"><span class="icon-notes" title="Notes"></span></a>
                                                    </td>-->
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <empty-record ng-show="!pricingMaster.hazardousDestinationPriceList  || pricingMaster.hazardousDestinationPriceList.length==0" icon="edi" text="Looks like there are no destination price records here"></empty-record>
                                        </div>
                                        <!--DESTINATION-->
                                    </div>
                                </div>
                                <!--<div class="col-xs-4 ptb-15">-->
                                <!--<button-group-->
                                <!--states="pricingAir"-->
                                <!--state="pricingState"-->
                                <!--on-state-change="pricingChange()">-->
                                <!--</button-group>-->
                                <!--</div>-->

                            </div>
                        </div>
                        <div ng-show="Tabs=='attachments'">
                            <div class="row nopadding nomargin">
                                <div class="col-xs-8 padlr-0">
                                    <attachment-section-simple is-edit="false" is-delete="false" table-data="pricingMaster.attachmentList" ng-if="pricingMaster.attachmentList.length>0" attachment-config="attachConfig" download-fn="downloadAttach(param)" download-role="$roleConstant.CRM_PRICING_AIR_ATTACHMENT_DOWNLOAD">
                                    </attachment-section-simple>
                                </div>
                            </div>
                            <div class="row" ng-if="pricingMaster.attachmentList.length==0">
                                <div class="col-xs-12">
                                    <empty-record icon="attachment" text="Looks like there are no attachment records here"></empty-record>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--TAB CONTENT TAB ENDS-->
                </div>
                <!--Col ends-->
            </div>
            <!--row ends-->
        </div>
        <div class="logs-view logs-transition width42per" ng-show="showHistory">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-left">
                        <div class="panelTitle">
                            <span>
											<a data-placement="bottom"   bs-tooltip="close" href="javascript:void(0)" ng-click="showHistory=false"
                                               class="list-panel-back"><i class="icon-close-detail"></i></a>
										</span>
                            <span>Activity</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <div class="card">

                        <ul class="list-inline card-cell">
                            <li>
                                <hm-init-icon customer-name="pricingMaster.systemTrack.createUser"></hm-init-icon>
                            </li>
                            <li>
                                <ul class="list-unstyled">
                                    <li><b>{{pricingMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                    <li class="span text-muted">{{dateAndTimeToString(pricingMaster.systemTrack.createDate)}}</li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <div class="card">
                        <ul class="list-inline card-cell">
                            <li>
                                <hm-init-icon customer-name="pricingMaster.systemTrack.createUser"></hm-init-icon>
                            </li>
                            <li>
                                <ul class="list-unstyled">
                                    <li><b>{{pricingMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                    <li class="span text-muted">{{dateAndTimeToString(pricingMaster.systemTrack.lastUpdatedDate)}}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>