<div class="container-fluid">
    <div class="row ml0 mr0 " data-ng-controller="RalCtrl" ng-init="init()">
        <div ng-show="!showDetail" class=" list-container col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panelTitle">
                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addRecordAccessLevel()">
                                    <i class="icon-add"></i>Add Record Access Level
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right text-right">
                            <i class="icon-settings"></i>
                        </div>
                    </div>
                </div>
                <div show-response></div>
                <div class="panel-body detail-body" panel-height>
                    <div class="table-fixed table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                        <super-table 	data="recordAccessLevelArr"
                                        head="recordAccessLevelHeadArr"
                                        sort="sortSelection"
                                        click-event="rowSelect()"
                                        search-event="changeSearch(param)"
                                        sort-event="sortChange(param)"
                                        page="page" size="limit" >
                        </super-table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="pull-left">
                        <ul class="list-inline">
                            <li>Show</li>
                            <li>
                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                </select>
                            </li>
                            <li>Entries</li>
                        </ul>
                    </div>
                    <div class="pull-right text-right">
                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                    </div>
                </div>
            </div><!--panel ends-->
        </div>

        <!--Detail Views-->
        <div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12 pl0" ng-show="showDetail" >
            <div class="row">
                <div class="col-xs-12 mb-9">
                    <div class="flex align-justify align-middle">
                        <div>
                            <div class="btngrp">
                                <button class="btn btn-xs btn-property btn-gray" ng-click="back()"><i class="icon-back-menu"></i> Back </button>
                                <button class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="addRecordAccessLevel()"><i class="icon-add"></i> Add Record Access Levels</button>
                            </div>
                        </div>
                        <!-- <div>
                            <ul class="list-inline">
                                <li>
                                    <ul class="list-inline li-p0">
                                        <li>2</li>
                                        <li>of</li>
                                        <li>200</li>
                                    </ul>
                                </li>
                                <li class="pr0">
                                    <ul class="list-inline next-prev">
                                        <li data-placement="auto bottom"   bs-tooltip="prev"><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                                        <li data-placement="auto bottom"    bs-tooltip="next"><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                                    </ul>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div><!--COL ENDS-->
            </div>
            <div class="panel panel-default detail-transition" >
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>Record Access Level</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right">
                            <!--<li><i class="icon-settings"></i></li>-->
                            <li><a  href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"
                            ><i data-placement="bottom"   bs-tooltip="activity" class="icon-logs"></i></a></li>
                            <li><a data-placement="bottom"   bs-tooltip="edit" href="javascript:void(0)" ng-click="addRecordAccessLevel()"
                                   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
                            <li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)"
                                   ng-click="hasAccess('MASTER_CHARGE_DELETE')?deleteMaster():''" class="list-panel-edit-btn cursorPt"><i
                                    class="icon-delete"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body" panel-height-fit ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
                    <div class="detail-view">

                        <div class="row metadata-detail" style="padding-left: 0 !important; padding-right: 0 !important;">
                            <div class="col-xs-3">
                                <span>Name</span>
                                <h5 class="heading">EFSL-CHN-AIR</h5>
                            </div>
                            <div class="col-xs-2">
                                <span >Status</span>
                                <show-status status="{{daybook.status}}"></show-status>
                            </div>
                        </div>

                        <!--<div class="row bor-0" style="padding-right: 0 !important; padding-left: 0 !important;">-->
                            <!--<div class="col-xs-10 plr0">-->
                                <!--<div class="row nopadding">-->
                                    <!--<div class="col-xs-2">-->
                                        <!--<span>Description</span>-->
                                        <!--<h6>Admin</h6>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="row nopadding bor-0 line">
                            <hr>
                        </div>

                        <div class="row nopadding bor-0">
                            <div class="col-xs-12 nopadding">
                                <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='tab1'">
                                    <li data-menu-item="Accounting">
                                        <button type="button" class="btn" ng-class="Tabs=='tab1'?'active':'btn-normal'" ng-click="Tabs='tab1'">Access Level</button>
                                    </li>
                                    <li data-menu-item="AssignedTo">
                                        <button type="button" class="btn" ng-class="Tabs=='tab2'?'active':'btn-normal'" ng-click="Tabs='tab2'">Assigned To</button>
                                    </li>
                                    <li data-menu-item="Remarks">
                                        <button type="button" class="btn" ng-class="Tabs=='tab3'?'active':'btn-normal'" ng-click="Tabs='tab3'">Remarks</button>
                                    </li>
                                    <li data-more-menu-item >
                                        <button ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                                    </li>
                                </ul><!--TAB MENUS ENDS-->
                                <div class="tab-content" >
                                    <div ng-show="Tabs=='tab1'">
                                        <!--<div class="row nopadding">-->
                                            <!--<div class="col-xs-12">-->
                                                <!--<div class="table-responsive">-->
                                                    <!--<table class="table table-inline mt0">-->
                                                        <!--<caption>Company</caption>-->
                                                        <!--<thead>-->
                                                        <!--<tr>-->
                                                            <!--<th class="inl_sno">#</th>-->
                                                            <!--<th class="w150px">Company</th>-->
                                                            <!--<th class="w150px">Division</th>-->
                                                            <!--<th class="w150px">Location</th>-->
                                                            <!--<th class="w150px">Service</th>-->
                                                        <!--</tr>-->
                                                        <!--</thead>-->
                                                        <!--<tbody>-->
                                                            <!--<tr>-->
                                                                <!--<td>1</td>-->
                                                                <!--<td>Vanguard Pvt Ltd</td>-->
                                                                <!--<td>North Zone</td>-->
                                                                <!--<td>Mumbai</td>-->
                                                                <!--<td>Air Export</td>-->
                                                            <!--</tr>-->
                                                            <!--<tr>-->
                                                                <!--<td>1</td>-->
                                                                <!--<td>Vanguard Pvt Ltd</td>-->
                                                                <!--<td>South Zone</td>-->
                                                                <!--<td>Chennai</td>-->
                                                                <!--<td>Air Import</td>-->
                                                            <!--</tr>-->
                                                        <!--</tbody>-->
                                                    <!--</table>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <div class="row nopadding">
                                            <div class="col-xs-4">
                                                <div class="table-responsive">
                                                    <table class="table table-inline mt0">
                                                        <caption>Country</caption>
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_sno">#</th>
                                                            <th class="inl_l">Country</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>India</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>United States</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="table-responsive">
                                                    <table class="table table-inline mt0">
                                                        <caption>Division</caption>
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_sno">#</th>
                                                            <th class="inl_l">Division</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>North Region
                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="table-responsive">
                                                    <table class="table table-inline mt0">
                                                        <caption>Location</caption>
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_sno">#</th>
                                                            <th class="inl_l">Location</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Chennai</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Mumbai</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row nopadding" style="border:none !important">

                                            <div class="col-xs-4">
                                                <div class="table-responsive">
                                                    <table class="table table-inline mt0">
                                                        <caption>Service</caption>
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_sno">#</th>
                                                            <th class="inl_l">Service</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Air Export</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Air Import</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Air Export Clearance</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="table-responsive">
                                                    <table class="table table-inline mt0">
                                                        <caption>{{appMasterData['Party_Label']}}</caption>
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_sno">#</th>
                                                            <th class="inl_l">{{appMasterData['Party_Label']}}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Lion Imports & Exports
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>NewAge Technologies
                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="table-responsive">
                                                    <table class="table table-inline mt0">
                                                        <caption>Salesman</caption>
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_sno">#</th>
                                                            <th class="inl_l">Salesman</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Sathish Robert
                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>



                                        <!--<div class="row nopadding">
                                            <div class="col-xs-6 plr0 pb-15 bor-btm-1 bor-r-1">
                                                <div class="row nopadding">
                                                    <div class="col-xs-12 mb-5">
                                                        <h6>Cash Account</h6>
                                                    </div>&lt;!&ndash;Title div&ndash;&gt;
                                                    <div class="col-xs-3">
                                                        <span>Account Code</span>
                                                        <h6>1103020085</h6>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <span>Subledger</span>
                                                        <h6>S000190</h6>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span>Account Name</span>
                                                        <h6>Petty Cash Accounts</h6>
                                                    </div>
                                                </div>
                                            </div>&lt;!&ndash;1st 6column end&ndash;&gt;
                                            <div class="col-xs-6 plr0 pb-15 bor-btm-1">
                                                <div class="row nopadding">
                                                    <div class="col-xs-12 mb-5">
                                                        <h6>Bank Account</h6>
                                                    </div>&lt;!&ndash;Title div&ndash;&gt;
                                                    <div class="col-xs-3">
                                                        <span>Account Code</span>
                                                        <h6>1103020090</h6>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <span>Subledger</span>
                                                        <h6>S000191</h6>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span>Account Name</span>
                                                        <h6>Bank Balance Local </h6>
                                                    </div>
                                                </div>
                                            </div>&lt;!&ndash;2st 6column end&ndash;&gt;
                                        </div>
                                        <div class="row nopadding">
                                            <div class="col-xs-6 plr0 pb-15 bor-r-1">
                                                <div class="row nopadding">
                                                    <div class="col-xs-12 mb-5">
                                                        <h6>Post Dated Cheque Account</h6>
                                                    </div>&lt;!&ndash;Title div&ndash;&gt;
                                                    <div class="col-xs-3">
                                                        <span>Account Code</span>
                                                        <h6>1103020090</h6>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <span>Subledger</span>
                                                        <h6>S000191</h6>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span>Account Name</span>
                                                        <h6>Bank Balance Local</h6>
                                                    </div>
                                                </div>
                                            </div>&lt;!&ndash;1st 6column end&ndash;&gt;
                                            <div class="col-xs-6 plr0 pb-15">
                                                <div class="row nopadding">
                                                    <div class="col-xs-12 mb-5">
                                                        <h6>Exchange Gain Account</h6>
                                                    </div>&lt;!&ndash;Title div&ndash;&gt;
                                                    <div class="col-xs-3">
                                                        <span>Account Code</span>
                                                        <h6>1103020090</h6>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <span>Subledger</span>
                                                        <h6>S000191</h6>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span>Account Name</span>
                                                        <h6>Bank Balance Local </h6>
                                                    </div>
                                                </div>
                                            </div>&lt;!&ndash;2st 6column end&ndash;&gt;
                                        </div>
                                        <div class="row nopadding">
                                            <div class="col-xs-6 plr0 pb-15 bor-r-1">
                                                <div class="row nopadding">
                                                    <div class="col-xs-12 mb-5">
                                                        <h6>Exchange Loss Account</h6>
                                                    </div>&lt;!&ndash;Title div&ndash;&gt;
                                                    <div class="col-xs-3">
                                                        <span>Account Code</span>
                                                        <h6>1103020090</h6>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <span>Subledger</span>
                                                        <h6>S000191</h6>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span>Account Name</span>
                                                        <h6>Bank Balance Local</h6>
                                                    </div>
                                                </div>
                                            </div>&lt;!&ndash;1st 6column end&ndash;&gt;
                                            <div class="col-xs-6 plr0 pb-15">

                                            </div>&lt;!&ndash;2st 6column end&ndash;&gt;
                                        </div>
                                        <div class="row plr0 ptb-15">
                                            <div class="col-xs-2">
                                                <span>Block Date</span>
                                                <h6>12 Jan 2016</h6>
                                            </div>
                                            <div class="col-xs-2">
                                                <span>Cheque No. - From</span>
                                                <h6>-</h6>
                                            </div>
                                            <div class="col-xs-2">
                                                <span>Cheque No. - To</span>
                                                <h6>-</h6>
                                            </div>
                                            <div class="col-xs-2">
                                                <span>Cheque Report Name</span>
                                                <h6>-</h6>
                                            </div>
                                            <div class="col-xs-4">
                                                <span>Numeric Daybook</span>
                                                <h6>-</h6>
                                            </div>
                                        </div>-->
                                    </div><!--Accounting TAB ENDS-->
                                    <div ng-show="Tabs=='tab2'">
                                        <div class="row bg-gray border-visible plr0">
                                            <div class="col-xs-12">
                                                <p class="opc-5"> users have been assigned this role</p>
                                            </div>
                                            <div class="col-xs-12 nopadding">
                                                <ul class="list-group" >
                                                    <li class="list-group-item">Sathish kumar</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="Tabs=='tab3'">
                                        <div class="row bg-gray border-visible plr0">
                                            <div class="col-xs-12">
                                                <p class="opc-5"> Remarks</p>
                                            </div>
                                            <!--<div class="col-xs-12 nopadding">-->
                                                <!--<ul class="list-group" >-->
                                                    <!--<li class="list-group-item">Sathish kumar</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        </div>
                                    </div>

                                    <!--Remarks TAB ENDS-->
                                </div><!--TAB CONTENT TAB ENDS-->
                            </div><!--Col ends-->
                        </div><!--row ends-->
                    </div>
                    <div class="logs-view logs-transition width42per widP55per widL55per" ng-show="showHistory">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <div class="panelTitle">
										<span>
											<a  href="javascript:void(0)" ng-click="showHistory=false"
                                               class="list-panel-back"><i data-placement="bottom"   bs-tooltip="close" class="icon-close-detail"></i></a>
										</span>
                                        <span>Activity</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
                                <div class="card">

                                    <ul class="list-inline card-cell">
                                        <li>
                                            <hm-init-icon customer-name="chargeMaster.systemTrack.createUser "></hm-init-icon>
                                        </li>
                                        <li>
                                            <ul class="list-unstyled mt-5">
                                                <li><b>{{chargeMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                                <li class="span text-muted">{{dateAndTimeToString(chargeMaster.systemTrack.createDate)}}</li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                                <div class="card">
                                    <ul class="list-inline card-cell">
                                        <li>
                                            <hm-init-icon customer-name="chargeMaster.systemTrack.lastUpdatedUse"></hm-init-icon>
                                        </li>
                                        <li>
                                            <ul class="list-unstyled mt-5">
                                                <li><b>{{chargeMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                                <li class="span text-muted">{{dateAndTimeToString(chargeMaster.systemTrack.lastUpdatedDate)}}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
