<div class="container-fluid" ng-controller="RalEditCtrl">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>
                            Add Record Access Level</h4>
                    </div>
                    <div>
                        <button class="btn btn-property cancel-btn" ng-click="cancel()">cancel</button>
                        <button class="btn btn-property accent-btn">save</button>
                    </div>
                </div>
                <div class="panel-body edit-body pt0" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <form role="form">
                        <div class="row ">
                            <div class="col-xs-12 ptb-15">
                                <div show-response></div>
                                <div success-response></div>
                                <span class="reqColor nomargin">*</span>
                                <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 bor-btm-1">
                                <div class="row">
                                    <div class="col-xs-5 ptb-15">
                                        <div class="form-group mb0">
                                            <label>name <span>*</span></label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-2 ptb-15 ">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select
                                                    class="form-control status " id="status"
                                                    ng-class="setStatus(recordAccess.status)"
                                                    ng-options="item for item in enum['LovStatus']"
                                                    ng-model="recordAccess.status" >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='Access'">
                                <li data-menu-item="Access">
                                <button type="button" class="btn" ng-class="Tabs=='Access'?'active':'btn-normal'" ng-click="Tabs='Access'">Access Level</button>
                                </li>
                                <li data-menu-item="AssignedTo">
                                    <button type="button" class="btn" ng-class="Tabs=='AssignedTo'?'active':'btn-normal'" ng-click="Tabs='AssignedTo'">Assigned To</button>
                                </li>
                                <li data-menu-item="Remarks">
                                <button type="button" class="btn" ng-class="Tabs=='Remarks'?'active':'btn-normal'" ng-click="Tabs='Remarks'">Remarks</button>
                                </li>
                                <li data-more-menu-item >
                                <button ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                                </li>
                                </ul>
                                <!--TAB MENUS ENDS-->
                                <div class="tab-content padding15" >
                                    <div  class="fgmb0" ng-show="Tabs=='Access'">

                                        <div class="row">
                                            <div class="col-xs-12">
                                            <p class="opc-5 f-12b4"> <b>Note:</b> If none selected, then user can access all records.</p>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label>Country</label>
                                                        </div>
                                                    </div>


                                                    <button type="button" tabIndex="-1" class="btn btn-info btn-property mb10 accent-btn">
                                                        <i class="icon-add"></i> Add Country
                                                    </button>
                                                    <div class="table-responsive"  ng-style="dropStyle">
                                                        <table class="table table-inline-nopad" tab-nav tab-row="addRow()">
                                                            <thead>
                                                            <tr>
                                                                <th class="inl_sno">#</th>
                                                                <th class="inl_l">Country </th>
                                                                <th class="inl_sno">Action </th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>
                                                                    <div class="select-auto">
                                                                      <input type="text" auto-complete   class="form-control"  ng-model="Country"  />
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <ul class="list-inline">
                                                                        <li><a href="javascript:void(0);" ><i class="icon-delete"></i></a></li>
                                                                    </ul></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div><!--body ends-->
                                            </div>
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label>Division</label>
                                                        </div>
                                                    </div>


                                                    <button type="button" tabIndex="-1" class="btn btn-info btn-property mb10 accent-btn"
                                                            >
                                                        <i class="icon-add"></i> Add Division
                                                    </button>
                                                    <div class="table-responsive"  ng-style="dropStyle">
                                                        <table class="table table-inline-nopad" tab-nav tab-row="addRow()">
                                                            <thead>
                                                            <tr>
                                                                <th class="inl_sno">#</th>
                                                                <th class="inl_l">Division </th>
                                                                <th class="inl_sno">Action </th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>
                                                                    <div class="select-auto">
                                                                     <input type="text" auto-complete   class="form-control"  ng-model="Division"  />
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <ul class="list-inline">
                                                                        <li><a href="javascript:void(0);" ><i class="icon-delete"></i></a></li>
                                                                    </ul></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div><!--body ends-->
                                            </div>
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label>Location</label>
                                                        </div>
                                                    </div>


                                                    <button type="button" tabIndex="-1" class="btn btn-info btn-property mb10 accent-btn">
                                                        <i class="icon-add"></i> Add Location
                                                    </button>
                                                    <div class="table-responsive"  ng-style="dropStyle">
                                                        <table class="table table-inline-nopad" tab-nav tab-row="addRow()">
                                                            <thead>
                                                            <tr>
                                                                <th class="inl_sno">#</th>
                                                                <th class="inl_l">Location </th>
                                                                <th class="inl_sno">Action </th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>
                                                                    <div class="select-auto">
                                                                     <input type="text" auto-complete   class="form-control"  ng-model="Location"  />
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <ul class="list-inline">
                                                                        <li><a href="javascript:void(0);" ><i class="icon-delete"></i></a></li>
                                                                    </ul></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div><!--body ends-->
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label>Service</label>
                                                        </div>
                                                    </div>


                                                    <button type="button" tabIndex="-1" class="btn btn-info btn-property mb10 accent-btn"
                                                            >
                                                        <i class="icon-add"></i> Add Service
                                                    </button>
                                                    <div class="table-responsive"  ng-style="dropStyle">
                                                        <table class="table table-inline-nopad" tab-nav tab-row="addRow()">
                                                            <thead>
                                                            <tr>
                                                                <th class="inl_sno">#</th>
                                                                <th class="inl_l">Service </th>
                                                                <th class="inl_sno">Action </th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>
                                                                    <div class="select-auto">
                                                                    <input type="text" auto-complete   class="form-control"  ng-model="Service"  />
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <ul class="list-inline">
                                                                        <li><a href="javascript:void(0);" ><i class="icon-delete"></i></a></li>
                                                                    </ul></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div><!--body ends-->
                                            </div>
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label>{{appMasterData['Party_Label']}}</label>
                                                        </div>
                                                    </div>


                                                    <button type="button" tabIndex="-1" class="btn btn-info btn-property mb10 accent-btn">
                                                        <i class="icon-add"></i> Add {{appMasterData['Party_Label']}}
                                                    </button>
                                                    <div class="table-responsive"  ng-style="dropStyle">
                                                        <table class="table table-inline-nopad" tab-nav tab-row="addRow()">
                                                            <thead>
                                                            <tr>
                                                                <th class="inl_sno">#</th>
                                                                <th class="inl_l">{{appMasterData['Party_Label']}} </th>
                                                                <th class="inl_sno">Action </th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>
                                                                    <div class="select-auto">
                                                                    <input type="text" auto-complete   class="form-control"  ng-model="Party"  />
                                                                </div>
                                                                </td>
                                                                <td>
                                                                    <ul class="list-inline">
                                                                        <li><a href="javascript:void(0);" ><i class="icon-delete"></i></a></li>
                                                                    </ul></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div><!--body ends-->
                                            </div>
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label>Salesman</label>
                                                        </div>
                                                    </div>


                                                    <button type="button" tabIndex="-1" class="btn btn-info btn-property mb10 accent-btn"
                                                            >
                                                        <i class="icon-add"></i> Add Salesman
                                                    </button>
                                                    <div class="table-responsive"  ng-style="dropStyle">
                                                        <table class="table table-inline-nopad" tab-nav tab-row="addRow()">
                                                            <thead>
                                                            <tr>
                                                                <th class="inl_sno">#</th>
                                                                <th class="inl_l">Salesman </th>
                                                                <th class="inl_sno">Action </th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>
                                                                    <div class="select-auto">
                                                                     <input type="text" auto-complete   class="form-control"  ng-model="Salesman"  />
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <ul class="list-inline">
                                                                        <li><a href="javascript:void(0);" ><i class="icon-delete"></i></a></li>
                                                                    </ul></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div><!--body ends-->
                                            </div>
                                        </div>




                                    </div>
                                    <div  class="fgmb0" ng-show="Tabs=='AssignedTo'">
                                        <div class="row">
                                            <div class="col-xs-12">
                                            Assigned To
                                            </div>

                                        </div>

                                    </div>
                                    <div  class="fgmb0" ng-show="Tabs=='Remarks'">
                                        <div class="row">
                                            <div class="col-xs-12">
                                               Remarks
                                            </div>

                                        </div>

                                    </div>
                                </div><!--TAB CONTENT TAB ENDS-->
                            </div><!--Col ends-->
                        </div><!--row ends-->
                    </form>
                </div>
            </div><!--panel ends-->
        </div>
    </div>
</div>


