<div class="container-fluid ">
    <div class="row ">
        <div class=" col-md-12 col-lg-7 col-sm-12 col-xs-12">
        <form role="form"  id="costCenterMasterForm" name="costCenterMasterForm"
              ng-submit="costCenterMaster.id!=null?update():save()">
            <div class="panel panel-default masOpertion">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{costCenterMaster.id!=null?'Edit':'Add'}} Cost Center </h4>
                    </div>
                    <div>
                        <div class="btngrp">

                                <button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>

                                <input type="submit" class="btn accent-btn" value="{{costCenterMaster.id!=null?'Update':'Save'}}">

                        </div>
                    </div>
                </div>
                <div class="panel-body half-master-edit" id="costCenter-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <div class="pad-15">
                        <div show-response></div>
                        <div success-response></div>
                        <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory fields</small></div>
                    </div>   
                    <div class="row ">
                        
                        <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12 form-group nomargin pl0 pr0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input type="text"   input-focus="true" class="form-control"  ng-class="{'error-control':errorMap.get('costCenterName')!=null}"  ng-change="validateCCMaster(1)"
                                       ng-model="costCenterMaster.costCenterName"   focus="{{errorMap.get('costCenterName')!=null}}"
                                       maxlength="100"  >
								 <div>
                                       <span class="error-message" ng-show="errorMap.get('costCenterName')!=null"><small>{{errorMap.get('costCenterName')}}</small></span>                         
                                  </div>
							</div>
                        
                        
                                            </div>
                    <div class="row ">
                        <div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0 pr0">
                        <div class="col-xs-6 col-sm-3 col-md-6 form-group nomargin pl0 ">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input type="text" class="form-control" ng-model="costCenterMaster.costCenterCode" ng-change="validateCCMaster(2)"  ng-class="{'error-control':errorMap.get('costCenterCode')!=null}"
                                           maxlength="10" capitalize focus="{{errorMap.get('costCenterCode')!=null}}" ng-disabled="costCenterMaster.id!=null">
									<div>
                                       <span class="error-message" ng-show="errorMap.get('costCenterCode')!=null"><small>{{errorMap.get('costCenterCode')}}</small></span>                         
                                  </div>
								</div>
                             <div class="col-xs-6 col-sm-3 col-md-6 form-group nomargin pr0"
                                 ng-show="costCenterMaster.id!=null">

                                <label class="custom-label">
                                    Status
                                </label>
                                <select class="form-control status" id="status"
                                        ng-class="setStatus(costCenterMaster.status)"
                                        ng-options="item for item in enum['LovStatus']"
                                        ng-model="costCenterMaster.status" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div><!--panel body ends-->
            </div><!--panel ends-->
        </form>
    </div><!--col ends-->
    </div>
</div>


