

<div class="col-xs-12 detailview">
    <!--COL ENDS-->
    <ul  ng-hide="setVisibility" class="list-inline mb-10">
        <li>
            <a  class="btn btn-xs btn-property btn-gray" ng-click="back()"><i class="icon-back-menu"></i>Back</a>
            <!--<li>-->
            <!--<a href="javascript:void(0);"
                 class="btn btn-primary btn-xs btn-property accent-btn"
                 ng-click="add()"><i class="icon-add"></i> new invoice</a>-->
            <!--</li>-->
        </li>

        <li class=" pull-right pr0">
            <!-- <ul class="list-inline" ng-show="showActionButton">
                <li>
                    <ul class="list-inline li-p0">
                          <li>{{selectedRecordIndex+1}}</li>
                            <li>of</li>
                            <li>{{totalRecord}}</li>
                    </ul>
                </li>
                <li class="pr0">
                    <ul class="list-inline next-prev">
                        <li data-placement="auto bottom"   bs-tooltip="prev"><i class="icon-r-arrow"  aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                        <li data-placement="auto bottom"    bs-tooltip="next"><i class="icon-r-arrow" aria-hidden="true"  ng-click="singlePageNavigation(1)"></i></li>
                    </ul>
                </li>
            </ul> -->
        </li>
    </ul><!--ADD BAR ENDS-->
    <div class="panel panel-default">
        <div class="panel-heading" >
            <div class="row">
                <div class="col-xs-5">
                    <h4>Document No<span>{{invoiceCreditNote.invoiceCreditNoteNo}}</span></h4>
                </div>
                <!--<div class="col-xs-2 mt-7">-->
                    <!--<div class="flex align-middle align-middle">-->
                        <!--<div>-->
                            <!--<h4>Daybook Code:<span>618</span></h4>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                
            </div><!--Row ends-->
        </div><!--PANEL HEADING ENDS-->
        <div class="panel-body info-view detail-body" ng-click="showHistory=false" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
            <div class="row mtminus-15">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="page mb0 ">
                            <div class="page-body ptb0">
                                <div class="row  overflow-hidden">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 bor-fix ">
                                        <div class="row">
                                           <div class="flex-row ptb-15">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                                                <span>Daybook</span>
                                                <h6 class="txt-blue">{{invoiceCreditNote.daybookMaster.daybookCode}} - {{invoiceCreditNote.daybookMaster.daybookName}}</h6>
                                            </div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                                                <span>Agent / Customer</span>
                                                <h6>{{invoiceCreditNote.customerAgent}}</h6>
                                            </div>
                                               <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                                                   <span>Adjusted Daybook</span>
                                                   <h6>{{invoiceCreditNote.adjustMentDaybookMaster.daybookCode}} - {{invoiceCreditNote.adjustMentDaybookMaster.daybookName}}</h6>
                                               </div>
                                           </div>
                                        </div>
                                     </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 bor-fix">
                                        <div class="row">
                                            <div class="flex-row ptb-15">
                                            <div class="col-xs-3 ">
                                                    <span>Adjusted Invoice No</span>
                                                    <!-- <h6><a href="javascript:void(0)" class="text-blue" value="invoiceCreditNote.adjustmentInvoiceNo"></a></h6> -->
                                                    <h6>{{invoiceCreditNote.adjustmentInvoiceNo}}</h6>
                                                </div>
                                                <div class="col-xs-3 ">
                                                    <span>Document Date</span>
                                                    <h6>{{invoiceCreditNote.invoiceCreditNoteDate!=null?dateToString(invoiceCreditNote.invoiceCreditNoteDate):'-'}}</h6>
                                                    
                                                </div>
                                                <div class="col-xs-3">
                                                    <span>Due Date</span>
                                                    <h6>{{invoiceCreditNote.dueDate!=null?dateToString(invoiceCreditNote.dueDate):'-'}}</h6>
                                                    
                                                </div>
                                                <div class="col-xs-3">
                                                    <span>Status</span>
                                                    <button class="btn btn-green block mt-5" ng-disabled="true">{{invoiceCreditNote.invoiceCreditNoteStatus.replace ('_',' ')}}</button>
                                                </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr class="nomargin">
                                </div>
                                <div class="row overflow-hidden">
                                    <div class="col-xs-6 bor-fix bor-r-1">
                                        <div class="flex ptb-15 flex-col">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <span>{{appMasterData['Party_Label']}}</span>
                                                    <h5 class="heading">{{invoiceCreditNote.party.partyName!=null?invoiceCreditNote.party.partyName:'-'}}</h5>
                                                   
                                                    <ul class="list-unstyled mb-15">
                                                       <li>{{invoiceCreditNote.partyAddress.addressLine1}}, {{invoiceCreditNote.partyAddress.addressLine2}}</li>
                                                <li>{{invoiceCreditNote.partyAddress.addressLine3}}</li>
                                                <li>{{invoiceCreditNote.partyAddress.addressLine4}}</li>
                                                    </ul>
                                                </div>
                                            </div>


                                        </div>


                                        </div>

                                    <div class="col-xs-6 bor-fix plr0 ">
                                        <div class="flex  flex-col align-spaced ">
                                            <div class="">
                                                <div class="flex-row  ptb-15 bor-btm-1">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 ">
                                                        <span>Master ID</span>
                                                      <h6 ng-class="invoiceCreditNote.masterUid!=null?'hyperLink mb0':''" >
                                                <a ng-click="goToConsolScreen()" 
                                                 ng-class="invoiceCreditNote.masterUid!=null?'hyperLink mb0':''"> {{invoiceCreditNote.masterUid!=null?invoiceCreditNote.masterUid:'-'}}</a>
                                                </h6> 
                                                    </div>

                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <span>Shipment ID</span>
                                                        <h6 ng-class="invoiceCreditNote.shipmentUid!=null?'hyperLink mb0':''" >
                                                <a ng-click="goToShipmentScreen()" 
                                                 ng-class="invoiceCreditNote.shipmentUid!=null?'hyperLink mb0':''"> {{invoiceCreditNote.shipmentUid!=null?invoiceCreditNote.shipmentUid:'-'}}</a>
                                                </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="flex-row ptb-15  bor-btm-1">

                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <span>Invoice Currency</span>
                                                        <h6>{{invoiceCreditNote.billingCurrency.currencyCode!=null?invoiceCreditNote.billingCurrency.currencyCode:'-'}}</h6>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <span>ROE</span>
                                                        <h6>
                                                        {{invoiceCreditNote.roe!=null?currencyRoeFormat(invoiceCreditNote.localCurrency,invoiceCreditNote.roe):'-'}}
                                                        
                                                        </h6>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <span>Credit Note Revenue Amount ({{invoiceCreditNote.localCurrency.currencyCode}})</span>
                                                        <h6>
                                                         {{currencyFormat(invoiceCreditNote.localCurrency,invoiceCreditNote.localAmount)}}
                                                           
                                                      
                                                       </h6>
                                                    </div>

                                                </div>
                                            </div>
                                            <!--<div class="row">-->
                                                <!--<hr class="nomargin">-->
                                            <!--</div>-->

                                        </div>
                                    </div>
                                </div>
                                <div class="row overflow-hidden">
                                    <div class="col-xs-6 bor-fix plr0 bor-r-1">
                                        <div class="flex-row ptb-15">
                                        <div class="col-xs-4">
                                            <span>{{appMasterData['Party_Label']}} Account No</span>
                                            <h6>{{invoiceCreditNote.partyAccount.accountCode!=null?invoiceCreditNote.partyAccount.accountCode:'-'}}</h6>
                                        </div>
                                        <div class="col-xs-4 col-xs-push-4">
                                            <span>Subledger</span>
                                            <h6>{{invoiceCreditNote.subledger!=null?invoiceCreditNote.subledger:'-'}}</h6>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 plr0 bor-fix">
                                        <div class="flex-row ptb-15">

                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                <span>Credit Note Revenue Amount ({{invoiceCreditNote.billingCurrency.currencyCode}})</span>
                                                <h6>
                                                
                                                {{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNote.currencyAmount)}}
                                               </h6>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                <span>Amount Received ({{invoiceCreditNote.billingCurrency.currencyCode}})</span>
                                                <h6 class="text-green">
                                                {{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNote.amountReceived)}}
                                                </h6>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                <span>Outstanding ({{invoiceCreditNote.billingCurrency.currencyCode}})</span>
                                                <h6 class="text-green">
                                                {{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNote.outstandingAmount)}}
                                                
                                                </h6>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                               
                            </div><!--page body ends-->
                        </div><!--page ends-->
                    </div>
                </div><!--Col Ends-->
            </div><!--Row Ends-->
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="clickOnTabView('charge')">
                        <li data-menu-item="charge">
                            <button type="button" class="btn" ng-class="Tabs=='charge'?'active':'btn-normal'" ng-click="clickOnTabView('charge')">charge</button>
                        </li>
                        <!-- <li data-menu-item="receipts">
                            <button type="button" class="btn" ng-class="Tabs=='receipts'?'active':'btn-normal'" ng-click="Tabs='receipts'">receipts</button>
                        </li> -->
                        <li data-menu-item="attachments">
                            <button type="button" class="btn" ng-class="Tabs=='attachments'?'active':'btn-normal'" ng-click="clickOnTabView('attachments')">attachments</button>
                        </li>
                        <li data-menu-item="notes">
                            <button type="button" class="btn" ng-class="Tabs=='notes'?'active':'btn-normal'" ng-click="clickOnTabView('notes')">notes</button>
                        </li>
                        <li data-more-menu-item>
                            <button type="button" class="btn btn-normal">
                                More <span class="icon-downarr"></span>
                            </button>
                        </li>
                    </ul><!--TAB MENUS ENDS-->
                    <div class="tab-content pt-15" >
                        <div ng-show="Tabs=='charge'">
                            <div class="row nomargin">
                                <div class="col-xs-12 ">
                                    <div ng-include="'app/components/finance/invoice/view/charge.html'"></div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="table-responsive">
                                                <table class="table bor light-yellow">
                                                    <tbody>
                                                    <tr>
                                                        <td class=" pad-11-15 f-13b-4 v-align-mid nowrap">Total Debit</td>
                                                        <td class="text-right pad-11-15">
                                                            <ul class="list-inline">
                                                                <li class="nowrap">{{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNote.totalDebitCurrencyAmount)}} {{invoiceCreditNote.billingCurrency.currencyCode}}</li>
                                                            </ul>
                                                        </td>
                                                        <td class="text-right pad-11-15 ">
                                                            <ul class="list-inline">
                                                                <li class="nowrap">{{currencyFormat(invoiceCreditNote.localCurrency,invoiceCreditNote.totalDebitLocalAmount)}} {{invoiceCreditNote.localCurrency.currencyCode}}</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="table-responsive">
                                                <table class="table bor light-yellow">
                                                    <tbody>
                                                    
                                                    <tr>
                                                        <td class="pad-11-15 f-13b-4 v-align-mid nowrap" >Total Credit</td>
                                                        <td class="text-right pad-11-15">
                                                            <ul class="list-inline">
                                                                <li class="nowrap">{{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNote.totalCreditCurrencyAmount)}} {{invoiceCreditNote.billingCurrency.currencyCode}}</li>
                                                            </ul>
                                                        </td>
                                                        <td class="text-right pad-11-15">
                                                            <ul class="list-inline">
                                                                <li class="nowrap">{{currencyFormat(invoiceCreditNote.localCurrency,invoiceCreditNote.totalCreditLocalAmount)}} {{invoiceCreditNote.localCurrency.currencyCode}}</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                   
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="table-responsive">
                                                <table class="table bor light-yellow ">
                                                    <tbody>
                                                    
                                                    <tr>
                                                    <td class="pad-11-15 f-13b-4 v-align-mid nowrap">Net</td>
                                                    <td class="text-right pad-11-15">
                                                    <ul class="list-inline">
                                                    <li class="nowrap">{{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNote.netCurrencyAmount)}} {{invoiceCreditNote.billingCurrency.currencyCode}}</li>
                                                    </ul>
                                                    </td>
                                                    <td class="text-right pad-11-15">
                                                    <ul class="list-inline">
                                                    <li class="nowrap">{{currencyFormat(invoiceCreditNote.localCurrency,invoiceCreditNote.netLocalAmount)}} {{invoiceCreditNote.localCurrency.currencyCode}}</li>
                                                    </ul>
                                                    </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12 mb-10">
                                            <span>Tax Charges</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="table-responsive">
                                                <table class="table table-inline">
                                                    <thead>
                                                    <tr>
                                                        <th class="inl_xs">#</th>
                                                        <th class="inl_l">Charge Code</th>
                                                        <th class="inl_l">Charge Name</th>
                                                        <th class="text-right inl_mpp">Amount ({{invoiceCreditNote.localCurrency.currencyCode}})</th>
                                                    </tr>
                                                    </thead>
                                                   <tbody ng-repeat="mapKey in invoiceCreditNote.taxMap.allKeys() track by $index">
                                                            <tr>
                                                                <td>{{$index+1}}</td>
                                                                <td>{{invoiceCreditNote.taxMap.get(mapKey).taxCode}}</td>
                                                                <td>{{invoiceCreditNote.taxMap.get(mapKey).taxName}}</td>
                                                                <td class="text-right inl_mpp">{{currencyFormat(invoiceCreditNote.localCurrency,invoiceCreditNote.taxMap.get(mapKey).amount)}}</td>
                                                            </tr>
                                                            
                                                            <!-- <tr>
                                                                <td>1</td>
                                                                <td>SVT</td>
                                                                <td>Service Tax @14%%</td>
                                                                <td class="text-right w100px">0.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>SBC</td>
                                                                <td>Swachh Bharat Cess</td>
                                                                <td class="text-right w100px">-</td>
                                                            </tr> -->
                                                            </tbody>
                                                    <tfoot class="bg-danger">
                                                    <tr>
                                                        <td colspan="4" >Total ({{invoiceCreditNote.localCurrency.currencyCode}}) <span class="pull-right"> {{currencyFormat(invoiceCreditNote.localCurrency,invoiceCreditNote.totalTaxAmount)}}</span></td>

                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div><!--charge TAB ENDS-->
                        <div ng-show="Tabs=='receipts'">
                            <div class="row nomargin">
                                <div class="col-xs-12 ">
                                    <div class="table-responsive">
                                        <table class="table table-hover" style="width:600px !important;">
                                            <thead>
                                            <th class="width20px">#</th>
                                            <th>Daybook Code</th>
                                            <th>Document No</th>
                                            <th>Currency</th>
                                            <th class="text-right">Amount</th>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>618 - INVOICE</td>
                                                <td>-</td>
                                                <td>INR</td>
                                                <td class="text-right">616</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>118 - INVOICE</td>
                                                <td>-</td>
                                                <td>INR</td>
                                                <td class="text-right">440</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>212 - INVOICE</td>
                                                <td>-</td>
                                                <td>INR</td>
                                                <td class="text-right">900</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!--receipts TAB ENDS-->
                        <div ng-show="Tabs=='attachments'">
                            <!-- <div class="row nomargin">
                                <div class="col-xs-12 ">
                                    <div class="table-responsive" style="width: 600px;">
                                        <table class="table table-hover">
                                            <thead>
                                            <th class="width20px">#</th>
                                            <th>Reference #</th>
                                            <th>File Name</th>
                                            <th class="width20px">Actions</th>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Bill doc</td>
                                                <td>bill1.png</td>
                                                <td><i class="icon-download"></i></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> -->
                            
                            <div class="row nomargin noborder ">
                                        <attachment-section-simple table-data="invoiceCreditNote.invoiceCreditNoteAttachmentList" attachment-config="attachConfig" download-fn="downloadAttach(param)" is-edit = "false" is-delete = "false">
                                        </attachment-section-simple>
                                    </div>
                        </div><!--attachments TAB ENDS-->
                            <div ng-show="Tabs=='notes'">
                            <!--<div class="row nomargin">-->
                                <!--<div class="col-xs-12">-->
                                    <!--<div class="bor brad3 padding15">-->
                                        <!--<p>Refer the invoice of this shipment AE-130116010001-0 and rates are adjusted. </p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="row nomargin">
                                <div class="col-xs-4 ptb-15">

                                    <span>Reason Code</span>
                                   <h6>{{invoiceCreditNote.reasonCode}}</h6>
                                </div>
                            </div>
                            <div class="row nomargin">
                                <hr class="nomargin">
                            </div>


                            <div class="row nomargin overflow-hidden ">

                                <div class="col-xs-6 bor-r-1 bor-fix">
                                    <div class="ptb-15">
                                    <span>Reason</span>
                                    <h6>{{invoiceCreditNote.reason}}</h6>
                                    </div>
                                </div>
                                <div class="col-xs-6 bor-fix">
                                    <div class="ptb-15">
                                    <span>Note</span>
                                    <p>{{invoiceCreditNote.note}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row nomargin">
                                <hr class="nomargin">
                            </div>
                        </div>
                        <!--notes TAB ENDS-->
                    </div><!--TAB CONTENT TAB ENDS-->
                </div>
            </div><!-- TAB CONTENT ROW ENDS-->
            <!--ACTIVE LOG DETAILS STARTS-->
            <div class="logs-view width42per logs-transition bg-white" ng-show="showHistory">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div>
                                            <a href="javascript:;">
                                                <span class="icon-close-detail" ng-click="showHistory=false"></span>
                                                <a data-placement="bottom"   bs-tooltip="close" href="javascript:void(0)"
                                                   class="list-panel-back"></a>
                                                <span>Activity</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 pt15">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class=" ">
                                            <div class="col-xs-6">
                                                <span class="text-muted">Last Modified this Consol</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="consol.systemTrack.lastUpdatedUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{consol.systemTrack.lastUpdatedUser|uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(consol.systemTrack.lastUpdatedDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="text-muted">Created this Consol</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="consol.systemTrack.createUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{consol.systemTrack.createUser | uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(consol.systemTrack.createDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--
                           <div class="row">
                            <div class="col-xs-12">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div><h5>Dimensions</h5></div>
                                        <div>
                                            <span class="fa fa-chevron-right"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 ptb-15" >
                                    <table class="table tab-border tab-width table-default tab-col-bg">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>No. of Pieces</th>
                                            <th class="text-right">Length</th>
                                            <th class="text-right">Width</th>
                                            <th class="text-right">Height</th>
                                            <th class="text-right">Volume Weight</th>
                                            <th class="text-right">Gross Weight</th>
                                            <th>Created On</th>
                                            <th>Created By</th>
                                            <th>Modified On</th>
                                            <th>Modified By</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{$index+1}}</td>
                                            <td>10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">1.700</td>
                                            <td class="text-right">160.000</td>
                                            <td>Jan 22, 2012  <span>22:20</span></td>
                                            <td>Smith</td>
                                            <td>Feb 12, 2012 <span>21:20</span></td>
                                            <td>Smith</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                           <div class="row">
                            <div class="title">
                                <div class="flex align-justify align-middle">
                                    <div><h5>General Notes</h5></div>
                                    <div>
                                        <span class="fa fa-chevron-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <table class="table tab-border table-default">
                                    <thead>
                                    <tr>
                                        <th width="50">#</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Created By</th>
                                        <th>Modified On</th>
                                        <th>Modified By</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                        <td>Jan 22, 2012  <span>22:20</span></td>
                                        <td>Smith</td>
                                        <td>Feb 12, 2012 <span>21:20</span></td>
                                        <td>Smith</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>&lt;!&ndash;general notes ends&ndash;&gt;
                        <div class="row">
                            <div class="title">
                                <div class="flex align-justify align-middle">
                                    <div><h5>Air Notes</h5></div>
                                    <div>
                                        <span class="fa fa-chevron-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <table class="table tab-border table-default">
                                    <thead>
                                    <tr>
                                        <th width="50">#</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Created By</th>
                                        <th>Modified On</th>
                                        <th>Modified By</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                        <td>Jan 22, 2012  <span>22:20</span></td>
                                        <td>Smith</td>
                                        <td>Feb 12, 2012 <span>21:20</span></td>
                                        <td>Smith</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>&lt;!&ndash;Air notes ends&ndash;&gt;
                        <div class="row">
                            <div class="title">
                                <div class="flex align-justify align-middle">
                                    <div><h5>Charge History</h5></div>
                                    <div>
                                        <span class="fa fa-chevron-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="text-muted">Last Modified</span>
                                        <div class="card">
                                            <ul class="list-inline card-cell">
                                                <li>
                                                    <div class="cardhexagon">
                                                        <span class="cardName">L</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <ul class="list-unstyled">
                                                        <li>Linda</li>
                                                        <li class="span text-muted">Dec 20, 2010  10:15</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <span class="text-muted">Created</span>
                                        <div class="card">
                                            <ul class="list-inline card-cell">
                                                <li>
                                                    <div class="cardhexagon">
                                                        <span class="cardName">S</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <ul class="list-unstyled">
                                                        <li>Smith</li>
                                                        <li class="span text-muted">Jan 1, 2008  22:00</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="in pr8 text-muted">Charge</label>
                                        <select>
                                            <option>FRT(FREIGHT CHARGE)</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="flex align-middle align-justify">
                                            <div><label class="in pr8 text-muted">Action</label></div>
                                            <div>
                                                <div class="btn-group btn-group-justified"  bs-radio-group>

                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        Inserted
                                                    </label>
                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        Updated
                                                    </label>
                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        Deleted
                                                    </label>
                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        All
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="flex align-middle flex-end">
                                            <div><label class="in pr8 text-muted">User</label></div>
                                            <div>
                                                <select>
                                                    <option>Smith</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <table class="table tab-border table-default ">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">#</th>
                                        <th rowspan="2">Charge</th>
                                        <th rowspan="2">Currency</th>
                                        <th rowspan="2">Unit</th>
                                        <th colspan="2" class="text-center"><b>No of Units</b></th>
                                        <th colspan="2" class="text-center"><b>Sell Rate</b></th>
                                        <th colspan="2" class="text-center"><b>Buy Rate</b></th>
                                        <th rowspan="2">Actual / Chargeable Weight	</th>
                                        <th rowspan="2">Notes</th>
                                        <th rowspan="2">Action</th>
                                        <th rowspan="2">User</th>
                                        <th rowspan="2">Date & TIme</th>
                                    </tr>
                                    <tr>
                                        <th colspan="1" class="text-right">Min</th>
                                        <th colspan="1" class="text-right">Max</th>
                                        <th colspan="1" class="text-right">Amount per unit	</th>
                                        <th colspan="1" class="text-right">Min amount</th>
                                        <th colspan="1" class="text-right">Cost per unit</th>
                                        <th colspan="1" class="text-right">Min cost</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>FRT (FREIGHT CHARGE)</td>
                                        <td>INR</td>
                                        <td>KG</td>
                                        <td class="text-right">10.00</td>
                                        <td class="text-right">20.00</td>
                                        <td class="text-right">12.00</td>
                                        <td class="text-right">100.00</td>
                                        <td class="text-right">12.00</td>
                                        <td class="text-right">90.00</td>
                                        <td>Chargable Weight</td>
                                        <td class="text-center">
                                            <a href="javascript:;" data-placement="top-right" data-content=" {{charge.note}}" data-trigger="focus" bs-popover><i class="fa fa-file-o" aria-hidden="false"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="label label-primary">Updated</span>
                                        </td>
                                        <td>
                                            Smith
                                        </td>
                                        <td>
                                            Jan 22, 2012 <span> 22:20</span>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>&lt;!&ndash;Charge history ends&ndash;&gt;-->
                    </div>
                </div>
            </div>
        </div><!--PANEL BODY ENDS-->
    </div><!--PANEL ENDS-->
    <div ng-hide="!hidePage" class="wrapper-back-drop"></div><!--BACKDROP ENDS-->
</div>
