<div class="row nomargin">
    <div class="col-xs-12 pl0">
        <button type="button" class="btn accent-btn mb10" tabindex="-1" ng-click="fnRole({param:addRole})?addRow():''"><i class="icon-add"></i>Add Address Mapping</button>
    </div>
    <div class="row nomargin">
        <div class="col-xs-12 pl0 pr0">
            <div class="table-responsive">
                <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
                    <thead>
                        <tr>
                            <th class="inl_sno">#</th>
                            <th class="inl_lp">Location<span class="reqColor">*</span> </th>
                            <th class="inl_lp">Carrier Agent<span class="reqColor">*</span></th>
                            <th class="inl_lp">Account No<span class="reqColor">*</span></th>
                            <th class="inl_s">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dataObj in tableData track by $index">
	                        <td  data-nofloat="true"  ng-class="{'error-cell text-center':secondArr[$index].errRow}">
	                         <span ng-show="secondArr[$index].errRow" >
	                             <a tabindex="-1" href="javascript:void(0);"  data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
	                                 <b class="glyphicon glyphicon-warning-sign"></b>
	                             </a>
	                         </span>
	                        <span ng-show="!secondArr[$index].errRow">
	                        {{$index+1}}
	                        </span>
	                        </td>
	                        <td data-headtitle="Location" data-required="true" data-width="tw35per">
								<div class="select-auto">
									<input type="text" class="form-control"
										id="{{'location'+$index}}"
										input-focus="{{secondArr[$index].locationName}}"
										ng-class="{'error-control-auto':secondArr[$index].locationName}"
										autocomplete="off" ng-model="dataObj.locationMaster"
										uib-typeahead="lovObject as lovObject.locationName for lovObject in ajaxLocationEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectLoctionMaster('partyName'+$index)"
										typeahead-focus-on-select="false" typeahead-focus-first="true"
										typeahead-editable="false" typeahead-min-length="1"
										typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
								</div>


							</td>
							<td data-headtitle="Carrier Agent" data-required="true"
								data-width="tw35per">
								<div class="select-auto">
									<input type="text" class="form-control"
										id="{{'partyName'+$index}}"
										ng-class="{'error-control-auto':secondArr[$index].partyName}"
										autocomplete="off" ng-model="dataObj.partyMaster"
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectPartyName('accountNumber'+$index)"
										typeahead-focus-on-select="false" typeahead-focus-first="true"
										typeahead-editable="false" typeahead-min-length="1"
										typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
								</div>
							</td>
							<td data-headtitle="Account No" data-required="true" data-width="tw30per">
                                <input type="text" class="form-control last-child"
                                id="{{'accountNumber'+$index}}"
                                selected-value="accountNumber"
								ng-class="{'error-control':secondArr[$index].accountNumber}"
								ng-model="dataObj.accountNumber" ng-focus="dirtyIndex($index)"
								maxlength="30" ng-disabled="(!updateRole&&dataObj.id!=null)"/>
							</td>
							<td data-nofloat="true" data-action="true" >
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0);"
                                           ng-click="fnRole({param:deleteRole})?removeObj(dataObj,$index):''">
                                        <i class="icon-delete"  data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                                </ul>
                        </td>
                   		 </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div><!--conn tab ends-->
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>