
<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:88%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title">
                    <div class="flex align-justify align-middle minH-40">
                        <div>
                            <h4>Charge History</h4>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body ptb0">
                            <!--<div class="row">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div><h5>Dimensions</h5></div>
                                        <div>
                                            <span class="fa fa-chevron-right"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 ptb-15" >
                                    <table class="table tab-border tab-width table-default tab-col-bg">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>No. of Pieces</th>
                                            <th class="text-right">Length</th>
                                            <th class="text-right">Width</th>
                                            <th class="text-right">Height</th>
                                            <th class="text-right">Volume Weight</th>
                                            <th class="text-right">Gross Weight</th>
                                            <th>Created On</th>
                                            <th>Created By</th>
                                            <th>Modified On</th>
                                            <th>Modified By</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{$index+1}}</td>
                                            <td>10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">1.700</td>
                                            <td class="text-right">160.000</td>
                                            <td>Jan 22, 2012  <span>22:20</span></td>
                                            <td>Smith</td>
                                            <td>Feb 12, 2012 <span>21:20</span></td>
                                            <td>Smith</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>&lt;!&ndash;Diemension ends&ndash;&gt;--><!--hide air Quote details-->
                            <!--<div class="row">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div><h5>General Notes</h5></div>
                                        <div>
                                            <span class="fa fa-chevron-right"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 ptb-15">
                                    <table class="table tab-border table-default">
                                        <thead>
                                        <tr>
                                            <th width="50">#</th>
                                            <th>Description</th>
                                            <th>Created On</th>
                                            <th>Created By</th>
                                            <th>Modified On</th>
                                            <th>Modified By</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{$index+1}}</td>
                                            <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                            <td>Jan 22, 2012  <span>22:20</span></td>
                                            <td>Smith</td>
                                            <td>Feb 12, 2012 <span>21:20</span></td>
                                            <td>Smith</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>&lt;!&ndash;general notes ends&ndash;&gt;
                            <div class="row">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div><h5>Air Notes</h5></div>
                                        <div>
                                            <span class="fa fa-chevron-right"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 ptb-15">
                                    <table class="table tab-border table-default">
                                        <thead>
                                        <tr>
                                            <th width="50">#</th>
                                            <th>Description</th>
                                            <th>Created On</th>
                                            <th>Created By</th>
                                            <th>Modified On</th>
                                            <th>Modified By</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{$index+1}}</td>
                                            <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                            <td>Jan 22, 2012  <span>22:20</span></td>
                                            <td>Smith</td>
                                            <td>Feb 12, 2012 <span>21:20</span></td>
                                            <td>Smith</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>&lt;!&ndash;Air notes ends&ndash;&gt;--><!--hide Diemension details-->
                            <div class="row">
                                <!--<div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div><h5>Charge History</h5></div>
                                        <div>
                                            <span class="fa fa-chevron-right visible-hide"></span>
                                        </div>
                                    </div>
                                </div>-->
                                <!--<div class="col-xs-12 ptb-15">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <span class="text-muted">Last Modified</span>
                                            <div class="card">
                                                <ul class="list-inline card-cell">
                                                    <li>
                                                        <div class="cardhexagon">
                                                            <span class="cardName">L</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <ul class="list-unstyled">
                                                            <li>Linda</li>
                                                            <li class="span text-muted">Dec 20, 2010  10:15</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <span class="text-muted">Created</span>
                                            <div class="card">
                                                <ul class="list-inline card-cell">
                                                    <li>
                                                        <div class="cardhexagon">
                                                            <span class="cardName">S</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <ul class="list-unstyled">
                                                            <li>Smith</li>
                                                            <li class="span text-muted">Jan 1, 2008  22:00</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!--<div class="col-xs-12 pt15">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-xs-3">-->
                                            <!--<div class="flex align-middle">-->
                                                <!--<div><label class="in pr8 text-muted">Charge</label></div>-->
                                                <!--<div>-->
                                                    <!--<select>-->
                                                        <!--<option>FRT(FREIGHT CHARGE)</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                             <!--</div>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="col-xs-6">-->
                                            <!--<div class="flex align-middle align-justify">-->
                                                <!--<div><label class="in pr8 text-muted">Action</label></div>-->
                                                <!--<div>-->
                                                    <!--<div class="btn-group btn-group-justified"-->
                                                         <!--ng-model="quotation.action" data-bs-radio-group>-->
                                                        <!--<label class="btn btn-default fsl-btn-group"-->
                                                               <!--ng-repeat="item in actionArr"> <input-->
                                                                <!--type="radio" class="btn btn-default" value="{{item}}">-->
                                                            <!--{{item}}-->
                                                        <!--</label>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>&ndash;&gt;-->
                                        <!--<div class="col-xs-2">-->
                                            <!--<div class="flex align-middle">-->
                                                <!--<div><label class="in pr8 text-muted">Date</label></div>-->
                                                <!--<div>-->
                                                    <!--<div class="inputBox">-->
                                                        <!--<input  date-range-picker  class="form-control date-picker" type="text" ng-model="singleDate" options="{singleDatePicker: true}">-->
                                                        <!--<span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-2">-->
                                            <!--<div class="flex align-middle">-->
                                                <!--<div><label class="in pr8 text-muted">User</label></div>-->
                                                <!--<div>-->
                                                    <!--<select>-->
                                                        <!--<option>Smith</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                                <div class=" col-xs-12 ptb-15">
                                    <div class="table-list-container">
                                        <!--<table class="table tab-border tab-width table-default" style="width: 1400px">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th rowspan="2" class="text-center">#</th>-->
                                                <!--<th rowspan="2">Charge</th>-->
                                                <!--<th rowspan="2">Currency</th>-->
                                                <!--<th rowspan="2">Unit</th>-->
                                                <!--<th colspan="2" class="text-center"><b>No of Units</b></th>-->
                                                <!--<th colspan="2" class="text-center"><b>Sell Rate</b></th>-->
                                                <!--<th colspan="2" class="text-center"><b>Buy Rate</b></th>-->
                                                <!--<th rowspan="2">Actual / Chargeable Weight	</th>-->
                                                <!--<th rowspan="2">Notes</th>-->
                                                <!--<th rowspan="2">Action</th>-->
                                                <!--<th rowspan="2">User</th>-->
                                                <!--<th rowspan="2">Date & TIme</th>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<th colspan="1" class="text-right">Min</th>-->
                                                <!--<th colspan="1" class="text-right">Max</th>-->
                                                <!--<th colspan="1" class="text-right">Amount per unit	</th>-->
                                                <!--<th colspan="1" class="text-right">Min amount</th>-->
                                                <!--<th colspan="1" class="text-right">Cost per unit</th>-->
                                                <!--<th colspan="1" class="text-right">Min cost</th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--<tr>-->
                                                <!--<td>1</td>-->
                                                <!--<td>FRT (FREIGHT CHARGE)</td>-->
                                                <!--<td>INR</td>-->
                                                <!--<td>KG</td>-->
                                                <!--<td class="text-right">10.00</td>-->
                                                <!--<td class="text-right">20.00</td>-->
                                                <!--<td class="text-right">12.00</td>-->
                                                <!--<td class="text-right">100.00</td>-->
                                                <!--<td class="text-right">12.00</td>-->
                                                <!--<td class="text-right">90.00</td>-->
                                                <!--<td>Chargable Weight</td>-->
                                                <!--<td>-->
                                                    <!--<a href="javascript:;" data-placement="top-right" data-content=" {{charge.note}}" data-trigger="focus" bs-popover><i class="fa fa-file-o" aria-hidden="false"></i>-->
                                                    <!--</a>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--<span class="label label-primary">Updated</span>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--Smith-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--Jan 22, 2012 <span> 22:20</span>-->
                                                <!--</td>-->

                                            <!--</tr>-->

                                            <!--</tbody>-->
                                        <!--</table>-->
                                        <!--<charge-table-->
                                                <!--data="chargeArr"-->
                                                <!--head="chargeHeadArr"-->
                                                <!--sort="sortSelection"-->
                                                <!--search-event="changeSearch(param)"-->
                                                <!--click-event="rowSelect(param)"-->
                                                <!--sort-event="sortChange(param)">-->
                                        <!--</charge-table>-->
                                        <table id="charge-table" class="table tab-border table-default" table-fix-header table-width="1318px" table-height="450px">
                                            <thead class="noborder-thead">
                                            <tr>
                                                <th  class="text-center">#</th>
                                                <th >Charge</th>

                                                <th >Unit</th>
                                                <!--<th colspan="2" class="text-center"><b>No of Units</b></th>-->
                                                <!--<th colspan="2" class="text-center"><b>Sell Rate</b></th>-->
                                                <!--<th colspan="2" class="text-center"><b>Buy Rate</b></th>-->
                                                <th  class="text-right">Min Units</th>
                                                <th  class="text-right">Max Units</th>
                                                <th >Currency</th>
                                                <th  class="text-right">Amt per Unit	</th>
                                                <th  class="text-right">Min Amount</th>
                                                <th  class="text-right">Cost per Unit</th>
                                                <th  class="text-right">Min cost</th>
                                                <th >Actual /<br/> Chargeable</th>

                                                <th >Action</th>
                                                <th >User</th>
                                                <th >Logged On</th>
                                            </tr>

                                            <tr>
                                                <th  class="rel text-center"><i ng-if="$first" style="font-size:1.3rem !important;" class="icon-search"></i></th>
                                                <th class="rel"><input  capitalize ng-model="searchData[headObj.key]" type="text" ng-change="changeFunction()" class="form-control input-sm"/></th>
                                                <th ></th>
                                                <th ></th>
                                                <th ></th>
                                                <th ></th>
                                                <th ></th>
                                                <th ></th>
                                                <th ></th>
                                                <th ></th>
                                                <th ></th>
                                                <th ></th>
                                                <th class="rel"><input  capitalize ng-model="searchData[headObj.key]" type="text" ng-change="changeFunction()" class="form-control input-sm"/></th>
                                                <th class="rel">
                                                    <input  data-date-range-picker data-options="chargedatepickeropts" ng-model="charge.logedOn" type="text" class="form-control input-sm date-picker cur-pointer"/>
                                                    <span class="abs t10px r-15 event-none"><i class="icon-date-picker" aria-hidden="true"></i></span>
                                                </th>
                                            </tr>

                                            </thead>
                                            <tbody ng-nicescroll nice-option="{cursorcolor: '#2196f3',cursorwidth: '8px',smoothscroll: true,preservenativescrolling: true}" id="table-body" >
                                                <tr>
                                                <td>1</td>
                                                <td>FREIGHT CHARGE (FRT)</td>
                                                <td>KG</td>
                                                <td class="text-right">10.00</td>
                                                <td class="text-right">20.00</td>
                                                <td>INR</td>
                                                <td class="text-right">12.00</td>
                                                <td class="text-right">100.00</td>
                                                <td class="text-right">12.00</td>
                                                <td class="text-right">90.00</td>
                                                <td>Chargable Weight</td>
                                                <td>
                                                    <span class="label" ng-class="setLabel('update')">
                                                        Updated
                                                    </span>
                                                </td>
                                                <td>
                                                    Smith
                                                </td>
                                                <td>
                                                    Jan 22, 2012 22:20
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="pagination-wrapper">
                                        <div class="pull-left">
                                            <ul class="list-inline">
                                                <li>Show</li>
                                                <li>
                                                    <select class="form-control legend-show-ctrl" ng-model="limit"
                                                            ng-change="limitChange(limit)" ng-options="v for v in limitArr">
                                                    </select>
                                                </li>
                                                <li>Entries</li>
                                            </ul>
                                        </div>
                                        <div class="pull-right text-right">
                                            <pagination-dr  page="charge.page" size="charge.limit" total="charge.totalRecord" page-change="changeChargePage(param)" class="pull-right" ></pagination-dr>
                                        </div>
                                    </div>
                                </div>
                            </div><!--Charge history ends-->
            </div>
        </div>
    </div>
</div>

<!--<div class="panel panel-default masOpertion">-->
    <!--<div class="panel-heading bg-trans">-->
        <!--<section class="row mt-5">-->
            <!--<div class="col-xs-12">-->
                <!--<div class="flex flex-sb">-->
                    <!--<div>-->
                        <!--<ul class="list-inline">-->
                            <!--<li> <span>Quotation No</span></li>-->
                            <!--<li>#616010023</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<ul class="list-inline pull-right">-->
                            <!--<li><a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn">Cancel</a></li>-->
                            <!--<li><a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn">Copy</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
    <!--</div>&lt;!&ndash;panel heading ends&ndash;&gt;-->
    <!--<div class="panel-body padlr-0 pt0 pb-25">-->
        <!--<form role="form">-->
            <!--<div class="form-group">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-6">-->
                        <!--<label>Copy this Quoation to the  following Customer</label>-->
                        <!--<a href="javascript:void(0)" ng-click="" name="" class="btn btn-default btn-outline selectPicker width95per block txt-l brad-0 ng-binding"><span class="visible-hide">Smith</span><i class="fa fa-chevron-right pull-right"></i></a>-->
                    <!--</div>-->
                    <!--<div class="col-xs-6">-->
                        <!--<label>Select Customer</label>-->
                        <!--<input type="search" class="form-control">-->
                    <!--</div>-->
                    <!--<div class="radio">-->
                        <!--<label><input type="radio" >Lion Imports and Exports</label>-->
                    <!--</div>-->
                    <!--<div class="radio">-->
                        <!--<label><input type="radio" >Sigma Agency</label>-->
                    <!--</div>-->
                    <!--<div class="radio disabled">-->
                        <!--<label><input type="radio" >Sword Movers</label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>&lt;!&ndash;panel ends&ndash;&gt;-->