
<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true" id="copy_quote_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header nopadding">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Quotation # <span>{{copyQuote.quotation.quotationNo}}</span></h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            <li><button type="button" tabindex="4" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveCopyQuote()">Copy</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body ptb0">
                <div class="row">
                    <form role="form">
                        <div class="form-group nomargin">
                            <div class="col-xs-12 pt15">
                            <div show-response></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="text-inherit">Copy this quotation to the  following {{appMasterData['Party_Label']}} <span>*</span></label>
                                        
                                         <div class="select-auto">
                                                        <input type="text" class="form-control" 
														input-focus="true" tabindex="1"  
														autocomplete="off" ng-model="copyQuote.party" 
														uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxCopyCustomerEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedCopyCustomer('validFromQuote');" 
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
                                        </div>
                                        
                                        
                                       <!--  <ui-select
                                                autofocus="true"
                                                ng-model="copyQuote.party"
                                                theme="select2"
                                                style="width: 100%"
                                                tabindex="1"
                                                title="{{copyQuote.party.id!=null?copyQuote.party.partyName:''}}"
                                                ng-change="selectedCopyCustomer()"
                                                >
                                            <ui-select-match >
                                                {{$select.selected.partyName}}
                                                <a href="javascript:void(0);"><i class="icon-close"></i></a>
                                                <a tabindex="-1" href="javascript:void(0);" ng-click="quotationDetail.tosMaster={}"><i class="icon-close"></i></a>
                                            </ui-select-match>
                                            <ui-select-choices refresh="ajaxCopyCustomerEvent($select.search)" refresh-delay="250" repeat="dataObj in  copyCustomerList.data">
                                                <span ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.partyName | highlight: $select.search"></span>
                                                [<small ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.partyCode | highlight: $select.search"></small>]
                                            </ui-select-choices>
                                        </ui-select> -->
                                        <!--<a title="{{copyQuote.party.id!=null?copyQuote.party.partyName:''}}" href="javascript:void(0)" ng-click="showCopyCustomer()" class="btn btn-default btn-outline selectPicker">-->
                                                <!--{{copyQuote.party.id!=null?copyQuote.party.partyName:''}}-->
                                                <!--<i class="fa fa-chevron-right pull-right"></i></a>-->
                                                   <span class="error-message" style="color: red;" ng-show="errorMap.get('customer')!=null"><small>
	                                        	{{errorMap.get('customer')}}
	                                    </small></span>
                                    </div>
                                </div>
                                <div class="row pt15">
                                    <div class="col-xs-12 pl0 pr0">
                                    <div class="col-xs-6">
                                        <label>Valid From <span>*</span></label>
                                        <div class="inputBox">
                                            <input id="validFromQuote" style="height: 24px" tabindex="2" type="text" class="form-control" 
                                            ng-model="copyQuote.validFrom"  
                                            date-callback="nextToFocus('expiresonCopyQuote')"
                                            datetimepicker  datetimepicker-options="{{datePickerOptions}}" ng-change="copyQuoteValidate(2)">
                                            <!--<input style="height: 24px"  date-range-picker  class="form-control date-picker" type="text"  ng-model="copyQuote.validFrom" options="{singleDatePicker: true}">-->
                                            <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                             <span class="error-message" style="color: red;" ng-show="errorMap.get('validFrom')!=null"><small>
	                                        	{{errorMap.get('validFrom')}}
	                                    </small></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Expires On <span>*</span></label>
                                        <div class="inputBox">
                                            <input id="expiresonCopyQuote" style="height: 24px" tabindex="3" type="text" class="form-control" ng-model="copyQuote.validTo"  datetimepicker  datetimepicker-options="{{datePickerOptions}}" ng-change="copyQuoteValidate(3)">
                                            <!--<input style="height: 24px"   date-range-picker  class="form-control date-picker" type="text"  ng-model="copyQuote.validTo" options="{singleDatePicker: true}">-->
                                            <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                             <span class="error-message" style="color: red;" ng-show="errorMap.get('validTo')!=null"><small>
                                                 {{errorMap.get('validTo')}}
                                             </small></span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-xs-6 detail-container mt-15" >-->

									<!--<div ng-show="showCopyCustomerList">-->
							                <!--<select-list-picker panel-title="panelCopyTitle" -->
							                					<!--selected="selectedItem" -->
							                					<!--data="copyCustomerList.data"-->
							                                    <!--cancel-event="cancelCopyCustomer()" -->
							                                    <!--click-event="selectedCopyCustomer(param)" -->
							                                    <!--ajax-event="ajaxCopyCustomerEvent(param)"-->
							                                    <!--config="copycustomerlistConfig">-->
							                <!--</select-list-picker>-->
							        <!--</div>-->
            <!-- -->

                            <!--</div>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="panel panel-default masOpertion">-->
    <!--<div class="panel-heading bg-trans">-->
        <!--<section class="row mt-5">-->
            <!--<div class="col-xs-12">-->
                <!--<div class="flex flex-sb">-->
                    <!--<div>-->
                        <!--<ul class="list-inline">-->
                            <!--<li> <span>Quotation No</span></li>-->
                            <!--<li>#616010023</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<ul class="list-inline pull-right">-->
                            <!--<li><a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn">Cancel</a></li>-->
                            <!--<li><a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn">Copy</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
    <!--</div>&lt;!&ndash;panel heading ends&ndash;&gt;-->
    <!--<div class="panel-body padlr-0 pt0 pb-25">-->
        <!--<form role="form">-->
            <!--<div class="form-group">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-6">-->
                        <!--<label>Copy this Quoation to the  following Customer</label>-->
                        <!--<a href="javascript:void(0)" ng-click="" name="" class="btn btn-default btn-outline selectPicker width95per block txt-l brad-0 ng-binding"><span class="visible-hide">Smith</span><i class="fa fa-chevron-right pull-right"></i></a>-->
                    <!--</div>-->
                    <!--<div class="col-xs-6">-->
                        <!--<label>Select Customer</label>-->
                        <!--<input type="search" class="form-control">-->
                    <!--</div>-->
                    <!--<div class="radio">-->
                        <!--<label><input type="radio" >Lion Imports and Exports</label>-->
                    <!--</div>-->
                    <!--<div class="radio">-->
                        <!--<label><input type="radio" >Sigma Agency</label>-->
                    <!--</div>-->
                    <!--<div class="radio disabled">-->
                        <!--<label><input type="radio" >Sword Movers</label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>&lt;!&ndash;panel ends&ndash;&gt;-->