

<div class="modal resModal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per width80Port">
        <div class="modal-content">
        
        <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>General Notes</h4>
                        
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">Close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
            <div class="row">
            	<div class="row nomargin">
    <div class="col-xs-12 ">
        <div class="row overflow-hidden">
            <div class="col-xs-6 mt-15  ">
                <div class=" padfull-8 shade1 bor-fix minH-150">
                    <span>Header Note</span>
                    <h6>{{quotation.headerNote}}</h6>
                    <br>
                    
                </div>
            </div>
            <div class="col-xs-6 mt-15  ">
                <div class=" padfull-8 shade1 bor-fix minH-150 ">
                    <span>Footer Note</span>
                    <h6 class="pb10">{{quotation.footerNote}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row nomargin">
        <div class="col-xs-12  nopadding">
        <h5 class="title">General Note</h5>
        <div class="row nomargin ">
            <div class="col-xs-12 pad-15">
                <div class="table-responsive mt10" ng-if="quotation.generalNoteList.length>0">
                    <table class="table table-inline-nopad">
                        <thead>
                        <tr>
                            <th class="inl_xs">#</th>
                            <th >Notes</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in quotation.generalNoteList track by $index">
                            <td>{{$index+1}}</td>
                            <td>
                                {{item.note}}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <empty-record ng-if="quotation.generalNoteList.length==0" icon="note" text="Looks like there are no note records here"></empty-record>
            </div>
        </div>
    </div>
    </div>

</div>
			</div>
			</div>

        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


