

<div class="modal resModal" tabindex="-1" role="dialog" aria-hidden="true" ng-init="$root.navigateToNextField('headerNote')">
    <div class="modal-dialog width85per width80Port">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>General Notes</h4>
                        
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="$hide()">Submit</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
            <div class="row">
            
             <div class="row nomargin ptb-15">
    <div class="col-xs-6">
        <label class="custom-label" ng-class="{'error-control':errorMap.get('headerNote')!=null}" >
        	Header Note<span class="reqColor">*</span>
        </label>
        
                                        <textarea
                                                msd-elastic
                                                class="form-control elastic-ht"
                                                rows="7"  ng-change="validateGeneralNotes(1)"
                                                ng-model="quotation.headerNote"
                                                ng-class="{'error-control':errorMap.get('headerNote')!=null}"
                                                maxlength="4000"
                                                input-focus="{{errorMap.get('headerNote')!=null}}"
                                                id="headerNote">
                                        </textarea>
        						<div>
                                        <span class="error-message" ng-show="errorMap.get('headerNote')!=null">
                                        	<small>{{errorMap.get('headerNote')}}</small>
                                        </span>
        						</div>
    </div>
    <div class="col-xs-6 ">
        <label class="custom-label" ng-class="{'error-control':errorMap.get('footerNote')!=null}">
        	Footer Note<span class="reqColor">*</span>
        </label>
                                        <textarea
                                                msd-elastic
                                                class="form-control elastic-ht"
                                                rows="7" ng-change="validateGeneralNotes(2)"
                                                ng-model="quotation.footerNote"
                                                ng-class="{'error-control':errorMap.get('footerNote')!=null}"
                                                maxlength="4000" 
                                                input-focus="{{errorMap.get('footerNote')!=null}}">
                                        </textarea>
        							<div>
                                        <span class="error-message" ng-show="errorMap.get('footerNote')!=null">
                                        	<small>{{errorMap.get('footerNote')}}</small>
                                        </span>
        							</div>
    </div>
    <div class="col-xs-12 nopadding mt-15">
        <h5 class="title" ng-class="{'error-control':errorMap.get('headerNote')!=null}" >
            General Note
        </h5>
        <div class="row nomargin">
            <div class="col-xs-12">
                <ul class="list-inline mt10">
                    <li>
                        <button tabindex="-1" type="button" class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="addNote()"><i class="icon-add opcfull"></i> Add Note</button>
                    </li>
                    <li>
                        <button tabindex="-1" type="button" class="btn btn-default btn-xs btn-property accent-btn"  ng-click="getDefaultNote()">Get Default Note</button>
                    </li>

                </ul>
             <div class="table-responsive mt10">
                <table class="table table-inline-nopad">
                    <thead>
                    <tr>
                        <th class="inl_xs">#</th>
                        <th >Notes</th>
                        <th class="inl_m">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="gNote in quotation.generalNoteList track by $index">
                        <td>{{$index+1}}</td>
                        <td>
                        <textarea id="{{'gNote'+$index}}" msd-elastic
                                  class="form-control minH-30"
                                  ng-model="gNote.note"
                                  ng-class="{'error-control':errorMap.get('gNote'+$index)!=null}"
                                  maxlength="4000"
                                  input-focus="{{errorMap.get('gNote'+$index)!=null}}"
                                   >
                                  </textarea>
                        <span class="error-message" ng-show="errorMap.get('gNote'+$index)!=null">
                            <small>{{errorMap.get('gNote'+$index)}}</small>
                        </span>
                        </td>
                        <td>
                            <a tabindex="-1" ng-click="deleteNote($index)" href="javascript:void(0);"><i class="icon-delete"></i> </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>

        </div>
    </div>
</div>
            </div>
                    
         
            </div><!--body ends-->








        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


