

<div class="modal resModal" tabindex="-1" role="dialog" aria-hidden="true" ng-init="$root.navigateToNextField('0attachRefNo0')">
    <div class="modal-dialog width85per width80Port">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Attachments</h4>
                        
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelAttachment()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="saveAttachment()">Submit</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 mt10">
                        
                        <div class="tab-content shade3" >
                                    <div >
                                        <div class="row nomargin noborder ">
                                            <attachment-section-simple
                                            		is-edit = "true" is-delete = "true"
                                                    table-data="quotationAttachmentListBackUp"
                                                    attachment-config="attachConfig"
                                                    table-check="attachConfig.isAttachmentCheck"
                                                    download-fn="downloadAttach(param)"
                                                    index-key="0"
                                                    fn-role="roleAccess(param)"
                                                    download-role="$roleConstant.SALE_QUOTATION_ATTACHMENT_DOWNLOAD"
                                                    add-role="$roleConstant.SALE_QUOTATION_ATTACHMENT_CREATE"
                                                    edit-role="$roleConstant.SALE_QUOTATION_ATTACHMENT_MODIFY"
                                                    delete-role="$roleConstant.SALE_QUOTATION_ATTACHMENT_DELETE">
                                            </attachment-section-simple>

                                        </div>
                                    </div>
                                </div><!--TAB CONTENT ENDS-->
                        
                        
                        
                    </div>
                </div>
            </div><!--body ends-->








        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


