
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    
                    <div>
                        <h4>Multi Carrier &amp; Rates</h4>
                         
                         </div>
                    
                            
                    
                    <div class=" pull-right">
                       
                   
                        <ul class="list-inline text-right mt-5 masopertion-action ">
                            
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">Close</button>
                            </li>
                        </ul>
                    
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
            
            
            <div class="wrapper">
							<!-- Service List Row Starts Here -->
							<div class="row">
								<div class="col-xs-12 pl10">
									<div class="tabs">
										<ul class="list-inline chromeTabs ml0">
											<li class="cur-pointer"
												ng-repeat="quotationCarrier in quotationDetail.quotationCarrierList track by $index"
												ng-click="selectMultiCarrierModel($index)"
												title="ifDataElseHifen(quotationCarrier.carrierMaster.carrierName)"
												ng-class="{'tabActive':selectedCarrierIndex == $index}">
												{{quotationCarrier.carrierMaster!=null?quotationCarrier.carrierMaster.carrierName:'General'}}
											</li>
										</ul>
									</div>

								</div>
							</div>
							<!-- Service List Row Ends Here -->
						
							<!-- Group Row Starts Here -->
							<div  ng-repeat="quotationCarrier in quotationDetail.quotationCarrierList track by $index" ng-show="selectedCarrierIndex==$index" >
													
								<div class="row bor nomargin brad3 shade3 pt10 pb10" style="border-bottom: 1px solid #dadada !important;min-height:200px">
                                                   	 <div class="col-xs-12  plr0 ">
                                                   	 <div class="row nomargin">
                                                    <div class="col-xs-5  plr0  ">
                                                        
                                                            <div class="col-xs-6 ">
                                                                <label>Carrier</label>
                                                        <h6><img ng-show="quotationCarrier.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{quotationCarrier.carrierMaster.image}}" style="padding-right:3px;" width="23" height="20">{{ifDataElseHifen(quotationCarrier.carrierMaster.carrierName)}}</h6>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <label>Transit Days</label>
						                                        <h6>{{ifDataElseHifen(quotationCarrier.transitday)}}</h6>
                                                            </div>
                                                        
                                                    </div>
                                                    <div class="col-xs-7 plr0 ">
                                                       
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4   ">
                                                                <label>Frequency</label>
						                                         <h6>{{ifDataElseHifen(quotationCarrier.frequency.frequencyName)}}</h6>
															</div>

                                                    </div>
                                                    </div>
                                                    
                                                     <div class="row nomargin bor-0 pt-15">
						                                <hr class="nomargin">
						                            </div>
                                     
                                                    
                                              </div>
                                               
                                               
                                               
<div data-ng-if="quotationCarrier.quotationChargeList.length>0" class="pad-5 pl0 table-responsive"  ng-style="dropStyle">
    <table class="table table-inline">
    <thead>
    <tr>
			<th rowspan="2" class="inl_sno">#</th>
			<th rowspan="2" class="inl_s">Charge Code</th>
			<th rowspan="2" class="inl_sm">Charge Name</th>
			<th rowspan="2" class="inl_xs">Currency</th>
			<th rowspan="2" class="text-right inl_xs">ROE</th>
			<th rowspan="2" class="inl_xs">Unit</th>
			<th rowspan="2" class="inl_xs text-center bor-b-0">No of Units</th>
			<th colspan="3" class="text-center bor-b-0"><b>Sell Rate</b></th>
			<th ng-show="buyRateAccess" colspan="3" class="text-center bor-b-0"><b>Buy Rate</b></th>
			<th rowspan="2" class="inl_s">Actual Weight</th>
			<th rowspan="2" class="inl_s" ng-hide="true">Group</th>
		</tr>
    <tr>
        <th colspan="1" class="text-right inl_s">Amt per Unit</th>
        <th colspan="1" class="text-right inl_s">Min Amount</th>
        <!-- <th colspan="1" class="text-right inl_s">Rate Amount</th> -->
        <th colspan="1" class="text-right inl_s">Local Amount</th>
        <th ng-show="buyRateAccess" colspan="1" class="text-right inl_s">Cost per Unit</th>
        <th ng-show="buyRateAccess" colspan="1" class="text-right inl_s">Min Cost</th>
		<!-- <th colspan="1" class="text-right inl_s">Cost Amount</th> -->
        <th ng-show="buyRateAccess" colspan="1" class="text-right inl_s">Local Amount</th>
    </tr>
    </thead>
    <tbody data-ng-repeat="charge in quotationCarrier.quotationChargeList track by $index">
	    <tr>
	
					<td>{{$index+1}}</td>
					<td>{{charge.chargeMaster.chargeCode}}</td>
					<td>{{charge.chargeName}}</td>
					<td>{{charge.currencyMaster.currencyCode}}</td>
					<td class="text-right ">{{currencyRoeFormat(charge.currencyMaster,charge.roe)}}</td>
					<td>{{charge.unitMaster.unitCode}}</td>
					<td class="text-left ">{{charge.numberOfUnit}}</td>
                    <td class="text-right ">{{currencyFormat(charge.currencyMaster,charge.sellRateAmountPerUnit)}}</td>
                    <td class="text-right ">{{currencyFormat(charge.currencyMaster,charge.sellRateMinAmount)}}</td>
                    <!-- <td class="text-right ">{{currencyFormat(charge.currencyMaster,charge.sellRateAmount)}}</td> -->
                    <td class="text-right ">{{currencyFormat(quotation.localCurrency,charge.sellRateLocalAmount)}}</td>
                    <td ng-show="buyRateAccess" class="text-right ">{{currencyFormat(charge.currencyMaster,charge.buyRateCostPerUnit)}}</td>
                    <td ng-show="buyRateAccess" class="text-right ">{{currencyFormat(charge.currencyMaster,charge.buyRateMinCost)}}</td>
                    <!-- <td class="text-right ">{{currencyFormat(charge.currencyMaster,charge.buyRateCostAmount)}}</td> -->
                    <td ng-show="buyRateAccess" class="text-right ">{{currencyFormat(quotation.localCurrency,charge.buyRateCostLocalAmount)}}</td>
                    <td >{{charge.actualchargeable | chargeType}}</td>
                    <td ng-hide="true">
                       {{charge.groupName}}
                    </td>

    </tr>
    </tbody>
    <tfoot >
	    <tr>
	
					<td></td>
					<td>Total</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right ">{{currencyFormat(quotation.localCurrency,quotationCarrier.lumpSum)}}</td>
                    <td ng-show="buyRateAccess" ></td>
                    <td ng-show="buyRateAccess" ></td>
                    <td ng-show="buyRateAccess" class="text-right " >{{currencyFormat(quotation.localCurrency,quotationCarrier.lumpSumBuyAmt)}}</td>
                    <td ></td>
                   
    </tr>
    </tfoot>
</table>
</div>
<empty-record ng-if="quotationCarrier.quotationChargeList.length==0" icon="charge" text="Looks like there are no charge records here"></empty-record>
                                               
														
														  </div>
									
							</div>
							
							<!-- Group Row Ends Here -->

						</div>
	
            </div><!--body ends-->
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


