

<div class="modal resModal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per width80Port">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Attachments</h4>
                        
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">Close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 mt10">
                        
                        <div class="row nomargin noborder mt-15">
                                        <div class="col-xs-12">
                                            <attachment-section-simple 
                                            	is-edit = "false" is-delete = "false"
                                            	table-data="quotation.quotationAttachementList" 
                                            	fn-role="roleAccess(param)"
                                            	ng-if="quotation.quotationAttachementList.length>0" 
                                            	attachment-config="attachConfig" 
                                            	download-role="$roleConstant.SALE_QUOTATION_ATTACHMENT_DOWNLOAD"
                                            	download-fn="downloadAttach(param)">
                                            </attachment-section-simple>
                                            <empty-record ng-if="quotation.quotationAttachementList.length==0" icon="attachment" text="Looks like there are no attachment records here"></empty-record>
                                        </div>
                                    </div>
                        
                        
                        
                    </div>
                </div>
            </div><!--body ends-->








        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


