
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-init="$root.navigateToNextField('0ccarrier');">
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    
                    <div>
                        <h4>Multi Carrier &amp; Rates</h4>
                         
                         </div>
                    
                            
                    
                    <div class=" pull-right">
                       
                   
                        <ul class="list-inline text-right mt-5 masopertion-action ">
                            
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">Cancel</button>
                            </li>
                            
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="saveMultiCarrierModel()">Save</button>
                            </li>
                        </ul>
                    
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
            
            
            <div class="wrapper">
							<!-- Service List Row Starts Here -->
							<div class="row">
								<div class="col-xs-12 pl10">
									<div class="tabs">
										<ul class="list-inline chromeTabs ml0">
											<li class="cur-pointer"
												ng-repeat="quotationCarrier in multiCarrierList track by $index"
												ng-click="selectMultiCarrierModel($index);$root.navigateToNextField($index+'ccarrier')"
												title=""
												ng-class="{'tabActive':selectedCarrierIndex == $index}">
												{{quotationCarrier.carrierMaster!=null && quotationCarrier.carrierMaster.id!=null ? quotationCarrier.carrierMaster.carrierName : 'General' }} 
												<span ng-show="multiCarrierList.length>1" data-placement="bottom" bs-tooltip="tabDelete" class="icon-delete cur-pointer"
												ng-click="deleteCarrierRow(multiCarrierList,$index);$root.navigateToNextField(($index-1)+'ccarrier')"></span>
											</li>
											<span class="addtab cur-pointer" data-placement="bottom" bs-tooltip="newTab" ng-click="addCarrierRow(multiCarrierList)"></span>
										</ul>
									</div>

								</div>
							</div>
							<!-- Service List Row Ends Here -->
						
							<!-- Group Row Starts Here -->
							<div  ng-repeat="quotationCarrier in multiCarrierList track by $index" ng-show="selectedCarrierIndex==$index" ng-init="$root.navigateToNextField($index+'ccarrier');">
													
								<div class="row bor nomargin brad3 shade3 pt10 pb10" style="border-bottom: 1px solid #dadada !important;min-height:200px">
                                                   	 <div class="col-xs-12  plr0 ">
                                                   	 <div class="row nomargin">
                                                    <div class="col-xs-5  plr0  ">
                                                        
                                                            <div class="col-xs-6 ">
                                                                <label>Carrier</label>
						                                        <div class="select-auto">
																	<input type="text" 
																		class="form-control" id="{{$index+'ccarrier'}}" 
																		autocomplete="off"
																		ng-model="quotationCarrier.carrierMaster"
																		uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierEvent($viewValue)"
																		typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
																		typeahead-show-hint="true" typeahead-show-loading="true" 
																		typeahead-select-on-exact="true" typeahead-append-to-body="true"
																		typeahead-on-select="selectedCarrierMaster($index+'mtransit',quotationCarrier,$index);"
																		typeahead-focus-on-select="false"
																		typeahead-focus-first="true"
																		typeahead-editable="false"
																		typeahead-min-length="1" typeahead-wait-ms="500" 
																		>
																		<span class="select-arrow"><b></b></span>
																</div>
																<span class="error-message" style="color: red;" ng-show="errorMap.get($index+'carrierMaster')!=null">
																	<small>{{errorMap.get($index+'carrierMaster')}} </small>
																</span>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <label>Transit Days</label>
						                                        <input id="{{$index+'mtransit'}}"   type="text" ng-model="quotationCarrier.transitday" input-focus="{{errorMap.get($index+'transitday')!=null}}" ng-change="validateQuotationCarrier(6,quotationCarrier,$index)" maxlength=3 class="form-control text-right"  >
                                                            <span class="error-message" style="color: red;" ng-show="errorMap.get($index+'transitday')!=null"><small>
                                                                {{errorMap.get($index+'transitday')}}
                                                            </small></span>
                                                            </div>
                                                        
                                                    </div>
                                                    <div class="col-xs-7 plr0 ">
                                                       
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4   ">
                                                                <label>Frequency</label>
						                                        <div class="select-auto">
																	<input type="text" id="{{$index+'mfrequency'}}" 
																		class="form-control"  
																		autocomplete="off"
																		ng-model="quotationCarrier.frequency"
																		uib-typeahead="lovObject as lovObject.frequencyName for lovObject in ajaxFrequencyEvent($viewValue)"
																		typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																		typeahead-show-hint="true" typeahead-show-loading="true" 
																		 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																		typeahead-on-select="selectedFrequency($index+'chargeCodeField0',quotationCarrier,$index);"
																		typeahead-focus-on-select="false"
																		typeahead-focus-first="true"
																		typeahead-editable="false"
																		typeahead-min-length="1" typeahead-wait-ms="500" 
																		>
																		<span class="select-arrow"><b></b></span>
																</div>
																<span class="error-message" style="color: red;" ng-show="errorMap.get($index+'frequency')!=null">
																	<small>{{errorMap.get($index+'frequency')}} </small>
																</span>
															</div>
															
                                                            
                                                              
                                                     


                                                    </div>
                                                    </div>
                                                    
                                                     <div class="row nomargin bor-0 pt-15">
                                <hr class="nomargin">
                            </div>
                                     
                                                    
                                              </div>
                                                <quotation-charge-table
                                                			table-check="quotationCarrier.ischargeCheck"
                                                			index-key="$index"
															depend-data="quotation"
															depend-service-data = "quotationDetail"
															depend-carrier-data = "quotationCarrier"
															table-data="quotationCarrier.quotationChargeList"
															fn-role="roleAccess(param)"
															call-fun="quotationRateCalculation(quotationCarrier)"
															add-role="$roleConstant.SALE_QUOTATION_SERVICE_CHARGE_CREATE"
															edit-role="$roleConstant.SALE_QUOTATION_SERVICE_CHARGE_MODIFY"
															fetch-role="$roleConstant.SALE_QUOTATION_SERVICE_CHARGE_FROM_PRICING_LIST"
															delete-role="$roleConstant.SALE_QUOTATION_SERVICE_CHARGE_DELETE">
														</quotation-charge-table>
														
														  </div>
									
							</div>
							
							<!-- Group Row Ends Here -->

						</div>
	
            </div><!--body ends-->
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


