<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rel">
            <div class="modal-header flexTitle">
                <div>
                    <h4>Select Carrier</h4>
                </div>
                <div>
                    <div class="btngrp">
                        <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body pt0 fgmb0">
                <form role="form">
                    <div class="row">
					<div class="col-xs-12 bor-t1">
						<div class="table-responsive mt-15">
							<table class="table table-inline">
								<thead>
									<tr>
										<th rowspan="2" class="inl_sno">#</th>
										<th rowspan="2" class="inl_s">Carrier</th>
										<th rowspan="2" class="inl_sm">Transit Days</th>
										<th rowspan="2" class="inl_xs">Frequency</th>
										<th rowspan="2" class="inl_xs">All Inclusive</th>
										<th rowspan="2" class="inl_xs">Action</th>
									</tr>
								</thead>
								<tbody
									data-ng-repeat="quotationCarrier in quotationCarrierList track by $index">
									<tr>
										<td>{{$index+1}}</td>
										<td>{{quotationCarrier.carrierMaster.carrierName}}</td>
										<td>{{quotationCarrier.transitday}}</td>
										<td>{{quotationCarrier.frequency.frequencyName}}</td>
										<td>{{quotationCarrier.isAllInclusiveCharges?'Yes':'No'}}</td>
										<td>
											<button type="button" class="btn btn-primary btn-xs btn-property save-btn" ng-click="quotationToShipment(quotationCarrier.id);$hide()">Create Shipment</button>
										</td>
									</tr>
								</tbody>
						    
							</table>
						</div>
					</div>
				</div>
                </form>
            </div>

            <modal-spinner spinner-status="popup.spinner"></modal-spinner>
        </div>
    </div>
</div>
