
<div class="modal  resModal" tabindex="-1" role="dialog" aria-hidden="true" ng-init="navigateToNextField('authDocShipper0_0')">
	<div class="modal-dialog width80Port ">
		<div class="modal-content">
			<div class="modal-header flexTitle">
				<div>
					<h4>More Info</h4>
				</div>
				<div>
					<div class="btngrp">
						<button type="button"
							class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Discard</button>
						<button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveAuthenticatedMoreInfo(0, authenticatedDoc, parent, child)">Save</button>
					</div>
				</div>
			</div>
			<div class="modal-body nopadding overflow-hidden shade1"
				style="overflow-y: auto; min-height: 460px;">
				<div class="row nomargin shade2">
					<div class="col-xs-6 ptb-15">
						<div class="row">
							<div class="col-xs-10">
								<label>Shipper</label>
								<div class="select-auto ">
									<input type="text" class="form-control"
										id="{{'authDocShipper'+parent+'_'+child}}"
										input-focus="{{errorMap.get('authDocShipper'+parent+'_'+child)!=null}}"
										autocomplete="off" ng-model="authenticatedDoc.shipper"
										uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedAuthDocsShipperEvent(authenticatedDoc,parent,child,'authConsignee')"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500"> <span
										class="select-arrow"><b></b></span>

								</div>
								<span class="error-message"
									ng-show="errorMap.get('authDocShipper'+parent+'_'+child)!=null">
									<small>
										{{errorMap.get('authDocShipper'+parent+'_'+child)}} </small>
								</span>
							</div>
							<div class="col-xs-1 mt-25 pl0 m-text-center text-right" ng-init="showShipperAddressModel=false">
								<a  data-container="false" tabindex="-1" href="javascript:void(0)"
									ng-class="{'activeLocation':showShipperAddressModel==true}"
									class="selectPicker-sm fit_picker"
									ng-click="showShipperAddressModel=!showShipperAddressModel">
										<i class="icon-location" data-placement="auto right" bs-tooltip="addressIcon"></i>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-10 mt-5" ng-show="showShipperAddressModel">
								<input 	class="form-control" 
										ng-disabled="authenticatedDoc.shipper==null" maxlength="100"
										ng-change="validateAuthDocsMore(2,authenticatedDoc,parent,child)"
										ng-class="{'error-control':errorMap.get('authenticatedDoc.shipperAddress.addressLine1'+parent+'_'+child)!=null}"
										ng-model="authenticatedDoc.shipperAddress.addressLine1"
										type="text"> 
										<span class="error-message" ng-show="errorMap.get('authenticatedDoc.shipperAddress.addressLine1'+parent+'_'+child)!=null">
											<small>{{errorMap.get('authenticatedDoc.shipperAddress.addressLine1'+parent+'_'+child)}}</small>
										</span>
							</div>
							<div class="col-xs-2 mt-7 pl0" ng-show="authenticatedDoc.shipper!=null && showShipperAddressModel" >
								<a href="javascript:void(0)" data-container="false"
									data-placement="auto right" bs-tooltip="selectShipperAddress" tabIndex="-1"
									ng-click="showPartyAddress('shipperAddress',authenticatedDoc,parent,child);"
									class="selectPicker-sm"> 
										<i class="fa fa-chevron-right"></i>
								</a>
							</div>
							<div class="col-xs-10 mt-4" ng-show="showShipperAddressModel">
								<input 	class="form-control"
										ng-model="authenticatedDoc.shipperAddress.addressLine2"
										ng-disabled="authenticatedDoc.shipper==null" maxlength="100"
										type="text"> 
							</div>
							<div class="col-xs-10 mt-4" ng-show="showShipperAddressModel">
								<input 	class="form-control"
										ng-disabled="authenticatedDoc.shipper==null" maxlength="100"
										ng-model="authenticatedDoc.shipperAddress.addressLine3"
										type="text"> 
							</div>
							<div class="col-xs-10 mt-4" ng-show="showShipperAddressModel">
								<input 	class="form-control"
										ng-model="authenticatedDoc.shipperAddress.addressLine4"
										ng-disabled="authenticatedDoc.shipper==null" maxlength="100"
										type="text"> 
							</div>
						</div>
					</div>
					<div class="col-xs-6 ptb-15">
						<div class="row">
							<div class="col-xs-10">
								<label>Consignee</label>
								<div class="select-auto ">
									<input type="text" class="form-control"
										id="{{'authConsignee'+parent+'_'+child}}"
										input-focus="{{errorMap.get('authConsignee'+parent+'_'+child)!=null}}"
										autocomplete="off" ng-model="authenticatedDoc.consignee"
										uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="vm.selectedMaster('chargeCode',vm.stcGroupMaster);"
										typeahead-focus-on-select="selectedAuthConsigneEvent(authenticatedDoc,parent,child,'authFirstNotify')"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500"> 
										<span class="select-arrow"><b></b></span>
								</div>
								<span class="error-message" ng-show="errorMap.get('authConsignee'+parent+'_'+child)!=null">
									<small>{{errorMap.get('authConsignee'+parent+'_'+child)}} </small>
								</span>
							</div>
							<div class="col-xs-1 mt-25 pl0 m-text-center text-right" ng-init="showConsigneeAddressModel=false">
								<a  data-container="false" tabindex="-1" href="javascript:void(0)"
									ng-class="{'activeLocation':sshowConsigneeAddressModel==true}"
									class="selectPicker-sm fit_picker"
									ng-click="showConsigneeAddressModel=!showConsigneeAddressModel">
										<i class="icon-location" data-placement="auto right" bs-tooltip="addressIcon"></i>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-10 mt-5" ng-show="showConsigneeAddressModel">
								<input 
									class="form-control" 
									ng-disabled = "authenticatedDoc.consignee==null" maxlength="100"	
									ng-change="validateAuthDocsMore(4,authenticatedDoc,parent,child)"
									ng-class="{'error-control':errorMap.get('authenticatedDoc.consigneeAddress.addressLine1'+parent+'_'+child)!=null}"
									ng-model="authenticatedDoc.consigneeAddress.addressLine1"
									type="text"> 
										<span class="error-message" ng-show="errorMap.get('authenticatedDoc.consigneeAddress.addressLine1'+parent+'_'+child)!=null">
											<small>{{errorMap.get('authenticatedDoc.consigneeAddress.addressLine1'+parent+'_'+child)}}</small>
										</span>
							</div>
							<div class="col-xs-2 mt-7 pl0" ng-show="authenticatedDoc.consignee!=null && showConsigneeAddressModel" >
								<a href="javascript:void(0)" data-container="false"
									data-placement="auto right"
									bs-tooltip="selectConsigneeAddress" tabIndex="-1"
									ng-click="showPartyAddress('consigneeAddress',authenticatedDoc,parent,child);"
									class="selectPicker-sm"> 
										<i class="fa fa-chevron-right"></i>
								</a>
							</div>
							<div class="col-xs-10 mt-4" ng-show="showConsigneeAddressModel">
								<input 
									class="form-control"
									ng-disabled = "authenticatedDoc.consignee==null" maxlength="100"
									ng-model="authenticatedDoc.consigneeAddress.addressLine2"
									type="text">
							</div>
							<div class="col-xs-10 mt-4" ng-show="showConsigneeAddressModel">
								<input 
									class="form-control"
									ng-disabled = "authenticatedDoc.consignee==null" maxlength="100"
									ng-model="authenticatedDoc.consigneeAddress.addressLine3"
									type="text"> 
							</div>
							<div class="col-xs-10 mt-4" ng-show="showConsigneeAddressModel">
								<input 
									class="form-control"
									ng-disabled = "authenticatedDoc.consignee==null" maxlength="100"
									ng-model="authenticatedDoc.consigneeAddress.addressLine4"
									type="text"> 
							</div>
						</div>
					</div>
				</div>
				<div class="row nomargin shade2">
					<div class="col-xs-6 ptb-15">
						<div class="row">
							<div class="col-xs-10">
								<label>First Notify</label>
								<div class="select-auto ">
									<input type="text" class="form-control"
										id="{{'authFirstNotify'+parent+'_'+child}}"
										input-focus="{{errorMap.get('authFirstNotify'+parent+'_'+child)!=null}}"
										autocomplete="off" ng-model="authenticatedDoc.firstNotify"
										uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="vm.selectedMaster('chargeCode',vm.stcGroupMaster);"
										typeahead-focus-on-select="selectedAuthFirstNotifyEvent(authenticatedDoc,parent,child,'authForwarder')"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500"> 
										<span class="select-arrow"><b></b></span>
								</div>
								<span class="error-message" ng-show="errorMap.get('authFirstNotify'+parent+'_'+child)!=null">
									<small> {{errorMap.get('authFirstNotify'+parent+'_'+child)}} </small>
								</span>
							</div>
							<div class="col-xs-1 mt-25 pl0 m-text-center text-right" ng-init="showFirstNotifyAddressModel=false">
								<a  data-container="false" tabindex="-1" href="javascript:void(0)"
									ng-class="{'activeLocation':showFirstNotifyAddressModel==true}"
									class="selectPicker-sm fit_picker"
									ng-click="showFirstNotifyAddressModel=!showFirstNotifyAddressModel">
										<i class="icon-location" data-placement="auto right" bs-tooltip="addressIcon"></i>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-10 mt-5" ng-show="showFirstNotifyAddressModel">
								<input class="form-control"
									ng-change="validateAuthDocsMore(6,authenticatedDoc,parent,child)"
									ng-class="{'error-control':errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine1'+parent+'_'+child)!=null}"
									ng-model="authenticatedDoc.firstNotifyAddress.addressLine1"
									ng-disabled="authenticatedDoc.firstNotify == null" maxlength="100"
									type="text"> 
										<span class="error-message" ng-show="errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine1'+parent+'_'+child)!=null">
											<small>{{errorMap.get('authenticatedDoc.firstNotifyAddress.addressLine1'+parent+'_'+child)}}</small>
										</span>
							</div>
							<div class="col-xs-2 mt-7 pl0" ng-show="authenticatedDoc.firstNotify!=null && showFirstNotifyAddressModel" >
								<a href="javascript:void(0)" data-container="false"
									data-placement="auto right" bs-tooltip="selctNotify1"
									tabIndex="-1"
									ng-click="showPartyAddress('firstNotifyAddress',authenticatedDoc,parent,child);"
									class="selectPicker-sm"> 
										<i class="fa fa-chevron-right"></i>
								</a>
							</div>
							<div class="col-xs-10 mt-4" ng-show="showFirstNotifyAddressModel">
								<input class="form-control"
									ng-disabled="authenticatedDoc.firstNotify == null" maxlength="100"
									ng-model="authenticatedDoc.firstNotifyAddress.addressLine2"
									type="text">
							</div>
							<div class="col-xs-10 mt-4" ng-show="showFirstNotifyAddressModel">
								<input class="form-control"
									ng-disabled="authenticatedDoc.firstNotify == null" maxlength="100"
									ng-model="authenticatedDoc.firstNotifyAddress.addressLine3"
									type="text"> 
							</div>
							<div class="col-xs-10 mt-4" ng-show="showFirstNotifyAddressModel">
								<input class="form-control"
									ng-disabled="authenticatedDoc.firstNotify == null" maxlength="100"
									ng-model="authenticatedDoc.firstNotifyAddress.addressLine4"
									type="text">
							</div>
						</div>
					</div>
					<div class="col-xs-6 ptb-15">
						<div class="row">
							<div class="col-xs-10">
								<label>Forwarder</label>
								<div class="select-auto ">
									<input type="text" class="form-control"
										id="{{'authForwarder'+parent+'_'+child}}"
										input-focus="{{errorMap.get('authForwarder'+parent+'_'+child)!=null}}"
										autocomplete="off" ng-model="authenticatedDoc.forwarder"
										uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="vm.selectedMaster('chargeCode',vm.stcGroupMaster);"
										typeahead-focus-on-select="selectedAuthForwarderEvent(authenticatedDoc,parent,child,'authCommodity')"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-add-new="routePartyEvent('authenticatedDoc.forwarder', true, null, true, parent, child)"
										typeahead-min-length="1" typeahead-wait-ms="500"> <span
										class="select-arrow"><b></b></span>
								</div>
								<span class="error-message" ng-show="errorMap.get('authForwarder'+parent+'_'+child)!=null">
									<small>{{errorMap.get('authForwarder'+parent+'_'+child)}} </small>
								</span>
							</div>
							<div class="col-xs-1 mt-25 pl0 m-text-center text-right" ng-init="showForwarderAddressModel=false">
								<a  data-container="false" tabindex="-1" href="javascript:void(0)"
									ng-class="{'activeLocation':showForwarderAddressModel==true}"
									class="selectPicker-sm fit_picker"
									ng-click="showForwarderAddressModel=!showForwarderAddressModel">
										<i class="icon-location" data-placement="auto right" bs-tooltip="addressIcon"></i>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-10 mt-5" ng-show="showForwarderAddressModel">
								<input class="form-control"
									ng-class="{'error-control':errorMap.get('authenticatedDoc.forwarderAddress.addressLine1'+parent+'_'+child)!=null}"
									ng-change="validateAuthDocsMore(8,authenticatedDoc,parent,child)"
									ng-disabled="authenticatedDoc.forwarder==null" maxlength="100"
									ng-model="authenticatedDoc.forwarderAddress.addressLine1"
									type="text"> 
									<span class="error-message" ng-show="errorMap.get('authenticatedDoc.forwarderAddress.addressLine1'+parent+'_'+child)!=null">
										<small>{{errorMap.get('authenticatedDoc.forwarderAddress.addressLine1'+parent+'_'+child)}}</small>
									</span>
							</div>
							<div class="col-xs-2 mt-7 pl0" ng-show="authenticatedDoc.forwarder!=null && showForwarderAddressModel">
								<a href="javascript:void(0)" data-container="false"
									data-placement="auto right" bs-tooltip="selctNotify1"
									tabIndex="-1"
									ng-click="showPartyAddress('forwarderAddress',authenticatedDoc,parent,child);"
									class="selectPicker-sm"> 
										<i class="fa fa-chevron-right"></i>
								</a>
							</div>
							<div class="col-xs-10 mt-4" ng-show="showForwarderAddressModel">
								<input class="form-control"
									ng-disabled="authenticatedDoc.forwarder==null" maxlength="100"
									ng-model="authenticatedDoc.forwarderAddress.addressLine2"
									type="text">
							</div>
							<div class="col-xs-10 mt-4" ng-show="showForwarderAddressModel">
								<input class="form-control"
									ng-disabled="authenticatedDoc.forwarder==null" maxlength="100"
									ng-model="authenticatedDoc.forwarderAddress.addressLine3"
									type="text"> 
							</div>
							<div class="col-xs-10 mt-4" ng-show="showForwarderAddressModel">
								<input class="form-control"
									ng-disabled="authenticatedDoc.forwarder==null" maxlength="100"
									ng-model="authenticatedDoc.forwarderAddress.addressLine4"
									type="text"> 
							</div>
						</div>
					</div>
				</div>
				<div class="row nomargin shade1">
					<div class="col-xs-6 ptb-15">
						<div class="row">
							<div class="col-xs-10">
								<div class="form-group">
									<label>Commodity</label>
									<textarea	 msd-elastic 
												id="{{'authCommodity'+parent+'_'+child}}"
												class="form-control minH-30"
												ng-model="authenticatedDoc.commodity" 
												maxlength="4000">
									</textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 ptb-15">
						<div class="row">
							<div class="col-xs-10">
								<div class="form-group">
									<label>Marks & No</label>
									<textarea 
										msd-elastic
										id="{{'authmarksAndNo'+parent+'_'+child}}"
										class="form-control minH-30"
										ng-model="authenticatedDoc.marksAndNo"
										maxlength="4000">
									</textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-hide="!showAuthenticatedPartyAddress" class="wrapper-back-drop"></div>

				<div ng-show="showAuthenticatedPartyAddress" class="logs-transition sideView">
					<select-list-picker panel-title="panelAuthenticatedTitle"
						selected="selectedItem" data="authenticatedPartyAddressList"
						cancel-event="closeAuthenticatedAddressBar()"
						click-event="selectedAuthDocsPartyAddress(param,authenticatedDoc);"
						config="partyAddressListConfig"> </select-list-picker>
				</div>
			</div>
		</div>
	</div>
</div>

