<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog widP80per">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Reports</h4>
						<span class="error-message"
							ng-show="errorMap.get('linkService')!=null"> <small>{{errorMap.get('linkService')}}</small>
						</span>
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<!-- <li>
								<button type="button" class="btn cancel-btn"
									ng-click="cancelFlightSchedule();$hide()">cancel</button>
							</li> -->
							<li>
								<button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="closeReports();$hide()">Close</button>
								
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pb-25 pt0"
				style="height: 530px; overflow: auto;">
				<div class="row">
					<div class="col-xs-12 bor-t1">
						<div class="row  pt15 shade3">
							<div class="col-xs-12">


								<div class="col-xs-12 mb-5">
									<button type="button" class="btn accent-btn"
										ng-click="generateAll()">Generate All</button>
								</div>
								<div class="col-xs-12">
									<div ng-if="reportList.length>0" class="table-responsive">
										<div ng-show="reportLoadingImage.status"
											class="table-backdrop">
											<span><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></span>
										</div>
										<table class="table table-inline">
											<thead class="borderthead">
												<tr>
													<th class="text-center inl_xxs"><input type="checkbox"
														ng-model="allRepoVarModel.allReportSelected"
														ng-change="selectAllReports();" id="reportAll"> <label
														for="reportAll"></label></th>
													<th class="inl_xxs">#</th>
													<th class="inl_l">Name</th>
													<th class="inl_xxs">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="reportDetail in reportList">
													<td class="text-center"><input type="checkbox"
														ng-model="reportDetail.isSelected"
														ng-change="chkReportStatus(reportDetail.isSelected, reportDetail);"
														id="report2"> <label for="report2"></label></td>
													<td>{{ $index + 1 }}</td>
													<td>{{reportDetail.reportDisplayName}}</td>
													<td>
														<button type="button" class="btn accent-btn"
															ng-click="reportModal(reportDetail.resourceRefId,reportDetail.reportName,reportDetail.key)">Generate</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>



							<!-- <div class="col-xs-6">
									<div ng-if="reportList.length>0" class="table-responsive">
										<div ng-show="reportLoadingImage.status"
											class="table-backdrop">
											<span><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></span>
										</div>
										<table class="table table-inline">
											<thead>
												<tr>
													<th class="text-center inl_xs pt20"><input type="checkbox"
														ng-model="allRepoVarModel.allReportSelected"
														ng-change="selectAllReports();" id="reportAll1"> <label
														for="reportAll"></label></th>
													<th class="inl_xs">#</th>
													<th class="inl_l">Document Name</th>
													<th class="inl_l">Reference No</th>
													<th class="inl_xxs">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="reportDetail in reportList">
													<td class="text-center"><input type="checkbox"
														ng-model="reportDetail.isSelected"
														ng-change="chkReportStatus(reportDetail.isSelected, reportDetail);"
														id="report21"> <label for="report21"></label></td>
													<td>{{ $index + 1 }}</td>
													<td>{{reportDetail.reportDisplayName}}</td>
													<td>23102015</td>
													
													<td style="padding: 10px !important;">
														<a href="javascript:void(0)">	<span class="icon-download"></span></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
 -->










							</div>
						</div>

					</div>
				</div>
			</div>
			<!--body ends-->


			<!-- <div class="modal-footer modfooter">
				<div class="pull-left">
					<ul class="list-inline">
						<li>Show</li>
						<li><select class="form-control legend-show-ctrl"
							ng-model="flightScheduleLimit"
							ng-change="flightScheduleLimitChange(flightScheduleLimit)"
							ng-options="v for v in flightScheduleLimitArray">

						</select></li>
						<li>Entries</li>
					</ul>
				</div>
				<div class="pull-right">
					<pagination-dr page="flightSchedulePage" size="flightScheduleLimit"
						total=flightScheduleTotalRecord
						page-change="flightScheduleChangePage(param)" class="pull-right"></pagination-dr>
				</div>
			</div> -->


		</div>
		<!--panel end document-->
	</div>
</div>
<!--modal ends-->











<!-- <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
<div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
	                                    <div class="row nomargin noborder mt-15">
	                                        <div class="col-xs-12 mb-15" >
	                                     	   <button type="button"  class="btn accent-btn" ng-click="generateAllReports()">Generate All</button>
	                                        </div>
	                                        <div class="col-xs-12">
	                                            <div ng-if="reportList.length>0" class="table-responsive">
	                                                <div ng-show="reportLoadingImage.status" class="table-backdrop" >
	                                                    <span><i  class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></span>
	                                                </div>
	                                                <table class="table table-inline">
	                                                    <thead>
	                                                    <tr>
	                                                         <th class="text-center inl_s">
                                                                 <input type="checkbox" ng-model="allRepoVarModel.allReportSelected" ng-change="selectAllReports();" id="reportAll">
	                                                             <label for="reportAll"></label>
                                                             </th>
	                                                        <th class="inl_xs">#</th>
	                                                        <th >Name</th>
	                                                        <th class="inl_xxl">Action</th>
	                                                    </tr>
	                                                    </thead>
	                                                    <tbody>
	                                                     <tr ng-repeat="reportDetail in reportList">
	                                                         <td class="text-center">

	                                                                 <input type="checkbox"  ng-model="reportDetail.isSelected" ng-change="chkReportStatus(reportDetail.isSelected, reportDetail);" id="report2">
	                                                                 <label for="report2"></label>

	                                                         </td>
	                                                        <td >{{ $index + 1 }}</td>
	                                                       <td> {{reportDetail.reportDisplayName}}
	                                                        </td>
	                                                        <td >
	                                                            <button type="button" class="btn accent-btn" ng-click="reportModal(reportDetail.resourceRefId,reportDetail.reportName)">Generate</button>
	                                                        </td>
	                                                    </tr>
	                                                    </tbody>
	                                                </table>
	                                            </div>
	                                            <efs-spinner spinner-status="reportSpinner"></efs-spinner>
                                                <empty-record ng-if="reportList.length==0" icon="report" text="Looks like there are no records here"></empty-record>
	                                        </div>
	                                    </div>
	                                    </div>
	                                    </div>
	                                    </div>
	                                    </div>
                            </div>Reports tab ends -->