<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>References</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelPopup('referenceList')">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="saveShipmentServiceReference()">Save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                       <div class="row nomargin pt15 shade3">
                        <div class="col-xs-12">
                            <reference-table
                                    index-key = "selectedShipmentServiceIndex"
                                    table-data="referenceListData"
                                    table-check="shipment.shipmentServiceList[selectedShipmentServiceIndex].isReferenceCheck"
                                    fn-role="roleAccess(param)"
                                    add-role="$roleConstant.CRM_SHIPMENT_SERVICE_MORE_REFERENCE_CREATE"
                                    edit-role="$roleConstant.CRM_SHIPMENT_SERVICE_MORE_REFERENCE_MODIFY"
                                    delete-role="$roleConstant.CRM_SHIPMENT_SERVICE_MORE_REFERENCE_DELETE">
                            </reference-table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


