<style>
.ta-editor {
  min-height: 200px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

</style>

<div class="modal reportpopup page-style" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog width700px">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Prealert to Agent</h4>

					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<li>
								<button type="button" class="btn cancel-btn"
									ng-click="cancelFlightSchedule();$hide()" ng-click="cancelEmailPop()">cancel</button>
							</li>
	<li>
									<button type="button" tabindex="5"
										class="btn accent-btn" ng-click="sendEmailToAgent()">Send</button>

								</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pb-25 pt0 h470px"
				>
				<div class="row nomargin">
					<div class="col-xs-12 pl0 pr0">
						<form class="form-horizontal" role="form" method="post"
							>
							<div class="form-group mt10 mb-5">
								<label for="name" class="col-sm-2 pr0 control-label">To</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="name" name="name"
										 ng-model="reportEmailRequestDto.toEmailIdList" input-focus ="true">
								</div>
							</div>
							<div class="form-group  mb-5">
								<label for="email" class="col-sm-2 pr0  control-label">CC</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="email"
										ng-model="reportEmailRequestDto.ccEmailIdList">
								</div>
							</div>
							<!-- <div class="form-group  mb-5">
								<label for="email" class="col-sm-2  pr0  control-label">BCC</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" name="email"
										value="general@gmail.com">
								</div>
							</div>
 -->
 
							<div class="form-group  mb-5">
								<label for="human" class="col-sm-2 pr0  control-label">Subject</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" 
									ng-model="reportEmailRequestDto.subject"
									>
								</div>
							</div>
							<div class="form-group  mb-5">
								<label for="human" class="col-sm-2 pr0  control-label">Attachments</label>
								<div class="col-sm-10">
								<div class="attachborder">
								<ul class=" list-inline">
								<li  ng-repeat="reportName in reportEmailRequestDto.reportLength">
									{{reportName}}
								</li>
								</ul>
								</div>
								</div>
							</div> 
<!-- <div class="form-group  mb-5">
								<label for="human" class="col-sm-2 pr0  control-label">Attachments</label>
								<div class="col-sm-10">
								<input type="text" ng-repeat="reportName in reportEmailRequestDto.reportLength" class="form-control" 
								ng-model="reportName">
								</div>
							</div>
 -->						</form>

						<div class="col-md-12 mt10 plr0">
							<text-angular id="txtangular" name="txtangular"
								ng-model="reportEmailRequestDto.template"
								ta-disabled='truefalse'></text-angular>
						</div>
						
					</div>
				</div>
			</div>



		</div>
		<!--panel end document-->
	</div>
</div>
<!--modal ends-->

