<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Attachment</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelPopup('shipmentAttachmentList')">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="saveShipmentServiceAttachment()">Save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                   <div class="row nomargin pt-15 noborder shade3">
                        <super-attachment-table
                         		index-key = "selectedShipmentServiceIndex"
                                table-data="shipmentAttachmentListData"
                                table-check="shipment.shipmentServiceList[selectedShipmentServiceIndex].isAttachmentCheck"
                                attachment-config="shipment.shipmentServiceList[selectedShipmentServiceIndex].attachConfig"
                                download-fn="downloadAttach(param)"
                                fn-role="roleAccess(param)"
                                add-role="$roleConstant.CRM_SHIPMENT_SERVICE_MORE_ATTACHMENT_CREATE"
                                edit-role="$roleConstant.CRM_SHIPMENT_SERVICE_MORE_ATTACHMENT_MODIFY"
                                delete-role="$roleConstant.CRM_SHIPMENT_SERVICE_MORE_ATTACHMENT_DELETE"
                                download-role="$roleConstant.CRM_SHIPMENT_SERVICE_MORE_ATTACHMENT_DOWNLOAD">
                        </super-attachment-table>
                    </div>
                    </div>
                </div>
            </div><!--body ends-->
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


