<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog width85per">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>References</h4>
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<li>
								<button type="button" class="btn cancel-btn" ng-click="$hide()">close</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pb-25 pt0"
				style="height: 367px; overflow: auto;">
				<div class="row"
					ng-hide="!shipment.shipmentServiceList[selectedShipmentServiceIndex].referenceList || shipment.shipmentServiceList[selectedShipmentServiceIndex].referenceList.length==0"">
					<div class="col-xs-12 bor-t1">
						<div class="row nomargin pt-15 noborder shade3">
							<table class="table table-inline">
								<thead>
									<tr>
										<th class="inl_sno">#</th>
										<th class="inl_l">Reference Type</th>
										<th class="inl_l">Reference No</th>
										<th class="inl_s">Note</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="reference in shipment.shipmentServiceList[selectedShipmentServiceIndex].referenceList track by $index">
										<td>{{$index + 1}}</td>
										<td>{{reference.referenceTypeMaster.referenceTypeName}}</td>
										<td>{{reference.referenceNumber}}</td>
										<td>
											<a href="javascript:;" data-placement="bottom-right" data-content="{{reference.referenceNotes}}" data-trigger="focus" bs-popover>
												<i class="fa fa-file-o" aria-hidden="false"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-xs-12" ng-show="!shipment.shipmentServiceList[selectedShipmentServiceIndex].referenceList || shipment.shipmentServiceList[selectedShipmentServiceIndex].referenceList.length==0">
					<empty-record icon="reference" text="Looks like there are no reference records here"></empty-record>
				</div>
			</div>
			<!--body ends-->
		</div>
		<!--panel end document-->
	</div>
</div>
<!--modal ends-->


