<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Sign Off &amp; Un-Sign Off History</h4>
                         <span class="error-message" ng-show="errorMap.get('linkService')!=null">
                             <small>{{errorMap.get('linkService')}}</small>
                         </span>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelFlightSchedule();$hide()">close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt15" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div  class="table-responsive">
            <table class="table table-inline">
                <thead>
                <tr>
                    <th class="inl_sno">#</th>
                    <th class="inl_xs">Shipment UID</th>
                    <th class="inl_xs">Service Code</th>
                    <th class="inl_xs">Master ID</th>
                    <th class="inl_m">Type</th>
                    <th class="inl_m">Sign Off/Un-Sign Off By</th>
                    <th class="inl_m">Date</th>
                    <th class="inl_m">Comment</th>
                    <th class="inl_m">Description</th>
                   
                </tr>
                </thead>
                <tbody class="bor-0">
                <tr>
                    <td class="pt12"><span class="icon-search"></span></td>
                    <td><input type="text" class="form-control" ></td>
                    <td><input type="text" class="form-control" ></td>
                    <td><input type="text" class="form-control" ></td>
                    <td><select class="form-control">
												<option >ALL</option>
											</select></td>
                    <td><input type="text" class="form-control" ></td>
                    <td>
                        <div class="inputBox ">
                            <input tabindex="" class="form-control"  datetimepicker  datetimepicker-options="{{datePickerOptions}}" >
                            <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                        </div>
                    </td>
                    <td><input type="text" class="form-control" ></td>
                    <td><input type="text" class="form-control" ></td>
                   
                </tr>
                </tbody>
                <tbody class="bor-0"  >
                <tr ng-repeat="x in historyValues">
                    <td  class="text-center ">{{x.Sno}}</td>
                    
                     <td class="tdtext-wrap">{{x.ShipmentUID}}</td>
                    <td class="tdtext-wrap">{{x.ServiceID}}</td>
                    <td class="tdtext-wrap">{{x.Job}}</td>
                    <td class="tdtext-wrap">{{x.Type}}</td>
                    <td class="tdtext-wrap">{{x.SignOffUnSignOffBy}}</td>
                    <td class="tdtext-wrap">{{x.Date}}</td>
                    <td class="tdtext-wrap">{{x.Comment}}</td>
					<td class="tdtext-wrap description" >{{x.Description}}</td>
                </tr>
                
                </tbody>
            </table>
            
        </div>
                    </div>
                </div>
            </div><!--body ends-->
            <!-- Footer -->
<div class="modal-footer modfooter mt0">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="flightScheduleLimit"
                                                        ng-change="flightScheduleLimitChange(flightScheduleLimit)" ng-options="v for v in flightScheduleLimitArray">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <pagination-dr  page="flightSchedulePage" size="flightScheduleLimit" total=flightScheduleTotalRecord page-change="flightScheduleChangePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>

            
                                        
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


