<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg  width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>CFS Receive Entry</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">Close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row nomargin">
                        <div class="col-xs-12 mt10 ptb-15 pl0 pr0">
                                <button type="button" class="btn accent-btn" ng-click="createCFS(shipmentServiceDetail.serviceUid)"><i class="fa fa-link"></i> Add CFS Receive Entry </button>
                        </div> 
                        <div class="col-xs-12 fgmb0 pl0 pr0 mt-5">
                            <div class="table-responsive" ng-show="cfsReceiveEntryList!=null && cfsReceiveEntryList.length > 0">
                                 <div class="row nomargin">
    <div class="col-xs-12 pl0 pr0">
        <div class="table-responsive">
            <table class="table table-inline">
                <thead>
	                <tr>
	                	<th class="inl_sno text-center"> # </th>
	                    <th class="inl_sm">Receipt No</th>
	                    <th class="inl_sm">Receipt Date</th>
	                    <th class="inl_m"> CFS </th>
	                    <th class="inl_sm text-right">No of Pieces</th>
	                    <th class="inl_sm text-right">Gross Weight (KG)</th>
	                    <th class="inl_sm text-right">Volume Weight (KG)</th>
	                </tr>
                </thead>
                <tbody class="bor-0" ng-repeat="cfsReceive in cfsReceiveEntryList | filter:cfsSearch:startsWith track by $index">
                <tr>
                    <td class="text-center">{{$index + 1}}</td>
                    <td class="tdtext-wrap" title="{{cfsReceive.cfsReceiptNumber}}"><a  ng-click="viewCFS(cfsReceive.id)" class=" hyperLink text-blue">{{cfsReceive.cfsReceiptNumber}}</a></td>
                    <td class="tdtext-wrap" title="{{dateToString(cfsReceive.cfsReceiptDate)}}">{{dateToString(cfsReceive.cfsReceiptDate)}}</td>
                    <td class="tdtext-wrap" title="{{cfsReceive.cfsMaster.cfsName}}">{{cfsReceive.cfsMaster.cfsName}}</td>
                    <td class="text-right" title="{{integerFormat(cfsReceive.noOfPieces,shipmentServiceDetail.country.locale)}}">{{integerFormat(cfsReceive.noOfPieces,shipmentServiceDetail.country.locale)}}</td>
                    <td class="text-right" title="{{weightFormat(cfsReceive.grossWeight,shipmentServiceDetail.country.locale)}}">{{weightFormat(cfsReceive.grossWeight,shipmentServiceDetail.country.locale)}}</td>
                    <td class="text-right" title="{{weightFormat(cfsReceive.volumeWeight,shipmentServiceDetail.country.locale)}}">{{weightFormat(cfsReceive.volumeWeight,shipmentServiceDetail.country.locale)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
                            </div>
                            <empty-record 	ng-show="cfsReceiveEntryList==null || shipmentServiceDetail.cfsReceiveEntryList.length==0" 
											icon="connections" text="Looks like there are no cfs receive entry records here"></empty-record>
                            
                        </div>
                    </div>
            </div>
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


