<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width95per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Accounts</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">Close</button>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pt0" style="height:455px; overflow:auto;">
                <div class="container-fluid mt-15 bor-voilt-lr">
	<div class="row nomargin nopadding" ng-click="invoice=!invoice" ng-init="invoice=true">
	
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Invoice & Credit Note </h5>
			</div>
			<div>
			<i class="{{invoice==true?'icon-uparrow':'icon-downarrow'}}"></i>
		</div>
		</div>
	</div>
	<div ng-hide="!invoice" class="accordian-content padd10px">
		<div class="row nomargin">
			<div class="col-xs-5 pl0">
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSerivceSignOffStatus('INV')"><i class="icon-add opcfull"></i>  Add Invoice</button>
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSerivceSignOffStatus('CREDIT_NOTE_COST')"><i class="icon-add opcfull"></i>  Add Credit Note Cost</button>
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSerivceSignOffStatus('CREDIT_NOTE_REVENUE')"><i class="icon-add opcfull"></i>  Add Credit Note Revenue</button>
			</div>
			<div class="col-xs-7">
				<div classs="row">

					<label class="pull-left pr8 rel t-6">Filter By</label>

					<div class="col-xs-5">
						<button-group btn-index=""
									  states="btnGrp.TypeArr"
									  state="invoiceCreditNoteType"
									  on-state-change="filterInvoiceCreditNote(invoiceCreditNoteType)">
						</button-group>
					</div>
					<div class="col-xs-5">
                               <button-group btn-index=""
									  states="btnGrpFilter.TypeArr"
									  state="customerAgentType"
									  on-state-change="filterCustomerAgent(customerAgentType)">
						</button-group>
					</div>
				</div>
			</div>
			
		</div>
		<div class="table-responsive" ng-show="invoiceList.length>0">
			<table class="table table-hover mb-15">
				<thead>
				<tr>
					 <th rowspan="2" class="w40px ">#</th>
     <th rowspan="2" class="w60px ">Daybook</th>
     <th rowspan="2" class="w100px " style="white-space: normal">Document No</th>
     <th rowspan="2" class="w60px ">Document <br> Date</th>
     <th rowspan="2"class="w60px " >Due Date</th>
     <th rowspan="2" class="w75px " >Adjustment <br> Daybook</th>
     <th rowspan="2" class="w85px " >Adjusted <br>Document No</th>
     <th rowspan="2" class="w100px ">Customer/Agent</th>
     <th rowspan="2" class="w75px " >{{appMasterData['Party_Label']}} Name</th>
     <th rowspan="2" class="w75px ">{{appMasterData['Party_Label']}}<br> Account  No</th>
     <!-- <th rowspan="2" >Subledger</th> -->
     <th colspan="3" class="text-center">Billing</th>
     <!-- <th colspan="3" class="text-center">Local</th> -->
     <th rowspan="2" class="w60px ">More</th>
    </tr>
    <tr>
      <th class="w60px ">Currency</th>
      <th class="text-right w80px">Amount</th>
      <th class="text-right w80px">Balance <br>  Amount</th>
      
      <!-- <th>Currency</th>
      <th class="text-right" >Amount</th>
      <th class="text-right w60px" >Balance <br>  Amount</th> -->
					
				</tr>

				</thead>
				<tbody ng-repeat="invoice in invoiceList | filter:{customerAgent: customerAgent,invoiceStatus:invoiceCreditNoteStatus,documentTypeCode:documentTypeCode} | orderBy : '-id' track by $index">
				<tr>
					<td>{{$index+1}}</td>
					<td>{{invoice.daybookCode}}</td>
					<td>{{invoice.invoiceCreditNoteNo}}
					</td>
					<td>{{dateToString(invoice.invoiceCreditNoteDate)}}</td>
					<td>{{dateToString(invoice.dueDate)}}</td>
					<td style="width:130px !important;white-space: pre-wrap !important;">{{invoice.adjDaybookCode!=null?invoice.adjDaybookCode:'-'}}{{invoice.adjDaybookName!=null?'-'+invoice.adjDaybookName:''}}</td>
					<td>{{invoice.adjustmentInvoiceNo!=null?invoice.adjustmentInvoiceNo:'-'}}</td>
					<td>{{invoice.customerAgent}}</td>
					<td style="width:200px !important;white-space: pre-wrap !important;">{{invoice.partyName}}</td>
					<td>{{invoice.accountCode}}</td>
					<!-- <td>{{invoice.subledger}}</td> -->
					<td>{{invoice.currencyCode}}</td>
					<td class="text-right">
					 {{currencyFormatDecimalPoint(invoice.decimalPoint,invoice.locale,invoice.currencyAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormatDecimalPoint(invoice.decimalPoint,invoice.locale,invoice.outstandingAmount)}}
					</td>
					<!-- <td>{{invoice.locCurrencyCode}}</td>
					<td class="text-right">
					{{currencyFormatDecimalPoint(invoice.locCurDecimalPoint,invoice.locCurrLocale,invoice.localAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormatDecimalPoint(invoice.locCurDecimalPoint,invoice.locCurrLocale,invoice.outstandingAmount*invoice.roe)}}
					</td> -->
					<td><a href="javascript:void(0);" ng-click="$hide();getInvoiceCrnView(invoice)"><i class="icon-notes"></i></a> </td>
				</tr>
				</tbody>
			</table>
		</div>
		<efs-spinner spinner-status="invoiceSpinner"></efs-spinner>
		<empty-record ng-show="!invoiceList || invoiceList.length==0" icon="invoice" text="Looks like there are no invoice records here"></empty-record>
	</div>
	<div class="row nomargin" ng-click="provisional=!provisional" ng-init="provisional=true">
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Provisional Revenue/Cost</h5>
			</div>
			<div>
				<i class="{{provisional==true?'icon-uparrow':'icon-downarrow'}}"></i>
			</div>
		</div>
	</div>
	<div ng-hide="!provisional" class="accordian-content pl0 pr0 padd10px">
		<div class="container-fluid">

    <div class="row nomargin">
        <div class="col-xs-12 mb10">
            <button type="button" class="btn btn-property accent-btn" ng-click="provisionalObj.id==null?provisionalFromShipment(null):provisionalFromShipment(provisionalObj)"><span ng-class="provisionalObj.id==null?'icon-add':'icon-edit'"></span>{{provisionalObj.id!=null?'edit provision':'add Provision'}}</button>
        </div>
        <div class="col-xs-12">
            <div class="table-fixed table-responsive mb10" ng-show="provisionalObj.provisionalItemList.length>0">
                <table class="table table-inline mb10 ">
                    <thead>
                    <tr>
                        <th rowspan="2" class="inl_sno">#</th>
                        <th rowspan="2" class="inl_s">Service ID</th>
                        <!--<th rowspan="2" class="w150px">Charge</th>-->
                        <th rowspan="2" class="inl_m">Charge</th>
                        <th rowspan="2" class="inl_sm">Unit</th>
                        <th rowspan="2" class="text-right inl_s">No of Units</th>
                        <th colspan="6" class="text-center"><b>Sell</b></th>
                        <th colspan="6" class="text-center"><b>Buy</b></th>
                        <th rowspan="2" class="inl_xs"> More</th>
                    </tr>
                    <tr>
                        <th colspan="1" title="Currency" class="inl_s">Curr</th>
                        <th colspan="1" class="text-right w50px">ROE</th>
                        <th colspan="1" class="text-right inl_sm">Amt / Unit	</th>
                        <th colspan="1" class="text-right inl_sm">Amount</th>
                        <th colspan="1" class="text-right inl_sm">Amount ({{provisionalObj.localCurrency.currencyCode}})</th>
                        <th colspan="1" class="inl_s" >Taxable</th>
                        <th colspan="1" title="Currency" class="inl_s" >Curr</th>
                        <th colspan="1" class="text-right w50px">ROE</th>
                        <th colspan="1" class="text-right inl_sm">Amt / Unit</th>
                        <th colspan="1" class="text-right inl_sm">Amount</th>
                        <th colspan="1" class="text-right inl_sm">Amount ({{provisionalObj.localCurrency.currencyCode}})</th>
                        <th colspan="1" class="inl_sm">Plus / Minus</th>
                    </tr>
                    </thead>
                    <tbody>
                                <tr ng-repeat = "provisionalItem in provisionalObj.provisionalItemList track by $index">
                                    <td>{{$index+1}}</td>
                                  <td><a ng-click="provisionalItem.serviceUid!=null?goToShipmentService(provisionalObj.shipmentUid):goToConsol(provisionalObj.masterUid);$hide()"
						class="hyperLink mb0">
							{{provisionalItem.serviceUid!=null?provisionalItem.serviceUid:provisionalObj.masterUid}}</a>
					</td>
                                    <td>{{provisionalItem.chargeMaster.chargeName}}</td>
                                    <td >{{provisionalItem.unitMaster.unitCode}}</td>
                                    <td class="text-right" >{{weightFormat(provisionalItem.noOfUnits,provisionalItem.shipmentService.country.locale)}}</td>
                                    <td class="text-left" > {{provisionalItem.sellCurrency.currencyCode}} </td>
                                    <td class="text-right">{{currencyRoeFormat(provisional.localCurrency,provisionalItem.sellRoe)}}</td>
                                    <td class="text-right">{{currencyFormat(provisionalItem.sellCurrency,provisionalItem.sellAmountPerUnit)}}</td>
                                <td class="text-right">{{currencyFormat(provisionalItem.sellCurrency,provisionalItem.sellAmount)}}</td>
                                <td class="text-right">{{currencyFormat(provisionalObj.localCurrency,provisionalItem.sellLocalAmount)}}</td>
                                    <td class="text-center">{{provisionalItem.isTaxable==true || provisionalItem.isTaxable=='true'?'Yes':'No'}}</td>
                                    <td >{{provisionalItem.buyCurrency.currencyCode}}</td>
                                    <td class="text-right">{{currencyRoeFormat(provisional.localCurrency,provisionalItem.buyRoe)}}</td>
                                                <td class="text-right"> {{currencyFormat(provisionalItem.buyCurrency,provisionalItem.buyAmountPerUnit)}}</td>
                                <td class="text-right">{{currencyFormat(provisionalItem.buyCurrency,provisionalItem.buyAmount)}}</td>
                                <td class="text-right">{{currencyFormat(provisionalObj.localCurrency,provisionalItem.buyLocalAmount)}}</td>

                                    <td class="text-center">{{provisionalItem.plusMinus}}</td>
                                    <td class="text-center">
                                        <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="refmodel(provisionalItem)"></span>
                                    </td>

                            </tr>
                    </tbody>
                </table>
            </div>
            <efs-spinner spinner-status="provisionSpinner"></efs-spinner>
            <empty-record ng-show="!provisionalObj.provisionalItemList || provisionalObj.provisionalItemList.length==0" icon="provision" text="Looks Like there are no provision records here"></empty-record>
        </div>
    </div>
    <div class="row nomargin" ng-hide="!provisionalObj.provisionalItemList || provisionalObj.provisionalItemList.length==0">
        <div class="col-xs-3">
            <div class="sm-inline-box" >
                <div>Total Revenue</div>
                <div>{{currencyFormat(provisionalObj.localCurrency,provisionalObj.totalRevenue)}} <span>{{provisionalObj.localCurrency.currencyCode}}</span></div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="sm-inline-box" >
                <div>Total Cost</div>
                <div>{{currencyFormat(provisionalObj.localCurrency,provisionalObj.totalCost)}} <span>{{provisionalObj.localCurrency.currencyCode}}</span></div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="sm-inline-box">
                <div>Net</div>
                <div>{{currencyFormat(provisionalObj.localCurrency,provisionalObj.netAmount)}} <span>{{provisionalObj.localCurrency.currencyCode}}</span></div>
            </div>
        </div>
    </div>
</div>

	</div>
</div>

            </div>
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


