
<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" 
                            			tabindex="5" 
                            			class="btn btn-primary btn-xs btn-property cancel-btn" 
                            			ng-click="$hide()">Close</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body mb-10 nopadding" style="min-height: 300px">
                <div class="row nomargin overflow-hidden">
                    <div class="col-xs-6 ptb-15 bor-r-1 bor-fix">
                        <div class="row">
                            <div class="col-xs-12">  <span class="fs14-w300-cw">Origin Pick Up</span></div>
                        </div>

                        <div class="col-xs-6 pl0 mb10">
                            <span>From</span>
                            <h6>{{dateToString(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].pickUpFrom)}}</h6>

                        </div>
                        <div class="col-xs-6 pl0 mb10">
                            <span>Within</span>
                            <h6>{{dateToString(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].pickUpWithin)}}</h6>
                        </div>
                    </div>
                    <div class="col-xs-6 ptb-15 bor-fix">
                        <div class="row">
                            <div class="col-xs-12">  <span class="fs14-w300-cw">Final Delivery</span></div>
                        </div>

                        <div class="col-xs-6 pl0 mb10">
                            <span>From</span>
                            <h6>{{dateToString(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].deliveryFrom)}}</h6>
                        </div>
                        <div class="col-xs-6 pl0 mb10">
                            <span>Within</span>
                            <h6>{{dateToString(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].deliveryWithin)}}</h6>
                        </div>
                    </div>
                </div>

                <div class="row line nomargin">
                    <hr>
                </div>
                <div class="row nomargin">
                    <div class="col-xs-6 ptb-15  bor-fix">
                        <div class="row">
                            <div class="col-xs-6 mb10  ">
                                <span>QC Status</span>
                                <h6>{{ifDataElseHifen(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].qcStatus)}}</h6>
                            </div>
                           <div class="col-xs-6 pl0 mb10 ">
                            <span>Supplier Confirmation Date</span>
                            <h6>{{ifDataElseHifen(dateToString(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].supplierConfDate))}}</h6>
                        </div>

                        </div>
                    </div>

                </div>
                <div class="row line nomargin">
                    <hr>
                </div>
                <div class="row nomargin">
                    <div class="col-xs-3 ptb-15">
                        <span>Ref 1</span>
                        <h6>{{ifDataElseHifen(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].ref1)}}</h6>
                    </div>
                    <div class="col-xs-3 pl0 ptb-15">
                        <span>Ref 2</span>
                        <h6>{{ifDataElseHifen(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].ref2)}}</h6>
                    </div>
                    <div class="col-xs-3 ptb-15">
                        <span>Ref 3</span>
                        <h6>{{ifDataElseHifen(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].ref3)}}</h6>
                    </div>
                </div>
                <div class="row nomargin">

                    <div class="col-xs-3 ptb-15">
                        <span>Ref 4</span>
                        <h6>{{ifDataElseHifen(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].ref4)}}</h6>
                    </div>
                    <div class="col-xs-3 pl0 ptb-15">
                        <span>Ref 5</span>
						<h6>{{ifDataElseHifen(shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].ref5)}}</h6>
                    </div>
                </div>
                <div class="row line nomargin">
                    <hr>
                </div>
                <div class="row nomargin pb10">
                    <div class="col-xs-3 ptb-15">
                        <span>Currency</span>
                        <h6>{{shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].currencyMaster.currencyName}}</h6>
                    </div>
                    <div class="col-xs-3 pl0 ptb-15">
                        <span>Amount per Unit</span>
                        <h6>{{shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].amountPerUnit}}</h6>
                    </div>
                    <div class="col-xs-3 ptb-15" >
                        <span>Total Amount</span>
                        <h6>{{shipment.shipmentServiceList[poParentIndex].purchaseOrder.purchaseOrderItemList[poIndex].totalAmount}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>