<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog width85per">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Bill of Entry</h4>
						
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<li>
								<button type="button" class="btn cancel-btn"
									ng-click="hideBillOfEntryPopup()">cancel</button>
							</li>
							<li>
								<button type="button" class="btn accent-btn"
									ng-click="saveShipmentServiceBillOfEntry()">Save</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			  <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                       <div class="row nomargin pt15 shade3">
                        <div class="col-xs-12">
                            <boe-table
                                    index-key = "selectedShipmentServiceIndex"
                                    service-obj = "shipment.shipmentServiceList[selectedShipmentServiceIndex]"
                                    table-data="billOfEntryListData"
                                    table-check="shipment.shipmentServiceList[selectedShipmentServiceIndex].isBoeCheck"
                                    fn-role="roleAccess(param)">
                            </boe-table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
			<!--body ends-->

		</div>
		<!--panel end document-->
	</div>
</div>
<!--modal ends-->


