<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog width85per">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Purchase Order</h4>
						
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<li>
								<button type="button" class="btn cancel-btn"
									ng-click="hidePO(shipment.shipmentServiceList[selectedShipmentServiceIndex])">Close</button>
							</li>
							<li>
								<button ng-if="isPoView!='VIEW'" type="button" class="btn accent-btn"
									ng-click="savePurchaseOrder()">Save</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			  <div class="modal-body  pt0 modal-large">
			  <div class="row">
			  <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 plr0 mt10">
                                                                        <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2"  ng-if="isPoView!='VIEW'">
                                                                            <label>PO No.<span>*</span></label> 
                                                                            <input type="text" id="ponoid"
		                                                                            input-focus="true"
                                                                                    ng-model="shipment.shipmentServiceList[selectedShipmentServiceIndex].poNo"
                                                                                    class="form-control text-left">
                                                                            </div>
                                                                            <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2"  ng-show="isPoView=='VIEW' && shipment.shipmentServiceList[selectedShipmentServiceIndex].poNo">
                                                                            <label>PO No.</label><small> : {{shipment.shipmentServiceList[selectedShipmentServiceIndex].poNo}} </small>
                                                                            </div>
                                                                            <div class="col-xs-3 col-md-3 col-lg-3 col-sm-3 pl0">
                                                                                
                                                                                <button ng-if="isPoView!='VIEW'" type="button" class="btn accent-btn margintop22px  mr0" 
                                                                                ng-click="checkAndGetPurchaseOrder(shipment.shipmentServiceList[selectedShipmentServiceIndex].poNo,selectedShipmentServiceIndex)" tabindex="-1">fetch PoNo.	</button>
                                                                            </div>
                                                                        </div>
                                                                        </div>
              
                       <div class="row nomargin pt15 shade3">
                        <div class="col-xs-12 plr0">
                           <div class="table-responsive table-fixed" ng-if="shipment.shipmentServiceList[selectedShipmentServiceIndex].purchaseOrder.purchaseOrderItemList.length>0">
                                                    <table class="table table-inline">
                                                        <thead>
                                                            <tr>
                                                            <th rowspan="2" class="inl_sno">#</th>
                                                            <th rowspan="2" class="inl_s">Item No</th>
                                                            <th rowspan="2" class="inl_xl">Description</th>
                                                            <th rowspan="2" class="inl_m text-right">No of Pieces</th>
                                                            <th rowspan="2" class="inl_s">Pack Type</th>
                                                            <th rowspan="2" class="text-right inl_s">Pcs / Ctn</th>
                                                            <th colspan="3" class="text-center">Ordered</th>
                                                            <th rowspan="2" class="text-right  inl_s">Net Weight (KG)</th>
                                                            <th rowspan="2" class="inl_m">Action</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-right inl_s">Pieces</th>
                                                            <th class="text-right inl_s">Volume (CBM)</th>
                                                            <th class="text-right inl_s">Weight (KG)</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                     
                                                             <tr ng-repeat="purchaseOrderItem in shipment.shipmentServiceList[selectedShipmentServiceIndex].purchaseOrder.purchaseOrderItemList track by $index">
                                                                <td>{{$index+1}}</td>
                                                                <td>{{purchaseOrderItem.itemNo}}</td>
                                                                <td>{{purchaseOrderItem.description}}</td>
                                                                <td class="text-right">{{purchaseOrderItem.noOfPiece}}</td>
                                                                <td>{{ifDataElseHifen(purchaseOrderItem.packMaster.packName)}}</td>
                                                                <td class="text-right">{{purchaseOrderItem.pieceRCount}}</td>
                                                                <td class="text-right">{{purchaseOrderItem.orderPiece}}</td>
                                                                <td class="text-right">{{ifDataElseHifen(purchaseOrderItem.orderVolume)}}</td>
                                                                <td class="text-right">{{ifDataElseHifen(purchaseOrderItem.orderWeight)}}</td>
                                                                <td class="text-right">{{ifDataElseHifen(purchaseOrderItem.netWeight)}}</td>
                                                                <td>
                                                                    <button type="button" class="btn accent-btn" ng-click="moreinfoPopup(selectedShipmentServiceIndex,$index)">More Info</button>
                                                                </td>
                                                            </tr> 
                                                        </tbody>
                                                    </table>
                                                </div>
                                                 <empty-record 	
					 	ng-if="!shipment.shipmentServiceList[selectedShipmentServiceIndex].purchaseOrder.purchaseOrderItemList || shipment.shipmentServiceList[selectedShipmentServiceIndex].purchaseOrder.purchaseOrderItemList.length==0" 
											icon="chat" text="Looks like there are no purchase order records here"></empty-record>
                        </div>
                    </div>
                   
            </div>
			<!--body ends-->

		</div>
		<!--panel end document-->
	</div>
</div>
