
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog width85per">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Bill of Entry</h4>
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<li>
								<button type="button" class="btn cancel-btn"
									ng-click="$hide()">close</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pb-25 pt0"
				style="height: 367px; overflow: auto;">
				<div class="row mt-15" ng-hide="!shipment.shipmentServiceList[selectedShipmentServiceIndex].billOfEntryList || shipment.shipmentServiceList[selectedShipmentServiceIndex].billOfEntryList.length==0">
					<div class="col-xs-12 plr0">
						<div class="table-responsive">
							<table class="table table-inline-nopad mb-10" 
								watch-data="tableData" tab-nav tab-row="addNewParty()">
								<thead class="borderthead">
									<tr>
										<th rowspan="2" class="inl_sno">#</th>
										<th rowspan="2" class="inl_m">Bill of Entry<span
											class="reqColor">*</span></th>
										<th rowspan="2" class="inl_m">Declaration No</th>
										<th colspan="3" class="inl_sno text-center">Bill of Entry</th>
										<th rowspan="2" class="inl_sm">Transaction Type</th>
										<th rowspan="2" class="inl_mp text-right">Amount</th>
										<th colspan="2" class="inl_s text-center">Exit/Entry
											Document</th>
										<th colspan="2" class="inl_s text-center">Claim</th>
										<th rowspan="2" class="inl_xs"></th>
									</tr>
									<tr>

										<th class="inl_m">Date</th>
										<th class="inl_mp text-right">Value</th>
										<th class="inl_mp">Invoice No</th>

										<th class="inl_m">Process Date</th>
										<th class="inl_m">Received Date</th>
										<th class="inl_m">Ack. No</th>
										<th class="inl_m">Ack. Date</th>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="boe in shipment.shipmentServiceList[selectedShipmentServiceIndex].billOfEntryList track by $index">
										<td>{{$index + 1}}</td>
										<td>{{boe.billOfEntry}}</td>
										<td>{{boe.decleartionNo}}</td>
										<td>{{dateToString(boe.boeDate)}}</td>
										<td class=" text-right">{{weightFormat(boe.boeValue,shipment.shipmentServiceList[selectedShipmentServiceIndex].country.locale)}}</td>
										<td>{{boe.boeInvoiceNo}}</td>
										<td >{{boe.transactionType}}</td>
										<td class="text-right">{{currencyFormat(shipment.shipmentServiceList[selectedShipmentServiceIndex].location.currencyMaster,boe.amount)}}</td>
										<td>{{dateToString(boe.processDate)}}</td>
										<td>{{dateToString(boe.receivedDate)}}</td>
										<td>{{boe.ackNo}}</td>
										<td>{{dateToString(boe.ackDate)}}</td>
										<td>
										<a href="javascript:void(0);"
													class="cur-pointer cursorPt" data-placement="bottom"
													bs-tooltip="" ng-click="addnoteboemodel()"> <i class="fa fa-info delicon"
														></i>
												</a>
												</td>
									</tr>
								</tbody>

							</table>
						</div>
					</div>
				</div>
				<div class="col-xs-12" ng-show="!shipment.shipmentServiceList[selectedShipmentServiceIndex].billOfEntryList || shipment.shipmentServiceList[selectedShipmentServiceIndex].billOfEntryList.length==0">
					<empty-record icon="reference" text="Looks like there are no bill of entry records here"></empty-record>
				</div>
			</div>
			<!--body ends-->





		</div>
		<!--panel end document-->
	</div>
</div>
<!--modal ends-->


