<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                       <h4>Trigger Update </h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="msg_body">
				<div class="col-md-12">
					<div class="row nomargin" ng-repeat = "statusUpdateObj in shipment.shipmentServiceList[selectedShipmentServiceIndex].shipmentServiceTriggerList track by $index">
						<div class="col-md-1" ng-show="statusUpdateObj.id == null || statusUpdateObj.serviceUid == shipment.shipmentServiceList[selectedShipmentServiceIndex].serviceUid">
							<!-- <span class="chat-time"> 11.00 AM</span> -->
						</div>
						<div class="col-md-11 col-lg-11">
							<div  ng-class="statusUpdateObj.id == null || statusUpdateObj.serviceUid == shipment.shipmentServiceList[selectedShipmentServiceIndex].serviceUid ?'msg_a':'msg_b'">
										<span class="col-md-4 col-lg-2 col-sm-4 col-xs-4  pr0">({{dateToString(statusUpdateObj.date)}}) {{statusUpdateObj.dateTimeZone}}</span>
										<span class="col-md-4 col-lg-2 col-sm-4 col-xs-4">{{statusUpdateObj.id!=null?statusUpdateObj.systemTrack.lastUpdatedUser:userProfile.employee.employeeName}} ({{statusUpdateObj.locationName}})</span>
										<span class="col-md-4 col-lg-2 col-sm-4 col-xs-4">{{statusUpdateObj.triggerTypeMaster.triggerTypeName}}</span>
										<span class="col-md-8 col-lg-4  col-sm-8 col-xs-8 margintL5 margint5">{{statusUpdateObj.note}}</span>
										<span class="col-md-2 col-lg-2  col-sm-2 col-xs-4 margintL5 margint5">{{dateToString(statusUpdateObj.followUpDate)}}</span>
										
							</div>
						</div>
						<div class="col-md-1" ng-show="!(statusUpdateObj.id == null || statusUpdateObj.serviceUid == shipment.shipmentServiceList[selectedShipmentServiceIndex].serviceUid)">
							<!-- <span class="chat-time"> 10.00 AM</span> -->
						</div>
					</div>
					
					 <empty-record 	
					 	ng-show="!shipment.shipmentServiceList[selectedShipmentServiceIndex].shipmentServiceTriggerList || shipment.shipmentServiceList[selectedShipmentServiceIndex].shipmentServiceTriggerList.length==0" 
											icon="chat" text="Looks like there are no trigger records here"></empty-record>
				</div>
			</div>
            
<!--             <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
						<div class="row nomargin pt-15 noborder shade3">
							<table class="table table-inline">
								<thead>
									<tr>
										<th class="inl_sno">#</th>
										<th class="inl_s">Date</th>
										<th class="inl_m">Trigger Type</th>
										<th class="inl_m">Trigger</th>
										<th class="inl_m">Note</th>
										<th class="inl_s">Follow up Date</th>
										<th class="inl_s">Follow up Completed</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="shipmentServiceTrigger in shipment.shipmentServiceList[selectedShipmentServiceIndex].shipmentServiceTriggerList track by $index">
										<td>{{$index + 1}}</td>
										<td>{{dateToString(shipmentServiceTrigger.date)}}</td>
										<td>{{shipmentServiceTrigger.triggerTypeMaster.triggerTypeName}}</td>
										<td>{{shipmentServiceTrigger.triggerMaster.triggerName}}</td>
										<td>{{shipmentServiceTrigger.note}}</td>
										<td>{{dateToString(shipmentServiceTrigger.followUpDate)}}</td>
										<td>{{shipmentServiceTrigger.completed==true?'Yes':'No'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
                </div>

				<div class="col-xs-12" ng-show="!shipment.shipmentServiceList[selectedShipmentServiceIndex].shipmentServiceTriggerList || shipment.shipmentServiceList[selectedShipmentServiceIndex].shipmentServiceTriggerList.length==0">
					<empty-record
						ng-show="!shipment.shipmentServiceList[selectedShipmentServiceIndex].shipmentServiceTriggerList || shipment.shipmentServiceList[selectedShipmentServiceIndex].shipmentServiceTriggerList.length==0"
						icon="status" text="Looks like there are no records here"></empty-record>

				</div>
			</div> --><!--body ends-->
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


