<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Note</h4>
						
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
						 <li>
								<button type="button" class="btn cancel-btn"
									ng-click="$hide()">cancel </button>
							</li> 
							<li>
								<button type="button" class="btn btn-primary btn-xs btn-property accent-btn"
									ng-click="$hide()">save</button>
							</li> 
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pt0 elastic-ht">
				<div class="row mt-15 nomargin">
					<div class="col-xs-12 pl0 pr0">
				 <textarea  class="form-control txtarea130 txtresize" input-focus="true"
                                                                maxlength="4000"
                                                                ng-model="noteObject.note"
                                                                >
                                                         </textarea>


					</div>
				</div>
			</div>
			<!--body ends-->




		</div>
		<!--panel end document-->
	</div>
</div>
<!--modal ends-->









