<div class="modal" role="dialog" id="statusNote" ng-init="moreAddressTab='group'">
  <div class="modal-dialog width60per">
    <div class="modal-content">
      <div class="modal-header nopadding">
        <div class="row plr14px">
          <div class="col-xs-6">
            <h4>Add Group</h4>
          </div>
          <div class="col-xs-6 mt-7">
            <ul class="list-inline pull-right">
              <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="cancelGroupModal()">Cancel</button> </li>
              <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveOrUpdateGroup()">Save</button> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-body minH-180" style="height: 450px;overflow: auto;">
        <div>
          <div class="row">
            <ul class="nav nav-tabs bor-t1" >
              <li>
                <button class="btn" tabIndex="-1"  ng-class="moreAddressTab=='group'?'normal':'default'" ng-click="moreAddressTab='group'">Group</button>
              </li>
              <li>
                <button class="btn" tabIndex="-1" ng-class="moreAddressTab=='subgroup'?'normal':'default'" ng-click="moreAddressTab='subgroup'">Sub Group</button>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="tab-content shade3 pb0" set-tab-height>
                <div ng-show="moreAddressTab=='group'" >
                  <div class="col-xs-12 nopadding mt10">
                    <div class="table-responsive">
                      <table class="table table-inline-nopad">
                        <thead>
                          <tr>
                            <th class="inl_sno">#</th>
                            <th class="inl_l">GL Head Name</th>
                            <th class="inl_l">Group Name</th>
                            <th class="inl_sm">Group Code</th>
                            <th class="inl_sm">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="groupMaster in groupMasterList track by $index">
                            <td>{{$index+1}}</td>
                            <td>
                              <div class="select-auto">
                                <div class="row">
                                  <div class="col-md-12 col-xs-12">
                                    <div class="select-auto mb-5">
                                      <div class="select-auto">
                                           <select class="form-control" id="glheadName{{$index}}"
                                            ng-options="item for item in enum['GlHead']"
                                            ng-model="groupMaster.glHead" required>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                            <input type="text" class="form-control"
                            ng-model="groupMaster.groupCode" id="groupCode{{$index}}"
                            ></td>
                            <td>
                               <input type="text" class="form-control"
                            ng-model="groupMaster.groupName" id="groupName{{$index}}"
                            >
                            </td>
                            <td><a href="javascript:void(0);" ng-click="addGroupRow($index)" style="margin-right: 5px;"><i
                              class="fa fa-plus" aria-hidden="true"></i></a> 
                              <a href="javascript:void(0);" ng-click="deleteGroupRow($index)"><i
                              class="fa fa-trash" aria-hidden="true"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--Group tab ends-->                                                    
                <div ng-show="moreAddressTab=='subgroup'" >
                  <div class="col-xs-12 nopadding mt10">
                    <div class="table-responsive">
                      <table class="table table-inline-nopad">
                        <thead>
                          <tr>
                            <th class="inl_sno">#</th>
                            <th class="inl_l">GL Head Name</th>
                            <th class="inl_l">Group Name</th>
                            <th class="inl_l">Sub Group Name</th>
                            <th class="inl_sm">Sub Group Code</th>
                            <th class="inl_sm">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="subGroupMaster in subGroupMasterList track by $index">
                            <td>{{$index+1}}</td>
                            <td>
                              <div class="select-auto">
                                <div class="row">
                                  <div class="col-md-12 col-xs-12">
                                    <div class="select-auto mb-5">
                                       <div class="select-auto">
                                           <select class="form-control" id="glheadName{{$index}}"
                                            ng-options="item for item in enum['GlHead']"
                                            ng-model="subGroupMaster.glHead" required>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="select-auto">
                                  <input type="text" class="form-control" id="group{{$index}}"
               input-focus="{{errorMap.get('group.'+$index)!=null}}"
               autocomplete="off" tabindex="-1"
               ng-class="{'error-control':errorMap.get('group.'+$index)!=null}"
               ng-model="subGroupMaster.groupMaster"
               uib-typeahead="lovObject as lovObject.groupName for lovObject in $AutoCompleteService.getGroupList(subGroupMaster.glHead,$viewValue)"
               typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
               typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
               typeahead-on-select="selectedGroup();"
               typeahead-focus-on-select="false" typeahead-focus-first="true"
               typeahead-editable="false" typeahead-min-length="1"
               typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
                              </div>
                            </td>
                            <td><input type="text" class="form-control"
                             ng-model="subGroupMaster.subGroupCode" id="subGroupCode{{$index}}"
                            ></td>
                            <td>
                              <input type="text" class="form-control"
                              ng-model="subGroupMaster.subGroupName" 
                               id="subGroupName{{$index}}">
                            </td>
                            <td>
                            <a href="javascript:void(0);" ng-click="addSubGroupRow($index)" style="margin-right: 5px;"><i
                              class="fa fa-plus" aria-hidden="true"></i></a>
                               <a href="javascript:void(0);"><i
                              class="fa fa-trash" ng-click="deleteSubGroup($index)" aria-hidden="true"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--Dimension tab ends-->
              </div>
              <!--Tab Content ends-->
            </div>
          </div>
          <!--TAB CONTENET ENDS-->
        </div>
      </div>
    </div>
  </div>
</div>