 <div class="modal" role="dialog" id="statusNote">
        <div class="modal-dialog width60per">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Bank Details</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                                <!-- <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveForHold(popUpNote)">Save</button> </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">
       
                                        <div class="row">
                                            <div class="col-xs-4">
                                            
                                               <span>Account No</span>                                               
										       <h6>21445787899</h6>
                                          
                                            </div>
                                            
                                               <div class="col-xs-4">
                                                <span>Bank Name</span>
                                                 <h6>OBC Bank</h6>
                                                
                                            </div>
                                            
                                            <div class="col-xs-4">
                                               <span>Branch Name</span>
                                                 <h6>T.nagar</h6>
                                                
                                            </div>
                                        </div>
                                        
                                        
                                      <div class="row">
                                      <hr> </div>   
                                        
                                        
                                    <div class="row ">
                                            <div class="col-xs-4">
                                            
                                                <span>IFSC Code</span>
                                                <h6>ORBC01100928</h6>
                                         
                                            </div>
                                            
                                               <div class="col-xs-4">
                                                  
                                             <span>Multiple Credit</span>
                                       <h6>No</h6>
                                                
                                            </div>
                                            
                                            <div class="col-xs-4">
                                                <span>IBAN No</span>
                                                 <h6>-</h6>
                                                
                                            </div>
                                        </div> 
                                        
                                      
                                         <div class="row">
                                      <hr> </div>    
                                        
                                        
          <div class="row">
                                            <div class="col-xs-4">
                                            
                                                <span>Bank Address</span>
                                                <h6>No - 22, VOC Street </h6>
                                        
                                            </div>
                                            
                                               <div class="col-xs-4">
                                                 <label></label>
                                                <h6>T.nagar, Chennai</h6>
                                                
                                            </div>
                                            
                                            <div class="col-xs-4">
                                                 <label></label>
                                                <h6>Tamilnadu, 600017.</h6>
                                                
                                            </div>
                                        </div> 
                                        
                                        
                                        
                                        
                                        
                                                                                 <div class="row">
                                      <hr> </div>    
                                        
                                        
          <div class="row">
                                            <div class="col-xs-4">
                                            
                                                <span>Swift Address</span>
                                                 <h6>No - 15, Sivaji Street </h6>
                                       
                                            </div>
                                            
                                               <div class="col-xs-4">
                                                <label></label>
                                                <h6>T.nagar, Chennai</h6>
                                                
                                            </div>
                                            
                                            <div class="col-xs-4">
                                                <label></label>
                                                 <h6>Tamilnadu, 600017.</h6>
                                                
                                            </div>
                                        </div>                               

                </div>
            </div>
        </div>
    </div>