 <div class="modal" role="dialog" id="statusNote">
        <div class="modal-dialog width60per">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Bank Details</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveForHold(popUpNote)">Save</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">
       
                                        <div class="row">
                                            <div class="col-xs-4">
                                            
                                                <label>Account No</label>
                                                <input type="text"  class="form-control ">
                                          
                                            </div>
                                            
                                               <div class="col-xs-4">
                                                <label>Bank Name</label>
                                                <input type="text"  class="form-control ">
                                                
                                            </div>
                                            
                                            <div class="col-xs-4">
                                                <label>Branch Name</label>
                                                <input type="text" class="form-control">
                                                
                                            </div>
                                        </div>
                                        
                                        
                                      <div class="row">
                                      <hr> </div>   
                                        
                                        
                                    <div class="row ">
                                            <div class="col-xs-4">
                                            
                                                <label>IFSC Code</label>
                                                <input type="text"  class="form-control ">
                                         
                                            </div>
                                            
                                               <div class="col-xs-4">
                                                  
                                             <label>Multiple Credit</label>
                                                <ul class="list-inline">
                                                    <li ng-class="{'opc-5':enquiryDetail.didimensionUnit}">No</li>
                                                    <li class="v-align-top">
                                                        <switch  tabindex="-1"
                                                                ng-keypress="keypressSwitch($event,2,enquiryDetail)"
                                                                id="{{'dimension'+$index}}"
                                                                ng-change="changeDimension(enquiryDetail)"
                                                                ng-model="enquiryDetail.dimensionUnit"
                                                                class="green"
                                                                >
                                                        </switch>
                                                    </li>
                                                    <li ng-class="{'opc-5':!enquiryDetail.dimensionUnit}">Yes</li>
                                                </ul>
                                                
                                            </div>
                                            
                                            <div class="col-xs-4">
                                                <label>IBAN No</label>
                                                <input type="text" class="form-control">
                                                
                                            </div>
                                        </div>
                                       
                                         <div class="row">
                                         <hr></div>    
                                        
                                        
                                         <div class="row">
                                            <div class="col-xs-4">
                                            
                                                <label>Bank Address</label>
                                                <input type="text"  class="form-control ">
                                        
                                            </div>
                                            
                                               <div class="col-xs-4">
                                                 <label></label>
                                                <input type="text" class="form-control ">
                                                
                                            </div>
                                            
                                            <div class="col-xs-4">
                                                 <label></label>
                                                <input type="text" class="form-control">
                                                
                                            </div>
                                        </div> 
                                  
                                        
                                     <div class="row">
                                      <hr></div>    
                                        
                                        
                                            <div class="row">
                                            <div class="col-xs-4">                                            
                                                <label>Swift Address</label>
                                                <input type="text"  class="form-control ">
                                       
                                            </div>
                                            
                                               <div class="col-xs-4">
                                                <label></label>
                                                <input type="text" class="form-control ">
                                                
                                            </div>
                                            
                                            <div class="col-xs-4">
                                                <label></label>
                                                <input type="text" class="form-control">
                                                
                                            </div>
                                        </div>                               
                                        
                                        
                                        
                                                                   
                                   
          
                
       <!--          
                   <div class="row">
                       
                       <div class="col-xs-12">
                           <div class="form-group">
                             
                               <textarea class="form-control minH-180" id="reasonfornote" 
                                         ng-model="popUpNote"
                                         maxlength="255"
                                         ng-class="{'error-control':secondArr[$index].note}"
                                         ng-focus="dirtyIndex($index)" ng-disabled="statusUpdateObj.id!=null" >
                </textarea>
                           </div>
                       </div>
                   </div> -->
                </div>
            </div>
        </div>
    </div>