<div class="container-fluid resPortLandPage resPortAddPage" ng-controller="glCtrls">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>Add General Ledger</h4>
                    </div>
                    <div>
                        <button class="btn btn-property cancel-btn" ng-click="cancel()">cancel</button>
                        <button class="btn btn-property accent-btn">save</button>
                    </div>
                </div>
                <div class="panel-body edit-body pt0" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <form role="form">
                        <div class="row blue-shade">
                            <div class="col-xs-6">
                                <div show-response></div>
                                <div success-response></div>
                                <span class="reqColor nomargin">*</span> <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
                            </div>


                            <div class="col-xs-6">
                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn pull-right mt-6" ng-click="bankgroupmodel()"> <i class="icon-add"></i> Add Group & Sub Group </a>
                            </div>


                        </div>

                        <div class="row blue-shade pb10">
                            <div class="col-xs-12">
                                <div class="row">


                                    <div class="col-xs-3">
                                        <div class="form-group mb-5">
                                            <label>GL Head<span>*</span></label>
                                            <div class="select-auto">
                                                <input type="text" auto-complete ng-model="" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-3">
                                        <div class="row">
                                            <div class="col-md-10 col-xs-10">
                                                <div class="select-auto mb-5">
                                                    <label>Group Name<span>*</span></label>
                                                    <div class="select-auto">
                                                        <input type="text" auto-complete ng-model="" class="form-control" />
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-2 col-xs-2 margintop22px paddingl2px">
                                                <input type="text" ng-disabled="true" class="form-control" style="margin-left:-15px !important;" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-xs-3">
                                        <div>
                                            <div class="col-md-10 col-xs-10 ">
                                                <div class="select-auto mb-5">
                                                    <label>Sub Group Name<span>*</span></label>
                                                    <div class="select-auto">
                                                        <input type="text" auto-complete ng-model="" class="form-control" />
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-2 col-xs-2 margintop22px paddingl2px">

                                                <input type="text" ng-disabled="true" class="form-control" style="margin-left:-15px !important;" />

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>



                        <div class="row">
                            <hr class="mt0">
                        </div>



                        <div class="col-xs-12 nopadding" style="height:200px;overflow-x:hidden;overflow-y:auto;">
                            <div class="table-responsive">
                                <table class="table table-inline-nopad">
                                    <thead>
                                        <tr>
                                            <th class="inl_sno">#</th>
                                            <th class="inl_l">GL Account Name<span class="reqColor">*</span></th>
                                            <th class="inl_m">GL Account Code</th>
                                            <th class="inl_xl">Account Name<span class="reqColor">*</span></th>
                                            <th class="inl_l">Account Code</th>
                                            <th class="inl_m">Subledger Account<span class="reqColor">*</span></th>
                                            <th class="inl_m">Subledger Code<span class="reqColor">*</span></th>
                                            <th class="inl_m">Job Account<span class="reqColor">*</span></th>
                                            <th class="inl_m">Bank Account</th>
                                            <th class="inl_m">Action</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <div class="select-auto">
                                                    <input type="text" auto-complete ng-model="" class="form-control" />
                                                </div>
                                            </td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>
                                                <div class="select-auto">
                                                    <input type="text" auto-complete ng-model="" class="form-control" />
                                                </div>
                                            </td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li ng-class="{'opc-5':!subledgerAccount}">No</li>
                                                    <li class="v-align-top">
                                                        <switch tabIndex="0" id="{{'shipment.serviceDetail.hazardous.'+$index}}" ng-model="subledgerAccount" class="green">
                                                        </switch>
                                                    </li>
                                                    <li ng-class="{'opc-5':subledgerAccount}">Yes</li>
                                                </ul>
                                            </td>
                                            <td></td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li ng-class="{'opc-5':shipmentServiceDetail.hazardous}">No</li>
                                                    <li class="v-align-top">
                                                        <switch tabIndex="0" id="{{'shipment.serviceDetail.hazardous.'+$index}}" ng-model="shipmentServiceDetail.hazardous" class="green">
                                                        </switch>
                                                    </li>
                                                    <li ng-class="{'opc-5':!shipmentServiceDetail.hazardous}">Yes</li>
                                                </ul>
                                            </td>
                                            <td></td>
                                            <td><a href="#" style="margin-right: 5px;"><i
													class="fa fa-plus" aria-hidden="true"></i></a> <a href="#"><i
													class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                   

                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <div class="select-auto">
                                                    <input type="text" auto-complete ng-model="" class="form-control" />
                                                </div>
                                            </td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>

                                                <div class="select-auto">
                                                    <input type="text" auto-complete ng-model="" class="form-control" />
                                                </div>

                                            </td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>

                                                <ul class="list-inline">
                                                    <li ng-class="{'opc-5':shipmentServiceDetail.hazardous}">No</li>
                                                    <li class="v-align-top">
                                                        <switch tabIndex="0" id="{{'shipment.serviceDetail.hazardous.'+$index}}" ng-model="shipmentServiceDetail.hazardous" class="green">
                                                        </switch>
                                                    </li>
                                                    <li ng-class="{'opc-5':!shipmentServiceDetail.hazardous}">Yes</li>
                                                </ul>

                                            </td>

                                            <td></td>

                                            <td>
                                                <ul class="list-inline">
                                                    <li ng-class="{'opc-5':shipmentServiceDetail.hazardous}">No</li>
                                                    <li class="v-align-top">
                                                        <switch tabIndex="0" id="{{'shipment.serviceDetail.hazardous.'+$index}}" ng-model="shipmentServiceDetail.hazardous" class="green">
                                                        </switch>
                                                    </li>
                                                    <li ng-class="{'opc-5':!shipmentServiceDetail.hazardous}">Yes</li>
                                                </ul>

                                            </td>

                                            <td>

                                                <ul class="list-inline">
                                                    <li ng-class="{'opc-5':shipmentServiceDetail.hazardous}">No</li>
                                                    <li class="v-align-top">
                                                        <switch tabIndex="0" id="{{'shipment.serviceDetail.hazardous.'+$index}}" ng-model="shipmentServiceDetail.hazardous" class="green">
                                                        </switch>
                                                    </li>
                                                    <li ng-class="{'opc-5':!shipmentServiceDetail.hazardous}">Yes</li>
                                                </ul>

                                            </td>

                                            <td><a href="#" style="margin-right: 5px;"><i
													class="fa fa-plus" aria-hidden="true"></i></a> <a href="#"><i
													class="fa fa-trash" aria-hidden="true"></i></a></td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="row" style="clear: both;">
                            <hr>
                        </div>



                        <div class="col-xs-9 nopadding" style="height:150px;overflow-x:hidden;overflow-y:auto;">
                            <div class="table-responsive">
                                <table class="table table-inline-nopad">
                                    <thead>
                                        <tr>
                                            <th class="inl_sno">#</th>
                                            <th class="inl_xxl">Subledger Name<span class="reqColor">*</span></th>
                                            <th class="inl_m">Subledger Code</th>
                                            <th class="inl_m">Bank Deatls</th>
                                            <th class="inl_sm">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <div class="select-auto">
                                                    <div class="row">
                                                        <div class="col-md-11 col-xs-11">
                                                            <div class="select-auto">
                                                                <input type="text" auto-complete ng-model="" class="form-control" />
                                                            </div>

                                                        </div>


                                                        <div class="col-md-1 col-xs-2 ">
                                                            <button type="button" class="btn btn-default btn-xs paddingtrbl mr0 pull-right" ng-click="bankstandingmodel()" style="margin-right: 20px !important;" tabindex="-1"><i class="fa fa-sticky-note" aria-hidden="true"></i></button>

                                                        </div>



                                                    </div>
                                                </div>
                                            </td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>

                                                <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="bankeditmodel()">
	
													<i class="icon-add opcfull"></i>Bank Details
												</button>

                                            </td>

                                            <td><a href="#" style="margin-right: 5px;"><i
													class="fa fa-plus" aria-hidden="true"></i></a> <a href="#"><i
													class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>




                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <div class="select-auto">
                                                    <div class="row">
                                                        <div class="col-md-11 col-xs-11">
                                                            <div class="select-auto">
                                                                <input type="text" auto-complete ng-model="" class="form-control" />
                                                            </div>

                                                        </div>
                                                        <div class="col-md-1 col-xs-2 ">
                                                            <button type="button" class="btn btn-default btn-xs paddingtrbl mr0 
						pull-right" ng-click="flightmodel(shipmentServiceDetail)" tabindex="-1" style="margin-right: 20px !important;">
																<i class="fa fa-sticky-note" aria-hidden="true"></i>
															</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>

                                                <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="bankeditmodel()">
	
													<i class="icon-add opcfull"></i>Bank Details
												</button>

                                            </td>

                                            <td><a href="#" style="margin-right: 5px;"><i
													class="fa fa-plus" aria-hidden="true"></i></a> <a href="#"><i
													class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>





                                    </tbody>
                                </table>
                            </div>
                        </div>





                        <!-- <div class="row">
                            <div class="col-xs-12 nopadding">
                                <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='subledger'">
                                    <li data-menu-item="charge">
                                        <button type="button" class="btn" ng-class="Tabs=='subledger'?'active':'btn-normal'" ng-click="Tabs='subledger'">Subledger Mapping</button>
                                    </li>
                                    <li data-menu-item="notes">
                                        <button type="button" class="btn" ng-class="Tabs=='bankDetails'?'active':'btn-normal'" ng-click="Tabs='bankDetails'">Bank Details</button>
                                    </li>
                                </ul>TAB MENUS ENDS
                                <div class="tab-content " >
                                    <div class="row nomargin">
                                        <div class="col-xs-12 ">
                                            <div ng-show="Tabs=='subledger'">
                                                <div class="row mt-15" >
                                                    <div class="col-xs-12 nopadding mb-15">
                                                        <button type="button" class="btn btn-property accent-btn"><span class="icon-add"></span>add service mapping</button>
                                                    </div>
                                                    <div class="col-xs-12 nopadding">
                                                        <div class="table-responsive">
                                                            <table  class="table table-inline-nopad">
                                                                <thead>
                                                                <tr>
                                                                    <th class="inl_sno">#</th>
                                                                    <th class="inl_l">Location</th>
                                                                    <th class="inl_l">Subledger Code</th>
                                                                    <th class="inl_l">Subledger Name</th>
                                                                    <th class="inl_l">Account Type</th>
                                                                    <th class="inl_l">Status</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>
                                                                        <div class="select-auto">
                                                                            <input type="text"  auto-complete ng-model="" class="form-control"/>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="select-auto">
                                                                            <input type="text"  auto-complete ng-model="" class="form-control"/>
                                                                        </div>
                                                                    </td>
                                                                    <td>

                                                                        <input type="text" class="form-control">

                                                                    </td>
                                                                    <td>
                                                                        <div class="select-auto">
                                                                            <input type="text"  auto-complete ng-model="" class="form-control"/>
                                                                        </div>
                                                                    </td>
                                                                    <td>

                                                                        <select class="form-control">
                                                                            <option></option>
                                                                        </select>

                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>charge TAB ENDS

                                            <div ng-show="Tabs=='bankDetails'">
                                                <div class="row shade1 pt5">
                                                    <div class="col-xs-7">
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Bank Account No</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <label>Bank Name</label>
                                                                <div class="select-auto">
                                                                    <input type="text"  auto-complete ng-model="" class="form-control"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Multiple Credit</label>
                                                                    <ul class="list-inline">
                                                                        <li ng-class="{'opc-5':credit}">Yes</li>
                                                                        <li class="v-align-top">
                                                                            <switch tabindex="" id="enabled" name="enabled" ng-model="credit" class="green"></switch>
                                                                        </li>
                                                                        <li ng-class="{'opc-5':!credit}">No</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <label>Overdraft Amount</label>
                                                                <input type="text" class="form-control text-right">
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <label>Temp. Overdraft Amount</label>
                                                                <input type="text" class="form-control text-right">
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-xs-4">
                                                                <label>Guarantee Limit</label>
                                                                <input type="text" class="form-control text-right">
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <label>Interest Limit</label>
                                                                <input type="text" class="form-control text-right">
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <label>Overdraft Limit Warning</label>
                                                                <ul class="list-inline">
                                                                    <li ng-class="{'opc-5':Overdraft}">Yes</li>
                                                                    <li class="v-align-top">
                                                                        <switch tabindex="" id="enabled" name="enabled" ng-model="Overdraft" class="green"></switch>
                                                                    </li>
                                                                    <li ng-class="{'opc-5':!Overdraft}">No</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group">
                                                                    <label>Branch Name</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group">
                                                                    <label>City</label>
                                                                    <div class="select-auto">
                                                                        <input type="text"  auto-complete ng-model="" class="form-control"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Notes</label>
                                                                    <textarea
                                                                            msd-elastic
                                                                            class="form-control "
                                                                            rows="3"
                                                                            id="Notes" name="Notes"  ng-change=""
                                                                            ng-model="gl.Notes">
                                                                    </textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-xs-12 nopadding mt10">
                                                        <div ng-click="otherInfo=!otherInfo" ng-init="otherInfo=true" class=" mb0 cursorPt flex align-justify align-middle title">
                                                            <div>
                                                                <h5 class="">More Info</h5>
                                                            </div>
                                                            <div>
                                                                <i class="{{otherInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
                                                            </div>

                                                        </div>
                                                        <div class=" fx-fade-normal fx-ease-sine pt5  bor-btm-1" ng-hide="!otherInfo">
                                                            <div class="row nomargin nopadding ">
                                                                <div class="col-xs-7">
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <div class="form-group">
                                                                                <label>Bank Address</label>
                                                                                 <textarea style="height: 69px; resize: none"
                                                                                           msd-elastic
                                                                                           class="form-control  resizeNone"
                                                                                           rows="7"
                                                                                           id="Bank" name="Bank"  ng-change=""
                                                                                           ng-model="gl.BankAddress">
                                                                                </textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <div class="form-group">
                                                                                <label>Swift Address</label>
                                                                                <textarea style="height: 69px; resize: none"
                                                                                          msd-elastic
                                                                                          class="form-control  resizeNone"
                                                                                          rows="7"
                                                                                          id="Swift" name="Swift"  ng-change=""
                                                                                          ng-model="gl.SwiftAddress">
                                                                                </textarea>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-5">
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <label>IBAN No</label>
                                                                            <input type="text" class="form-control">
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <label>VAT Id</label>
                                                                            <input type="text" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>notes TAB ENDS
                                        </div>
                                    </div>
                                </div>TAB CONTENT TAB ENDS
                            </div>Col ends
                        </div>row ends -->
                    </form>
                </div>
            </div>
            <!--panel ends-->
        </div>
    </div>
</div>