 <div class="modal" role="dialog" id="statusNote">
        <div class="modal-dialog width85per">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Customer Outstanding Details</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                               <!--  <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveForHold(popUpNote)">Save</button> </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">
   
                              <div class="row">
                                        <div class="col-xs-12">
                                            <div class="table-responsive">
                                                <table class="table table-inline">
                                                    <thead>
                                                    <tr>
                                                        <th class="inl_xs">#</th>
                                                        <th class="inl_m">Account Code</th>
                                                         <th class="inl_m">Subledger Code</th>
                                                          <th class="inl_m">Account Name</th>
                                                           <th class="inl_m">0-30</th>
                                                            <th class="inl_m">31-60</th>
                                                             <th class="inl_m">61-91</th>
                                                              <th class="inl_m">91-120</th>
                                                               <th class="inl_m">>120</th>
                                                                <th class="inl_m">Unadjusted Credit</th>
                                                                  <th class="text-right inl_mpp">Net Amount</th>
                                                    </tr>
                                                    </thead>
                                                   <tbody >
                                                            <tr>
                                                                <td>1</td>
                                                                <td></td>
                                                                <td>C000241</td>
                                                                <td>Local Debtors</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="text-right inl_mpp">7865.00</td>
                                                                <td></td>
                                                                <td class="text-right inl_mpp">7865.00</td>
                                                            </tr>
                                                            
                                                              <tr>
                                                                <td>2</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="text-right inl_mpp"></td>
                                                            </tr>
                                                            
                                                              <tr>
                                                                <td>3</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="text-right inl_mpp"></td>
                                                            </tr>
                                                            
                                                              <tr>
                                                                <td>4</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="text-right inl_mpp"></td>
                                                            </tr>
                                                       
                                                            </tbody>
                                                    <tfoot class="bg-danger">
                                                    <tr>
                                                     <!--    <td>Total <span class="pull-right">
                                                        
                                                        </span></td> -->
                                                        
                                                                <td colspan="4" style="text-align:right;">Total</td>                                                          
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="text-right"> 7865.00</td>
                                                                <td></td>
                                                                <td class="text-right"> 7865.00</td>
                                                            </tr>

                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </div>                              
   
                </div>
            </div>
        </div>
    </div>