<div class="row nomargin">
	<div class="col-xs-12 pl0">
		<button type="button" class="btn accent-btn mb10"
			ng-click="addRow()">
			<i class="icon-add"></i> Add Bill of Entry
		</button>
	</div>
	<div class="row nomargin">
		<div class="col-xs-12 pl0 pr0">
			<table class="table table-inline-nopad" sm-table-responsive tab-nav watch-data="tableData" tab-row="addRow()">
				<thead class="borderthead">
					<tr>
						<th rowspan="2" class="inl_sno">#</th>
						<th rowspan="2" class="inl_m">Bill of Entry<span class="reqColor">*</span></th>
						<th rowspan="2" class="inl_m">Declaration No</th>
						<th colspan="3" class="inl_sno text-center">Bill of Entry</th>
						<th rowspan="2" class="inl_mp">Transaction Type</th>
						<th rowspan="2" class="inl_mp text-right">Amount</th>
						<th colspan="2" class="inl_s text-center">Exit/Entry Document</th>
						<th colspan="2" class="inl_s text-center">Claim</th>
						<th rowspan="2" class="inl_s">Action</th>
					</tr>
					<tr>

										<th class="inl_m">Date</th>
										<th class="inl_mp text-right">Value</th>
										<th class="inl_mp">Invoice No</th>
                                        <th class="inl_m">Process Date</th>
										<th class="inl_m">Received Date</th>
										<th class="inl_m">Ack. No</th>
										<th class="inl_m">Ack. Date</th>

									</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dataObj in tableData track by $index">
						<td  data-nofloat="true" 
							ng-class="{'error-cell text-center':secondArr[$index].errRow}" ng-click="errorShow(secondArr[$index],$index)">
							<span ng-show="secondArr[$index].errRow"> <a tabindex="-1"
								href="javascript:void(0);" data-placement="right"
								bs-tooltip="errorList"
								
								class="color-white"> <b
									class="glyphicon glyphicon-warning-sign"> </b>
							</a>
						</span> <span ng-show="!secondArr[$index].errRow"> {{$index+1}} </span>
						</td>
						
						<td data-headtitle="Bill of Entry" data-required="true" data-width="tw33per"><input id="{{indexKey+'billOfEntry'+$index}}" type="text"
							maxlength="13" class="form-control"
							ng-class="{'error-control':secondArr[$index].billOfEntry}"
							ng-model="dataObj.billOfEntry" ng-focus="dirtyIndex($index)"
							input-focus="{{secondArr[$index].billOfEntry}}" /></td>

						<td data-headtitle="Declaration No" data-required="true" data-width="tw33per"><input id="{{indexKey+'decleartionNo'+$index}}"
							type="text" maxlength="13" class="form-control"
							ng-class="{'error-control':secondArr[$index].decleartionNo}"
							ng-model="dataObj.decleartionNo" ng-focus="dirtyIndex($index)"
							input-focus="{{secondArr[$index].decleartionNo}}" /></td>

						<td data-headtitle="Date" data-required="true" data-width="tw33per">
							<div class="inputBox">
                       
                       <input  type="text" id="{{indexKey+'boeDate'+$index}}"
                     ng-class="{'error-control':secondArr[$index].boeDate}" 
                    class="form-control" ng-model="dataObj.boeDate"  
                     datetimepicker
                       datetimepicker-options="{{directiveDatePickerOpts}}" 
                       ng-focus="openEvent(true)" 
                       ng-blur="openEvent(false)" 
                       date-visible="openDatePicker(param)" 
                        date-callback="navigateToNextField(indexKey+'boeValue'+$index)"  >
                       
								<span class="inputIcon"><i class="icon-date"
									aria-hidden="true"></i> </span>
							</div>
						</td>

						<td data-headtitle="Value" data-required="true" data-width="tw33per"><input id="{{indexKey+'boeValue'+$index}}" type="text"
							maxlength="13" class="form-control text-right"
							ng-class="{'error-control':secondArr[$index].boeValue}"
							efsdecimals="$root.weightDecimalPoint" 
							efsdecimal-point="serviceObj.country.locale"
							ng-model="dataObj.boeValue" ng-focus="dirtyIndex($index)"
							input-focus="{{secondArr[$index].boeValue}}" /></td>


						<td data-headtitle="Invoice No" data-required="true" data-width="tw33per"><input id="{{indexKey+'boeInvoiceNo'+$index}}"
							type="text" maxlength="13" class="form-control text-right"
							ng-class="{'error-control':secondArr[$index].boeInvoiceNo}"
							ng-model="dataObj.boeInvoiceNo" ng-focus="dirtyIndex($index)"
							input-focus="{{secondArr[$index].boeInvoiceNo}}" /></td>

						<td data-headtitle="Type" data-required="true" data-width="tw33per">
							<div class="select-auto">
								<select class="form-control "
									id="{{indexKey+'transactionType'+$index}}"
									ng-options="item for item in $root.enum['TransactionType']"
									ng-change="navigateToNextField(indexKey+'amount'+$index)"
									ng-model="dataObj.transactionType"
									ng-class="{'error-control-auto':secondArr[$index].transactionType}">
								</select>
							</div>
						</td>


						<td data-headtitle="Amount" data-required="true" data-width="tw33per"><input id="{{indexKey+'amount'+$index}}" type="text"
							maxlength="13" class="form-control text-right"
							ng-class="{'error-control':secondArr[$index].amount}"
							efsdecimals="serviceObj.location.currencyMaster.decimalPoint" 
                    		efsdecimal-point="serviceObj.location.currencyMaster.countryMaster.locale"
							ng-model="dataObj.amount" ng-focus="dirtyIndex($index)"
							input-focus="{{secondArr[$index].amount}}" /></td>



						<td data-headtitle="Process Date" data-required="true" data-width="tw33per">
							<div class="inputBox">
								<input class="form-control"
									id="{{indexKey+'processDate'+$index}}"
									ng-class="{'error-control':secondArr[$index].processDate}"
									ng-model="dataObj.processDate" 
									input-focus="{{secondArr[$index].processDate}}"
									date-callback="navigateToNextField(indexKey+'receivedDate'+$index)"
									datetimepicker
                       				datetimepicker-options="{{directiveDatePickerOpts}}"
									ng-focus="dirtyIndex($index)"
									ng-blur="openEvent(false)" 
                      				date-visible="openDatePicker(param)" >
								<span class="inputIcon"><i class="icon-date"
									aria-hidden="true"></i> </span>
							</div>
						</td>

						<td data-headtitle="Received Date" data-required="true" data-width="tw33per">
							<div class="inputBox">
								<input class="form-control"
									id="{{indexKey+'receivedDate'+$index}}"
									ng-class="{'error-control':secondArr[$index].receivedDate}"
									ng-model="dataObj.receivedDate" 
									input-focus="{{secondArr[$index].receivedDate}}"
									date-callback="navigateToNextField(indexKey+'ackNo'+$index)"
									datetimepicker
                       				datetimepicker-options="{{directiveDatePickerOpts}}"
									ng-focus="dirtyIndex($index)"
									ng-blur="openEvent(false)" 
                      				date-visible="openDatePicker(param)" >
								<span class="inputIcon"><i class="icon-date"
									aria-hidden="true"></i> </span>
							</div>
						</td>

						<td data-headtitle="Ack. No" data-required="true" data-width="tw33per"><input id="{{indexKey+'ackNo'+$index}}" type="text"
							maxlength="13" class="form-control text-left"
							ng-class="{'error-control':secondArr[$index].ackNo}"
							ng-model="dataObj.ackNo" ng-focus="dirtyIndex($index)"
							input-focus="{{secondArr[$index].ackNo}}" /></td>


						<td data-headtitle="Ack. Date" data-required="true" data-width="tw33per">
							<div class="inputBox">
								<input class="form-control" id="{{indexKey+'ackDate'+$index}}"
									ng-class="{'error-control':secondArr[$index].ackDate}"
									ng-model="dataObj.ackDate" 
									input-focus="{{secondArr[$index].ackDate}}"
									date-callback="navigateToNextField('PlannedPickUp'+$index)"
									datetimepicker
                       				datetimepicker-options="{{directiveDatePickerOpts}}"
									ng-focus="dirtyIndex($index)"
									ng-blur="openEvent(false)" 
                      				date-visible="openDatePicker(param)" >
								<span class="inputIcon"><i class="icon-date"
									aria-hidden="true"></i> </span>
							</div>
						</td>
						<td data-nofloat="true" data-action="true">

							<ul class="list-inline ">
								<li><a href="javascript:void(0);"
									class="cur-pointer cursorPt last-child" data-placement="bottom"
									bs-tooltip="" ng-click="addnoteboemodel(dataObj)"> <i
										class="fa fa-info delicon"></i>
								</a></li>


								<li><a data-placement="bottom" bs-tooltip="delete" tabindex=""
									class="cur-pointer cursorPt" ng-click="removeObj(dataObj,$index)"> <i
										class="icon-delete delicon"></i>
								</a></li>

							</ul>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-8">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>