<div class="container-fluid resPortViewPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-8">
            <form role="form" name="buyerConsolidationForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{buyerConsolidation.id==null?'Add Buyer Consolidation':'Edit Buyer Consolidation'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="cancel(buyerConsolidation.id)">
                                        Cancel
                                    </button>
 <button type="button"  class="btn accent-btn"  ng-click="buyerConsolidation.id==null?create():update()"> {{buyerConsolidation.id==null?'Save':'Update'}}</button>							
                 </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>

						<div class="row ">
                            <div class="col-sm-8 col-xs-8 col-md-8 col-lg-6 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="bcname"
                                 ng-class="{'error-control':errorMap.get('bcname')!=null}"
                                 ng-change="validate('bcname', 1)" ng-model="buyerConsolidation.bcName"/>
                                 <span class="error-message" ng-show="errorMap.get('bcname')!=null">
									 <small>{{errorMap.get('bcname')}}</small>
								</span>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-3 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input 
                                    type="text" class="form-control" maxlength="10" id="bccode"
                                    ng-disabled="buyerConsolidation.id!=null" capitalize
                                    input-focus="{{errorMap.get('bccode')!=null}}"
                                    ng-class="{'error-control':errorMap.get('bccode')!=null}"
                                    ng-model="buyerConsolidation.bcCode" ng-change="validate('bccode', 2)"/>
                                 <span class="error-message" ng-show="errorMap.get('bccode')!=null">
									 <small>{{errorMap.get('bccode')}}</small>
								</span>
                                </div>
                            </div>
                            
                            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-3 form-group nomargin pl0" 
                              ng-class="buyerConsolidation.id!=null?'visible-show':'visible-hide'">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="setStatus(buyerConsolidation.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="buyerConsolidation.status" required >
                                    </select>
                                </div>
                         </div>
                        </div>
                        
                         
                        
                        
                            <div class="row nopadding">
                                <div class="title">
                                    <h5 class="sub-title">Customize Reference Labels</h5>
                                </div>
                            </div>
                            <div class="row fgmb0">
                                <div class="col-xs-12 ptb-15 mt10 nopadding">
                                    <div class="table-responsive">
                                        <table class="table table-inline">
                                            <thead class="borderthead">
                                            <tr>
                                                <th class="inl_s">Field Name</th>
                                                <th class="inl_l">Label</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    Ref 1
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" maxlength="100"  ng-model="buyerConsolidation.ref1">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Ref 2
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" maxlength="100"  ng-model="buyerConsolidation.ref2">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Ref 3
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" maxlength="100"  ng-model="buyerConsolidation.ref3">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Ref 4
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" maxlength="100"  ng-model="buyerConsolidation.ref4">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Ref 5
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" maxlength="100"  ng-model="buyerConsolidation.ref5">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        
                        
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
