<div class="container-fluid">
	<div class="list-container col-md-12 col-lg-12 col-xs-12 col-sm-12  mtnres-3 marginL0" style="padding: 5px; padding-bottom: 0px; margin-top: -10px;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
						<div class="panelTitle">
							<div>
								<i class="fa fa-plane" aria-hidden="true" style="font-size: 15px;"></i> Air Export / Import
							</div>
						</div>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
						<div class="pull-right">
							<button type="button" class="btn btn-property accent-btn" style="margin-right: 0px;" ng-click="viewAddSalesEnquiry()">
								<span class="icon-add"></span> Add Enquiry
							</button>
							<button type="button" class="btn btn-property accent-btn" ng-click="viewSalesQuotationAdd()">
								<span class="icon-add"></span> Add Quotation
							</button>
							<button type="button" class="btn btn-property accent-btn" ng-click="viewAddNewShipment()">
								<span class="icon-add"></span> Add Shipment
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid pl0 pr0 page-style">
	<div class="row ml0 mr0">
		<div class="list-container col-md-12">
			<!--TAb-->
			<div class="row nomargin"></div>
			<div class="row ml0 mr0">
				<div class="list-container col-md-12 col-lg-6 col-xs-12 col-sm-12" style="padding: 5px;">
					<div class=" panel-heading flex align-justify align-middle title" ng-click="generalTab=!generalTab" ng-init="generalTab=true"
					    style="margin: 0px;">
						<ul class="list-inline">
							<li style="padding-right: 0px;">
								<span class="icon-v-ellipse"></span>
								Air Export ({{vm.airExportCountObj.totalTask}})</li>
						</ul>
						<div>
							<i class="{{generalTab==true?'icon-uparrow':'icon-downarrow'}}" aria-hidden="true"></i>
						</div>
					</div>
					<div class=" bor-b-0" style="padding-top: 0px !important" ng-show="generalTab">
						<div class="panel panel-default masOpertion overflow-hidden">
							<div class="panel-body pt0 pb0 " style="padding-bottom: 0px !important;">
								<div class="row nopadding task-body" panel-height ng-nicescroll nice-scroll-object="niceObject" nice-option="{{ngScrollConfigScroll}}">
									<div class="col-md-12 col-xs-12 pl0 pr0">
										<div class="table-fixed table-responsive">
											<table class="table table-inline">
												<thead>
													<tr>
														<th class="inl_sno" style="width: 10%;">#</th>
														<th class="bor-b-0">
															<b>Task</b>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'Enquiry'})">
																<div class="sprite enquiry">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Enquiry ({{vm.airExportCountObj.enquiryCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>
													<tr class="pretty altercolor">
														<td>2</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'Quotation'})">
																<div class="sprite quotation">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Quotation({{vm.airExportCountObj.quotationCount}})
																	</span>
																</div>

															</a>
														</td>
													</tr>
													<tr>
														<td>3</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'Shipment'})">
																<div class="sprite shipment">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Shipment ({{vm.airExportCountObj.shipmentCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>4</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'Pickup'})">
																<div class="sprite pickup">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Pickup ({{vm.airExportCountObj.pickUpCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr>
														<td>5</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'DeliveryToCfs'})">
																<div class="sprite depot">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Deliver to CFS/Depot ({{vm.airExportCountObj.deliverToCfsOrDepotCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>6</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'LinkToMaster'})">
																<div class="sprite link">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Linking to Master ({{vm.airExportCountObj.linkToMasterCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr>
														<td>7</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'AesOrCustoms'})">
																<i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;AES/Customs ({{vm.airExportCountObj.aesOrCustomsCount}}) </a>
														</td>
													</tr>


													<tr class="altercolor">
														<td>8</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'SignOff'})">
																<div class="sprite padlock">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Sign Off ({{vm.airExportCountObj.signOffCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>
													<tr>
														<td>9</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'AirLineSubmission'})">
																<div class="sprite confirmation">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Airline Submission ({{vm.airExportCountObj.airlIneSubmissionCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>10</td>

														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'JobCompletion'})">
																<div class="sprite job">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Job Completion ({{vm.airExportCountObj.jobCompletionCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>
													<tr>
														<td>11</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'Invoice'})">
																<div class="sprite invoice">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Invoice ({{vm.airExportCountObj.invoiceCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>
													<tr class="altercolor">
														<td>12</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirExportTask({activeTab:'AtdConfirmation'})">
																<div class="sprite confirmation">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Atd Confirmation ({{vm.airExportCountObj.atdConfirmationCount}})
																	</span>
																</div>
															</a>
														</td>

													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="list-container col-md-12 col-lg-6 col-xs-12 col-sm-12" style="padding: 5px;">
					<div class=" panel-heading flex align-justify align-middle title" ng-click="general1Tab=!general1Tab" ng-init="general1Tab=true"
					    style="margin: 0px;">
						<ul class="list-inline">
							<li style="padding-right: 0px;">
								<span class="icon-v-ellipse"></span>
								Air Import ({{vm.airImportCountObj.totalTask}})</li>
						</ul>
						<div>
							<i class="{{general1Tab==true?'icon-uparrow':'icon-downarrow'}}" aria-hidden="true"></i>
						</div>
					</div>
					<div class=" bor-b-0" style="padding-top: 0px !important" ng-show="general1Tab">
						<div class="panel panel-default">



							<div class="panel-body pt0 pb0 " style="padding-bottom: 0px !important;">
								<div class="row nomargin task-body" panel-height ng-nicescroll nice-scroll-object="niceObject" nice-option="{{ngScrollConfigScroll}}">
									<div class="col-md-12 col-xs-12 pl0 pr0">



										<div class="table-fixed table-responsive pb10">
											<table class="table table-inline">
												<thead>
													<tr>
														<th class="inl_sno" style="width: 10%;">#</th>
														<th class="bor-b-0">
															<b>Task</b>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'Enquiry'})">
																<div class="sprite enquiry">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Enquiry ({{vm.airImportCountObj.enquiryCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>
													<tr class="altercolor">
														<td>2</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'Quotation'})">
																<div class="sprite quotation">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Quotation({{vm.airImportCountObj.quotationCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>
													<tr class="altercolor">
														<td>3</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'Shipment'})">
																<div class="sprite shipment">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Shipment ({{vm.airImportCountObj.shipmentCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>4</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'Pickup'})">
																<div class="sprite pickup">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Pickup ({{vm.airImportCountObj.pickUpCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>5</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'DeliveryToCfs'})">
																<!-- <img src="../../../../assets/images/Depot.png" style="width: 18px; height: 18px;" /> -->
																<div class="sprite depot">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Deliver to CFS/Depot ({{vm.airImportCountObj.deliverToCfsOrDepotCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>6</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'AtdConfirmation'})">
																<div class="sprite confirmation">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;ATD Confirmation ({{vm.airImportCountObj.atdConfirmationCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>7</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'LinkToMaster'})">
																<div class="sprite link">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Linking to Master ({{vm.airImportCountObj.linkToMasterCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>8</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'AtaConfirmation'})">
																<div class="sprite confirmation">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;ATA Confirmation ({{vm.airImportCountObj.ataConfirmationCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>9</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'SignOff'})">
																<div class="sprite padlock">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Signoff ({{vm.airImportCountObj.signOffCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>10</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'CanAndInvoice'})">
																<div class="sprite invoice">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;CAN and Invoice ({{vm.airImportCountObj.canAndInvoiceCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>11</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'Customs'})">
																<div class="sprite invoice">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Customs ({{vm.airImportCountObj.customsCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

													<tr class="altercolor">
														<td>12</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'DeliveryOrder'})">
																<div class="sprite pickup">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Delivery Order ({{vm.airImportCountObj.deliveryOrderCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>


													<tr class="altercolor">
														<td>13</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'Clearance'})">
																<div class="sprite clearance">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;Clearance ({{vm.airImportCountObj.clearanceCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>


													<tr class="altercolor">
														<td>14</td>
														<td class=" inl_sm">
															<a ui-sref="layout.myIndividualAirImportTask({activeTab:'Pod'})">
																<div class="sprite box">
																	<span>&nbsp;&nbsp;&nbsp;&nbsp;POD ({{vm.airImportCountObj.podCount}})
																	</span>
																</div>
															</a>
														</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>