<div class="container-fluid ">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
        <form role="form" id="userform" name="userform">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4> {{user.id!=null?'Edit':'Add'}} User</h4>
                    </div>
                    <div>
                        <ul class="list-inline masopertion-action">
                            <li>
                                <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                            </li>
                            <li>
                                <button  type="button"  class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="user.id!=null?update():save()" >{{user.id!=null?'Update':'Save'}}</button>
                            </li>
                        </ul>
                    </div>
                </div><!--panel head ends-->
                <div class="panel-body half-master-edit" id="user-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                    <div class="row">
                        <div class="col-xs-12 mb-15">
                            <div show-response></div>
                            <div><span class="reqColor">*</span><small class="opc-5"> Indicates Mandatory fields</small></div>
                        </div>
                    </div>
                    
                    
                    <form role="form"  id="userform" name="userform" >
                        <div class="form-group mb0">
                            <div class="row">
                                <div class="col-xs-6 col-md-5 col-lg-5 col-sm-5 ">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input input-focus="true" type="text" 
								class="form-control" 
									id="userName" name="userName"
									autocomplete="new-userName"
									ng-model="user.userName"
									ng-class="{'error-control':errorMap.get('user.userName')!=null}"
									maxlength="30" ng-change="validateUser(1)">
								<div>
									<span class="error-message" ng-show="errorMap.get('user.userName')!=null"><small>{{errorMap.get('user.userName')}}</small></span>
								</div>
                                </div>
                                <div class="col-xs-6 col-md-5 col-lg-3 col-sm-3 " ng-show="user.id!=null">
                                     <label class="custom-label">
                                    Status
                                </label>


                                <select class="form-control status" id="status"
                                        ng-class="setStatus(user.status)"
                                        ng-options="item for item in userStatus"
                                        ng-model="user.status" required>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                        </div>
                        <div class="form-group mb0">
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 col-md-5 col-lg-6">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 ">
                                            <label>Password<span class="reqColor">*</span></label>
                                            <div class = "input-group">
                                                <input focus="{{errorMap.get('user.password')!=null}}" type="password" class="form-control" id="password-field" name="password"
                                                autocomplete="new-password"
                                                       ng-model="user.password" ng-class="{'error-control':errorMap.get('user.password')!=null}" maxlength="20" 
                                                      ng-change="user.password = user.password.split(' ').join('');validateUser(2)">
                                                <span data-placement="bottom"   bs-tooltip="togglePassword"
                                                      class = "input-group-addon addon-icon cursorPt rel "
                                                      style="border-right: 1px solid #dadada !important;">
                                                    <span
                                                            toggle="#password-field"
                                                            class="fa fa-fw fa-eye field-icon toggle-password">
                                                    </span>
                                                </span>
                                            </div>
                                        <div>
                                        <span>
                                            <img ng-show="errorMap.get('user.password')!=null" src="../../../../assets/images/alert_info.png" alt="Info" height="14" width="14" ng-click="showHint()"></span>
                                            <span class="error-message" ng-show="errorMap.get('user.password')!=null"><small>{{errorMap.get('user.password')}}</small></span>
                                        </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 text-center">
                                            <label></label>
                                            <h5 class="mt-7"><a tabindex="-1" href="javascript:;" >
                                            <!-- <span class="fa fa-eye"></span> -->
                                            </a> </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-5 col-lg-3 col-sm-3  col-lg-pull-1">
                                    <label>Password expires on</label>
                                    <div class="inputBox">
                                        <input tabindex="" type="text" class="form-control" id="passwordExpiresOn"
                                         datetimepicker datetimepicker-options="{{directiveDatePickerOptsLeft}}"
                                        ng-model="user.passwordExpiresOn" ng-change="validateUser(3)">
                                        <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                   <span class="error-message" ng-show="errorMap.get('user.expiresOn')!=null"><small>
                                                {{errorMap.get('user.expiresOn')}}
                                            </small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr class="mb-10">
                        </div>
                        <div class="form-group mb0">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6 ">
                                    <label>Note</label>
                                    <textarea ng-model="user.note"
                                            msd-elastic maxlength="4000"
                                            class="form-control minH-80"
                                            id="description" name="description"
                                            >
                                    </textarea>
                                    <div>
									<span class="error-message" ng-show="errorMap.get('user.note')!=null"><small>{{errorMap.get('user.note')}}</small></span>
								</div>
                                </div>
                            </div>
                        </div>
                        <div class="row tabBox">
                            <div class="col-md-12 nopadding">
                                <ul class="nav btn-tabs" role="tablist" ng-init="Tab ='roles'">
                                    <li>
                                        <button type="button" tabindex="-1" class="btn" ng-click="Tab='roles'" ng-class="Tab=='roles'?'active':'btn-normal'">Roles</button>
                                    </li>
                                    <li>
                                        <button type="button" tabindex="-1" class="btn" ng-click="Tab='company'" ng-class="Tab=='company'?'active':'btn-normal'">Company</button>
                                    </li>
                                    <li>
                                    &emsp;<span class="error-message" ng-show="errorMap.get('duplicate.company')!=null"><small>{{errorMap.get('duplicate.company')}}</small></span>
                                    <span class="error-message" ng-show="errorMap.get('user.company.msg')!=null"><small>{{errorMap.get('user.company.msg')}}</small></span>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content ptb-15">
                                    <div role="tabpanel" ng-class="{'active' : Tab=='roles', '' : Tab!='roles'}" class="tab-pane">
                                        <div class="row nomargin">
                                            <div class="col-xs-12 mb-15">
                                                <button type="button"  class="btn accent-btn" ng-click="addRoleRow(dataObj)"><span class="icon-add"></span>add role </button>
                                            </div>
                                            <div class="col-xs-12 col-md-12 table-responsive" style="border:none;">
                                                
                                                    <table class="table table-inline" tab-nav tab-row="addRoleRow(dataObj)">
                                                        <thead class="borderthead">
                                                        <tr>
                                                            <th class="inl_sno text-center">#</th>
                                                            <th class="inl_xl sam-inl_lpp">Role Name</th>
                                                            <th class="inl_xl sam-inl_lpp">Description</th>
                                                            <th class="inl_m  text-center">Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                   
                                                   <tr ng-repeat="roleObj in user.relatedData.roleData track by $index">
                                                       <td class="text-center" ng-class="{'error-cell':secondArr[$index].errRow}">
                                                            <span ng-show="secondArr[$index].errRow" >
                                                                <a href="javascript:void(0);"
                                                                   data-placement="right"
                                                                     bs-tooltip="errorList"
                                                                   ng-click="errorShow(secondArr[$index],$index)"
                                                                   class="color-white" >
                                                                   <img src="../../../../assets/images/error.png"/>
                                                                </a>
                                                            </span>
                                                            <span ng-show="!secondArr[$index].errRow">
                                                            {{$index+1}}
                                                            </span>
                                                       </td>
                                                       <td>
                                                           <div class="select-auto">
                                                              	<input type="text" class="form-control last-child"
																		ng-class="{'error-control-auto':secondArr[$index].roleName}" 
																		input-focus="{{firstFocus}}" 
																		autocomplete="off" ng-model="roleObj.roleMaster"
																		uib-typeahead="lovObject as lovObject.roleName for lovObject in ajaxRoleEvent($viewValue)"
																		typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																		typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																		typeahead-on-select="addRoleRow()" 
																		typeahead-focus-on-select="false" ng-disabled="roleObj.roleCheck"
																		typeahead-focus-first="true" typeahead-editable="false"
																		typeahead-min-length="1" typeahead-wait-ms="500">
																	<span class="select-arrow"><b></b></span>
                                                           </div>

                                                           
                                                       </td>
                                                        <td>
                                                            <textarea class="form-control" ng-model="roleObj.roleMaster.description"
                                                            id="desc{{$index}}"
                                                            ng-disabled="true"
                                                                   style=" overflow: hidden" ng-disabled="roleObj.roleCheck"></textarea>

                                                        </td>
                                                       <td class="text-center w100px">
                                                           <a  tabindex="-1"
                                                               data-container="false"
                                                               data-placement="left"
                                                                 bs-tooltip="delete"
                                                               href="javascript:void(0);"
                                                               ng-click="removeRoleObj($index)">
                                                               <i class="icon-delete"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                       </tbody>
                                                    </table>
   
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" ng-class="{'active' : Tab=='company', '' : Tab!='company'}" class="tab-pane">
                                        <div class="row nomargin">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 mb-15">
                                                <button type="button" class="btn btn-property btn-default accent-btn mt-15" ng-click="showModal()"><span class="icon-add"></span>Add Company</button>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 mb-15">
                                                <label>Default Company</label>
                                                <div class="form-group mb0">
													<select class="form-control"
													ng-change ="selectDefaultCompany()" 
													ng-options="userCompany.companyMaster as userCompany.companyMaster.companyName for userCompany in user.userCompanyList" 
													ng-model="user.relatedData.selectedDefaultCompany">
													</select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="panel-group">
                                                    <div class="panel panel-success" ng-repeat="userCompany in user.userCompanyList">
                                                        <div class="panel-heading flexTitle">
                                                            <div>
                                                                <h4>{{userCompany.companyMaster.companyName}}</h4>
                                                            </div>
                                                            <div>
                                                                <ul class="flex align-middle align-justify">
                                                                    <li class="mr8" >
                                                                        <span ng-click="removeCompanyMapping($index)" class="icon-delete" ></span>
                                                                    </li>
                                                                    <li>
                                                                        <a tabindex="-1" href="javascript:void(0);"  ng-click="isCollapsed = !isCollapsed"><span class="icon-downarr"></span></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="panel-collapse " ng-show="isCollapsed">
                                                            <div class="panel-body animated fadeIn pt-15">
                                                                <div class="form-group mb0">
                                                                    <div class="row">
                                                                        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3">
                                                                            <label>Employee<span class="reqColor">*</span></label>
                                                                            <div class="select-auto">
                                                                             <input type="text" class="form-control"  id="{{'employeeName'+$index}}"
																			 ng-class="{'error-control-auto':secondArr[$index].employeeName}" 
																			 input-focus="{{secondArr[$index].employeeName}}" 
																			autocomplete="off" ng-model="userCompany.employee" 
																			uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxEmployeeEvent($viewValue,userCompany.companyMaster.id)"
																			typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																			typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																			typeahead-on-select="validateUserCompany(userCompany,$index,1)?navigateToNextField($index+'location'+0):''"
																			typeahead-focus-on-select="false" ng-disabled="userCompany.roleCheck"
																			typeahead-focus-first="true" typeahead-editable="false"
																			typeahead-min-length="1" typeahead-wait-ms="500">
																		<span class="select-arrow"><b></b></span>
                                                                            </div>
                                                                            <span class="error-message"
														ng-show="errorMap.get('user.company.employee')!=null && userCompany.employee==null"><small>
															{{errorMap.get('user.company.employee')}} </small></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <hr class="mb-15">
                                                                </div>
                                                               
                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 mb-10">
                                                                            <span class="title">Location Mapping</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3  ">
                                                                            <button type="button" class="btn accent-btn mt-15 rel t-8" ng-click="addLocationRow(userCompanyLocation,$index,userCompany)"><span class="icon-add"></span>add location </button>
                                                                        </div>
                                                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3  pt15">
                                                                            <label>Default Location : </label>
                                                                              {{user.relatedData.selectedDefaultLocation[$index].locationMaster.locationName}}
																			<!-- <select class="form-control"  ng-disabled="userCompany.roleCheck" id="{{'defaultLocation'+$index}}"
																			ng-model="user.relatedData.selectedDefaultLocation[$index].locationMaster"
																			ng-change ="selectDefaultLocation(null,userCompany,user.relatedData.selectedDefaultLocation[$index])"  
																			ng-options="userCompanyLocation.locationMaster as userCompanyLocation.locationMaster.locationName for userCompanyLocation in (userCompany.userCompanyLocationList | hideUndefined)" 
																			><option value="" selected hidden />
																			</select> -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <div class="table-responsive">
                                                                         <table class="table table-inline" tab-nav tab-row="addLocationRow(userCompanyLocation,$index,userCompany)">
                                                                                <thead class="borderthead">
                                                                                <tr>
                                                                                    <th class="text-center inl_xxs">#</th>
                                                                                    <th class="inl_l"> Location</th>
                                                                                    <th class="inl_l">City</th>
                                                                                    <th class="inl_l">Note</th>
                                                                                    <th class="inl_mm">Default</th>
                                                                                    <th class="text-center inl_mm">Actions</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                
                                                     <!-- <tr ng-repeat="roleObj in user.relatedData.roleData track by $index"> -->                           
                                                     <tr ng-repeat="userCompanyLocation in userCompany.userCompanyLocationList track by $index">
                                                       <td class="text-center" ng-class="{'error-cell':companyArr[$parent.$index].secondArr[$index].locationName}">
                                                            <span ng-show="companyArr[$parent.$index].secondArr[$index].locationName!=null">
                                                                <a tabindex="-1" href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorLocationShow(companyArr,userCompany,$index)" class="color-white" >
                                                                    <img src="../../../../assets/images/error.png"/>
                                                                </a>
                                                            </span>
                                                            <span ng-show="!companyArr[$parent.$index].secondArr[$index].locationName">
                                                            {{$index+1}}
                                                            </span>
                                                       </td>
                                                       <td>
                                                           <div class="select-auto">
                                                               <input type="text" class="form-control" id="{{$parent.$index}}location{{$index}}"
																		input-focus="{{firstFocus}}" 
																		ng-class="{'error-control-auto':companyArr[$parent.$index].secondArr[$index].locationName}" 
																		autocomplete="off" ng-model="userCompanyLocation.locationMaster" 
																		uib-typeahead="lovObject as lovObject.locationName for lovObject in ajaxLocationEvent($viewValue,userCompany.companyMaster.id,userCompany.userCompanyLocationList)"
																		typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																		typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																		typeahead-focus-on-select="false" ng-disabled="userCompanyLocation.roleCheck"
																		typeahead-on-select="validateUserCompanyLocationObj($parent.$index,userCompanyLocation,$index,'row')?navigateToNextField($parent.$index+'userCompanyLocation-note'+$index):' '" 
																		typeahead-focus-first="true" typeahead-editable="false"
																		typeahead-min-length="1" typeahead-wait-ms="500">
																	<span class="select-arrow"><b></b></span>
                                                           </div>

                                                           
                                                       </td>
                                                       <td class="text-center">
                                                        <div class="form-group mb0">
                                                            <input type="text" ng-disabled="true"  tabindex="-1" value="{{userCompanyLocation.locationMaster.cityMaster.cityName}}"/>
                                                        </div>
                                                       </td>
                                                        <td>
                                                        <div class="form-group mb0">
                                                        <textarea msd-elastic
                                                                class="form-control last-child" ng-disabled="userCompanyLocation.roleCheck"
                                                                id="{{$parent.$index}}userCompanyLocation-note{{$index}}"
                                                                name="userCompanyLocation-note"
                                                                ng-model="userCompanyLocation.note"
                                                                maxlength="4000" style="height: 24px !important; ">
                                                            </textarea>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="form-group mb0">
                                                                <div class="checkbox mt0">
                                                                    <label>

                                                                    <input type="checkbox" 
                                                                        ng-change ="selectDefaultLocation($index,userCompany,userCompanyLocation,userCompanyLocation.yesNo)"
                                                                        ng-checked="userCompanyLocation.yesNo" ng-disabled="userCompanyLocation.roleCheck"
                                                                        ng-model="userCompanyLocation.yesNo" name="user-checkbox">


                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                           <ul class="list-inline">
                                                               <li><a href="javascript:void(0);" tabindex="-1" ng-click="removeObj($index,userCompany)"><i class="icon-delete"></i></a></li>
                                                           </ul>
                                                       </td>
                                                   </tr>
                                                                               </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--Panel group-->
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!--row ends-->
                    </form><!--form ends-->
                </div><!--panel body ends-->
            </div><!--panel ends-->
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal resModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>