<div class="container-fluid pl0 pr0 ">
    <div class="row ml0 mr0" id="user-view" ng-init="init()">
        <div class="col-md-12 col-lg-8 col-sm-12 col-xs-12 list-container" ng-show="deskTopView" >
            <div class="panel panel-default   ">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panelTitle">
                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="userOperation()"><i class="icon-add"></i>add user</a>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right text-right">
                            <i class="icon-settings"></i>
                        </div>
                    </div>
                </div>
                <div show-response></div>
                <div class="panel-body no-tab-table" panel-height id="user-list">
                    <div class="table-fixed table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                        <super-table 	data="usersArr"
                                        head="usersHeadArr"
                                        sort="sortSelection"
                                        click-event="rowSelect(param)"
                                        search-event="changeSearch(param)"
                                        sort-event="sortChange(param)"
                                        page="page" size="limit" >
                        </super-table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="pull-left">
                        <ul class="list-inline">
                            <li>Show</li>
                            <li>
                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                </select>
                            </li>
                            <li>Entries</li>
                        </ul>
                    </div>
                    <div class="pull-right text-right">
                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                    </div>
                </div>
            </div><!--panel ends-->
        </div>
        <div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12 m-pl0">

                <div class="panel panel-default detail-transition" ng-show="user.id!=null">
                    <div class="panel-heading flexTitle">
                        <div>
                            <div class="panelTitle">
							<span>
								<a data-placement="bottom"   bs-tooltip="close" href="javascript:void(0)" ng-click="cancel()"
                                   class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
                                <span>User</span>
                            </div>
                        </div>
                        <div>
                            
                            <button ng-class="user.status=='Active'?'btn btn-red':'btn btn-green'"  ng-click="updateStatus()">{{user.status=='Active'?'Deactivate':'Activate'}}</button>
                        </div>
                        <div>
                        
                            <ul class="list-inline text-right">
                                <!--<li><i class="icon-settings"></i></li>-->
                                <li><a  href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"
                                        ><i data-placement="bottom"   bs-tooltip="activity"  class="icon-logs"></i></a></li>
                                <li><a  data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="editUser()"
                                       class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
                                <li><a  data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)"
                                       ng-click="deleteUser()" class="list-panel-edit-btn cursorPt"><i
                                        class="icon-delete"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body plr15 half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div ng-click="showHistory=false">

                            <div class="row metadata-detail">
                            <span class="error-message" ng-show="errorMap.get('user.errormsg')!=null"><small>{{errorMap.get('user.errormsg')}}</small></span>
                                <div class="col-xs-12 ptb-15">
                                    <span >Name</span>
                                    <h5 >{{user.userName}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <hr class="mt0">
                            </div>
                            <!-- <div class="row">
                                <div class="col-xs-4">
                                    <span >Password</span>
                                    <h5 >
                                        <button class="btn accent-btn" data-placement="top" data-content="{{user.password}}" data-trigger="focus" bs-popover><span class="fa fa-eye"></span> show</button> </h5>
                                </div>
                                <div class="col-xs-5">
                                    <span >Password Expires On</span>
                                    <h5 >{{dateToString(user.passwordExpiresOn)}}</h5>
                                </div>
                                <div class="col-xs-3">
                                    <span >Status</span>
                                    <show-status status="{{user.status | UserStatus}}"></show-status>
                                </div>
                            </div> -->
                            
                             <div class="row">
                                <div class="col-xs-8 col-sm-5 col-md-5 col-lg-10">
                                    <div class="form-group">
                                        <span >Password</span>
                                        <div class = "input-group mt-5">
                                            <input type="password" readonly id="showpassword" class="form-control" value="{{user.password}}" disabled/>
                                                <span class = "input-group-addon addon-icon cursorPt bg-gray" style="border-right: 1px solid #dadada !important;">
                                                    <span data-container="false" data-placement="bottom"   bs-tooltip="togglePassword"  toggle="#showpassword" class="fa fa-fw fa-eye field-icon toggle-password" ></span>
                                                </span>
                                        </div>
                                        <!--<ul class="list-inline mt-5">
                                            <li>
                                                <input type="password" readonly id="showpassword" class="bor-0" value="{{user.password}}"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" style="position: relative; left: 10px;" > <span toggle="#showpassword" class="fa fa-fw fa-eye field-icon toggle-password" ></span></a>
                                            </li>
                                        </ul>-->
                                        <!--<ul class="list-inline mt-5">
                                            <li>
                                                <input type="password" readonly id="showpassword" class="bor-0" value="{{user.password}}" disabled/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" style="position: relative; left: 10px;" > <span toggle="#showpassword" class="fa fa-fw fa-eye field-icon toggle-password" ></span></a>
                                            </li>
                                        </ul>-->
                                    </div>
                                    <!--
                                    <h5 >
                                    <button class="btn accent-btn" data-placement="top" data-content="{{user.password}}" data-trigger="focus" bs-popover><span class="fa fa-eye"></span> show</button>
                                    </h5>-->
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-xs-6">
                                    <span >Password Expires On</span>
                                    <h5 >{{dateToString(user.passwordExpiresOn)}}</h5>
                                </div>
                                <div class="col-xs-6">
                                    <span >Status</span>
                                    <show-status status="{{user.status | UserStatus}}"></show-status>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-6">
                                    <span >Password Expires On</span>
                                    <h5 >{{dateToString(user.passwordExpiresOn)}}</h5>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-6">
                                    <span >Status</span>
                                    <show-status status="{{user.status | UserStatus}}"></show-status>
                                </div>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                            <div  class="row">
                                <div class="col-xs-12">
                                    <span >Notes</span>
                                    <h5>{{user.note}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <hr class="mb-10">
                            </div>
                            <div class="row tabBox">
                                <div class="col-md-12 nopadding">
                                    <ul class="nav btn-tabs" user="tablist">
                                        <li>
                                            <button type="button" class="btn" ng-click="tabSelect('users')" ng-class="Tab=='users'?'active':'btn-normal'">Roles <span ng-show="user.roleList!=null && roleCheck">({{user.roleList.length}})</span></button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn" ng-click="tabSelect('company')" ng-class="Tab=='company'?'active':'btn-normal'">Company</button>
                                        </li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div user="tabpanel" ng-class="{'active' : Tab=='users', '' : Tab!='users'}" class="tab-pane" ng-if="roleCheck">
                                            <div class="row nomargin">
                                                <div class="col-xs-12 mt-15">
                                                    <div class="table-responsive">
                                                        <table class="table table-inline">
                                                           <thead class="borderthead">
                                                            <tr>
                                                                <th class="inl_xs">#</th>
                                                                <th class="inl_m">Role Name</th>
                                                                <th class="inl_ml">Description</th>
                                                            </tr>
                                                            </thead>
                                                            <!-- <tbody class="bg-gray">
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Finance Read only</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Sales Read only</td>
                                                                <td></td>
                                                            </tr>
                                                            </tbody> -->
                                                            <tbody class="bg-gray">
								<tr data-ng-repeat="roleObj in user.roleList">
									<td title="{{serialNo($index)}}" class="wrap-cell">{{serialNo($index)}}</td>
									<td title="{{roleObj.roleName}}">{{roleObj.roleName}}</td>
									<td title="{{roleObj.description}}">{{roleObj.description}}</td>
									 
									
								</tr>
								</tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div user="tabpanel" ng-class="{'active' : Tab=='company', '' : Tab!='company'}" class="tab-pane">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="panel-group">
                                                    <div class="panel panel-success bor-lr-0" ng-repeat="userCompany in user.userCompanyList track by $index">
                                                        <div class="panel-heading flexTitle">
                                                            <div>
                                                                <h4>{{userCompany.companyMaster.companyName}}</h4>
                                                            </div>
                                                            <div>
                                                                <a href="javascript:;"  ng-click="isCollapsed = !isCollapsed"><span class="icon-downarr"></span></a>
                                                            </div>
                                                        </div>
                                                        <div class="panel-collapse " ng-show="isCollapsed">
                                                            <div class="panel-body pt-15 animated fadeIn">
                                                                <div class="row">
                                                                    <div class="col-xs-6">
                                                                        <span>Employee</span>
                                                                        <h5>{{userCompany.employee.employeeName}} <span ng-show="userCompany.employee.employeeCode!=null && userCompany.employee.employeeCode!=undefined">({{userCompany.employee.employeeCode}})</span></h5>
                                                                    </div>
                                                                    <div class="col-xs-6">
                                                                        <span>Default Location</span>
                                                                        <h5 ng-repeat="userCompanyLoc in userCompany.userCompanyLocationList">{{userCompanyLoc.yesNo=='Yes'?userCompanyLoc.locationMaster.locationName:''}}</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row line">
                                                                    <hr class="mt-15">
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 mt-15">
                                                                        <div class="table-responsive" style="border:none;">
                                                                            <table class="table table-inline">
                                                                                <caption><span>Location Mapping</span></caption>
                                                                                <thead class="borderthead">
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Location</th>
                                                                                    <th>City</th>
                                                                                    <th>Notes</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <!-- <tr>
                                                                                    <td>1</td>
                                                                                    <td>Dubai</td>
                                                                                    <td>Dubai</td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>2</td>
                                                                                    <td>Mumbai</td>
                                                                                    <td>Mumbai</td>
                                                                                    <td></td>
                                                                                </tr> -->
                                                                                
                                                                                <tr ng-repeat="userCompanyLocation in userCompany.userCompanyLocationList track by $index">
                                                                                <td>{{serialNo($index)}}
                                                                                </td>
                                                                                <td>{{userCompanyLocation.locationMaster.locationName}}
                                                                                </td>
                                                                                <td>
                                                                                {{userCompanyLocation.locationMaster.cityMaster.cityName}}
                                                                                </td>
                                                                                <td>
                                                                                {{userCompanyLocation.note}}
                                                                                </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div><!--Panel group-->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div><!--row ends-->

                        </div>
                        <div class="logs-view logs-transition" ng-show="showHistory">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <div class="panelTitle">
										<span>
											<a  href="javascript:void(0)" ng-click="showHistory=false"
                                               class="list-panel-back"><i data-placement="bottom"   bs-tooltip="close" class="icon-close-detail"></i></a>
										</span>
                                            <span>Activity</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
                                    <div class="card">

                                        <ul class="list-inline card-cell">
                                            <li>
                                                <hm-init-icon customer-name="user.systemTrack.createUser"></hm-init-icon>
                                            </li>
                                            <li>
                                                <ul class="list-unstyled mt-5">
                                                    <li><b>{{user.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                                    <li class="span text-muted">{{dateAndTimeToString(user.systemTrack.createDate)}}</li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="card">
                                        <ul class="list-inline card-cell">
                                            <li>
                                                <hm-init-icon customer-name="user.systemTrack.lastUpdatedUser"></hm-init-icon>
                                            </li>
                                            <li>
                                                <ul class="list-unstyled mt-5">
                                                    <li><b>{{user.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                                    <li class="span text-muted">{{dateAndTimeToString(user.systemTrack.lastUpdatedDate)}}</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

        </div><!--detail Container ends-->
    </div>
</div>
