<a class="mcacAnchor" style="padding : 6px 0px !important"> 
	<span ng-style="match.status === 'Block' ? { color:'#d32f2f' } : { 'color': '#000' }"
		style="display: inline-block; color: rgba(0, 0, 0, 0.87) !important; float: left;white-space:normal !important; width: 50%;padding-left:4px;">
		{{match.model.tmpPartyMaster.partyName}}</span>
	<span ng-style="match.status === 'Block' ? { color:'#d32f2f' } : { 'color': '#000' }"
		style="display: inline-block; color: rgba(0, 0, 0, 0.87) !important; float: right; white-space:normal !important;width: 50%;padding-left:4px;">
		{{match.model.accountMaster.glAccountName}}
	</span>
	<div style="clear: both;"></div>
</a>

