<a class="mcacAnchor" style="padding : 6px 0px !important"> 
	<span ng-style="match.status === 'Block' ? { color:'#d32f2f' } : { 'color': '#000' }"
		style="display: inline-block; color: rgba(0, 0, 0, 0.87) !important; float: left; width: 100px;padding-left:4px;">
		{{match.model.currencyCode}}</span>
	<span ng-style="match.status === 'Block' ? { color:'#d32f2f' } : { 'color': '#000' }"
		style="display: inline-block; color: rgba(0, 0, 0, 0.87) !important; float: left; width: 120px;padding-left:4px;">
		{{match.model.currencyName}}
	</span>
	<div style="clear: both;"></div>
</a>