<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
        <form role="form">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{docIssueRestriction.id==null?'Add Document Issue Restriction':'Edit Document Issue Restriction'}}</h4>
                    </div>
                    <div>
                        <div class="btngrp">
                            <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                            <button  type="button"  class="btn btn-primary btn-xs btn-property accent-btn" ng-click="submit()">Save</button>
                        </div>
                    </div>
                </div><!--panel head ends-->
                <div class="panel-body pt0 half-master-edit" id="role-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                    <div class="row ptb-15">
                        <div class="col-xs-12">
                            <div show-response></div>
                            <div><span class="reqColor">*</span><small class="opc-5"> Indicates Mandatory fields</small></div>
                        </div>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <div class="row ptb-15">
                                
                                <div class="col-xs-6 col-sm-4">
                                    <label>Location<span>*</span></label>
                                    <div class="select-auto">
                                          
										  <input type="text" class="form-control" id="dirLocation"
										input-focus="true"
										autocomplete="off"  ng-model="docIssueRestriction.locationMaster"
										uib-typeahead="lovObject as lovObject.locationName for lovObject in ajaxLovLocationEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedLocation('dirService')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                                
                                        
                                    </div>
                                    <div>
                                     	<span class="error-message" ng-show="errorMap.get('dirLocation')!=null">
                                      		<small>{{errorMap.get('dirLocation')}}</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <label>Service<span>*</span></label>
                                    <div class="select-auto">
                                          <input type="text" class="form-control" id="dirService"
										 input-focus="{{errorMap.get('dirService')!=null}}" 
										autocomplete="off"  ng-model="docIssueRestriction.serviceMaster" 
										uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedService('dirCheckIssueRestriction')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                                
                                    </div>
                                    <div>
                                     	<span class="error-message" ng-show="errorMap.get('dirService')!=null">
                                      		<small>{{errorMap.get('dirService')}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row line">
                                <hr>
                            </div>
                            <div class="row ptb-15">
                           	    <div class="col-xs-6 col-sm-4">
                                    <label>Check Issue Restriction<span>*</span></label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':docIssueRestriction.enableIssueRestriction}">No</li>
                                        <li class="v-align-top">
                                            <switch tabindex="0" id="dirCheckIssueRestriction" name="dirCheckIssueRestriction" ng-model="docIssueRestriction.enableIssueRestriction" class="green"></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!docIssueRestriction.enableIssueRestriction}">Yes </li>
                                    </ul>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <label>Check Invoice<span>*</span></label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':docIssueRestriction.enableInvoiceChecking}">No</li>
                                        <li class="v-align-top">
                                            <switch   tabindex="0"  id="dirCheckInvoice" name="dirCheckInvoice" ng-model="docIssueRestriction.enableInvoiceChecking" class="green"></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!docIssueRestriction.enableInvoiceChecking}">Yes</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row" ng-show="!chkIn">
                                <div class="col-xs-12">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h4>Exceptional Terms of Shipment</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row ptb-15">
	                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3"
	                                                ng-repeat="tosMaster in tosmasterList" >
	                                               <ul class="list-unstyled">
	                                                   <li>
	                                                   	<input type="checkbox" id="{{'dirTos'+$index}}" class="magic-checkbox" 
		                                                   	checklist-model="docIssueRestriction.tosList" checklist-value="tosMaster" 
		                                                   	checklist-comparator="compareTosFn">
	                                                       <label class="text custom-label" for="{{'dirTos'+$index}}">
	                                                           {{tosMaster.tosName}}
	                                                       </label>
	                                                   </li>
	                                               </ul>
	                                           </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row line ptb-15">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 ptb-15">
                                    <label>Check Credit Limit<span>*</span></label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':docIssueRestriction.enableCreditLimitChecking}">No</li>
                                        <li class="v-align-top">
                                            <switch  tabindex="0" id="dirCheckCreditLimit" name="dirCheckCreditLimit" ng-model="docIssueRestriction.enableCreditLimitChecking" class="green"></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!docIssueRestriction.enableCreditLimitChecking}">Yes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form><!--form ends-->
                </div><!--panel body ends-->
            </div><!--panel ends-->
            </form>
        </div>
    </div>
</div>