<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 40%">
        <div class="modal-content modal_sm">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Copy Schedule</h4>
                    </div>
                    <div class="col-xs-6 mt-7 pr0">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            <li><button type="button" tabindex="4" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="copyFlightPlan()">Copy</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-xs-4">

                        <div class="form-group mb0">
                            <label>Flight Frequency (in Days)<span class="reqColor">*</span></label>
                            <input 	type="text" class="form-control text-right" ng-model="flightPlanCopyDto.flightFrequency">
                                    <span class="error-message" style="color: red;" ng-if="errorMap.get('flightFrequency')!=null">
                           				<small>{{errorMap.get('flightFrequency')}}</small>
                                	</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label>ETD Upto<span class="reqColor">*</span></label>
                        <div class="inputBox">
                            <input tabindex="" type="text" class="form-control" datetimepicker  datetimepicker-options="{{datePickerOptions}}" ng-model="flightPlanCopyDto.effectiveUpto">
                            <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                        	<span class="error-message" style="color: red;" ng-if="errorMap.get('effectiveUpto')!=null">
                           	<small>{{errorMap.get('effectiveUpto')}}</small>
                        	</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
