<div>
    <button tabindex="-1" type="button" class="btn btn-info btn-property mb10 accent-btn"
            ng-click="fnRole({param:addRole})?addRow():''">
        <i class="icon-add"></i> Add Credit
    </button>
    <div ng-style="dropStyle" class="table-responsive">
        <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
            <thead class="borderthead">
            <tr>
                <th class="inl_xs">#</th>
                <th class="inl_l">Location<span class="reqColor">*</span> </th>
                <th class="inl_l">Service<span class="reqColor">*</span></th>
                <th class="inl_l">Division</th>
                <th class="inl_mp">Credit Days<span class="reqColor">*</span></th>
                <th class="inl_mp">Published Credit Days</th>
                <th class="inl_mp">Credit Amount ({{currencyCode}})<span class="reqColor">*</span></th>
                <th class="inl_s">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="partyCredit in tableData track by $index">
                <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
                </td>
                <td data-headtitle="Location" data-required="true" data-width="tw30per">
                    <div class="select-auto">
                        <input type="text" class="form-control" id="locationName{{$index}}"
										input-focus="{{secondArr[$index].creditlocationNameFocus}}" 
										ng-disabled="(!updateRole&&partyCredit.id!=null)" 
										ng-class="{'error-control-auto':secondArr[$index].locationName}" 
										autocomplete="off" ng-model="partyCredit.locationMaster"
										uib-typeahead="lovObject as lovObject.locationName for lovObject in ajaxCreditLocationEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectCreditLocation('serviceCredit'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>


                </td>
                <td data-headtitle="Service" data-required="true" data-width="tw30per">
                    <div class="select-auto">
                        <input type="text" class="form-control" id="serviceCredit{{$index}}"
										ng-class="{'error-control-auto':secondArr[$index].serviceName}" 
										ng-disabled="(!updateRole&&partyCredit.id!=null)" 
										autocomplete="off" ng-model="partyCredit.serviceMaster" 
										uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxCreditServiceEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectServiceName('division'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>

                </td>
                <td data-headtitle="Division"  data-width="tw30per">
                    <div class="select-auto">
                         <input type="text" class="form-control" id="division{{$index}}" 
										ng-class="{'error-control-auto':secondArr[$index].divisionName}" 
										ng-disabled="(!updateRole&&partyCredit.id!=null)"   
										autocomplete="off" ng-model="partyCredit.divisionMaster"
										uib-typeahead="lovObject as lovObject.divisionName for lovObject in ajaxCreditDivisionEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectDivisionName('creditDays'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>

                </td>
                <td data-headtitle="Credit Days" data-required="true" class="clearboth" data-width="tw30per">
                    <input type="text" id="creditDays{{$index}}"  maxlength="3" class="form-control text-right height"
                           ng-change="callValidate()"
                           ng-class="{'error-control':secondArr[$index].creditDays}" ng-model="partyCredit.creditDays"
                           ng-blur="makeTableState()" ng-focus="dirtyIndex($index);"
                           input-focus="{{secondArr[$index].creditDays}}"
                           ng-disabled="(!updateRole&&partyCredit.id!=null)"      />
                </td>
                <td data-headtitle="Published Credit Days" data-width="tw30per">
                    <input type="text"   maxlength="3" class="form-control text-right height"
                           ng-change="callValidate()"
                           ng-class="{'error-control':secondArr[$index].publishCreditDays}" ng-model="partyCredit.publishCreditDays"
                           ng-blur="makeTableState()" ng-focus="dirtyIndex($index);"
                           input-focus="{{secondArr[$index].publishCreditDays}}"
                           ng-disabled="(!updateRole&&partyCredit.id!=null)"       />
                </td>
                <td data-headtitle="Credit Amount" data-required="true" data-width="tw30per">
                    <input type="text"   maxlength="10" class="form-control text-right height last-child"
                           ng-change="callValidate()"
                           ng-class="{'error-control':secondArr[$index].creditAmount}" ng-model="partyCredit.creditAmount"
                           ng-blur="makeTableState()" ng-focus="dirtyIndex($index);"
                           input-focus="{{secondArr[$index].creditAmount}}"
                           ng-disabled="(!updateRole&&partyCredit.id!=null)"       />
                </td>
                <td  data-nofloat="true" data-action="true" ng-if="deleteRole">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);"
                               ng-click="fnRole({param:deleteRole})?removeObj(partyCredit,$index):''">
                               <i class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>