<div>
    <button type="button" class="btn btn-info btn-property mb10 accent-btn" tabIndex="-1"
            ng-click="fnRole({param:addRole})?addRow():''">
        <i class="icon-add"></i> Add Connection
    </button>
    <div ng-style="dropStyle" class="table-responsive">
    <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
        <thead class="borderthead">
        <tr>

            <th class="inl_xs">#</th>
            <th class="inl_mp">Move<span class="reqColor">*</span></th>
            <th class="inl_m">From<span class="reqColor">*</span></th>
            <th class="inl_m">To<span class="reqColor">*</span></th>
            <th class="inl_mp">ETD<span class="reqColor">*</span></th>
            <th class="inl_mp">ETA<span class="reqColor">*</span></th>
            <th class="inl_l">Carrier / Vessel<span class="reqColor">*</span></th>
            <th class="inl_s">Voy / Flt No<span class="reqColor">*</span></th>
            <th class="inl_m">Status</th>
            <th class="inl_s">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="serviceConnection in tableData track by $index">
            <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}"  ng-click="errorShow(secondArr[$index],$index)">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);"  data-placement="right"   bs-tooltip="errorList" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
            </td>
            <td data-headtitle="Move" data-required="true" data-width="tw33per">
                <select class="form-control" id="{{indexKey+'connectionMove'+$index}}"
                        ng-class="{'error-control':secondArr[$index].move}"
                        ng-options="item for item in moveArr"
                        ng-model="serviceConnection.move"
                        input-focus="{{secondArr[$index].move}}"
                        ng-change="changeConnMove(serviceConnection,indexKey+'polConnection'+{{$index}})" ng-disabled="(!updateRole&&serviceConnection.id!=null)" >
                </select>
            </td>
            <td data-headtitle="Port of Loading" data-required="true" data-width="tw33per">
                <div class="select-auto">
					<input type="text" 
						class="form-control" 
						id="{{indexKey+'polConnection'+$index}}"
						autocomplete="off"
                        ng-class="{'error-control-auto':secondArr[$index].pol}"
                        ng-disabled="(!updateRole&&serviceConnection.id!=null)"
						ng-model="serviceConnection.pol"
						uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxConnPolEvent($viewValue)"
						typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
						typeahead-show-hint="true" typeahead-show-loading="true" 
						 typeahead-select-on-exact="true" typeahead-append-to-body="true"
						typeahead-on-select="selectConnections(indexKey+'podConnection'+$index)"
						typeahead-focus-on-select="false"
						typeahead-focus-first="true"
						typeahead-editable="false"
						typeahead-min-length="1" typeahead-wait-ms="500" 
						>
						<span class="select-arrow"><b></b></span>
                </div>



            </td>
            <td data-headtitle="Port of Discharge" data-width="tw33per" data-required="true">
                <div class="select-auto">
					<input type="text" 
						class="form-control" 
						id="{{indexKey+'podConnection'+$index}}"
						autocomplete="off"
                        ng-class="{'error-control-auto':secondArr[$index].pod}"
                        ng-disabled="(!updateRole&&serviceConnection.id!=null)" 
						ng-model="serviceConnection.pod"
						uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxConnPodEvent($viewValue)"
						typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
						typeahead-show-hint="true" typeahead-show-loading="true" 
						 typeahead-select-on-exact="true" typeahead-append-to-body="true"
						typeahead-on-select="selectConnections(indexKey+'etdConnectionDate'+$index)"
						typeahead-focus-on-select="false"
						typeahead-focus-first="true"
						typeahead-editable="false"
						typeahead-min-length="1" typeahead-wait-ms="500" 
						>
						<span class="select-arrow"><b></b></span>
                </div>


             </td>
            <td data-headtitle="ETD" data-width="tw33per" class="clearboth" data-required="true">
                <div class="inputBox">
                    <input  type="text" id="{{indexKey+'etdConnectionDate'+$index}}"
                     ng-class="{'error-control':secondArr[$index].etd}" 
                    class="form-control" ng-model="serviceConnection.etd"  
                     datetimepicker
                       datetimepicker-options="{{directiveDatePickerOpts}}" 
                       ng-focus="openEvent(true)" 
                       ng-blur="openEvent(false)" 
                       date-visible="openDatePicker(param)" 
                       ng-disabled="(!updateRole&&serviceConnection.id!=null)" date-callback="selectConnections(indexKey+'etaConnectionDate'+$index)"  >
                    <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                </div>
            </td>
            <td data-headtitle="ETA" data-width="tw33per" data-required="true">
                <div class="inputBox">
                    <input  type="text" 
                    id="{{indexKey+'etaConnectionDate'+$index}}"
                     class="form-control" ng-class="{'error-control':secondArr[$index].eta}" ng-model="serviceConnection.eta"  datetimepicker
                      date-callback="selectConnections(indexKey+'carrierVessel'+$index)"      datetimepicker-options="{{directiveDatePickerOpts}}" ng-focus="openEvent(true)" ng-blur="openEvent(false)" date-visible="openDatePicker(param)"  ng-disabled="(!updateRole&&serviceConnection.id!=null)">
                    <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                </div>
            </td>
            <td data-headtitle="Carrier / Vessel" data-width="tw33per" data-required="true">
                <div class="select-auto">
					<input type="text" 
						class="form-control" 
						id="{{indexKey+'carrierVessel'+$index}}"
						autocomplete="off"
                        ng-class="{'error-control-auto':secondArr[$index].carrierName}"
                        ng-disabled="(!updateRole&&serviceConnection.id!=null)"
						ng-model="serviceConnection.carrierMaster"
						uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxConnCarrierEvent($viewValue)"
						typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
						typeahead-show-hint="true" typeahead-show-loading="true" 
						 typeahead-select-on-exact="true" typeahead-append-to-body="true"
						typeahead-on-select="selectConnections(indexKey+'voyConnection'+$index)"
						typeahead-focus-on-select="false"
						typeahead-focus-first="true"
						typeahead-editable="false"
						typeahead-min-length="1" typeahead-wait-ms="500" 
						>
						<span class="select-arrow"><b></b></span>
                </div>


            </td>
            <td data-headtitle="Voy / Flt No" data-width="tw33per" class="clearboth" data-required="true">
                <input type="text"  
                id="{{indexKey+'voyConnection'+$index}}"
                 maxlength="10" class="form-control" ng-class="{'error-control':secondArr[$index].flightVoyageNo}" ng-model="serviceConnection.flightVoyageNo"
                        ng-focus="dirtyIndex($index);" ng-disabled="(!updateRole&&serviceConnection.id!=null)"/>
            </td>
            <td data-headtitle="Status" data-width="tw33per">
                <select class="form-control last-child " 
                id="{{indexKey+'status'+$index}}"
                ng-options="item for item in connectionArr"
                    ng-model="serviceConnection.connectionStatus" ng-disabled="(!updateRole&&serviceConnection.id!=null)"></select>
            </td>
            <td data-nofloat="true" data-action="true">
                <ul class="list-inline ">
                    <li><a href="javascript:void(0);"
                           ng-click="fnRole({param:deleteRole})?removeObj(serviceConnection,$index):''">
                           <i class="icon-delete"  data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                </ul>
            </td>
</tr>
</tbody>
</table>
</div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
<div class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header nopadding">
<div class="row plr14px">
    <div class="col-xs-6">
        <h4>Following Error List</h4>
    </div>
    <div class="col-xs-6 mt-7">
        <ul class="list-inline pull-right">
            <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
        </ul>
    </div>
</div>
</div>
<div class="modal-body pt35 pb35">
<ul>
    <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
</ul>
</div>
</div>
</div>
</div>
</script>