<div>

    <button type="button" tabIndex="-1" class="btn btn-info btn-property mb10 accent-btn"
            ng-click="fnRole({param:addRole})?addRow():''">
        <i class="icon-add"></i> Add Events
    </button>
    <div class="table-responsive"  ng-style="dropStyle">
        <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
            <thead class="borderthead">
            <tr>
                <th class="inl_sno">#</th>
                <th class="inl_l">Name<span class="reqColor">*</span></th>
                <th class="inl_sm">Date<span class="reqColor">*</span></th>
                <th class="inl_mp">Follow up Required</th>
                <th class="inl_mpp">Assigned To</th>
                <th class="inl_sm">Follow up Date</th>
                <th class="inl_xs">Completed</th>
                <th class="inl_xs">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="eventObj in tableData track by $index">
                <td data-nofloat="true" ng-class="{'error-cell  text-center':secondArr[$index].errRow}">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
                </td>
                <td data-headtitle="Name" data-required="true" data-width="tw33per">
                    <div class="select-auto">
						<input type="text" 
							class="form-control" 
							id="{{indexKey+'eventMaster'+$index}}"
                            input-focus="{{secondArr[$index].eventMaster || (firstFocus && $index==0)}}"
                            ng-class="{'error-control-auto':secondArr[$index].eventMaster}"
                            ng-disabled="eventObj.id!=null"
							autocomplete="off"
							ng-model="eventObj.eventMaster"
							uib-typeahead="lovObject as lovObject.eventName for lovObject in getEventNotInList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="nextToFocus(indexKey+'eventDateTab'+$index);setIsCompleted(eventObj)"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
							>
						<span class="select-arrow"><b></b></span>	
                    </div>
                </td>
                <td data-headtitle="Date" data-required="true" data-width="tw33per">
                    <div class="inputBox">
                        <input  type="text" id="{{indexKey+'eventDateTab'+$index}}"  
                                ng-class="{'error-control':secondArr[$index].eventDate}" 
                                class="form-control" 
                                ng-model="eventObj.eventDate"  
                                date-callback="nextToFocus(indexKey+'followUpReqEvent'+$index)"
                                datetimepicker
                                datetimepicker-options="{{directiveDatePickerOpts}}" 
                                ng-focus="openEvent(true)" 
                                ng-disabled="eventObj.id!=null"
                                ng-blur="openEvent(false)"  date-visible="openDatePicker(param)">
                        <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                    </div>

                </td>
                <td data-headtitle="Follow up Required" data-width="tw33per">
                        <select id="{{indexKey+'followUpReqEvent'+$index}}"
                                class="form-control" 
                                ng-change="nextToFocus(indexKey+'followUpRequiredInput'+$index)"
                                ng-class="{'error-control':secondArr[$index].followUpRequired}"
                                ng-options="item.title as item.title for item in toggleArr"
                                ng-disabled="eventObj.id!=null && eventObj.id!=-1"
                                ng-model="eventObj.followUpRequired"
                                ng-focus="dirtyIndex($index);">
                        </select>
                    </td>
                <td data-headtitle="Assigned To" class="clearboth" data-width="tw33per">
                    <div class="select-auto">
						<input type="text" 
							class="form-control" 
							id="{{indexKey+'followUpRequiredInput'+$index}}"
                            ng-class="{'error-control-auto':secondArr[$index].assignedTo}"
                            ng-disabled="eventObj.followUpRequired==false || eventObj.followUpRequired=='No'"
							autocomplete="off"
							ng-model="eventObj.assignedTo"
							ng-style="{'z-index': 1050 + index*10, display: 'block'}"
							uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxAssignedToEvent($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-on-select="nextToFocus(indexKey+'followupdate'+$index)"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
							ng-change="nextToFocus(indexKey+'assignedToEventTab'+$index)"
							>
						<span class="select-arrow"><b></b></span>	
                    </div>


                </td>
                <td data-headtitle="Follow up Date" data-width="tw33per">
                    <div class="inputBox">
                    <input  type="text" id="{{indexKey+'followupdate'+$index}}"
                    ng-disabled="eventObj.followUpRequired==false || eventObj.followUpRequired=='No'"
                                ng-class="{'error-control':secondArr[$index].followUpDate}"
                                class="form-control" 
                                ng-model="eventObj.followUpDate" 
                                datetimepicker 
                                date-callback="nextToFocus(indexKey+'completedEvent'+$index)"
                                datetimepicker-options="{{directiveDatePickerOpts}}"
                                ng-focus="openEvent(true)" 
                                ng-blur="openEvent(false)"  date-visible="openDatePicker(param)">
                        <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                    </div>
                </td>
                <td data-headtitle="Completed" data-width="tw33per">
                    <select 
                    id="{{indexKey+'completedEvent'+$index}}"
                            class="form-control last-child"
                            ng-class="{'error-control':secondArr[$index].isCompleted}"
                            ng-options="item.title as item.title for item in toggleArr"
                            ng-model="eventObj.isCompleted"
                           ng-disabled="eventObj.id!=null && eventObj.id!=-1"
                            ng-focus="dirtyIndex($index);">
                    </select>
                </td>
                <td data-nofloat="true" data-action="true" class="verticalaln">
                    <ul class="list-inline" ng-show="eventObj.id==null">
                        <li><a href="javascript:void(0);"
                               ng-click="fnRole({param:deleteRole})?removeObj(eventObj,$index):''">
                            <i class="icon-delete delicon" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

</div><!--body ends-->