<div class="col-xs-12  ">
    <div class="row nomargin">
        <div class="col-xs-12 nopadding mt10">
        
        <div class="col-md-8 pl0">
            <button tabIndex="-1" type="button" class="btn btn-primary btn-xs btn-property accent-btn mt-5" ng-click="fnRole({param:addRole})?addRow():''"><i class="icon-add opcfull"></i> Add Charge</button>
            
             <button tabIndex="-1" type="button" class="btn btn-primary btn-xs btn-property  accent-btn mt-5 " ng-click="fnRole({param:fetchRole})?fetchCharge():''">Get Charges from pricing</button> 
            
           <button tabIndex="-1" type="button" class="btn btn-primary btn-xs btn-property  accent-btn mt-5 " ng-if="dependCarrierData.id!=undefined && dependCarrierData.id>0" ng-click="showChargeHistory(dependCarrierData.id);">Charge History</button> 
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
          <div class="pull-right">
                                                                <label>All Inclusive</label>
                                                                <ul class="list-inline"  >
																	<li ng-class="{'opc-5':dependCarrierData.isAllInclusiveCharges}">No</li>
																	<li class="v-align-top">
																		<switch id="{{$index+'allInclusive'}}"  tabindex="-1" ng-model="dependCarrierData.isAllInclusiveCharges" class="green"></switch>
																	</li>
																	<li ng-class="{'opc-5':!dependCarrierData.isAllInclusiveCharges}">Yes</li>
																</ul>
                                                            </div>
                                                            </div>
       
 		</div>
    </div>
    <div class="pad-5 pl0 table-responsive"  ng-style="dropStyle">
        <table class="table table-inline-nopad mb0" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
            <thead>
            <tr>
                <th rowspan="2" class="inl_sno">#</th>
                <th rowspan="2" class="inl_s">Charge Code<span class="reqColor">*</span> </th>
                <th rowspan="2" class="inl_mp">Charge Name<span class="reqColor">*</span></th>
                <th rowspan="2" class="inl_s">Currency<span class="reqColor">*</span></th>
                <th rowspan="2" class="inl_xs">ROE<span class="reqColor">*</span></th>
                <th rowspan="2" class="inl_s">Unit<span class="reqColor">*</span></th>
                <th rowspan="2" class="inl_s">No of Units</th>
                <th colspan="2" class="text-center bor-b-0"><b>Sell Rate</b></th>
                <th ng-show="buyRateAccess" colspan="2" class="text-center bor-b-0"><b>Buy Rate</b></th>
                <th rowspan="2" class="inl_m">Actual Weight</th>
                <th rowspan="2" class="inl_xs" style="width:7%">Action</th>
            </tr>
            <tr >
                <th colspan="1" class="text-right inl_sm">Amt per Unit<span class="reqColor">*</span></th>
                <th colspan="1" class="text-right inl_s">Min Amount</th>
                <!-- <th colspan="1" class="text-right inl_s">Rate Amount</th> -->
        		<!-- <th colspan="1" class="text-right inl_s">Local Amount</th> -->
                <th ng-show="buyRateAccess" colspan="1" class="text-right inl_s">Cost per Unit</th>
                <th ng-show="buyRateAccess" colspan="1" class="text-right inl_s">Min Cost</th>
                <!-- <th colspan="1" class="text-right inl_s">Cost Amount</th> -->
        		 <!-- <th ng-show="buyRateAccess" colspan="1" class="text-right inl_s">Local Amount</th>  -->
            </tr>
            </thead>
            <tbody ng-repeat = "charge in tableData track by $index">
            <tr>
				<td  data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                        <span ng-show="secondArr[$index].errRow" >
                             <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList"
                             	ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                 <img src="../../../../assets/images/error.png"/>
                             </a>
                         </span>
                        <span ng-show="!secondArr[$index].errRow">
                            {{$index+1}}
                        </span>
                </td>
                <td data-headtitle="Charge Code" data-required="true" data-width="tw30per">
                    <div class="select-auto">

							<input type="text" class="form-control"
								ng-class="{'error-control-auto':secondArr[$index].chargeCode}"
								input-focus="{{secondArr[$index].chargeFocus}}"
								id="{{indexKey + 'chargeCodeField'+$index}}" autocomplete="off"
								ng-disabled="(!updateRole && charge.id!=null)"
								tabindex="{{btnIndex}}" ng-model="charge.chargeMaster"
								uib-typeahead="lovObject as lovObject.chargeCode for lovObject in localSearch($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratetemplate.html"
								typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratepopup.html"
								typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectChargeQuotation(charge, $index);"
								ng-change="clearChargeName(charge)"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="Charge Name" data-required="true" data-width="tw30per">
                    <input  type="text" id="{{indexKey + 'chargeNameQuotation'+$index}}" class="form-control"
                            ng-class="{'error-control':secondArr[$index].chargeName}"
                            ng-model="charge.chargeName"   ng-focus="dirtyIndex($index);"
                            input-focus="{{secondArr[$index].chargeNameFocus}}"
                            maxlength="100" tabindex = "{{btnIndex}}"
                            ng-disabled="(!updateRole && charge.id!=null)"/>
                </td>
                <td data-headtitle="Currency" data-required="true" data-width="tw30per">
                    <div class="select-auto">
						<input type="text" 
							class="form-control"
							id="{{indexKey + 'chargeCurrency'+$index}}"
							ng-class="{'error-control-auto':secondArr[$index].currency}"
							ng-disabled="(!updateRole && charge.id!=null)"
							autocomplete="off"
							tabindex = "{{btnIndex}}"
							ng-model="charge.currencyMaster"
							uib-typeahead="lovObject as lovObject.currencyCode for lovObject in localCurrencySearch($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedCurrency('currencyRoe',$index,charge);" 
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
							>
							<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                 <td data-headtitle="ROE" data-width="tw30per" data-required="true">
                                <input  type="text"  
                                id="{{indexKey + 'currencyRoe'+$index}}"
                                		ng-change="calculateAmt(dataObj)" 
                                		class="form-control text-right" 
                                		ng-blur="moveToNextField('unitMaster',$index) "
                                		ng-class="{'error-control':secondArr[$index].roe}" 
                                		ng-model="charge.roe"     
                                        input-focus="{{secondArr[$index].roe}}"
								/>
                   </td>
                <td data-headtitle="Unit" data-required="true"  class="clearboth" data-width="tw30per">
                    <div class="select-auto">
						<input type="text" 
						 	id = "{{indexKey + 'unitMaster'+$index}}"
							class="form-control"
							ng-class="{'error-control-auto':secondArr[$index].unit}"
                            ng-disabled="(!updateRole && charge.id!=null)"
							autocomplete="off"
							tabindex = "{{btnIndex}}"
							ng-model="charge.unitMaster"
							uib-typeahead="lovObject as lovObject.unitCode for lovObject in localUnitSearch($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedUnitMaster('numberOfUnit',$index);" 
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
							>
							<span class="select-arrow"><b></b></span>
                    </div>
                </td>

                <td data-headtitle="No of Units" data-width="tw30per">
                    <select id = "{{indexKey + 'numberOfUnit'+$index}}" class="form-control"
                    		input-focus="{{secondArr[$index].numberOfUnit}}"
                    		ng-class="{'error-control':secondArr[$index].numberOfUnit}"
                    		tabindex = "{{btnIndex}}"
                    		ng-model="charge.numberOfUnit"
                    		ng-options="item as item for item in numberOfUnitsList"
                    		ng-disabled="(!updateRole && charge.id!=null)"
                    		ng-change="moveToNextField('sellRateAmountPerUnit',$index)"
                    		>
                    </select>
                 </td>
                <td  data-headtitle="Amt per Unit" data-group="Sell Rate" data-width="tw30per" class="text-right clearboth">
                    <input  id = "{{indexKey + 'sellRateAmountPerUnit'+$index}}"
                    		type="text" 
                    		class="form-control text-right" 
                    		efsdecimals="charge.currencyMaster.decimalPoint" 
                    		efsdecimal-point="charge.currencyMaster.countryMaster.locale"
                    		ng-class="{'error-control':secondArr[$index].sellRateAmountPerUnit}" 
                    		maxlength="15" 
                    		ng-model="charge.sellRateAmountPerUnit"   
                    		ng-focus="dirtyIndex($index);"
                            input-focus="{{secondArr[$index].sellRateAmountPerUnitFocus}}" 
                            tabindex = "{{btnIndex}}"
                            ng-disabled="(!updateRole && charge.id!=null)"
                            />
                </td>
                <td data-headtitle="Min Amount" data-group="Sell Rate" data-grouphide="true" data-width="tw30per" class="text-right">
                        <input type="text"
						class="form-control text-right" tabindex="{{btnIndex}}"
						efsdecimals="charge.currencyMaster.decimalPoint" 
						ng-class="{'error-control':secondArr[$index].sellRateMinAmount, 'last-child':!charge.surChargeFlag && !buyRateAccess}"
                    		efsdecimal-point="charge.currencyMaster.countryMaster.locale"
						ng-class="{'error-control':secondArr[$index].sellRateMinAmount}"
						maxlength="15" ng-model="charge.sellRateMinAmount"
						ng-focus="dirtyIndex($index);"
						input-focus="{{secondArr[$index].sellRateMinAmountFocus}}"
						ng-disabled="(!updateRole && charge.id!=null)" />
					</td>
					
					<!-- <td data-headtitle="Sell Amount" data-width="tw30per" data-group="Sell Rate" data-grouphide="true" class="text-right ">
                        <input type="text"
						class="form-control text-right"
						ng-class="{'error-control':secondArr[$index].sellRateAmount}"
						efsdecimals="charge.currencyMaster.decimalPoint" 
						efsdecimal-point="charge.currencyMaster.countryMaster.locale"
						maxlength="15" ng-model="charge.sellRateAmount"
						ng-focus="dirtyIndex($index);"
						tabindex="{{btnIndex}}"
						ng-disabled="true" />
					</td> -->
					
					<!-- <td data-headtitle="Local Amount" data-width="tw30per" data-group="Sell Rate" data-grouphide="true" class="text-right ">
                        <input type="text"
						class="form-control text-right"
						ng-class="{'error-control':secondArr[$index].sellRateLocalAmount}"
						efsdecimals="charge.currencyMaster.decimalPoint" 
						efsdecimal-point="charge.currencyMaster.countryMaster.locale"
						maxlength="15" ng-model="charge.sellRateLocalAmount"
						ng-focus="dirtyIndex($index);"
						tabindex="{{btnIndex}}"
						ng-disabled="true" />
					</td> -->
					
					
                <td ng-show="buyRateAccess" data-headtitle="Cost per Unit" data-width="tw30per" data-group="Buy Rate" class="text-right clearboth ">
                        <input type="text"
						class="form-control text-right"
						ng-class="{'error-control':secondArr[$index].buyRateCostPerUnit}"
						efsdecimals="charge.currencyMaster.decimalPoint" 
                    		efsdecimal-point="charge.currencyMaster.countryMaster.locale"
						maxlength="15" ng-model="charge.buyRateCostPerUnit"
						ng-focus="dirtyIndex($index);"
						input-focus="{{secondArr[$index].buyRateCostPerUnitFocus}}"
						tabindex="{{btnIndex}}"
						ng-disabled="(!updateRole && charge.id!=null)" />
					</td>
                <td ng-show="buyRateAccess" data-headtitle="Min Cost" data-width="tw30per" data-group="Buy Rate" data-grouphide="true" class="text-right ">
                        <input type="text"
						class="form-control text-right"
						ng-class="{'error-control':secondArr[$index].buyRateMinCost, '':charge.unitMaster.unitType!='Unit','last-child':!charge.surChargeFlag}"
						efsdecimals="charge.currencyMaster.decimalPoint" 
                    		efsdecimal-point="charge.currencyMaster.countryMaster.locale"
						maxlength="15" ng-model="charge.buyRateMinCost"
						ng-focus="dirtyIndex($index);"
						input-focus="{{secondArr[$index].buyRateMinCostFocus}}"
						tabindex="{{btnIndex}}"
						ng-disabled="(!updateRole && charge.id!=null)" />
					</td>
					<!-- <td data-headtitle="Cost Amount" data-width="tw30per" data-group="Buy Rate" data-grouphide="true" class="text-right ">
                        <input type="text"
						class="form-control text-right"
						ng-class="{'error-control':secondArr[$index].buyRateCostAmount}"
						efsdecimals="charge.currencyMaster.decimalPoint" 
						efsdecimal-point="charge.currencyMaster.countryMaster.locale"
						maxlength="15" ng-model="charge.buyRateCostAmount"
						ng-focus="dirtyIndex($index);"
						tabindex="{{btnIndex}}"
						ng-disabled="true" />
					</td> -->
					<!-- <td ng-show="buyRateAccess" data-headtitle="Cost Amount" data-width="tw30per" data-group="Buy Rate" data-grouphide="true" class="text-right ">
                        <input type="text"
						class="form-control text-right"
						ng-class="{'error-control':secondArr[$index].buyRateCostLocalAmount!=null}"
						efsdecimals="charge.currencyMaster.decimalPoint" 
						efsdecimal-point="charge.currencyMaster.countryMaster.locale"
						maxlength="15" ng-model="charge.buyRateCostLocalAmount"
						ng-focus="dirtyIndex($index);"
						tabindex="{{btnIndex}}"
						ng-disabled="true" />
					</td> -->
					
                <td data-headtitle="Actual Weight" data-width="tw30per" class="clearboth">
						<select 
							input-focus="{{secondArr[$index].actualchargeableFocus}}"
							class="form-control"
							ng-class="{'error-control':secondArr[$index].actualchargeable,'last-child':charge.surChargeFlag}"
							ng-options="item.id as item.title for item in chargeType"
							ng-model="charge.actualchargeable" ng-focus="dirtyIndex($index);"
							tabindex="{{btnIndex}}"
							ng-disabled="!charge.surChargeFlag">
						</select>
					</td>
                <td  data-nofloat="true" data-action="true">
						<ul class="list-inline">
							<li>
                                <a href="javascript:void(0);" class="form-control ptb4"  tabindex="-1"
                                   ng-click="fnRole({param:addRole})?copyObj(charge):''">
                                   <i class="icon-copy" bs-tooltip="copy"></i>
                                </a>
                            </li>
							<li data-placement="right"   bs-tooltip="deleteIcon">
							<a href="javascript:void(0);" tabindex="-1" class="form-control ptb4"
								   ng-click="fnRole({param:deleteRole})?removeObj(charge,$index):''">
								<i class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a>
							</li>
							
							<li ng-hide="true">
                                <input type="checkbox" tabindex="-1" title="{{charge.groupName}}" ng-model="charge.isGroup" ng-click="showGroupPopup($index)">
                            </li>
						</ul>
					</td>
				</tr>

            </tbody>
        </table>
    </div>

</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="isGroupName.html">
    <div class="modal" role="dialog" id="isGroupName">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Group Name</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="cancel()">Cancel</button> </li>
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="save(groupName)">Save</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">
                   <div class="row">
                       
                       <div class="col-xs-12">
                           <div class="form-group">
                             
                               <input class="form-control" id="groupName" 
                                         ng-model="groupName"
                                         maxlength="100">
                				</input>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</script>
