<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Charge History</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide();initialPage();">Close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                   <div class="row nomargin pt-15 noborder shade3">
                   
                       <div class="row nomargin">
         <div class="col-xs-6 pl0">
         </div>
        </div>
   <div >
       <table class="table table-inline-nopad mb0" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
            <thead>
            <tr>
                <th rowspan="2" class="inl_sno">#</th>
                <th rowspan="2" class="inl_s">Revision Type</th>
                <th rowspan="2" class="inl_m">Revised Date</th>
                <th rowspan="2" class="inl_s">Charge Code<span class="reqColor">*</span> </th>
                <th rowspan="2" class="inl_mp">Charge Name<span class="reqColor">*</span></th>
                <th rowspan="2" class="inl_s">Currency<span class="reqColor">*</span></th>
                <th rowspan="2" class="inl_xs">ROE<span class="reqColor">*</span></th>
                <th rowspan="2" class="inl_s">Unit<span class="reqColor">*</span></th>
                <th rowspan="2" class="inl_s">No of Units</th>
                <th colspan="2" class="text-center bor-b-0"><b>Sell Rate</b></th>
                <th colspan="2" class="text-center bor-b-0"><b>Buy Rate</b></th>
                <th rowspan="2" class="inl_m">Actual Weight</th>
            </tr>
            <tr>
                <th colspan="1" class="text-right inl_sm">Amt per Unit<span class="reqColor">*</span></th>
                <th colspan="1" class="text-right inl_s">Min Amount</th>
                <!-- <th colspan="1" class="text-right inl_s">Rate Amount</th> -->
        		<!-- <th colspan="1" class="text-right inl_s">Local Amount</th> -->
                <th colspan="1" class="text-right inl_s">Cost per Unit</th>
                <th colspan="1" class="text-right inl_s">Min Cost</th>
                <!-- <th colspan="1" class="text-right inl_s">Cost Amount</th> -->
        		<!-- <th colspan="1" class="text-right inl_s">Local Amount</th> -->
            </tr>
            </thead>
            <tbody ng-repeat = "charge in auditArr track by $index">
            <tr>
                <td  data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                        <span ng-show="secondArr[$index].errRow" >
                             <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList"
                             	ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                 <img src="../../../../assets/images/error.png"/>
                             </a>
                         </span>
                        <span ng-show="!secondArr[$index].errRow">
                            {{$index+1}}
                        </span>
                </td>
                 <td data-headtitle="Reveison type" data-required="true" data-width="tw30per">
                 {{charge.revisionType | AuditFilter}}
                </td>
                <td data-headtitle="Reveision date" data-required="true" data-width="tw30per">
                {{$root.dateAndTimeToString(charge.auditDate)}}
                </td>
                <td data-headtitle="Charge Code" data-required="true" data-width="tw30per">
                   {{charge.chargeMaster.chargeCode}}
                </td>
                <td data-headtitle="Charge Name" data-required="true" data-width="tw30per">
                    {{charge.chargeName}}
                </td>
                <td data-headtitle="Currency" data-required="true" data-width="tw30per">
                    {{charge.currencyMaster.currencyCode}}
                </td>
                 <td data-headtitle="ROE" data-width="tw30per" data-required="true" class="text-right">
                                {{$root.weightFormat(charge.roe,charge.currencyMaster.countryMaster.locale)}}
                   </td>
                <td data-headtitle="Unit" data-required="true"  class="clearboth" data-width="tw30per">
                    {{charge.unitMaster.unitCode}}
                </td>

                <td data-headtitle="No of Units" data-width="tw30per">
                    {{charge.numberOfUnit}}
                 </td>
                <td  data-headtitle="Amt per Unit" data-group="Sell Rate" data-width="tw30per" class="text-right clearboth">
                    {{$root.weightFormat(charge.sellRateAmountPerUnit,charge.currencyMaster.countryMaster.locale)}}
                </td>
                <td data-headtitle="Min Amount" data-group="Sell Rate" data-grouphide="true" data-width="tw30per" class="text-right">
                        {{$root.weightFormat(charge.sellRateMinAmount,charge.currencyMaster.countryMaster.locale)}}
					</td>
					
					<!-- <td data-headtitle="Sell Amount" data-width="tw30per" data-group="Sell Rate" data-grouphide="true" class="text-right ">
                        <input type="text"
						class="form-control text-right"
						ng-class="{'error-control':secondArr[$index].sellRateAmount}"
						efsdecimals="charge.currencyMaster.decimalPoint" 
						efsdecimal-point="charge.currencyMaster.countryMaster.locale"
						maxlength="15" ng-model="charge.sellRateAmount"
						ng-focus="dirtyIndex($index);"
						tabindex="{{btnIndex}}"
						ng-disabled="true" />
					</td> -->
					<!-- 
					<td data-headtitle="Local Amount" data-width="tw30per" data-group="Sell Rate" data-grouphide="true" class="text-right ">
                        {{charge.sellRateLocalAmount}}
					</td> -->
					
					
                <td data-headtitle="Cost per Unit" data-width="tw30per" data-group="Buy Rate" class="text-right clearboth ">
                        {{$root.weightFormat(charge.buyRateCostPerUnit,charge.currencyMaster.countryMaster.locale)}}
					</td>
                <td data-headtitle="Min Cost" data-width="tw30per" data-group="Buy Rate" data-grouphide="true" class="text-right ">
                       {{$root.weightFormat(charge.buyRateMinCost,charge.currencyMaster.countryMaster.locale)}}
					</td>
					<!-- <td data-headtitle="Cost Amount" data-width="tw30per" data-group="Buy Rate" data-grouphide="true" class="text-right ">
                        <input type="text"
						class="form-control text-right"
						ng-class="{'error-control':secondArr[$index].buyRateCostAmount}"
						efsdecimals="charge.currencyMaster.decimalPoint" 
						efsdecimal-point="charge.currencyMaster.countryMaster.locale"
						maxlength="15" ng-model="charge.buyRateCostAmount"
						ng-focus="dirtyIndex($index);"
						tabindex="{{btnIndex}}"
						ng-disabled="true" />
					</td> -->
					<!-- <td data-headtitle="Cost Amount" data-width="tw30per" data-group="Buy Rate" data-grouphide="true" class="text-right ">
                       {{charge.buyRateCostLocalAmount}}
					</td> -->
					
                <td data-headtitle="Actual Weight" data-width="tw30per" class="clearboth">
						{{charge.actualchargeable | chargeType}}
					</td>
				</tr>

            </tbody>
        </table>
                
                    </div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
                    </div>
                    </div>
                </div>
            </div><!--body ends-->


<!--             <div class="modal-footer modfooter">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="flightScheduleLimit"
                                                        ng-change="flightScheduleLimitChange(flightScheduleLimit)" ng-options="v for v in flightScheduleLimitArray">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <pagination-dr  page="flightSchedulePage" size="flightScheduleLimit" total=flightScheduleTotalRecord page-change="flightScheduleChangePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                                         -->
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


