<div class="container-fluid ">
	<div class="row ml0 mr0" data-ng-controller="reportsCtrl" ng-init="init()">
		<div ng-show="deskTopView" class="list-container col-md-12 col-lg-7 col-xs-12 col-sm-12 ">
			<div class="panel panel-default">
				<client-error message="clientMessage"></client-error>
				<div show-response></div>
				<div class="panel-body only-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table data="reportArr" head="reportHeadArr" sort="sortSelection" click-event="rowSelect(param);" search-event="changeSearch(param)"
						    sort-event="sortChange(param)" page="page" size="limit">
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChange(limit)" ng-options="v for v in limitArr">

								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right"></pagination-dr>
					</div>
				</div>
			</div>
			<!--panel ends-->
		</div>
		<div class="detail-container col-md-12 col-lg-5 col-xs-12 col-sm-12   m-pl0 ">
			<div class="panel panel-default detail-transition" ng-show="reportLabelShow">
				<div class="panel-heading">
					<div class="pull-left">
						<div class="panelTitle">
							<span>
								<a data-placement="bottom" bs-tooltip="close" href="javascript:void(0)" ng-click="cancelArr()" class="list-panel-back">
									<i class="icon-back-menu"></i>
								</a>
							</span>
							<span>{{reportObject.reportName}}</span>
						</div>
					</div>
					<div class="pull-right text-right">
						<ul class="list-inline text-right">

							<li>
								<button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="reportModal(reportObject.reportKey,reportObj)">
									Generate
								</button>
							</li>
						</ul>
					</div>
				</div>

				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view">
						<div class="row nopadding  ">
							<div class="pt7 pb0 plr15">
								<div show-response></div>
								<div>
									<span class="reqColor">*</span>
									<small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
								</div>
							</div>
						</div>
						<form name="reportForm" novalidate>
							<div class="row nopadding bor-0">
								<!-- //ng-repeat="rowObj in reportRowObject" -->
								<div class="ptb-15" ng-repeat="field in reportRowObject" ng-class="field.colWidth">
									<label>{{field.labelName}}
										<span ng-if="field.required" class="reqColor">*</span>
									</label>
									<div ng-if="field.dataType=='INPUT'">
										<input ng-model="reportObj[field.modelName]" id="{{field.modelName}}" name="{{field.modelName}}" type="{{field.htmlType}}"
										    class="form-control" ng-minlength="field.minLength" ng-maxlength="field.maxLength" required={{field.required}}
										/>
									</div>
									<div class="inputBox" type="text" ng-if="field.dataType=='DATE' ">
										<input class="form-control" id="{{field.modelName}}" name="field.modelName" required={{field.required}} ng-model="reportObj[field.modelName]"
										    datetimepicker date-callback="navigateTo(field.modelName)" datetimepicker-options="{{field.dataType=='DATE'?directiveDatePickerOpts:dateTimePickerOptions}}">
										<span class="inputIcon">
											<i class="icon-date" aria-hidden="true"></i>
										</span>
										<div ng-if="field.required">
											<span class="error-message" ng-show=" errorMap.get{{'reportForm.'+field.modelName+'.$dirty && reportForm.'+field.modelName+'.$error.required'}}">
												<small>
													<!-- {{field.labelName}} is mandatory -->
												</small>
											</span>
										</div>
									</div>
									<div class="inputBox" ng-if="field.dataType=='TIME'">
										<input class="form-control" id="{{field.modelName}}" name="{{field.modelName}}" required={{field.required}} ng-model="reportObj[field.modelName]"
										    datetimepicker date-callback="nextFocus('item')" datetimepicker-options="{{timePickerOptions}}">
										<span class="inputIcon">
											<i class="icon-date" aria-hidden="true"></i>
										</span>
									</div>
									<div ng-if="field.dataType=='USERDEFINED'">
										<select name="{{field.modelName}}" required={{field.required}} id="{{field.modelName}}" class="col-xs-12" ng-options="item for item in field.userdefinedArray"
										    ng-model="reportObj[field.modelName]"></select>
									</div>
									<div ng-if="field.dataType=='BOOLEAN'">
										<ul class="list-inline">
											<li ng-class="{'opc-5':reportObj[field.modelName]}">Yes</li>
											<li class="v-align-top">
												<switch id="{{field.modelName}}" name="{{field.modelName}}" ng-model="reportObj[field.modelName]" class="green rel"></switch>
											</li>
											<li ng-class="{'opc-5':!reportObj[field.modelName]}">No</li>
										</ul>

									</div>
									<div ng-if="field.dataType=='CHECKBOX'">
										<ul ng-class="field.listStyle">
											<li ng-repeat="checkboxObj in field.staticmaster">
												<input type="checkbox" ng-checked="selection.indexOf(checkboxObj) > -1" ng-click="toggleSelection(checkboxObj,field.modelName)"
												    name="{{field.modelName}}" class="magic-checkbox" id="{{checkboxObj.name}}">
												<label class="text custom-label" for="{{checkboxObj.name}}">
													{{checkboxObj.name}}
												</label>
											</li>
										</ul>
									</div>
									<div ng-if="field.dataType=='LOV'" class="select-auto">
										<input type="text" auto-complete class="form-control" name="{{field.modelName}}" selected-value="{{field.selectedValue}}"
										    id="{{field.modelName}}" ng-model="reportObj[field.modelName]" call-fun="generalAjax(param,field.dataType,field.labelName)"
										    on-select="selectedLov(reportObj[field.modelName], field.modelName);validateReportsFormData(reportObj[field.modelName],'LOV',field.modelName)"
										    required={{field.required}} for-dynamic="true" />
									</div>
									<div ng-if="field.required">
										<span class="error-message" ng-show=" {{'reportForm.'+field.modelName+'.$dirty && reportForm.'+field.modelName+'.$error.required'}}">
											<small>
												<!-- {{field.labelName}} is mandatory -->
											</small>
										</span>
									</div>
									<div ng-if="field.blocked">
										<span class="error-message" ng-show=" {{'reportForm.'+field.modelName+'.$dirty && reportForm.'+field.modelName+'.$error.required'}}">
											<small>
												{{field.labelName}} is Blocked
											</small>
										</span>
									</div>

								</div>
							</div>
							<!--{{reportObj|json}}-->

						</form>

						<div class="logs-view logs-transition" ng-show="showHistory">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="pull-left">
										<div class="panelTitle">
											<span>
												<a href="javascript:void(0)" ng-click="showHistory=!showHistory" class="list-panel-back">
													<i class="icon-close-detail" data-placement="bottom" bs-tooltip="close"></i>
												</a>
											</span>
											<span>Activity</span>
										</div>
									</div>
								</div>
								<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
									<div class="card">

										<ul class="list-inline card-cell">
											<li>
												<div class="cardhexagon">
													<span class="cardName">:)</span>
												</div>
											</li>
											<li>
												<ul class="list-unstyled">
													<li>
														<b>{{commodityMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
													<li class="span text-muted">{{dateAndTimeToString(commodityMaster.systemTrack.createDate)}}</li>
												</ul>
											</li>
										</ul>

									</div>

									<div class="card">
										<ul class="list-inline card-cell">
											<li>
												<div class="cardhexagon">
													<span class="cardName">:)</span>
												</div>
											</li>
											<li>
												<ul class="list-unstyled">
													<li>
														<b>{{commodityMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
													<li class="span text-muted">{{dateAndTimeToString(commodityMaster.systemTrack.lastUpdatedDate)}}</li>
												</ul>
											</li>
										</ul>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>