<div id="wrapper">
    <app-bar></app-bar>
    <iconbar-menu ng-show="menuState" class="iconmenu-transition"></iconbar-menu>
    <sidebar-menu stop-animation ng-show="!menuState && sidebarState" class="sidebar-transition"></sidebar-menu>
    <subbar-menu stop-animation ng-show="(!menuState || toolbarState) && !sidebarState" class="sidebar-transition"></subbar-menu>
    <div id="layout-container">
            <tab-trap>
                <div id="main-view" class="resLpage resPpage resPiPadpage" ui-view></div>
            </tab-trap>
            <div class="wrapper-back-drop hide-transition" ng-show="!menuState || recentDocsToggle" ng-click="overlayClick()"></div>
    </div>
    <div ng-show="menuState && recentDocsToggle" class=" recent-docs logs-transition">
        <div class="row nomargin">
            <!--header-->
            <div class="col-xs-12 ptb-15 headerbar" ng-init="Tabs='currentTab'">
                <div class="flex align-center align-middle">
                    <div class="mt10">
                        <span title="Close" class="icon-close labelleft" ng-click="recentDocHide()"></span>
                        <div class="btn-group">
                            <button type="button" class="btn" ng-class="Tabs=='currentTab'?'active':'btn-normal'" ng-click="Tabs='currentTab'">Currently Open</button>
                            <button type="button" class="btn" ng-class="Tabs=='recentTab'?'active':'btn-normal'" ng-click="Tabs='recentTab'">Recent</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 borbtm1" style="padding: 8px 15px" ng-show="Tabs=='currentTab'">
                <div class="checkbox pull-right nomargin">
                    <input class="magic-checkbox" type="checkbox" ng-model="byGroup" id="bygroup">
                    <label class="text custom-label text-inherit m-text-left" for="bygroup">
                        By Group
                    </label>
                </div>
            </div>
            <div class="col-xs-12 borbtm1" style="padding: 8px 15px" ng-show="Tabs=='recentTab'">
                <ul class="list-inline pull-right">
                    <li>
                        <div class="checkbox nomargin">
                            <input class="magic-checkbox" type="checkbox" ng-model="regroup" ng-click="groupByRecentHistory(regroup);" id="regroup">
                            <label class="text custom-label text-inherit m-text-left" for="regroup">
                                By Group
                            </label>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);"  class="label-clear" ng-click="deleteHistory()">clear all</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row nomargin">
            <div ng-show="Tabs=='currentTab'" class="col-xs-12 nopadding recent-doc" panel-height>
                <div class="row nomargin" ng-show="!byGroup">
                    <div class="col-xs-12 nopadding">
                        <ul class="list-group">
                            <a href="javascript:void(0);" ng-click="goBackByParticularPage(current)" class="list-group-item" ng-repeat="current in unfinishedFormHistoryList  | orderBy:'date' :true track by $index">
                                <div class="flex align-justify align-baseline">
                                    <div class="col-xs-8 pr0">
                                        <h4 class="mt0">{{current.title}}</h4>
                                        <h5 class="heading">{{current.subTitle}}</h5>
                                    </div>
                                    <div class="col-xs-4 pr0 pl0">
                                        <ul class="list-unstyled text-right list">
                                            <li>
                                                <ul class="list-inline"  ng-show="current.showService == true || current.showService == 'true'">
                                                    <li><span class="rel icon-bairplane"></span></li>
                                                    <li>{{current.serviceCode}}</li>
                                                   <li>{{current.orginAndDestination}}</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span>{{current.date}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="row nomargin" ng-show="byGroup">
                    <div class="col-xs-12 nopadding">
                        <ul class="list-group" ng-repeat="mapKey in unsavedByGroupForm.keys  | orderBy:'toString()' track by $index">
                            <!--current window by group-->
                            <div class="row nomargin">
                                <div class="col-xs-12 grouptitle">
                                    <h4>{{mapKey}} ({{unsavedByGroupForm.data[mapKey].length}})</h4>
                                    <!-- group by screen and no.of entries in the header -->
                                </div>
                            </div>
                            <a href="javascript:void(0);" ng-click="goBackByParticularPage(current)" class="list-group-item" ng-repeat="current in unsavedByGroupForm.data[mapKey]  | orderBy:'current.date' :true | limitTo: 4  track by $index">
                                <div class="flex align-justify align-baseline">
                                    <div class="col-xs-8 pr0">
                                        <h4 class="mt0">{{current.title}}</h4>
                                        <h5 class="heading">{{current.subTitle}}</h5>
                                    </div>
                                    <div class="col-xs-4 pl0 pr0">
                                        <ul class="list-unstyled text-right list">
                                            <li>
                                                <ul class="list-inline"  ng-show="current.showService == true || current.showService == 'true'">
                                                    <li><span class="rel icon-bairplane"></span></li>
                                                    <li>{{current.serviceCode}}</li>
                                                   <li>{{current.orginAndDestination}}</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span>{{current.date}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>

                            <div class="row" ng-if="$index > 4">
                                <div class="col-xs-12 text-center">
                                    <a href="javascript:void(0)" class="label-show-more text-capitalize">show more</a>
                                </div>
                            </div>

                            <a ng-if="unsavedByGroupForm.data[mapKey].length > 4" href="javascript:void(0);" ng-click="goBackByParticularPage(current)" class="list-group-item" ng-repeat="current in unsavedByGroupForm.data[mapKey]  | orderBy:'current.date' :true | limitTo: 4 - unsavedByGroupForm.data[mapKey].length">
                                <div class="flex align-justify align-baseline">
                                    <div class="col-xs-8 pr0">
                                        <h4 class="mt0">{{current.title}}</h4>
                                        <h5 class="heading">{{current.subTitle}}</h5>
                                    </div>
                                    <div class="col-xs-4 pr0 pl0">
                                        <ul class="list-unstyled text-right list">
                                            <li>
                                                <ul class="list-inline"  ng-show="current.showService == true || current.showService == 'true'">
                                                    <li><span class="rel icon-bairplane"></span></li>
                                                    <li>{{current.serviceCode}}</li>
                                                   <li>{{current.orginAndDestination}}</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span>{{current.date}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="Tabs=='recentTab'" class="col-xs-12 nopadding recent-doc1" panel-height>
                <div class="row nomargin" ng-show="!regroup">
                    <div class="col-xs-12 nopadding">
                        <ul class="list-group" ng-repeat="(key, recValue) in testRecentHistoryDayMapData.messages track by $index">
                            <div class="row nomargin">
                                <div class="col-xs-12 grouptitle">
                                    <div>
                                        <h4>{{key}}</h4>
                                    </div>
                                    <div>
                                        <span class="icon-close" title="close" ng-click="clear()"></span>
                                    </div>

                                </div>
                            </div>
                            <a href="javascript:void(0);" ng-click="goToRecentStatePage(currentREcValue)" class="list-group-item" ng-repeat="currentREcValue in recValue | orderBy:'createdDate' : true track by $index">
                                <div class="flex align-justify align-baseline">
                                    <div class="col-xs-8 pr0">
                                        <h4 class="mt0">{{currentREcValue.title}} </h4>
                                        <h5 class="heading">{{currentREcValue.subTitle}}</h5>
                                    </div>
                                    <div class="col-xs-4 pl0 pr0">
                                        <ul class="list-unstyled text-right list">
                                            <li>
                                                <ul class="list-inline"  ng-show="currentREcValue.showService == true || currentREcValue.showService == 'true'">
                                                    <li><span class="rel icon-bairplane"></span></li>
                                                    <li>{{currentREcValue.serviceCode}}</li>
                                                   <li>{{currentREcValue.orginAndDestination}}</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span>{{getConvertDateTimeHistory(currentREcValue.createdDate)}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="row nomargin" ng-show="regroup">
                    <div class="col-xs-12 nopadding">
                        <ul class="list-group" ng-repeat="mapKey in recentHistoryGroupMap.keys  | orderBy:'toString()' track by $index">
                            <!--current window by group-->
                            <div class="row nomargin">
                                <div class="col-xs-12 grouptitle">
                                    <h4>{{mapKey}} ({{recentHistoryGroupMap.data[mapKey].length}})</h4>
                                    <!-- group by screen and no.of entries in the header -->
                                </div>
                            </div>
                            <a href="javascript:void(0);" ng-click="goToRecentStatePage(current)" class="list-group-item" ng-repeat="current in recentHistoryGroupMap.data[mapKey]  | orderBy:'current.createdDate' :true | limitTo: 4 track by $index">
                                <div class="flex align-justify align-baseline">
                                    <div class="col-xs-8 pr0">
                                        <h4 class="mt0">{{current.title}} </h4>
                                        <h5 class="heading">{{current.subTitle}}</h5>
                                    </div>
                                    <div class="col-xs-4 pl0 pr0">
                                        <ul class="list-unstyled text-right list">
                                            <li>
                                                <ul class="list-inline"  ng-show="current.showService == true || current.showService == 'true'">
                                                    <li><span class="rel icon-bairplane"></span></li>
                                                    <li>{{current.serviceCode}}</li>
                                                   <li>{{current.orginAndDestination}}</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span>{{current.createdDate}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>

                            <div class="row" ng-if="$index > 4">
                                <div class="col-xs-12 text-center">
                                    <a href="javascript:void(0)" class="label-show-more text-capitalize">show more</a>
                                </div>
                            </div>

                            <a ng-if="recentHistoryGroupMap.data[mapKey].length > 4" href="javascript:void(0);" ng-click="goToRecentStatePage(current)" class="list-group-item" ng-repeat="current in recentHistoryGroupMap.data[mapKey]  | orderBy:'current.createdDate' :true | limitTo: 4 - recentHistoryGroupMap.data[mapKey].length">
                                <div class="flex align-justify align-baseline">
                                    <div class="col-xs-8 pr0">
                                        <h4 class="mt0">{{current.title}}</h4>
                                        <h5 class="heading">{{current.subTitle}}</h5>
                                    </div>
                                    <div class="col-xs-4 pl0 pr0">
                                        <ul class="list-unstyled text-right list" >
                                            <li>
                                                <ul class="list-inline"  ng-show="current.showService == true || current.showService == 'true'">
                                                    <li><span class="rel icon-bairplane"></span></li>
                                                    <li>{{current.serviceCode}}</li>
                                                   <li>{{current.orginAndDestination}}</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span>{{current.createdDate}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <efs-spinner spinner-status="spinner"></efs-spinner>
    <mainefs-spinner spinner-status="mainpreloder"></mainefs-spinner>
</div>