<div class="panel panel-default subPanelContainer">
    <div class="panel-heading bg-trans">
        <div class="w-50">
            <h4>{{partyMaster.id!=null?'Edit':'Add'}} Container Details</h4>
        </div>
        <div class="w-50">
            <ul class="list-inline text-right masopertion-action">
                <li>
                    <button type="button" class="btn btn-default btn-xs btn-property cancel-btn"  ng-click="closeContainer()">discard</button>
                </li>
                <li>
                    <input type="submit" class="btn btn-primary btn-xs btn-property accent-btn" ng-value="{{partyMaster.id!=null?'Update':'Save'}}">
                </li>
            </ul>
        </div>
    </div><!--panel heading-->
    <div class="panel-body panel-height nopadding">
        <form role="form">
            <div class="form-group">
                <ul class="list-unstyled li-mb-15 padlr-15">
                    <li>
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Container</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-xs-4">
                                <label>Container Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-xs-4">
                                <label>No. of Containers</label>
                                <a href="javascript:void(0)" ng-click="showCategories(partyMaster.categoryMaster.categoryCode)" name="category" class="btn btn-default btn-outline selectPicker width95per block txt-l brad-0 ng-binding"><span class="visible-hide">Automotive Industry</span> <i class="fa fa-chevron-right pull-right"></i></a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </form>
    </div><!--body ends-->
</div><!--panel ends-->
