<div class="panel panel-default subPanelContainer">
<form name="dimensionform" id="dimensionform">
    <div class="panel-heading bg-trans">
        <div class="w-50">
            <h4>{{enquiryDimension.id!=null?'Edit':'Add'}} Dimensions</h4>
        </div>
        <div class="w-50">
            <ul class="list-inline text-right masopertion-action">
                <li>
                    <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="discardDimension()">discard</button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="addDimensionRow()">{{editDimensionIndex!=null?'Update':'Save'}}</button>
                </li>
            </ul>
        </div>
    </div><!--panel heading-->
    <div class="panel-body nopadding">
        <form role="form">
            <div class="form-group">
                <div class="row nomargin">
                    <div class="col-xs-3 ">
                        <label class="text-inherit">No of Pieces <span class="reqColor">*</span> </label>
                        <input type="text " tabindex="18" input-focus="{{errorMap.get('noOfPieces')!=null}}" ng-class="{'error-control':errorMap.get('noOfPieces')!=null}"  maxlength="9"  ng-change="validateDimension(1);caluculateVolumeWeight()"  capitalize ng-model="enquiryDimension.noOfPieces" class="form-control text-right">
                        <div><span  class="error-message" ng-show="errorMap.get('noOfPieces')!=null"><small>{{errorMap.get('noOfPieces')}}</small></span></div>
                    </div>
                </div>
                <div class="row nomargin ptb-15">
                    <div class="col-xs-3 ">
                        <label>Length ({{!enquiryDetail.dimensionUnit?'cm':'in'}}) <span class="reqColor">*</span></label>
                        <input type="text" tabindex="19" input-focus="{{errorMap.get('length')!=null}}" ng-class="{'error-control':errorMap.get('length')!=null}" maxlength="5"  ng-change="validateDimension(2);caluculateVolumeWeight()" capitalize ng-model="enquiryDimension.legth" class="form-control text-right">
                        <div>
                            <span class="error-message" ng-show="errorMap.get('length')!=null"><small>{{errorMap.get('length')}}</small></span>
                        </div>
                    </div>
                    <div class="col-xs-3 ">
                        <label>Width ({{!enquiryDetail.dimensionUnit?'cm':'in'}}) <span class="reqColor">*</span></label>
                        <input type="text" tabindex="20" input-focus="{{errorMap.get('width')!=null}}" ng-class="{'error-control':errorMap.get('width')!=null}" maxlength="5" ng-change="validateDimension(3);caluculateVolumeWeight()"  capitalize ng-model="enquiryDimension.width" class="form-control text-right">
                        <div>
                            <span class="error-message" ng-show="errorMap.get('width')!=null"><small>{{errorMap.get('width')}}</small></span>
                        </div>
                    </div>
                    <div class="col-xs-3 ">
                        <label>Height ({{!enquiryDetail.dimensionUnit?'cm':'in'}}) <span class="reqColor">*</span></label>
                        <input type="text" tabindex="21" input-focus="{{errorMap.get('height')!=null}}" ng-class="{'error-control':errorMap.get('height')!=null}"  maxlength="5" ng-change="validateDimension(4);caluculateVolumeWeight()"  ng-model="enquiryDimension.hight" class="form-control text-right">
                        <div>
                            <span class="error-message" ng-show="errorMap.get('height')!=null"><small>{{errorMap.get('height')}}</small></span>
                        </div>
                    </div>
                </div>
                <div class="row nomargin bor-btm">
                    <div class="col-xs-3">
                        <label>Volume Weight ({{!enquiryDetail.dimensionUnit?'KG':'LBS'}})</label>
                        <input tabindex="15" type="text" ng-disabled="true"
                              ng-model="enquiryDimension.volWeight" class="form-control text-right">
                        
                        <span class="nowrap">Volume Weight = (No of pieces * Length * Width * Height ) / Dimension Value</span>
                    </div>
                </div>
                <div class="row nomargin">
                    <div class="col-xs-3 ">
                        <label>Gross Weight ({{!enquiryDetail.dimensionUnit?'KG':'LBS'}}) <span class="reqColor">*</span></label>
                        <input type="text"  tabindex="23"  input-focus="{{errorMap.get('grossWeight')!=null}}"
                         ng-class="{'error-control':errorMap.get('grossWeight')!=null}" maxlength="14"
                          ng-change="validateDimension(6);caluculateVolumeWeight()"  ng-model="enquiryDimension.grossWeight" float class="form-control text-right">
                        <div>
                            <span class="error-message" ng-show="errorMap.get('grossWeight')!=null"><small>{{errorMap.get('grossWeight')}}</small></span>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div><!--body ends-->
    </form>
</div><!--panel ends-->
