
<div class="modal resModal" role="dialog" id="attachmentSection">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header nopadding">
				<div class="row plr14px">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<h4>Attachment</h4>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mt-7">
						<ul class="list-inline pull-right">
							<li class="plr0">
								<button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="cancelAttachmentPopUp()">Cancel</button>
							</li>
							<li class="plr0">
								<button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveAttachmentPopUp()">Save</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body minH-180 elastic-htyaxis180">
				<div class="row">
					<div class="col-xs-12 plr0">
						<div class="form-group">
							<attachment-section-simple is-edit="true" is-delete="true"
							
								table-data="enquiryLog.enquiryDetailList[enquiryLog.selectedTabIndex].enquiryAttachmentList"
								index-key="'EnqSerAtt'+selectedTabIndex"
								download-fn="downloadAttach(param)" 
								fn-role="roleAccess(param)"
								add-role="$roleConstant.SALE_ENQUIRY_ATTACHMENT_CREATE"
								download-role="$roleConstant.SALE_ENQUIRY_ATTACHMENT_DOWNLOAD"
								edit-role="$roleConstant.SALE_ENQUIRY_ATTACHMENT_MODIFY"
								delete-role="$roleConstant.SALE_ENQUIRY_ATTACHMENT_DELETE"
								table-check="enquiryLog.enquiryDetailList[enquiryLog.selectedTabIndex].isAttachmentCheck">
							</attachment-section-simple>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>