<div class="modal resModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header nopadding">
				<div class="row plr14px">
					<div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
						<h4>{{appMasterData['Party_Label']}} Details</h4>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 mt-7">
						<ul class="list-inline pull-right">
							<li class="plr0"><button type="button"
									class="btn btn-primary btn-xs btn-property cancel-btn mr0"
									ng-click="$hide()">Cancel</button></li>
							<li class="plr0">
							<button 
									type="button"
									class="btn btn-success whitecolor"
									ng-click="createEnquiryCustomer()">
									<i class="fa fa-user" aria-hidden="true"></i>
										Convert to {{appMasterData['Party_Label']}}
									</button>
							</li>
						</ul>
					</div>
				</div>
			</div>




			<div class=" panel-body shade2 pb0 pt0 ">
				<div class="row ">
					<div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
						<div class="row  ptb-15">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<span>Name</span>
								<h6>
									<b>{{ifDataElseHifen(enquiryLog.enquiryCustomer.name)}}</b>
								</h6>
							</div>
						</div>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-7 col-lg-7 ptb-15">
						<div class="row ">
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
								<span>Country</span>
								<h6>
         <img ng-show="enquiryLog.enquiryCustomer.countryMaster.image!=null"
          data-ng-src="data:image/png;base64,{{enquiryLog.enquiryCustomer.countryMaster.image}}"
          style="padding-right: 3px;" width="23" height="20">{{ifDataElseHifen(enquiryLog.enquiryCustomer.countryMaster.countryName)}}
        </h6>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-body minH-180" style="padding-top: 0px;">
				<div class="row">
					<hr class="mt-15" style="margin-top: 0px !important">
				</div>
				<div class="row overflow-hidden">
					<div class="col-xs-4 col-sm-4 col-md-5 col-lg-5 bor-fix bor-r-1">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl0 pr0 ptb-15">
							<span>Address</span>
							<ul class="list-unstyled">
								<li><h6>{{enquiryLog.enquiryCustomer.addressLine1}}</h6></li>
								<li><h6>{{enquiryLog.enquiryCustomer.addressLine2}}</h6></li>
								<li><h6>{{enquiryLog.enquiryCustomer.addressLine3}}</h6></li>
								<li><h6>{{enquiryLog.enquiryCustomer.cityMaster.cityName}},{{enquiryLog.enquiryCustomer.stateMaster.stateName}}</h6></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-7 col-lg-7 bor-fix">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl0 pr0 ptb-15">
							<ul class="list-inline in width100per">
								<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 "><span>Contact Person</span>
									<h6>{{ifDataElseHifen(enquiryLog.enquiryCustomer.contactPerson)}}</h6>
								</li>
								<li class="col-xs-6 col-sm-8 col-md-8 col-lg-8 "><span class="text-inherit">eMail</span>
									<h6>{{enquiryLog.enquiryCustomer.email==null?'-':enquiryLog.enquiryCustomer.email}}</h6>
								</li>

							</ul>
							<ul class="list-inline in width100per">
								<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 ptb10"><span>Contact No</span>
									<h6>{{enquiryLog.enquiryCustomer.phone==null?'-':enquiryLog.enquiryCustomer.phone}}</h6>
								</li>
								<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 ptb10"><span>Mobile No</span>
									<h6>{{enquiryLog.enquiryCustomer.mobileNo==null?'-':enquiryLog.enquiryCustomer.mobileNo}}</h6>
								</li>
								<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 ptb10"><span>FAX No</span>
									<h6>{{enquiryLog.enquiryCustomer.fax==null?'-':enquiryLog.enquiryCustomer.fax}}</h6>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="row">
					<hr class="mt-15" style="margin-top: 0px !important">
				</div>
			</div>
		</div>
	</div>
</div>
