<div class="row resPortViewPage resLandViewPage">
    <div class="col-xs-12 mb-9 flexview">
        <div class="flex align-justify align-middle">
            <div>
                <div class="btngrp">
                    <button class="btn btn-xs btn-property btn-gray" ng-click="back()">
              	 <i class="icon-back-menu"></i> Back
               </button>
                    <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addEnquiry()">
              	 <i class="icon-add"></i> Add Enquiry
               </button>
                </div>
            </div>
            <!-- <div>
            <ul class="list-inline" ng-show="showActionButton">
               <li>
                  <ul class="list-inline li-p0">
                     <li>{{selectedRecordIndex+1}}</li>
                     <li>of</li>
                     <li>{{totalRecord}}</li>
                  </ul>
               </li>
               <li class="pr0">
                  <ul class="list-inline next-prev">
                     <li data-placement="auto bottom" bs-tooltip="prev"><i
                        class="icon-r-arrow" aria-hidden="true"
                        ng-click="singlePageNavigation(-1)"></i></li>
                     <li data-placement="auto bottom" bs-tooltip="next"><i
                        class="icon-r-arrow" aria-hidden="true"
                        ng-click="singlePageNavigation(1)"></i></li>
                  </ul>
               </li>
            </ul>
         </div> -->
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default masOpertion">
            <div class="panel-heading">
                <section class="row">
                    <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5">

                        <h4 class="enqft">
                            <sup class="fa fa-star starblinkright" id="blinker" ng-show="enquiryLog.partyMaster.gradeMaster!=null && enquiryLog.partyMaster.gradeMaster.priorityValue<=5" style="color:{{enquiryLog.partyMaster.gradeMaster.colorCode}} !important;">
						</sup> Enquiry No<span class="enqft">{{enquiryLog.enquiryNo}}</span>
                        </h4>
                    </div>
                    <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">

                        <ul class="list-inline masopertion-action pull-right pt5">
                            <li>
                                <div ng-show="enquiryLog.quotationNo!=null">
                                    <span>Quotation No</span> <span class="hyperLink mb0"> 
                        	<a ui-sref="layout.salesQuotationView({quotationNo:enquiryLog.quotationNo, fromEnqId: enquiryLog.id})" class="hyperLink mb0">{{enquiryLog.quotationNo}}</a>
                        </span>
                                </div>
                            </li>
                            <li class="nomargin nopadding" ng-if="((enquiryLog.status=='Active' || enquiryLog.status=='Cancel') && enquiryLog.quotationNo==null && enquiryLog.id!=null)">
                                <input class="magic-checkbox" type="checkbox" ng-model="enquiryLog.statusChange" ng-disabled="enquiryLog.status=='Cancel'" ng-change="enquiryCancelled(enquiryLog)" id="markOption">
                                <label class="text custom-label text-inherit enqft" for="markOption">
                     	{{!markOption?'Cancel':'Cancelled'}} 
                     </label>
                            </li>
                            <li ng-show="enquiryLog.enquiryDetailList.length==1 && enquiryLog.quotationNo==null && enquiryLog.status =='Active'" class="plr0">
                                <button type="button" class="btn btn-primary btn-xs btn-property accent-btn  enqft" ng-click="enquiryToQuotation()">
                     	<i class="icon-add"></i> Create Quotation
                     </button>
                            </li>
                            <li class="pl0">
                                <a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory" class="list-panel-edit-btn">
                                    <i class="icon-logs" data-placement="bottom" bs-tooltip="activity" style="font-size: 14px !important;"></i>
                                </a>
                            </li>
                            <li class="pl0">
                                <a data-placement="bottom" bs-tooltip="editIcon" href="javascript:void(0)" ng-if="enquiryLog.quotationNo==null &&  enquiryLog.status =='Active'" ng-click="editEnquiry()" class="list-panel-edit-btn">
                                    <i class="icon-edit" aria-hidden="true" style="font-size: 14px !important;"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </section>
            </div>
            <!--panel heading ends-->
            <div class="panel-body info-view detail-body" ng-click="showHistory=false" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                <div class="page mb0 mtminus-15">
                    <div class="page-body ptb0">
                        <div class="row overflow-hidden">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bor-fix bor-r-1 ">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 pt5">
                                        <div class="form-group">
                                            <span ng-if="enquiryLog.partyMaster!=null">{{appMasterData['Party_Label']}} Name 	</span>


                                            <h5 ng-if="enquiryLog.partyMaster!=null" class="mb0" style="color:{{enquiryLog.partyMaster.gradeMaster.colorCode}}">{{enquiryLog.partyMaster.partyName}}</h5>
                                            <div ng-if="enquiryLog.partyMaster==null">
                                                <span>{{appMasterData['Party_Label']}} Name 	
                           			<h5 class="mb0">{{enquiryLog.enquiryCustomer.name}}</h5>
								</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                        <div class="">

                                            <div class="pt35 pad-Pt0 pad-Lt0" ng-if="enquiryLog.partyMaster==null">
                                                <button type="button" class="btn btn-success " ng-click="showCustomerModalView()" tabindex="-1">
										<i class="fa fa-user whitecolor" aria-hidden="true"></i> Create {{appMasterData['Party_Label']}}
									</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 bor-fix pt5">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-lg-6 nopadding">
                                        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-6 form-group">
                                            <span>Sales Coordinator</span>
                                            <div class="flex align-middle userIcon">
                                                <div>
                                                    <hm-init-icon customer-name="enquiryLog.salesCoOrdinator.employeeName"></hm-init-icon>
                                                </div>
                                                <div class="ml-5 mt-7">
                                                    <span>{{enquiryLog.salesCoOrdinator.employeeName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-7 col-lg-6 form-group">
                                            <span>Salesman</span>
                                            <div class="flex align-middle userIcon">
                                                <div ng-show="enquiryLog.salesman!=null">
                                                    <hm-init-icon customer-name="enquiryLog.salesman.employeeName"></hm-init-icon>
                                                </div>
                                                <div class="ml-5 mt-7">
                                                    <span>{{enquiryLog.salesman.employeeName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 nopadding">
                                        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-6 form-group">
                                            <span>Enquiry Received On</span>
                                            <h6 class="mb0">{{dateAndTimeToString(enquiryLog.receivedOn)}}</h6>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-7 col-lg-6 form-group">
                                            <span>Quote by Date</span>
                                            <h6 class="mb0">{{enquiryLog.quoteBy==null || enquiryLog.quoteBy ==''?'-':dateToString(enquiryLog.quoteBy)}}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--ROW ENDS-->
                        <div class="row">
                            <hr class="nomargin">
                        </div>
                    </div>
                </div>
                <div class="row nomargin nopadding bor-b-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 plr0">
                        <div class="tabs">
                            <ul class="list-inline chromeTabs ml0">
                                <li class="cur-pointer" ng-repeat="servicetabObj in enquiryLog.enquiryDetailList track by $index" ng-click="selectService($index)" title="{{servicetabObj.id?'Service # '+servicetabObj.id:'New Service'}}" ng-class="{'tabActive':selectedTabIndex==$index}">
                                    {{servicetabObj.id? 'Service - ' + servicetabObj.serviceMaster.serviceCode:'New Service'}}
                                </li>
                            </ul>
                            <div class="tabContent p00">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="enquiryDetail in enquiryLog.enquiryDetailList track by $index" ng-if="serviceAccessRights" ng-show="selectedTabIndex==$index">
                                        <!--=======================SERVICE DEATAILS INFORMATIONS STARTS=================-->
                                        <div class="panel panel-info panel-info bor-none mb0 box-shadow-none">
                                            <div class="panel-heading" style="padding-top: 10px !important;">
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                        <h3>{{enquiryDetail.serviceMaster.serviceName}}</h3>
                                                    </div>
                                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                        <h5>
                                                            <span></span>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <!--row ends-->
                                            </div>
                                            <!--Panel heading ends-->
                                            <div class="panel-body pt0 pb0">
                                                <div class="row overflow-hidden">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bor-r-1 bor-fix pt5">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                                                                <span>Origin</span>
                                                                <h6>{{enquiryDetail.fromPortMaster.portName}}</h6>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                                                                <span>Destination</span>
                                                                <h6>{{enquiryDetail.toPortMaster.portName}}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--COL ENDS-->
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bor-fix">
                                                        <div class="row ">
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6 bor-r-1 bor-fix ">
                                                                        <div class="row">
                                                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6  bor-fix pt5">
                                                                                <div class="form-group">
                                                                                    <span>Terms of Shipment</span>
                                                                                    <h6>{{enquiryDetail.tosMaster == null || enquiryDetail.tosMaster.tosName =='' ? '-' : enquiryDetail.tosMaster.tosName }}</h6>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6 bor-fix">
                                                                        <div class="row pt5">
                                                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6  bor-fix form-group">
                                                                                <span>Clearance</span>
                                                                                <h6>{{enquiryDetail.clearance=='Yes'?'Yes':'No'}}</h6>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--COL ENDS-->
                                                <div class="row">
                                                    <hr class="mtb-0">
                                                </div>
                                                <div class="row overflow-hidden">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bor-r-1 bor-fix pt5">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                                                                <span>Hazardous Goods</span>
                                                                <h6>{{enquiryDetail.hazardous}}</h6>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                                                                <span>Commodity</span>
                                                                <h6>{{enquiryDetail.commodityMaster == null || enquiryDetail.commodityMaster.hsName == '' ? '-' : enquiryDetail.commodityMaster.hsName }}
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bor-fix pt5">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                                                <span>Gross Weight (KG)</span>
                                                                <h6 class="bold">{{weightFormat(enquiryDetail.grossWeight,enquiryLog.countryMaster.locale)}}</h6>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                                                <span>Volume Weight (KG)</span>
                                                                <h6 class="bold">{{weightFormat(enquiryDetail.volWeight,enquiryLog.countryMaster.locale)}}</h6>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                                                <label>Chargeable Weight (KG)</label>
                                                                <h6 class="text-green bold">{{enquiryDetail.volWeight > enquiryDetail.grossWeight? weightFormat(enquiryDetail.volWeight,enquiryDetail.countryMaster.locale):weightFormat(enquiryDetail.grossWeight,enquiryDetail.countryMaster.locale)}}
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--ROW ENDS-->
                                            </div>
                                            <!--ROW ENDS-->
                                        </div>
                                        <!--panel body ends-->
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <!-- Dimension Start -->
                                                    <div class="row ">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="flex align-justify align-middle title" ng-class="isDimensionFound(enquiryDetail)?'done-approve':''" ng-click="dimensionTab=!dimensionTab; serviceEnquiryRolesView('dimensionRoles')" ng-init="dimensionTab=false" style="margin: 0 0 5px !important">
                                                                <div>
                                                                    <h5>
                                                                        <span class="done-approve-text" style="color:{{isDimensionFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"> <i
                                                         class="fa fa-cube" aria-hidden="true"
                                                         style="color:{{isDimensionFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"
                                                         ></i>&nbsp;&nbsp;Dimensions
                                                      </span>
                                                                    </h5>
                                                                </div>
                                                                <div>
                                                                    <i class="{{dimensionTab==true?'icon-uparrow':'icon-downarrow'}}" aria-hidden="true" style="color:{{isDimensionFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"></i>
                                                                </div>
                                                            </div>
                                                            <div class=" bor-b-0 pt5" ng-show="dimensionRoles?dimensionTab:''">
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb10">
                                                                    <div class="table-responsive bor-none mb0">
                                                                        <table ng-if="enquiryDetail.enquiryDimensionList.length>0" class="table table-inline">
                                                                            <thead class="borderthead">
                                                                                <tr>
                                                                                    <th class="inl_sno">#</th>
                                                                                    <th class="text-right inl_l">No of Pieces</th>
                                                                                    <th class="text-right inl_m">Length ({{!enquiryDetail.dimensionUnit?'cm':'in'}})
                                                                                    </th>
                                                                                    <th class="text-right inl_m">Width ({{!enquiryDetail.dimensionUnit?'cm':'in'}})
                                                                                    </th>
                                                                                    <th class="text-right inl_m">Height ({{!enquiryDetail.dimensionUnit?'cm':'in'}})
                                                                                    </th>
                                                                                    <th class="text-right inl_l">Volume Weight (KG)
                                                                                    </th>
                                                                                    <th class="text-right inl_l">Gross Weight ({{!enquiryDetail.dimensionUnit?'KG':'LBS'}})
                                                                                    </th>
                                                                                    <th class="text-right inl_l" ng-show="enquiryDetail.dimensionUnit">Gross Weight(KG)
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="enquiryDimension in enquiryDetail.enquiryDimensionList track by $index">
                                                                                    <td>{{serialNo($index)}}</td>
                                                                                    <td class="text-right">{{integerFormat(enquiryDimension.noOfPiece,enquiryLog.countryMaster.locale)}}</td>
                                                                                    <td class="text-right">{{integerFormat(enquiryDimension.length,enquiryLog.countryMaster.locale)}}</td>
                                                                                    <td class="text-right">{{integerFormat(enquiryDimension.width,enquiryLog.countryMaster.locale)}}</td>
                                                                                    <td class="text-right">{{integerFormat(enquiryDimension.height,enquiryLog.countryMaster.locale)}}</td>
                                                                                    <td class="text-right">{{weightFormat(enquiryDimension.volWeight,enquiryLog.countryMaster.locale)}}</td>
                                                                                    <td class="text-right">{{weightFormat(enquiryDimension.grossWeight,enquiryLog.countryMaster.locale)}}</td>
                                                                                    <td class="text-right" ng-show="enquiryDetail.dimensionUnit">{{weightFormat(enquiryDimension.grossWeightKg,enquiryLog.countryMaster.locale)}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                            <tfoot class="bg-danger">
                                                                                <tr>
                                                                                    <td>Total</td>
                                                                                    <td class="text-right">{{integerFormat(enquiryDetail.dimensionTotalPieces,enquiryLog.countryMaster.locale)}}</td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td class="text-right">{{weightFormat(enquiryDetail.dimensionVolWeight,enquiryLog.countryMaster.locale)}}</td>
                                                                                    <td class="text-right">{{weightFormat(enquiryDetail.dimensionGrossWeight,enquiryLog.countryMaster.locale)}}</td>
                                                                                    <td class="text-right" ng-show="enquiryDetail.dimensionUnit">{{weightFormat(enquiryDetail.dimensionGrossWeightInKg,enquiryLog.countryMaster.locale)}}</td>
                                                                                </tr>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                    <empty-record class="" ng-if="enquiryDetail.enquiryDimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Dimension Ends -->
                                                    <!-- Delivery Start -->
                                                    <!--  <ul class="list-unstyled" ng-show="moreAddressTab==$index+'pickupBtn'">
                                          <li> -->
                                                    <div class="row ">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="flex align-justify align-middle title" ng-class="isPickupDeliveryFound(enquiryDetail)?'done-approve':''" ng-click="deliveryTab=!deliveryTab; serviceEnquiryRolesView('pickUpDelivery')" ng-init="deliveryTab=false" style="margin: 0 0 5px; !important">
                                                                <div>
                                                                    <h5>
                                                                        <span class="done-approve-text" style="color:{{isPickupDeliveryFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"> <i
                                                         class="fa fa-truck rotate-y" aria-hidden="true"
                                                         style="color:{{isPickupDeliveryFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Pick Up / Delivery
                                                      </span>
                                                                    </h5>
                                                                </div>
                                                                <div>
                                                                    <i class="{{deliveryTab==true?'icon-uparrow':'icon-downarrow'}}" aria-hidden="true" style="color:{{isPickupDeliveryFound(enquiryDetail)?'#fff !important':'#000 !important;'}}" style="color: #25394f !important"></i>
                                                                </div>
                                                            </div>
                                                            <div class=" bor-b-0 pb5" ng-show="pickUpDelivery?deliveryTab:''">
                                                                <div>
                                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pb5">
                                                                        <ul class="list-unstyled">
                                                                            <li><span>Pick up from</span></li>
                                                                            <li>
                                                                                <ul class="list-unstyled break-list">
                                                                                    <li>{{enquiryDetail.pickupAddress.addressLine1}}</li>
                                                                                    <li>{{enquiryDetail.pickupAddress.addressLine2}}</li>
                                                                                    <li>{{enquiryDetail.pickupAddress.addressLine3}}</li>
                                                                                    <li>{{enquiryDetail.pickupAddress.city.cityName}} {{enquiryDetail.pickupAddress.poBox}}
                                                                                    </li>
                                                                                    <li>{{enquiryDetail.pickupAddress.state.stateName}} {{enquiryDetail.pickupAddress.country.countryName}}
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pb5">
                                                                        <ul class="list-unstyled">
                                                                            <li><span>Delivery to</span></li>
                                                                            <li>
                                                                                <ul class="list-unstyled break-list">
                                                                                    <li>{{enquiryDetail.deliveryAddress.addressLine1}}</li>
                                                                                    <li>{{enquiryDetail.deliveryAddress.addressLine2}}</li>
                                                                                    <li>{{enquiryDetail.deliveryAddress.addressLine3}}</li>
                                                                                    <li>{{enquiryDetail.deliveryAddress.city.cityName}} {{enquiryDetail.deliveryAddress.poBox}}
                                                                                    </li>
                                                                                    <li>{{enquiryDetail.deliveryAddress.state.stateName}} {{enquiryDetail.deliveryAddress.country.countryName}}
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--  Deliverey Ends -->
                                                    <div class="row ">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="flex align-justify align-middle title" ng-class="isValueAddedFound(enquiryDetail)?'done-approve':''" ng-click="valueAddedSection=!valueAddedSection; serviceEnquiryRolesView('valueAddedService')" ng-init="valueAddedSection=false" style="margin: 0 0 5px; !important">
                                                                <div>
                                                                    <h5>
                                                                        <span class="done-approve-text" style="color:{{isValueAddedFound(enquiryDetail)?'#fff !important':'#000 !important;'}}" style="color: #25394f !important"> <i
                                                         class="fa fa-cog" aria-hidden="true"
                                                         style="color:{{isValueAddedFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Value
                                                      Added Services
                                                      </span>
                                                                    </h5>
                                                                </div>
                                                                <div>
                                                                    <i class="{{valueAddedSection==true?'icon-uparrow':'icon-downarrow'}}" aria-hidden="true" style="color:{{isValueAddedFound(enquiryDetail)?'#fff !important':'#000 !important;'}}" style="color: #25394f !important"></i>
                                                                </div>
                                                            </div>
                                                            <div class=" bor-b-0 pt5" ng-show="valueAddedService?valueAddedSection:''">
                                                                <div style="float: left; margin-bottom: 10px; width: 100%;">
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <empty-record ng-show="enquiryDetail.enquiryValueAddedServiceList.length==0" icon="note" text="Looks like there are no value added records here"></empty-record>
                                                                        <ul>
                                                                            <li ng-show="enquiryDetail.enquiryValueAddedServiceList.length!=0" class="list-group-item pad-Pt5">
                                                                                <ul class="list-inline">
                                                                                    <li class="ptb5" ng-repeat="enquiryDetail in enquiryDetail.enquiryValueAddedServiceList">
                                                                                        <span class="label label-info brad-20 mb0">
                                                               {{enquiryDetail.valueAddedServices.valueAddedSevicesName}}</span>
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--  </ul> -->
                                                    <!-- Value Added End -->
                                                    <!-- Rate Request starts -->
                                                    <div class="row ">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="flex align-justify align-middle title" ng-class="isRateRequestFound(enquiryDetail)?'done-approve':''" ng-click="RateRequest=!RateRequest; serviceEnquiryRolesView('rateRequestRole')" ng-init="RateRequest=false" style="margin: 0 0 5px; !important;color:{{isRateRequestFound(enquiryDetail)?'#fff !important':'#000 !important;'}}">
                                                                <div>
                                                                    <h5>
                                                                        <span class="done-approve-text" style="color:{{isRateRequestFound(enquiryDetail)?'#fff !important':'#000 !important;'}}" style="color: #25394f !important"> <i
                                                         class="fa fa-hand-pointer-o" aria-hidden="true"
                                                         style="transform: scaleX(-1);color:{{isRateRequestFound(enquiryDetail)?'#fff !important':'#000 !important;'}}" color: #25394f !important"></i>&nbsp;&nbsp;Rate Request
                                                      </span>
                                                                    </h5>
                                                                </div>
                                                                <div>
                                                                    <i class="{{RateRequest==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{isRateRequestFound(enquiryDetail)?'#fff !important':'#000 !important;'}}" aria-hidden="true" style="color: #25394f !important"></i>
                                                                </div>
                                                            </div>
                                                            <div class=" bor-b-0 pt5" ng-show="rateRequestRole?RateRequest:''">
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb10">
                                                                    <div class="table-responsive mb0 bor-none">
                                                                        <table ng-if="(enquiryDetail.rateRequestList==null || enquiryDetail.rateRequestList.length>0)" class="table table-inline mb0">
                                                                            <thead class="borderthead">

                                                                                <!--TAB CONTENT ENDS-->
                                                                                <tr>
                                                                                    <th class="inl_sno">#</th>
                                                                                    <th class="inl_m">Vendor</th>
                                                                                    <th class=" inl_m">Contact Person</th>
                                                                                    <th class=" inl_m">eMail</th>
                                                                                    <th class=" inl_m">Rate Received Date</th>
                                                                                    <th class="inl_m">Final</th>
                                                                                    <!-- <th class="inl_sm">Action</th> -->
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody ng-repeat="rateRequest in enquiryDetail.rateRequestList track by $index">
                                                                                <tr>
                                                                                    <td>{{$index + 1}}</td>
                                                                                    <td>{{rateRequest.vendor.partyName}}
                                                                                        <a bs-tooltip="showCharge" ng-init="chargeDetailList[$index]=false" ng-click="showRateChargesInList(rateRequest,$index)" ng-if="rateRequest.chargeList.length>0" class="fa {{chargeDetailList[$index]==true? 'fa-caret-up' : ' fa-caret-down' }} pull-right"></a>
                                                                                    </td>
                                                                                    <td>{{rateRequest.contactPerson}}</td>
                                                                                    <td>{{rateRequest.emailId}}</td>
                                                                                    <td>{{rateRequest.responseDate}}</td>
                                                                                    <td>{{rateRequest.rateAccepted}}</td>
                                                                                    <!-- <td> 
                                                   <a class="glyphicon glyphicon-thumbs-down" href="javascript:void(0)" ng-click="showCharge=true"> </a>
                                                   </td> -->
                                                                                </tr>
                                                                                <tr ng-show="chargeDetailList[$index]">
                                                                                    <td colspan="7" class="popcolor">
                                                                                        <table class="table table-inline mb0">
                                                                                            <thead class="borderthead">
                                                                                                <tr>
                                                                                                    <th class="inl_sno text-center">#</th>
                                                                                                    <th class="inl_s">Charge Code</th>
                                                                                                    <th class="inl_s">Charge Name</th>
                                                                                                    <th class="inl_s">Unit Code</th>
                                                                                                    <th class="inl_s">Currency</th>
                                                                                                    <th class="inl_s text-right">Buy Rate</th>
                                                                                                    <th class="inl_s text-right">Min Amt</th>
                                                                                                    <th class="inl_s">From Slab</th>
                                                                                                    <th class="inl_s">SOC</th>
                                                                                                </tr>
                                                                                            </thead>

                                                                                            <!--TAB CONTENT ENDS-->
                                                                                            <tbody ng-repeat="rateRequestCharge in chargeShowList track by $index">
                                                                                                <tr>
                                                                                                    <td>{{serialNo($index)}}</td>
                                                                                                    <td>{{rateRequestCharge.chargeMaster.chargeCode}}</td>
                                                                                                    <td>{{rateRequestCharge.chargeName}}</td>
                                                                                                    <td>{{rateRequestCharge.unitMaster.unitCode}}</td>
                                                                                                    <td>{{rateRequestCharge.currencyMaster.currencyCode}}</td>
                                                                                                    <td class="text-right">{{currencyFormat(rateRequestCharge.currencyMaster,rateRequestCharge.buyRate)}}</td>
                                                                                                    <td class="text-right">{{currencyFormat(rateRequestCharge.currencyMaster,rateRequestCharge.buyRateMinCost)}}</td>
                                                                                                    <td>{{rateRequestCharge.unitSlap}}</td>
                                                                                                    <td>{{rateRequestCharge.shipmentMovement}}</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <empty-record class="" ng-if="enquiryDetail.rateRequestList.length==0" icon="dimension" text="Looks like there are no rate request records here"></empty-record>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Attachment Start -->
                                                    <div class="row ">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="flex align-justify align-middle title" ng-click="attachment=!attachment; serviceEnquiryRolesView('attachmentRole')" ng-init="attachment=false" ng-class="enquiryDetail.enquiryAttachmentList.length>0?'done-approve':''" style="margin: 0 0 0px; !important;color:{{enquiryDetail.enquiryAttachmentList.length>0?'#fff !important':'#000 !important;'}}">
                                                                <div>
                                                                    <h5>
                                                                        <span class="done-approve-text" style="color:{{enquiryDetail.enquiryAttachmentList.length>0?'#fff !important':'#000 !important;'}}"> 
                                                   <i class="fa fa-link" aria-hidden="true" style="color:{{enquiryDetail.enquiryAttachmentList.length>0?'#fff !important':'#000 !important;'}}" ></i>&nbsp;&nbsp;Attachments
                                                </span>
                                                                    </h5>
                                                                </div>
                                                                <div>
                                                                    <i class="{{attachment==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{enquiryDetail.enquiryAttachmentList.length>0?'#fff !important':'#000 !important;'}}" aria-hidden="true" style="color: #25394f !important"></i>
                                                                </div>
                                                            </div>
                                                            <div class=" bor-b-0" ng-show="attachmentRole?attachment:''">
                                                                <!--  <ul class="list-unstyled" ng-show="moreAddressTab==$index+'attachment'"> 
                                             <li>-->
                                                                <div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl0 pr0 ">
                                                                        <attachment-section-simple is-edit="false" is-delete="false" table-data="enquiryDetail.enquiryAttachmentList" ng-if="enquiryDetail.enquiryAttachmentList.length>0" fn-role="roleAccess(param)" add-role="$roleConstant.SALE_ENQUIRY_ATTACHMENT_CREATE" download-role="$roleConstant.SALE_ENQUIRY_ATTACHMENT_DOWNLOAD"
                                                                            edit-role="$roleConstant.SALE_ENQUIRY_ATTACHMENT_MODIFY" delete-role="$roleConstant.SALE_ENQUIRY_ATTACHMENT_DELETE" download-fn="downloadAttach(param)">
                                                                        </attachment-section-simple>
                                                                    </div>
                                                                </div>
                                                                <div class="row nomargin " ng-if="enquiryDetail.enquiryAttachmentList.length==0">
                                                                    <div class="col-xs-12 mt10 mb-5">
                                                                        <empty-record icon="attachment" text="Looks like there are no attachment records here"></empty-record>
                                                                    </div>
                                                                </div>
                                                                <!--  </li>
                                             </ul> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Attachment Ends -->
                                                    <div class="row ">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="flex align-justify align-middle title" ng-click="Remarks = !Remarks; serviceEnquiryRolesView('remarksRole')" ng-class="enquiryDetail.notes!=null?'done-approve':''" ng-init="Remarks=false" style="margin: 5px 0 5px; !important;color:{{enquiryDetail.notes!=null?'#fff !important':'#000 !important;'}}">
                                                                <div>
                                                                    <h5>
                                                                        <span class="done-approve-text" style="color:{{enquiryDetail.notes!=null?'#fff !important':'#000 !important;'}}"> 
                                                	<i class="fa fa-file-text" aria-hidden="true"  style="transform: scaleX(-1);color:{{enquiryDetail.notes!=null?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Remarks
                                                </span>
                                                                    </h5>
                                                                </div>
                                                                <div>
                                                                    <i class="{{Remarks==true?'icon-uparrow':'icon-downarrow'}}" aria-hidden="true" style="color:{{enquiryDetail.notes!=null?'#fff !important':'#000 !important;'}}"></i>
                                                                </div>
                                                            </div>
                                                            <div class=" bor-b-0" style="padding-top: 0px !important" ng-show="remarksRole?Remarks:''">
                                                                <div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb10">
                                                                        <ul class="list-unstyled">
                                                                            <li><span>Remarks</span></li>
                                                                            <li>
                                                                                <ul class="list-unstyled">
                                                                                    <li>{{enquiryDetail.notes==null || enquiryDetail.notes==''?'-':enquiryDetail.notes}}
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Rate Request endss -->
                                                </div>
                                                <!--TAB CONTENT ENDS-->
                                            </div>
                                            <!--  Rate Request Ends -->
                                        </div>
                                    </div>
                                </div>
                                <!--panel footer ends-->
                            </div>
                            <!--Panel ends -->
                            <!--=======================SERVICE DEATAILS INFORMATIONS ENDS=================-->
                        </div>
                    </div>
                    <!--ROW ENDS-->
                </div>

                <div class="logs-view width42per widP55per widL55per logs-transition bg-white" ng-show="showHistory">
                    <div class="panel panel-default h100per">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <div class="panelTitle pt5">
                                    <span> <a href="javascript:void(0)"
                     ng-click="showHistory=false" class="list-panel-back"><i
                     class="icon-close-detail" data-placement="bottom"
                     bs-tooltip="close"></i></a>
                  </span> <span class="font-activity-name">Activity</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body logs-body enquiry-activity" panel-height-fit-body activity-show="showHistory" ng-nicescroll nice-option="{{ngScrollConfig}}">
                            <div class="card">
                                <ul class="list-inline card-cell">
                                    <li>
                                        <hm-init-icon customer-name="enquiryLog.systemTrack.createUser"></hm-init-icon>
                                    </li>
                                    <li>
                                        <ul class="list-unstyled mt-5">
                                            <li><b>{{enquiryLog.systemTrack.createUser |
                           uppercase}}</b> - Created an item
                                            </li>
                                            <li class="span text-muted">{{dateAndTimeToString(enquiryLog.systemTrack.createDate)}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <ul class="list-inline card-cell">
                                    <li>
                                        <hm-init-icon customer-name="enquiryLog.systemTrack.lastUpdatedUser"></hm-init-icon>
                                    </li>
                                    <li>
                                        <ul class="list-unstyled mt-5">
                                            <li><b>{{enquiryLog.systemTrack.lastUpdatedUser |
                           uppercase}}</b> - Updated an item
                                            </li>
                                            <li class="span text-muted">{{dateAndTimeToString(enquiryLog.systemTrack.lastUpdatedDate)}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--panel body ends-->
    </div>
</div>