<div class="modal resModal" role="dialog" id="rateRequestSection">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header nopadding">
				<div class="row plr14px">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<h4>Rate Request</h4>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mt-7">
						<ul class="list-inline pull-right">
							<li class="plr0">
								<button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="yesRateRequestPopUp()">Yes</button>
							</li>
							<li class="plr0">
								<button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="noRateRequestPopUp()">No</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pt10">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label>Rate Request</label>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label>Rate Request already sent, Do you still want to change?</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>