
<div class="modal resModal" role="dialog" id="remarksSection">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header nopadding">
				<div class="row plr14px">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<h4>Remarks</h4>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mt-7">
						<ul class="list-inline pull-right">
							<li class="plr0">
								<button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="cancelRemarksPopUp()">Cancel</button></li>
							<li class="plr0">
								<button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveRemarksPopUp()">Save</button> 
							</li> 
							
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body minH-180 pt10">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label>Remarks</label>
						<textarea 	msd-elastic 
									maxlength="500" id="{{'notes'+selectedTabIndex}}"
									class="form-control txtresize txtarea100 ovrflowY" rows="5"
									ng-model="enquiryLog.enquiryDetailList[selectedTabIndex].notes">
                        </textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>