<div class="panel panel-default bor-0 overflow-hidden">

	<div class="panel-body shade2 pb0 pt0" id="service-panel">
		<div class="row mt-5">
			<div class="col-xs-12 col-sm-11 col-md-12 col-lg-12 plr0">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 bor-fix">
					<div class="row ">
						<div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 form-group">
							<label>Trade
								<span>*</span>
							</label>
							<div class="select-auto">
								<md-radio-group ng-model="enquiryDetail.importExport" id="{{'transport'+$index}}">
									<md-radio-button value="Export" class="md-primary md-radio-res mb0">Export</md-radio-button>
									<md-radio-button value="Import" class="md-primary md-radio-res  mb0">Import</md-radio-button>
								</md-radio-group>
							</div>
							<span class="error-message" ng-show="errorMap.get('transport'+$index)!=null">
								<small>
									{{errorMap.get('transport'+$index)}} </small>
							</span>
						</div>
						<div class="col-xs-6 col-sm-12 col-md-12 col-lg-6  form-group">
							<label>Service
								<span>*</span>
							</label>
							<div class="select-auto">
								<md-radio-group ng-model="enquiryDetail.service" id="{{'service'+$index}}">
									<md-radio-button value="Air" class="md-primary mb0">Air</md-radio-button>
									<md-radio-button value="LCL" class="md-primary mb0">LCL</md-radio-button>
									<md-radio-button value="FCL" class="md-primary mb0">FCL</md-radio-button>
								</md-radio-group>
							</div>
							<span class="error-message" ng-show="errorMap.get('service'+$index)!=null">
								<small>
									{{errorMap.get('service'+$index)}} </small>
							</span>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-8 bor-fix">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 plr0">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  form-group">
								<label>Origin
									<span>*</span>
								</label>
								<div class="select-auto">
									<input type="text" class="form-control" id="{{'origin'+$index}}" input-focus="{{errorMap.get('origin'+$index)!=null}}" autocomplete="off"
									    ng-model="enquiryDetail.fromPortMaster" uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortOriginEvent($viewValue,enquiryDetail,$index)"
									    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html" typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
									    typeahead-on-select="selectedFromPort('destination',enquiryDetail,$index)" typeahead-show-hint="true" typeahead-show-loading="true"
									    typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-focus-on-select="false" typeahead-focus-first="true"
									    typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow">
										<b></b>
									</span>
								</div>
								<div ng-if="enquiryLog.selectedTabIndex==$index">
									<span class="error-message" ng-show="errorMap.get('origin'+$index)!=null">
										<small>
											{{errorMap.get('origin'+$index)}} </small>
									</span>
								</div>

							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
								<label>Destination
									<span>*</span>
								</label>
								<div class="select-auto">
									<input type="text" class="form-control" id="{{'destination'+$index}}" input-focus="{{errorMap.get('destination'+$index)!=null}}"
									    autocomplete="off" ng-model="enquiryDetail.toPortMaster" uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortDestinationEvent($viewValue,enquiryDetail,$index)"
									    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html" typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
									    typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true"
									    typeahead-on-select="selectedToPort('tos',enquiryDetail,$index);" typeahead-focus-on-select="false" typeahead-focus-first="true"
									    typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow">
										<b></b>
									</span>
								</div>
								<div ng-if="enquiryLog.selectedTabIndex==$index">
									<span class="error-message" ng-show="errorMap.get('destination'+$index)!=null">
										<small>
											{{errorMap.get('destination'+$index)}} </small>
									</span>
									<span class="error-message" ng-show="errorMap.get('tofromdifferent'+$index)!=null">
										<small>
											{{errorMap.get('tofromdifferent'+$index)}} </small>
									</span>

								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 plr0">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
								<label class="text-inherit">Terms of Shipment</label>
								<div class="select-auto">
									<input type="text" class="form-control" id="{{'tos'+$index}}" input-focus="{{errorMap.get('tos'+$index)!=null}}" autocomplete="off"
									    ng-model="enquiryDetail.tosMaster" uib-typeahead="lovObject as lovObject.tosName for lovObject in $AutoCompleteService.getTosList($viewValue)"
									    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true"
									    typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedTos('clearance',enquiryDetail,$index)"
									    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1"
									    typeahead-wait-ms="500">
									<span class="select-arrow">
										<b></b>
									</span>
								</div>

								<div ng-if="enquiryLog.selectedTabIndex==$index">
									<span class="error-message" ng-show="errorMap.get('tos'+$index)!=null">
										<small>
											{{errorMap.get('tos'+$index)}} </small>
									</span>
								</div>
							</div>



							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
								<label>Clearance </label>

								<ul class="list-inline">
									<li ng-class="{'opc-5':enquiryDetail.clearance}">No</li>
									<li class="v-align-top">
										<switch tabindex=0 id="{{'clearance'+$index}}" ng-model="enquiryDetail.clearance" class="green"></switch>
									</li>
									<li ng-class="{'opc-5':!enquiryDetail.clearance}">Yes</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--row ends-->

		<div class="row">
			<div class="col-xs-12 col-sm-11 col-md-12 col-lg-12 plr0">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-4  bor-fix">
					<div class="row ">

						<div class="col-xs-6 col-sm-12 col-md-12 col-lg-6  form-group">
							<label>Hazardous Goods</label>
							<ul class="list-inline flex align-middle">
								<li ng-class="{'opc-5':enquiryDetail.hazardous}">No</li>
								<li class="v-align-top">
									<switch tabindex="0" id="{{'hazardous'+$index}}" ng-model="enquiryDetail.hazardous" class="green"></switch>
								</li>
								<li ng-class="{'opc-5':!enquiryDetail.hazardous}">Yes</li>
								<li data-placement="right" bs-tooltip="hazIcon"></li>
							</ul>
						</div>

						<div class="col-xs-6 col-sm-12 col-md-12 col-lg-6  form-group">
							<label>Commodity Group</label>
							<div class="select-auto">
								<input type="text" class="form-control" id="{{'commodity'+$index}}" input-focus="{{errorMap.get('commodity'+$index)!=null}}"
								    autocomplete="off" ng-model="enquiryDetail.commodityMaster" uib-typeahead="lovObject as lovObject.hsName for lovObject in ajaxCommodityEvent($viewValue)"
								    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true"
								    typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedCommodity('grossWeight',enquiryDetail, $index,$event)"
								    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1"
								    ng-blur="selectedCommodity('',enquiryDetail,$index,$event)" typeahead-wait-ms="500">
								<span class="select-arrow">
									<b></b>
								</span>
							</div>
							<div ng-if="enquiryLog.selectedTabIndex==$index">
								<span class="error-message" ng-show="errorMap.get('commodity'+$index)!=null">
									<small>{{errorMap.get('commodity'+$index)}}</small>
								</span>
							</div>

						</div>


					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-8 bor-fix">
					<div class="row">

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 form-group">
							<label>Gross Weight (KG) </label>
							<input type="text" id="{{'grossWeight'+$index}}" input-focus="{{errorMap.get('grossweightt'+$index)!=null}}" efsdecimals="$root.weightDecimalPoint"
							    efsdecimal-point="enquiryLog.countryMaster.locale" maxlength="16" ng-change="validateVolumeGross(1,enquiryDetail,$index)"
							    ng-model="enquiryDetail.grossWeight" class="form-control text-right" ng-disabled="isDimensionFound(enquiryDetail)">
							<div>
								<span class="error-message" ng-show="errorMap.get('grossweightt'+$index)!=null">
									<small>{{errorMap.get('grossweightt'+$index)}}</small>
								</span>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 form-group">
							<label>Volume Weight (KG) </label>
							<input type="text" efsdecimals="$root.weightDecimalPoint" efsdecimal-point="enquiryLog.countryMaster.locale" maxlength="14"
							    ng-change="validateVolumeGross(2,enquiryDetail,$index)" ng-model="enquiryDetail.volWeight" class="form-control text-right"
							    ng-disabled="isDimensionFound(enquiryDetail)" ng-keydown="openTab($index,$event)">

							<div ng-if="enquiryLog.selectedTabIndex==$index">

								<span class="error-message" ng-show="errorMap.get('volumeweightt'+$index)!=null">
									<small>{{errorMap.get('volumeweightt'+$index)}}</small>
								</span>
							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 form-group">
							<label>Chargeable Weight (KG)</label>
							<div class="col-xs-12 pl0 pr0 text-right disabled-box">
								<h6 id="enq_add_chargeableWeight" class="nomargin">{{enquiryDetail.volWeight > enquiryDetail.grossWeight? weightFormat(enquiryDetail.volWeight,enquiryDetail.countryMaster.locale):weightFormat(enquiryDetail.grossWeight,enquiryDetail.countryMaster.locale)}}</h6>
							</div>
						</div>


						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 form-group">
							<div class="pull-right">

								<label class="hidden-xs"></label>
								<div>
									<button type="button" tabindex="-1" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="openAttachmentPopUp($index)">
										<i class="fa fa-link" aria-hidden="true"></i> Attachment
									</button>


									<button type="button" tabindex="-1" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="openRemarksPopUp($index)">
										<i class="fa fa-file-text" aria-hidden="true"></i> Remarks
									</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!--form group ends-->
	</div>

	<!--  Dimension Section Starts -->
	<div class="row " tabindex="-1">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div ng-click="changeDimensionDef($index,$event)" class="flex align-justify align-middle title" ng-class="isDimensionFound(enquiryDetail)?'done-approve':''"
			    style="margin: 0 0 5px !important">
				<div>
					<h5>
						<span style="color:{{isDimensionFound(enquiryDetail)?'#fff !important':'#000 !important;'}}">
							<i class="fa fa-cube" aria-hidden="true" style="color:{{isDimensionFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Dimensions
						</span>
					</h5>
				</div>

				<div>
					<i class="{{dimensionTab==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{isDimensionFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"
					    style="color:{{isDimensionFound(enquiryDetail)?'#fff !important':'#000 !important;'}}" aria-hidden="true" style="color: #25394f !important"></i>
				</div>
			</div>


			<div class=" bor-b-0 pt5" ng-show="dimensionTab">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-6">
									<label>Dimension Unit</label>
									<ul class="list-inline">
										<li ng-class="{'opc-5':enquiryDetail.dimensionUnit}">Centimeter / Kilos</li>
										<li class="v-align-top">
											<switch id="enabled" tabIndex="0" name="enabled" ng-model="enquiryDetail.dimensionUnit" class="green" ng-change="changeDimension(enquiryDetail)"></switch>
										</li>
										<li ng-class="{'opc-5':!enquiryDetail.dimensionUnit}">Inch / Pounds</li>
									</ul>
								</div>
								<div class="col-xs-3">
									<label>Dimension Value</label>
									<input disabled="true" ng-model="enquiryDetail.dimensionUnitValue" type="text" class="form-control text-right">
									<span class="nowrap">It is used in calculating the volume weight</span>
								</div>
							</div>
							<div class="row nomargin ">
								<span class="error-message" ng-show="errorMap.get('dimensionError')!=null">
									<small>{{errorMap.get('dimensionError')}}</small>
								</span>
								<dimension-table country-master="enquiryLog.countryMaster" index-key="'EnqSer'+$index" table-data="enquiryDetail.enquiryDimensionList"
								    unit-type="enquiryDetail.dimensionUnit" unit-value="enquiryDetail.dimensionUnitValue" table-check="enquiryDetail.isDimensionCheck"
								    calc-fn="calculateWeight(param,enquiryDetail)" fn-role="roleAccess(param)" add-role="$roleConstant.SALE_ENQUIRY_DIMENSION_CREATE"
								    edit-role="$roleConstant.SALE_ENQUIRY_DIMENSION_MODIFY" delete-role="$roleConstant.SALE_ENQUIRY_DIMENSION_DELETE">
								</dimension-table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--  Dimension Section Ends -->








	<!--  Pickup Delivery Starts -->

	<div class="row ">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="flex align-justify align-middle title" ng-class="isPickupDeliveryFound(enquiryDetail)?'done-approve':''" ng-click="deliveryTab=!deliveryTab;serviceEnquiryRolesView('pickUpDelivery'); moveCursor('pickupAddress.addressLine1'+$index,'pickUpDelivery')"
			    ng-init="deliveryTab=false" style="margin: 0 0 5px !important">
				<div>
					<h5>
						<span style="color:{{isPickupDeliveryFound(enquiryDetail)?'#fff !important':'#000 !important;'}}">
							<i class="fa fa-truck rotate-y" aria-hidden="true" style="color:{{isPickupDeliveryFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Pick Up / Delivery
						</span>
					</h5>
				</div>

				<div>
					<i class="{{deliveryTab==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{isPickupDeliveryFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"
					    aria-hidden="true" style="color: #25394f !important"></i>
				</div>
			</div>


			<div class=" bor-b-0" style="padding-top: 0px !important; " ng-show="pickUpDeliveryEdit?deliveryTab:''" ng-class="!pickUpDeliveryEdit?'disabled-div':''">
				<div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 pr0">

								<label class="text-inherit">Pick up from</label>

								<input id="{{'pickupAddress.addressLine1'+$index}}" type="text" placeholder="Address 1" class="form-control" ng-model="enquiryDetail.pickupAddress.addressLine1"
								    maxlength="100" id="{{'pickupAddress.addressLine1'+$index}}" />
								<div class="row">
									<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5 mb0">
										<input type="text" placeholder="Address 2" class="form-control" ng-model="enquiryDetail.pickupAddress.addressLine2" maxlength="100"
										/>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 form-group mt-5 mb0">
										<input type="text" placeholder="Address 3" class="form-control" ng-model="enquiryDetail.pickupAddress.addressLine3" maxlength="100"
										/>
									</div>
									<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group mt-5 mb0 pl0">
										<input type="text" placeholder="PO Box" class="form-control" ng-model="enquiryDetail.pickupAddress.poBox" maxlength="100"
										/>
									</div>
								</div>


								<div class="row">
									<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 mt-5">
										<div class="row">
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb-5">

												<div class="select-auto">
													<input type="text" class="form-control" id="{{'enquiryDetail.pickupAddress.city.'+$index}}" placeholder="City" autocomplete="off"
													    ng-model="enquiryDetail.pickupAddress.city" input-focus="{{errorMap.get('enquiryDetail.pickupAddress.city'+$index)!=null}}"
													    ng-class="{'error-control':errorMap.get('enquiryDetail.pickupAddress.city'+$index)!=null}" uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue,enquiryDetail.pickupAddress.country)"
													    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true"
													    typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedPickupCity(enquiryDetail, 'enquiryDetail.pickupAddress.state.', $index);"
													    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1"
													    typeahead-wait-ms="500">
													<span class="select-arrow">
														<b></b>
													</span>
												</div>
												<div>
													<span class="error-message" ng-show="errorMap.get('pickupCity'+$index)!=null">
														<small>{{errorMap.get('pickupCity'+$index)}}</small>
													</span>
												</div>
											</div>
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb-5">
												<div class="select-auto">
													<input type="text" class="form-control" placeholder="State" id="{{'enquiryDetail.pickupAddress.state.'+$index}}" autocomplete="off"
													    ng-model="enquiryDetail.pickupAddress.state" input-focus="{{errorMap.get('enquiryDetail.pickupAddress.state'+$index)!=null}}"
													    ng-class="{'error-control':errorMap.get('enquiryDetail.pickupAddress.state'+$index)!=null}" uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue, {id:-1})"
													    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true"
													    typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedPickupState(enquiryDetail, 'enquiryDetail.pickupAddress.country.', $index);"
													    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1"
													    typeahead-wait-ms="500">
													<span class="select-arrow">
														<b></b>
													</span>
												</div>
												<div>
													<span class="error-message" ng-show="errorMap.get('pickupState'+$index)!=null">
														<small>{{errorMap.get('pickupState'+$index)}}</small>
													</span>
												</div>
											</div>
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb10">
												<div class="select-auto">
													<input type="text" class="form-control" placeholder="Country" id="{{'enquiryDetail.pickupAddress.country.'+$index}}" autocomplete="off"
													    ng-model="enquiryDetail.pickupAddress.country" input-focus="{{errorMap.get('enquiryDetail.pickupAddress.state'+$index)!=null}}"
													    ng-class="{'error-control':errorMap.get('enquiryDetail.pickupAddress.country'+$index)!=null}" uib-typeahead="lovObject as lovObject.countryName for lovObject in $AutoCompleteService.getCountryList($viewValue, {id:-1})"
													    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html" typeahead-show-hint="true"
													    typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedPickupCountry(enquiryDetail, 'deliveryAddress', $index);"
													    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1"
													    typeahead-wait-ms="500">
													<span class="select-arrow">
														<b></b>
													</span>
												</div>
												<div>
													<span class="error-message" ng-show="errorMap.get('pickupCountry'+$index)!=null">
														<small>{{errorMap.get('pickupCountry'+$index)}}</small>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 mt-23">
								<a tabindex="-1" data-placement="bottom" bs-tooltip="selectPickUpAddress" href="javascript:void(0)" class="selectPicker-sm"
								    ng-click="goToPickup(enquiryDetail)">
									<i class="fa fa-chevron-right"></i>
								</a>
							</div>
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 pr0">

								<label for="comment">Delivery to</label>
								<input id="{{'deliveryAddress'+$index}}" type="text" placeholder="Address 1" class="form-control" ng-model="enquiryDetail.deliveryAddress.addressLine1"
								    maxlength="100" id="{{'deliveryAddress.addressLine1'+$index}}" />
								<div class="row">
									<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5 mb0">
										<input type="text" placeholder="Address 2" class="form-control" ng-model="enquiryDetail.deliveryAddress.addressLine2" maxlength="100"
										/>
									</div>
								</div>


								<div class="row">
									<div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 form-group mt-5 mb0">
										<input type="text" placeholder="Address 3" class="form-control" ng-model="enquiryDetail.deliveryAddress.addressLine3" maxlength="100"
										/>
									</div>
									<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group mt-5 mb0 pl0">
										<input type="text" placeholder="PO Box" class="form-control" ng-model="enquiryDetail.deliveryAddress.poBox" maxlength="100"
										/>
									</div>
								</div>


								<div class="row">
									<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 mt-5">
										<div class="row">
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb-5">

												<div class="select-auto">
													<input type="text" class="form-control" id="{{'enquiryDetail.deliveryAddress.city.'+$index}}" placeholder="City" autocomplete="off"
													    ng-model="enquiryDetail.deliveryAddress.city" input-focus="{{errorMap.get('enquiryDetail.deliveryAddress.city'+$index)!=null}}"
													    ng-class="{'error-control':errorMap.get('enquiryDetail.deliveryAddress.city'+$index)!=null}" uib-typeahead="lovObject as lovObject.cityName for lovObject in 	$AutoCompleteService.getCityList($viewValue,enquiryDetail.deliveryAddress.country)"
													    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true"
													    typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedDeliveryCity(enquiryDetail, 'enquiryDetail.deliveryAddress.state.', $index);"
													    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1"
													    typeahead-wait-ms="500">
													<span class="select-arrow">
														<b></b>
													</span>
												</div>
												<div>
													<span class="error-message" ng-show="errorMap.get('deliveryCity'+$index)!=null">
														<small>{{errorMap.get('deliveryCity'+$index)}}</small>
													</span>
												</div>
											</div>
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb-5">
												<div class="select-auto">
													<input type="text" class="form-control" placeholder="State" id="{{'enquiryDetail.deliveryAddress.state.'+$index}}" autocomplete="off"
													    ng-model="enquiryDetail.deliveryAddress.state" input-focus="{{errorMap.get('enquiryDetail.deliveryAddress.state'+$index)!=null}}"
													    ng-class="{'error-control':errorMap.get('enquiryDetail.deliveryAddress.state'+$index)!=null}" uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue, {id:-1})"
													    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true"
													    typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedDeliveryState(enquiryDetail, 'enquiryDetail.deliveryAddress.country.', $index);"
													    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1"
													    typeahead-wait-ms="500">
													<span class="select-arrow">
														<b></b>
													</span>
												</div>
												<div>
													<span class="error-message" ng-show="errorMap.get('deliveryState'+$index)!=null">
														<small>{{errorMap.get('deliveryState'+$index)}}</small>
													</span>
												</div>
											</div>
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb10">
												<div class="select-auto">
													<input type="text" class="form-control" placeholder="Country" id="{{'enquiryDetail.deliveryAddress.country.'+$index}}" autocomplete="off"
													    ng-model="enquiryDetail.deliveryAddress.country" input-focus="{{errorMap.get('enquiryDetail.deliveryAddress.country'+$index)!=null}}"
													    ng-class="{'error-control':errorMap.get('enquiryDetail.deliveryAddress.country'+$index)!=null}" uib-typeahead="lovObject as lovObject.countryName for lovObject in $AutoCompleteService.getCountryList($viewValue, {id:-1})"
													    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html" typeahead-show-hint="true"
													    typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedDeliveryCountry(enquiryDetail, 'deliveryAddress', $index);"
													    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1"
													    typeahead-wait-ms="500">
													<span class="select-arrow">
														<b></b>
													</span>
												</div>
												<div>
													<span class="error-message" ng-show="errorMap.get('deliveryCountry'+$index)!=null">
														<small>{{errorMap.get('deliveryCountry'+$index)}}</small>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 mt-23">
								<a tabindex="-1" data-placement="bottom" bs-tooltip="selectDeliveryAddress" tabindex="" href="javascript:void(0)" class="selectPicker-sm"
								    ng-click="goToDelivery(enquiryDetail)">
									<i class="fa fa-chevron-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--  Pickup Delivery Ends -->



	<!-- Value Added Services -->
	<div class="row ">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<div class="flex align-justify align-middle title" ng-class="isValueAddedFound(enquiryDetail)?'done-approve':''" ng-click="valueAddedSection=!valueAddedSection; serviceEnquiryRolesView('valueAddedService'); moveCursor($index + 'valueAddedServices0','valueAddedService')"
			    ng-init="valueAddedSection=false" style="margin: 0 0 5px; !important">
				<div>
					<h5>
						<span style="color:{{isValueAddedFound(enquiryDetail)?'#fff !important':'#000 !important;'}}">
							<i class="fa fa-cog" aria-hidden="true" style="color:{{isValueAddedFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Value Added Services</span>
					</h5>
				</div>

				<div>
					<i class="{{valueAddedSection==true?'icon-uparrow':'icon-downarrow'}}" aria-hidden="true" style="color:{{isValueAddedFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"></i>
				</div>
			</div>


			<div class=" bor-b-0 ptb5" ng-show="valueAddedServiceEdit?valueAddedSection:''" ng-class="!valueAddedServiceEdit?'disabled-div':''">
				<div class="row">
					<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">

						<div ng-repeat="valueAddedServices in enquiryDetail.enquiryValueAddedTempServiceList track by $index">
							<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
								<input tabindex="0" type="checkbox" ng-model="enquiryDetail.enquiryValueAddedTempServiceList[$index].selected" class="magic-checkbox"
								    id="{{$parent.$index}}valueAddedServices{{$index}}" ng-click="isValueAddedFound(enquiryDetail)">
								<label class="text custom-label " for="{{$parent.$index}}valueAddedServices{{$index}}">
									{{valueAddedServices.valueAddedSevicesName}}</label>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Value Added services Ends -->




	<!-- Rate Request Start -->
	<div class="row ">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<div class="flex align-justify align-middle title" ng-class="isRateRequestFound(enquiryDetail)?'done-approve':''" ng-click="RateRequest=!RateRequest;serviceEnquiryRolesView('rateRequestRole', enquiryDetail); moveCursor('EnqRR'+$index+'vendorName0','rateRequestRole')"
			    ng-init="RateRequest=false" style="margin: 0 0 5px; !important;color:{{isRateRequestFound(enquiryDetail)?'#fff !important':'#000 !important;'}}">
				<div>
					<h5>
						<span class="done-approve-text" style="color:{{isRateRequestFound(enquiryDetail)?'#fff !important':'#000 !important;'}}">
							<i class="fa fa-hand-pointer-o" aria-hidden="true" style="transform: scaleX(-1);color:{{isRateRequestFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Rate Request</span>
					</h5>
				</div>

				<div>
					<i class="{{RateRequest==true?'icon-uparrow':'icon-downarrow'}}" aria-hidden="true" style="color:{{isRateRequestFound(enquiryDetail)?'#fff !important':'#000 !important;'}}"></i>
				</div>
			</div>


			<div class=" bor-b-0 pt5" ng-show="RateRequest">
				<div class="row">
					<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
						<vendor-table table-data="enquiryDetail.rateRequestList" index-key="'EnqRR'+$index" depend-data="enquiryLog" table-check="enquiryDetail.isRateRequestCheck"
						    fn-role="roleAccess(param)" add-role="$roleConstant.SALE_ENQUIRY_RATE_REQUEST_CREATE" edit-role="$roleConstant.SALE_ENQUIRY_RATE_REQUEST_MODIFY"
							delete-role="$roleConstant.SALE_ENQUIRY_RATE_REQUEST_DELETE"
							default-agent="defaultAgent">
						</vendor-table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Rate Request Ends -->





</div>