<div class="panel panel-default bor-0 overflow-hidden  ">

    <div class="panel-body   shade2 pb0 pt0" id="service-panel" >
                <div class="form-group mb0">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                 <div class="col-xs-6 ptb-15">
                          		 	<label>Service<span>*</span></label>
                                   	<div class="select-auto">
										<input type="text" 
											class="form-control" id="{{'service'+$index}}" 
											input-focus="{{errorMap.get('service'+$index)!=null}}"
											autocomplete="off"
											ng-model="enquiryDetail.serviceMaster"
											uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue)"
											typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
											typeahead-show-hint="true" typeahead-show-loading="true" 
											 typeahead-select-on-exact="true" typeahead-append-to-body="true"
											typeahead-on-select="selectedService('origin',enquiryDetail,$index)"
											typeahead-focus-on-select="false"
											typeahead-focus-first="true"
											typeahead-editable="false"
											typeahead-min-length="1" typeahead-wait-ms="500" 
											>
											<span class="select-arrow"><b></b></span>
									</div>


                            		<div ng-if="selectedTabIndex==$index">
                                        <span class="error-message" ng-show="errorMap.get('service'+$index)!=null">
	                                       <small>
	                                           {{errorMap.get('service'+$index)}}
	                                       </small>
                                       </span>
                            		</div>
                        		</div>
                            </div>
                        </div>
                    </div><!--row ends-->

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5 bor-fix  ">
                            <div class="row ptb-15">
                                <div class="col-xs-6">
                                    <label>Origin<span>*</span></label>
                                   	<div class="select-auto">
										<input type="text" 
											class="form-control" id="{{'origin'+$index}}" 
											input-focus="{{errorMap.get('service'+$index)!=null}}"
											autocomplete="off"
											ng-model="enquiryDetail.fromPortMaster"
											uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortOriginEvent($viewValue,enquiryDetail,$index)"
											typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
											typeahead-show-hint="true" typeahead-show-loading="true" 
											 typeahead-select-on-exact="true" typeahead-append-to-body="true"
											typeahead-on-select="selectedFromPort('destination',enquiryDetail,$index)"
											typeahead-focus-on-select="false"
											typeahead-focus-first="true"
											typeahead-editable="false"
											typeahead-min-length="1" typeahead-wait-ms="500" 
											>
											<span class="select-arrow"><b></b></span>
									</div>
                                    <div ng-if="selectedTabIndex==$index">
                                        <span class="error-message" ng-show="errorMap.get('origin'+$index)!=null">
                                        	<small>
	                                            {{errorMap.get('origin'+$index)}}
	                                        </small>
                                        </span>
                                    </div>
                                    
                                </div>
                                <div class="col-xs-6">
                                    <label>Destination<span>*</span></label>
                                   	<div class="select-auto">
										<input type="text" 
											class="form-control" id="{{'destination'+$index}}" 
											input-focus="{{errorMap.get('destination'+$index)!=null}}"
											autocomplete="off"
											ng-model="enquiryDetail.toPortMaster"
											uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortDestinationEvent($viewValue,enquiryDetail,$index)"
											typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
											typeahead-show-hint="true" typeahead-show-loading="true" 
											 typeahead-select-on-exact="true" typeahead-append-to-body="true"
											typeahead-on-select="selectedToPort('tos',enquiryDetail,$index);"
											typeahead-focus-on-select="false"
											typeahead-focus-first="true"
											typeahead-editable="false"
											typeahead-min-length="1" typeahead-wait-ms="500" 
											>
											<span class="select-arrow"><b></b></span>
									</div>
                                    <div ng-if="selectedTabIndex==$index">
                                        <span class="error-message" ng-show="errorMap.get('destination'+$index)!=null"><small>
                                            {{errorMap.get('destination'+$index)}}
                                        </small></span>

                                        <span class="error-message" ng-show="errorMap.get('tofromdifferent'+$index)!=null"><small>
                                            {{errorMap.get('tofromdifferent'+$index)}}
                                        </small></span>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 bor-fix col-lg-7 ">
                            <div class="row ptb-15">
                                <div class="col-xs-5">
                                    <label class="text-inherit">Terms of Shipment</label>
                                   	<div class="select-auto">
										<input type="text" 
											class="form-control" id="{{'tos'+$index}}" 
											input-focus="{{errorMap.get('tos'+$index)!=null}}"
											autocomplete="off"
											ng-model="enquiryDetail.tosMaster"
											uib-typeahead="lovObject as lovObject.tosName for lovObject in ajaxTosEvent($viewValue)"
											typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
											typeahead-show-hint="true" typeahead-show-loading="true" 
											 typeahead-select-on-exact="true" typeahead-append-to-body="true"
											typeahead-on-select="selectedTos('clearance',enquiryDetail,$index)"
											typeahead-focus-on-select="false"
											typeahead-focus-first="true"
											typeahead-editable="false"
											typeahead-min-length="1" typeahead-wait-ms="500" 
											>
											<span class="select-arrow"><b></b></span>
									</div>
                                  
                                    <div ng-if="selectedTabIndex==$index">
                                        <span class="error-message" ng-show="errorMap.get('tos'+$index)!=null"><small>
                                            {{errorMap.get('tos'+$index)}}
                                        </small></span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <label>Clearance </label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':enquiryDetail.clearance}">No</li>
                                        <li class="v-align-top">
                                            <switch tabindex=0  ng-keypress="keypressSwitch($event,0,enquiryDetail)" id="{{'clearance'+$index}}" ng-change="setClearance(enquiryDetail,$index)"  ng-model="enquiryDetail.clearance" class="green" ></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!enquiryDetail.clearance}">Yes</li>
                                    </ul>
                                </div>
                                 <div class="col-xs-5">
                                    <label>Over Dimension</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':enquiryDetail.overDimension}">No</li>
                                        <li class="v-align-top">
                                            <switch tabindex=0  ng-model="enquiryDetail.overDimension" class="green"></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!enquiryDetail.overDimension}">Yes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--row ends-->

                    <div class="row">
                        <div  class="col-xs-6 col-sm-6 col-md-6 col-lg-5 bor-fix  ">
                            <div class="row ptb-15">
                                <div class="col-xs-6">
                                    <label>Commodity Group</label>
                                   	<div class="select-auto">
										<input type="text" 
											class="form-control" id="{{'commodity'+$index}}" 
											input-focus="{{errorMap.get('commodity'+$index)!=null}}"
											autocomplete="off"
											ng-model="enquiryDetail.commodityMaster"
											uib-typeahead="lovObject as lovObject.hsName for lovObject in ajaxCommodityEvent($viewValue)"
											typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
											typeahead-show-hint="true" typeahead-show-loading="true" 
											 typeahead-select-on-exact="true" typeahead-append-to-body="true"
											typeahead-on-select="selectedCommodity('hazardous',enquiryDetail,$index)"
											typeahead-focus-on-select="false"
											typeahead-focus-first="true"
											typeahead-editable="false"
											typeahead-min-length="1" typeahead-wait-ms="500" 
											>
											<span class="select-arrow"><b></b></span>
									</div>
                                    <div ng-if="selectedTabIndex==$index">
                                <span  class="error-message" ng-show="errorMap.get('commodity'+$index)!=null">
                                      <small>{{errorMap.get('commodity'+$index)}}</small>
                                </span>
                                    </div>

                                </div>
                                <div class="col-xs-6">
                                    <label>Hazardous Goods</label>
                                    <ul class="list-inline flex align-middle">
                                        <li ng-class="{'opc-5':enquiryDetail.hazardous}">No</li>
                                        <li class="v-align-top">
                                           <switch  tabindex="0"
                                            ng-keypress="keypressSwitch($event,1,enquiryDetail)"
                                            id="{{'hazardous'+$index}}"
                                            ng-model="enquiryDetail.hazardous"
                                            class="green"
                                            ng-change="setClearance(enquiryDetail,$index)" ></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!enquiryDetail.hazardous}">Yes</li>
                                        <li data-placement="right"    bs-tooltip="hazIcon">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div  class="col-xs-6 col-sm-6 col-md-6 col-lg-7 bor-fix">
                            <div class="row ptb-15">
                                <div class="col-xs-4">
                                    <label>Gross Weight (KG) </label>
                                    <!-- <h4 ng-show="enquiryDetail.enquiryDimensionList!=null && enquiryDetail.enquiryDimensionList.length>0">
                                    	{{enquiryDetail.grossWeight.toFixed(2)}}
                                    </h4> -->
                                     <input  type="text" input-focus="{{errorMap.get('grossweightt'+$index)!=null}}"
                                     efsdecimals="$root.weightDecimalPoint" efsdecimal-point="enquiryLog.countryMaster.locale"
                                           maxlength="16" ng-change="validateVolumeGross(1,enquiryDetail,$index)"
                                           ng-model="enquiryDetail.grossWeight"  class="form-control text-right">
                                    <div>
                                <span  class="error-message"
                                       ng-show="errorMap.get('grossweightt'+$index)!=null"><small>{{errorMap.get('grossweightt'+$index)}}</small></span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <label>Volume Weight (KG) </label>
                                    <!-- <h4 ng-show="enquiryDetail.enquiryDimensionList!=null && enquiryDetail.enquiryDimensionList.length>0">
                                    	{{enquiryDetail.volWeight.toFixed(2)}}
                                    </h4> -->
                                    <input type="text"
                                           efsdecimals="$root.weightDecimalPoint" efsdecimal-point="enquiryLog.countryMaster.locale"
                                           maxlength="14" ng-change="validateVolumeGross(2,enquiryDetail,$index)"   ng-model="enquiryDetail.volWeight" class="form-control text-right">

                                    <div ng-if="selectedTabIndex==$index">

                                <span  class="error-message"
                                       ng-show="errorMap.get('volumeweightt'+$index)!=null"><small>{{errorMap.get('volumeweightt'+$index)}}</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--form group ends-->
    </div><!--panel body ends-->
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">
                <div class="tabs" >
					<ul class="nav nav-tabs">
						<li>
							<button tabindex="-1" type="button" class="btn" 
								ng-class="Tabs=='Tab1'?'normal':'default'"
								ng-click="hasAccessWithFocus('ENQUIRY_SERVICE_DIMENSIONS_TAB_VIEW',('EnqSer'+$index+'noOfPiece0'),'Tab1')">Dimensions</button>
						</li>
						<li>
							<button tabindex="-1" type="button" class="btn" 
								ng-class="Tabs=='Tab2'?'normal':'default'"
								ng-click="hasAccessWithFocus('ENQUIRY_SERVICE_PICKUP_DELIVERY_TAB_VIEW',('pickup'+$index),'Tab2')">Pick Up / Delivery</button>
						</li>
						<li>
							<button tabindex="-1" type="button" class="btn" 
								ng-class="Tabs=='Tab3'?'normal':'default'"
								ng-click="hasAccessWithFocus('SALES_ENQUIRY_REMARKS_TAB_VIEW',('notes'+$index),'Tab3')">Remarks</button>
						</li>
						 <li>
                            <button tabindex="-1" type="button" class="btn" 
                                    ng-class="Tabs=='RateRequest'?'normal':'default'"
                                    ng-click="hasAccessWithFocus(null,('EnqSerAtt'+$index+'attachRefNo0'),'RateRequest');checkLengthOfRate(enquiryDetail)">Rate Request</button>
                        </li>
                        <li>
                            <button tabindex="-1" type="button" class="btn" 
                                    ng-class="Tabs=='Tab5'?'normal':'default'"
                                    ng-click="hasAccessWithFocus(null,('EnqSerAtt'+$index+'attachRefNo0'),'Tab5')">Attachment</button>
                        </li>
                         <li>
                            <button tabindex="-1" type="button" class="btn" 
                                    ng-class="Tabs=='Tab6'?'normal':'default'"
                                    ng-click="hasAccessWithFocus(null,('EnqSerAtt'+$index+'attachRefNo0'),'Tab6')">Value Added</button>
                        </li>
						<li>
							<button ng-show="false" type="button" class="btn" 
								ng-class="Tabs=='Tab4'?'normal':'default'"
								ng-click="Tabs='Tab4'">Container Details</button>
						</li>
					</ul>
					<div class="tabContent shade3" set-tab-height>
                        <div ng-show="Tabs=='Tab1'" >
                            <div class="row">
                                <div class="col-xs-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Dimension Unit</label>
                                                <ul class="list-inline">
                                                    <li ng-class="{'opc-5':enquiryDetail.didimensionUnit}">Centimeter / Kilos</li>
                                                    <li class="v-align-top">
                                                        <switch  tabindex="-1"
                                                                ng-keypress="keypressSwitch($event,2,enquiryDetail)"
                                                                id="{{'dimension'+$index}}"
                                                                ng-change="changeDimension(enquiryDetail)"
                                                                ng-model="enquiryDetail.dimensionUnit"
                                                                class="green"
                                                                >
                                                        </switch>
                                                    </li>
                                                    <li ng-class="{'opc-5':!enquiryDetail.dimensionUnit}">Inch / Pounds</li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Dimension Value</label>
                                                <input type="text" ng-disabled="true"  ng-model="enquiryDetail.dimensionUnitValue" class="form-control text-right">
                                                <span class="nowrap">It is use to calculate the volume weight</span>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                <span class="error-message"  ng-show="errorMap.get('dimensionError')!=null"><small>{{errorMap.get('dimensionError')}}</small></span>
									<dimension-table 
										country-master="enquiryLog.countryMaster"
										index-key = "'EnqSer'+$index"
										table-data="enquiryDetail.enquiryDimensionList"
										unit-type="enquiryDetail.dimensionUnit"
										unit-value="enquiryDetail.dimensionUnitValue"
                                        table-check="enquiryDetail.isDimensionCheck"
										calc-fn="calculateWeight(param,enquiryDetail)" fn-role="hasAccess(param)"
										add-role="userProfile.featureMap['ENQUIRY_SERVICE_DIMENSIONS_TAB_ADD']"
										edit-role="userProfile.featureMap['ENQUIRY_SERVICE_DIMENSIONS_TAB_EDIT']"
										delete-role="userProfile.featureMap['ENQUIRY_SERVICE_DIMENSIONS_TAB_DELETE']"
										>
									</dimension-table>
								</div>
                            </div>
                        </div>
                        <div ng-show="Tabs=='Tab2'" >
                            <div class="row">
                                <div class="col-xs-5 pr0">
                                  
                                    <label for="comment" class="text-inherit">Pick up Address </label>
                             <textarea
                                     msd-elastic
                                     id="{{'pickup'+$index}}" 
                                     class="form-control elastic-ht" 
                                     maxlength="500" 
                                     input-focus="{{errorMap.get('pickUpAddress'+$index)!=null}} "
                                     ng-class="{'error-control':errorMap.get('pickUpAddress'+$index)!=null}"  
                                     ng-change="validateService(7,enquiryDetail,$index)" 
                                     ng-model="enquiryDetail.pickUpAddress" 
                                     rows="5">

                                        </textarea>
                                    <div ng-if="selectedTabIndex==$index">
                                <span  class="error-message"
                                       ng-show="errorMap.get('pickUpAddress'+$index)!=null"><small>{{errorMap.get('pickUpAddress'+$index)}}</small></span>
                                    </div>
                                </div>
                                <div class="col-xs-1 mt-23"><a tabindex="-1"
                                                               data-placement="bottom"   bs-tooltip="selectPickUpAddress"
                                                               href="javascript:void(0)"
                                                         class="selectPicker-sm" ng-click="goToPickup(enquiryDetail)"> <i
                                        class="fa fa-chevron-right"></i>
                                </a></div>
                                <div class="col-xs-5 pr0">
                                    
                                    <label for="comment">Delivery Address</label>
                            <textarea
                                    msd-elastic
                                    id="{{'delivery'+$index}}" 
                                    class="form-control elastic-ht" 
                                    maxlength="500" 
                                    input-focus="{{errorMap.get('deliveryAddress'+$index)!=null}}"
                                    ng-class="{'error-control':errorMap.get('deliveryAddress'+$index)!=null}"  
                                    ng-change="validateService(8,enquiryDetail,$index)"    
                                    class="form-control" 
                                    ng-model="enquiryDetail.deliveryAddress" 
                                    rows="5" 
                                    >
                            </textarea>
                                    <div ng-if="selectedTabIndex==$index">
                                <span  class="error-message"
                                       ng-show="errorMap.get('deliveryAddress'+$index)!=null"><small>{{errorMap.get('deliveryAddress'+$index)}}</small></span>
                                    </div>
                                </div>
                                <div class="col-xs-1 mt-23"><a tabindex="-1"
                                                         data-placement="bottom"   bs-tooltip="selectDeliveryAddress"
                                                         tabindex="" href="javascript:void(0)"
                                                         class="selectPicker-sm" ng-click="goToDelivery(enquiryDetail)"> <i
                                        class="fa fa-chevron-right"></i>
                                </a></div>
                            </div>
                        </div>
                        <div ng-show="Tabs=='Tab3'">
                            <div class="row">
                                <div class="col-xs-8">
                            <label>Remarks</label>
                            <textarea msd-elastic maxlength="500"  id="{{'notes'+$index}}" 
                                      class="form-control elastic-ht" rows="5" input-focus="{{errorMap.get('notes'+$index)!=null}}"
                                      ng-model="enquiryDetail.notes" class="form-control">
                            </textarea>
                                    <div ng-if="selectedTabIndex==$index">
                                <span  class="error-message"
                                       ng-show="errorMap.get('notes'+$index)!=null"><small>{{errorMap.get('notes'+$index)}}</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="Tabs=='Tab4'" ng-if="false">
                            <div class="row" >
                                <div class="col-xs-12">
                                    <div  class="row">
                                        <div class="col-xs-12 ptb-15">
                                            <button type="button" ng-init="showEditContainerDetails=false" ng-show="!showEditContainerDetails" ng-click="showEditContainerDetails=true" class="btn btn-primary btn-xs btn-property accent-btn"><i class="icon-add opcfull"></i> Add Container Details</button>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="enquiryDetail.serviceMaster.transportMode=='Ocean'">
                                        <div class="col-xs-12">
                                            <div ng-show="showEditContainerDetails && enquiryDetail.serviceMaster.transportMode=='Ocean' ">
                                                <div ng-include="'app/components/sales/enquiry/view/add_container_details.html'"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="!showEditContainerDetails && showEditContainerDetails && enquiryDetail.serviceMaster.transportMode=='Ocean'">
                                        <div class="table-responsive">
                                            <table class="table table-bordered tab-width tab-border tfoot-bor0 table-default">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Container</th>
                                                    <th>Container Name</th>
                                                    <th>No of containers</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>45G0</td>
                                                    <td>40 HC</td>
                                                    <td>1</td>
                                                    <td>
                                                        <ul class="list-inline pull-right">
                                                            <li><i class="icon-edit"></i></li>
                                                            <li><i class="icon-delete"></i></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr class="tab-txthide">
                                                    <td>2</td>
                                                    <td>10</td>
                                                    <td>10</td>
                                                    <td>10</td>
                                                    <td></td>
                                                </tr>
                                                <tr class="tab-txthide">
                                                    <td>2</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="tab-txthide">
                                                    <td>3</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="Tabs=='Tab5'">
                            <div class="row">
                                <div class="col-xs-10 pl0 pr0">
                                    <attachment-section-simple
                                    		is-edit = "true" is-delete = "true"
                                            table-data="enquiryDetail.enquiryAttachmentList"
                                    		index-key = "'EnqSerAtt'+$index"
                                            download-fn="downloadAttach(param)"
                                            fn-role="hasAccess(param)"
											add-role="userProfile.featureMap['QUOTATION_ATTACHMENTS_TAB_ADD']"
                                            edit-role="userProfile.featureMap['QUOTATION_ATTACHMENTS_TAB_EDIT']"
                                            delete-role="userProfile.featureMap['QUOTATION_ATTACHMENTS_TAB_DELETE']"
                                            table-check="enquiryDetail.isAttachmentCheck">
                                    </attachment-section-simple>
                                 </div>
                            </div>
                        </div>
                        <div ng-show="Tabs=='RateRequest'">
                            <div class="row">
                                <div class="col-xs-10 pl0 pr0">
                                    <vendor-table
                                            table-data="enquiryDetail.rateRequestList"
                                            index-key="'EnqRR'+$index"
                                            depend-data="enquiry"
                                            table-check="enquiryDetail.isRateRequestCheck"
                                            >
                                    </vendor-table>
                                 </div>
                            </div>
                        </div>
                 <div ng-show="Tabs=='Tab6'">
							<div class="row">
								<div class="col-xs-12">
									<div class="panel panel-default">
										<div class="panel-body">
									<div
										ng-repeat="valueAddedServices in enquiryDetail.enquiryValueAddedTempServiceList track by $index">
										<div class="col-xs-4">
											<input tabindex="0" type="checkbox" 
												ng-model="enquiryDetail.enquiryValueAddedTempServiceList[$index].selected"
												ng-change="checkList(enquiryDetail.enquiryValueAddedServiceList[$index])"
												id="valueAddedServices{{$index}}" class="magic-checkbox"> <label
												class="text custom-label"
												for="valueAddedServices{{$index}}">
												{{valueAddedServices.valueAddedSevicesName}}</label>
										</div>
									</div>
									</div>
									</div>

								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>