<div class="container-fluid">
    <div class="row ml0 mr0">
        <div ng-show="deskTopView" class="list-container col-md-12 col-lg-7 col-xs-12 col-sm-12 "  >
            <div class="panel panel-default list-container">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panelTitle">
                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()"><i class="icon-add"></i>add Buyer Consolidation</a>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right text-right">
                            <i class="icon-settings"></i>
                        </div>
                    </div>
                </div>
                <div show-response></div>
                <div class="panel-body no-tab-table" panel-height id="user-list">
                    <div class="table-fixed table-responsive">
                        <super-table 	data="buyerConsolidationArr"
                                        head="buyerConsolidationHeadArr"
                                        sort="sortSelection"
                                        click-event="rowSelect(param)"
                                        search-event="changeSearch(param)"
                                        sort-event="sortChange(param)"
                                        page="page" size="limit">
                        </super-table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="pull-left">
                        <ul class="list-inline">
                            <li>Show</li>
                            <li>
                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                </select>
                            </li>
                            <li>Entries</li>
                        </ul>
                    </div>
                    <div class="pull-right text-right">
                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                    </div>
                </div>
            </div><!--panel ends-->
        </div>
        <div class="detail-container col-md-12 col-lg-5 col-xs-12 col-sm-12 m-pl0 "  ng-show="showDetail">
            <div class="detail-container pl0">
                <div class="panel panel-default detail-transition">
                    <div class="panel-heading flexTitle">
                        <div>
                            <div class="panelTitle">
							<span>
								<a ng-click="backTobcm()" href="javascript:void(0)" class="list-panel-back">
								  <i class="icon-back-menu" data-placement="bottom"   bs-tooltip="backToBcm"></i>
                                </a>
							</span>
                                <span>Buyer Consolidation</span>
                            </div>
                        </div>
                        <div>
                        
                            <ul class="list-inline text-right">
                                <!--<li><i class="icon-settings"></i></li>-->
                                <li>
                                    <a
                                        href="javascript:void(0)"
                                        ng-class="{'active-activityBtn':showHistory}"
                                        ng-click="showHistory=!showHistory">
                                        <i class="icon-logs"
                                            data-placement="bottom"
                                              bs-tooltip="activity">
                                        </i>
                                    </a>
                                </li>
                                <li><a data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="edit()"
                                       class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
                                <li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" class="list-panel-edit-btn cursorPt"><i
                                        class="icon-delete"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body plr15 half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div ng-click="showHistory=false">

                            <div class="row metadata-detail">
                                <div class="col-xs-12 ptb-15">
                                    <span>Name</span>
                                    <h6>Visteon Automotive Systems India Pvt Ltd</h6>
                                </div>
                            </div>
                            <div class="row line">
                                <hr>
                            </div>
                            <div class="row ptb-15">
                                <div class="col-xs-4">
                                    <span>Code</span>
                                    <h6>Visteon</h6>
                                </div>
                                <div class="col-xs-4">
                                    <span >Status</span>
                                    <show-status status="{{carrierMaster.status}}"></show-status>
                                </div>
                            </div>
                            <div class="row line">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="title">
                                    <h5 class="sub-title">Customize Reference Labels</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 ptb-15 mt10 nopadding">
                                    <div class="table-responsive">
                                        <table class="table table-inline">
                                            <thead>
                                                 <tr>
                                                     <th class="inl_s">Field Name</th>
                                                     <th class="inl_l">Label</th>
                                                 </tr>
                                            </thead>
                                            <tbody>
                                                 <tr>
                                                     <td>
                                                         Ref 1
                                                     </td>
                                                     <td></td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         Ref 2
                                                     </td>
                                                     <td></td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         Ref 3
                                                     </td>
                                                     <td></td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         Ref 4
                                                     </td>
                                                     <td></td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         Ref 5
                                                     </td>
                                                     <td></td>
                                                 </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="logs-view logs-transition" ng-show="showHistory">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="showHistory=false"
                                               class="list-panel-back">
                                                <i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close" ></i></a>
										</span>
                                            <span>Activity</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
                                    <div class="card">

                                        <ul class="list-inline card-cell">
                                            <li>
                                                <hm-init-icon customer-name="user.systemTrack.createUser"></hm-init-icon>
                                            </li>
                                            <li>
                                                <ul class="list-unstyled mt-5">
                                                    <li><b>{{user.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                                    <li class="span text-muted">{{dateAndTimeToString(user.systemTrack.createDate)}}</li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="card">
                                        <ul class="list-inline card-cell">
                                            <li>
                                                <hm-init-icon customer-name="user.systemTrack.lastUpdatedUser"></hm-init-icon>
                                            </li>
                                            <li>
                                                <ul class="list-unstyled mt-5">
                                                    <li><b>{{user.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                                    <li class="span text-muted">{{dateAndTimeToString(user.systemTrack.lastUpdatedDate)}}</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!--detail Container ends-->
    </div>
</div>
