<div class="container-fluid ">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <form role="form">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>Edit Buyer Consolidation</h4>
                    </div>
                    <div>
                        <div class="btngrp">
                            <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                            <button  type="button"  class="btn btn-primary btn-xs btn-property accent-btn">Save</button>
                        </div>
                    </div>
                </div><!--panel head ends-->
                <div class="panel-body pt0 edit-body" id="role-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                    <div class="row ptb-15">
                        <div class="col-xs-12">
                            <div show-response></div>
                            <div><span class="reqColor">*</span><small class="opc-5"> Indicates Mandatory Fields</small></div>
                        </div>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <div class="row ptb-15">
                                <div class="col-xs-4">
                                    <label> Name<span>*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row line">
                                <hr>
                            </div>
                            <div class="row ptb-15">
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label> Code<span>*</span></label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-xs-4">
                                            <label>Status<span>*</span></label>
                                            <select class="form-control status"
                                                    id="status"
                                                    ng-class="setStatus(buyMaster.status)"
                                                    ng-options="item for item in enum['LovStatus']"
                                                    ng-model="buyMaster.status" >
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row line">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="title">
                                    <h5 class="sub-title">Customize Reference Labels</h5>
                                </div>
                            </div>
                            <div class="row fgmb0">
                                <div class="col-xs-7 ptb-15 mt10 ">
                                    <div class="table-responsive">
                                        <table class="table table-inline">
                                            <thead>
                                            <tr>
                                                <th class="inl_s">Field Name</th>
                                                <th class="inl_l">Label</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    Ref 1
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Ref 2
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Ref 3
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Ref 4
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Ref 5
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form><!--form ends-->
                </div><!--panel body ends-->
            </div><!--panel ends-->
            </form>
        </div>
    </div>
</div>