<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="vm.objectSubGroupMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.objectSubGroupMaster.id==null?'Add Object SubGroup':'Edit Object SubGroup'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" id="cancelBtn" class="btn cancel-btn"  ng-click="vm.cancel(vm.objectSubGroupMaster.id)">
                                        Cancel
                                    </button>

                                    <input type="button" ng-click="vm.saveOrUpdate()"  class="btn accent-btn" ng-value ="vm.objectSubGroupMaster.id==null?'Save':'Update'">

                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
                         <div class="col-sm-10 col-xs-12 col-md-10 col-lg-10 form-group nomargin plr0">
                            <div class="col-sm-6 col-xs-6 col-md-5 col-lg-6 pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="objectSubGroupName"
                                 ng-class="{'error-control':vm.errorMap.get('objectSubGroupName')!=null}"
                                 ng-change="vm.validate('objectSubGroupName', 1)" ng-model="vm.objectSubGroupMaster.objectSubGroupName"/>
                                 <span class="error-message" ng-show="vm.errorMap.get('objectSubGroupName')!=null">
									 <small>{{vm.errorMap.get('objectSubGroupName')}}</small>
								</span>
                            </div>
                            
                             <div class="col-sm-6 col-xs-6 col-md-5 col-lg-6 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input 
                                    type="text" class="form-control" maxlength="10" id="objectSubGroupCode"
                                    ng-disabled="vm.objectSubGroupMaster.id!=null" capitalize
                                    input-focus="{{vm.errorMap.get('objectSubGroupCode')!=null}}"
                                    ng-class="{'error-control':vm.errorMap.get('objectSubGroupCode')!=null}"
                                    ng-model="vm.objectSubGroupMaster.objectSubGroupCode" ng-change="vm.validate('objectSubGroupCode', 2)"/>
                                 <span class="error-message" ng-show="vm.errorMap.get('objectSubGroupCode')!=null">
									 <small>{{vm.errorMap.get('objectSubGroupCode')}}</small>
								</span>
                                </div>
                            </div>
                            </div>
                            
                            
                        </div>
                        <div class="row ">
                         <div class="col-sm-10 col-xs-12 col-md-10 col-lg-10 form-group nomargin plr0">
                            <div class="col-sm-6 col-xs-6 col-md-5 col-lg-6 pl0">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label">Group<span class="reqColor">*</span></label>
                                    <div class="select-auto">
                                    <input 
                                        autocomplete="off"
                                        selected-value="objectGroupName" type="text" id="objectGroupName"
                                        ng-model="vm.objectSubGroupMaster.objectGroupMaster" class="form-control"
                                        typeahead-on-select="vm.validate('objectGroupName', 3);navigateToNextField('OSGstatus')"
                                        ng-change="vm.clear()"
									    uib-typeahead="lovObject as lovObject.objectGroupName for lovObject in vm.ajaxObjectGroupEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true" 
										 typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true"
										typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500"
                                        input-focus="{{vm.errorMap.get('objectSGroupName')!=null}}"
                                        ng-class="{'error-control':vm.errorMap.get('objectGroupName')!=null}" >
                                        <span class="select-arrow"><b></b></span>
                                    </div>
                                     <span class="error-message" ng-show="vm.errorMap.get('objectGroupName')!=null">
									 <small>{{vm.errorMap.get('objectGroupName')}}</small>
								</span>
                                </div>
                        </div>
                        
                        <div class="col-sm-6 col-xs-6 col-md-5 col-lg-6  pl0" ng-class="vm.objectSubGroupMaster.id!=null?'visible-show':'visible-hide'">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="OSGstatus"
                                            ng-class="vm.setStatus(vm.objectSubGroupMaster.status)"
                                            ng-options="item for item in enum['LovStatus']" ng-change="navigateToNextField('cancelBtn')"
                                            ng-model="vm.objectSubGroupMaster.status" required >
                                    </select>
                                </div></div>
                        </div>
                         <div class="row "></div>
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
