
  <a style="padding: 3px 5px !important;">
      <span ng-style="match.status === 'Block' ? { color:'#d32f2f' } : { 'color': '#000' }" style="display:inline-block;white-space:pre-wrap;"  ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>