<a class="mcacAnchor" style="padding : 6px 0px !important; overflow:auto"> 
	
	<span ng-style="match.status === 'Block' ? { color:'#d32f2f' } : { 'color': '#000' }"
		style="display: inline-block; color: rgba(0, 0, 0, 0.87) !important; float: left; width: 100px;padding-left:4px;">
		{{match.model.portName}}</span>
	 <span ng-style="match.status === 'Block' ? { color:'#d32f2f' } : { 'color': '#000' }"
		ng-if="match.model.portName!=null"
		style="display: inline-block; color: rgba(0, 0, 0, 0.87) !important; float: right; width: 120px;padding-left:4px;margin-top: -5px;">
		[ {{match.model.portGroupMaster.countryMaster.countryCode}} ]
	</span> 
	<div style="clear: both;"></div>
</a>

