
  <a>
  		<img ng-show="match.model.image!=null"  data-ng-src="data:image/png;base64,{{match.model.image}}" width="16"> 
  		<img ng-show="match.model.image==null"  width="16">
      <span ng-style="match.status === 'Block' ? { color:'#d32f2f' } : { 'color': '#000' }" style="display:inline-block;white-space:pre-wrap;"  ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>