<ul  tabindex="0" 
	class="dropdown-menu ui-autocomplete" ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px', width: 300+'px'}" style="max-width:inherit;" role="listbox" aria-hidden="{{!isOpen()}}">
    <div class="ui-widget-header" style="width:300px;padding:5px 5px;border:none;background: rgba(181, 105, 201,0.12);color: rgba(182, 105, 201, 0.87);">
    	<span style="padding:0 4px;float:left;width:100px;">Shipment</span>
    	<span style="padding:0 4px;float:left;width:120px;">Service</span>
        <div style="clear: both;"></div>
    </div>
    
    <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
    <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
	</li>
</ul>