<div class="row ">
	<div class="col-xs-12 ">
  
			<div class="row">
				<div class="col-md-12 ">
					<ul class="nav btn-tab2 button-location" ng-init="setTab('job_no_tab')">
						<li ng-hide="true" ng-class="isTab('tax_vat_tab')?'activeBtnblue':'active'" 
							ng-click="setTab('tax_vat_tab')"> 
							Tax/VAT Setup </li>
						<li ng-class="isTab('job_no_tab')?'activeBtnblue':'active'"
							ng-click="setTab('job_no_tab')">
							Code Setup</li>
						<li ng-class="isTab('job_date_tab')?'activeBtnblue':'active'"
							ng-click="setTab('job_date_tab')">
							Job Date Setup</li>
						<li ng-class="isTab('accounts_tab')?'activeBtnblue':'active'"
							ng-click="setTab('accounts_tab')">
							Accounting Document Number Setup</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 half-master-edit-tab "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
				<div class="row">
					<div class="tab-content">
						<!--tab one start-->
						<div ng-show="isTab('tax_vat_tab')">
							<div ng-include="'views/others_tab/templates/tax_vat_setup.html'"></div>
						</div>
						<!--tab one end-->
						<!--tab two start-->
						<div ng-show="isTab('job_no_tab')">
							<div ng-include="'views/others_tab/templates/job_no_setup.html'"></div>
						</div>
						<!--tab two ends-->

						<div ng-show="isTab('job_date_tab')">
                        <div ng-include="'views/others_tab/templates/job_date_setup.html'"></div>
						</div>

						<div ng-show="isTab('accounts_tab')">
						<div ng-include="'views/others_tab/templates/account_document_no_setup.html'"></div>
						</div>


					</div>
				</div>
				
			</div>
		</div>
	</div>

<div class="panel-footer">
	<div class=" col-md-12 mt10 ">

		<div class="btngrp pull-right">
			<button class="btn btn-xs btn-property accent-btn" ng-click="saveOtherTab('app.charge')">
				<span class="chevron-font">&#xf053;</span> Back
			</button>
			<button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveOtherTab('viewMail')">Finish</button>
		</div>
	</div>
</div>

