<div id="contactTabPopup" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog width75per">
        <div class="modal-content h650 overflow-hidden">
            <div class="modal-header">
                <div class="title">
                    <div class="flex align-justify align-middle minH-40">
                        <div>
                            <h4>Add Contact</h4>
                        </div>
                        <div>
                            <ul class="list-inline text-right masopertion-action ">
                                <li>
                                    <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" >Save</button>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body h100per nopadding overflowScroll">
                <div class="col-xs-12 pl0 pr0">
                    <div class="row nomargin nopadding overflow-hidden">
                        <div class="col-xs-7 bor-fix bor-r-1">
                            <div class="row ptb-15">
                                <div class="col-xs-2">
                                    <label class="custom-label ">Salutation</label>
                                    <select class="form-control">
                                        <option>Mr</option>
                                        <option>Mrs</option>
                                    </select>
                                </div>
                                <div class="col-xs-5">
                                    <label class="custom-label ">First Name</label>
                                    <input type="text" class="form-control"/>
                                 </div>
                                <div class="col-xs-5">
                                    <label class="custom-label ">Last Name</label>
                                    <input type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-12 pl0 pr0 ptb-15">
                                <label class="custom-label ">Designation</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-xs-12 pl0 pr0 ptb-15">
                                <label class="custom-label ">Department</label>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-5 bor-fix">
                            <div class="row  nopadding">
                                <div class="col-xs-6  ptb-15">
                                    <label class="custom-label">Contacted On</label>
                                    <div class="inputBox">
                                        <input class="form-control"
                                               ng-model="contactOn" datetimepicker
                                               datetimepicker-options="{{directiveDatePickerOpts}}">
										<span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="col-xs-6  ptb-15">
                                    <label class="custom-label">Status</label>
                                    <select tabindex="-1"
                                            class="form-control status"
                                            ng-class="setStatus(partyMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="status"> </select>
                                </div>
                            </div>
                            <div class="row  nopadding bor-0">
                                <div class="col-xs-4 ptb-15">
                                    <label class="custom-label">Don not Call</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':dontCall}">No</li>
                                        <li class="v-align-top">
                                            <switch
                                                     ng-model="dontCall"
                                                    class="green"></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!dontCall}">Yes</li>
                                    </ul>
                                 </div>
                                <div class="col-xs-4 ptb-15">
                                    <label class="custom-label">Don not eMail</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':dontEmail}">No</li>
                                        <li class="v-align-top">
                                            <switch ng-model="dontEmail"
                                                    class="green"></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!dontEmail}">Yes</li>
                                    </ul>
                                </div>
                                <div class="col-xs-4 ptb-15">
                                    <label class="custom-label">Primary</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':primary}">No</li>
                                        <li class="v-align-top">
                                            <switch  ng-model="primary"
                                                    class="green"></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!primary}">Yes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row nomargin">
                        <hr class="nomargin"/>
                     </div>
                    <div class="row nomargin nopadding">
                        <div class="col-xs-12 pl0 pr0">
                            <div class="tabs">
                                <ul class="nav nav-tabs" ng-init="contactInfoTab='official'">
                                    <li>
                                        <button type="button" class="btn" ng-class="contactInfoTab=='official'?'normal':'default'" ng-click="contactInfoTab='official'"  >Official Info</button>
                                    </li>
                                    <li >
                                        <button type="button" class="btn" ng-class="contactInfoTab=='personal'?'normal':'default'" ng-click="contactInfoTab='personal'" >Personal Info</button>
                                    </li>
                                    <li >
                                        <button type="button" class="btn" ng-class="contactInfoTab=='remarks'?'normal':'default'" ng-click="contactInfoTab='remarks'"  >Remarks</button>
                                    </li>
                                </ul>
                                <div class="tabContent ptb0 plr0">
                                    <div ng-show="contactInfoTab=='official'">
                                        <div class="row nomargin nopadding overflow-hidden">
                                            <div class="col-xs-5 bor-fix bor-r-1">
                                                <div class="col-xs-12 pl0 pr0 ptb-15">
                                                    <label class="custom-label">Address</label>
                                                        <textarea msd-elastic  class="form-control minH-100" rows="3"
                                                                  ng-model="partyAddressContact">
														</textarea>
                                                </div>
                                            </div>
                                            <div class="col-xs-7 bor-fix">
                                                <div class="col-xs-12 pl0 pr0 ptb-15">
                                                    <ul class="list-inline">
                                                        <li class="col-xs-4">
                                                            <label class="custom-label">Office Phone</label>
                                                            <input type="text" class="form-control"/>
                                                        </li >
                                                        <li class="col-xs-4">
                                                            <label class="custom-label">Home Phone</label>
                                                            <input type="text" class="form-control"/>
                                                        </li>
                                                        <li class="col-xs-4">
                                                            <label class="custom-label">Mobile Phone</label>
                                                            <input type="text" class="form-control"/>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 pl0 pr0 ptb-15">
                                                    <ul class="list-inline">
                                                        <li class="col-xs-4">
                                                            <label class="custom-label">eMail</label>
                                                            <input type="text" class="form-control"/>
                                                        </li>
                                                        <li class="col-xs-4 col-xs-offset-4">
                                                            <label class="custom-label">Fax</label>
                                                            <input type="text" class="form-control"/>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row nomargin nopadding bor-btm-0">
                                            <hr class="nomargin"/>
                                        </div>
                                        <div class="row nomargin nopadding">
                                            <div class="col-xs-4 ptb-15">
                                                <label class="custom-label">Assistant Name</label>
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <div class="col-xs-4 ptb-15">
                                                <label class="custom-label">Assistant Phone No</label>
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <div class="col-xs-4 ptb-15">
                                                <label class="custom-label">Preferred Call time</label>
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="row nomargin nopadding bor-btm-0">
                                            <hr class="nomargin"/>
                                        </div>
                                        <div class="row nomargin nopadding">
                                            <div class="col-xs-4 ptb-15">
                                                <label class="custom-label">Reporting to</label>
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <div class="col-xs-4 ptb-15">
                                                <label class="custom-label">Lead</label>
                                                <div class="select-auto">
                                                     <input type="text" class="form-control" 
															autocomplete="off" ng-model="leadName" 
															uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxCountryIssuanceEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
															typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true" typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500">
														<span class="select-arrow"><b></b></span>
                                                            
                                                </div>
                                            </div>
                                            <div class="col-xs-4 ptb-15">
                                                <label class="custom-label">Salesman</label>
                                                <div class="select-auto">
                                                    <input type="text" class="form-control" 
															autocomplete="off" ng-model="salesmanContact" 
															uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxCountryIssuanceEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
															typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true" typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500">
														<span class="select-arrow"><b></b></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row nomargin nopadding bor-btm-0">
                                            <hr class="nomargin"/>
                                        </div>
                                        <div class="row nomargin nopadding">
                                            <div class="col-xs-4 ptb-15">
                                                <label class="custom-label">Engaged us Previous</label>
                                                <ul class="list-inline">
                                                    <li ng-class="{'opc-5':engagedPrevious}">No</li>
                                                    <li class="v-align-top">
                                                        <switch  ng-model="engagedPrevious"
                                                                class="green"></switch>
                                                    </li>
                                                    <li ng-class="{'opc-5':!engagedPrevious}">Yes</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row nomargin nopadding bor-btm-0">
                                            <hr class="nomargin"/>
                                        </div>
                                    </div>
                                    <div ng-show="contactInfoTab=='personal'">
                                        <div class="row nomargin nopadding overflow-hidden">
                                            <div class="col-xs-5 bor-fix bor-r-1">
                                                <div class="col-xs-12 pl0 pr0 ptb-15">
                                                    <label class="custom-label">Address</label>
                                                        <textarea msd-elastic  class="form-control minH-100" rows="3"
                                                                  ng-model="partyAddressContact">
														</textarea>
                                                </div>
                                            </div>
                                            <div class="col-xs-7 bor-fix">
                                                <div class="col-xs-12 pl0 pr0 ptb-15">
                                                    <ul class="list-inline">
                                                        <li class="col-xs-4">
                                                            <label class="custom-label">Phone</label>
                                                            <input type="text" class="form-control"/>
                                                        </li >
                                                        <li class="col-xs-4">
                                                            <label class="custom-label">Mobile</label>
                                                            <input type="text" class="form-control"/>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 pl0 pr0 ptb-15">
                                                    <ul class="list-inline">
                                                        <li class="col-xs-4">
                                                            <label class="custom-label">eMail</label>
                                                            <input type="text" class="form-control"/>
                                                        </li>
                                                        <li class="col-xs-4">
                                                            <label class="custom-label">Fax</label>
                                                            <input type="text" class="form-control"/>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row nomargin nopadding bor-btm-0">
                                            <hr class="nomargin"/>
                                        </div>
                                        <div class="row nomargin nopadding">
                                            <div class="col-xs-3 ptb-15">
                                                <label class="custom-label">Former Company</label>
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <div class="col-xs-3 ptb-15">
                                                <label class="custom-label">Qualification</label>
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <div class="col-xs-3 ptb-15">
                                                <label class="custom-label">Married</label>
                                                <ul class="list-inline">
                                                    <li ng-class="{'opc-5':marriedSwitch}">No</li>
                                                    <li class="v-align-top">
                                                        <switch
                                                                 ng-model="marriedSwitch"
                                                                class="green"></switch>
                                                    </li>
                                                    <li ng-class="{'opc-5':!marriedSwitch}">Yes</li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-3 ptb-15">
                                                <label class="custom-label">Children</label>
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="flex align-middle title">
                                            <div>
                                                <h5>Relation</h5>
                                            </div>
                                        </div>
                                        <div class="row nomargin nopadding">
                                            <div class="col-xs-12 ptb-15">
                                                <button type="button" class="btn btn-primary btn-xs accent-btn"><i class="icon-add"></i> Add Relation</button>
                                                <div class="table-fixed table-responsive mtb-15">
                                                    <table class="table table-inline">
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_xs">#</th>
                                                            <th class="inl_sm">Salutation</th>
                                                            <th class="inl_l">First Name </th>
                                                            <th class="inl_l">Last Name </th>
                                                            <th class="inl_m">Relationship</th>
                                                            <th class="inl_sm">Event</th>
                                                            <th class="inl_m">Event Date</th>
                                                            <th class="inl_m">Remarks</th>
                                                            <th class="inl_xs">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                            <td>1</td>
                                                            <td>
                                                                <select class="form-control">
                                                                    <option>Mr</option>
                                                                    <option>Mrs</option>
                                                                </select>
                                                            </td>
                                                            <td><input type="text" class="form-control"/> </td>
                                                            <td><input type="text" class="form-control"/></td>
                                                            <td>
                                                                <select class="form-control">
                                                                    <option></option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control">
                                                                    <option></option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <div class="inputBox">
                                                                    <input class="form-control"
                                                                           ng-model="contactOn" datetimepicker
                                                                           datetimepicker-options="{{directiveDatePickerOpts}}">
                                                                    <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                                                </div>
                                                            </td>
                                                            <td><input type="text" class="form-control"/></td>
                                                            <td><a href="javascript:void(0);"><i class="icon-delete fg-black"></i></a> </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row nomargin nopadding bor-btm-0">
                                            <hr class="nomargin"/>
                                        </div>
                                    </div>
                                    <div ng-show="contactInfoTab=='remarks'">
                                        <div class="row nomargin nopadding">
                                            <div class="col-xs-12 ptb-15">
                                                <label class="custom-label">Remarks</label>
                                                <textarea msd-elastic  class="form-control minH-180" rows="3"
                                                          ng-model="contactRemarks">
														</textarea>
                                            </div>
                                        </div>
                                        <div class="row nomargin nopadding bor-btm-0">
                                            <hr class="nomargin"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>