	
    <div class="panel-body">
        <div class="ptb-15">
            <div><span class="reqColor">*</span>
                <small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
            </div>
        </div>
        <form role="form" class="padlr-15">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="custom-label ">Service<span class="reqColor">*</span></label>
                        <a href="javascript:void(0)" ng-click="showService(partyServiceMaster.serviceMaster.serviceCode)" title="{{partyServiceMaster.serviceMaster.id!=null?partyServiceMaster.serviceMaster.serviceName:''}}" name="services"
                        	class="btn btn-default btn-outline selectPicker">
                            	{{partyServiceMaster.serviceMaster!=null?partyServiceMaster.serviceMaster.serviceName:''}}
                            <i class="icon-r-arrow pull-right"></i>
                        </a>
                        <div>
									                                    <span class="error-message"
                                                                              ng-show="errorMap.get('service')!=null">
									                                    	<small> {{errorMap.get('service')}}</small>
									                                    </span>
                                                                    </div>
                    </div>
                    <div class="col-xs-6">
                        <label class="custom-label text-inherit  ">Terms of Shipment</label>
                        <a title="{{partyServiceMaster.tosMaster.id!=null?partyServiceMaster.tosMaster.tosName:''}}" href="javascript:void(0)" ng-click="showTos(partyServiceMaster.tosMaster.tosCode)" name="tos" class="btn btn-default btn-outline selectPicker">
                            {{partyServiceMaster.tosMaster.id!=null?partyServiceMaster.tosMaster.tosName:''}}
                            <i class="icon-r-arrow pull-right"></i>
                        </a>
                        
                           <div>
									                                    <span class="error-message"
                                                                              ng-show="errorMap.get('tos')!=null">
									                                    	<small> {{errorMap.get('tos')}}</small>
									                                    </span>
                                                                    </div>
                        
                    </div>
                </div>
            </div>
            <div class="row bor-btm">
                <div class="col-xs-6 pr0 form-group mb0">

                        <label class="custom-label ">Location <span class="reqColor">*</span></label>
                        <a title="{{partyServiceMaster.locationMaster.id!=null?partyServiceMaster.locationMaster.locationName:''}}" href="javascript:void(0)" ng-click="showLocation(partyServiceMaster.locationMaster.locationCode)" name="location" class="btn btn-default btn-outline selectPicker">
                            {{partyServiceMaster.locationMaster.id!=null?partyServiceMaster.locationMaster.locationName:''}}
                            <i class="icon-r-arrow pull-right"></i>
                        </a>
                         <div>
									                                    <span class="error-message"
                                                                              ng-show="errorMap.get('location')!=null">
									                                    	<small> {{errorMap.get('location')}}</small>
									                                    </span>
                                                                    </div>
                </div>
             </div>
            <div class="row nomargin">
                <div class="col-xs-6 padL-0">
                    <div class="form-group">
                        <label class="custom-label ">Salesman <span class="reqColor">*</span></label>
                        <a href="javascript:void(0)" ng-click="showSalesmans(partyServiceMaster.salesman.employeeCode)" name="salesman" class="btn btn-default btn-outline selectPicker ">
                            {{partyServiceMaster.salesman.id!=null?partyServiceMaster.salesman.employeeName:''}}
                            <i class="icon-r-arrow pull-right"></i>
                        </a>
                        <div>
									                                    <span class="error-message"
                                                                              ng-show="errorMap.get('salesman')!=null">
									                                    	<small> {{errorMap.get('salesman')}}</small>
									                                    </span>
                                                                    </div>
                    </div>
                </div>
                <div class="col-xs-6 padR-0">
                    <div class="form-group">
                        <label class="custom-label ">Customer Service Person Name</label>
                        <a title="{{partyServiceMaster.customerService.id!=null?partyServiceMaster.customerService.employeeName:''}}" href="javascript:void(0)" ng-click="showCustomerServices(partyServiceMaster.customerService.employeeCode)" name="customer services" class="btn btn-default btn-outline selectPicker">
                            {{partyServiceMaster.customerService.id!=null?partyServiceMaster.customerService.employeeName:''}}
                            <i class="icon-r-arrow pull-right"></i>
                        </a>
                        <div>
									                                    <span class="error-message"
                                                                              ng-show="errorMap.get('customerService')!=null">
									                                    	<small> {{errorMap.get('customerService')}}</small>
									                                    </span>
                                                                    </div>
                    </div>
                </div>


            </div>
        </form>
    </div><!--body ends-->
