
<div class="panel-body nopadding">
    <div class="pad-15 pt15">
      <!--   <div show-response></div> -->
        <div><span class="reqColor">*</span>
            <small class="opc-5 f-12b4 text-wrap"> Indicates Mandatory fields</small>

        </div>
        <div>
																<span class="error-message"
                                                                      ng-show="errorMap.get('addressTab')!=null">
																	<small>{{errorMap.get('addressTab')}}</small>
																</span>
                                                            </div>
    </div>
        <ul class="list-group blr-0 li-first brad-0 mb0">
            <li class="list-group-item">
                <div class="row">
                    <ul class="list-unstyled">
                        <li class="padlr-15">
                            <ul class="list-inline tab-cell table-fluid li-mb">
                                <li>
                                    <p class="custom-label ">Type <span class="reqColor">*</span> </p>

                                   <!-- <div class="btn-group btn-group-justified" ng-model="partyAddressMaster.addressType" data-bs-radio-group>
									<label class="btn btn-default fsl-btn-group"
										ng-repeat="item in enum['AddressType']"> <input
										type="radio" class="btn btn-default"  value="{{item}}">
										{{item}}
									</label>

									</div> -->

                                  <!--  <button-group btn-index="1"
                                            states="enum['AddressType']"
                                            state="partyAddressMaster.addressType"
                                            on-state-change="validatePartyAddressMaster(1)">
                                    </button-group> -->
									 		<span class="error-message" ng-show="errorMap.get('addressType')!=null">
		                                    	<small> {{errorMap.get('addressType')}} </small>
		                             		 </span>
                                </li>
                                <li>

                                    <ul class="list-inline pull-right">
                                    <p class="custom-label ">Corporate</p>
                                        <li ng-class="{'opc-5':partyAddressMaster.corporate}">No</li>
                                        <li class="v-align-top">
                                            <switch id="enabled" name="enabled" ng-model="partyAddressMaster.corporate" class="green" ng-change="triggerChange()"></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!partyAddressMaster.corporate}">Yes</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="row">

                    <div class="form-group">
                        <div class="row mt-15">
                            <div class="pad-15 sub-title">Address</div>
                        </div>
                        <div class="pad-15">
                            <ul class="list-unstyled li-mb">
                                <li ng-show="partyAddressMaster.addressType=='Warehouse'">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Warehouse Name</label>
                                            <input type="text" class="form-control" ng-model="partyAddressMaster.partyCountryField.warehouseProviderName" capitalize
                                                   maxlength="100" ng-class="{'error-control':errorMap.get('wareHouse')!=null}" ng-change="validatePartyAddressMaster(16)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('wareHouse')!=null">
		                                    	<small> {{errorMap.get('wareHouse')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label class="custom-label ">P.O Box No</label>
                                            <input type="text" class="form-control" ng-model="partyAddressMaster.poBox" capitalize  maxlength="10"
                                                   ng-class="{'error-control':errorMap.get('poBox')!=null}" ng-change="validatePartyAddressMaster(17)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('poBox')!=null">
		                                    	<small> {{errorMap.get('poBox')}} </small>
		                             		 </span>
                                            </div>


                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Address 1 <span class="reqColor">*</span> </label>
                                            <input type="text" input-focus="{{errorMap.get('addressLine1')!=null}}" class="form-control" ng-model="partyAddressMaster.addressLine1" capitalize maxlength="100"
                                                   ng-class="{'error-control':errorMap.get('addressLine1')!=null}" ng-change="validatePartyAddressMaster(18)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('addressLine1')!=null">
		                                    	<small> {{errorMap.get('addressLine1')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Address 2 <span class="reqColor">*</span></label>
                                            <input type="text" input-focus="{{errorMap.get('addressLine2')!=null}}" class="form-control" ng-model="partyAddressMaster.addressLine2" capitalize maxlength="100"
                                             ng-class="{'error-control':errorMap.get('addressLine2')!=null}" ng-change="validatePartyAddressMaster(118)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('addressLine2')!=null">
		                                    	<small> {{errorMap.get('addressLine2')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Address 3</label>
                                            <input type="text" class="form-control"  ng-model="partyAddressMaster.addressLine3" capitalize maxlength="100">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">City</label>
                                            <a href="javascript:void(0)" ng-click="showCity(partyAddressMaster.cityMaster.cityCode)"
                                               class="btn btn-default btn-outline selectPicker block" input-focus="{{errorMap.get('city')!=null}}">
                                                {{partyAddressMaster.cityMaster.id!=null?partyAddressMaster.cityMaster.cityName:''}}
                                                <i class="icon-r-arrow pull-right"></i>
                                            </a>

                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('city')!=null">
		                                    	<small> {{errorMap.get('city')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Zip code</label>
                                            <input type="text" class="form-control" ng-model="partyAddressMaster.zipCode" capitalize maxlength="6"
                                                   ng-class="{'error-control':errorMap.get('zipCode')!=null}" input-focus="{{errorMap.get('zipCode')!=null}}" ng-change="validatePartyAddressMaster(19)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('zipCode')!=null">
		                                    	<small> {{errorMap.get('zipCode')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="custom-label ">State / Province <span class="reqColor">*</span> </label>
                                            <a href="javascript:void(0)" ng-click="showState(partyAddressMaster.stateMaster.stateCode)"
                                               class="btn btn-default btn-outline selectPicker  block" input-focus="{{errorMap.get('state')!=null}}">
                                                {{partyAddressMaster.stateMaster.id!=null?partyAddressMaster.stateMaster.stateName:''}}
                                                <i class="icon-r-arrow pull-right"></i>
                                            </a>
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('state')!=null">
		                                    	<small> {{errorMap.get('state')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 mt10">
                                            <input class="magic-checkbox" type="checkbox" ng-model="partyAddressMaster.addressRegionShow" ng-change="addressRegionShow()"
                                                    name="check-address-region" id="check-address-region">
                                            <label class="text custom-label mb-15" for="check-address-region">
                                                Address In Local Language (Regional)
                                            </label>
                                            <textarea ng-show="partyAddressMaster.addressRegionShow" class="form-control" rows="5" ng-model="partyAddressMaster.addressRegionalLanguage"></textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-15">
                            <div class="pad-15 sub-title">Address Contact</div>
                        </div>
                        <div class="pad-15">
                            <ul class="list-unstyled li-mb">
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Contact Name <span class="reqColor">*</span> </label>
                                            <input type="text" class="form-control" input-focus="{{errorMap.get('contactName')!=null}}" ng-model="partyAddressMaster.contactPerson" capitalize maxlength="100"
                                                   ng-class="{'error-control':errorMap.get('contactName')!=null}" ng-change="validatePartyAddressMaster(20)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('contactName')!=null">
		                                    	<small> {{errorMap.get('contactName')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Mobile No</label>
                                            <input type="text" class="form-control" input-focus="{{errorMap.get('mobileNumber')!=null}}" ng-model="partyAddressMaster.mobileNo"  capitalize maxlength="100"
                                                   ng-class="{'error-control':errorMap.get('mobileNumber')!=null}" ng-change="validatePartyAddressMaster(21)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('mobileNumber')!=null">
		                                    	<small> {{errorMap.get('mobileNumber')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Phone No</label>
                                            <input type="text" class="form-control"   input-focus="{{errorMap.get('phoneNumber')!=null}}" ng-model="partyAddressMaster.phone" capitalize maxlength="100"
                                                   ng-class="{'error-control':errorMap.get('phoneNumber')!=null}" ng-change="validatePartyAddressMaster(22)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('phoneNumber')!=null">
		                                    	<small> {{errorMap.get('phoneNumber')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Mail ID</label>
                                            <input type="text" class="form-control"  input-focus="{{errorMap.get('email')!=null}}" ng-model="partyAddressMaster.email" maxlength="500"
                                                   ng-class="{'error-control':errorMap.get('email')!=null}" ng-change="validatePartyAddressMaster(23)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('email')!=null">
		                                    	<small> {{errorMap.get('email')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Fax No</label>
                                            <input type="text" class="form-control" input-focus="{{errorMap.get('faxNumber')!=null}}" ng-model="partyAddressMaster.fax" capitalize maxlength="100"
                                                   ng-class="{'error-control':errorMap.get('faxNumber')!=null}" ng-change="validatePartyAddressMaster(24)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('faxNumber')!=null">
		                                    	<small> {{errorMap.get('faxNumber')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <hr class="mt30">
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Branch SL No</label>
                                            <input type="text" class="form-control text-right"  input-focus="{{errorMap.get('branchSlNo')!=null}}" ng-model="partyAddressMaster.partyCountryField.branchSlNo" capitalize maxlength="5"
                                                   ng-class="{'error-control':errorMap.get('branchSlNo')!=null}" ng-change="validatePartyAddressMaster(25)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('branchSlNo')!=null">
		                                    	<small> {{errorMap.get('branchSlNo')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="custom-label ">Bank DLR Code No</label>
                                            <input type="text" class="form-control text-right"  input-focus="{{errorMap.get('bankDLRCode')!=null}}" ng-model="partyAddressMaster.partyCountryField.bankDLRCode" capitalize maxlength="25"
                                                   ng-class="{'error-control':errorMap.get('bankDLRCode')!=null}" ng-change="validatePartyAddressMaster(26)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('bankDLRCode')!=null">
		                                    	<small> {{errorMap.get('bankDLRCode')}} </small>
		                             		 </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="custom-label">TSA Validation No</label>
                                            <input type="text" class="form-control" input-focus="{{errorMap.get('shipperValidationNumber')!=null}}" ng-model="partyAddressMaster.partyCountryField.knownShipperValidationNo" capitalize maxlength="50"
                                                   ng-class="{'error-control':errorMap.get('shipperValidationNumber')!=null}" ng-change="validatePartyAddressMaster(27)">
                                            <div>
									 		<span class="error-message" ng-show="errorMap.get('shipperValidationNumber')!=null">
		                                    	<small> {{errorMap.get('shipperValidationNumber')}} </small>
		                             		 </span>
                                            </div>
                                         </div>
                                        <div class="col-xs-6">
                                            <label class="custom-label">TSA Validation Date</label>
                                            <input  type="text"   class="form-control" ng-model="partyAddressMaster.partyCountryField.knownShipperValidationDate"  datetimepicker  datetimepicker-options="{{datePickerOptions}}" >
                                            <!--<input date-range-picker type="text" options="{singleDatePicker: true, drops: 'up'}" class="form-control date-picker cur-pointer" ng-model="partyAddressMaster.partyCountryField.knownShipperValidationDate" >-->
                                            <span class="date-picker-wrapper"><i class="icon-date-picker" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                    <div class="col-xs-6">
                                    <label class="custom-label">Pickup Hours (Warehouse)</label>
                                    <input type="text" class="form-control" ng-model="partyAddressMaster.pickupHoursText" capitalize maxlength="255">
                                    </div>
                                    </div>
                                </li>
                                <hr class="mt30">
                                <li class="mt-15">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="list-inline tab-cell">
                                                <li>
                                                    <input class="magic-checkbox" type="checkbox" ng-model="checkIms"
                                                           ng-init="checkIms=false" name="layout" id="checkIms" value="option">
                                                    <label class="text custom-label mb-15" for="checkIms">
                                                        Importer Security Filing (ISF)
                                                    </label>
                                                    <!--<div class="checkbox">-->
                                                        <!--<label><input type="checkbox" value="" ng-model="checkIms">Importer Security Filing (ISF)</label>-->
                                                    <!--</div>-->
                                                </li>
                                            </ul>
                                            <ul class="list-unstyled li-mb bor pad-10 fx-fade-up fx-ease-sine" ng-show="checkIms">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="custom-label ">ID Type</label>
                                                            <select class="form-control" id="status"
                                                                    ng-options="item for item in enum['IdType']"
                                                                    ng-model="partyAddressMaster.partyCountryField.idType" >
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="custom-label ">ID {{errorMap.size}} No <span class="reqColor"></span></label>
                                                            <input 	type="text" class="form-control" ng-model="partyAddressMaster.partyCountryField.idNumber"
                                                                      capitalize maxlength="9"  input-focus="{{errorMap.get('idNumber')!=null}}"
                                                                      ng-class="{'error-control':errorMap.get('idNumber')!=null}" ng-change="validatePartyAddressMaster(28)">
                                                            <div>
															 		<span class="error-message" ng-show="errorMap.get('idNumber')!=null">
								                                    	<small> {{errorMap.get('idNumber')}} </small>
								                             		 </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="custom-label text-inherit ">Country of Issuance <span class="reqColor">*</span></label>
                                                            <a href="javascript:void(0)" ng-click="showCountryIssue(partyAddressMaster.partyCountryField.countryOfissuance.countryCode)"
                                                               class="btn btn-default btn-outline selectPicker  block">
                                                                {{partyAddressMaster.partyCountryField.countryOfissuance.id!=null?partyAddressMaster.partyCountryField.countryOfissuance.countryName:''}}
                                                                <i class="icon-r-arrow pull-right"></i>
                                                            </a>
                                                            <div>
									                                    <span class="error-message" ng-show="errorMap.get('countryOfissuance')!=null">
									                                    	<small> {{errorMap.get('countryOfissuance')}} </small>
									                                    </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row mt10">
                                                        <div class="col-md-4">
                                                            <label class="custom-label ">DOB</label>
                                                            <input  type="text"   class="form-control" ng-model="partyAddressMaster.partyCountryField.dateOfBirth"  datetimepicker  datetimepicker-options="{{datePickerOptions}}" >
                                                            <!--<input  date-range-picker  class="form-control date-picker cur-pointer" type="text"-->
                                                                    <!--ng-model="partyAddressMaster.partyCountryField.dateOfBirth" options="{singleDatePicker: true,drops: 'up'}"-->
                                                                    <!--ng-class="{'error-control':errorMap.get('dob')!=null}">-->
                                                            <span class="date-picker-wrapper"><i class="icon-date-picker" aria-hidden="true"></i></span>
                                                            <div>
															 		<span class="error-message" ng-show="errorMap.get('dob')!=null">
								                                    	<small> {{errorMap.get('dob')}} </small>
								                             		 </span>
                                                            </div>

                                                        </div>
                                                        <!-- Duuplicate entry -->
                                                        <!-- <div class="col-md-4">
                                                            <label class="custom-label ">Export Power Of Attorney</label>
                                                            <ul class="list-inline v-align-top mt-5">
                                                                <li ng-class="{'opc-5':partyAddressMaster.partyCountryField.exportPowerOfAttorny}">No</li>
                                                                <switch id="enabled" name="enabled" ng-model="partyAddressMaster.partyCountryField.exportPowerOfAttorny" class="green" ng-change="triggerChange()"></switch>
                                                                <li ng-class="{'opc-5':!partyAddressMaster.partyCountryField.exportPowerOfAttorny}">Yes</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <label class="custom-label ">Export Expiration Date</label>
                                                                    <input  date-range-picker  class="form-control date-picker cur-pointer" type="text"
                                                                            ng-model="partyAddressMaster.partyCountryField.exportExpirationDate" options="{singleDatePicker: true,drops: 'up'}">
                                                                    <span class="date-picker-wrapper"><i class="icon-date-picker" aria-hidden="true"></i></span>
                                                                    </input>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </li>
                                                <hr class="mt30">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="custom-label ">Bond Type</label>
                                                            <ul class="list-inline v-align-top">
                                                                <li ng-class="{'opc-5':partyAddressMaster.partyCountryField.bondType}">CONTINIUOUS</li>
                                                                <switch id="enabled" name="enabled" ng-model="partyAddressMaster.partyCountryField.bondType" class="green" ng-change="triggerChange()"></switch>

                                                                <li ng-class="{'opc-5':!partyAddressMaster.partyCountryField.bondType}">SINGLE TRANSACTION</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label class="custom-label ">Bond No</label>
                                                            <input type="text" class="form-control" ng-model="partyAddressMaster.partyCountryField.bondNo" capitalize
                                                                   maxlength="20"
                                                                   ng-class="{'error-control':errorMap.get('bondNumber')!=null}"
                                                                   ng-change="validatePartyAddressMaster(31)" input-focus="{{errorMap.get('bondNumber')!=null}}" />
                                                            <div>
																<span class="error-message" ng-show="errorMap.get('bondNumber')!=null">
																	<small>{{errorMap.get('bondNumber')}}</small>
																</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label class="custom-label ">Bond Activity</label>

                                                            <select class="form-control" id="bondActivity"
                                                                    ng-options="item | bondActivityCode for item in enum['BondActivityCode']"
                                                                    ng-model="partyAddressMaster.partyCountryField.bondActivityCode" >
                                                            </select>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row mt15px">
                                                        <div class="col-md-4">
                                                                <label class="custom-label text-inherit ">Power of Attorney</label>
                                                                <ul class="list-inline v-align-top">
                                                                    <li ng-class="{'opc-5':partyAddressMaster.partyCountryField.importPowerOfAttorny}">No</li>
                                                                    <switch id="enabled" name="enabled" ng-model="partyAddressMaster.partyCountryField.importPowerOfAttorny" class="green" ng-change="triggerChange()"></switch>
                                                                    <li ng-class="{'opc-5':!partyAddressMaster.partyCountryField.importPowerOfAttorny}">Yes</li>
                                                                </ul>
                                                            </div>
                                                        <div class="col-md-4">

                                                                        <label class="custom-label ">Expiration Date</label>
                                                                        <input  type="text"   class="form-control" ng-model="partyAddressMaster.partyCountryField.importExpirationDate"  datetimepicker  datetimepicker-options="{{datePickerOptions}}" >
                                                                        <!--<input  date-range-picker  class="form-control date-picker cur-pointer" type="text"-->
                                                                                <!--ng-model="partyAddressMaster.partyCountryField.importExpirationDate" options="{singleDatePicker: true,drops: 'up'}">-->
                                                                        <span class="date-picker-wrapper"><i class="icon-date-picker" aria-hidden="true"></i></span>
                                                                        </input>
                                                            </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="list-inline tab-cell">
                                                <li>
                                                    <input class="magic-checkbox" type="checkbox" ng-model="checkAes"
                                                           ng-init="checkAes=false" name="layout" id="checkAes" value="option">
                                                    <label class="text custom-label mb-15" for="checkAes">
                                                        Automated Export System (AES)
                                                    </label>
                                                    <!--<div class="checkbox">-->
                                                        <!--<label><input type="checkbox" value="" ng-model="checkAes">Automated Export System (AES)</label>-->
                                                    <!--</div>-->
                                                </li>
                                            </ul>
                                            <ul class="list-unstyled li-mb bor pad-10 fx-fade-up fx-ease-sine" ng-show="checkAes">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="custom-label ">Filling Type</label>
                                                            <ul class="list-inline v-align-top">
                                                                <li ng-class="{'opc-5':partyAddressMaster.partyCountryField.aesFilingType}">Preshipment</li>
                                                                <switch id="enabled" name="enabled" ng-model="partyAddressMaster.partyCountryField.aesFilingType" class="green" ng-change="triggerChange()"></switch>
                                                                <li ng-class="{'opc-5':!partyAddressMaster.partyCountryField.aesFilingType}">Postshipment</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="custom-label ">Filling By</label>
                                                            <ul class="list-inline v-align-top">
                                                                <li ng-class="{'opc-5':partyAddressMaster.partyCountryField.aesToBeFiledBy}">Self</li>
                                                                <switch id="enabled" name="enabled" ng-model="partyAddressMaster.partyCountryField.aesToBeFiledBy" class="green" ng-change="triggerChange()"></switch>
                                                                <li ng-class="{'opc-5':!partyAddressMaster.partyCountryField.aesToBeFiledBy}">Forwarder</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row mt15px">
                                                        <div class="col-md-8">
                                                            <label class="custom-label ">Consignee Type <span class="reqColor">*</span></label>
                                                            <!--<div class="btn-group btn-group-justified"-->
                                                                 <!--ng-model="partyAddressMaster.partyCountryField.aesConsigneeType" data-bs-radio-group>-->
                                                                <!--<label class="btn btn-default fsl-btn-group"-->
                                                                       <!--ng-repeat="item in enum['ConsigneeType']"> <input-->
                                                                        <!--type="radio" class="btn btn-default"  ng-model="" value="{{item}}">-->
                                                                    <!--{{item}}-->
                                                                <!--</label>-->
                                                            <!--</div>-->
                                                            <button-group
                                                                    states="enum['ConsigneeType']"
                                                                    state="partyAddressMaster.partyCountryField.aesConsigneeType"
                                                                    filter-type="consigneeType"
                                                                    on-state-change="" >
                                                            </button-group>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row mt15px">
                                                        <div class="col-md-4">
                                                            <label class="custom-label text-inherit ">Power of Attorney</label>
                                                            <ul class="list-inline v-align-top">
                                                                <li ng-class="{'opc-5':partyAddressMaster.partyCountryField.exportPowerOfAttorny}">No</li>
                                                                <switch id="enabled" name="enabled" ng-model="partyAddressMaster.partyCountryField.exportPowerOfAttorny" class="green" ng-change="triggerChange()"></switch>
                                                                <li ng-class="{'opc-5':!partyAddressMaster.partyCountryField.exportPowerOfAttorny}">Yes</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <label class="custom-label ">Expiration Date</label>
                                                                    <input  type="text"   class="form-control" ng-model="partyAddressMaster.partyCountryField.exportExpirationDate"  datetimepicker  datetimepicker-options="{{datePickerOptions}}" >
                                                                    <!--<input  date-range-picker  class="form-control date-picker cur-pointer" type="text"-->
                                                                            <!--ng-model="partyAddressMaster.partyCountryField.exportExpirationDate" options="{singleDatePicker: true,drops: 'up'}">-->
                                                                    <span class="date-picker-wrapper"><i class="icon-date-picker" aria-hidden="true"></i></span>
                                                                    </input>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </li>
        </ul>
    </div><!--body ends-->


