<div class="container-fluid fgmb0 ">
    <div class="row">
        <div class="col-xs-12">
         <form name="iataRateForm" role="form">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{iataRateMaster.id == null?'Add' : 'Edit'}} IATA Rates - Air</h4>
                    </div>
                    <div>
                        <div class="btngrp">
                            <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()" >Cancel</button>
                            <button  type="button"  class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="iataRateMaster.id!=null?update():save()"> {{iataRateMaster.id!=null?'Update':'Save'}}</button>
                        </div>
                    </div>
                </div><!--panel head ends-->
                <div class="panel-body pt0 edit-body" id="iatarate-panel" panel-height
                     ng-nicescroll nice-scroll-object="niceObject"
                     nice-option="{{ngScrollConfig}}">
                    <div class="row">
                        <div class="col-xs-12 ptb-15">
                            <div show-response></div>
                            <client-error message="clientMessage"></client-error>
                            <div class="opc-5 lineH1 f-12b4"><span class="reqColor">*</span><small> Indicates Mandatory fields</small></div>
                        </div>
                    </div>


                   
                        <div class="form-group mb0">
                            <div class="row bg-lblue">
                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-3 ptb-15">
                                            <label class="custom-label">Carrier<span
																	class="reqColor">*</span></label>
                                            <div class="select-auto">
											
												<input type="text" class="form-control" id="carrier" 
												input-focus="true" ng-class="{'error-control':errorMap.carrierMaster}"
												autocomplete="off" ng-model="iataRateMaster.carrierMaster" 
												uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierEvent($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedCarrier('pol')" 
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500">
												<span class="select-arrow"><b></b></span>
										</div>
                                             <span class="error-message"
									ng-show="errorMap.get('carrierMaster')!=null"> <small>{{errorMap.get('carrierMaster')}}</small>
								   </span>
                                        </div>
                                        <div class="col-xs-3 ptb-15">
                                            <label class="custom-label text-inherit">Airport of Loading<span
																	class="reqColor">*</span></label>
                                             <div class="select-auto">
                                    		    <input type="text" class="form-control" id="pol" 
												ng-class="{'error-control':errorMap.pol}" 
												autocomplete="off" ng-model="iataRateMaster.pol" 
												uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPolEvent($viewValue,iataRateMaster)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedPol('validFromDate')" 
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500">
												<span class="select-arrow"><b></b></span>
                                    </div>
                                           <span class="error-message"
									ng-show="errorMap.get('pol')!=null"> <small>{{errorMap.get('pol')}}</small>
								   </span>
                                        </div>
                                        <div class="col-xs-2 ptb-15">
                                            <label class="custom-label">Valid From<span
																	class="reqColor">*</span></label>
                                            <div class="inputBox">
                                               
                                                        
                                                        <input class="form-control" id="validFromDate"
														       type="text" 
											                ng-class="{'error-control':errorMap.validFromDate}"
															ng-model="iataRateMaster.validFromDate" 
															datetimepicker
															datetimepicker-options="{{datePickerOptions}}"
															date-callback="validateIataRateMaster(3)?navigateToNextField('validToDate'):''">
                                                <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                                
                                            </div>
                                             <span class="error-message"
									ng-show="errorMap.get('validFromDate')!=null"> <small>{{errorMap.get('validFromDate')}}</small>
								   </span>
                                        </div>
                                        <div class="col-xs-2 ptb-15">
                                            <label class="custom-label">Valid To<span
																	class="reqColor">*</span></label>
                                            <div class="inputBox">
                                               <input class="form-control" id="validToDate"
														       type="text" 
											                ng-class="{'error-control':errorMap.validToDate}"
															ng-model="iataRateMaster.validToDate" 
															datetimepicker
															datetimepicker-options="{{datePickerOptions}}"
															date-callback="validateIataRateMaster(4)?focousPod():''">
                                                <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                                 
                                            </div>
                                            <span class="error-message"
									ng-show="errorMap.get('validToDate')!=null"> <small>{{errorMap.get('validToDate')}}</small>
								   </span>
                                        </div>
                                        <div class="col-xs-2 ptb-15">
                                            <label class="custom-label">Currency<span class="reqColor">*</span></label>
                                            
                                             <div class="select-auto">
											<input type="text" class="form-control" id="currency" 
												autocomplete="off" ng-model="iataRateMaster.currencyMaster" 
												uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxCurrencyMasterEvent($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedCurrency('pod0')" 
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500">
												<span class="select-arrow"><b></b></span>
											</div>
										<span class="error-message"
									ng-show="errorMap.get('currencyErr')!=null"> <small>{{errorMap.get('currencyErr')}}</small>
								   </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 bor-l-1" >
                                    <div class="row" ng-show="iataRateMaster.id==null">
                                        <div class="col-xs-12 ptb-15">
                                            <label class="custom-label">Upload File</label>
                                            <div class="flex flex-row">
                                                <input type="text" class="form-control width42per " disabled/>
                                                <button type="button" class="btn btn-xs green-btn ml-15" ng-click="iataRateUploadModel()">Upload</button>
                                                <button type="button" class="btn btn-xs accent-btn ml-15">Download</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row bor-0">
                            <div class="col-xs-12 nopadding">
                                <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" class="nav btn-tabs" ng-init="Tabs='IATARates'">
                                    <li data-menu-item="IATARates">
                                        <button type="button"  tabIndex="-1"  class="btn" ng-class="Tabs=='IATARates'?'active':'btn-normal'" ng-click="Tabs='IATARates';navigateToNextField('pod0')">IATA Rates</button>
                                    </li>
                                    <li data-menu-item="Attachments">
                                        <button type="button" class="btn" tabIndex="-1" ng-class="Tabs=='Attachments'?'active':'btn-normal'" ng-click="Tabs='Attachments';navigateToNextField('attachRefNo0')"">Attachments</button>
                                    </li>
                                    <li data-menu-item="Remarks">
                                        <button type="button" class="btn" tabIndex="-1" ng-class="Tabs=='Remarks'?'active':'btn-normal'" ng-click="tabClick('Remarks');notesToCurrentFocus=true">Remarks</button>
                                    </li>
                                    <li data-more-menu-item >
                                        <button ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                                    </li>
                                </ul><!--TAB MENUS ENDS-->
                                <div class="tab-content" >
                                    <div ng-show="Tabs=='IATARates'">
                                        <div class="row nomargin pt10">
                                            <div class="col-xs-12 pb-10">
                                                <button type="button" tabIndex="-1" class="btn btn-property accent-btn" ng-click="addNewIataRateCharge()"><span class="icon-add"></span>Add Rate</button>
                                            </div>
                                            <!--<div class="col-xs-12">-->
                                                <!--<label>Destination</label>-->
                                                <!--<ul class="list-inline">-->
                                                    <!--<li ng-class="{'opc-5':status}">Online</li>-->
                                                    <!--<li class="v-align-top">-->
                                                        <!--<switch tabindex="" id="enabled" name="enabled" ng-model="status" class="green"></switch>-->
                                                    <!--</li>-->
                                                    <!--<li ng-class="{'opc-5':!status}">Offline</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                            <div class="col-xs-12 fgmb0 ptb-15">
                                                <div class="table-responsive">
                                                    <table class="table table-inline" tab-nav tab-row="addNewIataRateCharge()">
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_sno">#</th>
                                                            <th class="inl_l">Airport of Discharge<span
																	class="reqColor">*</span></th>
                                                            <th class="inl_m text-right"><span ng-show="!status">Min</span> Amount</th>
                                                            <th class="inl_s text-right">Normal</th>
                                                            <th class="inl_s text-right">+45</th>
                                                            <th class="inl_s text-right">+100</th>
                                                            <th class="inl_s text-right">+300</th>
                                                            <th class="inl_s text-right">+500</th>
                                                            <th class="inl_s text-right">+1000</th>
                                                            <th class="inl_s">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                       <tr ng-repeat="iataRateCharge in iataRateMaster.iataRateChargeList track by $index">
                                                        
                                                        <td
						ng-class="{'error-cell text-center':secondArr[$index].errRow}"><span
						ng-show="secondArr[$index].errRow"> <a
							href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList"
							ng-click="errorShow(secondArr[$index],$index)"
							class="color-white"> <img
								src="../../../../assets/images/error.png" />
						</a>
					</span> <span ng-show="!secondArr[$index].errRow"> {{$index+1}} </span></td>
                                                            
                                                            <td>
                                                                <div class="form-group">
                                                                    
																		<div class="select-auto">
																			<input type="text" class="form-control" id="pod{{$index}}" 
																				ng-class="{'error-control-auto':secondArr[$index].pod}" 
																				autocomplete="off" ng-model="iataRateCharge.pod" 
																				uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPodEvent($viewValue)"
																				typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                                                typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
																				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																				typeahead-on-select="selectedPod(iataRateCharge.pod,'minAmount',$index);" 
																				typeahead-focus-on-select="false"
																				typeahead-focus-first="true" typeahead-editable="false"
																				typeahead-min-length="1" typeahead-wait-ms="500"
																				ng-disabled="iataRateCharge.checkRolesToDisable && iataRateCharge.checkRolesToDisable!=null"
																				>
																				<span class="select-arrow"><b></b></span>
																		</div>
																	</div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                <input type="text"id="minAmount{{$index}}" 
                                                                efsdecimals="iataRateMaster.currencyMaster.decimalPoint" 
																efsdecimal-point="iataRateMaster.currencyMaster.countryMaster.locale"
                                                                ng-model="iataRateCharge.minAmount"  maxlength="17"
                                        ng-class="{'error-control-auto':secondArr[$index].minAmount}"
                                        class="form-control text-right" ng-disabled="iataRateCharge.checkRolesToDisable">
                                                                   
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                  <input type="text"  ng-disabled="iataRateCharge.checkRolesToDisable && iataRateCharge.checkRolesToDisable!=null" id="normal{{$index}}" efsdecimals="iataRateMaster.currencyMaster.decimalPoint" 
																efsdecimal-point="iataRateMaster.currencyMaster.countryMaster.locale" ng-model="iataRateCharge.normal"  maxlength="17"
                                        ng-class="{'error-control-auto':secondArr[$index].normal}"
                                        class="form-control text-right">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" ng-disabled="iataRateCharge.checkRolesToDisable && iataRateCharge.checkRolesToDisable!=null" id="plus45{{$index}}" efsdecimals="iataRateMaster.currencyMaster.decimalPoint" 
																efsdecimal-point="iataRateMaster.currencyMaster.countryMaster.locale" ng-model="iataRateCharge.plus45"  maxlength="17"
                                        ng-class="{'error-control-auto':secondArr[$index].plus45}"
                                        class="form-control text-right">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" ng-disabled="iataRateCharge.checkRolesToDisable && iataRateCharge.checkRolesToDisable!=null" id="plus100{{$index}}" efsdecimals="iataRateMaster.currencyMaster.decimalPoint" 
																efsdecimal-point="iataRateMaster.currencyMaster.countryMaster.locale" ng-model="iataRateCharge.plus100"  maxlength="17"
                                        ng-class="{'error-control-auto':secondArr[$index].plus100}"
                                        class="form-control text-right">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                   <input type="text" ng-disabled="iataRateCharge.checkRolesToDisable && iataRateCharge.checkRolesToDisable!=null" id="plus300{{$index}}" efsdecimals="iataRateMaster.currencyMaster.decimalPoint" 
																efsdecimal-point="iataRateMaster.currencyMaster.countryMaster.locale" ng-model="iataRateCharge.plus300"  maxlength="17"
                                        ng-class="{'error-control-auto':secondArr[$index].plus300}"
                                        class="form-control text-right">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" ng-disabled="iataRateCharge.checkRolesToDisable && iataRateCharge.checkRolesToDisable!=null" id="plus500{{$index}}" efsdecimals="iataRateMaster.currencyMaster.decimalPoint" 
																efsdecimal-point="iataRateMaster.currencyMaster.countryMaster.locale" ng-model="iataRateCharge.plus500"  maxlength="17"
                                        ng-class="{'error-control-auto':secondArr[$index].plus500}"
                                        class="form-control text-right">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                   <input type="text" ng-disabled="iataRateCharge.checkRolesToDisable && iataRateCharge.checkRolesToDisable!=null" id="plus1000{{$index}}" efsdecimals="iataRateMaster.currencyMaster.decimalPoint" 
																efsdecimal-point="iataRateMaster.currencyMaster.countryMaster.locale" ng-model="iataRateCharge.plus1000"  maxlength="17"
                                        ng-class="{'error-control-auto':secondArr[$index].plus1000}"  class="form-control text-right last-child" 
                                        class="form-control text-right">
                                                                </div>
                                                            </td>
                                                           <td class="v-align-mid">
                                            <div ng-show="iataRateMaster.iataRateChargeList.length>1" class="text-center cur-pointer"  ng-click="deleteIataRateCharge($index)">
                                                <span class="icon-delete"></span>
                                            </div>
                                        </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!--Accounting TAB ENDS-->

                                    <div ng-show="Tabs=='Attachments'">
                                        <div class="row nomargin pt10">
                                            <div class="col-xs-8 padlr-0">
                                                <attachment-section-simple
                                                	is-edit = "true" is-delete = "true"
                                                    table-data="iataRateMaster.attachmentList"
                                                    attachment-config="attachConfig"
                                                    table-check="iataRateAttach.isAttachmentCheck"
                                                    download-fn="downloadAttach(param)"
                                                    fn-role="roleAccess(param)"
                                                    add-role="$roleConstant.CRM_IATA_RATES_AIR_ATTACHMENT_CREATE"
                                                    edit-role="$roleConstant.CRM_IATA_RATES_AIR_ATTACHMENT_MODIFY"
                                                    delete-role="$roleConstant.CRM_IATA_RATES_AIR_ATTACHMENT_DELETE">
                                            </attachment-section-simple>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="Tabs=='Remarks'">
                                       <div class="row nomargin pt10">
                                         <div class="col-xs-8"> <label> Remarks</label>
                                           <textarea default-focus="notesToCurrentFocus"
                                               class="form-control elastic-ht" rows="5"
                                               msd-elastic id="remark"
                                               class="form-control"
                                               ng-model="iataRateMaster.remark"
                                               ng-class="{'error-control':errorMap.get('remark')!=null}"
                                               maxlength="4000">
									     </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--TAB CONTENT TAB ENDS-->
                            </div><!--Col ends-->
                        </div><!--row ends-->


                   
                </div><!--panel body ends-->
            </div><!--panel ends-->
             </form><!--form ends-->
        </div>
    </div>
</div>

<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
