<div class="container-fluid">
    <div class="row ml0 mr0 ">
        <div ng-show="!showDetail" class=" list-container col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div show-response></div>
            <div success-message></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panelTitle">
                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()">
                                    <i class="icon-add"></i> Add IATA Rates - Air
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right text-right">
                            <i class="icon-settings"></i>
                        </div>
                    </div>
                </div>
                <div show-response></div>
                <div class="panel-body tab-only-table" panel-height>
                    <div class="table-fixed table-responsive">
                        <super-table data="iataratesArr" head="iataratesairHeadArr" sort="sortSelection" click-event="rowSelect(param,index)" search-event="changeSearch(param)"
                            sort-event="sortChange(param)" page="page" size="limit">
                        </super-table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="pull-left">
                        <ul class="list-inline">
                            <li>Show</li>
                            <li>
                                <select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                </select>
                            </li>
                            <li>Entries</li>
                        </ul>
                    </div>
                    <div class="pull-right text-right">
                        <pagination-dr page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right"></pagination-dr>
                    </div>
                </div>
            </div>
            <!--panel ends-->
        </div>

        <!--Detail Views-->
        <div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12 pl0" >
            <ng-include ng-if="showDetail" src="'app/components/crm/iata_rates_air/views/iata_rates_air_detail.html'"></ng-include>
        </div>
    </div>
</div>