<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row ">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" id="unitMasterForm" name="unitMasterForm"
                  ng-submit="unitMaster.id!=null?update():save()">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{unitMaster.id!=null?'Edit':'Add'}} Unit </h4>
                        </div>
                        <div>
                            <div class="btngrp">

                                    <button type="button" id="cancel" class="btn cancel-btn"
                                            ng-click="cancel()">Cancel
                                    </button>


                                    <input id="saveOrUpdate" type="submit" class="btn accent-btn"
                                           value="{{unitMaster.id!=null?'Update':'Save'}}">

                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit" id="unit-panel" panel-height ng-nicescroll
                         nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div><span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
                            </div>
                        </div>
                        <div class="row ">

                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 form-group nomargin pl0" >
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input  input-focus="{{errorMap.get('unitName')!=null || firstFocus}}" type="text" class="form-control"
                                       id="unitName" name="unitName"
                                       ng-model="unitMaster.unitName"
                                       ng-class="{'error-control':errorMap.get('unitName')!=null}"
                                       maxlength="100" ng-change="validateUnitMaster(1)">

                                <div>
                                    <span class="error-message" ng-show="errorMap.get('unitName')!=null"><small>
                                        {{errorMap.get('unitName')}}
                                    </small></span>
                                </div>
                            </div>

                        </div>
                        <div class="row  ">
                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 nomargin nopadding">
                                <div class="col-xs-6 form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input type="text" input-focus="{{errorMap.get('unitCode')!=null}}" class="form-control" id="unitCode"
                                           name="unitCode" ng-model="unitMaster.unitCode"
                                           ng-class="{'error-control':errorMap.get('unitCode')!=null}"
                                           maxlength="10" capitalize ng-change="validateUnitMaster(2)" 
                                           ng-disabled="unitMaster.id!=null" >
                                  
                                    <div>
                                        <span class="error-message" ng-show="errorMap.get('unitCode')!=null"><small>
                                            {{errorMap.get('unitCode')}}
                                        </small></span>
                                    </div>
                                </div>

                                <div class="col-xs-6 form-group nomargin"
                                     ng-show="unitMaster.id!=null">

                                    <label class="w-100 custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="setStatus(unitMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="unitMaster.status" required>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row bor-0">


                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="w-100 custom-label">Type<span
                                        class="reqColor">*</span></label>
                                <button-group
                                        states="enum['UnitType']"
                                        state="unitMaster.unitType"
                                        on-state-change="validateUnitMaster(3);tabNavigateTo('mappingUnit1')">
                                </button-group>
                                <div>
									<span class="error-message"
                                          ng-show="errorMap.get('unitType')!=null"><small>{{errorMap.get('unitType')}}
                                    </small></span>

                                </div>
                            </div>


                        </div>
                        <div class="row nopadding" >
                            <div class="col-xs-12 nomargin nopadding ">
                                    <h5 class="title nomargin" ng-show="unitMaster.unitType=='Unit'">Formula </h5>
                            </div>

                        <div class="mappingWrapper bor-0 nopadding" ng-show="unitMaster.unitType=='Unit'">
                            <div class="row shade1 bor-btm-1">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 form-group nomargin nopadding">
                                    <label class="custom-label pt10">Mapping 1 <span class="reqColor">*</span></label>

                                    <div class="sub-body">
                                        <div class="row">
                                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                <label class="custom-label">Unit</label>
                                                <div class="select-auto">
                                                    <input type="text"
                                                           id="mappingUnit1"
                                                           auto-complete-manual
                                                           filter-type="MappingUnit"
                                                           ng-model="unitMaster.mappingUnit1"
                                                           render-item="unitRender"
                                                           on-select="tabNavigateTo('calcType1')"
                                                           item-data="mappingUnitData"
                                                           class="form-control"

                                                            />
                                                </div>
                                                <div>
                                                    <span class="error-message"
                                                          ng-show="errorMap.get('mappingUnit1')!=null"><small>
                                                        {{errorMap.get('mappingUnit1')}}
                                                    </small></span>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 calc-type">
                                                <label class="custom-label">Calculation Type</label>
                                                <button-group
                                                        btn-id = "calcType1"
                                                        states="enum['UnitCalculationType']"
                                                        state="unitMaster.calcType1"
                                                        filter-type="calcType"
                                                        on-state-change="validateUnitMaster(5)">
                                                </button-group>
                                                <div>
									<span class="error-message"
                                          ng-show="errorMap.get('calcType1')!=null"><small>
                                        {{errorMap.get('calcType1')}}
                                    </small></span>

                                                </div>


                                            </div>
                                            <div class="col-md-5">
                                                <label class="custom-label">Calculation Value</label>

                                                <input type="text" class="form-control text-right" id="calcValue1"
                                                       name="calcValue1" ng-model="unitMaster.calcValue1"
                                                       ng-class="{'error-control':errorMap.get('calcValue1')!=null}"
                                                       maxlength="10"  ng-change="validateUnitMaster(6)">

                                                <div>
                                                    <span class="error-message"
                                                          ng-show="errorMap.get('calcValue1')!=null"><small>
                                                        {{errorMap.get('calcValue1')}}
                                                    </small>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="plr14px shade1 pt10 pb10">
                                <input class="magic-checkbox" type="checkbox" ng-model="showOptional" ng-click="changeMappingUnit2('mappingUnit2')" name="layout" id="mapping2" value="option">
                                <label class="text custom-label" for="mapping2">
                                    Add Another Mapping
                                </label>
                            </div>
                            <div class="row shade1 bor-btm-1 pb10" ng-show="showOptional">
                                <div class="col-md-7 col-lg-7 col-xs-12 form-group nomargin nopadding">

                                    <label class="custom-label">Mapping 2</label>

                                    <div class="sub-body">
                                        <div class="row ">
                                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                                <label class="custom-label">Unit</label>
                                                <div class="select-auto">
                                                    <input type="text"
                                                           id="mappingUnit2"
                                                           auto-complete-manual
                                                           filter-type="MappingUnit"
                                                           ng-model="unitMaster.mappingUnit2"
                                                           render-item="unitRender"
                                                           on-select="tabNavigateTo('calcType2')"
                                                           item-data="mappingUnitData"
                                                           class="form-control"
                                                            />
                                                </div>
                                                <div>
									<span class="error-message"
                                          ng-show="errorMap.get('mappingUnit2')!=null"><small>
                                        {{errorMap.get('mappingUnit2')}}
                                    </small></span>

                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <!-- CalcType 2 -->
                                            <div class="col-md-7 calc-type">
                                                <label class="custom-label">Calculation Type</label>
                                                <button-group
                                                        btn-id = "calcType2"
                                                        states="enum['UnitCalculationType']"
                                                        state="unitMaster.calcType2"
                                                        filter-type="calcType"
                                                        on-state-change="validateUnitMaster(8)">
                                                </button-group>
                                                <div>
									<span class="error-message"
                                          ng-show="errorMap.get('calcType2')!=null"><small>
                                        {{errorMap.get('calcType2')}}
                                    </small></span>

                                                </div>

                                            </div>
                                            <!-- CalcValue 2 -->
                                            <div class="col-md-5">
                                                <label class="custom-label"
                                                       ng-class="{'error-label':unitMasterForm.calcValue2.$error.required && !unitMasterForm.calcValue2.$pristine}">
                                                    Calculation Value
                                                </label>
                                                <input type="text" class="form-control text-right" id="calcValue2"
                                                       name="calcValue2" ng-model="unitMaster.calcValue2"
                                                       ng-class="{'error-control':errorMap.get('calcValue2')!=null}"
                                                       maxlength="10"  ng-change="validateUnitMaster(9)" input-focus="{{errorMap.get('calcValue2')!=null}}">

                                                <div>
                                                    <span class="error-message"
                                                          ng-show="errorMap.get('calcValue2')!=null"><small>
                                                        {{errorMap.get('calcValue2')}}
                                                    </small></span>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <span><b>Note</b>: Greatest of Mapping 1 or Mapping 2 will be applied.</span>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Decimals</label>
                                <button-group
                                        btn-id = "decimals"
                                        states="enum['UnitDecimals']"
                                        state="unitMaster.decimals"
                                        filter-type="unitDecimals"
                                        on-state-change="">
                                </button-group>
                                </div>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



		
		
		
		