<div class="container-fluid pl0 pr0" ng-controller="dashboardCtrl">
    <div class="row ml0 mr0">
        <main class="dashboard" ng-nicescroll nice-option="{{ngScrollConfig}}">
            <div class="container-fluid height100per" dashboard-height>
                <div class="row padt-22">
                    <div class="col-md-8">
                        <div style="margin-bottom: 15px !important;" class="panel  panel-default">
                            <div class="panel-heading flexTitle">
                                <div>
                                    <ul class="list-inline">
                                        <li><span class="icon-v-ellipse"></span></li>
                                        <li><h4 style="color: #0088cc !important;">Shipments</h4></li>
                                        <li>
                                            <label class="switch" disabled="disabled">
                                                <input type="checkbox" disabled>
                                                <div class="slider round"></div>
                                            </label>
                                        </li>
                                        <li><h4>Quotations</h4></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="list-inline flex align-middle">
                                        <li class="f-13b4">Showing</li>
                                        <li>
                                            <div class="select-box">
                                                <select>
                                                    <option>This Month</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled mt-15">
                                    <li>
                                        <div class="row nomargin">
                                            <div class="col-md-6 col-xs-6 col-lg-6">
                                                <p class="f-13b-4 opc-5 txt-blk">Shipments In Progress</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6 col-lg-6">
                                                <p class="f-13b-4 opc-5 txt-blk">Shipments Completed</p>
                                            </div>
                                            <!-- <li>
                                                 <p class="f-13b4">Jobs Inprogress</p>
                                                 <h3 class="f-26b4 text-center">100</h3>
                                             </li>
                                             <li>
                                                 <p class="f-13b4">Jobs Inprogress</p>
                                                 <h3 class="f-26b4 text-center">30</h3>
                                             </li>-->
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6 col-lg-6">

                                                <canvas id="doughnut" class="chart chart-doughnut"
                                                        chart-data="data" chart-labels="labels" chart-legend="true" chart-colours="colours">
                                                </canvas>

                                            </div>
                                            <div class="col-md-6 col-xs-6 col-lg-6">
                                                <canvas class="chart chart-doughnut"
                                                        chart-data="data1" chart-labels="labels1" chart-legend="true" chart-colours="colours1">
                                                </canvas>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!--panel ends-->
                        <div class="row">
                            <div class="col-md-6 pad-8 padL-14">
                                <div class="panel panel-default minH msg">
                                    <div class="panel panel-heading flexTitle">
                                        <div>
                                            <ul class="list-inline">
                                                <li><span class="icon-v-ellipse"></span></li>
                                                <li><h4>Messages</h4></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 mtminus-15 nopadding">
                                                <ul class="list-group">
                                                    <a href="#" class="list-group-item bor-0">
                                                        <ul class="list-inline rel">
                                                            <li><div class="octagon"><span class="abs f-20b4">L</span></div></li>
                                                            <li>
                                                                <h5 class="list-group-item-heading f-13b-4">Linda Johnson</h5>
                                                                <small class="list-group-item-text f-13b-5">Coming for tea?</small>

                                                            </li>
                                                            <span class="badge pull-right r-5 f-12b7">1</span>
                                                        </ul>
                                                    </a>
                                                    <a href="#" class="list-group-item brad-0">
                                                        <ul class="list-inline rel">
                                                            <li><div class="octagon"><span class="abs f-20b4">J</span></div></li>
                                                            <li>
                                                                <h5 class="list-group-item-heading f-13b-4">Jakson White</h5>
                                                                <small class="list-group-item-text f-13b-5">Raise the invoice  for Blooms Flor...</small>

                                                            </li>
                                                            <span class="badge pull-right r-5 f-12b7">3</span>
                                                        </ul>
                                                    </a>
                                                    <a href="#" class="list-group-item brad-0">
                                                        <ul class="list-inline rel">
                                                            <li><div class="octagon"><span class="abs f-20b4">S</span></div></li>
                                                            <li>
                                                                <h5 class="list-group-item-heading f-13b-4">Smith</h5>
                                                                <small class="list-group-item-text f-13b-5">Create a Quotation</small>

                                                            </li>
                                                            <span class="badge pull-right r-5 f-12b7">4</span>
                                                        </ul>
                                                    </a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pad-8 padR-14">
                                <div class="panel panel-default minH">
                                    <div class="panel panel-heading flexTitle">
                                        <div>
                                            <ul class="list-inline">
                                                <li><span class="icon-v-ellipse"></span></li>
                                                <li><h4>Recent Updates</h4></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <ul class="list-inline flex align-middle">
                                                <li><span>View</span></li>
                                                <li>
                                                    <div class="select-box">
                                                        <select>
                                                            <option>1 Hour Before</option>
                                                        </select>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--panel heading ends-->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="table-responsive bg-lgray ptb-15 mtminus-15 bor-btm-1">
                                                <table class="table table-stripped">
                                                    <tbody class="tabBor-0">
                                                    <tr>
                                                        <td colspan="2">
                                                            <div>
                                                                <span >Shipment ID</span>
                                                                <span >#0410011</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            <div>
                                                                <ul class="list-inline">
                                                                    <li class="nopadding">
                                                                        <span class="icon-ocean rel"></span>
                                                                        <span>LE</span>
                                                                        <span>( <span class="f-13b-4">DXB </span><span class="icon-r-arr"></span><span class="f-13b-4"> MAA</span> )</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <div><span >LG Electronics</span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <ul class="list-inline">
                                                                <li><span >Update</span></li>
                                                                <li><span >New Nomination</span></li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="table-responsive bg-lgray ptb-15 ">
                                                <table class="table table-stripped ">
                                                    <tbody class="tabBor-0">
                                                    <tr>
                                                        <td colspan="2">
                                                            <div>
                                                                <span >Shipment ID </span>
                                                                <span>#0710011</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            <div>
                                                                <ul class="list-inline">
                                                                    <li class="nopadding">
                                                                        <span class="icon-ocean rel"></span>
                                                                        <span>LI</span>
                                                                        <span>( <span >NYC </span><span class="icon-r-arr"></span><span> DXB</span> )</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <div ><span >Blue Chip Computers</span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <ul class="list-inline">
                                                                <li><span >Update</span></li>
                                                                <li><span >Cargo will be ready On 24/04/16</span></li>
                                                            </ul>
                                                        </td>
                                                        <!--<td colspan="2">
                                                            <ul class="list-inline tab-cell">
                                                                <li><span class="text-left f-13b-5 text-uppercase">Cargo will be ready</span></li>
                                                            </ul>
                                                        </td>-->
                                                    </tr>

                                                    <!--<tr>
                                                        <td>
                                                            <p><span class="f-13b-5">Shipment ID</span> <span class="f-13b-4">#456674</span></p>
                                                            <p class="f-13b-4">Lion Imports & Exports</p>
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline pull-right tab-cell">
                                                                <li><span class="icon-air-plane"></span></li>
                                                                <li><span class="f-13b-5">AI</span></li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p><span class="f-12b-5">Current Milestone </span> <span class="f-13b-5">Booked</span>07/05/16 </p>
                                                            <p><span class="f-12b-5">Next Milestone </span> <span class="f-13b-5">Pickup</span>12/05/16 </p>
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline pull-right">
                                                                <li class="f-13b-4">DXB</li>
                                                                <li><span class="icon-r-arr"></span></li>
                                                                <li class="f-13b-4">MAA</li>
                                                            </ul>
                                                        </td>
                                                    </tr>-->
                                                    </tbody>
                                                    <!--<tbody class="tabBor-0">
                                                    <tr>
                                                        <td>
                                                            <p><span class="f-13b-5">Shipment ID</span> <span class="f-14b-4">#0610011</span></p>
                                                            <p class="f-13b-4">LG ELECTRONICS</p>
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline pull-right">
                                                                <li><span class="icon-air-plane"></span></li>
                                                                <li><span class="f-13b-5">LE</span></li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p><span class="f-13b-5">Scheduled at</span> <span class="f-13b-4">13 Jan 15</span> <span class="f-12b4">3:30pm</span> </p>
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline pull-right">
                                                                <li class="f-13b-4">DXB</li>
                                                                <li><span class="icon-r-arr"></span></li>
                                                                <li class="f-13b-4">MAA</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    </tbody>--><!--list tab-->
                                                </table>
                                            </div>
                                        </div>
                                    </div><!--panel body ends-->
                                </div><!--panel ends-->
                            </div>
                        </div><!--row ends-->
                    </div><!--col ends-->
                    <div class="col-md-4">
                        <div class="panel panel-default dashTasks">
                            <div class="panel panel-heading flexTitle">
                                <div>
                                    <ul class="list-inline">
                                        <li><span class="icon-v-ellipse"></span></li>
                                        <li><h4>Tasks</h4></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="list-inline flex align-middle">
                                        <li><span>Showing</span></li>
                                        <li>
                                            <div class="select-box">
                                                <select>
                                                    <option>All</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body" style="padding-bottom: 0px !important;">
                                <div class="row">
                                    <div class="col-xs-12 p00 mtminus-15" >
                                        <div class="table-responsive">
                                            <table class="table table-stripped mb0">
                                                <tbody class="tabBor-0 {{task.tasktheme}}" ng-repeat="task in taskdata">
                                                <tr>
                                                    <td colspan="2">
                                                        <div>
                                                            <span>Shipment ID</span>
                                                            <span> {{task.shipid}}</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <div>
                                                            <ul class="list-inline tab-cell tab-t">
                                                                <li class="nopadding">
                                                                    <span ng-class="task.icon" class="rel"></span>
                                                                    <span class="f-13b-5 opc-8">{{task.aircode}}</span>
                                                                    <span>( <span class="f-13b-4  opc-8">{{task.routo}} </span><span class="icon-r-arr"></span><span class="f-13b-4 opc-8"> {{task.roufrm}}</span> )</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <div class="pb-15"><span class="f-13b-4 opc-8 ">{{task.dename}}</span></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <div class="row nomargin">
                                                            <div class="col-xs-9 nopadding">
                                                                <ul class="list-inline tab-cell table-fluid li-50">
                                                                    <li><span class="f-12b5 opc-5">Current Milestone</span></li>
                                                                    <li><span class="f-13b-5 opc-8">{{task.curms}}</span></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-xs-3 text-right nopadding">
                                                                <span class="rel opc-8 text-right">{{task.curdate}}</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <div class="row nomargin">
                                                            <div class="col-xs-9 nopadding">
                                                                <ul class="list-inline tab-cell table-fluid li-50">
                                                                    <li><span class="f-12b5 opc-5">Next Milestone</span></li>
                                                                    <li><span class="f-13b-5 opc-8">{{task.nxtms}}</span></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-xs-3 text-right nopadding">
                                                                <span class="rel opc-8 text-right">{{task.nxtdate}}</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div><!--table res ends-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--row ends-->
            </div><!--container fluid ends-->
        </main>
    </div>
</div>