<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width60per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Terms and Conditions</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5">
                            <li>
                                <button type="button" class="btn btn-default" ng-click="cancelPopup()">Close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:500px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                    A. Basis of Contract 
The services performed by the Company shall be exclusively governed by these Terms and Conditions which shall be deemed as accepted at the time of ordering. The customer hereby agrees that these Terms and Conditions shall apply to any order placed either verbally or by telex/fax, even though no reference to these Terms and Conditions has been made. The limitations of liability as defined within the provisions of these Terms and Conditions shall also be applicable to compensation claims arising from any unlawful act. These Terms and Conditions are governing terms and conditions for all services provided by the Company and shall override all or any other previous Terms and Conditions and any conflicting provisions contained therein. 

B. Definition of Liability 
1.	The Company, acting as freight forwarding and logistics agent, is authorized to select and engage at its own discretion unless otherwise instructed, for and on behalf of the client and shall devote its due and reasonable attention to the arrangement of, the appropriate transporters, carriers, warehouse keepers and other providers hereafter referred to as sub-contractors needed to execute client’s order on the entrusted goods.
2.	The Company, acting as freight forwarding and logistics agent, shall not be liable for any loss or damage to cargo due to the actions on the part of the sub-contractors notwithstanding that the client was unaware of the arrangement between the Company and the sub-contractors, however subject to the provisions of clause C.
C.	Limitations of Liability
1.	The Company shall handle or store all cargo for and on behalf of clients and at owner’s risks for losses and consequences.
2.	The Company shall select sub-contractors who shall be considered as independent agents of the Company, selected for and on behalf of the client, and the goods shall be entrusted to such subcontractors subject to all conditions of limitations of liability for loss, damage, expense or delay and to all rules, regulations, requirements, conditions, whether written, printed, or stamped, appearing in waybills, bills of lading, receipts issued by such forwarding agents, carriers or others.
3.	The Company shall under no circumstances be liable for any loss, damage, expense or delay to the goods for any reason whatsoever when said goods are in custody, possession or control of such sub-contractors as selected by the Company.
4.	The Company shall not be liable for losses or expenses or any consequences due to the errors, omissions, negligence or misconduct by the sub-contractors.
5.	The Company shall not be liable for losses or expenses or any consequences due to the errors, omissions, negligence or misconduct by the client or its representatives.
6.	The Company’s total liability in case of proven negligence or misconduct on its part shall be limited to the maximum of USD 10,000 per claim, incident or occurrence.
7.	The Company’s liability as a NVOCC (Non Vessel Operating Common Carrier) shall be governed by separate terms and conditions.
D.	Insurance
1.	The Company does not provide insurance cover against loss or damage during handling or transportation or storage of the goods unless specifically requested by client in writing.
2.	In the absence of specific written request for insurance, the Company presumes that all cargo handled or stored is fully insured by client for all risks and consequences.
3.	When requested to arrange insurance cover by client, the Company shall do so on behalf of client acting as an agent. In the absence of any specific preference for an insurance company by client, the Company shall, upon exercising due and reasonable care, select a reputable insurance company and facilitate insurance in client’s name and charge insurance premium. The insurance cover shall be governed by the terms and conditions contained in the policy issued by the insurance company.
4.	Whether or not insurance cover is arranged by the Company, the insurance policy of the client should note the Company interest as freight forwarding and logistics agent and hold the Company harmless against any claims of whatsoever nature.
5.	The Company shall have the Professional Liability insurance however any claims against the Company shall only be entertained subject to the professional negligence or misconduct proven on the part of the Company and not the subcontractors who are independent agents of the Company and arranged for and on behalf of clients.
E.	Conditions of Payment / Responsibility of Client
1.	Payment to the Company for its services is due and payable in accordance with the payment terms set out in the quotation.
2.	Payment to the Company for all charges, levies, costs and expenses not known at the time of issuance of quotation but incurred by the Company on behalf of the client.
3.	In the event that the client does not make payment to the Company in accordance with the terms set out in the quotation:
a.	The Company shall be entitled to claim interest on the amounts due at the rate of 24% above the base rate of the Company’s bankers, from the date on which the amount fell due to the date of payment, or at such other rate and for such period which court of law may determine; and
b.	In the event that the Company is required to instruct lawyers to recover the amounts due by the client, all legal fees and disbursements incurred by the Company in connection with the recovery of these amounts shall be paid on demand by the client, whether or not action has been instituted by the Company against the client.
4.	In the event that the client does not comply with the payment terms set out in the quotation, it shall imply breach of agreed terms resulting in cancellation of all credit terms approved and the Company shall have right to enforce other provisions in order to recover the amounts due including exercising its right of lien and pledge.
F.	Right of Lien and Pledge
1.	Regardless of any reason, the Company has a right to General and particular lien and pledge on the carried or stored goods with respect to any claim which it may have against the client and its lawful successor.
2.	The right of lien and pledge shall apply to all or any cargo in the Company’s possession whether or not related to the specific claim and shall be exercisable until all dues payable to the Company are settled.
3.	The right of lien and pledge shall also apply to claims, in lieu of goods, which are hereby transferred to the Company.
G.	Forfeiture/Period of Limitation/Set off
1.	All or any claims for shortage, damage or any other type of defects in delivery of goods should be reported or due reservations sent to the Company in writing within 48 hours of delivery failing which claims directed against the Company shall be forfeited.
2.	Period of limitation for any action against the Company shall be one year as from the date of delivery of goods or in case of total loss, from the date of the event resulting in total loss of the goods. 3. Alleged claims against The Company shall not be eligible to be offset against freight and other charges payable to The Company for its services rendered.
H.	Exclusions
1.	The Company shall not be liable in respect of any consequential loss, damage or expense, such as loss of profit, loss of clients, penalties, claims for losses due to depreciation and conventional fines, exchange rate fluctuations, increased levies or taxes by authorities whatever caused.
2.	The Company shall not be liable for the events due to Acts of God, Force Majeure and/or for the loss, damage, delay or mis-delivery due to circumstances beyond the control of The Company.
3.	The Company shall not be liable for loss or damage due to defective packing of goods by client if not verifiable by the Company.
4.	The Company shall not be liable for the loss or damage due to inherent vice or nature of the goods or due to inaccuracy relating to their marks, number, weight, volume, quantity and if applicable, to the dangerous character of the goods, as furnished by the client or its agents.
5.	The Company shall not be liable for any loss or damage to goods due to circumstances beyond the control of the Company and / or where the Company has not been proved guilty of negligence or misconduct in performance of its professional obligations.
I.	Governing Law and Jurisdiction
The place of performance of the rights and obligations of the parties shall be at the domicile of the contracting Company. All agreements shall be governed and construed in accordance with the National law of the contracting Company. The courts of the country in which the contracting Company is registered shall have jurisdiction hereunder.
J.	Severability
The invalidity or unenforceability of any provision of these terms and conditions shall not affect validity or enforceability of any other part of these terms and conditions.
K.	Claims in Tort
The defenses and limits of liability provided for in these Conditions shall apply in any action against Company for loss, damage of the goods or delay whether the action be founded in contract or in tort.
L.	Acknowledgement 
All services provided by the Company are subject to these terms and conditions and by giving documents to the Company to handle or store the cargo, the client acknowledges that it has accepted the quotation / offer and read these terms and conditions and agreed to be bound by them. In tendering the shipments to the Company client agrees that the Company shall not be liable for any loss or damage to cargo except as provided under clause C of these Terms and Conditions and the Company disclaims all warranties, express or implied with respect to the shipments tendered.
                    </div>
                </div>
            </div> 
        </div> 
    </div>
</div>


