<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <form role="form" name="vm.defaultMasterDataForm">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4 >{{vm.defaultMasterData.id==null?'Add Default':'Edit Default'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                <button type="button" class="btn cancel-btn"  ng-click="vm.cancel()">Cancel</button>
                                <input type="button" ng-click="vm.saveOrUpdate()"  class="btn accent-btn" ng-value ="vm.defaultMasterData.id==null?'Save':'Update'"/>
                           </div>
                        </div>
                    </div>
                    <div class="panel-body pt0 nopadding half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row pb0 pt10">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 bor-btm-1">
                        <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 plr0">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="custom-label">Name<span class="reqColor">*</span></label> 
                                <input
									input-focus="true"
									type="text" class="form-control" id="defaultName"
									ng-model="vm.defaultMasterData.defaultName"
									ng-change="vm.validate('defaultName', 1)"
									maxlength="100" ng-class="{'error-control':vm.errorMap.get('defaultName')!=null}" />
								<span class="error-message" ng-show="vm.errorMap.get('defaultName')!=null">
									 <small>{{vm.errorMap.get('defaultName')}}</small>
								</span>
								</div>
                            </div>
                        
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                         <div class="form-group">
                                <label class="custom-label">Code<span class="reqColor">*</span></label> 
                                <input
									type="text" class="form-control" id="code"
									ng-model="vm.defaultMasterData.code" ng-disabled="vm.defaultMasterData.id?true:false"
									ng-change="vm.validate('code', 2)"
									maxlength="100" ng-class="{'error-control':vm.errorMap.get('code')!=null}" />
								<span class="error-message" ng-show="vm.errorMap.get('code')!=null">
									 <small>{{vm.errorMap.get('code')}}</small>
								</span>
                            </div>
                            </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 plr0">
                            
                           <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                                <div class="form-group">
                               <label class="custom-label">Software<span class="reqColor">*</span></label> 
                               <div class="select-auto">
                                <input
									autocomplete="off" 
									type="text" class="form-control" id="softwareName"
									ng-model="vm.defaultMasterData.softwareMaster"
									typeahead-on-select="vm.validate('softwareName',3,'objectGroupName')"
								    uib-typeahead="lovObject as lovObject.softwareName for lovObject in vm.ajaxSoftwareEvent($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true" 
									 typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-focus-on-select="false"
									typeahead-focus-first="true"
									typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500" 
									ng-class="{'error-control':vm.errorMap.get('softwareName')!=null}" >
									<span class="select-arrow"><b></b></span>
									</div>
							   <span class="error-message" ng-show="vm.errorMap.get('softwareName')!=null">
								     <small>{{vm.errorMap.get('softwareName')}}</small>
							   </span>
							   </div>
                            </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                                <div class="form-group">
                               <label class="custom-label">Group<span class="reqColor">*</span></label> 
                               <div class="select-auto">
                                <input
									autocomplete="off" 
									type="text" class="form-control" id="objectGroupName"
									ng-model="vm.defaultMasterData.objectGroupMaster"
									typeahead-on-select="vm.validate('objectGroupName',4,'objectSubGroupName')"
								    uib-typeahead="lovObject as lovObject.objectGroupName for lovObject in vm.ajaxObjectGroupEvent($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true" 
									 typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-focus-on-select="false"
									typeahead-focus-first="true"
									typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500" 
									ng-class="{'error-control':vm.errorMap.get('objectGroupName')!=null}" >
					                 <span class="select-arrow"><b></b></span>
									</div>
							   <span class="error-message" ng-show="vm.errorMap.get('objectGroupName')!=null">
								     <small>{{vm.errorMap.get('objectGroupName')}}</small>
							   </span>
							   </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="row pb0 pt10">
                            
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 bor-btm-1">
                            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 plr0">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                                <div class="form-group">
                               <label class="custom-label">Sub Group<span class="reqColor">*</span></label> 
                               <div class="select-auto">
                                <input
									autocomplete="off" 
									type="text" class="form-control" id="objectSubGroupName"
									ng-model="vm.defaultMasterData.objectSubGroupMaster"
									typeahead-on-select="vm.validate('objectSubGroupName',5,'scopeFlag')"
								    uib-typeahead="lovObject as lovObject.objectSubGroupName for lovObject in vm.ajaxObjectSubGroupEvent($viewValue,vm.defaultMasterData)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true" 
									 typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-focus-on-select="false"
									typeahead-focus-first="true"
									typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500" 
									ng-class="{'error-control':vm.errorMap.get('objectSubGroupName')!=null}" >
									<span class="select-arrow"><b></b></span>
									</div>
							   <span class="error-message" ng-show="vm.errorMap.get('objectSubGroupName')!=null">
								     <small>{{vm.errorMap.get('objectSubGroupName')}}</small>
							   </span>
							   </div>
                            </div>
                            
                            
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="custom-label">Scope Flag</label>
                                    <div class="select-auto">
                                                    <input type="text"
                                                           id="scopeFlag"
                                                           on-select="vm.validate('scopeFlag',7,'value')"
                                                           auto-complete-manual
                                                           ng-model="vm.defaultMasterData.scopeFlag"
                                                           item-data="vm.scopeFlagArr"
                                                           class="form-control"/>
                                                </div>
                                <span class="error-message" ng-show="errorMap.get('scopeFlag')!=null">
									 <small>{{errorMap.get('scopeFlag')}}</small>
								</span>
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 plr0">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                                <div class="form-group ">
                                    <label class="custom-label">Value<span class="reqColor">*</span></label>
                                    <div class="select-auto">
                               <input type="text" class="form-control"
                                  ng-model="vm.defaultMasterData.value"   id="value"
                                  ng-class="{'error-control':vm.errorMap.get('value')!=null}"
                                  ng-change="vm.validate('value', 6)"
                                  maxlength="1000" />
                              
                                 </div>
                                <span class="error-message" ng-show="vm.errorMap.get('value')!=null">
									 <small>{{vm.errorMap.get('value')}}</small>
								</span>
                                </div>
                         
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="row pb0 pt10">
                         
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                              <div class="col-sm-9 col-xs-12 col-md-9 col-lg-6">
                                <div class="form-group">
                                    <label class="custom-label">Description</label>
                                    <div class="select-auto">
                                      <textarea 
                                           ng-model="vm.defaultMasterData.description" msd-elastic maxlength="4000" 
                                           class="form-control ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched" >
                                      </textarea>
                  </div>
                                 <span class="error-message" ng-show="errorMap.get('description')!=null">
									 <small>{{errorMap.get('description')}}</small>
								 </span>
                                </div>
                         </div>
                            </div>
                        
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
