<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog width95per">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Accounts</h4>
						<span class="error-message"
							ng-show="errorMap.get('linkService')!=null"> <small>{{errorMap.get('linkService')}}</small>
						</span>
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<!-- <li>
								<button type="button" class="btn cancel-btn"
									ng-click="cancelFlightSchedule();$hide()">cancel</button>
							</li> -->
							<li>
								<button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- ng-if="consol.eventList.length>0" -->
<div class="modal-body pb-25 pt0"
				style="height: 367px; overflow: auto;">
				<div class="row ">
					<div class="col-xs-12 pl0 pr0"
					 ng-if="consol.shipmentLinkList.length>1" >
                  <div  ng-include="'app/components/air/consol_shipments_new_screen/dialog/accounts_display_view.html'"></div></div>
                           <div class="col-xs-12 pl0 pr0" ng-if="consol.shipmentLinkList.length==1">
                            <div  ng-include="'app/components/air/consol_shipments_new_screen/dialog/consol_shipment_accounts_display_view.html'"></div>
          

</div>
</div>
</div>
</div>
</div>
</div>
</div>