<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog width60per">
		<div class="modal-content">
			<div class="modal-header ">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Notes</h4>
						<span class="error-message"
							ng-show="errorMap.get('linkService')!=null"> <small>{{errorMap.get('linkService')}}</small>
						</span>
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<!-- <li>
								<button type="button" class="btn cancel-btn"
									ng-click="cancelFlightSchedule();$hide()">cancel</button>
							</li> -->
							<li>
								<button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body minH-180  pt0"
				>
				<div class="row nomargin">
					
            
             <div class="col-xs-12 mt10 pl0 pr0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        <label>Note</label>
                            <h6>    {{consol.notes}}</h6>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                        <label>Internal Note</label>
                          <h6>      {{consol.internalNote}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        </div><!--  modal body ends -->
        </div>
        </div>
        </div>
