<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Notes</h4>
                         <span class="error-message" ng-show="errorMap.get('linkService')!=null">
                             <small>{{errorMap.get('linkService')}}</small>
                         </span>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                              <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelNotes()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="saveNotes()">Save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body minH-180 pt0">
                <div class="row nomargin pt10">
                                            <div class="col-xs-12 plr0">
                                               <div ng-include="'app/components/air/consol_shipments_new_screen/views/consol_notes_popup_edit.html'"></div>
                                            </div>
                                        </div>
            </div><!--body ends-->


    
                                        
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


