<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width90per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>References</h4>
                         <span class="error-message" ng-show="errorMap.get('linkService')!=null">
                             <small>{{errorMap.get('linkService')}}</small>
                         </span>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelReferences();">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="saveReference()">save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row nomargin pt15">
                                            <div class="col-xs-12 plr0">
                                                <reference-table
                                                        index-key = "MasterShipment"
                                                        table-data="refTmpList"
                                                        table-check="consol.isReferenceCheck"
                                                        fn-role="roleAccess(param)"
	                                                    add-role="$roleConstant.AIR_MASTER_SHIPMENT_REFERENCES_CREATE"
	                                                    edit-role="$roleConstant.AIR_MASTER_SHIPMENT_REFERENCES_MODIFY"
	                                                    delete-role="$roleConstant.AIR_MASTER_SHIPMENT_REFERENCES_DELETE">
                                                </reference-table>
                                            </div>
                                        </div>
            </div><!--body ends-->


    
                                        
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


