<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Attachments</h4>
                         <span class="error-message" ng-show="errorMap.get('linkService')!=null">
                             <small>{{errorMap.get('linkService')}}</small>
                         </span>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelFlightSchedule();$hide()">Close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                        <div class="row nomargin noborder mt-15">
                                            <div class="col-xs-12 plr0 pb60">
												<super-attachment-table attachment-config="attachConfig"
									table-data="consol.consolAttachmentList"
									download-fn="downloadAttach(param)" 
									fn-role="roleAccess(param)"
									add-role="$roleConstant.AIR_MASTER_SHIPMENT_ATTACHMENT_ADD"
									edit-role="$roleConstant.AIR_MASTER_SHIPMENT_ATTACHMENT_MODIFY"
									delete-role="$roleConstant.AIR_MASTER_SHIPMENT_ATTACHMENT_DELETE"
									download-role="$roleConstant.AIR_MASTER_SHIPMENT_ATTACHMENT_DOWNLOAD">
								</super-attachment-table>

											</div>
                                        </div>
                    </div>
                </div>
            </div><!--body ends-->


            
                                        
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


