<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Events</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelEventModal()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="saveEventModal()">Save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row nomargin">
                                            <div class="col-xs-12 mtb-15 plr0">

                                                <event-table
                                                        index-key = "'MasterShipment'"
                                                        table-data="eventTmpList"
                                                        event-status="consol.jobStatus"
                                                        table-state="tableEventUpdateState(param)"
                                                        table-check="consol.isEventCheck"
                                                        calc-fn="tableEventCb(param)"
                                                        fn-role="roleAccess(param)"
	                                                    add-role="$roleConstant.AIR_MASTER_SHIPMENT_EVENTS_CREATE"
	                                                    edit-role="$roleConstant.AIR_MASTER_SHIPMENT_EVENTS_MODIFY"
	                                                    delete-role="$roleConstant.AIR_MASTER_SHIPMENT_EVENTS_DELETE">
                                                </event-table>
                                            </div>
                                        </div>
            </div><!--body ends-->


    
                                        
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


