<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog width85per">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Events</h4>
						<span class="error-message"
							ng-show="errorMap.get('linkService')!=null"> <small>{{errorMap.get('linkService')}}</small>
						</span>
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<!-- <li>
								<button type="button" class="btn cancel-btn"
									ng-click="cancelFlightSchedule();$hide()">cancel</button>
							</li> -->
							<li>
								<button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- ng-if="consol.eventList.length>0" -->
<div class="modal-body pb-25 pt0"
				style="height: 367px; overflow: auto;">
				<div class="row nomargin">
					<div class="col-xs-12 pl0 pr0 mt-15">
<div class="table-fixed table-responsive mb-15" >
    <table class="table table-inline" >
        <thead class="borderthead">
        <th  class="inl_sno">#</th >
        <th class="inl_l">Name</th >
        <th class="inl_sm">Date</th >
        <th class="inl_m">Follow up Required</th >
        <th class="inl_m">Assigned To</th >
        <th class="inl_sm">Follow up Date</th >
        <th class="inl_m">Completed</th >
        </thead>
        <tbody>
         <tr ng-repeat="consolEvent in consol.eventList track by $index">
           <td>{{serialNo($index)}}</td>
           <td>{{consolEvent.eventMaster.eventName}}</td>
           <td>{{dateToString(consolEvent.eventDate)}}</td>
           <td>{{consolEvent.followUpRequired}}</td>
           <td>{{consolEvent.assignedTo.employeeName}}</td>
           <td>{{dateToString(consolEvent.followUpDate)}}</td>
           <td>{{consolEvent.isCompleted}}</td>
         </tr>
         </tbody>
    </table>
<empty-record ng-show="!consol.eventList || consol.eventList.length==0" icon="event" text="Looks like there are no event records here"></empty-record>
</div>

</div>
</div>
</div>
</div>
</div>
</div>