<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>References</h4>
						<span class="error-message"
							ng-show="errorMap.get('linkService')!=null"> <small>{{errorMap.get('linkService')}}</small>
						</span>
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<!-- <li>
								<button type="button" class="btn cancel-btn"
									ng-click="cancelFlightSchedule();$hide()">cancel</button>
							</li> -->
							<li>
								<button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pb-25 pt0"
				style="height: 367px; overflow: auto;">
				<div class="row nomargin">
<div class="col-xs-12 plr0">
<!-- ng-show="consol.referenceList.length>0" -->
	<div class="table-responsive  mtb-15" >
		<table class="table table-inline">
			<thead class="borderthead">
				<th class="inl_sno">#</th>
				<th class="inl_xl">Reference Type</th>
				<th class="inl_xl">Reference No</th>
				<th class="">Note</th>
			</thead>
			<tbody>
				<tr ng-repeat="reference in consol.referenceList track by $index">
					<td>{{$index + 1}}</td>
					<td>{{reference.referenceTypeMaster.referenceTypeName}}</td>
					<td>{{reference.referenceNumber}}</td>
					<td>{{reference.referenceNotes}}</td>
				</tr>
			</tbody>
		</table>
	<empty-record ng-show="!consol.referenceList || consol.referenceList.length==0" icon="reference" text="Looks like there are no reference records here"></empty-record>
	</div>
	
</div>
</div>
</div>
</div>
</div>


