<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Reports</h4>
						<span class="error-message"
							ng-show="errorMap.get('linkService')!=null"> <small>{{errorMap.get('linkService')}}</small>
						</span>
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							<!-- <li>
								<button type="button" class="btn cancel-btn"
									ng-click="cancelFlightSchedule();$hide()">cancel</button>
							</li> -->
							<li>
								<button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="closeReports();$hide()">Close</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pb-25 pt0"
				style="height: 500px; overflow: auto;">
				<div class="row">
					<div class="col-xs-12 bor-t1 pl0 pr0">
						<form>
	                                    <div class="row nomargin noborder mt-15">
	                                        <div class="col-xs-12 mb-15" >
	                                     	   <button type="button"  class="btn accent-btn" ng-click="generateAll()">Generate All</button>
	                                        </div>
	                                        <div class="col-xs-12">
	                                            <div class="table-responsive">
	                                                <div ng-show="reportLoadingImage.status" class="table-backdrop" >
	                                                    <span><i  class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></span>
	                                                </div>
	                                                <table class="table table-inline">
	                                                    <thead>
	                                                    <tr>
	                                                         <th class="text-center inl_s">
                                                                 <input type="checkbox" ng-model="allRepoVarModel.allReportSelected" ng-change="selectAllReports();" id="reportAll">
	                                                             <label for="reportAll"></label>
                                                             </th>
	                                                        <th class="inl_xs">#</th>
	                                                        <th class="inl_xl">Name</th>
	                                                        <th class="inl_xs">Action</th>
	                                                    </tr>
	                                                    </thead>
	                                                    <tbody  ng-repeat="reportDetail in reportList track by $index">
	                                                     <tr>
	                                                         <td class="text-center">

	                                                                 <input type="checkbox"  ng-if="reportDetail.reportDisplayName!='Prealert To Agent'"	 ng-model="reportDetail.isSelected" ng-change="chkReportStatus(reportDetail.isSelected, reportDetail);" id="report2">
	                                                                 <label for="report2"></label>

	                                                         </td>
	                                                        <td >{{ $index + 1 }}</td>
	                                                       <td> {{reportDetail.reportDisplayName}}
	                                                       
	                                                       <table class="table table-inline mb0" ng-if="reportDetail.reportDisplayName=='DeliveryAdvice' || reportDetail.reportDisplayName=='Cargo Arrival Notice'">
			                                                <thead>
			                                                <tr>
			                                                <th class="inl_sno text-center">#</th>
			                                                <th class="inl_s" ng-if="reportDetail.reportDisplayName=='DeliveryAdvice'">DO No</th>
			                                                <th class="inl_s" ng-if="reportDetail.reportDisplayName=='DeliveryAdvice'">DO Issued On</th>
			                                                <th class="inl_s" ng-if="reportDetail.reportDisplayName=='Cargo Arrival Notice'" >CAN Issued On</th>
			                                                <th class="inl_s" ng-if="reportDetail.reportDisplayName=='Cargo Arrival Notice'">CAN Issued By</th>
			                                                </tr>
			                                                </thead>
			                                             <!--TAB CONTENT ENDS-->
			                                             <tbody ng-repeat="shipmentLink in consol.shipmentLinkList track by $index">
			                                             <tr
			                                                >
			                                             <td>{{($index+1)}}</td>
			                                             <td ng-if="reportDetail.reportDisplayName=='DeliveryAdvice'">{{shipmentLink.service.shipmentUid}}/{{shipmentLink.service.documentList[0].doNumber}}</td>
			                                             <td ng-if="reportDetail.reportDisplayName=='DeliveryAdvice'">{{shipmentLink.service.documentList[0].doIssuedDate}}</td>
			                                             <td ng-if="reportDetail.reportDisplayName=='Cargo Arrival Notice'" >{{shipmentLink.service.shipmentUid}}/{{shipmentLink.service.documentList[0].canIssuedDate}}</td>
			                                             <td ng-if="reportDetail.reportDisplayName=='Cargo Arrival Notice'" >{{shipmentLink.service.documentList[0].canIssuedBy.employeeName}}</td>
			                                             </tr>
			                                             </tbody>
			                                             </table>
	                                                        </td>
	                                                        <td>
	                                                            <button type="button" class="btn accent-btn" ng-click="reportModal(consol,reportDetail.resourceRefId,reportDetail.reportName,reportDetail.key)">Generate</button>
	                                                        </td>
	                                                    </tr>
	                                                    </tbody>
	                                                </table>
	                                            <efs-spinner spinner-status="reportSpinner"></efs-spinner>
                                                <empty-record ng-if="reportList.length==0" icon="report" text="Looks Like there are no report records here"></empty-record>
	                                            </div>
	                                            
	                                        </div>
	                                    </div>
                                    </form>

					</div>
				</div>
			</div>
			<!--body ends-->




		</div>
		<!--panel end document-->
	</div>
</div>
<!--modal ends-->









