<div class="container-fluid resPortAddPage resLandAddPage ">
	<div class="row "> 
	
	
		<div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
			<form role="form" id="charterMasterform" name="charterMasterform" ng-submit="charterMaster.id!=null?update():save()">
				<div class="panel panel-default masOpertion">
				
				
				
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{charterMaster.id!=null?'Edit':'Add'}} Charter</h4>
						</div>
						<div>
							<div class="btngrp">

									<button  type="button" class="btn cancel-btn" ng-click="cancel()">
										Cancel
									</button>

									<input  type="submit" class="btn accent-btn" value="{{charterMaster.id!=null?'Update':'Save'}}">
							</div>
						</div>
					</div>
					
					
					
					
					<div class="panel-body half-master-edit" id="charter-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="pad-15">
							<div show-response></div>
							<div>
								<span class="reqColor">*</span>
								<small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
							</div>
						</div>
						
						
						
						
						<div class="row ">
							<div class="col-sm-7 col-xs-9 col-md-7 col-lg-7 form-group nomargin pl0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input 
									input-focus="true" 
									focus="{{errorMap.get('charterName')!=null}}" type="text"
									class="form-control" id="charterName" name="charterName"
									ng-model="charterMaster.charterName" maxlength="100"
									ng-class="{'error-control':errorMap.get('charterName')!=null}"
									ng-change="validateCharterMaster(1)">
								<div>
									<span class="error-message" ng-show="errorMap.get('charterName')!=null">
										<small>{{errorMap.get('charterName')}}</small>
									</span>
								</div>
							</div>
						</div>
						
						
						
						
						<div class="row ">
							<div class="col-sm-7 col-xs-9 col-md-7 col-lg-7 form-group nomargin pl0">
								<div class="col-xs-6 form-group nomargin pl0">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input 
										 focus="{{errorMap.get('charterCode')!=null}}"
										type="text" class="form-control" id="charterCode" name="charterCode"
										ng-model="charterMaster.charterCode" maxlength="10"
										ng-class="{'error-control':errorMap.get('charterCode')!=null}"
										capitalize ng-change="validateCharterMaster(2)"
										ng-disabled="charterMaster.id!=null">
									<div>
										<span class="error-message" ng-show="errorMap.get('charterCode')!=null">
											<small>{{errorMap.get('charterCode')}}</small>
										</span>
									</div>
								</div>
								<div class="col-xs-6 form-group nomargin pr0" ng-class="charterMaster.id!=null?'visible-show':'visible-hide'">
									<label class="custom-label"> Status </label> 
									<select  class="form-control status" id="status"
										ng-class="setStatus(charterMaster.status)"
										ng-options="item for item in enum['LovStatus']"
										ng-model="charterMaster.status" required>
									</select>
								</div>
							</div>
						</div>
					</div>
					<!--panel body ends-->
				</div>
				<!--panel ends-->
			</form>
		</div>
		<!--col ends-->
	</div>
</div>
