<!--ng-class="$first ? 'width4per': headObj.width"-->

<table class="table table-hover" fixed-header >
    <thead>
    <tr>
        <th  class="th-wrapper" ng-repeat="headObj in head" ng-show="headObj.model!='id'"
             ng-class="headObj.width"
             ng-click="changeOrder(headObj)" ng-mouseover="highLightArrow=true" ng-mouseleave="highLightArrow=false">
            <span ng-if="headObj.type!='number'" class="pull-left">{{headObj.name}}</span>
            <span ng-if="headObj.type=='number'" class="pull-right">{{headObj.name}}</span>
            <span  ng-if="headObj.type!='number'" ng-show="headObj.model==sort.sortKey && headObj.sort" ng-class="{'transform0deg':sort.sortOrder=='asc','transform180deg':sort.sortOrder=='desc'}" class="pull-right sorting-wrapper"><i class="icon-ascending-arrow ascend-icon"></i></span>
            <span ng-if="headObj.type=='number'" ng-show="headObj.model==sort.sortKey && headObj.sort" ng-class="{'transform0deg':sort.sortOrder=='asc','transform180deg':sort.sortOrder=='desc'}" class="pull-left sorting-wrapper"><i class="icon-ascending-arrow ascend-icon"></i></span>
        </th>

    </tr>
    <tr>
        <th ng-repeat="headObj in head" ng-show="headObj.model!='id'" class="rel">
            <i ng-if="$first" style="font-size:1.3rem !important;" class="icon-search"></i>
            <input ng-if="headObj.search && headObj.type=='text'" capitalize ng-model="searchData[headObj.key]" type="text" ng-change="changeFunction()" class="form-control input-sm"/>
            <input ng-if="headObj.search && headObj.type=='number'" capitalize ng-model="searchData[headObj.key]" type="text" ng-change="changeFunction()" class="form-control input-sm text-right"/>
            <input ng-if="headObj.search && headObj.type=='date-range'"  data-date-range-picker data-options="datepickeropts" ng-model="searchData[headObj.key]" type="text" class="form-control input-sm date-picker cur-pointer"/>
            <span ng-if="headObj.search && headObj.type=='date-range'" class="abs t10px r-15 event-none"><i class="icon-date-picker" aria-hidden="true"></i></span>
            <select ng-if="headObj.search && headObj.type=='drop'" ng-model="searchData[headObj.key]"
                class="form-control input-sm"
                ng-options="item for item in headObj.data"
                ng-change="changeFunction()">
            <option value="">ALL</option>
            </select>
        </th>

    </tr>
    </thead>
    <tbody ng-nicescroll nice-option="{cursorcolor: '#2196f3',cursorwidth: '8px',smoothscroll: true}" id="table-body" >
    <tr ng-repeat="itemObj in data" class="fx-fade-up fx-ease-in-quad fx-duration-150" ng-click="rowSelect(itemObj,$index)" ng-style="getStyle($index,selectedRow)">
        <td ng-repeat="headObj in head"  ng-show="headObj.model!='id'" title="{{setTitle(headObj.type,itemObj,headObj.model)}}" ng-class="headObj.width">
            <span ng-if="headObj.wrap_cell!=true && headObj.model!='status' && headObj.model!='autoMailStatus' && headObj.type!='action' && headObj.type!='img' && headObj.type!='date-range'" >{{findProp(itemObj,headObj.model)}}</span>
            <span class="wrapit" ng-if="headObj.wrap_cell==true && headObj.model!='status' && headObj.model!='autoMailStatus' && headObj.type!='action' && headObj.type!='img' && headObj.type!='date-range'">{{findProp(itemObj,headObj.model) | strLimit: false:limitCharacter:'...'}}</span>
            <show-status ng-if="headObj.model=='status'" status="{{itemObj[headObj.model]}}"></show-status>
            <show-mail ng-if="headObj.model=='autoMailStatus'" status="{{itemObj[headObj.model]}}"></show-mail>
            <img ng-if="headObj.type=='img'" data-ng-src="data:image/png;base64,{{findProp(itemObj,headObj.model)}}" class="img-responsive avatar img-circle"/>
            <span ng-if="headObj.type=='date-range'">{{setDate(itemObj,headObj.model)}}</span>
            <!--<div class="popover-wrapper" ng-if="headObj.type=='action'">-->
                <!--<div class="actIcon cursorPt" placement="bottom" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">-->
                <!--<i class="fa fa-ellipsis-v"></i>-->
                <!--</div>-->
                <!--<ul class="dropdown-menu popover-options" role="menu">-->
                <!--<li class="cursorPt"><a ng-click="dropEvent({param:{type:'edit',data:itemObj}})"><i class="icon-edit"></i>&nbsp;&nbsp;Edit</a></li>-->
                <!--<li class="cursorPt"><a ng-click="dropEvent({param:{type:'del',data:itemObj}})"><i class="icon-delete"></i>&nbsp;&nbsp;Delete</a></li>-->
                <!--<li class="cursorPt"><a ng-click="dropEvent({param:{type:'log',data:itemObj}})"><i class="icon-logs"></i>&nbsp;&nbsp;Activity</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </td>
    </tr>
    </tbody>
</table>
