<meta charset="UTF-8">
<title>Account Activation</title>
<table width="60%"
	style="background: #fff; height: auto; border: 10px solid #e0e2e4;">
	<tr>
		<td>
			<table width="100%" style="padding: 20px 15px;">
				<tr>
					<td width="100%">Hello,
				</tr>
				<tr>
					<td width="100%">Thank you for choosing eFreight Suite Software. Your business account has been created. 
					<br>Please activate your account by clicking the below link
				</tr>
				<tr>
					<td width="100%" style="padding: 30px 0px;">
						<span style="background: #2196f5; font-weight: bold; color: #fff; padding: 6px 18px; border-radius: 3px;">
							<a href="###ACTIVATION_LINK###" style="color: #fff !important; text-decoration: none;">
								Activate Account
							</a>
						</span>
					</td>
				</tr>
				<tr>
					<td width="100%" style="padding-bottom: 20px;">
						<span style="color: #666;">Your Activation Code is: <b>###ACTIVATION_CODE###</b></span>
					</td>
				</tr>
				<tr>
					<td width="100%"><span style="color: #666;">Sincerely,</span></td>
				</tr>
				<tr>
					<td width="100%"><span style="color: #666;">eFreight Suite Team</span></td>
				</tr>
			</table>
		</td>
	</tr>
</table>