<meta charset="UTF-8">
<title>#TRANSPORT_MODE# #IMPORT_EXPORT# Booking Confirmation</title>
<table style="width:800px!important;border:1px solid #ddd;margin:20px auto">
   <tbody>
      <tr>
         <td>
            <table style="height:55px;width:95%;margin-left:20px">
               <tbody>
                  <tr>
                     <td style="width:50%;text-align:left"><img src="cid:companylogo" style="float:left"> <span style="font-weight:600;font-size:14px;margin-left:3px;text-align:left;display:inline-block;margin-top:13px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#COMPANY_NAME#</span></td>
                     <td style="margin-right:30px;width:50%;text-align:right;font-weight:600;font-size:14px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif"><span style="text-align:right;font-weight:600;font-size:14px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#TRANSPORT_MODE# #IMPORT_EXPORT# Booking Confirmation</span></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td style="border-bottom:3px solid #ba68c8"></td>
      </tr>
      <tr>
         <td>
            <table style="line-height:26px;margin-top:12px;font-size:14px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;color:#000;margin-left:20px">
               <tbody>
                  <tr>
                     <td style="font-weight:600;font-size:14px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;color:#000;opacity:.87"><span>Dear Sir / Madam</span></td>
                  </tr>
                  <tr>
                     <td style="font-weight:400;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;color:#000"><span>Please find the below detail for #TRANSPORT_MODE# #IMPORT_EXPORT# Booking confirmation</span></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="margin-left:20px;width:750px;height:28px;color:#fff;background-color:#d68ee2;font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;text-align:left">
               <tbody>
                  <tr>
                     <td>SHIPMENT REFERENCE</td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="border-collapse:collapse;margin-left:20px;width:750px;line-height:175%">
               <tbody>
                  <tr style="border-bottom:1px solid #ddd">
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:50;font-size:12px;font-weight:600;text-align:left;width:200px">Shipment ID :</td>
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87;font-size:12px;font-weight:400;text-align:left">#BOOKING_NO#</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd">
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:50;font-size:12px;font-weight:600;text-align:left;width:200px">HAWB No :</td>
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87;font-size:12px;font-weight:400;text-align:left">#HAWB_NO#</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd">
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;font-size:12px;opacity:50;font-weight:600;text-align:left;width:200px">Shipment Date :</td>
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87;font-size:12px;font-weight:400;text-align:left">#BOOKING_DATE#</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd">
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:50;font-size:12px;font-weight:600;text-align:left;width:200px">MAWB No :</td>
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87;font-size:12px;font-weight:400;text-align:left">#MAWB_NO#</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd">
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:50;font-size:12px;font-weight:600;text-align:left;width:200px">Customer Reference No :</td>
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87;font-size:12px;font-weight:400;text-align:left">#CUSTOMER_REF_NO#</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd">
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:50;font-size:12px;font-weight:600;text-align:left;width:200px">Origin :</td>
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87;font-size:12px;font-weight:400;text-align:left">#ORIGIN#</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd">
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:50;font-size:12px;font-weight:600;text-align:left;width:200px">Destination :</td>
                     <td style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87;font-size:12px;font-weight:400;text-align:left">#DESTINATION#</td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="margin-left:20px;width:750px;font-weight:400;border:1px #9e9e9e;text-align:left;font-size:11px;font-family:Helvetica,arial,sans-serif;border-top:3px solid #ba68c8" bgcolor="#f6f6f6">
               <tbody>
                  <tr style="height:28px">
                     <th style="padding:4px;text-align:center"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Shipper</span></th>
                     <th style="padding:4px;font-size:12px;text-align:center"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Consignee</span></th>
                     <th style="padding:4px;font-size:12px;text-align:center"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Notify Party</span></th>
                  </tr>
                  <tr>
                     <td style="width:33%;vertical-align:top;padding:4px"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#SHIPPER_NAME#</span><br><font face="Helvetica Neue, Helvetica, arial, sans-serif"><span style="font-size:12px;display:block;margin:5px 0">#SHIPPER_ADDRESS_1#</span> <span style="font-size:12px;display:block;margin:5px 0">#SHIPPER_ADDRESS_2#</span> <span style="font-size:12px;display:block;margin:5px 0">#SHIPPER_ADDRESS_3#</span> <span style="font-size:12px;display:block;margin:5px 0">#SHIPPER_ADDRESS_4#</span> <span style="font-size:12px;display:block;margin:5px 0">#SHIPPER_ADDRESS_PHONE#</span> <span style="font-size:12px;display:block;margin:5px 0">#SHIPPER_ADDRESS_MOBILE#</span> <span style="font-size:12px;display:block;margin:5px 0">#SHIPPER_ADDRESS_FAX#</span> <span style="font-size:12px;display:block;margin:5px 0">#SHIPPER_ADDRESS_EMAIL#</span></font></td>
                     <td style="width:32%;vertical-align:top;border-right:1px dashed #000;border-left:1px dashed #000;padding:4px"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#CONSIGNEE_NAME#</span><br><font face="Helvetica Neue, Helvetica, arial, sans-serif"><span style="font-size:12px;display:block;margin:5px 0">#CONSIGNEE_ADDRESS_1#</span> <span style="font-size:12px;display:block;margin:5px 0">#CONSIGNEE_ADDRESS_2#</span> <span style="font-size:12px;display:block;margin:5px 0">#CONSIGNEE_ADDRESS_3#</span> <span style="font-size:12px;display:block;margin:5px 0">#CONSIGNEE_ADDRESS_4#</span> <span style="font-size:12px;display:block;margin:5px 0">#CONSIGNEE_ADDRESS_PHONE#</span> <span style="font-size:12px;display:block;margin:5px 0">#CONSIGNEE_ADDRESS_MOBILE#</span> <span style="font-size:12px;display:block;margin:5px 0">#CONSIGNEE_ADDRESS_FAX#</span> <span style="font-size:12px;display:block;margin:5px 0">#CONSIGNEE_ADDRESS_EMAIL#</span></font></td>
                     <td style="width:33%;padding:4px;vertical-align:top"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#NOTIFY_PARTY_NAME#</span><br><font face="Helvetica Neue, Helvetica, arial, sans-serif"><span style="font-size:12px;display:block;margin:5px 0">#NOTIFY_PARTY_ADDRESS_1#</span> <span style="font-size:12px;display:block;margin:5px 0">#NOTIFY_PARTY_ADDRESS_2#</span> <span style="font-size:12px;display:block;margin:5px 0">#NOTIFY_PARTY_ADDRESS_3#</span> <span style="font-size:12px;display:block;margin:5px 0">#NOTIFY_PARTY_ADDRESS_4#</span> <span style="font-size:12px;display:block;margin:5px 0">#NOTIFY_PARTY_ADDRESS_PHONE#</span> <span style="font-size:12px;display:block;margin:5px 0">#NOTIFY_PARTY_ADDRESS_MOBILE#</span> <span style="font-size:12px;display:block;margin:5px 0">#NOTIFY_PARTY_ADDRESS_FAX#</span> <span style="font-size:12px;display:block;margin:5px 0">#NOTIFY_PARTY_ADDRESS_EMAIL#</span></font></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="margin-top:14px;margin-left:20px">
               <tbody>
                  <tr>
                     <td><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87">SHIPMENT DETAILS</span></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="border-radius:3px;margin-left:20px;width:750px;border:1px solid #ffd3af;border-collapse:collapse">
               <tbody>
                  <tr style="border:1px solid #ffd3af;border-collapse:collapse" bgcolor="#fefeed">
                     <td style="padding:6px;width:180px"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Terms of Shipment :</span></td>
                     <td style="padding:6px;float:left"><span style="font-weight:400;font-size:12px;opacity:.87;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#TERMS_OF_SHIPMENT#</span></td>
                  </tr>
                  <tr style="border:1px solid #ffd3af;border-collapse:collapse">
                     <td style="padding:6px;width:180px"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Freight Terms :</span></td>
                     <td style="padding:6px;float:left"><span style="font-weight:400;font-size:12px;opacity:.87;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#FREIGHT_TERMS#</span></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="margin-top:14px;margin-left:20px">
               <tbody>
                  <tr>
                     <td><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87">CARGO DETAILS</span></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="margin-left:20px;width:750px;border-collapse:collapse;border:1px solid #ffd3af">
               <tbody>
                  <tr style="border-collapse:collapse;border:1px solid #ffd3af">
                     <td style="padding:4px;ont-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;text-align:left" colspan="2"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Commodity : <span style="font-weight:400;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#COMMODITY#</span></span></td>
                  </tr>
                  <tr style="border-collapse:collapse" bgcolor="#fefeed">
                     <td style="padding:4px;border-collapse:collapse;border:1px solid #ffd3af;width:50%"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">External Pack : <span style="font-weight:400;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#EXTERNAL_PACK#</span></span></td>
                     <td style="padding:4px;border-collapse:collapse;border:1px solid #ffd3af;width:50%"><br></td>
                  </tr>
                  <tr style="border-collapse:collapse">
                     <td style="padding:4px;border-collapse:collapse;border:1px solid #ffd3af;width:50%;height:auto"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Gross Weight : <span style="font-weight:400;word-break:keep-all;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#GROSS_WEIGHT# KG</span></span></td>
                     <td style="padding:4px;border-collapse:collapse;border:1px solid #ffd3af;width:50%;height:auto"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Chargeable Weight : <span style="font-weight:400;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#CHARGABLE_WEIGHT# KG</span></span></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="border-collapse:collapse;border:1px solid #ba68c8;margin-left:20px;width:750px">
               <tbody>
                  <tr style="font-weight:400;height:28px" bgcolor="#d68ee2">
                     <th style="padding:4px;border:1px solid #ba68c8;border-collapse:collapse;text-align:left" colspan="7"><span style="color:#fff;font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">DIMENSIONS</span></th>
                  </tr>
                  <tr style="background:#d68ee2;border-collapse:collapse">
                     <th style="text-align:left;padding:4px;border-collapse:collapse;border:1px solid #ba68c8;width:5%"><span style="color:#fff;font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">No</span></th>
                     <th style="text-align:right;padding:4px;border-collapse:collapse;border:1px solid #ba68c8;width:12%"><span style="color:#fff;font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">No of Pieces</span></th>
                     <th style="text-align:right;padding:4px;border-collapse:collapse;border:1px solid #ba68c8;width:12%"><span style="color:#fff;font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Length (#DIMENSION_UNIT#)</span></th>
                     <th style="text-align:right;padding:4px;border-collapse:collapse;border:1px solid #ba68c8;width:12%"><span style="color:#fff;font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Width (#DIMENSION_UNIT#)</span></th>
                     <th style="text-align:right;padding:4px;border-collapse:collapse;border:1px solid #ba68c8;width:12%"><span style="color:#fff;font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Height (#DIMENSION_UNIT#)</span></th>
                     <th style="text-align:right;padding:4px;border-collapse:collapse;border:1px solid #ba68c8;width:14%"><span style="color:#fff;font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Volume Weight (KG)</span></th>
                     <th style="text-align:right;padding:4px;border-collapse:collapse;border:1px solid #ba68c8;width:14%"><span style="color:#fff;font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Gross Weight (KG)</span></th>
                  </tr>
              #DIMENSION_TEMPLATE#
            
         </tbody>
            </table> </td>
      </tr>
      <tr>
         <td>
            <table style="margin-left:20px;text-align:left">
               <tbody>
                  <tr>
                     <td><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">PICKUP DETAILS</span></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="margin-left:20px;width:750px;border-collapse:collapse;border:1px solid #ffd3af">
               <tbody>
                  <tr style="border-collapse:collapse;border:1px solid #ffd3af" bgcolor="#fefeed">
                     <td style="padding:6px;width:160px;vertical-align:top"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Pickup Place :</span></td>
                     <td style="vertical-align:top;padding:6px"><span style="word-break:keep-all;font-weight:400;font-size:12px;opacity:.87;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#PICK_UP_PLACE#</span></td>
                  </tr>
                  <tr style="border-collapse:collapse;border:1px solid #ffd3af">
                     <td style="vertical-align:top;padding:6px;width:160px"><span style="font-weight:600;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Pickup Date :</span></td>
                     <td style="vertical-align:top;padding:6px;float:left"><span style="font-weight:400;font-size:12px;opacity:.87;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">#PICK_UP_DATE#</span></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="border-radius:3px;background-color:#f6f6f6;margin-left:20px;width:750px;border-top:3px solid #ba68c8;line-height:28px">
               <tbody>
                  <tr>
                     <td style="height:118px;vertical-align:top;width:370px;display:inline-block;text-align:center;margin-top:12px;overflow:auto"><span style="font-weight:400;margin-top:11px;font-size:18px;color:#000;opacity:.87;font-family:'Helvetica Neue',Helvetica,arial,sans-serif">Notes</span><br><span style="font-weight:400;font-size:11px;margin-top:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;color:#000;margin-bottom:8px;opacity:.87">Please note that Security Surcharge will be applicable at actuals.</span></td>
                     <td style="height:118px;border-left:dashed .5px #000;width:370px;display:inline-block;text-align:center;margin-top:12px;overflow:auto"><br><br></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="margin-left:20px">
               <tbody>
                  <tr>
                     <td><span style="font-weight:400;font-size:11px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;color:#000;opacity:.87;font-style:italic">Thank you for using our service, we look forward to being of service to you again.</span></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="margin-left:20px;margin-top:9px;margin-bottom:14px;line-height:28px">
               <tbody>
                  <tr>
                     <td><span style="font-weight:500;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;font-size:12px">Thanks and Regards</span><br><span style="font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;opacity:.87">#BOOKING_PERSION#</span><br><a href="#"><span style="text-decoration:underline;font-weight:400;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;color:#1565c0">#BOOKING_PERSION_EMAIL#</span></a><br></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td>
            <table style="margin-top:30px;border-top:dashed 1px rgba(88,84,128,.22);height:52px;width:100%" bgcolor="f6f6f6">
               <tbody>
                  <tr>
                     <td style="width:1%"><span style="font-weight:400;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;color:#000;padding:8px;display:inline-block">Please visit our website <a href="#!" style="text-decoration:underline;font-weight:400;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;color:#1565c0">www.freightsystems.com</a></span></td>
                     <td style="width:5%;text-align:right"><span style="text-align:right;font-weight:400;font-size:12px;font-family:'Helvetica Neue',Helvetica,arial,sans-serif;font-style:italic;color:#000">Powered by</span></td>
                     <td style="width:1%;text-align:right;vertical-align:top"><img src="cid:poweredby" style="text-align:right" alt="NewAge Software &amp; Solutions"></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>