<meta charset="UTF-8">
<title>Account Activation</title>
<table width="60%"
 style="background: #fff; height: auto; border: 10px solid #e0e2e4;">
 <tr>
  <td>
   <table width="95%" style="margin-top:20px;margin-left:20px; margin-bottom:20px">
    <tr>
     <td width="100%">Hello,
    </tr>
    <tr>
     <td width="100%" style="margin-top:10px; line-height:20px">Thank you for choosing eFreight Suite Software. Your business account creation has been initiated. 
     <br>Please click the below link for further activation process
    </tr>
    <tr>
     <td style=" margin-top:10px; height: 25px;"><a href="###ACTIVATION_LINK###" style=" margin-top:10px; background: #2196f5; font-weight: bold; color: #fff;  border-radius: 3px;color: #fff !important; text-decoration: none;">
         &nbsp; &nbsp; Click here &nbsp; &nbsp; 
       </a>
      
     </td>
    </tr>
    <tr>
     <td width="100%" style="margin-bottom: 10px; color: #666;">
      Your SAAS ID is: <b>###SAAS_ID###</b>
     </td>
    </tr>
    <tr>
     <td width="100%" style="color: #666;">Sincerely,</td>
    </tr>
    <tr>
     <td width="100%" style="margin-bottom:20px; color: #666;">eFreight Suite Team</td>
    </tr>
   </table>
  </td>
 </tr>
</table>