<div class="inlineTable">
    <button  tabindex="-1" type="button" class="btn btn-info btn-property mb10 accent-btn"
            ng-click="fnRole({param:addRole})?addRow():''" >
        <i class="icon-add"></i> Add Service Mapping
    </button>
    <div ng-style="dropStyle" class="table-responsive">
        <table class="table table-inline-nopad" sm-table-responsive tab-nav tab-row="addRow()">
            <thead class="borderthead">
            <tr>
                <th class="inl_sno">#</th>
                <th class="inl_m">Location<span class="reqColor">*</span></th>
                <th class="inl_m">Service<span class="reqColor">*</span></th>
                <th class="inl_m">Salesman<span class="reqColor">*</span></th>
                <th class="inl_m">Customer Service</th>
                <th class="inl_m">TOS</th>
                <th class="inl_mp">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="partyService in tableData track by $index">
                <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);"  data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
                </td>
                <td data-headtitle="Location" data-required="true" data-width="tw30per">
                    <div class="select-auto">
                                <input type="text" class="form-control" id="locationService{{$index}}" 
										input-focus="{{secondArr[$index].locationFocus}}" 
										ng-class="{'error-control-auto':secondArr[$index].locationName}" 
										ng-disabled="(!updateRole&&partyService.id!=null)"  
										autocomplete="off" ng-model="partyService.locationMaster" 
										uib-typeahead="lovObject as lovObject.locationName for lovObject in ajaxLocationEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedlocation('servicename'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="Service" data-required="true" data-width="tw30per">
                    <div class="select-auto">
                         <input type="text" class="form-control" id="servicename{{$index}}" 
										ng-class="{'error-control-auto':secondArr[$index].serviceName}"
										ng-disabled="(!updateRole&&partyService.id!=null)"
										autocomplete="off" ng-model="partyService.serviceMaster" 
										uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedServiceName('salesmanService'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="Salesman" data-required="true" data-width="tw30per">
                    <div class="select-auto">
                       <input type="text" class="form-control" id="salesmanService{{$index}}" 
                               			 ng-class="{'error-control-auto':secondArr[$index].employeeName}" 
                               			 ng-disabled="(!updateRole&&partyService.id!=null)" 
										autocomplete="off" ng-model="partyService.salesman" 
										uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesmansEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedSalesman('customerService'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>

                </td>
                <td data-headtitle="Customer Service"  data-width="tw30per">
                    <div class="select-auto">
                        <input type="text" class="form-control" id="customerService{{$index}}" 
										ng-class="{'error-control-auto':secondArr[$index].cstEmployee}" 
										ng-disabled="(!updateRole&&partyService.id!=null)" 
										autocomplete="off" ng-model="partyService.customerService" 
										uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxCustomerServiceEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedCustomerService('tosService'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="TOS" data-width="tw30per">
                    <div class="select-auto">
                         <input type="text" 
                         id="tosService{{$index}}" 
                         class="form-control last-child"
										ng-class="{'error-control-auto':secondArr[$index].tosName}" 
										ng-disabled="(!updateRole&&partyService.id!=null)" 
										autocomplete="off" ng-model="partyService.tosMaster" 
										uib-typeahead="lovObject as lovObject.tosName for lovObject in ajaxTosEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
										
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-nofloat="true" data-action="true">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);"
                               ng-click="fnRole({param:deleteRole})?removeObj(partyService,$index):''">
                            <i class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>