
/*==== COMMON Class====*/
a, a:focus, a:hover {
    text-decoration: none;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.w-25 {
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.wFull {
    width: 100%;
}
/*==== padding Class====*/
.nopadding {
    padding: 0px !important;
}
.padL-0 {
    padding-left: 0 !important;
}
.padR-0 {
    padding-right: 0 !important;
}
.padTB {
    padding: 15px 0;
}
.pad-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.pad-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.pad-25 {
    padding-right: 25px;
    padding-left: 25px;
}
.pad-22{
    padding: 22px !important;
}
.ptb-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.padlr-15{
    padding: auto 15px !important;
}

/*====MARGIN====*/
.nomargin {
    margin: 0 !important;
}
.mb-10 {
    margin-bottom: 10px;
}
.mtb-15 {
    margin: 15px 0;
}
.mt-15{
    margin-top: 15px !important; ;
    margin: auto;
}
.mtb-25 {
    margin: 25px 0;
}
.mlr-15{
    margin: auto 15px !important;
}
.mtb-0{
    margin: 0 auto !important;
}
.mtb-25 {
    margin: 25px 0;
}
.mtb-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.mr-6 {
    margin-right: 6px;
}
/*====BORDER====*/
.bor-0 {
    border:0px !important;
}
.bor-btm {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
/*===DISPLAY===*/
.in {
    display: inline-block;
}
.block{
    display: block;
}
hr {
    margin-top: 15px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #CCC;
}
/*====LIST TO TABLE====*/
.tab-cell {
    display: table;
    width: 100%;
}
.tab-cell > li {
    display: table-cell;
}
.tabBorder > tr >td {
    border: 1px solid #DBDBDB;
}
ul.table-fluid {
    margin: auto;
}
.table-fluid > tbody > tr > td, .table-fluid > li  {
    width: 39%;
    max-width: 100%;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
.bg-trans {
    background: transparent !important;
}
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.tp-12 {
    top:12px;
}
.tp-18 {
    top:18px;
}
.btm-12 {
    bottom: 12px;
}
.btm-18px{
    bottom: 18px;
}
.opc-5{
    opacity:.5;
}
.opc-7{
    opacity:.7;
}
/*=========MASTER OPERATION============*/

.masOpertion .panel-heading{
    overflow: hidden;
}
.masOpertion > .panel-heading > div:first-child {
    float: left;
}
.masOpertion > .panel-heading > div:last-child {
    float: right;
}


/*=====HEADER BAR======*/
header {
    background: linear-gradient(to right, #2196f3 0%, #ba68c8 100%);
    z-index: 9;
    position: relative;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #977EBD;
    color: #fff;
}
.navbar {
    border: 0px solid transparent;
    background: transparent;
}
.navbar a {
    color: #fff;
}
.navbar-brand {
    padding: 22px 0;
}
.navbar-default .navbar-nav > li > a {
    padding: 22px 25px;
    color: #ffffff;
}
.navbar-right > li:nth-of-type(4) > a {  
    padding: 12px 25px;
    border-left: 1px solid #9F61C9;
}
.navbar-right > li:last-child  > a{
    background: #25394F;
}
.navbar-brand > a {
    padding: 10px 18px;
}
.navbar-brand > a:last-child {
    border-left: 1px solid #fff;
}
/*sidebar*/
aside {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 65px;
    display: inline-block;
    height: 100%;
    background: #25394F;
}
aside ul li a {
    padding: 12px 18px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
}
aside ul li a:hover {
    background: #2894F1;
    color: #ffffff;
}
aside ul li a i {
    width: 20px;
}
aside ul li:last-child {
    position: relative;
    bottom: 0;
    padding-bottom: 15px;
}