<div class="container-fluid pl0 pr0">
    <!--<div class="row ml0 mr0">
     <h4>Standard Input Field</h4>
        <div class="form-group">
            <label>Name *</label>
            <input type="text" class="form-control stan-in">
            <div class="in">
                <span class="erMsg">Wrong E-mail Address</span>
            </div>
        </div>
        <h4>Standard button</h4>
        <button type="button" class="btn btn-standard">Standard</button>
        <button type="button" class="btn btn-medium">Standard</button>
        <button type="button" class="btn btn-big">Standard</button>
        <h4>Multiselect button</h4>
        <button type="button" class="btn btn-multi">Normal</button>
        <h4>Check box & Radio Button</h4>

        <input class="magic-checkbox" type="checkbox" name="layout" id="1" value="option">
        <label for="1"></label>
        <label class="text" for="1">
            Checkbox
        </label>
        <input class="magic-radio" type="radio" name="radio" id="2" value="option">
        <label for="2">
            Radio button
        </label>
        <h4>TABBAR</h4>
        <ul class="nav nav-tabs tabbar">
            <li class="active"><a href="#">Tab 1</a></li>
            <li><a href="#">Tab 2</a></li>
            <li><a href="#">Tab 3</a></li>
            <li><a href="#">Tab 4</a></li>
        </ul>
        <div>
            <h4>Batch and notifications</h4>
            <span class="batch">8</span>
            <span class="notification"></span>
            <div class="pagenation-box"></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Saturday</h3>
                <div>
                    <ul class="list-unstyled tab-cell">
                        <li>&lt;</li>
                        <li>
                            <h1>10</h1>
                            <h2>APRIL</h2>
                            <h2>2016</h2>
                        </li>
                        <li>&gt;</li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">

            </div>
        </div>&lt;!&ndash;panel ends&ndash;&gt;

    </div>-->
    <div class="row">
        <div class="col-md-12">
            <form>
                <switch id="enabled" name="enabled" ng-model="enabled" class="green"></switch>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="notice notice-warning">

                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <h5>This is a warning</h5>
                <p>It’s means something were probably wrong</p>
            </div>
        </div>
    </div>
</div>