<!--<ul class="list-inline">-->
	<!--<li>-->
		<!--<div ng-show="status=='ACTIVE'" class="active-icon"></div>-->
		<!--<div ng-show="status=='BLOCK'" class="block-icon"></div>-->
		<!--<div ng-show="status=='HIDE'" class="inactive-icon"></div>-->
	<!--</li>-->
	<!--<li>{{status}}</li>-->
<!--</ul>-->
<div ng-show="status=='ACTIVE' || status=='Active'" class="status-comp activetype">{{status}}</div>
<div ng-show="status=='BLOCK' || status=='Block'" class="status-comp blockedtype">{{status}}</div>
<div ng-show="status=='HIDE' || status=='Hide'" class="status-comp hiddentype">{{status}}</div>

<div ng-show="status=='To be activated' || status=='To_be_activated'"  class="status-comp tobeactivetype">{{status}}</div>
<div ng-show="status=='Deactivate'" class="status-comp blockedtype">{{status}}</div>