<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="vm.softwareMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.softwareMaster.id==null?'Add Software':'Edit Software'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="vm.cancel(vm.softwareMaster.id)">
                                        Cancel
                                    </button>

                                    <input type="button" ng-click="vm.saveOrUpdate()"  class="btn accent-btn" ng-value ="vm.softwareMaster.id==null?'Save':'Update'">

                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                 <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="softwareName"
                                 ng-class="{'error-control':vm.errorMap.get('softwareName')!=null}"
                                 ng-change="vm.validate('softwareName', 1)" ng-model="vm.softwareMaster.softwareName" />
                                 <span class="error-message" ng-show="vm.errorMap.get('softwareName')!=null">
									 <small>{{vm.errorMap.get('softwareName')}}</small>
								</span>
                            </div>
                        </div>
                         <div class="row">
                         <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin plr0">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 pl0">
                                <label class="custom-label">Code<span class="reqColor">*</span></label>
                                 <input 
                                 type="text" class="form-control"  maxlength="6" id="softwareCode"
                                 ng-class="{'error-control':vm.errorMap.get('softwareCode')!=null}"
                                 ng-disabled="vm.softwareMaster.id?true:false" capitalize
                                 ng-change="vm.validate('softwareCode', 2)" ng-model="vm.softwareMaster.softwareCode" />
                                 <span class="error-message" ng-show="vm.errorMap.get('softwareCode')!=null">
									 <small>{{vm.errorMap.get('softwareCode')}}</small>
								</span>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 pl0"
								ng-class="vm.softwareMaster.id!=null?'visible-show':'visible-hide'">
								<div class="form-group nomargin pr0">
									<label class="custom-label">Status</label> <select
										class="form-control status" id="status"
										ng-class="vm.setStatus(vm.softwareMaster.status)"
										ng-options="item for item in enum['LovStatus']"
										ng-model="vm.softwareMaster.status" required>
									</select>
								</div>
							</div>
                              </div>
                            
                        
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
