<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form name="shipmentForm">
                <!-- Panel Starts Here -->
                <div class="panel panel-default masOpertion overflow-hidden">
                    <div class="panel-heading bg-transsty row flexTitle">
                        <div class="col-md-7 col-lg-7 col-xs-5 col-sm-6 ">
                            <h4 class="nomargin">
                                {{(shipment.id!=null && shipment.id!=-1)?'Edit Shipment No '+shipment.shipmentUid:'Add Shipment'}}
                                <small class="opc-5 f-12b4"> (<span class="reqColor nomargin">*</span>Indicates Mandatory Fields )
								</small>
                            </h4>

                        </div>
                        <div class="col-md-5 col-xs-7 col-sm-6 pl0">
                            <!--
                                                        <button type="button" class="btn green-btn marginr19 "
                                                            ng-click="get_Shipment()" tabindex="-1">Copy Shipment</button>

                                                        <div class="btngrp pull-right">
                                                            <button type="button" tabindex="-1"
                                                                class="btn btn-default btn-xs btn-property cancel-btn"
                                                                ng-click="cancelToList()">Cancel</button>
                                                            <input type="button" tabindex="-1"
                                                                class="btn btn-default btn-primary btn-xs btn-property accent-btn"
                                                                ng-disabled="disableSubmitBtn"
                                                                value="{{shipment.id!=null && shipment.id!=-1 ?'Update':'Save'}}"
                                                                ng-click="(shipment.id!=null && shipment.id!=-1) ?updateShipment():saveShipment()">
                                                        </div>
                             -->

                            <div class="col-md-6 col-xs-5 col-sm-6">

                                <div class="btngrp pull-right">
                                    <button type="button" class="btn btn-success" ng-click="getShipmentsPopup()" tabindex="-1" ng-if="showCopyShipment">
										<i class="icon-copy" style="color:white"></i> Copy Shipment
									</button>
                                    <input type="button" tabindex="-1" class="btn btn-default btn-primary  btn-xs btn-property accent-btn" value="Milestone" ng-click="trackmodel(shipment.id)" ng-show="shipment.id!=null && shipment.id!=-1">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-7 col-sm-6 plr0">
                                <div class="btngrp pull-right ">
                                    <button type="button" tabindex="-1" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancelToList()">Cancel</button>
                                    <input type="button" tabindex="-1" class="btn btn-default btn-primary btn-xs btn-property accent-btn" ng-disabled="disableSubmitBtn" value="{{shipment.id!=null && shipment.id!=-1 ?'Update':'Save'}}" ng-click="saveShipment()">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--panel heading ends-->
                    <div class="pad-15">
                        <div>
                            <span class="error-message" ng-show="errorMap.get('shipmentServiceRequired')!=null">
								<small>{{errorMap.get('shipmentServiceRequired')}}</small>
							</span>
                        </div>
                    </div>

                    <!-- Panel Body Starts Here -->
                    <div class="panel-body pt0 pb0 edit-body" panel-height style="padding-bottom: 0px !important;">
                        <client-error message="clientMessage"></client-error>
                        <div show-response></div>

                        <div class="wrapper">
                            <!-- Service List Row Starts Here -->
                            <div class="row">
                                <div class="col-xs-12 plr0">
                                    <div class="tabs">
                                        <ul class="list-inline chromeTabs ml0">
                                            <li class="cur-pointer" ng-repeat="shipmentServiceDetail in shipment.shipmentServiceList track by $index" ng-show="shipmentServiceDetail.location.id==userProfile.selectedUserLocation.id" ng-click="changeShipmentServiceView($index,'serviceRouting')" title="{{shipmentServiceDetail.id!=null?(shipmentServiceDetail.lastUpdatedStatus.serviceStatus+' : '+shipmentServiceDetail.serviceMaster.serviceName):'New Service'}}"
                                                ng-class="{'tabActive':selectedShipmentServiceIndex==$index}">
                                                <i class="fa fa-star starrate" id="{{'blinker'+$index}}" style="color:{{shipmentServiceDetail.party.gradeMaster.colorCode}} !important;" ng-show="shipmentServiceDetail.party.gradeMaster!=null && shipmentServiceDetail.party.gradeMaster.priorityValue<=5"
                                                    data-placement="top" bs-tooltip="Rating"></i> {{shipmentServiceDetail.id!=null?(shipmentServiceDetail.lastUpdatedStatus.serviceStatus+' : '+shipmentServiceDetail.serviceMaster.serviceName):'New
                                                Service'}}
                                                <span data-placement="bottom" bs-tooltip="tabDelete" class="icon-delete cur-pointer" ng-click="deleteShipmentService($index)" ng-show="(shipmentServiceDetail.lastUpdatedStatus==null || shipmentServiceDetail.lastUpdatedStatus.serviceStatus=='Booked' || shipmentServiceDetail.lastUpdatedStatus.serviceStatus=='Received') && shipment.shipmentServiceList.length>1"></span>

                                            </li>

                                            <span class="addtab cur-pointer" data-placement="bottom" bs-tooltip="newTab" ng-click="addNewShipmentService(shipment.shipmentServiceList.length)"></span>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <!-- Service List Row Ends Here -->

                            <!-- Group Row Starts Here -->
                            <div ng-repeat="shipmentServiceDetail in shipment.shipmentServiceList track by $index" ng-show="selectedShipmentServiceIndex==$index" ng-class="{'disabled-div':shipmentServiceDetail.lastUpdatedStatus.serviceStatus=='Cancelled'}">
                                <div class="row blue-shade" ng-if="shipmentServiceDetail.serviceMaster != undefined && shipmentServiceDetail.serviceMaster != null && shipmentServiceDetail.serviceMaster.importExport=='Export'" ng-include="'app/components/crm/new-shipment/action-template/ui-s-aeflow.html'">
                                    <!--  -->
                                </div>

                                <div class="row blue-shade" ng-if="shipmentServiceDetail.serviceMaster != undefined && shipmentServiceDetail.serviceMaster != null && shipmentServiceDetail.serviceMaster.importExport=='Import'" ng-include="'app/components/crm/new-shipment/action-template/ui-s-aiflow.html'">
                                </div>


                                <div class="row nopadding edit-bodyTab" panel-height id="{{'service-panel-'+$index}}" ng-nicescroll nice-scroll-object="niceObject" nice-option="{{ngScrollConfig}}">
                                    <div class="col-md-12">
                                        <div class="tab-content pb0 shade3 " set-tab-height>

                                            <div ng-show="shipmentTab=='serviceRouting'" ng-include="'app/components/crm/new-shipment/action-template/ui-s-servicerouting.html'">
                                            </div>

                                            <div ng-show="shipmentTab=='cargoDetails'" ng-include="'app/components/crm/new-shipment/action-template/ui-s-cargodetails.html'">
                                            </div>

                                            <div ng-show="shipmentTab=='hawb'">
                                                <div ng-include="'app/components/crm/new-shipment/action-template/ui-s-hawb.html'"></div>
                                            </div>

                                            <div ng-show="shipmentTab=='pickupDelivery'" ng-include="'app/components/crm/new-shipment/action-template/ui-s-pickupdelivery.html'">
                                            </div>

                                            <div ng-show="shipmentTab=='aes'" ng-include="'app/components/crm/new-shipment/action-template/ui-s-aes.html'">
                                            </div>

                                            <div ng-show="shipmentTab=='others'" ng-include="'app/components/crm/new-shipment/action-template/ui-s-others.html'">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Group Row Ends Here -->


                        </div>
                    </div>
                </div>
                <!-- Panel Body Ends Here -->

                <modal-spinner spinner-status="spinner"></modal-spinner>

                <!--Back Drops-->
                <div ng-hide="!showPartyAddressList" class="wrapper-back-drop"></div>

                <div ng-show="showPartyAddressList" class="logs-transition sideView enqSideview">
                    <select-list-picker panel-title="panelTitle" selected="selectedItem" data="docPartyAddressList" cancel-event="cancelPartyAddress()" click-event="selectedPartyAddress(param)" config="partyAddressListConfig"> </select-list-picker>
                </div>

                <!-- Party Address Select Picker -->
                <div ng-show="showShipmentPartyAddressList" class="logs-transition sideView enqSideview">
                    <select-list-picker panel-title="panelTitle" selected="selectedItem" data="shipment.party.partyAddressList" cancel-event="cancelShipmentPartyAddress()" click-event="selectedShipmentPartyAddress(param)" config="shipmentPartyAddressListConfig"> </select-list-picker>
                </div>
                <div ng-show="showTransportAddressList" class="logs-transition sideView enqSideview">
                    <select-list-picker panel-title="panelTitle" selected="selectedItem" data="transportAddressListShipment" cancel-event="cancelTransportPartyAddress()" click-event="selectedTransportPartyAddress(param)" config="transportAddressListConfig"> </select-list-picker>
                </div>

                <div ng-show="showPickUpPlaceAddressList" class="logs-transition sideView enqSideview">
                    <select-list-picker panel-title="panelTitle" selected="selectedItem" data="pickUpPlaceAddressListShipment" cancel-event="cancelPickUpPlacePartyAddress()" click-event="selectedPickUpPlacePartyAddress(param)" config="pickUpPlaceAddressListConfig"> </select-list-picker>
                </div>

            </form>
        </div>
        <!--panel ends-->


    </div>
    <!--column ends-->
</div>
<!--row ends-->


<script type="text/ng-template" id="errorPopUpAuthDoc.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-8">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="holdStatusNote.html">
    <div class="modal" role="dialog" id="statusNote">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-8">
                            <h4>Reason for hold</h4>
                        </div>
                        <div class="col-xs-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveForHold(popUpNote)">Save</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="form-group">

                                <textarea class="form-control minH-180" id="reasonfornote" ng-model="popUpNote" maxlength="255" ng-class="{'error-control':secondArr[$index].note}" ng-focus="dirtyIndex($index)" ng-disabled="statusUpdateObj.id!=null">
                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>