<div class="container-fluid ">
    <ul ng-show="fromState!=null" class="list-inline mb-10">
        <li> <a  class="btn btn-xs btn-property btn-gray" ng-click="back()"><i class="icon-back-menu"></i>Back</a>  </li>
     </ul>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form role="form" id="userform" name="userform">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                   
                        <h4> Job Ledger</h4> 
                   
                    <div>
                        
                    </div>
                </div><!--panel head ends-->
                <div class="panel-body pt0 pb0 ">
              
                            <div class="row">
                            <div class="col-md-12">
                            
                            <div class="col-md-6 nopadding ">
                              <div class="col-xs-6 col-md-6 col-lg-6 mt-5 pl0">
	                              <div class="row nomargin">
	                                <label>Service Names</label> 
	                                <input ng-disabled="true" type="text" class="form-control" ng-model="jobLedgerReqDto.serviceName">
									</div><!--COL ENDS-->
                                   </div>
                                   
                                   
                                   <div class="col-xs-6 col-md-6 col-lg-6 mt-5 pl0">
	                              <div class="row nomargin">
	                             <label>Master ID</label> 
	                             <input  type="text" class="form-control" ng-disabled="shipmentLinkList.length>0" ng-model="jobLedgerReqDto.consolUid">
									 </div><!--COL ENDS-->
                                   </div>
                                   
                                   
                                   <div class="col-xs-6 col-md-6 col-lg-6 mt-5 pl0">
	                              <div class="row nomargin">
	                               <label>Shipment Id</label> 							
	                               
									<input type="text" class="form-control" ng-hide="shipmentLinkList.length>0" ng-model="jobLedgerReqDto.shipmentUid">
									<select class="form-control" ng-disabled="shipmentUid!=null && fromState!=null" id="shipmentUid" ng-show="shipmentLinkList.length>0"
                                                            ng-options="item for item in shipmentLinkList"
                                                            ng-model="jobLedgerReqDto.shipmentUid">
                                                           
                                     </select>
									  </div><!--COL ENDS-->
                                   </div>
                                   </div>  
                                   
                                   
                                   
                               <div class="col-md-1 ">
                                   <div class="border-rights">
                                   <div class="bor-1px">OR</div>
                                   </div></div>
                                   
                                    
                                   <div class="col-md-5 nopadding">
                                   <div class="col-xs-8 col-md-8 col-lg-8 mt-5 pl0">
	                               <div class="row nomargin">
	                               <label>HBL/ HAWB No</label> 
								    <input type="text" class="form-control" ng-model="jobLedgerReqDto.documentUid">
									 </div><!--COL ENDS-->
                                   </div>
                                   
                                   <div class="col-xs-4 col-md-4 col-lg-4 mt-5">
	                               <div class="row nomargin">
	                               <label></label> 
	                              <div class="panelTitle ">
                                 <a  class="btn btn-primary btn-xs btn-property accent-btn" ng-click="fetchData(jobLedgerReqDto)"> Get Details</a>
                                 </div>
									 </div><!--COL ENDS-->
                                   </div>
                                   </div> 
                                </div>
                                
                                
                            </div>
                      
                        
                      <div class="row">
                            <hr class="mt0">
                        </div>
                          
                        <div class="row tabBox" >
                            <div class="col-md-12 nopadding">
                                <ul class="nav btn-tabs pt0" role="tablist" ng-init="Tab ='dococumentWise'">
                                    <li>
                                        <button type="button" class="btn" ng-click="Tab='dococumentWise'" ng-class="Tab=='dococumentWise'?'active':'btn-normal'">Document Wise </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn" ng-click="Tab='chargeWise'" ng-class="Tab=='chargeWise'?'active':'btn-normal'">Charge Wise</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn" ng-click="Tab='reports' ;clickOnTabView('reports');openJobLedgerReport(jobLedgerReqDto) " ng-class="Tab=='reports'?'active':'btn-normal'">Reports</button>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                               
                         
                                <div class="row nomargin edit-ledger" id="service-panel" panel-height
         ng-nicescroll nice-scroll-object="niceObject"
         nice-option="{{ngScrollConfig}}" > 
              
                         <div class="col-xs-12 plr0">
				           <div class="tab-content ptb-15 pb0 pt0">
				           
             <div role="tabpanel" ng-class="{'active' : Tab=='dococumentWise', '' : Tab!='dococumentWise'}" class="tab-pane pt10">
                         
  <div class="col-xs-12">
                                
                                <div class="table-responsive">
							<table class="table table-inline ">
							
							
							<thead>
								<tr>
								    <th rowspan="2" class="text-left inl_xs">Service Code</th>
									<th rowspan="2" class="text-left inl_ms">Master ID</th>
									<th rowspan="2" class="text-left inl_ms">Shipment ID</th>
									<th rowspan="2" class="text-left inl_ms">Daybook Code</th>
									<th rowspan="2" class="text-left inl_ms">Daybook Name</th>
									<th colspan="3" class="text-center inl_ms"><b>Document</b></th>
									<th colspan="2" class="text-center inl_ms"><b>Amount ({{jobLedgerResDto.docCurrencyCode}})</b></th>
									<th colspan="3" class="text-center inl_ms"><b>Actual ({{jobLedgerResDto.docCurrencyCode}})</b></th>
									<th rowspan="2" class="text-left inl_ms">View</th>
								 </tr>
								
							<tr>
							
							 <th colspan="1" class="text-left inl_ms">Document Type</th>
			                 <th colspan="1" class="text-left inl_ms">Number</th>
			                 <th colspan="1" class="text-left inl_ms">Date</th>
			                 <th colspan="1" class="text-right inl_ms">Debit</th>
			                 <th colspan="1" class="text-right inl_ms">Credit</th>
			                 <th colspan="1" class="text-right inl_ms">Revenue</th>
			                 <th colspan="1" class="text-right inl_ms">Cost</th>
			                 <th colspan="1" class="text-right inl_ms">Neutral</th>
			                 
			                  </tr>
							</thead>
							
							
							
								
								<tbody>
								
								<tr ng-repeat="docObj in jobLedgerResDto.documentWiseList track by $index">
                                   	<td class="text-left ng-binding">{{docObj.serviceCode}}</td>
									<td class="text-left ng-binding">{{docObj.masterUid}}</td>
									<td class="text-left ng-binding">{{docObj.shipmentUid}}</td>
									<td class="text-left ng-binding">{{docObj.dayBookCode}}</td>
									<td class="text-left ng-binding">{{docObj.dayBookName}}</td>
									<td class="text-left ng-binding">{{docObj.documentType}}</td>
									<td class="text-left ng-binding">{{docObj.documentNumber}}</td>
									<td class="text-left ng-binding">{{dateToString(docObj.documentDate)}}</td>
									<td class="text-right ng-binding">{{checkZero(docObj.amountDebit, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(docObj.amountCredit, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(docObj.actualRevenue, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(docObj.actualCost, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(docObj.actualNeutral, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
									 <td colspan="1" class="text-right inl_mm">
                                   	 <a href="javascript:void(0);" tabindex="-1" ng-click="getInvoiceCrnView(jobLedgerReqDto,docObj)"  class="btn btn-primary btn-property browse-btn last-child ml-5 ng-pristine ng-valid ng-empty ng-touched"  style="">View More</a>
                                   		</td>
							  	</tr>

                               	</tbody>
								<tfoot class="bg-danger" style="border:1px solid #F8DDAD">
                                    <tr>
                                        <td class="text-left">Total</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        <td class="text-right" style="border-right:1px solid #ccc;">{{checkZero(jobLedgerResDto.docTotalAmountDebit, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;">{{checkZero(jobLedgerResDto.docTotalAmountCredit, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;">{{checkZero(jobLedgerResDto.docTotalAcutalRevenue, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
                                         <td class="text-right" style="border-right:1px solid #ccc;">{{checkZero(jobLedgerResDto.docTotalAcutalCost, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;">{{checkZero(jobLedgerResDto.docTotalAcutalNeutral, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
                                        <td class="text-right"></td>
                                     </tr>
                                     
                                      
                                   </tfoot>
                                    
							     </table>
						
						<div class="col-md-4 pull-right pr0">
						     <table class="table table-inline">
							         <tfoot>
						                <tr >
                                        <td class="text-right bg-ash inl_mp" style="border:1px solid #ccc;">Net Profit (Credit - Debit)</td>
                                        <td class="text-right bg-white inl_mm" style="border:1px solid #ccc;">{{checkZero(jobLedgerResDto.docNetProfitAmount, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
                                        </tr>
                                        <tr >
                                       <td class="text-right bg-ash inl_mp"  style="border:1px solid #ccc;">Net Profit (Revenue - Cost)</td>
                                        <td class="text-right bg-white inl_mm"  style="border:1px solid #ccc;">{{checkZero(jobLedgerResDto.docNetProfitActual, jobLedgerResDto.docLocale, jobLedgerResDto.docDecimalPoint)}}</td>
                                       
                                     </tr>
						    </tfoot>
						
						</table></div>
							 </div>
							
							
						     </div>	
                            </div>
                          
                          
                          
                                    
					<div role="tabpanel" ng-class="{'active' : Tab=='chargeWise', '' : Tab!='chargeWise'}" class="tab-pane pt10">
					<div class="col-xs-12 ">
							
                          <div class="table-responsive" >
							<table class="table table-inline" >
								<thead>
								<tr>
								    <th rowspan="2" class="text-left inl_s">Charge Name</th>
									<th rowspan="2" class="text-left inl_s">Charge Code</th>
									<th colspan="2" class="text-center inl_s"><b>Amount ({{jobLedgerResDto.chargeCurrencyCode}})</b></th>
									<th colspan="3" class="text-center inl_s"><b>Provisional ({{jobLedgerResDto.chargeCurrencyCode}})</b></th>
									<th colspan="3" class="text-center inl_s"><b>Actual ({{jobLedgerResDto.chargeCurrencyCode}})</b></th>
								 </tr>
								
							<tr>
			                 <th colspan="1" class="text-right inl_ms">Debit</th>
			                 <th colspan="1" class="text-right inl_ms">Credit</th>
			                 <th colspan="1" class="text-right inl_ms">Revenue</th>
			                 <th colspan="1" class="text-right inl_ms">Cost</th>
			                 <th colspan="1" class="text-right inl_ms">Neutral</th>
			                 <th colspan="1" class="text-right inl_ms">Revenue</th>
			                 <th colspan="1" class="text-right inl_ms">Cost</th>
			                 <th colspan="1" class="text-right inl_ms">Neutral</th>
			           </tr>
								</thead>
								<tbody >
								<tr ng-repeat="chaObj in jobLedgerResDto.chargeWiseList track by $index">
									<td class="text-left ng-binding">{{chaObj.chargeName}}</td>
                                   	<td class="ng-binding">{{chaObj.chargeCode}}</td>
									<td class="text-right ng-binding">{{checkZero(chaObj.amountDebit, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(chaObj.amountCredit, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(chaObj.provisionalRevenue, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(chaObj.provisionalCost, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(chaObj.provisionalNeutral, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(chaObj.actualRevenue, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(chaObj.actualCost, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
									<td class="text-right ng-binding">{{checkZero(chaObj.actualNeutral, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                               	</tr>
                               	

                           	</tbody>
                                   
                                    
                                    
                                    
                                    <tfoot class="bg-danger" >
                                    <tr style="border:1px solid #F8DDAD;">
                                        <td class="text-left">Total</td>
                                        <td></td>
                                        <td class="text-right" style="border-right:1px solid #ccc;" >{{checkZero(jobLedgerResDto.chargeTotalAmountDebit, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;" >{{checkZero(jobLedgerResDto.chargeTotalAmountCredit, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;" >{{checkZero(jobLedgerResDto.chargeTotalProvisionalRevenue, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;" >{{checkZero(jobLedgerResDto.chargeTotalProvisionalCost, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;" >{{checkZero(jobLedgerResDto.chargeTotalProvisionalNeutral, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;" >{{checkZero(jobLedgerResDto.chargeTotalActualRevenue, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;" >{{checkZero(jobLedgerResDto.chargeTotalActualCost, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                        <td class="text-right" style="border-right:1px solid #ccc;" >{{checkZero(jobLedgerResDto.chargeTotalActualNeutral, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                     </tr>
                                     
                                    
                                     
                                      </tfoot>
                                    </table>
                                    
                                    
                                   <div class="col-md-12 pl0 pr0">
                                  <div class="col-md-3 pl0">
                                  <table class="table table-inline ">
							      <tfoot>
                                    <tr class="bg-white" >
                                        <td class="text-left bg-ash" style="border:1px solid #ccc;">Profit (Credit- Debit)</td>
                                        <td class="text-right bg-white" style="border:1px solid #ccc;">{{checkZero(jobLedgerResDto.chargeProfitAmount, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                       </tr></tfoot></table>
                                  
                                  </div>
                                  
                                  
                                  <div class="col-md-3">
                                  <table class="table table-inline ">
							       <tfoot>
                                   <tr class="bg-white" >
                                   <td class="text-left bg-ash"  style="border:1px solid #ccc;">Provisional Profit</td>
                                        <td class="text-right bg-white" style="border:1px solid #ccc;">{{checkZero(jobLedgerResDto.chargeProfitProvisional, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                        </tr></tfoot></table>
                                  
                                  </div>
                                  
                                  
                                   <div class="col-md-3 pr0">
                                   <table class="table table-inline ">
							       <tfoot>
                                      <tr class="bg-white" >
                                       <td class="text-left bg-ash"  style="border:1px solid #ccc;">Actual Profit</td>
                                        <td class="text-right bg-white"  style="border:1px solid #ccc;">{{checkZero(jobLedgerResDto.chargeProfitActual, jobLedgerResDto.chargeLocale, jobLedgerResDto.chargeDecimalPoint)}}</td>
                                       </tr>
                                       </tfoot></table>
                                  
                                  </div>
                               
                               
                               <div class="col-md-3 pr0">
                               <table class="table table-inline ">
							       <tfoot>
                                      <tr class="bg-white" >
                                       <td class="text-left bg-ash"  style="border:1px solid #ccc;">Gross Profit (%)</td>
                                        <td class="text-right bg-white"  style="border:1px solid #ccc;">{{percentageFormat(jobLedgerResDto.chargeGrossProfit)}}</td>
                                       </tr>
                                       </tfoot></table>
                               
                               
                               </div>
                                  
                                    </div>  
							 
							      </div>
                        </div>
                        </div>
                        
                        
                        <div role="tabpanel" ng-class="{'active' : Tab=='reports', '' : Tab!='reports'}" class="tab-pane pt10">
                        
								 <form>
	                                    <div class="row nomargin noborder mt-15">
	                                        <div class="col-xs-12 mb-15" >
	                                     	   <button type="button"  class="btn accent-btn" ng-click="generateAll()">Generate All</button>
	                                        </div>
	                                        <div class="col-xs-12">
	                                            <div ng-if="reportList.length>0" class="table-responsive">
	                                                <div ng-show="reportLoadingImage.status" class="table-backdrop" >
	                                                    <span><i  class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></span>
	                                                </div>
	                                                <table class="table table-inline">
	                                                    <thead>
	                                                    <tr>
	                                                         <th class="text-center inl_s">
                                                                 <input type="checkbox" ng-model="allRepoVarModel.allReportSelected" ng-change="selectAllReports();" id="reportAll">
	                                                             <label for="reportAll"></label>
                                                             </th>
	                                                        <th class="inl_xs">#</th>
	                                                        <th >Name</th>
	                                                        <th class="inl_xxl">Action</th>
	                                                    </tr>
	                                                    </thead>
	                                                    <tbody>
	                                                     <tr ng-repeat="reportDetail in reportList">
	                                                         <td class="text-center">

	                                                                 <input type="checkbox"  ng-model="reportDetail.isSelected" ng-change="chkReportStatus(reportDetail.isSelected, reportDetail);" id="report2">
	                                                                 <label for="report2"></label>

	                                                         </td>
	                                                        <td >{{ $index + 1 }}</td>
	                                                       <td> {{reportDetail.reportDisplayName}}
	                                                        </td>
	                                                        <td >
	                                                            <button type="button" class="btn accent-btn" ng-click="reportModal(reportDetail.resourceRefId,reportDetail.reportName,reportDetail.key)">Generate</button>
	                                                        </td>
	                                                    </tr>
	                                                    </tbody>
	                                                </table>
	                                            </div>
	                                            <efs-spinner spinner-status="reportSpinner"></efs-spinner>
                                                <empty-record ng-if="reportList.length==0" icon="report" text="Looks like there are no report records here"></empty-record>
	                                        </div>
	                                    </div>
                                    </form> 
                       </div>
                        
                        
                        
                        
                        </div>
                         </div>
                    </form><!--form ends-->
                </div><!--panel body ends-->
            </div><!--panel ends-->
           </div> 
     
