<div>
    <button tabindex="-1" type="button" class="btn btn-info btn-property mb10 accent-btn"
            ng-click="fnRole({param:addRole})?addRow():''">
        <i class="icon-add"></i> Add Profile Details
    </button>
    <div  ng-style="dropStyle" class="table-responsive">
        <table class="table table-inline-nopad mb0" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
            <thead class="borderthead">
            <tr>
                <th class="inl_xs">#</th>
                <th class="inl_mpp">Service<span class="reqColor">*</span></th>
                <th class="inl_m">Terms of Shipment</th>
                <th class="inl_mpp">Origin </th>
                <th class="inl_mpp">Destination</th>
                <th class="inl_m">Frequency</th>
                <th class="inl_mpp">Commodity Group</th>
                <th class="inl_sm">Unit</th>
                <th class="inl_mp text-right">Volume</th>
                <th class="inl_mp text-right">No of Shipments</th>
                <th class="inl_mp text-right">Estimated Revenue</th>
                <th class="inl_mp">Current / Potential</th>
                <th class="inl_s">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="partyBusinessDetail in tableData track by $index">
                <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                    <span ng-show="secondArr[$index].errRow" >
                        <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                            <img src="../../../../assets/images/error.png"/>
                        </a>
                    </span>
                    <span ng-show="!secondArr[$index].errRow">
                        {{$index+1}}
                    </span>
                </td>
                <td data-headtitle="Service" data-required="true" data-width="tw30per" >
                    <div class="select-auto">
                        <input type="text" class="form-control" id="{{'serviceBusinessDetail'+$index}}" 
										input-focus="{{secondArr[$index].businessServiceFocus}}" 
										ng-class="{'error-control-auto':secondArr[$index].serviceName}" 
										ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)" 
										autocomplete="off" ng-model="partyBusinessDetail.serviceMaster" 
										uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxBusinessService($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="changeService(partyBusinessDetail,'bussinessTos'+$index);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="Terms of Shipment" data-width="tw30per" >
                    <div class="select-auto">
                         <input type="text" class="form-control" id="{{'bussinessTos'+$index}}"
										ng-class="{'error-control-auto':secondArr[$index].tosName}" 
										autocomplete="off" ng-model="partyBusinessDetail.tosMaster" 
										 ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)" 
										uib-typeahead="lovObject as lovObject.tosName for lovObject in ajaxBusinessTosEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="changeTos('bussinessOrigin'+$index);"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="Origin" data-width="tw30per">
                    <div class="select-auto">
                       <input type="text" class="form-control"  id="{{'bussinessOrigin'+$index}}" 
										 ng-class="{'error-control-auto':secondArr[$index].origin}" 
										autocomplete="off" ng-model="partyBusinessDetail.origin" 
										ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)" 
										uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortOriginEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="changeOrigin('bussinessDestination'+$index);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="Destination" class="clearboth" data-width="tw30per">
                    <div class="select-auto">
                         <input type="text" class="form-control" id="{{'bussinessDestination'+$index}}" 
										ng-class="{'error-control-auto':secondArr[$index].destination}" 
										ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)" 
										autocomplete="off" ng-model="partyBusinessDetail.destination" 
										uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortDestinationEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectDestination('bussinessFrequency'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="Frequency" data-width="tw30per">
                    <div class="select-auto">
                         <input type="text" class="form-control"  id="{{'bussinessFrequency'+$index}}" 
										ng-class="{'error-control-auto':secondArr[$index].frequencyName}" 
										ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)" 
										autocomplete="off" ng-model="partyBusinessDetail.period" 
										uib-typeahead="lovObject as lovObject.frequencyName for lovObject in ajaxBusinessPeriodEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="changeService(partyBusinessDetail,'bussinesscommodity'+$index);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="commodity Group" data-width="tw30per">
                    <div class="select-auto">
                         <input type="text" class="form-control" id="{{'bussinesscommodity'+$index}}"
										ng-class="{'error-control-auto':secondArr[$index].commodity}" 
										ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)"   
										autocomplete="off" ng-model="partyBusinessDetail.commodity" 
										uib-typeahead="lovObject as lovObject.hsName for lovObject in ajaxBusinessCommodityEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectCommodity('businessUnit'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>

                </td>
                <td data-headtitle="Unit Code" class="clearboth" data-width="tw30per">
                    <div class="select-auto">
                       <input type="text" class="form-control" id="{{'businessUnit'+$index}}" 
										 ng-class="{'error-control-auto':secondArr[$index].unitMaster}" 
										ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)" 
										autocomplete="off" ng-model="partyBusinessDetail.unitMaster" 
										uib-typeahead="lovObject as lovObject.unitCode for lovObject in ajaxBusinessUnitEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedUnitMaster('bussinessnoOfUnit'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="Volume" data-width="tw30per" class="text-right">
                    <input type="text"  id="{{'bussinessnoOfUnit'+$index}}"  maxlength="30" class="form-control text-right"
                           ng-change="callValidate()"
                           ng-class="{'error-control':secondArr[$index].noOfUnits}" ng-model="partyBusinessDetail.noOfUnits"
                           ng-focus="dirtyIndex($index);" ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)" />
                </td>
                <td data-headtitle="No of shipments" data-width="tw30per">
                    <input type="text" id="{{'noOfShipments'+$index}}"   maxlength="10" class="form-control text-right"
                           ng-change="callValidate()"
                           ng-class="{'error-control':secondArr[$index].noOfShipments}" ng-model="partyBusinessDetail.noOfShipments"
                            ng-focus="dirtyIndex($index);"  ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)" />
                </td>
                <td data-headtitle="Estimated Revenue"  data-width="tw30per" class="text-right clearboth">
                    <input type="text" id="{{'estimatedRevenue'+$index}}"   maxlength="20" class="form-control text-right"
                           ng-change="callValidate()"
                           ng-class="{'error-control':secondArr[$index].estimatedRevenue}" ng-model="partyBusinessDetail.estimatedRevenue"
                            ng-focus="dirtyIndex($index);" ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)" />
                </td>
                <td data-headtitle="Current / Potential" data-width="tw30per">
                    <select id="{{'currentPotential'+$index}}" 
                            class="form-control last-child"
                            ng-class="{'error-control':secondArr[$index].currentPotential}"
                            ng-options="obj.value as obj.title for obj in potentialArr"
                            ng-change="callValidate('closureDate'+$index)"
                            ng-model="partyBusinessDetail.currentPotential"
                            ng-focus="dirtyIndex($index);" ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)"  >
                    </select>
                </td>
                <!--<td >-->
                    <!--<div class="inputBox">-->
                        <!--<input  type="text"  -->
                                <!--id="{{'closureDate'+$index}}"   -->
                                <!--class="form-control tableDate" -->
                                <!--ng-model="partyBusinessDetail.closureDate"   -->
                                <!--date-callback="nextToFocus('bussinessStatus'+$index)"-->
                                <!--datetimepicker-->
                                <!--datetimepicker-options="{{directiveDatePickerOpts}}" -->
                                <!--ng-focus="openEvent(true)" ng-blur="openEvent(false)"-->
                                <!--ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)"        >-->
                        <!--<span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td >-->
                    <!--<select  id="{{'bussinessStatus'+$index}}"  -->
                            <!--class="form-control " -->
                            <!--ng-class="{'error-control':secondArr[$index].bussinessStatus}"-->
                            <!--ng-change="nextToFocus('bussinessReason'+$index)"-->
                            <!--ng-options="item for item in partyBusinessArr"-->
                            <!--ng-model="partyBusinessDetail.bussinessStatus"-->
                            <!--ng-focus="dirtyIndex($index)"-->
                            <!--ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)"     >-->
                    <!--</select>-->
                <!--</td>-->
                <!--<td >-->
                    <!--<select  id="{{'bussinessReason'+$index}}"  -->
                            <!--class="form-control "-->
                            <!--ng-class="{'error-control':secondArr[$index].reason}"-->
                            <!--ng-options="item for item in partyReasonArr"-->
                            <!--ng-model="partyBusinessDetail.reason"-->
                            <!--ng-change="callValidate('businessNotes'+$index)"-->
                            <!--ng-focus="dirtyIndex($index)"-->
                            <!--ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)"    >-->
                    <!--</select>-->
                <!--</td>-->
                <!--<td >-->
                <!--<textarea id="{{'businessNotes'+$index}}"   class="form-control last-child"-->
                          <!--ng-model="partyBusinessDetail.businessNotes"-->
                          <!--ng-change="callValidate()"-->
                          <!--maxlength="4000"-->
                          <!--ng-class="{'error-control':secondArr[$index].businessNotes}"-->
                          <!--ng-focus="dirtyIndex($index)"-->
                          <!--ng-disabled="(!updateRole&&partyBusinessDetail.id!=null)"-->
                        <!-->
                <!--</textarea>-->
                <!--</td>-->
                <td  data-nofloat="true" data-action="true" >
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);"
                               ng-click="fnRole({param:deleteRole})?removeObj(partyBusinessDetail,$index):''">
                               <i class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>