<div class="container-fluid pl0 pr0 page-style">
    <div class="row ml0 mr0">
    
        <div class="col-xs-12 editview">
            <div class="panel panel-default rel">
                <div class="panel-heading bg-trans">
                    <div class="w-50 pull-left">
                      <h4>Add CFS Delivery Entry</h4>
                    </div>
                    <div class="w-50 pull-right">
                        <ul class="list-inline text-right masopertion-action mt-5">
                            <li>
                                <button  type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                            </li>
                            <li>
                                <input  type="submit"  tabIndex="-1" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="cfsReceiveEntry.id==null?save():update()" value="Save">
                            </li>
                        </ul>
                    </div>
                </div><!--PANEL HEADING ENDS-->
                <div class="panel-body pt0 edit-body" id="cfs-panel" panel-height ng-nicescroll nice-scroll-object="niceObject" nice-option="{{ngScrollConfig}}">
				 <div class="row blue-shade  overflow-hidden">
                    <div class="col-xs-12 ptb5">
                            <span class="reqColor">*</span>
                            <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12   ">
                            <div class="row overflow-hidden">
                                <div class="col-xs-12 bor-fix mt-5 ">
                                 <div class="row bor-btm-1">
                                 <div class="col-xs-2 mb10">
                                    <span>Shipment ID</span>
                                   
	                                    <input type="text" class="form-control"   
												autocomplete="off" value="CON000301">
									</div>
									
									</div>
									</div>
									<div class="col-xs-12">
									<div class="row mt10">
									
									<div class="col-md-5 pl0 pr0">
									
									<div class="col-xs-4">
                                    <span>Service</span>
                                    <h5>Air Import</h5>
									</div>
									
									<div class="col-xs-4 ">
									<span>Job Date</span>
									 <h5>2017-07-06</h5>
								</div>
								
								<div class="col-xs-4">
									<span>HBL</span>
									<h5 >SHASE02868</h5>
								</div>
									
									</div>
									
									
								
							<div class="col-md-7 pl0 pr0">
                                <div class="col-xs-3">
                                    <span>ETA</span>
                                   <h5 >2017-07-06</h5>
                                </div>
                                <div class="col-xs-3">
                                    <span>DO No</span>
                                    <h5 >38864</h5>
										
                                </div>
                                <div class="col-xs-3">
                                    <span>DO Date</span>
                                    <h5 >2017-07-06</h5>
                                   </div>
                                   <div class="col-xs-3">
                                   <ul class="list-inline masopertion-action">
                            <li>
                                <button  type="button" class="btn btn-primary btn-xs btn-property accent-btn width126px" ng-click="msrmodel()">Measurement</button>
                            </li>
                            <li>
                                <button  type="button" class="btn btn-primary btn-xs btn-property accent-btn mt-4  mb10 width126px" ng-click="journalmodel()">Journal Details</button>
                            </li>
                        </ul>
                                   </div></div>
                                   </div>
                            </div>
                        </div><!--RESPONSIVE COL-->
                    </div><!--ROW ENDS-->
</div>

					<div class="row" tabindex="-1" ng-init="custPackBtn=true">
						<div class="col-xs-12 plr0">

							<div class="flex align-justify align-middle title"
								ng-class="isPickUpDelFound(quotationDetail)?'done-approve':''"
								style="margin: 0 0 5px !important"
								ng-click="custPackBtn=!custPackBtn">
								<div>
									<h5>
										<span
										 ng-class="custPackBtn==true?'blackcolor':'blackcolor'" 
											class="done-approve-text">Customer &amp; Pack Info
										</span>
									</h5>
								</div>
								<div>
									<i class="{{custPackBtn==true?'icon-uparrow':'icon-downarrow'}}"
										style="color: {{isPickUpDelFound(quotationDetail)?'#fff !important':'#000 !important;'"
										aria-hidden="true" style="color: #25394f !important"></i>
								</div>
							</div>

							<div class=" bor-b-0 pb10" ng-if="custPackBtn">
								<div class="row nomargin bor-btm-1">
									<div class="col-xs-11 pt5 pb10 plr0">
<div class="col-xs-4 ">
											<div class="row bor nomargin brad3 shade1"
												style="border-bottom: 1px solid #dadada !important;">
												<div class="col-xs-11 ptb-15">
													<span>Shipper</span>
													<div>
														<div class="select-auto">ADITHYA FREIGHT FORWARDERS</div>

                                                    <ul ng-if="showFirstShipperAddressModel">
														<li>VISHWA SRIVASTA GANGAI STREET</li>
														<li>58C RAM NAGAR NORTH EXTN FIRST STREET</li>
														<li>MADIPAKKAM</li>
														<li>600091, India</li>
														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label> shanthi@adithyaforwarder.com
														</div>
														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> 9797979789
														</div>
														</ul> 
													</div> </div>
													 <div class="col-xs-1 mart24px pl0 m-text-center text-right" ng-init="showFirstShipperAddressModel=false">
                                                            <a  data-container="false"
                                                        tabindex="-1" href="javascript:void(0)" ng-class="{'activeLocation':showFirstShipperAddressModel==true}" class="selectPicker-sm fit_picker"  ng-click="showFirstShipperAddressModel=!showFirstShipperAddressModel">
                                                        <span ng-class="showFirstShipperAddressModel==true?'fa fa-angle-double-up ftawsize':'fa fa-angle-double-down ftawsize'"  data-placement="auto right"
                                                             bs-tooltip="addressIcon"></span>
                                                             </a>
                                                             </div>
                                         
                                                       
                                                
												</div>
											</div>
											
										
										<div class="col-xs-4 ">
											<div class="row bor nomargin brad3 shade1"
												style="border-bottom: 1px solid #dadada !important;">
												<div class="col-xs-11 ptb-15">
													<span>Consignee</span>
													<div>
														<div class="select-auto">APC Logistics</div>

                                                    <ul ng-if="showSecondConsigneeAddressModel">
														<li>8, INDIRA NAGAR SECOND STREET</li>
														<li>NEW COLONY</li>
														<li>CHROMEPET</li>
														<li>600044, India</li>
														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label>send@apc.com
														</div>
														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> 9555594444
														</div>
														</ul> 
													</div> </div>
													 <div class="col-xs-1 mart24px pl0 m-text-center text-right" ng-init="showSecondConsigneeAddressModel=false">
                                                            <a  data-container="false"
                                                        tabindex="-1" href="javascript:void(0)" ng-class="{'activeLocation':showSecondConsigneeAddressModel==true}" class="selectPicker-sm fit_picker"  ng-click="showSecondConsigneeAddressModel=!showSecondConsigneeAddressModel">
                                                        <span ng-class="showSecondConsigneeAddressModel==true?'fa fa-angle-double-up ftawsize':'fa fa-angle-double-down ftawsize'"  data-placement="auto right" 
                                                             bs-tooltip="addressIcon"></span>
                                                             </a>
                                                             </div>
                                         
                                                       
                                                
												</div>
											</div>
										
										<div class="col-xs-4 ">
											<div class="row bor nomargin brad3 shade1"
												style="border-bottom: 1px solid #dadada !important;">
												<div class="col-xs-11 ptb-15">
													<span>Notify</span>
													<div>
														<div class="select-auto">FREIGHT SYSTEMS INC</div>

                                                    <ul ng-if="showSecondNotifyAddressModel">
														<li>230-59 CHENNAI INTERNATIONAL AIRPORT </li>
														<li>275, GST ROAD</li>
														<li>TRISULAM</li>
														<li>600022, India</li>
														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label>rkumar@freight.com
														</div>
														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> 9326526589
														</div>
														</ul> 
													</div> </div>
													 <div class="col-xs-1 mart24px pl0 m-text-center text-right" ng-init="showSecondNotifyAddressModel=false">
                                                            <a  data-container="false"
                                                        tabindex="-1" href="javascript:void(0)" ng-class="{'activeLocation':showSecondNotifyAddressModel==true}" class="selectPicker-sm fit_picker"  ng-click="showSecondNotifyAddressModel=!showSecondNotifyAddressModel">
                                                        <span ng-class="showSecondNotifyAddressModel==true?'fa fa-angle-double-up ftawsize':'fa fa-angle-double-down ftawsize'"  data-placement="auto right" 
                                                             bs-tooltip="addressIcon"></span>
                                                             </a>
                                                             </div>
                                             	</div>
											</div>
											
									</div>
								</div>
								<div class="row nomargin pt10">
									<div class="col-xs-12 plr0">

										
											<div class="col-xs-2">
												<span>CFS Slot</span>
												<h5></h5>
											</div>
											<div class="col-xs-2">
												<span>Pack</span>
												<h5>PACKAGE(S)</h5>

											</div>
											<div class="col-xs-2">
												<span>Manifest HBL</span>
												<h5></h5>
											</div>
											<div class="col-xs-2">
												<span>Mark No</span>
												<h5>INNO</h5>

											</div>
											<div class="col-xs-2">
												<span>Commodity</span>
												<h5>CROSS</h5>
											</div>
											<div class="col-xs-2">
												<span>No of Grids</span>
												<h5></h5>
											</div>
										
									</div>
								</div>
								</div>
								</div>
					</div>

					<!--row ends-->

                    
                                
                                
                                
                                <div class="row" tabindex="-1" ng-init="pickupBtn=true">
                                    <div class="col-xs-12 plr0">

                                        <div class="flex align-justify align-middle title" ng-class="isPickUpDelFound(quotationDetail)?'done-approve':''" style="margin: 0 0 5px !important" ng-click="pickupBtn=!pickupBtn">
                                            <div>
                                                <h5>
                                                  <span style="color:{{isPickUpDelFound(quotationDetail)?'#fff !important':'#000 !important;'}}" class="done-approve-text">  
               
               Delivery Detail
              </span>
                                              </h5>
                                            </div>
                                            <div>
                                                <i class="{{pickupBtn==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{isPickUpDelFound(quotationDetail)?'#fff !important':'#000 !important;'}}" aria-hidden="true" style="color: #25394f !important"></i>
                                            </div>
                                        </div>

                                        <div class=" bor-b-0 pb10 mt-15" ng-if="pickupBtn">
                                            <div class="row nomargin">
												<div class="col-xs-12">
											<div class="table-responsive">
                                               <table class="table table-inline-nopad mb-10" sm-table-responsive watch-data="tableData" tab-nav tab-row="addNewParty()">
												<thead class="borderthead">
													<tr>
														<th class="inl_sno">#</th>
														<th class="inl_s text-right">Pieces<span class="reqColor">*</span></th>
														<th class="inl_m text-right">Gross Weight (KG)</th>
														<th class="inl_mpp">In Gate Time</th>
														<th class="inl_mpp">Out Gate Time</th>
														<th class="inl_mp text-right">Volume (KG)</th>
														<th class="inl_s">Delay Code</th>
														<th class="inl_m">BOE</th>
														<th class="inl_m">Declaration No</th>
														<th class="inl_m">Truck No</th>
														<th class="inl_m">Driver Name</th>
														<th class="inl_mp">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td><input type="text" class="form-control text-right" value="1">
														</td>
														<td><input type="text" class="form-control text-right" value="209.00">
														</td>
														<td><input type="text" class="form-control text-left" value="2017-12-07 10:48">
														</td>
														<td>
														<div class="inputBox">
								                                            <input 	
								                                                      type="text"
								                                                      class="form-control"
								                                                      value="2017-12-07 21:48" >
								                                            <span class="inputIcon" tabindex="-1"><i class="icon-date" aria-hidden="true"></i></span>
								                                        </div>
														</td>
														<td><input type="text" class="form-control text-right" value="230.00">
														</td>
														<td><input type="text" class="form-control" value="01">
														</td>
														<td><input type="text" class="form-control text-left" value="269874602589">
														</td>
														<td><input type="text" class="form-control text-left" value="526987460255">
														</td>
														<td><input type="text" class="form-control text-left" value="TN 22 BL 2017">
														</td>
														<td><input type="text" class="form-control text-left" value="Kishore">
														</td>
														

														<td>
															<ul class="list-inline">
															<li><a href="javascript:void(0);">
                                                                                    <i class="fa fa-info"
                                                                                        ng-click="moremodel()"></i>
                                                                                </a>
															</li>
																<li><a href="javascript:void(0);"> <i
																		class="icon-add" data-placement="bottom"
																		bs-tooltip="add"></i></a></li>
																<li><a href="javascript:void(0);"> <i
																		class="icon-copy" data-placement="bottom"
																		bs-tooltip="copy"></i></a></li>
																<li><a href="javascript:void(0);"> <i
																		class="icon-delete" data-placement="bottom"
																		bs-tooltip="delete"></i></a></li>
															</ul>
														</td>
													</tr>
													</tbody>
													<tfoot class="bg-danger" style="border:1px solid #F8DDAD">
													<tr>
														
														<td colspan="1" class="text-left verticalaln">Total</td>
														
														<td><input type="text" class="form-control text-right" value="1">
														</td>
														
														<td>
														<input type="text" class="form-control text-right" value="209.00">
														</td>
                                                          <td colspan="1" class="text-right verticalaln"></td>
                                                          <td colspan="1" class="text-right verticalaln"></td>
														<td>
														<input type="text" class="form-control text-right" value="230.00">	
														</td>
														<td colspan="6" class="text-right verticalaln"></td>
                                                          
                                                        
                                                          
													</tr>
												</tfoot>
											</table>
                                           </div>
										
										
									</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                    
                </div><!--wrapper ends-->
            </div>
            <efs-spinner spinner-status="mySpinner"></efs-spinner>
        </div><!--PANEL ENDS-->
         
    </div><!--COLUMN 8 ENDS-->
</div><!--ROW ENDS-->
