<div class="container-fluid pl0 pr0 page-style">
    <div class="row ml0 mr0" >
        <div class="list-container col-md-12 mainview">
        
        	
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                        <div ng-if="detailTab=='active'">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <section class="row">
                                        <div class="col-xs-3">
                                            <div class="panelTitle">
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="add()"><i class="icon-add opcfull"></i> Add CFS Delivery Entry</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-9">

                                        </div>

                                        <div class="col-md-3 pull-right text-right">
                                            <i class="icon-settings"></i>
                                        </div>
                                    </section>
                                </div>
                                <div class="panel-body no-tab-table p00" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table 	data="cfsHeadValues"
                                                        head="cfsHeadArr"
                                                        sort="sortSelection"
                                                        click-event="rowSelect(param,index)"
                                                        search-event="changeSearch(param)"
                                                        sort-event="sortChange(param)"
                                                        page="page"
                                                        size="limit">
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="cfsReceiveEntry.id!=null" ng-include="'app/components/air/cfs_delivery_entry/view/cfs_detail.html'"></div>
    </div>
</div>