<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 EditView">
            <form id="enquiryform" name="enquiryform" ng-submit="enquiryLog.id!=null?updateEnquiry():saveEnquiry()" novalidate>
                <div class="panel panel-default rel">
                    <div>
                        <div class="panel-heading flexTitle">
                            <div>
                                <h4>{{enquiryLog.id!=null?'Edit':'Add'}} Enquiry {{enquiryLog.id!=null?'No':''}}
                                    <span>{{enquiryLog.enquiryNo}}</span>
                                </h4>
                            </div>
                            <div>
                                <ul class="list-inline text-right masopertion-action">

                                    <li ng-show="enquiryLog.partyMaster!=null">
                                        <a data-container="false" tabindex="-1" href="javascript:void(0)" class="selectPicker-sm" ng-click="showTopRecords()" style=" border: 1px solid #e1e1e1; border-radius: 3px !important; padding-top:2px !important">
                                            <i class="fa fa-newspaper-o" data-placement="auto right" bs-tooltip="recentListIcon" style="font-size: 13px !important"></i>
                                        </a>

                                    </li>


                                    <li class="nomargin nopadding" ng-if="((enquiryLog.status=='Active' || enquiryLog.status=='Cancel') &&  enquiryLog.quotationNo==null && enquiryLog.id!=null)">
                                        <input class="magic-checkbox" type="checkbox" ng-model="enquiryLog.statusChange" ng-disabled="enquiryLog.status=='Cancel'" ng-change="enquiryCancelled(enquiryLog)" id="markOption">
                                        <label class="text custom-label text-inherit" for="markOption">
                                            {{!markOption?'Cancel':'Cancelled'}}
                                        </label>
                                    </li>
                                    <li>
                                        <button type="button" tabIndex="-1" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                                    </li>
                                    <li>
                                        <input type="submit" tabIndex="-1" class="btn btn-primary btn-xs btn-property accent-btn" ng-disabled="disableSubmitBtn" value="{{enquiryLog.id!=null?'Update':'Save'}}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--panel heading ends-->
                        <div class="panel-body pt0 edit-body" ng-click="topEnquiryConfig.showTopEnquiryFlag = false" id="service-panel" panel-height ng-nicescroll nice-scroll-object="niceObject" nice-option="{{ngScrollConfig}}">
                            <div class="row shade1">
                                <div show-response></div>
                                <client-error message="clientMessage"></client-error>
                                <div class="col-xs-12 ptb-15">
                                    <span class="reqColor">*</span>
                                    <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
                                </div>
                                <div class="pad-15">
                                    <div>
                                        <span class="error-message" ng-show="errorMap.get('duplicateService')!=null">
                                            <small>{{errorMap.get('duplicateService')}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row shade1">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5" ng-if="action ==='ADD' || (enquiryLog.partyMaster != null && enquiryLog.partyMaster.id != null)">
                                    <div class="row ptb-15">
                                        <div ng-class="(enquiryLog.partyMaster != null && (enquiryLog.partyMaster.id != null || (enquiryLog.partyMaster.partyName.trim().length>0))) ?'col-xs-11 col-sm-11 col-md-11 col-lg-11':'col-xs-12 col-sm-12 col-md-12 col-lg-12'">
                                            <label>{{appMasterData['Party_Label']}}
                                                <span>*</span>
                                            </label>
                                            <div class="select-auto">
                                                <input type="text" class="form-control" id="partyName" input-focus="{{firstFocus || errorMap.get('shipmentParty')!=null}}" autocomplete="off" ng-model="enquiryLog.partyMaster" uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                    typeahead-on-select="selectedParty('loggedBy');" typeahead-focus-on-select="false" typeahead-focus-first="true" ng-blur="onEnquiryCustomerBlur()" typeahead-editable="true" typeahead-min-length="1" typeahead-wait-ms="500"
                                                    typeahead-add-new="routePartyEvent('partyMaster')">
                                                <span class="select-arrow">
                                                    <b></b>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="error-message" ng-show="errorMap.get('partyMaster')!=null">
                                                    <small>
                                                        {{errorMap.get('partyMaster')}} </small>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-1 mt-25 plr0" ng-show="enquiryLog.partyMaster != null && enquiryLog.partyMaster.id != null">
                                            <a tabindex="-1" data-container="false" href="javascript:void(0)" class="selectPicker-sm" ng-click="navigateToEditParty('partyMaster')">
                                                <i class="fa icon-edit" data-placement="auto right" bs-tooltip="editParty"></i>
                                            </a>
                                        </div>
                                        <div class="col-xs-1 mt-25 plr0" ng-show="enquiryLog.partyMaster != null && enquiryLog.partyMaster.id == undefined && enquiryLog.partyMaster.partyName != null && enquiryLog.partyMaster.partyName.trim().length>0 ">
                                            <a tabindex="-1" data-container="false" href="javascript:void(0)" class="selectPicker-sm" ng-click="showCustomerModal();">
                                                <i class="fa fa-list" data-placement="auto right" bs-tooltip="addEnquiryCustomer"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!--ROW ENDS-->
                                </div>
                                <!--RESPONSIVE COL-->

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5" ng-if="action ==='EDIT' && (enquiryLog.partyMaster == null || enquiryLog.partyMaster.id == null) && enquiryLog.enquiryCustomer != null && enquiryLog.enquiryCustomer.id != null">
                                    <div class="row ptb-15">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <label>{{appMasterData['Party_Label']}}
                                                <span>*</span>
                                            </label>
                                            <div class="select-auto">
                                                <input type="text" class="form-control" ng-disabled="true" autocomplete="off" ng-model="enquiryLog.enquiryCustomer" uib-typeahead="lovObject as lovObject.name for lovObject in ajaxPartyEvent($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                    typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedParty('loggedBy');" typeahead-focus-on-select="false"
                                                    typeahead-focus-first="true" typeahead-editable="true" typeahead-min-length="1" typeahead-wait-ms="500">
                                                <span class="select-arrow">
                                                    <b></b>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--ROW ENDS-->
                                </div>
                                <!--RESPONSIVE COL-->
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
                                    <div class="row ptb-15">


                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4 ">
                                            <label>Logged On
                                                <span>*</span>
                                            </label>
                                            <div class="inputBox">
                                                {{enquiryLog.loggedOn}}
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                                            <label>Logged By
                                                <span>*</span>
                                            </label>
                                            <div class="select-auto">
                                                <input type="text" class="form-control" id="loggedBy" input-focus="{{errorMap.get('salesCoordinator')!=null}}" autocomplete="off" ng-model="enquiryLog.loggedBy" uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxLoggedByEvent($viewValue)"
                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                    typeahead-on-select="selectedLoggedBy('salesCoordinator');" typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500">
                                                <span class="select-arrow">
                                                    <b></b>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="error-message" ng-show="errorMap.get('loggedBy')!=null">
                                                    <small>
                                                        {{errorMap.get('loggedBy')}}
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--RESPONSIVE COL-->
                            </div>
                            <!--ROW ENDS-->


                            <div class="row shade1">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5 ">
                                    <div class="row ptb-15">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label class="">Sales Coordinator
                                                <span>*</span>
                                            </label>
                                            <div class="select-auto">
                                                <input type="text" class="form-control" id="salesCoordinator" input-focus="{{errorMap.get('salesCoOrdinator')!=null}}" autocomplete="off" ng-model="enquiryLog.salesCoOrdinator" uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesCoordinatorEvent($viewValue)"
                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                    typeahead-on-select="selectedSalesCordinator('salesMan');" typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500">
                                                <span class="select-arrow">
                                                    <b></b>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="error-message" ng-show="errorMap.get('salesCoOrdinator')!=null">
                                                    <small>
                                                        {{errorMap.get('salesCoOrdinator')}}
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label class="">Salesman</label>
                                            <div class="select-auto">
                                                <input type="text" class="form-control" id="salesMan" input-focus="{{errorMap.get('salesman')!=null}}" autocomplete="off" ng-model="enquiryLog.salesman" uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesEmplyoeeEvent($viewValue)"
                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                    typeahead-on-select="selectedSalesEmplyoee('receivedOn')" typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500">
                                                <span class="select-arrow">
                                                    <b></b>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="error-message" ng-show="errorMap.get('salesman')!=null">
                                                    <small>
                                                        {{errorMap.get('salesman')}}
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--row ends-->
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7 ">
                                    <div class="row ptb-15">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                                            <label class="">Enquiry Received on
                                                <span>*</span>
                                            </label>
                                            <div class="inputBox">
                                                <input type="text" class="form-control" ng-model="enquiryLog.receivedOn" datetimepicker datetimepicker-options="{{directiveDateTimePickerOpts}}" date-callback="enquirySelectFocus('quoteBy')" id="receivedOn">
                                                <span class="inputIcon" tabindex="-1">
                                                    <i class="icon-date" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <span class="error-message" ng-show="errorMap.get('receivedOn')!=null">
                                                <small>
                                                    {{errorMap.get('receivedOn')}}
                                                </small>
                                            </span>
                                        </div>

                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4">
                                            <label class="text-inherit">Quote by Date</label>
                                            <div class="inputBox">
                                                <input type="text" id="quoteBy" autocomplete="off" class="form-control" ng-model="enquiryLog.quoteBy" ng-change="validateEnquiryLog(7);" datetimepicker datetimepicker-options="{{directiveDatePickerOpts}}" date-callback="enquirySelectFocus('service0')">
                                                <span class="inputIcon" tabindex="-1">
                                                    <i class="icon-date" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <span class="error-message" ng-show="errorMap.get('quoteBy')!=null">
                                                <small>
                                                    {{errorMap.get('quoteBy')}}
                                                </small>
                                            </span>
                                        </div>

                                        <!-- <div ng-show="enquiryLog.id!=null" class="col-xs-4">
                                        <label>Quotation No</label>
                                        <input  type="text" ng-disabled="true" ng-model="enquiryLog.quotationNo"   class="form-control">
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                            <!--row ends-->
                            <div class="row line">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 plr0">
                                    <div class="tabs">
                                        <ul class="list-inline chromeTabs ml0" ng-init="openDefault()">
                                            <li class="cur-pointer" ng-repeat="servicetabObj in enquiryLog.enquiryDetailList track by $index" ng-click="clickTabIndex($index,'service')" data-placement="bottom" bs-tooltip data-title="{{servicetabObj.id?'Service # '+servicetabObj.id:'New Service'}}"
                                                ng-class="{'tabActive':selectedTabIndex==$index}">
                                                {{servicetabObj.id?'Service - '+servicetabObj.serviceMaster.serviceCode:'New Service'}}
                                                <span data-placement="bottom" bs-tooltip="tabDelete" class="icon-delete cur-pointer rel" ng-if="enquiryLog.enquiryDetailList.length>1 && enquiryLog.enquiryDetailList[$index].id==null" ng-click="deleteTabIndex($index)"></span>
                                            </li>
                                            <span data-placement="bottom" bs-tooltip="newTab" ng-click="addNewService()" class="addtab cur-pointer rel"></span>
                                        </ul>
                                        <div class="tabContent p00" set-tab-height>
                                            <div class="row">
                                                <div class="col-xs-12" ng-repeat="enquiryDetail in enquiryLog.enquiryDetailList track by $index" ng-show="selectedTabIndex==$index">
                                                    <div ng-include="'app/components/sales/enquiry/view/shipment_edit.html'"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--TAB CONTENT ENDS-->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--panel ENDS-->
                        <form-spinner spinner-status="spinner"></form-spinner>
                        <div ng-hide="!showPartyAddress" class="wrapper-back-drop"></div>
                        <div ng-show="showPartyAddress" class="logs-transition sideView">
                            <select-list-picker panel-title="panelTitle" selected="selectedItem" data="partyAddressCustomer" cancel-event="cancelPartyAddress()" click-event="selectedPartyAddress(param)" config="partyAddressConfig"></select-list-picker>
                        </div>

                        <div ng-hide="!topEnquiryConfig.showTopEnquiryFlag" class="wrapper-back-drop" ng-click="topEnquiryConfig.showTopEnquiryFlag = false"></div>
                    </div>
                    <div ng-show="topEnquiryConfig.showTopEnquiryFlag" class="logs-transition sideView" style="top:40px !important">
                        <div id="top-quotations-panel">
                            <div class="panel panel-default">
                                <div class="panel-heading flex align-middle align-justify">
                                    <div class="panelTitle">
                                        <div class="flex align-justify align-middle">
                                            <span>
                                                <a href="javascript:void(0)" ng-click="topEnquiryConfig.showTopEnquiryFlag=false" class="list-panel-back" style="position: relative; top: 2px;">
                                                    <i class="icon-back-menu" data-placement="bottom" bs-tooltip="close"></i>
                                                </a>
                                            </span>
                                            <h4 class="pl5" style="font-weight: bold">{{topEnquiryConfig.title}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body" id="top-enquiry-panel" panel-height ng-nicescroll nice-option="{cursorcolor: '#3F8DEB', cursorwidth: '8px',smoothscroll: true}">
                                    <div class="row ptb-15 bor-btm-1" style="padding-top:1px !important">
                                        <div class="col-xs-12">
                                            <div class="wrap-text" style="text-align:center">Recent Enquiry List</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row  nomargin ptb-15 bor-btm-1" ng-repeat="dataObj in recentEnquiryList track by $index" style="padding-top:1px !important">
                                            <div class="col-xs-12">
                                                <div class="row  shade2" style="padding-bottom : 10px">
                                                    <div class="col-xs-4">


                                                        <a ui-sref="layout.viewSalesEnquiry({enquiryId:dataObj.id})" style="padding-top: 7px !important; float:left; font-size:13px" class="hyperLink mb0 wrap-text">{{dataObj.enquiryNo}}</a>

                                                    </div>
                                                    <div class="col-xs-4">
                                                        <h6 class="wrap-text">
                                                            <span ng-show="dataObj.status == 'Active'" style="color : #ffd54f; font-weight: bold">
                                                                {{dataObj.status}}
                                                            </span>
                                                            <span ng-show="dataObj.status == 'Cancel'" style="color : #2196f3; font-weight: bold">
                                                                {{dataObj.status}}
                                                            </span>
                                                            <span ng-show="dataObj.status == 'Gained'" style="color : #2E7D32; font-weight: bold">
                                                                {{dataObj.status}}
                                                            </span>
                                                            <span ng-show="dataObj.status == 'Lost'" style="color : #ED2528; font-weight: bold">
                                                                {{dataObj.status}}
                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div style="margin-top: 9px; font-size: 13px;">
                                                            {{dataObj.quotationNo}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px">
                                                    <div class="col-xs-6">
                                                        <span style="font-size:13px">{{dataObj.serviceCode}} ({{dataObj.originPortCode}} -> {{dataObj.destinationPortCode}})</span>
                                                    </div>
                                                    <div class="col-xs-6">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--panel ends-->
            </form>




        </div>
        <!--col-12 ends-->


    </div>
    <!--panel ends-->


</div>
<!--Edit view column ends-->