<div class="container-fluid resPortAddPage resLandAddPage" ng-form="enquiryForm">
    <div class="row">
        <div class="col-xs-12">
                <div class="panel panel-default rel">
                    <div class="panel-heading flexTitle">
                       <div class="col-md-6 col-lg-6 col-xs-7 col-sm-6 pl0">
                        <span class="fa fa-star starblinkright  pt7" id="blinker" 
								ng-show="enquiryLog.partyMaster.gradeMaster!=null && enquiryLog.partyMaster.gradeMaster.priorityValue<=5" 
								style="color:{{enquiryLog.partyMaster.gradeMaster.colorCode}} !important;">
						</span>
                            <h4 class="enqft"> {{enquiryLog.id!=null?'Edit':'Add'}} Enquiry {{enquiryLog.id!=null?'No':''}} 
                            	<span  class="enqft">{{enquiryLog.enquiryNo}}</span>
                            	(<span class="reqColor enqft">*</span><small class="opc-5 f-12b4 enqft"> Indicates Mandatory Fields</small>) 
                            </h4>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-5 col-sm-6 plr0">
                            <ul class="list-inline masopertion-action text-right">
								<!-- <li class="nomargin nopadding"
									ng-if="((enquiryLog.status=='Active' || enquiryLog.status=='Cancel') &&  enquiryLog.quotationNo==null && enquiryLog.id!=null)">
									<input class="magic-checkbox" type="checkbox"
									ng-model="enquiryLog.statusChange"
									ng-disabled="enquiryLog.status=='Cancel'"
									ng-change="enquiryCancelled(enquiryLog)" id="markOption">
									<label class="text custom-label text-inherit" for="markOption">
										{{!markOption?'Mark as Cancelled':'Cancelled'}} 
									</label>
								</li> -->
								<li class="pad-Pl0 pad-Pr0">
									<button type="button" tabIndex="-1" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
								</li>
								<li class="pad-Pl0 pad-Pr0">
									<input type="submit" tabIndex="-1" class="btn btn-primary btn-xs btn-property accent-btn" ng-disabled="disableSubmitBtn" ng-click="enquiryLog.id!=null?updateEnquiry():saveEnquiry()" value="{{enquiryLog.id!=null?'Update':'Save'}}">
								</li>
							</ul>
                        </div>
                    </div><!--panel heading ends-->
                    <div show-response></div>
                    <div class="panel-body pt0 enq-edit-body" id="service-panel" panel-height ng-nicescroll nice-scroll-object="niceObject" nice-option="{{ngScrollConfig}}">
                        <div class="row shade1 pt5">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-5">
                        <div class="row">     
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-if="action ==='ADD'">
                                <div class="row">
										<div class="form-group" ng-class="(enquiryLog.partyMaster != null && (enquiryLog.partyMaster.id != null || (enquiryLog.partyMaster.partyName.trim().length>0))) ?'col-xs-9 col-sm-9 col-md-9 col-lg-9':'col-xs-12 col-sm-12 col-md-12 col-lg-12'">
											<label>{{appMasterData['Party_Label']}}<span>*</span></label>
											<div class="select-auto">
												<input type="text" class="form-control" id="partyName" 
													input-focus="true"
													autocomplete="off" ng-model="enquiryLog.partyMaster"
													uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-on-select="selectedParty('salesCoordinator');"
													ng-blur="onEnquiryCustomerBlur()" typeahead-editable="true"
													typeahead-min-length="1" typeahead-wait-ms="500"
													typeahead-add-new="routePartyEvent('partyMaster')">
												<span class="select-arrow"><b></b></span>
											</div>
											<div>
												<span class="error-message"
													ng-show="errorMap.get('partyMaster')!=null"><small>
														{{errorMap.get('partyMaster')}} </small></span>
											</div>
										</div>
										<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 mart24px pl0" ng-show="enquiryLog.partyMaster != null && enquiryLog.partyMaster.id != null">
                                        <a  tabindex="-1" data-container="false" href="javascript:void(0)" class="selectPicker-sm enqIcon"  ng-click="navigateToEditParty('partyMaster')">
                                            <i class="fa icon-edit"   data-placement="auto right" bs-tooltip="appMasterData['Party_Label']=='Customer'?editCustomer:editParty"  style="font-size: 13px !important"></i>
                                        </a>
                                    </div>
                                    
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mart24px pl0 pl5" ng-show="enquiryLog.partyMaster != null && enquiryLog.partyMaster.id != null">
										<a  data-container="false" tabindex="-1" href="javascript:void(0)" class="selectPicker-sm enqIcon" ng-click="showTopRecords()" style=" border: 1px solid #e1e1e1; border-radius: 3px !important; padding-top:2px !important">
											<i class="fa fa-newspaper-o" data-placement="auto right"  bs-tooltip="recentListIcon" style="font-size: 13px !important"></i>
	                                    </a>
                        			</div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mart24px pr0" ng-show="enquiryLog.partyMaster != null && enquiryLog.partyMaster.id == undefined && enquiryLog.partyMaster.partyName != null && enquiryLog.partyMaster.partyName.trim().length>0 ">
                                        <a  data-container="false" id="iconUser" href="javascript:void(0)" class="selectPicker-sm  enqIcon"  ng-click="showCustomerModal();">
                                            <i class="fa fa-user" data-placement="auto right" bs-tooltip="addEnquiryCustomer"  style="font-size: 13px !important"></i>
                                        </a>
                                    </div>
                                </div><!--ROW ENDS-->
                            </div><!--RESPONSIVE COL-->
                        
                        
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-if="action ==='EDIT' && enquiryLog.partyCreated" >
                                <div class="row">
										<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 form-group">
											<label>{{appMasterData['Party_Label']}}<span>*</span></label>
											<div class="select-auto">
												<input type="text" class="form-control" id="partyName" 
													input-focus="true"
													autocomplete="off" ng-model="enquiryLog.partyMaster"
													uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-on-select="selectedParty('salesCoordinator');"
													ng-blur="onEnquiryCustomerBlur()" typeahead-editable="true"
													typeahead-min-length="1" typeahead-wait-ms="500"
													typeahead-add-new="routePartyEvent('partyMaster')">
												<span class="select-arrow"><b></b></span>
											</div>
											<div>
												<span class="error-message"
													ng-show="errorMap.get('partyMaster')!=null"><small>
														{{errorMap.get('partyMaster')}} </small></span>
											</div>
										</div>
										<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 mart24px pl0" ng-show="enquiryLog.partyMaster != null && enquiryLog.partyMaster.id != null">
                                        <a  tabindex="-1" data-container="false" href="javascript:void(0)" class="selectPicker-sm enqIcon"  ng-click="navigateToEditParty('partyMaster')">
                                            <i class="fa icon-edit"   data-placement="auto right" bs-tooltip="appMasterData['Party_Label']=='Customer'?editCustomer:editParty" style="font-size: 13px !important"></i>
                                        </a>
                                    </div>
                                    
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  mart24px pl0 pl5" ng-show="enquiryLog.partyMaster != null && enquiryLog.partyMaster.id != null">
										<a  data-container="false" tabindex="-1" href="javascript:void(0)" class="selectPicker-sm enqIcon" ng-click="showTopRecords()" style=" border: 1px solid #e1e1e1; border-radius: 3px !important; padding-top:2px !important">
											<i class="fa fa-newspaper-o" data-placement="auto right"  bs-tooltip="recentListIcon" style="font-size: 13px !important"></i>
	                                    </a>
                        			</div>
                                   
                                </div><!--ROW ENDS-->
                            </div><!--RESPONSIVE COL-->
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-if="action ==='EDIT' && !enquiryLog.partyCreated" >
                                <div class="row">
										<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 form-group">
											<label>{{appMasterData['Party_Label']}}<span>*</span></label>
											<div class="select-auto">
												<input type="text" class="form-control" id="partyName" 
													input-focus="true"
													 ng-model="enquiryLog.enquiryCustomer.name"
													>
											</div>
											<div>
												<span class="error-message"
													ng-show="errorMap.get('partyMaster')!=null"><small>
														{{errorMap.get('partyMaster')}} </small></span>
											</div>
										</div>
										
                                    <div class="col-xs-1 mt-25 plr0" >
                                        <a  data-container="false" id="iconUser" href="javascript:void(0)" class="selectPicker-sm"  ng-click="showCustomerModal();">
                                            <i class="fa fa-user" data-placement="auto right" bs-tooltip="addEnquiryCustomer"></i>
                                        </a>
                                    </div>
                                </div><!--ROW ENDS-->
                            </div><!--RESPONSIVE COL-->
                        
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                               
                                    <label class="">Sales Coordinator<span>*</span></label>
                                    <!-- <div class="select-auto">
										<input type="text" id="salesCoordinator" 
										auto-complete
											class="form-control"
											selected-value="employeeName" 
											render-item="employeeRender"
											ng-model="enquiryLog.salesCoOrdinator"
											input-focus="{{errorMap.get('salesCoOrdinator')!=null}}"
											call-fun="ajaxSalesCoordinatorEvent(param)"
											on-select="selectedSalesCordinator('salesMan');" />
									</div> -->
                                        <div class="select-auto">
											<input type="text" 
												class="form-control" id="salesCoordinator" 
												input-focus="{{errorMap.get('salesCoOrdinator')!=null}}"
												autocomplete="off"
												ng-model="enquiryLog.salesCoOrdinator"
												uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesCoordinatorEvent($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true" 
												 typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedSalesCordinator('salesMan');"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true"
												typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500" 
												>
												<span class="select-arrow"><b></b></span>
										</div>
                                        <div>
	                                        <span class="error-message" ng-show="errorMap.get('salesCoOrdinator')!=null">
	                                        	<small>
	                                            	{{errorMap.get('salesCoOrdinator')}}
	                                        	</small>
	                                        </span>
                                        </div>            
                                    </div>
                                    </div>
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                    <div class="row">     
                                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 form-group">
                                        <label class="">Salesman</label>
                                        <div class="select-auto">
											<input type="text" 
												class="form-control" id="salesMan" 
												input-focus="{{errorMap.get('salesman')!=null}}"
												autocomplete="off"
												ng-model="enquiryLog.salesman"
												uib-typeahead="lovObject as lovObject.employeeName for lovObject in $AutoCompleteService.getLocationBasedSalesmanList($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true" 
												 typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedSalesEmplyoee('receivedOn')"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true"
												typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500" 
												>
												<span class="select-arrow"><b></b></span>
										</div>
                                        <div>
                                            <span class="error-message" ng-show="errorMap.get('salesman')!=null">
	                                            <small>
	                                                {{errorMap.get('salesman')}}
	                                            </small>
                                            </span>
                                        </div>   
                                    
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 form-group">
								     
								     
								        <label class="">Enquiry Received on<span>*</span></label>
								                                        <div class="inputBox">
								                                            <input 	
								                                                      type="text"
								                                                      class="form-control"
								                                                      ng-model="enquiryLog.receivedOn" 
								                                                      input-focus="{{errorMap.get('receivedOn')!=null}}"
								                                                      datetimepicker
								                                                      datetimepicker-options="{{dateTimePickerOptionsLeft}}"
								                                                      ng-change="validateEnquiryLog(4);"
								                                                      date-callback="enquirySelectFocus('quoteBy')"
								                                                      id="receivedOn" >
								                                            <span class="inputIcon" tabindex="-1"><i class="icon-date" aria-hidden="true"></i></span>
								                                        </div>
								                                        <span class="error-message" ng-show="errorMap.get('receivedOn')!=null"><small>
								                                            {{errorMap.get('receivedOn')}}
								                                        </small></span>   
								     
								     </div>                                 
                                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4  form-group ">
							        
							                 <label class="text-inherit">Quote by Date</label>
							                                        <div class="inputBox">
							                                            <input 	
							                                                      type="text"
							                                                      id="quoteBy"
							                                                      class="form-control"
							                                                      ng-model="enquiryLog.quoteBy"
							                                                      ng-change="validateEnquiryLog(2);"
							                                                      input-focus="{{errorMap.get('quoteBy')!=null}}"
							                                                      datetimepicker
							                                                      datetimepicker-options="{{directiveDatePickerOptsLeft}}"
							                                                      date-callback="enquirySelectFocus('transport0')"
							                                                    >
							                                            <span class="inputIcon" tabindex="-1"><i class="icon-date" aria-hidden="true"></i></span>
							                                        </div>
							                                           <span class="error-message" ng-show="errorMap.get('quoteBy')!=null"><small>
							                                               {{errorMap.get('quoteBy')}}
							                                           </small></span>   
							        
							        </div>                             
                                </div>
                            </div><!--RESPONSIVE COL-->
                        </div><!--ROW ENDS-->
                          <div class="row line">
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 plr0">
                                <div class="tabs">
                                    <ul class="list-inline chromeTabs ml0">
                                        <li ng-repeat="servicetabObj in enquiryLog.enquiryDetailList track by $index"
                                        	class="cur-pointer" 
                                        	ng-click="clickTabIndex(servicetabObj,$index,'service')" 
                                        	data-placement="bottom"   
                                        	bs-tooltip 
                                        	style="outline:none";
                                        	data-title="{{servicetabObj.id?'Service # '+servicetabObj.id:'New Service'}}" 
                                        	ng-class="{'tabActive':enquiryLog.selectedTabIndex==$index}"
                                        	tabindex="-1">
                                            	{{servicetabObj.id?'Service - '+servicetabObj.serviceMaster.serviceCode:'New Service'}}
                                            <span  	data-placement="bottom" 
                                            		bs-tooltip="tabDelete"  
                                            		class="icon-delete cur-pointer rel"
                                                   	ng-if="enquiryLog.enquiryDetailList.length>1 && enquiryLog.enquiryDetailList[$index].id==null" 
                                                   	ng-click="deleteTabIndex($index)" tabindex="-1"></span>
                                        </li>
									
                                        <span data-placement="bottom" bs-tooltip="newTab"  tabindex="-1" ng-click="addNewService()" class="addtab cur-pointer rel"></span>
                                 	 </ul> 
                                    <div class="tabContent p00" set-tab-height>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="enquiryDetail in enquiryLog.enquiryDetailList track by $index">
                                                <div ng-if="enquiryLog.serviceAccessRights[$index].ishavingRole"
                                                ng-show="enquiryLog.selectedTabIndex==$index"
                                                 ng-include="'app/components/sales/enquiry/view/shipment_edit_page.html'"></div>
                                            </div>
                                       </div>
                                    </div>
                                    <!--TAB CONTENT ENDS-->
                                </div>
                            </div>
                       </div> <!--panel body ends-->
                    </div><!--panel ENDS-->
                   
                    <form-spinner spinner-status="spinner"></form-spinner>
                   
                    <div ng-hide="!showPartyAddress" class="wrapper-back-drop" ng-click="showPartyAddress = false"></div>
                   
                    <div ng-show="showPartyAddress" class="logs-transition sideView enqSideview">
                        <select-list-picker panel-title="panelTitle" selected="selectedItem" data="partyAddressCustomer"
                                            cancel-event="cancelPartyAddress()" click-event="selectedPartyAddress(param)"
                                            config="partyAddressConfig"></select-list-picker>
                    </div>
                    <div ng-hide="!topEnquiryConfig.showTopEnquiryFlag" class="wrapper-back-drop" ng-click="topEnquiryConfig.showTopEnquiryFlag = false"></div>
                    <div ng-show="topEnquiryConfig.showTopEnquiryFlag" class="logs-transition sideView enqSideview" style="top:40px !important">
 				 <div id="top-quotations-panel">
                    <div class="panel panel-default">
					    <div class="panel-heading flex align-middle align-justify">
					            <div class="panelTitle">
					                <div class="flex align-justify align-middle">
					                    <span>
					                    	<a href="javascript:void(0)" ng-click="topEnquiryConfig.showTopEnquiryFlag=false" class="list-panel-back" style="position: relative; top: 2px;">
					                    		<i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close" style="font-size:20px; margin-top:-5px"></i>
					                    	</a>
					                    </span>
					                    <h4 class="pl5" style="font-weight: bold">{{topEnquiryConfig.title}}</h4>
					                </div>
					            </div>
					    </div>
					    <div class="panel-body" id="top-enquiry-panel" panel-height ng-nicescroll nice-option="{cursorcolor: '#3F8DEB', cursorwidth: '8px',smoothscroll: true}">
					    <div class="row ptb-15 bor-btm-1" style="padding-top:1px !important">
					                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					                		<div  class="wrap-text" style="text-align:center">Recent Enquiry List</div>
					                	</div>
					    </div>
					        <div class="row">
					                <div class="row  nomargin ptb-15 bor-btm-1" ng-repeat="dataObj in recentEnquiryList track by $index" style="padding-top:1px !important">
					                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					                    	<div class="row  shade2" style="padding-bottom : 10px">
					                    		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
					                    		
					                    		
						                    		<a  ng-click="viewEnquiryDetailPage(dataObj.id)" 
	  						                    			style="padding-top: 7px !important; float:left; font-size:13px"
	  	                                         			class="hyperLink mb0 wrap-text">{{dataObj.enquiryNo}}</a>
	                                         			
	                                         	</div>
	                                         	<div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 pl0">		
	                                         		<h6 class="wrap-text">
                                        				<span  ng-show="dataObj.status == 'Active'" style="color : #ffd54f; font-weight: bold">
                                        					{{dataObj.status}}
                                        				</span>
                                        				<span ng-show="dataObj.status == 'Cancel'" style="color : #2196f3; font-weight: bold">
                                        					{{dataObj.status}}
                                        				</span>
                                        				<span ng-show="dataObj.status == 'Gained'" style="color : #2E7D32; font-weight: bold">
                                        					{{dataObj.status}}
                                        				</span>
                                        				<span ng-show="dataObj.status == 'Lost'" style="color : #ED2528; font-weight: bold">
                                        					{{dataObj.status}}
                                        				</span>
                                        			</h6>
                                        			</div>
                                        			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        				<div style = "margin-top: 9px; font-size: 13px;">
	                                         				{{dataObj.quotationNo}}
	                                         			</div>
	                                         			</div>
	                                         			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style = "margin-top: 9px; font-size: 13px;">
	                                         			
                                        				<span  ng-show="dataObj.quoteStatus == 'Pending' ||  dataObj.quoteStatus == 'ClientApproved' ||dataObj.quoteStatus == 'Approved' " style="color : #ffd54f; font-weight: bold">
                                        					{{dataObj.quoteStatus | QuotationStatus}}
                                        				</span>
                                        				<span ng-show="dataObj.quoteStatus == 'Rejected'" style="color : #2196f3; font-weight: bold">
                                        					{{dataObj.quoteStatus | QuotationStatus}}
                                        				</span>
                                        				<span ng-show="dataObj.quoteStatus == 'Gained'" style="color : #2E7D32; font-weight: bold">
                                        					{{dataObj.quoteStatus | QuotationStatus}}
                                        				</span>
                                    		    	</div>
					                    	</div>
					                    	<div class="row" style="padding-top: 5px">
					                    		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						                    		<span style="font-size:13px">{{dataObj.serviceCode}} ({{dataObj.originPortCode}} -> {{dataObj.destinationPortCode}})</span>
                                    			</div>
                                    			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        			
                                    			</div>
					                    	</div>
					                    </div>
					                </div>
					        </div>
					    </div>
					    <!--  <div class="panel-footer">
					     	
					     </div> -->
					</div>
					</div>
                </div>
                </div><!--panel ends-->
        </div> 
    </div> 
</div> 