<div class="container-fluid pl0 pr0 page-style resPortListPage">
    <div class="row ml0 mr0" >
        <div class="list-container col-xs-12 col-sm-12 col-md-12 col-lg-12 mainview" ng-show="enquiryLog.id==null" >
            <div class="row nomargin">
                <ul class="nav btn-tab2" >
                    <li class="respEnquiry" ng-class="detailTab=='active'?'activeBtn':''" ng-click="setSearch('active'); detailTab='active'">
                        Active({{activeTotalCount}})
                    </li>
                    <li class="respEnquiry" ng-class="detailTab=='quoteCreated'?'activeBtn':''" ng-click="setSearch('quote'); detailTab='quoteCreated'">
                        Quote Created({{quoteTotalCount}})
                    </li>
                    <li class="respEnquiry" ng-class="detailTab=='all'?'activeBtn':''" ng-click="setSearch('all'); detailTab='all'">
                        All({{allTotalCount}})
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                        <div ng-if="detailTab=='active'">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <section class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <div class="panelTitle">
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="hasAccess('SALES_ENQUIRY_ADD')?addEnquiry():''"><i class="icon-add opcfull"></i> Add Enquiry</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                                        </div>

                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right text-right">
                                            <i class="icon-settings"></i>
                                        </div>
                                    </section>
                                </div>
                                <div class="panel-body nav-tab-container panel-bodyres" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table 	data="enquiryArrList"
                                                        head="enquiryHeadActiveArr"
                                                        sort="sortSelection"
                                                        click-event="hasAccess('SALES_ENQUIRY_VIEW')?rowSelect(param,index):''"
                                                        search-event="changeSearch(param)"
                                                        sort-event="sortChange(param)"
                                                        page="page"
                                                        size="limit">
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div>
                        <div ng-if="detailTab=='quoteCreated'">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <section class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <div class="panelTitle">
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="hasAccess('SALES_ENQUIRY_ADD')?addEnquiry():''"><i class="icon-add opcfull"></i> Add Enquiry</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                                        </div>

                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right text-right">
                                            <i class="icon-settings"></i>
                                        </div>
                                    </section>
                                </div>
                                <div class="panel-body nav-tab-container  panel-bodyres" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table 	data="enquiryArrList"
                                                        head="enquiryHeadArr"
                                                        sort="sortSelection"
                                                        click-event="hasAccess('SALES_ENQUIRY_VIEW')?rowSelect(param,index):''"
                                                        search-event="changeSearch(param)"
                                                        link-event="rowLink(param)"
                                                        sort-event="sortChange(param)"
                                                        page="page"
                                                        size="limit">
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">

                                        <div class="pull-left">
                                            <ul class="list-inline">
                                                <li>Show</li>
                                                <li>
                                                    <select class="form-control legend-show-ctrl" ng-model="limit"
                                                            ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                    </select>
                                                </li>
                                                <li>Entries</li>
                                            </ul>
                                        </div>
                                        <div class="pull-right text-right">
                                            <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                                        </div>

                                </div>
                            </div><!--panel ends-->
                        </div>
                        <div ng-if="detailTab=='all'">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <section class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <div class="panelTitle">
                                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="hasAccess('SALES_ENQUIRY_ADD')?addEnquiry():''"><i class="icon-add opcfull"></i> Add Enquiry</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                                        </div>

                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right text-right">
                                            <i class="icon-settings"></i>
                                        </div>
                                    </section>
                                </div>
                                <div class="panel-body nav-tab-container  panel-bodyres" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table 	data="enquiryArrList"
                                                        head="enquiryHeadArr"
                                                        sort="sortSelection"
                                                        click-event="hasAccess('SALES_ENQUIRY_VIEW')?rowSelect(param,index):''"
                                                        search-event="changeSearch(param)"
                                                        sort-event="sortChange(param)"
                                                        page="page"
                                                        size="limit">
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">

                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                                    </div>

                                </div>
                            </div><!--panel ends-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>