<div class="row">
    <div class="col-xs-12 mb-9">
        <div class="flex align-justify align-middle">
            <div>
                <div class="btngrp">
                    <button class="btn btn-xs btn-property btn-gray" ng-click="back()"><i class="icon-back-menu"></i> Back </button>
                    <button class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="add()"><i class="icon-add"></i> Add IATA Rates - Air</button>
                </div>
            </div>
            <!-- <div>
                <ul class="list-inline">
                    <li>
                        <ul class="list-inline li-p0">
                             <li>{{selectedRowIndex+1}}</li>
                            <li>of</li>
                            <li>{{totalRecord}}</li>
                        </ul>
                    </li>
                    <li class="pr0">
                        <ul class="list-inline next-prev">
                            <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                            <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                        </ul>
                    </li>
                </ul>
            </div> -->
        </div>
    </div><!--COL ENDS-->
</div>
<div class="panel panel-default detail-transition" >
    <div class="panel-heading flexTitle">
        <div>
            <h4>IATA Rates - Air</h4>
        </div>
        <div>
            <ul class="list-inline text-right">
                <li><a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"
                        ><i data-placement="bottom"   bs-tooltip="activity"  class="icon-logs"></i></a></li>
                <li><a href="javascript:void(0)" ng-click="editIataRate()"
                       class="list-panel-edit-btn cursorPt"><i class="icon-edit"  data-placement="bottom"   bs-tooltip="edit" ></i></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body pt0" panel-height-fit ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
        <div class="">
            <div class="row  metadata-detail overflow-hidden">
                <div class="col-xs-12 padlr-0 bor-fix ">
                    <div class="col-xs-2 ptb-15">
                        <span>Carrier</span>
                        <h6><img ng-show="iataRateMaster.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{iataRateMaster.carrierMaster.image}}" style="padding-right:3px;" width="23" height="20">{{iataRateMaster.carrierMaster.carrierName}}</h6>
                    </div>
                    <div class="col-xs-2 ptb-15">
                        <span>Airport of Loading</span>
                        <h6>{{iataRateMaster.pol.portName}}</h6>
                    </div>
                    <div class="col-xs-2 ptb-15">
                        <span>Valid From</span>
                        <h6>{{dateToString(iataRateMaster.validFromDate)}}</h6>
                    </div>
                    <div class="col-xs-2 ptb-15">
                        <span>Valid To</span>
                        <h6>{{dateToString(iataRateMaster.validToDate)}}</h6>
                    </div>
                    <div class="col-xs-2 ptb-15">
                        <span>Currency</span>
                        <h6>{{iataRateMaster.currencyMaster.currencyCode}}</h6>
                    </div>
                    <div class="col-xs-2 ptb-15">
                        <span>File Name</span>
                        <h6 class=" cur-pointer"> <span class="hyperLink">IATA Rates.csv</span> <span data-placement="bottom"
                                                                                 bs-tooltip="download"
                                                                               class="ml-8 icon-download"></span> </h6>
                    </div>
                </div>

            </div>
            <div class="row line">
                <hr>
            </div>
            <div class="row bor-0">
                <div class="col-xs-12 nopadding">
                    <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="tabViewRoles('IATARates')">
                        <li data-menu-item="IATARates">
                            <button type="button" class="btn" ng-class="Tabs=='IATARates'?'active':'btn-normal'" ng-click="tabViewRoles('IATARates')">IATA Rates</button>
                        </li>
                        <li data-menu-item="Attachments">
                            <button type="button" class="btn" ng-class="Tabs=='Attachments'?'active':'btn-normal'" ng-click="tabViewRoles('Attachments')">Attachments</button>
                        </li>
                        <li data-menu-item="Remarks">
                            <button type="button" class="btn" ng-class="Tabs=='Remarks'?'active':'btn-normal'" ng-click="tabViewRoles('Remarks')">Remarks</button>
                        </li>
                        <li data-more-menu-item >
                            <button ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                        </li>
                    </ul><!--TAB MENUS ENDS-->
                    <div class="tab-content" >
                        <div ng-show="Tabs=='IATARates'">
                            <div class="row nomargin pt10 ">

                                <div class="col-xs-12 fgmb0 ptb-15">
                                    <div class="table-responsive">
                                        <table class="table table-inline">
                                            <thead>
                                                <tr>
                                                    <th class="inl_sno">#</th>
                                                    <th class="inl_l">Airport of Discharge</th>
                                                    <th class="inl_m text-right">Min Amount</th>
                                                    <th class="inl_s text-right">Normal</th>
                                                    <th class="inl_s text-right">+45</th>
                                                    <th class="inl_s text-right">+100</th>
                                                    <th class="inl_s text-right">+300</th>
                                                    <th class="inl_s text-right">+500</th>
                                                    <th class="inl_s text-right">+1000</th>
                                                </tr>
                                                 </thead>
                <tbody class="bor-0">
                                                
                                                
                                                
                                                <tr>
                    <td><span class="icon-search"></span></td>
                    <td><input type="text" class="form-control" ng-model="iataRateChargeSearch.pod.portName"></td>
                    <td><input type="text" class="text-right form-control" ng-model="iataRateChargeSearch.minAmount"></td>
                    <td><input type="text" class="text-right form-control" ng-model="iataRateChargeSearch.normal"></td>
                    <td><input type="text" class="text-right form-control" ng-model="iataRateChargeSearch.plus45"></td>
                    <td><input type="text" class="text-right form-control" ng-model="iataRateChargeSearch.plus100"></td>
                    <td><input type="text" class="text-right form-control" ng-model="iataRateChargeSearch.plus300"></td>
                    <td><input type="text" class="text-right form-control" ng-model="iataRateChargeSearch.plus500"></td>
                    <td><input type="text" class="text-right form-control" ng-model="iataRateChargeSearch.plus1000"></td>
                    
                </tr>
                </tbody>
                                           
                                            <tbody>
												<tr
													ng-repeat="iataRateCharge in iataRateMaster.iataRateChargeList | filter:iataRateChargeSearch:startsWith track by $index">
													<td>{{$index + 1}}</td>
													<td>{{iataRateCharge.pod.portName}} ({{iataRateCharge.pod.portCode}})</td>
													<td class="text-right ng-binding">{{currencyFormat(iataRateMaster.currencyMaster,iataRateCharge.minAmount)}}</td>
													<td class="text-right ng-binding">{{currencyFormat(iataRateMaster.currencyMaster,iataRateCharge.normal)}}</td>
													<td class="text-right ng-binding">{{currencyFormat(iataRateMaster.currencyMaster,iataRateCharge.plus45)}}</td>
													<td class="text-right ng-binding">{{currencyFormat(iataRateMaster.currencyMaster,iataRateCharge.plus100)}}</td>
													<td class="text-right ng-binding">{{currencyFormat(iataRateMaster.currencyMaster,iataRateCharge.plus300)}}</td>
													<td class="text-right ng-binding">{{currencyFormat(iataRateMaster.currencyMaster,iataRateCharge.plus500)}}</td>
													<td class="text-right ng-binding">{{currencyFormat(iataRateMaster.currencyMaster,iataRateCharge.plus1000)}}</td>
												</tr>
											</tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div><!--Accounting TAB ENDS-->
                        <div ng-show="Tabs=='Attachments'">
                            <div class="row nomargin pt10">
                                <div class="col-xs-12 padlr-0">
                                    <attachment-section-simple 
                                 			  is-edit = "false" is-delete = "false"
                                            	table-data="iataRateMaster.attachmentList" 
                                            	ng-if="iataRateMaster.attachmentList.length>0" 
                                            	attachment-config="attachConfig" 
                                            	download-fn="downloadAttach(param)"
                                            	fn-role="roleAccess(param)"
                                                download-role="$roleConstant.CRM_IATA_RATES_AIR_ATTACHMENT_DOWNLOAD"
                                            	>
                                            </attachment-section-simple>
                                            <div class="col-xs-12 " ng-show="!iataRateMaster.attachmentList || iataRateMaster.attachmentList.length==0">
												<empty-record ng-if="iataRateMaster.attachmentList.length==0" icon="attachment" text="Looks like there are no attachment records here"></empty-record>
										</div>
                                            
                                </div>
                            </div>
                        </div>
                        <div ng-show="Tabs=='Remarks'">
                            <div class="row nomargin pt10">
                                <div class="col-xs-12">
                                    <p class="opc-5">{{iataRateMaster.remark}}</p>
                                </div>
                            </div>
                        </div>

                    </div><!--TAB CONTENT TAB ENDS-->
                </div><!--Col ends-->
            </div><!--row ends-->
        </div>
        <div class="logs-view logs-transition width42per" ng-show="showHistory">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-left">
                        <div class="panelTitle">
										<span>
											<a  href="javascript:void(0)" ng-click="showHistory=false"
                                               class="list-panel-back"><i data-placement="bottom"   bs-tooltip="close" class="icon-close-detail"></i></a>
										</span>
                            <span>Activity</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
                    <div class="card">

                        <ul class="list-inline card-cell">
                            <li>
							  <hm-init-icon customer-name="iataRateMaster.systemTrack.createUser"></hm-init-icon>
							</li>
                            <li>
                                <ul class="list-unstyled">
                                    <li><b>{{iataRateMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                    <li class="span text-muted">{{dateAndTimeToString(iataRateMaster.systemTrack.createDate)}}</li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <div class="card">
                        <ul class="list-inline card-cell">
                           <li>
							  <hm-init-icon customer-name="iataRateMaster.systemTrack.createUser"></hm-init-icon>
							</li>
                            <li>
                                <ul class="list-unstyled">
                                    <li><b>{{iataRateMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                    <li class="span text-muted">{{dateAndTimeToString(iataRateMaster.systemTrack.lastUpdatedDate)}}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>