<div>
	<div class="table-responsive" ng-style="dropStyle">
		<table class="table table-inline-nopad" sm-table-responsive watch-data="tableData">
			<thead class="borderthead">
				<tr>
					<th class="inl_xxs">#</th>
					<th class="inl_xxs">Date<span class="reqColor">*</span></th>
					<th class="inl_s">Trigger Type<span class="reqColor">*</span></th>
					<th class="inl_s">Trigger<span class="reqColor">*</span></th>
					<th class="inl_l">Notes<span class="reqColor">*</span></th>
					<th class="inl_xxs">Follow up Date</th>
					<th class="inl_xs">Follow up Completed</th>
					<th class="inl_xs">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-nofloat="true" tableData ng-class="{'error-cell  text-center':errorObject.errRow}">
						<span ng-show="errorObject.errRow"> <a
							href="javascript:void(0);" data-placement="right"
							bs-tooltip="errorList"
							ng-click="errorShow(errorObject,$index)"
							class="color-white"> 
							<img src="../../../../assets/images/error.png" />
						</a>
					</span> <span ng-show="!errorObject.errRow"> {{$index+1}} </span>
					</td>
					<td data-headtitle="Date" data-required="true" data-width="tw33per">
						<div class="inputBox">
							<input id="{{indexKey+'statusDate'+$index}}" type="text"
								date-callback="statusSelectFocus(indexKey+'triggerTypeName'+$index)"
								ng-class="{'error-control':errorObject.date}"
								class="form-control" ng-model="statusUpdateObj.date"
								datetimepicker
								datetimepicker-options="{{directiveDateTimePickerOpts}}"
								ng-focus="openEvent(true)"
								ng-disabled="statusUpdateObj.id!=null"
								ng-blur="openEvent(false)" date-visible="openDatePicker(param)"
								input-focus="{{errorObject.date}}"
								ng-disabled="!editRole&&statusUpdateObj.id!=null"> <span
								class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
						</div>

					</td>
					<td data-headtitle="Trigger Type Name" data-required="true"
						data-width="tw33per">
						<div class="select-auto">
							<input type="text" class="form-control" id="{{indexKey+'triggerTypeName'+$index}}" 
								ng-class="{'error-control-auto':errorObject.triggerTypeMaster}" 
								autocomplete="off" ng-model="statusUpdateObj.triggerTypeMaster" 
								uib-typeahead="lovObject as lovObject.triggerTypeName for lovObject in ajaxTriggerTypeMasterEvent($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectTriggerType(statusUpdateObj);goToNext(indexKey+'triggerName'+$index)" 
								typeahead-focus-on-select="false"
								typeahead-focus-first="true" typeahead-editable="false"
								typeahead-min-length="1" typeahead-wait-ms="500">
							<span class="select-arrow"><b></b></span>
						</div>
					</td>
					<td data-headtitle="Trigger Name" data-required="true"
						data-width="tw33per">
						<div class="select-auto">
							<input type="text" class="form-control" id="{{indexKey+'triggerName'+$index}}" 
									ng-class="{'error-control-auto':errorObject.triggerMaster}" 
									ng-change="statusUpdateObj.note=statusUpdateObj.triggerMaster.note" 
									autocomplete="off" ng-model="statusUpdateObj.triggerMaster" 
									uib-typeahead="lovObject as lovObject.triggerName for lovObject in ajaxTriggerMasterEvent($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="selectTriggerMaster(statusUpdateObj.triggerMaster);goToNext(indexKey+'notesStatusUpdate'+$index)" 
									typeahead-focus-on-select="false"
									typeahead-focus-first="true" typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500">
								<span class="select-arrow"><b></b></span>
						</div>
					</td>
					<td data-headtitle="Note" data-width="tw33per" valign="middle">
							<input type="text" class="form-control" ng-class="{'error-control':errorObject.note}"
							id="{{indexKey+'notesStatusUpdate'+$index}}"  ng-model="statusUpdateObj.note" maxlength="500"/>
					</td>
					<td data-headtitle="Follow up Date" data-width="tw33per">
						<div class="inputBox">
							<input id="{{indexKey+'followUpDateSU'+$index}}" type="text"
								class="form-control"
								ng-class="{'error-control':errorObject.followUpDate}"
								ng-model="statusUpdateObj.followUpDate" datetimepicker
								datetimepicker-options="{{directiveDatePickerOpts}}"
								ng-focus="openEvent(true)"
								date-callback="statusSelectFocus(indexKey+'followUpCompleted'+$index)"
								ng-disabled="statusUpdateObj.id!=null"
								ng-blur="openEvent(false)" date-visible="openDatePicker(param)">
							<span class="inputIcon"><i class="icon-date"
								aria-hidden="true"></i></span>
						</div>
					</td>
					<td data-headtitle="Follow up Completed" data-width="tw33per">
						<select id="{{indexKey+'followUpCompleted'+$index}}"
						ng-init="statusUpdateObj.completed==true || statusUpdateObj.completed=='Yes' ?statusUpdateObj.completed=true:statusUpdateObj.completed=false"
						class="form-control last-child"
						ng-disabled="statusUpdateObj.id!=null && statusUpdateObj.completed==true || statusUpdateObj.serviceUid!=currentServiceUid && statusUpdateObj.id!=null "
						ng-class="{'error-control':errorObject.completed}"
						ng-options="item.id as item.title for item in toggleArr"
						ng-model="statusUpdateObj.completed"
						ng-disabled="!editRole&&statusUpdateObj.id!=null"
						>
					</select>
					</td>
					<td data-nofloat="true" data-action="true" class="verticalaln">
						<ul class="list-inline text-center sendIcon"  ng-click="fnRole({param:addRole})?saveObj(statusUpdateObj):''">
							<li class="padright0 " >
                           		<a aria-hidden="true">
                           		<img class="img-circle img100per" src="../../../../assets/images/send_icon.png"
																 /></a>
                            </li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/ng-template" id="errorPopUp.html">
        <div class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header nopadding">
                        <div class="row plr14px">
                            <div class="col-xs-6">
                                <h4>Following Error List</h4>
                            </div>
                            <div class="col-xs-6 mt-7">
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body pt35 pb35">
                        <ul>
                            <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
