<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row ">
        <div class="col-md-12 col-lg-8 col-sm-12 col-xs-12" >
        <form role="form"  id="carriermasterform" name="carriermasterform"
              ng-submit="carrierMaster.id!=null?update():save()">
            <div class="panel panel-default masOpertion">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{carrierMaster.id!=null?'Edit':'Add'}} Carrier </h4>
                    </div>
                    <div>
                        <div class="btngrp">

                                <button type="button" class="btn cancel-btn" ng-click="cancel()" tabindex="0">Cancel</button>

                                <input type="submit" class="btn accent-btn" value="{{carrierMaster.id!=null?'Update':'Save'}}" tabindex="0">

                        </div>
                    </div>
                </div>
                <div class="panel-body half-master-edit" id="carrier-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    
                    <div class="pad-15">
                     <client-error message="clientMessage"></client-error>
                        <div show-response></div>
                        <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory fields</small></div>
                        <span class="error-message" ng-show="errorMap.get('tabError')!=null"><small>{{errorMap.get('tabError')}}</small></span>
                     </div>


						<div class="row">
					<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 form-group">
							<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin pl0">
								
										<label class="w-100 custom-label">Transport Mode<span class="reqColor">*</span></label> 
										<select class="form-control"
											id="transportMode"
											input-focus="{{carrierMaster.id==null?true:false}}"
											ng-disabled="carrierMaster.id!=null?true:false"
											ng-options="option for option in enum['TransportMode']"
											ng-change="modeSelect()"
											ng-model="carrierMaster.transportMode">
										</select> 
										<span class="error-message" ng-show="errorMap.get('transportMode')!=null"><small>{{errorMap.get('transportMode')}}</small></span>
								
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin pl0">
							  <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input input-focus = "{{carrierMaster.id!=null?true:false}}"  type="text" class="form-control" id="carrierName"
                                       name="carrierName" ng-change="validateCarrierMaster(1)"
                                       ng-model="carrierMaster.carrierName"
                                       ng-class="{'error-control':errorMap.get('carrierName')!=null}"
                                       maxlength="100" 
                                       >
                               <div>
									<span class="error-message" ng-show="errorMap.get('carrierName')!=null"><small>{{errorMap.get('carrierName')}}</small></span>
								</div>
								
							</div>
							</div>
							<div class="row">
							 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin pl0 mt-15">
                              <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input
                                            type="text"
                                            id="carrierCode"
                                            name="carrierCode"
                                            input-focus = "{{errorMap.get('carrierCode')!=null}}"
                                            class="form-control "
                                            ng-class="{'error-control':errorMap.get('carrierCode')!=null}"
                                            ng-change="validateCarrierMaster(2)"
                                            ng-model="carrierMaster.carrierCode"
                                            minlength="2"
                                            maxlength="10"
                                            capitalize
                                            ng-disabled="carrierMaster.id!=null">
                                    <div>
                                        <span class="error-message" ng-show="errorMap.get('carrierCode')!=null"><small>{{errorMap.get('carrierCode')}}</small></span>
                                    </div>

                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin pl0 mt-15">
                        <label class="w-100 custom-label">Messaging Type</label> 
										<select class="form-control"
											id="messagingType"
											ng-options="option for option in enum['EdiMessagingFor']"
											ng-model="carrierMaster.messagingType">
										</select> 
										<span class="error-message" ng-show="errorMap.get('messagingType')!=null"><small>{{errorMap.get('messagingType')}}</small></span>
							</div>
							</div>
							<div class="row">
							 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin pl0 mt-15" ng-if="carrierMaster.transportMode!='Air'">
                               <label class="custom-label">Carrier No</label>
                                    <input 
                                    	ng-change="validateCarrierMaster(3)" 
                                    	input-focus = "{{errorMap.get('carrierNo')!=null}}"
                                        type="text" 
                                        class="form-control"
                                        name="carrierNo" 
                                        ng-class="{'error-control':errorMap.get('carrierNo')!=null}"
                                        ng-model="carrierMaster.carrierNo"
                                        maxlength="10">
                                    <div>
                                        <span class="error-message" ng-show="errorMap.get('carrierNo')!=null"><small>{{errorMap.get('carrierNo')}}</small></span>
                                    </div>

                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin pl0 mt-15" ng-if="carrierMaster.transportMode=='Air'">
                                    <label  class="custom-label">Carrier No<span class="reqColor">*</span></label>
                                    <input 	
                                  			type="text" 
                                  			class="form-control "
                                  			ng-change="validateCarrierMaster(3)" 
                                  			input-focus = "{{errorMap.get('carrierNo')!=null}}"
                                        	name="carrierNoAir"  
                                        	ng-class="{'error-control':errorMap.get('carrierNo')!=null}"
                                        	ng-model="carrierMaster.carrierNo"
                                        	maxlength="3">
                                    <div>
                                               <span class="error-message" ng-show="errorMap.get('carrierNo')!=null"><small>{{errorMap.get('carrierNo')}}</small></span>
                                    </div>
                                </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin pl0 mt-15" ng-show="carrierMaster.id!=null">
                     
                                    <label class="w-100 custom-label">Status</label>
                                    <select
                                            class="form-control status " id="status"
                                            ng-class="setStatus(carrierMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="carrierMaster.status" >
                                    </select>
                     		</div>
							</div>
							</div>
							<div class="col-sm-3 cols-xs-3 cols-md-3 col-lg-3 form-group nomargin pl0">
								<div class="col-sm-12 cols-xs-12 cols-md-12 col-lg-12 form-group nomargin pl0">
               					<label class="custom-label ">Upload Image </label>
								<div	 ng-show="uploadText == true && isBusy != true" 
										 ngf-drop 
										 ngf-select 
										 ng-model="image"
                               			 ngf-drag-over-class="'dragover'" 
                               			 ngf-multiple="false" 
                               			 ngf-allow-dir="true"
                               			 accept="image/*" 
                               			 ng-change="uploadImage(image)"
                               			 ngf-pattern="'image/*'" 
                               			 class="file-drop-box">
		                                <div class="col-md-12 text-center">
		                                    <ul class="list-unstyled">
		                                        <li>Drop Here</li>
		                                        <li>Or</li>
		                                        <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
		                                    </ul>
		                                </div>
								</div>
								 <div ng-show="!uploadText && isBusy ==true" class="rel img-box">
	                                <attach-Spinner  spinner-status="true"></attach-Spinner>
	                            </div>
								<div 
									ng-show="uploadText == false && isBusy != true" 
									ngf-select 
									ngf-drop 
									ng-model="image" 
									ngf-multiple="false" 
									ng-change="uploadImage(image)"
								    class="rel img-box" 
								    ng-mouseover="showBackDrop=true" 
								    ng-mouseleave="showBackDrop=false">
	                                
	                                <img ng-src="data:image/jpeg;base64,{{carrierMaster.image}}" class="display-block">
	                                <div class="wrapper-back-drop hide-transition" ng-show="showBackDrop">
                                        <span class="cursorPt overlay-img-btn" 
                                        	ngf-select ngf-drop ng-model="image" 
                                        	ngf-multiple="false" 
                                        	ng-change="uploadImage(image)">
                                            <i class="fa fa-upload"></i>
                                        </span>
                               		</div>
               				   </div>
                        	</div>

						</div>
						</div>
		
                    
                            <div class="row nomargin" ng-if="carrierMaster.transportMode=='Air' || carrierMaster.transportMode=='Ocean'">
                               <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 nomargin nopadding"> 
                                <div class="col-xs-6 nomargin  pl0 " ng-if="carrierMaster.transportMode=='Air'">
                                    <label class="custom-label">ICAO Code</label>
                                    <input 	
                                    		type="text"   
                                    		ng-change="validateCarrierMaster(4)"
                                           	class="form-control "
                                           	id="iataCode" 
                                           	name="iataCode"
                                            ng-model="carrierMaster.iataCode" 
                                            input-focus="{{errorMap.get('iataCode')!=null}}"
                                          	ng-class="{'error-control':errorMap.get('iataCode')!=null}"
                                           	maxlength="10">
                                    <div>
                                           <span class="error-message" ng-show="errorMap.get('iataCode')!=null"><small>{{errorMap.get('iataCode')}}</small></span>
                                    </div>
                                </div>
                                
                                <div class="col-xs-6 pl0" ng-if="carrierMaster.transportMode=='Air'">
                                    <label>Available Pricing slab</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':!carrierMaster.isPlus300}">+300</li>
                                        <li class="v-align-top">
                                            <switch
                                                    id="enabled"
                                                    name="enabled"
                                                    ng-model="carrierMaster.isPlus300"
                                                    class="green">
                                            </switch>
                                        </li>
                                        <li ng-class="{'opc-5':carrierMaster.isPlus300}">+250</li>
                                    </ul>
                                </div>
                                </div>
                                <div class="col-xs-4 nomargin pl0" ng-if="carrierMaster.transportMode=='Ocean'">
                                    <label class="custom-label">SCAC Code</label>
                                    <input 
                                    		
                                    		type="text"  
                                    		ng-change="validateCarrierMaster(5)"
                                    		class="form-control" 
                                    		id="scacCode" 
                                    		name="scacCode"
                                     		ng-model="carrierMaster.scacCode" 
                                     		input-focus = "{{errorMap.get('scacCode')!=null}}"
                                   			ng-class="{'error-control':errorMap.get('scacCode')!=null}"
                                    		maxlength="10">
                                    <div>
                                           <span class="error-message" ng-show="errorMap.get('scacCode')!=null"><small>{{errorMap.get('scacCode')}}</small></span>
                                    </div>
                                </div>
         
                            </div>
                        
                    
                            
                         

                    <div class="row tabBox noborder">
                        <div class="col-md-12 pl0 pr0">
                            <ul class="nav btn-tabs mt-15" role="tablist" ng-init=" clickOnTabView('Address')">
                                <li>
                                    <button type="button"  tabindex="-1" class="btn" ng-click="clickOnTabView('Address');navigateToNextField('location0')" ng-class="detailTab=='Address'?'active':'btn-normal'" >Address</button>
                                </li>
                                <li>
                                    <button type="button" tabindex="-1" class="btn" ng-click="clickOnTabView('Edi');navigateToNextField('ediType0')" ng-class="detailTab=='Edi'?'active':'btn-normal'">EDI</button>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content remPad">
                                <div role="tabpanel" ng-class="{'active' : detailTab=='Address', '' : detailTab!='Address'}" class="tab-pane p10" id="address" >
                                 
                                    <carrier_address_map
                                            table-data="carrierMaster.addressList"
                                            fn-role="roleAccess(param)"
                                            add-role="$roleConstant.MASTER_GENERAL_CARRIER_ADDRESS_CREATE"
                                            edit-role="$roleConstant.MASTER_GENERAL_CARRIER_ADDRESS_MODIFY"
                                            delete-role="$roleConstant.MASTER_GENERAL_CARRIER_ADDRESS_DELETE"
                                            table-check="addressInlineValid">
                                    </carrier_address_map>
                                </div>
                                <div role="tabpanel" class="tab-pane p10" ng-class="{'active' : detailTab=='Edi', '' : detailTab!='Edi'}" id="edi">
                                    <edi-map-table
                                            table-data="carrierMaster.ediList"
                                            fn-role="roleAccess(param)"
                                            add-role="$roleConstant.MASTER_GENERAL_CARRIER_EDI_CREATE"
                                            edit-role="$roleConstant.MASTER_GENERAL_CARRIER_EDI_MODIFY"
                                            delete-role="$roleConstant.MASTER_GENERAL_CARRIER_EDI_DELETE"
                                            table-check="ediIsValid">
                                    </edi-map-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--panel body ends-->
            </div><!--panel ends-->
        </form>
    </div><!--col ends-->
    </div>
    
                        
</div>


