<div class="container-fluid resPortListPage pl0 pr0">
	<div class="row ml0 mr0">
		<div ng-show="deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12" >
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()"><i class="icon-add"></i> Add Carrier</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
				<div show-response></div>
				<div success-message></div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 	data="carrierArr"
										head="carrierHeadArr"
										sort="sortSelection"
										click-event="rowSelect(param)"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page" size="limit" >
						</super-table>
					</div>

				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit"
										ng-change="limitChange(limit)" ng-options="v for v in limitArr">

								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12  m-pl0">
			<div class="panel panel-default detail-transition" ng-show="carrierMaster.id!=null">
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom"   bs-tooltip="back" href="javascript:void(0)" ng-click="cancel()"

								   class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<span>Carrier</span>
						</div>
					</div>
					<div>
						<ul class="list-inline">
							<!--<li><i class="icon-settings"></i></li>-->
							<li>
								<a
								   href="javascript:void(0)"
								   ng-class="{'active-activityBtn':showLogs}" ng-click="showLogs=!showLogs">
								   <i class="icon-logs"
									  data-placement="bottom"
									    bs-tooltip="activity">
							       </i>
							    </a>
							</li>
							<li><a data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)"
									ng-click="edit()"
								   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)"
								   ng-click="deleteCarrier()" class="list-panel-edit-btn"><i
									class="icon-delete cursorPt"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="showLogs=false">
						
							<div class="row metadata-detail">
							<div class="col-xs-6 pl0">
								<span >Name</span>
								<h5 >{{carrierMaster.carrierName}}</h5>
							</div>
							 <div class="col-xs-6 mt10">
								
								<div class="rel img-box30">
									<img  data-ng-src="data:image/png;base64,{{carrierMaster.image}}" style="width: 100%; height: 100%;">
								</div>
							</div>
							</div>
						
						<div class="row nopadding">

								<div class="col-xs-6 ptb-15">
									<span >Code</span>
									<h5 >{{carrierMaster.carrierCode}}</h5>
								</div>
								<div class="col-xs-6 ptb-15">
									<span >Status</span>
									<show-status status="{{carrierMaster.status}}"></show-status>
								</div>

						</div>
						<div class="row noborder nopadding">
							<div class="col-xs-6 ptb-15">
								<span >Transport Mode</span>
								<h5 >{{carrierMaster.transportMode}}</h5>
							</div>
							<div class="col-xs-6 ptb-15" ng-show="carrierMaster.carrierNo">
								<span >Carrier No</span>
								<h5 >{{carrierMaster.carrierNo}}</h5>
							</div>
							<div class="col-xs-6 ptb-15" ng-show="carrierMaster.iataCode!=null">
								<span >ICAO Code</span>
								<h5 >{{carrierMaster.iataCode}}</h5>
							</div>
							<div class="col-xs-6 ptb-15" ng-show="carrierMaster.scacCode!=null">
								<span >SCAC Code</span>
								<h5 >{{carrierMaster.scacCode}}</h5>
							</div>
							<div class="col-xs-6 ptb-15">
								<span >Available Pricing Slab</span>
								<h5 >{{carrierMaster.isPlus300 ? '+250' : '+300'}}</h5>
							</div>
						</div>
						<div class="row tabBox">
							<div class="col-md-12 pl0 pr0">
								<ul class="nav btn-tabs mt-15" role="tablist" ng-init="clickOnTabView('Address')">
									<li>
										<button type="button" class="btn" ng-click="clickOnTabView('Address')" ng-class="detailTab=='Address'?'active':'btn-normal'">Address</button>
									</li>
									<li>
										<button type="button" class="btn" ng-click="clickOnTabView('Edi')" ng-class="detailTab=='Edi'?'active':'btn-normal'">EDI</button>
									</li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content remPad">
									<div role="tabpanel" ng-class="{'active' : detailTab=='Address', '' : detailTab!='Address'}" class="tab-pane p10" id="address">
										<div class="table-responsive" ng-show="carrierMaster.addressList.length>0">
											<table  class="table table-inline mb0" sm-table-responsive watch-data="carrierMaster.addressList">
											<thead>
												<tr>
													<th class="inl_sno">#</th>
													<th class="inl_m">Location</th>
													<th class="inl_l">Carrier Agent</th>
													<th class="inl_m">Account No</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="address in carrierMaster.addressList track by $index">
													<td  data-nofloat="true">{{$index+1}}</td>
													<td data-headtitle="Location" data-width="tw30per">{{address.locationMaster.locationName}}</td>
													<td data-headtitle="Carrier Agent" data-width="tw30per">{{address.partyMaster.partyName}}</td>
													<td data-headtitle="Account No" data-width="tw30per">{{address.accountNumber}}</td>
												</tr>
											
											</tbody>
										</table>
										</div>
										<empty-record ng-show="!carrierMaster.addressList || carrierMaster.addressList.length==0" icon="address" text="Looks like there are no address records here"></empty-record>
									</div>
									<div role="tabpanel" class="tab-pane" ng-class="{'active' : detailTab=='Edi', '' : detailTab!='Edi'}" id="edi" >
										<div class="table-responsive" ng-show="carrierMaster.ediList.length>0">
											<table  class="table table-inline mb0" sm-table-responsive watch-data="carrierMaster.ediList">
											<thead>
											<tr>
												<th class="inl_sno">#</th>
												<th class="inl_m">EDI Type</th>
												<th class="inl_m">EDI Sub Type</th>
												<th class="inl_m">EDI Value</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="edi in carrierMaster.ediList track by $index">
												<td data-nofloat="true">{{$index+1}}</td>
												<td data-headtitle="EDI Type" data-width="tw30per">{{edi.ediType}}</td>
												<td data-headtitle="EDI Sub Type" data-width="tw30per">{{edi.ediSubtype}}</td>
												<td data-headtitle="EDI Value" data-width="tw30per">{{edi.ediValue}}</td>
											</tr>

											</tbody>
										</table>
										</div>
										<empty-record ng-show="!carrierMaster.ediList || carrierMaster.ediList.length==0" icon="edi" text="Looks like there are no edi records here"></empty-record>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="logs-view logs-transition" ng-show="showLogs">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="showLogs=false"
											   class="list-panel-back">
												<i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close" ></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
								
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="carrierMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled">
												<li><b>{{carrierMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(carrierMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="carrierMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{carrierMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(carrierMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
