<div class="panel-body pl0 pr0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
	<div class="row nomargin">
		<div class="col-xs-12 pl0 pr0">
    <div class="col-xs-8 colsm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-md-offset-2">
				<form class="form-horizontal">
					<div style="padding-top: 10px;">
						<div class="form-group mag-btm">
							<label class="col-sm-4 col-md-3 pl0 control-label">Position<span>*</span></label>
							<div class="col-sm-6 pl0">
								<input type="text" id="locationSetup.position"
									class="form-control" ng-model="locationSetup.position"
									maxlength="100"
									ng-class="{'error-control':loginErrorMap.get('locationSetup.position')!=null}">
								<span class="error-message"
									ng-show="loginErrorMap.get('locationSetup.position')!=null">
									<small>{{loginErrorMap.get('locationSetup.position')}}</small>
								</span>
							</div>
						</div>
						<div class="form-group mag-btm">
							<label class="col-sm-4 col-md-3 pl0 control-label">Username<span>*</span></label>
							<div class="col-sm-6 pl0">
								<input type="text" id="locationSetup.userName"
									class="form-control" ng-model="locationSetup.userName"
									maxlength="100"
									ng-class="{'error-control':loginErrorMap.get('locationSetup.userName')!=null}">
								<span class="error-message"
									ng-show="loginErrorMap.get('locationSetup.userName')!=null">
									<small>{{loginErrorMap.get('locationSetup.userName')}}</small>
								</span>
							</div>
						</div>
						<div class="form-group mag-btm">
							<label class="col-sm-4 col-md-3 pl0 control-label">Password<span>*</span></label>
							<div class="col-sm-6 pl0">
								<div class="input-group">
									<input type="password" class="form-control" id="password-field"
										name="password" autocomplete="new-password"
										ng-model="locationSetup.password"
										ng-blur="locationSetup.password = locationSetup.password.split(' ').join('');validateLoginTab(3)"
										ng-class="{'error-control':loginErrorMap.get('locationSetup.password')!=null}"
										maxlength="20"> <span data-placement="bottom"
										bs-tooltip="togglePassword"
										class="input-group-addon addon-icon cursorPt rel "
										style="border-right: 1px solid #dadada !important;"> <span
										toggle="#password-field"
										class="fa fa-fw fa-eye field-icon toggle-password"> </span>
									</span>
								</div>
								<div>
									<!-- <span>  <img
										ng-show="loginErrorMap.get('locationSetup.password')!=null"
										src="../../../../assets/images/alert_info.png" alt="Info"
										height="14" width="14" ng-click="showHint()"> </span> -->
										<span data-id="login_tab_passwordError"
										ng-show="loginErrorMap.get('locationSetup.password')!=null"
										class="error-message"><small>{{loginErrorMap.get('locationSetup.password')}}</small></span>
								</div>
							</div>
						</div>
						<div class="form-group mag-btm">
							<label class="col-sm-4 col-md-3 pl0 control-label">Confirm Password<span>*</span></label>
							<div class="col-sm-6 pl0">
								<input type="password" id="locationSetup.confirmPassword"
									class="form-control" ng-model="locationSetup.confirmPassword"
									maxlength="100"
									ng-class="{'error-control':loginErrorMap.get('locationSetup.confirmPassword')!=null}">
								<span class="error-message" data-id="login_tab_confirmPasswordError"
									ng-show="loginErrorMap.get('locationSetup.confirmPassword')!=null">
									<small>{{loginErrorMap.get('locationSetup.confirmPassword')}}</small>
								</span>
							</div>
						</div>
						<!-- <div class="form-group mag-btm">
                    <label  class="col-sm-3 control-label">Select Service<span>*</span></label>
                    <div class="col-sm-6 pl0">
                        <div class="select-auto">
							<input type="text" class="form-control"
								id="locationSetup.serviceList"
								ng-class="{'error-control-auto':loginErrorMap.get('locationSetup.serviceList')!=null}"
								autocomplete="off" 
								ng-model="serviceMaster" 
								uib-typeahead="lovObject as lovObject.serviceName for lovObject in getServiceList($viewValue)"
								typeahead-template-url="../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedService(serviceMaster);"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> 
								<span class="select-arrow"><b></b></span>
						</div>
						<span class="error-message"  ng-show="loginErrorMap.get('locationSetup.serviceList')!=null">
                        		<small>{{loginErrorMap.get('locationSetup.serviceList')}}</small>
                        </span>
                    </div>
                </div> -->

						<div class="form-group mag-btm">
							<label class="col-sm-4 col-md-3 pl0 control-label">Select Service<span>*</span></label>
							<div class="col-sm-6 pl0">

								<am-multiselect tabindex="0" class="form-control"
									multiple="true"
									ms-selected="There are {{tempServiceList.length}} service(s) selected"
									ng-model="tempServiceList" class="form-control"
									ms-header="Select Some Service" 
									options="c as c.serviceName for c in commonServiceList"
									template-url="views/login_tab/multiselect.tmpl.html"
									id="locationSetup.serviceList"></am-multiselect>
								<span class="error-message"
									ng-show="loginErrorMap.get('locationSetup.serviceList')!=null">
									<small>{{loginErrorMap.get('locationSetup.serviceList')}}</small></span>
							</div>
							<!-- change="selectedService(serviceMaster);" -->
						</div>
						<!-- <div class="form-group mag-btm">
                	 <div class="col-sm-3 pl0"></div>
                	 <div class="col-sm-6 pl0">
                		<ul class="list-inline" >
                            <li ng-repeat = "service in locationSetup.serviceList track by $index" style="padding-bottom:10px;">
								<div class="btn-group btn-group-lg" role="group"
									aria-label="Large button group">
									<button type="button" class="btn btn-default" style="font-size: 11px; background: #2196f3; color: #ffffff;">{{service.serviceMaster.serviceName}} </button>
									<button type="button" class="btn btn-default" style="font-size: 11px;padding: 3px !important;" title="Delete" ng-click="removeService($index)"><i class="fa fa-times" style="color:#000;"  aria-hidden="true"></i></button>
								</div> 
							 </li>
                        </ul>
                	</div>
                </div> -->

						<!-- {{bundle}}
                <div class="col-sm-6 pl0">
					<oi-select
				    oi-options="item.serviceName for item in getServiceList($query) track by item.id"
				    ng-model="bundle"
				    multiple
				    placeholder="Select" multiple-placeholder="add"
					list-placeholder="not found"
				    ></oi-select>
                </div> -->



					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>



<div class="panel-footer">
	<div class=" col-md-12 mt10 ">

		<div class="btngrp pull-right">
			<button class="btn btn-xs btn-property accent-btn"
				ng-click="saveLoginTab('app.company')">
				<span class="chevron-font">&#xf053;</span> Back
			</button>
			<!-- ngIf: !isNavigation -->
			<button class="btn btn-primary btn-xs btn-property accent-btn"
				ng-click="saveLoginTab('app.configuration')">
				Next <span class="chevron-font">&#xf054;</span>
			</button>
			<!-- end ngIf: !isNavigation -->

		</div>
	</div>
</div>










