
<div class="select-auto mt-4" >
<div  ng-click="toggleSelect()" >
    <span  class="text-left" ng-disabled="disabled" ng-class="{'error': !valid()}">
      {{header}}
        <span class="caret pull-right text-right mt-5" style="float:right !important;"></span>
   </span></div>
    <ul class="dropdown-menu" style="height:180px; width:100% !important;  overflow-x:scroll !important;">
        <li>
            <input class="form-control input-sm" type="text" ng-model="searchText.label" placeholder="Filter" id="idFilter"/>
        </li>
        <li ng-show="multiple" role="presentation" class="">
            <button class="btn btn-link btn-xs" ng-click="checkAll()" type="button"><i class="glyphicon glyphicon-ok"></i> Check all</button>
            <button class="btn btn-link btn-xs" ng-click="uncheckAll()" type="button"><i class="glyphicon glyphicon-remove"></i> Uncheck all</button>
        </li>
        <li ng-repeat="i in items | filter:searchText">
            <button ng-click="select(i);">
            <i class='glyphicon' ng-class="{'glyphicon-ok': i.checked, 'empty': !i.checked}"></i>{{i.label}}</button>
        </li>
    </ul>
</div>

