am-multiselect .dropdown-menu{
    padding-left: 5px;
    padding-right: 5px;
}

am-multiselect .dropdown-menu > li > button {
    padding: 3px 10px;
    cursor:pointer;
    background-color: white;
    border: none;
    box-shadow:none !important;
    outline: none !important;
}

am-multiselect .dropdown-menu > li > button:focus {
    color:#1a61b8!important;
    box-shadow:none !important;
    outline: none !important;
}


am-multiselect .dropdown-menu > li.selected {
    background-color: #ADD8E6;
}
.text-lef{width:100px !important;}

.input-borer{border-top:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;}