<div class="container-fluid resPortAddPage resLandAddPage">
	<div class="row ">
		<div class="col-md-12 col-lg-7 col-sm-12 col-xs-12">
			<form role="form" id="referenceTypeForm" name="referenceTypeForm"
				ng-submit="referenceTypeMaster.id!=null?update():save()">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{referenceTypeMaster.id!=null?'Edit':'Add'}} Reference
							</h4>
						</div>
						<div>
							<div class="btngrp">

								<button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>

								<input type="submit" class="btn accent-btn"
									value="{{referenceTypeMaster.id!=null?'Update':'Save'}}">

							</div>
						</div>
					</div>
					<div class="panel-body half-master-edit" id="reference-panel"
						panel-height ng-nicescroll
						nice-option="{cursorcolor: '#3F8DEB', cursorwidth: '8px',smoothscroll: true}">
						<div class="pad-15">
							<div show-response></div>
							<div>
								<span class="reqColor">*</span><small class="opc-5 f-12b4">
									Indicates Mandatory fields</small>
							</div>
						</div>
						<div class="row ">
							<div class="col-md-7 col-lg-7 col-xs-12 form-group nomargin pl0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input input-focus="true"
									focus="{{errorMap.get('referenceTypeName')!=null}}" type="text"
									class="form-control" ng-change="validate(1)"
									id="referenceTypeName" name="referenceTypeName"
									ng-model="referenceTypeMaster.referenceTypeName"
									ng-class="{'error-control':errorMap.get('referenceTypeName')!=null}"
									maxlength="100">
								<div>
									<span class="error-message"
										ng-show="errorMap.get('referenceTypeName')!=null"><small>{{errorMap.get('referenceTypeName')}}</small></span>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
								<div class="col-xs-6 form-group nomargin pl0">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input focus="{{errorMap.get('referenceTypeCode')!=null}}"
										type="text" class="form-control" ng-change="validate(2)"
										id="referenceTypeCode" name="referenceTypeCode"
										ng-model="referenceTypeMaster.referenceTypeCode"
										ng-class="{'error-control':errorMap.get('referenceTypeCode')!=null}"
										maxlength="10" capitalize
										ng-disabled="referenceTypeMaster.id!=null">
									<div>
										<span class="error-message"
											ng-show="errorMap.get('referenceTypeCode')!=null"><small>{{errorMap.get('referenceTypeCode')}}</small></span>
									</div>
								</div>
								<div class="col-xs-6 form-group nomargin pr0"
									ng-show="referenceTypeMaster.id!=null">
									<label class="w-100 custom-label">Status</label> <select
										class="form-control status" id="status"
										ng-class="setStatus(referenceTypeMaster.status)"
										ng-options="item for item in enum['LovStatus']"
										ng-model="referenceTypeMaster.status">
									</select>
								</div>
							</div>
						</div>

						<div class="row ">
							<div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
								<div class="col-xs-6 form-group nomargin pl0">
									<label class="w-100 custom-label">Reference Type Key </label> <select
										class="form-control" id="ReferenceTypeKey"
										ng-options="item for item in enum['ReferenceTypeKey']"
										ng-model="referenceTypeMaster.referenceTypeKey">
									</select>
								</div>
								<div class="col-xs-6 form-group nomargin">
								<label class="w-100 custom-label">Mandatory </label>
									<ul class="list-inline">
                                        <li ng-class="{'opc-5':referenceTypeMaster.isMandatory}">No</li>
                                        <li class="v-align-top">
                                        	<switch tabIndex="0"
                                             		id="{{'isMandatory'+$index}}" 
                                                    name="enabled"
                                                    ng-model="referenceTypeMaster.isMandatory" 
                                                    class="green">
                                             </switch>
                                        </li>
                                        <li ng-class="{'opc-5':!referenceTypeMaster.isMandatory}">Yes</li>
									</ul>
								</div>
							</div>
						</div>



						<!-- <div class="row ">
                            <div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
								
                                    <label class="w-100 custom-label">Reference Type<span class="reqColor">*</span></label>
                                    <select class="form-control" 
                                    		focus="{{errorMap.get('referenceType')!=null}}" 
                                    		id="ReferenceType"
                                            ng-options="item for item in enum['ReferenceType']"
                                            filter-type="ReferenceType"
                                            ng-model="referenceTypeMaster.referenceType">
                                    </select>
                                    <div>
											<span class="error-message" ng-show="errorMap.get('referenceType')!=null"><small>{{errorMap.get('referenceType')}}</small></span>
										</div>
                               
                                
                                
                            </div>
                        </div> -->
						<!-- <div class="row bor-0">
                            <div class="col-md-7 col-lg-7 col-xs-12 form-group nomargin pl0">
                                <label class="custom-label">Note</label>
                                        <textarea
                                                msd-elastic
                                                class="form-control elastic-ht"
                                                rows="7"
                                                id="notes" name="notes" 
                                                ng-model="referenceTypeMaster.notes"
                                                ng-class="{'error-control':errorMap.get('notes')!=null}"
                                                maxlength="4000">
                                        </textarea>
                                <div>
                                        <span class="error-message" ng-show="errorMap.get('notes')!=null"><small>{{errorMap.get('notes')}}</small></span>
                                </div>
                            </div>
                        </div> -->
					</div>
					<!--panel body ends-->
				</div>
				<!--panel ends-->
			</form>
		</div>
		<!--col ends-->
	</div>
</div>

