<div class="container-fluid" ng-controller="air_doc_ctrl"  >
    <div class="row ml0 mr0" >
        <div class="col-md-12 list-container maintable" ng-if="!detailView">
            <div class="row nomargin">
                <ul class="nav btn-tab2">
                    <li ng-class="detailTab=='HAWB'?'activeBtn':''" ng-click="tabChange('HAWB')" >
                        HAWB
                    </li>
                    <li ng-class="detailTab=='MAWB'?'activeBtn':''" ng-click="tabChange('MAWB')">
                        MAWB
                    </li>
                    <li ng-class="detailTab=='DO'?'activeBtn':''" ng-click="tabChange('DO')">
                        Delivery Order
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                        <div ng-if="detailTab=='HAWB'">
                            <div class="panel panel-default">
                                <div class="panel-body nav-tab-container" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table
                                                        data="documentArr"
                                                        head="hawbHeadArr"
                                                        click-event="rowSelect(param)"
                                                        sort="searchSortSelection"
                                                        search-event="changeSearch(param)"
                                                       	sort-event="sortChange(param)"
                                                        page="page"
                                                        size="limit">
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total=totalRecord page-change="changePage(param)" class="pull-right" >
                                        </pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div>

                        <div ng-if="detailTab=='MAWB'">
                            <div class="panel panel-default">
                               
                                <div class="panel-body nav-tab-container" panel-height>

                                    <div class="table-fixed table-responsive">
                                          <super-table
                                                        data="documentArr"
                                                        head="mawbHeadArr"
                                                        click-event="rowSelect(param)"
                                                        sort="searchSortSelection"
                                                        search-event="changeSearch(param)"
                                                       	sort-event="sortChange(param)"
                                                        page="page"
                                                        size="limit">
                                        </super-table>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total=totalRecord page-change="changePage(param)" class="pull-right" >
                                        </pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div>
                        
                        <div ng-if="detailTab=='DO'">
                            <div class="panel panel-default">
                               
                                <div class="panel-body nav-tab-container" panel-height>

                                    <div class="table-fixed table-responsive">
                                          <super-table
                                                        data="documentArr"
                                                        head="doHeadArr"
                                                        click-event="rowSelect(param)"
                                                        sort="searchSortSelection"
                                                        search-event="changeSearch(param)"
                                                       	sort-event="sortChange(param)"
                                                        page="page"
                                                        size="limit">
                                        </super-table>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total=totalRecord page-change="changePage(param)" class="pull-right" >
                                        </pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>