<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="vm.reasonMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.reasonMaster.id==null?'Add Reason':'Edit Reason'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="vm.cancel(vm.reasonMaster.id)">
                                        Cancel
                                    </button>
                         <button type="button"  class="btn accent-btn"  ng-click="vm.reasonMaster.id==null?vm.create():vm.update()"> {{vm.reasonMaster.id==null?'Save':'Update'}}</button>							

                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="reasonName"
                                 ng-class="{'error-control':errorMap.get('reasonName')!=null}"
                                 ng-change="vm.validate('reasonName', 1)" ng-model="vm.reasonMaster.reasonName"/>
                                 <span class="error-message" ng-show="errorMap.get('reasonName')!=null">
									 <small>{{errorMap.get('reasonName')}}</small>
								</span>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin plr0">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input 
                                    type="text" class="form-control" maxlength="10" id="reasonCode"
                                    ng-disabled="vm.reasonMaster.id!=null" capitalize
                                    input-focus="{{vm.errorMap.get('reasonCode')!=null}}"
                                    ng-class="{'error-control':errorMap.get('reasonCode')!=null}"
                                    ng-model="vm.reasonMaster.reasonCode" ng-change="vm.validate('reasonCode', 2)"/>
                                 <span class="error-message" ng-show="errorMap.get('reasonCode')!=null">
									 <small>{{errorMap.get('reasonCode')}}</small>
								</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form-group nomargin pl0" ng-class="vm.reasonMaster.id!=null?'visible-show':'visible-hide'">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="vm.setStatus(vm.reasonMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="vm.reasonMaster.status" required >
                                    </select>
                                </div></div>
                        </div>
                        </div>
                        
                        
                              <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Description</label>
                                    <textarea 
									class="form-control elastic-htyaxisscroll" rows="3" msd-elastic
									id="description" class="form-control"
									ng-model="vm.reasonMaster.description"
									ng-class="{'error-control':errorMap.get('description')!=null}"
									maxlength="1000">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        
                           
                        
                        
                        
                        
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
