<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rel">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Bulk Upload</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="nopadding">
                             <a id="downloadtemplate" class="btn btn-primary btn-xs btn-property green-btn" href="/document-templates/default_charge.csv" download>Download Template</a>
                                <button type="button" tabindex="9" ng-blur="cancelGenerate()" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Discard</button>
                                <button type="button" tabindex="9" ng-disabled="disableUploadBtn" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="uploadFile()">Upload</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pt0">
                <div class="row nomargin pt10">
                    <div class="col-xs-7">
                        <label>File Name</label>
                        <input 	type="text"  ng-model="data.fileName" class="form-control" ng-disabled="true">
                    </div>

                </div>
                <div class="row nomargin  pt10 ">
                    <div class="col-md-12 col-lg-12 col-sm-12 form-group nomargin  drop-box">
                        <div 
                          ng-show="uploadText" ngf-drop 
                        	 ngf-select 
                        	 ng-model="data.file"
                             ngf-drag-over-class="'dragover'" 
                             ngf-multiple="false" 
                             ngf-allow-dir="true"
                             class="file-drop-box"
                             ng-change="chooseFile()"
                             >
                            <div class="col-md-12 text-center">
                                <ul class="list-unstyled">
                                    <li>Drop Here</li>
                                    <li>Or</li>
                                    <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
                                </ul>
                            </div>
                        </div>
                        <div ng-show="!uploadText && isBusy ==true" class="rel img-box">
                            <div class="loader">Loading..
                            </div>
                            <attach-Spinner  spinner-status="true"></attach-Spinner>
                        </div>
                        <div ng-show="!uploadText && isBusy ==false" 
                         ngf-select ngf-drop ng-model="data.file" 
                          ngf-multiple="false" 
                          ng-change="chooseFile()" 
                          class="rel img-box"
                           ng-mouseover="showBackDrop=true"
                             ng-mouseleave="showBackDrop=false">
                            <div class="wrapper-back-drop hide-transition" ng-show="showBackDrop">
                                        <span class="cursorPt overlay-img-btn" ngf-select ngf-drop ng-model="data.file" ngf-multiple="false" ng-change="chooseFile()" >
                                            <i class="fa fa-upload"></i>
                                        </span>
                            </div>
                        </div>
                        <div>
                           <span class="error-message" ng-show="errorMap.get('fileUpload')!=null"><small>{{errorMap.get('fileUpload')}}</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <modal-spinner spinner-status="popupspinner"></modal-spinner>
        </div>
    </div>
</div>
