<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog width85per">
        <div class="modal-content rel">
            <div class="modal-header  ">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="">
                             
                                <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button>
                                <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveMoreInfo()"></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pt0">
                <div class="row nomargin ">
                            
                           
                                <div class="row  bor-btm-1 ">
                                    <div class="col-xs-5    ">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="ptb-15">
                                                    <label >Valid From</label>
                                                    <div class="inputBox"> <input  class="form-control"  id="{{pricingIndex}}dcValidFrom"
                                                    ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].validFromDate" 
                                                    date-callback="navigateToNextField(pricingIndex+'validTo')"
                                                    datetimepicker datetimepicker-options="{{directiveDatePickerOpts}}">
                                         <span class="inputIcon">
                                              <i class="icon-date" aria-hidden="true"></i>
                                         </span>
                                                    </div>
                                                <span class="error-message" ng-show="errorMap.get('dcDate')!=null"><small>{{errorMap.get('dcDate')}}</small></span>  
                                                </div>
                                                
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="ptb-15">
                                                    <label >Valid To</label>
                                                    <div class="inputBox"> <input  
                                                    ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].validToDate"
                                                    id="{{pricingIndex}}validTo"
                                                     date-callback="navigateToNextField(pricingIndex+'dcDivision')"
                                                    class="form-control" datetimepicker datetimepicker-options="{{directiveDatePickerOpts}}">
                                         <span class="inputIcon">
                                              <i class="icon-date" aria-hidden="true"></i>
                                         </span>
                                                    </div>
                                                    <span class="error-message" ng-show="errorMap.get('dcDate')!=null"><small>{{errorMap.get('dcDate')}}</small></span>  
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-7  ">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="ptb-15">
                                                    <label >Division</label>
                                                    <div class="select-auto">
                                                        <input type="text" class="form-control" id="{{pricingIndex}}dcDivision" 
										autocomplete="off"  ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].divisionMaster" 
										uib-typeahead="lovObject as lovObject.divisionName for lovObject in ajaxDivisionEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="navigateToNextField(pricingIndex+'dcImco')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                                    </div>
                                                    <span class="error-message" ng-show="errorMap.get('dcDIVM')!=null"><small>{{errorMap.get('dcDIVM')}}</small></span> 
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="ptb-15  futbol-fix">
                                                    <label >Haz</label>

                                                    <ul class="list-inline clearfix">

                                                        <li data-placement="bottom"
                                                              bs-tooltip="imco" class="ml-15"  ng-class="{'opc-5':test.imco}" >
                                                            <i ng-class="{'grayscale':test.imco}"
                                                            class="fa fa-futbol-o "></i>
                                                            <span style="color:#000;">No</span>  </li>
                                                        <li class="v-align-top">
                                                            <switch tabindex="0" ng-keypress="" 
                                                             ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].isImco"  id="{{pricingIndex}}dcImco"
                                                             class="green"  ></switch>
                                                        </li>
                                                        <li ng-class="{'opc-5':!test.imco}">Yes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="ptb-15">
                                                    <label >Clearance</label>
                                                    <ul class="list-inline">
                                                        <li ng-class="{'opc-5':Clearance}">No</li>
                                                        <li class="v-align-top"><switch ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].isClearance" 
                                                        tabindex="0" id="{{pricingIndex}}clearance"
                                                        class="green"></switch></li>
                                                        <li ng-class="{'opc-5':!Clearance}">Yes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-xs-5   ">
                                        <div class="row ">
                                            <div class="col-xs-6">
                                                <div class="ptb-15">
                                                    <label >Forwarder / Direct</label>
                                                    <ul class="list-inline">
                                                        <li ng-class="{'opc-5':Forwarder}">Forwarder</li>
                                                        <li class="v-align-top"><switch 
                                                        tabindex="0" id="{{pricingIndex}}direct"
                                                        ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].isForwarderOrDirect"
                                                         class="green"></switch></li>
                                                        <li ng-class="{'opc-5':!Forwarder}">Direct</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="ptb-15">
                                                    <label>Agent</label>
                                                    <div class="select-auto">
                                                       <input type="text" class="form-control" id="dcAgent" 
										autocomplete="off" ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].agent" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="navigateToNextField(pricingIndex+'dcPE');" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
															   
                                                    </div>
                                                    <span class="error-message" ng-show="errorMap.get('dcAgent')!=null"><small>{{errorMap.get('dcAgent')}}</small></span> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-7  ">
                                        <div class="row ">
                                            <div class="col-xs-4">
                                                <div class="ptb-15">
                                                    <label>Personal Effects</label>
                                                    <ul class="list-inline">
                                                        <li ng-class="{'opc-5':Personal}">No</li>
                                                        <li class="v-align-top"><switch  
                                                        tabindex="0"
                                                         id="{{pricingIndex}}dcPE"
                                                         ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].isPersonalEffect"
                                                        class="green"></switch></li>
                                                        <li ng-class="{'opc-5':!Personal}">Yes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="ptb-15">
                                                    <label >Co Load</label>
                                                    <ul class="list-inline">
                                                        <li ng-class="{'opc-5':CoLoad}">No</li>
                                                        <li class="v-align-top"><switch
                                        id="{{pricingIndex}}dcCL"
                                        tabindex="0"
                                         ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].isCoload" class="green"></switch></li>
                                                        <li ng-class="{'opc-5':!CoLoad}">Yes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="ptb-15">
                                                    <label>Transit</label>
                                                    <ul class="list-inline">
                                                        <li ng-class="{'opc-5':Transit}">No</li>
                                                        <li class="v-align-top"><switch 
                                                        tabindex="0"  id="{{pricingIndex}}transit"
                                                        ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].isTransit" class="green"></switch></li>
                                                        <li ng-class="{'opc-5':!Transit}">Yes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-xs-5   ">
                                        <div class="row ">
                                            <div class="col-xs-6">
                                                <div class="ptb-15">
                                                    <label >Our Transport</label>
                                                    <ul class="list-inline">
                                                        <li ng-class="{'opc-5':Transport}">No</li>
                                                        <li class="v-align-top"><switch 
                                                        tabindex="0"  id="{{pricingIndex}}ourTransport"
                                                        ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].isOurTransport" class="green"></switch></li>
                                                        <li ng-class="{'opc-5':!Transport}">Yes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="ptb-15">
                                                    <label >Commodity Group</label>
                                                    <div class="select-auto">
                                                         <input type="text" class="form-control"  id="{{pricingIndex}}dcCommodity" 
										autocomplete="off"  ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].commodityMaster" 
										uib-typeahead="lovObject as lovObject.hsName for lovObject in ajaxCommodityEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="navigateToNextField(pricingIndex+'dcCarrier')"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                                    </div>
                                                    <span class="error-message" ng-show="errorMap.get('dcCOMM')!=null"><small>{{errorMap.get('dcCOMM')}}</small></span> 
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-7  ">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <div class="ptb-15">
                                                    <label >Carrier</label>
                                                    <div class="select-auto">
                                                         <input type="text" class="form-control" id="{{pricingIndex}}dcCarrier" 
												 ng-class="{'error-control':errorMap.carrierMaster}" 
										autocomplete="off" ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].carrierMaster" 
										uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="navigateToNextField(pricingIndex+'dcShipper')"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
									
                                                    </div>
                                                    <span class="error-message" ng-show="errorMap.get('dcCRM')!=null"><small>{{errorMap.get('dcCRM')}}</small></span> 
                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" clearfix">
                                        <div class="col-xs-5   ">
                                            <div class="row">
                                                <div class="col-xs-12 	">
                                                    <div class="ptb-15">
                                                        <label >Shipper</label>
                                                        <div class="select-auto">
                                                            <input type="text" class="form-control" id="{{pricingIndex}}dcShipper" 
																autocomplete="off"  ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].shipper" 
																uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
																typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																typeahead-on-select="navigateToNextField(pricingIndex+'dcConsignee')"
																typeahead-focus-on-select="false"
																typeahead-focus-first="true" typeahead-editable="false"
																typeahead-min-length="1" typeahead-wait-ms="500">
															<span class="select-arrow"><b></b></span>
                                                        </div>
                                                        <span class="error-message" ng-show="errorMap.get('dcShipper')!=null"><small>{{errorMap.get('dcShipper')}}</small></span> 
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-xs-7  ">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <div class="ptb-15">
                                                        <label >Consignee</label>
                                                        <div class="select-auto">
															<input type="text" class="form-control" id="{{pricingIndex}}dcConsignee" 
															autocomplete="off" 
															ng-model="pricingMasterList[parentIndex].pricingPortPairList[pricingIndex].consignee" 
															uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="navigateToNextField(pricingIndex+'dcValidFrom')"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true" typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
														</div>
                                                        <span class="error-message" ng-show="errorMap.get('dcConsignee')!=null"><small>{{errorMap.get('dcConsignee')}}</small></span> 
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                
            </div>
            <modal-spinner spinner-status="popupspinner"></modal-spinner>
        </div>
    </div>
</div>
