<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg dc-more-popup">
        <div class="modal-content rel">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="nopadding">
                                <button type="button"  class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Discard</button>
                                <button type="button"  class="btn btn-primary btn-xs btn-property accent-btn" ng-click="$hide()">Save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pt0 plr0 pb35">
                <div class="row  nomargin nopadding bor-btm-1 ">
                    <div class="col-xs-5 nopadding bor-fix ">
                        <div class="row nomargin nopadding bor-r-1 ">
                            <div class="col-xs-6">
                                <div class="ptb-15">
                                    <label >Valid From</label>
                                    <div class="inputBox"> <input  class="form-control"  
                                     id="dcVF{{selectedItemIdx}}" focus="true"
                                    ng-model="defaultChargeMasterList[selectedItemIdx].validFrom"   ng-change="selectedAjaxAdd('dcValidTo',selectedItemIdx)"       
                                      ng-class="{'error-control-auto':errorDc[selectedItemIdx].dcDate}"
                               input-focus="{{errorDc[selectedItemIdx].dcDate}}" 
                                     datetimepicker datetimepicker-options="{{directiveDatePickerOpts}}">
                                         <span class="inputIcon">
                                              <i class="icon-date" aria-hidden="true"></i>
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="ptb-15">
                                    <label >Valid To</label>
                                    <div class="inputBox"> <input  class="form-control" id="dcValidTo{{selectedItemIdx}}"
                                     ng-class="{'error-control-auto':errorDc[selectedItemIdx].dcDate}"
                               input-focus="{{errorDc[selectedItemIdx].dcDate}}" 
                                   ng-model="defaultChargeMasterList[selectedItemIdx].validTo" ng-change="selectedAjaxAdd('dcDivision',selectedItemIdx)"
                                     datetimepicker datetimepicker-options="{{directiveDatePickerOpts}}">
                                         <span class="inputIcon">
                                              <i class="icon-date" aria-hidden="true"></i>
                                         </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-7 nopadding bor-fix">
                        <div class="row nomargin nopadding">
                            <div class="col-xs-4">
                                <div class="ptb-15">
                                    <label >Division</label>
                                    <div class="select-auto">
                                        <input type="text" class="form-control" id="dcDivision{{selectedItemIdx}}" 
										input-focus="{{errorDc[selectedItemIdx].dcDIVM}}"  
										ng-class="{'error-control-auto':errorDc[selectedItemIdx].dcDIVM}" 
										autocomplete="off" ng-model="defaultChargeMasterList[selectedItemIdx].divisionMaster" 
										uib-typeahead="lovObject as lovObject.divisionName for lovObject in ajaxDivisionEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedAjaxAdd('dcImco',selectedItemIdx);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="ptb-15  futbol-fix">
                                    <label >Haz</label>
                                    <ul class="list-inline clearfix">
                                        <li class="ml-15"
                                            ng-class="{'opc-5':test.imco}" ><i ng-class="{'grayscale':test.imco}"
                                            data-placement="bottom"   bs-tooltip="imco"
                                            class="fa fa-futbol-o "></i>  <span style="color:#000;">Yes</span>  </li>
                                        <li class="v-align-top">
                                            <switch tabindex="0"
                                            ng-keypress="" 
                                            id="dcImco{{selectedItemIdx}}"
                                             ng-model="defaultChargeMasterList[selectedItemIdx].isImco" class="green"  ></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!test.imco}">No</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="ptb-15">
                                    <label >Clearance</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':Clearance}">Yes</li>
                                        <li class="v-align-top"><switch 
                                        id="dcCL{{selectedItemIdx}}" tabindex="0"
                                        ng-model="defaultChargeMasterList[selectedItemIdx].isClearance"
                                         class="green"></switch></li>
                                        <li ng-class="{'opc-5':!Clearance}">NO</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  nomargin nopadding bor-btm-1">
                    <div class="col-xs-5 nopadding bor-fix ">
                        <div class="row nomargin nopadding bor-r-1">
                            <div class="col-xs-6">
                                <div class="ptb-15">
                                    <label >Forwarder / Direct</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':Forwarder}">Forwarder</li>
                                        <li class="v-align-top"><switch
                                        id="dcFD{{selectedItemIdx}}" tabindex="0"
                                         ng-model="defaultChargeMasterList[selectedItemIdx].isForwarderOrDirect"
                                         class="green"></switch></li>
                                        <li ng-class="{'opc-5':!Forwarder}">Direct</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6 ">
                                <div class="ptb-15">
                                    <label>Agent</label>
                                    <div class="select-auto">
                                         <input type="text" class="form-control" id="dcAgent{{selectedItemIdx}}"
										input-focus="{{errorDc[selectedItemIdx].dcAgent}}" 
										 ng-class="{'error-control-auto':errorDc[selectedItemIdx].dcAgent}"
										autocomplete="off" ng-model="defaultChargeMasterList[selectedItemIdx].agent"
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedAjaxAdd('dcPE',selectedItemIdx);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7 bor-fix nopadding">
                        <div class="row nomargin nopadding">
                            <div class="col-xs-4">
                                <div class="ptb-15">
                                    <label>Personnel Effect</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':Personal}">Yes</li>
                                        <li class="v-align-top"><switch ng-model="defaultChargeMasterList[selectedItemIdx].isPersonalEffect" 
                                        id="dcPE{{selectedItemIdx}}" tabindex="0"
                                        class="green"></switch></li>
                                        <li ng-class="{'opc-5':!Personal}">No</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="ptb-15">
                                    <label >Co Load</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':CoLoad}">Yes</li>
                                        <li class="v-align-top"><switch
                                        id="dcCL{{selectedItemIdx}}"
                                        tabindex="0"
                                         ng-model="defaultChargeMasterList[selectedItemIdx].isCoload" class="green"></switch></li>
                                        <li ng-class="{'opc-5':!CoLoad}">No</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="ptb-15">
                                    <label>Transit</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':Transit}">Yes</li>
                                        <li class="v-align-top"><switch 
                                        id="dcTT{{selectedItemIdx}}"
                                        tabindex="0"
                                        ng-model="defaultChargeMasterList[selectedItemIdx].isTransit" class="green"></switch></li>
                                        <li ng-class="{'opc-5':!Transit}">No</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row overflow-hidden nomargin nopadding bor-btm-1">
                    <div class="col-xs-5 nopadding bor-fix bor-r-1">
                        <div class="row nomargin nopadding">
                            <div class="col-xs-6">
                                <div class="ptb-15">
                                    <label >Our Transport</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':Transport}">Yes</li>
                                        <li class="v-align-top"><switch 
                                        id="dcOT{{selectedItemIdx}}"
                                        tabindex="0"
                                        ng-change="selectedAjaxAdd('dcCommodity',selectedItemIdx)"
                                        ng-model="defaultChargeMasterList[selectedItemIdx].isOurTransport" class="green"></switch></li>
                                        <li ng-class="{'opc-5':!Transport}">No</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="ptb-15">
                                    <label >Commodity Group</label>
                                    <div class="select-auto">
                                       <input type="text" class="form-control"   id="dcCommodity{{selectedItemIdx}}" 
										 input-focus="{{errorDc[selectedItemIdx].dcCOMM}}"  
										 ng-class="{'error-control-auto':errorDc[selectedItemIdx].dcCOMM}" 
										autocomplete="off" ng-model="defaultChargeMasterList[selectedItemIdx].commodityMaster" 
										uib-typeahead="lovObject as lovObject.hsCode for lovObject in ajaxCommodityEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedAjaxAdd('dcCarrier',selectedItemIdx);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-7 bor-fix nopadding">
                        <div class="row nomargin nopadding">
                            <div class="col-xs-4">
                                <div class="ptb-15">
                                    <label >Carrier</label>
                                    <div class="select-auto">
                                       <div class="select-auto">
                                       	<input type="text" class="form-control" id="dcCarrier{{selectedItemIdx}}" 
										input-focus="{{errorDc[selectedItemIdx].dcCRM}}"  
										ng-class="{'error-control-auto':errorDc[selectedItemIdx].dcCRM}"
										autocomplete="off" ng-model="defaultChargeMasterList[selectedItemIdx].carrierMaster " 
										uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedAjaxAdd('dcShipper',selectedItemIdx);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row overflow-hidden nomargin nopadding ">
                    <div class="bor-btm-1 clearfix">
                        <div class="col-xs-5 nopadding bor-fix bor-r-1">
                            <div class="row nomargin nopadding">
                                <div class="col-xs-12 	">
                                    <div class="ptb-15">
                                        <label >Shipper</label>
                                        <div class="select-auto">
                                            <input type="text" class="form-control" id="dcShipper{{selectedItemIdx}}" 
										input-focus="{{errorDc[selectedItemIdx].dcShipper}}" 
										ng-class="{'error-control-auto':errorDc[selectedItemIdx].dcShipper}" 
										autocomplete="off"  ng-model="defaultChargeMasterList[selectedItemIdx].shipper" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedAjaxAdd('dcConsignee',selectedItemIdx);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-7 nopadding bor-fix">
                            <div class="row nomargin nopadding">
                                <div class="col-xs-8">
                                    <div class="ptb-15">
                                        <label >Consignee</label>
                                        <div class="select-auto">
                                            <input type="text" class="form-control" id="dcConsignee{{selectedItemIdx}}" 
										input-focus="{{errorDc[selectedItemIdx].dcConsignee}}" tabindex = "{{btnIndex}}"
										ng-class="{'error-control-auto':errorDc[selectedItemIdx].dcConsignee}" 
										autocomplete="off" ng-model="defaultChargeMasterList[selectedItemIdx].consignee" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedAjaxAdd('dcVF',selectedItemIdx);"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <modal-spinner spinner-status="popup.spinner"></modal-spinner>
        </div>
    </div>
</div>
