<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg dc-more-popup">
        <div class="modal-content rel">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Get Rates from Shiprite </h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="nopadding">
                                <button type="button" tabindex="9" ng-blur="cancelGenerate()" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Discard</button>
                                <button type="button" tabindex="9"  class="btn btn-primary btn-xs btn-property accent-btn" >Find Rates</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pt0 plr0 pb35">
                <div class="row overflow-hidden nomargin nopadding bor-btm-1 ">
                    <div class="col-xs-12 nopadding bor-fix  ">
                        <div class="row nomargin nopadding">
                            <div class="col-xs-3">
                                <div class="ptb-15">
                                    <label >From Zip</label>
                                    <div class="select-auto">
                                        <input type="text" tabindex = "{{btnIndex}}"  auto-complete class="form-control"   ng-model="Division"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="ptb-15">
                                    <label >To Zip</label>
                                    <div class="select-auto">
                                        <input type="text" tabindex = "{{btnIndex}}"  auto-complete class="form-control"   ng-model="CFS"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="ptb-15">
                                    <label >Shipment Date</label>
                            <div class="inputBox">
                                <input  class="form-control"
                                        datetimepicker
                                        datetimepicker-options="{{directiveDatePickerOpts}}">
															         <span class="inputIcon">
                                                                         <i class="icon-date" aria-hidden="true"></i>
                                                                     </span>

                            </div>
                                    </div>
                                </div>
                            <div class="col-xs-3">
                                <div class="ptb-15">
                                    <label >Unit</label>
                                    <ul class="list-inline">
                                        <li ng-class="{'opc-5':whoRouted}">Imperal (U.S)</li>
                                        <li class="v-align-top"><switch ng-model="whoRouted" class="green"></switch></li>
                                        <li ng-class="{'opc-5':!whoRouted}">Metric</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row overflow-hidden nomargin nopadding bor-btm-1 ">
                    <div class="col-xs-12 nopadding bor-fix  ">
                        <div class="row nomargin nopadding">
                            <div class="col-xs-3">
                                <div class="ptb-15">
                                    <label >Class</label>
                                    <div class="select-auto">
                                        <input type="text" tabindex = "{{btnIndex}}"  auto-complete class="form-control"   ng-model="Division"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="ptb-15">
                                    <label >Weight (kg)                                    </label>

                                        <input type="text" tabindex = "{{btnIndex}}"   class="form-control"   ng-model="CFS"/>

                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="ptb-15">
                                    <label >Volume (CBM)  </label>

                                    <input type="text" tabindex = "{{btnIndex}}"   class="form-control"   ng-model="CFS"/>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row nomargin pt10">
                    <div class="col-xs-12">
                    <label>Accessories</label>
                    </div>
                </div>
                <div class="row mar20 mt10 bor ">
                    <div class="col-xs-12 ptb-20">
                        <div class="row nomargin">

                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Cash" class="magic-checkbox" id="Cash">
                                <label class="text custom-label" for="Cash" >Cash On Delivery</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Construction" class="magic-checkbox" id="Construction">
                                <label class="text custom-label" for="Construction" >Construction Site</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Excess" class="magic-checkbox" id="Excess">
                                <label class="text custom-label" for="Excess" >Excess Length</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.HAZMAT" class="magic-checkbox" id=" HAZMAT">
                                <label class="text custom-label" for=" HAZMAT" >HAZMAT</label>
                            </div>

                        </div>
                        <div class="row nomargin">

                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Homeland" class="magic-checkbox" id=" Homeland">
                                <label class="text custom-label" for="Homeland" >Homeland Security</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Inside" class="magic-checkbox" id="  Inside Delivery">
                                <label class="text custom-label" for="  Inside Delivery" >Inside Delivery</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Lift" class="magic-checkbox" id="Lift">
                                <label class="text custom-label" for="Lift" >Lift Gate</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Notification" class="magic-checkbox" id=" Notification">
                                <label class="text custom-label" for=" Notification" >Notification</label>
                            </div>

                        </div>
                        <div class="row nomargin">

                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Pier" class="magic-checkbox" id="Pier">
                                <label class="text custom-label" for="Pier" >Pier Charge</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Re" class="magic-checkbox" id="Re">
                                <label class="text custom-label" for="Re" >Re-delivery</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Residential" class="magic-checkbox" id="Residential">
                                <label class="text custom-label" for="Residential" >Residential Delivery</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.SAM" class="magic-checkbox" id="SAM">
                                <label class="text custom-label" for="SAM" >SAM Name</label>
                            </div>

                        </div>
                        <div class="row nomargin">

                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Saturday" class="magic-checkbox" id="Saturday">
                                <label class="text custom-label" for="Saturday" >Saturday Delivery</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Shiprite" class="magic-checkbox" id="Shiprite">
                                <label class="text custom-label" for="Shiprite" > Shiprite Accessories Master Shiprite</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Single" class="magic-checkbox" id="Single">
                                <label class="text custom-label" for="Single" >Single Shipment</label>
                            </div>
                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.Team" class="magic-checkbox" id="Team">
                                <label class="text custom-label" for="Team" >Team Charge</label>
                            </div>

                        </div>
                        <div class="row nomargin">

                            <div class="col-xs-3">
                                <input  type="checkbox" ng-model="test.TSA" class="magic-checkbox" id="TSA">
                                <label class="text custom-label" for="TSA" >TSA Only</label>
                            </div>


                        </div>

                    </div>

                </div>

            </div>

            <modal-spinner spinner-status="popup.spinner"></modal-spinner>
        </div>
    </div>
</div>
