<div class="container-fluid">
    <div class="row ml0 mr0" ng-init="showDetail=false">
        <div class="list-container col-md-12" ng-if="!showDetail" >
            <div class="row nomargin">
                <ul class="nav btn-tab2">
                    <li ng-class="detailTab=='active'?'activeBtn':''" ng-click="tabChange('active')" >
                        Active
                    </li>
                   <!--  <li ng-class="detailTab=='all'?'activeBtn':''" ng-click="tabChange('all')">
                        All
                    </li> -->
                </ul>
            </div>
            <div class="col-xs-12 tab-list-container bg-white">
                <div show-response></div>
                <div class="row">
                    <div class="tab-content">
                        <div ng-if="detailTab=='active'">
                            <div class="panel panel-default">
                                <div class="panel-heading height-auto" style="padding-top: 0 !important; padding-bottom: 0 !important; overflow: visible">
                                    <div class="row overflow-hidden">
                                        <div class="col-xs-2 bor-fix bor-r-1">
                                            <div class="flex align-middle ptb-15">
                                                <button type="button" class="btn btn-property accent-btn"  ng-click="addAirlinePrebooking()"><span class="icon-add"></span>add Airline Prebooking</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body nav-tab-container" panel-height>
                                    <div ng-if="detailTab=='active'" class="table-fixed table-responsive">
                                        <super-table 	data="airlinePrebookingArray"
                                                        head="searchHeadArr"
                                                        sort="activeSortSelection"
                                                        click-event="rowSelectActive(param,index)"
                                                        search-event="changeSearchActive(param)"
                                                        sort-event="sortChangeActive(param)"
                                                        page="pageActive"
                                                        size="limitActive">
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limitActive"
                                                        ng-change="limitChangeActive(limitActive)" ng-options="v for v in limitArrActive">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="pageActive" size="limitActive" total=totalRecordActive page-change="changePageActive(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-if="showDetail" ng-include="'app/components/air/airline_prebooking/views/airline_prebooking_details.html'"></div>
    </div>
</div>