<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="vm.documentTypeMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.documentTypeMaster.id==null?'Add Document Type':'Edit Document Type'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="vm.cancel(vm.documentTypeMaster.id)">
                                        Cancel
                                    </button>

 <button type="button"  class="btn accent-btn"  ng-click="vm.documentTypeMaster.id==null?vm.create():vm.update()"> {{vm.documentTypeMaster.id==null?'Save':'Update'}}</button>							
                      </div>
                        </div>
                    </div>
                    <div class="panel-body pt0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
                        
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="documentTypeName"
                                 ng-class="{'error-control':vm.errorMap.get('documentTypeName')!=null}"
                                 ng-change="vm.validate('documentTypeName', 1)" ng-model="vm.documentTypeMaster.documentTypeName"/>
                                 <span class="error-message" ng-show="vm.errorMap.get('documentTypeName')!=null">
									 <small>{{vm.errorMap.get('documentTypeName')}}</small>
								</span>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 form-group nomargin pl0">
									<label class="custom-label"> Code<span class="reqColor">*</span> </label> 
									<select  class="form-control" id="code"
										ng-options="item for item in enum['DocumentType']"
										ng-model="vm.documentTypeMaster.documentTypeCode" required>
									</select>
									<span class="error-message" ng-show="vm.errorMap.get('documentTypeCode')!=null">
									 <small>{{vm.errorMap.get('documentTypeCode')}}</small>
								</span>
								</div>
                        
                        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 form-group nomargin pl0" ng-class="vm.documentTypeMaster.id!=null?'visible-show':'visible-hide'">
									<label class="custom-label"> Status </label> 
									<select  class="form-control status" id="status"
										ng-class="vm.setStatus(vm.documentTypeMaster.status)"
										ng-options="item for item in enum['LovStatus']"
										ng-model="vm.documentTypeMaster.status" required>
									</select>
								</div>
                        
                        </div>
                         <div class="row nomargin nopadding bor-btm-0">
                                            <hr class="nomargin nobor_top"/>
                                        </div>
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
