<div>

            <button type="button" tabIndex="-1" class="btn btn-info btn-property mb10 accent-btn"
                                        ng-click="fnRole({param:addRole})?addRow():''">
            <i class="icon-add"></i> Add Trigger Update
        </button>

        <div class="table-responsive"  ng-style="dropStyle">
            <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()" >
                <thead>
                <tr>
                    <th class="inl_xxs">#</th>
                    <th class="inl_mp">Date<span class="reqColor">*</span></th>
                    <th class="inl_m">Trigger Type<span class="reqColor">*</span></th>
                    <th class="inl_l">Trigger<span class="reqColor">*</span></th>
                    <th class="inl_s">Protect</th>
                    <th class="inl_s">Follow up Required</th>
                    <th class="inl_mp">Follow up Date</th>
                    <th class="inl_xs">Notes<span class="reqColor">*</span></th>
                    <th class="inl_s">Follow up Completed</th>
                    <th class="inl_s">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="statusUpdateObj in tableData track by $index">
                    <td data-nofloat="true" ng-class="{'error-cell  text-center':secondArr[$index].errRow}">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
                    </td>
                    <td data-headtitle="Date" data-required="true" data-width="tw30per">
                        <div class="inputBox">
                            <input 
									id="{{indexKey+'statusDate'+$index}}"
									type="text" date-callback="statusSelectFocus(indexKey+'triggerTypeName'+$index)"  ng-class="{'error-control':secondArr[$index].date}" class="form-control" ng-model="statusUpdateObj.date"  datetimepicker
                                    datetimepicker-options="{{directiveDatePickerOpts}}" ng-focus="openEvent(true)" 
                                    ng-disabled="statusUpdateObj.id!=null"
                                    ng-blur="openEvent(false)" date-visible="openDatePicker(param)"
                                    input-focus="{{secondArr[$index].date}}"
                                    ng-disabled="!editRole&&statusUpdateObj.id!=null" >
                            <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                        </div>

                    </td>
                    <td data-headtitle="Trigger Type Name" data-required="true" data-width="tw30per">
                        <div class="select-auto">
                            <input type="text" 
                            id="{{indexKey+'triggerTypeName'+$index}}"
                            ng-disabled="statusUpdateObj.id!=null"
                                   auto-complete
                                   selected-value="triggerTypeName"
                                   ng-model="statusUpdateObj.triggerTypeMaster"
                                   render-item="triggerTypeRender"
                                   call-fun="ajaxTriggerTypeMasterEvent(param)"
                                   on-select="selectTriggerType(statusUpdateObj);goToNext(indexKey+'triggerName'+$index)"
                                   ng-class="{'error-control-auto':secondArr[$index].triggerTypeMaster}"
                                   class="form-control"
                             ng-disabled="!editRole&&statusUpdateObj.id!=null"       />
                        </div>
                    </td>
                    <td data-headtitle="Trigger Name" data-required="true" data-width="tw30per">
                        <div class="select-auto">
                  						<input type="text" class="form-control"  id="{{indexKey+'triggerName'+$index}}" 
										ng-class="{'error-control-auto':secondArr[$index].triggerMaster}" 
										autocomplete="off"  ng-model="statusUpdateObj.triggerMaster" 
										uib-typeahead="lovObject as lovObject.triggerName for lovObject in ajaxTriggerMasterEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectTriggerMaster(statusUpdateObj.triggerMaster);goToNext(indexKey+'protect'+$index)" 
										typeahead-focus-on-select="false" 
										ng-change="statusUpdateObj.note=statusUpdateObj.triggerMaster.note" 
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                        </div>
                    </td>
                    
                    <td data-headtitle="Protect" class="clearboth" data-width="tw30per">
                   
                        <select 
                         id="{{indexKey+'protect'+$index}}"
                          ng-init="statusUpdateObj.protect==true || statusUpdateObj.protect=='Yes'?statusUpdateObj.protect=true:statusUpdateObj.protect=false" 
                                class="form-control"  ng-disabled="statusUpdateObj.id!=null"
                                ng-class="{'error-control':secondArr[$index].protect}"
                                ng-options="item.id as item.title for item in toggleArr"
                                ng-change="goToNext(indexKey+'followUpRequiredSU'+$index)"
                                ng-model="statusUpdateObj.protect"
                                
                                ng-focus="dirtyIndex($index);" ng-disabled="!editRole&&statusUpdateObj.id!=null">
                        </select>
                    </td>
                    <td data-headtitle="Follow up Required" data-width="tw30per">
                        <select id="{{indexKey+'followUpRequiredSU'+$index}}" ng-init="statusUpdateObj.followUpRequired==true || statusUpdateObj.followUpRequired=='Yes'?statusUpdateObj.followUpRequired=true:statusUpdateObj.followUpRequired=false" 
                                class="form-control"  ng-disabled="statusUpdateObj.id!=null"
                                ng-class="{'error-control':secondArr[$index].followUpRequired}"
                                ng-options="item.id as item.title for item in toggleArr"
                               ng-model="statusUpdateObj.followUpRequired"
                               ng-disabled="!editRole&&statusUpdateObj.id!=null"
                               ng-change="statusUpdateObj.followUpRequired?goToNext(indexKey+'followUpDateSU'+$index):goToNext(indexKey+'notesStatusUpdate'+$index)"
                                ng-focus="dirtyIndex($index);">
                        </select>
                    </td>

                    <td data-headtitle="Follow up Date"  data-width="tw30per">

                        <div class="inputBox">
                            <input id="{{indexKey+'followUpDateSU'+$index}}"  type="text"   class="form-control" ng-class="{'error-control':secondArr[$index].followUpDate}" 
                            ng-model="statusUpdateObj.followUpDate"  datetimepicker  
                                    datetimepicker-options="{{directiveDatePickerOpts}}" ng-focus="openEvent(true)"
                                    date-callback="statusSelectFocus(indexKey+'notesStatusUpdate'+$index)"
                                      ng-disabled="!statusUpdateObj.followUpRequired || statusUpdateObj.id!=null"
                                    ng-blur="openEvent(false)" date-visible="openDatePicker(param)" >
                            <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                        </div>

                    </td>
                     
                    <!-- <td data-headtitle="Notes" class="clearboth" data-required="true" data-width="tw30per">
                          <textarea msd-elastic style="height:24px !important;max-height: 24px !important;min-height:24px !important" 
                          id="{{indexKey+'notesStatusUpdate'+$index}}"
                          class="form-control resizeNone"
                                    ng-model="statusUpdateObj.note"
                                    maxlength="4000"
                                    ng-disabled="!editRole || statusUpdateObj.id!=null"
                                    ng-class="{'error-control':secondArr[$index].note}"
                                    ng-focus="dirtyIndex($index)">
                </textarea>
                    </td> -->
                    <td data-headtitle="Note" data-width="tw25per" valign="middle"  >
                  <button type="button" ng-class="{'error-control':secondArr[$index].note}"  class=" linkfocus  btn  btn-border w40px nopadding fs11-w400-cb54" href="javascript:void(0);" ng-click="notespopup($index,'note')" >  Note </button>
                </td>
                    <td data-headtitle="Follow up Completed"  data-width="tw30per">
                    <select ng-init="statusUpdateObj.completed==true || statusUpdateObj.completed=='Yes' ?statusUpdateObj.completed=true:statusUpdateObj.completed=false"
                            class="form-control last-child"  ng-disabled="statusUpdateObj.id!=null && statusUpdateObj.completed==true || statusUpdateObj.serviceUid!=currentServiceUid && statusUpdateObj.id!=null "
                            ng-class="{'error-control':secondArr[$index].completed}"
                            ng-options="item.id as item.title for item in toggleArr"
                            ng-model="statusUpdateObj.completed"
                            ng-disabled="!editRole&&statusUpdateObj.id!=null"
                            ng-focus="dirtyIndex($index);">
                    </select>
                </td>
                    <td data-nofloat="true" data-action="true" class="verticalaln">
                        <ul class="list-inline deleteicon">
                       		<li class="padright0">
                                <a href="javascript:void(0);"
                                   ng-click="copyObj(statusUpdateObj)" data-placement="bottom"   bs-tooltip="copy">
                                   <i class="icon-copy delicon" ></i>
                                </a>
                            </li>
                        
                            <li class="padright0">
                            	<a href="javascript:void(0);" ng-show="statusUpdateObj.id==null"
                                   ng-click="fnRole({param:deleteRole})?removeObj(statusUpdateObj,$index):''">
                                <i class="icon-delete delicon" data-placement="bottom"   bs-tooltip="delete"></i></a>
                             </li>
                             
                             <li ng-show="statusUpdateObj.serviceUid==currentServiceUid && statusUpdateObj.id != null">
                                <a href="javascript:void(0);" data-placement="bottom"  bs-tooltip="sentTrigger">
                                	<i class="fa fa-arrow-up" aria-hidden="true"></i>
                                </a>
                            </li>
                             <li ng-show="statusUpdateObj.serviceUid!=currentServiceUid  && statusUpdateObj.id != null">
                                <a href="javascript:void(0);" data-placement="bottom"  bs-tooltip="receivedTrigger">
                                	<i class="fa fa-arrow-down" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</div>

    <script type="text/ng-template" id="errorPopUp.html">
        <div class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header nopadding">
                        <div class="row plr14px">
                            <div class="col-xs-6">
                                <h4>Following Error List</h4>
                            </div>
                            <div class="col-xs-6 mt-7">
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body pt35 pb35">
                        <ul>
                            <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="statusNote.html">
    <div class="modal" role="dialog" id="statusNote">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Notes</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="save(popUpNote)">Save</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">
                   <div class="row">
                       
                       <div class="col-xs-12">
                           <div class="form-group">
                             
                               <textarea class="form-control minH-180" id="note" 
                                         ng-model="popUpNote"
                                         maxlength="4000"
                                         ng-class="{'error-control':secondArr[$index].note}"
                                         ng-focus="dirtyIndex($index)" ng-disabled="statusUpdateObj.id!=null" >
                </textarea>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</script>

</div><!--body ends-->
