<div>
    <button type="button" class="btn btn-info btn-property mb10 accent-btn" ng-click="addRow()">
        <i class="icon-add"></i> Add Leg 
    </button>
    <div ng-style="dropStyle" class="table-responsive mb-20">
    <table class="table  mb-9 table-inline-nopad" tab-nav tab-row="addRow()">
        <thead>
	        <tr>
	            <th class="inl_sno">Leg</th>
	            <th class="inl_m">Carrier Name<span class="reqColor">*</span></th>
	            <th class="inl_s">Flight No<span class="reqColor">*</span></th>
	            <th class="inl_m">Airport of Loading<span class="reqColor">*</span></th>
	            <th class="inl_m">Airport of Discharge<span class="reqColor">*</span></th>
	            <th class="inl_mp">ETD<span class="reqColor">*</span></th>
	            <th class="inl_mp">ETA<span class="reqColor">*</span></th>
	            <th class="inl_xs">Action</th>
	        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dataObj in tableData track by $index">
            <td class="inl_sno" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
            </td>
            <td class="inl_m">
                <div class="select-auto">
                     <input type="text" class="form-control" 
										input-focus="true" ng-class="{'error-control-auto':secondArr[$index].carrierName}" 
										autocomplete="off" ng-model="dataObj.carrierMaster" 
										uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectCarrier('flightNo'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                </div>

                                    </td>
            <td class="inl_s">
	             <div class="form-group mb0">
					<input 	type="text" 
							id="{{'flightNo'+$index}}"
							class="form-control"
							ng-model="dataObj.flightNo"
							ng-class="{'error-control':secondArr[$index].flightNumber}" 
							maxlength="10"
							input-focus="dirtyIndex($index)"
							/>
	             </div>
            </td>
            <td class="inl_m">
                <div class="select-auto">
                   <input type="text" class="form-control" 
										input-focus="dirtyIndex($index)" ng-class="{'error-control-auto':secondArr[$index].pol}" 
										autocomplete="off"  ng-model="dataObj.pol" 
										uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPolEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="removeSamePortInPod(dataObj.pol,'airportOfDischarge'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                </div>

                <!--<oi-select-->
                        <!--oi-options="item.portName for item in ajaxPolEvent($query)"-->
                        <!--ng-model="dataObj.pol"-->
                        <!--ng-class="{'error-control-wrapper':secondArr[$index].pol}"-->
                        <!--on-open="openEvent(param)"-->
                        <!--oi-select-options="{-->
                                     <!--editItem: 'correct',-->
                                     <!--debounce: 200,-->
                                     <!--dropdownFilter: 'myDropdownFilter',-->
                                     <!--saveTrigger:'enter tab blur'-->
                                     <!--}"-->
                        <!--</oi-select>-->

                <!--<ui-select-->
                        <!--ng-model="dataObj.pol"-->
                        <!--theme="select2"-->
                        <!--style="width: 100%"-->
                        <!--title="{{dataObj.pol.id!=null?dataObj.pol.portName:''}}"-->
                        <!--ng-class="{'error-control-wrapper':secondArr[$index].pol}"-->
                        <!--on-open="openEvent(param)" -->
                        <!--tabindex="3"-->
                         <!--ng-blur="makeTableState()"-->
                        <!--ng-focus="dirtyIndex($index)">-->
                    <!--<ui-select-match >-->
                        <!--{{$select.selected.portName}}-->
                        <!--<a tabindex="-1" href="javascript:void(0);" ng-click="dataObj.pol={};"><i class="icon-close"></i></a>-->
                    <!--</ui-select-match>-->
                    <!--<ui-select-choices refresh="ajaxPolEvent($select.search)" refresh-delay="10" repeat="dataObj in  polList">-->
                        <!--<span ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.portName | highlight: $select.search"></span>-->
                        <!--[<small ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.portCode | highlight: $select.search"></small>]-->
                    <!--</ui-select-choices>-->
                <!--</ui-select>-->
             </td>
            <td class="inl_m">
                <div class="select-auto">
                    <input type="text" class="form-control" id="{{'airportOfDischarge'+$index}}"
										 input-focus="dirtyIndex($index)"  ng-class="{'error-control-auto':secondArr[$index].pod}" 
										autocomplete="off"  ng-model="dataObj.pod"
										uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPodEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectDischarge('etdFlightDate'+$index)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                </div>

                <!--<oi-select-->
                        <!--oi-options="item.portName for item in ajaxPodEvent($query)"-->
                        <!--ng-model="dataObj.pod"-->
                        <!--ng-class="{'error-control-wrapper':secondArr[$index].pod}"-->
                        <!--on-open="openEvent(param)"-->
                        <!--oi-select-options="{-->
                                     <!--editItem: 'correct',-->
                                     <!--debounce: 200,-->
                                     <!--dropdownFilter: 'myDropdownFilter',-->
                                     <!--saveTrigger:'enter tab blur'-->
                                     <!--}"-->
                        <!--</oi-select>-->

                <!--<ui-select-->
                        <!--ng-model="dataObj.pod"-->
                        <!--theme="select2"-->
                        <!--style="width: 100%"-->
                        <!--title="{{dataObj.pod.id!=null?dataObj.pod.portName:''}}"-->
                        <!--ng-class="{'error-control-wrapper':secondArr[$index].pod}"-->
                        <!--on-open="openEvent(param)"-->
                        <!--tabindex="4"-->
                         <!--ng-blur="makeTableState()"-->
                        <!--ng-focus="dirtyIndex($index)">-->
                    <!--<ui-select-match >-->
                        <!--{{$select.selected.portName}}-->
                        <!--<a tabindex="-1" href="javascript:void(0);" ng-click="dataObj.pod={};"><i class="icon-close"></i></a>-->
                    <!--</ui-select-match>-->
                    <!--<ui-select-choices refresh="ajaxPodEvent($select.search)" refresh-delay="10" repeat="dataObj in  podList">-->
                        <!--<span ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.portName | highlight: $select.search"></span>-->
                        <!--[<small ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.portCode | highlight: $select.search"></small>]-->
                    <!--</ui-select-choices>-->
                <!--</ui-select>-->
             </td>
            <td class="inl_mp">
                <div class="inputBox">
                    <input  type="text" 
                    		id="{{'etdFlightDate'+$index}}"
                    		ng-class="{'error-control':secondArr[$index].etd}" 
                    		class="form-control" 
                    		ng-model="dataObj.etd"  
                    		datetimepicker  
                    		datetimepicker-options="{{dateTimePickerOptionsLeft}}"
                    		date-visible="openDatePicker(param)" 
                    		date-callback="nextEta('etaFlightDate'+$index)"
                     		input-focus="dirtyIndex($index)"
                     		ng-blur="openEvent(false)"/>
                    <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                </div>
            </td>
            <td class="inl_mp" >
                <div class="inputBox">
                    <input  type="text" 
                    		id="{{'etaFlightDate'+$index}}"
                    		ng-class="{'error-control':secondArr[$index].eta}" 
                    		class="form-control text-left last-child"
                    		ng-model="dataObj.eta" 
                    		datetimepicker  
                    		datetimepicker-options="{{dateTimePickerOptionsLeft}}"
                    		date-visible="openDatePicker(param)"     
                    		input-focus="dirtyIndex($index)"
                    		ng-blur="openEvent(false)"/>
                    <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                </div>
            </td>
            <td class="inl_xs">
                <ul class="list-inline" ng-show="tableData.length>1">
                    <li><a href="javascript:void(0);" ng-click="removeObj(dataObj,$index)">
                        <i class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                </ul>
            </td>
		</tr>
	</tbody>
	</table>
	</div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
<div class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header nopadding">
<div class="row plr14px">
    <div class="col-xs-6">
        <h4>Following Error List</h4>
    </div>
    <div class="col-xs-6 mt-7">
        <ul class="list-inline pull-right">
            <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
        </ul>
    </div>
</div>
</div>
<div class="modal-body pt35 pb35">
<ul>
    <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
</ul>
</div>
</div>
</div>
</div>
</script>