<div class="col-xs-12">
    <ul class="list-inline mb-10">
        <li>
            <a href="javascript:void(0);" class="btn btn-xs btn-property btn-gray" ng-click="back()">
                <i class="icon-back-menu"></i>Back</a>
        </li>
    </ul>
    <!--ADD BAR ENDS-->

    <div class="panel panel-default">
        <div class="panel-heading flexTitle">
            <div class="col-xs-12 pl0">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="row">
                            <div class="col-xs-4">
                                <h4 ng-if="detailTab=='HAWB'">HAWB: #
                                    <span class="ng-binding">{{detailTabNo}}</span>
                                </h4>
                                <h4 ng-if="detailTab=='MAWB'">MAWB: #
                                    <span class="ng-binding">{{detailTabNo}}</span>
                                </h4>
                                <h4 ng-if="detailTab=='DO'">Delivery Order: #
                                    <span class="ng-binding">{{detailTabNo}}</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 pr0">
                        <div class="pull-right mt-5">
                            <div class="cursorPt pull-left  ml-5  pr0 " ng-if="detailTab=='HAWB'" ng-controller="hawbController">
                                <button ng-click="previewReport(null, airDocument.shipmentUid, airDocument.id,'HAWB',airDocument.serviceId, false,'AirDocument')"
                                    class="btn nomargin accent-btn" type="button">
                                    <!--ng-if="documentDetail.id!=null"-->
                                    Preview HAWB
                                </button>
                            </div>
                            <div class="cursorPt pull-left  mlr-5  pr0 " ng-if="detailTab=='MAWB'" ng-controller="mawbController">
                                <button ng-click="previewReport(airDocument,'MAWB',false,'AirDocument')" class="btn nomargin accent-btn" type="button">
                                    <!-- ng-if="documentDetail.id!=null"-->
                                    Preview MAWB
                                </button>
                            </div>
                            <div class="cursorPt  pull-left mlr-5 pr0  " ng-if="detailTab=='DO'" ng-controller="doController">
                                <button ng-click="previewReportDeliveryOrder(airDocument.consol,airDocument.serviceId,airDocument.shipmentUid,airDocument.id,'DO',false,'AirDocument')"
                                    class="btn nomargin accent-btn" type="button">
                                    <!--ng-if="documentDetail.id!=null" -->
                                    Preview Delivery Order
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--panel heding ends-->
        <div show-response></div>
        <div class="panel-body detail-container nopadding  pt0" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
            <div ng-if="detailTab=='HAWB'" ng-include="'app/components/air/documents/view/air_document_hawb.html'"></div>
            <div ng-if="detailTab=='MAWB'" ng-include="'app/components/air/documents/view/air_document_mawb.html'"></div>
            <div ng-if="detailTab=='DO'" ng-include="'app/components/air/documents/view/air_document_do.html'"></div>

        </div>
        <!--panel body ends-->
    </div>
    <!--panel ends-->
</div>