	<div class="mb0 bor-b-0  pb0">
	    <div class="panel-body pt0 detail-view plr0" >
	        <div class="row pb0 ptb-15 nopadding ">
				<div class="ptb-15">
					<div class="col-xs-4">

						<span>Shipper</span>
						<h5 class="heading">{{airDocument.consolDocument.shipper.partyName}}</h5>
						<address class="mb0">
							<ul class="list-unstyled">
								<li>{{airDocument.consolDocument.shipperAddress.addressLine1}}</li>
								<li>{{airDocument.consolDocument.shipperAddress.addressLine2}}</li>
								<li>{{airDocument.consolDocument.shipperAddress.addressLine3}}</li>
								<li>{{airDocument.consolDocument.shipperAddress.addressLine4}}</li>
							</ul>
							<p class="mb0 mt-7"><span ng-if="airDocument.consolDocument.shipperAddress.email!=null" class=" icon-email"></span> {{airDocument.consolDocument.shipperAddress.email!=null?airDocument.consolDocument.shipperAddress.email:'-'}}</p>
						</address>
					</div>
					<div class="col-xs-4">
						<span>Consignee</span>
						<h5 class="heading">{{airDocument.consolDocument.consignee.partyName!=null?airDocument.consolDocument.consignee.partyName:'-'}}</h5>
						<address class="mb0">
							<ul class="list-unstyled">
								<li>{{airDocument.consolDocument.consigneeAddress.addressLine1}}</li>
								<li>{{airDocument.consolDocument.consigneeAddress.addressLine2}}</li>
								<li>{{airDocument.consolDocument.consigneeAddress.addressLine3}}</li>
								<li>{{airDocument.consolDocument.consigneeAddress.addressLine4}}</li>
							</ul>
							<p class="mb0 mt-7"><span ng-if="airDocument.consolDocument.consignee.email!=null" class=" icon-email"></span> {{airDocument.consolDocument.consignee.email}}</p>
						</address>
					</div>
					<div class="col-xs-4">
						<span>Notify Customer 1</span>
						<h5 class="heading">{{airDocument.consolDocument.firstNotify.partyName!=null?airDocument.consolDocument.firstNotify.partyName:'-'}}</h5>
						<address class="mb0">
							<ul class="list-unstyled">
								<li>{{airDocument.consolDocument.firstNotifyAddress.addressLine1}}</li>
								<li>{{airDocument.consolDocument.firstNotifyAddress.addressLine2}}</li>
								<li>{{airDocument.consolDocument.firstNotifyAddress.addressLine3}}</li>
								<li>{{airDocument.consolDocument.firstNotifyAddress.addressLine4}}</li>
							</ul>
							<p class="mb0 mt-7"><span ng-if="airDocument.consolDocument.firstNotifyAddress.email!=null" class=" icon-email"></span> {{airDocument.consolDocument.firstNotifyAddress.email}}</p>
						</address>
					</div>
					
				</div>
	        </div>
			<div class="showmore " ng-hide="!showmore">
				<div class="pt-15 clearfix">
					<div class="row nopadding">
						<div class="ptb-15 clearfix">
							<div class="col-xs-4">
								<span>Notify Customer 2</span>
								<h5 class="heading">{{airDocument.consolDocument.secondNotify.partyName!=null?airDocument.consolDocument.secondNotify.partyName:'-'}}</h5>
								<address class="mb0" >
									<ul class="list-unstyled">
										<li>{{airDocument.consolDocument.secondNotifyAddress.addressLine1}}</li>
										<li>{{airDocument.consolDocument.secondNotifyAddress.addressLine2}}</li>
										<li>{{airDocument.consolDocument.secondNotifyAddress.addressLine3}}</li>
										<li>{{airDocument.consolDocument.secondNotifyAddress.addressLine4}}</li>
									</ul>
									<p class="mb0 mt-7" ng-if="airDocument.consolDocument.secondNotifyAddress.email!=null"><span class=" icon-email"></span> {{airDocument.consolDocument.secondNotifyAddress.email}}</p>
								</address>
							</div>
							<div class="col-xs-4">
								<span>Forwarder</span>
								<h5 class="heading">{{airDocument.consolDocument.forwarder.partyName!=null?airDocument.consolDocument.forwarder.partyName:'-'}}</h5>
								<address class="mb0">
									<ul class="list-unstyled">
										<li>{{airDocument.consolDocument.forwarderAddress.addressLine1}}</li>
										<li>{{airDocument.consolDocument.forwarderAddress.addressLine2}}</li>
										<li>{{airDocument.consolDocument.forwarderAddress.addressLine3}}</li>
										<li>{{airDocument.consolDocument.forwarderAddress.addressLine4}}</li>
									</ul>
									<p class="mb0 mt-7" ng-if="airDocument.consolDocument.forwarderAddress.email!=null"><span class="icon-email"></span> {{airDocument.consolDocument.forwarderAddress.email}}</p>
								</address>

						</div>
						
						<div class="col-xs-4">
							<span>Agent</span>
							<h5 class="heading">{{airDocument.consolDocument.agent.partyName!=null?airDocument.consolDocument.agent.partyName:'-'}}</h5>
							<address class="mb0">
								<ul class="list-unstyled">
									<li>{{airDocument.consolDocument.agentAddress.addressLine1}}</li>
									<li>{{airDocument.consolDocument.agentAddress.addressLine2}}</li>
									<li>{{airDocument.consolDocument.agentAddress.addressLine3}}</li>
									<li>{{airDocument.consolDocument.agentAddress.addressLine4}}</li>
								</ul>
								<p class="mb0 mt-7" ng-if="airDocument.consolDocument.agentAddress.email!=null"><span class="fa fa-envelope"></span>{{airDocument.consolDocument.agentAddress.email}}</p>
							</address>
						</div>
						
						</div>
					</div>
					<div class="row nopadding bor-0">
						<div class="ptb-15 clearfix">
							<div class="col-xs-6">
							<span>Issuing Agent</span>
							<h5 class="heading">{{airDocument.consolDocument.issuingAgent.partyName!=null?airDocument.consolDocument.issuingAgent.partyName:'-'}}</h5>
							<address class="mb0">
								<ul class="list-unstyled">
									<li>{{airDocument.consolDocument.issuingAgentAddress.addressLine1}}</li>
									<li>{{airDocument.consolDocument.issuingAgentAddress.addressLine2}}</li>
									<li>{{airDocument.consolDocument.issuingAgentAddress.addressLine3}}</li>
									<li>{{airDocument.consolDocument.issuingAgentAddress.addressLine4}}</li>
								</ul>
								<p class="mb0 mt-7" ng-if="airDocument.consolDocument.issuingAgentAddress.email!=null"><span class="fa fa-envelope"></span>{{airDocument.consolDocument.issuingAgentAddress.email}}</p>
							</address>
						</div>
						
						<div class="col-xs-4">
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row nomargin pt0 padding15 text-underline	clear_both">
				<div  ng-click="showmore=!showmore" ng-init="showmore=false">

					<h5 class="  text-blue mt0 pt0 cur-pointer">{{showmore==true?'Show Less -':'Show More +'}}</h5>
				</div>
			</div>
			<div class="  ">
				<div ng-click="routeInfo=!routeInfo" ng-init="routeInfo=false" class=" cursorPt mb0 flex align-justify align-middle title  ">
					<div>
						<h5 style="text-transform: inherit !important;">
							Routing & Carrier Info
						</h5>
					</div>
					<div>
						<i class="{{routeInfo==true?'icon-uparrow':' icon-downarrow'}}" aria-hidden="true"></i>
					</div>

				</div>
			<div class="panel-body  fx-fade-normal fx-ease-sine nopadding" ng-hide="!routeInfo">
				<div class="row nopadding">
					<div class="ptb-15 clearfix">
						<div class="col-xs-3">
							<span>Origin</span>
							<h6>{{airDocument.origin.portName}}</h6>
						</div>
						<div class="col-xs-3">
							<span class="text-inherit">{{airDocument.pol.transportMode=='Air'?'Airport of Loading':'Port of Loading'}}</span>
							<h6>{{airDocument.pol.portName}}</h6>
						</div>
						<div class="col-xs-3">
							<span class="text-inherit">{{airDocument.pod.transportMode=='Air'?'Airport of Discharge':'Port of Discharge'}}</span>
							<h6>{{airDocument.pod.portName}}</h6>
						</div>
						<div class="col-xs-3">
							<span>Destination</span>
							<h6>{{airDocument.destination.portName}}</h6>
						</div>
					</div>
				</div>
				<div class="row nopadding bor-0">
					<hr class="nomargin">
				</div>

				<div class="row nopadding ">
					<div class="ptb-15 clearfix">
					<div class="col-xs-3">
						<span>Carrier</span>
						<h6><img ng-if="airDocument.carrier.image!=null"  data-ng-src="data:image/png;base64,{{airDocument.carrier.image}}" style="padding-right:3px;" width="23" height="20">{{airDocument.carrier!=null?airDocument.carrier.carrierName:'-'}}</h6>
					</div>
					<div class="col-xs-2">
						<span>Flight #</span>
						<h6>{{airDocument.consolDocument.routeNo}}</h6>
					</div>
					<div class="col-xs-2 col-xs-push-1">
						<span>ETD</span>
						<h6>{{airDocument.etd!=null?dateToString(airDocument.etd):'-'}}</h6>
					</div>
					<div class="col-xs-2 col-xs-push-2">
						<span>ETA</span>
						<h6>{{airDocument.eta!=null?dateToString(airDocument.eta):'-'}}</h6>
					</div>
					</div>
				</div>
			</div>
			</div>
			<div class=" ">
				<div ng-click="packsInfo=!packsInfo" ng-init="packsInfo=false" class=" mb0 cursorPt flex align-justify align-middle title">
					<div>
						<h5 class="">Packs & Dimension Info</h5>
					</div>
					<div>
						<i class="{{packsInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
					</div>

				</div>
				<div class=" pt0 fx-fade-normal fx-ease-sin " ng-hide="!packsInfo">
					<div class="row nopadding">
						<div class="ptb-15 clearfix">
							<div class="col-xs-2">
								<span>Pack</span>
								<h6>{{airDocument.consolDocument.packMaster!=null?airDocument.consolDocument.packMaster.packName:'-'}}</h6>
							</div>
							<div class="col-xs-2">
								<span>Pieces</span>
								<h6>{{integerFormat(airDocument.consolDocument.noOfPieces,airDocument.country.locale)}}</h6>
							</div>
							<div class="col-xs-2">
								<span>Dimension Unit</span>
								<h5>{{airDocument.consolDocument.dimensionUnit?'Inch/Pounds':'Centimeter/Kilos'}}</h5>
							</div>
							<div class="col-xs-2">
								<span class="block">Dimension Value</span>
								<h5>{{integerFormat(airDocument.consolDocument.dimensionUnitValue,airDocument.country.locale)}}</h5>
							</div>
							<div class="col-xs-2">
							</div>
							<div class="col-xs-2">
							</div>
						</div>
					</div>
					<div class="row nopadding bor-0">
						<hr class="nomargin">
					</div>
					<div class="row  nopadding bor-0">
						<div class="ptb-15 clearfix">
							<div class="col-xs-2">
								<span>Gross Weight (KG)</span>
								<h6>{{weightFormat(airDocument.consolDocument.grossWeight,airDocument.country.locale)}}</h6>
							</div>

							<div class="col-xs-2">
								<span>Gross Weight (Pounds)</span>
								<h6>{{weightFormat(airDocument.consolDocument.grossWeightInPound,airDocument.country.locale)}}</h6>
							</div>



							<div class="col-xs-2">
								<span>Volume (CBM)</span>
								<h6>{{weightFormat(airDocument.consolDocument.volume,airDocument.country.locale)}}</h6>
							</div>


							<div class="col-xs-2">
								<span>Volume Weight (KG)</span>
								<h6>{{weightFormat(airDocument.consolDocument.volumeWeight,airDocument.country.locale)}}</h6>
							</div>
							<div class="col-xs-2">
								<span>Volume Weight (Pounds)</span>
								<h6>{{weightFormat(airDocument.consolDocument.volumeWeightInPound,airDocument.country.locale)}}</h6>
							</div>
							<div class="col-xs-2">
								<span>Chargeable Weight (KG)</span>
								<h6>{{weightFormat(airDocument.consolDocument.chargebleWeight,airDocument.country.locale)}}</h6>
							</div>
						</div>
					</div>

					<div class="row nopadding bor-0 ">
						<hr class="nomargin">
					</div>


					<div class="row nopadding " >
						<div class="col-xs-12 ptb-15 ">
							<table class="table table-hover tab-width tfoot-bor0 table-default tab-col-bg" ng-if="airDocument.consolDocument.dimensionList!=null && airDocument.consolDocument.dimensionList.length!=0">
								<thead>
								<tr>
									<th class="text-center w50px">#</th>
									<th class="text-right w200px text-inherit" style="text-transform: inherit !important;">No. of Pieces</th>
									<th class="text-right w200px">Length(in)</th>
									<th class="text-right w200px">Width(in)</th>
									<th class="text-right w200px">Height(in)</th>
									<th class="text-right w200px">Volume Weight(KG)</th>
									<th class="text-right w200px">Gross Weight(KG)</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="dimensionObj in airDocument.consolDocument.dimensionList track by $index">
									<td class="text-center">{{$index}}</td>
									<td class="text-right">{{integerFormat(dimensionObj.noOfPiece,airDocument.country.locale)}}</td>
									<td class="text-right">{{integerFormat(dimensionObj.length,airDocument.country.locale)}}</td>
									<td class="text-right">{{integerFormat(dimensionObj.width,airDocument.country.locale)}}</td>
									<td class="text-right">{{integerFormat(dimensionObj.height,airDocument.country.locale)}}</td>
									<td class="text-right">{{weightFormat(dimensionObj.volWeight,airDocument.country.locale)}}</td>
									<td class="text-right">{{weightFormat(dimensionObj.grossWeight,airDocument.country.locale)}}</td>

								</tr>
								</tbody>
								<tfoot class="bg-danger" style="border:1px solid #F8DDAD">
								<tr>
									<td class="text-right">Total</td>
									<td class="text-right">{{integerFormat(airDocument.consolDocument.noOfPieces,airDocument.country.locale) }}</td>
									<td></td>
									<td></td>
									<td></td>
									<td class="text-right">{{weightFormat(airDocument.consolDocument.volumeWeight,airDocument.country.locale)}}</td>
									<td class="text-right">{{weightFormat(airDocument.consolDocument.grossWeight,airDocument.country.locale)}}</td>

								</tr>
								</tfoot>
							</table>
						</div>
						<empty-record ng-if="!airDocument.consolDocument.dimensionList || airDocument.consolDocument.dimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>
					</div>
				</div>

			</div>
			<div class="">
				<div ng-click="otherInfo=!otherInfo" ng-init="otherInfo=false" class=" cursorPt mb0  flex align-justify align-middle title">
					<div>
						<h5 >Other Info</h5>
					</div>
					<div>
						<i class="{{otherInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
					</div>

				</div>

				<div class="fx-fade-normal fx-ease-sine" ng-hide="!otherInfo">
                    <div class="row overflow-hidden nopadding">
                        <div class="col-xs-12  bor-fix plr0 ">
                            <div class="flex-row ptb-15">
                                <div class="col-xs-2">
                                    <span>MAWB Received By</span>
                                    <h6 class="mb0">{{ifDataElseHifen(airDocument.consolDocument.mawbGeneratedBy.employeeName)}}</h6>
                                </div>
								<div class="col-xs-2">
									<span>MAWB Received On</span>
									<h6 class="mb0">{{ifDataElseHifen(dateAndTimeToString(airDocument.consolDocument.mawbIssueDate))}}</h6>
								</div>
								<div class="col-xs-2">
									<span>Rate Class</span>
									<h6 class="mb0">{{ifDataElseHifen(airDocument.consolDocument.rateClass)}}</h6>
								</div>

                            </div>
                        </div>
                        
                    </div>
                    <div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
                        <hr>
                    </div>
					
					

					<div class="row overflow-hidden nopadding bor-b-0">
						<div class="col-xs-4 bor-fix">
							<div class="flex flex-col align-justify ptb-15">

								<div>
									<span>Commodity Description</span>
									<p class="mb0">{{airDocument.consolDocument.commodityDescription!=null?airDocument.consolDocument.commodityDescription:'-'}}</p>
								</div>
							</div>
						</div>
						<div class="col-xs-4 bor-fix">
							<div class="flex flex-col align-justify ptb-15">

								<div>
									<span>Marks & No.</span>
									<p class="mb0">{{airDocument.consolDocument.marksAndNo!=null?airDocument.consolDocument.marksAndNo:'-'}}</p>
								</div>
							</div>
						</div>

					</div>
					
					<div class="row overflow-hidden nopadding bor-b-0">
						<div class="col-xs-4 bor-fix">
							<div class="flex flex-col align-justify ptb-15">

								<div>
									<span>Handling Information</span>
									<p class="mb0">{{airDocument.consolDocument.handlingInformation!=null?airDocument.consolDocument.handlingInformation:'-'}}</p>
								</div>
							</div>
						</div>
						<div class="col-xs-4 bor-fix">
							<div class="flex flex-col align-justify ptb-15">

								<div>
									<span>Accounting Information</span>
									<p class="mb0">{{airDocument.consolDocument.accountingInformation!=null?airDocument.consolDocument.accountingInformation:'-'}}</p>
								</div>
							</div>
						</div>

					</div>
                   
				</div>

			</div>
		</div><!--body ends-->
	</div><!--row ends-->