
<div class="modal page-style" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog" style="width: 60%">
		<div class="modal-content">
			<div class="modal-header nopadding ">
				<div class="row plr14px">
					<div class="col-xs-6">
						<h4>More Info</h4>
					</div>
					<div class="col-xs-6 mt-7">
						<div class="pull-right">
							<button type="button" tabindex=""
								class="btn btn-primary btn-xs btn-property cancel-btn mr0"
								ng-click="$hide()">Discard</button>
							<button type="button" tabindex=""
								class="btn btn-primary btn-xs btn-property accent-btn"
								ng-click="$hide()">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body fgmb0 nopadding" style="min-height: 300px">
				<div class="row nomargin overflow-hidden">
					<div class="col-xs-6 ptb-15 bor-r-1  bor-fix">
						<div class="row">
							<div class="col-xs-12">
								<span class="fs14-w300-cw">Origin Pick Up</span>
							</div>
							<div class="col-xs-6">
								<label>From<span class="reqColor">*</span></label>
								<div class="form-group">
									<div class="inputBox mb-10">
										<input class="form-control" 
										    id="{{'poItemOriginPickUpFrom'+selectedItemIdx}}" 
											ng-class="{'error-control':errorMap.get('poItemOriginPickUpFrom'+selectedItemIdx)!=null}"
											datetimepicker
                                        	datetimepicker-options="{{datePickerOptions}}"
                                        	date-callback="navigateToNextField('poItemOriginPickUpWithIn'+selectedItemIdx)"
                                        	ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].pickUpFrom">
										<span class="inputIcon">
											<i class="icon-date" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<label>Within<span class="reqColor">*</span></label>
								<div class="form-group">
									<div class="inputBox mb-10">
										<input class="form-control" 
										    id="{{'poItemOriginPickUpWithIn'+selectedItemIdx}}" 
											ng-class="{'error-control':errorMap.get('poItemOriginPickUpWithIn'+selectedItemIdx)!=null}"
											datetimepicker
                                        	datetimepicker-options="{{datePickerOptions}}"
                                        	date-callback="navigateToNextField('poItemFinalDeliveryFrom'+selectedItemIdx)"
                                        	ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].pickUpWithin">
										<span class="inputIcon">
											<i class="icon-date" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 ptb-15 bor-fix">
						<div class="row">
							<div class="col-xs-12">
								<span class="fs14-w300-cw">Final Delivery</span>
							</div>


							<div class="col-xs-6 ">
								<label>From<span class="reqColor">*</span></label>
								<div class="form-group">
									<div class="inputBox mb-10">
										<input class="form-control" 
										    id="{{'poItemFinalDeliveryFrom'+selectedItemIdx}}" 
											ng-class="{'error-control':errorMap.get('poItemFinalDeliveryFrom'+selectedItemIdx)!=null}"
											datetimepicker
                                        	datetimepicker-options="{{datePickerOptions}}"
                                        	date-callback="navigateToNextField('poItemFinalDeliveryWithIn'+selectedItemIdx)"
                                        	ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].deliveryFrom">
										<span class="inputIcon">
											<i class="icon-date" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-xs-6 ">
								<label>Within<span class="reqColor">*</span></label>
								<div class="form-group">
									<div class="inputBox mb-10">
										<input class="form-control" 
										    id="{{'poItemFinalDeliveryWithIn'+selectedItemIdx}}" 
											ng-class="{'error-control':errorMap.get('poItemFinalDeliveryWithIn'+selectedItemIdx)!=null}"
											datetimepicker
                                        	datetimepicker-options="{{datePickerOptions}}"
                                        	date-callback="navigateToNextField('poItemQcStatus'+selectedItemIdx)"
                                        	ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].deliveryWithin">
										<span class="inputIcon">
											<i class="icon-date" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>
				<div class="row line nomargin">
					<hr>
				</div>
				<div class="row nomargin overflow-hidden">
					<div class="col-xs-6 ptb-15 bor-fix">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label>QC Status<span class="reqColor">*</span></label> 
									<input type="text" class="form-control" 
										id="{{'poItemQcStatus'+selectedItemIdx}}"  
										ng-class="{'error-control':errorMap.get('poItemQcStatus'+selectedItemIdx)!=null}"
										maxlength="50"
										ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].qcStatus">
								</div>
							</div>
							<div class="col-xs-6">
								<label>Supplier Confirmation Date</label>
								<div class="form-group">
									<div class="inputBox mb-10">
										<input class="form-control" 
											id="{{'poItemConfDate'+selectedItemIdx}}"  
											ng-class="{'error-control':errorMap.get('poItemConfDate'+selectedItemIdx)!=null}"
											datetimepicker
                                        	datetimepicker-options="{{datePickerOptions}}"
                                        	date-callback="navigateToNextField('poItemRef1'+selectedItemIdx)"
                                        	ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].supplierConfDate">
										<span class="inputIcon">
											<i class="icon-date" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row line nomargin">
					<hr>
				</div>
				<div class="row nomargin">
					<div class="col-xs-3 ">
						<div class="form-group">
							<label>{{(purchaseOrder.buyer != null && purchaseOrder.buyer.id != null && purchaseOrder.buyer.ref1 != undefined && purchaseOrder.buyer.ref1 != null)?purchaseOrder.buyer.ref1:'Ref 1'}}</label> 
							<input type="text" class="form-control"
								id="{{'poItemRef1'+selectedItemIdx}}"  
								ng-class="{'error-control':errorMap.get('poItemRef1'+selectedItemIdx)!=null}"
								maxlength="30"
								ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].ref1">
						</div>
					</div>
					<div class="col-xs-3 ">
						<div class="form-group">
							<label>{{(purchaseOrder.buyer != null && purchaseOrder.buyer.id != null && purchaseOrder.buyer.ref2 != undefined && purchaseOrder.buyer.ref2 != null)?purchaseOrder.buyer.ref2:'Ref 2'}}</label> 
							<input type="text" class="form-control"
								id="{{'poItemRef2'+selectedItemIdx}}"  
								ng-class="{'error-control':errorMap.get('poItemRef2'+selectedItemIdx)!=null}"
								maxlength="30"
								ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].ref2">
						</div>
					</div>
					<div class="col-xs-3 ">
						<div class="form-group">
							<label>{{(purchaseOrder.buyer != null && purchaseOrder.buyer.id != null && purchaseOrder.buyer.ref3 != undefined && purchaseOrder.buyer.ref3 != null)?purchaseOrder.buyer.ref3:'Ref 3'}}</label>
							<input type="text" class="form-control"
								id="{{'poItemRef3'+selectedItemIdx}}"  
								ng-class="{'error-control':errorMap.get('poItemRef3'+selectedItemIdx)!=null}"
								maxlength="30"
								ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].ref3">
						</div>
					</div>

				</div>
				<div class="row nomargin">
					<div class="col-xs-3 ptb-15">
						<div class="form-group">
							<label>{{(purchaseOrder.buyer != null && purchaseOrder.buyer.id != null && purchaseOrder.buyer.ref4 != undefined && purchaseOrder.buyer.ref4 != null)?purchaseOrder.buyer.ref4:'Ref 4'}}</label>
							<input type="text" class="form-control"
								id="{{'poItemRef4'+selectedItemIdx}}"  
								ng-class="{'error-control':errorMap.get('poItemRef4'+selectedItemIdx)!=null}"
								maxlength="30"
								ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].ref4">
						</div>
					</div>
					<div class="col-xs-3  ptb-15">
						<div class="form-group">
							<label>{{(purchaseOrder.buyer != null && purchaseOrder.buyer.id != null && purchaseOrder.buyer.ref5 != undefined && purchaseOrder.buyer.ref5 != null)?purchaseOrder.buyer.ref5:'Ref 5'}}</label>
							<input type="text" class="form-control"
								id="{{'poItemRef5'+selectedItemIdx}}"  
								ng-class="{'error-control':errorMap.get('poItemRef5'+selectedItemIdx)!=null}"
								maxlength="30"
								ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].ref5">
						</div>
					</div>
				</div>
				<div class="row line nomargin">
					<hr>
				</div>
				<div class="row nomargin pb10">
					<div class="col-xs-3 ptb-15">
						<div class="form-group">
							<label>Currency<span class="reqColor">*</span></label>
							<div class="select-auto">
									<input type="text" class="form-control" id="{{'poItemCurrency'+selectedItemIdx}}"  
										ng-class="{'error-control':errorMap.get('poItemCurrency'+selectedItemIdx)!=null}" 
										autocomplete="off" ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].currencyMaster" 
										uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxCurrencyMasterEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedCurrencyMaster(purchaseOrder.purchaseOrderItemList[selectedItemIdx], selectedItemIdx, 'poItemAmountPerUnit');"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
							</div>
						</div>
					</div>
					<div class="col-xs-3 ptb-15">
						<div class="form-group">
							<label>Amount per Unit</label> 
							<input type="text"
								class="form-control text-right" 
								ng-class="{'error-control':errorMap.get('poItemAmountPerUnit'+selectedItemIdx)!=null}"
								id="{{'poItemAmountPerUnit'+selectedItemIdx}}"   maxlength="17"
								ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].amountPerUnit">
						</div>
					</div>
					<div class="col-xs-3 ptb-15">
						<div class="form-group">
							<label>Total Amount</label> 
							<input type="text" class="form-control text-right"
								ng-class="{'error-control':errorMap.get('poItemTotalAmount'+selectedItemIdx)!=null}"
								id="{{'poItemTotalAmount'+selectedItemIdx}}"   maxlength="17"
								ng-model="purchaseOrder.purchaseOrderItemList[selectedItemIdx].totalAmount">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>