<div class="container-fluid">
	<div class="row nomargin">
		<div class="list-container">
			<div class="panel panel-default">
				<div class="panel-body no-tab-table edit-bodyinside" panel-height>
					<div class="table-fixed table-responsive">
						<super-table data="vm.deliverToCFSList" head="vm.shipmentCFSHeadArray"
							sort="vm.sortSelection"
							click-event="vm.rowSelect(param, 'DeliveryToCfs')"
							search-event="vm.changeSearch(param)"
							sort-event="vm.sortChange(param)" page="vm.page" size="vm.limit">
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li><select class="form-control legend-show-ctrl"
								ng-model="vm.limit" ng-change="vm.limitChange(vm.limit)"
								ng-options="v for v in vm.limitArr">
							</select></li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr page="vm.page" size="vm.limit"
							total="vm.totalRecord" page-change="vm.changepage(param)"
							class="pull-right"></pagination-dr>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
