<div class="col-xs-12 pl0 pr0  ">
								<div class="modal-body pt0">
									
									<div class="row">
										<div class="col-xs-12">
				<div class="table-responsive mt-15">
					<table class="table table-inline">
						<thead class="borderthead">
							<tr>
								<th class="text-left inl_xxs text-center">#</th>
								
								<th class="inl_mpp">Daybook Code<span class="reqColor">*</span></th>
								<th class="inl_mpp">Daybook Name<span class="reqColor">*</span></th>
								<th class="inl_mpp">Document Type<span class="reqColor">*</span></th>
								<th class="inl_s">No. Of Digits<span class="reqColor">*</span></th>
								<th class="inl_s">Prefix</th>
								<th class="inl_s">Year</th>
								<th class="inl_s">Month</th>
								<th class="inl_s">Starting No.<span class="reqColor">*</span></th>
								<th class="inl_s">Suffix</th>
								<th class="inl_s">Separator</th>
								<th class="inl_s">Action</th>
								<th class="inl_s">Sample</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="daybookObj in locationSetup.daybookMasterList track by $index">
								<td
									ng-class="{'error-cell text-center':errorArrayForDaybook[$index].errRow}"><span
									ng-show="errorArrayForDaybook[$index].errRow"> <a
										href="javascript:void(0);" data-placement="right"
										bs-tooltip="errorList"
										ng-click="errorShow(errorArrayForDaybook[$index],$index)"
										class="color-white"> <img
											src="../../../../../assets/images/error.png" />
									</a>
								</span> <span ng-show="!errorArrayForDaybook[$index].errRow">
										{{$index+1}} </span></td>

								<td class="inl_s verticalaln">
									<input class="form-control"
									ng-class="{'error-control-auto':errorArrayForDaybook[$index].daybookCode}"
									id="daybookObj.daybookCode{{$index}}" 
									type="text"
									ng-model="daybookObj.daybookCode" >
								</td>

								<td class="inl_s verticalaln">
									<input class="form-control"
									ng-class="{'error-control-auto':errorArrayForDaybook[$index].daybookName}"
									id="daybookObj.daybookName{{$index}}" 
									type="text"
									ng-model="daybookObj.daybookName">
								</td>
								
								<td class="inl_s verticalaln">
									<div class="select-auto">
										<input type="text" class="form-control" id="documentTypeMaster"
											ng-class="{'error-control-auto':errorArrayForDaybook[$index].documentTypeMaster}"
											autocomplete="off" ng-model="daybookObj.documentTypeMaster"
											uib-typeahead="lovObject as lovObject.documentTypeName for lovObject in getDocumentTypeList($viewValue)"
											typeahead-template-url="../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-public-template.html"
											typeahead-show-hint="true" typeahead-show-loading="true"
											typeahead-on-select="selectedDocumentType('daybookObj.noOfDigits' + $index);"
											typeahead-focus-on-select="false"
											typeahead-select-on-exact="true"
											typeahead-append-to-body="true" typeahead-focus-first="true"
											typeahead-editable="false" typeahead-min-length="1"
											typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
									</div>
								</td>
								
								<td class="inl_s">
									<select
										id="daybookObj.noOfDigits{{$index}}" class="form-control"
										ng-class="{'error-control-auto':errorArrayForDaybook[$index].format}"
										ng-model="daybookObj.format"
										ng-change="getSampleDaybook($index);navigateToNextField('daybookObj.prefix'+$index)"
										ng-options="item.value as item.displayValue for item in numberOfDigitsArray"
										ng-change="getSampleDaybook($index)">
									</select>
								</td>
								<td class="inl_s">
									<input class="form-control"
										ng-class="{'error-control-auto':errorArrayForDaybook[$index].prefix}"
										maxlength="30" 
										id="daybookObj.prefix{{$index}}" 
										type="text" capitalize
										ng-model="daybookObj.prefix" ng-change="getSampleDaybook($index)">
								</td>
								<td class="inl_s">
									<select 
										id="daybookObj.isYear{{$index}}"
										ng-class="{'error-control-auto':errorArrayForDaybook[$index].isYear}"
										ng-model="daybookObj.isYear" class="form-control"
										ng-options="boolToStr(item) for item in [true, false]"
										ng-change="getSampleDaybook($index);navigateToNextField('daybookObj.isMonth'+$index)">
									</select>
								</td>
								<td class="inl_s">
									<select required class="form-control"
										ng-class="{'error-control-auto':errorArrayForDaybook[$index].isMonth}"
										id="daybookObj.isMonth{{$index}}" ng-model="daybookObj.isMonth"
										ng-options="boolToStr(item) for item in [true, false]"
										ng-change="getSampleDaybook($index);navigateToNextField('daybookObj.currentSequenceValue'+$index)">
									</select>
								</td>
								<td class="inl_s">
									<input class="form-control"
										ng-class="{'error-control-auto':errorArrayForDaybook[$index].currentSequenceValue}"
										id="daybookObj.currentSequenceValue{{$index}}" type="text"
										ng-model="daybookObj.currentSequenceValue" maxlength="30" ng-change="getSampleDaybook($index)">
								</td>
								<td class="inl_s">
									<input type="text"
										ng-class="{'error-control-auto':errorArrayForDaybook[$index].suffix}"
										maxlength="30" ng-model="daybookObj.suffix" capitalize
										id="daybookObj.suffix{{$index}}" class="form-control" ng-change="getSampleDaybook($index)">
								</td>
								<td class="inl_s">
									<input class="form-control" ng-keydown="createNewRow($event,'account')"
									ng-class="{'error-control-auto':errorArrayForDaybook[$index].separator}"
									maxlength="1" id="daybookObj.separator{{$index}}" type="text"
									ng-model="daybookObj.separator" ng-change="getSampleDaybook($index)">
								</td>
								<td class="inl_m">
									<ul class="list-inline">
										<li><a href="javascript:void(0);" uib-tooltip="add" tabindex="-1"
											ng-click="addAccDocNoSetupRow();"> <i
												class="fa fa-plus"></i>
										</a></li>
										
										<li>
											<a 	href="javascript:void(0);"  uib-tooltip="copy" tabindex="-1"
												ng-click="copyAccountDocNo(daybookObj);"> 
												<i class="fa fa-copy"></i>
											</a>
										</li>

										<li><a href="javascript:void(0);"  uib-tooltip="delete" tabindex="-1"
											ng-hide="locationSetup.daybookMasterList.length==1"
											ng-click="deleteAccountDocumentNoSetupRow($index);"> <i
												class="fa fa-trash-o"></i>
										</a></li>
									</ul>

								</td>
								<td>{{daybookObj.genaratedSequence}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
