<div class="col-xs-12">
	<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 pt10">
		<label>Export</label>
		<button-group states="exportTransportMode"
			btn-id="exportTransportMode"
			state="locationSetup.exportJobDate"> </button-group>
	</div>

	<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3  pt10">
		<label>Import</label>
		<button-group states="importTransportMode"
			btn-id="importTransportMode"
			state="locationSetup.importJobDate"> </button-group>
	</div>
</div>
