
	<div class="modal-body pt0">
		<div class="row">
			<div class="col-xs-12">
				<div class="table-responsive mt-15">
					<table class="table table-inline">
						<thead class="borderthead">
							<tr>
								<th class="text-left inl_xxs text-center">#</th>
								<th class="inl_l">Code Name<span class="reqColor">*</span></th>
								<th class="inl_m">No. Of Digits<span class="reqColor">*</span></th>
								<th class="inl_m ">Prefix</th>
								<th class="inl_m">Year</th>
								<th class="inl_m">Month</th>
								<th class="inl_m">Starting No.<span class="reqColor">*</span></th>
								<th class="inl_m">Suffix</th>
								<th class="inl_m">Separator</th>
								<!-- <th class="inl_m">Action</th> -->
								<th class="inl_m">Sample</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="sequence in locationSetup.sequenceList track by $index">
								<td
									ng-class="{'error-cell text-center':errorArrayForSequence[$index].errRow}">
									<span ng-show="errorArrayForSequence[$index].errRow"> <a
										href="javascript:void(0);" data-placement="right"
										bs-tooltip="errorList"
										ng-click="errorShow(errorArrayForSequence[$index],$index)"
										class="color-white"> <img
											src="../../../../../assets/images/error.png" />
									</a>
								</span> <span ng-show="!errorArrayForSequence[$index].errRow">
										{{$index+1}} </span>
								</td>
								<!-- <td class="inl_l verticalaln"><select
									id="sequence.sequenceType{{$index}}" class="form-control"
									ng-class="{'error-control-auto':errorArrayForSequence[$index].sequenceType}"
									input-focus="{{errorArrayForSequence[$index].sequenceType}}"
									ng-model="sequence.sequenceType"
									ng-change="getSampleSequenceValue($index);navigateToNextField('sequence.noOfDigits'+$index)"
									ng-options="item as item|SequenceFilter for item in sequenceTypeArray"
									>
								</select></td> -->
								
								<td style="padding-top:2px">
								{{sequence.sequenceType | SequenceFilter}}
								</td>
								<td class="inl_m"><select
									id="sequence.noOfDigits{{$index}}" class="form-control"
									ng-class="{'error-control-auto':errorArrayForSequence[$index].noOfDigits}"
									input-focus="{{errorArrayForSequence[$index].noOfDigits}}"
									ng-model="sequence.format"
									ng-change="getSampleSequenceValue($index);navigateToNextField('sequence.prefix'+$index)"
									ng-options="item.value as item.displayValue for item in numberOfDigitsArray">

								</select></td>
								<td class="inl_m"><input class="form-control"
									maxlength="30"
									ng-class="{'error-control-auto':errorArrayForSequence[$index].prefix}"
									id="sequence.prefix{{$index}}" type="text" capitalize
									ng-model="sequence.prefix" ng-change="getSampleSequenceValue($index)"></td>
								<td class="inl_m"><select required class="form-control"
									ng-class="{'error-control-auto':errorArrayForSequence[$index].isYear}" ng-disabled="sequence.sequenceType=='EMPLOYEE'||sequence.sequenceType=='PARTY'"
									id="sequence.isYear{{$index}}" ng-model="sequence.isYear"
									ng-options="boolToStr(item) for item in [true, false]"
									ng-change="getSampleSequenceValue($index);navigateToNextField('sequence.isMonth'+$index)">
								</select></td>
								<td class="inl_m"><select required class="form-control"
									ng-class="{'error-control-auto':errorArrayForSequence[$index].isMonth}"
									id="sequence.isMonth{{$index}}" ng-model="sequence.isMonth" ng-disabled="sequence.sequenceType=='EMPLOYEE'||sequence.sequenceType=='PARTY'"
									ng-options="boolToStr(item) for item in [true, false]"
									ng-change="getSampleSequenceValue($index);navigateToNextField('sequence.currentSequenceValue'+$index)">
								</select></td>
								<td class="inl_m"><input class="form-control"
									ng-class="{'error-control-auto':errorArrayForSequence[$index].currentSequenceValue}"
									id="sequence.currentSequenceValue{{$index}}" maxlength="100" ng-change="getSampleSequenceValue($index)"
									type="text" ng-model="sequence.currentSequenceValue"></td>
								<td class="inl_m"><input type="text"
									ng-class="{'error-control-auto':errorArrayForSequence[$index].suffix}" capitalize
									maxlength="30" ng-model="sequence.suffix" ng-change="getSampleSequenceValue($index)"
									id="sequence.suffix{{$index}}" class="form-control"></td>
								<td class="inl_sno"><input class="form-control"
									ng-class="{'error-control-auto':errorArrayForSequence[$index].separator}"
									maxlength="1" id="sequence.separator{{$index}}" type="text"
                                    ng-change="getSampleSequenceValue($index)"
									ng-model="sequence.separator"></td>
								<!-- <td class="inl_m">
									<ul class="list-inline">
										<li><a href="javascript:void(0);" uib-tooltip="add"
											ng-click="addJobNumber();"> <i
												class="fa fa-plus-square-o"></i>
										</a></li>

										<li><a href="javascript:void(0);" uib-tooltip="copy"
											ng-click="copyJobNo(sequence);"> <i class="fa fa-copy"></i>
										</a></li>

										<li><a href="javascript:void(0);" uib-tooltip="delete"
											ng-hide="locationSetup.sequenceList.length==1"
											ng-click="deleteJobNumber($index);"> <i
												class="fa fa-trash-o"></i>
										</a></li>
									</ul>

								</td> -->
								
								<td>
								{{sequence.genaratedSequence}}
								</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>


