<div class="col-md-12 wizard-height-tab-2 nopadding  ">
								<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
									<div class="row nomargin">
										<label>Service Tax No</label> 
											<input type="text" class="form-control" ng-model="otherSetupDto.serviceTaxNo" id="serviceTaxNo">
									</div>
								</div>

								<div class="col-xs-12 pl0 pr0">
									<div class="modal-body pt0"
										style="height: auto; overflow: auto;">
										<div class="row">
											<div class="col-xs-12">
												<div class="table-responsive mt-15">
													<table class="table table-inline-nopad" style="position:relative;">
														<thead>
															<tr>
																<th class="text-left inl_xxs text-center">#</th>
																<th class="inl_l">Service Name</th>
																<th class="inl_l">Charge Name</th>
																<th class="inl_l ">Charge Code</th>
																<th class="inl_m">Catagory Name</th>
																<th class="inl_m">Catagory Code</th>
																<th class="inl_s">Percentage</th>
																<th class="inl_l">Valid From</th>
																<th class="inl_s">Action</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="taxOrVatSetupDto in otherSetupDto.taxOrVatSetupDtoList track by $index">
																	<td
																		ng-class="{'error-cell text-center':taxOrVatErrorArr[$index].errRow}"><span
																		ng-show="taxOrVatErrorArr[$index].errRow"> <a
																			href="javascript:void(0);" data-placement="right"
																			bs-tooltip="errorList"
																			ng-click="errorShow(taxOrVatErrorArr[$index],$index)"
																			class="color-white"> <img
																				src="../../../../../assets/images/error.png" />
																		</a>
																	</span> <span ng-show="!taxOrVatErrorArr[$index].errRow"> {{$index+1}}
																	</span></td>
																<td class="inl_l verticalaln">
																	<div class="select-auto">
																	<input type="text" 
																	class="form-control" 
																	autocomplete="off"
																	id="taxOrVatSetupDto.serviceMaster{{$index}}" 
																	ng-class="{'error-control-auto':taxOrVatErrorArr[$index].serviceMaster}"
																	input-focus="{{taxOrVatErrorArr[$index].serviceMaster}}"
																	ng-model="taxOrVatSetupDto.serviceMaster"
																	uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceMasterEvent($viewValue)"
																	typeahead-template-url="../../../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																	typeahead-show-hint="true" typeahead-show-loading="true" 
																	typeahead-select-on-exact="true" typeahead-append-to-body="true"
																	typeahead-on-select="selectedServiceMaster(taxOrVatSetupDto,'taxOrVatSetupDto.chargeMaster'+$index);"
																	typeahead-focus-on-select="false"
																	typeahead-focus-first="true"
																	typeahead-editable="false"
																	typeahead-min-length="1" typeahead-wait-ms="500" 
																	>
																	<span class="select-arrow"><b></b></span>
																	</div>
																	
																	
																</td>
																<td class="inl_m">
																<div class="select-auto">
																	<input type="text" class="form-control" id="taxOrVatSetupDto.chargeMaster{{$index}}"
																			ng-class="{'error-control-auto':taxOrVatErrorArr[$index].chargeMaster}"
																			input-focus="{{taxOrVatErrorArr[$index].chargeMaster}}"
																			class="form-control" 
																			autocomplete="off"
																			ng-model="taxOrVatSetupDto.chargeMaster"
																			uib-typeahead="lovObject as lovObject.chargeCode for lovObject in ajaxChargeMasterEvent($viewValue)"
								                                            typeahead-popup-template-url="../../../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratepopup.html"
								                                            typeahead-template-url="../../../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratetemplate.html"
																			typeahead-show-hint="true" typeahead-show-loading="true"
																			typeahead-select-on-exact="true" typeahead-append-to-body="true"
																			typeahead-on-select="selectedChargeMaster(taxOrVatSetupDto,'taxOrVatSetupDto.categoryMaster'+$index);"
																			typeahead-focus-on-select="false" typeahead-focus-first="true"
																			typeahead-editable="false" typeahead-min-length="1"
																			typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
																	</div>
																</td>
																<td class="inl_s">
																	<input class="form-control" ng-disabled="true"
																	type="text" ng-model="taxOrVatSetupDto.chargeCode"></td>
																
																<td class="inl_m">
																<div class="select-auto">
																	<input type="text" class="form-control" id="taxOrVatSetupDto.categoryMaster{{$index}}"
																			ng-class="{'error-control-auto':taxOrVatErrorArr[$index].categoryMaster}"
																			input-focus="{{taxOrVatErrorArr[$index].categoryMaster}}"
																			class="form-control" 
																			autocomplete="off"
																			ng-model="taxOrVatSetupDto.categoryMaster"
																			uib-typeahead="lovObject as lovObject.categoryName for lovObject in ajaxCategoryMasterEvent($viewValue)"
																			typeahead-template-url="../../../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																			typeahead-show-hint="true" typeahead-show-loading="true"
																			typeahead-select-on-exact="true" typeahead-append-to-body="true"
																			typeahead-on-select="selectedCategoryMaster(taxOrVatSetupDto,'taxOrVatSetupDto.percentage'+$index);"
																			typeahead-focus-on-select="false" typeahead-focus-first="true"
																			typeahead-editable="false" typeahead-min-length="1"
																			typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
																	</div>
																</td>
																<td class="inl_m">
																		<input class="form-control" type="text" ng-disabled="true"
																			ng-model="taxOrVatSetupDto.categoryCode">  
																	 
																</td>
																
																<td class="inl_m">
																	<input class="form-control" maxlength="10"
																	ng-class="{'error-control-auto':taxOrVatErrorArr[$index].percentage}"
																	input-focus="{{taxOrVatErrorArr[$index].percentage}}"
																	id="taxOrVatSetupDto.percentage{{$index}}"
																	type="text" ng-model="taxOrVatSetupDto.percentage"></td>

															<td class="inl_l" >
															<div class="inputBox">
																<input type="text" class="form-control" maxlength="30"
																	ng-class="{'error-control-auto':taxOrVatErrorArr[$index].validFrom}"
																	input-focus="{{taxOrVatErrorArr[$index].validFrom}}"
																	id="taxOrVatSetupDto.validFrom{{$index}}"
																	ng-model="taxOrVatSetupDto.validFrom"
																	date-callback="navigateToNextField('financialEndDate')"
																	datetimepicker
																	datetimepicker-options="{{directiveDatePickerOpts}}"> 
																	<span class="inputIcon"><i
																	class="icon-date" aria-hidden="true"></i>
																	</span>
															</div>
																</td>
																
																<td class="inl_m">
																	<ul class="list-inline">

																		<li><a href="javascript:void(0);" ng-click="addTaxOrVatSetupRow();"> <i
																				class="fa fa-plus-square-o"></i>
																		</a></li>

																		<li><a ng-hide="otherSetupDto.taxOrVatSetupDtoList.length==1" href="javascript:void(0);" ng-click="deleteTaxOrVatSetupRow($index);"> <i
																				class="fa fa-trash-o"></i>
																		</a></li>
																	</ul>

																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--body ends-->
								<!-- End first coloum -->
							</div>
							
							