<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <form role="form" name="vm.locationMasterForm">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.locationMaster.id!=null?'Edit':'Add'}} Location
                            
                          
                               <small class="opc-5 f-12b4"> (<span class="reqColor nomargin">*</span>
                                 Indicates Mandatory Fields)</small>
                           
                            </h4>
                            <div show-response></div>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="vm.backToList()">
                                        Cancel
                                    </button>
                                    
                                    <button type="button" class="btn accent-btn"  ng-click="vm.create()">
                                        {{vm.locationMaster.id!=null?'Update':'Save'}}
                                    </button>

                                    

                            </div>
                        </div>
                    </div>
                    <div class="panel-body pt0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                         
                    
                        <div class="row pt0 light-blue overflow-hidden">
				
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 plr0">
                        
                        
                        
                        
                        <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 plr0 
                        bor-fix bor-r-1 bor-Pnon bor-Ar-1 pt10">
                        
                        <div class="row nomargin">
                            <div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
								<div class="form-group ">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input type="text" class="form-control" input-focus="true"
									maxlength="100" id="locationName"
									ng-class="{'error-control':vm.errorMap.get('locationName')!=null}"
									ng-change="vm.validate('locationName', 1)"
									ng-model="vm.locationMaster.locationName" /> <span
									class="error-message"
									ng-show="vm.errorMap.get('locationName')!=null"> <small>{{vm.errorMap.get('locationName')}}</small>
								</span>
								</div>
							</div>
                            
                            
                              <div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
								<div class="form-group">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input capitalize type="text" class="form-control"
										maxlength="10" id="locationCode"
										input-focus="{{vm.errorMap.get('locationCode')!=null}}"
										ng-class="{'error-control':vm.errorMap.get('locationCode')!=null}"
										ng-model="vm.locationMaster.locationCode"
										ng-change="vm.validate('locationCode', 2)" /> <span
										class="error-message"
										ng-show="vm.errorMap.get('locationCode')!=null"> <small>{{vm.errorMap.get('locationCode')}}</small>
									</span>
								</div>
							</div>
							</div>
							<div class="row nomargin">
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
								<div class="form-group">
									<label class="custom-label">Company<span class="reqColor">*</span></label>
									
									<div class="select-auto">
														<input type="text" 
															class="form-control" id="companyName" 
															autocomplete="off"
															ng-model="vm.locationMaster.companyMaster"
															uib-typeahead="lovObject as lovObject.companyName for lovObject in vm.ajaxCompanyEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedCompany('branchName');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
									
									<span class="error-message"
										ng-show="vm.errorMap.get('companyName')!=null"> <small>{{vm.errorMap.get('companyName')}}</small>
									</span>
								</div>
							</div>
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
								<div class="form-group">
								 <label class="custom-label">Branch<span class="reqColor">*</span></label>
									
									<div class="select-auto">
														  <input type="text" class="form-control" input-focus="{{vm.errorMap.get('branchName')!=null}}"
									maxlength="100" id="branchName"
									ng-class="{'error-control':vm.errorMap.get('branchName')!=null}"
									ng-change="vm.validate('branchName', 4)"
									ng-model="vm.locationMaster.branchName" /> 
															
													</div>
									
									<span
									class="error-message"
									ng-show="vm.errorMap.get('branchName')!=null"> <small>{{vm.errorMap.get('branchName')}}</small>
								</span>
								</div>
							</div>
							</div>
							<div class="row nomargin pb5">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" >
                            <div class="form-group mb0">
    		<label class="custom-label">Country<span class="reqColor">*</span></label>
    		 <div class="select-auto">
														<input type="text" 
															class="form-control" id="countryName" 
															autocomplete="off"
															ng-model="vm.locationMaster.countryMaster"
															uib-typeahead="lovObject as lovObject.countryName for lovObject in vm.ajaxCountryEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedCountry('currencyCode',vm.locationMaster.countryMaster);"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
									<span class="error-message"
										ng-show="vm.errorMap.get('countryName')!=null"> <small>{{vm.errorMap.get('countryName')}}</small>
									</span></div>
									</div>
									<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" >
									<div class="form-group mb0">
    		<label class="custom-label">Currency<span class="reqColor">*</span></label>
    		 <div class="select-auto">
														<input type="text" 
															class="form-control" id="currencyCode" 
															autocomplete="off"
															ng-model="vm.locationMaster.currencyMaster"
															uib-typeahead="lovObject as lovObject.currencyCode for lovObject in vm.ajaxCurrencyEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedCurrency('addressLine1');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
									<span class="error-message"
										ng-show="vm.errorMap.get('currencyCode')!=null"> <small>{{vm.errorMap.get('currencyCode')}}</small>
									</span>
									</div>
									</div>
									</div>
									
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 pad-Pt10 bor-At-0 bor-ALt-0 bor-Lt-1 
                            plr0 pt10">
                            <div class="row nomargin">
                            <div class="col-sm-5 col-xs-6 col-md-5 col-lg-5 paddingtA0 pad-ALt0 plr0">
                           <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 nomargin">
                           <div class="form-group pb2">
                                <label class="custom-label">Address<span class="reqColor">*</span></label>
                                <input type="text" class="form-control" input-focus="{{vm.errorMap.get('addressLine1')!=null}}"
												maxlength="100" id="addressLine1" maxlength="100"
												ng-class="{'error-control':vm.errorMap.get('addressLine1')!=null}"
												ng-change="vm.validate('addressLine1', 5)"
												ng-model="vm.locationMaster.addressLine1" /> <span
												class="error-message"
												ng-show="vm.errorMap.get('addressLine1')!=null"> <small>{{vm.errorMap.get('addressLine1')}}</small>
											</span>
											</div>
    		<div class="row">
    		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 mb0">
    		<div class="form-group pb2">
    		<input type="text" class="form-control" input-focus="{{vm.errorMap.get('addressLine2')!=null}}"
												maxlength="100" id="addressLine2" maxlength="100"
												ng-class="{'error-control':vm.errorMap.get('addressLine2')!=null}"
												ng-change="vm.validate('addressLine2', 6)"
												ng-model="vm.locationMaster.addressLine2" /> <span
												class="error-message"
												ng-show="vm.errorMap.get('addressLine2')!=null"> <small>{{vm.errorMap.get('addressLine2')}}</small>
											</span>
    		</div>
    		</div>
    		</div>
    		<div class="row">
    		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 mb0">
    		<div class="form-group pb2">
    		<input type="text" class="form-control" input-focus="{{vm.errorMap.get('addressLine3')!=null}}"
												maxlength="100" id="addressLine3" maxlength="100"
												ng-class="{'error-control':vm.errorMap.get('addressLine3')!=null}"
												ng-change="vm.validate('addressLine3', 7)"
												ng-model="vm.locationMaster.addressLine3" /> <span
												class="error-message"
												ng-show="vm.errorMap.get('addressLine3')!=null"> <small>{{vm.errorMap.get('addressLine3')}}</small>
											</span>
    		</div>
    		</div>
    		</div>
    		<div class="row">
    		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 mb0">
    		<div class="form-group mb0">
    		<input type="text" class="form-control" input-focus="{{vm.errorMap.get('addressLine4')!=null}}"
												maxlength="100" id="addressLine4" maxlength="100"
												ng-class="{'error-control':vm.errorMap.get('addressLine4')!=null}"
												ng-change="vm.validate('addressLine4', 8)"
												ng-model="vm.locationMaster.addressLine4" /> <span
												class="error-message"
												ng-show="vm.errorMap.get('addressLine4')!=null"> <small>{{vm.errorMap.get('addressLine4')}}</small>
											</span>
											</div>
    		</div>
    		</div>
    
												</div>  
												</div>
												<div class="col-sm-7 col-xs-6 col-md-7 col-lg-7 paddingtA0">  
							<div class="row">
							<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
							<div class="form-group ">
							<label class="custom-label">City<span class="reqColor">*</span></label>
                                 <div class="select-auto">
														<input type="text" 
															class="form-control" id="cityName" 
															autocomplete="off"
															ng-model="vm.locationMaster.cityMaster"
															uib-typeahead="lovObject as lovObject.cityName for lovObject in vm.ajaxCityEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedCity('regionName');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
									<span class="error-message"
										ng-show="vm.errorMap.get('cityName')!=null"> <small>{{vm.errorMap.get('cityName')}}</small>
									</span>		</div>
									</div>
									<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 mb0" >
									<div class="form-group ">
    		<label class="custom-label">Region</label>
    		 <div class="select-auto">
														<input type="text" 
															class="form-control" id="regionName" 
															autocomplete="off"
															ng-model="vm.locationMaster.regionMaster"
															uib-typeahead="lovObject as lovObject.regionName for lovObject in vm.ajaxRegionEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedRegion('zoneName');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
									<span class="error-message"
										ng-show="vm.errorMap.get('regionName')!=null"> <small>{{vm.errorMap.get('regionName')}}</small>
									</span>
									</div>
									</div>
									</div>
									<div class="row">
									<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 mb0">
									<div class="form-group nomargin pl0">
                                    <label class="custom-label">Zone</label>
                                     <div class="select-auto">
														<input type="text" 
															class="form-control" id="zoneName" 
															autocomplete="off"
															ng-model="vm.locationMaster.zoneMaster"
															uib-typeahead="lovObject as lovObject.zoneName for lovObject in vm.ajaxZoneEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedZone('divisionName');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
									<span class="error-message"
										ng-show="vm.errorMap.get('zoneName')!=null"> <small>{{vm.errorMap.get('zoneName')}}</small>
									</span>
                                </div>
									</div>
									<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  mb0" >
          <div class="form-group nomargin pl0">
                                    <label class="custom-label">Division</label>
                                     <div class="select-auto">
														<input type="text" 
															class="form-control" id="divisionName" 
															autocomplete="off"
															ng-model="vm.locationMaster.divisionMaster"
															uib-typeahead="lovObject as lovObject.divisionName for lovObject in vm.ajaxDivisionEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedDivision('countryNo');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
									<span class="error-message"
										ng-show="vm.errorMap.get('divisionName')!=null"> <small>{{vm.errorMap.get('divisionName')}}</small>
									</span>
                                </div></div>
                                </div>
                                </div>
                                </div>
							
							
				         			
							</div>
							</div>
							</div>
							
							
							
							
							
                            
                            
                        </div>
                                     
     
     
                           <!--      <label class="custom-label">Branch<span class="reqColor">*</span></label>
                                 <input type="text" class="form-control" input-focus="{{vm.errorMap.get('branchName')!=null}}"
									maxlength="100" id="branchName"
									ng-class="{'error-control':vm.errorMap.get('branchName')!=null}"
									ng-change="vm.validate('branchName', 4)"
									ng-model="vm.locationMaster.branchName" /> 
									<span
									class="error-message"
									ng-show="vm.errorMap.get('branchName')!=null"> <small>{{vm.errorMap.get('branchName')}}</small>
								</span> -->
								      
                            
								      
                           
   
			
											
											
											
											
											
											
											
	
											
											
											
											
											
											
											
											
											
											
											
											
											
											
																
										  		
 
                        
                        <div class="row pb0">
          <!--                   <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Zone</label>
                                     <div class="select-auto">
														<input type="text" 
															class="form-control" id="zoneName" 
															autocomplete="off"
															ng-model="vm.locationMaster.zoneMaster"
															uib-typeahead="lovObject as lovObject.zoneName for lovObject in vm.ajaxZoneEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedZone('divisionName');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
									<span class="error-message"
										ng-show="vm.errorMap.get('zoneName')!=null"> <small>{{vm.errorMap.get('zoneName')}}</small>
									</span>
                                </div>
                         
                            </div> -->
                            
            <!--                   <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Division</label>
                                     <div class="select-auto">
														<input type="text" 
															class="form-control" id="divisionName" 
															autocomplete="off"
															ng-model="vm.locationMaster.divisionMaster"
															uib-typeahead="lovObject as lovObject.divisionName for lovObject in vm.ajaxDivisionEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedDivision('countryNo');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
									<span class="error-message"
										ng-show="vm.errorMap.get('divisionName')!=null"> <small>{{vm.errorMap.get('divisionName')}}</small>
									</span>
                                </div>
                         
                            </div>
                             -->
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 plr0">
                             <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 pl0">
                             <div class="row">
                            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 mb0">
                                <div class="form-group">
                                    <label class="custom-label">Country Number</label>
                                    <input type="text" class="form-control" input-focus="{{vm.errorMap.get('countryNo')!=null}}"
									maxlength="2" id="countryNo"
									ng-class="{'error-control':vm.errorMap.get('countryNo')!=null}"
									ng-change="vm.validate('countryNo', 17)"
									ng-model="vm.locationMaster.countryNo" /> <span
									class="error-message"
									ng-show="vm.errorMap.get('countryNo')!=null"> <small>{{vm.errorMap.get('countryNo')}}</small>
								</span>
                                </div>
                               
                            
                        </div>
                        
                        
                   <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 mb0">
                                <div class="form-group ">
                                    <label class="custom-label">City Number</label>
                                   <input type="text" class="form-control" input-focus="{{vm.errorMap.get('cityNo')!=null}}"
									maxlength="2" id="cityNo"
									ng-class="{'error-control':vm.errorMap.get('cityNo')!=null}"
									ng-change="vm.validate('cityNo', 18)"
									ng-model="vm.locationMaster.cityNo" /> <span
									class="error-message"
									ng-show="vm.errorMap.get('cityNo')!=null"> <small>{{vm.errorMap.get('cityNo')}}</small>
								</span>
                                </div>
                         
                             </div>
                             </div> 
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 pr0">
                        <div class="row">
                        <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 mb0">
                                <div class="form-group ">
                                    <label class="custom-label">EDI Reference Agent</label>
                                     <div class="select-auto">
														<input type="text" 
															class="form-control" id="agentName" 
															autocomplete="off"
															ng-model="vm.locationMaster.partyMaster"
															uib-typeahead="lovObject as lovObject.partyName for lovObject in vm.ajaxAgentEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="vm.selectedAgent('timezone');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div><span
									class="error-message"
									ng-show="vm.errorMap.get('agentName')!=null"> <small>{{vm.errorMap.get('agentName')}}</small>
								</span>
                                </div>
                         
                            
                        </div>
                              <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 mb0">
                                <div class="form-group ">
                                    <label class="custom-label">TimeZone<span class="reqColor">*</span></label>
                                     <!-- <input type="text" class="form-control" input-focus="{{vm.errorMap.get('timeZone')!=null}}"
									maxlength="100" id="timezone"
									ng-class="{'error-control':vm.errorMap.get('timeZone')!=null}"
									ng-change="vm.validate('timeZone', 1)"
									ng-model="vm.locationMaster.timeZone" />  -->
									
									 <select class="form-control" id="timezone"
									 	ng-options="item for item in vm.timeZones" 
									 	ng-change="navigateToNextField('dateFormat')"
									 	ng-model="vm.locationMaster.timeZone">
									 </select>
									
									<span
									class="error-message"
									ng-show="vm.errorMap.get('timeZone')!=null"> <small>{{vm.errorMap.get('timeZone')}}</small>
								</span>
                                </div>
                         
                            </div>  
                            </div>                  
                        
                        </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        <!--row ends-->
                        
                        </div>
                        
                            <div class="row nopadding">
                            <div
								class="col-sm-12 col-xs-12 col-md-12 col-lg-12 plr0 pt10">
                             <div
								class="col-sm-3 col-xs-6 col-md-3 col-lg-3 mb0 pb10">
                            <div class="form-group nomargin pl0 mb0 ">
                                    <label class="custom-label">Date Format<span class="reqColor">*</span></label>
                                    <select  class="form-control" placeholder="example : DD-MM-YYYY"  id="dateFormat"
                                                input-focus="{{vm.errorMap.get('dateFormat')!=null}}"
												maxlength="100" id="dateFormat" maxlength="100"
												ng-options="item for item in vm.dateFormatArray" 
												ng-class="{'error-control':vm.errorMap.get('dateFormat')!=null}"
												ng-change="navigateToNextField('isHeadOffice')"
												ng-model="vm.locationMaster.dateFormat" ></select> 
												<span> <small>(Note : DD-date,MM-month,YYYY-year)</small>
											</span>
												<span
												class="error-message"
												ng-show="vm.errorMap.get('dateFormat')!=null"> <small>{{vm.errorMap.get('dateFormat')}}</small>
											</span>
											
                                    
                                </div>
                            
                            </div>
                            
                            
                           <!--  <div
								class="col-sm-3 col-xs-3 col-md-3 col-lg-3 form-group nomargin pl0">
								 <div class="form-group nomargin pl0">
                                    <label class="custom-label">Date Time Format<span class="reqColor">*</span></label>
                                    <select type="text" class="form-control" placeholder="example : DD-MM-YYYY HH:mm"  input-focus="{{vm.errorMap.get('dateTimeFormat')!=null}}"
												maxlength="100" id="dateTimeFormat" maxlength="100"
												ng-options="item for item in vm.dateTimeFormatArray" 
												ng-class="{'error-control':vm.errorMap.get('dateTimeFormat')!=null}"
												ng-change="navigateToNextField('isHeadOffice')"
												ng-model="vm.locationMaster.dateTimeFormat" ></select> 
												<span> <small>(Note : DD-date,MM-month,YYYY-year,HH-hour,mm-minute)</small><span
												class="error-message"
												ng-show="vm.errorMap.get('dateTimeFormat')!=null"> <small>{{vm.errorMap.get('dateTimeFormat')}}</small>
											</span>
                                    
                                </div> -->
                                
                                
                                <div
								class="col-sm-3 col-xs-3 col-md-3 col-lg-3 mb0 pb10">
								 <div class="form-group nomargin mb0">
                                    <label class="custom-label">Head Office</label>
                                    <ul class="list-inline">
															<li ng-class="{'opc-5':vm.locationMaster.isHeadOffice}">No</li>
															<li class="v-align-top">
																<span class="green switch green ng-not-empty ng-valid" ng-click="undefined ? vm.locationMaster.isHeadOffice : vm.locationMaster.isHeadOffice=!vm.locationMaster.isHeadOffice" ng-class="{ checked:vm.locationMaster.isHeadOffice, disabled:undefined }" tabindex="0" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice"><small></small><input type="checkbox" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice" style="display:none" class="ng-pristine ng-untouched ng-valid ng-empty"><span class="switch-text"> </span></span>
															</li>
															<li ng-class="{'opc-5':!vm.locationMaster.isHeadOffice}" class="opc-5">Yes</li>
														</ul>
                                </div>

							</div>
							
							   <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 mb0 pb10" ng-show="vm.locationMaster.id !=null">
                               <div class="form-group nomargin mb0">
                                    <label class="custom-label">Status<span class="reqColor">*</span></label>
                                    <select class="form-control status " id="status"
                                            ng-class="vm.setStatus(vm.locationMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="vm.locationMaster.status" >
                                    </select>
                                </div></div>
                                </div>

							</div>
                         
                      <div class="row"></div>
                        
                        
                            </div>
                        
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>