<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-9 flexview">
        <div class="flex align-justify align-middle">
            <div>
                <div class="btngrp">
                    <button class="btn btn-xs btn-property btn-gray" ng-click="vm.backToList()"><i class="icon-back-menu"></i> Back</button>
                    <button ng-if="!isNavigation" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="vm.addNew()"><i class="icon-add"></i> Add Location</button>
                </div>
                </div>
                <div>
                <!-- <ul class="list-inline" >
                    <li>
                        <ul class="list-inline li-p0">
                            <li>{{vm.selectedRowIndex+1}}</li>
                            <li>of</li>
                            <li>{{vm.totalRecord}}</li>
                        </ul>
                    </li>
                    <li class="pr0">
                        <ul class="list-inline next-prev">
                            <li ng-click="vm.singlePageNavigation(-1)"><i class="icon-r-arrow" aria-hidden="true"></i></li>
                            <li ng-click="vm.singlePageNavigation(1)"><i class="icon-r-arrow" aria-hidden="true"></i></li>
                        </ul>
                    </li>
                </ul> -->
            </div>
            </div>
            
        </div>
    </div><!--COL ENDS-->
    
    <div class="detail-container  col-xs-12 col-sm-12 col-md-12 col-lg-12 pr0 pl0">
        <div class="panel panel-default masOpertion">
            <div class="panel-heading flexTitle">
                <div>
                    <h4>Location</h4>
                </div>
                <div>
					<ul class="list-inline masopertion-action" ng-if="!isNavigation">
						
						<li>
							<a href="javascript:void(0)" class="list-panel-edit-btn cursorPt">
								<i class="icon-logs" data-placement="bottom" bs-tooltip="activity" ng-click="vm.showHistory=!vm.showHistory"></i>
							</a>
							
						</li>

						<li ><a data-placement="bottom" bs-tooltip="editIcon" href="javascript:void(0)" ng-click="vm.edit(vm.locationMaster.id)"><i class="icon-edit cursorPt"></i></a></li>
						<li ><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" class="list-panel-edit-btn cursorPt" ng-click="vm.delete(vm.locationMaster.id)"><i class="icon-delete"></i></a></li>
					</ul>
				</div>
            </div><!--Panel Heading Ends-->
            <div class="panel-body info-view detail-body" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="vm.showHistory=false">
                <div show-response></div>
                <div class="page mb0 mtminus-15">
                    <div class="page-body ptb0">
                       <div class="row ptb-15">
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                        <span>Name</span>
                                        <h6>{{vm.locationMaster.locationName}}</h6>
                                    </div>
                                    
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                        <span>Code</span>
                                        <h6>{{vm.locationMaster.locationCode}}</h6>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 
                                    pad-Pt10 paddingtA0">
                                        <span>Company</span>
                                        <h6 class="wrap-text">{{vm.locationMaster.companyMaster.companyName}}</h6>
                                    </div>
                                    
                                       <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 
                                       pad-Pt10 paddingtA0">
                                        <span>Branch</span>
                                        <h6 class="wrap-text">{{vm.locationMaster.branchName}}</h6>
                                    </div>
                                    
                                </div><!--ROW ENDS-->
                     <div class="row line">
                            <hr>
                        </div>
               
                        <div class="row overflow-hidden">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 bor-fix bor-r-1 ">
                                <div class="row ptb-15 ">
                                    <div class="col-xs-12">
                                        <span>Address</span>
                                    <ul class="list-unstyled break-list">
                                    <li>{{vm.locationMaster.addressLine1}}</li>
                                    <li>{{vm.locationMaster.addressLine2}}</li>
                                    <li>{{vm.locationMaster.addressLine3}}</li>
                                    <li>{{vm.locationMaster.addressLine4}}</li>
                                </ul>
                                    </div>
                                    
                                </div>
                            </div><!--COL ENDS-->
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9  bor-fix   bor-Pt-1line">
                                <div class="row ptb-15">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <span>City</span>
                                        <h6>{{vm.locationMaster.cityMaster.cityName}}</h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <span>Country</span>
                                        <h6> <img ng-show="vm.locationMaster.countryMaster.image!=null"  data-ng-src="data:image/png;base64,{{vm.locationMaster.countryMaster.image}}" style="padding-right:3px;" width="23" height="20">{{vm.locationMaster.countryMaster.countryName}}</h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <span>Region</span>
                                        <h6 class="wrap-text">{{vm.locationMaster.regionMaster.regionName}}</h6>
                                    </div>
                                </div><!--ROW ENDS-->
                                
                                <div class="row line">
                            <hr>
                        </div>
                                
                                      <div class="row ptb-15">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <span>Zone</span>
                                        <h6>{{vm.locationMaster.zoneMaster.zoneName}}</h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <span>Division</span>
                                        <h6>{{vm.locationMaster.divisionMaster.divisionName}}</h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <span>Currency</span>
                                        <!-- <h6 class="wrap-text">{{vm.currencyMaster.currencyName}}</h6> -->
                                    </div>
                                </div><!--ROW ENDS-->
                                
                                
                                
                            </div><!--COL ENDS-->
                        </div>
                        <div class="row line">
                            <hr>
                        </div>
                       
                               <div class="row ptb-15">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span>Country Number</span>
                                        <h6 class="wrap-text">{{vm.locationMaster.countryNo}}</h6>
                                    </div>
                                       <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span>City Number</span>
                                        <h6 class="wrap-text">{{vm.locationMaster.cityNo}}</h6>
                                    </div>
                                     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span>EDI Reference Agent</span>
                                        <h6>{{vm.locationMaster.partyMaster.partyName}}</h6>
                                    </div>
                                    
                                    
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span>TimeZone</span>
                                        <h6 class="wrap-text">{{vm.locationMaster.timeZone}}</h6>
                                    </div>
                                   
                                   
                                </div><!--ROW ENDS-->
                        
                        
                          <div class="row line">
                            <hr>
                        </div>
                                <div class="row ptb-15">
                                    
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span>Date Format</span>
                                        <h6 class="wrap-text">{{vm.locationMaster.dateFormat}}</h6>
                                    </div>
                                     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span>Head Office</span>
                                        <h6>{{vm.locationMaster.isHeadOffice=='TRUE' || vm.locationMaster.isHeadOffice=='true'?'Yes':'No'}}</h6>
                                    </div>
                                    
                                   <!--  <div class="col-xs-3">
                                        <span>Date Time Format</span>
                                        <h6 class="wrap-text">{{vm.locationMaster.dateTimeFormat}}</h6>
                                    </div> -->
                                    
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span>Status</span>
                                        <show-status status="{{vm.locationMaster.status}}"></show-status>
                                    </div>
                                </div><!--ROW ENDS-->  
                    </div><!--page body ends-->
                </div><!--page ends-->
                
        	</div><!--end-->
        	
        	<div class="logs-view width42per widP55per widL55per logs-transition" ng-show="vm.showHistory" >
						<div class="panel panel-default h100per">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle pt5">
										<span> 
											<a href="javascript:void(0)" ng-click="vm.showHistory=false" class="list-panel-back">
												<i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i>
											</a>
										</span> 
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.locationMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.locationMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.locationMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.locationMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.locationMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.locationMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
    </div>
</div><!--ROW ENDS-->