<div class="container-fluid resPortListPage">
	<div class="row ml0 mr0" >
		<div ng-show="!showDetail" class="list-container col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-click="vm.showHistory=false">
			<!--panel starts-->
			<div class="panel panel-default">
				<div class="panel-heading flexTitle">
					<button
						type="button"
						class="btn btn-property accent-btn"
						ng-click=" vm.addNew()">
						<span class="icon-add"></span>
						Add Location
					</button>
				</div>
				<div class="panel-body p00 no-tab-table" panel-height>
					<div class="table-fixed table-responsive"
						 ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
						<super-table  data="vm.dataArr"
									  head="vm.tableHeadArr"
									  sort="vm.sortSelection"
									  click-event="vm.rowSelect(param,index)"
									  search-event="vm.changeSearch(param)"
									  sort-event="vm.sortChange(param)"
									  page="vm.page" size="vm.limit">
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li><select class="form-control legend-show-ctrl"
										ng-model="vm.limit"
										ng-change="vm.limitChange(vm.limit)"
										ng-options="v for v in vm.limitArr">
							</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div>
						<div class="pull-right text-right">
						<pagination-dr  page="vm.page" size="vm.limit" total="vm.totalRecord" page-change="vm.changepage(param)" class="pull-right" ></pagination-dr>
					</div>
					</div>
				</div>
			</div><!--Panel Ends-->
		</div>



</div>

    
    <client-error message="clientMessage"></client-error>
    

</div>

