<div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12 pl0 resPortAddPage " >
			<div class="row">
				<div class="col-xs-12 mb-9">
					<div class="flex align-justify align-middle">
						<div>
							<div class="btngrp">
								<button class="btn btn-xs btn-property btn-gray" ng-click="vm.backToList()"><i class="icon-back-menu"></i> Back </button>
								<button class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="vm.addNew()"><i class="icon-add"></i> Add Daybook</button>
							</div>
						</div>
						<!-- <div>
							<ul class="list-inline">
								<li>
									<ul class="list-inline li-p0">
										<li>{{vm.selectedRowIndex+1}}</li>
                                        <li>of</li>
                                        <li>{{vm.totalRecord}}</li>
									</ul>
								</li>
								<li class="pr0">
									<ul class="list-inline next-prev">
										<li><i class="icon-r-arrow" aria-hidden="true" ng-click="vm.singlePageNavigation(-1)"></i></li>
										<li><i class="icon-r-arrow" aria-hidden="true" ng-click="vm.singlePageNavigation(1)"></i></li>
									</ul>
								</li>
							</ul>
						</div> -->
					</div>
				</div><!--COL ENDS-->
			</div>
			<div class="panel panel-default detail-transition" >
				<div class="panel-heading flexTitle">
					<div>
						<h4>Daybook</h4>
					</div>
					<div>
						<ul class="list-inline">
							<li>
							<a href="javascript:void(0)" class="list-panel-edit-btn cursorPt">
								<i class="icon-logs" data-placement="bottom" bs-tooltip="activity" ng-click="vm.showHistory=!vm.showHistory"></i>
							</a>
							
						</li>
							<li ><a data-placement="bottom" bs-tooltip="editIcon" href="javascript:void(0)" ng-click="vm.edit(vm.daybookMaster.id)"><i class="icon-edit cursorPt"></i></a></li>
						<li ><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" class="list-panel-edit-btn cursorPt" ng-click="vm.delete(vm.daybookMaster.id)"><i class="icon-delete"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="vm.showHistory=false">
					<div class="detail-view">
						
						<div class="row metadata-detail ">
							<span>Name</span>
							<h5 class="heading">{{vm.daybookMaster.daybookName}}</h5>
						</div>

						<div class="row bor-0" style="padding-left: 0 !important;padding-right: 0 !important;">
							<div class="col-xs-7 plr0">
								<div class="row nopadding">
									<div class="col-xs-4">
										<span >Code</span>
										<h6>{{vm.daybookMaster.daybookCode}}</h6>
									</div>
									<div class="col-xs-4">
										<span >Location</span>
										<h6>{{vm.daybookMaster.locationMaster.locationName}}</h6>
									</div>
									<div class="col-xs-4">
										<span >Document Type </span>
										<h6>{{vm.daybookMaster.documentTypeMaster.documentTypeName}}</h6>
									</div>

								</div>
							</div>
							<div class="col-xs-5 plr0">
								<div class="col-xs-6 ">
									<span>Block Date</span>
									<h6>{{vm.daybookMaster.blockDate}}</h6>
								</div>
								<div class="col-xs-6">
									<span >Status</span>
									<show-status status="{{vm.daybookMaster.status}}"></show-status>
								</div>
							</div>
						</div>
						<div class="row nopadding bor-0 line">
							<hr>
						</div>

						<div class="row nopadding bor-0">
							<div class="col-xs-12 nopadding">

								<!--TAB MENUS ENDS-->
								<div class="tab-content" >

										<div class="row  bor-btm-1 pt15 plr0 ">
											<div class="col-xs-12 col-md-12 col-lg-8">
												<div class="table-responsive">
													<table class="table table-inline nomargin vam">
														<thead>
														     <tr>
																 <th class="inl_mpp">Account</th>
																 <th class="inl_xl">Account Name</th>
																 <th class="inl_mpp">Account Code</th>
																 <th class="inl_mpp">Subledger Code</th>
															 </tr>
														</thead>
														<tbody>
														      <tr>
																  <td>Cash </td>
																 <!--  <td>Bus Expenses (S000135)</td> -->
                                                                  <td>{{vm.daybookMaster.cashAccount.glAccountName}}</td>
																  <td> {{vm.daybookMaster.cashAccount.glAccountCode}}</td>
																  <td>{{vm.daybookMaster.cashAccount.glSubLedgerCode}}</td>

																  </td>
															  </tr>
															  <tr>
																  <td>Bank </td>
																  <td>{{vm.daybookMaster.bankAccount.glAccountName}}</td>
																  <td> {{vm.daybookMaster.bankAccount.glAccountCode}}</td>
																  <td>{{vm.daybookMaster.bankAccount.glSubLedgerCode}}</td>
															  </tr>
															  <tr>
																  <td>Post Dated Cheque</td>
																  <td>{{vm.daybookMaster.pdcAccount.glAccountName}}
																  </td>
																  <td> {{vm.daybookMaster.pdcAccount.glAccountCode}}</td>

																  <td>{{vm.daybookMaster.pdcAccount.glSubLedgerCode}}</td>
															  </tr>
															  <tr>
																  <td>Exchange Gain</td>
																  <td>{{vm.daybookMaster.exchangeGainAccount.glAccountName}}</td>

																  <td>  {{vm.daybookMaster.exchangeGainAccount.glAccountCode}}</td>
																  <td>{{vm.daybookMaster.exchangeGainAccount.glSubLedgerCode}}</td>
															  </tr>
															  <tr>
																  <td>Exchange Loss</td>
																  <td>{{vm.daybookMaster.exchangeLossAccount.glAccountName}}</td>

																  <td> {{vm.daybookMaster.exchangeLossAccount.glAccountCode}}</td>

																  <td>{{vm.daybookMaster.exchangeLossAccount.glSubLedgerCode}}</td>
															  </tr>
														</tbody>
													</table>
												</div>
											</div>

										</div>
										<div class="row nomargin nopadding">
											<div class="col-xs-7 nopadding">
												<div class="row nopadding">
													<div class="col-xs-4 ptb-15">
														<span>Cheque No - From</span>
														<h6>{{vm.daybookMaster.chequeNoFrom!=null?vm.daybookMaster.chequeNoFrom:'-'}}</h6>
													</div>
													<div class="col-xs-4 ptb-15">
														<span>Cheque No - To</span>
														<h6>{{vm.daybookMaster.chequeNoTo!=null?vm.daybookMaster.chequeNoTo:'-'}}</h6>
													</div>
													<div class="col-xs-4 ptb-15">
														<span>Cheque Report Name</span>
														<h6>{{vm.daybookMaster.chequeReportName!=null?vm.daybookMaster.chequeReportName:'-'}}</h6>
													</div>
												</div>
											</div>
											<div class="col-xs-5 nopadding">
												<div class="row  nopadding">
													<div class="col-xs-6 ptb-15">
														<span>Numeric Daybook</span>
														<h6>{{vm.daybookMaster.numericDaybook!=null?vm.daybookMaster.numericDaybook.daybookName:'-'}}</h6>
													</div>
												</div>
											</div>
										</div>




									<!--<div ng-show="Tabs=='Remarks'">-->
										<!--<div class="row nopadding">-->
											<!--<div class="col-xs-12">-->
												<!--<h6>This Daybook record maintains the primary details of the customer's account details. </h6>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>&lt;!&ndash;Remarks TAB ENDS&ndash;&gt;-->
								</div><!--TAB CONTENT TAB ENDS-->
							</div><!--Col ends-->
						</div><!--row ends-->
					</div>
					<div class="logs-view logs-transition width42per" ng-show="vm.showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="vm.showHistory=false"
											   class="list-panel-back"><i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
								
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.daybookMaster.systemTrack.createUser "></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.daybookMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.daybookMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.daybookMaster.systemTrack.createUser "></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.daybookMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.daybookMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>