<div class="container-fluid resPortAddPage resLandAddPage ">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                         <h4>{{vm.daybookMaster.id!=null?'Edit':'Add'}} Daybook</h4>
                    </div>
                    <div>
                                    <button type="button" class="btn cancel-btn"  ng-click="vm.backToList()">
                                        Cancel
                                    </button>
                                    <button type="button" class="btn accent-btn"  ng-click="vm.daybookMaster.id!=null?vm.update():vm.create()">
                                        {{vm.daybookMaster.id!=null?'Update':'Save'}}
                                    </button>
                    </div>
                </div>
                <div class="panel-body pt0 edit-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <form role="form">
                        <div class="row blue-shade">
                            <div class="col-xs-12 ">
                                <div show-response></div>
                                <div success-response></div>
                                <span class="reqColor nomargin">*</span>
                                <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row blue-shade bor-btm-1">
                            <div class="col-xs-12">
                                <div class="row">
                                 
                                        
                                            <div class="col-xs-6 col-sm-4 col-lg-2 col-md-2 pt5">
                                            <div class="form-group mb0">
                                                <label>name<span>*</span></label>
                                                <input type="text" class="form-control" input-focus="true"
									maxlength="100" id="daybookName"
									ng-class="{'error-control':vm.errorMap.get('daybookName')!=null}"
									ng-change="vm.validate('daybookName', 1)"
									ng-model="vm.daybookMaster.daybookName" /> <span
									class="error-message"
									ng-show="vm.errorMap.get('daybookName')!=null"> <small>{{vm.errorMap.get('daybookName')}}</small>
								</span>
                                            </div>
                                        </div>
                                        
                                         <div class="col-xs-6 col-sm-4 col-lg-2 col-md-2 pt5">
                                           <div class="form-group">
                                                    <label>Code<span>*</span></label>
                                                    <div class="form-group">
                                                        <input capitalize type="text" class="form-control"
										maxlength="10" id="daybookCode"
										input-focus="{{vm.errorMap.get('daybookCode')!=null}}"
										ng-class="{'error-control':vm.errorMap.get('daybookCode')!=null}"
										ng-model="vm.daybookMaster.daybookCode"
										ng-change="vm.validate('daybookCode', 2)" /> <span
										class="error-message"
										ng-show="vm.errorMap.get('daybookCode')!=null"> <small>{{vm.errorMap.get('daybookCode')}}</small>
									</span>
                                                    </div>
                                                </div>
                                         
                                         </div>
                                         <div class="col-xs-6 col-sm-4 col-lg-2 col-md-2 pt5">
                                         
                                          <div class="form-group">
                                                    <label>Location<span>*</span></label>
                                                    <div class="select-auto">
                    
												<input type="text" 
													class="form-control"
						                            ng-class="{'error-control': vm.errorMap.get('locationMaster')!=null}"
						                            input-focus="{{vm.errorMap.get('locationMaster')!=null}}"
						                      		id="location"
													autocomplete="off"
													ng-model="vm.daybookMaster.locationMaster"
													uib-typeahead="lovObject as lovObject.locationName for lovObject in $AutoCompleteService.getLocationList($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="vm.selectedLocation('documentType');"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500" 
													>
													<span class="select-arrow"><b></b></span>

												</div>
												<span
										class="error-message"
										ng-show="vm.errorMap.get('locationMaster')!=null"> <small>{{vm.errorMap.get('locationMaster')}}</small>
									</span>
                                                </div>
                                         </div>
                                        
                                   
                                   
                                    
                                    
                                    
                                   
                                 
                                    <div class="col-xs-6 col-sm-4 col-lg-2 col-md-2 pt5">
                                     <div class="form-group">
                                                    <label>Document Type<span>*</span></label>
                                                    <div class="select-auto">
                    
												<input type="text" 
													class="form-control"
						                            ng-class="{'error-control': vm.errorMap.get('documentTypeMaster')!=null}"
						                            input-focus="{{vm.errorMap.get('documentTypeMaster')!=null}}"
						                      		id="documentType"
													autocomplete="off"
													ng-model="vm.daybookMaster.documentTypeMaster"
													uib-typeahead="lovObject as lovObject.documentTypeName for lovObject in $AutoCompleteService.getDocumentTypeList($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="vm.selectedDocumentType('blockDate');"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500" 
													>
													<span class="select-arrow"><b></b></span>

												</div>
												<span
										class="error-message"
										ng-show="vm.errorMap.get('documentTypeMaster')!=null"> <small>{{vm.errorMap.get('documentTypeMaster')}}</small>
									</span>
                                                </div>
                                    
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-2 col-md-2 pt5">
                                        <div class="form-group">
                                                    <label>Block Date</label>
                                                    <div class="inputBox">
                                        <input id="blockDate" class="form-control" 
                                               ng-model="vm.daybookMaster.blockDate" datetimepicker date-callback="navigateToNextField('cashAccount')"
                                               datetimepicker-options="{{directiveDatePickerOpts}}">
																							<span class="inputIcon"><i class="icon-date"
                                                                                                                       aria-hidden="true"></i></span>


                                    </div>
                                                </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-2 col-md-2 pt5" ng-if="vm.daybookMaster.id!=null">
                                     <div class="form-group">
                                                    <label>Status</label>
                                                    <select
                                                            class="form-control status " id="status"
                                                            ng-class="vm.setStatus(vm.daybookMaster.status)"
                                                            ng-options="item for item in enum['LovStatus']"
                                                            ng-model="vm.daybookMaster.status" >
                                                    </select>
                                                </div>
                                    
                                    </div>
                                   
                                   
                           
                                   
                                   
                              
                                    
                                    
                                    
                                    
                                    
                                </div>
                            </div>
                                             </div>


                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <!--<ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='Accounting'">-->
                                    <!--<li data-menu-item="Accounting">-->
                                        <!--<button type="button" class="btn" ng-class="Tabs=='Accounting'?'active':'btn-normal'" ng-click="Tabs='Accounting'">Accounting</button>-->
                                    <!--</li>-->
                                    <!--<li data-menu-item="Remarks">-->
                                        <!--<button type="button" class="btn" ng-class="Tabs=='Remarks'?'active':'btn-normal'" ng-click="Tabs='Remarks'">Remarks</button>-->
                                    <!--</li>-->
                                    <!--<li data-more-menu-item >-->
                                        <!--<button ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <!--TAB MENUS ENDS-->
                                <div class="tab-content" >
                                    <div class="row nomargin    ">
                                        <div class="col-xs-12">
                                    <div class="fgmb0"><!--ng-show="Tabs=='Accounting'"-->
                                        <div class="row shade2 bor-btm-1">
                                            <div class="col-xs-12  col-md-12 col-lg-7">
                                                <div class="row nomargin">
                                                <div class="col-xs-12 pt20">
                                                    <div class="row">
                                                        <div class="table-responsive">
                                                    <table class="table table-inline-nopad vam">
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_m">Account</th>
                                                            <th class="inl_xl">Account Name</th>
                                                            <th class="inl_mpp">Account Code</th>
                                                            <th class="inl_mpp">Subledger Code</th>

                                                            <!--<th style="width: 400px">Account Name</th>-->
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>Cash <span style="color:red">*</span> </td>
                                                            <td>
                                                                <div class="form-group">
                                               <div class="select-auto">
												<input type="text" 
													class="form-control"
						                            ng-class="{'error-control': vm.errorMap.get('cashAccount')!=null}"
						                            input-focus="{{vm.errorMap.get('cashAccount')!=null}}"
						                      		id="cashAccount"
													autocomplete="off"
													ng-model="vm.daybookMaster.cashAccount"
													uib-typeahead="lovObject as lovObject.glAccountName for lovObject in $AutoCompleteService.getAccountsOnlySubledgerNoWithOutBankAccount($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="vm.selectedCashAccount('bankAccount');"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500" 
													>
													<span class="select-arrow"><b></b></span>

											  </div>
												<span
										class="error-message"
										ng-show="vm.errorMap.get('cashAccount')!=null"> <small>{{vm.errorMap.get('cashAccount')}}</small>
									</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                 <input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.cashAccount.glAccountCode" class="form-control"/>
                                                                      

                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">

                                                                      <input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.cashAccount.glSubLedgerCode" class="form-control"/>

                                                                </div>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Bank <span style="color:red">*</span> </td>

                                                            <td>
                                                                <div class="form-group">
                                                                    <div class="select-auto">
												<input type="text" 
													class="form-control"
						                            ng-class="{'error-control': vm.errorMap.get('bankAccount')!=null}"
						                            input-focus="{{vm.errorMap.get('bankAccount')!=null}}"
						                      		id="bankAccount"
													autocomplete="off"
													ng-model="vm.daybookMaster.bankAccount"
													uib-typeahead="lovObject as lovObject.glAccountName for lovObject in $AutoCompleteService.getAccountsOnlySubledgerNoWithBankAccount($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="vm.selectedBankAccount('pdcAccount');"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500" 
													>
													<span class="select-arrow"><b></b></span>

											  </div>
												<span
										class="error-message"
										ng-show="vm.errorMap.get('bankAccount')!=null"> <small>{{vm.errorMap.get('bankAccount')}}</small>
									</span>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="form-group">
																<input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.bankAccount.glAccountCode" class="form-control"/>
                                                                    

                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">

                                                                    
                                                                    <input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.bankAccount.glSubLedgerCode" class="form-control"/>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Post Dated Cheque <span style="color:red">*</span></td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div class="select-auto">
												<input type="text" 
													class="form-control"
						                            ng-class="{'error-control': vm.errorMap.get('pdcAccount')!=null}"
						                            input-focus="{{vm.errorMap.get('pdcAccount')!=null}}"
						                      		id="pdcAccount"
													autocomplete="off"
													ng-model="vm.daybookMaster.pdcAccount"
													uib-typeahead="lovObject as lovObject.glAccountName for lovObject in $AutoCompleteService.getAccountsOnlySubledgerNoWithBankAccount($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="vm.selectedPdcAccount('exchangeGainAccount');"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500" 
													>
													<span class="select-arrow"><b></b></span>

											  </div>
												<span
										class="error-message"
										ng-show="vm.errorMap.get('pdcAccount')!=null"> <small>{{vm.errorMap.get('pdcAccount')}}</small>
									</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
																	<input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.pdcAccount.glAccountCode" class="form-control"/>
                                                                    

                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">

                                                                    <input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.pdcAccount.glSubLedgerCode" class="form-control"/>

                                                                </div>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Exchange Gain </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div class="select-auto">
												<input type="text" 
													class="form-control"
						                            ng-class="{'error-control': vm.errorMap.get('exchangeGainAccount')!=null}"
						                            input-focus="{{vm.errorMap.get('exchangeGainAccount')!=null}}"
						                      		id="exchangeGainAccount"
													autocomplete="off"
													ng-model="vm.daybookMaster.exchangeGainAccount"
													uib-typeahead="lovObject as lovObject.glAccountName for lovObject in $AutoCompleteService.getAccountsOnlySubledgerNo($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="vm.selectedExcangeGainAccount('exchangeLossAccount');"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500" 
													>
													<span class="select-arrow"><b></b></span>

											  </div>
												<span
										class="error-message"
										ng-show="vm.errorMap.get('exchangeGainAccount')!=null"> <small>{{vm.errorMap.get('exchangeGainAccount')}}</small>
									</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">

                                                                    
																	<input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.exchangeGainAccount.glAccountCode" class="form-control"/>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">

                                                                    <input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.exchangeGainAccount.glSubLedgerCode" class="form-control"/>

                                                                </div>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Exchange Loss </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div class="select-auto">
												<input type="text" 
													class="form-control"
						                            ng-class="{'error-control': vm.errorMap.get('exchangeLossAccount')!=null}"
						                            input-focus="{{vm.errorMap.get('exchangeLossAccount')!=null}}"
						                      		id="exchangeLossAccount"
													autocomplete="off"
													ng-model="vm.daybookMaster.exchangeLossAccount"
													uib-typeahead="lovObject as lovObject.glAccountName for lovObject in $AutoCompleteService.getAccountsOnlySubledgerNo($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="vm.selectedExcangeLossAccount('chequeNoFrom');"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500" 
													>
													<span class="select-arrow"><b></b></span>

											  </div>
												<span
										class="error-message"
										ng-show="vm.errorMap.get('exchangeLossAccount')!=null"> <small>{{vm.errorMap.get('exchangeLossAccount')}}</small>
									</span>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="form-group">


                                                                    <input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.exchangeLossAccount.glAccountCode" class="form-control"/>

                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">

                                                                    <input ng-disabled="true" type="text"   ng-model="vm.daybookMaster.exchangeLossAccount.glSubLedgerCode" class="form-control"/>

                                                                </div>
                                                            </td>


                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                    </div>
                                                    </div>
                                               </div>
                                            </div>
                                        </div>
                                        <div class="row shade1 bor-btm-1">
                                            <div class="col-xs-12">
                                                <div class="row">

                                             
                                                     
                                                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3 ptb-15">
                                                                <div class="form-group">
                                                                    <label>Cheque No - From</label>
                                                                    <input type="text" ng-change="vm.validate('chequeNoFrom', 10)" id="chequeNoFrom" maxlength="10"  class="form-control text-right" ng-model="vm.daybookMaster.chequeNoFrom">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3 ptb-15">
                                                                <div class="form-group">
                                                                    <label>Cheque No - To</label>
                                                                    <input type="text" ng-change="vm.validate('chequeNoTo', 11)" id="chequeNoTo" maxlength="10" class="form-control text-right" ng-model="vm.daybookMaster.chequeNoTo">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3 ptb-15">
                                                                <div class="form-group">
                                                                    <label>Cheque Report Name</label>
                                                                    <input type="text" ng-change="vm.validate('chequeReportName', 12)" class="form-control" maxlength="30" id="chequeReportName" ng-model="vm.daybookMaster.chequeReportName">
                                                                </div>
                                                            </div>
                                                      
                                                    
                                                 
                                                   

                                                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-3 ptb-15">
                                                                <div class="form-group">
                                                                    <label>Numeric Daybook</label>
                                                                    <div class="select-auto">
															<input type="text" 
															class="form-control last-child" id="numericDaybook" 
														    input-focus="{{vm.errorMap.get('numericDaybook')!=null}}"
															autocomplete="off"
															ng-model="vm.daybookMaster.numericDaybook"
															uib-typeahead="lovObject as lovObject.daybookName for lovObject in $AutoCompleteService.getDaybookList($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="vm.selectedNumericDaybook();"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
                                                            </div>
                                                            <span class="error-message"
														      ng-show="vm.errorMap.get('numericDaybook')!=null"><small>
															{{vm.errorMap.get('numericDaybook')}} </small></span>
                                                                </div>
                                                            </div>
                                                      
                                             

                                                </div>


                                            </div>
                                        </div>

                                    </div><!--Accounting TAB ENDS-->
                                      </div>
                                    </div>
                                </div><!--TAB CONTENT TAB ENDS-->
                            </div><!--Col ends-->
                        </div><!--row ends-->
                    </form>
                </div>
            </div><!--panel ends-->
        </div>
    </div>
</div>

