<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="regionform">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{regionMaster.id!=null?'Edit Region':'Add Region'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                            		  <button type="button" tabindex="0" class="btn cancel-btn" ng-click="cancelToList()">Cancel</button>
	                                  <input type="button" tabindex="0" class="btn accent-btn" ng-click="regionMaster.id!=null?update():create()" value="{{regionMaster.id!=null?'Update':'Save'}}">
                            </div>
                        </div>
                        
                    </div>
                    <div class="panel-body pt0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input type="text" class="form-control" 
                                focus="{{errorMap.get('regionName')!=null}}"
                                ng-class="{'error-control':errorMap.get('regionName')!=null}"
                                ng-model="regionMaster.regionName" 
                                ng-change="validateregionOnChange(regionMaster,1)"
                                id="regionName" maxlength="100">
                                <div>
									<span class="error-message" ng-show="errorMap.get('regionName')!=null">
										<small>{{errorMap.get('regionName')}}</small>
									</span>
								</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin plr0">
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin pl0">
								<div class="form-group nomargin pl0">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input type="text" class="form-control"
										focus="{{errorMap.get('regionCode')!=null}}"
										ng-class="{'error-control':errorMap.get('regionCode')!=null}"
										ng-model="regionMaster.regionCode"
										ng-change="validateRegionOnChange(regionMaster,2)"
										id="regionCode" maxlength="10"
										ng-disabled="regionMaster.id!=null">

									<div>
										<span class="error-message"
											ng-show="errorMap.get('regionCode')!=null"> <small>{{errorMap.get('regionCode')}}</small>
										</span>
									</div>
								</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group " ng-show="regionMaster.id!=null">
								   <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="setStatus(regionMaster.status)"
                                            id="regionStatus"
                                            ng-model="regionMaster.status"
                                            ng-options="item for item in enum['LovStatus']"
                                            >
                                    </select>
								</div>
							</div>
                        </div>
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
