<div class="container-fluid" ng-controller="stockMange_Ctrl" ng-init="init()">
    <div class="row ml0 mr0">
        <div class="col-md-12 list-container maintable">
            <div class="row nomargin">
                <ul class="nav btn-tab2">
                    <li ng-class="detailTab=='stockGeneration'?'activeBtn':''" ng-click="tabChange('stockGeneration')">
                        MAWB Stock Generation
                    </li>
                    <li ng-class="detailTab=='stockEnquiry'?'activeBtn':''" ng-click="tabChange('stockEnquiry')">
                        MAWB Stock Enquiry
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 tab-list-container">
                <client-error message="clientMessage"></client-error>
                <div class="row">
                    <div class="tab-content">
                        <div ng-if="detailTab=='stockEnquiry'">
                            <div class="panel panel-default">
                                <div class="panel-body tab-only-table" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table data="stockEnquiryArrList" head="stockEnquiryHeadArr" sort="stockEnquirySortSelection" search-event="changeSearchStock(param)"
                                            sort-event="sortChangeStock(param)" page="page" size="limit">
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChangeStockEnquiry(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr page="page" size="limit" total=totalRecord page-change="changePage(param)" class="pull-right">
                                        </pagination-dr>
                                    </div>
                                </div>
                            </div>
                            <!--panel ends-->
                        </div>
                        <div ng-if="detailTab=='stockGeneration'">
                            <div class="panel panel-default">
                                <div class="panel-heading height-auto" style="padding-top: 0 !important; padding-bottom: 0 !important; overflow: visible">
                                    <div class="row overflow-hidden">
                                        <div class="col-xs-4 bor-fix">
                                            <div class="flex align-middle ptb-15">
                                                <div>
                                                    <div class="row" style="top: 10px; position: relative;">
                                                        <div class="col-xs-4">
                                                            <span>Display Stocks for</span>
                                                        </div>
                                                        <div class="col-xs-3 col-xs-pull-1 pr0">
                                                            <input type="text" class="form-control text-right" maxlength="5" input-focus=true ng-class="{'error-control':errorMap.get('noOfDays')!=null } "
                                                                ng-model="stockGenerationSearchDto.noOfDays" ng-change="validateDays()">
                                                            <span class="error-message" ng-if="errorMap.get('noOfDays')!=null">
                                                                <small>{{errorMap.get('noOfDays')}}</small>
                                                            </span>
                                                        </div>
                                                        <div class="col-xs-2 col-xs-pull-1 pl5 ">
                                                            <span>days</span>
                                                        </div>
                                                        <div class="col-xs-2 col-xs-pull-2">
                                                            <button type="button" class="btn accent-btn" ng-click="setflag();getDetailsByDate()">get details</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-2 bor-fix bor-lr-1">
                                            <div class="flex align-middle ptb-15">

                                                <button type="button" class="btn accent-btn" style="top:10px; left:30px; position: relative;" ng-click="showModal()"> generate stocks</button>

                                            </div>
                                        </div>
                                        <div class="col-xs-6 bor-fix fgmb0 ">
                                            <div class="row flex align-middle ptb-15">
                                                <div class="col-xs-12">
                                                    <!--<h5>Total Stocks</h5>-->
                                                    <div>
                                                        <form class="form-inline" role="form">
                                                            <div class="form-group" style="width: 100%">
                                                                <div class="row">
                                                                    <div class="col-xs-4">
                                                                        <label class="block">Carrier
                                                                            <span>*</span>
                                                                        </label>

                                                                        <div class="select-auto">
                                                                            <input type="text" class="form-control carriar-box" id="searchcarrier" autocomplete="off" ng-model="stockGeneration.carrier"
                                                                                uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierEvent($viewValue)"
                                                                                typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                                                                typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                typeahead-on-select="selectedCarrier('serachPor');"
                                                                                typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                typeahead-editable="false" typeahead-min-length="1"
                                                                                typeahead-wait-ms="500">
                                                                            <span class="select-arrow">
                                                                                <b></b>
                                                                            </span>
                                                                        </div>

                                                                        <span class="error-message" ng-if="errorMap.get('stockCarrier')!=null">
                                                                            <small>{{errorMap.get('stockCarrier')}}</small>
                                                                        </span>

                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <label class="block">Origin
                                                                            <span>*</span>
                                                                        </label>
                                                                        <div class="select-auto">
                                                                            <input type="text" class="form-control" id="serachPor" autocomplete="off" ng-model="stockGeneration.por" uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxConnPorEvent($viewValue)"
                                                                                typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                                typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                typeahead-on-select="selectedPor('viewstock');"
                                                                                typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                typeahead-editable="false" typeahead-min-length="1"
                                                                                typeahead-wait-ms="500">
                                                                            <span class="select-arrow">
                                                                                <b></b>
                                                                            </span>
                                                                        </div>
                                                                        <!--<oi-select-->
                                                                        <!--tabindex="12"-->
                                                                        <!--oi-options="item.portName for item in ajaxConnPorEvent($query)"-->
                                                                        <!--ng-model="stockGeneration.por"-->
                                                                        <!--title="{{stockGeneration.por.id!=null?stockGeneration.por.portName:''}}"-->
                                                                        <!--ng-change="selectedPor()"-->
                                                                        <!--oi-select-options="{-->
                                                                        <!--editItem: 'correct',-->
                                                                        <!--debounce: 200,-->
                                                                        <!--dropdownFilter: 'myDropdownFilter',-->
                                                                        <!--saveTrigger:'enter tab blur'-->
                                                                        <!--}">-->
                                                                        <!--</oi-select>-->
                                                                        <!-- <ui-select
                                                                                ng-model="stockGeneration.por"
                                                                                theme="select2"
                                                                                style="width: 100%"
                                                                                title="{{stockGeneration.por.id!=null?stockGeneration.por.portName:''}}"
                                                                                 tabindex="2"
                                                                                ng-change="selectedPor()"
                                                                                >
                                                                            <ui-select-match >
                                                                                {{$select.selected.portName}}
                                                                                &lt;!&ndash;<a href="javascript:void(0);"><i class="icon-close"></i></a>&ndash;&gt;
                                                                                <a  tabindex="2" href="javascript:void(0);" ng-click="stockGeneration.por={}"><i class="icon-close"></i></a>
                                                                            </ui-select-match>
                                                                            <ui-select-choices refresh="ajaxConnPorEvent($select.search)" refresh-delay="250" repeat="dataObj in  porList">
                                                                                <span ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.portName | highlight: $select.search"></span>
                                                                                [<small ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.portCode | highlight: $select.search"></small>]
                                                                            </ui-select-choices>
                                                                        </ui-select>-->
                                                                        <!--<select class="form-control">
                                                                            <option>AI - Air India</option>
                                                                            <option>EA - Emirates Airlines</option>
                                                                            <option>QA - Qatar Air</option>
                                                                        </select>-->
                                                                        <span class="error-message" ng-if="errorMap.get('stockPor')!=null">
                                                                            <small>{{errorMap.get('stockPor')}}</small>
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <button type="button" id="viewstock" class="btn accent-btn" style="position: relative; top: 18px" ng-click="setflag();stockByData()">View Total Stocks</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-body nav-tab-container" panel-height>

                                    <div ng-if="detailTab=='stockGeneration'" class="table-fixed table-responsive">
                                        <super-table data="stockGenerationArrList" head="stockGenerationArr" sort="stockSortSelection" search-event="changeSearchStock(param)"
                                            sort-event="sortChangeStock(param)" action-event="actionChange(param)" link-event="rowSelectStock(param)"
                                            page="pageStock" size="limitStock">
                                        </super-table>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limitStock" ng-change="limitChangeStock(limitStock)" ng-options="v for v in limitArrStock">
                                                </select>

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr page="pageStock" size="limitStock" total=totalRecordStock page-change="changePageStock(param)" class="pull-right"></pagination-dr>
                                    </div>


                                </div>
                            </div>
                            <!--panel ends-->
                            <div ng-hide="!hidePage" class="wrapper-back-drop"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>