<table width="40%" style="background:#fcfcfc; height:auto; margin-left:30%; margin-top:10%; border-radius:3px;">
<tr>
<td>
 <table width="100%" style="padding:20px 0px; background:#55b05a;">
   <tr><td width="100%" align="center" style="margin-bottom:100px;"><img src="../../assets/images/approval2.png" alt="" /></td></tr>
   </table>
  <table width="100%" style="width:100%; padding:25px 0px; border-bottom:2px solid #55b05a;">
   <tr><td width="100%" align="center"></td></tr>
   <tr><td width="100%" align="center" style="font-size:22px;font-weight:bold;color:#373938;">{{responseMessage}}</td></tr>
   <tr><td width="100%" align="center" ></td></tr>
   <tr><td width="100%" align="center" ></td></tr>
   <tr><td width="100%" align="center" ></td></tr>
  </table>
	</td>
	</tr>
	</table>
