<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="NewAgePublic">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="../../plugins/javascript/angular/angular.js" type="text/javascript"></script>
<script src="hawb_customer_confirm.js"></script>
<script src="../service/public_service.js"></script>
<script src="../service/spinner.js"></script>
<script src="../../plugins/javascript/angular/daterangepicker/moment.js"></script>
<script src="../../plugins/javascript/angular/b3Picker/moment-with-locales.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="../../assets/images/favicon.png"/>
<title>HAWB</title>
<style>
	.back_image {
		background:url(blue_awb.png) no-repeat center top;
		height:1296px;
	}
</style>
</head>

<body style="font-family:Arial, Helvetica, sans-serif;font-size:12px;" ng-controller="hawbConfirmCtrl">
<div class="container" ng-show="!confirmed">
<div style="width:996px;margin:auto;" ng-hide="spinner">
<h3 style="background:#42a5f5;color:#fff;padding:10px;text-align:center;font-weight: normal;">
HAWB Approval Document
</h3>
</div>

<div style="background:url(blue_awb.png) no-repeat center top;height:1296px;">

<efs-spinner spinner-status="spinner"></efs-spinner> 
<div style="width:996px;margin:auto;">
<div style="width:50%;float:left;">
<div style="width:100%;height:40px;float:left;">
<span style="padding-left:40px;">{{documentDetail.carrier.carrierNo}} <span style="padding-left:20px;">{{documentDetail.pol.portCode}}</span> <span style="padding-left:20px;">{{documentDetail.mawbNo.trim().substring(3, 7)}} {{documentDetail.mawbNo.trim().substring(7,11)}}</span>
</span>
</div>


<div style="width:100%;float:left;height:135px;">
<div style="width:auto;float:left;">
<div style="padding-left:8px;padding-top:5px;">
<span>
{{documentDetail.shipper.partyName}}<br/>
{{documentDetail.shipperAddress.addressLine1}}<br/>
{{documentDetail.shipperAddress.addressLine2}}<br/>
{{documentDetail.shipperAddress.addressLine3}}<br/>
{{documentDetail.shipperAddress.addressLine4!=null?documentDetail.shipperAddress.addressLine4:''}}

<!-- Spin Electronics PLC<br/>
 PO Box 22345<br/>
 Flat C-122, Robinson Rd<br/>
 Chennai, TN, 600001, India. -->
</span></div>

</div>
<div style="width:30%;float:right;">
<span style="margin-top:-4px;float:left;">{{documentDetail.shipperAccount}}</span>
</div>
</div>


<div style="width:100%;float:left;height:132px;">
<div style="width:auto;float:left;">
<div style="padding-left:8px;padding-top:5px;">
<span>
{{documentDetail.consignee.partyName}}<br/>
{{documentDetail.consigneeAddress.addressLine1}}<br/>
{{documentDetail.consigneeAddress.addressLine2}}<br/>
{{documentDetail.consigneeAddress.addressLine3}}<br/>
{{documentDetail.consigneeAddress.addressLine4!=null?documentDetail.consigneeAddress.addressLine4:''}}
<!--  National Switches<br/>
 122-A<br/>
 Eastern Towers<br/>
 Hamburg, HH, Germany. -->
</span></div>

</div>
<div style="width:30%;float:right;">
<span style="margin-top:-4px;float:left;">{{documentDetail.consigneeAccount}}</span>
</div>
</div>



<div style="width:100%;float:left; height:124px;">
<div style="width:auto;float:left;">
<div style="padding-left:8px;padding-top:5px;">
<span>
 <!-- CFG Overseas SRL<br/>
 234<br/>
 Main Bay House<br/>
 Milan, MI, 12345, Italy. -->
{{documentDetail.issuingAgent.partyName}}<br/>
{{documentDetail.issuingAgentAddress.addressLine1}}<br/>
{{documentDetail.issuingAgentAddress.addressLine2}}<br/>
{{documentDetail.issuingAgentAddress.addressLine3}}<br/>
{{documentDetail.issuingAgentAddress.addressLine4!=null?documentDetail.issuingAgentAddress.addressLine4:''}}
</span></div>

</div>
<div style="width:30%;float:left;">
<span style="margin-top:-4px;float:left;"></span>
</div>
</div>




<div style="width:100%;float:left;height:38px;">


<div style="width:23%;float:left;">
<div style="padding-left:8px;padding-top:5px;">
<span> 
 
</span></div>

</div>

<div style="width:47%;float:left;">
<div style="padding-left:8px;padding-top:5px;">
<span> 
 {{documentDetail.issuingAgent.partyDetail.iataCode}}
</span></div>

</div>
<div style="width:20%;float:left;">
<span style="padding-top:5px;float:left;">{{documentDetail.issuingAgent.partyDetail.accountNumber}}</span>
</div>
</div>





<div style="width:100%;float:left;height:38px;">

<div style="width:15%;float:left;">
<div style="padding-left:8px;padding-top:5px;">
<span> 
 {{documentDetail.pol.portCode}}
</span></div>

</div>
<div style="width:80%;float:left;">
<span style="padding-top:4px;float:left;">{{documentDetail.pol.portName}}</span>
</div>
</div>




<div style="width:100%;float:left;height:43px;">

<div style="width:15%;float:left;">
<div style="padding-left:8px;padding-top:5px;">
<span> 
 {{documentDetail.pod.portCode}}
</span></div>

</div>
<div style="width:46%;float:left;">
<span style="padding-top:4px;float:left;">{{documentDetail.carrier.carrierName}}</span>
</div>
<div ng-repeat="connection in shipmentServiceDetail.connectionList">
<div style="width:11%;float:left;">
<span style="padding-top:4px;float:left;">{{connection.pod.portCode}}</span>
</div>

 <div style="width:8%;float:left;">
<span style="padding-top:4px;float:left;">{{connection.carrierMaster.carrierCode}}</span>
</div>
</div>
<!--
<div style="width:10%;float:left;">
<span style="padding-top:4px;float:left;">JFK</span>
</div>

<div style="width:8%;float:left;">
<span style="padding-top:4px;float:left;">EK</span>
</div>
 -->


</div>





<div style="width:100%;float:left;height:40px;">
<div style="width:42%;float:left;">
<div style="padding-left:8px;padding-top:5px;">
<span>{{documentDetail.destination.portCode}} {{documentDetail.destination.portName}}</span></div>

</div>
<div style="width:30%;float:left;">
<span style="padding-top:4px;float:left;">{{shipmentServiceDetail.flightanddate}}</span>
</div>

<div style="width:28%;float:left;">
<span style="padding-top:4px;float:left;">{{connection.flightanddate}}</span>
</div>
</div>



<div style="width:100%;float:left;">
<div style="width:42%;float:left;">
<div style="padding-left:8px;padding-top:5px;">
<span>{{documentDetail.handlingInformation}}</span></div>
</div>
</div>



</div>




<div style="width:50%;float:left;">
<div style="width:100%;height:40px;float:left;">
<div style="text-align:center;"><strong>{{hawbLabel}}</strong> {{documentDetail.hawbNo}}</div>
</div>


<div style="width:100%;height:26px;float:left;">

<div style="width:30%;float:left;height:20px;"></div>
<div style="width:50%;float:left;">{{documentDetail.carrier.carrierName}}</div>

</div>



<div style="width:100%;height:245px;float:left;">

<div style="width:15%;float:left;height:20px;"></div>
<div style="width:auto;float:left;">
<span style="font-size:12px">
 <!-- CFG Overseas SRL<br/>
 234<br/>
 Main Bay House<br/>
 Milan, MI, 12345, Italy. -->
 {{documentDetail.issuingAgent.partyName}}<span/><br/>
 <span style="font-size:12px">{{documentDetail.issuingAgentAddress.addressLine1}}</span><br/>
 <span style="font-size:12px">{{documentDetail.issuingAgentAddress.addressLine2}}</span><br/>
 <span style="font-size:12px">{{documentDetail.issuingAgentAddress.addressLine3}}</span><br/>
 <span style="font-size:12px">{{documentDetail.issuingAgentAddress.addressLine4!=null?documentDetail.issuingAgentAddress.addressLine4:''}}</span>
</span>

</div>

</div>



<div style="width:100%;height:162px;float:left;">
<div style="width:50%;float:left; padding-left:8px;">
<span>
 {{documentDetail.accountandNotify}}

</span>

</div>

</div>



<div style="width:100%;height:41px;float:left;">
<span>{{documentDetail.optionalShippingInfo}}</span>
<div style="width:50%;float:left; padding-left:8px;">
<span>{{shipmentServiceDetail.serviceUid}}</span></div></div>





<div style="width:100%;height:40px;float:left;">


<div style="width:11%;float:left; padding-left:8px;">
<span>{{shipmentServiceDetail.localCurrency.currencyCode}}</span></div>

<div style="width:4%;float:left; padding-left:8px;">
<span>{{shipmentServiceDetail.tosMaster.freightPPCC!=null && shipmentServiceDetail.tosMaster.freightPPCC=='Prepaid'?'P':'C'}}</span></div>

<div style="width:3%;float:left; padding-left:8px;">
<span>{{shipmentServiceDetail.tosMaster.freightPPCC!=null && shipmentServiceDetail.tosMaster.freightPPCC=='Prepaid'?'P':'&nbsp;'}}</span></div>

<div style="width:3%;float:left; padding-left:8px;">
<span>{{shipmentServiceDetail.tosMaster.freightPPCC!=null && shipmentServiceDetail.tosMaster.freightPPCC=='Collect'?'C':'&nbsp;'}}</span></div>

<div style="width:3%;float:left; padding-left:8px;">
<span>{{shipmentServiceDetail.tosMaster.freightPPCC!=null && shipmentServiceDetail.tosMaster.freightPPCC=='Prepaid'?'P':'&nbsp;'}}</span></div>

<div style="width:4%;float:left; padding-left:8px;">
<span>{{shipmentServiceDetail.tosMaster.freightPPCC!=null && shipmentServiceDetail.tosMaster.freightPPCC=='Collect'?'C':'&nbsp;'}}</span></div>

<div style="width:28%;float:left; padding-left:8px;text-align:center;margin-top:-2px;">
<span>{{documentDetail.declaredValueForCarriage}}</span></div>

<div style="width:31%;float:left; padding-left:8px;text-align:center;margin-top:-2px;">
<span>{{documentDetail.declaredValueForCustoms}}</span></div>
</div>


<div style="width:100%;height:78px;float:left;">
<div style="width:29%;float:left; padding-left:8px;text-align:center;">
<span>{{documentDetail.amountOfInsurance}}</span></div></div>



<div style="width:100%;height:41px;float:left;">


<div style="width:76%;float:left; padding-left:8px;text-align:center;height:10px;">
<span>{{documentDetail.handlingInformation}}</span></div>

<div style="width:19%;float:left; padding-left:8px;text-align:center;">
<span>{{documentDetail.diversionContray}}</span></div>



</div>













</div>

</div>



<div style="width:100%;height:35px;float:left;"></div>


<div style="width:996px;margin:auto;">
<div style="width:100%;float:left; height:240px;">
<div style="width:72%;float:left;">
<div style="float:left;margin-bottom:15px;width:100%;">
<div style="width:8%;float:left;">
<span style="float:right;">{{documentDetail.noOfPieces}}</span>
</div>

<div style="width:12%;float:left;">
<span style="float:right;padding-right:6px;">{{weightFormat(documentDetail.grossWeight,shipmentServiceDetail.location.currencyMaster)}}</span>
</div>

<div style="width:3%;float:left;">
<span style="font-size:12px;">KG</span>
</div>

<div style="width:3%;float:left;">
<span>{{documentDetail.rateClass}}</span>
</div>

<div style="width:12%;float:left;">
<span>{{documentDetail.commodityNo}}</span>
</div>

<div style="width:20%;float:left;">
<span style="float:right;padding-right:17px;">{{weightFormat(documentDetail.chargebleWeight,shipmentServiceDetail.location.currencyMaster)}}</span>
</div>

<div style="width:20%;float:left;">
<span style="float:right;padding-right:24px;">{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.ratePerCharge)}}</span>
</div>

<div style="width:20%;float:left;text-align:center;">
<span><!-- AS AGREED --></span>
</div>
</div>



<div style="width:90%;height:170px;float:left;">

<span style="padding-left:10px;"><!-- MARKS AND NO --></span>

</div>




<div style="width:100%;height:100px;float:left;padding-top:4px;">

<div style="width:8%;float:left;text-align:center;">
<span style="float:right;padding-right:5px;">{{documentDetail.noOfPieces}}</span>
</div>

<div style="width:12%;float:left;text-align:center;">
<span style="float:right;padding-right:5px;">{{weightFormat(documentDetail.grossWeight,shipmentServiceDetail.location.currencyMaster)}}</span>
</div>


<div style="width:58%;float:left;text-align:center;height:10px;">
<span></span>
</div>

<div style="width:20%;float:left;text-align:center;">
<span><!-- AS AGREED -->{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.totalAmount)}}</span>
</div>
</div>





</div>
<div style="width:24%;float:left;padding-left:13px;">
<span>
<!-- COMM DESC<br/>
PCS - L X W X H (Inch)<br/><br/>
22 - 2X 22 X 22<br/><br/>
2 - 2X 2X 22<br/><br/>
2 - 22X 2X 2 -->

{{documentDetail.dimension}}
</span>
</div>
</div>
</div>






<div style="width:996px;margin:auto;">
<div style="width:40%;float:left;padding-top:2px;">

<div style="width:100%;height:30px;float:left;">
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.preWeightCharge)}}</span>
</div>
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.collWeightCharge)}}</span>
</div>
</div>



<div style="width:100%;height:30px;float:left;">
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.preValuationCharge)}}</span>
</div>
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.collValuationCharge)}}</span>
</div>
</div>


<div style="width:100%;height:45px;float:left;">
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.prepaidTax)}}</span>
</div>
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.collectTax)}}</span>
</div>
</div>


<div style="width:100%;height:44px;float:left;">
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.otherChargesDuePreAgent)}}</span>
</div>
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.otherChargesDueCollAgent)}}</span>
</div>
</div>


<div style="width:100%;height:30px;float:left;">
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.otherChargesDuePreCarrier)}}</span>
</div>
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.otherChargesDueCollCarrier)}}</span>
</div>
</div>



<div style="width:100%;height:38px;float:left;">
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.totalPrepaid)}}</span>
</div>
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.totalCollect)}}</span>
</div>
</div>


<div style="width:100%;height:36px;float:left;">
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.currencyConversionRates)}}</span>
</div>
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.chargesInDestCurrency)}}</span>
</div>
</div>


<div style="width:100%;height:30px;float:left;">
<div style="width:50%;float:left;text-align:center; height:10px;">
<span></span>
</div>
<div style="width:50%;float:left;text-align:center;">
<span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.chargesAtDestination)}}</span>
</div>
</div>
</div>















<div style="width:60%;float:left;">

<div style="width:100%;float:left;padding-top:7px;height:160px;">
<div style="width:50%;float:left;" ng-repeat="shipmentCharge in shipmentServiceDetail.shipmentChargeList.slice(0, 3) track by $index">

<div style="width:100%;height:21px;float:left;">
<div style="width:40%;float:left;"><span>{{shipmentCharge.chargeMaster.chargeCode}}</span></div>
<div style="width:30%;float:left;"><span style="float:right;">{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.collWeightCharge)}}{{shipmentCharge.localTotalNetSale}}</span></div>
</div>
</div>

<div style="width:50%;float:left;" ng-repeat="shipmentCharge in shipmentServiceDetail.shipmentChargeList.slice(3, 6) track by $index">
<div style="width:100%;height:21px;float:left;">
<div style="width:40%;float:left;"><span>{{shipmentCharge.chargeMaster.chargeCode}}</span></div>
<div style="width:30%;float:left;"><span style="float:right;">{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.localTotalNetSale)}}</span></div>
</div>
</div>
</div>




<div style="width:100%;float:left;padding-top:7px;height:30px;">
<div style="width:60%;float:left;"><span>{{documentDetail.issuingAgent.partyName}}</span></div>
<div style="width:35%;float:left;"><span>{{documentDetail.shipperSignature}}</span></div>

</div>



<div style="width:100%;float:left;padding-top:7px;height:30px;">
<div style="width:60%;float:left;"><span>{{documentDetail.issuingAgent.partyName}}</span></div>
<div style="width:35%;float:left;"><span>{{documentDetail.carrier.carrierName}}</span></div>

</div>



<div style="width:100%;float:left;padding-top:7px;height:38px;">
<div style="width:40%;float:left;"><span>{{documentDetail.hawbReceivedOn!=null?dateToString(documentDetail.hawbReceivedOn,documentDetail.location.dateFormat):' '}}</span></div>
<div style="width:30%;float:left;"><span>{{documentDetail.pol.portCode}}</span></div>
<div style="width:30%;float:left;"><span>{{documentDetail.issCarrierAgentSign}}</span></div>

</div>





<div style="width:100%;float:left;padding-top:7px;height:52px;">
<div style="width:31%;float:left;height:10px;"><span>{{currencyFormat(shipmentServiceDetail.location.currencyMaster, documentDetail.totalCollectCharges)}}</span></div>
<div style="width:69%;float:left;text-align:center;"><span>{{documentDetail.mawbNowithoutPrefix2}}</span></div>


</div>












</div>

</div>




</div>



<div style="width:996px;margin:auto;">
<div style="width:100%;float:left;padding-top:7px;height:60px;">
<div style="width:53%;float:left;height:10px;"><span></span></div>
<div style="width:47%;float:left;">

<div style="float:right">
<span><strong>PIN Number</strong>
<span style="color:#d61810; margin-right:10px; margin-left:5px; font-size:18px;">*</span>
<input type="password" name="name" style="padding:5px 0px;" maxlength="20" ng-model="hawbCustomerConfirm.pin"/>
<button style="padding:8px 20px; background:#4cb050; color:#fff; border-radius:5px; border:none;" ng-click="callAPI('Yes')">Approve</button>
<button style="padding:8px 18px; background:#ff0b00; color:#fff; border-radius:5px; border:none;" ng-click="callAPI('No')">Cancel</button>
</br>&nbsp;<span style="color: red" ng-show="errorMsg!=null">{{errorMsg}}</span>
</span>
</div>

</div>
</div>



</div>
</div>
<div ng-include="'hawb-approval.html'" ng-if="confirmed"></div>
</body>
</html>
