<div class="container-fluid">
	<div class="row ml0 mr0">
		<!-- Table View -->
		<div class="list-container col-md-12  table-responsive main" ng-show="!showDetailCharge">
			<div class="col-xs-12 tab-list-container">
				<div class="row">
					<div class="tab-content">
						<div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<section class="row">
										<div class="col-xs-4">
											<div class="panelTitle">
												<button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addDC()">
													<i class="icon-add"></i>Add Default Charges</button>
											</div>
										</div>
										<div class="col-xs-3">
											<button-group btn-index="" states="btnGrp.TypeServiceArr" state="pricingAirSearchDto.searchImportExport" on-state-change="searchDC()">
											</button-group>
										</div>

										<div class="col-md-9 pull-right text-right">
											<i class="icon-settings"></i>
										</div>
									</section>
								</div>

								<div class="panel-body nav-tab-container" panel-height>
									<div class="table-fixed table-responsive">
										<super-table-edit data="defaultChargeArr" head="defaultChargeHeadArr" sort="sortSelection" is-delete="true" page="page" size="limit"
										    click-event="rowSelect(param,index)" search-event="changeSearch(param)" sort-event="sortChange(param)" action-event="actionClick(param)">
										</super-table-edit>
									</div>
								</div>

								<div class="panel-footer">
									<div class="flex align-justify align-middle">
										<div>
											<ul class="list-inline">
												<li>Show</li>
												<li>
													<select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChange(limit)" ng-options="v for v in limitArr">

													</select>
												</li>
												<li>Entries</li>
											</ul>
										</div>
										<div>
											<pagination-dr page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right"></pagination-dr>
										</div>
									</div>
								</div>
							</div>
							<!--panel ends-->
						</div>
						<!--Tab Ends-->
						<div ng-if="detailTab=='cost'">
							<div class="panel panel-default">
								<div class="panel-body p00  nav-tab-container" panel-height>
									<div show-response></div>
									<client-error message="clientMessage"></client-error>
									<div success-message></div>
									<div class="table-fixed table-responsive">
										<super-table-edit data="defaultChargeArr" head="defaultChargeCostHeadArr" sort="sortSelection" is-delete="true" page="page"
										    size="limit" click-event="rowSelect(param,index)" search-event="changeSearch(param)" sort-event="sortChange(param)"
										    action-event="actionClick(param)"> </super-table-edit>
									</div>
								</div>
								<div class="panel-footer">
									<div class="flex align-justify align-middle">
										<div>
											<ul class="list-inline">
												<li>Show</li>
												<li>
													<select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChange(limit)" ng-options="v for v in limitArr">

													</select>
												</li>
												<li>Entries</li>
											</ul>
										</div>
										<div>
											<pagination-dr page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right"></pagination-dr>
										</div>
									</div>
								</div>
							</div>
							<!--panel ends-->
						</div>
						<!--Tab Ends-->

					</div>
				</div>
			</div>
		</div>
		<div ng-if="showDetailCharge">
			<div ng-include="'app/components/crm/default_charges/default_charge_view.html'"></div>
		</div>
	</div>
</div>