<div class="container-fluid ">
    <div class="row ">
        <div class="col-md-12 col-lg-12  col-sm-12 col-xs-12" >
            <form role="form"  id="defaultChargeEditForm" name="defaultChargeEditForm">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading bg-trans">
                        <div class="w-50">
                            <h4>Add Default Charge </h4>
                        </div>
                        <div class="w-50">
                            <ul class="list-inline text-right masopertion-action">

                                <li>
                                    <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancelDc('save')">Cancel</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="savePricingPort()">save</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body edit-body pt0"  panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="ptb5 plr15">
                          <div show-response></div>
                             <client-error message="clientMessage"></client-error>
                            <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory fields</small></div>
                        </div>
                        <div class="row nomargin">
										<div class="col-xs-12 pl0">
											<button type="button"
												class="btn btn-primary btn-xs btn-property accent-btn "
												ng-click="addDCRow()">
												<i class="icon-add opcfull"></i> Add Default Charge
											</button>
											<button type="button"
												class="btn btn-primary btn-xs btn-property accent-btn green-btn "
												ng-click="bulkuploadmodel()">Bulk Upload</button>
										</div>
									</div>
                        <div class="row plr15 bor-b-0">
                            <div class="table-responsive">
                                <table class="table table-inline-nopad nomargin" tab-nav tab-row="addDCRow()">
                                <thead>
                                <tr>
                                <th rowspan="2" class="text-left inl_xxs">#</th>
                                        <!-- <th  class="text-left inl_s">Service<span class="reqColor">*</span></th> -->
                                         <th  rowspan="2" class="  inl_mp"">Service<span class="reqColor">*</span></th>
                                        <th  rowspan="2" class="  inl_mpp"">Charge<span class="reqColor">*</span></th>
                                        <th  rowspan="2"  class="  inl_s"">Currency<span class="reqColor">*</span></th>
                                        <th  rowspan="2"  class=" inl_mp">Unit<span class="reqColor">*</span></th>
                                        <!--  ng-if="pricingPortPair.screen=='revenue'" -->
                                        <th  class="text-center inl_s" colspan="2">Default Charges Revenue</th>
                                        <!--  ng-if="pricingPortPair.screen=='revenue'" -->
                                        <th  class="text-center inl_s"  colspan="2">Default Charges Cost</th>
                                       <th rowspan="2"  class=" inl_sm">Origin</th>
                                        <th rowspan="2"  class=" inl_mp">Transit Port</th>
                                        <th rowspan="2"  class=" inl_m">Destination</th>
                                        <th rowspan="2"  class=" inl_mp">TOS</th>
                                        <th rowspan="2"  class=" inl_mp">Prepaid / Collect</th>
                                        <th rowspan="2"  class=" inl_sm">Self / Agent</th>
                                        <th rowspan="2"  class=" inl_s">Action</th>
                                  </tr>
                                    <tr>
                                        <!--  ng-if="pricingPortPair.screen=='revenue'" -->
                                        <th  class="text-right inl_mm">Amount per Unit<span class="reqColor">*</span></th>
                                        <!--  ng-if="pricingPortPair.screemn=='revenue'" -->
                                        <th  class="text-right inl_mm">Min Amount</th>
                                        <!--  ng-if="pricingPortPair.screen=='cost'" -->
                                        <th  class="text-right inl_mm">Amount per Unit<span class="reqColor">*</span></th>
                                        <!-- ng-if="pricingPortPair.screen=='cost'" -->
                                        <th  class="text-right inl_mm">Min Amount</th>

                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="pricingMaster in pricingMasterList track by $index" ng-init="parentIndex = $index">
                                    <tr ng-repeat="pricingPortPair in pricingMaster.pricingPortPairList track by $index" ng-init="childIndex = $index">
                                     <td class="inl_sno" ng-class="{'error-cell text-center':errorDc[parentIndex].errRow}">
                                    <span ng-show="errorDc[parentIndex].errRow" >
                             <a href="javascript:void(0);"  data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(errorDc[parentIndex],0)" class="color-white" >
                                 <img src="../../../../assets/images/error.png"/>
                             </a>
                         </span> 
                          {{errorDc[parentIndex].errRow?" ":parentIndex+1}}
                                <!--  <span ng-show="!errorDc[parentIndex].errRow">
                           
                                 </span> -->
                                      </td>
                                       <!--  <td>
                                        </td> -->
                                         <td>
                                           <div class="select-auto">
                                                <input type="text" class="form-control" id="{{parentIndex}}dcService" 
										input-focus="{{errorDc[parentIndex].dcService}}" focus="true" 
										ng-class="{'error-control-auto':errorDc[parentIndex].dcService}" 
										autocomplete="off" 
										ng-model="pricingPortPair.serviceMaster" 
										uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedAjaxAdd('dcCharge',1,parentIndex)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
										<span class="select-arrow"><b></b></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="select-auto">
                                                <input type="text" class="form-control" id="{{parentIndex}}dcCharge"
										 input-focus="{{errorDc[parentIndex].dcCharge}}" ng-class="{'error-control-auto':errorDc[parentIndex].dcCharge}" 
										autocomplete="off"
										 ng-model="pricingPortPair.chargeMaster" 
										uib-typeahead="lovObject as lovObject.chargeName for lovObject in ajaxChargeEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedAjaxAdd('dcCurrency',2,parentIndex);setUnitByCharge(pricingPortPair)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="select-auto">
													<input type="text" class="form-control" id="{{parentIndex}}dcCurrency" 
													input-focus="{{errorDc[parentIndex].dcCurrency}}" ng-class="{'error-control-auto':errorDc[parentIndex].dcCurrency}" 
													autocomplete="off" ng-model="pricingPortPair.currencyMaster" 
													uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxCurrencyEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedAjaxAdd('dcUnit',3,parentIndex)" 
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
												</div>
                                        </td>
                                        <td>
                                            <div class="select-auto">
													<input type="text" class="form-control" id="{{parentIndex}}dcUnit" 
										input-focus="{{errorDc[parentIndex].dcUnit}}" class="form-control" ng-class="{'error-control-auto':errorDc[parentIndex].dcUnit}" 
										autocomplete="off" ng-model="pricingPortPair.unitMaster" 
										uib-typeahead="lovObject as lovObject.unitName for lovObject in ajaxUnitEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedAjaxAdd('dcAmount',4,parentIndex);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
												</div>
											</td>
									<!-- Revenue --> 	
									<!-- ng-if="pricingPortPair.screen=='revenue'" -->
                                        <td class="text-right" >
                                        <input type="text" class="text-right form-control"
                                         id="{{parentIndex}}dcAmount"
                                         efsdecimals="pricingPortPair.currencyMaster.decimalPoint" 
                                         efsdecimal-point="pricingPortPair.currencyMaster.countryMaster.locale"
                                        ng-model="pricingPortPair.stdSelInAmount" maxlength="17"  
                                        ng-change="selectedAjaxAdd('null',5)"
                                         ng-class="{'error-control-auto':errorDc[parentIndex].dcRA}"
                                       input-focus="{{errorDc[parentIndex].dcRA}}" 
                                       /></td>
                                       <!-- ng-if="pricingPortPair.screen=='revenue'" -->
                                        <td class=" text-right" >
                                     <input type="text"  
                                        id="{{parentIndex}}dcMinAmount"  class="form-control text-right"
                                         efsdecimals="pricingPortPair.currencyMaster.decimalPoint" 
                                         efsdecimal-point="pricingPortPair.currencyMaster.countryMaster.locale"
                                        ng-model="pricingPortPair.stdSelInMinimum" maxlength="17"  
                                        ng-change="selectedAjaxAdd('null',5)"
                                         ng-class="{'error-control-auto':errorDc[parentIndex].dcRMA}"
                                           input-focus="{{errorDc[parentIndex].dcRMA}}" 
                                         ng-change="selectedAjaxAdd(null,6);"/>
                                      </td>

                              <!-- Cost-->
                              <!--  ng-if="pricingPortPair.screen=='cost'" -->
                                   <td class="text-right">
                                        <input type="text" class="text-right form-control"
                                         id="{{parentIndex}}dcAmount"
                                         efsdecimals="pricingPortPair.currencyMaster.decimalPoint" 
                                         efsdecimal-point="pricingPortPair.currencyMaster.countryMaster.locale"
                                        ng-model="pricingPortPair.costInAmount" maxlength="17"  
                                        ng-change="selectedAjaxAdd('null',5)"
                                         ng-class="{'error-control-auto':errorDc[parentIndex].dcCA}"
                                       input-focus="{{errorDc[parentIndex].dcCA}}" 
                                       /></td>
                                       <!-- ng-if="pricingPortPair.screen=='cost'" -->
                                        <td class=" text-right" >
                                     <input type="text"  
                                        id="{{parentIndex}}dcMinAmount"  class="form-control text-right"
                                         efsdecimals="pricingPortPair.currencyMaster.decimalPoint" 
                                         efsdecimal-point="pricingPortPair.currencyMaster.countryMaster.locale"
                                        ng-model="pricingPortPair.costInMinimum" maxlength="17"  
                                        ng-change="selectedAjaxAdd('null',5)"
                                         ng-class="{'error-control-auto':errorDc[parentIndex].dcCMA}"
                                           input-focus="{{errorDc[parentIndex].dcCMA}}" 
                                         ng-change="selectedAjaxAdd(null,6)"
                                         />
                                      </td>
                                        <td>
                                            <div class="select-auto">
													<input type="text" class="form-control" id="{{parentIndex}}dcOrigin" ng-disabled="false" 
										input-focus="{{errorDc[parentIndex].dcOrigin}}" ng-class="{'error-control-auto':errorDc[parentIndex].dcOrigin}" 
										autocomplete="off"
										ng-model="pricingMaster.origin"
										uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortEvent($viewValue,'origin',pricingMaster,pricingPortPair)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
										typeahead-show-hint="true" 
										typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedAjaxAdd('dcTransit',7,parentIndex);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
												</div>
											</td>
                                            
                                        <td >
                                        <div class="select-auto">
 													<input type="text" class="form-control" id="{{parentIndex}}dcTransit" ng-disabled="false"
										input-focus="{{errorDc[parentIndex].dcTP}}" ng-class="{'error-control-auto':errorDc[parentIndex].dcTP}" 
										autocomplete="off" ng-model="pricingMaster.transit" 
										uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortEvent($viewValue,'transit',pricingMaster,pricingPortPair)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedAjaxAdd('dcDestination',8,parentIndex);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
										<span class="select-arrow"><b></b></span>
												</div>
                                        </td>
                                        <td >
                                            <div class="select-auto">
													<input type="text" class="form-control" id="{{parentIndex}}dcDestination"  ng-disabled="false"
										input-focus="{{errorDc[parentIndex].dcDestination}}" ng-class="{'error-control-auto':errorDc[parentIndex].dcDestination}" 
										autocomplete="off" ng-model="pricingMaster.destination" 
										uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortEvent($viewValue,'destination',pricingMaster,pricingPortPair)"
                                        typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
																				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedAjaxAdd('dcTos',9,parentIndex);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
												</div>
                                        </td>
                                        <td >
                                            <div class="select-auto">
													<input type="text" class="form-control" id="{{parentIndex}}dcTos"
										input-focus="{{errorDc[parentIndex].dcTosM}}" ng-class="{'error-control-auto':errorDc[parentIndex].dcTosM}"
										autocomplete="off" ng-model="pricingPortPair.tosMaster" 
										uib-typeahead="lovObject as lovObject.tosName for lovObject in ajaxTosEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedAjaxAdd('dcAC',10,parentIndex);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
												</div>
                                        </td>
                                       
											

											<td class="inl_xs">
                    <select class="form-control" 
                   id="{{parentIndex}}dcAC"
                   tabindex="0"
                   ng-change="selectedAjaxAdd('dcSA',100,$index)"
                     ng-options="item for item in enum['PPCC']"
                    ng-model="pricingPortPair.ppcc" ></select>
                </td>
                <td class="inl_xs">
                    <select class="form-control last-child"  ng-disabled="false"
                    tabindex="0"
                    id="{{parentIndex}}dcSA"
                    ng-change="selectedAjaxAdd('dcValidFrom',90)"
                    ng-model="pricingMaster.whoRouted"
                    ng-options="item for item in enum['WhoRouted']"
                    ></select>
                </td>
                <td>
                <ul class="list-inline">
													<li><a tabindex="" href="javascript:void(0);" ng-click="copyPP(parentIndex);"> <i
															class="icon-copy"></i>
													</a></li>
													<li><a tabindex=""	href="javascript:void(0);"  ng-show="pricingMasterList.length>1"
													ng-click="deletePP(parentIndex);"> 
													<i class="icon-delete"></i>
													</a></li>
													<li><!-- <a tabindex="" href="javascript:void(0);"
													ng-click="moreinfomodel(parentIndex,childIndex)"> <i
															class="fa fa-info"></i>
													</a> -->
													</li>
												</ul>
											</td>
                  
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        



                    </div><!--panel body ends-->
               </div>
            </form>
        </div><!--col ends-->
    </div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
