<div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12 pl0">
   <div>
      <ul class="list-inline mb-10">
         <li>
            <a href="javascript:void(0);" class="btn btn-xs btn-property btn-gray" ng-click="backToScreen()"><i class="icon-back-menu"></i>Back</a>
         </li>
         <li>
         <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addDC()"><i class="icon-add"></i> Add Default Charge</a>
         </li>
         <!--<li>-->
         <!--<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()"><i class="icon-add"></i> new Credit Note</a>-->
         <!--</li>-->
         <!-- <li class=" pull-right">
            <ul class="list-inline">
               <li>
                  <ul class="list-inline li-p0">
                     <li>{{selectedRecordIndex+1}}</li>
                     <li>of</li>
                     <li>{{totalRecord}}</li>
                  </ul>
               </li>
               <li class="pr0">
                  <ul class="list-inline next-prev">
                     <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                     <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                  </ul>
               </li>
            </ul>
         </li> -->
      </ul>
      <div class="panel panel-default detail-transition masOpertion page-style" >
         <div class="panel-heading">
            <section class="row" >
               <div class="col-xs-3">
                  <h4>Default Charge</h4>
               </div>
               <div class="col-xs-9 pull-right">
                  <ul class="list-inline text-right masopertion-action">
                     <!--<li><i class="icon-settings"></i></li>-->
                     <li class="nomargin nopadding">
                        <a
                           href="javascript:void(0)"
                           class="btn-icon"
                           ng-class="{'active-activityBtn':showHistory}"
                           ng-click="showHistory=!showHistory">
                        <i class="icon-logs" data-placement="bottom"
                           bs-tooltip="activity"></i>
                        </a>
                     </li>
                     <li class="nomargin nopadding"><a href="javascript:void(0)" ng-click="editDc(pricingPortPair)"
                        class="list-panel-edit-btn cursorPt"><i class="icon-edit" data-placement="bottom"
                        bs-tooltip="edit" ></i></a></li>
                     <!-- <li class="nomargin nopadding"><a
                        href="javascript:void(0)"
                        class="btn-icon"
                        ng-click="hasAccess('MASTER_CATEGORY_DELETE')?deleteDC(pricingPortPair):''" class="list-panel-edit-btn cursorPt"><i
                        class="icon-delete" data-placement="bottom"
                        bs-tooltip="delete"></i></a></li> -->
                  </ul>
               </div>
            </section>
         </div>
         <div class="panel-body nopadding detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
            <div class="detail-view" ng-click="showHistory=false">
               <div class="row metadata-detail bgwhite">
                  <div class="table-fixed table-responsive">
                     <table class="table table-inline nomargin">
                        <thead>
                        <tr>
                         <th rowspan="2" class=" inl_xxs">#</th>
                        	 <th rowspan="2" class=" inl_mpp">Service</th>
                              <th rowspan="2" class=" inl_mpp">Charge</th>
                              <th rowspan="2" class=" inl_sm">Currency</th>
                              <th rowspan="2" class=" inl_mp">Unit</th>
                              <th colspan="2" class="text-center inl_s">Revenue</th>
                              <th colspan="2" class="text-center inl_s">Cost</th>
                              <th rowspan="2" class=" inl_sm">Origin</th>
                              <th rowspan="2" class=" inl_mp">Transit</th>
                              <th rowspan="2" class=" inl_m">Destination</th>
                              <th rowspan="2" class=" inl_mp">TOS</th>
                              <th rowspan="2" class=" inl_mp">Prepaid / Collect</th>
                              <th rowspan="2" class=" inl_s">Self / Agent</th>
                           <!--    <th rowspan="2" class=" inl_s"></th> -->
                           </tr>
                           <tr>
                             
                               <th  class="text-right inl_mp">Amount per Unit</th>
                               <th  class="text-right inl_mp">Min Amount</th>
                             <th  class="text-right inl_mp">Amount per Unit</th>
                              <th  class="text-right inl_mp">Min Amount</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                            <td>1</td>
                           <td title="{{pricingPortPair.serviceMaster.serviceName}}">{{pricingPortPair.serviceMaster.serviceName}}</td>
                              <td title="{{pricingPortPair.chargeMaster.chargeName}}">{{pricingPortPair.chargeMaster.chargeName}}</td>
                                <td title="{{pricingPortPair.currencyMaster.currencyCode}}">{{pricingPortPair.currencyMaster.currencyCode}}</td>
                              <td title="{{pricingPortPair.unitMaster.unitName}}">{{pricingPortPair.unitMaster.unitName}}</td>
                               <td class="text-right" title="{{pricingPortPair.stdSelInMinimum}}">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInMinimum)}}</td>
                            <td class="text-right" title="{{pricingPortPair.stdSelInAmount}}">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.stdSelInAmount)}}</td>
                             <td class="text-right" title="{{pricingPortPair.costInMinimum}}">{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInMinimum)}}</td>
                              <td class="text-right" title="{{pricingPortPair.costInAmount}}" >{{currencyFormat(pricingPortPair.currencyMaster,pricingPortPair.costInAmount)}}</td>
                             <td title="{{pricingPortPair.pricingMaster.origin.portName}}">{{ifDataElseHifen(pricingPortPair.pricingMaster.origin.portName)}}</td>
                              <td title="{{pricingPortPair.pricingMaster.transit.portName}}">{{ifDataElseHifen(pricingPortPair.pricingMaster.transit.portName)}}</td>
                             <td title="{{pricingPortPair.pricingMaster.destination.portName}}">{{ifDataElseHifen(pricingPortPair.pricingMaster.destination.portName)}}</td>
                              <td title="{{pricingPortPair.tosMaster.tosName}}">{{ifDataElseHifen(pricingPortPair.tosMaster.tosName)}}</td>
                                <td title="{{pricingPortPair.ppcc}}">{{pricingPortPair.ppcc}}</td>
                                <td title="{{pricingPortPair.pricingMaster.whoRouted}}">{{ifDataElseHifen(pricingPortPair.pricingMaster.whoRouted)}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               
               
            </div>
            <div class="logs-view logs-transition " style="width: 500px" ng-show="showHistory">
               <div class="panel panel-default masOpertion">
                  <div class="panel-heading">
                     <div class="pull-left">
                        <div class="panelTitle">
                           <span>
                           <a  href="javascript:void(0)" ng-click="showHistory=false"
                              class="list-panel-back"><i data-placement="bottom"   bs-tooltip="close" class="icon-close-detail"></i></a>
                           </span>
                           <span>Activity</span>
                        </div>
                     </div>
                  </div>
                  <div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
                     <div class="card">
                        <ul class="list-inline card-cell">
                           <li>
                              <hm-init-icon customer-name="pricingPortPair.systemTrack.createUser">{{pricingPortPair.systemTrack.createUser.charAt(0)}}</hm-init-icon>
                           </li>
                           <li>
                              <ul class="list-unstyled mt-5">
                                 <li><b>{{pricingPortPair.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                 <li class="span text-muted">{{dateAndTimeToString(pricingPortPair.systemTrack.createDate)}}</li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                     <div class="card">
                        <ul class="list-inline card-cell">
                           <li>
                              <hm-init-icon customer-name="pricingPortPair.systemTrack.lastUpdatedUser">{{pricingPortPair.systemTrack.lastUpdatedUser.charAt(0)}}</hm-init-icon>
                           </li>
                           <li>
                              <ul class="list-unstyled mt-5">
                                 <li><b>{{pricingPortPair.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                 <li class="span text-muted">{{dateAndTimeToString(pricingPortPair.systemTrack.lastUpdatedDate)}}</li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <mainefs-spinner spinner-status="mainpreloder"></mainefs-spinner>
      </div>
   </div>
</div>
