



<style>

.displaynone{display:none}
.displayblock{display:block}

</style>


<header>


     <div class="leftbar">
         <ul class="flex">
             <li><a href="javascript:;" ng-click="openMenu()"><i><span class="icon-menu hamburger-icon iconbar"></span></i></a></li>
             <li>
                 <ul class="flex breadcrumbMenu hidden-xs">
                     <li  ng-repeat="breadcrumb in breadcrumbArr">
                     	<a ng-if="breadcrumb.state != null" ui-sref="{{breadcrumb.state}}">{{breadcrumb.label}}</a>
                     	<a ng-if="breadcrumb.state == null" href="javascript:;">{{breadcrumb.label}}</a>
                   	</li>
                 </ul>
             </li>
         </ul>
     </div>
    <div class="rightbar">
        <div class="flex flex-end align-middle">
    
<!--     <dl id="companybased-select" class="dropdown2">
	  <dt>
	  	<a href="javascript:void(0);">
	  		<span>
	  			<img  data-ng-src="data:image/png;base64,{{userProfile.selectedUserLocation.encodedLogo}}" class="height18"> 
	  			<span>{{userProfile.selectedCompany.companyName}}</span>
	  		</span>
	  	</a>
	  </dt>
	  <dd>
	    <ul style="display: none;" class="fscroll">
	      <li style="border-bottom: 1px dashed #9c9c9c;" ng-repeat="company in userProfile.profileCompanyList">
	      	<a href="javascript:void(0);" ng-click="populatCompanyChange()" >
	      		<img src="../../../../assets/images/faviconfsl.png" >
	      		<span>{{company.companyName}}</span>
	      	</a>
	      </li>
	    </ul>
	  </dd>
	</dl>   
	
	<dl id="country-select" class="dropdown">
	  <dt>
	  	<a href="javascript:void(0);">
	  		<span>
	  			<img  data-ng-src="data:image/png;base64,{{userProfile.selectedUserLocation.encodedLogo}}" class="height18">
	  			<span>{{userProfile.selectedUserLocation.locationName}}</span>
	  		</span>
	  	</a>
	  </dt>
	  <dd>
	    <ul style="display: none;" class="fscroll">
	      <li style="border-bottom: 1px dashed #9c9c9c;" ng-repeat="location in userProfile.profileCompanyLocationlist">
	      	<a href="javascript:void(0);" ng-click="changeProfileInterceptor(location)">
	      		<img src="../../../../assets/images/faviconfsl.png" > 
	      		<span>{{location.locationName}}</span>
	      	</a>
	      </li>
	    </ul>
	  </dd>
	</dl> -->
	
	
<!-- 	<div class="hidden-xs hidden-sm hidden-md visible-lg"> -->
<!--                 <ul class="flex flex-end align-middle"> -->
<!--                     <li> -->
<!--                          <div class="select-box"> -->
<!--                         	<select ng-model="userProfile.selectedCompany" tabIndex="0" -->
<!--                              		 ng-change="populatCompanyChange()" -->
<!--                                      ng-options="company as company.companyName for company in userProfile.profileCompanyList"> -->
<!--                             </select> -->
<!--                          </div> -->

<!--                      </li> -->
<!--                      <li class="plr15" > -->
<!--                          <div class="select-box"> -->
<!--                              <select ng-model="userProfile.selectedUserLocation" tabIndex="0" -->
<!--                                      ng-change="changeProfile()" -->
<!--                                      ng-options="location as location.locationName for location in userProfile.profileCompanyLocationlist"> -->
<!--                              </select> -->
<!--                          </div> -->
<!--                      </li> -->
<!--                 </ul> -->
<!--             </div>  -->
	
	
	
	

            
            <div class="iconBar bor-left-appbar ">
                <ul class="flex flex-end align-middle">
                
<!--                 	<li class="visible-xs visible-sm visible-md hidden-lg" id="showing"><a><i><span class="icon-location"></span></i></a></li> -->
					<li><a href="#"><i><span class="icon-search"></span></i></a></li>
                    <li><a href="#"><i><span class="icon-bell"></span></i></a></li>
                    <li><a href="#"><i><span class="icon-chat"></span><span class="badge"></span></i></a></li>
                </ul>
            </div>
            <div class="userInfo" 
            >
                <a class="block" href="javascript:;" data-toggle="dropdown" class="dropdown-toggle" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">
                    <div class="" style="position: relative; top: -2px;">
                        <div class="flex align-middle align-justify">
                            <div>
                                <div class="flex align-middle userinfo nomargin">
                                    <div class="mr-6">
                                        <!--<div class="userhexgoninfo block">-->
                                            <!--<span class="cardName">{{userProfile.employee.employeeName.charAt(0)}}</span>-->
                                        <!--</div>-->
                                        <hm-init-icon customer-name="userProfile.employee.employeeName"></hm-init-icon>
                                    </div>
                                    <div>
                                        <div class="user-profile-cls">
                                            <span class="block">Hello</span></h5>
                                            <span>{{userProfile.employee.employeeName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <b class="caret"></b>
                            </div>
                        </div>
                    </div>
                </a>
                <ul class="dropdown-menu lowres-dropdown"  role="menu">
	               <!--  <li><a href="javascript:void(0);" ng-click="loginmodel()">Change Profile</a></li> -->
	               

	               	<li><a data-placement="bottom"
								href="javascript:void(0)"
								ng-click="changeProfileModel('changeProfileCompany')"
								class="list-panel-edit-btn cursorPt">Change Profile</a></li>
                    <li><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
            <div class="TasksMenu" data-container="false" data-placement="auto left"   bs-tooltip="recent">
                <a href="javascript:void(0);" ng-click="recentDoc()"><i><span class="icon-recent-doc"></span></i></a>
            </div>
        </div>
    </div>
</header>























<!--header ends-->


<!--  <script>
$(document).ready(function() {
  
    $(".dropdown dt a").click(function() {
        $(".dropdown dd ul").toggle();
    	$(".dropdown dd ul").show();
    });

    $(".dropdown dd").click(function() {
        $(".dropdown dd ul").toggle();
    	$(".dropdown dd ul").hide();
    });
    
    $(document).bind('click', function(e) {
        var $clicked = $(e.target);
        if (! $clicked.parents().hasClass("dropdown"))
            $(".dropdown dd ul").hide();
    });
    
});</script> 
<script>

$(document).ready(function() {

    $(".dropdown2 dt a").click(function() {
        $(".dropdown2 dd ul").toggle();
    	$(".dropdown2 dd ul").show();
    });

    $(".dropdown2 dd").click(function() {
        $(".dropdown2 dd ul").toggle();
    	$(".dropdown2 dd ul").hide();
    });
    
    $(document).bind('click', function(e) {
        var $clicked = $(e.target);
        if (! $clicked.parents().hasClass("dropdown2"))
            $(".dropdown2 dd ul").hide();
    });

});
</script>
 -->
 <script>
$(document).ready(function(){
    $("#showing").click(function(){
        $("#closeid1").toggle();
    });
});
</script>
 
 <script>
// Get the modal
var close = document.getElementById('closeid1');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    
    if (!jQuery.contains(document, $("#wrapper")[0])) {
       return;
    }
    if (event.target == wrapper) {
        close.style.display = "none";
    }
}


$(document).ready(function(){
    $("#hide").click(function(){
        $("#closeid1").hide();
    });
    
});


</script>