<div class="table-responsive">
    <table class="table  table-inline-nopad">
        <thead>
        <tr>
            <th class="text-center inl_xxs">#</th>
            <th class="w50px">MAWB #</th>
            <th class="w50px">Schedule ID</th>
            <th class="w75px">Carrier</th>
            <th class="w75px">Requested Flight #</th>
            <th class="w100px">Airport of Loading</th>
            <th class="w100px">Airport of Discharge</th>
            <th class="w100px">ETD</th>
            <th class="w100px">ETA</th>
            <th class="w50px">Pieces</th>
            <th class="w50px">Volume (CBM)</th>
            <th class="w50px">Gross Weight (KG)</th>
            <th class="w50px">Volume Weight (KG)</th>
            <th class="w25px">Status</th>
		</tr>
        </thead>
        <tbody>
           <tr ng-repeat = "schedule in airlinePrebooking.scheduleList track by $index">
                <td class="text-center">{{$index + 1}}</td>
                <td>{{schedule.mawbNo}}</td>
                <td>{{schedule.flightPlan.scheduleId}}</td>
                <td>
                <img ng-if="schedule.flightPlan.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{schedule.flightPlan.carrierMaster.image}}" width="20" height="20"> 
                {{schedule.flightPlan.carrierMaster.carrierName}}</td>
                <td>{{schedule.flightPlan.flightNo}}</td>
                <td>{{schedule.flightPlan.pol.portCode}} - {{schedule.flightPlan.pol.portName}}</td>
                <td>{{schedule.flightPlan.pod.portCode}} - {{schedule.flightPlan.pod.portName}}</td>
                <td>{{dateToString(schedule.flightPlan.etd)}}</td>
                <td>{{dateToString(schedule.flightPlan.eta)}}</td>
                <td class="text-right">{{schedule.noOfPiece}}</td>
                <td class="text-right">{{weightFormat(schedule.volume,airlinePrebooking.countryMaster.locale)}}</td>
                <td class="text-right">{{weightFormat(schedule.grossWeight,airlinePrebooking.countryMaster.locale)}}</td>
                <td class="text-right">{{weightFormat(schedule.volWeight,airlinePrebooking.countryMaster.locale)}}</td>
               <td>{{schedule.status}}</td>
            </tr>
        </tbody>
    </table>
</div>