<div class="col-xs-12 detailview">
    <ul class="list-inline mb-10">
        <li>

        <a href="javascript:void(0);" class="btn btn-xs btn-property btn-gray" ng-click="back()"><i class="icon-back-menu"></i>Back</a>  </li>
        <!--<li>-->
        <!--<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()"><i class="icon-add"></i> new Credit Note</a>-->
        <!--</li>-->
        <li class=" pull-right">
             <!-- <ul class="list-inline" ng-show="true">
                    <li>
                        <ul class="list-inline li-p0">
                            <li>{{selectedRecordIndex+1}}</li>
                            <li>of</li>
                            <li>{{totalRecord}}</li>
                        </ul>
                    </li>
                    <li class="pr0">
                        <ul class="list-inline next-prev">
                            <li data-placement="auto bottom"   bs-tooltip="prev"><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                            <li data-placement="auto bottom"    bs-tooltip="next"><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                        </ul>
                    </li>
                </ul> -->
        </li>
    </ul><!--ADD BAR ENDS-->
    <div class="panel panel-default">
        <div class="panel-heading" >
            <div class="row">
                <div class="col-xs-5">
                    <h4> Import Shipment ID : {{importToExportDto.obj.shipmentUid}}</h4>
                </div>
                <div class="col-xs-7">
                    <ul class="list-inline pull-right masopertion-action mt-5">
                    <li><a  href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory" class="list-panel-edit-btn"><i data-placement="bottom"   bs-tooltip="activity" class="icon-logs"></i></a></li>

                    <!--<li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" ng-click="deleteMaster()" class="list-panel-edit-btn"><i class="icon-delete"></i></a></li>-->
                    </ul>
                </div>
            </div><!--Row ends-->
        </div><!--PANEL HEADING ENDS-->
        <div class="panel-body detail-body pt0" ng-click="showHistory=false" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
            <div class="row">
                <div class="col-xs-12 ptb-15">
                    <div class="row">
                        <div class="col-xs-2">
                            <span>Service</span>
                            <h6 >{{importToExportDto.obj.serviceMaster.serviceName}}</h6>
                        </div>
                        <div class="col-xs-2">
                            <span>Service ID</span>
                            <h6>{{importToExportDto.obj.serviceUid}}</h6>
                        </div>
                        <!--<div class="col-xs-3">
                            <span>Service ID</span>
                            <h6 class="text-blue">SER1000343</h6>
                        </div>-->
                        <div class="col-xs-2">
                            <span>Service Date</span>
                            <h6>{{dateAndTimeToString(importToExportDto.obj.serviceReqDate)}}</h6>
                        </div>
                        <div class="col-xs-2">
                            <span>Location</span>
                            <h6>{{importToExportDto.obj.location.locationName}}</h6>
                        </div>
                        <div class="col-xs-2">
                            <span class="block">Status</span>
                            <h6 class="label pr8 label-success label-btn in ng-binding">{{importToExportDto.exportService.lastUpdatedStatus.serviceStatus}}</h6>
                        </div>
                       <!-- <div class="plr15" ng-show="importToExportDto.obj.lastUpdatedStatus.serviceStatus!='Generated' && importToExportDto.obj.lastUpdatedStatus.serviceStatus!='Cancelled'">
                                                       <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="serviceToConsol(importToExportDto)">Attach To Master</button>
                       </div> -->
                    </div>
                </div>

            </div>

            <div class="row line nopadding bor-0">
                <hr>
            </div>

            <div class="row mtb-15">

                <div class="col-xs-8 nopadding">
                    <div class="col-xs-12 pl0">
                        <div class="panel panel-default">
                            <div class="panel-heading nopanel_pattern">
                                <h4>Import Shipment </h4>
                            </div>
                            <div class="panel-body nopadding nopanel_pattern">
                                <div class="col-xs-12 nopadding ">
                                    <div class="row nomargin ptb-15">
                                        <div class="col-xs-4">
                                            <span>Shipper</span>

                                            <h5 style="color:{{importToExportDto.obj.shipper.gradeMaster.colorCode}}">{{importToExportDto.obj.shipper.partyName}}</h5>
                                            <!--<ul class="list-inline nomargin">-->
                                            <!--<li></li>-->
                                            <!--</ul>-->

                                        </div>
                                        <div class="col-xs-4">
                                            <span>Consignee</span>

                                            <h5>{{importToExportDto.obj.consignee.partyName}}</h5>
                                            <!--<ul class="list-inline nomargin">-->
                                                <!--<li># 223, New Road Street,</li>-->
                                                <!--<li>3rd Cross Road, Adyar, Chennai - 42-->
                                                <!--</li>-->
                                            <!--</ul>-->

                                        </div>
                                        <div class="col-xs-4">
                                            <span>Agent</span>
                                            <address class="mb0 mt10">
                                                         <h5>{{importToExportDto.obj.documentList[0].agent.partyName}}</h5>
                                            </address>
                                            
                                        </div>
                                    </div>
                                    <div class="row nomargin">
                                        <hr class="nomargin">
                                    </div>


                                    <div class="row nomargin overflow-hidden">

                                            <div class="col-xs-6 bor-fix">
                                                <div class="ptb-15">
                                                    <span>Origin</span>
                                                    <h6>
                                                       {{importToExportDto.obj.origin.portName}}
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 bor-fix bor-l-1 ">
                                                <div class="ptb-15">
                                                    <span>Airport of Loading</span>
                                                    <h6>
                                                        {{importToExportDto.obj.pol.portName}}
                                                    </h6>
                                                </div>
                                            </div>



                                            <div class="col-xs-6 bor-fix">
                                                <div class="ptb-15">
                                                    <span>Airport of Discharge</span>
                                                    <h6>
                                                         {{importToExportDto.obj.pod.portName}}
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 bor-fix bor-l-1 ">
                                                <div class="ptb-15">
                                                    <span>Destination</span>
                                                    <h6>
                                                       {{importToExportDto.obj.destination.portName}}
                                                    </h6>
                                                </div>
                                            </div>

                                    </div>
                                    <div class="row nomargin">
                                        <hr class="nomargin">
                                    </div>
                                    <div class="row nomargin overflow-hidden">

                                        <div class="col-xs-6 bor-fix">
                                            <div class="ptb-15">
                                                <span>ETD</span>
                                                <h6>
                                                    {{dateAndTimeToString(importToExportDto.obj.etd)}}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 bor-fix bor-l-1 ">
                                            <div class="ptb-15">
                                                <span>ETA</span>
                                                <h6>
                                                    {{dateAndTimeToString(importToExportDto.obj.eta)}}
                                                </h6>
                                            </div>
                                        </div>





                                    </div>
                                    <div class="row nomargin">
                                        <hr class="nomargin">
                                    </div>
                                    <div class="row nomargin overflow-hidden">

                                        <div class="col-xs-6 bor-fix">
                                            <div class="ptb-15">
                                                <span>Carrier</span>
                                                <h6>
                                                    <img ng-show="importToExportDto.obj.carrier.image!=null"  data-ng-src="data:image/png;base64,{{importToExportDto.obj.carrier.image}}" style="padding-right:3px;" width="23" height="20"> {{importToExportDto.obj.carrier.carrierName }}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 bor-fix bor-l-1 ">
                                            <div class="ptb-15">
                                                <span>Freight</span>
                                                <h6>
                                                    {{importToExportDto.obj.ppcc?'Collect':'Prepaid'}}
                                                </h6>
                                            </div>
                                        </div>





                                    </div>
                                    <div class="row nomargin">
                                        <hr class="nomargin">
                                    </div>

                                    <div class="row nomargin overflow-hidden">
                                        <div class="col-xs-4 bor-fix">
                                            <div class="ptb-15">
                                                <span>Routed</span>
                                                <h6>
                                                    {{importToExportDto.obj.whoRouted?'Agent':'Self'}}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 bor-fix  ">
                                            <div class="ptb-15 ">

                                                <span class="block pt5">Routed By
</span>
                                                <div class="flex align-middle userIcon">
                                                    <div>
                                                        <hm-init-icon customer-name="importToExportDto.obj.whoRouted=='Self'?importToExportDto.obj.salesman.employeeName.substring(0,1):importToExportDto.obj.agent.partyName.substring(0,1)"></hm-init-icon>

                                                    </div>
                                                    <div class="ml-5 mt-7"><span>{{!importToExportDto.obj.whoRouted?importToExportDto.obj.salesman.employeeName:importToExportDto.obj.agent.partyName}}
</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 bor-fix">
                                            <div class="ptb-15">

                                                <span class="block pt5">Booking Person</span>
                                                <div class="flex align-middle userIcon">
                                                    <div>
                                                        <hm-init-icon customer-name="userProfile.employee.employeeName.substring(0,1)"></hm-init-icon>
                                                    </div>
                                                    <div class="ml-5 mt-7"><span>{{userProfile.employee.employeeName}}</span></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-4 nopadding">
                <div class="col-xs-12 nopadding " ng-show="generateImport">
                    <div class="col-xs-12 plr0 " >
                        <div class="panel panel-default">
                            <div class="panel-heading nopanel_pattern">
                                <h4>

                                    Export Shipment #  <span class="text-blue hyperLink">2313123132</span></h4>
                            </div>
                            <div class="panel-body nopadding nopanel_pattern">
                                <div class="col-xs-12 nopadding  " >
                                    <div class="row nomargin ptb-15">
                                        <div class="col-xs-6">
                                            <span>Service</span>
                                            <h6>Air Export</h6>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="block">Status</span>
                                            <h6 class="label pr8 label-success label-btn in ng-binding">Generated</h6>
                                        </div>
                                    </div>
                                    <div class="row nomargin">
                                        <hr class="nomargin">
                                    </div>
                                    <div class="row nomargin ptb-15 ">
                                        <div class="col-xs-6">
                                            <span>Export Location</span>
                                            <h6>Chennai</h6>
                                        </div>
                                        <div class="col-xs-6">
                                            <span>Booked Date</span>
                                            <h6>12 Aug 2016</h6>
                                        </div>
                                    </div>
                                    <div class="row nomargin">
                                        <hr class="nomargin">
                                    </div>
                                    <div class="row nomargin ptb-15">
                                        <div class="col-xs-12">
                                            <span>Agent</span>
                                            <address class="mb0 mt10">

                                                    <h5>Vanguard Lgts Pvt Ltd</h5>
                                                <ul class="list-unstyled">
                                                    <li># 223, New Road Street,</li>
                                                    <li>3rd Cross Road, Adyar, Chennai - 42
                                                    </li>

                                                </ul>
                                            </address>
                                        </div>
                                    </div>
                                    <div class="row nomargin">
                                        <hr class="nomargin">
                                    </div>
                                    <div class="row nomargin ptb-15">
                                        <div class="col-xs-12">
                                            <span>Notes</span>
                                            <h6>-</h6>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 nopadding" >

                    <div class="col-xs-12 plr0 " >
                        <div class="panel panel-default" >
                            <div class="panel-heading nopanel_pattern">
                                <h4 class="pull-left">
                                    Export Booking : <a href="javascript:void(0)" ng-click="goToShipment(importToExportDto.exportService.shipmentUid)"> {{importToExportDto.exportService.serviceUid}} </a></h4>
                                
                            </div>
                            <div class="panel-body nopadding nopanel_pattern">

                                <form role="form">
                                <div class="col-xs-12 nopadding ">
                                    <div class="row nomargin ptb-15">
                                        <div class="col-xs-6">
                                            <label>Service <span>*</span></label>
                                            <div class="select-auto ">
                                                <input type="text" class="form-control" id="serviceMaster" 
                                                      	ng-disabled="importToExportDto.obj.exportRef != null" 
														input-focus="true" 
														autocomplete="off" ng-model="importToExportDto.exportService.serviceMaster" 
														uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedService(importToExportDto.exportService.serviceMaster,'freightTerm')" 
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
                                                      
                                            </div>
                                            <span class="error-message" style="color: red;"
                                              ng-show="errorMap.get('serviceMaster')!=null"><small>
                                              {{errorMap.get('serviceMaster')}} </small></span>
                                            <!-- <span class="error-message" style="color: red;"
                                              ng-show="errorMap.get('serviceMaster'+$index)!=null"><small>
                                              {{errorMap.get('serviceMaster'+$index)}} </small></span> -->
                                        </div>
                                        <div class="col-xs-6" >
                                            <span class="block">Status</span>
                                           <!--  <h6 class="label pr8 label-btn in ng-binding">{{importToExportDto.exportService.lastUpdatedStatus.serviceStatus}}</h6> -->
                                            <h6> {{importToExportDto.exportService.lastUpdatedStatus.serviceStatus}}</h6>
                                        </div>
                                    </div>
                                    <div class="row nomargin">
                                        <hr class="nomargin">
                                    </div>
                                    <!--<div class="row nomargin ptb-15 ">-->
                                        <!--<div class="col-xs-6">-->
                                            <!--<span>Export Location</span>-->
                                            <!--<h6>Chennai</h6>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-6">-->
                                            <!--<span>Booked Date</span>-->
                                            <!--<h6>12 Aug 2016</h6>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row nomargin">-->
                                        <!--<hr class="nomargin">-->
                                    <!--</div>-->
                                    <div class="row nomargin ptb-15">
                                        <div class="col-xs-12">
                                            <div class="row ptb-15">
                                                <div class="col-xs-11 ">
                                                    <label>Agent <span>*</span></label>
                                                    <div class="select-auto">
                                                        <!-- <input type="text"
                                                               auto-complete
                                                               selected-value="partyName"
                                                               ng-model="agent"
                                                               render-item="partyRender"
                                                               call-fun=""
                                                               on-select=""
                                                               
                                                               class="form-control"
                                                                /> -->
                                                                <!-- <input type="text" 
																   auto-complete
																   class="form-control"
																   selected-value="paAgent *rtyName"
																   ng-model="shipmentServiceDetail.agent"
																   render-item="partyRender"
																   call-fun="ajaxAgentEvent(param)"
																   on-select="selectedAgent('serviceSp'+selectedTabIndex);"/> -->
																   
															  <input type="text" class="form-control" id ="partyMaster" 
                                                               ng-disabled="true" 
                                                               typeahead-add-new ="routePartyEvent('importToExportDto.exportService.agent',true,null)" 
																autocomplete="off" ng-model="importToExportDto.exportService.documentList[0].agent" 
																uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxCustomerEvent($viewValue)"
																typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																typeahead-on-select="selectedCustomer(importToExportDto.exportService.agent);setSalesman();" 
																typeahead-focus-on-select="false"
																typeahead-focus-first="true" typeahead-editable="false"
																typeahead-min-length="1" typeahead-wait-ms="500">
															<span class="select-arrow"><b></b></span>
                                                    </div>

                                                
                                                </div><!--COL ENDS-->
                                                <div class="col-xs-1 plr0 mt-25">
                                                    <!--<label class="visible-hide">Empty</label>-->
                                                    <!-- <a href="javascript:void(0)" title="Edit Agent" class="selectPicker-sm">
                                                        <i class="icon-edit"></i>
                                                    </a> -->
                                                    <a  data-container="false"  ng-show="false" data-placement="auto right"    bs-tooltip="editParty" ng-hide="importToExportDto.obj.exportRef != null"  href="javascript:void(0)" class="selectPicker-sm form-control"  ng-click="routePartyEvent('importToExportDto.exportService.agent',false,importToExportDto.exportService.agent)" >
                                                        <i ng-disabled="importToExportDto.obj.exportRef != null" class="fa icon-edit"></i>
                                                    </a>
                                                    
                                                     <div class="col-xs-1 mt-25 plr0" ng-init="showPartyAddressModel=false">
                                                    <!--<label class="visible-hide disp-inherit mb-10">demo</label>-->
                                                    <!--  <a  data-container="false"   data-placement="auto right"     bs-tooltip="address"  href="javascript:void(0)" ng-class="{'activeLocation':showPartyAddressModel==true}" class="selectPicker-sm fit_picker"  ng-click="showPartyAddressModel=!showPartyAddressModel">
                                                        <i class="icon-location"></i>
                                                    </a> -->
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="form-group mt-5 mb0" >
                                                        <div class="row">
                                                            <div class="col-xs-11">
                                                          
                                             				 <input  class="form-control"
                                             				 ng-disabled="true"
                                             				 id="addressLine1"  
                                                            type="text" 
                                                            
                                                            ng-model="importToExportDto.exportService.documentList[0].agentAddress.addressLine1" maxlength="100" 
                                                            >
                                                            
                                                            </div>
                                                           </div>
                                                    </div>
                                                    <div class="form-group mt-5 mb0">
                                                        <div class="row">
                                                            <div class="col-xs-11">
                                                                <!-- <input tabindex="8" class="form-control" type="text" ng-change="validateImportExport(5)"
                                                                       ng-model="consol.agentAddress.addressLine2" maxlength="100" >
                                         <span class="error-message"
                                               ng-show="errorMap.get('consol.agentAddress.addressLine2')!=null">
                                             				 <small>{{errorMap.get('consol.agentAddress.addressLine2')}}</small></span> -->
                                             				  <input  class="form-control" ng-disabled="true" id="addressLine2"  type="text" ng-model="importToExportDto.exportService.documentList[0].agentAddress.addressLine2" maxlength="100" >
                                                            
                                                             </div>
                                                        </div><!--row ends-->
                                                    </div>
                                                    <div class="form-group mt-5 mb0">
                                                        <div class="row">
                                                            <div class="col-xs-11">
                                                                <!-- <input tabindex="9" class="form-control" type="text" ng-change="validateImportExport(6)"
                                                                       ng-model="consol.agentAddress.addressLine3" maxlength="100" >
                                        <span class="error-message"
                                              ng-show="errorMap.get('consol.agentAddress.addressLine3')!=null">
                                             				 <small>{{errorMap.get('consol.agentAddress.addressLine3')}}</small></span> -->
                                             				 <input  class="form-control" ng-disabled="true" id="addressLine3"    type="text" ng-model="importToExportDto.exportService.documentList[0].agentAddress.addressLine3" maxlength="100"  >
                                                            
                                                        </div><!--row ends-->
                                                    </div>
                                                    <div class="form-group mt-5 mb0">
                                                        <div class="row">
                                                            <div class="col-xs-11">
                                                                <!-- <input tabindex="10" class="form-control" type="text" ng-change="validateImportExport(7)"
                                                                       ng-model="consol.agentAddress.addressLine4" maxlength="100" >
                                        <span class="error-message"
                                              ng-show="errorMap.get('consol.agentAddress.addressLine4')!=null">
                                             				 <small>{{errorMap.get('consol.agentAddress.addressLine4')}}</small></span> -->
                                             				  <input  class="form-control" ng-disabled="true" id="addressLine4" type="text"    ng-model="importToExportDto.exportService.documentList[0].agentAddress.addressLine4" maxlength="100" >
                                                            
                                                            </div>
                                                        </div><!--row ends-->
                                                    </div>
                                                </div><!--COL ENDS-->

                                            </div><!--ROW ENDS-->
                                            
                                        		<div class="col-xs-12">
                                            <div class="form-group mt-5 mb0">
                                                        <div class="row">
                                                            <div class="col-xs-11">
                                                            <span>eMail</span>
                                        			<input ng-disabled="true" id="email" maxlength="100"   type="text" ng-model="importToExportDto.exportService.documentList[0].agentAddress.email" class="form-control"/>
                                        		
                                                            
                                                            </div>
                                                        </div><!--row ends-->
                                                    </div>
                                                    </div>
                                        	<!-- <div class="row ptb-15">
                                        		<div class="col-xs-11">
                                        			<span>eMail</span>
                                        			<input ng-disabled="true" id="email" maxlength="100"   type="text" ng-model="importToExportDto.exportService.documentList[0].agentAddress.email" class="form-control"/>
                                        		</div>
                                        	</div> -->
                                        </div>
                                    </div>
                                    <div class="row nomargin">
                                        <hr class="nomargin">
                                    </div>
                                    <!-- <div class="row nomargin ptb-15">
                                        <div class="col-xs-12">
                                            <span>Notes</span>
                                            <textarea
                                                    msd-elastic
                                                    class="form-control"
                                                    ng-disabled="importToExportDto.obj.exportRef != null"
                                                    id="description" name="description"
                                                    ng-model="importToExportDto.exportService.notes"
                                                    ng-class="{'error-control':errorMap.get('description')!=null}"
                                                    maxlength="255"
                                                    >
                                        </textarea>
                                        </div>
                                    </div> -->

                                </div>

                                </form>



                            </div>
                        </div>
                    </div>

                </div>
                </div>

            </div>


            <!--ACTIVE LOG DETAILS STARTS-->
            <div class="logs-view width42per logs-transition bg-white" ng-show="showHistory">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div>
                                            <a href="javascript:;">
                                                <span class="icon-close-detail" ng-click="showHistory=false"></span><a data-placement="bottom"   bs-tooltip="close" href="javascript:void(0)"
                                                                                                                       class="list-panel-back"></a>
                                                <span>Activity</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 pt15">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class=" ">
                                            <div class="col-xs-6">
                                                <span class="text-muted">Last Modified this Service</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="importToExportDto.obj.systemTrack.lastUpdatedUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{importToExportDto.obj.systemTrack.lastUpdatedUser|uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(importToExportDto.obj.systemTrack.lastUpdatedDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="text-muted">Created this Service</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="importToExportDto.obj.systemTrack.createUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{importToExportDto.obj.systemTrack.createUser | uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(importToExportDto.obj.systemTrack.createDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       

                        <!--
                           <div class="row">
                            <div class="col-xs-12">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div><h5>Dimensions</h5></div>
                                        <div>
                                            <span class="fa fa-chevron-right"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 ptb-15" >
                                    <table class="table tab-border tab-width table-default tab-col-bg">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>No. of Pieces</th>
                                            <th class="text-right">Length</th>
                                            <th class="text-right">Width</th>
                                            <th class="text-right">Height</th>
                                            <th class="text-right">Volume Weight</th>
                                            <th class="text-right">Gross Weight</th>
                                            <th>Created On</th>
                                            <th>Created By</th>
                                            <th>Modified On</th>
                                            <th>Modified By</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{$index+1}}</td>
                                            <td>10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">1.700</td>
                                            <td class="text-right">160.000</td>
                                            <td>Jan 22, 2012  <span>22:20</span></td>
                                            <td>Smith</td>
                                            <td>Feb 12, 2012 <span>21:20</span></td>
                                            <td>Smith</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                           <div class="row">
                            <div class="title">
                                <div class="flex align-justify align-middle">
                                    <div><h5>General Notes</h5></div>
                                    <div>
                                        <span class="fa fa-chevron-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <table class="table tab-border table-default">
                                    <thead>
                                    <tr>
                                        <th width="50">#</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Created By</th>
                                        <th>Modified On</th>
                                        <th>Modified By</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                        <td>Jan 22, 2012  <span>22:20</span></td>
                                        <td>Smith</td>
                                        <td>Feb 12, 2012 <span>21:20</span></td>
                                        <td>Smith</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>&lt;!&ndash;general notes ends&ndash;&gt;
                        <div class="row">
                            <div class="title">
                                <div class="flex align-justify align-middle">
                                    <div><h5>Air Notes</h5></div>
                                    <div>
                                        <span class="fa fa-chevron-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <table class="table tab-border table-default">
                                    <thead>
                                    <tr>
                                        <th width="50">#</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Created By</th>
                                        <th>Modified On</th>
                                        <th>Modified By</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                        <td>Jan 22, 2012  <span>22:20</span></td>
                                        <td>Smith</td>
                                        <td>Feb 12, 2012 <span>21:20</span></td>
                                        <td>Smith</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>&lt;!&ndash;Air notes ends&ndash;&gt;
                        <div class="row">
                            <div class="title">
                                <div class="flex align-justify align-middle">
                                    <div><h5>Charge History</h5></div>
                                    <div>
                                        <span class="fa fa-chevron-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="text-muted">Last Modified</span>
                                        <div class="card">
                                            <ul class="list-inline card-cell">
                                                <li>
                                                    <div class="cardhexagon">
                                                        <span class="cardName">L</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <ul class="list-unstyled">
                                                        <li>Linda</li>
                                                        <li class="span text-muted">Dec 20, 2010  10:15</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <span class="text-muted">Created</span>
                                        <div class="card">
                                            <ul class="list-inline card-cell">
                                                <li>
                                                    <div class="cardhexagon">
                                                        <span class="cardName">S</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <ul class="list-unstyled">
                                                        <li>Smith</li>
                                                        <li class="span text-muted">Jan 1, 2008  22:00</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="in pr8 text-muted">Charge</label>
                                        <select>
                                            <option>FRT(FREIGHT CHARGE)</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="flex align-middle align-justify">
                                            <div><label class="in pr8 text-muted">Action</label></div>
                                            <div>
                                                <div class="btn-group btn-group-justified"  bs-radio-group>

                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        Inserted
                                                    </label>
                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        Updated
                                                    </label>
                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        Deleted
                                                    </label>
                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        All
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="flex align-middle flex-end">
                                            <div><label class="in pr8 text-muted">User</label></div>
                                            <div>
                                                <select>
                                                    <option>Smith</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <table class="table tab-border table-default ">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">#</th>
                                        <th rowspan="2">Charge</th>
                                        <th rowspan="2">Currency</th>
                                        <th rowspan="2">Unit</th>
                                        <th colspan="2" class="text-center"><b>No of Units</b></th>
                                        <th colspan="2" class="text-center"><b>Sell Rate</b></th>
                                        <th colspan="2" class="text-center"><b>Buy Rate</b></th>
                                        <th rowspan="2">Actual / Chargeable Weight	</th>
                                        <th rowspan="2">Notes</th>
                                        <th rowspan="2">Action</th>
                                        <th rowspan="2">User</th>
                                        <th rowspan="2">Date & TIme</th>
                                    </tr>
                                    <tr>
                                        <th colspan="1" class="text-right">Min</th>
                                        <th colspan="1" class="text-right">Max</th>
                                        <th colspan="1" class="text-right">Amount per unit	</th>
                                        <th colspan="1" class="text-right">Min amount</th>
                                        <th colspan="1" class="text-right">Cost per unit</th>
                                        <th colspan="1" class="text-right">Min cost</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>FRT (FREIGHT CHARGE)</td>
                                        <td>INR</td>
                                        <td>KG</td>
                                        <td class="text-right">10.00</td>
                                        <td class="text-right">20.00</td>
                                        <td class="text-right">12.00</td>
                                        <td class="text-right">100.00</td>
                                        <td class="text-right">12.00</td>
                                        <td class="text-right">90.00</td>
                                        <td>Chargable Weight</td>
                                        <td class="text-center">
                                            <a href="javascript:;" data-placement="top-right" data-content=" {{charge.note}}" data-trigger="focus" bs-popover><i class="fa fa-file-o" aria-hidden="false"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="label label-primary">Updated</span>
                                        </td>
                                        <td>
                                            Smith
                                        </td>
                                        <td>
                                            Jan 22, 2012 <span> 22:20</span>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>&lt;!&ndash;Charge history ends&ndash;&gt;-->
                    </div>
                </div>
            </div>
        <form-spinner spinner-status="spinner"></form-spinner>
        </div><!--PANEL BODY ENDS-->
        
        <div ng-hide="!showPartyAddressCustomerList" class="wrapper-back-drop"></div>

                <div ng-show="showPartyAddressCustomerList" class="logs-transition sideView">
                    <select-list-picker panel-title="panelTitle" selected="selectedItem" data="agent.partyAddressList"
                                        cancel-event="cancelPartyAddressCustomer()" click-event="selectedPartyAddressCustomer(param)"
                                        config="partyAddresslistCustomerConfig"></select-list-picker>
                </div>
        
    </div><!--PANEL ENDS-->
</div>