<div class="container-fluid resPortAddPage resLandAddPage">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 ">
			<form role="form" id="chargemasterform" name="chargemasterform"
				ng-submit="chargeMaster.id!=null?update():save()">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{chargeMaster.id!=null?'Edit':'Add'}} Charge</h4>
						</div>
						<div>
							<div class="btngrp">
								<button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>
							    <input type="submit" class="btn accent-btn"	value="{{chargeMaster.id!=null?'Update':'Save'}}">
							</div>
						</div>
					</div>
					<div class="panel-body pt0 half-master-edit" id="charge-panel"
						panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="pad-15">
							<div show-response></div>
							<client-error message="clientMessage"></client-error>
							<div success-response></div>
							<div class="pt5">
								<span class="reqColor">*</span> <small class="opc-5 f-12b4">Indicates
									Mandatory Fields</small>
							</div>
						</div>
						<div class="row ">
							<div
								class="col-xs-12 col-sm-7 col-md-7 col-lg-7 form-group nomargin pl0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input
									input-focus="{{firstFocus || errorMap.get('chargeName')!=null}}"
									type="text" class="form-control" id="chargeName"
									maxlength="100" name="chargeName"
									ng-change="validateChargeMaster(1)"
									ng-model="chargeMaster.chargeName"
									ng-class="{'error-control':errorMap.get('chargeName')!=null}"
									maxlength="100">
								<div>
									<span class="error-message"
										ng-show="errorMap.get('chargeName')!=null"> <small>{{errorMap.get('chargeName')}}</small>
									</span>
								</div>
							</div>
						</div>
						<div class="row ">
							<div
								class="col-xs-12 col-sm-7 col-md-7 col-lg-7 nomargin nopadding">
								<div class="col-xs-7 col-sm-7 col-md-7 form-group nomargin pl0">
									<label class="custom-label"> Code<span class="reqColor">*</span></label>
									<input input-focus="{{errorMap.get('chargeCode')!=null}}"
										type="text" id="chargeCode" name="chargeCode"
										class="form-control " ng-change="validateChargeMaster(2)"
										ng-class="{'error-control':errorMap.get('chargeCode')!=null}"
										ng-model="chargeMaster.chargeCode" maxlength="10"
										maxlength="10" capitalize ng-disabled="chargeMaster.id!=null">

									<div>
										<span class="error-message"
											ng-show="errorMap.get('chargeCode')!=null"><small>{{errorMap.get('chargeCode')}}</small></span>
									</div>
								</div>
								<div class="col-xs-5 col-sm-5 col-md-5 form-group nomargin pro"
									ng-show="chargeMaster.id!=null">
									<label class="w-100 custom-label">Status</label> <select
										class="form-control status" id="status"
										ng-class="setStatus(chargeMaster.status)"
										ng-options="item for item in enum['LovStatus']"
										ng-model="chargeMaster.status">
									</select>
								</div>
							</div>
						</div>
						<div class="row ">
							<div
								class="col-xs-12 col-sm-7 col-md-7 col-lg-7 form-group nomargin pl0">
								<label class="w-100 custom-label">Charge Type<span
									class="reqColor">*</span></label>
								<button-group states="enum['ChargeType']"
									state="chargeMaster.chargeType"
									on-state-change="validateChargeMaster(3)"> </button-group>
								<div>
									<span class="error-message"
										ng-show="errorMap.get('chargeType')!=null"><small>{{errorMap.get('chargeType')}}</small></span>
								</div>
							</div>
						</div>
						<!--btn group ends-->
						<div class="row ">
							<div
								class="col-xs-12 col-sm-7 col-md-7 col-lg-7 form-group nomargin pl0">
								<label class="w-100 custom-label">Calculation Type<span
									class="reqColor">*</span></label>
								<button-group states="enum['ChargeCalculationType']"
									state="chargeMaster.calculationType"
									on-state-change="validateChargeMaster(4)"> </button-group>
								<div>
									<span class="error-message"
										ng-show="errorMap.get('calculationType')!=null"><small>{{errorMap.get('calculationType')}}</small></span>

								</div>
							</div>
						</div>



						<div
							class="sub-header plr14px fx-fade-left fx-duration-200 fx-speed-200"
							ng-show="showEdi==null"
							>
							<label class="custom-label">EDI Mapping</label>
						</div>
						<div class="row noborder nopadding">
							<div class="col-xs-12 mt-15"
								>
								<edi-map-table table-data="chargeMaster.ediList"
									fn-role="hasAccess(param)"
									table-check="chargeOperation.ediIsValid"
									add-role="userProfile.featureMap['CHARGE_EDI_TAB_ADD']"
									edit-role="userProfile.featureMap['CHARGE_EDI_TAB_EDIT']"
									delete-role="userProfile.featureMap['CHARGE_EDI_TAB_DELETE']">
								</edi-map-table>
							</div>
						</div>
					</div>
					<!--panel body ends-->
				</div>
				<!--panel ends-->
			</form>
		</div>
		<!--col ends-->
	</div>

</div>


