<div class="container-fluid resPortListPage">
	<div class="row ml0 mr0" >
		<div ng-show="deskTopView"  class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12" ng-click="showHistory=false">
			<div class="panel panel-default">
				<div class="panel-heading flexTitle">
					<div class="row">
						<div class="col-md-9 col-xs-12">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()">
									<i class="icon-add"></i> Add Charge
								</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
						<div show-response></div>
				<div success-message></div>
				<div class="panel-body no-tab-table p00" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 	data="chargeArr"
										head="chargeHeadArr"
										sort="sortSelection"
										click-event="rowSelect(param)"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page" size="limit" >
						</super-table>
					</div>

				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit"
										ng-change="limitChange(limit)" ng-options="v for v in limitArr">

								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12   m-pl0 " >
			<div class="panel panel-default detail-transition" ng-show="chargeMaster.id!=null" >
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom"   bs-tooltip="back"  href="javascript:void(0)" ng-click="cancel()"
								   class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<span>Charge</span>
						</div>
					</div>
					<div>
						<ul class="list-inline">
							<!--<li><i class="icon-settings"></i></li>-->
							<li><a  href="javascript:void(0)"
									ng-class="{'active-activityBtn':showHistory}"
									ng-click="showHistory=!showHistory"
									><i class="icon-logs" data-placement="bottom"   bs-tooltip="activity"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="editIcon"  href="javascript:void(0)" ng-click="edit()"
								   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)"
								   ng-click="deleteMaster()" class="list-panel-edit-btn cursorPt"><i
									class="icon-delete"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
					<div class="detail-view">
						
							<div class="row metadata-detail ">
								<span >Name</span>
								<h5 >{{chargeMaster.chargeName}}</h5>
							</div>
						
						<div class="row ">
							<ul class="list-inline ">
								<li class="col-xs-6">
									<span >Code</span>
									<h5 >{{chargeMaster.chargeCode}}</h5>
								</li>
								<li class="col-xs-6">
									<span >Status</span>
									<show-status status="{{chargeMaster.status}}"></show-status>
								</li>
							</ul>
						</div>
						<div class="row ">
							<ul class="list-inline ">
								<li class="col-xs-6">
									<span >Charge Type</span>
									<h5 >{{chargeMaster.chargeType}}</h5>
								</li>
								<li class="col-xs-6">
									<span >Calculation Type</span>
									<h5 >{{chargeMaster.calculationType}}</h5>
								</li>
							</ul>
						</div>
						<!-- ng-if="userProfile.featureMap['CHARGE_EDI_TAB_VIEW']" -->
						<div class="row nopadding bor-0" >
							<h5 class="pad-15 sub-title">EDI Mapping</h5>
							<div class="col-md-12 pt15 pb10">
								<div class="table-responsive" ng-show="chargeMaster.ediList.length>0">
									<table  class="table table-inline nomargin" >
										<thead class="borderthead">
										<tr>
											<th class="inl_sno">#</th>
											<th class="inl_sm">EDI Type</th>
											<th class="inl_sm">EDI Sub Type</th>
											<th class="text-left inl_sm">EDI Value</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="edi in chargeMaster.ediList">
											<td>{{$index + 1}}</td>
											<td>{{edi.ediType}}</td>
											<td>{{edi.ediSubtype}}</td>
											<td class="text-left">{{edi.ediValue}}</td>
										</tr>
										</tbody>
									</table>
								</div>
								<empty-record ng-show="!chargeMaster.ediList || chargeMaster.ediList.length==0" icon="edi" text="Looks like there are no edi records here"></empty-record>
							</div>
						</div>
					</div>
					<div class="logs-view logs-transition" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="showHistory=false"
											   class="list-panel-back">
												<i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close" ></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
								
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="chargeMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{chargeMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(chargeMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="chargeMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{chargeMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(chargeMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
