<div class="container-fluid resPortAddPage resLandAddPage">
	<div class="row ml0 mr0" >

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-9 nopadding flexview" >
			<div class="flex align-justify align-middle">
				<div>
					<div class="btngrp">
						<button class="btn btn-xs btn-property btn-gray" ng-click="vm.backToList()"><i class="icon-back-menu"></i> Back </button>
						<button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="vm.addNew()"><i class="icon-add"></i> Add Country</button>
					</div>
				</div>
				<!-- <div>
					<ul class="list-inline" ng-hide="false">
						<li>
							<ul class="list-inline li-p0">
								<li>{{vm.selectedRecordIndex+1}}</li>
								<li>of</li>
								<li>{{vm.totalRecord}}</li>
							</ul>
						</li>
						<li class="pr0">
							<ul class="list-inline next-prev">
								<li><i class="icon-r-arrow" aria-hidden="true" ng-click="vm.singlePageNavigation(-1)"></i></li>
								<li><i class="icon-r-arrow" aria-hidden="true" ng-click="vm.singlePageNavigation(1)"></i></li>
							</ul>
						</li>
					</ul>
				</div> -->
			</div>
		</div>
		<div show-response></div>
		<div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12 pl0">
			<div class="panel panel-default detail-transition" >
				<div class="panel-heading flexTitle">
					<div>
						<ul class="list-inline"> 
							<li>
								<h4>View Country</h4>
							</li>
						</ul>
					</div>
					<div>
						<ul class="list-inline text-right">
							<li>
								<a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory">
									<i class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" ng-click="vm.edit(vm.countryMaster.id)"  data-placement="bottom" bs-tooltip="editIcon" tooltip-side="bottom" class="list-panel-edit-btn cursorPt">
									<i class="icon-edit"></i>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" ng-click="vm.delete(vm.countryMaster.id)" class="list-panel-edit-btn cursorPt">
									<i class="icon-delete" data-placement="bottom" bs-tooltip="delete"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
					<div class="detail-view">
						
						<div class="row metadata-detail ">
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 plr0">
						
						<div class="col-md-3 col-lg-3 col-xs-4 col-sm-4 pl0">
							<span >Name</span>
							<h5 class="heading">{{vm.countryMaster.countryName}}</h5>
							</div>
							
							<div class="col-md-3 col-lg-3 col-xs-4 col-sm-4 pl0">
							<span>Code</span>
							<h5 class="heading">{{vm.countryMaster.countryCode}}</h5>
							
							</div>
							
							<div class="col-md-3 col-lg-3 col-xs-4 col-sm-4 pl0">
							<span>Currency Code</span>
							<h5 class="heading">{{vm.countryMaster.currencyMaster.currencyCode}}</h5>
							</div>
							
							
						</div>
						</div>
						
						
						<div class="row">
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 plr0">
						<div class="col-md-3 col-lg-3 col-xs-4 col-sm-4 pl0">
								
									<!-- <div class="col-xs-4 pl0">
										<span >Region</span>
										<h6>{{vm.countryMaster.countryCode.regionName}}</h6>
									</div> -->
									
										<span >Nationality</span>
										<h6>{{vm.countryMaster.nationality}}</h6>
									
									</div>
									<div class="col-md-3 col-lg-3 col-xs-4 col-sm-4 pl0">
										<span >Inland Haulage Weight/CBM</span>
										<h6>{{vm.countryMaster.weightOrCbm}}</h6>
									</div>
									<div class="col-md-3 col-lg-3 col-xs-4 col-sm-4 pl0">
										<span>Status</span>
										<show-status status="{{vm.countryMaster.status}}"></show-status>
									</div>
								</div>
							</div>
							
							
						<div class = "row">
						 	<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 plr0">
						 		<div class="rel img-box">
									<img data-ng-src="data:image/png;base64,{{vm.countryMaster.encodedImage}}" class="display-block">
								</div>
						 	</div>
						</div>	

						</div>
					<div class="logs-view width42per widP55per widL55per logs-transition" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="showHistory=false"
											   class="list-panel-back"><i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
								
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.countryMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.countryMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.countryMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.countryMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.countryMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.countryMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


 
