<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <form role="form" name="vm.countryForm">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4 >{{vm.countryMaster.id==null?'Add Country':'Edit Country'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                <button type="button" class="btn cancel-btn"  ng-click="vm.cancel(vm.countryMaster.id)">Cancel</button>
                                <button type="button"  class="btn accent-btn"  ng-click="vm.countryMaster.id==null?vm.create():vm.update()"> {{vm.countryMaster.id==null?'Save':'Update'}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body pt0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row plr0">
                        
                            <div class="col-sm-4 col-xs-4 col-md-3 col-lg-3 form-group nomargin">
                                <label class="custom-label">Name<span class="reqColor">*</span></label> 
                                <input
									input-focus="true"
									type="text" class="form-control" id="countryName"
									name="countryName" ng-model="vm.countryMaster.countryName"
									ng-change="vm.validate('countryName', 1)"
									maxlength="100" ng-class="{'error-control':errorMap.get('countryName')!=null}" />
								<span class="error-message" ng-show="errorMap.get('countryName')!=null">
									 <small>{{errorMap.get('countryName')}}</small>
								</span>
                            </div>
                            
                            <div class="col-sm-4 col-xs-4 col-md-3 col-lg-3 form-group nomargin">
								<label>Currency Code<span>*</span></label>

								<div class="select-auto">
									<input type="text" class="form-control" id="currencyCode"
										input-focus="{{vm.errorMap.get('currencyCode')!=null}}"
										autocomplete="off" ng-model="vm.countryMaster.currencyMaster"
										uib-typeahead="lovObject as lovObject.currencyCode for lovObject in vm.ajaxCurrencyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="vm.validate(vm.countryMaster,'4','countryCode')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
								</div>
								<span class="error-message"
									ng-show="errorMap.get('currencyCode')!=null"> <small>
										{{errorMap.get('currencyCode')}} </small>
								</span>
							</div>
                            <div class="col-sm-4 col-xs-4 col-md-3 col-lg-3 form-group nomargin">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input 
                                    input-focus="{{vm.errorMap.get('countryCode')!=null}}" id="countryCode"
                                    type="text" class="form-control" capitalize maxlength="2"
                                    ng-model="vm.countryMaster.countryCode" ng-change="vm.validate('countryCode', 2)"
                                    ng-disabled="vm.countryMaster.id!=null"
                                    ng-class="{'error-control':errorMap.get('countryCode')!=null}" />
                                <span class="error-message" ng-show="errorMap.get('countryCode')!=null">
									 <small>{{errorMap.get('countryCode')}}</small>
								</span>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        <div class="row plr0">
                        <div ng-hide="true" class="col-sm-4 col-xs-2 col-md-3 col-lg-3 form-group nomargin">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Region</label>
                                    <input 
                                    type="text" class="form-control">
                                </div>
                            </div>
                         <div class="col-sm-4 col-xs-4 col-md-3 col-lg-3 form-group nomargin">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Nationality</label>
                                    <input 
                                    input-focus="{{vm.errorMap.get('nationality')!=null}}" id="nationality"
                                    type="text" class="form-control"
                                    ng-class="{'error-control':errorMap.get('nationality')!=null}"
                                    maxlength="100" ng-model="vm.countryMaster.nationality"/>
                                <span class="error-message" ng-show="errorMap.get('nationality')!=null">
									 <small>{{errorMap.get('nationality')}}</small>
								</span>
                                </div>
                         
                            </div>
                            
                              <div class="col-sm-4 col-xs-4 col-md-3 col-lg-3 form-group nomargin">
                                <div class="form-group nomargin pl0">
                                  
                                    <label class="custom-label">Inland Haulage Weight/CBM</label>
                                  
                                    <input
                                    input-focus="{{vm.errorMap.get('weightOrCbm')!=null}}" id="weightOrCbm"
                                    type="text" class="form-control text-right" ng-change="vm.validate('weightOrCbm', 3)"
                                    ng-class="{'error-control':errorMap.get('weightOrCbm')!=null}"
                                    maxlength="15" ng-model="vm.countryMaster.weightOrCbm"/>
                                 <span class="error-message" ng-show="errorMap.get('weightOrCbm')!=null">
									 <small>{{errorMap.get('weightOrCbm')}}</small>
								 </span>
								
                                </div>
                         
                            </div>
                        <div class="col-sm-4 col-xs-4 col-md-3 col-lg-3 form-group nomargin" ng-class="vm.countryMaster.id!=null?'visible-show':'visible-hide'">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label" >Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="vm.setStatus(vm.countryMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="vm.countryMaster.status" required >
                                    </select>
                                </div></div>
                        </div>
                        
                        
                        <div class="row plr0">
                        	<div class="col-sm-6 col-xs-6 cols-md-3 col-lg-3 form-group nomargin ">
               					<label class="custom-label">Upload Image </label>
								<div	 ng-show="uploadText == true && isBusy != true" 
										 ngf-drop 
										 ngf-select 
										 ng-model="image"
                               			 ngf-drag-over-class="'dragover'" 
                               			 ngf-multiple="false" 
                               			 ngf-allow-dir="true"
                               			 accept="image/*" 
                               			 ng-change="uploadImage(image)"
                               			 ngf-pattern="'image/*'" 
                               			 class="file-drop-box">
		                                <div class="col-md-12 text-center">
		                                    <ul class="list-unstyled">
		                                        <li>Drop Here</li>
		                                        <li>Or</li>
		                                        <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
		                                    </ul>
		                                </div>
								</div>
								 <div ng-show="!uploadText && isBusy ==true" class="rel img-box">
	                                <attach-Spinner  spinner-status="true"></attach-Spinner>
	                            </div>
								<div 
									ng-show="uploadText == false && isBusy != true" 
									ngf-select 
									ngf-drop 
									ng-model="image" 
									ngf-multiple="false" 
									ng-change="uploadImage(image)"
								    class="rel img-box" 
								    ng-mouseover="showBackDrop=true" 
								    ng-mouseleave="showBackDrop=false">
	                                
	                                <img ng-src="data:image/jpeg;base64,{{vm.countryMaster.image}}" class="display-block">
	                                
	                                <div class="wrapper-back-drop hide-transition" ng-show="showBackDrop">
                                        <span class="cursorPt overlay-img-btn" 
                                        	ngf-select ngf-drop ng-model="image" 
                                        	ngf-multiple="false" 
                                        	ng-change="uploadImage(image)">
                                            <i class="fa fa-upload"></i>
                                        </span>
                               		</div>
               				   </div>
                        	</div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
