
<div class="resModal modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="col-md-12 pl0 pr0">
                 <div class="col-xs-6">
                        <h4>Select Company</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            <li><button type="button" tabindex="4" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="copyCompanies(true)?$hide():''">Copy</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height: 530px; overflow: auto;">
                <div class="row ">
                    <div class="col-xs-12">
                        <ul class="list-group">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="checkedAll"  ng-change="checkAllCompany($index,checkedAll)"><label>
                                   &nbsp;Select All
                                </label>
                            <li class="list-group-item" ng-repeat="company in companyList track by $index">
                            <!-- class="magic-checkbox" -->
                                <input type="checkbox" ng-model="company.checked"  ng-change="checkCompany($index,company.checked,company)">
                                <label>
                                   {{company.companyName}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
