<div class="col-md-10 col-sm-12 col-lg-10 col-xs-12  pl0 pr0 borright bor-r-1 ">
	<div class="bs-wizard borderbt0 mt-23">
		
		<div class="col-xs-2 bs-wizard-step complete">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ng-click="openTab('serviceRouting',$index,shipmentServiceDetail,'shipment.serviceDetail.serviceMaster.'+$index)"
				ng-class="shipmentTab=='serviceRouting'?'bs-wizard-dotchange':'bs-wizard-dot'"
				class="bs-wizard-dot"> 
				<span class="tickmrk" data-placement="top" title="Service & Routing">&#xf0ad;</span>
			</a>
			<div class="bs-wizard-info text-center tab-port-font">Service &amp; Routing</div>
		</div>

		<div class="col-xs-2 bs-wizard-step complete">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ng-click="openTab('cargoDetails',$index,shipmentServiceDetail,'shipment.serviceDetail.bookingPerson.'+$index)"
				ng-class="shipmentTab=='cargoDetails'?'bs-wizard-dotchange':'bs-wizard-dot'"
				class="bs-wizard-dot">
				<span class="tickmrk" data-placement="top" title="Cargo Details">&#xf07a;</span>
			</a>
			<div class="bs-wizard-info text-center tab-port-font">Cargo Details</div>
		</div>

		<div class="col-xs-2 bs-wizard-step complete">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ng-click="openTab('hawb',$index,shipmentServiceDetail,'shipment.serviceDetail.'+$index+'.document.shipper.'+0)"
				ng-class="shipmentTab=='hawb'?'bs-wizard-dotchange':'bs-wizard-dot'"
				class="bs-wizard-dot">
				<span class="tickmrk" data-placement="top" title="HAWB">&#xf072;</span>
			</a>
			<div class="bs-wizard-info text-center tab-port-font">HAWB</div>
		</div>

		<div class="col-xs-2 bs-wizard-step complete">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ng-click="openTab('pickupDelivery',$index,shipmentServiceDetail,'shipment.serviceDetail.pickUpDeliveryPoint.transporter.'+$index);googleMapModal(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace, shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace);"
				ng-class="shipmentTab=='pickupDelivery'?'bs-wizard-dotchange':'bs-wizard-dot'"
				class="bs-wizard-dot">
				<span class="tickmrk" data-placement="top" title="PickUp/Delivery">&#xf0d1;</span>
			</a>
			<div class="bs-wizard-info text-center tab-port-font">Pick up/Delivery</div>
		</div>
		<div class="col-xs-2 bs-wizard-step complete">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ng-click="openTab('aes',$index,shipmentServiceDetail,$index+'chargeCode0');"
				ng-class="shipmentTab=='aes'?'bs-wizard-dotchange':'bs-wizard-dot'"
				class="bs-wizard-dot">
				<span class="tickmrk" data-placement="top" title="Rates">&#xf0ac;</span>
			</a>
			<div class="bs-wizard-info text-center tab-port-font"> &nbsp;&nbsp;Rates</div>
		</div>

		
		<div class="col-xs-2 bs-wizard-step complete">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ng-click="openTab('others',$index,shipmentServiceDetail,$index+'documentNo0')"
				ng-class="shipmentTab=='others'?'bs-wizard-dotchange':'bs-wizard-dot'"
				class="bs-wizard-dot">
				<span class="tickmrk" data-placement="top" title="Others">&#xf0b1;</span>
			</a>
			<div class="bs-wizard-info text-center tab-port-font">Others</div>
		</div>
		
	</div>

</div>


<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 pr0 pb5">
<div class="col-md-12 col-xs-12 pad-Pl0 pr0 ">

	<button type="button" ng-click="reportPopUp(shipmentServiceDetail,shipmentServiceDetail.id)"
		class="btn btn-primary btn-xs btn-property accent-btn  ng-binding mt-4 width126px "
		>
		<i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;Reports
	</button>

	<button type="button" ng-click="serviceToConsol(shipment,shipmentServiceDetail)" ng-if="shipmentServiceDetail.serviceMaster.importExport == 'Export' && shipmentServiceDetail.lastUpdatedStatus.serviceStatus=='Received'"
		class="btn btn-primary btn-xs btn-property accent-btn  ng-binding mt-4 width126px"
		>
		<i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;Attach To Master
	</button>
	
	<button type="button" ng-click="serviceToConsol(shipment,shipmentServiceDetail)" ng-if="shipmentServiceDetail.serviceMaster.importExport == 'Import' && shipmentServiceDetail.lastUpdatedStatus.serviceStatus=='Booked'"
		class="btn btn-primary btn-xs btn-property accent-btn  ng-binding mt-4 width126px"
		>
		<i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;Attach To Master
	</button>
	
	<button type="button" ng-click="eventmodel(shipmentServiceDetail, $index)"
		class="btn btn-primary btn-xs btn-property accent-btn  ng-binding mt-4 width126px"
		>
		<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Events
	</button>
	
	<button type="button"
		class="btn btn-primary btn-xs btn-property accent-btn mt-4 width126px"
			data-animation="am-flip-x" bs-dropdown data-placement="bottom-right" aria-haspopup="true"
		aria-expanded="false">
		<i class="fa fa-ellipsis-v" aria-hidden="true"></i>&nbsp;More&hellip;
	</button>
	
	<ul class="dropdown-menu" role="menu">
		<li>
			<a ng-click="showAttachmentPopUp(shipmentServiceDetail, $index)" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Attachment
			</a>
		</li>
		<hr class="margintb0">
		<li>
			<a ng-click="showTriggerPopUp(shipmentServiceDetail, $index)" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Trigger Update
			</a>
		</li>
		<hr class="margintb0" ng-if="shipmentServiceDetail.lastUpdatedStatus.serviceStatus=='Booked'">
		<li ng-if="shipmentServiceDetail.lastUpdatedStatus.serviceStatus=='Booked'">
			<a ng-click="shipmentServiceStatusCancelled(shipmentServiceDetail)" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Mark as Cancelled
			</a>
		</li>
		<hr class="margintb0">
		<li>
			<a ng-click="showReferencePopup(shipmentServiceDetail, $index)" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;References
			</a>
		</li>
		<hr class="margintb0" ng-show="shipmentServiceDetail.id!=null">
		<li ng-show="shipmentServiceDetail.id!=null">
			<a ng-click="showAccountsPopup()" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Accounts
			</a>
		</li>
		<hr class="margintb0">
		<li>
			<a ng-click="showNotesPopup()" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Notes
			</a>
		</li>
		<hr class="margintb0" ng-show="shipmentServiceDetail.shipmentServiceSignOff==null || !shipmentServiceDetail.shipmentServiceSignOff.isSignOff">
		<li ng-show="shipmentServiceDetail.shipmentServiceSignOff==null || !shipmentServiceDetail.shipmentServiceSignOff.isSignOff">
			<a ng-click="serviceSignOffModal(shipmentServiceDetail, $index)" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Sign Off
			</a>
		</li>
		<hr class="margintb0" ng-show="shipmentServiceDetail.shipmentServiceSignOff!=null && shipmentServiceDetail.shipmentServiceSignOff.isSignOff">
		<li  ng-show="shipmentServiceDetail.shipmentServiceSignOff!=null && shipmentServiceDetail.shipmentServiceSignOff.isSignOff">
			<a  ng-click="serviceUnSignOffModal(shipmentServiceDetail, $index)" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Unsign Off
			</a>
		</li>
		<hr class="margintb0">
		 <li>
			<a ng-click="showPurchaseOrderPopup(shipmentServiceDetail, $index)" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Purchase Order
			</a>
		</li>
		<hr class="margintb0" ng-show="shipmentServiceDetail.id!=null">
		 <li ng-show="shipmentServiceDetail.id!=null">
			<a ng-click="$uiShipmentDataService.goToJobLedger(shipmentServiceDetail,null)" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Job Ledger
			</a>
		</li>
		
	</ul>
	
                                                   
	
	
	                                                        
</div>
</div>