<!--Pickup / Delivery Ends Here-->
<div class="row normargin ng-scope">
	<div class="col-xs-12 col-md-12 col-sm-12 pl0 pr0">
		<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 form-group">
			<div class="row">
				<div class="col-md-10 col-xs-10">
					<div>
						<label>Transporter</label>
						<div class="select-auto">
							<input type="text" class="form-control"
								id="{{'shipment.serviceDetail.pickUpDeliveryPoint.transporter.'+$index}}" autocomplete="off"
								ng-model="shipmentServiceDetail.pickUpDeliveryPoint.transporter"
								uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyListByType('Transporter',$viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedShipmentTransporter(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.proTracking.'+$index)"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								ng-blur="onTransporterBlur(shipmentServiceDetail)" typeahead-editable="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
						</div>
						<span class="error-message"
							ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.transporter.'+$index)!=null"> 
							<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.transporter.'+$index)}}</small>
						</span>
					</div>
				</div>
				<div class="col-md-1 col-xs-1 plr0 text-center mt-25" ng-init="showAddress=false">
					<a data-container="false" tabindex="-1"
						href="javascript:void(0)"
						ng-class="{'activeLocation':showAddress==true}"
						class="selectPicker-sm fit_picker"
						ng-click="showAddress=!showAddress"> 
						<span ng-class="showAddress==true?'fa fa-angle-double-up ftawsize':'fa fa-angle-double-down ftawsize'"
						data-placement="auto right" bs-tooltip="addressIcon"></span>
					</a>
				</div> 
			</div>
		</div>
	 
		
		<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 form-group">
			<label class="text-inherit">Pro Tracking Number</label> <input
				type="text" maxlength="30" class="form-control"
				id="{{'shipment.serviceDetail.pickUpDeliveryPoint.proTracking.'+$index}}" capitalize
				ng-model="shipmentServiceDetail.proTrackingNo" />
		</div>
		
		<div class="col-md-11 col-xs-11 col-sm-11 col-lg-5 ptb-15 clear_both"  ng-show="showAddress">
			<div class="row">
				<div class="col-md-11 col-xs-11">
					<div class="form-group">
						<label>Address</label>
						<textarea msd-elastic id="{{'transporterAddress'+$index}}"
									 class="form-control "
									rows="3"
									ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickTransporterAddress'+$index)!=null}"
									ng-model="shipmentServiceDetail.pickUpDeliveryPoint.transporterAddress">
												</textarea>
					</div>
				</div>
				<div class="col-md-1 col-xs-1 col-sm-1 plr0 text-center mt-25" ng-init="showAddress=false">
					<a data-container="false" data-placement="auto right"
						bs-tooltip="selectAddress" href="javascript:void(0)"
						tabIndex="-1" class="selectPicker-sm fit_picker"
						ng-click="showTransportPartyAddress(shipmentServiceDetail)">
						<i class="fa fa-chevron-right"></i>
					</a>
				</div> 
			</div>
		</div>
	</div>
</div>








<div class="row shade3 pl0 pr0">
	<!--pickup place starts-->

	<div class="col-xs-12 nopadding pickupPanels">

		<div class="panel panel-default bor-0">
			<div ng-click="picksInfo=!picksInfo" ng-init="picksInfo=false"   ng-class="$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'pick')?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'pick')?'#fff !important':'#000 !important;'}}">Pick Up</h5>
							</div>
							<div>
								<i  style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'pick')?'#fff !important':'#000 !important;'}}" class="{{picksInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		               </div>
		               
		               
			<div ng-hide="!picksInfo" class="panel-body  nopadding">
				<div class="row">
					<div class="col-xs-12 nopadding pl0 pr0">

						<div class="checkbox nomargin mt-5 marginl30">
							<label> <input type="checkbox"
								id="{{'ourPickUp'+$index}}"
								ng-change="changePickUpToggle(shipmentServiceDetail)"
								ng-model="shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp">Our
								Pick Up
							</label>
						</div>
					</div>
				</div>
				
				
				<div class="row nomargin">
					<div class="col-xs-12">
					<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-5 col-sm-6 plr0">
					<div class="col-xs-12 plr0">
					<div class="col-xs-6 form-group">
										<label class="text-inherit">Pick up Point</label>
										<div class="select-auto">
											<input type="text" class="form-control"
												id="{{'shipmentServiceDetail.pickUpDeliveryPoint.pickupPoint.'+$index}}" autocomplete="off"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickupPoint"
												ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
												uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedShipmentPickUpPoint(shipmentServiceDetail,$index,'shipmentServiceDetail.pickUpDeliveryPoint.pickupFrom.'+$index)"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500"
												ng-change="clearPickUpPlace(shipmentServiceDetail.pickUpDeliveryPoint)"
												>
											<span class="select-arrow"><b></b></span>
										</div>

										<span class="error-message"
											ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickupPoint.'+$index)!=null"> <small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickupPoint.'+$index)}}</small>
										</span>
									</div>
					<!-- <div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
								
									
										<label class="text-inherit">Pick up From</label>
										<div class="select-auto">
											<input type="text" class="form-control"
												id="{{'shipmentServiceDetail.pickUpDeliveryPoint.pickupFrom.'+$index}}" autocomplete="off"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickupFrom"
												ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
												uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortByRoad($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedPickUpFrom(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1.'+$index)"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												ng-change="clearPickupFromCode(shipmentServiceDetail.pickUpDeliveryPoint)"
												typeahead-min-length="1" typeahead-wait-ms="500">
											<span class="select-arrow"><b></b></span>
										</div>

										<span class="error-message"
											ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickupFrom.'+$index)!=null"> <small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickupFrom.'+$index)}}</small>
										</span>
									
								
							</div> -->				
									
								</div>
							<div class="col-xs-12 plr0">
							
								<div class="col-xs-11 pr0">
									<label class="text-inherit">Pick up Place</label>
																		<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1.'+$index}}" type="text"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1.'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1.'+$index)!=null}"
												placeholder="Address 1">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1.'+$index)!=null">
													<small> {{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1.'+$index)}} </small>
												</span>
											</div>
											
										
									
										<div class="col-xs-12 plr0 mt-5">
											<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine2.'+$index}}" type="text"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine2.'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine2" maxlength="100"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine2.'+$index)!=null}"
												placeholder="Address 2">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine2.'+$index)!=null">
													<small> {{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine2.'+$index)}} </small>
												</span>
											</div>
										</div>
										
		
									
										<div class="col-xs-12  plr0 mt-5">
											<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine3.'+$index}}" type="text"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine3.'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine3" maxlength="100"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.addressLine3.'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 3">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine3.'+$index)!=null">
													<small> {{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine3.'+$index)}} </small>
												</span>
											</div>
										</div>
										
									</div>
									<div class="col-xs-1 mt-23 plr0 text-right">
									<a
										ng-hide="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
										tabIndex="-1" data-container="false"
                                                                   data-placement="auto right"
										bs-tooltip="selectPickUpPlace" href="javascript:void(0)"
										ng-click="showPickUpPlacePartyAddress(shipmentServiceDetail)"
										class="selectPicker-sm cur-notallow"> <i
										class="fa fa-chevron-right"></i>
									</a>
								</div>
								</div>	
									
									
										<div class="col-xs-11 mt-5 pl0 pr0 mb10">
											<div class="col-xs-4 pr0">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.state.'+$index}}" autocomplete="off"
														ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.state"
														uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue,shipmentServiceDetail.pickUpDeliveryPoint.pickupPoint.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedPickUpState(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.city.'+$index);"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="State"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.state.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.state.'+$index)}}</small>
												</span>

											</div>

											<div class="col-xs-4 pr0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.city.'+$index}}" autocomplete="off"
														ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.city"
														uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue,shipmentServiceDetail.pickUpDeliveryPoint.pickupPoint.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedPickUpCity(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode.'+$index)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="City"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.city.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.city.'+$index)}}</small>
												</span>

											</div>
											<div class="col-xs-4 pr0 ">
												<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode.'+$index}}" type="text"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode.'+$index)!=null}}"
												class="form-control"
												ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode" maxlength="20"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode.'+$index)!=null}"
												placeholder="Zip">

												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode.'+$index)}}</small>
												</span>

											</div>
											
											
										</div>
									</div>
								
						
							

						

								<!-- <div class="form-inline"> -->

									<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">

										<div class="col-xs-12 plr0">

											<label>Contact Details</label>
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-user"></i>
													</div>
													<input type="text"
														ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
														id="{{'shipmentServiceDetail.pickUpDeliveryPoint.pickUpContactPerson.'+$index}}" maxlength="100"
														ng-change="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,5,$index,undefined)"
														ng-class="{'error-control':errorMap.get('shipmentServiceDetail.pickUpDeliveryPoint.pickUpContactPerson'+$index)!=null}"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpContactPerson"
														class="form-control">
												</div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpContactPerson.'+$index)!=null"><small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpContactPerson.'+$index)}}</small>
												</span>
											</div>
										</div>
										
										<div class="col-xs-12 plr0">
											<div class="form-group col-xs-12  nopadding">

												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-email "></i>
													</div>
													<input type="text" id="{{'shipmentServiceDetail.pickUpDeliveryPoint.pickUpEmail.'+$index}}"
														maxlength="500"
														ng-blur="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,8,$index,'shipmentServiceDetail.pickUpDeliveryPoint.pickUpMobileNo.'+$index)?navigateToNextField('shipmentServiceDetail.pickUpDeliveryPoint.pickUpEmail.'+$index):''"
														ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpEmail.'+$index)!=null}"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpEmail"
														class="form-control">
												</div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpEmail.'+$index)!=null"><small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpEmail.'+$index)}}</small></span>
											</div>
										</div>
										<div class="col-xs-12 plr0">
											<div class="form-group col-xs-12   nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-mobile "></i>
													</div>
													<input type="text" id="{{'shipmentServiceDetail.pickUpDeliveryPoint.pickUpMobileNo.'+$index}}"
														ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
														ng-change="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,6,$index,undefined)"
														maxlength="100"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpMobileNo.'+$index)!=null}"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpMobileNo"
														class="form-control">
												</div>
											</div>
											<span class="error-message"
												ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpMobileNo.'+$index)!=null"><small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpMobileNo.'+$index)}}</small></span>
										</div>


										<div class="col-xs-12 plr0">
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-phone"></i>
													</div>
													<input type="text" id="{{'shipmentServiceDetail.pickUpDeliveryPoint.pickUpPhoneNo.'+$index}}"
														ng-change="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,7,$index,undefined)"
														maxlength="100"
														ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPhoneNo.'+$index)!=null}"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPhoneNo"
														class="form-control">
												</div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPhoneNo.'+$index)!=null"><small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.pickUpPhoneNo.'+$index)}}</small></span>
											</div>
										</div>
									</div>

								<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mt-5 pl0">
					<div class="col-xs-12">
									<label class="text-inherit">Pick up Follow Up Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'shipmentServiceDetail.pickUpDeliveryPoint.pickUpFollowUp.'+$index}}"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
											ng-class="{'error-control':errorMap.get('pickfollowup'+$index)!=null}"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpFollowUp"
											date-callback="navigateToNextField('shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlanned.'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
								<div class="col-xs-12 mt-5 ">
									<label>Planned Pick Up Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlanned.'+$index}}"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
											ng-class="{'error-control':errorMap.get('pickplanned'+$index)!=null}"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlanned"
											date-callback="navigateToNextField('shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual.'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
								<div class="col-xs-12 mt-5 ">
									<label>Actual Pick Up Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual.'+$index}}"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual"
											date-callback="navigateToNextField('shipment.serviceDetail.pickUpDeliveryPoint.deliverypoint.'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
							</div>
                       </div>
					</div>


				</div>
			</div>
			
			</div>
			</div>
		</div>



<!--  pickup place ends -->

<div class="row shade3 pl0 pr0">
	<!-- Delivery to CFS starts-->

	<div class="col-xs-12 nopadding pickupPanels">

		<div class="panel panel-default bor-0">
			<div ng-click="deliveryInfo=!deliveryInfo"
				ng-init="deliveryInfo=false"  ng-class="$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'delivery')?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'delivery')?'#fff !important':'#000 !important;'}}">Delivery to CFS / Depot</h5>
							</div>
							<div>
								<i  style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'delivery')?'#fff !important':'#000 !important;'}}" class="{{deliveryInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		               </div>
			<div ng-hide="!deliveryInfo" class="panel-body  nopadding">
				<div class="row nomargin mt-5">
					<div class="col-xs-12">
					<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-5 col-sm-6 plr0">
					<div class="col-xs-12 plr0">
					<div class="col-xs-6">
										<label>Delivery Point</label>
										<div class="select-auto">
											<input type="text" class="form-control"
												id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliverypoint.'+$index}}" autocomplete="off"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
												uib-typeahead="lovObject as lovObject.cfsName for lovObject in $AutoCompleteService.getPortFromCFS($viewValue,shipmentServiceDetail.origin.id)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedShipmentDeliveryPoint(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.deliveryTo.'+$index);googleMapModal(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace, shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace)"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500"
												ng-change="clearDeliveryPlace(shipmentServiceDetail.pickUpDeliveryPoint);googleMapModal(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace, shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace)"
												>
											<span class="select-arrow"><b></b></span>
										</div>

										<span class="error-message"
											ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPoint.'+$index)!=null">
											<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPoint.'+$index)}}</small>
										</span>

									</div>
							
							<!-- <div class="col-xs-6">
								
										<label>Delivery to CFS / Depot</label>

										<div class="select-auto">
											<input type="text" class="form-control"
												id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryTo.'+$index}}" autocomplete="off"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryFrom"
												uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortByRoad($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedDeliveryFrom(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine1.'+$index)"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												ng-change="clearDeliveryFromCode(shipmentServiceDetail.pickUpDeliveryPoint)"
												typeahead-min-length="1" typeahead-wait-ms="500">
											<span class="select-arrow"><b></b></span>
										</div>

										<span class="error-message"
											ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryFrom.'+$index)!=null">
											 <small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryFrom.'+$index)}}</small>
										</span>
									</div> -->
								</div>
							
							<div class="col-xs-12 plr0">
					<div class="col-xs-12">
									<label>Delivery Place</label>
								
											<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine1.'+$index}}" type="text"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine1.'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine1.'+$index)!=null}"
												placeholder="Address 1">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine1.'+$index)!=null">
													<small> {{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine1.'+$index)}} </small>
												</span>
											</div>
										<div class="col-xs-12 plr0 mt-5">
									
											<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine2.'+$index}}" type="text"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine2.'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine2" maxlength="100"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine2.'+$index)!=null}"
												placeholder="Address 2">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine2.'+$index)!=null">
													<small> {{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine2.'+$index)}} </small>
												</span>
											</div>
										</div>
									
									<div class="col-xs-12  plr0 mt-5">
											<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine3.'+$index}}" type="text"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine3.'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine3" maxlength="100"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine3.'+$index)!=null}"
												placeholder="Address 3">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine3.'+$index)!=null">
													<small> {{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine3.'+$index)}} </small>
												</span>
											</div>
										</div>
										
									</div>
									</div>
									<div class="col-xs-12  mt-5 plr0 mb10">
										<div class="col-xs-4  pr0">
											
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.state.'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.state"
														uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue,shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint.portMaster.portGroupMaster.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryState(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.city.'+$index)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="State"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.state.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.state.'+$index)}}</small>
												</span>

											</div>

											<div class="col-xs-4 pr0">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.city.'+$index}}" autocomplete="off"
														
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.city"
														uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue,shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint.portMaster.portGroupMaster.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryCity(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.zipCode.'+$index)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="City"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.city.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.city.'+$index)}}</small>
												</span>

											</div>
											<div class="col-xs-4  ">
												<input
													id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.zipCode.'+$index}}"
													type="text"
													input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.zipCode.'+$index)!=null}}"
													class="form-control"
													ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.zipCode"
													maxlength="20"
													ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.zipCode.'+$index)!=null}"
													placeholder="Zip"><b></b> 
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.zipCode.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPlace.zipCode.'+$index)}}</small>
												</span>

											</div>
										</div>
									</div>
								
							
							
							
							

							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
					<div class="col-xs-12  plr0 mb-10">

												<label>Contact Details</label>
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-user"></i>
													</div>

													<input type="text" id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryContactPerson.'+$index}}"
														maxlength="100"
														ng-change="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,12,$index,undefined)"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryContactPerson.'+$index)!=null}"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryContactPerson"
														class="form-control">
												</div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryContactPerson.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryContactPerson.'+$index)}}</small></span>
											</div>
										
										<div class="col-xs-12  plr0">
											<div class="form-group nopadding col-xs-12">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-email"></i>
													</div>
													<input type="text" id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryEmail.'+$index}}"
														ng-blur="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,15,$index,'shipment.serviceDetail.pickUpDeliveryPoint.deliveryMobileNo.'+$index)?navigateToNextField('shipment.serviceDetail.pickUpDeliveryPoint.deliveryEmail.'+$index):''"
														maxlength="500"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryEmail.'+$index)!=null}"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryEmail"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryEmail.'+$index)!=null">
														<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryEmail.'+$index)}}</small></span>
												</div>
											</div>
										</div>
										<div class="col-xs-12  plr0">
											<div class="form-group nopadding col-xs-12">
												<!--<label><i class="icon-mobile pr8"></i>Mobile-->
												<!--No</label>-->
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-mobile"></i>
													</div>
													<input type="text" id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryMobileNo.'+$index}}"
														ng-change="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,13,$index,undefined)"
														maxlength="100"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryMobileNo.'+$index)!=null}"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryMobileNo"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryMobileNo.'+$index)!=null">
														<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryMobileNo.'+$index)}}</small></span>
												</div>
											</div>
										</div>


										<div class="col-xs-12 mb-10 plr0">
											<div class="form-group nopadding col-xs-12">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-phone"></i>
													</div>
													<input type="text" id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryPhoneNo.'+$index}}"
														ng-change="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,14,$index,undefined)"
														maxlength="100"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPhoneNo.'+$index)!=null}"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPhoneNo"
														class="form-control">
												</div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPhoneNo.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.deliveryPhoneNo.'+$index)}}</small></span>
											</div>
										</div>
									</div>
								
								<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 pl0">
					<div class="col-xs-12 ">
									<label>Expected Delivery Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryExpected.'+$index}}"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryExpected"
											date-callback="navigateToNextField('shipment.serviceDetail.pickUpDeliveryPoint.deliveryDate.'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
								<div class="col-xs-12 mt-5">
									<label>Delivery Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'shipment.serviceDetail.pickUpDeliveryPoint.deliveryDate.'+$index}}"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryActual"
											date-callback="navigateToNextField('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPoint.'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>

							</div>


						</div>
						


					</div>
				
				</div>
			</div>


		</div>
	</div>
</div>
<!-- Delivery to CFS End -->
<!--Door Delivery starts-->
<div class="row">


	<div class="col-xs-12 nopadding pickupPanels">

		<div class="panel panel-default bor-0">
			
			<div ng-click="doorInfo=!doorInfo" ng-init="doorInfo=false"  ng-class="$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'door')?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'door')?'#fff !important':'#000 !important;'}}">Door Delivery</h5>
							</div>
							<div>
								<i  style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'door')?'#fff !important':'#000 !important;'}}" class="{{doorInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		               </div>
			<div ng-hide="!doorInfo" class="panel-body  nopadding">
				<div class="row nomargin mt-5">
					<div class="col-xs-12">
					<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-5 col-sm-6 plr0">
					<div class="col-xs-12 plr0">
					<div class="col-xs-6">
										<label>Door Delivery Point</label>
										<div class="select-auto">
											<input type="text" class="form-control"
												id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPoint.'+$index}}" autocomplete="off"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPoint"
												uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortByRoad($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedDoorDeliveryPoint(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryFrom.'+$index);googleMapModal(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace, shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace)"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500"
												ng-change="clearDoorDeliveryPlace(shipmentServiceDetail.pickUpDeliveryPoint);googleMapModal(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace, shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace)"
												>
											<span class="select-arrow"><b></b></span>
										</div>

										<span class="error-message"
											ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPoint.'+$index)!=null">
											<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPoint.'+$index)}}</small>
										</span>

									</div>
									
								
							<!-- <div class="col-xs-6">
								
										<label>Door Delivery To</label>
										<div class="select-auto">
											<input type="text" class="form-control"
												id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryFrom.'+$index}}" autocomplete="off"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryFrom"
												ng-change="clearDoorDeliveryFromCode(shipmentServiceDetail.pickUpDeliveryPoint)"
												uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortByRoad($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedDoorDeliveryFrom(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1.'+$index)"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500">
											<span class="select-arrow"><b></b></span>
										</div>

										<span class="error-message"
											ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryFrom.'+$index)!=null">
											<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryFrom.'+$index)}}</small>
										</span>

									</div> -->
								</div>
							
							<div class="col-xs-12 plr0">
					<div class="col-xs-12">
									<label>Door Delivery Place</label>
								

							
											<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1.'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1.'+$index)!=null}"
												placeholder="Address 1">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1.'+$index)!=null">
													<small> {{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1.'+$index)}} </small>
												</span>
											</div>
										
									<div class="col-xs-12 plr0 mt-5">
											<!--  <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label>-->
											<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2.'+$index}}" type="text"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2.'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2" maxlength="100"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2.'+$index)!=null}"
												placeholder="Address 2">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2.'+$index)!=null">
													<small> {{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2.'+$index)}} </small>
												</span>
											</div>
										</div>
									
										<div class="col-xs-12  plr0 mt-5">
											<!--  <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label>-->
											<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3.'+$index}}" type="text"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3.'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3" maxlength="100"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3.'+$index)!=null}"
												placeholder="Address 3">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3.'+$index)!=null">
													<small> {{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3.'+$index)}} </small>
												</span>
											</div>
										</div>
									</div>
									</div>
									<div class="col-xs-12  mt-5 plr0 mb10">
									<div class="col-xs-4 pr0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.state.'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.state"
														uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue,shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPoint.portGroupMaster.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryState(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.city.'+$index)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="State"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.state.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.state.'+$index)}}</small>
												</span>

											</div>

											<div class="col-xs-4 pr0">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.city.'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.city"
														uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue,shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPoint.portGroupMaster.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryCity(shipmentServiceDetail,$index,'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.zipCode.'+$index)"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="City"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.city.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.city.'+$index)}}</small>
												</span>

											</div>
											<div class="col-xs-4 ">
												<div class="select-auto">
													<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.zipCode.'+$index}}" type="text"
												input-focus="{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.zipCode.'+$index)!=null}}"
												class="form-control"
												ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.zipCode" maxlength="20"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.zipCode.'+$index)!=null}"
												placeholder="Zip"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.zipCode.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPlace.zipCode.'+$index)}}</small>
												</span>

											</div>
										</div>
									</div>
								
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
					<div class="col-xs-12   plr0 mb-10">
											<label>Contact Details</label>

											<div class="form-group nopadding nomargin  col-xs-12">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-user"></i>
													</div>
													<input type="text" maxlength="100"
														id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryContactPerson.'+$index}}"
														ng-change="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,19,$index,undefined)"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryContactPerson"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryContactPerson.'+$index)!=null}"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryContactPerson.'+$index)!=null"><small>
															{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryContactPerson.'+$index)}} </small></span>
												</div>
											</div>
										</div>
									<div class="col-xs-12   plr0  mb-10">

											<div class="form-group nopadding nomargin col-xs-12">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-email"></i>
													</div>
													<input type="text" id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryEmail.'+$index}}"
														ng-blur="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,22,$index,'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo.'+$index)?navigateToNextField('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryEmail.'+$index):''"
														maxlength="500"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryEmail"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryEmail.'+$index)!=null}"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryEmail.'+$index)!=null"><small>
															{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryEmail.'+$index)}} </small></span>
												</div>
											</div>
										</div>

										<div class="col-xs-12   plr0  mb-10">

											<!--<label><i class="icon-mobile pr8"></i>Mobile-->
											<!--No</label>-->
											<div class="form-group nomargin nopadding col-xs-12">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-mobile"></i>
													</div>


													<input type="text" maxlength="100"
														id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo.'+$index}}"
														ng-change="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,20,$index,undefined)"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo.'+$index)!=null}"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo.'+$index)!=null"><small>
															{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo.'+$index)}} </small></span>
												</div>
											</div>
										</div>


										<div class="col-xs-12 mb-5 plr0">
											<div class="form-group nomargin nopadding col-xs-12">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-phone"></i>
													</div>

													<input type="text" maxlength="100"
														id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPhoneNo.'+$index}}"
														ng-change="validatePickUpDelivery(shipmentServiceDetail.pickUpDeliveryPoint,21,$index,undefined)"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPhoneNo"
														ng-class="{'error-control':errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPhoneNo.'+$index)!=null}"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPhoneNo.'+$index)!=null"><small>
															{{errorMap.get('shipment.serviceDetail.pickUpDeliveryPoint.doorDeliveryPhoneNo.'+$index)}} </small></span>
												</div>
											</div>
										</div>
									</div>
									
								<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 pl0">
					<div class="col-xs-12">
									<label>Expected Door Delivery Date</label>
									<div class="inputBox">
										<input
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryExpected"
											class="form-control"
											date-callback="navigateToNextField('shipment.serviceDetail.pickUpDeliveryPoint.doorDelivery.'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
								<div class="col-xs-12 mt-5">
									<label>Door Delivery Date</label>
									<div class="inputBox">
										<input id="{{'shipment.serviceDetail.pickUpDeliveryPoint.doorDelivery.'+$index}}" class="form-control"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryActual"
											date-callback="navigateToNextField('shipment.serviceDetail.pickUpDeliveryPoint.transporter.'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
							</div>


						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<div  ng-show="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace!=null && shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace!='' && shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace!=null && shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace!='' ">
<div class="row">

<div class="map-point">
<div class="col-xs-6 ">
<h5 style="font-size: 13px;font-weight: normal;">


                               <i class="fa fa-truck rotate-y" aria-hidden="true"></i>  Maps From {{sourceMapPlace}} To
										{{destinationMapPlace}} | Distance 
										{{map.directionsRenderers[0].directions.routes[0].legs[0].distance.text}}
									</h5>

                                    </div>
								<div class="col-xs-6 ">
								
								<div class="rigt-pont">
									<button
												class="btn btn-primary btn-xs btn-property accent-btn"
												ng-click="googleMapModal(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace, shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace);">
												
												<span style="float:left;"> Pickup From Shipper</span><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span><span style="float:right;">  CFS / Depot</span></button>
											<button
												class="btn btn-primary btn-xs btn-property accent-btn"
												ng-click="googleMapModal(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace, shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace);">
												<span style="float:left;">CFS</span><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span><span style="float:right;"> Delivery to Consignee</span></button>

</div>

</div>


</div>
</div>
</div>
			<div style="margin-bottom:10px;margin-top:10px;">
							<div class="panel panel-default" >
							
								<div class="panel-body nopadding nopanel_pattern">
									<div class="col-xs-12 nopadding mt10">
										<div class="row nomargin">
										

											<ng-map zoom="14" center="{{destinationMapPlace}}"
												style="height:100%;"> 
												<directions draggable="true"
												travel-mode="DRIVING" origin="{{sourceMapPlace}}"
												destination="{{destinationMapPlace}}"> </directions> </ng-map>

										</div>
									</div>
								</div>
							</div>
						</div>


<!--  Door Delivery ends -->

<!--Pickup / Delivery Ends Here-->