	<!--GENERAL TAB-->
		<div class="row">
			<div class="col-xs-12 pl0 pr0 pt10">
				<div class="col-xs-12 col-md-5">
					<div class="row">
						<div class="col-xs-6 col-md-6 form-group">
							<label>Service<span>*</span></label>
		
							<div class="select-auto">
								<input type="text" class="form-control"
									id="{{'shipment.serviceDetail.serviceMaster.'+$index}}"
									input-focus="{{errorMap.get('shipment.serviceDetail.serviceMaster.'+$index)!=null}}"
									autocomplete="off" ng-model="shipmentServiceDetail.serviceMaster"
									uib-typeahead="lovObject as lovObject.serviceName for lovObject in $AutoCompleteService.getServiceListByTransportMode($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="selectedShipmentServiceMaster(shipmentServiceDetail,$index,'shipment.serviceDetail.party.'+$index);"
									typeahead-focus-on-select="false" typeahead-focus-first="true"
									typeahead-editable="false" typeahead-min-length="1"
									typeahead-wait-ms="500">
								<span class="select-arrow"><b></b></span>
							</div>
		
							<span class="error-message"
								ng-show="errorMap.get('shipment.serviceDetail.serviceMaster.'+$index)!=null">
								<small> {{errorMap.get('shipment.serviceDetail.serviceMaster.'+$index)}} </small>
							</span>
		
						</div>
						
						<div class="col-xs-6 col-md-6  form-group">
							<label>{{appMasterData['Party_Label']}}<span>*</span></label>
							<div class="select-auto">
								<input type="text" class="form-control"
									id="{{'shipment.serviceDetail.party.'+$index}}"
									input-focus="{{errorMap.get('shipment.serviceDetail.party.'+$index)!=null}}"
									autocomplete="off" ng-model="shipmentServiceDetail.party"
									uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="selectedShipmentServiceParty(shipmentServiceDetail,$index,'shipment.serviceDetail.tos.'+$index);"
									typeahead-focus-on-select="false" typeahead-focus-first="true"
									typeahead-editable="false" typeahead-min-length="1"
									typeahead-wait-ms="500"
									ng-disabled="partyChargedOption(shipmentServiceDetail)"> <span
									class="select-arrow"><b></b></span>
<!-- 									typeahead-add-new="routePartyEvent('shipment.party', true, null, false, -1, -1)"
									ng-change="partyBlurChkData(shipment.party, 'shipment.party', false, -1, -1)" -->
							</div>

							<span class="error-message"
								ng-show="errorMap.get('shipment.serviceDetail.party.'+$index)!=null"> <small>
									{{errorMap.get('shipment.serviceDetail.party.'+$index)}} </small>
							</span>
						</div>

					</div>
				</div>
				
				
				<div class="col-xs-12 col-md-7">
					<div class="row ">
					<div class="col-xs-6 col-md-4 col-sm-6 form-group">
							<label class="text-inherit">Terms of Shipment<span>*</span></label>

							<div class="select-auto">
								<input type="text" class="form-control"
									id="{{'shipment.serviceDetail.tos.'+$index}}"
									 id="tosSp"
									autocomplete="off" ng-model="shipmentServiceDetail.tosMaster"
									uib-typeahead="lovObject as lovObject.tosName for lovObject in $AutoCompleteService.getTosList($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="selectedShipmentServiceTos(shipmentServiceDetail,$index,'shipment.serviceDetail.commodity.'+$index);"
									typeahead-focus-on-select="false" typeahead-focus-first="true"
									typeahead-editable="false" typeahead-min-length="1"
									typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
							</div>
							<span class="error-message"
								ng-show="errorMap.get('shipment.serviceDetail.tos.'+$index)!=null"><small>
									{{errorMap.get('shipment.serviceDetail.tos.'+$index)}} </small></span>

						</div>
						<div class="col-xs-3 col-md-4 col-sm-3 col-lg-4 form-group">
							<label>Commodity Group</label>
                            <div class="select-auto">
								<input type="text" 
									class="form-control"
									id="{{'shipment.serviceDetail.commodity.'+$index}}"
									autocomplete="off"
									ng-model="shipmentServiceDetail.commodity"
									input-focus="{{errorMap.get('shipment.serviceDetail.commodity.'+$index)!=null}}"
									uib-typeahead="lovObject as lovObject.hsName for lovObject in $AutoCompleteService.getCommodityList($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true" 
									typeahead-on-select="selectedShipmentServiceCommodityMaster(shipmentServiceDetail,$index,'shipment.serviceDetail.directShipment.'+$index)"
									typeahead-focus-on-select="false"
									 typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-focus-first="true"
									typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500" 
									>
								<span class="select-arrow"><b></b></span>
							</div>
							<span class="error-message" style="color: red;" ng-show="errorMap.get('shipment.serviceDetail.commodity.'+$index)!=null">
								<small>{{errorMap.get('shipment.serviceDetail.commodity.'+$index)}} </small>
							</span>
						</div>
						<div class="col-xs-3 col-md-4 col-sm-3 col-lg-4 form-group">
							<label>Direct<span>*</span></label>
							<ul class="list-inline">
								<li ng-class="{'opc-5':shipmentServiceDetail.directShipment}">No</li>
								<li class="v-align-top"><switch tabIndex="0"
										id="{{'shipment.serviceDetail.directShipment.'+$index}}"
										ng-model="shipmentServiceDetail.directShipment"
										class="green"> </switch></li>
								<li ng-class="{'opc-5':!shipmentServiceDetail.directShipment}">Yes</li>
							</ul>


						</div>
						
					</div>
				</div>
			</div>
		</div>




		<!-- second tab -->
		
<div class="row">
		<div class="col-xs-12 pl0 pr0 ">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  form-group">
					<label>Origin <span>*</span></label>

					<div class="select-auto">
						<input type="text" class="form-control" id="{{'shipment.serviceDetail.origin.'+$index}}"
							autocomplete="off"  
							ng-model="shipmentServiceDetail.origin"
							input-focus="{{errorMap.get('shipment.serviceDetail.origin.'+$index)!=null}}"
							uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,shipmentServiceDetail.destination, shipmentServiceDetail.serviceMaster)"
                            typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 							
                            typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedShipmentServiceOrigin(shipmentServiceDetail,  $index, 'shipment.serviceDetail.pol.'+$index)"
							typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
							typeahead-wait-ms="500"> 
						<span class="select-arrow"><b></b></span>
					</div>
 
					<span class="error-message"
						ng-show="errorMap.get('shipment.serviceDetail.origin.'+$index)!=null">
						<small> {{errorMap.get('shipment.serviceDetail.origin.'+$index)}} </small>
					</span>
 
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  form-group">
					<label class="text-inherit">
					{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Loading':'Port of Loading'}}
					<span>*</span></label>

					<div class="select-auto">
						<input type="text" class="form-control" id="{{'shipment.serviceDetail.pol.'+$index}}"
							autocomplete="off"  
							ng-model="shipmentServiceDetail.pol"
							input-focus="{{errorMap.get('shipment.serviceDetail.pol.'+$index)!=null}}"
							uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,shipmentServiceDetail.pod, shipmentServiceDetail.serviceMaster)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedShipmentServicePol(shipmentServiceDetail,$index,'shipment.serviceDetail.pod.'+$index)"
							typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
							typeahead-wait-ms="500"> 
						<span class="select-arrow"><b></b></span>
					</div>

					<span class="error-message"
						ng-show="errorMap.get('shipment.serviceDetail.pol.'+$index)!=null">
						<small> {{errorMap.get('shipment.serviceDetail.pol.'+$index)}} </small>
					</span>


				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4  form-group">
					<label class="text-inherit">
					{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Discharge':'Port of Discharge'}}
					<span>*</span></label>

					<div class="select-auto">
						<input type="text" class="form-control" id="{{'shipment.serviceDetail.pod.'+$index}}"
							autocomplete="off"  
							ng-model="shipmentServiceDetail.pod"
							input-focus="{{errorMap.get('shipment.serviceDetail.pod.'+$index)!=null}}"
							uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,shipmentServiceDetail.pol, shipmentServiceDetail.serviceMaster)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedShipmentServicePod(shipmentServiceDetail, $index, 'shipment.serviceDetail.destination.'+$index)"
							typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
							typeahead-wait-ms="500"> 
						<span class="select-arrow"><b></b></span>
					</div>

					<span class="error-message"
						ng-show="errorMap.get('shipment.serviceDetail.pod.'+$index)!=null">
						<small> {{errorMap.get('shipment.serviceDetail.pod.'+$index)}} </small>
					</span>


				</div>
				<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 form-group">
					<label>Destination<span>*</span></label>

					<div class="select-auto">
						<input type="text" class="form-control" id="{{'shipment.serviceDetail.destination.'+$index}}"
							autocomplete="off"  
							ng-model="shipmentServiceDetail.destination"
							input-focus="{{errorMap.get('shipment.serviceDetail.destination.'+$index)!=null}}"
							uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,shipmentServiceDetail.origin, shipmentServiceDetail.serviceMaster)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html" 
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedShipmentServiceDestination(shipmentServiceDetail, $index,'shipment.serviceDetail.carrier.'+$index)"
							typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
							typeahead-wait-ms="500"> 
						<span class="select-arrow"><b></b></span>
					</div>

					<span class="error-message"
						ng-show="errorMap.get('shipment.serviceDetail.destination.'+$index)!=null">
						<small> {{errorMap.get('shipment.serviceDetail.destination.'+$index)}} </small>
					</span>

				</div>
				<div class="col-xs-3 col-md-4 col-sm-2 form-group">
					<label>Trade</label>

					<div class="select-auto">
						{{shipmentServiceDetail.isTranshipment?'Transhipment':shipmentServiceDetail.serviceMaster.importExport}}
					</div>

					
				</div>
			</div>
		</div>
</div>
</div>

<div class="row">
		<div class="col-xs-12 pl0 pr0 ">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
					<label>Freight<span>*</span></label>
					<ul class="list-inline">
						<li ng-class="{'opc-5':shipmentServiceDetail.ppcc}">Prepaid</li>
						<li class="v-align-top"><switch tabIndex="0"
								id="{{'shipment.serviceDetail.ppcc.'+$index}}" name="enabled"
								ng-model="shipmentServiceDetail.ppcc" class="green"></switch></li>
						<li ng-class="{'opc-5':!shipmentServiceDetail.ppcc}">Collect</li>
					</ul>

				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
					<label>Routed<span>*</span></label>
					<ul class="list-inline">
						<li ng-class="{'opc-5':shipmentServiceDetail.whoRouted}">Self</li>
						<li class="v-align-top"><switch
								id="{{'shipment.serviceDetail.whoRouted.'+$index}}"
								tabIndex="0" ng-model="shipmentServiceDetail.whoRouted"
								class="green"></switch></li>
						<li ng-class="{'opc-5':!shipmentServiceDetail.whoRouted}">Agent</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 form-group">
					<label>Routed By<span>*</span></label>
					<div class="select-auto" ng-hide="shipmentServiceDetail.whoRouted">
						<input type="text" class="form-control" id="{{'shipment.serviceDetail.routedby.'+$index}}"
							autocomplete="off" ng-hide="shipmentServiceDetail.whoRouted"
							ng-model="shipmentServiceDetail.salesman"
							input-focus="{{errorMap.get('shipment.serviceDetail.routedby.'+$index)!=null}}"
							uib-typeahead="lovObject as lovObject.employeeName for lovObject in $AutoCompleteService.getSalesmanList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedShipmentServiceSalesMan(shipmentServiceDetail,$index,'shipment.serviceDetail.isClearance.'+$index)"
							typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
							typeahead-wait-ms="500"> <span
							class="select-arrow"><b></b></span>
					</div>
					<div class="select-auto" ng-hide="!shipmentServiceDetail.whoRouted">
						<input type="text" class="form-control" id="{{'shipment.serviceDetail.routedby.'+$index}}"
							autocomplete="off" ng-hide="!shipmentServiceDetail.whoRouted"
							ng-model="shipmentServiceDetail.agent"
							input-focus="{{errorMap.get('shipment.serviceDetail.routedby.'+$index)!=null}}"
							uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getRoutedByAgentPartyList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedShipmentServiceAgent(shipmentServiceDetail,$index,'shipment.serviceDetail.isClearance.'+$index)"
							typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
							typeahead-wait-ms="500"> 
						<span class="select-arrow"><b></b></span>
					</div>
					<span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.routedby.'+$index)!=null"><small>
							{{errorMap.get('shipment.serviceDetail.routedby.'+$index)}} </small></span>
				</div>
			
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 form-group">
				<label>Clearance</label>
					<ul class="list-inline">
						<li ng-class="{'opc-5':shipmentServiceDetail.isClearance}">No</li>
						<li class="v-align-top"><switch
								id="{{'shipment.serviceDetail.isClearance.'+$index}}"
								tabIndex="0" ng-model="shipmentServiceDetail.isClearance"
								class="green"></switch></li>
						<li ng-class="{'opc-5':!shipmentServiceDetail.isClearance}">Yes</li>
					</ul>
				
				</div>
			</div>
		</div>
		
		
</div>
</div>


		<div class="col-md-12 pl0 pr0">
			<div class="row">
			<div ng-click="routInfo=!routInfo" tabindex="-1"
							ng-init="routInfo=true"  ng-class="$uiShipmentDataService.routingAndCarrierStatus(shipmentServiceDetail)?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$uiShipmentDataService.routingAndCarrierStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}">Routing & Carrier Info</h5>
							</div>
							<div>
								<i  style="color:{{$uiShipmentDataService.routingAndCarrierStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}" class="{{routInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>

		   </div>
			
			
			
			</div>
		</div>

		<!-- third tab -->
		<div class="row">
		<div class="col-xs-12 pl0 pr0 mt10 " ng-hide="!routInfo">
		<div class="col-xs-12 col-md-5 col-sm-5 col-lg-4 ">
			<div class="row">
				<div class="col-xs-6 col-md-6 col-lg-6 col-sm-12  pl0 form-group">
				<div class="col-md-11 col-xs-11 col-sm-11 col-lg-11">
					<label>Carrier</label>
                  <div class="select-auto">
							<input type="text" class="form-control" id="{{'shipment.serviceDetail.carrier.'+$index}}"
								autocomplete="off"
								input-focus="{{errorMap.get('shipment.serviceDetail.carrier.'+$index)!=null}}"
								ng-model="shipmentServiceDetail.carrier"
								uib-typeahead="lovObject as lovObject.carrierName for lovObject in getCarrierList(shipmentServiceDetail, $index, $viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
								typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedShipmentServiceCarrier(shipmentServiceDetail, $index, 'shipment.serviceDetail.flightNo.'+$index);"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> 
								<span class="select-arrow"><b></b></span>
						</div>
						<span class="error-message"
							ng-show="errorMap.get('shipment.serviceDetail.carrier.'+$index)!=null"> <small>
								{{errorMap.get('shipment.serviceDetail.carrier.'+$index)}} </small>
						</span>
					</div>

					<div class="col-md-1 col-xs-1 col-sm-1 col-lg-1 pr0 mt-23">
						<button type="button" class="btn btn-default btn-xs paddingtrbl mr0 
						pull-right"
							ng-click="flightmodel(shipmentServiceDetail)" tabindex="-1">
							<span class="icon-air-plane airsize" data-placement="top" title="Flight Schedule"></span>
						</button>
					</div>

					<div class="nopadding">
						<!-- <span class="error-message"
							ng-show="errorMap.get('shipment.serviceDetail.carrier.'+$index)!=null"> <small>
								{{errorMap.get('shipment.serviceDetail.carrier.'+$index)}} </small>
						</span> -->
					</div>

				</div>
				
				<div class="col-xs-6 col-md-6 col-lg-6 col-sm-12 form-group">
					<label class="text-inherit">Flight No</label>
					<input type="text"
						id="{{'shipment.serviceDetail.flightNo.'+$index}}"
						input-focus="{{errorMap.get('shipment.serviceDetail.flightNo.'+$index)!=null}}"
						ng-class="{'error-control':errorMap.get('shipment.serviceDetail.flightNo.'+$index)!=null}"
						maxlength="10"
						capitalize 
						ng-model="shipmentServiceDetail.routeNo"
						ng-keydown="selectedShipmentServiceRouteNo(shipmentServiceDetail,$index,'shipment.serviceDetail.mawb.'+$index)"
						class="form-control text-left">
					<div>
						<span class="error-message"
							ng-show="errorMap.get('shipment.serviceDetail.flightNo.'+$index)!=null">
							<small>{{errorMap.get('shipment.serviceDetail.flightNo.'+$index)}}</small>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-7 col-sm-7 col-lg-8">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 form-group ">
					<div class="row">
						<div class="col-md-8 col-xs-8 col-sm-7 col-lg-7">
							<label>MAWB No<!-- <span>*</span> --></label>
							<input 
								 type="text" id="{{'shipment.serviceDetail.mawb.'+$index}}"
								 input-focus="{{errorMap.get('shipment.serviceDetail.mawb.'+$index)!=null}}"
		                         ng-keydown="selectedShipmentServiceMawb(shipmentServiceDetail,$index,'shipment.serviceDetail.etd.'+$index,$event)" 
		                         ng-disabled="shipmentServiceDetail.lastUpdatedStatus.serviceStatus=='Generated'"
		                         ng-class="{'error-control':errorMap.get('shipment.serviceDetail.mawb.'+$index)!=null}"
		                         maxlength="11"
		                         capitalize
		                         ng-model="shipmentServiceDetail.mawbNo"
		                         class="form-control text-left">
							<div>
								<span class="error-message"
									ng-show="errorMap.get('shipment.serviceDetail.mawb.'+$index)!=null"> <small>{{errorMap.get('shipment.serviceDetail.mawb.'+$index)}}</small></span>
							</div>

						</div>
						 <div class="col-lg-4 col-md-4 col-sm-5 col-xs-4 pl0 mt-23" ng-show="shipmentServiceDetail.serviceMaster.importExport=='Export'&& shipmentServiceDetail.lastUpdatedStatus.serviceStatus!='Generated'">
                       <button type="button" class="btn btn-property accent-btn pull-right mr0" ng-click="fetchMawb(shipmentServiceDetail, $index)" tabindex="-1">fetch MAWB</button>
                   </div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6  col-md-3 col-lg-4 form-group">
					<label>ETD </label>
					<div class="inputBox">
                  <input class="form-control"
                          id="{{'shipment.serviceDetail.etd.'+$index}}"
                          ng-model="shipmentServiceDetail.etd"
                          datetimepicker
                          date-callback="selectedShipmentServiceEtd(shipmentServiceDetail,$index,'shipment.serviceDetail.eta.'+$index)"
                          datetimepicker-options="{{directiveDateTimePickerOpts}}">
                      <span class="inputIcon">
                      	<i class="icon-date" aria-hidden="true"></i>
                      </span> 
                      <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.etd.'+$index)!=null"> 
                      	<small>{{errorMap.get('shipment.serviceDetail.etd.'+$index)}}</small>
                      </span>
               </div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-4 form-group">
					<label>ETA </label>
					<div class="inputBox">
                  <input id="{{'shipment.serviceDetail.eta.'+$index}}" class="form-control"
                         ng-model="shipmentServiceDetail.eta"
                         datetimepicker
                         date-callback="selectedShipmentServiceEta(shipmentServiceDetail,$index,$index+'connectionMove0')"
                         datetimepicker-options="{{dateTimePickerOptionsLeft}}">
                      <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span> 
                  <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.eta.'+$index)!=null"> 
                      	<small>{{errorMap.get('shipment.serviceDetail.eta.'+$index)}}</small>
                      </span>
              </div>

				</div>
			</div>
		</div>
</div>
</div>



	<!--row ends-->
	<div class="row shade3 pl0 pr0">
		<div class="col-xs-12 pl0 pr0">


			<div class="panel-body nopadding">
				<div class="mb0 bor-b-0  pb0">

					<div class=" ">

						<div
							ng-click="conInfo=!conInfo;" tabindex="-1"
							ng-init="conInfo=true;"
							class=" mb0 cursorPt flex align-justify align-middle title"
							  ng-class="$uiShipmentDataService.connectionStatus(shipmentServiceDetail)?'done-approve':''">
							<div >
								<h5 style="color:{{$uiShipmentDataService.connectionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}">Connections</h5>
							</div>
							<div>
								<i  style="color:{{$uiShipmentDataService.connectionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}" class="{{conInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>

						</div>
						<div class=" pt0 fx-fade-normal fx-ease-sin mt10 marginlr15px mb-5"
							ng-hide="!conInfo">
							<div class="row nomargin nopadding">
								<connection-table index-key="$index"
									table-data="shipmentServiceDetail.connectionList"
									depend-data="shipmentServiceDetail"
									table-check="shipmentServiceDetail.isConnectionCheck"
									fn-role="roleAccess(param)"
									add-role="$roleConstant.CRM_SHIPMENT_SERVICE_SERVICE_ROUTING_CONNECTION_CREATE"
									edit-role="$roleConstant.CRM_SHIPMENT_SERVICE_SERVICE_ROUTING_CONNECTION_MODIFY"
									delete-role="$roleConstant.CRM_SHIPMENT_SERVICE_SERVICE_ROUTING_CONNECTION_DELETE">
								</connection-table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>