<div>



	<div class="form-group mtb-15 shade3">
		<div class="col-xs-12 pl0 pr0">
			<div class="row nomargin">
				<div class="col-xs-6">
					<div class="row">
						<div class="col-xs-7 pr0 mb-15 pl0">
							<label>Transporter</label>
							<div class="select-auto">
								<input type="text" class="form-control"
									id="{{'pickTransporter'+$index}}" autocomplete="off"
									ng-model="shipmentServiceDetail.pickUpDeliveryPoint.transporter"
									uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxShipmentTransporterEvent($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="selectedShipmentTransporter(shipmentServiceDetail,$index,'transporterAddress')"
									typeahead-focus-on-select="false" typeahead-focus-first="true"
									typeahead-editable="false" typeahead-min-length="1"
									typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
							</div>

							<span class="error-message"
								ng-show="errorMap.get('pickTransporter'+$index)!=null"> <small>{{errorMap.get('pickTransporter'+$index)}}</small>
							</span>
						</div>
						<div class="col-xs-1 plr0 text-center mt-25"
							ng-init="showAddress=false">
							<a data-container="false"
								â€¨

                                            tabindex="-1"
								href="javascript:void(0)"
								ng-class="{'activeLocation':showAddress==true}"
								class="selectPicker-sm fit_picker"
								ng-click="showAddress=!showAddress"> <i
								class="icon-location" data-placement="auto right"
								bs-tooltip="addressIcon"></i>
							</a>
						</div>

					</div>
				</div>
				<div class="col-xs-11" ng-show="showAddress">
					<div class="row">
						<div class="col-xs-6 ">
							<div class="row">
								<div class="col-xs-12 ">
									<label>Address</label>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-8 mb-15">
									<textarea msd-elastic id="{{'transporterAddress'+$index}}"
										ng-change="validatePickUpDelivery(2)" class="form-control "
										rows="3"
										ng-class="{'error-control':errorMap.get('pickTransporterAddress'+$index)!=null}"
										ng-model="shipmentServiceDetail.pickUpDeliveryPoint.transporterAddress">
												</textarea>
								</div>

								<div class="col-xs-1 text-left mt-2 plr0">
									<a data-container="false"
										â€¨
                                                    data-placement="auto right"
										bs-tooltip="selectAddress" href="javascript:void(0)"
										tabIndex="-1" class="selectPicker-sm"
										ng-click="showTransportPartyAddress(shipmentServiceDetail)">
										<i class="fa fa-chevron-right"></i>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!--PICKUP start-->
			</div>
		</div>
	</div>








	<div class="row shade3 pl0 pr0">
		<!--pickup place starts-->

		<div class="col-xs-12 nopadding pickupPanels">

			<div class="panel panel-default bor-0">


				<div ng-click="picksInfo=!picksInfo" ng-init="picksInfo=false"
					class="mb0 cursorPt flex align-justify align-middle title fillcolor">
					<h5>Pick Up</h5>

					<div>
						<i
							class="{{picksInfo==true?'icon-uparrow':' icon-downarrow'}} whitecolor"
							aria-hidden="true"></i>
					</div>

					<!--<div>-->
					<!--<input type="checkbox" id="{{'ourPickUp'+$index}}"  ng-model="shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp" > <span>Our Pick Up</span>-->
					<!--</div>-->
				</div>
				<div ng-hide="!picksInfo" class="panel-body  nopadding">
					<div class="row">
						<div class="col-xs-12 nopadding pl0 pr0">

							<div class="checkbox nomargin mt-5 marginl30">
								<label> <input type="checkbox"
									id="{{'ourPickUp'+$index}}"
									ng-change="changePickUpToggle(shipmentServiceDetail)"
									ng-model="shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp">Our
									Pick Up
								</label>
							</div>
						</div>
					</div>
					<div class="col-xs-12 nopadding ">

						<div class="row nomargin">
							<div class="col-xs-7 col-md-7 col-lg-7 pl0 pr0">

								<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0 mt-5">
									<div class="row nomargin">
										<div class="col-xs-12">
											<label class="text-inherit">Pick up Point</label>
											<div class="select-auto">
												<input type="text" class="form-control"
													id="{{'pickuppoint'+$index}}" autocomplete="off"
													ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickupPoint"
													uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxShipmentPickUpEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedShipmentPickUpPoint(shipmentServiceDetail,$index,'pickUpFrom')"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
											</div>

											<span class="error-message"
												ng-show="errorMap.get('pickuppoint'+$index)!=null"> <small>{{errorMap.get('pickuppoint'+$index)}}</small>
											</span>
										</div>
									</div>
									<div class="row nomargin">
										<div class="col-xs-12 mt-5">
											<label class="text-inherit">Pick up Place</label>
										</div>
									</div>
									<div class="row nomargin">



										<div class="col-xs-12">
											<!-- 																							 <label class="custom-label ">Address 1<span
																					class="reqColor">*</span> 
																				</label>-->
											<input id="{{'addressLine1PartyMaster'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="partyAddressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 1">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1'+$index)!=null">
													<small> {{errorMap.get('addressLine1'+$index)}} </small>
												</span>
											</div>
										</div>


										<div class="col-xs-12 mt10">
											<!--  <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label> -->
											<input id="{{'addressLine1PartyMaster'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="partyAddressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 2">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1'+$index)!=null">
													<small> {{errorMap.get('addressLine1'+$index)}} </small>
												</span>
											</div>
										</div>


										<div class="col-xs-12 mt10">
											<!-- <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label> -->
											<input id="{{'addressLine1PartyMaster'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="partyAddressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 3">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1'+$index)!=null">
													<small> {{errorMap.get('addressLine1'+$index)}} </small>
												</span>
											</div>
										</div>


										<div class="col-xs-12 mt10">
											<div class="col-xs-4 pl0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'DeliveryPoint'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
														uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="State"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('deliveryPoint'+$index)!=null">
													<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
												</span>

											</div>

											<div class="col-xs-4 pl0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'DeliveryPoint'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
														uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="City"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('deliveryPoint'+$index)!=null">
													<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
												</span>

											</div>
											<div class="col-xs-4 pl0 pr0">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'DeliveryPoint'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
														uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="Zip"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('deliveryPoint'+$index)!=null">
													<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
												</span>

											</div>
										</div>


										<!-- <div
																					class="col-xs-2 mt-2 nopadding plr0 text-center">
																					<label class="visible-hide">Empty</label>
																					<a
																						ng-hide="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
																						tabIndex="-1" data-container="false"
																						â€¨
                                                                   data-placement="auto right"
																						bs-tooltip="selectPickUpPlace"
																						href="javascript:void(0)"
																						ng-click="showPickUpPlacePartyAddress(shipmentServiceDetail)"
																						class="selectPicker-sm cur-notallow"> <i
																						class="fa fa-chevron-right"></i>
																					</a>
																				</div> -->
									</div>

								</div>



								<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0 mt-5">
									<div class="row nomargin">
										<div class="col-xs-12">
											<label class="text-inherit">Pick up From</label>
											<div class="select-auto">
												<input type="text" class="form-control"
													id="{{'pickUpFrom'+$index}}" autocomplete="off"
													ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickupFrom"
													ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
													uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPickupFromEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedPickUpFrom(shipmentServiceDetail,$index,'PickupPlace')"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
											</div>

											<span class="error-message"
												ng-show="errorMap.get('pickupFrom'+$index)!=null"> <small>{{errorMap.get('pickupFrom'+$index)}}</small>
											</span>
										</div>
									</div>
									<div class="row nomargin">

										<div class="form-inline">



											<div class="col-xs-12 mb-10 mt-5">

												<label>Contact Details</label>
												<div class="form-group col-xs-12  nopadding">
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-user"></i>
														</div>
														<input type="text"
															ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
															id="{{'pickUpContactPerson'+$index}}" maxlength="100"
															ng-change="validatePickUpDelivery(6,shipmentServiceDetail,$index)"
															ng-class="{'error-control':errorMap.get('pickUpContactPerson'+$index)!=null}"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpContactPerson"
															class="form-control">
													</div>
													<span class="error-message"
														ng-show="errorMap.get('pickUpContactPerson'+$index)!=null"><small>{{errorMap.get('pickUpContactPerson'+$index)}}</small>
													</span>
												</div>
											</div>
											<div class="col-xs-12 mb-10">
												<!--<label class="text-inherit"><i-->
												<div class="form-group col-xs-12  nopadding">
													<!--class="icon-email pr8"></i>eMail</label>-->

													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-email "></i>
														</div>
														<input type="text" id="{{'pickUpemail'+$index}}"
															maxlength="500"
															ng-blur="validatePickUpDelivery(9,shipmentServiceDetail,$index)?'':navigateToNextField('pickUpemail'+$index)"
															ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
															ng-class="{'error-control':errorMap.get('pickUpemail'+$index)!=null}"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpEmail"
															class="form-control">
													</div>
													<span class="error-message"
														ng-show="errorMap.get('pickUpemail'+$index)!=null"><small>{{errorMap.get('pickUpemail'+$index)}}</small></span>
												</div>
											</div>
											<div class="col-xs-12 mb-10">
												<!--<label><i class="icon-mobile pr8"></i>Mobile-->
												<!--No</label>-->
												<div class="form-group col-xs-12   nopadding">
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-mobile "></i>
														</div>
														<input type="text" id="{{'pickUpmobile'+$index}}"
															ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
															ng-change="validatePickUpDelivery(7,shipmentServiceDetail,$index)"
															maxlength="100"
															ng-class="{'error-control':errorMap.get('pickUpMobile'+$index)!=null}"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpMobileNo"
															class="form-control">
													</div>
												</div>
												<span class="error-message"
													ng-show="errorMap.get('pickUpMobile'+$index)!=null"><small>{{errorMap.get('pickUpMobile'+$index)}}</small></span>
											</div>


											<div class="col-xs-12 mb-10">

												<!--<label><i class="icon-phone pr8"></i>Phone-->
												<!--No</label>-->
												<div class="form-group col-xs-12  nopadding">
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-phone"></i>
														</div>
														<input type="text" id="{{'pickUpMobileNo'+$index}}"
															ng-change="validatePickUpDelivery(8,shipmentServiceDetail,$index)"
															maxlength="100"
															ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
															ng-class="{'error-control':errorMap.get('pickUpPhoneNo'+$index)!=null}"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPhoneNo"
															class="form-control">
													</div>
													<span class="error-message"
														ng-show="errorMap.get('pickUpPhoneNo'+$index)!=null"><small>{{errorMap.get('pickUpPhoneNo'+$index)}}</small></span>
												</div>
											</div>







										</div>

									</div>
								</div>





							</div>
							<div class="col-xs-5 nomargin nopadding">
								<div class="col-xs-10  col-md-10 col-lg-10 mb-5 mt-5">
									<label class="text-inherit">Pick up Follow Up Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'pickUpFollowUp'+$index}}"
											ng-change="validatePickUpDelivery(10,shipmentServiceDetail,$index)"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
											ng-class="{'error-control':errorMap.get('pickfollowup'+$index)!=null}"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpFollowUp"
											date-callback="navigateToNextField('PlannedPickUp'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>

								<div class="col-xs-5 col-md-5 col-lg-5">
									<label>Planned Pick Up Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'PlannedPickUp'+$index}}"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
											ng-change="validatePickUpDelivery(11,shipmentServiceDetail,$index)"
											ng-class="{'error-control':errorMap.get('pickplanned'+$index)!=null}"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlanned"
											date-callback="navigateToNextField('ActualPickUp'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
								<div class="col-xs-5 col-md-5 col-lg-5">
									<label>Actual Pick Up Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'ActualPickUp'+$index}}"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual"
											date-callback="navigateToNextField('DeliveryPoint'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>


							</div>
						</div>


					</div>
				</div>
			</div>


		</div>
	</div>
	<!--  pickup place ends -->

	<div class="row shade3 pl0 pr0">
		<!-- Delivery to CFS starts-->

		<div class="col-xs-12 nopadding pickupPanels mt-5">

			<div class="panel panel-default bor-0">
				<div ng-click="deliveryInfo=!deliveryInfo"
					ng-init="deliveryInfo=false"
					class="mb0 cursorPt flex align-justify align-middle title">
					<h5>Delivery to CFS / Depot</h5>
					<div>
						<i class="{{deliveryInfo==true?'icon-uparrow':' icon-downarrow'}}"
							aria-hidden="true"></i>
					</div>


				</div>
				<div ng-hide="!deliveryInfo" class="panel-body  nopadding">
					<div class="col-xs-12 nopadding ">

						<div class="row nomargin">
							<div class="col-xs-7 col-md-7 col-lg-7 pl0 pr0">

								<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
									<div class="row nomargin">
										<div class="col-xs-12 mt10">
											<label>Delivery Point</label>
											<div class="select-auto">
												<input type="text" class="form-control"
													id="{{'DeliveryPoint'+$index}}" autocomplete="off"
													ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
													uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
											</div>

											<span class="error-message"
												ng-show="errorMap.get('deliveryPoint'+$index)!=null">
												<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
											</span>

										</div>
									</div>
									<div class="row nomargin">
										<div class="col-xs-12 mt-5">
											<label>Delivery Place</label>
										</div>
									</div>


									<div class="row nomargin">
										<div class="col-xs-12">
											<!--  <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label> -->
											<input id="{{'addressLine1PartyMaster'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="partyAddressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 1">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1'+$index)!=null">
													<small> {{errorMap.get('addressLine1'+$index)}} </small>
												</span>
											</div>
										</div>
									</div>
									<div class="row nomargin">
										<div class="col-xs-12 mt10">
											<!-- <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label> -->
											<input id="{{'addressLine1PartyMaster'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="partyAddressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 2">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1'+$index)!=null">
													<small> {{errorMap.get('addressLine1'+$index)}} </small>
												</span>
											</div>
										</div>
									</div>
									<div class="row nomargin">
										<div class="col-xs-12 mt10">
											<!-- <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label> -->
											<input id="{{'addressLine1PartyMaster'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="partyAddressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 3">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1'+$index)!=null">
													<small> {{errorMap.get('addressLine1'+$index)}} </small>
												</span>
											</div>
										</div>
									</div>
									<div class="row nomargin">
										<div class="col-xs-12 mt10">
											<div class="col-xs-4 pl0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'DeliveryPoint'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
														uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="State"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('deliveryPoint'+$index)!=null">
													<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
												</span>

											</div>

											<div class="col-xs-4 pl0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'DeliveryPoint'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
														uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="City"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('deliveryPoint'+$index)!=null">
													<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
												</span>

											</div>
											<div class="col-xs-4 pl0 pr0">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'DeliveryPoint'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
														uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="Zip"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('deliveryPoint'+$index)!=null">
													<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
												</span>

											</div>
										</div>
									</div>
									<!-- <div class="col-xs-2 mt-2 nopadding plr0 text-center">
                                                                <label class="visible-hide">Empty</label>
                                                                <a ng-hide="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
                                                                   tabIndex="-1"
                                                                   data-container="false"â€¨
                                                                   data-placement="auto right"
                                                                     bs-tooltip="selectPickUpPlace"
                                                                   href="javascript:void(0)" ng-click="showPickUpPlacePartyAddress(shipmentServiceDetail)"
                                                                   class="selectPicker-sm cur-notallow"> <i
                                                                        class="fa fa-chevron-right"></i>
                                                                </a>
                                                            </div> -->


								</div>
								<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
									<div class="row nomargin">
										<div class="col-xs-12 mt10">
											<label>Delivery to CFS / Depot</label>

											<div class="select-auto">
												<input type="text" class="form-control"
													id="{{'DeliveryTo'+$index}}" autocomplete="off"
													ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryFrom"
													uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxDeliveryFromEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedDeliveryFrom(shipmentServiceDetail,$index,'deliveryPlace')"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
											</div>

											<span class="error-message"
												ng-show="errorMap.get('deliveryFrom'+$index)!=null">
												<small>{{errorMap.get('deliveryFrom'+$index)}}</small>
											</span>
										</div>
									</div>
									<div class="row nomargin">

										<div class="form-inline">



											<div class="col-xs-12 mb-10 mt-5">
												<div class="form-group nopadding col-xs-12">

													<label>Contact Details</label>
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-user"></i>
														</div>

														<input type="text" id="{{'deliveryContactPerson'+$index}}"
															maxlength="100"
															ng-change="validatePickUpDelivery(15,shipmentServiceDetail,$index)"
															ng-class="{'error-control':errorMap.get('deliveryContactPerson'+$index)!=null}"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryContactPerson"
															class="form-control">
													</div>
													<span class="error-message"
														ng-show="errorMap.get('deliveryContactPerson'+$index)!=null"><small>{{errorMap.get('deliveryContactPerson'+$index)}}</small></span>
												</div>
											</div>
											<div class="col-xs-12 mb-10">
												<div class="form-group nopadding col-xs-12">

													<!--<label class="text-inherit"><i-->
													<!--class="icon-email pr8"></i>eMail</label>-->
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-email"></i>
														</div>
														<input type="text" id="{{'deliveryemail'+$index}}"
															ng-blur="validatePickUpDelivery(18,shipmentServiceDetail,$index)?'':navigateToNextField('deliveryemail'+$index)"
															maxlength="500"
															ng-class="{'error-control':errorMap.get('deliveryEmail'+$index)!=null}"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryEmail"
															class="form-control"> <span class="error-message"
															ng-show="errorMap.get('deliveryEmail'+$index)!=null"><small>{{errorMap.get('deliveryEmail'+$index)}}</small></span>
													</div>
												</div>
											</div>
											<div class="col-xs-12 mb-10">
												<div class="form-group nopadding col-xs-12">
													<!--<label><i class="icon-mobile pr8"></i>Mobile-->
													<!--No</label>-->
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-mobile"></i>
														</div>


														<input type="text" id="{{'deliverymobile'+$index}}"
															ng-change="validatePickUpDelivery(16,shipmentServiceDetail,$index)"
															maxlength="100"
															ng-class="{'error-control':errorMap.get('deliveryMobile'+$index)!=null}"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryMobileNo"
															class="form-control"> <span class="error-message"
															ng-show="errorMap.get('deliveryMobile'+$index)!=null"><small>{{errorMap.get('deliveryMobile'+$index)}}</small></span>
													</div>
												</div>
											</div>


											<div class="col-xs-12 mb-10">
												<div class="form-group nopadding col-xs-12">
													<!--<label><i class="icon-phone pr8"></i>Phone-->
													<!--No</label>-->
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-phone"></i>
														</div>
														<input type="text" id="{{'deliveryphone'+$index}}"
															ng-change="validatePickUpDelivery(17,shipmentServiceDetail,$index)"
															maxlength="100"
															ng-class="{'error-control':errorMap.get('deliveryPhoneNo'+$index)!=null}"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPhoneNo"
															class="form-control">
													</div>
													<span class="error-message"
														ng-show="errorMap.get('deliveryPhoneNo'+$index)!=null"><small>{{errorMap.get('deliveryPhoneNo'+$index)}}</small></span>
												</div>
											</div>







										</div>


									</div>
								</div>




							</div>
							<div class="col-xs-5 nomargin nopadding">
								<div class="col-xs-10  col-md-10 col-lg-10 mb-5 mt10">
									<label>Expected Delivery Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'ExpectedDelivery'+$index}}"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryExpected"
											ng-change="validatePickUpDelivery(19,shipmentServiceDetail,$index)"
											date-callback="navigateToNextField('DeliveryDate'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
								<div class="col-xs-10 col-md-10 col-lg-10 mb-5">
									<label>Delivery Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'DeliveryDate'+$index}}"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryActual"
											ng-change="validatePickUpDelivery(20,shipmentServiceDetail,$index)"
											date-callback="navigateToNextField('DoorDeliveryPoint'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>

							</div>


						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- Delivery to CFS End -->
	<!--Door Delivery starts-->
	<div class="row">


		<div class="col-xs-12 nopadding pickupPanels mt-5">

			<div class="panel panel-default bor-0">
				<div ng-click="doorInfo=!doorInfo" ng-init="doorInfo=false"
					class="mb0 cursorPt flex align-justify align-middle title">
					<h5>Door Delivery</h5>
					<div>
						<i class="{{doorInfo==true?'icon-uparrow':' icon-downarrow'}}"
							aria-hidden="true"></i>
					</div>


				</div>
				<div ng-hide="!doorInfo" class="panel-body  nopadding">
					<div class="col-xs-12 nopadding ">

						<div class="row nomargin">
							<div class="col-xs-7 col-md-7 col-lg-7 pl0 pr0">

								<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
									<div class="row nomargin">
										<div class="col-xs-12 mt10">
											<label>Door Delivery Point</label>
											<div class="select-auto">
												<input type="text" class="form-control"
													id="{{'DoorDeliveryPoint'+$index}}" autocomplete="off"
													ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPoint"
													uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxDoorDeliveryPointEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedDoorDeliveryPoint(shipmentServiceDetail,$index,'doorDeliveryFrom')"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
											</div>

											<span class="error-message"
												ng-show="errorMap.get('doorDeliveryPoint'+$index)!=null">
												<small>{{errorMap.get('doorDeliveryPoint'+$index)}}</small>
											</span>

										</div>
									</div>

									<div class="row nomargin">
										<div class="col-xs-12 mt-5">
											<label>Door Delivery Place</label>
										</div>
									</div>


									<div class="row nomargin ">
										<div class="col-xs-12">
											<!-- 				 <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label>
																			 -->
											<input id="{{'addressLine1PartyMaster'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="partyAddressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 1">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1'+$index)!=null">
													<small> {{errorMap.get('addressLine1'+$index)}} </small>
												</span>
											</div>
										</div>
									</div>
									<div class="row  nomargin">
										<div class="col-xs-12 mt10">
											<!--  <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label> -->
											<input id="{{'addressLine1PartyMaster'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="partyAddressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 2">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1'+$index)!=null">
													<small> {{errorMap.get('addressLine1'+$index)}} </small>
												</span>
											</div>
										</div>
									</div>
									<div class="row nomargin">
										<div class="col-xs-12  mt10">
											<!-- <label class="custom-label ">Address 1<span
																					class="reqColor">*</span>
																				</label> -->
											<input id="{{'addressLine1PartyMaster'+$index}}" type="text"
												input-focus="{{errorMap.get('addressLine1'+$index)!=null}}"
												class="form-control"
												ng-model="partyAddressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1'+$index)!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 3">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1'+$index)!=null">
													<small> {{errorMap.get('addressLine1'+$index)}} </small>
												</span>
											</div>
										</div>
									</div>
									<div class="row nomargin">
										<div class="col-xs-12  mt10">
											<div class="col-xs-4 pl0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'DeliveryPoint'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
														uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="State"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('deliveryPoint'+$index)!=null">
													<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
												</span>

											</div>

											<div class="col-xs-4 pl0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'DeliveryPoint'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
														uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="City"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('deliveryPoint'+$index)!=null">
													<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
												</span>

											</div>
											<div class="col-xs-4 pl0 pr0">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'DeliveryPoint'+$index}}" autocomplete="off"
														ng-model="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint"
														uib-typeahead="lovObject as lovObject.cfsName for lovObject in ajaxDeliveryPointEvent($viewValue,shipmentServiceDetail,$index)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryPoint(shipmentServiceDetail,$index,'DeliveryTo')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="Zip"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('deliveryPoint'+$index)!=null">
													<small>{{errorMap.get('deliveryPoint'+$index)}}</small>
												</span>

											</div>
										</div>
									</div>

									<!-- <div class="col-xs-2 mt-2 nopadding plr0 text-center">
                                                                <label class="visible-hide">Empty</label>
                                                                <a ng-hide="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
                                                                   tabIndex="-1"
                                                                   data-container="false"â€¨
                                                                   data-placement="auto right"
                                                                     bs-tooltip="selectPickUpPlace"
                                                                   href="javascript:void(0)" ng-click="showPickUpPlacePartyAddress(shipmentServiceDetail)"
                                                                   class="selectPicker-sm cur-notallow"> <i
                                                                        class="fa fa-chevron-right"></i>
                                                                </a>
                                                            </div> -->

								</div>
								<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
									<div class="row nomargin">
										<div class="col-xs-12 mt10 ">
											<label>Door Delivery To</label>
											<div class="select-auto">
												<input type="text" class="form-control"
													id="{{'doorDeliveryFrom'+$index}}" autocomplete="off"
													ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryFrom"
													uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxDoorDeliveryFromEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedDoorDeliveryFrom(shipmentServiceDetail,$index,'doordelivery')"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
											</div>

											<span class="error-message"
												ng-show="errorMap.get('doorDeliveryFrom'+$index)!=null">
												<small>{{errorMap.get('doorDeliveryFrom'+$index)}}</small>
											</span>

										</div>
									</div>
									<div class="row nomargin">

										<div class="form-inline">



											<div class="col-xs-12 mb-10 mt-5">
												<label>Contact Details</label>

												<div class="form-group nopadding nomargin  col-xs-12">
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-user"></i>
														</div>
														<input type="text" maxlength="100"
															id="{{'doorDeliveryContactPerson'+$index}}"
															ng-change="validatePickUpDelivery(24,shipmentServiceDetail,$index)"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryContactPerson"
															ng-class="{'error-control':errorMap.get('doorDeliveryContactPerson',shipmentServiceDetail,$index)!=null}"
															class="form-control"> <span class="error-message"
															ng-show="errorMap.get('doorDeliveryContactPerson'+$index)!=null"><small>
																{{errorMap.get('doorDeliveryContactPerson'+$index)}} </small></span>
													</div>
												</div>
											</div>
											<div class="col-xs-12 mb-10">

												<!--<label class="text-inherit"><i-->
												<!--class="icon-email pr8"></i>eMail</label>-->
												<div class="form-group nopadding nomargin col-xs-12">
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-email"></i>
														</div>
														<input type="text" id="{{'doorDeliveryEmail'+$index}}"
															ng-blur="validatePickUpDelivery(27,shipmentServiceDetail,$index)?'':navigateToNextField('doorDeliveryEmail'+$index)"
															maxlength="500"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryEmail"
															ng-class="{'error-control':errorMap.get('doorDeliveryEmail'+$index)!=null}"
															class="form-control"> <span class="error-message"
															ng-show="errorMap.get('doorDeliveryEmail'+$index)!=null"><small>
																{{errorMap.get('doorDeliveryEmail'+$index)}} </small></span>
													</div>
												</div>
											</div>

											<div class="col-xs-12 mb-10">

												<!--<label><i class="icon-mobile pr8"></i>Mobile-->
												<!--No</label>-->
												<div class="form-group nomargin nopadding col-xs-12">
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-mobile"></i>
														</div>


														<input type="text" maxlength="100"
															id="{{'doorDeliveryMobileNo'+$index}}"
															ng-change="validatePickUpDelivery(25,shipmentServiceDetail,$index)"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo"
															ng-class="{'error-control':errorMap.get('doorDeliveryMobileNo'+$index)!=null}"
															class="form-control"> <span class="error-message"
															ng-show="errorMap.get('doorDeliveryMobileNo'+$index)!=null"><small>
																{{errorMap.get('doorDeliveryMobileNo'+$index)}} </small></span>
													</div>
												</div>
											</div>


											<div class="col-xs-12 mb-10">

												<!--<label><i class="icon-phone pr8"></i>Phone-->
												<!--No</label>-->


												<div class="form-group nomargin nopadding col-xs-12">
													<div class="input-group col-xs-12">
														<div class="input-group-addon">
															<i class="icon-phone"></i>
														</div>

														<input type="text" maxlength="100"
															id="{{'doorDeliveryPhoneNo'+$index}}"
															ng-change="validatePickUpDelivery(26,shipmentServiceDetail,$index)"
															ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPhoneNo"
															ng-class="{'error-control':errorMap.get('doorDeliveryPhoneNo'+$index)!=null}"
															class="form-control"> <span class="error-message"
															ng-show="errorMap.get('doorDeliveryPhoneNo'+$index)!=null"><small>
																{{errorMap.get('doorDeliveryPhoneNo'+$index)}} </small></span>
													</div>
												</div>
											</div>







										</div>

									</div>
								</div>




							</div>
							<div class="col-xs-5 nomargin nopadding">
								<div class="col-xs-10  col-md-10 col-lg-10 mb-5 mt10">
									<label>Expected Door Delivery Date</label>
									<div class="inputBox">
										<input
											ng-change="validatePickUpDelivery(28,shipmentServiceDetail,$index)"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryExpected"
											class="form-control"
											date-callback="navigateToNextField('doorDelivery'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
								<div class="col-xs-5 col-md-5 col-lg-5">
									<label>Door Delivery Date</label>
									<div class="inputBox">
										<input id="{{'doorDelivery'+$index}}" class="form-control"
											ng-change="validatePickUpDelivery(29,shipmentServiceDetail,$index)"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryActual"
											date-callback="navigateToNextField('pickTransporter'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>
								<div class="col-xs-5 col-md-5 col-lg-5">
									<label>Actual Pick Up Date</label>
									<div class="inputBox">
										<input class="form-control" id="{{'ActualPickUp'+$index}}"
											ng-disabled="!shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp"
											ng-model="shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual"
											date-callback="navigateToNextField('DeliveryPoint'+$index)"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
								</div>

							</div>
						</div>


					</div>
				</div>
			</div>


		</div>
	</div>
	<!--  Door Delivery ends -->
	<!--row ends-->

</div>