<!-- Booking Details Starts Here -->
<div class="row normargin">
    <div class="col-xs-12 pt10 pl0 pr0">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">
            <label>Booking Person<span>*</span></label>
            <div class="select-auto">
                <input type="text" class="form-control" id="{{'shipment.serviceDetail.bookingPerson.'+$index}}" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.bookingPerson.'+$index)!=null}" input-focus="{{errorMap.get('shipment.serviceDetail.bookingPerson.'+$index)!=null}}"
                    autocomplete="off" ng-model="shipmentServiceDetail.customerService" uib-typeahead="lovObject as lovObject.employeeName for lovObject in $AutoCompleteService.getEmplyoeeList($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                    typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedCustomerService(shipmentServiceDetail,$index,'shipment.serviceDetail.coLoader.'+$index);"
                    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
            </div>
            <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.bookingPerson.'+$index)!=null">
         <small> {{errorMap.get('shipment.serviceDetail.bookingPerson.'+$index)}} </small>
         </span>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3  form-group">
            <label>Co-loader</label>
            <div class="select-auto">
                <input type="text" class="form-control" id="{{'shipment.serviceDetail.coLoader.'+$index}}" input-focus="{{errorMap.get('shipment.serviceDetail.coLoader.'+$index)!=null}}" autocomplete="off" tabindex="-1" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.coLoader.'+$index)!=null}"
                    ng-model="shipmentServiceDetail.coLoader" uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                    typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedShipmentServiceDetailCoLoader(shipmentServiceDetail,$index,'shipment.serviceDetail.division.'+$index);"
                    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
            </div>
            <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.coLoader.'+$index)!=null">
         <small> {{errorMap.get('shipment.serviceDetail.coLoader.'+$index)}} </small>
         </span>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">
            <label>Division</label>
            <div class="select-auto">
                <input type="text" class="form-control" id="{{'shipment.serviceDetail.division.'+$index}}" autocomplete="off" ng-model="shipmentServiceDetail.division" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.division.'+$index)!=null}" input-focus="{{errorMap.get('shipment.serviceDetail.division.'+$index)!=null}}"
                    uib-typeahead="lovObject as lovObject.divisionName for lovObject in $AutoCompleteService.getDivisionList($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true"
                    typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedShipmentServiceDivision(shipmentServiceDetail,$index,'shipment.serviceDetail.projectSp.'+$index);" typeahead-focus-on-select="false"
                    typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">
            <label>Project</label>
            <div class="select-auto">
                <input type="text" class="form-control" id="{{'shipment.serviceDetail.projectSp.'+$index}}" autocomplete="off" ng-model="shipmentServiceDetail.project" input-focus="{{errorMap.get('shipment.serviceDetail.projectSp.'+$index)!=null}}" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.projectSp.'+$index)!=null}"
                    uib-typeahead="lovObject as lovObject.projectName for lovObject in $AutoCompleteService.getProjectList($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true"
                    typeahead-show-loading="true" typeahead-on-select="selectedShipmentServiceProject(shipmentServiceDetail,$index,'shipment.serviceDetail.'+$index+'.document.packMaster.0');" typeahead-focus-on-select="false" typeahead-select-on-exact="true"
                    typeahead-append-to-body="true" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
            </div>
            <span class="error-message" ng-show="errorMap.get('project')!=null"><small>
         {{errorMap.get('project')}} </small></span>
        </div>
    </div>
</div>
<!-- Booking Details ENds Here -->
<!-- Cargo Pack and Dimension Details Starts Here -->
<div class="row">
    <div class="col-xs-12 pl0 pr0">
        <div class="panel-body nopadding">
            <div class="mb0 bor-b-0  pb0">
                <div>
                    <div ng-click="packsInfo=!packsInfo" tabindex="-1" ng-init="packsInfo=true" ng-class="shipment.id!=null || $uiShipmentDataService.packAndDimensionStatus(shipmentServiceDetail)?'done-approve':''" class=" mb0 cursorPt flex align-justify align-middle title">
                        <div>
                            <h5 style="color:{{shipment.id!=null || $uiShipmentDataService.packAndDimensionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}">Packs & Dimension Info</h5>
                        </div>
                        <div>
                            <i style="color:{{shipment.id!=null || $uiShipmentDataService.packAndDimensionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}" class="{{packsInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
                        </div>
                    </div>


                    <div class=" pt0 fx-fade-normal fx-ease-sin " ng-hide="!packsInfo">
                        <div class="row nomargin nopadding">
                            <div class="pt5 clearfix">
                                <div class="row nomargin">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 plr0">

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                                            <label>Pack</label>
                                            <div class="select-auto">
                                                <input type="text" class="form-control" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$index+'.document.packMaster.0')!=null}" input-focus="{{errorMap.get('shipment.serviceDetail.'+$index+'.document.packMaster.0')!=null}}" id="{{'shipment.serviceDetail.'+$index+'.document.packMaster.0'}}"
                                                    autocomplete="off" ng-model="shipmentServiceDetail.documentList[0].packMaster" uib-typeahead="lovObject as lovObject.packName for lovObject in $AutoCompleteService.getPackList($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                    typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="selectedDocumentPackMaster(shipmentServiceDetail.documentList[0], $index, 0,'shipment.serviceDetail.'+$index+'.document.noOfPieces.0','shipment.serviceDetail.hazardous.'+$index)"
                                                    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
                                            </div>
                                            <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.'+$index+'.document.packMaster.0')!=null">
										<small>{{errorMap.get('shipment.serviceDetail.'+$index+'.document.packMaster.0')}}</small>
									</span>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                                            <label class="text-inherit">No of Pieces<span>*</span></label>
                                            <input class="form-control text-right" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$index+'.document.noOfPieces.0')!=null}" input-focus="{{errorMap.get('shipment.serviceDetail.'+$index+'.document.noOfPieces.0')!=null}}" id="{{'shipment.serviceDetail.'+$index+'.document.noOfPieces.0'}}"
                                                maxlength="9" ng-disabled="isDocumentDimensionFound(shipmentServiceDetail.documentList[0])" ng-model="shipmentServiceDetail.documentList[0].noOfPieces" ng-change="validateFields(shipmentServiceDetail.documentList[0], $index, 0, 313, shipmentServiceDetail)"
                                                type="text"> <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.'+$index+'.document.noOfPieces.0')!=null">
										<small>{{errorMap.get('shipment.serviceDetail.'+$index+'.document.noOfPieces.0')}}</small>
									</span>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  form-group ">
                                            <label>Haz</label>
                                            <ul class="list-inline">
                                                <li ng-class="{'opc-5':shipmentServiceDetail.hazardous}">No</li>
                                                <li class="v-align-top">
                                                    <switch tabIndex="0" id="{{'shipment.serviceDetail.hazardous.'+$index}}" ng-model="shipmentServiceDetail.hazardous" class="green">
                                                    </switch>
                                                </li>
                                                <li ng-class="{'opc-5':!shipmentServiceDetail.hazardous}">Yes</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 plr0">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                                            <label>Over Dimension</label>
                                            <ul class="list-inline">
                                                <li ng-class="{'opc-5':shipmentServiceDetail.overDimension}">No</li>
                                                <li class="v-align-top">
                                                    <switch id="{{'shipment.serviceDetail.overDimension.'+$index}}" tabIndex="0" ng-model="shipmentServiceDetail.overDimension" class="green"></switch>
                                                </li>
                                                <li ng-class="{'opc-5':!shipmentServiceDetail.overDimension}">Yes</li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                                            <label>Minimum Shipment</label>
                                            <ul class="list-inline">
                                                <li ng-class="{'opc-5':shipmentServiceDetail.isMinimumShipment}">No</li>
                                                <li class="v-align-top">
                                                    <switch id="{{'shipment.serviceDetail.minShipment.'+$index}}" tabIndex="0" ng-model="shipmentServiceDetail.isMinimumShipment" class="green"></switch>
                                                </li>
                                                <li ng-class="{'opc-5':!shipmentServiceDetail.isMinimumShipment}">Yes</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                                            <label>Hold</label>
                                            <ul class="list-inline">
                                                <li ng-class="{'opc-5':shipmentServiceDetail.holdShipment}">No</li>
                                                <li class="v-align-top">
                                                    <switch id="{{'shipment.serviceDetail.hold.'+$index}}" tabIndex="0" ng-model="shipmentServiceDetail.holdShipment" class="green"></switch>
                                                </li>
                                                <li ng-class="{'opc-5':!shipmentServiceDetail.holdShipment}">Yes</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="row nomargin">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 plr0 ">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group" ng-if="dynamicFormFieldMap.get('Shipment > Service > LBS')=='true'">
                                            <label>Gross Weight (LBS)<span>*</span></label>
                                            <input class="form-control text-right" id="{{'shipment.serviceDetail.'+$index+'.document.grossWeightLBS.0'}}" ng-disabled="isDocumentDimensionFound(shipmentServiceDetail.documentList[0]) || !shipmentServiceDetail.documentList[0].dimensionUnit" maxlength="15"
                                                efsdecimals="$root.weightDecimalPoint" efsdecimal-point="shipmentServiceDetail.country.locale" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$index+'.document.grossWeightLBS.0')!=null}" ng-model="shipmentServiceDetail.documentList[0].grossWeightInPound"
                                                ng-change="validateFields(shipmentServiceDetail.documentList[0], $index, 0, 315, shipmentServiceDetail)" input-focus="{{errorMap.get('shipment.serviceDetail.'+$index+'.document.grossWeightLBS.0')!=null}}" type="text">                                            <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.'+$index+'.document.grossWeightLBS.0')!=null">
												<small>{{errorMap.get('shipment.serviceDetail.'+$index+'.document.grossWeightLBS.0')}}</small>
											</span>
                                            <label class="whitespace-nr m-abs">1 kilogram =
												2.20462 pounds</label>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group " ng-if="dynamicFormFieldMap.get('Shipment > Service > LBS')=='true'">
                                            <label>Volume Weight (LBS)</label>
                                            <input class="form-control text-right" maxlength="15" id="{{'shipment.serviceDetail.'+$index+'.document.volumeWeightLBS.0'}}" efsdecimals="$root.weightDecimalPoint" efsdecimal-point="shipmentServiceDetail.country.locale" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeWeightLBS.0')!=null}"
                                                ng-disabled="isDocumentDimensionFound(shipmentServiceDetail.documentList[0]) || !shipmentServiceDetail.documentList[0].dimensionUnit" ng-model="shipmentServiceDetail.documentList[0].volumeWeightInPound" ng-change="validateFields(shipmentServiceDetail.documentList[0], $index, 0, 316, shipmentServiceDetail)"
                                                input-focus="{{errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeWeightLBS.0')!=null}}" type="text"> <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeWeightLBS.0')!=null">
												<small>
													{{errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeWeightLBS.0')}}</small>
											</span>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group ">
                                            <label>Gross Weight (KG)<span>*</span></label>
                                            <input type="text " class="form-control text-right" id="{{'shipment.serviceDetail.'+$index+'.document.grossWeightKg.0'}}" input-focus="{{errorMap.get('shipment.serviceDetail.'+$index+'.document.grossWeightKg.0')!=null}}" efsdecimals="$root.weightDecimalPoint"
                                                efsdecimal-point="shipmentServiceDetail.country.locale" ng-disabled="isDocumentDimensionFound(shipmentServiceDetail.documentList[0]) || shipmentServiceDetail.documentList[0].dimensionUnit" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$index+'.document.grossWeightKg.0')!=null}"
                                                maxlength="15" ng-change="validateFields(shipmentServiceDetail.documentList[0], $index, 0, 318, shipmentServiceDetail)" ng-model="shipmentServiceDetail.documentList[0].grossWeight">
                                            <div>
                                                <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.'+$index+'.document.grossWeightKg.0')!=null">
													<small>{{errorMap.get('shipment.serviceDetail.'+$index+'.document.grossWeightKg.0')}}</small>
												</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 plr0 m-ipod-10">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                                            <label>Volume Weight (KG)</label>
                                            <input class="form-control text-right" maxlength="15" id="{{'shipment.serviceDetail.'+$index+'.document.volumeWeightKg.0'}}" input-focus="{{errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeWeightKg.0')!=null}}" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeWeightKg.0')!=null}"
                                                efsdecimals="$root.weightDecimalPoint" efsdecimal-point="shipmentServiceDetail.country.locale" ng-disabled="isDocumentDimensionFound(shipmentServiceDetail.documentList[0]) || shipmentServiceDetail.documentList[0].dimensionUnit "
                                                ng-model="shipmentServiceDetail.documentList[0].volumeWeight" ng-change="validateFields(shipmentServiceDetail.documentList[0], $index, 0, 319, shipmentServiceDetail)" type="text">                                            <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeWeightKg.0')!=null">
												<small>{{errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeWeightKg.0')}}</small>
											</span>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                                            <label>Chargeable Weight (KG)</label>
                                            <input type="text" ng-disabled="true" maxlength="15" efsdecimals="$root.weightDecimalPoint" efsdecimal-point="shipmentServiceDetail.country.locale" ng-model="shipmentServiceDetail.documentList[0].chargebleWeight" class="form-control text-right">
                                        </div>


                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                                            <label>Volume (CBM)</label>
                                            <input class="form-control text-right" maxlength="15" id="{{'shipment.serviceDetail.'+$index+'.document.volumeCBM.0'}}" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeCBM.0')!=null}" input-focus="{{errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeCBM.0')!=null}}"
                                                efsdecimals="$root.weightDecimalPoint" efsdecimal-point="shipmentServiceDetail.country.locale" ng-disabled="isDocumentDimensionFound(shipmentServiceDetail.documentList[0])" ng-model="shipmentServiceDetail.documentList[0].bookedVolumeUnitCbm"
                                                type="text" ng-change="validateFields(shipmentServiceDetail.documentList[0], $index, 0, 317, shipmentServiceDetail,'bookedVolumeUnitCbm')">
                                            <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeCBM.0')!=null">
												<small>{{errorMap.get('shipment.serviceDetail.'+$index+'.document.volumeCBM.0')}}</small></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row nomargin">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 plr0">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group">
                                            <span>HAWB</span>
                                            <ul class="list-inline">
                                                <li ng-class="{'opc-5':documentDetail.dimensionUnit}">Unrated / Rated</li>
                                                <li class="v-align-top">
                                                    <switch tabIndex="0" ng-model="hawbRated_Unrated" class="green" ng-change="change_HawbRatedUnrated(hawbRated_Unrated)"></switch>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group" ng-if="hawbRated_Unrated">

                                            <label>Sell Rate</label> <input class="form-control text-right" id="{{'shipment.serviceDetail.'+$index+'.document.0.ratePerCharge'}}" type="text " efsdecimals="shipmentServiceDetail.localCurrency.decimalPoint"
                                                efsdecimal-point="shipmentServiceDetail.localCurrency.countryMaster.locale" input-focus="{{errorMap.get('shipment.serviceDetail.'+$index+'.document.0.ratePerCharge')!=null}}" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$index+'.document.0.ratePerCharge')!=null}"
                                                maxlength="15" ng-change="validateFields(shipmentServiceDetail.documentList[0], $index, 0, 314)" ng-model="shipmentServiceDetail.documentList[0].ratePerCharge"> <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.'+$index+'.document.0.ratePerCharge')!=null">
										<small>{{errorMap.get('shipment.serviceDetail.'+$index+'.document.0.ratePerCharge')}}</small>
									</span>
                                        </div>

                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group">

                                            <span>Dimension Unit</span>
                                            <ul class="list-inline">
                                                <li ng-class="{'opc-5':documentDetail.dimensionUnit}">Centimeter / Kilos</li>
                                                <li class="v-align-top">
                                                    <switch tabIndex="0" ng-model="shipmentServiceDetail.documentList[0].dimensionUnit" class="green" ng-change="changeDocumentDimension(shipmentServiceDetail.documentList[0],shipmentServiceDetail)"></switch>
                                                </li>
                                                <li ng-class="{'opc-5':!documentDetail.dimensionUnit}">Inch / Pounds</li>

                                            </ul>
                                        </div>

                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-group">

                                            <label>Dimension Value</label> <input type="text" class="form-control" ng-model="shipmentServiceDetail.documentList[0].dimensionUnitValue" ng-disabled=true>
                                            <span class="whitespace-nr">It is used in calculating
											the volume weight</span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row nomargin nopadding bor-0 ">
                            <hr class="nomargin">
                        </div>


                        <div class="row nopadding nomargin">
                            <div class="col-xs-12 pt5 ">
                                <dimension-table country-master="shipmentServiceDetail.country" table-data="shipmentServiceDetail.documentList[0].dimensionList" table-check="shipmentServiceDetail.isDimensionStatus" unit-type="shipmentServiceDetail.documentList[0].dimensionUnit" unit-value="shipmentServiceDetail.documentList[0].dimensionUnitValue"
                                    calc-fn="calculateWeight(param,shipmentServiceDetail.documentList[0],shipmentServiceDetail)" fn-role="roleAccess(param)" add-role="$roleConstant.CRM_SHIPMENT_SERVICE_CARGO_DETAILS_DIMENSION_CREATE" edit-role="$roleConstant.CRM_SHIPMENT_SERVICE_CARGO_DETAILS_DIMENSION_MODIFY"
                                    delete-role="$roleConstant.CRM_SHIPMENT_SERVICE_CARGO_DETAILS_DIMENSION_DELETE">
                                </dimension-table>
                            </div>
                        </div>

                        <div class="row nomargin">
                        </div>
                        <div class="row nomargin">
                            <div class="col-md-6 col-sm-6 col-lg-6 pt5 mb-15">
                                <div class="row ">
                                    <div class="col-xs-12 ">
                                        <label>Hold Note</label>
                                    </div>
                                </div>
                                <textarea msd-elastic class="form-control txtarea100" rows="7" maxlength="4000" id="{{'shipment.serviceDetail.holdNote.'+$index}}" ng-disabled="!shipmentServiceDetail.holdShipment || shipmentServiceDetail.holdShipment=='No'" ng-model="shipmentServiceDetail.holdNote"
                                    ng-change="selectedHoldNote(shipmentServiceDetail, $index, 105)" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.holdNote.'+$index)!=null}" input-focus="{{errorMap.get('shipment.serviceDetail.holdNote.'+$index)!=null}}">
                        </textarea>
                                <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.holdNote.'+$index)!=null">
				         <small> {{errorMap.get('shipment.serviceDetail.holdNote.'+$index)}} </small>
				         </span>

                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6  pt5 mb10">
                                <div class="row ">
                                    <div class="col-xs-12 ">
                                        <label class="text-inherit">Hold Release Note</label>
                                    </div>
                                </div>
                                <textarea msd-elastic class="form-control txtarea100" rows="7" id="{{'shipment.serviceDetail.holdReleaseNote.'+$index}}" ng-model="shipmentServiceDetail.holdReleaseNote" maxlength="4000" ng-disabled="shipmentServiceDetail.holdShipment || shipmentServiceDetail.holdShipment=='Yes'"
                                    ng-change="selectedHoldReleaseNote(shipmentServiceDetail, $index, 105)" ng-class="{'error-control':errorMap.get('shipment.serviceDetail.holdReleaseNote.'+$index)!=null}" input-focus="{{errorMap.get('shipment.serviceDetail.holdReleaseNote.'+$index)!=null}}">
                                 </textarea>
                                <span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.holdReleaseNote.'+$index)!=null">
				         <small> {{errorMap.get('shipment.serviceDetail.holdReleaseNote.'+$index)}} </small>
				         </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cargo Pack and Dimension Details Starts Here -->