<div class="row nomargin ">
	<div class="col-xs-12 pl0 pr0">
		<div class="col-xs-3 mtb-15" ng-if="dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Party')==true || dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Party')=='true'">
			<label>Brokerage {{appMasterData['Party_Label']}}</label>
			<div class="select-auto ">
				<input type="text" class="form-control" id="{{'shipment.serviceDetail.brokerageParty.'+$index}}" 
					ng-class="{'error-control':errorMap.get('shipment.serviceDetail.brokerageParty.'+$index)!=null}" 
					input-focus="{{errorMap.get('shipment.serviceDetail.brokerageParty.'+$index)!=null}}" 
					autocomplete="off" ng-model="shipmentServiceDetail.brokerageParty" 
					uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
					typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
					typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
					typeahead-on-select="selectedBrokerageParty(shipmentServiceDetail,$index,501)" 
					typeahead-focus-on-select="false"
					typeahead-focus-first="true" typeahead-editable="false"
					typeahead-min-length="1" typeahead-wait-ms="500">
				<span class="select-arrow"><b></b></span>
			</div>
			<span class="error-message" style="color: red;"
				ng-show="errorMap.get('shipment.serviceDetail.brokerageParty.'+$index)!=null">
				<small>{{errorMap.get('shipment.serviceDetail.brokerageParty.'+$index)}}</small>
			</span>
		</div>
		<div class="col-xs-3 mtb-15" ng-if="dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Percentage')==true || dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Percentage')=='true'">
			<label>Brokerage Percentage</label> <input type="text"
				id="{{'shipment.serviceDetail.brokeragePercentage.'+$index}}"
				input-focus="{{errorMap.get('shipment.serviceDetail.brokeragePercentage.'+$index)!=null}}"
				ng-class="{'error-control':errorMap.get('shipment.serviceDetail.brokeragePercentage.'+$index)!=null} "
				maxlength="15"
				ng-change="selectedBrokeragePercentage(shipmentServiceDetail,$index,502)"
				ng-model="shipmentServiceDetail.brokeragePercentage"
				class="form-control text-right" />
			<div>
				<span class="error-message" style="color: red;"
					ng-show="errorMap.get('shipment.serviceDetail.brokeragePercentage.'+$index)!=null">
					<small>{{errorMap.get('shipment.serviceDetail.brokeragePercentage.'+$index)}}</small>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="row nomargin">
	<div class="col-xs-12 mtb-15 pr0 pl0">
		<rates-Table 
		    index-key="$index"
			table-data="shipmentServiceDetail.shipmentChargeList"
			depend-data="shipmentServiceDetail"
			shipment="shipment"
			show-Errors="showRateErrorState" calc-fn="calculateWeight(param)"
			table-check="shipmentServiceDetail.isRatesCheck"
			fn-role="roleAccess(param)"
			add-role="$roleConstant.CRM_SHIPMENT_SERVICE_AES_RATES_CREATE"
		    edit-role="$roleConstant.CRM_SHIPMENT_SERVICE_AES_RATES_MODIFY"
			delete-role="$roleConstant.SALE_ENQUIRY_DIMENSION_DELETE">
		</rates-Table>

		<input type="button" tabindex="-1"
			class="btn btn-primary btn-xs btn-property accent-btn pull-right"
			value="Total In Local Amount"
			ng-click="viewRate(shipmentServiceDetail)" />

		<script type="text/ng-template" id="viewlocalRate.html">
                                <div class="modal page-style"  role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header nopadding ">
                                                <div class="row plr14px">
                                                    <div class="col-xs-8">
                                                        <h4>Rate Total ( Local Amount )</h4>
                                                    </div>
                                                    <div class="col-xs-4 mt-7">
                                                        <ul class="list-inline pull-right">
                                                            <li><button type="button"  class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body" style="padding:22px !important;" >
                      <table class="table table-hover">
						<tbody>
						<tr ng-show="rateMerged==false">
							<td>Client Gross Rate</td>
							<td class="text-right" >{{clientGrossRate}} ({{localCurrency}})</td>
						</tr>
						<tr ng-show="rateMerged==false">
							<td>Client Net Rate</td>
							<td class="text-right" >{{clientNetRate}} ({{localCurrency}})</td>
						</tr>
						<tr ng-show="rateMerged==false">
							<td>Declared Cost</td>
							<td class="text-right" >{{declaredCost}} ({{localCurrency}})</td>
						</tr>
						<tr ng-show="rateMerged==true">
							<td>Rate</td>
							<td class="text-right" >{{rate}} ({{localCurrency}})</td>
						</tr>
						<tr>
							<td>Cost</td>
							<td class="text-right">{{cost}} ({{localCurrency}})</td>
						</tr>
						</tbody>
					</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </script>
	</div>

</div>
<div class="rows clearfix">
	<hr class="nomargin">
</div>
<div class="row nomargin" ng-show="shipmentServiceDetail.serviceMaster.importExport=='Export' && shipmentServiceDetail.origin.portGroupMaster.countryMaster.countryCode=='US' && shipmentServiceDetail.id!=null">
	<div class="col-xs-12 pl0 pr0">
		<div class="table-responsive bor-none">
			<div class="pb10">
					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 pl0 pr0"   style="margin-top: 3px !important;margin-bottom: 10px;" 
					ng-show="dynamicFormFieldMap.get('Shipment > AES No')=='true'">
	                    <label>AES No</label> 
						<input type="text"
		                    id="{{'shipment.serviceDetail.aes.'+$index}}"
		                     ng-keydown="nextTabNav($event,$index,shipmentServiceDetail,'others',$index+'documentNo0')"
		                    class="form-control"
		                    input-focus="{{errorMap.get('shipment.serviceDetail.aes.'+$index)!=null}}"
		                    ng-class="{'error-control':errorMap.get('shipment.serviceDetail.aes.'+$index)!=null}"
		                    maxlength="30"
		                    ng-change="aesNoValidation(shipmentServiceDetail,$index,500)"
		                    ng-model="shipmentServiceDetail.aesNo">
	                  	 <div>
							<span class="error-message" ng-show="errorMap.get('shipment.serviceDetail.aes.'+$index)!=null"> 
								<small>{{errorMap.get('shipment.serviceDetail.aes.'+$index)}}</small>
							</span>
						</div>
					</div>
			</div>
			<table class="table table-inline">
				<thead class="borderthead">
					<tr>
						<th class="inl_sno">#</th>
						<th class="inl_m">Shipper</th>
                        <th class="inl_sm">Service ID</th>
						<th class="inl_m">Consignee</th>
						<th class="inl_mp">Status</th>
						<th class="inl_s">Action 
						</th>
					</tr>
				</thead>
				<tbody class="bor-0">

					<tr ng-repeat="aesFile in finalArr | filter:aesSearch:startsWith track by $index ">
						<td class="text-center " title="">{{$index+1}}</td>
						<td class="tdtext-wrap" title="{{aesFile.shipperName}}">{{aesFile.shipperName}}</td>
                        <td class="tdtext-wrap" title="12131322"><a
							ng-click="goToShipmentViewByServiceUid(aesFile.serviceUid)"
							href="javascript:void(0)" class=" hyperLink text-blue">{{aesFile.serviceUid}}</a></td>
						<td class="tdtext-wrap" title="{{aesFile.consigneeName}}">{{aesFile.consigneeName}}</td>
						<td class="tdtext-wrap" title="{{aesFile.status}}">{{aesFile.status}}</td>
						<td>
						<!-- 
						<input type="checkbox" ng-model="aesFile.isSelected"
							ng-show="aesFile.status !='Update'"
							ng-change="chkAesStatus(aesFile.isSelected, aesFile);" id="aes">
							 -->
							<input type="button" ng-class="myClass"
							title="Click here to generate AES"
							class="btn btn-xs btn-property accent-btn"
							ng-show="aesFile.status ==='Generated'" value="Update AES"
							ng-click="aesGenerateView(aesFile)" />
							
							<input type="button"
							ng-class="myClass" title="Click here to generate all AES" ng-show="aesFile.status =='Active'" ng-click="generateAllAes()"
							class="btn btn-xs btn-property accent-btn" value="Generate AES" />
							</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>