
<div class="logs-view logs-transition" ng-show="displayFlag">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="pull-left">
				<div class="panelTitle">
					<span>
						<a  href="javascript:void(0)" ng-click="displayFlag=false" class="list-panel-back">
							<i class="icon-close-detail"
							   data-placement="bottom"
							     bs-tooltip="close">
							</i>
						</a>
					</span> 
					<span>Activity</span>
				</div>
			</div>
		</div>
		<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
			<div class="card">
				<ul class="list-inline card-cell">
					<li>
						<hm-init-icon customer-name="createdBy"></hm-init-icon>
					</li>
					<li>
						<ul class="list-unstyled mt-5">
							<li><b>{{createdBy | uppercase}}</b> - Created an item</li>
							<li class="span text-muted">{{createdOn}}</li>
						</ul>
					</li>
				</ul>

			</div>

			<div class="card">
				<ul class="list-inline card-cell">
					<li>
						<hm-init-icon customer-name="updatedBy"></hm-init-icon>
					</li>
					<li>
						<ul class="list-unstyled mt-5">
							<li><b>{{updatedBy | uppercase}}</b> - Updated an item</li>
							<li class="span text-muted">{{updatedOn}}</li>
						</ul>
					</li>
				</ul>
			</div>

		</div>
	</div>

</div>