<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row ">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-7" >
        <form role="form"  id="categorymasterform" name="categorymasterform"
              ng-submit="categoryMaster.id!=null?update():save()">
            <div class="panel panel-default masOpertion">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{categoryMaster.id!=null?'Edit':'Add'}} Vertical </h4>
                    </div>
                    <div>
                        <div class="btngrps">
                            <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                            <input type="submit" class="btn btn-primary btn-xs btn-property accent-btn" value="{{categoryMaster.id!=null?'Update':'Save'}}">
                        </div>
                    </div>
                </div>
                <div class="panel-body pt0 half-master-edit" id="category-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <div class="pad-15 pt5">
                        <div show-response></div>
                        <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory Fields</small></div>
                    </div>
                    <div class="row ">
                       
 
                           <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group nomargin plr0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input input-focus="true" type="text" class="form-control"
									id="categoryName" name="categoryName"
									ng-model="categoryMaster.categoryName"
									ng-class="{'error-control':errorMap.get('categoryName')!=null}"
									maxlength="100" ng-change="validateCategoryMaster(1)">
								<div>
									<span class="error-message" ng-show="errorMap.get('categoryName')!=null"><small>{{errorMap.get('categoryName')}}</small></span>
								</div>
							</div>                    </div>
                    <div class="row pb0">
                       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 plr0 form-group">
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pl0">
                            <div class="">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input type="text" class="form-control" id="categoryCode"
										name="categoryCode" ng-model="categoryMaster.categoryCode"
										ng-class="{'error-control':errorMap.get('categoryCode')!=null}"
										maxlength="10" capitalize ng-change="validateCategoryMaster(2)" ng-disabled="categoryMaster.id!=null">
									<div>
										<span class="error-message" ng-show="errorMap.get('categoryCode')!=null"><small>{{errorMap.get('categoryCode')}}</small></span>
									</div>
								</div>
								</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pr0"
                                 ng-show="categoryMaster.id!=null">
                                 <div class="">

                                <label class="custom-label">
                                    Status
                                </label>


                                <select class="form-control status" id="status"
                                        ng-class="setStatus(categoryMaster.status)"
                                        ng-options="item for item in enum['LovStatus']"
                                        ng-model="categoryMaster.status" required>
                                </select>
                            </div>
                            </div>
                            </div>
                        
                    </div>
                </div><!--panel body ends-->
            </div><!--panel ends-->
        </form>
    </div><!--col ends-->
    </div>
</div>


