<style>
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

</style>
<div class="container-fluid resPortAddPage resLandAddPage" >
	<div class="row ml0 mr0">
		<div class="col-xs-12 editview">
			<form name="emailTemplateForm">

				<div class="panel panel-default masOpertion">

					<div class="panel-heading bg-trans">
						<div class="w-50">
							<h4> Edit Email Template</h4>
						</div>

						<div class="w-50">
							<ul class="list-inline text-right masopertion-action">
								<li>
									<button type="button" 
											class="btn btn-default btn-xs btn-property cancel-btn"
											ng-click="cancel()" >Cancel</button>
								</li>
								<li><input type="button" 
										   class="btn btn-primary btn-xs btn-property accent-btn"
										   value="Update"
										   ng-click="update()">
								</li>
							</ul>
						</div>
					</div>


					<div class="panel-body edit-body pt0 pb0" id="service-panel" panel-height
						ng-nicescroll nice-scroll-object="niceObject"
						nice-option="{{ngScrollConfig}}">
						<div class="row bor-0 nopadding">
							<div class="col-xs-12 ptb5">
								<span class="reqColor nomargin">*</span> <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
							</div>
						</div>
						<client-error message="clientMessage"></client-error>
						<div show-response></div>
						<div class="rows">
							<hr class="nomargin">
						</div>

						<div class="wrapper">

							<div class="row overflow-hidden">
							
									<div class="col-md-3 col-xs-12 col-sm-6">
										<div class="form-group">
											<label>Event<span>*</span></label>
											<div class="select-auto">
										      <select class="form-control" 
										           ng-class="{'error-control':errorMap.get('eventType')!=null}"
										           input-focus="true"
										           ng-model="selectedEmailTemplate.templateType" 
										           ng-change="navigateToNextField('emailSubject')"	
											       ng-options="item.value as item.displayValue for item in eventArr"
											         >
											  </select>
											  <span class="error-message" ng-show="errorMap.get('eventType')!=null">
										          <small>{{errorMap.get('eventType')}}</small>
									          </span>
											</div>
											<!-- <select ng-init="email.event='WELCOME_EMAIL'"
												ng-multiple="false" ng-model="selectedEmailTemplate.templateType" ng-change="changeTemplate()"
												class="form-control">
												<option value="SHIPMENT_BOOKING_CONFIRMATION">Shipment Booking Confirmation</option>
												<option value="ENQUIRYCONFTOSALSE">Enquiry Sales Confirmation</option>
												<option value="QUOTATION_APPROVING_CONFIRMATION">Quotation Approving Confirmation</option>
												
												<option value="SHIPMENT_EVENT">Shipment Event</option>
												<option value="SHIPMENT_STATUS">Shipment Status</option>
												<option value="SHIPMENT_CARGO_LOADED">Cargo Loaded Confirmation</option>
												<option value="EXPIRY_PRICING_BILL">Pricing Expiry Date Remainder</option>
												<option value="ENQUIRY_RATE_REQUEST">EnquiryRateRequest</option>
												<option value="SHIPMENT_REPORT_ATTACHMENT">Shipment Report Attachment</option>
												<option value="CONSOL_REPORT_ATTACHMENT">Consol Report Attachment</option>
												<option value="QUOTATION_REPORT_ATTACHMENT">Quotation Report Attachment</option>
												<option value="INVOICE_REPORT_ATTACHMENT">Invoice and Credit Note Report Attachment</option>
												<option value="CREDIT_NOTE_REPORT_ATTACHMENT">Credit Note Attachment</option>
												<option value="ACCOUNT_ACTIVATION_CONFIRMATION">Account Activation Confirmation</option>
												<option value="PRE_ALRETTO_AGENT">Pre Alert to Agent</option>
												<option value="AIRLINE_EDI_EMAIL">Airline EDI</option>
											</select> -->
										</div>
									</div>
									
									<div class="col-md-6 col-xs-12 col-sm-6">
										<div class="form-group">
											<label>Subject<span>*</span></label>
											<input
												placeholder="Subject"
												id="emailSubject" class="form-control" name="emailSubject"
												ng-model="selectedEmailTemplate.subject"
		                                    	maxlength="255"
		                                    	ng-change="validateEmailTemplate(2)"
		                                    	required>
											<div>
											 <span class="error-message" ng-show="errorMap.get('subject')!=null">
										          <small>{{errorMap.get('subject')}}</small>
									          </span>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="text-inherit">Sender eMail<span>*</span></label>
											<input
												id="senderEmail" class="form-control" 
												placeholder="Sender Email ID" 
												ng-model="selectedEmailTemplate.fromEmailId" 
												ng-blur="emailVaidate()">
										  <div>
											 <span class="error-message" ng-show="errorMap.get('senderEmail')!=null">
										          <small>{{errorMap.get('senderEmail')}}</small>
									          </span>
										 </div>
										</div>
									</div>
									
	  								<div class="col-md-3 col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="text-inherit">Sender eMail Password<span>*</span></label>
											<div class="input-group">
											<input type="password"
												id="password-field" class="form-control" 
												placeholder="Sender Email Password"
												ng-model="selectedEmailTemplate.fromEmailPassword"
												ng-blur="selectedEmailTemplate.fromEmailPassword = selectedEmailTemplate.fromEmailPassword.split(' ').join('')">
												<span data-placement="bottom"
													  bs-tooltip="togglePassword"
													  class="input-group-addon addon-icon cursorPt rel "
													  style="border-right: 1px solid #dadada !important;"> 
											           <span
														    toggle="#password-field"
														     class="fa fa-fw fa-eye field-icon toggle-password">
													   </span>
									            </span>
												
												</div>
										  <div>
											 <span class="error-message" ng-show="errorMap.get('senderPassword')!=null">
										          <small>{{errorMap.get('senderPassword')}}</small>
									          </span>
										 </div>
										</div>
									</div>
	  								<div class="col-md-3 col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="text-inherit">CC eMail</label> 
											<input
												id="cceMail" class="form-control" 
												placeholder="CC Email ID" ng-model="selectedEmailTemplate.ccEmailAddress">
										 <div>
											 <span class="error-message" ng-show="errorMap.get('cceMail')!=null">
										          <small>{{errorMap.get('cceMail')}}</small>
									          </span>
										 </div>
	
										</div>
									</div>
	  								<div class="col-md-3 col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="text-inherit">BCC eMail</label> 
											<input
												id="bcceMail" class="form-control" name="userBCCEmailId"
												placeholder="BCC Email ID" ng-model="selectedEmailTemplate.bccEmailAddress">
										 <div>
											 <span class="error-message" ng-show="errorMap.get('bcceMail')!=null">
										          <small>{{errorMap.get('bcceMail')}}</small>
									          </span>
										 </div>
										</div>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="text-inherit">eMail Type<span>*</span></label>
											<input
												id="emailType" class="form-control" 
												placeholder="Email Type" ng-model="selectedEmailTemplate.emailType"
		                                    	maxlength="255">
		                                  <div>
											 <span class="error-message" ng-show="errorMap.get('emailType')!=null">
										          <small>{{errorMap.get('emailType')}}</small>
									          </span>
										 </div>
										</div>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-6">
										<div class="form-group">
											<label>SMTP Server Address<span>*</span></label>
											<input
												placeholder="SMTP Server Address "
												id="smptServerAddress" class="form-control" 
												ng-model="selectedEmailTemplate.smtpServerAddress"
		                                    	maxlength="255">
		                                   <div>
											 <span class="error-message" ng-show="errorMap.get('smptServerAddress')!=null">
										          <small>{{errorMap.get('smptServerAddress')}}</small>
									          </span>
										 </div>
										</div>
									</div>
									
									<div class="col-md-3 col-xs-12 col-sm-6">
										<div class="form-group">
											<label>SMTP Port<span>*</span></label>
											<input
												type="number" placeholder="Smtp Port"
												id="smtpPort" class="form-control" name="emailTemplateSmtpPort"
												ng-model="selectedEmailTemplate.port"
		                                    	maxlength="5">
		                                  <div>
											 <span class="error-message" ng-show="errorMap.get('smtpPort')!=null">
										          <small>{{errorMap.get('smtpPort')}}</small>
									          </span>
										 </div>
										</div>
									</div>
									<div class="row ">
										<div class="col-xs-12 ptb5"  style="border: solid 1px rgba(0, 0, 0, 0.2);">
											<small class="opc-5 f-12b4" style="padding-left:20px;">eMail Dynamic Substitution Parameters</small>
										</div>
									</div>
									<div class="row" style="padding:20px 0px;">
									
										<div class="col-md-12">
										<div class="col-md-5">
										<div class="form-group">
											<label style="font-size: 14px !important;">Subject Subsitution Parameters</label>
												<code  ng-if="selectedEmailTemplate.templateType == 'SHIPMENT_BOOKING_CONFIRMATION'">#SHIPPER_NAME#, #CONSIGNEE_NAME#, #BOOKING_NO#, #SERVICE_NAME#</code>
												<code  ng-if="selectedEmailTemplate.templateType == 'SHIPMENT_CARGO_LOADED'">#BOOKING_NO#</code>
												<code  ng-if="selectedEmailTemplate.templateType == 'SHIPMENT_EVENT'">#BOOKING_NO#, #EVENT_NAME#</code>
												<code  ng-if="selectedEmailTemplate.templateType == 'SHIPMENT_STATUS'">#BOOKING_NO#, #TRIGGER_NAME#, #TRIGGER_TYPE_NAME#</code>
												<code  ng-if="selectedEmailTemplate.templateType == 'QUOTATION_APPROVING_CONFIRMATION'">#QUOTATION_NO#</code>
												<code  ng-if="selectedEmailTemplate.templateType == 'ENQUIRYCONFTOSALSE' || selectedEmailTemplate.templateType == 'ENQUIRY_RATE_REQUEST' ">#ENQUIRYNO#</code>
												</div>
										</div>
										<div class="col-md-7">
										<div class="form-group">
											<label style="font-size: 14px !important;">Template Subsitution Parameters</label>
													<code ng-if="selectedEmailTemplate.templateType == 'SHIPMENT_BOOKING_CONFIRMATION'"> 
														<p>#COMPANY_NAME#,#TRANSPORT_MODE#, #IMPORT_EXPORT#,#BOOKING_NO#,</p>
														<p>#HAWB_NO#, #BOOKING_DATE#, #MAWB_NO#, #CUSTOMER_REF_NO#,</p>
														<p>#ORIGIN#, #DESTINATION#, #SHIPPER_NAME#, #SHIPPER_ADDRESS_1#,</p>
														<p>#SHIPPER_ADDRESS_2#, #SHIPPER_ADDRESS_3#, #SHIPPER_ADDRESS_4#, #SHIPPER_ADDRESS_PHONE#,</p>
														<p>#SHIPPER_ADDRESS_MOBILE#, #SHIPPER_ADDRESS_FAX#, #SHIPPER_ADDRESS_EMAIL#, #CONSIGNEE_NAME#,</p>
														<p>#CONSIGNEE_ADDRESS_1#, #CONSIGNEE_ADDRESS_2#, #CONSIGNEE_ADDRESS_3#, #CONSIGNEE_ADDRESS_4#,</p>
														<p>#CONSIGNEE_ADDRESS_PHONE#, #CONSIGNEE_ADDRESS_MOBILE#, #CONSIGNEE_ADDRESS_FAX#, #CONSIGNEE_ADDRESS_EMAIL#,</p>
														<p>#NOTIFY_PARTY_NAME#, #NOTIFY_PARTY_ADDRESS_1#, #NOTIFY_PARTY_ADDRESS_2#, #NOTIFY_PARTY_ADDRESS_3#,</p>
														<p>#NOTIFY_PARTY_ADDRESS_4#, #NOTIFY_PARTY_ADDRESS_PHONE#, #NOTIFY_PARTY_ADDRESS_MOBILE#, #NOTIFY_PARTY_ADDRESS_FAX#,</p>
														<p>#NOTIFY_PARTY_ADDRESS_EMAIL#, #TERMS_OF_SHIPMENT#, #FREIGHT_TERMS#, #COMMODITY#,</p>
														<p>#EXTERNAL_PACK#, #GROSS_WEIGHT#, #CHARGABLE_WEIGHT#, #DIMENSION_UNIT#,</p>
														<p>#DIMENSION_TEMPLATE#, #PICK_UP_PLACE#, #PICK_UP_DATE#, #BOOKING_PERSION#,</p>
														<p>#BOOKING_PERSION_EMAIL#</p>
													 </code>
													 <code ng-if="selectedEmailTemplate.templateType == 'SHIPMENT_CARGO_LOADED'">
													    <p>#CARRIER#, #FLIGHTNO#, #ATD#, #ATA#</p> 
														<p>#COMPANY_NAME#, #TRANSPORT_MODE#, #IMPORT_EXPORT#,</p> 
														<p>#EBOOKING_NO#, #CUSTOMER_REF_NO#, #BOOKING_DATE#, #BOOKING_NO#,</p> 
														<p>#HAWB_NO#, #MAWB_NO#, #BOOKING_PERSION#, #BOOKING_PERSION_EMAIL#,</p>
														<p>#ORIGIN #, #DESTINATION#</p>
													 </code>
													  <code ng-if="selectedEmailTemplate.templateType == 'SHIPMENT_EVENT'"> 
													    <p>#COMPANY_NAME#, #TRANSPORT_MODE#, #IMPORT_EXPORT#,</p> 
														<p>#EVENT_NOTE#, #EVENT_DATE#, #BOOKING_NO#, #HAWB_NO#,</p> 
														<p>#BOOKING_DATE#, #MAWB_NO#, #CUSTOMER_REF_NO#, #ORIGIN#,</p> 
														<p>#DESTINATION#, #BOOKING_PERSION#, #BOOKING_PERSION_EMAIL#,</p> 
													 </code>
													 <code ng-if="selectedEmailTemplate.templateType == 'SHIPMENT_STATUS'"> 
													    <p>#COMPANY_NAME#, #TRANSPORT_MODE#, #IMPORT_EXPORT#, </p> 
														<p>#NOTE#, #BOOKING_NO#, #HAWB_NO#, #BOOKING_DATE#,</p> 
														<p>#MAWB_NO#, #CUSTOMER_REF_NO#, #ORIGIN#, #DESTINATION#,</p> 
														<p>#BOOKING_PERSION#, #BOOKING_PERSION_EMAIL#,</p> 
														<p>#CARRIER#, #FLIGHTNO#, #ETD#, #ETA#</p>
													 </code>
													  <code ng-if="selectedEmailTemplate.templateType == 'QUOTATION_APPROVING_CONFIRMATION'"> 
														<p>#EMP_NAME#, #EMP_EMAIL#, #EMP_TELNO#</p> 
													 </code>
													   <code ng-if="selectedEmailTemplate.templateType == 'ENQUIRYCONFTOSALSE'"> 
														<p>#COMPANY_NAME#, #ENQUIRY_NO#, #CUST_NAME#, #QUOTE_BY#,</p>
                                                        <p>#SERVICES_TABLES#, #EMP_NAME#, #EMP_EMAIL#, #EMP_TELNO#</p> 
													 </code>
													    <code ng-if="selectedEmailTemplate.templateType == 'ENQUIRY_RATE_REQUEST'"> 
														<p>#DATE#, #VENDORNAME#, #ENQUIRYNO#,</p>
                                                        <p>#ORIGIN#, #DESTINATION#, #COMMODITY#, #TOS#,</p> 
                                                        <p>#REMARKS#, #PICKUPPLACE#, #DELIVERYPLACE#, #PHONENO#, #EMAIL# ,#URLLINK# ,#SALESCORDINATOR# ,#LOGINCOMPANY#</p> 
													 </code>
												</div>
										</div>
										</div>
									</div>
									<div class="col-md-12">
									<text-angular id="txtangular" name="txtangular"   ng-model="selectedEmailTemplate.template"  ta-disabled='truefalse'></text-angular >
									</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
					
