<div class="container-fluid pl0 pr0 page-style">
    <div class="row ml0 mr0">
        <div class="col-xs-12 pl0 pr0" ng-click="topQuotationsConfig.showTopQuotationsFlag = false">
            <form role="form" name="quotationForm">
                <div class="panel panel-default masOpertion">

                    <div class="panel-heading bg-trans">
                        <div class="w-50">
                            <span class="fa fa-star starblinkright  pt7" id="blinker" ng-show="quotation.customer.gradeMaster!=null && (quotation.customer.gradeMaster.priorityValue<=5)"
                                style="color:{{quotation.customer.gradeMaster.colorCode}} !important;">
                            </span>
                            <h4>
                                {{quotation.id!=null && quotation.id!=-1 ?'Edit':'Add'}} Quote {{quotation.quotationNo!=null?'No':''}}
                                <span>{{quotation.quotationNo}}</span>
                            </h4>
                        </div>
                        <div class="w-50">
                            <ul class="list-inline text-right masopertion-action">
                                <li ng-show="quotation.customer!=null && quotation.customer.id!=null">
                                    <button tabIndex="-1" type="button" class="btn btn-default btn-xs btn-property accent-btn" ng-click="showTopRecords()">
                                        <i class="fa fa-newspaper-o" data-placement="auto right" bs-tooltip="recentListIcon"
                                            style="font-size: 13px !important"></i> Recent List </button>
                                </li>
                                <li>
                                    <button tabIndex="-1" type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                                </li>
                                <li>
                                    <input tabIndex="-1" type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-disabled="disableSubmitBtn"
                                        value="{{quotation.id!=null && quotation.id!=-1 ?'Update':'Save'}}" ng-click="quotation.id!=null && quotation.id!=-1 ?updateQuotation():saveQuotation()">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--panel heading ends-->

                    <div class="panel-body pt0 edit-body" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="row shade1 bor-0 nopadding">
                            <div class="col-xs-12 ptb5">
                                <span class="reqColor nomargin">*</span>
                                <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
                            </div>

                        </div>
                        <div show-response></div>
                        <client-error message="clientMessage"></client-error>
                        <div class="form-group shade1 mb0">
                            <div class="row  clearfix  nomargin">
                                <div class="col-md-10 nopadding ">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="ptb-15">
                                                    <div class="row">
                                                        <div class="" ng-class="quotation.customer.id?'col-xs-10 pr0':'col-xs-12'">
                                                            <label>{{appMasterData['Party_Label']}}
                                                                <span>*</span>
                                                            </label>

                                                            <div class="select-auto">
                                                                <input type="text" class="form-control" id="partyMaster" input-focus="{{firstFocus || errorMap.get('customer')!=null}}" autocomplete="off"
                                                                    ng-model="quotation.customer" uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxCustomerEvent($viewValue)"
                                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                    typeahead-show-hint="true" typeahead-show-loading="true"
                                                                    typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                    typeahead-on-select="selectedCustomer('shipper')?setSalesman():''"
                                                                    typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                    typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500"
                                                                    typeahead-add-new="routePartyEvent('quotation.customer',true,null)">
                                                                <span class="select-arrow">
                                                                    <b></b>
                                                                </span>
                                                            </div>
                                                            <span class="error-message" style="color: red;" ng-show="errorMap.get('customer')!=null">
                                                                <small>
                                                                    {{errorMap.get('customer')}}
                                                                </small>
                                                            </span>
                                                        </div>
                                                        <div class="col-xs-1 pr0 mt-25" ng-show="quotation.customer.id">
                                                            <a data-container="false" tabindex="-1" href="javascript:void(0)" class="selectPicker-sm" ng-click="routePartyEvent('quotation.customer',false,quotation.customer)">
                                                                <i class="fa icon-edit" data-placement="auto right" bs-tooltip="appMasterData['Party_Label']=='Customer'?editCustomer:editParty"></i>
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-1 mt-25 pl0 m-text-center" ng-show="quotation.customer.id" ng-init="showPartyAddressModel=false">
                                                            <a data-container="false" tabindex="-1" href="javascript:void(0)" ng-class="{'activeLocation':showPartyAddressModel==true}"
                                                                class="selectPicker-sm fit_picker" ng-click="showPartyAddressModel=!showPartyAddressModel">
                                                                <span ng-class="showPartyAddressModel==true?'fa fa-angle-double-up ftawsize':'fa fa-angle-double-down ftawsize'" data-placement="auto right"
                                                                    bs-tooltip="addressIcon"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="row" ng-show="showPartyAddressModel">
                                                                <div class="col-xs-11 mt-5">
                                                                    <input class="form-control" type="text" ng-change="validateQuotation(2)" ng-class="{'error-control':errorMap.get('quotation.customerAddress.addressLine1')!=null}"
                                                                        input-focus="{{errorMap.get('quotation.customerAddress.addressLine1')!=null}}"
                                                                        ng-model="quotation.customerAddress.addressLine1" maxlength="100"
                                                                        tabIndex="-1">
                                                                    <span class="error-message" ng-show="errorMap.get('quotation.customerAddress.addressLine1')!=null">
                                                                        <small>{{errorMap.get('quotation.customerAddress.addressLine1')}}</small>
                                                                    </span>
                                                                </div>
                                                                <div class="col-xs-1 mt-6 text-right padL-0 ">
                                                                    <a href="javascript:void(0)" tabindex="-1" data-container="false" ng-click="showPartyAddressCustomer()" class="selectPicker-sm">
                                                                        <i class="fa fa-chevron-right" data-placement="auto right" bs-tooltip="selectPartyAddress"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-11 mt-4">
                                                                    <input class="form-control" type="text" ng-change="validateQuotation(3)" ng-class="{'error-control':errorMap.get('quotation.customerAddress.addressLine2')!=null}"
                                                                        input-focus="{{errorMap.get('quotation.customerAddress.addressLine2')!=null}}"
                                                                        ng-model="quotation.customerAddress.addressLine2" maxlength="100">
                                                                    <span class="error-message" ng-show="errorMap.get('quotation.customerAddress.addressLine2')!=null">
                                                                        <small>{{errorMap.get('quotation.customerAddress.addressLine2')}}</small>
                                                                    </span>
                                                                </div>
                                                                <div class="col-xs-11 mt-4">
                                                                    <input class="form-control" type="text" ng-class="{'error-control':errorMap.get('quotation.customerAddress.addressLine3')!=null}"
                                                                        input-focus="{{errorMap.get('quotation.customerAddress.addressLine3')!=null}}"
                                                                        ng-model="quotation.customerAddress.addressLine3" maxlength="100">
                                                                    <span class="error-message" ng-show="errorMap.get('quotation.customerAddress.addressLine3')!=null">
                                                                        <small>{{errorMap.get('quotation.customerAddress.addressLine3')}}</small>
                                                                    </span>
                                                                </div>
                                                                <div class="col-xs-11 mt-4">
                                                                    <input class="form-control" type="text" ng-class="{'error-control':errorMap.get('quotation.customerAddress.addressLine4')!=null}"
                                                                        input-focus="{{errorMap.get('quotation.customerAddress.addressLine4')!=null}}"
                                                                        ng-model="quotation.customerAddress.addressLine4" maxlength="100">
                                                                    <span class="error-message" ng-show="errorMap.get('quotation.customerAddress.addressLine4')!=null">
                                                                        <small>{{errorMap.get('quotation.customerAddress.addressLine4')}}</small>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-11 pr0 ">
                                                <div class="ptb-15">
                                                    <div class="row">
                                                        <div ng-class="quotation.shipper.id?'col-xs-10 pr0':'col-xs-12'" class="">
                                                            <label>Shipper </label>

                                                            <div class="select-auto">
                                                                <input type="text" class="form-control" id="shipper" input-focus="{{errorMap.get('shipper')!=null}}" autocomplete="off" ng-model="quotation.shipper"
                                                                    uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxShipperEvent($viewValue)"
                                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                    typeahead-show-hint="true" typeahead-show-loading="true"
                                                                    typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                    typeahead-on-select="selectedShipper('loggedOn');" typeahead-focus-on-select="false"
                                                                    typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1"
                                                                    typeahead-wait-ms="500" typeahead-add-new="routePartyEvent('quotation.shipper',true,null)">
                                                                <span class="select-arrow">
                                                                    <b></b>
                                                                </span>
                                                            </div>
                                                            <span class="error-message" style="color: red;" ng-show="errorMap.get('shipper')!=null">
                                                                <small>
                                                                    {{errorMap.get('shipper')}}
                                                                </small>
                                                            </span>
                                                        </div>
                                                        <div class="col-xs-1 pr0 mt-25" ng-show="quotation.shipper.id">
                                                            <!--<label class="visible-hide disp-inherit mb-10">demo</label>-->
                                                            <a data-container="false" tabIndex="-1" href="javascript:void(0)" class="selectPicker-sm" ng-click="routePartyEvent('quotation.shipper',false,quotation.shipper)">
                                                                <i class="fa icon-edit" data-placement="auto right" bs-tooltip="editShipper"></i>
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-1 mt-25 pl0 m-text-center" ng-show="quotation.shipper.id" ng-init="showShipperAddressModel=false">
                                                            <!--<label class="visible-hide disp-inherit mb-10">demo</label>-->
                                                            <a data-container="false" tabindex="-1" href="javascript:void(0)" ng-class="{'activeLocation':showShipperAddressModel==true}"
                                                                class="selectPicker-sm fit_picker" ng-click="showShipperAddressModel=!showShipperAddressModel">
                                                                <span ng-class="showShipperAddressModel==true?'fa fa-angle-double-up ftawsize':'fa fa-angle-double-down ftawsize'" data-placement="auto right"
                                                                    bs-tooltip="addressIcon"></span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="row" ng-show="showShipperAddressModel">
                                                                <div class="col-xs-11 mt-5">
                                                                    <!--<label for="">Address </label>-->
                                                                    <input class="form-control" type="text" ng-change="validateQuotation(7)" ng-class="{'error-control':errorMap.get('quotation.shipperAddress.addressLine1')!=null}"
                                                                        input-focus="{{errorMap.get('quotation.shipperAddress.addressLine1')!=null}}"
                                                                        ng-model="quotation.shipperAddress.addressLine1" maxlength="100">
                                                                    <span class="error-message" ng-show="errorMap.get('quotation.shipperAddress.addressLine1')!=null">
                                                                        <small>{{errorMap.get('quotation.shipperAddress.addressLine1')}}</small>
                                                                    </span>
                                                                </div>
                                                                <div class="col-xs-1 text-right mt-6 padL-0">
                                                                    <!--<label class="visible-hide disp-inherit mb-10">demo</label>-->
                                                                    <a data-container="false" href="javascript:void(0)" ng-click="showPartyAddressShipper()" class="selectPicker-sm">
                                                                        <i class="fa fa-chevron-right" data-placement="auto right" bs-tooltip="selectShipperAddress"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-11 mt-4">
                                                                    <!--<label  class="visible-hide" for="">Address 2 <span>*</span></label>-->
                                                                    <input class="form-control" type="text" ng-change="validateQuotation(8)" ng-class="{'error-control':errorMap.get('quotation.shipperAddress.addressLine2')!=null}"
                                                                        input-focus="{{errorMap.get('quotation.shipperAddress.addressLine2')!=null}}"
                                                                        ng-model="quotation.shipperAddress.addressLine2" maxlength="100">
                                                                    <span class="error-message" ng-show="errorMap.get('quotation.shipperAddress.addressLine2')!=null">
                                                                        <small>{{errorMap.get('quotation.shipperAddress.addressLine2')}}</small>
                                                                    </span>
                                                                </div>
                                                                <div class="col-xs-11 mt-4">
                                                                    <!--<label class="visible-hide" for="">Address 3 </label>-->
                                                                    <input class="form-control" type="text" ng-change="validateQuotation(9)" ng-class="{'error-control':errorMap.get('quotation.shipperAddress.addressLine3')!=null}"
                                                                        input-focus="{{errorMap.get('quotation.shipperAddress.addressLine3')!=null}}"
                                                                        ng-model="quotation.shipperAddress.addressLine3" maxlength="100">
                                                                    <span class="error-message" ng-show="errorMap.get('quotation.shipperAddress.addressLine3')!=null">
                                                                        <small>{{errorMap.get('quotation.shipperAddress.addressLine3')}}</small>
                                                                    </span>
                                                                </div>
                                                                <div class="col-xs-11 mt-4">
                                                                    <!--<label  class="visible-hide" for=""> City & State<span>*</span></label>-->
                                                                    <input class="form-control" type="text" ng-change="validateQuotation(10)" ng-class="{'error-control':errorMap.get('quotation.shipperAddress.addressLine4')!=null}"
                                                                        input-focus="{{errorMap.get('quotation.shipperAddress.addressLine4')!=null}}"
                                                                        ng-model="quotation.shipperAddress.addressLine4" maxlength="100">
                                                                    <span class="error-message" ng-show="errorMap.get('quotation.shipperAddress.addressLine4')!=null">
                                                                        <small>{{errorMap.get('quotation.shipperAddress.addressLine4')}}</small>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-xs-5 col-md-2 mt20 pl0 pull-right pr10">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6 mt-5 pl0 ">
                                            <button type="button" tabindex="-1" class="btn btn-primary btn-xs btn-property width100per accent-btn" ng-click="generalModel()">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> General Notes
                                            </button>
                                        </div>

                                        <div class="col-xs-6 col-md-6 mt-5 pl0">
                                            <button type="button" tabindex="-1" class="btn btn-primary btn-xs btn-property width100per accent-btn" ng-click="attachModel()">
                                                <i class="fa fa-link" aria-hidden="true"></i> Attachments
                                            </button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row nomargin nopadding ptb0 shade1  ">
                            <div class="col-xs-12 nomargin">
                                <div class="row  pt15 nopadding  ">
                                    <div class="col-xs-12 col-lg-5 nomargin nopadding ">
                                        <div class="ptb-15 clearfix">
                                            <div class="col-xs-4 col-lg-6">
                                                <label>Logged On
                                                    <span>*</span>
                                                </label>
                                                <div class="inputBox">
                                                    <input type="text" class="form-control" date-callback="nextToFocus('loggedBy')" ng-model="quotation.loggedOn" ng-change="validateQuotation(11)"
                                                        datetimepicker datetimepicker-options="{{datePickerOptions}}" id="loggedOn">
                                                    <span class="inputIcon">
                                                        <i class="icon-date" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="error-message" ng-show="errorMap.get('loggedOn')!=null">
                                                        <small>{{errorMap.get('loggedOn')}}</small>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-lg-6">
                                                <label>Logged By
                                                    <span>*</span>
                                                </label>
                                                <div class="select-auto">
                                                    <input type="text" class="form-control" id="loggedBy" input-focus="{{errorMap.get('loggedBy')!=null}}" autocomplete="off"
                                                        ng-model="quotation.loggedBy" uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxLoggedByEvent($viewValue)"
                                                        typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                        typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true"
                                                        typeahead-append-to-body="true" typeahead-focus-first="true" typeahead-on-select="selectedLoggedBy('validFrom');"
                                                        typeahead-focus-on-select="false" typeahead-editable="false" typeahead-min-length="1"
                                                        typeahead-wait-ms="500">
                                                    <span class="select-arrow">
                                                        <b></b>
                                                    </span>
                                                </div>
                                                <span class="error-message" style="color: red;" ng-show="errorMap.get('loggedBy')!=null">
                                                    <small>
                                                        {{errorMap.get('loggedBy')}}
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-7  nopadding ">
                                        <div class="ptb-15 clearfix">
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <label>Valid From
                                                    <span>*</span>
                                                </label>
                                                <div class="inputBox">
                                                    <input type="text" class="form-control" ng-model="quotation.validFrom" ng-change="validateQuotation(15)" date-callback="nextToFocus('expiresOn')"
                                                        datetimepicker datetimepicker-options="{{datePickerOptions}}" id="validFrom">
                                                    <span class="inputIcon">
                                                        <i class="icon-date" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="error-message" ng-show="errorMap.get('validFrom')!=null">
                                                        <small>{{errorMap.get('validFrom')}}</small>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <label>Expires On
                                                    <span>*</span>
                                                </label>
                                                <div class="inputBox">
                                                    <input type="text" class="form-control" ng-model="quotation.validTo" ng-change="validateQuotation(16)" date-callback="nextToFocus('quoteType')"
                                                        datetimepicker datetimepicker-options="{{datePickerOptions}}" id="expiresOn">
                                                    <!--<input  date-range-picker  class="form-control date-picker" type="text" ng-model="quotation.validTo" options="{autoUpdateInput: false,singleDatePicker: true}" ng-change="validateQuotation(12)">-->
                                                    <span class="inputIcon">
                                                        <i class="icon-date" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="error-message" ng-show="errorMap.get('validTo')!=null">
                                                        <small>{{errorMap.get('validTo')}}</small>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <label>Quote Type</label>
                                                <select tabindex="0" class="form-control" ng-options="item as item| quoteType for item in enum['QuoteType']" ng-change="nextToFocus(routedByFlag ? 'whoRouted' : 'salesman')"
                                                    ng-model="quotation.quoteType" id="quoteType"></select>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row nopadding  ">
                                    <div class="col-xs-12 col-lg-5 nopadding" ng-if="routedByFlag">
                                        <div class="col-xs-4 col-lg-6 ptb-15">
                                            <label>Routed</label>
                                            <ul class="list-inline">
                                                <li ng-class="{'opc-5':quotation.whoRouted}">Self</li>
                                                <li class="v-align-top">
                                                    <switch id="whoRouted" tabIndex="0" ng-model="quotation.whoRouted" class="green"></switch>
                                                </li>
                                                <li ng-class="{'opc-5':!quotation.whoRouted}">Agent</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-4 col-lg-6 ptb-15">
                                            <label>{{quotation.whoRouted?'Routed By':'Salesman'}}</label>
                                            <div class="select-auto" ng-hide="quotation.whoRouted">
                                                <input type="text" class="form-control" id="salesman" input-focus="{{errorMap.get('salesman')!=null}}" autocomplete="off"
                                                    ng-model="quotation.salesman" uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesmanEvent($viewValue)"
                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                    typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true"
                                                    typeahead-append-to-body="true" typeahead-on-select="selectedSalesman('salesCoordinator');"
                                                    typeahead-focus-first="true" typeahead-focus-on-select="false" typeahead-editable="false"
                                                    typeahead-min-length="1" typeahead-wait-ms="500">
                                                <span class="select-arrow">
                                                    <b></b>
                                                </span>
                                            </div>


                                            <div class="select-auto" ng-hide="!quotation.whoRouted">
                                                <input type="text" class="form-control" autocomplete="off" ng-model="quotation.agent" input-focus="{{errorMap.get('salesman')!=null}}"
                                                    uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getRoutedByAgentPartyList($viewValue)"
                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                    typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true"
                                                    typeahead-append-to-body="true" typeahead-on-select="selectedAgent('salesCoordinator');"
                                                    typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false"
                                                    typeahead-min-length="1" typeahead-wait-ms="500">
                                                <span class="select-arrow">
                                                    <b></b>
                                                </span>
                                            </div>

                                            <span class="error-message" style="color: red;" ng-show="errorMap.get('salesman')!=null">
                                                <small>
                                                    {{errorMap.get('salesman')}}
                                                </small>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-xs-5 nopadding" ng-if="!routedByFlag">
                                        <div class="col-xs-4 ptb-15">
                                            <label>Salesman</label>
                                            <div class="select-auto">
                                                <input type="text" class="form-control" id="salesman" input-focus="{{errorMap.get('salesman')!=null}}" autocomplete="off"
                                                    ng-model="quotation.salesman" uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesmanEvent($viewValue)"
                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                    typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true"
                                                    typeahead-append-to-body="true" typeahead-on-select="selectedSalesman('salesCoordinator');"
                                                    typeahead-focus-first="true" typeahead-focus-on-select="false" typeahead-editable="false"
                                                    typeahead-min-length="1" typeahead-wait-ms="500">
                                                <span class="select-arrow">
                                                    <b></b>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-xs-12 col-lg-7 nopadding ">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ptb-15">
                                            <label>Sales Coordinator
                                                <span>*</span>
                                            </label>
                                            <div class="select-auto">
                                                <input type="text" class="form-control" id="salesCoordinator" input-focus="{{errorMap.get('salesCoordinator')!=null}}" autocomplete="off"
                                                    ng-model="quotation.salesCoordinator" uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesCoordinator($viewValue)"
                                                    typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                    typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true"
                                                    typeahead-append-to-body="true" typeahead-on-select="selectedSalesCoordinator('attention');"
                                                    typeahead-focus-first="true" typeahead-focus-on-select="false" typeahead-editable="false"
                                                    typeahead-min-length="1" typeahead-wait-ms="500">
                                                <span class="select-arrow">
                                                    <b></b>
                                                </span>
                                            </div>

                                            <span class="error-message" style="color: red;" ng-show="errorMap.get('salesCoordinator')!=null">
                                                <small>
                                                    {{errorMap.get('salesCoordinator')}}
                                                </small>
                                            </span>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ptb-15">
                                            <label>Attention </label>
                                            <input id="attention" class="form-control" type="text" maxlength="100" ng-change="validateQuotation(17)" input-focus="{{errorMap.get('attention')!=null}}"
                                                ng-class="{'error-control':errorMap.get('attention')!=null}" ng-model="quotation.attention">
                                            <span class="error-message" style="color: red;" ng-show="errorMap.get('attention')!=null">
                                                <small>
                                                    {{errorMap.get('attention')}}
                                                </small>
                                            </span>

                                        </div>

                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ptb-15" ng-show="quotation.enquiryNo!=null">
                                            <div class="col-xs-12 pl0 pr0">
                                                <label>Enquiry No</label>
                                                <input class="form-control mb-15" type="text" ng-disabled="true" ng-model="quotation.enquiryNo">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row nopadding bor-0 ">
                            <hr class="nomargin  ">
                        </div>
                        <div class="tab-content  tab-blue-content brad3 box-shadow-none" set-tab-height>
                            <div>
                                <div class="row shade2  nomargin">
                                    <!--<div class="col-xs-12">-->
                                    <!--&lt;!&ndash;<h5>Service</h5>&ndash;&gt;-->
                                    <!--</div>-->
                                    <div class="col-xs-5 ">
                                        <div class="row  ptb-15">
                                            <div class="col-xs-6">
                                                <label>Service Name</label>
                                                <div class="select-auto">
                                                    <input type="text" class="form-control" id="service" input-focus="{{errorMap.get('serviceMaster')!=null}}" autocomplete="off"
                                                        ng-model="quotationDetail.serviceMaster" uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue)"
                                                        typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                        typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true"
                                                        typeahead-append-to-body="true" typeahead-on-select="selectedServiceMaster('origin');"
                                                        typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false"
                                                        typeahead-min-length="1" typeahead-wait-ms="500">
                                                    <span class="select-arrow">
                                                        <b></b>
                                                    </span>
                                                </div>


                                                <span class="error-message" style="color: red;" ng-show="errorMap.get('serviceMaster')!=null">
                                                    <small>
                                                        {{errorMap.get('serviceMaster')}}
                                                    </small>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-7 ">

                                        <div class="col-md-12 plr0">
                                            <button tabIndex="-1" type="button" class="btn btn-primary btn-xs btn-property accent-btn margintop25 pull-right" ng-click="addMultiCarrierModel()">
                                                Multi Carrier &amp; Rates
                                            </button>


                                        </div>

                                    </div>

                                </div>





                                <!-- <h5 class="custom-label">Routing</h5>-->
                                <div class="row  nomargin shade2 ">
                                    <div class="col-xs-5  plr0  ">
                                        <div class="row ptb-15 nopadding nomargin">
                                            <div class="col-xs-6 ">
                                                <label>Origin
                                                    <span>*</span>
                                                </label>
                                                <div class="select-auto">
                                                    <input type="text" class="form-control" id="origin" input-focus="{{errorMap.get('origin')!=null}}" autocomplete="off" ng-model="quotationDetail.origin"
                                                        uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxOriginEvent($viewValue)"
                                                        typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
                                                        typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true"
                                                        typeahead-append-to-body="true" typeahead-on-select="selectedOrigin('destination');"
                                                        typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false"
                                                        typeahead-select-on-exact="true" typeahead-min-length="1" typeahead-wait-ms="500">
                                                    <span class="select-arrow">
                                                        <b></b>
                                                    </span>
                                                </div>

                                                <span class="error-message" style="color: red;" ng-show="errorMap.get('origin')!=null">
                                                    <small>{{errorMap.get('origin')}}</small>
                                                </span>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Destination
                                                    <span>*</span>
                                                </label>
                                                <div class="select-auto">
                                                    <input type="text" class="form-control" id="destination" input-focus="{{errorMap.get('destination')!=null}}" autocomplete="off"
                                                        ng-model="quotationDetail.destination" uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxDestination($viewValue)"
                                                        typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                        typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
                                                        typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true"
                                                        typeahead-append-to-body="true" typeahead-on-select="selectedDestination('tos');"
                                                        typeahead-focus-first="true" typeahead-focus-on-select="false" typeahead-editable="false"
                                                        typeahead-min-length="1" typeahead-wait-ms="500">
                                                    <span class="select-arrow">
                                                        <b></b>
                                                    </span>
                                                </div>

                                                <span class="error-message" style="color: red;" ng-show="errorMap.get('destination')!=null">
                                                    <small>
                                                        {{errorMap.get('destination')}}
                                                    </small>
                                                </span>

                                                <span class="error-message" style="color: red;" ng-show="errorMap.get('similarPorts')!=null">
                                                    <small>{{errorMap.get('similarPorts')}}</small>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 plr0 ">
                                        <div class="row ptb-15 nopadding nomargin">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4   ">
                                                <label>Terms of Shipment
                                                    <span>*</span>
                                                </label>
                                                <div class="select-auto">
                                                    <input type="text" class="form-control" id="tos" autocomplete="off" ng-model="quotationDetail.tosMaster" uib-typeahead="lovObject as lovObject.tosName for lovObject in ajaxTosEvent($viewValue)"
                                                        typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                        typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true"
                                                        typeahead-append-to-body="true" typeahead-on-select="selectedTos('refNo');"
                                                        typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false"
                                                        typeahead-min-length="1" typeahead-wait-ms="500">
                                                    <span class="select-arrow">
                                                        <b></b>
                                                    </span>
                                                </div>
                                                <span class="error-message" style="color: red;" ng-show="errorMap.get('tosMaster')!=null">
                                                    <small>{{errorMap.get('tosMaster')}} </small>
                                                </span>
                                            </div>

                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <label>Reference No</label>
                                                <input type="text" class="form-control" ng-model="quotationDetail.refNo" maxlength="100" id="refNo" />
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                                                <label></label>

                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="row  nomargin shade2 ">
                                    <div class="col-xs-5   plr0 ">
                                        <div class="row ptb-15  nomargin">
                                            <div class="col-xs-6">
                                                <label class="text-inherit">Gross Weight (KG)</label>
                                                <input type="text" input-focus="{{errorMap.get('grossWeight')!=null}}" efsdecimals="$root.weightDecimalPoint" efsdecimal-point="quotation.countryMaster.locale"
                                                    ng-model="quotationDetail.grossWeight" maxlength="15" ng-change="fnCalculateChargeableWeight(); validateQuotationDetail(10)"
                                                    class="form-control text-right" ng-disabled="editRole">
                                                <span class="error-message" style="color: red;" ng-show="errorMap.get('grossWeight')!=null">
                                                    <small>
                                                        {{errorMap.get('grossWeight')}}
                                                    </small>
                                                </span>
                                            </div>


                                            <div class="col-xs-6">
                                                <label>Volume Weight (KG)</label>
                                                <input type="text" input-focus="{{errorMap.get('volumeWeight')!=null}}" id="volumeWeight" efsdecimals="$root.weightDecimalPoint"
                                                    efsdecimal-point="quotation.countryMaster.locale" ng-model="quotationDetail.volumeWeight"
                                                    maxlength="15" ng-change="fnCalculateChargeableWeight(); validateQuotationDetail(11)"
                                                    class="form-control text-right" ng-disabled="editRole" ng-keydown="openTab($event,'charge')">
                                                <span class="error-message" style="color: red;" ng-show="errorMap.get('volumeWeight')!=null">
                                                    <small>
                                                        {{errorMap.get('volumeWeight')}}
                                                    </small>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-7  plr0 ">
                                        <div class="row ptb-15 nopadding nomargin">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <label>Chargeable Weight (KG)</label>
                                                <div class="col-xs-12 pl0 pr0 text-right disabled-box">
                                                    <h6 class="nomargin">{{weightFormat(quotationDetail.chargebleWeight,quotation.countryMaster.locale)}}</h6>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <label>Over Dimension</label>
                                                <div class="col-xs-12 pl0 pr0 text-right disabled-box">
                                                    <h6 class="nomargin">{{isOverDimension ? "YES":"NO"}}</h6>
                                                </div>
                                            </div>

                                            <div class="col-xs-4 col-sm-4 col-md-4  col-lg-4">
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row" ng-init="chargeBtn=false">
                                    <div class="col-xs-12">
                                        <div class="flex align-justify align-middle title" ng-class="isObjFound(quotationDetail.quotationCarrierList[0].quotationChargeList)?'done-approve':''"
                                            style="margin: 0 0 5px !important" ng-click="chargeBtn=!chargeBtn;accessCheck('chargeBtn','mccarrier')">
                                            <div>
                                                <h5>
                                                    <span style="color:{{isObjFound(quotationDetail.quotationCarrierList[0].quotationChargeList)?'#fff !important':'#000 !important;'}}"
                                                        class="done-approve-text">
                                                        <i class="fa fa-money" aria-hidden="true" tabindex="-1" style="transform: scaleX(-1);color:{{isObjFound(quotationDetail.quotationCarrierList[0].quotationChargeList)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Carrier Charge
                                                    </span>
                                                </h5>
                                            </div>
                                            <div>
                                                <i class="{{chargeBtn==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{isObjFound(quotationDetail.quotationCarrierList[0].quotationChargeList)?'#fff !important':'#000 !important;'}}"
                                                    aria-hidden="true" style="color: #25394f !important"></i>
                                            </div>
                                        </div>

                                        <div class=" bor-b-0  pb10" ng-show="chargeBtn">
                                            <div class="row">

                                                <div class="modal-body pb-25 pt0">


                                                    <div class="wrapper">
                                                        <!-- Service List Row Starts Here -->
                                                        <div class="row" ng-init="selectedCarrierIndex=0">
                                                            <div class="col-xs-12 pl10">
                                                                <div class="tabs">
                                                                    <ul class="list-inline chromeTabs ml0">
                                                                        <li class="cur-pointer" ng-repeat="quotationCarrier in quotationDetail.quotationCarrierList track by $index" ng-click="selectMultiCarrierModel($index);$root.navigateToNextField($index+'mccarrier')"
                                                                            title="" ng-class="{'tabActive':selectedCarrierIndex == $index}">
                                                                            {{quotationCarrier.carrierMaster!=null && quotationCarrier.carrierMaster.id!=null ? quotationCarrier.carrierMaster.carrierName
                                                                            : 'General' }}
                                                                            <span ng-show="quotationDetail.quotationCarrierList.length>1" data-placement="bottom" bs-tooltip="tabDelete" class="icon-delete cur-pointer"
                                                                                ng-click="deleteCarrierRow(quotationDetail.quotationCarrierList,$index);$root.navigateToNextField(($index-1)+'mccarrier')"></span>
                                                                        </li>
                                                                        <span class="addtab cur-pointer" data-placement="bottom" bs-tooltip="newTab" ng-click="addCarrierRow(quotationDetail.quotationCarrierList)"></span>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!-- Service List Row Ends Here -->

                                                        <!-- Group Row Starts Here -->
                                                        <div ng-repeat="quotationCarrier in quotationDetail.quotationCarrierList track by $index" ng-show="selectedCarrierIndex==$index">

                                                            <div class="row bor nomargin brad3 shade3 pt10 pb10" style="border-bottom: 1px solid #dadada !important">
                                                                <div class="col-xs-12  plr0 ">
                                                                    <div class="row nomargin">
                                                                        <div class="col-xs-12 col-lg-5  plr0  ">

                                                                            <div class="col-xs-4 col-lg-6 ">
                                                                                <label>Carrier</label>
                                                                                <div class="select-auto">
                                                                                    <input type="text" class="form-control" id="{{$index+'mccarrier'}}" autocomplete="off" ng-model="quotationCarrier.carrierMaster"
                                                                                        uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierEvent($viewValue)"
                                                                                        typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                                                                        typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                        typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                        typeahead-on-select="selectedCarrierMaster($index+'mmtransit',quotationCarrier,$index);"
                                                                                        typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                        typeahead-editable="false" typeahead-min-length="1"
                                                                                        typeahead-wait-ms="500">
                                                                                    <span class="select-arrow">
                                                                                        <b></b>
                                                                                    </span>
                                                                                </div>
                                                                                <span class="error-message" style="color: red;" ng-show="errorMap.get($index+'carrierMaster')!=null">
                                                                                    <small>{{errorMap.get($index+'carrierMaster')}}
                                                                                        </small>
                                                                                </span>
                                                                            </div>
                                                                            <div class="col-xs-4 col-lg-6">
                                                                                <label>Transit Days</label>
                                                                                <input id="{{$index+'mmtransit'}}" type="text" ng-model="quotationCarrier.transitday" input-focus="{{errorMap.get($index+'transitday')!=null}}"
                                                                                    ng-change="validateQuotationCarrier(6,quotationCarrier,$index)"
                                                                                    maxlength=3 class="form-control text-right">
                                                                                <span class="error-message" style="color: red;" ng-show="errorMap.get($index+'transitday')!=null">
                                                                                    <small>
                                                                                        {{errorMap.get($index+'transitday')}}
                                                                                    </small>
                                                                                </span>
                                                                            </div>

                                                                        </div>
                                                                        <div class=" col-lg-7 plr0 ">

                                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4   ">
                                                                                <label>Frequency</label>
                                                                                <div class="select-auto">
                                                                                    <input type="text" id="{{$index+'mmfrequency'}}" class="form-control" autocomplete="off" ng-model="quotationCarrier.frequency"
                                                                                        uib-typeahead="lovObject as lovObject.frequencyName for lovObject in ajaxFrequencyEvent($viewValue)"
                                                                                        typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                                        typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                        typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                        typeahead-on-select="selectedFrequency($index+'mchargeCodeField0',quotationCarrier,$index);"
                                                                                        typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                        typeahead-editable="false" typeahead-min-length="1"
                                                                                        typeahead-wait-ms="500">
                                                                                    <span class="select-arrow">
                                                                                        <b></b>
                                                                                    </span>
                                                                                </div>
                                                                                <span class="error-message" style="color: red;" ng-show="errorMap.get($index+'frequency')!=null">
                                                                                    <small>{{errorMap.get($index+'frequency')}}
                                                                                        </small>
                                                                                </span>
                                                                            </div>






                                                                        </div>
                                                                    </div>

                                                                    <div class="row nomargin bor-0 pt-15">
                                                                        <hr class="nomargin">
                                                                    </div>


                                                                </div>
                                                                <quotation-charge-table table-check="quotationCarrier.ischargeCheck" index-key="$index+'m'" depend-data="quotation" depend-service-data="quotationDetail"
                                                                    depend-carrier-data="quotationCarrier" table-data="quotationCarrier.quotationChargeList"
                                                                    fn-role="roleAccess(param)" call-fun="quotationRateCalculation(quotationCarrier)"
                                                                    add-role="$roleConstant.SALE_QUOTATION_SERVICE_CHARGE_CREATE"
                                                                    edit-role="$roleConstant.SALE_QUOTATION_SERVICE_CHARGE_MODIFY"
                                                                    fetch-role="$roleConstant.SALE_QUOTATION_SERVICE_CHARGE_FROM_PRICING_LIST"
                                                                    delete-role="$roleConstant.SALE_QUOTATION_SERVICE_CHARGE_DELETE">
                                                                </quotation-charge-table>

                                                            </div>

                                                        </div>

                                                        <!-- Group Row Ends Here -->

                                                    </div>

                                                </div>
                                                <!--body ends-->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--TAB CONTENET ENDS-->


                                <div class="row" ng-init="dimensionBtn=false">
                                    <div class="col-xs-12">
                                        <div class="flex align-justify align-middle title" ng-class="isObjFound(quotationDetail.quotationDimensionList)?'done-approve':''"
                                            style="margin: 0 0 5px !important" ng-click="dimensionBtn=!dimensionBtn;accessCheck('dimensionBtn','noOfPiece0')">
                                            <div>
                                                <h5>
                                                    <span style="color:{{isObjFound(quotationDetail.quotationDimensionList)?'#fff !important':'#000 !important;'}}" class="done-approve-text">
                                                        <i class="fa fa-cube" aria-hidden="true" tabindex="-1" style="transform: scaleX(-1);color:{{isObjFound(quotationDetail.quotationDimensionList)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Dimensions
                                                    </span>
                                                </h5>
                                            </div>
                                            <div>
                                                <i class="{{dimensionBtn==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{isObjFound(quotationDetail.quotationDimensionList)?'#fff !important':'#000 !important;'}}"
                                                    aria-hidden="true" style="color: #25394f !important"></i>
                                            </div>
                                        </div>
                                        <div class=" bor-b-0  pb10" ng-show="dimensionBtn">
                                            <div class="row">

                                                <div class="col-xs-12 ">
                                                    <div class="row nomargin">
                                                        <div class="col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-6">
                                                                    <label>Dimension Unit</label>
                                                                    <ul class="list-inline">
                                                                        <li ng-class="{'opc-5':quotationDetail.dimensionUnit}">Centimeter / Kilos</li>
                                                                        <li class="v-align-top">
                                                                            <switch id="enabled" tabIndex="0" name="enabled" ng-model="quotationDetail.dimensionUnit" class="green" ng-change="fnDimensionUnit()"></switch>
                                                                        </li>
                                                                        <li ng-class="{'opc-5':!quotationDetail.dimensionUnit}">Inch / Pounds</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <label>Dimension Value</label>
                                                                    <input disabled="true" ng-model="quotationDetail.dimensionUnitValue" type="text" class="form-control text-right">
                                                                    <span class="nowrap">It is used in calculating the volume weight</span>
                                                                </div>
                                                            </div>
                                                            <div class="row nomargin ">
                                                                <div class="pad-5">
                                                                    <span class="error-message" ng-show="errorMap.get('dimensionError')!=null">
                                                                        <small>{{errorMap.get('dimensionError')}}</small>
                                                                    </span>
                                                                    <dimension-table country-master="quotation.countryMaster" table-data="quotationDetail.quotationDimensionList" table-check="quotationDimension.isDimensionCheck"
                                                                        unit-type="quotationDetail.dimensionUnit" unit-value="quotationDetail.dimensionUnitValue"
                                                                        calc-fn="calculateWeight(param)" fn-role="roleAccess(param)"
                                                                        add-role="$roleConstant.SALE_QUOTATION_SERVICE_DIMENSION_CREATE"
                                                                        edit-role="$roleConstant.SALE_QUOTATION_SERVICE_DIMENSION_MODIFY"
                                                                        delete-role="$roleConstant.SALE_QUOTATION_SERVICE_DIMENSION_DELETE">

                                                                    </dimension-table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--TAB CONTENET ENDS-->


                                <div class="row" ng-init="pickupBtn=false">
                                    <div class="col-xs-12">

                                        <div class="flex align-justify align-middle title" ng-class="isPickUpDelFound(quotationDetail)?'done-approve':''" style="margin: 0 0 5px !important"
                                            ng-click="pickupBtn=!pickupBtn;accessCheck('pickupBtn','pickupAddress')">
                                            <div>
                                                <h5>
                                                    <span style="color:{{isPickUpDelFound(quotationDetail)?'#fff !important':'#000 !important;'}}" class="done-approve-text">
                                                        <i class="fa fa-truck" aria-hidden="true" tabindex="-1" style="transform: scaleX(-1);color:{{isPickUpDelFound(quotationDetail)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Pickup / Delivery
                                                    </span>
                                                </h5>
                                            </div>
                                            <div>
                                                <i class="{{pickupBtn==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{isPickUpDelFound(quotationDetail)?'#fff !important':'#000 !important;'}}"
                                                    aria-hidden="true" style="color: #25394f !important"></i>
                                            </div>
                                        </div>

                                        <div class=" bor-b-0  pb10" ng-show="pickupBtn">
                                            <div class="row">

                                                <div ng-include="'app/components/sales/tab_view/pickup_delivery_edit_page.html'"></div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--TAB CONTENET ENDS-->

                                <div class="row" ng-init="notesBtn=false">
                                    <div class="col-xs-12">
                                        <div class="flex align-justify align-middle title" ng-class="isObjFound(quotationDetail.serviceNoteList)?'done-approve':''"
                                            style="margin: 0 0 5px !important" ng-click="notesBtn=!notesBtn;accessCheck('notesBtn','airNote0');createDefaultAirNote()">
                                            <div>
                                                <h5>
                                                    <span style="color:{{isObjFound(quotationDetail.serviceNoteList)?'#fff !important':'#000 !important;'}}" class="done-approve-text">
                                                        <i class="fa fa-sticky-note" aria-hidden="true" tabindex="-1" style="transform: scaleX(-1);color:{{isObjFound(quotationDetail.serviceNoteList)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Air Notes
                                                    </span>
                                                </h5>
                                            </div>
                                            <div>
                                                <i class="{{notesBtn==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{isObjFound(quotationDetail.serviceNoteList)?'#fff !important':'#000 !important;'}}"
                                                    aria-hidden="true" style="color: #25394f !important"></i>
                                            </div>
                                        </div>
                                        <div class=" bor-b-0  pb10" ng-show="notesBtn">

                                            <div class="col-xs-12 ">
                                                <ul class="list-inline mt10">

                                                    <li>
                                                        <button tabIndex="-1" type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addAirNote(); notesToCurrentFocus=true">
                                                            <i class="icon-add opcfull"></i> Add Air Note</button>
                                                    </li>
                                                    <li>
                                                        <button tabIndex="-1" type="button" class="btn btn-default btn-xs btn-property green-btn" ng-click="getDefaultAirNote()">Get Default Air Note</button>
                                                    </li>
                                                </ul>
                                                <div class="table-responsive mt10">
                                                    <table class="table table-inline-nopad">
                                                        <thead>
                                                            <tr>
                                                                <th class="inl_xs">#</th>
                                                                <th>Notes</th>
                                                                <th class="inl_m">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="gNote in quotationDetail.serviceNoteList track by $index">
                                                                <td>{{$index+1}}</td>
                                                                <td>
                                                                    <textarea style="height:30px !important" default-focus="notesToCurrentFocus" msd-elastic id="{{'airNote'+$index}}" class="form-control minH-30"
                                                                        ng-model="gNote.note" ng-class="{'error-control':errorMap.get('sNote'+$index)!=null}"
                                                                        maxlength="4000">
                                                                    </textarea>
                                                                    <span class="error-message" ng-show="errorMap.get('sNote'+$index)!=null">
                                                                        <small>{{errorMap.get('sNote'+$index)}}</small>
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <a tabIndex="-1" ng-click="deleteAirNote($index)" href="javascript:void(0);">
                                                                        <i class="icon-delete" data-placement="bottom" bs-tooltip="delete"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <!--TAB CONTENET ENDS-->


                                <div class="row" ng-init="valueAdded=false">
                                    <div class="col-xs-12">

                                        <div class="flex align-justify align-middle title" ng-class="isValueAddedFound(quotationDetail.quotationValueAddedTmpServiceList)?'done-approve':''"
                                            style="margin: 0 0 5px !important" ng-click="valueAdded=!valueAdded;accessCheck('valueAdded','valueAddedServices0')">
                                            <div>
                                                <h5>
                                                    <span style="color:{{isValueAddedFound(quotationDetail.quotationValueAddedTmpServiceList)?'#fff !important':'#000 !important;'}}"
                                                        class="done-approve-text">
                                                        <i class="fa fa-cog" aria-hidden="true" tabindex="-1" style="transform: scaleX(-1);color:{{isValueAddedFound(quotationDetail.quotationValueAddedTmpServiceList)?'#fff !important':'#000 !important;'}}"></i>&nbsp;&nbsp;Value Added
                                                    </span>
                                                </h5>
                                            </div>
                                            <div>
                                                <i class="{{valueAdded==true?'icon-uparrow':'icon-downarrow'}}" style="color:{{isValueAddedFound(quotationDetail.quotationValueAddedTmpServiceList)?'#fff !important':'#000 !important;'}}"
                                                    aria-hidden="true" style="color: #25394f !important"></i>
                                            </div>
                                        </div>

                                        <div class=" bor-b-0  pb10" ng-show="valueAdded">
                                            <div class="row">

                                                <div class="col-xs-12 ">

                                                    <div ng-repeat="valueAddedServices in quotationDetail.quotationValueAddedTmpServiceList track by $index">
                                                        <div class="col-xs-3">
                                                            <input tabindex="0" type="checkbox" ng-model="quotationDetail.quotationValueAddedTmpServiceList[$index].selected" ng-change="pupulateQuotationChargeList(quotationDetail.quotationValueAddedTmpServiceList[$index])"
                                                                id="valueAddedServices{{$index}}" class="magic-checkbox">
                                                            <label class="text custom-label" for="valueAddedServices{{$index}}">
                                                                {{valueAddedServices.valueAddedSevicesName}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--TAB CONTENET ENDS-->

                            </div>
                            <!--Services tab ends-->

                        </div>
                        <!--TAB CONTENT ENDS-->


                    </div>
                    <!--panel body ends-->
                    <div ng-hide="!showPartyAddressCustomerList" class="wrapper-back-drop"></div>

                    <div ng-hide="!showPartyAddressShipperList" class="wrapper-back-drop"></div>
                    <div ng-hide="!topQuotationsConfig.showTopQuotationsFlag" class="wrapper-back-drop"></div>

                    <div ng-show="showPartyAddressCustomerList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItem" data="quotation.customer.partyAddressList" cancel-event="cancelPartyAddressCustomer()"
                            click-event="selectedPartyAddressCustomer(param)" config="partyAddresslistCustomerConfig"></select-list-picker>
                    </div>

                    <div ng-show="showPartyAddressShipperList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItem" data="quotation.shipper.partyAddressList" cancel-event="cancelPartyAddressShipper()"
                            click-event="selectedPartyAddressShipper(param)" config="partyAddresslistShipperConfig"></select-list-picker>
                    </div>


                    <!-- Top Quotation Starts -->
                    <!-- Top Quotation Ends -->


                </div>
                <!--panel ends-->
            </form>
            <div ng-show="topQuotationsConfig.showTopQuotationsFlag" class="logs-transition sideView" style="top:40px !important">
                <div id="top-quotations-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading flex align-middle align-justify">
                            <div class="panelTitle">
                                <div class="flex align-justify align-middle">
                                    <span>
                                        <a href="javascript:void(0)" ng-click="topQuotationsConfig.showTopQuotationsFlag=false" class="list-panel-back" style="position: relative; top: 2px;">
                                            <i class="icon-close-detail" data-placement="bottom" bs-tooltip="close" style="font-size:20px; margin-top:-5px"></i>
                                        </a>
                                    </span>
                                    <h4 class="pl5" style="font-weight: bold">{{topQuotationsConfig.title}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" panel-height ng-nicescroll nice-option="{cursorcolor: '#3F8DEB', cursorwidth: '8px',smoothscroll: true}">
                            <div class="row ptb-15 bor-btm-1" style="padding-top:1px !important">
                                <div class="col-xs-12">
                                    <div class="wrap-text" style="text-align:center">Recent Quotes List</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row  nomargin ptb-15 bor-btm-1" ng-repeat="dataObj in topRecords track by $index" style="padding-top:1px !important">
                                    <div class="col-xs-12">
                                        <!-- <div class="row">
					                    		<div class="col-xs-6">
													<span>Logged On</span> {{dateToString(dataObj.loggedOnDate)}}
                                    			</div>
                                    			<div class="col-xs-6">
                                        			<span>Logged By</span> {{dataObj.loggedByEmployee}}
                                    			</div>
					                    	</div> -->
                                        <div class="row  shade2" style="padding-bottom : 10px">
                                            <div class="col-xs-6">
                                                <a ng-click="salesQuotationViewPage(dataObj.id)" style="padding-top: 7px !important; float:left; font-size:13px" class="hyperLink mb0 wrap-text">{{dataObj.quotationNo}}</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <!-- <span>Status</span> -->
                                                <h6 class="wrap-text">
                                                    <span ng-show="dataObj.status == 'Pending'" style="color : #ffd54f; font-weight: bold">
                                                        {{dataObj.status}}
                                                    </span>
                                                    <span ng-show="dataObj.status == 'Approved'" style="color : #2196f3; font-weight: bold">
                                                        {{dataObj.status}}
                                                    </span>
                                                    <span ng-show="dataObj.status == 'Gained'" style="color : #2E7D32; font-weight: bold">
                                                        {{dataObj.status}}
                                                    </span>
                                                    <span ng-show="dataObj.status == 'Rejected'" style="color : #ED2528; font-weight: bold">
                                                        {{dataObj.status}}
                                                    </span>

                                                </h6>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 5px">
                                            <div class="col-xs-6">
                                                <span style="font-size:13px">{{dataObj.serviceCode}} ({{dataObj.originName}} -> {{dataObj.destinationName}})</span>
                                            </div>
                                            <div class="col-xs-6">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--row ends-->
</div>
<!--container ends-->