<div class="container-fluid pl0 pr0 page-style" ng-controller="quotationCtrl" >
    <div class="row ml0 mr0" >
        <div class="list-container col-md-12" ng-if="showDetail" >
            <!--TAb-->
            <div class="row nomargin">
                <ul class="nav btn-tab2">
					<li ng-class="detailTab==tabObj.tab?'activeBtn':''"
						ng-click="tabChange(tabObj.tab)" 
						ng-repeat="tabObj in tabArray">{{tabObj.displayName +"(" + tabObj.totalCount + ")"}}
					</li>
				</ul>
            </div>
            <!--TAB CONTENT-->
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                            <div class="panel panel-default " >
                                <div class="panel-heading">
                                    <section class="row">
                                        <div class="col-md-2">
                                            <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addQuotation()"><i class="icon-add opcfull"></i> Add Quotation</button>
                                        </div>
										<div class="col-md-2"></div>
										
										<div class="col-md-2">
											<div class="form-group">
												<div class="input-group-btn">
													<select class="form-control"
														ng-model="searchDto.searchName" ng-change="searchBy(true)"
														ng-options="v for v in searchOption">
														<option label="Search By" value="" />
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-2">
											<input type="text" id="searchValueAll" ng-change="searchBy(false)"
												ng-model="searchDto.searchValue"
												ng-show="searchValueAllFlag" />
										</div>
										<div class="col-md-2"></div>
										<div class="col-md-2"></div>
                                    </section>
                                </div>
                                <div class="panel-body nav-tab-container" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table 	data="quotationArr"
                                                        head="quotationHeadArr"
                                                        sort="sortSelection"
                                                        click-event="hasAccess('SALES_QUOTATION_VIEW')?rowSelect(param,index):''"
                                                        search-event="changeSearch(param)"
                                                        sort-event="sortChange(param)"
                                                        page="page" size="limit" >
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                    </div><!--tab content ends-->
                </div>
            </div>
        </div>
    </div>
</div>