<div class="container-fluid pl0 pr0 page-style">
    <div class="row ml0 mr0">
        <div class="list-container col-md-12">
            <!--TAb-->
            <div class="row nomargin">
                <ul class="nav btn-tab2">
                    <li ng-class="detailTab=='pending'?'activeBtn':''" ng-click="setTab('pending');">
                        AES Pending
                    </li>
                    <li ng-class="detailTab=='generated'?'activeBtn':''" ng-click="setTab('generated');">
                        AES Generated
                    </li>
                </ul>
            </div>
            <!--TAB CONTENT-->
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                        <div ng-if="detailTab=='pending'">
                            <div class="panel panel-default">
                                <div class="panel-body nav-tab-container" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table data="aesPendingFileList" head="aesPendingHeadArr" sort="sortPendingSelection" click-event="rowSelect(param,index)"
                                            search-event="changeSearchPending(param)" sort-event="sortChangePending(param)" action-event="actionClick(param)"
                                            page="pagePending" size="limitPending">
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limitPending" ng-change="limitPendingChange(limitPending)" ng-options="v for v in limitArrPending">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr page="pagePending" size="limitPending" total="totalRecordPending" page-change="changepage(param)" class="pull-right"></pagination-dr>
                                    </div>
                                </div>
                            </div>
                            <!--panel ends-->
                        </div>
                        <div ng-if="detailTab=='generated'">
                            <div class="panel panel-default ">
                                <div class="panel-body nav-tab-container" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table data="aesFileList" head="aesHeadArr" sort="sortSelection" click-event="hasAccess('MASTER_CATEGORY_VIEW')?rowSelect(param):''"
                                            search-event="changeSearch(param)" sort-event="sortChange(param)" click-event="rowSelect(param,index)"
                                            page="page" size="limit">
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right"></pagination-dr>
                                    </div>
                                </div>
                            </div>
                            <!--panel ends-->
                        </div>
                    </div>

                </div>
                <!--tab content ends-->
            </div>
        </div>

    </div>
</div>
</div>