<div class="container-fluid">
	<div class="row ml0 mr0 " data-ng-controller="glCtrl" ng-init="init()">
		<div ng-show="!showDetail" class=" list-container col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-click="rowSelect()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()">
									<i class="icon-add"></i> Add GL Account
								</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
						<div show-response></div>
						<div success-message></div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 	data="glArr"
										head="glHeadArr"
										sort="sortSelection"
										click-event="hasAccess('MASTER_CHARGE_VIEW')?rowSelect(param):''"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page" size="limit" >
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit"
										ng-change="limitChange(limit)" ng-options="v for v in limitArr">

								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		<div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12 pl0" ng-show="showDetail" >
			<div class="panel panel-default detail-transition" >
				<div class="panel-heading flexTitle">
					<div>
						<div class="panel-title">
							<h4><span data-placement="bottom"   bs-tooltip="back" ng-click="cancel()"
									  class="list-panel-back cur-pointer pr5"><i class="icon-back-menu"></i></span>GL Account Code <span>1301010111</span></h4>

						</div>
					</div>
					<div>
						<ul class="list-inline text-right">
							<!--<li><i class="icon-settings"></i></li>-->
							<li><a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"
									><i class="icon-logs"  data-placement="bottom"   bs-tooltip="activity"></i></a></li>
							<li><a  data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="hasAccess('MASTER_CHARGE_EDIT')?edit():''"
								   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
							<li><a  data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)"
								   ng-click="hasAccess('MASTER_CHARGE_DELETE')?deleteMaster():''" class="list-panel-edit-btn cursorPt"><i
									class="icon-delete"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
					<div class="detail-view">
						
						<div class="row metadata-detail ">
							<span >Name</span>
							<h5 class="heading">AE Export Income</h5>
						</div>
						
						<div class="row">
							<div class="col-xs-7 plr0">
								<div class="row  nopadding">
									<div class="col-xs-4 pl0">
										<span >GL Head</span>
										<h6>Income</h6>
									</div>
									<div class="col-xs-4 pl0">
										<span >Account Type</span>
										<h6>Bank</h6>
									</div>
									<div class="col-xs-4 pl0">
										<span>Status</span>
										<show-status status="{{glMaster.glstatus}}"></show-status>
									</div>
								</div>
							</div>

						</div>
						<div class="row ">
							<div class="col-xs-7 plr0">
								<div class="row  nopadding">
									<div class="col-xs-4 pl0">
										<span >Group</span>
										<h6>Operating Income</h6>
									</div>
									<div class="col-xs-4 pl0">
										<span >Sub Group</span>
										<h6>Export</h6>
									</div>
									<div class="col-xs-4 pl0">
										<span >Group Account</span>
										<h6>No</h6>
									</div>
								</div>
							</div>
							<div class="col-xs-5 plr0">
								<div class="row  nopadding">
									<div class="col-xs-6 pl0">
										<span >Job / Subledger Account</span>
										<h6>Subledger</h6>
									</div>
									<div class="col-xs-6 pl0">
										<span >Base Currency</span>
										<h6>INR</h6>
									</div>
								</div>
							</div>
						</div>

						<div class="row ">

							<div class="col-xs-4 pl0">
								<span >Bank Name</span>
								<h6>ABN Bank</h6>
							</div>
						</div>
						<div class="row nopadding bor-0">
							<div class="col-xs-12 nopadding">
								<ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='subledgerMap'">
									<li data-menu-item="charge">
										<button type="button" class="btn" ng-class="Tabs=='subledgerMap'?'active':'btn-normal'" ng-click="Tabs='subledgerMap'">Subledger Mapping</button>
									</li>
									<li data-menu-item="notes">
										<button type="button" class="btn" ng-class="Tabs=='bankDetails'?'active':'btn-normal'" ng-click="Tabs='bankDetails'">Bank Details</button>
									</li>
								</ul><!--TAB MENUS ENDS-->
								<div class="tab-content " >
									<div ng-show="Tabs=='subledgerMap'">
										<div class="row nopadding">
											<div class="col-xs-12 pt-15 ">
												<div class="table-responsive">
													<table  class="table table-inline nomargin">
														<thead>
														<tr>
															<th class="inl_xxs text-center">#</th>
															<th class="inl_l">Location</th>
															<th class="inl_l">Subledger Code</th>
															<th class="inl_l">Subledger Name</th>
															<th class="inl_l">Account Type</th>
															<th class="inl_l">Status</th>
														</tr>
														</thead>
														<tbody>
														<tr>
															<td class="w50px text-center">1</td>
															<td>Chennai</td>
															<td>S00095</td>
															<td class="text-blue">ABN Bank</td>
															<td>-</td>
															<td></td>
														</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div><!--charge TAB ENDS-->

									<div ng-show="Tabs=='bankDetails'">

										<div class="row pt-15 plr0 bor-btm-1">
											<div class="col-xs-7 nopadding">
												<div class="row nopadding">
													<div class="col-xs-4">
														<span >Bank Account No</span>
														<h6>21445787899</h6>
													</div>
													<div class="col-xs-8 ">
														<span>Bank Name</span>
														<h6>Oriental Bank of Commerce - OBC</h6>
													</div>
												</div>
											</div>
											<div class="col-xs-5 nopadding">
												<div class="row nopadding">
													<div class="col-xs-6 pl0">
														<span >Branch Name</span>
														<h6>Velachery</h6>
													</div>
													<div class="col-xs-6 pl0">
														<span>City</span>
														<h6>Chennai</h6>
													</div>
												</div>
											</div>
										</div>

										<div class="row nopadding bor-0 plr0 ">
											<div class="col-xs-7  nopadding">
												<div class="row bor-btm-1 nopadding">
													<div class="col-xs-4 ptb-15">
														<span >Multiple Credit</span>
														<h6>No</h6>
													</div>
													<div class="col-xs-4 ptb-15">
														<span>Overdraft Amount</span>
														<h6>150000.00</h6>
													</div>
													<div class="col-xs-4 ptb-15 pl0">
														<span>Temp Overdraft Amount</span>
														<h6>-</h6>
													</div>
												</div>
												<div class="row plr0 bor-0">
													<div class="col-xs-4">
														<span >Guarantee Limit</span>
														<h6>100000.00</h6>
													</div>
													<div class="col-xs-4">
														<span>Interest Rate</span>
														<h6>6.0</h6>
													</div>
													<div class="col-xs-4 pl0">
														<span>Overdraft Limit Warning</span>
														<h6>No</h6>
													</div>
												</div>
											</div>
											<div class="col-xs-5 bor-btm-1 nopadding">
												<div class="row nopadding">
													<div class="col-xs-12 ptb-15 pl0">
														<span >Notes</span>
														<h6>-</h6>
													</div>
												</div>
											</div>
										</div>
										<div class="row bor-0 nopadding">
											<div class="col-xs-12 nopadding">
											<div ng-click="otherInfo=!otherInfo" ng-init="otherInfo=true" class=" mb0 cursorPt flex align-justify align-middle title">
												<div>
													<h5 class="">More Info</h5>
												</div>
												<div>
													<i class="{{otherInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
												</div>

											</div>
											<div class=" fx-fade-normal fx-ease-sine pt5  bor-btm-1" ng-hide="!otherInfo">
												<div class="row nomargin nopadding ">
													<div class="col-xs-7 nopadding">
														<div class="row plr0">
															<div class="col-xs-4">
																<span >Bank Address</span>
																<h6>123, Street name, Near landmark City , State, Country - zip</h6>
															</div>
															<div class="col-xs-4">
																<span >Swift Address</span>
																<h6>123, Street name, Near landmark City , State, Country - zip</h6>
															</div>
															<div class="col-xs-4 pl0">
																<span >IBAN No</span>
																<h6>-</h6>
															</div>
														</div>
													</div>
													<div class="col-xs-5 plr0">
														<div class="row plr0">

															<div class="col-xs-6 pl0">
																<span >VAT Id</span>
																<h6>-</h6>
															</div>
														</div>
													</div>
												</div>
											</div>
											</div>
										</div>

									</div><!--notes TAB ENDS-->
								</div><!--TAB CONTENT TAB ENDS-->
							</div><!--Col ends-->
						</div><!--row ends-->
					</div>
					<div class="logs-view logs-transition width42per" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="showHistory=false"
											   class="list-panel-back"><i class="icon-close-detail"  data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
								
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="chargeMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{chargeMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(chargeMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="chargeMaster.systemTrack.lastUpdatedUser"></hm-init-icon>>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{chargeMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(chargeMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
