<div class="container-fluid resPortAddPage resLandAddPage" >
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-7">
			<form role="form" id="serviceMasterForm" name="serviceMasterForm" novalidate>
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{serviceMaster.id!=null?'Edit':'Add'}} Service</h4>
						</div>
						<div>
							<div class="btngrp">

									<button  type="button" id="cancel"
										class="btn cancel-btn"
										ng-click="cancel()">Cancel</button>

								<input  type="button" id="saveOrUpdate"
									class="btn accent-btn"
									value="{{serviceMaster.id!=null?'Update':'Save'}}" ng-click="serviceMaster.id!=null?update():save()"></li>
							</div>
						</div>
					</div>
					<div class="panel-body pt0 half-master-edit" id="service-panel" panel-height
						ng-nicescroll
						nice-option="{{ngScrollConfig}}">
						<div class="pad-15 pt5">
							<div show-response></div>
							<div>
								<span class="reqColor">*</span>
								<small class="opc-5 f-12b4">
									Indicates Mandatory fields
								</small>
							</div>
						</div>
						<div class="row ">
							<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 form-group nomargin pl0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input  type="text" class="form-control"
									id="serviceName" name="serviceName"
									ng-model="serviceMaster.serviceName"
									input-focus="true"
									ng-class="{'error-control':errorMap.get('serviceName')!=null}"
									maxlength="100" ng-change="validateServiceMaster(1)">
								<div>
									<span class="error-message" ng-show="errorMap.get('serviceName')!=null"><small>{{errorMap.get('serviceName')}}</small></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 nomargin  pl0">
								<div class=" form-group nomargin pl0">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input type="text" class="form-control" id="serviceCode"
										name="serviceCode" ng-model="serviceMaster.serviceCode"
										ng-class="{'error-control':errorMap.get('serviceCode')!=null}"
										maxlength="10" capitalize ng-change="validateServiceMaster(2)"
										input-focus="{{errorMap.get('serviceCode')!=null}}"
										ng-disabled="serviceMaster.id!=null">
									<div>
										<span class="error-message" ng-show="errorMap.get('serviceCode')!=null"><small>{{errorMap.get('serviceCode')}}</small></span>
									</div>
								</div></div>
								<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6  plresleft0 form-group nomargin"
									ng-if="serviceMaster.id!=null">
									<label class=" custom-label">Status</label> <select 
										class="form-control status " id="status"
										ng-class="setStatus(serviceMaster.status)"
										ng-options="item for item in enum['LovStatus']"
										ng-model="serviceMaster.status">
									</select>
								</div>
							
						</div>



						<div class="row noborder">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group nomargin pl0">
								<label class=" custom-label">Transport Mode<span class="reqColor">*</span></label>
                                <button-group 
                                        states="enum['TransportMode']"
                                        state="serviceMaster.transportMode"
                                        on-state-change="validateServiceMaster(3)">
                                </button-group>
								<div>
									<span class="error-message" ng-show="errorMap.get('transportMode')!=null"><small>{{errorMap.get('transportMode')}}</small></span>
								</div>
							</div>
						</div>

						<div class="row noborder">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group nomargin pl0">
								<label class=" custom-label">Full / Groupage 
								<span ng-show="serviceMaster.transportMode=='Ocean'" class="reqColor">*</span></label>
                                <button-group 
                                              states="enum['FullGroupage']"
                                              state="serviceMaster.fullGroupage"
                                              on-state-change="validateServiceMaster(4)">
                                </button-group>
								<div>
									<span class="error-message" ng-show="errorMap.get('fullGroupage')!=null"><small>{{errorMap.get('fullGroupage')}}</small></span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group nomargin pl0">
								<label class=" custom-label">Import / Export<span class="reqColor">*</span></label>
                                <button-group 
                                              states="enum['ImportExport']"
                                              state="serviceMaster.importExport"
                                              on-state-change="validateServiceMaster(5)">
                                </button-group>
								<div>
									<span class="error-message" ng-show="errorMap.get('importExport')!=null"><small>{{errorMap.get('importExport')}}</small></span>
								</div>
							
							</div>
						</div>


						<div class="row bor-0">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin pl0">
										<label class="custom-label">Cost Center </label>
											<div class="select-auto">
												<input type="text" class="form-control" 
													input-focus="{{errorMap.get('costCenter')!=null}}"
													autocomplete="off" ng-model="serviceMaster.costCenter"
													uib-typeahead="lovObject as lovObject.costCenterName for lovObject in ajaxCostCenterEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedCostCenter(param,'serviceTypeMaster');"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500">
												<span class="select-arrow"><b></b></span>
												</div>
														
										<div>
											<span class="error-message" style="color: red;" ng-show="errorMap.get('costCenter')!=null"><small>
												{{errorMap.get('costCenter')}}
											</small></span>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group nomargin ">
										<label class="custom-label">Service Type </label>
											<div class="select-auto">
												<input type="text" class="form-control" id="serviceTypeMaster" 
													input-focus="{{errorMap.get('serviceType')!=null}}" 
													autocomplete="off" ng-model="serviceMaster.serviceType" 
													uib-typeahead="lovObject as lovObject.serviceTypeName for lovObject in ajaxServiceTypeEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedServiceType(param);"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500">
												<span class="select-arrow"><b></b></span>
											</div>

										<div>
											<span class="error-message" style="color: red;" ng-show="errorMap.get('serviceType')!=null"><small>
												{{errorMap.get('serviceType')}}
											</small></span>
										</div>

									</div>
								</div>
							</div>
						</div>


					</div>

				</div>
				<!--panel ends-->
			</form>
		</div>

	</div>
</div>

