<div class="container-fluid resPortListPage resLandListPage">
	<div class="row ml0 mr0">
		<div ng-show="deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12 " >
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()"><i class="icon-add opcfull"></i> Add Service</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
				<div show-response></div>
				<div success-message></div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 	data="serviceArr"
										head="serviceHeadArr"
										sort="sortSelection"
										click-event="rowSelect(param)"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page"
										size="limit">
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit"
										ng-change="limitChange(limit)" ng-options="v for v in limitArr">

								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		<div  class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12   m-pl0 ">
			<div class="panel panel-default detail-transition"  ng-show="serviceMaster.id!=null" >
					<div class="panel-heading panel-heading-sm">
						<div>
							<h4>
								<a
									href="javascript:void(0)"
									ng-click="cancel()"
								   class="list-panel-back pr5">
									<i  data-placement="bottom"
										  bs-tooltip="back"  ng-click="showHistory=false"
										class="icon-back-menu">

									</i>
								</a>
								Service
							</h4>
							<!--<span>
								<a title="Close" href="javascript:void(0)" ng-click="cancel()"
								   class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<span>Service</span>-->
						</div>
						<div>
							<ul class="list-inline">
								<li>
									<a  href="javascript:void(0)"
										ng-class="{'active-activityBtn':showHistory}"
										ng-click="showHistory=!showHistory">
									    <i class="icon-logs"
											data-placement="bottom"
											  bs-tooltip="activity">
										</i>
								    </a>
								</li>
								<li><a data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="edit()"
										><i class="icon-edit"></i></a></li>
								<li><a data-placement="bottom"   bs-tooltip="delete"  href="javascript:void(0)"
									   ng-click="deleteMaster()" class="list-panel-edit-btn"><i
										class="icon-delete"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="detail-view" ng-click="showHistory=false">
							<div class="row metadata-detail">
								<span >Name</span>
								<h5 >{{serviceMaster.serviceName}}</h5>
							</div>
							<div class="row">
								<ul class="list-inline">
									<li class="col-xs-6">
										<span >Code</span>
										<h5 >{{serviceMaster.serviceCode}}</h5>
									</li>
									<li class="col-xs-6">
										<span >Status</span>
										<show-status status="{{serviceMaster.status}}"></show-status>
									</li>
								</ul>
							</div>
							<div class="row">
								<ul class="list-inline">
									<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<span >Transport Mode</span>
										<h5 >{{serviceMaster.transportMode}}</h5>
									</li>
									<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<span >Full / Groupage</span>
										<h5 >{{serviceMaster.fullGroupage}}</h5>
									</li>
								</ul>
							</div>
							<div class="row">
								<span >Import / Export</span>
								<h5 >{{serviceMaster.importExport}}</h5>
							</div>
							<div class="row">
								<ul class="list-inline">
									<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<span >Cost Center</span>
										<h5 >{{serviceMaster.costCenter.costCenterName}} </h5>
									</li>
									<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<span >Service Type</span>
										<h5 >{{serviceMaster.serviceType.serviceTypeName}}</h5>
									</li>
								</ul>
							</div>

						</div>
						<show-history display-flag = "showHistory"
									  created-by = "serviceMaster.systemTrack.createUser"
									  created-on = "dateAndTimeToString(serviceMaster.systemTrack.createDate)"
									  updated-by = "serviceMaster.systemTrack.lastUpdatedUser"
									  updated-on = "dateAndTimeToString(serviceMaster.systemTrack.lastUpdatedDate)">
						</show-history>
					</div>
				</div>

		</div>
	</div>
</div>


