<div class="row nomargin">
	<div class="col-xs-12 pl0">
		<button type="button" class="btn accent-btn mb10" ng-click="fnRole({param:addRole})?addRow():''">
			<i class="icon-add"></i> Add Reference {{dataObj}}
		</button>
	</div>
	<div class="row nomargin">
		<div class="col-xs-12 pl0 pr0 table-responsive">
				<table class="table table-inline-nopad" tab-nav tab-row="addRow()">
					<thead class="borderthead">
						<tr>
							<th class="inl_sno">#</th>
							<th class="inl_lp">Reference Type<span class="reqColor">*</span></th>
							<th class="inl_lp">Reference No<span class="reqColor">*</span></th>
							<th class="inl_lp">Remarks</th>
							<th class="inl_s">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dataObj in tableData track by $index">
							<td class="inl_sno" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
								<span ng-show="secondArr[$index].errRow"> 
									<a tabindex="-1" href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white">
										<b class="glyphicon glyphicon-warning-sign"></b>
									</a>
								</span> 
								<span ng-show="!secondArr[$index].errRow"> 
									{{$index+1}}
								</span>
							</td>
							<td class="inl_lp">
								<div class="select-auto">
									<input type="text" 
										class="form-control" 
										id="{{indexKey+'referenceTypeMaster'+$index}}"
										input-focus="{{secondArr[$index].referenceTypeMaster || (firstFocus && $index==0)}}"
										ng-class="{'error-control-auto':secondArr[$index].referenceTypeMaster}"
										ng-disabled="(!updateRole&&dataObj.id!=null)"
										autocomplete="off"
										ng-model="dataObj.referenceTypeMaster"
										uib-typeahead="lovObject as lovObject.referenceTypeName for lovObject in ajaxReferenceTypeEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true" 
										 typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true"
										typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500" 
										typeahead-on-select="navigateToNextField(indexKey+'referenceNumber'+$index)"
										>
									<span class="select-arrow"><b></b></span>	
								</div>
							</td>
							<td class="inl_lp">
								<input 
								id="{{indexKey+'referenceNumber'+$index}}"
									type="text"
									class="form-control"
									ng-class="{'error-control':secondArr[$index].referenceNumber}"
									ng-model="dataObj.referenceNumber" 
									ng-focus="dirtyIndex($index)"
									maxlength="30" 
									ng-disabled="(!updateRole&&dataObj.id!=null)"/>
							</td>
							<td class="inl_lp">
								<textarea
	                            	msd-elastic 
	                            	style="height:12px !important;max-height: 24px !important;min-height:24px !important"
	           		                class="form-control last-child"
	                            	rows="2"
	                            	id="{{indexKey+'referenceNotes'+$index}}"
	                            	ng-model="dataObj.referenceNotes"
	                            	ng-class="{'error-control':errorMap.get('referenceNotes')!=null}"
	                            	maxlength="4000"
	                            	ng-disabled="(!updateRole&&dataObj.id!=null)">
								</textarea>
							</td>
							<td class="inl_s verticalaln">
								<ul class="list-inline deleteicon">
									<li>
										<a href="javascript:void(0);" ng-click="fnRole({param:deleteRole})?removeObj(dataObj,$index):''" tabindex="-1">
											<i class="icon-delete delicon" data-placement="bottom"   bs-tooltip="delete"></i>
										</a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>