<!--ng-class="$first ? 'width4per': headObj.width"-->

<table id="super-table" class="table super-table" table-fix-header>
    <thead>
    <tr>
        <th ng-class="headObj.width" class="" ng-repeat="headObj in head" data-prefwidth="{{headObj.prefWidth}}" ng-show="headObj.model!='id'"
            ng-click="changeOrder(headObj)" ng-mouseover="highLightArrow=true" ng-mouseleave="highLightArrow=false">
            <span ng-if="headObj.type!='number'" class="pull-left hand" ng-bind-html="headObj.name"></span>
            <span ng-if="headObj.type=='number'" class="pull-right hand" ng-bind-html="headObj.name"></span>
            <span  ng-if="headObj.type!='number'" ng-show="headObj.model==sort.sortKey && headObj.sort" ng-class="{'transform0deg':sort.sortOrder=='asc','transform180deg':sort.sortOrder=='desc'}" style="right:10px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span>
            <span ng-if="headObj.type=='number'" ng-show="headObj.model==sort.sortKey && headObj.sort" ng-class="{'transform0deg':sort.sortOrder=='asc','transform180deg':sort.sortOrder=='desc'}" style="left:20px;" class="pull-left sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span>
        </th>

    </tr>
    <tr>
        <th  ng-repeat="headObj in head" ng-show="headObj.model!='id'" class="rel">
            <i ng-if="$first" style="font-size:1.3rem !important;" class="icon-search"></i>
            <input ng-if="headObj.search && (headObj.type=='text' || headObj.type=='link' || headObj.type=='input' || headObj.type=='lov' ||headObj.type=='switch' )" ng-model="searchData[headObj.key]" type="text" ng-change="changeFunction()" class="form-control input-sm" ng-focus="closeEdited()"/>
            <input ng-if="headObj.search && headObj.type=='number'" ng-model="searchData[headObj.key]" type="text" ng-change="changeFunction()" class="form-control input-sm text-right" ng-focus="closeEdited()"/>

                <!--<input ng-if="headObj.search && headObj.type=='date-range'"  data-date-range-picker data-options="datepickeropts" ng-model="searchData[headObj.key]"  type="text" clearable="true" style="padding-right: 26px !important;" class="form-control input-sm date-picker cur-pointer" readonly/>-->

                <input ng-if="headObj.search && headObj.type=='date-range'"  data-date-range-picker data-options="datepickeropts" ng-model="searchData[headObj.key]"  type="text" clearable="true" style="padding-right: 26px !important;" class="form-control input-sm date-picker cur-pointer" readonly ng-focus="closeEdited()"/>
                <!--<input ng-if="headObj.search && headObj.type=='date-range'" ng-model="searchData[headObj.key]"  type="text" style="padding-right: 26px !important;" class="form-control input-sm date-picker cur-pointer" datetimepicker  datetimepicker-options="{{datePickerOptions}}"/>-->
                <input ng-if="headObj.search && headObj.type=='date-time-range'"  data-date-range-picker data-options="datepickeropts" ng-model="searchData[headObj.key]"  type="text" clearable="true" style="padding-right: 26px !important;" class="form-control input-sm date-picker cur-pointer" readonly ng-focus="closeEdited()"/>
                <span ng-if="headObj.search && (headObj.type=='date-range' || headObj.type=='date-time-range')" class="abs event-none" style="top: 16px; right: 20px;"><i class="icon-date-picker" aria-hidden="true"></i></span>

            <select ng-if="headObj.search && (headObj.type=='drop'|| headObj.type=='select')" ng-model="searchData[headObj.key]"
                    class="form-control input-sm"
                    ng-options="item for item in headObj.data"
                    ng-change="changeFunction()"
                    ng-focus="closeEdited()">
                <option value="">ALL</option>
            </select>
        </th>
    </tr>
    </thead>
    <tbody id="table-body" >
    <tr ng-repeat="itemObj in data"  ng-click="rowSelect(itemObj,$index)" >
        <td  ng-repeat="headObj in head"  ng-show="headObj.model!='id'" 
         ng-click="(headObj.type=='input' || headObj.type=='select' || headObj.type=='lov'||  headObj.type=='switch')&& editIndex!=$parent.$index?editClick($parent.$index,itemObj):''"
          class="{{headObj.width}}" title="{{setTitle(headObj,itemObj)}}" ng-class="{'text-right':headObj.type=='no'}">
           <span ng-show="headObj.type !='taskaction' && headObj.model=='no'"  ng-style="{'color' : 'black'}">{{(page*size)+($parent.$index+1)}}</span>
            {{(headObj.type!='input' && headObj.type!='select' && headObj.type!='lov' && headObj.type=='select' && headObj.type=='switch')?setValue(headObj,itemObj):''}}
            <input type="text" input-focus="{{editIndex==$parent.$index}}" class="form-control" ng-show="headObj.type=='input' && editIndex==$parent.$index" ng-model="itemObj[headObj.model]"/>
            
            <div  class="select-auto" ng-if="headObj.type=='lov' && editIndex==$parent.$index">
                <input type="text"
                       auto-complete
                       class="form-control"
                       selected-value="{{headObj.lov.selName}}"
                       ng-model="itemObj[headObj.model]"
                       call-fun="generalAjax(param,headObj)"
                       on-select="selectedLov(itemObj[headObj.model], headObj)"
                       for-dynamic="true"
                       input-focus="{{editIndex==$parent.$index}}"
                />
            </div>
            <select
                    input-focus="{{editIndex==$parent.$index}}"
                    class="form-control"
                    ng-show="headObj.type=='select' && editIndex==$parent.$index"
                    ng-options="item for item in headObj.data"
                    ng-model="itemObj[headObj.model]">
            </select>
             <ul class="list-inline" ng-show="headObj.type=='switch' && editIndex==$parent.$index">
             <li ng-class="{'opc-5':itemObj[headObj.model]}">No</li>
                                                        <li class="v-align-top" ><switch tabindex="0" 
                                                                                        id="swicth" name="enabled" ng-model="itemObj[headObj.model]"
                                                                                        class="green"></switch></li></li>
                                                        <li ng-class="{'opc-5':itemObj[headObj.model]}">Yes</li>
                                                                                        </ul>
            {{((headObj.type=='date-range'|| headObj.type=='input'|| headObj.type=='text' || headObj.type=='select' || headObj.type=='lov' ||  headObj.type=='select') && editIndex!=$parent.$index )?setValue(headObj,itemObj):''}}
             {{(headObj.type=='switch') && editIndex!=$parent.$index ?setValue(headObj,itemObj):''}}
            <show-status ng-if="headObj.model=='status' && editIndex!=$parent.$index " status="{{itemObj[headObj.model]}}"></show-status>
            <a href="javascript:void(0);" class="hyperLink" ng-click="rowClickLink($event,itemObj,$parent.$index)" ng-if="headObj.type=='link'">{{setLink(headObj.type,itemObj,headObj.model)}}</a>
            <ul class="list-inline" ng-show="headObj.type =='action' && editIndex!=$parent.$index">
                <li class="cursorPt"><a title="Edit" ng-click="editClick($parent.$index,itemObj)"><i class="icon-edit ft14px"></i></a></li>
                <li class="cursorPt" ng-hide="!isDelete"><a title="Delete" ng-click="actionClick({param:{type:'DELETE',index:$parent.$index,item:itemObj}})"><i class="icon-delete"></i></a></li>
            </ul>
            <ul class="list-inline" ng-show="headObj.type =='action' && editIndex==$parent.$index">
                <li class="cursorPt"><a title="Save" ng-click="actionClick({param:{type:'SAVE',index:$parent.$index,item:itemObj}})"><i class="fa fa-floppy-o fa-2x"></i></a></li>
                <li class="cursorPt" ><a title="cancel" ng-click="cancelClick($parent.$index)"><i class="icon-close"></i></a></li>
            </ul>
            <!--</div>-->
        </td>
    </tr>
    </tbody>
</table>
