<div class="container-fluid resPortListPage resLandListPage">
	<div class="row nomargin">
		<div ng-show="deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12">
			<div show-response></div>
			<div success-message></div>
			<!--panel starts-->
			<div class="panel panel-default" ng-click="showHistory=false">
				<div class="panel-heading">
					<button type="button" class="btn btn-property accent-btn" ng-click=" addNew()">
						<span class="icon-add"></span> Add Trigger </button>
				</div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table data="dataArr" head="tableHeadArr"
							sort="sortSelection" click-event="rowSelect(param)"
							search-event="changeSearch(param)"
							sort-event="sortChange(param)" page="page" size="limit">
						</super-table>
					</div>
				</div>
				<div class="panel-footer ">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li><select class="form-control legend-show-ctrl"
								ng-model="limit" ng-change="limitChange(limit)"
								ng-options="v for v in limitArr">
							</select></li>
							<li>Entries</li>
						</ul>
					</div>
					
						<div class="pull-right text-right">
							<pagination-dr page="page" size="limit"
								total="totalRecord" page-change="changepage(param)"
								class="pull-right"></pagination-dr>
						</div>
					
				</div>
			</div>
			<!--Panel Ends-->
		</div>

		<div
			class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12 m-pl0 resPortListPage resLandListPage"
			ng-hide="!triggerMasteView">
			<div class="panel panel-default detail-transition">
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span> <a data-placement="bottom" bs-tooltip="back"
								href="javascript:void(0)" ng-click="backToList()"
								class="list-panel-back"> <i class="icon-back-menu"></i>
							</a>
							</span> <span>Trigger</span>
						</div>
					</div>
					<div>
						<ul class="list-inline">
							<li><a href="javascript:void(0)"
								ng-class="{'active-activityBtn':showHistory}"
								ng-click="showHistory=!showHistory"> <i class="icon-logs"
									data-placement="bottom" bs-tooltip="activity"></i>
							</a></li>
							<li><a data-placement="bottom" bs-tooltip="edit"
								href="javascript:void(0)" class="list-panel-edit-btn cursorPt"
								ng-click="editTrigger(triggerMaster.id)"> <i
									class="icon-edit"></i>
							</a></li>
							<li><a data-placement="bottom"
								ng-click="deleteTrigger(triggerMaster.id)" bs-tooltip="delete"
								href="javascript:void(0)" class="list-panel-edit-btn cursorPt">
									<i class="icon-delete"></i>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height
					ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="showHistory=false">
						<div class="row metadata-detail">
							<span>Name</span>
							<h5>{{triggerMaster.triggerName}}</h5>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6"><span>Code</span>
									<h5>{{triggerMaster.triggerCode}}</h5></li>
								<li class="col-xs-6"><span>Type</span>
									<h5>{{triggerMaster.triggerTypeMaster.triggerTypeName}} ({{triggerMaster.triggerTypeMaster.triggerTypeCode}})</h5>
							   </li>
							</ul>
						</div>
						<div class="row ">
							<ul class="list-inline">
							<li class="col-xs-6"><span>Use For Finance</span>
									<h5>{{triggerMaster.useForFinance}}</h5>
							   </li>
								<li class="col-xs-6"><span>Status</span> 
									<show-status status="{{triggerMaster.status}}"></show-status>
								</li>
							</ul>
						</div>
						
					</div>
					<div class="logs-view logs-transition" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span> <a href="javascript:void(0)"
											ng-click="showHistory=false" class="list-panel-back"> <i
												class="icon-close-detail" data-placement="bottom"
												bs-tooltip="close"></i>
										</a>
										</span> <span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll
								nice-option="{{ngScrollConfig}}">
								<div class="card">
									<ul class="list-inline card-cell">
										<li><hm-init-icon
												customer-name="triggerMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{triggerMaster.systemTrack.createUser |
														uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(triggerMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li><hm-init-icon
												customer-name="triggerMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{triggerMaster.systemTrack.lastUpdatedUser
														| uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(triggerMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>