<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="triggerMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{triggerMaster.id==null?'Add Trigger ':'Edit Trigger '}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="cancel(triggerMaster.id)">
                                        Cancel
                                    </button>
                                
      
 <button type="button"  class="btn accent-btn"  ng-click="triggerMaster.id==null?create():update()"> {{triggerMaster.id==null?'Save':'Update'}}</button>							
 
                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields </small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="triggerName"
                                 ng-class="{'error-control':errorMap.get('triggerName')!=null}"
                                 ng-change="validate('triggerName', 1)" ng-model="triggerMaster.triggerName"/>
                                 <span class="error-message" ng-show="errorMap.get('triggerName')!=null">
									 <small>{{errorMap.get('triggerName')}}</small>
								</span>
                            </div>
                            
                             <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4  nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input 
                                    type="text" class="form-control" maxlength="10" id="triggerCode"
                                    ng-disabled="triggerMaster.id!=null" capitalize
                                    input-focus="{{errorMap.get('triggerCode')!=null}}"
                                    ng-class="{'error-control':errorMap.get('triggerCode')!=null}"
                                    ng-model="triggerMaster.triggerCode" ng-change="validate('triggerCode', 2)"/>
                                 <span class="error-message" ng-show="errorMap.get('triggerCode')!=null">
									 <small>{{errorMap.get('triggerCode')}}</small>
								</span>
                                </div>
                            </div>
                        </div>
                           
                          <div class="row">
                         <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0 ">
                                    <label class="custom-label">Trigger Type<span class="reqColor">*</span></label>
                                    <div class="select-auto">
                                    <input type="text" class="form-control" id="triggerTypeName"
										 input-focus="{{errorMap.get('triggerTypeName')!=null}}"
										  ng-class="{'error-control':errorMap.get('triggerTypeName')!=null}" 
										autocomplete="off" ng-model="triggerMaster.triggerTypeMaster" 
										uib-typeahead="lovObject as lovObject.triggerTypeName for lovObject in ajaxTriggerTypeMasterEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="validate('triggerTypeName', 3)?navigateToNextField('triggerUseForFinance'):''" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                          
                                       
                                          
                                </div>
                                <span class="error-message" ng-show="errorMap.get('triggerTypeName')!=null">
									      <small>{{errorMap.get('triggerTypeName')}}</small>
								     </span>
                            </div>
                            
                            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4  nomargin pl0 ">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code</label>
                                    <input tabindex="-1"
                                    type="text" class="form-control"  id="triggerTypeCode"
                                    ng-disabled="true" 
                                    ng-model="triggerMaster.triggerTypeMaster.triggerTypeCode" />
                                </div>
                            </div>
                    
                     
                             <div  class="col-sm-4 col-xs-4 col-md-4 col-lg-4  nomargin pl0">
                             <div class="form-group nomargin pl0">
                                    <label class="custom-label">Use For Finance</label>
                                   <select  class="form-control "  id="triggerUseForFinance"
                                                            ng-class="{'error-control':errorMap.get('YesNo')!=null}"
                                                            ng-options="item for item in useForFinanceArr"
                                                            ng-model="triggerMaster.useForFinance">
                                                    </select>
                                     <span class="error-message" ng-show="errorMap.get('useForFinance')!=null">
									      <small>{{errorMap.get('useForFinance')}}</small>
								     </span>
								 </div>
                            </div>
                         
                            </div>

                   <div class="row">
                           <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Air Days</label>
                                    <input 
                                    type="text" class="form-control"  id="airDays" maxlength="3"
                                     input-focus="{{errorMap.get('airDays')!=null}}"
                                    ng-class="{'error-control':errorMap.get('airDays')!=null}" ng-change="validate('airDays', 4)"
                                    ng-model="triggerMaster.airDays" />
                                    <span class="error-message" ng-show="errorMap.get('airDays')!=null">
									 <small>{{errorMap.get('airDays')}}</small>
								</span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Sea Days</label>
                                    <input 
                                    type="text" class="form-control"  id="seaDays" maxlength="3"
                                     input-focus="{{errorMap.get('seaDays')!=null}}" ng-change="validate('seaDays', 5)"
                                    ng-class="{'error-control':errorMap.get('seaDays')!=null}"
                                    ng-model="triggerMaster.seaDays" />
                                    <span class="error-message" ng-show="errorMap.get('seaDays')!=null">
									 <small>{{errorMap.get('seaDays')}}</small>
								</span>
                                </div>
                            </div>
                            
                             <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Land Days</label>
                                    <input 
                                    type="text" class="form-control"  id="landDays" 
                                     input-focus="{{errorMap.get('landDays')!=null}}" maxlength="3"
                                    ng-class="{'error-control':errorMap.get('landDays')!=null}" ng-change="validate('landDays', 6)"
                                    ng-model="triggerMaster.landDays" />
                                    <span class="error-message" ng-show="errorMap.get('landDays')!=null">
									 <small>{{errorMap.get('landDays')}}</small>
								</span>
                                </div>
                            </div>
                            
                        </div>
                        
                         <div class="row ">
                            <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Mail Subject</label>
                                    <input 
                                    type="text" class="form-control" maxlength="100" id="mailSubject"
                                    input-focus="{{errorMap.get('mailSubject')!=null}}"
                                    ng-class="{'error-control':errorMap.get('mailSubject')!=null}"
                                    ng-model="triggerMaster.mailSubject" ng-change="validate('mailSubject', 7)"/>
                                 <span class="error-message" ng-show="errorMap.get('mailSubject')!=null">
									 <small>{{errorMap.get('mailSubject')}}</small>
								</span>
                                </div>
                            </div>
                           <div ng-show="triggerMaster.id!=null">
							 <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0"
								ng-class="triggerMaster.id!=null?'visible-show':'visible-hide'">
								<div class="form-group nomargin pr0">
									<label class="custom-label">Status</label> <select
										class="form-control status" id="status"
										ng-class="setStatus(triggerMaster.status)"
										ng-options="item for item in enum['LovStatus']"
										ng-model="triggerMaster.status" required>
									</select>
								</div>
							</div>
						   </div>
                        </div>
							
					<!--<div class="row">-->
							<div class="col-sm-8 col-xs-12 col-md-8 col-lg-8 mt10 ">
								<label> Note</label>
								<textarea  
									class="form-control elastic-ht" rows="8" msd-elastic
									id="note" class="form-control"
									ng-model="triggerMaster.note"
									ng-class="{'error-control':errorMap.get('note')!=null}"
									maxlength="1000">
                                    </textarea>
							</div>
						<!--</div>-->
                    </div><!--panel body ends-->
                </div> <!--panel ends-->
            </form>
        </div>
    </div>
</div>
