<div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12   pl0 resPortViewPage">
	<div class="row">
		<div class="col-xs-12 mb-9 flexview">
			<div class="flex align-justify align-middle">
				<div>
					<div class="btngrp">
						<button class="btn btn-xs btn-property btn-gray" ng-click="cancel()">
							<i class="icon-back-menu"></i> Back
						</button>
						<button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addPartyGroup()">
							<i class="icon-add"></i> Add {{appMasterData['Party_Label']}} Group
						</button>
					</div>
				</div>
				<!-- <div ng-if="false">
					<ul class="list-inline">
						<li>
							<ul class="list-inline li-p0">
								<li>{{selectedRecordIndex+1}}</li>
								<li>of</li>
								<li>{{totalRecord}}</li>
							</ul>
						</li>
						<li class="pr0">
							<ul class="list-inline next-prev">
								<li><i data-placement="auto bottom"    bs-tooltip="next" class="icon-r-arrow" aria-hidden="true"
									ng-click="singlePageNavigation(-1)"></i></li>
								<li><i data-placement="auto bottom"   bs-tooltip="prev" class="icon-r-arrow" aria-hidden="true"
									ng-click="singlePageNavigation(1)"></i></li>
							</ul>
						</li>
					</ul>
				</div> -->
			</div>
		</div>
	</div>
	<div class="panel panel-default detail-transition">
		<div class="panel-heading flexTitle">
			<div>
				<ul class="list-inline">
					<li>
						<h4>{{appMasterData['Party_Label']}} Group</h4>
					</li>
				</ul>
			</div>
			<div class="">
				<ul class="list-inline text-right">
					<li>
						<a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory">
							<i class="icon-logs" data-placement="bottom"   bs-tooltip="activity" ></i>
						</a>
					</li>
					<li>
						<a data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="editPartyGroup()" class="list-panel-edit-btn cursorPt">
							<i class="icon-edit"></i>
						</a>
					</li>
					<li>
						<a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" class="list-panel-edit-btn cursorPt"  ng-click="deletePartyGroup()" >
							<i class="icon-delete"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel-body detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
			<div class="detail-view">
				<div class="row metadata-detail ">
					<span>Name</span>
					<h5 class="heading">{{partyGroupMaster.partyGroupName}}</h5>
				</div>

				<div class="row"
					style="padding-right: 0 !important; padding-left: 0 !important;">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<span>Code</span>
						<h6>{{partyGroupMaster.partyGroupCode}}</h6>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
						<span>Sales Lead Location</span>
						<h6>{{partyGroupMaster.salesLeadLocation.locationName}}</h6>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<span>Status</span>
						<show-status status="{{partyGroupMaster.status}}"></show-status>
					</div>
				</div>
				<div class="row nopadding bor-0">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
						<ul class="nav btn-tabs" ng-init="clickOnTabView('mapping')">
							<li>
								<button type="button" class="btn"
									ng-class="Tabs=='mapping'?'active':'btn-normal'"
									ng-click=" clickOnTabView('mapping')">Mapping</button>

							</li>
							<li>
								<button type="button" class="btn"
									ng-class="Tabs=='business'?'active':'btn-normal'"
									ng-click="clickOnTabView('business')">Business Details</button>
							</li>

						</ul>
						<!--TAB MENUS ENDS-->
						<div class="tab-content pt-15">
							<div ng-show="Tabs=='mapping'">
								<div class="row nopadding">
									<div class="col-xs-12 col-sm-8 col-md-8 col-lg-5">
										<div class="table-responsive">
											<table class="table table-inline nomargin">
												<thead class="borderthead">
													<tr>
														<th class="inl_sno">#</th>
														<th class="inl_m">Name</th>
														<th class="inl_xs">Code</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="partyObj in partyGroupMaster.partyMasterList track by $index"> 
														<td>{{$index + 1}}</td>
														<td>{{partyObj.partyName}}</td>
														<td>{{partyObj.partyCode}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<!--charge TAB ENDS-->
							<div ng-show="Tabs=='business'">
								<div class="row nopadding">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="table-responsive">
											<table class="table table table-inline nomargin">
												<thead class="borderthead">
													<tr>
														<th class="inl_xs">#</th>
														<th class="inl_l">Location</th>
														<th class="inl_l">Country</th>
														<th class="inl_m">Service</th>
														<th class="inl_m">Month</th>
														<th class="inl_m text-right">No of Shipments</th>
														<th class="inl_l text-right">Chargeable Weight(kg)</th>
														<th class="inl_l text-right">Volume Weight(CBM)</th>
														<th class="inl_m">TEU</th>
														<th class="inl_xs"></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td>Chennai</td>
														<td>India</td>
														<td>Air Export</td>
														<td>January, 2016</td>
														<td class="text-right">20</td>
														<td class="text-right">2233.00</td>
														<td class="text-right"></td>
														<td></td>
														<td><button type="button" class="btn accent-btn"
																ng-click="viewShipment()">View Shipments</button></td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<!--charge TAB ENDS-->
						</div>
						<!--TAB CONTENT TAB ENDS-->
					</div>
					<!--Col ends-->
				</div>
				<!--row ends-->
			</div>
			<div class="logs-view logs-transition width42per widP55per"
				ng-show="showHistory">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-left">
							<div class="panelTitle">
								<span> <a  href="javascript:void(0)"
									ng-click="showHistory=false" class="list-panel-back"><i
										class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
								</span> <span>Activity</span>
							</div>
						</div>
					</div>
					<div class="panel-body logs-body" panel-height ng-nicescroll
						nice-option="{{ngScrollConfig}}">
						<div class="card">

							<ul class="list-inline card-cell">
								<li>
									<hm-init-icon customer-name="partyGroupMaster.systemTrack.createUser"></hm-init-icon>
								</li>
								<li>
									<ul class="list-unstyled mt-5">
										<li><b>{{partyGroupMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
										<li class="span text-muted">{{dateAndTimeToString(partyGroupMaster.systemTrack.createDate)}}</li>
									</ul>
								</li>
							</ul>

						</div>
						<div class="card">
							<ul class="list-inline card-cell">
								<li>
									<hm-init-icon customer-name="partyGroupMaster.systemTrack.createUser"></hm-init-icon>
								</li>
								<li>
									<ul class="list-unstyled mt-5">
										<li><b>{{partyGroupMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
										<li class="span text-muted">{{dateAndTimeToString(partyGroupMaster.systemTrack.lastUpdatedDate)}}</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>