<div class="modal marginl15 " tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width95per">
        <div class="modal-content minH550 minLH450">
            <div class="modal-header">
                <div class="flex align-justify align-middle minH-40">
                    <div>
                        <h4>Shipments in December,2016</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right  masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">Close</button>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive mt-15">
                            <table class="table  table-inline mb0">
                               <thead class="borderthead">
                                <tr>

                                    <th class="inl_xs">#</th>
                                    <th class="inl_m">Location</th>
                                    <th class="inl_m">{{appMasterData['Party_Label']}}</th>
                                    <th class="inl_sm">Service ID</th>
                                    <th class="inl_sm">Shipment ID</th>
                                    <th class="inl_sm">Master ID</th>
                                    <th class="inl_m">Shipment Date</th>
                                    <th class="inl_l">Service</th>
                                    <th class="inl_l">Origin</th>
                                    <th class="inl_l">Destination</th>
                                    <th class="inl_m">HAWB / HBL</th>
                                    <th class="inl_m">Routed</th>
                                    <th class="inl_m">Routed By</th>
                                    <th class="text-right inl_m">Chargeable Weight (kg)</th>
                                    <th class="text-right inl_m">Volume (CBM)</th>
                                    <th class="inl_s">TEU</th>
                                    <!-- As discussed with vaishak we removed <th class="text-center">Actions</th> -->
                                </tr>
                                <tr>
                                    <th ><span class="icon-search"></span></th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th >
                                    <div class="inputBox">
                                        <input tabindex="" class="form-control" ng-model="partyGroupSearch"  datetimepicker  datetimepicker-options="{{datePickerOptions}}" >
                                        <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                    </div>
                                    </th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th >
                                        <select >
                                            <option value="">All</option>
                                            <option value="Self">Self</option>
                                            <option value="Agent">Agent</option>
                                        </select>
                                    </th>
                                    <th ><input type="text" class="form-control" ></th>
                                    <th class="text-right"><input type="text" class="form-control text-right" ></th>
                                    <th class="text-right"><input type="text" class="form-control text-right" ></th>
                                    <th><input type="text" class="form-control text-right" ></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td >1</td>
                                    <td >Chennai</td>
                                    <td >Biocon</td>
                                    <td class="hyperLink">112123121</td>
                                    <td class="hyperLink">7897897897</td>
                                    <td class="hyperLink">12123123133</th>
                                    <td >20 Dec 2016</td>
                                    <td >Air Export</td>
                                    <td >MAA - Chennai</td>
                                    <td >DXB - Dubai</td>
                                    <td class="hyperLink">7979878979</td>
                                    <td >Agent</td>
                                    <td >Agent in Dubai</td>
                                    <td class="text-right">787.32</td>
                                    <td class="text-right"></td>
                                    <td ></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--body ends-->
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->