<div class="container-fluid resPortListPage">
	<div class="row ml0 mr0">
		<div ng-show="deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12" ng-click="showHistory = false">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addDesignationMaster()"><i class="icon-add"></i> Add Designation</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
				<div show-response></div>
				<div success-message></div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 
							data="designationArr" 
							head="designationHeadArr" 
							sort="sortSelection" 
							click-event="rowSelect(param)"
							search-event="changeSearch(param)" 
							sort-event="sortChange(param)"
							page="page" 
							size="limit"> 
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li><select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChange(limit)" ng-options="v for v in limitArr"></select></li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right"></pagination-dr>
					</div>
				</div>
			</div>
			<!--panel ends-->
		</div>



		<!-- Detail View Starts -->
		<div
			class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12   m-pl0"
			ng-show="detailView">
			<div class="panel panel-default detail-transition">
				<div class="panel-heading">
					<div class="flex align-justify align-middle">
						<div class="panelTitle">
							<span> 
								<a data-placement="bottom" bs-tooltip="back" href="javascript:void(0)" ng-click="cancel()" class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<ul class="list-inline in pl5">
								<li><span>Designation</span></li>
							</ul>
						</div>
						<div>
							<ul class="list-inline">
								<li>
									<a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"> 
										<i class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i>
									</a>
								</li>
								<li>
									<a data-placement="bottom" bs-tooltip="editIcon" href="javascript:void(0)" ng-click="editDesignationMaster()" class="list-panel-edit-btn cursorPt"> 
										<i class="icon-edit"></i>
									</a>
								</li>
								<li>
									<a data-placement="bottom" bs-tooltip="delete" href="javascript:void(0)" ng-click="deleteDesignationMaster()" class="list-panel-edit-btn cursorPt"> 
										<i class="icon-delete"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!--flex ends-->
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="showHistory=false">
						<div class="row metadata-detail">
							<span>Name</span>
							<h5>{{designationMaster.designationName}}</h5>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>Code</span>
									<h5>{{designationMaster.designationCode}}</h5>
								</li>
								<li class="col-xs-6">
									<span>Manager</span>
									<h5>{{designationMaster.manager}}</h5>
								</li>
								
							</ul>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>Profile</span>
									<h5>{{designationMaster.profile}}</h5>
								</li>
								<li class="col-xs-6">
									<span>Status</span> 
									<show-status status="{{designationMaster.status}}"></show-status>
								</li>
								
							</ul>
						</div>
					</div>

					<div class="logs-view logs-transition" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span> 
											<a href="javascript:void(0)" ng-click="showHistory=false" class="list-panel-back" data-placement="bottom" bs-tooltip="close"> 
											<i class="icon-close-detail"></i>
										</a>
										</span> <span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll
								nice-option="{{ngScrollConfig}}">
								<div class="card">
									<ul class="list-inline card-cell">
										<li><hm-init-icon
												customer-name="designationMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{designationMaster.systemTrack.createUser |
														uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(designationMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>

								<div class="card">
									<ul class="list-inline card-cell">
										<li><hm-init-icon
												customer-name="designationMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{designationMaster.systemTrack.lastUpdatedUser
														| uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(designationMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Detail View Ends -->
	</div>
</div>

