<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form">
            	<!--panel starts-->
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{designationMaster.id == null ? 'Add' : 'Edit'}} Designation </h4>
                        </div>
                        <div>
                            <ul class="list-inline text-right masopertion-action">
                                <li>
                                    <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveOrUpdate()"> {{designationMaster.id == null ? 'Save' : 'Update'}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit" id="group-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7  form-group nomargin pl0">
                                <label class="custom-label">Name <span class="reqColor">*</span></label>
                                <input 	type="text" 
                                		class="form-control"
                                       	id="designationName" 
                                       	ng-model="designationMaster.designationName"
										input-focus="{{errorMap.get('designationName')!=null}}"
                                       	ng-class="{'error-control':errorMap.get('designationName')!=null}"
                                       	maxlength="100" 
                                       	ng-change="validateDesignationMaster(1)">
                                    <span class="error-message" ng-show="errorMap.get('designationName')!=null">
                                    	<small> {{errorMap.get('designationName')}} </small>
                                    </span>
                            </div>
                        </div>
                    	<div class="row ">
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7 form-group nomargin pl0">
                                <div class="col-xs-6 form-group nomargin pl0">
                                <label class="custom-label">Code</label>
                                <input 	type="text" 
                                		class="form-control" 
                                		id="designationCode"
                                       	ng-model="designationMaster.designationCode"
                                       	input-focus="{{errorMap.get('designationCode')!=null}}"
                                       	ng-class="{'error-control':errorMap.get('designationCode')!=null}"
                                       	maxlength="10" 
                                       	capitalize 
                                       	ng-change="validateDesignationMaster(2)"
                                       	ng-disabled="true">

                                    <span class="error-message" ng-show="errorMap.get('designationCode')!=null">
                                    	<small>{{errorMap.get('designationCode')}} </small>
                                    </span>
							</div>
							<div class="col-xs-6 form-group nomargin pr0">
									<label class="custom-label">Manager</label>
									<div>
										<select class="form-control" id="manager"
											ng-options="item for item in enum['YesNo']"
											ng-model="designationMaster.manager">
										</select>
									</div>
								</div>
							 
                        </div>
                    </div>


						<div class="row ">
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-7 form-group nomargin pl0">
								
								
								<div class="col-xs-12 form-group nomargin pl0 pr0">
									<label class="custom-label">Profile</label>
									<div>
										<textarea class="form-control minH-180" id="profile"
                                         ng-model="designationMaster.profile"
                                         maxlength="500">
                                        </textarea>

										<span class="error-message"
											ng-show="errorMap.get('profile')!=null"> <small>{{errorMap.get('profile')}}
										</small>
										</span>
									</div>
								</div>

							</div>
						</div>
						<div class="row ">
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-7 form-group nomargin pl0">
						<div class="col-xs-6 form-group nomargin pl0" ng-class="designationMaster.id!=null?'visible-show':'visible-hide'">
                                        <label class="custom-label">Status</label>
                                        <select  class="form-control status" id="status"
                                                ng-class="setStatus(designationMaster.status)"
                                                ng-options="item for item in enum['LovStatus']"
                                                ng-model="designationMaster.status" required>
                                        </select>
							</div>
							</div>
							</div>
					</div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>

