<div class="panel-body pl0 pr0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
<div class="row nomargin">
	<div class="col-xs-12 pl0 pr0">

	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
				<label class="custom-label">Quote need approval</label>
				<ul class="list-inline">
					<li ng-class="{'opc-5':locationSetup.quoteNeedApproval}">No</li>
					<li class="v-align-top">
							<switch id="quote"
							tabindex="0" 
							ng-model="locationSetup.quoteNeedApproval"
							class="green"> 
							</switch>
					</li>
					<li ng-class="{'opc-5':!locationSetup.quoteNeedApproval}">Yes</li>
				</ul>
			</div>

			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mt-3">
				<label class="custom-label"></label>
				<ul class="list-inline">
					<li ng-class="{'opc-5':locationSetup.isProvisionalCost}">Provisional Cost</li>
					<li class="v-align-top">
						<switch id="provisional" 
								tabindex="0"
								ng-model="locationSetup.isProvisionalCost" 
								class="green">
						</switch>
					</li>
					<li ng-class="{'opc-5':!locationSetup.isProvisionalCost}">Work in Progress</li>
				</ul>
			</div>

	

		</div>
	</div>

	<div class="col-xs-12 nopadding mt10">
		<h5 class="title">Invoice Header Notes</h5>
		<div class="col-xs-12">
			<textarea 
				maxlength="500" 
				class="form-control textare-min-80"
				rows="5"
				style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 17px;"
				ng-model="locationSetup.invoiceHeaderNote">  
			</textarea>
		</div>

	</div>

	<div class="col-xs-12 nopadding mt10">
		<h5 class="title">Invoice Footer Notes</h5>
		<div class="col-xs-12">
			<textarea 
				maxlength="500" class="form-control textare-min-80"
				rows="5"
				style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 17px;"
				ng-model="locationSetup.invoiceFooterNote">  
			</textarea>
		</div>

	</div>
</div>


<!--row ends-->
<div class="panel-footer">
	<div class=" col-md-12 mt10 ">

		<div class="btngrp pull-right">
			<button class="btn btn-xs btn-property accent-btn" ng-click="saveFinanceTab('app.metaconfig')">
				<span class="chevron-font">&#xf053;</span> Back
			</button>
			<button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveFinanceTab('app.charge')">
				Next <span class="chevron-font">&#xf054;</span>
			</button>
		</div>
	</div>
</div>

