<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg dc-more-popup">
        <div class="modal-content rel">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>AirLine EDI</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="nopadding">
                                <button type="button" tabindex="-1" ng-blur="cancelGenerate()" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button>
                                <button type="button" tabindex="-1"  class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="$parent.dataup()">Generate</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-body pt0 plr0 pb35">
                <for-direct  dataup="dataup" getval="getval" mode="mode"></for-direct>
            </div>


            <modal-spinner spinner-status="popup.spinner"></modal-spinner>
        </div>
    </div>
</div>
