<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Flight Schedule</h4>
                         <span class="error-message" ng-show="errorMap.get('linkService')!=null">
                             <small>{{errorMap.get('linkService')}}</small>
                         </span>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelFlightSchedule();$hide()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="selectedFlightSchedule()">Submit</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                        <div class="table-responsive mt-15" >
                            <table class="table table-inline">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th ng-click="flightScheduleSortChange('carrierMaster.carrierName')">Carrier Name 
                                    
                                    <span ng-show="searchDto.sortByColumn=='carrierMaster.carrierName'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span>
                                    </th>
                                    <th  ng-click="flightScheduleSortChange('flightNo')">Flight No <span ng-show="searchDto.sortByColumn=='flightNo'" ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('pol.portName')">Airport of Loading <span ng-show="searchDto.sortByColumn=='pol.portName'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('directStopOver')">Direct/Stop Over <span ng-show="searchDto.sortByColumn=='directStopOver'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('pod.portName')">Airport of Discharge <span ng-show="searchDto.sortByColumn=='pod.portName'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('etd')" class="inl_lp">ETD <span ng-show="searchDto.sortByColumn=='etd'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('eta')" class="inl_lp">ETA <span ng-show="searchDto.sortByColumn=='eta'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th>Select</th>
                                 </tr>
                                <tr>
                                    <th class="text-center"><span class="icon-search"></span></th>
                                    <th><input type="text" class="form-control" id="flightSchedule.service" ng-model="searchDto.carrier" ng-change="flightScheduleSearch()"></th>
                                    <th><input type="text" class="form-control" ng-model="searchDto.flightNo" ng-change="flightScheduleSearch()"></th>
                                    <th><input type="text" class="form-control" ng-model="searchDto.pol" ng-change="flightScheduleSearch()"></th>
                                    <th><input type="text" class="form-control" ng-model="searchDto.directStopOver" ng-change="flightScheduleSearch()"></th>
                                    <th><input type="text" class="form-control" ng-model="searchDto.pod" ng-change="flightScheduleSearch()"></th>
                                    <th>
                                     <input style="font-size: 11px" data-date-range-picker data-options="datepickeropts" ng-model="searchDto.etd" type="text" class="form-control input-sm date-picker cur-pointer"/>
                                     <span class="abs t10px r-15 event-none"><i class="icon-date-picker" aria-hidden="true"></i></span>
                                    </th>
                                    <th>
                                    <input style="font-size: 11px" data-date-range-picker data-options="datepickeropts" ng-model="searchDto.eta" type="text" class="form-control input-sm date-picker cur-pointer"/>
                                     <span class="abs t10px r-15 event-none"><i class="icon-date-picker" aria-hidden="true"></i></span>
                                    
                                    </th>
                                    <th></th>
                                  </tr>
                                </thead>
                                
                                <tbody ng-repeat="flightSchedule in flightScheduleSearchResult track by $index">
                                 <tr>
                 					<td class="text-left">{{flightSchedule.no}}</td>
                                    <td class="tdtext-wrap" title="{{flightSchedule.carrierMaster.carrierName}}">
                                    <img ng-show="flightSchedule.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{flightSchedule.carrierMaster.image}}" width="20" height="20"> 
                                    {{flightSchedule.carrierMaster.carrierName}} 
                                    <i class="fa {{flightDetail!='child'+flightSchedule.id?' fa-caret-down':'fa-caret-up' }} pull-right"  
                                    ng-click="toggleFlightPlan(flightSchedule)" 
                                    ng-show="flightSchedule.connectionList!=null && flightSchedule.connectionList.length>1">
                                    </i></td>
                                    <td class="tdtext-wrap text-right" title="{{flightSchedule.flightNo}}">{{flightSchedule.flightNo}}</td>
                                    <td class="tdtext-wrap" title="{{flightSchedule.pol.portName}}">{{flightSchedule.pol.portName}}</td>
                                    <td class="tdtext-wrap" title="{{flightSchedule.connectionList.length>1?'Stop Over':'Direct'}}">{{flightSchedule.connectionList.length>1?'Stop Over':'Direct'}}</td>
                                    <td class="tdtext-wrap" title="{{flightSchedule.pod.portName}}">{{flightSchedule.pod.portName}}</td>
                                    <td class="tdtext-wrap" title="{{dateAndTimeToString(flightSchedule.etd)}}">{{dateAndTimeToString(flightSchedule.etd)}}</td>
                                    <td class="tdtext-wrap" title="{{dateAndTimeToString(flightSchedule.eta)}}">{{dateAndTimeToString(flightSchedule.eta)}}</td>
									<td class="tdtext-wrap text-center" style="padding: 0px !important;">
									
                                   <input type="radio" name="optradio"
									 data-ng-value="flightSchedule.id"
                                                           data-ng-model="$parent.tmpObject" 
									 class="nomargin" ng-change="newFlightSchedule(flightSchedule)">                            
                                    </td>
                                    </tr>
                                    
                                   <tr ng-repeat="connection in flightSchedule.connectionList track by $index" ng-show="flightDetail=='child'+flightSchedule.id" class="heighlight">
                                    	<td></td>
                                    	<td class="tdtext-wrap">
                                    	<img ng-show="connection.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{connection.carrierMaster.image}}" width="20" height="20">
                                    	{{connection.carrierMaster.carrierName}}</td>
                                    	<td class="tdtext-wrap text-right">{{connection.flightNo}}</td>
                                    	<td class="tdtext-wrap">{{connection.pol.portName}}</td>
                                    	<td class="tdtext-wrap">Stop Over</td>
										<td class="tdtext-wrap">{{connection.pod.portName}}</td>
                                    	<td class="tdtext-wrap" >{{dateAndTimeToString(connection.etd)}}</td>
                                    	<td colspan="2" class="tdtext-wrap">{{dateAndTimeToString(connection.eta)}}</td>
                                    	                                 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--body ends-->


            <div class="modal-footer modfooter">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="flightScheduleLimit"
                                                        ng-change="flightScheduleLimitChange(flightScheduleLimit)" ng-options="v for v in flightScheduleLimitArray">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <pagination-dr  page="flightSchedulePage" size="flightScheduleLimit" total=flightScheduleTotalRecord page-change="flightScheduleChangePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                                        
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


