<div class="container-fluid">
	<div class="row ml0 mr0">
		<div class="col-md-12 list-container maintable">
			<div class="row nomargin">
				<ul class="nav btn-tab2">
					<li ng-class="currentTab==tab?'activeBtn':''"
						ng-click="tabChange(tab)" ng-repeat="tab in tabArray">{{tab.displayName+"("+tab.totalCount+")"}}</li>
				</ul>
			</div>
			<div class="col-xs-12 tab-list-container">
				<div class="row">
					<div class="tab-content">
						<div class="panel panel-default">
							<div class="panel-heading">
								<section class="row">
									<div class="col-xs-3">
										<div class="panelTitle">
											<button
												class="btn btn-primary btn-xs btn-property accent-btn"
												ng-click="addConsol()">
												<i class="icon-add"></i>add master shipment
											</button>
											<button
												class="btn btn-primary btn-xs btn-property accent-btn"
												ng-click="addnewScreen()">
												<i class="icon-add"> </i>add consol wizard
											</button>
										</div>
									</div>
									<div class="col-xs-3">
										<button-group btn-index="" states="btnGrp.TypeServiceArr"
											state="searchDto.importExport" on-state-change="onBtnGroupChange()">
										</button-group>
									</div>


									<div class="col-xs-4 col-md-2 col-lg-2">
										<div class="form-group">
											<div class="input-group-btn">
												<select class="form-control" ng-model="searchDto.searchName"
													ng-change="searchBy(true)" ng-options="v for v in searchOption">
													<option label="Search By" value="" />
												</select>
											</div>


										</div>

									</div>
									<div class="col-md-2">

										<input type="text" id="searchValueAll" ng-change="searchBy(false)"
											ng-model="searchDto.searchValue" ng-show="searchValueAllFlag" />

									</div>



									<div class="col-xs-2">
										<div class="col-xs-7 text-right pr0">
											<span>Direct Shipment</span>
										</div>
										<div class="col-xs-5 pr0" ng-init="directShipmentModal='All'">

											<select class="form-control" ng-model="searchDto.directShipment"
												id="active" ng-change="search()"
												ng-options="v for v in directShipmentOption">
												<option value="" hidden></option>
											</select>
										</div>
									</div>
								</section>
							</div>
							<div class="panel-body nav-tab-container" panel-height>
								<div class="table-fixed table-responsive">
									<super-table data="consolArr" head="consolSearchHeadArray"
										sort="searchSortSelection"
										click-event="rowSelect(param,index)"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)" page="page" size="limit">
									</super-table>
								</div>
							</div>
							<div class="panel-footer">
								<div class="pull-left">
									<ul class="list-inline">
										<li>Show</li>
										<li><select class="form-control legend-show-ctrl"
											ng-model="limit" ng-change="limitChange(limit)"
											ng-options="v for v in limitArr">

										</select></li>
										<li>Entries</li>
									</ul>
								</div>
								<div class="pull-right text-right">
									<pagination-dr page="page" size="limit" total=totalRecord
										page-change="changePage(param)" class="pull-right">
									</pagination-dr>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>