<div class="container-fluid resPortAddPage resLandPage">
        <div class="row ml0 mr0">

            <div class="col-xs-12 pl0 pr0 ">
                <div class="flex align-justify align-middle mb-9 flexview">
                    <div>
                        <div class="btngrp">
                            <button class="btn btn-xs btn-property btn-gray" ng-click="back()"><i class="icon-back-menu"></i> Back </button>
                            <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()" ><i class="icon-add"></i> Add Field</button>
                        </div>
                    </div>
                    <!-- <div>
                        <ul class="list-inline">
                            <li>
		                        <ul class="list-inline li-p0">
		                            <li>{{selectedRecordIndex+1}}</li>
		                            <li>of</li>
		                            <li>{{totalRecord}}</li>
		                        </ul>
                            </li>
                            <li class="pr0">
                                <ul class="list-inline next-prev">
                                    <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                                    <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="detail-container pl0">
                    <div class="panel panel-default detail-transition" >
                        <div class="panel-heading panel-heading-sm">
                            <div class="pull-left">
                                <div class="panelTitle">

                                    <span class="pl0">Country Specific Field</span>
                                </div>
                            </div>
                            <div class="pull-right text-right">
                                <ul class="list-inline text-right">
                                    <!--<li><i class="icon-settings"></i></li>-->
                                    <li><a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"
                                            ><i class="icon-logs" data-placement="bottom"   bs-tooltip="activity"></i></a></li>
                                    <li><a data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="edit()"
                                           class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
                                    <!-- <li><a  data-placement="bottom"   bs-tooltip="delete"  href="javascript:void(0)"
                                           ng-click="deleteRole()" class="list-panel-edit-btn cursorPt"><i
                                            class="icon-delete"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body plr15 detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                            <div ng-click="showHistory=false">
                                <div class="row metadata-detail">
                                    <div class="col-xs-12">
                                        <div class="row  pt7">
                                            <div class="col-xs-6 col-sm-3">
                                                <span >Field Name</span>
                                                <h5 >{{countryDynamicField.fieldName}}</h5>
                                            </div>

                                            <div class="col-xs-6 col-sm-3">
                                                <span >ID</span>
                                                <h5 >{{countryDynamicField.fieldName}}</h5>
                                            </div>
                                        
                                            <div class="col-xs-6 col-sm-3">
                                                <span >Screen</span>
                                                <h5 >{{countryDynamicField.screen}}
                                                </h5>
                                            </div>
                                            <div class="col-xs-6 col-sm-3">
                                                <span >Section / Tab</span>
                                                <h5>{{countryDynamicField.screentab}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </div>
                                <div class="row">
                                    <hr class="nomargin">
                                </div>
                                <div class="row ptb-15">
                                    
                                    <div class="col-xs-12">
                                        <div class="row">
                                          <div class="col-xs-12">
                                        <span >Remarks</span>
                                        <h5>{{countryDynamicField.remark}}</h5>
                                    </div>
                                        </div>
                                   </div>
                            </div>
                            <div class="row tableBox" >
                                <div class="col-md-12 pl0 pr0">
                                    <h5 class="pad-15 sub-title nomargin">Field Visibility for Country</h5>
                                    <div class="col-xs-12 col-sm-6 pt10">
                                        <div class="table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                                            <table  class="table table-inline mb-10">
                                                <thead class="borderthead">
                                                <tr>
                                                    <th class="col-xs-0half">#</th>
                                                    <th class="col-xs-6">Country</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="dynamicFieldCountry in countryDynamicField.countryMasterList">
                                                    <td>{{$index+1}}</td>
                                                    <td><img ng-show="dynamicFieldCountry.image!=null"  data-ng-src="data:image/png;base64,{{dynamicFieldCountry.image}}" style="padding-right:3px;" width="23" height="20">{{dynamicFieldCountry.countryName}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="logs-view logs-transition width42per widP55per widL55per" ng-show="showHistory">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <div class="panelTitle">
										<span>
											<a   href="javascript:void(0)" ng-click="showHistory=false"
                                               class="list-panel-back"><i data-placement="bottom"   bs-tooltip="close"  class="icon-close-detail"></i></a>
										</span>
                                                <span>Activity</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
                                        <div class="card">

                                            <ul class="list-inline card-cell">
                                                <li>
                                                    <hm-init-icon customer-name="dynamicFieldCountry.systemTrack.createUser"></hm-init-icon>
                                                </li>
                                                <li>
                                                    <ul class="list-unstyled mt-5">
                                                        <li><b>{{dynamicFieldCountry.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                                        <li class="span text-muted">{{dateAndTimeToString(dynamicFieldCountry.systemTrack.createDate)}}</li>
                                                    </ul>
                                                </li>
                                            </ul>

                                        </div>

                                        <div class="card">
                                            <ul class="list-inline card-cell">
                                                <li>
                                                    <hm-init-icon customer-name="dynamicFieldCountry.systemTrack.lastUpdatedUser"></hm-init-icon>
                                                </li>
                                                <li>
                                                    <ul class="list-unstyled mt-5">
                                                        <li><b>{{dynamicFieldCountry.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                                        <li class="span text-muted">{{dateAndTimeToString(dynamicFieldCountry.systemTrack.lastUpdatedDate)}}</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>
</div>