<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{countryDynamicField.id!=null?'Edit':'Add'}} Field</h4>
                    </div>
                    <div>
                        <ul class="list-inline masopertion-action">
                            <li>
                                <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                            </li>
                            <li>
                                <button  type="button"  class="btn btn-primary btn-xs btn-property accent-btn" ng-disabled="disableSubmitBtn" ng-click="submitDynamicField()" >{{countryDynamicField.id!=null && countryDynamicField.id!=-1 ?'Update':'Save'}}</button>
                            </li>
                        </ul>
                    </div>
                </div><!--panel head ends-->
                <div class="panel-body pt0 half-master-edit" id="role-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                    <div class="row">
                        <div class="col-xs-12 pt10">
                            <div show-response></div>
                            <div class="opc-5 lineH1 f-12b4"><span class="reqColor">*</span><small> Indicates Mandatory fields</small></div>
                        </div>
                    </div>
                    
                    
                    <form role="form"  id="roleform" name="roleform">
                       
                            <div class="row mt10">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-3 form-group">
                                                <label class="custom-label">Field Name <span class="reqColor">*</span></label>
                                                <input input-focus="true"  type="text" class="form-control" id="countryConfFieldName"
                                                    ng-class="{'error-control':errorMap.get('countryConfFieldName')!=null}"
                                                    ng-model="countryDynamicField.fieldName" maxlength="250">
                                                <span class="error-message" ng-show="errorMap.get('countryConfFieldName')!=null">
                                                    <small>{{errorMap.get('countryConfFieldName')}}</small>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-3 form-group">
                                                <label class="custom-label">ID <span class="reqColor">*</span></label>
                                                <input type="text" class="form-control" id="countryConfFieldId"
                                                    ng-class="{'error-control':errorMap.get('countryConfFieldId')!=null}"
                                                    ng-model="countryDynamicField.fieldId" maxlength="250">
                                                <span class="error-message" ng-show="errorMap.get('countryConfFieldId')!=null">
                                                    <small>{{errorMap.get('countryConfFieldId')}}</small>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-3 form-group">
                                    <label class="custom-label">
                                        Screen
                                    </label>
                                    
	                                <select class="form-control legend-show-ctrl" ng-model="countryDynamicField.screen" ng-options="scr for scr in screenArr"
                                                    ng-change="navigateToNextField('countryConfScreenTab');"></select>
	                                
									<span class="error-message" ng-show="errorMap.get('countryConfScreen')!=null">
										<small>{{errorMap.get('countryConfScreen')}}</small>
									</span>
                                </div>
                                <div class="col-xs-6 col-sm-3 form-group">
                                    <label class="custom-label">
                                        Section / Tab
                                    </label>
                                    <input type="text" class="form-control" id="countryConfScreenTab" 
										ng-class="{'error-control':errorMap.get('countryConfScreenTab')!=null}"
										ng-model="countryDynamicField.screentab" maxlength="250">
									<span class="error-message" ng-show="errorMap.get('countryConfScreenTab')!=null">
										<small>{{errorMap.get('countryConfScreenTab')}}</small>
									</span>
                                </div>
                                        </div>
                                    </div>
                                </div>
                            
                            <div class="row">
                                <hr class="nomargin">
                            </div>
                            <div class="row ptb-15">
                                
                              
                                <div class="col-xs-12 col-sm-6">
                                    <label class="custom-label">
                                       Remarks
                                    </label>
                                    <textarea class="form-control txtresize" rows="2"  id="countryConfRemark" ng-model="countryDynamicField.remark" maxlength="250"></textarea>
                                    <span class="error-message" ng-show="errorMap.get('countryConfRemark')!=null">
										<small>{{errorMap.get('countryConfRemark')}}</small>
									</span>
                                </div>
                            
                                </div>
                        <div class="row ptb-15">
                            <h5 class="pad-15 sub-title nomargin">Field Visibility for Country</h5>
                            <div class="col-xs-12 ptb-15">
                                <div class="row nomargin">
                                    <div class="col-xs-12 pl0">
                                        <button tabindex="-1" type="button" class="btn accent-btn mb10"  ng-click="addNewCountry()"><i class="icon-add"></i>Add Country</button>
                                    </div>
                                    <div class="row nomargin">
                                        <div class="col-xs-12 col-sm-6 pl0 ">
                                            <div class="table-responsive">
                                                <table class="table table-inline-nopad" tab-nav tab-row="addNewCountry()">
                                                    <thead class="borderthead">
                                                    <th class="col-xs-0half">#</th>
                                                    <th class="col-xs-5">Country </th>
                                                    <th class="col-xs-1">Action</th>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="dynamicFieldCountry in countryDynamicField.countryMasterList track by $index">
														<td ng-class="{'error-cell text-center':dynamicFieldCountry.error}" ng-click="errorShow(dynamicFieldCountry.errorList)">
															<span ng-show="dynamicFieldCountry.error"> 
																<a href="javascript:void(0);" tabindex="-1"
                                                                   data-placement="right"   bs-tooltip="errorList"  class="color-white">
																	<img src="../../../../assets/images/error.png" />
																</a>
															</span> 
															<span ng-show="!dynamicFieldCountry.error"> {{$index+1}} </span>
														</td>
                                                        <td >

				                                            <div class="select-auto">
				                                            
				                                                <input type="text" class="form-control" id="{{'countryConfCountry'+$index}}" 
																input-focus="{{errorMap.get('countryConfCountry'+$index)!=null}}"  
																ng-class="{'error-control':errorMap.get('countryConfCountry'+$index)!=null}" 
																autocomplete="off" ng-model="countryDynamicField.countryMasterList[$index]" 
																uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxCountryEvent($viewValue)"
																typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
																typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																typeahead-on-select="selectedCountry('purchaseOrderNumber');" 
																typeahead-focus-on-select="false"
																typeahead-focus-first="true" typeahead-editable="false"
																typeahead-min-length="1" typeahead-wait-ms="500">
																<span class="select-arrow"><b></b></span>
<!-- 																  -->
				                                            </div>

                                                        </td>
                                                        <td>
                                                            <ul class="list-inline ">
                                                                <li><a  href="javascript:void(0);" tabindex="-1"  ng-click="removeCountry($index)"><i class="icon-delete"></i></a></li>
                                                            </ul>
                                                        </td>

                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div><!--conn tab ends-->
                                </div>
                              


<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-12">
                        <div class="col-xs-8">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
 </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
                              
                            </div>
                       </div>


                    </form><!--form ends-->
                </div><!--panel body ends-->
            </div><!--panel ends-->
        </div>
    </div>
</div>
