<div class="col-md-12 wizard-height-tab-2  nomargin pl0">
								<div
									class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pr0 pl0 bor-right">
									<div class="row nomargin">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  mt-5">
											<label>Accounts Receivables</label> <input type="text"
												class="form-control" placeholder="receivablefiles.xls"
												disabled>
										</div>
										<div class="col-xs-12 col-md-12 col-lg-12 pt10">
											<div class="col-md-2"></div>
											<div class="col-md-8">
												<!-- <span class="custom-label"><span class="fcolor">Company Logo</span> <span class="reqColor"></span></span> -->
												<div class="file-drop-box mt-3">
													<div class="col-md-12 text-center">
														<ul class="list-unstyled">
															<li>XLS, CSV, XLX</li>
															<li>Drop Here</li>
															<li>Or</li>
															<li><button type="button"
																	class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
														</ul>
													</div>
												</div>

												<div class="col-xs-6 pl0 pt10">
													<div class="panelTitle">
														<a href="JavaScript:void(0);"
															class="btn btn-primary btn-xs btn-property accent-btn">
															Template <i class="fa fa-download" aria-hidden="true"></i>
														</a>
													</div>
												</div>

												<div class="col-xs-6 pl0 pt10 ">
													<div class="panelTitle ml-10">
														<a href="JavaScript:void(0);"
															class="btn btn-primary btn-xs btn-property accent-btn">
															Upload <i class="fa fa-upload" aria-hidden="true"></i>
														</a>
													</div>
												</div>

											</div>
											<div class="col-md-2"></div>
										</div>

									</div>
								</div>
								<div
									class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pr0 pl0 bor-right">
									<div class="row nomargin">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  mt-5">
											<label>Accounts Payables</label> <input type="text"
												class="form-control" placeholder="payablefile.xls" disabled>
										</div>
										<div class="col-xs-12 col-md-12 col-lg-12 pt10">
											<div class="col-md-2"></div>
											<div class="col-md-8">
												<!-- <span class="custom-label"><span class="fcolor">Company Logo</span> <span class="reqColor"></span></span> -->
												<div class="file-drop-box mt-3">
													<div class="col-md-12 text-center">
														<ul class="list-unstyled">
															<li>XLS, CSV, XLX</li>
															<li>Drop Here</li>
															<li>Or</li>
															<li><button type="button"
																	class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
														</ul>
													</div>
												</div>

												<div class="col-xs-6 pl0 pt10">
													<div class="panelTitle">
														<a href="JavaScript:void(0);"
															class="btn btn-primary btn-xs btn-property accent-btn">
															Template <i class="fa fa-download" aria-hidden="true"></i>
														</a>
													</div>
												</div>

												<div class="col-xs-6 pl0 pt10 ">
													<div class="panelTitle ml-10">
														<a href="JavaScript:void(0);"
															class="btn btn-primary btn-xs btn-property accent-btn">
															Upload <i class="fa fa-upload" aria-hidden="true"></i>
														</a>
													</div>
												</div>

											</div>
											<div class="col-md-2"></div>
										</div>
									</div>
								</div>