
<div class="col-md-12  nopadding ">


<div class="col-md-9 pl0 pr0">
<div class="col-md-12 pl0 pr0">
     <div class="row nomargin">
     <div class="col-md-2 col-sm-2 col-xs-2 col-lg-4 ">
			<div class="panelTitle  mt10 pl0">
				<a href="JavaScript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" id="addCharge" ng-click="addCharge()" ng-show="check"> 
					Add Charge
				</a>
				<a href="JavaScript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="updateCharge()" ng-show="!check">
					Update Charge
				</a>
			</div>
			</div>
		
				<!--COL ENDS-->
          </div>
		</div>
	
	<div class="col-xs-12 pl0 pr0" ng-show="locationSetup.chargeList.length>0">
		<div class="modal-body pt0" >
			<div class="row">
				<div class="col-xs-12 pr0">
					<div class="table-responsive mt-15" >
						<table class="table table-inline" tab-nav tab-row="addCharge()">
							<thead class="borderthead">
								<tr>
									<th class="inl_xxs">#</th>
									<th class="inl_mpp ">Charge Name</th>
									<th class="inl_s">Charge Code</th>
									<th class="inl_m">Charge Type</th>
									<th class="inl_m">Calculation Type</th>
									<th class="inl_m">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="chargeMaster in locationSetup.chargeList track by $index">
									  <td  data-nofloat="true" ng-class="{'error-cell  text-center':secondArr[$index].errRow}">
                        <span ng-show="secondArr[$index].errRow" >
                             <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                 <img src="../../../../../assets/images/error.png"/>
                             </a>
                         </span>
                        <span class="inl_xxs" ng-show="!secondArr[$index].errRow">
                            {{$index+1}}
                        </span>
                               </td>
									<td  class="inl_l text-ellipsis"><input 	type="text" class="form-control" 
							id="{{$index}}chargeName"
							maxlength="100"
							ng-model="chargeMaster.chargeName"
                            ng-class="{'error-control-auto':secondArr[$index].chargeName}"
							autofocus="autofocus">
					<span class="error-message" ng-show="errorMap.get('chargeName')!=null"> 
						<small>{{errorMap.get('chargeName')}}</small>
					</span><!-- {{chargeMasterObj.chargeName}} --></td>
									<td  class="inl_l"><input type="text" id="{{$index}}chargeCode" 
							class="form-control " capitalize 
							ng-model="chargeMaster.chargeCode" 
							ng-class="{'error-control-auto':secondArr[$index].chargeCode}"
							maxlength="10">
					<span class="error-message" ng-show="errorMap.get('chargeCode')!=null">
						<small>{{errorMap.get('chargeCode')}}</small>
					</span><!-- {{chargeMasterObj.chargeCode}} --></td>
									
									
								
									
									<td  class="inl_l"><select  id="{{$index}}chargeType"
								class="form-control"
								ng-model="chargeMaster.chargeType"
								ng-options="v for v in chargeTypeArr"
								ng-class="{'error-control-auto':secondArr[$index].chargeType}"
								ng-change="navigateToNextField($index+'calculationType')">
								<option value="" selected hidden/>
						</select>
						<span class="error-message" ng-show="errorMap.get('chargeType')!=null">
						<small>{{errorMap.get('chargeType')}}</small>
					</span><!-- {{chargeMasterObj.chargeType}} --></td>
									
									<td  class="inl_l">
									
							<select  	id="{{$index}}calculationType"
								class="form-control last-child"
								ng-model="chargeMaster.calculationType"
								ng-options="v for v in calcypeArr"
								ng-class="{'error-control-auto':secondArr[$index].calculationType}"
								ng-change="addCharge()">
								<option value="" selected hidden/>
						</select>
						<span class="error-message" ng-show="errorMap.get('calculationType')!=null">
						<small>{{errorMap.get('calculationType')}}</small>
					</span><!-- {{chargeMasterObj.calculationType}} --></td>
					
					                   <td>
										<ul class="list-inline">

											<!-- <li><a href="javascript:void(0);" uib-tooltip="edit"> <i
													class="fa fa-pencil-square-o" ng-click="editChargeMaster($index)"></i>
											</a></li> -->

											<li><a href="javascript:void(0);" uib-tooltip="delete" ng-show="locationSetup.chargeList.length>1"> <i
													class="icon-delete" ng-show="check" ng-click="deleteCharge($index)"></i>
											</a></li>
											<li><a href="javascript:void(0);" uib-tooltip="Add" ng-show="locationSetup.chargeList.length>1"><i
													class="fa fa-plus" aria-hidden="true" ng-click="addCharge()"></i>
											</a></li>
										</ul>

									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	
	
	
	
	
	
	<div class="col-md-3">
	<div class="col-md-12 pl0 pr0">
		<div class="col-md-offset-2 col-lg-offset-2 col-md-10">
			<div class="col-xs-12  plr0 mt-5 ">
				For Upload Multiple Records
			</div>

			<!-- start first coloum -->
			<div >
			<div class="col-xs-12 col-md-12 col-lg-12 mt-5 pl0" >
				<div  ng-show="chargeMasterUploadText" class="file-drop-box mt-3">
					<div class="col-md-12 text-center"
					 		ngf-drop 
                        	 ngf-select 
                        	 ng-model="chargeMaster.file"
                             ngf-drag-over-class="'dragover'" 
                             ngf-multiple="false" 
                             ngf-allow-dir="true"
                             class="file-drop-box"
                             ng-change="chooseFile(chargeMaster,'chargeMaster','chargeMasterUploadText','chargeMasterBtn')">
						<ul class="list-unstyled">
							<li>XLSX or CSV</li>
							<li>Drop Here</li>
							<li>Or</li>

							<li><button type="button"
									class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
						</ul>
					</div>
					</div>
			
				<div ng-show="!chargeMasterUploadText && chargeMasterBusy == true"  class="file-drop-box mt-3" >
                            <div class="loader"></div>
                     </div>
                     <div 
                        		ng-show="!chargeMasterUploadText && chargeMasterBusy ==false" 
                        		ngf-select 
                        		ngf-drop 
                        		ng-model="chargeMaster.file" 
                        		ngf-multiple="false" 
                        		ng-change="chooseFile(chargeMaster,'chargeMaster','chargeMasterUploadText','chargeMasterBtn')" 
                        		class="rel img-box" 
                        		ng-mouseover="chargeBackDrop=true"
                             	ng-mouseleave="chargeBackDrop=false">
                             	  <div class="overlay-attach">
                                        <i class="icon-successfullupload"></i>
                                    </div>
                            			<div class="wrapper-back-drop hide-transition" ng-show="chargeBackDrop">
                                       		<span class="cursorPt overlay-img-btn" ngf-select ngf-drop ng-model="chargeMaster.file" ngf-multiple="false" ng-change="chooseFile(chargeMaster,'chargeMaster','chargeMasterUploadText','chargeMasterBtn')">
                                            	<i class="fa fa-upload"></i>
                                        	</span>
                            			</div>
                        </div>
                      <div>
                        <span class="error-message" ng-show="errorMap.get('chargeMaster')!=null"><small>{{errorMap.get('chargeMaster')}}</small></span>
                    </div>
                   </div>  
			
			<div class="col-xs-6 pt10 pl0">
				<div class="panelTitle">
					<a href="JavaScript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="downloadTemplate('charge')"> Templates <i class="fa fa-download" aria-hidden="true"></i></a>
				</div>
			</div>

			<div class="col-xs-6  pr0 pt10">
				<div class="panelTitle " >
					<a href="JavaScript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="chargeMasterUpload('chargeMaster','chargeBtn')"> Uploads <i class="fa fa-upload" aria-hidden="true"></i></a>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>
	
	
		
</div>