<div class="col-md-12 nopadding ">
								<div class="col-md-10 pl0 pr0 mt-5">
									<div class="col-xs-12">
										<div class="panelTitle">

											<button type="button" tabindex="-1"
												class="btn btn-primary btn-xs btn-property accent-btn"
												ng-click="quotemodel()">
												<i class="icon-add"></i> Add GL
											</button>
										</div>
									</div>
								</div>

								<div class="col-md-10 pl0 pr0">
									<div class="col-md-12 pl0 pr0">
										<!-- start first coloum -->
										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>GL Head Name<span>*</span></label>
												<div class="select-auto">
													<input type="text" class="form-control"> <span
														class="select-arrow"><b></b></span>
												</div>
											</div>
											<!--COL ENDS-->

										</div>

										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Group Name<span>*</span></label>
												<div class="select-auto">
													<input type="text" class="form-control"> <span
														class="select-arrow"><b></b></span>
												</div>
											</div>
											<!--COL ENDS-->

										</div>


										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Group Code<span>*</span></label> <input type="text"
													class="form-control text-left">
											</div>
											<!--COL ENDS-->
										</div>



										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Sub Group Name<span>*</span></label>
												<div class="select-auto">
													<input type="text" class="form-control"> <span
														class="select-arrow"><b></b></span>
												</div>
											</div>
											<!--COL ENDS-->
										</div>
									</div>
									<!-- End first coloum -->


									<!-- start second coloum -->
									<div class="col-md-12 pl0 pr0">
										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Sub Group<span>*</span></label> <input type="text"
													class="form-control">
											</div>
											<!--COL ENDS-->
										</div>

										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>GL Account Name<span>*</span></label>
												<div class="select-auto">
													<input type="text" class="form-control"> <span
														class="select-arrow"><b></b></span>
												</div>
											</div>
											<!--COL ENDS-->
										</div>



										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Account Name<span>*</span></label>
												<div class="select-auto">
													<input type="text" class="form-control"> <span
														class="select-arrow"><b></b></span>
												</div>
											</div>
											<!--COL ENDS-->
										</div>


										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Account No<span>*</span></label> <input type="text"
													class="form-control">
											</div>
											<!--COL ENDS-->
										</div>

										<!-- End second coloum -->
									</div>


									<div class="col-md-12 pl0 pr0">

										<!-- start third coloum -->
										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Account Code<span>*</span></label> <input type="text"
													class="form-control">
											</div>
											<!--COL ENDS-->
										</div>


										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Subledger Account</label>
												<ul class="list-inline">
													<li ng-class="{'opc-5':locationSetup.subLedgerAccount}">No</li>
													<li class="v-align-top"><switch id="isHeadOffice"
															tabindex="0" ng-model="locationSetup.subLedgerAccount"
															class="green"> </switch></li>
													<li ng-class="{'opc-5':!locationSetup.subLedgerAccount}">Yes</li>
												</ul>
											</div>
											<!--COL ENDS-->
										</div>



										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Subledger Code<span>*</span></label> <input
													type="text" class="form-control">
											</div>
											<!--COL ENDS-->
										</div>

										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Group Account</label>
												<ul class="list-inline">
													<li ng-class="{'opc-5':locationSetup.subLedgerAccount1}">No</li>
													<li class="v-align-top"><switch id="isHeadOffice"
															tabindex="0" ng-model="locationSetup.subLedgerAccount1"
															class="green"> </switch></li>
													<li ng-class="{'opc-5':!locationSetup.subLedgerAccount1}">Yes</li>
												</ul>
											</div>
											<!--COL ENDS-->
										</div>

										<!-- End first coloum -->

									</div>



									<div class="col-md-12 pl0 pr0">
										<!-- start third coloum -->
										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Job Account</label>
												<ul class="list-inline">
													<li ng-class="{'opc-5':locationSetup.subLedgerAccount2}">No</li>
													<li class="v-align-top"><switch id="isHeadOffice"
															tabindex="0" ng-model="locationSetup.subLedgerAccount2"
															class="green"> </switch></li>
													<li ng-class="{'opc-5':!locationSetup.subLedgerAccount2}">Yes</li>
												</ul>
											</div>
											<!--COL ENDS-->
										</div>

										<div class="col-xs-3 col-md-3 col-lg-3 mt-5">
											<div class="row nomargin">
												<label>Actual Account</label>
												<ul class="list-inline">
													<li ng-class="{'opc-5':locationSetup.subLedgerAccount3}">No</li>
													<li class="v-align-top"><switch id="isHeadOffice"
															tabindex="0" ng-model="locationSetup.subLedgerAccount3"
															class="green"> </switch></li>
													<li ng-class="{'opc-5':!locationSetup.subLedgerAccount3}">Yes</li>
												</ul>
											</div>
											<!--COL ENDS-->
										</div>

										<!-- End first coloum -->

									</div>
								</div>





								<div class="col-md-2 pl0 pr0">
									<div class="col-xs-12  pl0 pr0" style="margin-top: -20px;">
										<input tabindex="0" type="checkbox"
											ng-model="quotationDetail.quotationValueAddedTmpServiceList[$index].selected"
											ng-change="pupulateQuotationChargeList(quotationDetail.quotationValueAddedTmpServiceList[$index])"
											id="valueAddedServices5"
											class="magic-checkbox ng-pristine ng-untouched ng-valid ng-empty"
											aria-invalid="false"> <label
											class="text custom-label ng-binding"
											for="valueAddedServices5"> For Upload Multiple
											Records</label>
									</div>


									<!-- start first coloum -->
									<div class="col-xs-12 col-md-112 col-lg-12 mt-5">

										<div class="logo-box mt-3">
											<div class="col-md-12 text-center">
												<ul class="list-unstyled">
													<li>XLS, CSV, XLX</li>
													<li>Drop Here</li>
													<li>Or</li>
													<li><button type="button"
															class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-xs-6  pr0 pt10">
										<div class="panelTitle">
											<a href="JavaScript:void(0);"
												class="btn btn-primary btn-xs btn-property accent-btn">
												Template <i class="fa fa-download" aria-hidden="true"></i>
											</a>
										</div>
									</div>

									<div class="col-xs-6 pl0 pr0 pt10">
										<div class="panelTitle ml-10">
											<a href="JavaScript:void(0);"
												class="btn btn-primary btn-xs btn-property accent-btn">
												Upload <i class="fa fa-upload" aria-hidden="true"></i>
											</a>
										</div>
									</div>
								</div>

								<div class="col-xs-12 pl0 pr0 mb-20">
									<div class="modal-body pt0"
										style="height: auto; overflow: auto;">
										<div class="row">
											<div class="col-xs-12">
												<div class="table-responsive pt10">
													<table class="table table-inline">
														<thead>
															<tr>
																<th class="text-left inl_xxs text-center">#</th>
																<th class="inl_l">GL Head Name</th>
																<th class="inl_l">Group Name</th>
																<th class="text-left inl_xl text-center">Sub Group
																	Name</th>
																<th class="inl_l">Accout Name</th>
																<th class="inl_l">Accout Code</th>
																<th class="inl_s">Action</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td class="text-left inl_xxs text-center verticalaln">{{qData.Sno}}</td>
																<td class="inl_l verticalaln"><input
																	class="form-control" type="text" ng-model="qData.Name"></td>
																<td class="inl_l"><input class="form-control"
																	type="text" ng-model="qData.Values"></td>
																<td class="text-left inl_xl text-center"><input
																	class="form-control" type="text"
																	ng-model="qData.subgroupname"></td>
																<td class="inl_l"><input class="form-control"
																	type="text" ng-model="qData.accoutname"></td>
																<td class="inl_l"><input class="form-control"
																	type="text" ng-model="qData.accountcode"></td>
																<td>
																	<ul class="list-inline">

																		<li><a href="javascript:void(0);"> <i
																				class="fa fa-pencil-square-o"></i>
																		</a></li>

																		<li><a href="javascript:void(0);"> <i
																				class="icon-delete"></i>
																		</a></li>
																	</ul>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>