 <div class="modal" role="dialog" id="statusNote">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Attachment</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveForHold(popUpNote)">Save</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">
                   <div class="row">
                       
                       <div class="col-xs-12">
                           <div class="form-group">
                             
                 <attachment-section-simple
                                    		is-edit = "true" is-delete = "true"
                                            table-data="enquiryDetail.enquiryAttachmentList"
                                    		index-key = "'EnqSerAtt'+$index"
                                            download-fn="downloadAttach(param)"
                                            fn-role="hasAccess(param)"
											add-role="userProfile.featureMap['QUOTATION_ATTACHMENTS_TAB_ADD']"
                                            edit-role="userProfile.featureMap['QUOTATION_ATTACHMENTS_TAB_EDIT']"
                                            delete-role="userProfile.featureMap['QUOTATION_ATTACHMENTS_TAB_DELETE']"
                                            table-check="enquiryDetail.isAttachmentCheck">
                                    </attachment-section-simple>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>