<div class="container-fluid" >
	<div class="row">
		<div class="col-xs-12">
			<form name="shipmentForm">
				<div class="panel panel-default masOpertion overflow-hidden">
					<div class="panel-heading bg-trans row flexTitle">
						<div class="col-xs-8">
							<h4 class="nomargin">{{(shipment.id!=null && shipment.id!=-1)?'Edit Shipment No '+shipment.shipmentUid:'Add Shipment'}}</h4>
						</div>
						<div class="col-xs-4">
                            <div class="flexTitle">
                                <div class="col-xs-push-1">
                                    <button type="button" ng-if="shipment.id==null && mainpreloder == false && showCopyShipment" 
                                    		class="btn green-btn" ng-click="get_Shipment()" tabindex="-1">Copy Shipment</button>
                                </div>
                                <div>
                                    <div class="btngrp">
                                        <button type="button" tabindex="-1"
                                                class="btn btn-default btn-xs btn-property cancel-btn"
                                                ng-click="cancelToList()">Cancel</button>
                                        <input type="button" tabindex="-1"
                                               class="btn btn-primary btn-xs btn-property accent-btn"
                                               ng-disabled="disableSubmitBtn"
                                               value="{{shipment.id!=null && shipment.id!=-1 ?'Update':'Save'}}"
                                               ng-click="(shipment.id!=null && shipment.id!=-1) ?updateShipment():saveShipment()">
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					<!--panel heading ends-->
					<div class="pad-15">
						<div>
							<span class="error-message"
								  ng-show="errorMap.get('shipmentServiceRequired')!=null">
								<small>{{errorMap.get('shipmentServiceRequired')}}</small>
							</span>
						</div>
					</div>
					<div class="panel-body pt0 pb0 edit-body" id="service-panel"  panel-height
						 ng-nicescroll nice-scroll-object="niceObject"
						 nice-option="{{ngScrollConfig}}">
						<div class="row bor-0 nopadding shade1">
							<div class="col-xs-12 ptb5">
								<span class="reqColor nomargin">*</span> <small
									class="opc-5 f-12b4">Indicates Mandatory Fields</small>
							</div>
						</div>
						<client-error message="clientMessage"></client-error>
						<div show-response></div>

						<div class="wrapper">
							
								<div class="row  shade1">
									<div class="col-xs-5 ptb-15  ">
										<div class="form-group mb0">
											<div class="row">
												<div  ng-class="shipment.party!=null?'col-xs-10':'col-xs-11' ">
													<label>{{appMasterData['Party_Label']}}<span>*</span></label>
			                                        <div class="select-auto">
														<input type="text" 
															class="form-control" id="shipmentParty" 
															input-focus="{{errorMap.get('shipmentParty')!=null}}"
															autocomplete="off"
															ng-model="shipment.party"
															uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxShipmentPartyEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedShipmentParty('projectSp');"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															typeahead-add-new="routePartyEvent('shipment.party', true, null, false, -1, -1)"
															ng-change="partyBlurChkData(shipment.party, 'shipment.party', false, -1, -1)"
															ng-disabled="partyDisabledFlag"
															>
															<span class="select-arrow"><b></b></span>
					                      
													</div>

													<span class="error-message" ng-show="errorMap.get('shipmentParty')!=null">
														<small> {{errorMap.get('shipmentParty')}} </small>
													</span>
												</div>
												
												
												 <div class="col-xs-1 plr0 mt-25" ng-show="shipment.party!=null">
                                                        <a href="javascript:void(0)"
                                                           data-container="false"
                                                           data-placement="auto right"
                                                           tabIndex="-1"
                                                           class="selectPicker-sm" >
                                                     <div style="border-radius:4px !important; width :22px ;height:21px;background-color:{{shipment.party.gradeMaster.colorCode}}"></div>                                                        </a>
                                                 </div>
												
												<div class="col-xs-1 plr0 mt-25" ng-show="!partyDisabledFlag">
													<!--<label class="visible-hide">Empty</label>-->
													<a href="javascript:void(0)" class="selectPicker-sm"
													   data-container="false"
													   data-placement="auto right"
													     bs-tooltip="editParty" tabindex="-1"
													   ng-show="shipment.party!=null && shipment.party.id!=null" 
													   ng-click="routePartyEvent('shipment.party', false, shipment.party, false, -1, -1)">
														<i class="icon-edit"></i>
													</a>
												</div>
											</div>
										</div>
										<div class="form-group mt-5 mb0">
											<div class="row">
												<div class="col-xs-11">
													<!--<label>Address <span>*</span></label>-->
													<input class="form-control" type="text" 
														   ng-change="validateShipment(2)"
														   ng-model="shipment.partyAddress.addressLine1"
														   maxlength="100" ng-disabled="shipment.party==null || partyDisabledFlag"> <span class="error-message"
																				  ng-show="errorMap.get('shipment.partyAddress.addressLine1')!=null">
														<small>{{errorMap.get('shipment.partyAddress.addressLine1')}}</small>
													</span>
												</div>
												<div class="col-xs-1 mt-2 plr0" ng-show="!partyDisabledFlag">
													<!--<label class="visible-hide">Empty</label>-->
													<a data-container="false"
													   data-placement="auto right"
													     bs-tooltip="selectPartyAddress"
														tabindex="-1" 
													   href="javascript:void(0)" 
													   ng-show="shipment.party!=null && shipment.party.id!=null"
													   ng-click="showShipmentPartyAddress()"
													   class="selectPicker-sm"> <i
													   class="fa fa-chevron-right"></i>
													</a>
												</div>
											</div>
											<!--row ends-->
										</div>
										<div class="form-group mt-5 mb0">
											<div class="row">
												<div class="col-xs-11">
													<input class="form-control" type="text" 
														   ng-change="validateShipment(3)"
														   ng-model="shipment.partyAddress.addressLine2"
														   maxlength="100" ng-disabled="shipment.party==null || partyDisabledFlag"> <span class="error-message"
																				  ng-show="errorMap.get('shipment.partyAddress.addressLine2')!=null">
														<small>{{errorMap.get('shipment.partyAddress.addressLine2')}}</small>
													</span>
												</div>
											</div>
											<!--row ends-->
										</div>
										<div class="form-group mt-5 mb0">
											<div class="row">
												<div class="col-xs-11">
													<input  class="form-control"
													        type="text" 
														    ng-change="validateShipment(4)"
														    ng-model="shipment.partyAddress.addressLine3"
														    maxlength="100" ng-disabled="shipment.party==null || partyDisabledFlag"> 
												   <span class="error-message"
													     ng-show="errorMap.get('shipment.partyAddress.addressLine3')!=null">
														<small>{{errorMap.get('shipment.partyAddress.addressLine3')}}</small>
													</span>
												</div>
											</div>
											<!--row ends-->
										</div>
										<div class="form-group mt-5 mb0">
											<div class="row">
												<div class="col-xs-11">
													<input 
													       class="form-control" 
													       type="text"
														   ng-change="validateShipment(5)"
														   ng-model="shipment.partyAddress.addressLine4"
														   maxlength="100" ng-disabled="shipment.party==null || partyDisabledFlag"> 
												    <span class="error-message"
											              ng-show="errorMap.get('shipment.partyAddress.addressLine4')!=null">
														<small>{{errorMap.get('shipment.partyAddress.addressLine4')}}</small>
													</span>
												</div>
											</div>
											<!--row ends-->
										</div>
									</div>
									<div class="col-xs-7 pt10 ">
										<div class="form-group nomargin ">
											<div class="row mb10">
												<div class="col-xs-4" ng-if="false">
													<label>Origin<span>*</span></label> 
			                                        <div class="select-auto">
														<input type="text" 
															class="form-control" id="originSp" 
															autocomplete="off"
															ng-model="shipment.origin"
															uib-typeahead="lovObject as lovObject.portGroupName for lovObject in ajaxOriginEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"	
															typeahead-on-select="selectedOrigin('destinationSp',selectedTabIndex,shipment);"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
													
													<span class="error-message"
														  ng-show="errorMap.get('origin')!=null"><small>
														{{errorMap.get('origin')}} </small></span>
												</div>
												<div class="col-xs-4" ng-if="false">
													<label>Destination<span>*</span></label>

			                                        <div class="select-auto">
														<input type="text" 
															class="form-control" id="destinationSp" 
															autocomplete="off"
															ng-model="shipment.destination"
															uib-typeahead="lovObject as lovObject.portGroupName for lovObject in ajaxDestination($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedDestination('projectSp',selectedTabIndex,shipment);"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
													<span class="error-message"
														  ng-show="errorMap.get('destination')!=null"><small>
														{{errorMap.get('destination')}} </small></span>
												</div>
												<div class="col-xs-4">
													<label>Project</label>

			                                        <div class="select-auto">
														<input type="text" 
															class="form-control" id="projectSp" 
															autocomplete="off"
															ng-model="shipment.project"
															uib-typeahead="lovObject as lovObject.projectName for lovObject in ajaxProjectEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="selectedProject('tosSp');"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
													

													<span class="error-message"
														  ng-show="errorMap.get('project')!=null"><small>
														{{errorMap.get('project')}} </small></span>

												</div>
												<div class="col-xs-4">
													<label class="text-inherit">Terms of Shipment<span>*</span></label>

			                                        <div class="select-auto">
														<input type="text" 
															class="form-control" id="tosSp" 
															autocomplete="off"
															ng-model="shipment.tosMaster"
															uib-typeahead="lovObject as lovObject.tosName for lovObject in ajaxTosEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedTos('commoditySp');"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>


													<span class="error-message"
														  ng-show="errorMap.get('tosMaster1')!=null"><small>
														{{errorMap.get('tosMaster1')}} </small></span>
												</div>
												<div class="col-xs-6  mt10">
													<label>Commodity Group</label>
			                                        <div class="select-auto">
														<input type="text" 
															class="form-control" id="commoditySp" 
															autocomplete="off"
															ng-model="shipment.commodity"
															input-focus="{{errorMap.get('commodity')!=null}}"
															uib-typeahead="lovObject as lovObject.hsName for lovObject in ajaxCommodityEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															typeahead-on-select="selectedCommodityMaster('directShipment','shipmentaes')"
															typeahead-focus-on-select="false"
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
													</div>
														<span class="error-message" style="color: red;"
															  ng-show="errorMap.get('commodity')!=null"><small>
															{{errorMap.get('commodity')}} </small></span>
												</div>
												 <div class="col-xs-4 mt10" ng-show="dynamicFormFieldMap.get('Shipment > AES No')=='true'">
                                            <label>AES No</label> 
                                            <input type="text"
                                                                            id="shipmentaes"
                                                                            class="form-control"
                                                                            input-focus="{{errorMap.get('shipmentaes')!=null}}"
                                                                            ng-class="{'error-control':errorMap.get('shipmentaes')!=null}"
                                                                            maxlength="30"
                                                                            ng-change="validateShipment(12)"
                                                                            ng-model="shipment.aesNo"
                                                                            >
                                            <div>
											<span class="error-message"
                                               ng-show="errorMap.get('shipmentaes')!=null"> <small>{{errorMap.get('shipmentaes')}}</small></span>
                                            </div>
                                        </div>
												
											</div>
											<!--row ends-->
										</div>
										<!--form group ends-->
										<div class="form-group nomargin">
											<div class="row">
												<div class="col-xs-12 nopadding  ">
													<div class="col-xs-3 ptb-15">
														<label>Direct<span>*</span></label>
														<ul class="list-inline">
															<li ng-class="{'opc-5':shipment.directShipment}">No</li>
															<li class="v-align-top">
																<switch tabIndex="0" 
																		id="directShipment"
																		ng-model="shipment.directShipment"
																		class="green">
																</switch>
															</li>
															<li ng-class="{'opc-5':!shipment.directShipment}">Yes</li>
														</ul>
													</div>
													<div class="col-xs-3 ptb-15">
														<label>Routed<span>*</span></label>
								                                   
														<ul class="list-inline">
															<li ng-class="{'opc-5':shipment.whoRouted}">Self</li>
															<li class="v-align-top">
															<switch  id="whoRouted" tabIndex="0" 
															ng-change="changeRoutedBy(shipment.shipmentServiceList[selectedTabIndex])"  
															ng-model="shipment.whoRouted" class="green" ></switch>
															</li>
															<li ng-class="{'opc-5':!shipment.whoRouted}">Agent</li>
														</ul>
													</div>
													<div class="col-xs-4 ptb-15">


														<label>Routed By<span>*</span></label>
				                                        <div class="select-auto"   ng-hide="shipment.whoRouted">
															<input type="text" 
																class="form-control" id="shipmentWhoRouted" 
																autocomplete="off"
															    ng-hide="shipment.whoRouted"
															    ng-model="shipment.salesman"
																input-focus="{{errorMap.get('routedBy')!=null}}"
																uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesmanEvent($viewValue)"
																typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																typeahead-show-hint="true" typeahead-show-loading="true" 
																 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																typeahead-on-select="selectedSalesman('holdShipment')"
																typeahead-focus-on-select="false"
																typeahead-focus-first="true"
																typeahead-editable="false"
																typeahead-min-length="1" typeahead-wait-ms="500" 
																>
																<span class="select-arrow"><b></b></span>
														</div>
				                                        <div class="select-auto"   ng-hide="!shipment.whoRouted">
															<input type="text" 
																class="form-control" id="notShipmentWhoRouted" 
																autocomplete="off"
															    ng-hide="!shipment.whoRouted"
															    ng-model="shipment.agent"
																input-focus="{{errorMap.get('routedBy')!=null}}"
																uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxAgentEvent($viewValue)"
																typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																typeahead-show-hint="true" typeahead-show-loading="true" 
																 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																typeahead-on-select="selectedAgent('holdShipment');"
																typeahead-focus-on-select="false"
																typeahead-focus-first="true"
																typeahead-editable="false"
																typeahead-min-length="1" typeahead-wait-ms="500" 
																>
																<span class="select-arrow"><b></b></span>
														</div>
												<span class="error-message"
													  ng-show="errorMap.get('routedBy')!=null"><small>
													{{errorMap.get('routedBy')}} </small></span>


														
													</div>
												</div>
											</div>
											<!--row ends-->
										</div><!--form group ends-->
										
										<!--form group ends-->
										<div class="form-group nomargin">
											<div class="row">
												<div class="col-xs-12 nopadding  ">
												
												<div class="col-xs-4 ptb-15">
														<label>Hold</label>
														<ul class="list-inline">
															<li ng-class="{'opc-5':shipment.holdShipment}">No</li>
															<li class="v-align-top">
															<switch  id="holdShipment" tabIndex="0" 
															ng-model="shipment.holdShipment" class="green" ></switch>
															</li>
															<li ng-class="{'opc-5':!shipment.holdShipment}">Yes</li>
															<button ng-show="shipment.holdShipment" type="button"   class=" linkfocus  btn  btn-border w60px nopadding fs11-w400-cb54" href="javascript:void(0);" ng-click="notespopup('reasonfornote')" >  Reason </button>
														</ul>
														
														
                
													</div>
													
													<div class="col-xs-3 ptb-15">
														<label>Haz</label>
														<ul class="list-inline">
															<li ng-class="{'opc-5':shipment.hazardous}">No</li>
															<li class="v-align-top">
																<switch tabIndex="0" 
																		id="hazardous"
																		ng-model="shipment.hazardous"
																		class="green">
																</switch>
															</li>
															<li ng-class="{'opc-5':!shipment.hazardous}">Yes</li>
														</ul>
													</div>
													<div class="col-xs-3 ptb-15" ng-hide="shipment.isFromConsolForImport=='true' || shipment.isFromConsolForImport">
														<label>Over Dimension</label>
								                                   
														<ul class="list-inline">
															<li ng-class="{'opc-5':shipment.overDimension}">No</li>
															<li class="v-align-top">
															<switch  id="overDimension" tabIndex="0" 
															ng-model="shipment.overDimension" class="green" ></switch>
															</li>
															<li ng-class="{'opc-5':!shipment.overDimension}">Yes</li>
														</ul>
													</div>
													
													
													
									
												</div>
											</div>
											<!--row ends-->
										</div><!--form group ends-->
										
									</div>
								</div>
								<div class="rows clearfix">
									<hr class="nomargin">
								</div>
								<div class="row" >
									<div class="col-xs-12 plr0">
										<!--<h5 class="title mtb-0">Services</h5>-->
										<div class="tabs" >
											<ul class="list-inline chromeTabs ml0" >
												<li class="cur-pointer" 
													ng-show="servicetabObj.location.id==userProfile.selectedUserLocation.id"
													ng-repeat="servicetabObj in shipment.shipmentServiceList track by $index"
													ng-click="(servicetabObj.lastUpdatedStatus==null || servicetabObj.lastUpdatedStatus.serviceStatus=='Booked' || servicetabObj.lastUpdatedStatus.serviceStatus=='Received')?clickTabIndex($index):clickTabIndex($index)"
													title="{{servicetabObj.id!=null?(servicetabObj.lastUpdatedStatus.serviceStatus+' : '+servicetabObj.serviceMaster.serviceName):'New Service'}}" ng-class="{'tabActive':selectedTabIndex==$index}">
													{{servicetabObj.id!=null?(servicetabObj.lastUpdatedStatus.serviceStatus+' : '+servicetabObj.serviceMaster.serviceName):'New Service'}}
													<span data-placement="bottom"   bs-tooltip="tabDelete" class="icon-delete cur-pointer" ng-click="deleteShipmentService($index)" ng-show="(servicetabObj.lastUpdatedStatus==null || servicetabObj.lastUpdatedStatus.serviceStatus=='Booked' || servicetabObj.lastUpdatedStatus.serviceStatus=='Received') && shipment.shipmentServiceList.length>1"></span>
												</li>
												<span  data-placement="bottom"   bs-tooltip="newTab"  ng-click="addShipmentServiceRow()" class="addtab cur-pointer"></span>
											</ul>
											<div class="tabContent p00">
												<div class="row">
													<div class="col-xs-12" ng-repeat="shipmentServiceDetail in shipment.shipmentServiceList track by $index" ng-show="selectedTabIndex==$index">
														<div ng-include="'app/components/crm/shipment/views/shipment_service_edit.html'" ></div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
								<!--row ends-->
							

						</div>
						
						<!--wrapper ends-->
					</div>

					<!--panel body ends-->

					<modal-spinner spinner-status="spinner"></modal-spinner>

					<!--Back Drops-->
					<div ng-hide="!showPartyAddressList" class="wrapper-back-drop"></div>

					<div ng-show="showPartyAddressList"
						 class="logs-transition sideView">
						<select-list-picker panel-title="panelTitle"
											selected="selectedItem" data="docPartyAddressList"
											cancel-event="cancelPartyAddress()"
											click-event="selectedPartyAddress(param)"
											config="partyAddressListConfig"> </select-list-picker>
					</div>

					<!-- Party Address Select Picker -->
					<div ng-show="showShipmentPartyAddressList"
						 class="logs-transition sideView">
						<select-list-picker panel-title="panelTitle"
											selected="selectedItem" data="shipment.party.partyAddressList"
											cancel-event="cancelShipmentPartyAddress()"
											click-event="selectedShipmentPartyAddress(param)"
											config="shipmentPartyAddressListConfig"> </select-list-picker>
					</div>


					<div ng-show="showTransportAddressList"
						 class="logs-transition sideView">
						<select-list-picker panel-title="panelTitle"
											selected="selectedItem" data="transportAddressListShipment"
											cancel-event="cancelTransportPartyAddress()"
											click-event="selectedTransportPartyAddress(param)"
											config="transportAddressListConfig"> </select-list-picker>
					</div>
					
					<div ng-show="showPickUpPlaceAddressList"
						 class="logs-transition sideView">
						<select-list-picker panel-title="panelTitle"
											selected="selectedItem" data="pickUpPlaceAddressListShipment"
											cancel-event="cancelPickUpPlacePartyAddress()"
											click-event="selectedPickUpPlacePartyAddress(param)"
											config="pickUpPlaceAddressListConfig"> </select-list-picker>
					</div>
					
					
				</div>
				<!--panel ends-->
			</form>

		</div>
		<!--column ends-->
	</div>
	<!--row ends-->

</div>
<script type="text/ng-template" id="errorPopUpAuthDoc.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="holdStatusNote.html">
    <div class="modal" role="dialog" id="statusNote">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Reason for hold</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveForHold(popUpNote)">Save</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">
                   <div class="row">
                       
                       <div class="col-xs-12">
                           <div class="form-group">
                             
                               <textarea class="form-control minH-180" id="reasonfornote" 
                                         ng-model="popUpNote"
                                         maxlength="255"
                                         ng-class="{'error-control':secondArr[$index].note}"
                                         ng-focus="dirtyIndex($index)" ng-disabled="statusUpdateObj.id!=null" >
                </textarea>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!--container ends-->