<div class="container-fluid pl0 pr0 page-style resPortListPage">
	<div class="row ml0 mr0" ng-init="showDetail=false">
		<div class="list-container col-md-12" ng-show="!showDetail">
			<div class="row nomargin">
				<ul class="nav btn-tab2 ">
					<li class="shipmentmenu" ng-class="detailTab==tab?'activeBtn':''" ng-click="tabChange(tab)" ng-repeat="tab in tabArray">
					{{tab.displayName+"("+tab.totalCount+")"}}</li>
				</ul>
			</div>
			<div class="col-xs-12 tab-list-container ">
				<div show-response></div>
				<client-error message="clientMessage"></client-error>
				<div class="row">
					<div class="tab-content">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="col-xs-2 col-sm-2 col-md-3 col-lg-3 pl0">
									<div class="panelTitle">
										<button class="btn btn-primary btn-xs btn-property accent-btn font-size-port" ng-click="add()">
											<i class="icon-add opcfull"></i>Add Shipment
										</button>
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 pr0">
									<button-group btn-index="" states="btnGrp.TypeServiceArr" state="searchDto.importExport" on-state-change="onBtnGroupChange()">
									</button-group>
								</div>

								<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 pr0">
									<div class="form-group">
										<div class="input-group-btn">
											<select class="form-control" ng-model="searchDto.searchName" ng-change="searchBy(true)" ng-options="v for v in searchOption">
												<option label="Search By" value="" />
											</select>
										</div>


									</div>

								</div>

								<div class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
									<div class="form-group">
										<input type="text" id="searchValueAll" ng-change="searchBy(false)" ng-model="searchDto.searchValue" ng-show="searchValueAllFlag">

									</div>
								</div>

								<!-- <div class="col-md-3 pull-right text-right">
									<i class="icon-settings"></i>
								</div> -->
							</div>


							<div class="panel-body nav-tab-container" panel-height>
								<div class="table-fixed table-responsive">
									<super-table data="shipmentArr" head="searchHeadArr" sort="searchSortSelection" click-event="rowSelect(param,index)" search-event="changeSearch(param)"
									    sort-event="sortChange(param)" page="page" size="limit">
									</super-table>

								</div>
							</div>
							<div class="panel-footer">
								<div class="pull-left">
									<ul class="list-inline">
										<li>Show</li>
										<li>
											<select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChange(limit)" ng-options="v for v in limitArr">

											</select>
										</li>
										<li>Entries</li>
									</ul>
								</div>
								<div class="pull-right text-right">
									<pagination-dr page="page" size="limit" total=totalRecord page-change="changePage(param)" class="pull-right"></pagination-dr>
								</div>
							</div>
						</div>
						<!--panel ends-->
					</div>
				</div>
			</div>

		</div>
	</div>
</div>