<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Attachment</h4>
                         <span class="error-message" ng-show="errorMap.get('linkService')!=null">
                             <small>{{errorMap.get('linkService')}}</small>
                         </span>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelFlightSchedule();$hide()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="selectedFlightSchedule()">Save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                   <div class="row nomargin pt-15 noborder shade3">
                        <super-attachment-table
                         		index-key = "$index"
                                table-data="shipmentServiceDetail.shipmentAttachmentList"
                                table-check="shipmentServiceDetail.isAttachmentCheck"
                                attachment-config="shipmentServiceDetail.attachConfig"
                                download-fn="downloadAttach(param)"
                                fn-role="hasAccess(param)"
                                add-role="userProfile.featureMap['CRM_SHIPMENT_SERVICE_ATTACHMENT_ADD']"
                                edit-role="userProfile.featureMap['CRM_SHIPMENT_SERVICE_ATTACHMENT_EDIT']"
                                delete-role="userProfile.featureMap['CRM_SHIPMENT_SERVICE_ATTACHMENT_DELETE']">
                        </super-attachment-table>
                    </div>
                    </div>
                </div>
            </div><!--body ends-->


           <!--  <div class="modal-footer modfooter">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="flightScheduleLimit"
                                                        ng-change="flightScheduleLimitChange(flightScheduleLimit)" ng-options="v for v in flightScheduleLimitArray">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <pagination-dr  page="flightSchedulePage" size="flightScheduleLimit" total=flightScheduleTotalRecord page-change="flightScheduleChangePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div> -->
                                        
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


