<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Flight Schedule</h4>
                         <span class="error-message" ng-show="errorMap.get('linkService')!=null">
                             <small>{{errorMap.get('linkService')}}</small>
                         </span>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelFlightSchedule();$hide()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="selectedFlightSchedule()">Submit</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                        <div class="table-responsive mt-15" >
                            <table class="table table-inline">
                                <thead class="borderthead">
                                <tr>
                                    <th class="text-center inl_sno">#</th>
                                    <th ng-click="flightScheduleSortChange('carrierMaster.carrierName')" class="inl_tl">Carrier Name 
                                    
                                    <span ng-show="searchDto.sortByColumn=='carrierMaster.carrierName'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span>
                                    </th>
                                    <th  ng-click="flightScheduleSortChange('flightNo')" class="inl_tl">Flight No <span ng-show="searchDto.sortByColumn=='flightNo'" ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('pol.portName')" class="inl_tl">Airport of Loading <span ng-show="searchDto.sortByColumn=='pol.portName'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('directStopOver')" class="inl_tl">Direct/Stop Over <span ng-show="searchDto.sortByColumn=='directStopOver'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('pod.portName')" class="inl_lp">Airport of Discharge <span ng-show="searchDto.sortByColumn=='pod.portName'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('etd')" class="inl_mpp">ETD <span ng-show="searchDto.sortByColumn=='etd'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th ng-click="flightScheduleSortChange('eta')" class="inl_mpp">ETA <span ng-show="searchDto.sortByColumn=='eta'"  ng-class="{'transform0deg':searchDto.orderByType=='asc','transform180deg':searchDto.orderByType=='desc'}" style="left:20px;" class="pull-right sorting-wrapper hand"><i class="icon-ascending-arrow ascend-icon"></i></span></th>
                                    <th class="inl_mpp">Select</th>
                                 </tr>
                                <tr>
                                    <th class="text-center"><span class="icon-search"></span></th>
                                    <th><input type="text" class="form-control" id="flightSchedule.service" ng-model="searchDto.carrier" ng-change="flightScheduleSearch()"></th>
                                    <th><input type="text" class="form-control" ng-model="searchDto.flightNo" ng-change="flightScheduleSearch()"></th>
                                    <th><input type="text" class="form-control" ng-model="searchDto.pol" ng-change="flightScheduleSearch()"></th>
                                    <th><input type="text" class="form-control" ng-model="searchDto.directStopOver" ng-change="flightScheduleSearch()"></th>
                                    <th><input type="text" class="form-control" ng-model="searchDto.pod" ng-change="flightScheduleSearch()"></th>
                                    <th><div class="inputBox">
                                     <input style="font-size: 11px" data-date-range-picker data-options="datepickeropts" ng-model="searchDto.etd" type="text" class="form-control input-sm date-picker cur-pointer"/>
                                     <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>   </div>
                                    </th>
                                    <th>
                                    <div class="inputBox">
                                    <input style="font-size: 11px" data-date-range-picker data-options="datepickeropts" ng-model="searchDto.eta" type="text" class="form-control input-sm date-picker cur-pointer"/>
                                    <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                    </div>
                                    </th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <!-- <tbody>
                                <tr>
                 					<td class="tdtext-wrap" >1</td>
                                    <td class="tdtext-wrap" >ABSA Cargo Airline 
                                      <i class="fa {{flightDetail==true? 'fa-caret-up' : ' fa-caret-down' }} pull-right"  ng-click="flightDetail = !flightDetail"></i>
                                    </td>
                                    
                                    <td class="tdtext-wrap" ></td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.hawbNo}}">Chennai</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.hawbNo}}">Stop Over</td>
                                    <td class="tdtext-wrap" title="{{dateToString(shipmentLink.serviceReqDate)}}">Qatar</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.pol.portName}}">10-11-2016 13:37</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.pod.portName}}">14-11-2016 22:60</td>
                                    <td class="tdtext-wrap text-center" title="{{shipmentLink.pod.portName}}" style="padding: 0px !important;">
                                    <input type="radio" name="optradio" class="nomargin">                                
                                    </td>
                                    <tbody ng-show="flightDetail" class="heighlight">
                                    <tr>
                                    	<td></td>
                                    	<td>ABSA Cargo Airline </td>
                                    	<td>AI 0436</td>
                                    	<td>Chennai</td>
                                    	<td>Stop Over</td>
										<td>Mumbai</td>
                                    	<td>10-11-2016 13:37</td>
                                    	<td colspan="2">11-11-2016 14:15</td>
                                    	                                 
                                    </tr>
                                    <tr>
                                    <td></td>
                                    <td>ABSA Cargo Airline </td>
                                    	<td>AI 0436</td>
                                    	<td>Mumbai</td>
										<td>Stop Over</td>
										<td>Qatar</td>
                                    	<td>11-11-2016 15:15</td>
                                    	<td colspan="2">14-11-2016 22:60</td>
                                    	                              
                                    </tr>
                                    </tbody>
                                    </tr>
                                <tr>
                 					<td class="tdtext-wrap" >2</td>
                                    <td class="tdtext-wrap" >Ozone Shipping LTD </td>
                                    <td class="tdtext-wrap" >9I 0506</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.hawbNo}}">Mumbai</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.hawbNo}}">Direct</td>
                                    <td class="tdtext-wrap" title="{{dateToString(shipmentLink.serviceReqDate)}}">Abhudhabi</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.pol.portName}}">11-11-2016 12:05</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.pod.portName}}">13-11-2016 13:06</td>
									<td class="tdtext-wrap text-center" title="{{shipmentLink.pod.portName}}" style="padding: 0px !important;">
                                    <input type="radio" name="optradio" class="nomargin">                                
                                    </td>
                                                         </tr>
                               
                                  
                                </tbody> -->
                                <tbody ng-repeat="flightSchedule in flightScheduleSearchResult track by $index">
                                 <tr>
                 					<td class="text-left">{{flightSchedule.no}}</td>
                                    <td class="tdtext-wrap" title="{{flightSchedule.carrierMaster.carrierName}}">
                                    <img ng-show="flightSchedule.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{flightSchedule.carrierMaster.image}}" width="20" height="20"> 
                                    {{flightSchedule.carrierMaster.carrierName}} 
                                    <i class="fa {{flightDetail!='child'+flightSchedule.id?' fa-caret-down':'fa-caret-up' }} pull-right"  
                                    ng-click="toggleFlightPlan(flightSchedule)" 
                                    ng-show="flightSchedule.connectionList!=null && flightSchedule.connectionList.length>1">
                                    </i></td>
                                    <td class="tdtext-wrap text-right" title="{{flightSchedule.flightNo}}">{{flightSchedule.flightNo}}</td>
                                    <td class="tdtext-wrap" title="{{flightSchedule.pol.portName}}">{{flightSchedule.pol.portName}}</td>
                                    <td class="tdtext-wrap" title="{{flightSchedule.connectionList.length>1?'Stop Over':'Direct'}}">{{flightSchedule.connectionList.length>1?'Stop Over':'Direct'}}</td>
                                    <td class="tdtext-wrap" title="{{flightSchedule.pod.portName}}">{{flightSchedule.pod.portName}}</td>
                                    <td class="tdtext-wrap" title="{{dateAndTimeToString(flightSchedule.etd)}}">{{dateAndTimeToString(flightSchedule.etd)}}</td>
                                    <td class="tdtext-wrap" title="{{dateAndTimeToString(flightSchedule.eta)}}">{{dateAndTimeToString(flightSchedule.eta)}}</td>
									<td class="tdtext-wrap text-center" style="padding: 0px !important;">
									
                                   <input type="radio" name="optradio"
									 data-ng-value="flightSchedule.id"
                                                           data-ng-model="$parent.tmpObject" 
									 class="nomargin" ng-change="newFlightSchedule(flightSchedule)">                            
                                    </td>
                                    </tr>
                                    
                                   <tr ng-repeat="connection in flightSchedule.connectionList track by $index" ng-show="flightDetail=='child'+flightSchedule.id" class="heighlight">
                                    	<td></td>
                                    	<td class="tdtext-wrap">{{connection.carrierMaster.carrierName}}</td>
                                    	<td class="tdtext-wrap text-right">{{connection.flightNo}}</td>
                                    	<td class="tdtext-wrap">{{connection.pol.portName}}</td>
                                    	<td class="tdtext-wrap">Stop Over</td>
										<td class="tdtext-wrap">{{connection.pod.portName}}</td>
                                    	<td class="tdtext-wrap" >{{dateAndTimeToString(connection.etd)}}</td>
                                    	<td colspan="2" class="tdtext-wrap">{{dateAndTimeToString(connection.eta)}}</td>
                                    	                                 
                                    </tr>
                                    
                                 
                                 
                                  
                                </tbody>
                                
                                
                                
                                
                                    
                            </table>
                         
                        </div>
                    </div>
                </div>
            </div><!--body ends-->


            <div class="modal-footer modfooter">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="flightScheduleLimit"
                                                        ng-change="flightScheduleLimitChange(flightScheduleLimit)" ng-options="v for v in flightScheduleLimitArray">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <pagination-dr  page="flightSchedulePage" size="flightScheduleLimit" total=flightScheduleTotalRecord page-change="flightScheduleChangePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                                        
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


