<div class="panel-body pl0 pr0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
	<div class="row nomargin">
		<div class="col-xs-12 pl0 pr0">

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 form-group">
				<label>Currency<span class="reqColor">*</span></label>
				<div class="select-auto">
					<input type="text" class="form-control" id="currencyMaster"
						class="form-control" autocomplete="off"
						ng-model="locationSetup.currencyMaster"
						uib-typeahead="lovObject as lovObject.currencyName for lovObject in getCurrencyList($viewValue)"
						typeahead-template-url="../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-public-template.html"
						typeahead-show-hint="true" typeahead-show-loading="true"
						typeahead-select-on-exact="true" typeahead-append-to-body="true"
						typeahead-on-select="selectedCurrency('measurement');"
						typeahead-focus-on-select="false" typeahead-focus-first="true"
						typeahead-editable="false" typeahead-min-length="2"
						typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
				</div>

				<span class="error-message"
					ng-show="errorMap.get('locationSetup.currencyMaster')!=null">
					<small>{{errorMap.get('locationSetup.currencyMaster')}}</small>
				</span>
			</div>



			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 form-group">
				<label>Decimal </label> <input type="text"
					class="form-control text-right"
					ng-model="locationSetup.currencyMaster.decimalPoint"
					ng-disabled="true" />

			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 form-group">
				<label class="custom-label">Measurements</label>
				<ul class="list-inline">
					<li ng-class="{'opc-5':!locationSetup.measurement}">Imperial</li>
					<li class="v-align-top"><switch id="measurement" tabindex="0"
							ng-model="locationSetup.measurement" class="green"> </switch></li>
					<li ng-class="{'opc-5':locationSetup.measurement}">Metric</li>
				</ul>
			</div>

         <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 pl0 form-group">

				<div class="col-md-12 col-xs-12 ">
					<label>Language<span class="reqColor">*</span></label>
					<div class="select-auto">
						<input type="text" class="form-control" id="language"
							class="form-control" autocomplete="off"
							ng-model="locationSetup.languageMaster"
							uib-typeahead="lovObject as lovObject.languageName for lovObject in getLanguageList($viewValue)"
							typeahead-template-url="../../app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-public-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"
							typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedLanguage('financialStartDate');"
							typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="2"
							typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>


							
					</div>
					<span class="error-message"
						ng-show="errorMap.get('locationSetup.languageMaster')!=null"> <small>{{errorMap.get('locationSetup.languageMaster')}}</small>
					</span>


				</div>
			</div>


		</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 form-group">
				<label>Financial Start Month and year</label>
				<div class="inputBox">
					<input type="text" class="form-control"
						ng-class="{'error-control-auto':errorMap.get('locationSetup.financialStartDate')!=null}"
						ng-model="locationSetup.financialStartDate"
						date-callback="selectFinancialStart();"
						ng-blur="selectFinancialStart()"
						datetimepicker datetimepicker-options="{{datePickerOptions}}"
						id="financialStartDate"> <span
						class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
				</div>
				<span class="error-message"
					ng-show="errorMap.get('locationSetup.financialStartDate')!=null">
					<small>{{errorMap.get('locationSetup.financialStartDate')}}</small>
				</span>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 form-group">
				<label>Financial End Month and year</label>
				<div class="inputBox">
					<input type="text" class="form-control"
						ng-class="{'error-control-auto':errorMap.get('locationSetup.financialEndDate')!=null}"
						ng-model="locationSetup.financialEndDate"
						datetimepicker datetimepicker-options="{{datePickerOptions}}"
						id="financialEndDate" ng-disabled="true">
					<span class="inputIcon"><i class="icon-date"
						aria-hidden="true"></i></span>
				</div>
				<span class="error-message"
					ng-show="errorMap.get('locationSetup.financialEndDate')!=null">
					<small>{{errorMap.get('locationSetup.financialEndDate')}}</small>
				</span>
			</div>

			

	</div>
</div>




<!--row ends-->
<div class="panel-footer">
	<div class=" col-md-12 mt10 ">

		<div class="btngrp pull-right">
			<button class="btn btn-xs btn-property accent-btn"
				ng-click="saveLocationConfiguration('app.login')" id="backButton">
				<span class="chevron-font">&#xf053;</span> Back
			</button>
			<!-- ngIf: !isNavigation -->
			<button class="btn btn-primary btn-xs btn-property accent-btn"
				ng-click="saveLocationConfiguration('app.metaconfig')">
				Next <span class="chevron-font">&#xf054;</span>
			</button>
			<!-- end ngIf: !isNavigation -->

		</div>
	</div>
</div>
