
<div class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header nopadding">
				<div class="row plr14px">
				<div class="col-xs-12">
					<div class="col-xs-8">
						<h4>Following Error List</h4>
					</div>
					<div class="col-xs-4 mt-7">
						<ul class="list-inline pull-right">
							<li><button type="button"
									class="btn btn-primary btn-xs btn-property cancel-btn"
									ng-click="$hide()">Cancel</button></li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<div class="modal-body pt35 pb35">
				<ul>
					<li class="text-danger"
						ng-repeat="errObj in errList track by $index">{{errObj}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>