<div class="container-fluid resPortListPage resLandListPage">
	<div class="row ml0 mr0">
		<!-- Table View -->
		<div  class="list-container col-md-12  table-responsive main" 
		ng-init="clickOnTab('reportmaster')">
			<div class="row  nomargin">
			<div ng-class="detailTab=='reportmaster'?'col-md-12 col-xs-12 col-sm-12 col-lg-12 plr0':'col-md-12 col-xs-12 col-sm-12 col-lg-8 plr0'" >
				<ul class="nav btn-tab2 btn-Ltab2">
					<li class="pad-Lb10" ng-class="detailTab=='reportmaster'?'activeBtn':'active'"
						ng-click="clickOnTab('reportmaster')">Report Master</li>
					<li class="pad-Lb10 " ng-class="detailTab=='cntrycnfgmaster'?'activeBtn':'active'"
						ng-click="clickOnTab('cntrycnfgmaster')">Country Report
						Master</li>
				</ul>
				</div>
			</div>
			<div class="col-xs-12 tab-list-container">
				<div class="row">
					<div class="tab-content">
						<div ng-if="detailTab=='reportmaster'">
							<div class="panel panel-default">
								<div class="panel-heading flexTitle">
									<div>
										<button type="button" class="btn btn-property accent-btn"
											ng-click="addPage()">
											<span class="icon-add"></span> Add Report Master
										</button>
									</div>
								</div>
								<div class="panel-body p00  nav-tab-container" panel-height>
									<div show-response></div>
									<client-error message="clientMessage"></client-error>
									<div success-message></div>
									<div class="table-fixed table-responsive" ng-nicescroll
										nice-option="{{ngScrollConfigScroll}}">
										<super-table-edit data="reportArray" head="reportConfigHead"
											sort="sortSelection" is-delete="true" page="page"
											size="limit" click-event="rowSelect(param,index)"
											search-event="changeSearch(param)"
											sort-event="sortChange(param)"
											action-event="actionClick(param)"> </super-table-edit>
									</div>
								</div>
								<div class="panel-footer">
								
										<div class="pull-left">
											<ul class="list-inline">
												<li>Show</li>
												<li><select class="form-control legend-show-ctrl"
													ng-model="limit" ng-change="limitChange(limit)"
													ng-options="v for v in limitArr">

												</select></li>
												<li>Entries</li>
											</ul>
										</div>
										<div class="pull-right">
											<pagination-dr page="page" size="limit" total="totalRecord"
												page-change="changepage(param)" class="pull-right"></pagination-dr>
										</div>
									
								</div>
							</div>
							<!--panel ends-->
						</div>
						<!--Tab Ends-->
						<div ng-controller="countryReportConfigCtrl"
							ng-if="detailTab=='cntrycnfgmaster'">
							<div class="row nomargin ">
								<div ng-show="deskTopView" 
									class="list-container col-md-12 col-lg-8 col-sm-12 col-xs-12 ">
									<div show-response></div>
									<div success-message></div>
									<!--panel starts-->
									<div class="panel panel-default" ng-click="showHistory=false">
										<div class="panel-heading flexTitle">
											<button type="button" class="btn btn-property accent-btn"
												ng-click="addNew()">
												<span class="icon-add"></span> Add Country Report Master
											</button>
										</div>
										<div class="panel-body nav-tab-container p00" panel-height>
											<div class="table-fixed table-responsive" ng-nicescroll
												nice-option="{{ngScrollConfigScroll}}">
												<super-table data="dataArr" head="tableHeadArr"
													sort="sortSelection" click-event="rowSelect(param)"
													search-event="changeSearch(param)"
													sort-event="sortChange(param)" page="page"
													size="limit"> </super-table>
											</div>
										</div>
										<div class="panel-footer" style="height:30px !important; ">
											<div class="pull-left">
												<ul class="list-inline">
													<li>Show</li>
													<li><select class="form-control legend-show-ctrl"
														ng-model="limit" ng-change="limitChange(limit)"
														ng-options="v for v in limitArr">
													</select></li>
													<li>Entries</li>
												</ul>
											</div>
											<div>
												<div class="pull-right text-right">
													<pagination-dr page="page" size="limit"
														total="totalRecord" page-change="changepage(param)"
														class="pull-right"></pagination-dr>
												</div>
											</div>
										</div>
									</div>
									<!--Panel Ends-->
								</div>

								<div
									class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12 m-pl0 mt46 margintN50"
									ng-hide="!countryReportConfigView"
									>
									<div class="panel panel-default detail-transition">
										<div class="panel-heading panel-heading-sm">
											<div>
												<div class="panelTitle">
													<span> <a data-placement="bottom" bs-tooltip="back"
														href="javascript:void(0)" ng-click="backToList()"
														class="list-panel-back"> <i class="icon-back-menu"></i>
													</a>
													</span> <span>Country Report Master</span>
												</div>
											</div>
											<div>
												<ul class="list-inline">
													<li><a href="javascript:void(0)"
														ng-class="{'active-activityBtn':showHistory}"
														ng-click="showHistory=!showHistory"> <i
															class="icon-logs" data-placement="bottom"
															bs-tooltip="activity"></i>
													</a></li>
													<li><a data-placement="bottom" bs-tooltip="edit"
														href="javascript:void(0)"
														class="list-panel-edit-btn cursorPt"
														ng-click="editMaster(countryReportConfig.id)"> <i
															class="icon-edit"></i>
													</a></li>
													<li><a data-placement="bottom"
														ng-click="deleteMaster(countryReportConfig.id)"
														bs-tooltip="delete" href="javascript:void(0)"
														class="list-panel-edit-btn cursorPt"> <i
															class="icon-delete"></i>
													</a></li>
												</ul>
											</div>
										</div>
										<div class="panel-body half-master-detail-report-tab" panel-height
											ng-nicescroll nice-option="{{ngScrollConfig}}">
											<div class="detail-view" ng-click="showHistory=false">
												<div class="row metadata-detail">
													<span>Report Name</span>
													<h5>{{countryReportConfig.reportName}}</h5>
												</div>
												<div class="row ">
													<ul class="list-inline">
														<li class="col-xs-6"><span>Copies</span>
															<h5>{{countryReportConfig.copies}}</h5></li>
														<li class="col-xs-6"><span>Country</span> <!-- <show-status status="{{commentMaster.status}}"></show-status> -->
															<h5><img ng-show="countryReportConfig.countryMaster.image!=null"  data-ng-src="data:image/png;base64,{{countryReportConfig.countryMaster.image}}" style="padding-right:3px;" width="23" height="20">{{countryReportConfig.countryMaster.countryName}}</h5></li>
														</li>
													</ul>
												</div>
											</div>
											<div class="logs-view widP55per widL55per logs-transition" ng-show="showHistory">
												<div class="panel panel-default">
													<div class="panel-heading">
														<div class="pull-left">
															<div class="panelTitle">
																<span> <a href="javascript:void(0)"
																	ng-click="showHistory=false" class="list-panel-back">
																		<i class="icon-close-detail" data-placement="bottom"
																		bs-tooltip="close"></i>
																</a>
																</span> <span>Activity</span>
															</div>
														</div>
													</div>
													<div class="panel-body logs-body" panel-height
														ng-nicescroll nice-option="{{ngScrollConfig}}">
														<div class="card">
															<ul class="list-inline card-cell">
																<li><hm-init-icon
																		customer-name="countryReportConfig.systemTrack.createUser"></hm-init-icon>
																</li>
																<li>
																	<ul class="list-unstyled mt-5">
																		<li><b>{{countryReportConfig.systemTrack.createUser
																				| uppercase}}</b> - Created an item</li>
																		<li class="span text-muted">{{dateAndTimeToString(countryReportConfig.systemTrack.createDate)}}</li>
																	</ul>
																</li>
															</ul>
														</div>
														<div class="card">
															<ul class="list-inline card-cell">
																<li><hm-init-icon
																		customer-name="countryReportConfig.systemTrack.lastUpdatedUser"></hm-init-icon>
																</li>
																<li>
																	<ul class="list-unstyled mt-5">
																		<li><b>{{countryReportConfig.systemTrack.lastUpdatedUser
																				| uppercase}}</b> - Updated an item</li>
																		<li class="span text-muted">{{dateAndTimeToString(countryReportConfig.systemTrack.lastUpdatedDate)}}</li>
																	</ul>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--panel ends-->
						</div>
						<!--Tab Ends-->

					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
	</div>
</div>

