<div class="row resLandAddPage resPortAddPage">
	<div class="col-xs-12 mb-15">
		<div class="panel panel-default fgmb0">
			<div class="panel-heading flexTitle">
				<div>
					<h4>Add Report</h4>
				</div>
				<div>
					<ul class="list-inline text-right masopertion-action">
						<li class="mr0 pr0">
							<button type="button" class="btn btn-default btn-xs btn-property cancel-btn mr0" ng-click="cancel()">Cancel</button>
						</li>
						<li class="ml0 plr0">
							<button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveReport()" >Save</button>
						</li>
					</ul>
				</div>
			</div>
			<!--PANEL HEADING ENDS-->
			<div class="panel-body half-master-edit pt0" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
				<div class="row">
					<div show-response></div>
					
					<client-error message="clientMessage"></client-error>
					<div class="col-xs-12 ptb-15">
						<span class="reqColor">*</span> <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
					</div>
				</div>
				<button type="button" class="btn btn-property accent-btn mb-15" ng-click="addRow()">
					<span class="icon-add"></span> Add Report 
				</button>
				<form role="form" name="dateConfigForm">
					<div class="table-responsive">
						<table class="table table-inline-nopad " sm-table-responsive tab-nav tab-row="addRow()">
							<thead class="borderthead">
							 	<tr>
									<th class="inl_sno">#</th>
									<th class="inl_m">Report Code<span class="reqColor">*</span></th>
									<th class="inl_m">Report Name<span class="reqColor">*</span></th>
									<th class="inl_m">Report Key<span class="reqColor">*</span></th>
									<th class="inl_s sam-inl_m">Document</th>
									<th class="inl_s sam-inl_l">Is Attachment Need<span class="reqColor">*</span></th>
									<th class="inl_xs sam-inl_s">Action</th>
								</tr>
							</thead>
							<tbody>
							   <tr  ng-repeat="reportMaster in reportMasterList track by $index" >
									<td data-nofloat="true" ng-class="{'error-cell text-center':errorArray[$index].errRow}" ng-click="errorShow(errorArray[$index],$index)" >
										<span ng-show="errorArray[$index].errRow"> 
											<a href="javascript:void(0);"
											   data-placement="right"   bs-tooltip="errorList"
											   
											class="color-white"> <img
												src="../../../../assets/images/error.png" />
										</a>
									</span> <span ng-show="!errorArray[$index].errRow"> {{$index+1}}
									</span>
									</td>
									<td data-headtitle="Report Code" data-required="true" data-width="tw33per">
										<div class="select-auto">
										 <input input-focus="{{firstFocus}}"  type="text"
                                       class="form-control"  capitalize
                                       id="reportCode"
                                       name="reportCode"
                                       ng-model="reportMaster.reportMasterCode"
                                      ng-class="{'error-control':errorArray[$index].reportMasterCode}"   
                                       maxlength="10"
                                       >
										</div>
									</td>
									<td data-headtitle="Report Name" data-required="true" data-width="tw33per">
										<div>
											 <input type="text"
                                       class="form-control"  
                                       id="reportName"
                                       name="reportName"
                                       ng-model="reportMaster.reportMasterName"
                                        ng-class="{'error-control':errorArray[$index].reportMasterName}"   
                                       maxlength="100"
                                       >
										</div>
									</td>
									
									<td data-headtitle="Report Key" data-required="true" data-width="tw33per">
										<div class="select-auto">
											<select type="text" 
											id="{{'dateLogicType'+$index}}"
											 ng-class="{'error-control':errorArray[$index].reportKey}"
												  class="form-control" 
                                                   ng-options="item for item in  enum['ReportName']"
												   ng-model="reportMaster.reportKey"
												   ng-change="navigateToNextField('document'+$index)"
												   ></select>
										</div>
									</td>
										<td data-headtitle="Document" data-required="true" data-width="tw33per">
										  <div class="select-auto">
								<input type="text" 
									class="form-control" 
										id="{{'document'+$index}}"
									autocomplete="off"
									ng-model="reportMaster.documentMaster"
									ng-class="{'error-control':errorArray[$index].documentMaster}"
									uib-typeahead="lovObject as lovObject.documentName for lovObject in ajaxDocumentMaster($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true" 
									 typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="navigateToNextField('isReportEnable'+$index)"
									typeahead-focus-on-select="false"
									typeahead-focus-first="true"
									typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500" 
									>
								<span class="select-arrow"><b></b></span>	
                            </div>
									</td>
									<td data-headtitle="Is Attachment Need" data-required="true" data-width="tw33per">
									 <ul class="list-inline">
                                        <li ng-class="{'opc-5':dontCall}">No</li>
                                        <li class="v-align-top">
                                            <switch
                                            id="{{'isReportEnable'+$index}}"
                                                      ng-model="reportMaster.isReportEnable"
                                                      ng-keydown="callValidation($event)"
                                                    class="green"></switch>
                                        </li>
                                        <li ng-class="{'opc-5':!dontCall}">Yes</li>
                                    </ul>
									</td>
									<td>
										<span ng-show="reportMasterList.length>1" class="icon-delete" ng-click="deleteRow($index)"
											  data-placement="bottom"   bs-tooltip="delete" ></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



