<div class="container-fluid resPortAddPage resLandAddPage">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
			<!-- port master starts-->
			<form role="form" id="portMasterForm">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{portMaster.id!=null?'Edit':'Add'}} Port</h4>
						</div>
						<div>
							<div class="btngrp">
								<button tabIndex="0" type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>
								<button tabIndex="0" type="button" class="btn accent-btn" ng-click="saveOrUpdate()"> {{portMaster.id!=null?'Update':'Save'}}</button>
							</div>
						</div>
					</div>
					<div class="panel-body half-master-edit" id="port-panel"
						panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="row nopadding bor-0">
							<div class="col-xs-12 mtminus-15">
								<div show-response></div>
								<div>
									<span class="reqColor">*</span><small class="opc-5 f-12b4">
										Indicates Mandatory fields</small>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
								<label class=" custom-label">Transport Mode <span class="reqColor">*</span></label>
								<button-group states="enum['TransportMode']"
									btn-id="transportMode"
									state="portMaster.transportMode"
									on-state-change="validatePortMaster(1)"
									input-focus="{{errorMap.get('transportMode')!=null}}"> </button-group>
								<span class="error-message"
										ng-show="errorMap.get('transportMode')!=null"> <small>{{errorMap.get('transportMode')}}</small>
								</span>
							</div>
						</div>
						<div class="row ">
							<div class="col-sm-7 col-xs-9 col-md-7 col-lg-7 form-group nomargin pl0">
								<label class="custom-label">Name <span class="reqColor">*</span></label>
								<input 	type="text"
										input-focus="{{errorMap.get('portName')!=null}}"  
										class="form-control"
										id="portName" name="portName" 
										ng-model="portMaster.portName"
										ng-class="{'error-control':errorMap.get('portName')!=null}"
										maxlength="100" ng-change="validatePortMaster(2)">
									<span class="error-message" ng-show="errorMap.get('portName')!=null"><small>{{errorMap.get('portName')}}</small></span>
								</div>
						</div>
						<div class="row">
							<div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 form-group nomargin pl0">
								<div class=" form-group nomargin pl0">
									<label class="custom-label">Code <span class="reqColor">*</span></label>
									<input  type="text" 
											class="form-control" 
											id="portCode" name="portCode" 
											ng-model="portMaster.portCode"
											input-focus="{{errorMap.get('portCode')!=null}}"
											ng-class="{'error-control':errorMap.get('portCode')!=null}"
											maxlength="{{portMaster.transportMode=='Air'?3:portMaster.transportMode=='Ocean'?5:10}}"
											capitalize 
											ng-change="validatePortMaster(3)"
											ng-disabled="portMaster.id!=null">
										<span class="error-message" ng-show="errorMap.get('portCode')!=null"><small>{{errorMap.get('portCode')}}</small></span>
								</div></div>

                            <div class="col-sm-4 col-xs-6 col-md-4 col-lg-4 form-group nomargin pl0">
								<label class="custom-label">Group <span class="reqColor">*</span></label>
								<div class="select-auto">
										<input type="text" class="form-control" 
										input-focus="{{errorMap.get('group')!=null}}" 
										ng-class="{'error-control':errorMap.get('group')!=null}" 
										autocomplete="off" ng-model="portMaster.portGroupMaster"
										uib-typeahead="lovObject as lovObject.portGroupName for lovObject in ajaxPortGroupEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedGroup('ediType0');" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
								</div>
									<span class="error-message" ng-show="errorMap.get('group')!=null"> <small> {{errorMap.get('group')}} </small></span>
							</div>




								<div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 form-group nomargin pr0" ng-show="portMaster.id!=null">
									<label class="custom-label">Status</label> 
									<select class="form-control status" id="status" 
											ng-class="setStatus(portMaster.status)"
											ng-options="item for item in enum['LovStatus']"
											ng-model="portMaster.status" required>
									</select>
								</div>
							
						</div>

						
						
						
						
						<div class="sub-header plr14px fx-fade-left fx-duration-200 fx-speed-200">
							<label class="custom-label">EDI Mapping</label>
						</div>
						<div class="col-xs-12 mt-15">
							<edi-map-table 
								table-data="portMaster.ediList"
								fn-role="hasAccess(param)"
								table-check="portOperation.ediIsValid"
								add-role="userProfile.featureMap['PORT_EDI_TAB_ADD']"
								edit-role="userProfile.featureMap['PORT_EDI_TAB_EDIT']"
								delete-role="userProfile.featureMap['PORT_EDI_TAB_DELETE']">
							</edi-map-table>
						</div>
					</div>
				</div>
				<!--panel ends-->
			</form>
			<!--port master end-->
		</div>
	</div>
</div>

