<div class="container-fluid resPortListPage resLandListPage">
	<div class="row ml0 mr0">
		<div ng-show="deskTopView"  class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12 " ng-click="showHistory = false">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addPortMaster()"><i class="icon-add"></i> Add Port</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
				<div show-response></div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 	data="portArr"
										head="portHeadArr"
										sort="sortSelection"
										click-event="rowSelect(param)"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page" 
										size="limit" >
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChange(limit)" ng-options="v for v in limitArr"></select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		<!-- Detail View -->
		<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12   m-pl0" ng-show="detailView">
			<div class="panel panel-default detail-transition">
			
				<div class="panel-heading panel-heading-sm">
					<div class="flex align-justify align-middle">
						<div class="panelTitle">
							<span>
								<a data-placement="bottom"   bs-tooltip="back" href="javascript:void(0)" ng-click="cancel()" class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<ul class="list-inline in pl5">
								<li><span>Port</span></li>
							</ul>
						</div>
						<div>
							<ul class="list-inline">
								<li>
									<a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory">
										<i class="icon-logs" data-placement="bottom"   bs-tooltip="activity" ></i>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" ng-click="editPortMaster()" class="list-panel-edit-btn cursorPt">
										<i class="icon-edit" data-placement="bottom" bs-tooltip="editIcon" ></i>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" ng-click="deletePortMaster()" class="list-panel-edit-btn cursorPt">
										<i data-placement="bottom"   bs-tooltip="delete"  class="icon-delete"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!--flex ends-->

				</div>
				
				<div  class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="showHistory=false">
						<div class="row metadata-detail">
							<span>Name</span>
							<h5>{{portMaster.portName}}</h5>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span >Code</span>
									<h5 >{{portMaster.portCode}}</h5>
								</li>
								<li class="col-xs-6">
									<span >Status</span>
									<show-status status="{{portMaster.status}}"></show-status>
								</li>
							</ul>
						</div>
						<div class="row">
							<ul class="list-inline">
								<li class="col-xs-12">
									<span>Transport Mode</span>
									<h5>{{portMaster.transportMode}}</h5>
								</li>
							</ul>
						</div>
						<div class="row bor-0">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>Port Group</span>
									<h5>{{portMaster.portGroupMaster.portGroupName}} ({{portMaster.portGroupMaster.portGroupCode}})</h5>

								</li>
								
								<li class="col-xs-6">
									<span>Country</span>
									<h5><img ng-show="portMaster.portGroupMaster.countryMaster.image!=null"  data-ng-src="data:image/png;base64,{{portMaster.portGroupMaster.countryMaster.image}}" style="padding-right:3px;" width="23" height="20">{{portMaster.portGroupMaster.countryMaster.countryName}} ({{portMaster.portGroupMaster.countryMaster.countryCode}})</h5>
								</li>
							</ul>
							<ul class="list-inline same-row-ul">
								
							</ul>
						</div>
						<div class="row tableBox bor-0">
							<div class="col-md-12 pl0 pr0">
								<h5 class="pad-15 sub-title">EDI Mapping</h5>
								<div class="col-xs-12 mt15px">
									<div class="table-responsive" ng-show="portMaster.ediList.length>0">
										<table  class="table table-hover mb-10">
											<thead>
											<tr>
												<th>#</th>
												<th class="text-left">EDI Type</th>
												<th>EDI Sub Type</th>
												<th class="text-left">EDI Value</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="edi in portMaster.ediList">
												<td>{{$index + 1}}</td>
												<td  class="text-left">{{edi.ediType}}</td>
												<td>{{edi.ediSubtype}}</td>
												<td class="text-left">{{edi.ediValue}}</td>
											</tr>
											</tbody>
										</table>
									</div>
									<empty-record ng-show="!portMaster.ediList || portMaster.ediList.length==0" icon="edi" text="Looks like there are no edi mapping records here"></empty-record>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="groupSwitchType" class="detail-view" ng-click="showHistory=false">
						<div class="row metadata-detail">
							<span>Name</span>
							<h5>{{portMaster.portGroupMaster.portGroupName}}</h5>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span >Code</span>
									<h5 >{{portMaster.portGroupMaster.portGroupCode}}</h5>
								</li>
							</ul>
						</div>
						<div class="row bor-0 ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span >Country</span>
									<h5 ><img ng-show="portMaster.portGroupMaster.countryMaster.image!=null"  data-ng-src="data:image/png;base64,{{portMaster.portGroupMaster.countryMaster.image}}" style="padding-right:3px;" width="23" height="20">{{portMaster.portGroupMaster.countryMaster.countryName}}({{portMaster.portGroupMaster.countryMaster.countryCode}})</h5>
								</li>
							</ul>
						</div>
						<div class="row nopadding bor-0">
							<h5 class="sub-title">Port Mapping</h5>
						</div>


						<div class="row nopadding bor-0">
							<div class="col-md-12 mt-15">
								<div class="table-responsive" ng-show="portMaster.portGroupMaster.portMasterList.length>0">
									<table  class="table table-hover mb-10">
										<thead>
										<tr>
											<th>#</th>
											<th>Port Name</th>
											<th>Port Code</th>
											<th>Transport Mode</th>
											<th>Status</th>
										</tr>
										</thead>
										<tbody>
										<tr data-ng-repeat="portObj in portMaster.portGroupMaster.portMasterList">
											<td>{{$index + 1}}</td>
											<td title="{{portObj.portName}}" class="wrap-cell">{{portObj.portName}}</td>
											<td title="{{portObj.portCode}}">{{portObj.portCode}}</td>
											<td title="{{portObj.transportMode}}">{{portObj.transportMode}}</td>
											<td><show-status status="{{portObj.status}}"></show-status></td>
										</tr>

										</tbody>
									</table>
								</div>
								<empty-record ng-show="!portMaster.portGroupMaster.portMasterList || portMaster.portGroupMaster.portMasterList.length==0" icon="port" text="Looks like there are no port records here"></empty-record>
							</div>
						</div>
					</div>
					<div class="logs-view logs-transition" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a  href="javascript:void(0)" ng-click="showHistory=false"
											   class="list-panel-back"><i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">

									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="portMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{portMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(portMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>

								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="portMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{portMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(portMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>

							</div>
						</div>

					</div>
				</div>
				

			</div>
		</div>
	</div>
</div>

