<div class="modal-dialog" style="font-family: Microsoft New Tai Lue;margin-top: 200px;">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-body">
			<div class="center-image">
				<a href="/index.html"><img src="images/mail.jpg" alt="" /></a>
			</div>
			<h4 class="modal-title text-center pt10" style="font-family: Microsoft New Tai Lue;">
				Your information has been submitted successfully
			</h4>
			<h4 class="modal-title text-center" style="font-family: Microsoft New Tai Lue;">
				Please check your email to activate your account
			</h4>
		</div>
	</div>
</div>