<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class=" col-md-12 col-lg-7 col-sm-12 col-xs-12" >
        <form role="form"  id="serviceTypeMasterForm" name="serviceTypeMasterForm"
              ng-submit="serviceTypeMaster.id!=null?update():save()">
            <div class="panel panel-default masOpertion">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{serviceTypeMaster.id!=null?'Edit':'Add'}} Service Type </h4>
                    </div>
                    <div>
                        <div class="btngrp">

                                <button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>

                                <input type="submit" class="btn accent-btn" value="{{serviceTypeMaster.id!=null?'Update':'Save'}}">

                        </div>
                    </div>
                </div>
                <div class="panel-body pt0 half-master-edit" id="serviceType-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <div class="pad-15 pt5">
                        <div show-response></div>
                        <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory Fields</small></div>
                    </div>   
                    <div class="row ">
                        
                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 form-group nomargin pl0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input type="text" input-focus="true" class="form-control"  ng-change="validateServiceTypeMaster(1)"  ng-class="{'error-control':errorMap.get('serviceTypeName')!=null}" ng-model="serviceTypeMaster.serviceTypeName" maxlength="100"  >
								 <div>
                                       <span class="error-message" ng-show="errorMap.get('serviceTypeName')!=null"><small>{{errorMap.get('serviceTypeName')}}</small></span>                         
                                  </div>
							</div>
                        
                        
                                            </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-sm-12 form-group nomargin pl0  pr0">
                        		<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 form-group nomargin pl0 ">
										<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input type="text" class="form-control" ng-model="serviceTypeMaster.serviceTypeCode"  ng-change="validateServiceTypeMaster(2)" ng-class="{'error-control':errorMap.get('serviceTypeCode')!=null}"
                                           maxlength="20" capitalize ng-disabled="serviceTypeMaster.id!=null">
									 <div>
                                       <span class="error-message" ng-show="errorMap.get('serviceTypeCode')!=null"><small>{{errorMap.get('serviceTypeCode')}}</small></span>                         
                                  </div>
								</div>
								
								<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 form-group nomargin ">
                                <label class="custom-label">
                                    Service type<span class="reqColor">*</span>
                                </label>
                                <select class="form-control" id="serviceType" ng-change="validateServiceTypeMaster(3)"
                                        ng-options="item for item in enum['ServiceType']"
                                        ng-model="serviceTypeMaster.serviceType">
                                        <option disabled selected value>Select</option>
                                </select>
                                 <div>
                                       <span class="error-message" ng-show="errorMap.get('serviceType')!=null"><small>{{errorMap.get('serviceType')}}</small></span>                         
                                  </div>
                            	</div>
                            	
                           </div></div>
                           <div class="row">
                           <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <label class="custom-label">
                                    Transport Mode<span class="reqColor">*</span>
                                </label>
                                <select class="form-control" id="transportMode"
                                        ng-options="item for item in enum['TransportMode']"
                                        ng-model="serviceTypeMaster.transportMode">
                                        <option disabled selected value>Select</option>
                                </select>
                           </div>
                             <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 form-group nomargin  "  ng-show="serviceTypeMaster.id!=null">
                                <label class="custom-label">
                                    Status
                                </label>
                                <select class="form-control status" id="status"
                                        ng-class="setStatus(serviceTypeMaster.status)"
                                        ng-options="item for item in enum['LovStatus']"
                                        ng-model="serviceTypeMaster.status" required>
                                </select>
                            </div>
                            </div>
                        
                </div><!--panel body ends-->
            </div><!--panel ends-->
        </form>
    </div><!--col ends-->
    </div>
</div>


