<div class="col-xs-12 pl0 pr0">
    <div class="row nomargin">
        <div class="col-xs-12 pl0 pr0">
            <button type="button" tabIndex="-1" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="fnRole({param:addRole})?addRow():''"><i class="icon-add opcfull"></i> Add Rates</button>
            <button type="button" tabIndex="-1" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="showHistory(shipment.shipmentUid)" ng-if="shipment.shipmentUid!=undefined" ;> Rates History</button>
            <!--<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0"  ng-click="getshipRite()"><i class="opcfull"></i> Get rates from shiprite</button>-->
            <button type="button" class="btn btn-primary btn-xs btn-property green-btn   mb-10 pl0" ng-click="getRatesFromQuotaion()" ng-show="dependData.quotationUid!=null"><i class="opcfull"></i> Get rates from Quotation</button>
            <div>
                <label>All Inclusive</label>
                <ul class="list-inline">
                    <li ng-class="{'opc-5':dependData.isAllInclusiveCharges}">No</li>
                    <li class="v-align-top">
                        <switch tabindex="-1" id="{{'isAllInclusiveCharges'+$index}}" ng-model="dependData.isAllInclusiveCharges" class="green"></switch>
                    </li>
                    <li ng-class="{'opc-5':!dependData.isAllInclusiveCharges}">Yes</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-responsive" ng-style="dropStyle">
        <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
            <thead class="borderthead">
                <tr>
                    <th rowspan="2" class="inl_xxs">#</th>
                    <th colspan="2" class="inl_s text-center"><b>Charge</b></th>
                    <!--<th rowspan="2" class="inl_m">Charge <span class="reqColor">*</span></th>-->
                    <th rowspan="2" class="inl_ms">PP / CC</th>
                    <th rowspan="2" class="inl_m">Unit<span class="reqColor">*</span></th>
                    <th rowspan="2" class="inl_ms">No of Units</th>

                    <!-- <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==false"><b>Client Gross Rate</b></th> -->
                    <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==false"><b>Client Net Rate</b></th>
                    <!-- <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==false"><b>{{dependData.serviceMaster.importExport=='Export'?'Declared Cost':'Declared Sell'}}</b></th>  -->
                    <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==true"><b>Sell</b></th>
                    <th colspan="3" class="text-center bor-b-0"><b>Cost</b></th>
                    <!-- <th rowspan="2" class="inl_m" ng-show="rateMerged==true">{{appMasterData['Party_Label']}}</th> -->
                    <!--<th rowspan="2" class="inl_l">Note</th>-->
                    <!-- <th rowspan="2"  class="inl_s">Display in HAWB</th> -->
                    <!-- <th  ng-show="dependData.serviceMaster.importExport=='Export'" rowspan="2" class="inl_s">Due</th>-->
                    <th rowspan="2" class="inl_mp">Due</th>
                    <th rowspan="2" class="inl_ms">Actual Weight</th>
                    <th rowspan="2" class="inl_m"> Client Gross Rate,{{dependData.serviceMaster.importExport=='Export'?'Declared Cost':'Declared Sell'}},Vendor</th>
                    <th rowspan="2" class="inl_ms">Action</th>
                </tr>
                <tr>
                    <th colspan="1" class="inl_mm">Code<span class="reqColor">*</span></th>
                    <th colspan="1" class=" inl_m">Name<span class="reqColor">*</span></th>
                    <!--  <th colspan="1" class="text-right inl_s">Min</th>
                 <th colspan="1" class="text-right inl_s">Max</th> -->
                    <!-- <th colspan="1" class=" inl_s" ng-show="rateMerged==false">Currency</th>
                <th colspan="1" class="text-right inl_sm" ng-show="rateMerged==false">Amt per Unit</th>
                <th colspan="1" class="text-right inl_s" ng-show="rateMerged==false">Min Amt</th>-->

                    <th colspan="1" class=" inl_mm" ng-show="rateMerged==false">Currency</th>
                    <th colspan="1" class="text-right inl_sm" ng-show="rateMerged==false">Amt per Unit</th>
                    <th colspan="1" class="text-right inl_mm" ng-show="rateMerged==false">Min Amt</th>

                    <!-- <th colspan="1" class=" inl_m" ng-show="rateMerged==false">Currency</th>
                <th colspan="1" class="text-right inl_m" ng-show="rateMerged==false">Amt per Unit</th>
                <th colspan="1" class="text-right inl_m" ng-show="rateMerged==false">Min Amt</th>-->

                    <th colspan="1" class=" inl_sm" ng-show="rateMerged==true">Currency</th>
                    <th colspan="1" class="text-right inl_sm" ng-show="rateMerged==true">Amt per Unit</th>
                    <th colspan="1" class="text-right inl_s" ng-show="rateMerged==true">Min Amt</th>

                    <th colspan="1" class=" inl_sm">Currency</th>
                    <th colspan="1" class="text-right  inl_sm">Amt per Unit</th>
                    <th colspan="1" class="text-right inl_sm">Min Amt</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="charge in tableData track by $index" ng-style="(isNumberOfUnitsMapped && charge.numberOfUnit === unitSelected) && {'background':'darkseagreen'}">
                    <td data-nofloat="true" ng-class="{'error-cell  text-center':secondArr[$index].errRow}" ng-click="errorShow(secondArr[$index],$index)">
                        <span ng-show="secondArr[$index].errRow">
                             <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" class="color-white" >
                                 <img src="../../../../assets/images/error.png"/>
                             </a>
                         </span>
                        <span ng-show="!secondArr[$index].errRow">
                            {{$index+1}}
                        </span>
                    </td>
                    <td data-headtitle="Charge Code" data-required="true" data-width="tw33per">
                        <div class="select-auto">
                            <input type="text" class="form-control" input-focus="{{secondArr[$index].chargeFocus}}" ng-class="{'error-control-auto':secondArr[$index].chargeCode}" id="{{indexKey+'chargeCode'+$index}}" autocomplete="off" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)"
                                ng-model="charge.chargeMaster" uib-typeahead="lovObject as lovObject.chargeCode for lovObject in ajaxChargeEvent($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratetemplate.html"
                                typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratepopup.html" typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                typeahead-on-select="selectServiceRates(charge,'unitNameTab','numberOfUnit',$index);" typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500"
                                ng-change="clearChargeName(charge)">
                            <span class="select-arrow"><b></b></span>
                        </div>
                    </td>
                    <td data-headtitle="Charge Name" data-required="true" data-width="tw33per">
                        <!-- ng-class="{'error-control':secondArr[$index].chargeName}" -->
                        <input type="text" id="{{indexKey+'chargeName'+$index}}" class="form-control" ng-class="{'error-control':secondArr[$index].chargeName}" ng-model="charge.chargeName" ng-focus="dirtyIndex($index);" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)"
                        />
                    </td>
                    <td data-headtitle="PP / CC" data-width="tw33per">
                        <select id="{{indexKey+'ppcc'+$index}}" class="form-control" ng-class="{'error-control':secondArr[$index].ppcc}" ng-options="item.id as item.title for item in shipmentPrec" ng-change="moveToNextField($indexKey+'unitNameTab',$index);" ng-model="charge.ppcc"
                            ng-focus="dirtyIndex($index);" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)">
                    </select>
                    </td>
                    <td data-headtitle="Unit" data-required="true" data-width="tw33per">
                        <div class="select-auto">
                            <input type="text" class="form-control" ng-class="{'error-control-auto':secondArr[$index].unitName}" id="{{indexKey+'unitNameTab'+$index}}" autocomplete="off" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" ng-model="charge.unitMaster"
                                uib-typeahead="lovObject as lovObject.unitName for lovObject in ajaxUnitEvent($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true" typeahead-show-loading="true"
                                typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="moveToNextField(indexKey+'numberOfUnit',$index);" typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false"
                                typeahead-min-length="1" typeahead-wait-ms="500">
                            <span class="select-arrow"><b></b></span>
                        </div>
                    </td>

                    <td data-headtitle="No of Units" data-width="tw33per">
                        <select id="{{indexKey+'numberOfUnit'+$index}}" class="form-control" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" input-focus="{{secondArr[$index].numberOfUnit}}" ng-class="{'numberOfUniterror-control':secondArr[$index].numberOfUnit}"
                            ng-model="charge.numberOfUnit" ng-options="item as item for item in numberOfUnitsList" ng-change="rateMerged?moveToNextField(indexKey+'rateCurrency',$index,charge.numberOfUnit):moveToNextField(indexKey+'grossSaleCurrency',$index,charge.numberOfUnit)">
                    </select>
                    </td>



                    <td data-headtitle="Client Net Rate(Currency)" data-width="tw33per" ng-show="rateMerged==false">
                        <div class="select-auto">
                            <input type="text" class="form-control" ng-class="{'error-control-auto':secondArr[$index].netSaleCurrency}" id="{{indexKey+'netSaleCurrency'+$index}}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" autocomplete="off"
                                ng-model="charge.netSaleCurrency" uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxNetCurrency($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="rateCalculation();moveToNextField(indexKey+'netSaleAmount',$index);" typeahead-focus-on-select="false"
                                typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500">
                            <span class="select-arrow"><b></b></span>
                        </div>
                    </td>
                    <td data-headtitle="Client Net Rate(Amt Per Unit)" class="text-right " data-width="tw33per" ng-show="rateMerged==false">
                        <input type="text" class="form-control text-right" id="{{indexKey+'netSaleAmount'+$index}}" ng-change="setToClientGrossRateAmt(charge,charge.netSaleAmount)" ng-model="charge.netSaleAmount" ng-focus="dirtyIndex($index);" efsdecimals="charge.netSaleCurrency.decimalPoint"
                            efsdecimal-point="charge.netSaleCurrency.countryMaster.locale" ng-class="{'error-control-auto':secondArr[$index].netSaleAmount}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" />
                    </td>
                    <td data-headtitle="Client Net Rate(Min Amt)" class="text-right " data-width="tw33per" ng-show="rateMerged==false">
                        <input id="{{indexKey+'netSaleMinimum'+$index}}" efsdecimals="charge.netSaleCurrency.decimalPoint" efsdecimal-point="charge.netSaleCurrency.countryMaster.locale" type="text" class="form-control text-right" ng-change="setToClientGrossRateAmtMin(charge,charge.netSaleMinimum)"
                            ng-class="{'error-control-auto':secondArr[$index].netSaleMinimum}" ng-model="charge.netSaleMinimum" ng-focus="dirtyIndex($index);" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" />
                    </td>

                    <!--    <td data-headtitle="Declared Cost(Currency)" class="clearboth" ng-show="rateMerged==false">
					<div class="select-auto">
						<input type="text" 
							class="form-control"
							ng-class="{'error-control-auto':secondArr[$index].declaredSaleCurrency}"
							id="{{indexKey+'declaredSaleCurrency'+$index}}"
                            ng-disabled="(!editRole&&charge.id!=null)"
							autocomplete="off"
							ng-model="charge.declaredSaleCurrency"
							uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxDeclaredCurrency($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="rateCalculation();moveToNextField(indexKey+'declaredSaleAmount',$index);"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
							>
							<span class="select-arrow"><b></b></span>
					</div>

                </td>
                <td data-headtitle="Declared Cost(Amt Per Unit)" class="text-right " ng-show="rateMerged==false">
                    <input  type="text" class="form-control text-right" 
                    id="{{indexKey+'declaredSaleAmount'+$index}}"
                    
                     efsdecimals="charge.declaredSaleCurrency.decimalPoint" 
                     efsdecimal-point="charge.declaredSaleCurrency.countryMaster.locale"
                    ng-change = "rateCalculation()"  ng-model="charge.declaredSaleAmount"   ng-focus="dirtyIndex($index);"
                    ng-class="{'error-control-auto':secondArr[$index].declaredSaleAmount}"
 ng-disabled="(!editRole&&charge.id!=null)"
                            />
                </td>
                <td data-headtitle="Declared Cost(Min Amt)" class="text-right " ng-show="rateMerged==false">
                    <input  
                     id="{{indexKey+'declaredSaleMinimum'+$index}}"
                     efsdecimals="charge.declaredSaleCurrency.decimalPoint" 
                     efsdecimal-point="charge.declaredSaleCurrency.countryMaster.locale"
                     type="text" class="form-control text-right" ng-change = "rateCalculation()"
                    ng-model="charge.declaredSaleMinimum"   ng-focus="dirtyIndex($index);"
                    ng-class="{'error-control-auto':secondArr[$index].declaredSaleMinimum}"
 ng-disabled="(!editRole&&charge.id!=null)"
                            />
                </td> -->

                    <td data-headtitle="Currency" data-width="tw33per" ng-show="rateMerged==true">
                        <div class="select-auto">
                            <input type="text" class="form-control" ng-class="{'error-control-auto':secondArr[$index].rateCurrency}" id="{{indexKey+'rateCurrency'+$index}}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" autocomplete="off" ng-model="charge.rateCurrency"
                                uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxRateCurrency($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true" typeahead-show-loading="true"
                                typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="rateCalculation();moveToNextField(indexKey+'rateAmount',$index);" typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false"
                                typeahead-min-length="1" typeahead-wait-ms="500">
                            <span class="select-arrow"><b></b></span>
                        </div>
                    </td>
                    <td data-headtitle="Amt per Unit" class="text-right" data-grouphide="true" data-width="tw33per" ng-show="rateMerged==true">
                        <input type="text" class="form-control text-right" id="{{indexKey+'rateAmount'+$index}}" efsdecimals="charge.rateCurrency.decimalPoint" efsdecimal-point="charge.rateCurrency.countryMaster.locale" ng-change="rateCalculation()" ng-model="charge.rateAmount"
                            ng-focus="dirtyIndex($index);" ng-class="{'error-control-auto':secondArr[$index].rateAmount}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" />
                    </td>
                    <td data-headtitle="Min Amt" class="text-right " data-grouphide="true" data-width="tw33per" ng-show="rateMerged==true">
                        <input id="{{indexKey+'rateMinimum'+$index}}" efsdecimals="charge.rateCurrency.decimalPoint" efsdecimal-point="charge.rateCurrency.countryMaster.locale" type="text" class="form-control text-right" ng-change="rateCalculation()" ng-class="{'error-control-auto':secondArr[$index].rateMinimum}"
                            ng-model="charge.rateMinimum" ng-focus="dirtyIndex($index);" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" />
                    </td>

                    <td data-headtitle="Currency" data-width="tw33per">
                        <div class="select-auto">
                            <input type="text" class="form-control" ng-class="{'error-control-auto':secondArr[$index].costCurrency}" id="{{indexKey+'costCurrency'+$index}}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" autocomplete="off" ng-model="charge.costCurrency"
                                uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxCostCurrency($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true" typeahead-show-loading="true"
                                typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="rateCalculation();moveToNextField(indexKey+'costAmount',$index);" typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false"
                                typeahead-min-length="1" typeahead-wait-ms="500">
                            <span class="select-arrow"><b></b></span>
                        </div>



                    </td>
                    <td data-headtitle="Amt per Unit" data-grouphide="true" data-width="tw33per" class="text-right ">
                        <input type="text" class="form-control text-right" id="{{indexKey+'costAmount'+$index}}" efsdecimals="charge.costCurrency.decimalPoint" efsdecimal-point="charge.costCurrency.countryMaster.locale" ng-change="setToDeclaredCostAmt(charge,charge.costAmount)"
                            ng-model="charge.costAmount" ng-focus="dirtyIndex($index);" ng-class="{'error-control-auto':secondArr[$index].costAmount}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" />
                    </td>
                    <td data-headtitle="Min Amt" data-grouphide="true" data-width="tw33per" class="text-right ">
                        <input id="{{indexKey+'costMinimum'+$index}}" efsdecimals="charge.costCurrency.decimalPoint" efsdecimal-point="charge.costCurrency.countryMaster.locale" type="text" class="form-control text-right" ng-change="setToDeclaredCostMin(charge,charge.costMinimum)"
                            ng-model="charge.costMinimum" ng-focus="dirtyIndex($index);" ng-class="{'error-control-auto':secondArr[$index].costMinimum}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)" />
                    </td>

                    <!--<td data-headtitle="Party" data-width="tw25per" class="clearboth" ng-show="rateMerged==true">-->
                    <!--<div class="select-auto">-->
                    <!--<input type="text"-->
                    <!--auto-complete-->
                    <!--selected-value="partyName"-->
                    <!--ng-model="charge.vendor"-->
                    <!--render-item="partyRender"-->
                    <!--call-fun="ajaxVendorEvent(param)"-->
                    <!--ng-class="{'error-control-auto':secondArr[$index].vendor}"-->
                    <!--class="form-control"-->
                    <!--on-select="moveToNextField('isHouseCharge',$index);"-->
                    <!--ng-class="{'error-control-auto':secondArr[$index].vendor}"-->
                    <!--ng-disabled="(!editRole&&charge.id!=null)"             />-->
                    <!--</div>-->
                    <!--</td>-->

                    <!-- hiding after discuss with suresh and mani -Jan 26th Demo -->
                    <!--  <td data-headtitle="isHouseCharge" data-width="tw50per" class="text-right " ng-if="false">
                    <select class="form-control"  
                    id="{{indexKey+'isHouseCharge'+$index}}"
                    ng-init="charge.isHouseCharge==true || charge.isHouseCharge=='Yes'?charge.isHouseCharge=true:charge.isHouseCharge=false"
                            ng-class="{'error-control':secondArr[$index].isHouseCharge}"
                            ng-options="item.id as item.title for item in isHouseCharge"
                            ng-model="charge.isHouseCharge"
                            ng-change="moveToNextField(indexKey+'due',$index);"
                            ng-focus="dirtyIndex($index);"  ng-disabled="(!editRole&&charge.id!=null)"  >
                    </select>
                </td> -->


                    <!-- <td data-headtitle="Due" data-width="tw30per"  ng-show="dependData.serviceMaster.importExport=='Export'">
                            <select
                                     id="{{indexKey+'due'+$index}}"
                                    class="form-control"
                                    ng-class="{'error-control':secondArr[$index].due}"
                                    ng-options="item for item in dueArr"
                                    ng-change="moveToNextField(indexKey+'actualChargeable',$index);"
                                    ng-model="charge.due"
                                    >
                            </select>
				</td>-->
                    <td data-headtitle="Due" data-width="tw33per">
                        <select id="{{indexKey+'due'+$index}}" class="form-control" ng-class="{'error-control':secondArr[$index].due}" ng-options="item for item in dueArr" ng-change="moveToNextField(indexKey+'actualChargeable',$index);" ng-model="charge.due" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)">
                            </select>
                    </td>

                    <td data-headtitle="Actual Weight" data-width="tw33per" class="text-right ">
                        <select class="form-control last-child" id="{{indexKey+'actualChargeable'+$index}}" ng-class="{'error-control':secondArr[$index].actualChargeable}" ng-options="item.id as item.title for item in chargeType" ng-model="charge.actualChargeable" ng-focus="dirtyIndex($index);"
                            ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && charge.quotationId!=null)">
                    </select>
                    </td>
                    <td data-headtitle="Note" data-width="tw33per" valign="middle">
                        <button type="button" class=" linkfocus  btn  btn-border w40px nopadding fs11-w400-cb54" href="javascript:void(0);" ng-click="ratespopup($index)">  More </button>
                        <!--   <textarea ng-show="tabView" class="form-control "
                              ng-model="charge.note"
                              maxlength="4000"
                              ng-class="{'error-control':secondArr[$index].note}"
                              ng-disabled="(!editRole&&charge.id!=null)"></textarea> -->
                    </td>
                    <td data-nofloat="true" data-action="true">
                        <ul class="list-inline ">
                            <li>
                                <a href="javascript:void(0);" ng-click="copyObj(charge)">
                                    <i class="icon-copy" bs-tooltip="copy"></i>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0);" ng-hide="rateRemoveNotAllowFlag && charge.quotationId!=null" ng-click="fnRole({param:deleteRole})?removeObj(charge,$index):''">
                                    <i class="icon-delete" data-placement="bottom" bs-tooltip="delete"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>


<!--MORE RATES COLUMNS-->

<script type="text/ng-template" id="ratesMore.html">

    <div class="modal" role="dialog" id="rateMore">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-4">
                            <h4>More Info</h4>
                        </div>
                        <div class="col-xs-8 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="save(popUpParty, popUpNote)">Save</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">

                    <div class="table-responsive" ng-style="dropStyle">
                        <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()" style="border: 1px solid #fff !important;">
                            <thead>
                                <tr>
                                    <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==false"><b>Client Gross Rate</b></th>
                                    <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==false"><b>{{dependData.serviceMaster.importExport=='Export'?'Declared Cost':'Declared Sell'}}</b></th>
                                </tr>
                                <tr>

                                    <th colspan="1" class=" inl_m" ng-show="rateMerged==false">Currency</th>
                                    <th colspan="1" class="text-right inl_m" ng-show="rateMerged==false">Amt per Unit</th>
                                    <th colspan="1" class="text-right inl_m" ng-show="rateMerged==false">Min Amt</th>
                                    <th colspan="1" class=" inl_m" ng-show="rateMerged==false">Currency</th>
                                    <th colspan="1" class="text-right inl_m" ng-show="rateMerged==false">Amt per Unit</th>
                                    <th colspan="1" class="text-right inl_m" ng-show="rateMerged==false">Min Amt</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>


                                    <td data-headtitle="Client Gross Rate(Currency)" class="clearboth" ng-show="rateMerged==false">

                                        <div class="select-auto">
                                            <input type="text" class="form-control" ng-class="{'error-control-auto':secondArr[$index].grossSaleCurrency}" id="{{indexKey+'grossSaleCurrency'+$index}}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && tableData[noteIndex].quotationId!=null)"
                                                autocomplete="off" ng-model="tableData[noteIndex].grossSaleCurrency" uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxGrossCurrency($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="rateCalculation();moveToNextField(indexKey+'rateAmountPerUnit',$index);"
                                                typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500">
                                            <span class="select-arrow"><b></b></span>
                                        </div>
                                    </td>
                                    <td data-headtitle="Client Gross Rate(Amt per Unit)" class="text-right " ng-show="rateMerged==false">
                                        <input type="text" id="{{indexKey+'rateAmountPerUnit'+$index}}" class="form-control text-right" efsdecimals="tableData[noteIndex].grossSaleCurrency.decimalPoint" efsdecimal-point="tableData[noteIndex].grossSaleCurrency.countryMaster.locale" ng-change="rateCalculation()"
                                            ng-class="{'error-control-auto':secondArr[$index].grossSaleAmount}" ng-model="tableData[noteIndex].grossSaleAmount" ng-focus="dirtyIndex($index);" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && tableData[noteIndex].quotationId!=null)"
                                        />
                                    </td>
                                    <td data-headtitle="Client Gross Rate(Min Amt)" class="text-right " ng-show="rateMerged==false">
                                        <input id="{{indexKey+'grossSaleMinimum'+$index}}" efsdecimals="tableData[noteIndex].grossSaleCurrency.decimalPoint" efsdecimal-point="tableData[noteIndex].grossSaleCurrency.countryMaster.locale" type="text" class="form-control text-right" ng-change="rateCalculation()"
                                            ng-class="{'error-control-auto':secondArr[$index].grossSaleMinimum}" ng-model="tableData[noteIndex].grossSaleMinimum" ng-focus="dirtyIndex($index);" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && tableData[noteIndex].quotationId!=null)"
                                        />
                                    </td>


                                    <td data-headtitle="Declared Cost(Currency)" class="clearboth" ng-show="rateMerged==false">
                                        <div class="select-auto">
                                            <input type="text" class="form-control" ng-class="{'error-control-auto':secondArr[$index].declaredSaleCurrency}" id="{{indexKey+'declaredSaleCurrency'+$index}}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && tableData[noteIndex].quotationId!=null)"
                                                autocomplete="off" ng-model="tableData[noteIndex].declaredSaleCurrency" uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxDeclaredCurrency($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                typeahead-show-hint="true" typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="true" typeahead-on-select="rateCalculation();moveToNextField(indexKey+'declaredSaleAmount',$index);"
                                                typeahead-focus-on-select="false" typeahead-focus-first="true" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500">
                                            <span class="select-arrow"><b></b></span>
                                        </div>

                                    </td>
                                    <td data-headtitle="Declared Cost(Amt Per Unit)" class="text-right " ng-show="rateMerged==false">
                                        <input type="text" class="form-control text-right" id="{{indexKey+'declaredSaleAmount'+$index}}" efsdecimals="tableData[noteIndex].declaredSaleCurrency.decimalPoint" efsdecimal-point="tableData[noteIndex].declaredSaleCurrency.countryMaster.locale" ng-change="rateCalculation()"
                                            ng-model="tableData[noteIndex].declaredSaleAmount" ng-focus="dirtyIndex($index);" ng-class="{'error-control-auto':secondArr[$index].declaredSaleAmount}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && tableData[noteIndex].quotationId!=null)"
                                        />
                                    </td>
                                    <td data-headtitle="Declared Cost(Min Amt)" class="text-right " ng-show="rateMerged==false">
                                        <input id="{{indexKey+'declaredSaleMinimum'+$index}}" efsdecimals="tableData[noteIndex].declaredSaleCurrency.decimalPoint" efsdecimal-point="tableData[noteIndex].declaredSaleCurrency.countryMaster.locale" type="text" class="form-control text-right" ng-change="rateCalculation()"
                                            ng-model="tableData[noteIndex].declaredSaleMinimum" ng-focus="dirtyIndex($index);" ng-class="{'error-control-auto':secondArr[$index].declaredSaleMinimum}" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && tableData[noteIndex].quotationId!=null)"
                                        />
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>
                                   {{appMasterData['Party_Label']}} Vendor Name
                               </label>

                                <div class="select-auto">
                                    <input type="text" class="form-control" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && tableData[noteIndex].quotationId!=null)" ng-class="{'error-control-auto':secondArr[$index].vendor}" autocomplete="off" ng-model="tableData[noteIndex].vendor"
                                        uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxVendorEvent($viewValue)" typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html" typeahead-show-hint="true"
                                        typeahead-show-loading="true" typeahead-select-on-exact="true" typeahead-append-to-body="false" typeahead-on-select="moveToNextField('isHouseCharge',$index);" typeahead-focus-on-select="false" typeahead-focus-first="true"
                                        typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="500">
                                    <span class="select-arrow"><b></b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>
                                   Notes
                               </label>
                                <textarea class="form-control minH-180" id="note" ng-model="tableData[noteIndex].note" maxlength="4000" ng-class="{'error-control':secondArr[$index].note}" ng-focus="dirtyIndex($index)" ng-disabled="(!editRole) || (rateRemoveNotAllowFlag && tableData[noteIndex].quotationId!=null)">
                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>