<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Shipment Rate History</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide();initialPage();">Close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                   <div class="row nomargin pt-15 noborder shade3">
                   
                       <div class="row nomargin">
         <div class="col-xs-6 pl0">
         </div>
        </div>
   <div >
        <table class="table table-inline-nopad"  watch-data="tableData" tab-nav tab-row="addRow()">
            <thead class="borderthead">
            <tr>
                <th rowspan="2" class="inl_xxs">#</th>
                <th rowspan="2" class="inl_s">Revision Type</th>
                <th rowspan="2" class="inl_m">Revised Date</th>
                <th colspan="2" class="inl_s text-center"><b>Charge</b></th>
                <!--<th rowspan="2" class="inl_m">Charge <span class="reqColor">*</span></th>-->
                <th rowspan="2" class="inl_s">PP / CC</th>
                <th rowspan="2" class="inl_s">Unit<span class="reqColor">*</span></th>
                <th rowspan="2" class="inl_s">No of Units</th>

                <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==false"><b>Client Gross Rate</b></th>
                <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==false"><b>Client Net Rate</b></th>
                <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==false"><b>{{dependData.serviceMaster.importExport=='Export'?'Declared Cost':'Declared Sell'}}</b></th>
                <th colspan="3" class="text-center bor-b-0" ng-show="rateMerged==true"><b>Sell</b></th>
                <th colspan="3" class="text-center bor-b-0"><b>Cost</b></th>
                <!-- <th rowspan="2" class="inl_m" ng-show="rateMerged==true">{{appMasterData['Party_Label']}}</th> -->
                <!--<th rowspan="2" class="inl_l">Note</th>-->
                <!-- <th rowspan="2"  class="inl_s">Display in HAWB</th> -->
                <th  ng-show="dependData.serviceMaster.importExport=='Export'" rowspan="2" class="inl_s">Due</th>
                 <th rowspan="2" class="inl_s">Actual Wt</th>
            </tr>
            <tr>
                <th colspan="1" class=" inl_s">Code<span class="reqColor">*</span></th>
                <th colspan="1" class=" inl_s">Name<span class="reqColor">*</span></th>
                <!--  <th colspan="1" class="text-right inl_s">Min</th>
                 <th colspan="1" class="text-right inl_s">Max</th> -->
                <th colspan="1" class=" inl_s" ng-show="rateMerged==false">Currency</th>
                <th colspan="1" class="text-right inl_sm" ng-show="rateMerged==false">Amt per Unit</th>
                <th colspan="1" class="text-right inl_s" ng-show="rateMerged==false">Min Amt</th>

                <th colspan="1" class=" inl_s" ng-show="rateMerged==false">Currency</th>
                <th colspan="1" class="text-right inl_sm" ng-show="rateMerged==false">Amt per Unit</th>
                <th colspan="1" class="text-right inl_s" ng-show="rateMerged==false">Min Amt</th>

                <th colspan="1" class=" inl_s" ng-show="rateMerged==false">Currency</th>
                <th colspan="1" class="text-right inl_sm" ng-show="rateMerged==false">Amt per Unit</th>
                <th colspan="1" class="text-right inl_s" ng-show="rateMerged==false">Min Amt</th>

                <th colspan="1" class=" inl_s" ng-show="rateMerged==true">Currency</th>
                <th colspan="1" class="text-right inl_sm" ng-show="rateMerged==true">Amt per Unit</th>
                <th colspan="1" class="text-right inl_s" ng-show="rateMerged==true">Min Amt</th>

                <th colspan="1" class=" inl_s">Currency</th>
                <th colspan="1" class="text-right  inl_sm">Amt per Unit</th>
                <th colspan="1" class="text-right inl_s">Min Amt</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat = "charge in auditArr track by $index">
                <td  data-nofloat="true">
                        
                        <span>
                            {{$index+1}}
                        </span>
                </td>
                <td data-headtitle="Revision Type" data-width="tw15per" >
                    {{charge.revisionType | AuditFilter}}
                </td>
                <td data-headtitle="Revised Date" data-width="tw15per" >
                    {{$root.dateAndTimeToString(charge.auditDate)}}
                </td>
                <td data-headtitle="Charge Code" data-required="true" data-width="tw25per">
					{{charge.chargeMaster.chargeCode}}
                                   </td>
                <td data-headtitle="Charge Name" data-required="true" data-width="tw30per">
               			 {{charge.chargeName}}
                </td>
                <td data-headtitle="PP / CC" data-width="tw15per" >
                    {{charge.ppcc}}
                </td>
                <td data-headtitle="Unit" data-required="true" data-width="tw30per">
					{{charge.unitMaster.unitName}}
                </td>

                <td data-headtitle="Min"  class="text-right clearboth" data-width="tw25per" data-group="No of Units">
                    {{charge.numberOfUnit}}
                 </td>

                <td data-headtitle="Client Gross Rate(Currency)"  class="clearboth" ng-show="rateMerged==false">
					{{charge.grossSaleCurrency.currencyCode}}
                </td>
                <td data-headtitle="Client Gross Rate(Amt per Unit)" class="text-right " ng-show="rateMerged==false">
                     {{$root.weightFormat(charge.grossSaleAmount,charge.currencyMaster.countryMaster.locale)}}
                </td>
                <td data-headtitle="Client Gross Rate(Min Amt)" class="text-right " ng-show="rateMerged==false">
                     {{$root.weightFormat(charge.grossSaleMinimum,charge.currencyMaster.countryMaster.locale)}}
                </td>

                <td data-headtitle="Client Net Rate(Currency)" class="clearboth" ng-show="rateMerged==false">
					{{charge.netSaleCurrency.currencyCode}}
						
                </td>
                <td data-headtitle="Client Net Rate(Amt Per Unit)" class="text-right " ng-show="rateMerged==false">
                      {{$root.weightFormat(charge.netSaleAmount,charge.currencyMaster.countryMaster.locale)}}
                </td>
                <td data-headtitle="Client Net Rate(Min Amt)" class="text-right " ng-show="rateMerged==false">
                    {{$root.weightFormat(charge.netSaleMinimum,charge.currencyMaster.countryMaster.locale)}}
                </td>

                <td data-headtitle="Declared Cost(Currency)" class="clearboth" ng-show="rateMerged==false">
					{{charge.declaredSaleCurrency.currencyCode}}
                </td>
                <td data-headtitle="Declared Cost(Amt Per Unit)" class="text-right " ng-show="rateMerged==false">
                   {{$root.weightFormat(charge.declaredSaleAmount,charge.currencyMaster.countryMaster.locale)}}
                </td>
                <td data-headtitle="Declared Cost(Min Amt)" class="text-right " ng-show="rateMerged==false">
                    {{$root.weightFormat(charge.declaredSaleMinimum,charge.currencyMaster.countryMaster.locale)}}
                </td>

                <td data-headtitle="Currency" class="clearboth" data-group="Rate" data-width="tw25per" ng-show="rateMerged==true">
					{{charge.rateCurrency.currencyCode}}
                </td>
                <td data-headtitle="Amt per Unit" class="text-right" data-group="Rate" data-grouphide="true" data-width="tw25per" ng-show="rateMerged==true">
                    {{$root.weightFormat(charge.rateAmount,charge.currencyMaster.countryMaster.locale)}}
                </td>
                <td data-headtitle="Min Amt" class="text-right " data-group="Rate" data-grouphide="true" data-width="tw25per" ng-show="rateMerged==true">
                     {{$root.weightFormat(charge.rateMinimum,charge.currencyMaster.countryMaster.locale)}}
                </td>

                <td data-headtitle="Currency" data-group="Cost"  data-width="tw25per" class="clearboth">
					{{charge.costCurrency.currencyCode}}


                </td>
                <td data-headtitle="Amt per Unit" data-group="Cost" data-grouphide="true" data-width="tw25per" class="text-right ">
                    {{$root.weightFormat(charge.costAmount,charge.currencyMaster.countryMaster.locale)}}
                </td>
                <td data-headtitle="Min Amt" data-group="Cost" data-grouphide="true" data-width="tw25per" class="text-right ">
                    {{$root.weightFormat(charge.costMinimum,charge.currencyMaster.countryMaster.locale)}}
                </td>

                 <td data-headtitle="Due" data-width="tw30per"  ng-show="dependData.serviceMaster.importExport=='Export'">
                            {{charge.due}}
				</td>

                <td data-headtitle="Actual Weight" data-width="tw25per" class="text-right ">
                    {{charge.actualChargeable | chargeType}}
                </td>
            </tr>
            </tbody>

        </table>
                <!-- <div class="panel-footer flexTitle">
					<div>
						<ul class="list-inline">
							<li>Show</li>
							<li><select class="form-control legend-show-ctrl"
										ng-model="limit"
										ng-change="limitChange(limit)"
										ng-options="v for v in limitArr">
							</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div>
						<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
					</div>
				</div> -->
                    </div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
                    </div>
                    </div>
                </div>
            </div><!--body ends-->


<!--             <div class="modal-footer modfooter">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="flightScheduleLimit"
                                                        ng-change="flightScheduleLimitChange(flightScheduleLimit)" ng-options="v for v in flightScheduleLimitArray">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <pagination-dr  page="flightSchedulePage" size="flightScheduleLimit" total=flightScheduleTotalRecord page-change="flightScheduleChangePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                                         -->
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


