<div class="container-fluid">

    <div class="row ml0 mr0" >
        <div class="list-container col-md-12" >
            <div class="row nomargin">
                <ul class="nav btn-tab2" ng-init="detailTab='Pending'">
                    <li ng-class="detailTab=='Pending'?'activeBtn':'active'" ng-click="detailTab='Pending'" >
                        Pending
                    </li>
                    <li  ng-class="detailTab=='Completed'?'activeBtn':'active'" ng-click="detailTab='Completed'" >
                        Completed
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                        <div ng-if="detailTab=='Pending'">
                            <div class="panel panel-default ">
                                <div class="panel-heading" style="padding-top: 0 !important;">
                                    <div class="row flex align-middle minH-40">
                                        <div class="col-xs-1 pr0">
                                            <span class="pull-right">Filter by</span>
                                        </div>
                                        <div class="col-xs-5">
                                            <button-group btn-index=""
                                                          states="btnGrp.myShipment"
                                                          state="selectedgrp"
                                                          on-state-change=""
                                            >
                                            </button-group>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-body nav-tab-container" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table-action
                                                        data="PendingshipmentsignoffArr"
                                                        head="PendingshipmentsignoffHeadArr"
                                                        sort="searchSortSelection"
                                                        click-event="rowSelect(param,index)"
                                                        search-event="changeSearchActive(param)"
                                                        sort-event="sortChangeActive(param)"
                                                        page="page" size="limit"
                                                        action-event="actionEvent(param)">
                                        </super-table-action>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChangeActive(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changePageActive(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div><!--Pending Tab Ends-->
                        <div ng-if="detailTab=='Completed'">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="padding-top: 0 !important;">
                                    <div class="row flex align-middle minH-40">
                                        <div class="col-xs-1 pr0">
                                            <span class="pull-right">Filter by</span>
                                        </div>
                                        <div class="col-xs-5">
                                            <button-group btn-index=""
                                                          states="btnGrp.myShipment"
                                                          state="selectedgrp"
                                                          on-state-change=""
                                                    >
                                            </button-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body nav-tab-container" panel-height>
                                    <div  class="table-fixed table-responsive">
                                        <super-table-action
                                                        data="completedshipmentsignoffArr"
                                                        head="completedshipmentsignoffHeadArr"
                                                        sort="searchSortSelection"
                                                        click-event="rowSelect(param,index)"
                                                        search-event="changeSearchActive(param)"
                                                        sort-event="sortChangeActive(param)"
                                                        page="page" size="limit"
                                                        action-event="actionEvent(param)">
                                        </super-table-action>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChangeActive(limitActive)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changePageActive(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                            </div>
                        </div><!--Completed Tab Ends-->
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
