<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rel">
            <div class="modal-header flexTitle">
                <div>
                    <h4>Sign Off</h4>
                </div>
                <div>
                    <div class="btngrp">
                        <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">close</button>
                        <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="$hide()">Sign Off</button>
                    </div>
                </div>
            </div>
            <div class="modal-body pt0 fgmb0">
                <form role="form">
                    <div class="row">
                        <div class="col-xs-8 ptb-15">
                            <div class="form-group">
                                <label class="text-inherit">Comment</label>
                                <div class="select-auto">
                                    <input type="text"
                                           auto-complete
                                           class="form-control"
                                           ng-model="comment"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 ptb-15">
                            <div class="form-group">
                                <label class="text-inherit">Remark</label>
                                <textarea class="form-control resizeNone"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <modal-spinner spinner-status="popup.spinner"></modal-spinner>
        </div>
    </div>
</div>
