@keyframes fadeOut
{
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-webkit-keyframes fadeOut
{
  from { opacity: 1.0 }
  to { opacity: 0.0 }
}

.fade-out
{
  animation: fadeOut 2s infinite;
  -webkit-animation: fadeOut 2s infinite;
}


.hide-transition.ng-hide-remove {
  -webkit-animation: fadeIn 1.0s;
  animation: fadeIn 1.0s;
}

.hide-transition.ng-hide-add {
  -webkit-animation: fadeOut 1.2s;
  animation: fadeOut 1.2s;
  display: block !important;
}

.detail-transition.ng-hide-remove {
  -webkit-animation: fadeIn 1.0s;
  animation: fadeIn 1.0s;
}

.detail-transition.ng-hide-add {
  -webkit-animation: fadeOut 1.0s;
  animation: fadeOut 1.0s;
  display: block !important;
}
.efs-alert-danger.ng-hide-remove{
  -webkit-animation: fadeInUp 0.3s;
  animation: fadeInUp 0.3s;
  opacity: 1;
}

.efs-alert-danger.ng-hide-add{
  -webkit-animation: fadeOutUp 0.2s;
  animation: fadeOutUp 0.2s;
  opacity: 0;
  display: block !important;
}
.select-show-trans.ng-hide-remove{
  -webkit-animation: fadeInUp 0.3s;
  animation: fadeInUp 0.3s;
  opacity: 1;
}

.select-show-trans.ng-hide-add{
  -webkit-animation: fadeOutUp 0.2s;
  animation: fadeOutUp 0.2s;
  opacity: 0;
  display: block !important;
}

//.subPanel-transition.ng-hide-remove{
//  -webkit-animation: fadeInRight 1.25s;
//  animation: fadeInRight 1.25s;
//
//}
//
//
//.subPanel-transition.ng-hide-add{
//  -webkit-animation: fadeOutLeft .35s;
//  animation: fadeOutLeft .35s;
//}

//.subPanel-transition.ng-hide-stagger {
//  -webkit-transition-delay:1s;
//  transition-delay:1s;
//}

.logs-transition.ng-hide-remove{
  -webkit-animation: slideInRight 0.9s;
  animation: slideInRight 0.9s;

}
.logs-transition.ng-hide-add{
  -webkit-animation: slideOutRight .8s;
  animation: slideOutRight .8s;
  display: block !important;
}



.iconmenu-transition.ng-hide-add, .iconmenu-transition.ng-hide-remove {
  transition: .3s;
}

iconbar-menu.iconmenu-transition.ng-hide-remove > aside {
  //animation: slideOutLeft .3s linear;
  //display: block;
  //transition-delay: 0.8s;
}

iconbar-menu.iconmenu-transition.ng-hide-add > aside {
  animation: slideInLeft .5s linear;
}

.sidebar-transition.ng-hide-add, .sidebar-transition.ng-hide-remove {
  transition: .3s;

}

.no-animate {
  -webkit-transition: none !important;
  transition: none !important;
}


sidebar-menu.sidebar-transition.ng-hide-remove > div {
  animation: sidebarIn .3s linear;
  transition-delay: 0.8s;
}

sidebar-menu.sidebar-transition.ng-hide-add > div {
  animation: sidebarOut .5s linear;
}

subbar-menu.sidebar-transition.ng-hide-remove > div {

  animation: sidebarIn .4s linear;
  transition-delay: 0.8s;
}

subbar-menu.sidebar-transition.ng-hide-add > div {
  animation: sidebarOut .5s linear;

}

@keyframes sidebarIn {
  from {
    transform: translateX(-269px);
    -webkit-transform: translateX(-269px);

  }
  to {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}

@keyframes sidebarOut {
  from {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  to {
    transform: translateX(-269px);
    -webkit-transform: translateX(-269px);
  }
}




//.menu-transition.ng-hide-remove {
//  -webkit-animation: slideOutLeft 2.5s;
//  animation: slideOutLeft 2.5s;
//  display: block !important;
//}

//.menu-transition.ng-hide-add {
//  -webkit-animation: slideInLeft 1.0s;
//  animation: slideInLeft 1.0s;
//
//}

div#main-view[ng-view].ng-enter {
  transition: all 0.5s linear;
  opacity: 0;
}
div#main-view[ng-view].ng-enter-active {
  opacity: 1;
}


.efs-alert-fixed.ng-hide-remove{
  -webkit-animation: fadeInUp 0.5s;
  animation: fadeInUp 0.5s;
  opacity: 1;
}

.efs-alert-fixed.ng-hide-add{
  -webkit-animation: fadeOutDown 0.4s;
  animation: fadeOutDown 0.4s;
  opacity: 0;
  display: block !important;
}