/*===============MAIN STYLE=================*/

/*===FONT SIZE VARIABLE====*/
@font-9:9px;
@font-10:10px;
@font-11:11px;
@font-12:12px;
@font-13:13px;
@font-14:14px;
@font-15:15px;
@font-16:16px;
@font-17:17px;
@font-18:18px;
@font-19:19px;
@font-20:20px;
@font-21:21px;
@font-22:22px;
@font-23:23px;
@font-24:24px;
@font-25:25px;
@font-26:26px;
@font-27:27px;
@font-28:28px;
@font-29:29px;
@font-30:30px;
/*===COLOR VARIABLE====*/
@white:#fff;
@white-54:rgba(255,255,255,0.54);
@white-87:rgba(255,255,255,0.87);
@white-38:rgba(255,255,255,0.38);
@white-07:rgba(255,255,255,0.7);
@white-12:rgba(255,255,255,0.12);
@black:#000;
@black-54:rgba(0, 0, 0, 0.54);
@black-87:rgba(0, 0, 0, 0.87);
@black-38:rgba(0, 0, 0, 0.38);
@black-07:rgba(0, 0, 0, 0.7);
@black-09:rgba(0, 0, 0, 0.9);
@subhead-bg:#e0e0e0;
@title-bg:#f7f7f7;
@chambray:#535c77;
@whitesmoke:#fafafa;
@light-green-bg:rgb(216, 241, 210);
@light-orange:rgb(251, 248, 207);
@light-blue:rgb(247, 251, 255);
@dark-grey:rgb(223, 231, 230);
@light-yellow:rgba(255,218,98,0.4);
@panel-light-bg:#F7F8FE;



/* ====border variable  ====*/
//@light-blue-br1{}
@light-blue-bor1: 1px solid rgba(133, 160, 183, 0.54);
/* ====border variable  ====*/
/*===FONT WEIGHT VARIABLE====*/
@font-200:200;
@font-300:300;
@font-400:400;
@font-500:500;
@font-600:600;
@font-700:700 !Important;
@font-800:800;
@font-900:900;

/*=====Text Style=========*/
@upper:uppercase;
@lower:lowercase;
@capital:capitalize;

/*========COLOR==========*/
@Gray98:#fafafa;
/*========BORDER RADIUS==========*/
.minH-20 {
  min-height: 20px;
}
.minH-40 {
  min-height: 40px;
}
.minH-24 {
  min-height: 24px;
}
.resizeNone {
  resize: none;
}
.brad-top3 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.brad-btm3 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.brad3 {
  border-radius: 3px;
}
/*=======COMPONENTS STYLE===============*/
/*label {
  font:normal normal @font-400 @font-12/normal @font-name;
  color: @black-87;
  text-transform: capitalize !important;
}*/
/*.panel-body input, a.selectPicker {
  border: 1px solid #e1e1e1;
  border-radius: 3px !important;
  height: 24px !important;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: 400;
  box-shadow: none !important;
}*/

.panel {
  /*background-color: @white;
  border: 1px solid #efefef !important;
  border-radius: 3px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: rgba(255, 0, 0, 0);*/
  .panel-heading{
  /*overflow: hidden;
  height: 40px;
  background-image: none !important;
  background-color: @Gray98;
  padding: 2px 15px !important;*/
    h4 {
      /*font:normal normal @font-300 @font-18/normal @font-name;
      color: @black-54;*/
      span {
        /*font:normal normal @font-300 @font-18/normal @font-name;
        color: @black-87;
        margin-left: 8px;*/
      }

    }
  /*select {
    height: 24px !important;
    padding: 0px 8px !important;
    outline: 0px !important;
  }*/
  }
  .panel-body {
    /*padding: 0px 15px;

    h5.heading {
      font: normal normal @font-800 @font-15/normal @font-name;
      color: @black-87;
      text-transform: uppercase;
    }*/
    /*h6 {
      font-size: @font-14;
      font-weight: @font-400;
      //font: normal normal @font-400 @font-10/normal @font-name;
      color: @black-87;
      display: block;
      margin-bottom: 0px;
      margin-top: 10px;
    }*/
    ul li{
      font: normal normal @font-400 @font-13/20px @font-name;
      color: @black-87;
      //text-transform: uppercase;
    }

  }
}

a:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
i[class='icon-'] {
  color: @black-07;
}
.brad3 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.title-bg-none {
  font-size: @font-14;
  font-weight: @font-500;
  color: @black-54;
}
.bor-r-0{
  border-right: 0px !important;
}
.tl-15 {
  position: relative;
  top: 15px;
  left: 10px;
}
.t-6 {
  position: relative;
  top: 6px;
}
.minH-74 {
  min-height: 74px;
}

/*.bor-r-1 {
  border-left: 1px solid rgba(21, 101, 192, 0.12);
}*/
.bor-r-1 {
  border-right:1px solid #dadada;
}
.bor-l-1 {
  border-left:1px solid #dadada;
}
.bor-btm1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.form-control:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
}
select.form-control:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
}

input[type=checkbox] {
  height: auto !important;
  margin-top: 0 !important;
}
.checkbox > label > input {
  height: auto !important;
}
.btn-border {
    color: #42a5f5 !important;
    border: 1px solid #42a5f5 !important;
    background: #fafafa !important;
    span.fa-file-text-o {
      color: #42a5f5 !important;
    }
}

.minH-160 {
  min-height: 160px;
}
.minH-48 {
  min-height: 48px !important;
}
.minH-30 {
  min-height: 30px !important;
}

.minH-100{
  min-height:100px

}
.minH-180 {

  min-height: 180px;
}

.minH-380{
  min-height:380px
}

.h380px{
  height: 380px;
}

.h300px{
  min-height:300px;
  height:300px;
}



/*.info-view {
  span {
    font:normal normal @font-400 @font-12/normal @font-name;
    color: @black-54;
    text-transform: @capital;
  }
}*/
.tab-info > ul {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
}
.selectPicker {
  padding: 3px 3px 3px 5px;
  background-color: white !important;
  border: 1px solid #e1e1e1;
  border-radius: 3px !important;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  font-weight: 400;
  height: 28px;
  border-radius: 3px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.rotate {
  font: normal normal 700 16px / normal 'Roboto', sans-serif;
  color: rgba(46, 125, 50, 0.87);
  text-transform: uppercase;
  transform: rotate(-15deg);
  position: relative;
  margin: 0px;
  left: 28px;
  top: -24px;
}

/*==========Indicator color=============*/
label {
  span {
    .reqColor;
  }
}
/*===========FORM GROP=============*/
.form-inline {
  .form-group{
    padding-right: 40px;
  }
  .form-group:last-child {
    padding-right: 0px;
  }
}
.fgmb0{
  .form-group {
    margin-bottom: 0px;
  }
}
.checkbox > label > input {
  height: auto;
}
textarea:focus, input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.06);
}
.radio {
  label {
    margin: 0;
    input {
      height: auto;
    }
  }
}
.reqColor + small{
  font-size: 13px;
  font-weight: 400;
  color:rgba(0, 0, 0, 1);
}
.input-group span {
  margin: 0px;
}
.selectPicker > span{
  margin-bottom: 0px !important;
}
.selectPicker:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.06);
}
/*===============HexUserIcon===============*/
.userIcon {
  //margin-top: 7px;
  span {
    font-family:'Roboto', sans-serif;
    color: @black-87;
    font-size: @font-13;
    font-weight: @font-400;
  }
  h6 {
    //padding-left: 8px;

  }
}

.init_icon_name {
  margin-top: 4px;
  margin-left: 8px;
}

.userhexgon {
  position: relative;
  width: 27px;
  height: 15px;
  margin-right: 8px;
}
.userhexgon:before, .userhexgon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 13px solid transparent;
  border-right: 14px solid transparent;
  top: -7px;
}
.userhexgon span.cardName {
  font: normal normal 400 16px / normal 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.87);
  margin: 0 !important;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: -1px;
}
/*logout*/
.userinfo {
  margin-top: 7px;
  span {
    font-family:'Roboto', sans-serif;
    color: @black-87;
    font-size: @font-13;
    font-weight: @font-400;
  }
  h6 {
    margin: auto !important;
  }
  .user-profile-cls {
    position: relative;
    top: 2px;
  }
}
.userhexgoninfo::before {
  border-bottom: 10px solid rgba(0, 0, 0, 0.3) !important;
  top: -10px;
}
.userhexgoninfo {
  position: relative;
  width: 32px;
  height: 16px;
  margin-right: 8px;
}
.userhexgoninfo:before, .userhexgoninfo:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}
.userhexgoninfo:after {
  top: 100%;
  width: 0;
  border-top: 10px solid rgba(0, 0, 0, 0.3) !important;
}
.userhexgoninfo span.cardName {
  font: normal normal 400 16px / normal 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.87);
  margin: 0 !important;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: -1px;
}
/*usericon color*/
.userhexgon.rose {
  background-color: #f48fb1 !important;
}
.userhexgon.rose::before {
  border-bottom: 7.39px solid #f48fb1 !important;
}
.userhexgon.rose:after {
  top: 100%;
  width: 0;
  border-top: 7.39px solid #F48FB1;
}
.userhexgoninfo.block {
  background-color: rgba(0,0,0,0.3) !important;
}
.userhexgoninfo.block::before {
  border-bottom: 10px solid rgba(0, 0, 0, 0.3) !important;
}
.userhexgon.block:after {
  top: 100%;
  width: 0;
  border-top: 10px solid rgba(0, 0, 0, 0.3) !important;
}
.userhexgon.yellow {
  background-color: @yellow;
}
.userhexgon.yellow::before {
  border-bottom:7.39px solid @yellow;
}
.userhexgon.yellow:after {
  top: 100%;
  width: 0;
  border-top: 7.39px solid @yellow;
}
.userhexgon.green {
  background-color: @light-green;
}
.userhexgon.green::before {
  border-bottom:7.39px solid @light-green;
}
.userhexgon.green:after {
  top: 100%;
  width: 0;
  border-top: 7.39px solid @light-green;
}
.userhexgon.blue {
  background-color: @light-blue;
}
.userhexgon.blue::before {
  border-bottom:7.39px solid @light-blue;
}
.userhexgon.blue:after {
  top: 100%;
  width: 0;
  border-top: 7.39px solid @light-blue;
}
.bor-t1{
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}
.fa-soccer-ball-o:before, .fa-futbol-o:before {
  content: "";
  background: url("assets/images/haz.svg") no-repeat !important;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0 8px;

}
.futbol-fix .fa-futbol-o:before{
  top: 27px;
  left: 5px;

}
.error-message {
   small {
     .error-message;
   }
}

.input-group {
  input {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  .input-group-addon {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 0px !important;
  }
}
.whitesmoke-bg{
  background-color:@whitesmoke;
}
.light-green-bg{
background-color:@light-green-bg;
}

.light-orange{
  background-color: @light-orange;
}
.light-blue{

  background-color: @light-blue;
}
.light-blue-bor1{
border:@light-blue-bor1;

}
.light-blue-br1{
  border-right:@light-blue-bor1;
}
.light-blue-bt1{
  border-top:@light-blue-bor1;
}
.new-panel-heading{

  color: rgb(75, 98, 109);
  font-size: 16px;
  font-weight: 400 !important;
  opacity: 0.87;

}
.f-700{ font-weight:@font-700;}
.dark-grey{background-color:@dark-grey}
.light-yellow{background-color:rgba(255, 218, 98, 0.4);}
.panel-light-grey{background-color:@panel-light-bg;}