
/*
website : FSL
Author  : Chandru
Version :  0.1


SPECIFCATION

1. HTML,BODY,PRELOAD,HEXAGON,HEADING
2. PADDING
3. MARGIN
4. BORDER
5. FORM ELEMENTS
6. INPUT GROUP ADDON

*/

/*===1.HTML,BODY,PRELOAD,HEXAGON=====*/
html{
  font-size: 62.5%;
  height: 100%;
}

body{
  overflow: hidden;
  background: url(@stripe-bg);
  font-family: @font-name;
  height: 100%;
}
h1,h2,h3,h4,h5,h6,p,span,a,li {
  font-family: @font-name;
}

.width20px{
  width: 20px !important;
}
.width4per{
  width: 4% !important;
}
.width1per{
  width: 1% !important;
}
.width10per{
  width: 10% !important;
}
.width8per{
  width: 8% !important;
}
.width13per{
  width: 13% !important;
}
.width15per{
  width: 15% !important;
}
.width22per{
  width: 22% !important;
}
.width18per{
  width: 18% !important;
}
.width85per{
  width: 85% !important;
}
.width75per{
  width: 75% !important;
}
.width42per{
  width: 42% !important;
}
.width50per{
  width: 50% !important;
}
.width55per{
  width: 55% !important;
}
.width60per{
  width: 60% !important;
}
.width90per{
  width: 90% !important;
}
.width95per{
  width: 95% !important;
}
.width100per{
  width: 100% !important;
}
.width120per{
  width: 120% !important;
}
.width700px{		
  width: 700px !important;		
}
.pl0{
  padding-left: 0px !important;
}
.pl2{
  padding-left: 2px !important;
}
.pr0{
  padding-right: 0px !important;
}
.pr40{
  padding-right: 40px !important;
}
.plr14px{
  padding-left: 14px;
  padding-right: 14px;
}
.pl5{
  padding-left: 5px !important;
}
.pr5{
  padding-right: 5px !important;
}
.pr15{
  padding-right: 15px !important;
}
.pt7{
  padding-top: 7px !important;
}
.pt3{
  padding-top: 3px !important;
}

.pt5{
  padding-top: 5px !important;
}
.pt10{
  padding-top: 10px !important;
}
.pt15{
  padding-top: 15px !important;
}
.pb15{
  padding-bottom: 15px !important;
}
.pb2{
  padding-bottom: 2px !important;
}
.pb10{
  padding-bottom: 10px !important;
}
.pb17{
  padding-bottom: 17px !important;
}
.pb35{
  padding-bottom: 35px !important;
}
.pb60{
  padding-bottom: 60px !important;
}
.pr50{
  padding-right: 50px;
}
.pt35{
  padding-top: 35px !important;
}
.mt30 {
  margin-top: 30px !important;
}

.mt25 {
  margin-top: 25px !important;
}


.ml20{
  margin-left: 20px !important;
}
.mt42 {
  margin-top: 42px !important;
}
.mr0{
  margin-right: 0px !important;
}
.mr50px{
  margin-right: 50px !important;
}
.mr30{
	margin-right: 30px;
}
.mt-5{
  margin-top: 5px;
}
.mt-6{
  margin-top: 6px !important;
}
.mt-8{
  margin-top: 8px;
}
.mt-3{
  margin-top: 3px !important;
}
.ml0{
  margin-left: 0px !important;
}
.mt0{
  margin-top: 0px !important;
}
.mb0{
  margin-bottom: 0px !important;
}

.mt10{
  margin-top: 10px !important;
}
.mt17{
  margin-top: 17px !important;
}
.mt20{
  margin-top: 20px !important;
}
.mb-77{
  margin-bottom: 77px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb30 {
  margin-bottom: 30px;
}


.bor-0 {
  border:0px !important;
}
.bor-none{
  border:none !important;
}
/*==== COMMON Class====*/
a, a:focus, a:hover {
  text-decoration: none;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.w-25 {
  width: 25%;
}
.w-40{
  width: 40%;
}
.w-50{
  width: 50%;
}
.w-55{
  width: 55%;
}
.w-57{
  width: 57%;
}
.w-60{
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.wFull {
  width: 100%;
}
/*==== padding Class====*/
.nopadding {
  padding: 0px !important;
}
.pt0{
  padding-top: 0px !important;
}
.pt1{
  padding-top: 1px !important;
}
.padfull-8{
  padding: 8px !important;
}
.pad-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.padL-0 {
  padding-left: 0 !important;
}
.padR-0 {
  padding-right: 0 !important;
}
.padTB {
  padding: 15px 0;
}
.pad-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.ptb4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.ptb5 {
  padding-top: 5px ;
  padding-bottom: 5px;
}
.ptb10 {
  padding-top: 10px ;
  padding-bottom: 10px;
}
.ptb14 {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.pad-15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.pt20{
  padding-top: 20px !important;
} 
.pt23{
  padding-top: 23px;
} 
.pad-25 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}
.ptb-15 {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}
//.ptb-15 {
//  padding-top: 15px !important;
//  padding-bottom: 15px !important;
//}
.padlr-15 {
  padding: 7px 15px !important;
}

.padtb-19 {
  padding-top: 19px;
  padding-bottom: 19px;
}

.ptb-20{
  padding: 20px 0px !important;
}
.pt-16{
  padding-top: 16px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
/*====MARGIN====*/
.nomargin {
  margin: 0 !important;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-9 {
  margin-bottom: 9px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt15px{
  margin-top: 15px !important;
}
.mtb-15 {
  margin: 15px 0;
}
.mt-15{
  margin-top: 15px !important; ;
  margin: auto;
}
.mt-4{
  margin-top: 4px !important;
}
.mt-7{
  margin-top: 7px;
}
.mt-11{
  margin-top: 11px;
}
.mt-12{
  margin-top: 12px;
}
.mt-23{
  margin-top: 23px;
}
.mtb-25 {
  margin: 25px 0;
}
.mlr-15{
  margin: auto 15px !important;
}
.mlr15neg{
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.mlr-5 {
  margin: 0 5px !Important;
}

.ml-2 {
  margin-left:2px !important
}

.mlminus-2 {
  margin-left:-2px !important
}

.ml-5 {
  margin-left:5px !important
}


.ml-15 {
  margin-left:15px
}
.mtb-0{
  margin: 0 auto !important;
}
.mb-15{
  margin-bottom: 15px !important;
}
.mtb-25 {
  margin: 25px 0;
}
.mtb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mb-20{
  margin-bottom: 20px;
}
.m-15 {
  margin-left: -15px;
  margin-right: -15px;
}
.mr-6 {
  margin-right: 6px;
}
.ml-8{
  margin-left: 8px !important;
}
/*====BORDER====*/
.bor-0 {
  border:0px !important;
}
.bor-btm {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #efefef;
  padding-bottom: 15px !important;
  margin-bottom: 10px !important;
}
.tab-cell {
  display: table;
  width: 100%;
}
.tab-cell > li{
  display: table-cell;
  vertical-align: middle;
}
.table-fluid > li {
  width: 50%;
}
.li-50 > li {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.brad-0 {
  border-radius: 0px !important;
}
/*===DISPLAY===*/
.rel {
  position: relative;
}
.t4px{
  top: 4px !important;
}
.t5px{
  top: 5px !important;
}
.t-6{
  top: 6px !important;
}
.t-15{
  top: 15px !important;
}
.r-5 {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.r10px{
  right: 10px !important;
}
.in {
  display: inline-block;
}
.block{
  display: block;
}
.bg-trans {
  background: transparent !important;
}
hr {
  margin-top: 15px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid #CCC;
}

/*1.1 ends*/
.border-left-nav{
  border-left: 1px solid #9F61C9;
}

.arrow_box {
  position: relative;

}
.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}

//.nav-tabs { border-bottom: 2px solid #DDD; }
//.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
//.nav-tabs > li > a { border: none; color: #666; }
//.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
//.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
//.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
//.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
//.tab-pane { padding: 9px 0; }

.backdrop-layer{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.hide-me{
  display: none !important;
}

.custom-label {
  font-weight: normal;
}

.border-down-list{
  border-bottom: 1px solid black;
}

.sm-th-width{
  width: 10%;
}

.active-icon,
.inactive-icon,
.select-icon,
.block-icon{
  .border-radius-properties(50%);
  padding:5px;
  display: inline-block;
}

.active-icon{
  background-color: #5EDA83;
}
.block-icon{
  background-color: #CF615B;
}
.inactive-icon{
  background-color: #C0C0C0;
}
.select-icon {
  background-color: #0584e2;
  margin-top: 5px;
}
.elastic-ht {
  min-height: 154px !important;
 }
.elastic-htyaxisscroll {
  min-height: 154px !important;
  height: 154px !important;
  overflow-y:auto !important;
  overflow-x:hidden !important;
}
.modal-large {
  min-height: 367px !important;
  height: 367px !important;
  overflow-y: auto !important;
 }
.elastic-htyaxis180 {
  min-height: 180px !important;
  height: 180px !important;
  overflow-y:auto !important;
  overflow-x:hidden !important;
  resize: none !important;
}
textarea{
  resize: vertical;
}
.border-radius-properties(@arguments) {
  -webkit-border-radius: @arguments;
  -moz-border-radius: @arguments;
  -o-border-radius: @arguments;
  border-radius: @arguments;
}

.horizontal-gradient (@startColor, @endColor) {
  background:  @startColor;
  background: -webkit-gradient(left top, right top, color-stop(0%,@startColor), color-stop(29%,@startColor),color-stop(100%,@endColor));
  background: -webkit-linear-gradient(left, @startColor 0%,@startColor 29%, @endColor 100%);
  background: -moz-linear-gradient(left, @startColor 0%,@startColor 29%, @endColor 100%);
  background: -ms-linear-gradient(left, @startColor 0%,@startColor 29%, @endColor 100%);
  background: -o-linear-gradient(left, @startColor 0%,@startColor 29%, @endColor 100%);
  background: linear-gradient(to right, @startColor 0%,@startColor 29%, @endColor 100%);
}

/*table thead{
  background-color: #efefef;
}*/
.list-container{
  overflow-y: hidden;

}
.list-container .panel-heading,
.detail-container .panel-heading{
  height: 40px;
  background-image: none !important;
  background-color: #fafafa !important;
  padding: 7px 15px !important;
}

/*.list-container .panel-footer{
  height: 40px;
  background-image: none !important;
  background-color: white !important;
  color:rgba(0,0,0,0.5);
  font-weight: 400;
}*/
.list-container .panel-footer .meta-data{
  color:rgba(0,0,0,1) !important;
}

.list-container .panel-body{
  padding: 0px !important;
}



.p00{
  padding: 0px !important;
}
.list-container {
  /*table{
    width: 100%;
  }
  table tbody{
    position: relative;
  }
  table thead tr,
  table tbody tr{
    transition: all 0.3s linear;
  }*/
  /*table thead tr th,
  table tbody tr td {
    font-size: 1.3rem;
    color: black;
    font-weight: 400;
    //transition: all 0.3s linear;
    //span{
    //  transition: all 0.3s linear;
    //}
  }*/
  /*table thead tr:first-child {
    background-color: white !important;
  }
  table thead tr:first-child th {
    position: relative;
    padding: 7px 8px 7px 8px !important;

  }
  table thead tr:last-child th {
    border: none !important;
    padding: 6px 8px 6px 8px !important;
  }*/
  /*table thead tr:last-child th input,
  table thead tr:last-child th select {
    height: 24px !important;
  }*/
  /*table tbody tr td {
    color: rgba(0, 0, 0, 0.87);
    padding: 7px 8px 7px 8px !important;

  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #c7e4fc !important;
  }
  table tbody tr:nth-child(odd){
    background-color: white;
  }
  table tbody tr:nth-child(even){
    background-color: #f3f7f9;
  }
  table thead tr th input.form-control {
    padding: 2px 8px !important;
  }*/
  /*table thead tr th select.form-control {
    padding: 2px 1px !important;
  }*/
  .sorting-wrapper{
    position: absolute;
    bottom: 0.8rem;

    //.transition(all 0.25s linear);
  }
  .ascend-icon{
    font-size: 1.0rem !important;
    opacity: 1 !important;
  }
  .transform180deg{
    .transform-property(180deg);
  }
  .transform0deg{
    .transform-property(0deg);
  }
}
.fixed-table-container {
  table{
    width: 100%;
  }
  table tbody{
    position: relative;
  }
  table thead tr,
  table tbody tr{
    transition: all 0.3s linear;
  }
  table thead tr th,
  table thead tr:first-child th {
    position: relative;
  }
  table thead tr:last-child th {
    border: none !important;
  }
  /*table thead tr:last-child th input,
  table thead tr:last-child th select {
    height: 24px !important;
  }*/
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #c7e4fc !important;
  }
  table tbody tr:nth-child(odd){
    background-color: white;
  }
  table tbody tr:nth-child(even){
    background-color: #f3f7f9;
  }
  table thead tr th input.form-control {
    padding: 2px 8px !important;
  }
  table thead tr th select.form-control {
    padding: 2px 1px !important;
  }
  .sorting-wrapper{
    position: absolute;
    bottom: 0.8rem;
    right:8px;
    //.transition(all 0.25s linear);
  }
  .ascend-icon{
    font-size: 1.0rem !important;
    opacity: 1 !important;
  }
  .transform180deg{
    .transform-property(180deg);
  }
  .transform0deg{
    .transform-property(0deg);
  }
}
.container-back-drop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 998;
}

.actIcon {
  text-align: center;
  font-size: 20px;
}

.popover-options{
  top: 28px !important;
  left: -62px !important;
  li{
    cursor: pointer;
  }
}
.popover-options:before{
  bottom: 97%;
  left: 79%;
  content: " ";
  position: absolute;
  box-shadow: inset 2px 2px #D9D9D9;
  position: absolute;
  z-index: 2;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
}
.popover-wrapper {
  position: relative;
}


.error-element {
  margin-bottom: 15px;
}
.reqColor{
  color: #d32f2f !important;
}
.error-text{
  color: #d32f2f !important;
  text-shadow: 0px 0px 0px #d32f2f !important;
}
.error-label {
  color: #d32f2f !important;
}
.error-control {
  border-color: #d32f2f !important;
  outline: none !important;
  //color: red !important;
  margin-bottom: 0px;
}
.error-control:focus {
  border-color: #d32f2f !important;
}
.error-control-auto {
  border-color: #d32f2f !important;
  outline: none !important;
  //color: red !important;

}
.error-control-auto:focus {
  border-color: #d32f2f !important;
}
//.error-control::-webkit-input-placeholder,
//.error-control::-webkit-input-placeholder {
//  color: red !important;
//}
.error-message {
  color: #d32f2f;
  //background-color: #d32f2f;
  //padding: 5px 5px;
  //.border-radius-properties(5px);
  word-wrap: break-word;
}

/*.table{
  border: 0 !important;
}*/
/*.list-container > .table thead th, .table tbody td {
  border: 0 !important;
}*/
.legend-show-ctrl {
  height: 24px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}


/*==height==*/
.h100per{
  height: 100% !important;
  min-height: 100% !important;
}
.h470px{		
  height: 470px;		
  max-height: 470px;		
  min-height: 470px;		
  overflow-y: auto;		
}
.detail-container .panel-body .metadata-detail{
  background-color: rgba(33, 150, 243, 0.12);
}

.detail-container .status-comp{
  margin-top: 5px;
}
.hamburger-icon{
  font-size: 15px !important;
}
.ft12px{
  font-size: 12px;
}
.ft14px{
  font-size: 14px;
}
.ft16px{
  font-size: 16px;
}

.ft400{
  font-weight: 400;
}

.ft700{
  font-weight: 700;
}
/*==pagination==*/
.pagination{
  margin: 0px !important;
  padding-left: 13px;
}

.pagination>li>a, .pagination>li>span{

  padding: 0px 8px !important;
}

.abs {
  position: absolute;
}
.opcfull{
  opacity:1 !important;
}
.opc-5{
  opacity:.54;
}
.opc-7{
  opacity:.7;
}
.opc-8{
  opacity:.87;
}
/*.table {
  margin-bottom: 0px;
}*/

.transform-property(@arguement){
  transform: rotate(@arguement);
  -webkit-transform: rotate(@arguement);
  -moz-transform: rotate(@arguement);
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}

.list-panel-back i{
  font-size: 1.3rem !important;
}
.btn-property{
  border-radius: 4px;
  border-color: transparent;
  color: white;
  font-size: 12px;
  font-weight: 500;
  //text-transform: uppercase;
  padding: 2px 5px !important;
  height: 24px !important;
  min-width: 65px;
  i{
    font-size: 1.1rem !important;
  }
}



.accent-btn{
  background-image: none !important;
  background-color: @accent-btn-bg;
}
.accent-btn:hover,
.accent-btn:focus{
  background-color : @accent-btn-bg;
  background-image: none !important;
  border-color: transparent;
}

.danger-btn{
  background-image: none !important;
  background-color: @warning;
}
.danger-btn:hover,
.danger-btn:focus{
  background-color : @warning;
  background-image: none !important;
  border-color: transparent;
}



.green-btn{
  background-image: none !important;
  background-color: @success-500;
  color: @white;
}
.green-btn:hover,
.green-btn:focus{
  background-color : @success-500;
  background-image: none !important;
  border-color: transparent;
  color: @white
}

.clear-btn{
  background-image: none !important;
  background-color: rgba(250,250,250,0.12);
  border: 1px solid rgba(0,0,0,0.12) !important;
  color:black;
}

.clear-btn:hover,
.clear-btn:focus{
  background-color: rgba(250,250,250,0.12);
  background-image: none !important;
  border-color: transparent;
}
.grey-cancel-btn{
  background-image: none !important;
  background-color: rgba(250,250,250,1);
  color:black;
  border: 1px solid rgba(0,0,0,0.12) !important;
}
.grey-cancel-btn:hover,
.grey-cancel-btn:focus{
  background-color: rgba(250,250,250,0.12);
  background-image: none !important;
  color:black;
  border-color: transparent;
}
.cancel-btn{
  background-image: none !important;
  background-color: rgba(250,250,250,0.12);
  color:black;
  border: 1px solid rgba(0,0,0,0.12) !important;
}
.cancel-btn:hover,
.cancel-btn:focus{
  background-color: rgba(250,250,250,0.12);
  background-image: none !important;
  color:black;
  border-color: transparent;
}
.browse-btn{
  background-image: none !important;
  background-color: #ba68c8;
  color:white;
  border: 1px solid #ba68c8 !important;
}
.browse-btn:hover,
.browse-btn:focus{
  background-color: #ba68c8;
  background-image: none !important;
  border-color: transparent;
}
pagination-dr {
  .pagination > li > a {
    color: @accent-btn-bg;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus{
    color: #fff;
    cursor: default;
    background-color: @accent-btn-bg;
    border-color: @accent-btn-bg;
  }
}

.optionalText{
  opacity: 0.54 !important;
  font-weight: normal;
}

#master-status{
  position: absolute;
  left: 50%;
}

.panel-ht{
  min-height: 479px;
  height: 479px;
}

.row-selected{
  border-color: #66afe9;
  outline: thin dotted #777;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.efs-alert,
.efs-alert-fixed{
  background-image: none !important;
  //background-color: @error-400 !important;
  text-align: left;
  padding: 10px 15px;
  min-height: 42px;
}
.efs-error{
  background-color: @error-400 !important;
  color:white !important;
}
.efs-success{
  background-image: none !important;
  background-color: @success-500 !important;
  color: white !important;
  text-align: left;
  padding: 10px 15px;
  min-height: 42px;
}


.tooltip{
  z-index: 99999 !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



.btn-outline {
  background-color: transparent !important;
  color: inherit !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-image: none !important;
  width: 100%;
  text-align: left;
}
.btn-outline i {
  line-height: 20px;
}
.btn-primary.btn-outline {
  color: #428bca !important;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
a.btn {
  span.icon-add {
    color: @white !important;
  }
}
.border-list {
  border-bottom: 1px solid #efefef;
}

.wrapper-back-drop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1550;

}


select-list-picker .checkbox-list label{
  margin-bottom: 12px !important;
}
select-list-picker .select-action label{
  margin-left: 15px !important;
}

select-list-picker .list-group .list-group-item{
  word-wrap: break-word;
}
.col-xs-0half{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 4.166666665% !important;
}
.col-xs-1half {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 12.499999995% !important;
}
.col-xs-2half{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 20.833333335% !important;
}
.col-xs-3half{
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: left;
width: 29.166666655% !important;
}



.wrap-text{
  word-wrap: break-word;
}

.highlighted-label {
	color : white;
	font-size : 12px;
	font-weight : 600;
	border-radius : 12px;
	text-align : center;	
	padding : 4px;
}

.status-comp{
  width: 90px;
  padding: 2px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  border-radius: 12px;
  text-align: center;
  &.blockedtype {
    background-color: #e57373;
  }
  &.activetype {
    background-color: #81c784;
  }
  &.hiddentype {
    background-color: #9e9e9e;
  }
  &.tobeactivetype {
    background-color: rgb(219, 200, 92);
     min-width: initial !important;
    width: 100%;
  }
}

select.status.tobeactivetype {
    background-color: #dbc85c;
    
}
.status-comp.blockedtype {
    background-color: #e57373;
    //width: 42%;
}
.detail-container  {
    .status-comp.tobeactivetype {
    width: 75%;
}
   
}
.fsl-btn-group{
  height: 32px;
  border-radius: 0px !important;
  padding: 0 7px !important;
  background-image: none !important;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color:rgba(0,0,0,0.8);
  font-size: 0.9vw !important;
  font-weight: 400;
}
.fsl-btn-group:disabled {
  background-color:#f0f0f0;;

}
.curnot_allowed{
  cursor: not-allowed;
}


.fsl-btn-group.active{
  background: #2196f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-color: transparent !important;
  color:rgba(255,255,255,1);
  font-weight: 500;
}
.fsl-btn-group:not(.active):hover{
  background-color: #e3f2fd !important;
}

.fsl-btn-group:focus{
  border-color: #66afe9 !important;
  outline: thin dotted #777 !important;;
  outline: 0px auto -webkit-focus-ring-color !important;;
  outline-offset: 0px !important;;
  -webkit-box-shadow: none !important;;
  box-shadow: none !important;;
}
.btn-group-justified{
  .btn-group{
    &:first-child{
      .fsl-btn-group{
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
      }
    }
    &:last-child{
      .fsl-btn-group{
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
      }
    }

  }

}


.ngdialog-content{
  background-color: white !important;
  border-radius: 3px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 119px;
  padding: 0px !important;
}
.ngdialog-content *{
  padding-top: 15px;
  padding-left: 15px;
}

.ngdialog-overlay,
.modal{
  background: rgba(0,0,0,0.4) !important;
}

.ngdialog-footer{
  position: absolute;
  right: 0px;
  border-top: 1px solid rgba(0,0,0,0.12);
  width: 100%;
  text-align: right;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ngdialog-footer button{
  margin-right: 8px;
}

.card {
  background: #fff;
  display: inline-block;
  border-bottom: 3px solid rgba(0,0,0,0.10);
  border-left: 1px solid rgba(0,0,0,0.10);
  border-right: 1px solid rgba(0,0,0,0.10);
  border-top: 1px solid rgba(0,0,0,0.10);
  margin: 0 0 6px 1px;
  padding: 16px;
  position: relative;
  width: 100%;
  background-color: #fafafa;
  border-radius: 3px;
}
.card > .card-cell >li {
  display: table-cell;
  vertical-align: middle;
}
.card .cardName{
  position: absolute;
  left: 37%;
  color: white;
  font-size: 14px;
}

.cardhexagon {
  position: relative;
  width: 36px;
  height: 20.78px;
  background-color: #64C7CC;
  margin: 10.39px 0;
}

.cardhexagon:before,
.cardhexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
}

.cardhexagon:before {
  bottom: 100%;
  border-bottom: 10.39px solid #64C7CC;
}

.cardhexagon:after {
  top: 100%;
  width: 0;
  border-top: 10.39px solid #64C7CC;
}
//hide horizontal scrollbar by css
.nicescroll-rails-hr{
  //display: none !important;
}

.borderMapping{
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

.ngdialog-close{
  display: none !important;
}

/*=========5. FORM ELEMENTS=======*/


.fsl-input-group{
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}
select{
  /*height: 28px !important;
  padding: 4px 8px  !important;
  border-radius: 4px !important;*/
  border-radius: 3px !important;
  &.status {
    height: 24px !important;
    padding: 1px 8px  !important;
    color:white !important;
    &.activetype {
      background-color: #81c784;
      border: 1px solid #81c784;
    }
    &.activetype:focus,&.activetype:hover {
      border: 1px solid @accent-btn-bg !important;
    }
    &.blockedtype {
      background-color: #e57373;
      border: 1px solid #e57373;
    }
    &.hiddentype {
      background-color: #9e9e9e;
      border: 1px solid #9e9e9e
    }
    option[label='ACTIVE']{
      background-color: white !important;
      color: black !important;
    }
    option[label='BLOCK']{
      background-color: white !important;
      color: black !important;
    }
    option[label='HIDE']{
      background-color: white !important;
      color: black !important;
    }
    option[label='Active']{
      background-color: white !important;
      color: black !important;
    }
    option[label='Block']{
      background-color: white !important;
      color: black !important;
    }
    option[label='Hide']{
      background-color: white !important;
      color: black !important;
    }
    option[label='Closed']{
      background-color: white !important;
      color: black !important;
    }
    option[label='Cancelled']{
      background-color: white !important;
      color: black !important;
    }
    option[label='ENABLE'],
    option[label='Enable']{
      background-color: white !important;
      color: black !important;
    }
    option[label='DISABLE'],
    option[label='Disable']{
      background-color: white !important;
      color: black !important;
    }
  }
}

.formula-area{
  background-color: #F6F6F6 !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 4px !important;
  margin-top: 15px !important;
  p{
    text-align: center; word-wrap: break-word;
    span {
      font-size: 16px !important;
      font-weight: @font-700 !important;
      color: rgba(0, 0, 0, 0.87) !important;
      word-wrap: break-word;
    }
  }
}

/*=================DETAIL PANEL TITLE==================*/
.active-activityBtn{
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
  background-color: #e1e1e1;
  border-color: #c2c2c2;
}

.date-picker-wrapper{
  position: absolute;
  top: 28px;
  right: 22px;
  pointer-events: none;
}


.list-container-wrapper{
  width: 100%;
  margin: 10px auto;
  .list-container-header{
    background-color: #dfe7e6;
    padding:6px 5px;
    border: 1px solid #efefef;
    word-break: break-word;
    span {
      color: #2196f3;
      font-size: 16px;
      font-weight: 400;
    }
    .more-action-btn{
      margin-top: 5px;
    }
    .popover-options{
      left: -128px !important;
    }
  }
  .list-container-body{
    background-color: #f1f7f5;
    min-height: 50px;
    border: 1px solid #efefef;
    width: 100%;

    >.row{
      margin: 0 !important;
      padding: 15px !important;
      .list-inline{
        /*span{
          opacity:@opc-54;
          font-size: 12px;
          font-weight: 400;
        }*/
        h5{
          font-size: 14px;
          word-wrap: break-word;
          margin-bottom: 0px;
        }
      }
    }
  }
  .list-container-table{
    min-height: 100px;
    border: 1px solid #efefef;
    width: 100%;
    padding: 0px;
    background-color: #ffffff;
    .nav-tabs {;
      background-color: #607d8b;
    }
    .tbl-wrapper{
      margin-top: 20px;
      table tr td{
        background-color: white;
        padding-top: 5px;
        padding-bottom: 2px;
      }
      table .group td {
        background-color: #efefef;
      }
    }
  }
}

.dynamic-add-btn{
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 50%;
  padding: 2px;
  i{
    font-size: 11px !important;
  }
}
.selectPicker-list{
  transition: all 0.2s linear;
}
.selectPicker-list:hover{
  background-color: #efefef;

}

.avatar{
  width: 30px;
  height: 30px;
}

.btn-tab2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #fafafa;
  li {
    float: left;
    padding: 15px 31px;
    background: #fff;
    border-top-left-radius: 3px;
    color: rgba(0, 0, 0, 0.54);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 12px;
    font-weight: 500;
    text-transform: @capital;
    border-bottom: 1px solid #DDD;
    margin-bottom: -1px;
    cursor: pointer;
    outline : none;
  }
  .activeBtn{
    color: rgba(66, 165, 245, 0.87);
    font-weight: 400;
    border-bottom: 1px solid white;
  }
}

.bor-radiuslr0{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.tab-list-container{
  .panel{
    border-radius: 0px !important;
    .bor-radiuslr0;
  }
}

.pagination-wrapper{
  padding: 10px 15px;
  height: 40px;
  background-image: none !important;
  background-color: white !important;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.table-list-container {
  border: 1px solid #efefef;
  overflow-x: auto;
  table{
    width: 100%;
  }
  table thead tr:last-child {
    background-color: #efefef;
    th {
      border: none !important;
      padding: 6px 8px 6px 8px !important;
    }
  }
  /*table thead tr:last-child th input,
  table thead tr:last-child th select {
    height: 24px !important;
  }*/
  table thead tr th input.form-control {
    padding: 2px 8px !important;
  }
  /*table thead tr th select.form-control {
    padding: 2px 1px !important;
  }*/
}

.nowrap{
  white-space: nowrap;
}

.pink-wrapper{
  background-color: #F5EDF6;
}

.supertable-footer{
  height: 40px;
  background-image: none !important;
  background-color: white !important;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 15px;
  border-top: 1px solid #DDD;
  position: relative;
  .limit-elem{
    position: relative;
    top:-2px;
  }
  .page-elem{
    position: relative;
    top: -2px;
  }
}

/*===============Common CSS===============*/
h5.heading {
  font: normal normal @font-800 @font-15/normal @font-name;
  color: @black-87;
  //text-transform: uppercase;
  word-wrap: break-word;
}
.break-list{
  li{
    word-wrap: break-word;
  }
}
.flex.userIcon{
  span/*:not(.cardName)*/{
    word-wrap: break-word;
    word-break: break-word;
  }
}
.super-wrapper{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  table tbody td{
    max-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.table-fixed.table-responsive{
  height: 100%;
  table tbody td{
    max-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    input:-moz-read-only {
      background-color: white !important;
    }

    input:read-only {
      background-color: white !important;;
    }
  }
}

.status-danger{
  background: rgba(255, 0, 0, 0.05);
}
.daterangepicker {
  position: absolute !important;
}
.grayscale{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.switch {
  border: 1px solid transparent !important;
}
.switch:focus {
  //border: 1px solid #2196f3 !important;
  background: #2196f3 !important;

}
//.daterangepicker td.in-range.weekend{
//  border-radius: 50% 0 0 50%;
//}

.w500px{
  width: 500px;
  max-width: 500px;
  min-width: 500px;
}
.w400px{
  width: 400px;
  max-width: 400px;
  min-width: 400px;
}
.w300px{
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}
.w277px{
  width: 275px;
  max-width: 275px;
  min-width: 275px;
}
.w250px{
  width: 250px;
  max-width: 250px;
  min-width: 250px;
}

.w200px{
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}
.w175px{
  width: 175px;
  max-width: 175px;
  min-width: 175px;
}
.w160px{
  width: 160px;
  max-width: 160px;
  min-width: 160px;
}
.w150px{
  width: 150px;
  max-width: 150px;
  min-width: 150px;
}
.w130px{
  width: 130px;
  max-width: 130px;
  min-width: 130px;
}
.w125px{
  width: 125px;
  max-width: 125px;
  min-width: 125px;
}
.w120px{
  width: 120px;
  max-width: 120px;
  min-width: 120px;
}
.w115px{
  width: 115px;
  max-width: 115px;
  min-width: 115px;
}
.w100px{
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}
.w90px{
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}
.w103px{
  width: 103px;
  max-width: 103px;
  min-width: 103px;
}
.w75px{
  width: 75px;
  max-width: 75px;
  min-width: 75px;
}
.w60px{
  width: 60px;
  max-width: 60px;
  min-width: 60px;
}
.w50px{
  width: 50px;
  max-width: 50px;
  min-width: 50px;
}
.w25px{
  width: 25px;
  max-width: 25px;
  min-width: 25px;
}

.inl_sno{
  width: 15px;
  min-width: 15px;
  max-width: 15px;
}
.inl_xxs{
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}
.inl_xs{
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}
.inl_s{
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}
.inl_sm{
  width: 65px;
  min-width: 65px;
  max-width: 65px;
}
.inl_tl{
  width: 105px;
  min-width: 105px;
  max-width: 105px;
}
.inl_mp{
  width: 85px;
  min-width: 85px;
  max-width: 85px;
}
.inl_m{
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}
.inl_mm{
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}
.inl_ms{
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}
.inl_mpp{
  width: 125px;
  min-width: 125px;
  max-width: 125px;
}
.inl_l{
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.inl_lp{
  width: 170px;
  min-width: 170px;
  max-width: 170px;
}
.inl_lpp{
  width: 180px;
  min-width: 180px;
  max-width: 180px;
}
.inl_xl{
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}

.inl_xlm{
  width: 350px;
  min-width: 350px;
  max-width: 350px;
}


.inl_xxl{
  width: 550px;
  min-width: 550px;
  max-width: 550px;
}

.modal_sm{
  height: 200px;
}
.firstIndex{
  z-index: 9998;
}

.active-master-tbl{
  background-color: rgba(144,202,249,0.4);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tbl-even{
  background-color: #f3f7f9 !important;
}

.tbl-odd{
  background-color: #fff !important;
}
.tbl-expand-even{
  background-color: #f3f7f9 !important;
}
.master-detail-tbl tbody + tbody{
  border-top: 0px !important;
}

.bor-rad{
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
}

.input-group-addon {
  padding: 0px 12px;
  background-color: rgb(255, 255, 255);
  border: 0px solid #CCC;
  border-radius: 0px;
}
.input-group-addon-border{
  border: 1px solid #dadada !important;
}

.same-row-ul > li{
  margin-top: 15px;
}
#copy_quote_modal{
  .modal-body{
    height: 250px;

  }
  .modal-dialog{
    width: 500px !important;
  }
  .inputIcon{
    i{
      font-size: 15px !important;
    }
  }
}
/**=====DATE PICKER ISSUES============**/
.swap-icon{
  position: absolute;
  top: 25px;
  left: 30px;

}

.text-capitalize{
  text-transform: @capital !important;
}
.overFlowInherit{
  //overflow: inherit !important;
  text-align: center !important;
  padding: 7px 5px 7px !important;
}
.overFlowInheritLeft{
  padding: 7px 5px 7px !important;
}

.text-right{
  text-align: right !important;
}
.highlight{
  font-weight: 700;
}

.bt1-nav-tabs{
  border-top: 1px solid #ddd;
}
.labelDropdown{
  color: rgba(0,0,0,1) !important;
}

.stat{
  position: static;
}

.hyperLink{
  color:@primary-7 !important;
  text-decoration: underline;
  cursor: pointer;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(40, 148, 242, 0.12);
}

/* Track */
::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //background-color: #F5F5F5;
  //border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3F8DEB;
}
.accordian-content{
  border: 1px solid rgba(181, 105, 201, 0.12);
  border-top: none !important;
  padding: 15px;
  //transition: all 0.6s ease;
  //transition-delay: 0s;
  //transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.popover{
    word-wrap: break-word;
}

.br_tabs{
  background-color: rgba(181, 105, 201, 0.12) !important;
  border-top: 1px solid rgba(181, 106, 202, 0.5);
  button{
    height: 30px;
    padding: 6px 34px 5px 7px !important;
  }
  .br_tabs_close{
    position: absolute;
    right: 10px;
    top: 11px;
    font-size: 8px;
  }
}
.tabDefault{
  background-color: rgba(181, 105, 201, 0.12) !important;
}


.fit_picker{
  padding: 3px 6px 3px !important;
}

.activeLocation{
  background-color: #2196f3 !important;
  i{
    color: #fff !important;
  }
}

.pills-tab{
  margin-left: 0px;
  border-bottom: 1px solid #dadada;
  padding-top: 9px;
  padding-bottom: 9px;
  li {
    a {
      border: 1px solid #3f8deb;
      color: black;
      display: block;
      line-height: 27px;
      font-size: 12px;
      border-radius: 25px;
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;
      transition: all .3s linear;
      &:hover{
      background-color: rgba(40, 148, 242, 0.12);
      }
    }
    a.active{
      background-color: #3f8deb;
      color: white;
    }
    a.active{
      background-color: #3f8deb;
      color: white;
    }
    a.active span{

      color: white;
    }
    a.add_doc{
      padding-right: 10px !important;
    }
    span{
      //position: absolute;
      //top: 8px;
      //right: 17px;
      color: black;
      vertical-align: middle;
      font-size: 13px;
    }
  }
  .tabError{
    border: 1px solid #d32f2f;
    color: #d32f2f;
  }
  a.active.tabError{
    background: #E99797 !important;
  }
}
.emptypage_box{
  width: 100%;
  height: auto;
  margin: 2px auto;
  text-align: center;
  padding: 22px;
  background-color: #f6f6f6;
  .head{
    margin: 20px;
    font-size: 15px;
    text-align: center;
    color: rgba(0,0,0,0.8);
  }
  .emptypage_icon{
    font-size: 35px !important;
    color: #555555 !important;
    opacity: 0.5 !important;
  }


}
.roundCardName{
  display: inline-block;
  border-radius: 50%;
  padding: 12px;
  background-color: #efefef;
}

.list_card_section{
  height: 350px;
  overflow-y: auto;
}

.contact_wrapper,
.list_wrapper{
  padding-top: 8px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
  transition: all .5s linear;
  &:hover{
    background-color: rgba(33, 150, 243, 0.02);
  }
  .contact_detail,
  .list_detail{
    padding-left: 10px;
    padding-right: 10px;
    .init_partymaster_name{
      margin-top: -5px;
    }
  }
}
.bor-btm-0{
  border-bottom: 0px !important;
}

.fg-black{
  color:black;
}

.fg-gold{
  color: #C7C426 !important;
}

.activeContact,
.activeList{
  background-color: rgba(33, 150, 243, 0.08);
}

.h650{
  height: 650px;
}

.overflowScroll{
  overflow-x: auto;
}

.hexagonCard  {
  display: inline-block;
  position: relative;
  width: 27px;
  height: 15px;
  background: lightCoral;
  font-size: 14px  !important;
  font-weight: bold !important;
  text-align: center;
  color: white !important;
  text-transform: uppercase;
  top: 4px;
  //right: 8px;
}
.hexagonCardTop {
  position: absolute;
  bottom: 100%;
  left: 0;
  border-bottom: 7px solid lightCoral;
  border-left: 14px solid transparent;
  border-right: 13px solid transparent;
}
.hexagonCardBottom{
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 7px solid lightCoral;
  border-left: 14px solid transparent;
  border-right: 13px solid transparent;
}

.normalCell{
  font-size:12px !important;
}

.smallCell{
  font-size:9px !important;
}

#main-view{
margin-top: 15px;
  >.container-fluid{
    /*margin-top: 15px;*/
  }
  .panel:first-child{
    margin-bottom:0px;
  }
}

table {
  th {
    .reqColor{
      left: 5px;
      position: relative;
      padding-right: 5px;
    }
  }
}

.disabled-box{
display:inline-block;
padding:5px 15px;
height:24px;
cursor: not-allowed;
background-color: #EEE;

    border: 1px solid #dadada;
    border-radius: 3px;
    h6{
    padding-right: 10px;	
    }
}

.autocomplete_group_header{
  + li{
    margin-top: 20px !important;
  }
}

.scroll-y{
  overflow-y: auto;
}

.table-fixed-header{
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: hidden;
  thead{
    tr{
      display: block;
      position: relative;
    }
  }
  tbody{
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 220px;
    min-height: 220px;
  }
}

.table_sm{
  width: inherit !important;
}
.table-inline-nopad,
.table-inline{
  &.responsive-stacked-table{
    thead{
      display: none;
    }
    tr,th,td{
      display: block;
    }
    tr{
      position: relative;
      clear: both;
      td{
        border-top: none;
        border: 1px solid transparent !important;
        -moz-border: 1px solid transparent !important;
        -moz-box-sizing: border-box !important;
        &:first-child{
          border-top: 1px solid #ddd;
          -moz-border-top: 1px solid #ddd;
          -moz-box-sizing: border-box;
          font-weight: bold;
          background-color: #fafafa;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
        }
        &.error-cell{
          background-color: #fc8585 !important;
        }
        &.floattd{
          float: left;
        }
        &.td-action{
          position: absolute;
          top:0;
          right: 0;
        }
        &.clearboth{
          clear: both;
        }
        &.tw25per{
          width: 25%;
        }
        &.tw30per{
          width: 30%;
        }
         &.tw33per{
          width: 33%;
        }
        &.tw35per{
          width: 35%;
        }
        &.tw15per{
          width: 15%;
        }
        &.tw50per{
          width: 50%;
        }
        &.tw66per{
          width: 66%;
        }
        &.tw100per{
          width: 100%;
        }
        .label_table{
          .li{
            &.group_label{
              display: block;
            }
            &.custom_label{
              display: block;
              font-size: 11px !important
            }
          }
        }
      }
    }
  }

}
.table-inline-nopad, .table-inline {
.borderthead {
tr {
 th {
  position: inherit !important;
}
}
}
}
.shade1{
  background-color: @shade1 !important;
}
.shade2{
  background-color: @shade2;
}
.shade3{
  background-color: @shade3;
}

.clear_both{
  clear: both;
}


.efs-control {
  font-size: 18px;
  position: relative;
  display: block;
  padding: 5px;
  cursor: pointer;
  &.efs-control-radio{
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked ~ .efs-control-indicator{
        border: 1px solid #42a5f5;
        &:after{
          display: block;
        }
      }
      &:focus ~ .efs-control-indicator{
        //background: #ccc;
      }
      &:checked:focus ~ .efs-control-indicator{
        //background: #0e647d;
      }
      &:disabled ~ .efs-control-indicator{
        pointer-events: none;
        opacity: .6;
        background: #e6e6e6;
      }
      &:disabled ~ .efs-control-indicator:after {
        background: #7b7b7b;
      }
    }
    .efs-control-indicator {
      position: absolute;
      top: 2px;
      left: 0;
      width: 14px;
      height: 14px;
      background: white;
      border: 1px solid rgba(0,0,0,0.38);
      border-radius: 50%;
      display: block;
      transition: all linear .5s;
      &:after{
        top: 3px;
        left: 3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #42a5f5;
        position: absolute;
        display: none;
        content: '';
        transition: all linear .5s;
      }
    }

  }
  &:hover{
    input ~ .efs-control-indicator{
      //background: #ccc;
    }
    input:not([disabled]):checked ~ .efs-control-indicator{
      //background: #0e647d;
    }
  }

}


.icon-add.txt-white{ color:#fff !important;}
.icon-add.txt-white:focus{ color:#fff !important;}
.btn-green:focus{ color:#ffffff !important;}

.fullscreen {
  width: 100%;
  height: 100%;
}
.text-ellipsis{
  text-overflow: ellipsis;


  white-space: nowrap;
  overflow: hidden;
}

.table-inline-nopad tr td .deleteicon a
{

  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  color:#fff;
  vertical-align: middle;
  border-radius: 2px;
  padding: 3px 5px;

}
.table-inline-nopad tr td .deleteicon li,.table-inline-nopad tr td a.table-linkicon
{
  margin-top: 1PX;
}
.table-inline-nopad tr td a.table-linkicon
{
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  color:#fff;
  vertical-align: middle;
  border-radius: 2px;
  padding: 5px 5px 3px 5px;
  line-height: 25px;
}

.tabContent .panel .panel-heading.bor-btm-0.flexTitle{
  border-bottom: 0!important;
}
.pickupPanels{

  .panel.panel-default{

    .panel-heading{
      height:30px !important;
      &.flex.title{
        //border-bottom: 1px solid #dadada;
        font: normal normal 500 13px / normal 'Roboto', sans-serif;
        background-color: rgba(181, 105, 201, 0.12) !important;
        padding: 7px 15px;
        margin: 0px 0px 15px;
        border-bottom: 1px solid rgba(181, 106, 202, 0.5) !important;
        border-top:none;
        color: rgba(182, 105, 201, 0.87);
        font-size: 13px;
        font-weight: 500;
      }

    }


    .input-group-addon {
      padding: 0px !important;
      //background-color: #E6E6E6;
      border: 1px solid #CCC !important;
      border-radius:0 !important;
      border-right: none !important;
      min-height: 23px !important;
      height: 23px !important;
      min-width: 30px !important;
      width: 30px !important;
    }
    .icon-email{
      font-size: 12px !important;
    }
    .icon-mobile{
      font-size: 17px !important;
      padding: 0 9px !important;
    }
    .icon-phone{
     // font-size: 17px !important;
      padding: 0 5px !important;
    }
    .input-group-addon:not(:first-child):not(:last-child),
    .input-group-btn:not(:first-child):not(:last-child),
    .input-group .form-control:not(:first-child):not(:last-child){
      border-radius:3px;
    }
    &.minH-494{
      min-height: 494px !important;
    }

  }
&.viewPickupPanels {
  .form-group{
    .input-group {
      margin: 0 0 10px 0;

      span{
        border: 1px solid #ccc;
        width: 100%;
        vertical-align: middle;
        display: table-cell;
        padding: 0 10px;
      }

      .input-group-addon{
        padding: 3px 3px !important;
        display: table-cell;
        margin-bottom: 10px;
        min-height: 23px !important;
        height: 23px !important;
        min-width: 30px !important;
        width: 30px !important;

      }
      .icon-user{
        font-size: 13px !important;
        padding: 0 5px;
        font-weight: 600;
      }
      .icon-email{
        font-size: 15px !important;
        padding: 1px 2px 1px 1px !important;
      }
      .icon-mobile{
        font-size: 14px !important;
        padding: 0 7px !important;
      }
      .icon-phone{
        font-size: 13px !important;
       padding: 0 5px !important;
      }

  }


}


}

}

.mtb-5{
  margin: 5px 0 !important;
}

.dashboard-bar{
  background-color: #fafafa;
  height: 50px;
  padding: 2px 15px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}

.widget-panel{
  overflow: hidden;
  .panel-body{
    height: inherit;
    overflow-y: auto;
  }
}

.h600px{
  height: 600px;
}
.grid_box{
  width: 100%;
  height: 100%;
  padding: 13px 18px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.2em;
  background-color: #fafafa;
  border-radius: 10px;
  transition: all linear 0.5s;
  margin-bottom: 10px;
  &.active{
    background-color: @accent-btn-bg;
    color: white;
  }
  &:hover{
    background-color: #dadada;
  }
}
.blue-shade{background-color: rgba(33, 150, 243, 0.12);}
.cirlce-img{
  display:inline-block;
  width:35px;
  height:35px;
  img{
    width:100%;
    height:100%;
    border-radius:50%;
  }
}
 .enquiry-icon{margin:0px;padding:0px;width:18px;height:18px;background:url(../../images/enqury.png) no-repeat !important;float:left;}
 
.vmiddle {vertical-align: middle !important;}


.dropdown-menu {
   z-index:9999 !important;
}








/*ManiKandan vertical-tab-designs*/

.sky-tabs {
	position: relative;
	font-size: 0;
	text-align: left;
	color: #666;
}
.sky-tabs > input {
	position: absolute;
	display: none;
}
.sky-tabs > label {
	position: relative;
	z-index: 1;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 1px;
	padding-top: 0;
	padding-left: 0;
	font-size: 13px;
	line-height: 45px;
	cursor: pointer;
}
.sky-tabs > label.inverse {
	float: right;
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs > label.disabled {
	cursor: default;
}
.sky-tabs > label span {
	display: block;

	background:#d2effe;
}
.sky-tabs > label span span p{
	padding: 12px 20px;
	background: transparent;
	transition: background 0.4s, color 0.4s;
	-o-transition: background 0.4s, color 0.4s;
	-ms-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	-webkit-transition: background 0.4s, color 0.4s;	
}
.sky-tabs > label span span p{color:#000;}


.sky-tabs > label:hover span span p{
	background: #2da5da;
	color: #fff;	

}

.sstab{padding-left:0px ; padding-right:0px important;}

.sky-tabs > label.disabled span span {
	background: transparent;
	color: inherit;
}
.sky-tabs > input:checked + label {
	cursor: default;
}
.sky-tabs > input:checked + label span span p{
	background: #2da5da;
    color: #fff;
}
.sky-tabs > .switcher {
	display: none;
}
.sky-tabs > .switcher a {
	display: block;
	margin: 0 -20px;
	padding: 0 20px;
	text-decoration: none;
	color: inherit;
}
.sky-tabs > ul {
	list-style: none;
	position: relative;
	display: block;
	font-size: 13px;
}
.sky-tabs > ul > li {
	position: absolute;
	min-height:280px;
	top: 0;
	left: 0;
	width: 100%;
	overflow: auto;
	padding:20px 25px 25px;
	background:#f3f7f9;
	border-bottom:1px solid  #ccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: opacity 0.8s, -o-transform 0.8s;	
	-ms-transition: opacity 0.8s, -ms-transform 0.8s;	
	-moz-transition: opacity 0.8s, -moz-transform 0.8s;	
	-webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}
.sky-tabs > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9 {
	position: relative;
    z-index: 1;
    opacity: 1;
}


/**/
/* positions */
/**/


.sky-tabs-pos-top-center {
	text-align: center;
}
.sky-tabs-pos-top-right {
	text-align: right;
}
.sky-tabs-pos-top-right > label {
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs-pos-top-justify > label {
	padding-right: 0;
	padding-left: 1px;
}

.sky-tabs-pos-left > label,
.sky-tabs-pos-right > label {
	display: block;
	width: 20%;
	float: left;
	clear: left;
	margin-right: 0;
	margin-bottom:-7px;
}
.sky-tabs-pos-right > label {
	float: right;
	clear: right;
}
.sky-tabs-pos-left > ul {
	margin-left: 20%;
}
.sky-tabs-pos-right > ul {
	margin-right: 25%;
}
.sky-tabs-pos-right > label {
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs-pos-top-center > ul > li,
.sky-tabs-pos-top-justify > ul > li {
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
}
.sky-tabs-pos-right > ul > li,
.sky-tabs-pos-top-right > ul > li {
	-o-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%;
}



/**/
/* pad */
/**/
@media screen and (max-width: 1000px) {
	.sky-tabs > label span span {
		padding: 0 15px;
	}
	.sky-tabs > label .fa {
		margin-right: 10px;
		margin-left: -5px;
	}
}


/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	
	.sky-tabs .grid-col,
	.sky-tabs .grid-col:first-child {
		float: none;
		width: 100%;
		margin: 20px 0 0 0;
	}
	
	.sky-tabs-response-to-stack > label {
		display: block;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		text-align: left;
	}
	.sky-tabs-response-to-stack > ul {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.sky-tabs-response-to-stack > ul > li {
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-webkit-transform-origin: 50% 0%;
	}
	.sky-tabs-response-to-stack.sky-tabs-anim-flip > ul > li {
		-webkit-transform: rotateX(-90deg);
	}
	
	.sky-tabs-response-to-icons > label {
		font-size: 0;
	}
	.sky-tabs-response-to-icons > label .fa {
		width: 45px;
		margin: 0;
		font-size: 16px;
	}
	.sky-tabs-response-to-icons > label span span {
		padding: 0;
	}
	.sky-tabs-response-to-icons.sky-tabs-pos-left > label,
	.sky-tabs-response-to-icons.sky-tabs-pos-right > label {
		width: 56px;
	}
	.sky-tabs-response-to-icons.sky-tabs-pos-left > ul {
		margin-left: 56px;
	}
	.sky-tabs-response-to-icons.sky-tabs-pos-right > ul {
		margin-right: 56px;
	}
	
	.sky-tabs-response-to-switcher > label {
		display: none;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		text-align: left;
	}
	.sky-tabs-response-to-switcher > .switcher {
		display: block;
	}
	.sky-tabs-response-to-switcher:hover > label {
		display: block;
	}
	.sky-tabs-response-to-switcher:hover > .switcher {
		display: none;
	}
	.sky-tabs-response-to-switcher > ul {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.sky-tabs-response-to-switcher > ul > li {
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-webkit-transform-origin: 50% 0%;
	}
	.sky-tabs-response-to-switcher.sky-tabs-anim-flip > ul > li {
		-webkit-transform: rotateX(-90deg);
	}
}
md-radio-button {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    margin-bottom: 16px;
    margin-right: 10px;
    position: relative;
    white-space: nowrap;
}

md-radio-button .md-off, md-radio-button .md-on {
    border-radius: 50%;
    box-sizing: border-box;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
}

/*Mani end vertical-tab-designs*/
 
/*Shankar end vertical-tab-designs*/ 
.done-approve {
	background:#6db68c !important;
}
.done-approve-text {
	color:#fff !important;
}
.not-done-approve {
	background:#afdbff !important;
}
.table {
    margin-bottom: 10px;
}
    
/*Shankar end vertical-tab-designs*/

.disabled-div {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}












/*manikandan multiply tab css added*/

.board{
width:100%;
margin:0px auto;
height: auto;
background:none !important;

/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabsss {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 0px auto;
    height:90px;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
   
    background-size: 30%;
    background:#fff;
    border-bottom:1px solid #ccc;
}
.ddd{ border-bottom:1px solid #ccc !important;}
    
p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 5px;
    background: #ddd;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;

}

.nav-tabsss > li.active > a, .nav-tabsss > li.active > a:hover, .nav-tabsss > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
   
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 49px;
    height: 49px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid #ddd;
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #2196f3;
    color: #2196f3;
}

span.round-tabs.two{
   color: rgb(34, 194, 34);border: 2px solid #ddd;
}

li.active span.round-tabs.two{
    background: #fff !important;
   border: 2px solid #2196f3;
    color: #2196f3;
}

span.round-tabs.three{
   color: rgb(34, 194, 34);border: 2px solid #ddd;
}

li.active span.round-tabs.three{
    background: #fff !important;
   border: 2px solid #2196f3;
    color: #2196f3;
}

span.round-tabs.four{
   color: rgb(34, 194, 34);border: 2px solid #ddd;
}

li.active span.round-tabs.four{
    background: #fff !important;
   border: 2px solid #2196f3;
    color: #2196f3;
}


span.round-tabs.five{
   color: rgb(34, 194, 34);border: 2px solid #ddd;
}

li.active span.round-tabs.five{
    background: #fff !important;
   border: 2px solid #2196f3;
    color: #2196f3;
}


span.round-tabs.six{
   color: rgb(34, 194, 34);border: 2px solid #ddd;
}

li.active span.round-tabs.six{
    background: #fff !important;
   border: 2px solid #2196f3;
    color: #2196f3;
}

.nav-tabsss > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabsss > li {
    width: 16%;
    float: left;

}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 40%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.nav-tabsss > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.nav-tabsss > li.active:after {
    content: " ";
    position: absolute;
    left: 39%;
   opacity:1;
    margin: 20px auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #42a5f5;
    
}
.nav-tabsss > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabsss > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
   padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}




@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabsss > li a {
width: 50px;
height: 50px;
line-height:50px;
}


.nav-tabsss > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}



.rules{font-size:18px !important; margin-top:-10px !important;}
.fil-name{margin-top:-20px; font-size:12px;color:#272727 !important;  }
.top-color{background:#fafafa;}
 

.m-15{margin-top:-20px !important;}
.mt18px{
  margin-top: 20px !important;
}



/*Shankar end vertical-tab-designs*/



.main-tab {
	/*centering*/
	display: inline-block;
	box-shadow:none;
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
	margin: 10px 0 5px;border: 1px solid #bad0db;
}

.main-tab a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.main-tab a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.main-tab a:first-child:before {
	left: 14px;
}
.main-tab a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.main-tab a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.main-tab a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.main-tab a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow:
	
	1px -1px 0 1px rgba(0, 0, 0, 0.4),
	2px -3px 0 2px rgba(255, 255, 255, 0.1);
	 
		
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.main-tab a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.main-tab a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background:linear-gradient(#444, #222);
	font-weight:normal !important;color:#000;
	padding: 0 5px 5px 6px;
}


.flat a, .flat a:after {
	background:#ebebeb;
	color: black;
	transition: all 0.5s;
	
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: #2196f3;color:#fff;
}

.spit-icon a:hover, .spit-icon a.active{color:#fff !important;}
.drive-line{margin:0px !important;}





/*Shankar end vertical-tab-designs*/



.main-tab {
	/*centering*/
	display: inline-block;
	box-shadow:none;
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
	margin: 10px 0 5px;border: 1px solid #bad0db;
}

.main-tab a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.main-tab a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.main-tab a:first-child:before {
	left: 14px;
}
.main-tab a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.main-tab a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.main-tab a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.main-tab a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow:
	
	1px -1px 0 1px rgba(0, 0, 0, 0.4),
	2px -3px 0 2px rgba(255, 255, 255, 0.1);
	 
		
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.main-tab a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.main-tab a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background:linear-gradient(#444, #222);
	font-weight:normal !important;color:#000;
	padding: 0 5px 5px 6px;
}


.flat a, .flat a:after {
	background:#ebebeb;
	color: black;
	transition: all 0.5s;
	
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: #2196f3;color:#fff;
}

.spit-icon a:hover, .spit-icon a.active{color:#fff !important;}
.drive-line{margin:0px !important;}



input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset !important; /* Change the color to your own background color */
}

	input[type="text"]:-webkit-autofill {
	-webkit-text-fill-color: black !important;
	}

.flight-small-icon{margin:0px;padding:0px;width: 27px;height: 27px;background-image:url('/assets/images/flight-icons-small.png');position:absolute;top:-2px;left:100%;z-index:9999;}

.progress-indicator>li small{font-size:100% !important;}




.nav01 {
    background: #eef1f6;
    height: 40px;
    display: inline-block;
    border-radius:0px;margin: 10px;
}
 
.nav01 ul li {
    float: left;
    list-style-type: none;
    position: relative;
}
.nav01 ul li a {
    font-size: 14px;
    color:#666;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    border-left: 1px solid #dee0e2;
    font-family:roboto;
   outline: medium none;
}
.nav01 ul li a:hover {
    background-color: #2196f3;
    color:#fff;
    height: 40px;
}

.nav01 ul li a.active {
    background-color: #2196f3;
    color:#fff;
    height: 40px;
}

.nav01 ul li a.nonactive {
    background-color: #eef1f6;
    color:#666;
    height: 40px;
}
.nav01 ul li a:hover i
{

  font-size: 13px;
    color:#666 !important;;
    outline: 0 !important;
}


.nav01 ul li a.active i {

  font-size: 13px;
    color:#fff !important;
    outline: 0 !important;
}

.track-left {
text-align:left;
}

.main-text{width:100%;float:left;height:auto;}
.small-tip{width:50%;float:left;text-align:right;color:#fff;height:auto;background: #324148 none repeat scroll 0 0;}
.small-tipright{width:50%;float:left;color:#fff;height:auto;background: #324148 none repeat scroll 0 0;white-space: nowrap;}

.small-t{width:auto;float:left;white-space: nowrap;background: #324148 none repeat scroll 0 0;}
.texss{text-align:left;}
.texss1{text-align:right;}

.costom-table{width:auto;float:left;background:#324148;height:50px;}
.right-align{text-align:right;overflow:auto;
    white-space: nowrap;width:50px;overflow-wrap: break-word;}
.left-align{text-align:left;overflow:auto;
    white-space: nowrap;width:50px;overflow-wrap: break-word;}



.box-win{border:solid 1px #ccc;height:200px;width:100%;}
.box-border{
    float:left;
    padding-bottom: 10px;width:100%;}
    
.winn-text{background:#455a64;
    clear: both;
    padding: 8px;
    text-align: center;margin:0px;color:#fff;}    

.ui-b-autocomplete-loading {
    background: url(/assets/images/autocomplete-loader.gif) no-repeat right center;
    z-index: 9999;
}

.map-point{background-color:#d5d5d4;
    border-top: 1px solid rgba(181, 106, 202, 0.5);
    color:#666;
    font:normal 13px "Roboto", sans-serif;
    margin-top:5px;
    padding: 0;
    float: left;
    width: 100%;}
.rigt-pont{float: right;
    margin-top: 5px;}
    

.rigt-pont i{font-size:20px !important;}





/* Manikandan Added 26-5-2017 */

.rotate-y{transform: rotateY(180deg) !important;}

.tooltip-inner {
    max-width: 750px !important;
    /* If max-width does not work, try using width instead */
    width:auto !important;; 
}
.bg-white{background:#fff !important;}
.bg-ash{background:#eef1f5 !important;}
.border-rights{width: 1px;
    height: 120px;
    background: #ccc;
    float: left;
    margin-left:25px;}
.bor-1px {
    background: #eaecef;
    padding: 5px 16px;
    text-align: center;
    border-radius: 50px;
    margin-top: 40px;
    position: absolute;
    left: 17px;
}
/* Manikandan Added */

 .whitetablehead thead tr th { background: #fff !important; border-bottom: 1px solid #fff !important;}
 .f5{background-color: #f5f5f5 !important}
.whitetablehead > thead > tr:last-child > th {background-color: #f5f5f5 !important}

.nobor_bott{border-bottom: 1px solid #fff !important;}
 .nobor_top{border-top: 1px solid #fff !important;}
 
 .table-inline > thead > tr > th {border-bottom: 1px solid #fff !important; }
.table-inline1 > thead > tr > th {
    padding: 6px 7px !important;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #fff !important;}
   
   
   
 .marleft45{margin-left: 45px;}

 
 
 
 /*Report Builder Css Code Somesh Added */
.blue_active{background-color: #e5f0ff; } 
.blue_light{background-color: #f1f1f1; } 
td.verticalaln{padding: 5px !important;}
.borderbott{border: 1px solid #ececec;}
.padlef0{padding-left: 0px; }
.padlef20{padding-left: 34px !important;}
.padlef40{padding-left: 60px !important;}
.padlef60{padding-left: 86px !important;}
.padlef80{padding-left: 112px !important;}
.padlef110{padding-left: 138px !important;}
.w266{width: 266px;}
.floatleft{float:left}
.no-border{border:none !important}
 
.attachborder {    border: 1px solid #dadada;
    border-radius: 3px;
    padding: 0px 8px;
    overflow-y: scroll;
    height: 40px;}
    
.pl15{
  padding-left: 15px !important;
}
.mt23 {
  margin-top: 23px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.backheader{background-color: rgba(219, 219, 219, 0.1) !important; border-top: 1px solid rgba(255, 255, 255, 0.5)!important;}
 .backheadtext{color: rgba(107, 107, 107, 0.9)!important;;}
 
 .boredrbackwhite{background-color: #fff !important;
border-top: 1px solid #fff !important;
 }
 .pb25{
  padding-bottom: 25px !important;
}

 .mt3{
  margin-top: 3px !important;
}
.bbcolor{width: 18px;
height: 24px;
background-color: #f7d801;
margin-left: 5px;
margin-top: 23px;
}
.bbcolor1{width: 18px;
height: 24px;
background-color: #5ef800;
margin-left: 13px;
margin-top: 23px;
}
.pll0{
  padding-left: 10px !important;
}

.borderclass{width: 32px;
height: 32px;
padding: 2px !important;
float: left;
margin-right: 4px;
background-color: #fff;
border: 1px solid #e7e7e7;
cursor: pointer;


}

.borderimg{width: 31px;
height: 31px;
padding: 0px 6px 6px 0px;
}

.img100per {width: 100%; height: 100%;}
.w90px{
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}
.mlr20px{
  margin-left: 20px !important;
    margin-right: 20px !important;
}
.mr5{
  margin-right: 5px !important;}
  
  .pb20{padding-bottom:20px}
  
  
  
 .inlinetable{
  
  display: none;
  
}
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.w20px{
  width: 25px;
  max-width: 25px;
  min-width: 25px;
}


.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #3F8DEB;
    color: #fff;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}


.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.mt46 {margin-top: -46px;}



.floatThead-containers{overflow: hidden !important; 
	position: fixed !important;
	margin-top: 0px !important;
	z-index: 1001 !important;
	width: 882px !important;
}
.floatThead-table{border-collapse: collapse;
display: table !important;
margin: 0px !important;
border-bottom-width: 0px !important;
table-layout: fixed !important;
width: 99.3% !important;


}
.disppp{display:none;}
.wfm170{width: 170px;
float: left;
margin-left: 10px;
}
.wfm120{width: 120px;
float: left;
margin-left: 10px;
}
.wfm85{width: 85px;float: left;margin-left: 10px;}
.wfm283{width: 283px;float: left;margin-left: 10px;}
.borderthead {

  position: inherit !important;
}



.new-shade{
border-radius:3px !important;
border:1px solid #dadada !important; 
background:#fafafa !important;
min-height: 220px !important;
height:220px !important; font-size:12px;
line-height:25px; overflow:auto;}
