/*====================================== MAIN LAYOUT CSS ======================================*/
header {
  width: 100%;
  height: @navbarheight;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  .flex;
  .align-justify;
  .align-middle;
  background: -webkit-linear-gradient(to right, @theme1-start-color 0%, @theme1-end-color 100%);
  background: -moz-linear-gradient(to right, @theme1-start-color 0%, @theme1-end-color 100%);
  background: -o-linear-gradient(to right, @theme1-start-color 0%, @theme1-end-color 100%);
  background: linear-gradient(to right, @theme1-start-color 0%, @theme1-end-color 100%);
  z-index: 6;
  > div{
    flex: 1 0 0;
  }
  .leftbar {
    .iconbar{
      padding-left: 17px;
      padding-right: 28px;
    }
    ul.breadcrumbMenu {
     li:first-child {
        a {
          opacity: 1;
          padding-left: 0px;
        }
       a::before {
         content: "";
         .nopadding;
       }
      }
      a{
        opacity: .5;
        &:hover, &:focus {
          color: @white;
          text-decoration: none;
        }
      }
      a::before {
        font-family: 'icomoon';
        content: "\e90e";
        padding-right: 15px;
        padding-left: 15px;
        font-size: 8px;
        color: #fff !important;
        position: relative;
        top: -2px;
      }
    }
  }
  .iconBar {
    flex: 0 1 150px;
    border-right: 1px solid rgba(255,255,255,0.2);
    a {
      padding: 22px 15px;
      &:hover {
        background-color: #977EBD;
      }
    }
    i {
      position: relative;
      display: inline-block;
      .badge {
        width: 12px;
        height: 12px;
        background-color: #ffd54f;
        border: 2px solid #ad75d0;
        position: absolute;
        right: -5px;
        top: -3px;
        padding: 2px;
        border-radius: 50%;
        display: block;
      }
    }
  }
  .rightbar {
    .userInfo {
      position: relative;
      flex: 0 0 204px;
      padding-left: 16px;
      padding-right: 17px;
      .user-profile-cls {
        span:first-child{
          color: rgba(255, 255, 255, 0.7);
          font-size: @font-12;
          font-weight: @font-400;
        }
        span:last-child{
          color: @white;
          font-size: @font-14;
          font-weight: @font-400;
        }
      }
    }
    .TasksMenu {
      flex: 0 1 56px;
      text-align: center;
      background-color: #455a64;
      a {
        min-width: 56px;
        padding: 22px 0;
      }
    }
    .dropdown-menu {
      width: 100%;
      left: 0 !important;
      top: 48px;
      margin-top: 16px;
      z-index: 99999999;
    }
  }
  a {
    display: inline-block;
    color: @white;
    cursor: pointer;
    i {
      color: @white;
    }
  }
  i span {
    color: #fff;
    font-size: 20px;
    position: relative;
    display: inline-block;
  }
}
