/**
1. Login Screen
1.1 Login Menu
2. Header
3. Sidebar
4. Sidebar Menu
5. Container Layout
6. List Container
7. Detail Container
**/

/*=====================SECTION-1 Login Screen=========================*/
/*login page*/
.credentialsBg{
  background: url(@auth-bg) no-repeat center center/100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
}
.credentials {
  .credentialsBg;
  .credentials-panel {
    position: relative;
    top: 13%;
    width: 379px;
    margin: auto;
    text-align: center;
    z-index: 9999;
    .login, .auth-box {
      padding: 28px 15px 20px;
      background-color: #eee;
      .border-radius-properties(4px);
      p {
        a{
          color: #494949;
          font-family:@roboto-regular;
          font-size: @font-13;
          font-weight: 400;
        }
      }
    }
    .error-element {
      margin-left: 39px;
      text-align: left;
    }
    .fsl-logo {
      margin-bottom: 77px;
      text-align: center;
    }
    input {
      height: 42px !important;
      border: 0px;
      .border-radius-properties(4px);

    }
    [class*="icon-"] {
      color: #000;
      font-size: 18px;
    }
    .btn {
      height: 42px;
      .border-radius-properties(4px);
      font-family: @font-name;
      font-size: 13px;
      font-weight: 500;
      line-height: 14px;
      background-image: linear-gradient(to right, #2196f3 0%, #ba68c8 100%) !important;
      border: 0;
      color: #fff;
      transition:0.4s;
      &:hover{
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.83) !important;
        color: #fff;
        background-color: transparent;
        background-position: 0px;
        outline:none;
      }
      &:focus{
        color: #fff;
        background-color: transparent;
        background-position: 0px;
        outline:none;
      }
    }


  }
}
.bootstrap-datetimepicker-widget table td > .btn{
  height: 72px !important;
  &:hover{
    box-shadow: none !important;
  }
  &:focus{
    box-shadow: none !important;
  }
}
.bootstrap-datetimepicker-widget table td >  .btn.btn-primary{
  height: 32px !important;
  background: #D6ACE2;
  border: 1px solid #D6ACE2;
}
//.bootstrap-datetimepicker-widget table td span:hover
.bootstrap-datetimepicker-widget .table-condensed table td > span{
  color: #9F61C9 !important;
}

/*=====================SECTION-1 END Login Screen=========================*/

/*=====================SECTION-1.1 Login Menu =========================*/
.loginMenu {
  padding-left:44px ;
  padding-right: 29px;
  height: 45px;
}
.loginMenu ul li a {
  padding-right: 30px;
  color: #f2f1ff;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}
.loginMenu ul li:last-child a {
  padding-right: 0;
}
/*=====================SECTION-1.1 END Login Menu =========================*/
#wrapper {
  width: 100%;
  height: 100%;
  /*===1. Header===*/
  /* header {
     background: linear-gradient(to right, @theme1-start-color 0%, @theme1-end-color 100%);
     z-index: 9;
     position: fixed;
     left: 0;
     right: 0;
     width: 100%;
     height: @navbarheight;
     .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
       background-color: @theme1-a-hover;
       color: #fff;
     }
     i {
       font-size: @menu-icon-size;
       span {
         color: @white;
         font-size: @font-20;
       }
     }
     .user-profile-cls {
       margin-left: 15px;
       h3 {
         span{
           color: @white;
           font-size: @font-13;
           font-weight: @font-400;
         }
       }
       h5 {
         span {
           color: @white-07;
           font-size: @font-10;
           font-weight: @font-400;
         }
       }
     }
     .navbar {
       border: 0px solid transparent;
       background: transparent;
     }
     .navbar a {
       color: #fff;
     }
     .navbar-brand {
       padding: 22px 0;
     }
     .navbar-brand {
       font-size: 14px;
     }
     .navbar-brand > a.in {
       top: -5px;
       position: relative;
     }
     .navbar-default .navbar-nav > li > a {
       padding: 22px 19px;
       color: #ffffff;
     }
     .navbar-right > li:nth-of-type(4) > a {
       padding: 12px 17px;
       border-left: 1px solid #9F61C9;
     }
     .navbar-right > li:last-child > a {
       background: #25394F;
     }
     .navbar-brand > a {
       padding: 10px 18px;
     }
     .navbar-brand > a:not(:nth-child(2)) {
       border-left: 1px solid #fff;
     }
     .navbar-brand > a:first-child {
       border-left: none !important;
     }
     .badge:empty {
       display: block;
     }
     .navbar-nav > li > a i {
       display: inline-block;
       position: relative;
     }
     .badge {
       width: 12px;
       height: 12px;
       background-color: #ffd54f;
       border: 2px solid #ad75d0;
       position: absolute;
       right: -6px;
       top: 0px;
       padding: 2px;
       border-radius: 50%;
     }
     #myNavbar {
       height: 100% !important;
       > ul {
         height: 100%;
         li {
           height: 100%;
           a {
             height: 100%;
           }
         }
       }
       .hexagon {
         position: relative;
         width: 37px;
         height: 21.36px;
         margin: 6.68px 0;
         background-image: url(http://villasinhosur.com/wp-content/themes/RealEstate/images/dummy/user.jpg);
         background-size: auto 42.7239px;
         background-position: center;
         margin-right: 16px;
       }

       .hexTop,
       .hexBottom {
         position: absolute;
         z-index: 1;
         width: 26.16px;
         height: 26.16px;
         overflow: hidden;
         -webkit-transform: scaleY(0.5774) rotate(-45deg);
         -ms-transform: scaleY(0.5774) rotate(-45deg);
         transform: scaleY(0.5774) rotate(-45deg);
         background: inherit;
         left: 5.42px;
       }

       /!*counter transform the bg image on the caps*!/
       .hexTop:after,
       .hexBottom:after {
         content: "";
         position: absolute;
         width: 37.0000px;
         height: 21.361959960016154px;
         -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-10.6810px);
         -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-10.6810px);
         transform: rotate(45deg) scaleY(1.7321) translateY(-10.6810px);
         -webkit-transform-origin: 0 0;
         -ms-transform-origin: 0 0;
         transform-origin: 0 0;
         background: inherit;
       }

       .hexTop {
         top: -13.0815px;
       }

       .hexTop:after {
         background-position: center top;
       }

       .hexBottom {
         bottom: -13.0815px;
       }

       .hexBottom:after {
         background-position: center bottom;
       }

       .hexagon:after {
         content: "";
         position: absolute;
         top: 0.0000px;
         left: 0;
         width: 37.0000px;
         height: 21.3620px;
         z-index: 2;
         background: inherit;
       }

     }
     .user-profile-cls {
       margin-left: 15px;
     }
     .user-profile-cls h5 {
       color: @white-07;
       font-size: 12px;
       font-weight: 400;
     }
     .user-profile-cls h3 {
       color: white;
       font-size: 16px;
       font-weight: 400;
       margin: 0;
     }
     .navbar-right, .navbar-right li {
       height: 100% !important;
       .dropdown-menu {
         li a {
           color: #000000 !important;
         }
       }
       .icon-nav-cls {
         @newnavbarheight : @navbarheight - 5;
         width: @newnavbarheight !important;
       }
       a {
         height: 100% !important;
         line-height: @navbarheight/2;
         color: #ffffff !important;
       }
       h5 small, h3 small {
         color: white !important;
       }
     }
   }*/
  /*===2. sidebar===*/
  aside {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 65px;
    display: inline-block;
    height: 100%;
    background: @side-bar-color;
    /* ul li {
       width: 56px;
       .flex;
       .flex-col;
       .align-middle;
       a {
         color: #fff;
         display: inline-block;
         transition: all 0.2s ease-in;
         span{
           color: #fff;
           font-size: 20px;
           display: inline-block;
         }
       }
     }*/
    ul li a {
      padding: 10px 18px;
      border-left: 4px solid transparent;
      color: #fff;
      font-size: 20px;
      display: inline-block;
      transition: all 0.2s ease-in;
    }
    ul li a:hover {
      background: #2894F1;
      color: #ffffff;
    }
    ul li a i, span {
      width: 20px;
      font-size: 20px;
      color: @white;
      position: relative;
      display: inline-block;
    }
    ul li:first-child {
      margin-top: 5px;
    }
    //ul li:last-child {
    //  position: absolute;
    //  bottom: 44px;
    //}
  }
  /*===3. Sidebar Menu===*/
  .sidebarMenu, .subMenu {
    position: fixed;
    width: 269px;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.51);
    z-index: 2000;

  }

  .sidebarMenu [class*="icon-"], .subMenu [class*="icon-"] {
    color: @black-09;
    width: 20px;
    font-size: 20px;
  }
  .sidebarMenu ul li a, .subMenu ul li a {
    position: relative;
    display: block;
    padding: 12px 0px;
    padding-right: 0;
    color: @black-87;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    transition: all 0.2s ease-in;
  }
  .subMenu ul li a {
    padding: 0px 0px;
    border-left: 4px solid transparent;
  }
  .subMenu ul li a span i {
    min-height: 42px;
  }
  .sidebarMenu > ul > li > a:hover {
    background-color: #2196f3;
    color: #fff;
    /*span:last-child {
      background: #2d7ec3;
    }*/
  }
  //.subMenu > ul > li > a:hover{
  //
  //  border-left:4px solid #2196f3;
  //  color: #000;
  //}
  .subMenu > ul > li > a:hover {
    background-color: #2196f3;
    color: #fff;
  }
  .sidebarMenu > ul > li > a > i, .subMenu > ul > li > a > i, .sidebarMenu .menuTitle > a > i,
  .subMenu .menuTitle > a > i {
    padding-left: 17px;
    padding-right: 19px;
    display: inline-block;
  }

  .sidebarMenu > ul > li > a > i{
    width: 57px !important;
  }
  .sidebarMenu > ul > li > a.activeMenu > i {
    width: 53px !important;
    padding-left: 12px;
  }
  .sidebarMenu ul li a b, .subMenu > ul > li > a > span > b {
    color: @white-87;
    font-size: @font-13;
    font-weight: @font-400;
    font-family:@font-name;
    display: inline-block;
    position: relative;
    bottom: 3px;
  }
  .subMenu > ul > li > a > span > b{
    //width: 80%;
  }
  .subMenu > ul > li > a > span > span:last-child{
    font-size: 10px;
    color: @white-87;
  }
  .sidebarMenu > ul > li > a > span:last-child {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.87);
    padding: 20px 24px 18px 13px;
  }
  //.subMenu ul li:first-child a {
  //  font-size: 18px;
  //  border-bottom: 1px solid #000;
  //  padding: 20px 0px;
  //  margin-bottom: 5px;
  //  border-left: none;
  //}
  .sidebarMenu .menuTitle > a,
  .subMenu .menuTitle > a{
    font-size: 18px;
    padding: 13px 0px;
    display: block;
    position: relative;
  }
  /*.sidebarMenu ul li:first-child a {
    font-size: 18px;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    padding: 20px 0px;
  }*/
  //.sidebarMenu ul li:last-child a {
  //  position: absolute;
  //  bottom: 44px;
  //  left: 0;
  //  right: 0;
  //}
  //.subMenu ul li:last-child a {
  //  position: relative;
  //  bottom: auto;
  //}
  /*#layout-container [class="col-xs-8"]{
    padding: 0px !important;
  }*/

  #layout-container{
      margin-left: 60px;
      padding: 10px;
      position: relative;
      padding-top: 68px;
      height: 100%;
      .detail-container {
        padding: 0 0px 0px 12px;
      }
      .list-detail{
        border: 1px solid #ffffff;
        .detail-header {
          .border-radius-properties(5px);
          padding: 9px 15px 5px 15px;
          background-color: #EEEEEE;
          ul {
            margin-top: 10px;
          }
        }
        .detail-main-content{
          padding-top: 20px;
          padding-bottom: 20px;
          background-color: #E4F2FE;
          height: auto;
        }
        .detail-optional-content{
          height: auto;
          background-color: #ffffff;
        }
      }
      .list-operation{
        border: 1px solid #ffffff;
        .detail-header {
          border-radius: 5px;
          padding: 9px 15px 5px 15px;
          background-color: #EEEEEE;
        }
        .detail-main-content {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
      i:not(.defaultProp) {
        font-size: 13px;
        color:@black-07;
        outline: 0 !important;
      }
      .btn-gray i {
        color:@black-07 !important;
      }
      .btn.accent-btn {
        i{
          color: rgb(255, 255, 255) !important;
        }
      }
    }

  #side-bar-wrapper {
    width: @hamburger-width;
    height: 100vh;
    background-color: @side-bar-color;
    position: absolute;
    top: @navbarheight;
    left: 0px;
    overflow: hidden;
    z-index: 100;
    ul:not(#sub-menu-cotainer)>li{
      height: 56px;
      margin-top: 1px;
      >div:not(.sub-main-menu) {
        //padding-left: 18px;
        width: 100%;
        height:100% ;
        a {
          font-size: 22px;
          color: #fff;
          text-decoration: none;
          display: flex;
          flex-direction:row;
          span.menu-icon{
            width: 24px;
            height: 24px;
            margin-left: 16px;
            margin-right: 16px;
            .fa{
              width: 23px;
              font-size: 23px;
            }
          }
          span{
            line-height: 56px;
          }
          span.menu-name{
            margin-left: 14px;
            text-align: left;
            font-size: 14px;
            width: 161px;
            width: 100%;
            border-bottom: 1px solid #405164;
          }
        }
      }
    }
    ul:not(#sub-menu-cotainer)>li:hover{
      background-color: @theme1-sidebar-hover;
    }
    ul:not(#sub-menu-cotainer)>li:last-child{
      position: absolute;
      bottom: 82px;
      width: 100%;
      div:last-child{
        border-bottom: none;
      }
    }

  }
  #side-bar-backdrop,#submenu-bar-backdrop{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
  }
}
.auth-container{
  /*margin: 10% auto;
  width: @auth-container-width;*/
  .auth-box{
    background-color: @theme1-login-color;
    .border-radius-properties(5px);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .auth-content {
    margin-top: 25px;
  }
  .auth-footer{
    padding-top: 17px;
  }
}






/*======= css SUBMENU ======= */
.sub-main-menu {
  position: fixed;
  background-color: #455A64;
  width: 231px;
  height: 100vh;
  top: @navbarheight;
  left: -231px;
  color:white;
  z-index: 101;
  .sub-menu-header{
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    .row div:first-child{
      h4{
        text-transform: uppercase;
      }
    }

    .row div:last-child{
      a{
        font-size: 22px;
        color: #ffffff;

      }
      a:hover{
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
      }

    }
  }
  #sub-menu-cotainer {
    margin-top: 20px;
    & > li {
      height: 40px;
      border-bottom: 1px solid #405164;

    }
  }
}
.sub-main-menu .page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 1px solid rgba(183, 181, 181, 0.48);
  padding: 20px 15px;
}
.page-header a span {
  font-size: 20px;
  color: #D3D7D8;
}
.page-header a span:first-child {
  margin-right: 18px;
}
.menuList {
  padding-left: 15px;
  margin-top: 10px;
}
.menuList a {
  display: block;
  color: #D3D7D8;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  padding: 15px 0;
  cursor: pointer;
}
.menuList a span {
  display: inline-block;
  width: 49%;
}
.menuList a span .fa {
  font-size: 17px;
}
.menuList a span .fa:first-child {
  margin-right: 10px;
}
.menuList a span:last-child .fa {
  float: right;
  position: relative;
  top: 2px;
}
.switch small{
  border-radius: 50% !important;
}
.tableFSl{
  table.table-hover{
    thead{
      tr {
        outline: -webkit-focus-ring-color auto 0px !important;
        outline: -webkit-focus-ring-color auto 0px !important;
        outline-offset: 0px !important;

        &:focus {
          outline: -webkit-focus-ring-color auto 0px !important;
          outline: -webkit-focus-ring-color auto 0px !important;
          outline-offset: 0px !important;
          border: 0px !important;
        }
        background-color: white;
        border-top: 1px solid #efefef;
        border-bottom: 2px solid #efefef;
        th {/*
          color: black;
          font-size: 13px;
          font-weight: 400;*/
          padding: 9px 6px;
          white-space: nowrap;
          border: 1px solid #dadada !important;
        }
      }
    }
    tbody,tfoot{
      tr {
        &:nth-child(even) {
          &:not(.tbl-child-row) {
            background-color: #f3f7f9;
          }
        }
        &.tbl-child-row{
          border:2px solid #efefef;
          background-image: linear-gradient(to top, #f3f3f3 0%, #fdfdfd 100%), linear-gradient(to top, #f6f6f6 0%, #f0f0f0 100%);
        }
        td {
          /*opacity: 0.87;
          color: black;
          font-size: 13px;
          font-weight: 400;*/
          white-space: nowrap;
          padding: 8px 6px;
          border: 1px solid #dadada !important;
          .list-inline{
            i{
              font-size: 1.2rem !important;
            }
          }
          &.success-status {
            color: #3C763D !important;
          }
          .list-inline{
            i{
              font-size: 0.8rem;
            }
          }

        }
      }
    }

  }
}
.modal-body{
  .tableFSl;
}
.masOpertion{
  position: relative;
  .tableFSl;
  >.panel-body:not(.nopadding),
  .include-wrapper{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    > div.row
    {
      margin: 0px;
      padding: 10px 15px 15px 15px;
      border-bottom: 1px solid #efefef;
    }
    .noborder{
      padding-bottom: 10px !important;
      border-bottom:0px !important;
    }
    .list-group {
      border-radius: 0;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
      box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      margin-bottom: 0;
    }
    .list-group > li:last-child {
      border-bottom: 0px !important;
    }
    .tabBox{
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-top: 0px !important;
      .tab-pane{
        padding: 10px;
        table{
          margin-top: 0px;
        }

      }
    }
    //table{
    //  thead{
    //    tr {
    //      background-color: white;
    //      border-top: 1px solid #efefef;
    //      border-bottom: 2px solid #efefef;
    //      th {
    //        color: rgba(0,0,0,0.54);
    //        font-size: 13px;
    //        font-weight: 400;
    //        padding: 9px 6px;
    //        text-transform: capitalize !important;
    //        white-space: nowrap;
    //      }
    //    }
    //  }
    //  tbody{
    //    tr {
    //      &:nth-child(even) {
    //        background-color: #f3f7f9;
    //      }
    //      td {
    //        color: rgba(0,0,0,0.87);
    //        font-size: 13px;
    //        font-weight: 400;
    //        white-space: nowrap;
    //        padding: 8px 6px;
    //        &.success-status {
    //          color: #3C763D !important;
    //        }
    //        .list-inline{
    //          i{
    //            font-size: 1.2rem !important;
    //          }
    //        }
    //
    //      }
    //    }
    //  }
    //
    //}

    /*.icon-r-arrow{
      opacity: 0.7;
    }*/
    /*=====unit mapping container=======*/
    .mappingWrapper{
      padding-bottom: 15px;
      border-bottom: 1px solid #efefef;
      >.row{
        margin: 0px !important;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        .sub-body{
          border-radius: 3px;
          padding: 10px;
          margin-bottom: 10px;
          .row{
            padding-top: 10px;
          }
        }
      }
      label.custom-label{
        //margin-left: 14px;
        //margin-right: 14px;
      }
    }
    /*=====subpanelcontainer===========*/
    .subPanelContainer{
      >.panel-body{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        > div.row {
          margin: 0px;
          padding: 5px 15px 5px 15px;

        }
      }
    }
  }
  .row:last-child {
    border-bottom: 0px !important;
  }
}

.masOpertion .panel-heading,
.subPanelContainer .panel-heading{
  height: 40px;
  background-image: none !important;
  background-color: #fafafa !important;
  padding: 2px 15px !important;

}
/*.masOpertion .panel-heading select,
.subPanelContainer .panel-heading select{
  height: 24px;
  padding: 2px 15px !important;
}*/
.masOpertion .masopertion-action li:last-child,
.subPanelContainer .masopertion-action li:last-child{
  padding-right: 0px !important;
}
.masOpertion > .panel-heading > div:first-child,
.subPanelContainer > .panel-heading > div:first-child {
  float: left;
}
.masOpertion > .panel-heading > div:last-child,
.subPanelContainer > .panel-heading > div:last-child {
  float: right;
  margin-top: 6px;
}

.panel-body{
  position: relative !important;
  padding-bottom: 20px !important;
}
/*/!*login page*!/
.loginBg, .auth-container {
  background: url("../assets/images/login_bg.jpg") no-repeat center center/100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
}
.loginBg .error-element{
  margin-left: 39px;
  text-align: left;
}
.login-panel, .auth-panel {
  position: relative;
  top: 13%;
  width: 379px;
  margin: auto;
  text-align: center;
  z-index: 9999;
}
.login, .auth-box {
  padding: 28px 15px 20px;
  background-color: #eee;
  border-radius: 4px;
}
.login input{
  height: 42px !important;
  border: 0px;
  border-radius: 4px;
}
.login [class*="icon-"] {
  color: #000;
  font-size: 18px;
}
.navbar-brand a > i {
  font-size: 20px;
}
.navbar-nav > li > a i {
  font-size: 20px;
}
.login button {
  height: 42px;
  border: 0px;
  border-radius: 4px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}
.login p a, .auth-box p a, .auth-box p {
  color: #494949;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.login-panel .btn, .auth-container .btn {
  background-image: linear-gradient(to right, #2196f3 0%, #ba68c8 100%) !important;
  border: 0;
  color: #fff;
  transition:0.4s;
}
.login-panel .btn:hover, .auth-container .btn:hover {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.83);
}
.login-panel .btn:hover,
.login-panel .btn:focus{
  color: #fff;
  background-color: transparent;
  background-position: 0px;
  outline:none;
}
.input-group-addon {
  padding: 0px 12px;
  background-color: rgb(255, 255, 255);
  border: 0px solid #CCC;
  border-radius: 0px;
}
.input-group-addon-border{
  border: 1px solid #dadada !important;
}
.loginMenu {
  padding-left:44px ;
  padding-right: 29px;
  height: 45px;
}
.loginMenu ul li a {
  padding-right: 30px;
  color: #f2f1ff;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}
.loginMenu ul li:last-child a {
  padding-right: 0;
}*/
.v-align {
  position: relative;
  top: -15px;
}
.v-align > li:last-child {
  position: relative;
  display: inline-block;
  top: -22px;
}

/*DASHBOARD PAGE*/
main {
  padding-right: 0px;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-gray {
  background-color: #fafafa !important;
  background-image: none !important;
}
.bg-lblue {
  background: rgba(33, 150, 243, 0.12) !important;
}
.bg-blue {
  background-color: #2196f3 !important;
}
.bg-darkgray {
  background: #EAEFF2 !important;
}
.bg-lgray{
  background-color: #f2f3f3;
}
.txt-white {
  color: #fff;
}
.txt-blue {
  color: #2196f3;
}
.dashboard a.list-group-item {
  color: #555;
  padding: 16px 18px;
}
.dashboard .icon-v-ellipse {
  color: rgba(0, 0, 0, 0.24);
}
.dashboard .table > tbody + tbody {
  border-top: 1px solid #DDD;
}
.octagon {
  width: 35px;
  height: 30px;
  position: relative;
  top:-6px;
  background-color: #b3da7b;
  outline: none;
}
.octagon:before {
  height: 0;
  width: 35px;
  content: "";
  position: absolute;
  border-bottom: 12px solid #b3da7b;
  border-left: 18px solid white;
  border-right: 17px solid white;
}
.octagon span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  right: 0;
  top: 24%;
  text-align: center;
}
.octagon:after {
  height: 0;
  width: 35px;
  content: "";
  position: absolute;
  border-top: 10px solid #b3da7b;
  border-left: 17px solid white;
  border-right: 18px solid white;
  bottom: -10px;
  left:0px;
}
/*.dashboard select {
  width: auto;
  height: 24px;
  background-color: #2196f3;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding-left: 5px;
  padding-right: 10px;
  outline: none;
}*/
.dashboard .badge {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 700;
  background-color: #ffd54f;
  border-radius: 8px;
}
.dashTasks table > tbody.disable{
  border-left: 4px solid #ffecb3;
  background: rgba(255, 236, 179, 0.12);
}
.dashTasks table > tbody.active{
  border-left: 4px solid #64b5f6;
  background: rgba(100, 181, 246, 0.12);
}
/* The switch - the box around the slider */
.dashboard .switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 20px;
  margin: 0px;
}

/* Hide default HTML checkbox */
.switch input[type="checkbox"] {
  margin: 0;
}
.switch input {
  visibility: hidden;
  display: inline-block;
}
.switch .slider {
  background-color: #2196f3;
}

/* The slider */
.dashboard .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
.dashboard .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #DBDBDB;
}

.dashboard input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.dashboard .switch input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
/* Rounded sliders */
.dashboard .slider.round {
  border-radius: 34px;
}

.dashboard .slider.round:before {
  border-radius: 50%;
}

/*font family*/
.txt-blu{
  color: #2196f3;
}
.txt-blk {
  color: #000 !important;
}
.f-18{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.f-12b4{
  font-size: 12px;
  font-weight: 400;
}
.f-12b5{
  font-size: 12px;
  font-weight: 500;
}
.f-13b-4{
  font-size: 13px;
  font-weight: 400;
  //opacity: 0.87;
}
.f-13b-5{
  font-size: 13px;
  font-weight: 500;
  //opacity: .87;
}
.f-13b4{
  //opacity: 0.87;
  font-size: 13px;
  font-weight: 400;
}
.f-13b5{
  //opacity: 0.54;
  color: black;
  font-size: 13px;
  font-weight: 500;
}
.f-26b4{
  font-size: 26px;
  font-weight: 400;
}
.f-20b4{
  font-size: 20px;
  font-weight: 400;
}
.f-12b7{
  font-size: 12px;
  font-weight: 700;
}
/*CHART CSS*/
.chart-container {
  padding-bottom: 22px;
  display: flex;
}
.chart-container > .chart {
  float: left !important;
  width: 223px !important;
  height: 111px !important;
  position: relative;
  left: -44px !important;
  top: 10px;
}
.chart-legend li span, .bar-legend li span, .line-legend li span, .pie-legend li span, .radar-legend li span, .polararea-legend li span, .doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 11px;
  height: 11px;
  border-radius: 3px;
}
.chart-legend {
  float: left !important;
  position: relative;
  left: -60px;
  top: 30px;
}
span.doughnut-legend-text {
  padding-left: 27px;
}
ul.doughnut-legend > li{
  width: 100% !important;
  display: block;
  margin-bottom: 20px;
}
.dashTasks table tbody tr:first-child td {
  padding-top: 16px !important;
  padding-bottom: 0px !important;
}
.dashTasks table tbody tr:last-child  td {
  padding-bottom: 10px !important;
}
.dashTasks .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 1px 8px;
}
.dashboard .icon-air-plane, .dashTasks .icon-ocean, .recUp .icon-ocean, .recUp .icon-air-plane  {
  color: rgba(69, 90, 100, 0.87);
  font-size: 25px;
}
.dashTasks .icon-air-plane, .dashTasks .icon-ocean, .recUp .icon-ocean, .recUp .icon-air-plane {
  top: 7px;
  left: -2px;
}

.tab-t {
  position: relative;
  top:-10px;
}
.recUp .table-responsive {
  margin-bottom: 15px;
}
.dashboard .panel {
  margin-bottom: 16px;
  border:1px;
}
.dashboard [class*="col-"] {
  padding-right: 9px;
  padding-left: 9px;
}
.padR-14{
  padding-right: 14px !important;
}
.padR-5{ padding-right: 5px !important;}
.padL-14{
  padding-left: 14px !important;
}
.padL-28{
  padding-left: 28px !important;
}
.padL-45{
  padding-left: 45px !important;
}
.pad-35 {

}
.pad-10 {
  padding: 10px !important;
}
.li-r3 {
  margin: 0px;
  li {
    padding: 0;
    font-size: @font-12;
    color: @black-54;
    font-weight: @font-400;
  }
  li:last-child{
    margin-right: 0px;
  }
}
.mr8 {
  margin-right: 8px;
}
.brad-1 {
  border-radius: 100%;
}
.li-mb > li {
  margin-bottom: 8px !important;
}
.li-mb-15 > li {
  margin-bottom: 15px !important;
}
.dashboard .list-group-item {
  border-left: 0;
  border-right: 0;
}
.minH {
  min-height: 360px;
}
.H400px {
  height: 400px;
}
.H350px {
  height: 350px;
}
.txt-l {
  text-align: left !important;
}
.activeMenu {
  border-left: 4px solid #2894f2 !important;
}
.subMenu > ul > li > a > span > b {
  position: relative;
  bottom: 0px !important;
}
.nicescroll-cursors {
  border: 0px !important;
  //width: 5px !important;
}
.msg ul a:last-child ul li .octagon {
  background-color: #aab4fc !important;
}
.msg ul a:last-child ul li .octagon:before {
  border-bottom: 12px solid #aab4fc !important;
}
.msg ul a:last-child ul li .octagon:after {
  border-top: 12px solid  #aab4fc !important;
}
.msg ul a:nth-child(2) ul li .octagon {
  background-color: #fcb2b2 !important;
}
.msg ul a:nth-child(2) ul li .octagon:before {
  border-bottom: 12px solid #fcb2b2 !important;
}
.msg ul a:nth-child(2) ul li .octagon:after {
  border-top: 12px solid  #fcb2b2 !important;
}
/*=============sidebar theme block=================== */
.sidebarMenu, .subMenu {
  background: #455a64 !important;
}
.sidebarMenu ul li a, .subMenu ul li a, .sidebarMenu .menuTitle a,.subMenu .menuTitle a  {
  color: #fff !important;
}
.sidebarMenu .menuTitle > a, .subMenu .menuTitle > a {
  border-bottom: 1px solid rgb(132, 132, 132) !important;

}
.sidebarMenu ul li a span, .subMenu ul li a span, .sidebarMenu .menuTitle a span, .subMenu .menuTitle a span {
  color: #fff !important;
}

.detail-container{
  i:not(.defaultProp){
    color: black;
  }
  .detail-transition {
    .list-group-item {
      border: 0px;
    }
  }
  >.panel{
    .panel-heading ul li {
      padding-left: 2px;
      padding-right: 2px;
      a {
        border-radius: 2px;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0);
        padding: 4px;
        i {
          font-size: 1.215vw !important;
          color: rgba(0, 0, 0, 1);
          outline: 0 ;
          top: 2px;
          position: relative;
        }
        &:focus, &:hover {
          background: radial-gradient(#fff, rgba(128,128,128,0.08));
          border: 1px solid rgba(0, 0, 0, 0.08);
          padding: 4px;
        }
      }
    }

  }
  .list-group-item{
    border-left: none !important;
    border-right: none !important;
  }
  /*table.table-hover{
    thead{
      tr {
        outline: -webkit-focus-ring-color auto 0px !important;
        outline: -webkit-focus-ring-color auto 0px !important;
        outline-offset: 0px !important;
        &:focus {
          outline: -webkit-focus-ring-color auto 0px !important;
          outline: -webkit-focus-ring-color auto 0px !important;
          outline-offset: 0px !important;
          border: 0px !important;
        }
        background-color: white;
        border-top: 1px solid #efefef;
        border-bottom: 2px solid #efefef;
        th {/!*
          color: black;
          font-size: 13px;
          font-weight: 400;*!/
          padding: 9px 6px;
          text-transform: capitalize !important;
          white-space: nowrap;
        }
      }
    }
    tbody{
      tr {
        &:nth-child(even) {
          &:not(.tbl-child-row) {
            background-color: #f3f7f9;
          }
        }
        &.tbl-child-row{
          border:2px solid #efefef;
          background-image: linear-gradient(to top, #f3f3f3 0%, #fdfdfd 100%), linear-gradient(to top, #f6f6f6 0%, #f0f0f0 100%);
        }
        td {
          /!*opacity: 0.87;
          color: black;
          font-size: 13px;
          font-weight: 400;*!/
          white-space: nowrap;
          padding: 8px 6px;
          .list-inline{
            i{
              font-size: 1.2rem !important;
            }
          }
          &.success-status {
            color: #3C763D !important;
          }
          .list-inline{
            i{
              font-size: 0.8rem;
            }
          }

        }
      }
    }

  }*/
  .detail-view .row:not(.listPanel-row){
    margin: 0 !important;
    padding: 15px !important;
    &:not(:first-child){
      border-bottom: 1px solid #dadada;
    }
    //    &.noborder{
    //      border-bottom: 0px !important;
    //    }
    &.tableBox{
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-top: 0px !important;
      /*table{
        padding: 0 5px;
        border: 1px !important;
        margin-top: 5px !important;
        thead {
          background: transparent;
          th {
            border: 1px solid #dadada !important;
            padding: 3px 8px !important;
          }
        }
        tbody {
          td {
            border: 1px solid #dadada !important;
            padding: 3px 8px !important;
          }
        }

      }*/
    }
    &.tabBox{
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-top: 0px !important;
      .tab-pane{
        padding: 10px;
        table{
          margin-top: 0px;
        }

      }
    }
  }
  .panelTitle span{
    font-size: @font-18;
    color: @black-54;
    font-family: 'Roboto-light';
    padding-left: 5px;
  }
  >.panel >.panel-body:not(.logs-body){
    padding: 0px;
  }
  //>.panel >.panel-body .logs-body{
  //  padding-top: 15px;
  //  padding-bottom: 15px;
  //}
  .panel-heading .list-inline li span{
    font-size: 14px;
  }
}
.logs-body{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.detail-container .logs-view,
.masOpertion .logs-view{
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 75%;
  z-index:10;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.logs-view{
  .panel{
    height: 100%;
    margin-bottom: 0px;
  }
}
.sub-header{
  background-color: #efefef;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  height: 31px;
}

.sub-title {
  font: normal normal 500 13px / normal 'Roboto', sans-serif;
  background-color: rgba(181, 105, 201, 0.12);
  padding: 7px 15px;
  margin: 0px 0 15px;
  border-top: 1px solid rgba(181, 106, 202, 0.5);
  color: rgba(182, 105, 201, 0.87);
  font-size: 13px;
  font-weight: 500;
}
.sub-bg-gray{
  background-color: #efefef;
}
.overflow-hidden {
  overflow: hidden;
}
.li-overflow > li {
  overflow: hidden;
}
/*Party Master*/
.title-bar {
  padding: 5px 15px;
}
.wlr-full {
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  width: 100%;
  z-index:9;
}
.t-45 {
  top:45px !important;
}
.custom-dropDwn:before{
  bottom: 95%;
  left: 91%;
}
.custom-dropDwn {
  width: 150px;
  right: 0px !important;
  position: absolute;
  left: auto !important;
}
.event-none {
  pointer-events: none;
}
.r-25 {
  right: 25px;
}
.t-32 {
  top:32px;
}

.pt0 {
  padding-top: 0px !important;
}
.bor-t-0 {
  border-top: 0px !important;
}
.bor-b-0 {
  border-bottom: 0px !important;
}
ul li.tabactive {
  border-bottom: 2px solid #2B669A;
}

.cur-pointer {
  cursor: pointer;
}
.bg-imgtrans {
  background-image: none !important;
}
.visible-hide{
  visibility: hidden;
}
.visible-show{
  visibility: visible;
}
.disp-inherit{
  display: inherit;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pb-2 {
  padding-bottom: 2px !important;
}
.bor-lr-0 {
  border-left:0px !important;
  border-right:0px !important;
}
.f-11{
  font-size: 11px !important;
}
.v-align-txt-top > li {
  vertical-align: text-top !important;
}
.blr-0 > li {
  border-left:0px !important;
  border-right:0px !important;
}
.li-last > li:last-child {
  border-bottom: 0px !important;
}
.li-first > li:first-child {
  border-top: 0px !important;
}

.pad-5 {
  padding: 5px;
}
.brad-20{
  border-radius:20px ;
}
.v-align-top {
  vertical-align: middle;
  position: relative;
  top: 4px;
  padding: 0px !important;
}
.v-align-top > li {
  vertical-align: top !important;
}
.v-align-default {
  vertical-align: inherit !important;
}
.bor {
  border: 1px solid #dadada;
}
.bor1-radius {
  border: 1px solid #dadada;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

}
.tab-tr-bor > tbody > tr {
  border: 1px solid #dadada  !important;
}
.mnegative-15 {
  margin-top: -15px !important;
}
.mt-1{ margin-top: 1px !important;}
.mt-2{ margin-top: 2px !important;}
.mt-3{ margin-top: 3px !important;}
.mt-4 {
  margin-top: 4px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-20 {
  margin-top: 20px !important;
}

.mt-23 {
  margin-top: 23px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.m15{
  margin: 15px;
}
.rb-15 {
  right: 15px;
  bottom: 15px;
}
.r-15 {
  right: 15px;
}
.t-8 {
  top: 8px;
}
.t10px {
  top: 10px !important;
}
.t11px {
  top: 11px !important;
}
.t15px {
  top: 15px !important;
}
.tab-content:not(.remPad) > .active {
  padding: 0;
}
/*.tabBox {
  table {
    thead {
      background: transparent !important;
      th{
        border: 1px solid #dadada !important;
      }
    }
    tbody {
      td{
        border: 1px solid #dadada !important;
      }
    }
  }
}*/
.nav > li > a {
  position: relative;
  display: block;
  padding: 6px 4px;
  font-size: 13px;
}
.tab-th-0 > tbody > tr > td, .tab-th-0 > thead > tr > th {
  border: 0px !important;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.flex-sb {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.f-grow {
  flex: 0 0 15%;
}
.item-center {
  align-items: center;
}
.tab-th-pad > tbody > tr > td, .table > tfoot > tr > td {
  padding: 1px 0px;
}

/*===============Material Layout===============*/
/*========Angular switchery CLASSS=========*/
.switch {
  background: rgba(40, 148, 242, 0.54);
  width: 29px;
  height: 15px;
  border-radius: 10px;
  border: 0px;
  outline: none !important;
}
.switch small {
  background: #FFF;
  box-shadow: none;
  width: 9px;
  height: 9px;
  top: 3px;
  left: 3px;
}
.switch.checked {
  border-color: transparent;
  background: rgba(40, 148, 242, 0.54);
}
.switch.checked small {
  left: 17px;
}
.switch .on{
  top: 15% !important;
  left: 8% !important;
  font-size: smaller;
}
.switch .off {
  right: 11%;
  top: 13%;
  font-size: smaller;
  color: #fff;
}
.switch:focus {
  border: 1px solid #2196f3 !important;
}
/*========NOTICES CLASSS=========*/
.notice {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 8px 16px 7px 18px;
  h5 {
    color: @white;
    font-size: 16px;
    font-weight: 400;
  }
  p {
    color: @white;
    font-size: 13px;
    font-weight: 300;
  }
}
.notice > .close {
  color: @white;
  position: relative;
  right: 0px;
  top: -16px;
  opacity: @opc-1;
}
.notice-warning {
  background: @warning;
}
.notice-info {
  background: @info;
}
.notice-important {
  background-color: @important;
}
.notice-success {
  background-color: @success;
}


/*
input.stan-in {
  color: @primary-5 !important;
  text-shadow: 0px 0px 0px #000;
  -webkit-text-fill-color: @trans !important;
}
input.stan-in::-webkit-input-placeholder{
  text-shadow: none !important;
  -webkit-text-fill-color: initial !important;
}
.stan-in {
  width: 162px;
  height: 24px;
  padding: 4px 8px ;
  opacity: 0.87;
  color: black;
  font-family:'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.stan-in:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.06);
}
.email-success {
  border: 1px solid #66bb6a;
  border-radius: 4px;
}
.email-error {
  border: 1px solid #ef5350;
  border-radius: 4px;
}
.disabled {
  background-color: #ebebeb !important;
  border: 1px solid #dadada !important;
  pointer-events: none !important;
}
.erMsg {
  display: inline-block;
  width: 162px;
  height: 16px;
  text-align: center;
  background-color: @error-4;
  border-radius: 4px;
  opacity: 0.87;
  color: white;
  font-size: 11px;
  font-weight: 400;
  position: relative;
  top: -3px;
}
!*=================BACKGROUND STYLE================*!

!*=================BUTTON STYLE================*!
.btn {
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  background: @primary-5;
  text-transform: uppercase;
  color: #fff;
  outline: 0px;
}
.btn:hover {
  background-color: @primary-7;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.btn-standard {
  padding: 3px 7px 2px;
}
.btn-medium {
  padding: 7px 7px 4px;
}
.btn-big {
  padding: 10px 7px 7px;
}
!*=================Multiselect Buttons STYLE================*!
.btn-multi {
  background-color: @white;
  padding: 7px 7px 4px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  opacity: @opc-87;
  color: @block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-multi:hover {
  background: @white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: @block;
}
.btn-multi:focus {
  background: @primary-5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: @white;
}
!*================LINK STYLE====================*!
a {
  color: #1b7fcc;
  text-decoration: none;
}
a:hover {
  color: #64b5f6;
}
a:focus {
  color: #1b7fcc;
}
a:visited {
  color: #ba68c8;
}
!*================SHOW/Hide STYLE====================*!
.show-hide {
  background-color: @white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
!*================tabbar STYLE====================*!
.tabbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
.tabbar > li > a, .tabbar > li > a:hover {
  border: none;
  border-radius: none;
  color: #000 !important;
  background: #fff;
  border: 1px solid transparent;
  border-bottom: 0;
}
.tabbar > li > a {
  background-color: rgba(0,0,0,0.12);
  color: #000 !important;
  padding: 9px 42px 10px 41px;
}
.tabbar > li.active > a, .tabbar > li > a:hover {
  color: #000 !important;
}
.tabbar > .active {
  background: #fff;
  color: #000;
  border: 0px solid rgba(0, 0, 0, 0.12);
  margin-left: -1px;
  border-bottom: 0px;
  background-color: rgba(0,0,0,0.12);
  border-radius: 3px;
  color: #000;
}
.tabbar > li.active > a, .tabbar > li > a:hover {
  background: rgb(255, 255, 255);
}
.tabbar > li > a::after {
  display: none;
}
!*================Batch and notification STYLE====================*!
.batch {
  display: inline-block;
  background-color: #fece3f;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
}
.notification {
  background-color: #fece3f;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
}
.pagenation-box {
  display: inline-block;
  padding: 10px 15px;
  background: @white;
}
!*================Table STYLE====================*!
.standtable .table {
  margin-bottom: 0;
}
.standtable table tr td {
  width: 1%;
}
.standtable table.table tr td:first-child {
  width: .3%;
}
.standtable .table>thead>tr>th {
  border-bottom: 2px solid #e1e1e1;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  font-weight: 400;
}
thead tr:last-child th {
  border: 0;
  background-color: #f2f2f2;
}
thead tr:last-child th:first-child {
  border-left: 1px;
}
thead tr:last-child th:last-child {
  border-right: 1px;
}
.standtable tbody>tr>td, .standtable thead>tr>th {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 11px 8px 6px;
}
.standtable .table>tbody>tr>td, .standtable .standtable .table>tbody>tr>th, .standtable .table>tfoot>tr>td, .standtable  .table>tfoot>tr>th {
  vertical-align: middle;
  padding:4px 0 4px 8px;
  opacity: 0.87;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.standtable button{
  width: 59px;
  padding: 2px;
  background-color: #e57373;
  border-radius: 3px;
  color: white;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
!*================Calendar STYLE====================*!
.calendar {
  width: 280px;
  height: 481px;
  background: #fff;
}
!*================Radio Button STYLE====================*!
label.text {
  margin-left: 25px;
  position: relative;
  top: -2px;
}
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color; }
.magic-radio + label:before,
.magic-checkbox + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: '';
  border: 2px solid #9c9c9c; }
.magic-radio + label:after,
.magic-checkbox + label:after {
  position: absolute;
  display: none;
  content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {
  cursor: not-allowed; }
.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {
  border: 1px solid #e4e4e4;
  animation-name: none; }
.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {
  border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 3px;
  left: 3px;
  width: 10px;

  height: 10px;
  border-radius: 50%;
  background: #3e97eb;}

.magic-radio:checked + label:before {
  border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }

.magic-checkbox + label:before {
  border-radius: 3px;
  background: #fff;
}

.magic-checkbox + label:after {
  top: 2px;
  left: 6px;
  box-sizing: border-box;
  width: 5px;
  height: 10px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  border: #3e97eb;
  background: #3e97eb; }

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }
*/
///*===============Material Layout===============*/
///*========Commom Layout=========*/
//
//input.stan-in {
//  color: @primary-5 !important;
//  text-shadow: 0px 0px 0px #000;
//  -webkit-text-fill-color: @trans !important;
//}
//input.stan-in::-webkit-input-placeholder{
//  text-shadow: none !important;
//  -webkit-text-fill-color: initial !important;
//}
//.stan-in {
//  width: 162px;
//  height: 24px;
//  padding: 4px 8px ;
//  opacity: 0.87;
//  color: black;
//  font-family:'Roboto', sans-serif;
//  font-size: 13px;
//  font-weight: 400;
//  background-color: white;
//  border: 1px solid #dadada;
//  border-radius: 4px;
//}
//.stan-in:focus {
//  border: 1px solid #2196f3;
//  border-radius: 4px;
//  outline: none;
//  box-shadow: 0 0 8px rgba(33, 150, 243, 0.06);
//}
//.email-success {
//  border: 1px solid #66bb6a;
//  border-radius: 4px;
//}
//.email-error {
//  border: 1px solid #ef5350;
//  border-radius: 4px;
//}
//.disabled {
//  background-color: #ebebeb !important;
//  border: 1px solid #dadada !important;
//  pointer-events: none !important;
//}
//.erMsg {
//  display: inline-block;
//  width: 162px;
//  height: 16px;
//  text-align: center;
//  background-color: @error-4;
//  border-radius: 4px;
//  opacity: 0.87;
//  color: white;
//  font-size: 11px;
//  font-weight: 400;
//  position: relative;
//  top: -3px;
//}
///*=================BACKGROUND STYLE================*/
//
///*=================BUTTON STYLE================*/
//.btn {
//  font-size: 12px;
//  font-weight: 500;
//  border-radius: 4px;
//  background: @primary-5;
//  text-transform: uppercase;
//  color: #fff;
//  outline: 0px;
//}
//.btn:hover {
//  background-color: @primary-7;
//  color: #fff;
//  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
//}
//.btn:focus {
//  background-color: #64b5f6;
//  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
//  outline: 0px !important;
//}
//.btn-standard {
//  padding: 3px 7px 2px;
//}
//.btn-medium {
//  padding: 7px 7px 4px;
//}
//.btn-big {
//  padding: 10px 7px 7px;
//}
///*=================Multiselect Buttons STYLE================*/
//.btn-multi {
//  background-color: @white;
//  padding: 7px 7px 4px;
//  border-radius: 4px;
//  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
//  opacity: @opc-87;
//  color: @block;
//  font-size: 12px;
//  font-weight: 500;
//  text-transform: uppercase;
//}
//.btn-multi:hover {
//  background: @white;
//  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
//  color: @block;
//}
//.btn-multi:focus {
//  background: @primary-5;
//  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
//  color: @white;
//}
///*================LINK STYLE====================*/
//a {
//  color: #1b7fcc;
//  text-decoration: none;
//}
//a:hover {
//  color: #64b5f6;
//}
//a:focus {
//  color: #1b7fcc;
//}
//a:visited {
//  color: #ba68c8;
//}
///*================SHOW/Hide STYLE====================*/
//.show-hide {
//  background-color: @white;
//  border-radius: 3px;
//  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//}
///*================tabbar STYLE====================*/
//.tabbar {
//  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
//  border-radius: 3px;
//}
//.tabbar > li > a, .tabbar > li > a:hover {
//  border: none;
//  border-radius: none;
//  color: #000 !important;
//  background: #fff;
//  border: 1px solid transparent;
//  border-bottom: 0;
//}
//.tabbar > li > a {
//  background-color: rgba(0,0,0,0.12);
//  color: #000 !important;
//  padding: 9px 42px 10px 41px;
//}
//.tabbar > li.active > a, .tabbar > li > a:hover {
//  color: #000 !important;
//}
//.tabbar > .active {
//  background: #fff;
//  color: #000;
//  border: 0px solid rgba(0, 0, 0, 0.12);
//  margin-left: -1px;
//  border-bottom: 0px;
//  background-color: rgba(0,0,0,0.12);
//  border-radius: 3px;
//  color: #000;
//}
//.tabbar > li.active > a, .tabbar > li > a:hover {
//  background: rgb(255, 255, 255);
//}
//.tabbar > li > a::after {
//  display: none;
//}
///*================Batch and notification STYLE====================*/
//.batch {
//  display: inline-block;
//  background-color: #fece3f;
//  padding: 2px 7px;
//  font-size: 12px;
//  font-weight: 700;
//  border-radius: 10px;
//  color: #fff;
//}
//.notification {
//  background-color: #fece3f;
//  width: 10px;
//  height: 10px;
//  border-radius: 100%;
//  display: inline-block;
//}
//.pagenation-box {
//  display: inline-block;
//  padding: 10px 15px;
//  background: @white;
//}
///*================Table STYLE====================*/
//.standtable .table {
//  margin-bottom: 0;
//}
//.standtable table tr td {
//  width: 1%;
//}
//.standtable table.table tr td:first-child {
//  width: .3%;
//}
//.standtable .table>thead>tr>th {
//  border-bottom: 2px solid #e1e1e1;
//  color: rgba(0, 0, 0, 0.54);
//  font-size: 13px;
//  font-weight: 400;
//}
//thead tr:last-child th {
//  border: 0;
//  background-color: #f2f2f2;
//}
//thead tr:last-child th:first-child {
//  border-left: 1px;
//}
//thead tr:last-child th:last-child {
//  border-right: 1px;
//}
//.standtable tbody>tr>td, .standtable thead>tr>th {
//  border: 1px solid rgba(0, 0, 0, 0.12);
//  padding: 11px 8px 6px;
//}
//.standtable .table>tbody>tr>td, .standtable .standtable .table>tbody>tr>th, .standtable .table>tfoot>tr>td, .standtable  .table>tfoot>tr>th {
//  vertical-align: middle;
//  padding:4px 0 4px 8px;
//  opacity: 0.87;
//  color: black;
//  font-family: 'Roboto', sans-serif;
//  font-size: 13px;
//  font-weight: 400;
//  text-transform: uppercase;
//}
//.standtable button{
//  width: 59px;
//  padding: 2px;
//  background-color: #e57373;
//  border-radius: 3px;
//  color: white;
//  font-family: Roboto;
//  font-size: 12px;
//  font-weight: 400;
//}
///*================Calendar STYLE====================*/
//.calendar {
//  width: 280px;
//  height: 481px;
//  background: #fff;
//}
/*================Radio Button STYLE====================*/
label.text {
  //margin-left: 25px;
  position: relative;
  //top: -2px;
}
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }


/*   Magic Check Box New Style   */

.magic-checkbox[type="checkbox"]:not(:checked),
.magic-checkbox[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.magic-checkbox[type="checkbox"]:not(:checked) + label,
.magic-checkbox[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  padding-top: 4px
}

/* checkbox aspect */
.magic-checkbox[type="checkbox"]:not(:checked) + label:before,
.magic-checkbox[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0;
  top: 2px;
  padding: 7px;
  border: 2px solid #aaa;
  background: #ffffff;
  border-radius: 3px;

}
/* checked mark aspect */
.magic-checkbox[type="checkbox"]:not(:checked) + label:after,
.magic-checkbox[type="checkbox"]:checked + label:after {
  content: url("../assets/images/check-box.png");
  position: absolute;
  top: 4px;
  left: 2px;
  padding: 3px 2px 0px 3px;
  height: 14px;
  width: 14px;
  font-size: 11px;
  line-height: 0;
  color: #ffffff;
  transition: all .3s;
  background-color: #3e97eb!important;
  border-radius: 0px;



}
/* checked mark aspect changes */
.magic-checkbox[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.magic-checkbox[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);

}
/* hover style just for information */
.magic-checkbox[type="checkbox"]+label:hover:before {
  border: 2px solid #4778d9!important;
}
.magic-checkbox[type="checkbox"]+label{
  padding: 3px;
}
.magic-checkbox[type="checkbox"]:focus +label:before {
  border: 2px solid #4778d9!important;
}
//.magic-radio,
//.magic-checkbox {
//  position: absolute;
//  display: none; }
//
//.magic-radio[disabled],
//.magic-checkbox[disabled] {
//  cursor: not-allowed; }
//
//.magic-radio + label,
//.magic-checkbox + label {
//  position: relative;
//  display: block;
//  padding-left: 30px;
//  cursor: pointer;
//  vertical-align: middle; }
//.magic-radio + label:hover:before,
//.magic-checkbox + label:hover:before {
//  animation-duration: 0.4s;
//  animation-fill-mode: both;
//  animation-name: hover-color; }
//.magic-radio + label:before,
//.magic-checkbox + label:before {
//  position: absolute;
//  top: 0;
//  left: 0;
//  display: inline-block;
//  width: 16px;
//  height: 16px;
//  content: '';
//  border: 2px solid #9c9c9c; }
//.magic-radio + label:after,
//.magic-checkbox + label:after {
//  position: absolute;
//  display: none;
//  content: ''; }
//
//.magic-radio[disabled] + label,
//.magic-checkbox[disabled] + label {
//  cursor: not-allowed;
//  color: #e4e4e4; }
//.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
//.magic-checkbox[disabled] + label:hover,
//.magic-checkbox[disabled] + label:before,
//.magic-checkbox[disabled] + label:after {
//  cursor: not-allowed; }
//.magic-radio[disabled] + label:hover:before,
//.magic-checkbox[disabled] + label:hover:before {
//  border: 1px solid #e4e4e4;
//  animation-name: none; }
//.magic-radio[disabled] + label:before,
//.magic-checkbox[disabled] + label:before {
//  border-color: #e4e4e4; }
//
//.magic-radio:checked + label:before,
//.magic-checkbox:checked + label:before {
//  animation-name: none; }
//
//.magic-radio:checked + label:after,
//.magic-checkbox:checked + label:after {
//  display: block; }
//
//.magic-radio + label:before {
//  border-radius: 50%; }
//
//.magic-radio + label:after {
//  top: 3px;
//  left: 3px;
//  width: 10px;
//
//  height: 10px;
//  border-radius: 50%;
//  background: #3e97eb;}
//
//.magic-radio:checked + label:before {
//  border: 1px solid #3e97eb; }
//
//.magic-radio:checked[disabled] + label:before {
//  border: 1px solid #c9e2f9; }
//
//.magic-radio:checked[disabled] + label:after {
//  background: #c9e2f9; }
//
//.magic-checkbox + label:before {
//  border-radius: 3px;
//  background: #fff;
//}
//
//.magic-checkbox + label:after {
//  top: 2px;
//  left: 6px;
//  box-sizing: border-box;
//  width: 5px;
//  height: 10px;
//  transform: rotate(45deg);
//  border-width: 2px;
//  border-style: solid;
//  border-color: #fff;
//  border-top: 0;
//  border-left: 0; }
//
//.magic-checkbox:checked + label:before {
//  border: #3e97eb;
//  background: #3e97eb; }
//
//.magic-checkbox:checked[disabled] + label:before {
//  border: #c9e2f9;
//  background: #c9e2f9; }
//
//

/*======================CHIPS STYLE===================*/
.label-info {
  background-color: #ce93d8;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 8px;
  margin-bottom: 5px;
  display: inline-block;
}


/* ==================== CRM 2/5/2016 ================= */
.shadow-none {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
.ptb0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.ptb20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}.ptb15 {
   padding-top: 15px !important;
   padding-bottom: 15px !important;
 }
.padding15 {
  padding: 15px;
}

.plr0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.plr15{
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.bor-btm-1 {
  border-bottom: 1px solid #dadada !important;
}
.li-r10 > li {
  padding-right: 10px;
}
/*.tab-width > thead tr th, .tab-width > tbody tr td {
  width: 1% !important;
}
.tab-border > thead tr th, .tab-border > tbody tr td, .tab-border > tr td, .tab-border > tr th  {
  border: 1px solid #DDD !important;
}
.tfoot-bor0 > tfoot tr td {
  border: 0px !important;
}
table > tfoot tr td {
  padding: 8px !important;
  line-height: 1.42857143;
}
.tab-txthide > td {
  color: transparent !important;
}*/
.padlr-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.tab-empty > tbody tr td {
  empty-cells: show !important;
}
.li-bor-btm1 > li {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
button:focus, .green-btn:focus {
  outline: 0px !important;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2) !important;
}
.accent-btn:focus {
  background-color: #1976d2 !important;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;
}
.plr-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
/*======================= page style ================================*/
.nav-tabs.customTab{
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #ffffff !important;
}
.customTab{
  .btn-tab {
    color: #455a64;
    font-size: 12px;
    font-weight: 500;
    //text-transform: uppercase;
  }
  .active {
    color: white !important;
    background-color: #64b5f6;
  }
  .default{
    background-color: #607d8b !important;
    color: #ffffff !important;
  }
}
/*.nav-tabs.customTab{
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #ffffff !important;
}
.customTab{
  .btn-tab {
    color: #455a64;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .active {
    color: white !important;
    background-color: #64b5f6;
  }
  .default{
   background-color: #607d8b !important;
   //background-color: red !important;
    color: #ffffff !important;
  }
}*/
.page-style{
  .subHeading {
    background-color: #e0e0e0;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    h5{
      color: rgba(0, 0, 0, 0.54);
      font-size: 13px;
      font-weight: 500;
      .nomargin;
    }
  }
  /*.btn-tab {
    color: #455a64;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color:  rgb(124, 161, 179);
  }
  .active {
    color: white !important;
    background-color: #64b5f6;text-transform: uppercase  !important;
  }
  .default{

    background-color:  rgb(124, 161, 179);
    color: #fff !important; text-transform: uppercase;
  }*/
  .fixed-table {
    width: 1000px !important;
  }

  .info {
    background-color: #f1f9ff;
  }
  ul.title {
    padding: 8px 0;
    li{
      color: rgba(0, 0, 0, 0.54);
      font-size: 18px;
      font-weight: 300;
    }
    li:last-child{
      color: rgba(0, 0, 0, 0.87);
    }
  }
  /*h6.subTitle {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 15px;
    padding-top: 25px;
  }*/
  .user-info {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
    padding: 20px 0px 20px;
  }
  /* .table-default {
     background: @white;
     thead:not(.noborder-thead) {
       background: #fff;
       border-bottom: 1px solid rgba(0, 0, 0, 0.12);
       border-top: 1px solid rgba(0, 0, 0, 0.12);
     }
     .noborder-thead{
       background: #fff;
     }
     thead th{
       vertical-align: bottom;
       padding-top: 12px;
       color: rgba(0, 0, 0, 0.54) !important;
       font-size: 13px !important;
       font-weight: 400 !important;
       b {
         color: #78909c;
         font-size: 10px;
         font-weight: 700;
       }
     }
     tbody {
       tr:nth-child(even) {background-color: #f3f7f9;}
       td:first-child {
         text-align: center;
       }
       td {
         vertical-align: middle;
         padding-top: 8px;
         padding-bottom: 8px;
         color: rgba(0, 0, 0, 0.87);
         font-size: 13px;
         font-weight: 400;
       }
     }
     tfoot.bg-danger {
       background-color: rgba(255, 218, 98, 0.4);
       border: 1px solid #dadada;
     }
   }*/
  /* thead th, thead th > label{
     font-size: 13px !important;
   }*/

}
.btn-tab {
  color: #455a64;
  font-size: 12px;
  font-weight: 500;
  //text-transform: uppercase;
  .active {
    color: white !important;
    background-color: #64b5f6;
  }
  .default, .default:hover{
    background-color: #7ca1b3;
    color: #fff;
  }
}
/*.active {
  color: white !important;
  background-color: #64b5f6;
}
.default, .default:hover{
  background-color: #7ca1b3;
  color: #fff;
}*/
.page {
  margin-bottom: 20px;
  background-color: #fafafa;
  .page-header {
    padding-bottom: 10px;
    margin: 10px 0 0px;
    border-bottom: 1px solid #EEE;
    h3{
      padding-left: 15px;
      margin-top: 19px;
      font:normal normal @font-400 @font-19/normal @font-name ;
      color: rgba(0, 0, 0, 0.87);
      text-transform: @capital;
    }
  }
  .page-body {
    padding: 15px;
    box-shadow:inset 0px -2px 26px -10px rgba(0, 0, 0, 0.4);
  }
}
.bor-blur {
  border-bottom: 2px solid #42a5f5 !important;
}
.bg-gra-gray {
  background-image: linear-gradient(to top, transparent 0%, #f4f5fd 100%);
}
.bor-lr-1 {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
.bor-l-1 {
  border-left: 1px solid #dadada;
}
.f-pad15 > div {
  padding:7px 15px;
}
.btn-tab {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  color: black;
  font-size: 12px;
  font-weight: 500;
  //text-transform: uppercase;
}
.tab-bg {
  .btn {
    //text-transform: uppercase !important;
    color: #000 !important
  }
}
.btn-active {
  background: #fff !important;
  color: #000 !important;
}
.btn-gray {
  background-color: #fafafa;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  font-weight: 400;
}
.next-prev {
  div,li {
    background-color: #fafafa;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    padding:2px 4px 2px 7px;
    cursor: pointer;
    margin-right: 1px;
  }
  li:first-child {
    i {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      display: inline-block;
      position: relative;
      left: -2px;
      top: 1px;
    }
  }
  div:last-child, li:last-child {
    margin-right: 0;
  }
}
.li-p0 > li{
  padding: 0px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  font-weight: 400;
}
.bg-white {
  background: #fff !important;
}
.bg-black {
  background: #000 !important;
}
.mainefs-overlay{
  background: rgba(0,0,0,0.4) !important;
}
.text-blue {
  color: #42a5f5 !important;
}
.text-green {
  color: #47cc5a;
}
.middle > li {
  vertical-align: middle;
}
.bor-r1 {
  border-left: 1px solid #dadada;
}
.bor-rgt1 {
  border-right: 1px solid #dadada !important;
}
.li-bor-r1 > li {
  border-right:1px solid #ddd;
  padding-left: 2px;
}
/*tab bar */
/*==========BUTTON Tab==========*/
.btn-tabs {
  background: transparent !important;
  padding-bottom: 2px !important;
  padding-top: 15px;
  .bor-blur;
  li:first-child {
    margin-left: 15px;
  }
  li {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-bottom: -2px;
    float: left;
  }
  button{
    .brad-top3 !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 3px 14px 4px;
    margin-right: 2px !important;
    font-size: @font-12;
    color: @black-87;
    font-weight: @font-400;
    text-transform: @capital;
    border-right: 0px solid #fff;
    span {
      color: #fff;
    }
  }
  .active {
    background-color: #42a5f5;
    color: @white !important;
    margin-right: 2px;
    .brad-top3;
  }
  .btn-normal {
    background-color: #cbdce5;
    span {
      color: @black !important;
    }
  }
  .active.tabError{
    border-top:3px solid rgb( 211, 47, 47) !important;
    background:rgba( 211, 47, 47, 0.5) !important;
  }
  .btn-normal.tabError{
    background:rgba( 211, 47, 47, 0.5) !important;
  }
}


.nav {
  button {
    &:focus, &:hover {
      -webkit-box-shadow: none !important;
    }
  }
}
.nav-tabs {
  padding-top: 0px;
  //background-color: #cbdce5 ;
  background-color: rgb(124, 161, 179);
  //background-color: #535c77;
  border-bottom: 0px;
  padding-bottom: 1px;
  button {
    padding: 4px 18px 5px;
    border-radius: 0px !important;
    /*color: @black-87 !important;*/
    //text-transform: uppercase !important;
    //color: #fff !important;
    font-weight:@font-400;
    font-size: @font-12;
    border-right: 1px solid @white;
    border-bottom: 0px !important;
    border-top: 0px !important;
    margin-right: 0px !important;
  }
  .normal {
    background: @white;
    color: @black-87 !important;

  }
  .border-normal {
    background: @white;
    color: @black-87 !important;
    border-top:1px solid #dadada;
  }
  .default.tabError{
    background: #E99797 !important;
  }
  .normal.tabError{
    border-top:2px solid #d32f2f !important;
    color:#d32f2f !important;
  }
}
.nav-tabs>li>a {
  /*background-color: #cbdce5;
  border-radius: 3px;
  //background-color: #cbdce5;
  //border-radius: 3px 3px 0px 0px;
  //color: #4d7694;
  //padding: 7px 15px;
  color: @black-87;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;*/
}
.nav-tabs>li:first-child{
  padding-left: 0px;
}
.cursorPt,.hand{
  cursor: pointer;
  cursor: hand;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  /* color: #fff;
   cursor: default;
   padding: 8px 15px;
   border: 0;
   background-color: #64b5f6;*/
  color: #fff;
  cursor: default;
  padding: 4px 15px 3px;
  border: 0;
  background-color: #42a5f5;
  border-radius: 3px;
}


.currency-rate-wrapper {
  padding: 31px 18px 30px 16px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 11px !important;
}
.inputBox span.inputText{
  position: absolute;
  top: 4px;
  right: 18px;
  pointer-events: none;
  margin: 0;
}
.close-currency-rate{
  position: absolute;
  top:8px;
  right: 10px;
  a{
    color: @black-07;
  }
}

.file-drop-box,
.img-box{
  width: 170px;
  height: 154px;
  background-color: rgba(186, 104, 200, 0.1);
  border: 1px dashed #ba68c8;
  border-radius: 3px;
  ul {
    margin-top: 30%;
    li {
      color: @black-87;
      font-size: 12px;
      font-weight: 400;
      //text-transform: uppercase;
    }
  }
  img{
    width: 170px;
    height: 154px;
    padding: 5px;
  }
  .overlay-img-btn{
    position: relative;
    left: 32%;
    top: 45%;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #f8f0fa;
    i{
      font-size: 20px !important;
    }
  }
}


.mapping-icon{
  font-size: 1.2rem !important;
}


/*dropdown arrow icon*/
button.btn.btn-tab1{
  position: relative;
}
button.btn.btn-tab1::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  left: 0;
  right: 0;
  transform: rotate(180deg);
  margin: auto;
  top: 39px;
}
.tab-col-bg {
  tr th:nth-child(6), tbody tr td:nth-child(6){
    background: #f5fafe;
  }
}

.border {
  border:1px solid #DDD !important;
}
.pic-sel {
  padding: 4px 8px 2px;
  border-radius: 3px;
  border: 1px solid #dadada;
  &:focus {
    border: 1px solid #2196f3 !important;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.06);
  }
}

.bor-tb{
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
}
.bor-t1{
  border-top: 1px solid #ddd !important;
}
.flex-row h6 {
  margin-bottom: 13px;
}
#wrapper header .navbar-brand > a:first-child {
  padding-left: 35px;
}

ul li small {
  text-transform: capitalize;
}
textarea.form-control {
  padding: 8px;
}

.font-activity-name{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto-light';
  padding-left: 5px;
}


.spcl-tab-content{
  >div{
    padding: 15px;
  }
}

.overlay-attach{
  left: 36%;
  position: absolute;
  top: 30%;
  i{
    font-size: 55px !important;
  }
}
//Pure css Loader
.loader {
  font-size: 10px;
  margin: 45px auto;
  text-indent: -9999em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: #D6ACE2;
  background: -moz-linear-gradient(left, #D6ACE2 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #D6ACE2 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #D6ACE2 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #D6ACE2 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #D6ACE2 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #D6ACE2;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #F6EDF9;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


//Calendar

.daterangepicker td.in-range:not(.active){
  background: #e3f2fd ;
}
.daterangepicker td.active,.daterangepicker td.active:hover{
  color: #357ebd;
  border-radius: 50%;
}
.daterangepicker td.start-date,.daterangepicker td.start-date:hover{
  background: #357ebd ;
  color: #fff;
  border-radius: 50% !important;
}
.daterangepicker td.start-date:not(.end-date), .daterangepicker td.start-date:not(.end-date):hover{
  background: #e3f2fd ;
  color: #357ebd !important;
  border-radius: 50% 0 0 50% !important;
}
.daterangepicker td.end-date:not(.start-date), .daterangepicker td.end-date:not(.start-date):hover{
  background: #e3f2fd ;
  border-radius: 0 50% 50% 0 !important;
}
.daterangepicker td.weekend .available{
  background: #e3f2fd ;
  border-radius: 50% 0 0 50% !important;
}
.daterangepicker td:first-child{
  border-radius: 50% 0 0 50% !important;
}
.daterangepicker td:last-child{
  border-radius: 0 50% 50% 0 !important;
}
.table-condensed > tbody > tr {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
  padding: 0 !important;
}
table.table-condensed  thead{
  background: #ffffff !important;
}
.daterangepicker thead> tr> th.available{
  //background: #357ebd !important;
  //border-radius: 50% !important;
  color: #357ebd!important;
  //color: #fff !important;
}
.daterangepicker thead> tr> th.month{
  color:#357ebd;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover{

}
.bootstrap-datetimepicker-widget table th.prev > span,.bootstrap-datetimepicker-widget table th.next > span{
  color: rgba(182, 105, 201, 0.87) !important;
  //height: 20px;
  //width: 20px;
  //background: #357ebd !important;
  //border-radius: 50%;
  //vertical-align: middle;
}
//.bootstrap-datetimepicker-widget table th.picker-switch > span {
//  color: rgba(182, 105, 201, 0.87) !important;
//}
//.datepicker thead>tr> th .prev > span{
//  height: 20px;
//  width: 20px;
//  background: #357ebd !important;
//  border-radius: 50%;
//  vertical-align: middle;
//}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
  border-radius: 50%;
  background: rgba(182, 105, 201, 0.87) !important;;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th{
  color: rgba(182, 105, 201, 0.87) !important;
}
.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover{

}
.bootstrap-datetimepicker-widget table td.day:hover,.daterangepicker td.available:hover{
  border-radius: 50% !important;
}
table tr td .bootstrap-datetimepicker-widget.dropdown-menu table tr td.day{ background-color: @white !important;border:0 !important;  }
table tr td .bootstrap-datetimepicker-widget.dropdown-menu table tr th{ border:0 !important; background-color: @white !important;}
table tr td .bootstrap-datetimepicker-widget.dropdown-menu table tr { border:0 !important; background-color: @white !important;}
//#wrapper .subMenu ul li a >span{
//  height: 100px;
//}


/*================Table STYLE====================*/
/*.standtable > .table {
  border: 1px solid #dadada;
  tr td {
    width: 1%;
  }
  th {
    border-bottom: 1px solid #e1e1e1;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    font-weight: 400;
  }
  tbody>tr>td, {

  }

  thead tr:last-child th {
    border: 0;
    background-color: #f2f2f2;
  }
  thead tr:last-child th:first-child {
    border-left: 1px;
  }
  thead tr:last-child th:last-child {
    border-right: 1px;
  }
}*/ /*STANDTABLE*/

/*.standtable table tr td {
  width: 1%;
}
.standtable table.table tr td:first-child {
  width: .3%;
}*/
/*.standtable .table>thead>tr>th {
  border-bottom: 1px solid #e1e1e1;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  font-weight: 400;
}*/

/*.standtable tbody>tr>td, .standtable thead>tr>th {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 11px 8px 6px;
}
.standtable .table>tbody>tr>td, .standtable .standtable .table>tbody>tr>th, .standtable .table>tfoot>tr>td, .standtable  .table>tfoot>tr>th {
  vertical-align: middle;
  padding:4px 0 4px 8px;
  opacity: 0.87;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}*/

/*
.table {
  margin-bottom: 0px;
  border: 1px solid #dadada;
}
table thead {
  background-color: #ffffff !important;
}
table tbody td {
  border: 1px solid #dadada !important;
  padding: 8px !important;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #dadada;
  border: 1px solid #dadada;
}*/



/*SUPER TABLE*/
.list-container {
  .panel-footer {
    padding: 9px 15px !important;
  }
}


.super-table {
  background: #fff;
  position: relative;
  > thead > tr > th {
    padding: 11px 15px !important;
    font-family: @font-name;
    color: @black-54;
    font-size: 13px;
    font-weight: 400;
    position: relative !important;
    border: 1px solid #dadada !important;
    outline : none;
  }
  > tbody > tr > td {
    padding:7px 15px 7px;
    border: 0px !important;
    font-family: @font-name;
    color: @black-87;
    font-size: 13px;
    font-weight: 400;
    //text-transform: uppercase;
    position: relative !important;
  }
  > tbody > tr:nth-child(even){
    background-color: #f3f7f9;
  }
  > tbody > tr:hover {
    background-color: #c7e4fc !important;
  }
  > tbody > tr {
    border: 0px !important;
  }
  > tbody > tr:focus {
    border: 0px !important;
    outline: 0px !important;
    outline-offset: 0px !important;
  }
  thead tr:last-child {
    background-color: whitesmoke;
  }
  thead > tr > th {
    border-bottom: 0px !important;
    position: relative !important;
  }
}


/*COMMON TABLE*/

.table-bordered , .table-hover, .table-default {
  .checkbox {
    text-align: center;
    margin: 0px;
    label {
      min-height: 10px;
      padding-left: 25px;
      margin-bottom: 0;
    }
  }
  border: 1px solid #dadada !important;
  background: #fff;
  > thead > tr > th {
    padding: 8px 6px !important;
    font-size: 12px;
    /*padding: 11px 15px !important;*/
    position: relative;
    font-family: @font-name;
    color: @black-54;
    /* font-size: 13px;*/
    font-weight: 400;
    border: 1px solid #dadada !important;
  }
  > tbody > tr > td{
    padding: 8px 6px !important;
    font-size: 12px;
    /*padding: 11px 15px !important;*/
    position: relative;
    font-family: @font-name;
    color: @black-87;
    /*font-size: 13px;*/
    font-weight: 400;
    //text-transform: uppercase;
    border: 1px solid #dadada !important;
  }
  > tbody > tr:hover {
    background-color:rgba(218, 218, 218, 0.18) !important
  }
  > tfoot > tr > td {
    background: rgba(255,218,98,0.4);
    padding: 11px 9px !important;
    font-family: @font-name;
    color: @black-87;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    //text-transform: uppercase;
  }
  .noborder-footer > tr > td{
    border: none !important;
  }
  >.padded_footer > tr > td{
    background: rgba(255,218,98,0.4);
    padding: 11px 23px !important;
    font-family: @font-name;
    color: @black-87;
    font-size: 13px;
    font-weight: 400;
    position: relative;
  }
  >.detail_padded_footer > tr > td{
    background: rgba(255,218,98,0.4);
    padding: 11px 15px !important;
    font-family: @font-name;
    color: @black-87;
    font-size: 13px;
    font-weight: 400;
    position: relative;
  }
  //> tbody > tr > td:first-child, > tbody > tr > td:last-child, > thead > tr > th:first-child, > thead > tr > th:last-child {
  //  text-align: center;
  //}
}
.table-inline {
  border: 1px solid #dadada !important;
  background: #fff;
  > thead > tr > th {
    padding: 6px 7px !important;
    position: relative;
    font-family: @font-name;
    color: @black-54;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #dadada !important;
    background: #eef1f5;
  }
  > thead > tr:last-child > th{
    padding: 3px 7px !important;
  }
  > tbody > tr > td{
    padding: 6px 7px !important;
    position: relative;
    font-family: @font-name;
    color: @black-87;
    font-size: 13px;
    font-weight: 400;
    //text-transform: uppercase;
    border: 1px solid #dadada !important;
  }
  > tbody > tr:hover {
    background-color:rgba(218, 218, 218, 0.18) !important
  }
  > tfoot > tr > td {
    background: rgba(255,218,98,0.4);
    padding: 6px 7px !important;
    font-family: @font-name;
    color: @black-87;
    font-size: 13px;
    font-weight: 400;
    position: relative;

    //text-transform: uppercase;
  }
  .noborder-footer > tr > td{
    border: none !important;
  }
  >.padded_footer > tr > td{
    background: rgba(255,218,98,0.4);
    padding: 6px 16px !important;
    font-family: @font-name;
    color: @black-87;
    font-size: 13px;
    font-weight: 400;
    position: relative;
  }
}
.vam {
  > tbody > tr > td {
    vertical-align: middle !important;
  }
  > tfoot > tr > td {
    vertical-align: middle !important;
  }

}
.table-inline-nopad {
  border: 1px solid #dadada !important;
  background: #fff;
  > thead > tr > th {
    padding: 2px 4px !important;
    position: relative;
    font-family: @font-name;
    color: @black-54;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #dadada !important;
    background: #eef1f5;
  }
  > tbody > tr > td{
    padding: 2px 4px !important;
    position: relative;
    font-family: @font-name;
    color: @black-87;
    font-size: 12px;
    font-weight: 400;
    //text-transform: uppercase;
    border: 1px solid #dadada !important;
  }
  > tbody > tr:hover {
    background-color:rgba(218, 218, 218, 0.18) !important
  }
  > tfoot > tr > td {
    background: rgba(255,218,98,0.4);
    padding: 6px 7px !important;
    font-family: @font-name;
    color: @black-87;
    font-size: 12px;
    font-weight: 400;
    position: relative;

    //text-transform: uppercase;
  }
  .noborder-footer > tr > td{
    border: none !important;
  }
  >.padded_footer > tr > td{
    background: rgba(255,218,98,0.4);
    padding: 6px 12px !important;
    font-family: @font-name;
    color: @black-87;
    font-size: 12px;
    font-weight: 400;
    position: relative;
  }
  input[type='text']{
    font-size: 12px !important;
  }
  select.form-control{
    font-size: 12px !important;
    color: rgba(0,0,0,0.87);
  }


}
.table-group{
  border: 1px solid #dadada !important;
  background: #fff;
  > thead > tr > th {
    padding: 6px 15px !important;
    position: relative;
    font-family: @font-name;
    color: @black-54;
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #dadada !important;
  }
  tbody > tr > td{
    padding: 4px 15px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #dadada;
  }
  tbody > tr:last-child{
    border-bottom: none !important;
  }
}
/*TABLE DETAIL CONTAINER*/
.detail-container {
  .table-hover {
    padding: 0 5px;
    border: 1px !important;
    margin-top: 5px !important;
    thead tr {
      outline: -webkit-focus-ring-color auto 0px !important;
      outline-offset: 0px !important;
      background-color: white;
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
    }
    > tbody > tr:nth-child(even){
      background-color: #f3f7f9;
    }
    thead th {
      border: 1px solid #dadada !important;
      padding: 5px 8px !important;
      text-transform: capitalize !important;
      white-space: nowrap;
    }
    tbody tr td {
      border: 1px solid #dadada !important;
      padding: 5px 8px !important;
    }
  }
}
/*TABLE STRIPPED*/
.super-table {
  width: auto;
  max-width: inherit;
  > tbody > tr > td {
    border: 1px solid #dadada !important;
  }
}
.super-table-border{
  thead tr th{
    //border: 1px solid #dadada !important;
    padding: 4px 4px !important;
  }
  tbody tr td{
    //border: 1px solid transparent !important;
    padding: 7px 18px 7px 9px !important;
  }
}
.table-border {
  padding: 0 5px;
  border: 1px !important;
  thead tr {
    th {
      border: 0px solid #dadada !important;
      padding: 7px 10px !important;
      text-transform: capitalize !important;
      white-space: nowrap;
      font-size: 13px !important;
      font-weight: 300;
    }
    outline: -webkit-focus-ring-color auto 0px !important;
    outline-offset: 0px !important;
    background-color: white;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }
  tbody tr td {
    border-bottom: 1px solid #dadada !important;
    padding: 8px 10px !important;
    font-size: 12px;
  }
}
/*  Recent Docs Styles starts here jun-27-16   */


.recent-doc-header { background-color: #f3f3f3;padding: 0 15px;}
.recent-doc-header table tr td:first-child a{ color: #000; padding:0 10px 0 0;}
.recent-doc-header table tr td:first-child{ width: 70%; font-size: 11px;  vertical-align: middle;}
.recent-doc-header table tr td{ padding: 5px  10px;}
.recent-doc-header table tr td span{ font-size: 11px;}
.recent-doc-header table tr td p{ padding: 0; margin:0; line-height: 1;}
.recent-doc-header table tr td:nth-of-type(2){ width: 20%;}
.recent-doc-header table tr td:last-child{ width: 10%;font-size: 12px;    }
.recent-table table tr td:first-child{ width: 10%;  vertical-align: middle;}
.recent-table table tr td{ padding: 10px 8px 15px 8px}
.recent-table table tr td:nth-of-type(2){ width: 65%;border-bottom:1px solid #ccc !Important;}
.recent-table table tr td:last-child{ width: 25%;font-size: 11px;    color: #E6E4E4;border-bottom:1px solid #ccc  !Important  ;}
.recent-table{ padding: 10px;  width: 100%;
  height: 82%;overflow: auto;overflow-x:hidden; background-color: #FFF;}
.recent-table table tr td:last-child span{ font-size:10px;  color: #E6E4E4;}
.recent-table table tr td b{font-size: 11px;}
.recent-table table tr td .fa{    font-size: 20px;}
.recent-table table tr td p{    padding: 0;  margin: 0;  line-height: 1;  font-size: 11px;}


/*  Recent Docs Styles Ends here  jun-27-16 */


/* Report Popup styles Starts here jun 29  */

.reportpopup .modal-header button{ text-transform: capitalize;font-weight: 400;}
.reportpopup .modal-body h4{ font-size: 12px;  margin-top: 23px;}
.reportpopup .modal-body .file-formet{ text-align: center;padding: 12px 20px 6px 20px;}
.reportpopup .modal-body .file-formet span{ font-size: 10px; padding-top: 10px;}
.reportpopup .modal-body .file-formet:hover,.reportpopup .modal-body .file-formet.active{ background-color: rgba(222,222,222,0.4); }


/* Report Popup styles End here jun 29  */

.pb-5 {
  padding-bottom: 5px !important;
}
.pb-6 {
  padding-bottom: 6px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}
.to-cc{ padding:  3px 5px; border-radius: 3px;  }

.chips-two{

  display: inline-flex !important;
  min-width: 83px;
  padding: 2px 3px;
  //background-color: #000000;
  //opacity: 0.12;
  border: 1px solid #d9d9d9;background-color: rgba(0,0,0,0.1);
  //    cursor: default;
  white-space: nowrap;
  -webkit-border-radius: 8px;
  border-radius: 8px;

}

.export-box{ display: inline-block;margin-right: 5px;}
.share-options-btns .btn{ text-transform: uppercase;}
.reportpopup textarea{ resize: none !important;}
.tab-blue-content{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);}
.mtb{ margin-top:0 !important;margin-bottom:0 !important;}


.panel .panel-body.pt0{ padding-top: 0 !important;}
.detail-container .tab-content .row.plr0{ padding-left: 0!important; padding-right: 0 !important;}
//.chips-two{
//  display: inline-flex !Important;
//  min-width: 83px;
//  background-color: #f5f5f5;
//  border: 1px solid #d9d9d9;
//  cursor: default;
//  white-space: nowrap;
//  -webkit-border-radius: 8px;
//  border-radius: 8px;
//}
.detail-container .detail-transition .list-group-item.bor-rgt1{    border-right: 1px solid #dadada !important;}
.detail-container .tab-content .row.pb0 {
  padding-bottom: 0px !important;
}
.detail-container .detail-view .row.nopadding{
  padding:0 !important;
}
.detail-container .detail-view .row.margin_need{
  margin-left:-15px !important;
  margin-right:-15px !important;
}
.list-group-item.bor-btm1{ border-bottom: 1px solid #dadada !important;  }
.panel-body.nopadding{ padding: 0 !important;}
.dashboard {
  .table-stripped {
    tr > td{
      border: 0px !important;
    }
  }
}


/****** Loader Css   *******/

/**** File upload spinner*****/

.img-loader.imgup-loader{

  position: absolute;
  left:40% !important;
  top:40% !important;

}



.img-loader{
  width: 38px !important;
  height: 38px !important;
  position: relative;
  left: 45% !important;
  top: 45% !important;
}
.newloader {
  display: inline-block;
  width: 30px;
  left: 50%;
  height: 30px;
  position: relative;
  border: 4px solid rgb(66, 165, 245);
  top: 50%;
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.newloaderabs {
  display: inline-block;
  width: 30px;
  left: 50%;
  height: 30px;
  position: relative;
  border: 4px solid rgb(66, 165, 245);
  top: 12%;
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

//new-Preloader-main

.sprite_hmblue{
  background: url("../assets/images/blueloader.png") no-repeat;
  width: 40px;
  height: 40px;
  -webkit-animation: play 1s steps(10) infinite;
  -moz-animation: play 1s steps(10) infinite;
  -ms-animation: play 1s steps(10) infinite;
  -o-animation: play 1s steps(10) infinite;
  animation: play 1s steps(10) infinite;
  @-webkit-keyframes play {
    from { background-position:    0px; }
    to { background-position: -400px; }
  }

  @-moz-keyframes play {
    from { background-position:    0px; }
    to { background-position: -400px; }
  }

  @-ms-keyframes play {
    from { background-position:    0px; }
    to { background-position: -400px; }
  }

  @-o-keyframes play {
    from { background-position:    0px; }
    to { background-position: -400px; }
  }

  @keyframes play {
    from { background-position:    0px; }
    to { background-position: -400px; }
  }
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(66, 165, 245);
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}
.loader-container{
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 25%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/****************** Loader Css  ********/

.whitespace-nr{
  white-space: nowrap;
}
.whitespace-normal{
  white-space: normal!important;
}
.panel .panel-body ul.pikcup-view li,.panel .panel-body ul.pikcup-view i{ color: rgba(0, 0, 0, 0.54) !important;}
.bg-none{  background: none !important;}
.bor-fix{

  margin-bottom: -99999px !important;
  padding-bottom: 99999px !important;
}

.nicescroll-rails.nicescroll-rails-hr .nicescroll-cursors{ margin-top: 3px !important;}

.lineH1{ line-height: 1;}
.pad-11-15{
  padding:11px 15px !important;
}
.f-14b4{
  font-size: 14px;
  font-weight: 400;
}
.v-align-mid{
  vertical-align: middle !important;
}
.white-panel .white-panel-heading{ background-image: none; background-color:@white !important; border-radius: 0 !important;}

.text-underline{
  text-decoration: underline;
  color: #42a5f5 !important;
}
.box-shadow{ box-shadow: 0 2px 15px #ccc;}
.box-shadow-none{ box-shadow: none !important;}

.mt-19{
  margin-top: 19px !important;
}
.cur-notallow{

  cursor:not-allowed;
}
.bootstrap-datetimepicker-widget{z-index: 9999999 !important;}
.tfoot-yellow{

  background-color: rgba(255, 218, 98, 0.4)
}
.modal-content button.browse-btn{ color:white;}
.dc-more-popup ul li { font-size: 12px;}
.inline_Table_pop textarea{ resize: none !important;}

.modal-body table.table-hover.popup_view_table tbody tr td{ white-space: normal;}
.mar20{ margin: 20px;}
.roles_table .table-group.bor-0{ border:none!important;}
.roles_table .table-group.bor-0 tbody{ border: none!important;}
.roles_table .table-group th{  background-color: rgba(181, 105, 201, 0.12);
  padding: 7px 15px;
  margin: 0px 0 15px;
  border-top: 1px solid rgba(181, 106, 202, 0.5);
  color: rgba(182, 105, 201, 0.87);}
//.tags-input .form-control{ height: 30px;}
.tags-input input{box-shadow: none; }
.tags-input .host{ margin: 0;}
.tags-input .tags{ border-radius: 4px;
  border: 1px solid #dadada; box-shadow: none;}
.tags-input .tags .tag-item{ background:rgba(40, 148, 242, 0.75); border:none;color:#fff;  height:auto}
.tags-input .tags .input{ height:18px; font-size: 12px; }
.tags-input .tags .input:focus{ border:none !Important; box-shadow: none !Important;}
.tags-input .tags.focused{box-shadow:none;}
.tags-input .tags .tag-list li span{ color: #ffffff;
  font-size: 11px;
  line-height: 20px;}
tags-input .tags .tag-item .remove-button{ color:#fff; font-weight: 100;}
tags-input .tags .tag-item.selected{ background:#e57373}
//.tags-input .tags .tag-item{ height: 100%}
table.table-inline .bor-lr-0{ border-right: 0 !important; border-left: 0 !important;}

.ligrp-ptb6 {
  .list-group-item {
    padding: 6px 15px;
  }
}
