
/*
website : FSL
Author  : Sudhanthini
Version :  0.2


*/

/*===1.HTML,BODY,PRELOAD,HEXAGON=====*/
/*Shipment -edit - details - flight schedule popup */
.ftsize15 {font-size: 20px !important;}
.paddingl2px {padding: 0px 0 0 2px !important;}
.paddingtrbl {padding: 3px 2px !important;}
.airsize {font-size: 17px; color: #333;}

tbody.heighlight {
background-color: rgba(96, 125, 139, 0.05);
}
tr.altercolor {
background-color: rgba(249, 249, 249, 0.6);
}
.modfooter {
margin-top: 20px;
}

.pdbottom0 {padding-bottom: 0px !important;}
.width7per{
  width: 7% !important;
}

.popuppadding {
padding: 10px 0px !important;
text-align: left;
}

.popuptextpadding {
padding: 5px 0px 0px 13px !important;
font-size: 15px;
text-align: left;
}
.noteauto { height:50px !important;}

.ptop { padding-top: 20px !important; }


th.pt20 { vertical-align: middle !important;  }

.profileimg {
    height: 219px !important;
    width: 167px !important;
    padding: 5px !Important;
}

.pfimg-box{
  width: 167px;
  height: 219px;
  background-color: rgba(186, 104, 200, 0.1);
  border: 1px solid #dadada;
  border-radius: 3px;
  }
  .mb-12{
  margin-bottom: 12px !important;
}

.tdverticaltop {margin-top: 0px !important;}

.pad-4px {padding-left: 0px;}

.img-box30 {
width: 42px;
    height: 42px;
    background-color: rgba(186, 104, 200, 0.1);
    border: 1px dashed #ba68c8;
    border-radius: 3px;
    }
  .marlr{margin: 15px 15px 0px 15px;}
  
  .marr{margin: 35px 15px 0px 0px;}
  .margint27{margin-top: 27px !important;}
   .margintop25{margin-top: 25px;}
   .mt100{margin-top: 100px;}
  
  .icoItems li {
  color: #74777b !important;
  
  border-radius: 0px;
  display: inline;
  padding: 5px 5px 5px 10px !important;
  margin-top: 0px;
  width: auto;
  }
  
 
  
  .icoItems li:hover::after {
  	content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:5px;
    bottom:0px; /*Change this to increase/decrease distance*/
    border-bottom: 2px solid rgb(63, 81, 181) !important;  
    color: #84C1F5 !important;
    }
  .icoItems .hocolor {color: #74777b !important; outline: 0px !important;}
  
  .bor-bot-1 {
 
  border-bottom: 1px solid #CCC !important;
}
  
  .flex.titleExpand{
    font: normal normal 500 13px / normal 'Roboto', sans-serif;
    background-color: #D4E6EF !important;
    padding: 7px 15px;
    margin: 0px 0px 15px;
    border: 1px solid #9c9c9c;
    
    
    color: #000 !important; 
	   font-size: 13px;
    font-weight: 500;
}
 .flex.titleExpand h5 {
	font: normal normal 500 13px / normal 'Roboto', sans-serif;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    margin: 0px;
    text-transform: capitalize;
    }
    
    .accordian-contentID {    border: 0px solid #9c9c9c !important;
    background: rgb(212, 230, 239) !important;
    border-top: none !important;
    padding: 5px;
    color: #000 !important;}
    .mf10 {margin-top: 8px !important;}
    
    h5.flexcolor {color: #000 !important;}
    
    i.expcolor {color: #FFF !important; text-align: center !important;}
    
    
    
@darkGreen: #35545C;
@lightGreen: #8AABB2;
@greyState: #DDD;
@mainBlue: #35545C;

ol {
  
  &.progress-track {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 2em 1em;
    table-layout: fixed;
    width: 100%;    
  
    li {
      display: table-cell;
      line-height: 3em;
      position: relative;
      text-align: center;
      
      
      .icon-wrap {
        border-radius: 70%;
    top: -2.1em;
    color: #fff;
    display: block;
    height: 3.5em;
    margin: 0 auto -2em;
    left: 0;
    right: 0;
    position: absolute;
    width: 3.5em;
      }
      
      .icon-check-mark, .icon-down-arrow {
        height: 25px;
        width: 15px;
        display: inline-block;
        fill: currentColor;        
      }         
      
      .progress-text {
         position: relative;
         top: 18px;
      }
      
      &.progress-done {
        border-top: 3px solid @lightGreen;
        width: 20% !important;
        transition: border-color 1s ease-in-out;
        -webkit-transition: border-color 1s ease-in-out;
        -moz-transition: border-color 1s ease-in-out;
        
        .icon-down-arrow {
          display: none;
        }        
        
          &.progress-current {

            .icon-wrap {
              background-color: @mainBlue;

              .icon-check-mark {
               display: none;
              }
              
              .icon-down-arrow {
                display: block;
              }               
            }        
          }                

        .icon-wrap {
          background-color: @darkGreen;
          border: 5px solid @lightGreen;     
        }                
      }
      
      &.progress-todo {
          border-top: 3px solid @greyState;
          color: black;        
        
        .progress-text {
       	  		position: relative;
        	 top: 0px;
      }
        .icon-wrap {
          background-color: #6F8FA2;
          border: 5px solid @greyState;
          border-radius: 50%;
          bottom: 1.5em;
          color: #fff;
          display: block;
          height: 3.5em;
          margin: 0 auto -2em;
          position: relative;
          width: 3.5em;

          .icon-check-mark, .icon-down-arrow {
              display: none;
          }      
        }        
      }            
    }    
  }
}



 .detail-img{
  display:inline-block;
  width:35px;
  height:35px;
  }
  
  .tickmrk {
      font: normal normal normal 16px/1 FontAwesome;
    position: relative;
    content: "\f146";
    top: 12px;
    left: 12px;
    /* right: 0; */
    text-align: center !important;
    color: #fff;
   display: inline-block; 
    width: 16px;
    height: 16px;
    }
    
    /* New */
    .bs-wizard {margin-top: 8px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0; }
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px; padding: 10px 0px 4px 10px !important;}
.bs-wizard > .bs-wizard-step .bs-wizard-info2 {color: #999; font-size: 13px; padding: 10px 0px 4px 14px ;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 40px; cursor:pointer; height: 40px; display: block; background: #C897CE; top: 15px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}

.bs-wizard > .bs-wizard-step > .bs-wizard-dotchange {position: absolute; width: 40px; height: 40px; display: block; background: #2196f3; top: 15px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
 
/*.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #42a5f5; border-radius: 50px; position: absolute; top: 8px; left: 8px; }*/ 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 3px; box-shadow: none; margin: 19px 0;}
/* #C897CE */
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #03A9F4;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #828384;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.fillcolor {background: #97e8ba !important;}
.fillcolor h5{ color: #fff !important;}
.delicon {color: rgba(0, 0, 0, 0.7) !important;}
td.verticalaln { vertical-align: middle !important;  }
.whitecolor {color: #fff !important;}
.blackcolor {color: #000 !important;}
.majcolor {color: rgba(182, 105, 201, 0.87) !important;}
.majbgcolor {background: rgba(181, 105, 201, 0.12) !important;}
.width126px {width: 126px;}

/*END Form Wizard*/


a.shiphover:hover {    padding: 6px  !important;
    border-radius: 2px  !important;
    top: 2px  !important;
    position: relative  !important;
    border: 1px solid rgba(0, 0, 0, 0) !important; }
    
.backcolor {background: #F5F5F5 !important;}   
div .ahover {padding: 2px !important;} 
div .ahover:hover {border: 1px solid #000000 !important; border-radius: 2px; padding: 6px; background: #CCC; margin-right: 2px !important;}

.mt18px{
  margin-top: 20px !important;
}

.marginr15 {margin-right: 15px !important;}
.margintb5 {margin: 2px 0px 7px 0px !important;}
.marginr19 {margin-right: 19px !important;}
.marginr4 {margin-right: 4px !important;}
.marginl11 {margin-left: 11px !important;}
/*.popupcard .nav-tabs { border-bottom: 2px solid #DDD; }*/
 .popupcard   .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; color: #383838 !important;}
 .popupcard   .nav-tabs > li > a { border: none; color: #ffffff;background: #5a4080; }
 .popupcard       .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none;  color: #383838 !important; background: #fff; }
 .popupcard       .nav-tabs > li > a::after { content: ""; background: #5a4080; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
 .popupcard   .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.popupcard .tab-nav > li > a::after { background: ##5a4080 none repeat scroll 0% 0%; color: #fff; }
.popupcard .tab-content.tab-pane { padding: 15px 0; }
.popupcard .tab-content{padding:20px}
.popupcard .nav-tabs > li  {width:20%; text-align:center;}
.popupcard .nav-tabs > li > a > span  {color: #fff !important;}
.popupcard .nav-tabs > li > a > span:hover  {color: #383838 !important;}


/*body{ background: #EDECEC; padding:50px}*/

@media all and (max-width:724px){
.popupcard .nav-tabs > li > a > span {display:none;}	
.popupcard .nav-tabs > li > a {padding: 5px 5px;}
}

.margintb0{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.borderbt0 {border-bottom:0 !important;} 
.marginlneg22px {margin-left:-22px;}
.margintop22px {margin-top:22px !important;}

.marginlr15px {margin-left: 15px !important; margin-right: 15px !important;}
.txtarea100 {height:100px !important; max-height: 100px !important;min-height:100px !important;}
.txtarea60 {height:60px !important; max-height: 60px !important;min-height:60px !important;}
.txtarea30 {height:30px !important; max-height: 30px !important;min-height:30px !important; overflow: hidden;}
.txtarea130 {height:130px !important;max-height: 130px !important;min-height:130px !important}
.ovrflowY {  overflow-y:auto !important;   overflow-x:hidden !important;}  
.marginl30 {margin-left: 30px !important;}

.goldvalue {font-size: 20px; color: #DAA520;}
.bluevalue {font-size: 20px; color: #0000FF;}
.platinumvalue {font-size: 20px; color: #e5e4e2;}

.blinkfadeinout {
    animation-duration: 1s;
    animation-name: blinkfadeinout;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blinkfadeinout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.starblink {float:left; margin-right:10px !important; }
.starblinkright {float:left; padding-right:5px !important; }

.borright {
    min-height: 117px !important;
}
.borconsolright {
    min-height: 104px ;
    }
.bor-left-1 {
    border-left: 1px solid #dadada;
}
.bor-left-appbar {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    
}

.btn-width {width: 57%;}
.paddingleft62 {padding-left: 62px !important;}


/* Enquiry Rate Request Table */

.popcolor {padding: 11px 40px 11px 40px !important;
   background: rgba(201, 155, 155, 0.18) !important;}
    
 .tabRateRequest {height: 50px !important;min-height: 50px !important;max-height: 50px !important;}
 
 li.padright0 {padding-right: 0px !important;}
 
 .paddinglr0 {padding-left: 0px !important;padding-right: 0px !important;}
 
 .fsize11 {font-size: 11px !important;}
 
 .fsize14 {font-size: 14px !important;}
 .fsize22 {font-size: 22px !important;}
 .fsize40 {font-size: 40px !important;}
 
 .tdcolor {color: rgba(0,0,0,0.87) !important;}
 
 .padd10px {padding: 10px !important;}


.mastertab #progress {
    padding: 0;
    list-style-type: none;
   /* font-family: arial;
    font-size: 11px; */
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
    cursor:pointer;
}

.mastertab #progress a.active {
    float: left;
    padding: 10px 30px 10px 23px;
    background: #58a1c7;
    color: #fff !important;
    position: relative;
   /* border-top: 1px solid #666;
    border-bottom: 1px solid #666; */
    width: 13%;
    margin: 0 3px;
    line-height: 20px !important;
}

.mastertab #progress a.nonactive {
    float: left;
    padding: 10px 30px 10px 23px;
    background: #CBDCE5 !important;
    color: rgba(0, 0, 0, 0.87) !important;
    position: relative;
   /* border-top: 1px solid #666;
    border-bottom: 1px solid #666; */
    width: 13%;
    margin: 0 3px;
    line-height: 20px !important;
}

.mastertab #progress a:before {
    content: '';
    border-left: 17px solid #fff;
    border-top: 19px solid transparent;
    border-bottom: 21px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: #a3a893;
    
}
.mastertab #progress a:before {
    content: '';
    border-left: 17px solid #fff;
    border-top: 19px solid transparent;
    border-bottom: 21px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: #455a64;
    
}



.mastertab  a.active :before {
content: '';
    border-left: 17px solid #CBDCE5 !important;
    border-top: 19px solid transparent !important;
    border-bottom: 21px solid transparent !important;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

.mastertab  a.active :after {
content: '';
    border-left: 17px solid #58a1c7 !important;
    border-top: 19px solid transparent !important;
    border-bottom: 21px solid transparent !important;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}


.mastertab a.nonactive:after {
content: '';
    border-left: 17px solid #CBDCE5 !important;
    border-top: 19px solid transparent !important;
    border-bottom: 21px solid transparent !important;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}
.mastertab{display: block !important; width:100%; margin: 0px auto !important; text-align:center !important;}
.centerTab{
}
.mastertab #progress a.active span{
    padding-left: 33px;
    color: #fff;
    
}
.mastertab #progress a.nonactive span{
    padding-left: 33px;
    color: rgba(0, 0, 0, 0.87) !important;
}

.mastertab #progress a div.fills {
position: absolute;
    text-align: center;
    width: 37px;
    left: 0;
    top: 0;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    background: #455a64;
    line-height: 40px !important;
    margin-left: 17px;}

.mastertab #progress a div.nonfills {
position: absolute;
    text-align: center;
    width: 37px;
    left: 0;
    top: 0;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    background: #a3a893;
    line-height: 40px !important;
    margin-left: 17px;}

#progress a:after {
    border-left-color: #518dbd;
}
 
.txt-black {color:#000 !important;text-decoration: underline !important; }
.txt-red {color:#ff0000 !important;text-decoration: underline !important; }
.btn-redcolor {background:#ff0000 !important; height: 13px !important; padding: 0 5px !important;}
.btn-pinkcolor {background:#ff0080 !important; height: 13px !important; padding: 0 5px !important;}
.btn-bluecolor {background:#1976D2 !important; height: 13px !important;  padding: 0 5px !important;}
.txt-bluecolor {color:#1976D2 !important;}
.height13px {height: 13px !important;}
.cursorpoint{cursor: pointer !important;} 
.bor-top0px {border-top: 0px !important;}
.marl33px {margin-left: 33px !important;}
.mart18px {margin-top: 18px !important;}
.mart8px {margin-top: 8px;}
.mart24px {margin-top: 24px;}
.mart29px {margin-top: 29px !important;}
.marr12px {margin-right: 12px !important;}
.mar10px{
  margin-right: 10px !important;
}
.mart12px{
  margin-top: 12px !important;
}
.pb5{
  padding-bottom: 5px !important;
}
.fcolor {color: rgba(0,0,0,0.87) !important; font-size: 11px !important;}
.fsmallsize {font-size: 71% !important;}

.titlecaps {
    text-transform: lowercase !important;
}

//dropdown part for appbar.html file

.dropdown dd, .dropdown dt, .dropdown ul {
	margin: 0px;
	padding: 0px;
}
.dropdown dd ul li a span:first-child, .dropdown dt a span span:first-child {
	background-image: url("../../../../assets/images/countryflag.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
	display: inline-block;
	margin:5px;
	vertical-align: top;
}
.dropdown dt a span {
	cursor: pointer;
	display: block;
	padding: 0px;
	white-space: nowrap;
}
.dropdown dt a img {
	position: relative;
	z-index: 1;
}
.dropdown dt a span span:first-child:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
}
.dropdown dt a span span {
	display: inline-block;
	padding: 0;
}
.dropdown dt a span span:first-child {
	padding: 0;
}
.dropdown dd {
	position: relative;
}
.dropdown a, .dropdown a:visited {
	color: #4a535f;
	text-decoration: none;
	outline: none;
}
.dropdown a:hover {
	color: #5d4617;
}
.dropdown dt a:hover, .dropdown dt a:focus {
	color: #5d4617;
}
.dropdown dt a {
	position: relative;
	background: #fff;
	display: block;
	padding-right: 20px;
	overflow: hidden;
	// border:1px solid #b06bcb;
	width:141px;
}
 .dropdown dt a:after {
	content: '';
	background: rgb(33, 150, 243);
	position: absolute;
	 
	height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
} 

.dropdown dt a:before {
    background: none repeat scroll 0 0 rgb(33, 150, 243);
    content: "";
    height: 3px;
    position: absolute;
    right: 7px;
    top: 8px;
    width: 9px;
    z-index: 2;
    border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 6px solid #fff;
//	box-shadow:0 8px 0 #FFFFFF, 0 16px 0 #FFFFFF;
}
.dropdown dd ul {
	background: #fff;
	
	color: #2794f1;
	display: none;
	left: 0px;
	padding: 5px 0px;
	position: absolute;
	
	width: 200px;
	border:1px solid rgba(0,0,0,.15);
	list-style: none;
	max-height: 170px;
	overflow-y: scroll;
	top:2px;
	z-index: 2;
}

.dropdown li a {
	font-size:12px;
}

li a span:nth-child(2) {
    line-height: 2em;
}
.dropdown dd ul::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 0px #2196F3;
// border-left:0px solid #2196f3;
}
.dropdown dd ul::-webkit-scrollbar-thumb {
 background: #2196f3;
/*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
    border-radius:10px;*/
}
.dropdown dd ul::-webkit-scrollbar-thumb:window-inactive {
 background: blue;
}
.dropdown span.value {
	display: none;
}
.dropdown dd ul li a {
	padding: 5px;
	display: block;
	font-size: 12px !important;
}
.dropdown dd ul li a:hover {
	background-color: rgba(0,0,0,0.05);
}
dl.dropdown {
	display: inline-block;
	width: 176px;
	margin: 0px 10px 0 1px;
}
dl.dropdown span:nth-child(3) {
	color: rgba(0,0,0,0.4)
}
dl.dropdown > span:nth-child(2) {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}
dl.dropdown span:nth-child(3) {
	float: right;
}
dl.dropdown dt span:nth-child(2) {
	color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6em;
    padding-top: 1px;
}
dl.dropdown dt span:nth-child(3) {
	display: none;
}
.countryFlag {
	padding: 0;
	background-image: url("../../../../assets/images/countryflag.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 11px;
	margin-right: 4px;
	width: 16px;
	cursor: pointer;
	white-space: nowrap;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #BFBFC1 #B6B6B6 #969696;
	border-image: none;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}
.compDetails {width: 268px; background: #fff; padding: 4px;}
.companyLogo {float: left; padding-top: 1px;}
.companyLogo img{height: 18px;}
.companyLabel {font-size: 14px; padding: 7px; color: #383838; font-weight: bold;}
.bor-right-1px {border-right: 1px solid rgba(255,255,255,0.2) !important;}
span.boxbg1 {    
		content: '';
    background: #2196f3;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;}
    
span.boxbg {
    background: none repeat scroll 0 0 rgb(33, 150, 243);
    content: "";
    height: 3px;
    position: absolute;
    right: 9px;
    top: 11px;
    width: 15px;
    z-index: 2;
    border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 6px solid #fff;
//	box-shadow:0 8px 0 #FFFFFF, 0 16px 0 #FFFFFF;
}

.profDetails {width: 281px; padding: 4px; background: #fff; border:1px solid rgba(0,0,0,.15);}
.bgmodal {        background: #fff;
    /* border: 1px solid #9c9c9c; */
    padding: 18px;
    box-shadow: 1px 2px 1px #888888;
    margin: 38px 30px 30px 31px;}
dl.dropdown .modalwidth{
	display: inline-block;
	width: 219px;
	margin: 0px 11px 0 1px;
}
.marginb45{margin-bottom: 45px;}

.bs-wizard1 {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0; }
.bs-wizard1 > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard1 > .bs-wizard-step + .bs-wizard-step {}


.bs-wizard1 > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 60px; height: 60px; display: block; background: rgba(103, 58, 183, 0.62); top: 15px; left: 25%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bgmodalimg {background: rgba(62, 145, 193, 0.32);
background-image: url("../../../../assets/images/stripe_bg.png");
height: 100%;
width: 100%;}
  .tickmrkmodal {
      font: normal normal normal 33px/1 FontAwesome;
    position: relative;
    content: "\f146";
    top: 16px;
    left: 16px;
    /* right: 0; */
    text-align: center !important;
    color: #fff;
   display: inline-block; 
    width: 16px;
    height: 16px;
    }

 //dropdown part for popoup.html file

.changeprofile .dropdown1 dd, .dropdown1 dt, .dropdown1 ul {
	margin: 0px;
	padding: 0px;
}
.changeprofile .dropdown1 dd ul li a span:first-child, .dropdown1 dt a span span:first-child {
	background-image: url("../../../../assets/images/flag.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
	display: inline-block;
	margin:5px;
	vertical-align: top;
}
.changeprofile .dropdown1 dt a span {
	cursor: pointer;
	display: block;
	padding: 3px;
	white-space: nowrap;
}
.changeprofile .dropdown1 dt a img {
	position: relative;
	z-index: 1;
}
.changeprofile .dropdown1 dt a span span:first-child:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
}
.changeprofile .dropdown1 dt a span span {
	display: inline-block;
	padding: 0;
}
.changeprofile .dropdown1 dt a span span:first-child {
	padding: 0;
}
.changeprofile .dropdown1 dd {
	position: relative;
}
.changeprofile .dropdown1 a, .dropdown1 a:visited {
	color: #4a535f;
	text-decoration: none;
	outline: none;
}
.changeprofile .dropdown1 a:hover {
	color: #5d4617;
}
.changeprofile .dropdown1 dt a:hover, .dropdown1 dt a:focus {
	color: #5d4617;
}
.changeprofile .dropdown1 dt a {
	position: relative;
	background: #fff;
	display: block;
	padding-right: 20px;
	overflow: hidden;
	// border:1px solid #b06bcb;
	width:160px;
}
.changeprofile  .dropdown1 dt a:after {
	content: '';
	background: #9c9c9c;
	position: absolute;
	 
	height: 29px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
} 

.changeprofile .dropdown1 dt a:before {
    background: none repeat scroll 0 0 #9c9c9c;
    content: "";
    height: 3px;
    position: absolute;
    right: 8px;
    top: 12px;
    width: 12px;
    z-index: 2;
    border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 6px solid #fff;
//	box-shadow:0 8px 0 #FFFFFF, 0 16px 0 #FFFFFF;
}
.changeprofile .dropdown1 dd ul {
	background: #fff;
	
	color: #2794f1;
	display: none;
	left: 0px;
	padding: 5px 0px;
	position: absolute;
	
	width: 200px;
	border:1px solid rgba(0,0,0,.15);
	list-style: none;
	max-height: 170px;
	overflow-y: scroll;
	top:2px;
	z-index: 2;
}

li a {
	font-size:13px;
}

li a span:nth-child(2) {
    line-height: 2em;
}
.dropdown1 dd ul::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 0px #2196F3;
// border-left:0px solid #2196f3;
}
.changeprofile .dropdown1 dd ul::-webkit-scrollbar-thumb {
 background: #2196f3;
/*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
    border-radius:10px;*/
}
.changeprofile .dropdown1 dd ul::-webkit-scrollbar-thumb:window-inactive {
 background: blue;
}
.changeprofile .dropdown1 span.value {
	display: none;
}
.changeprofile .dropdown1 dd ul li a {
	padding: 5px;
	display: block;
	font-size: 12px !important;
}
.changeprofile .dropdown1 dd ul li a:hover {
	background-color: rgba(0,0,0,0.05);
}
.changeprofile dl.dropdown1 {
	display: inline-block;
	width: 190px;
	margin: 0px 11px 0 1px;
}
.changeprofile dl.dropdown1 span:nth-child(3) {
	color: rgba(0,0,0,0.4)
}
.changeprofile dl.dropdown1 > span:nth-child(2) {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}
.changeprofile dl.dropdown1 span:nth-child(3) {
	float: right;
}
.changeprofile dl.dropdown1 dt span:nth-child(2) {
	color: #383838;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6em;
}
.changeprofile dl.dropdown1 dt span:nth-child(3) {
	display: none;
}
.countryFlag {
	padding: 0;
	background-image: url("../../../../assets/images/countryflag.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 11px;
	margin-right: 4px;
	width: 16px;
	cursor: pointer;
	white-space: nowrap;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #BFBFC1 #B6B6B6 #969696;
	border-image: none;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}

/*.countryFlag:before {*/
    /*-moz-border-bottom-colors: none;*/
    /*-moz-border-left-colors: none;*/
    /*-moz-border-right-colors: none;*/
    /*-moz-border-top-colors: none;*/
    /*background: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%) repeat scroll 0 0 transparent;*/
    /*border-color: #BFBFC1 #B6B6B6 #969696;*/
    /*border-image: none;*/
    /*border-radius: 2px 2px 2px 2px;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*padding-right: 20px;*/
    /*position: relative;*/
    /*width: 25px;*/
/*}*/




.noneditable {display: inline-block !important;
    padding: 5px 15px !important;
    height: 24px !important;
    cursor: not-allowed !important;
    background-color: #EEE !important;
    border: 1px solid #dadada !important;
    border-radius: 3px !important;}
    
 .statuscolor {background: #81c784;
    border: 1px solid #81c784;}
    
    
//dropdown appbar.html for select company

 .dropdown-toggle, .dropdown-menu { width: 300px }
 .btn-group img { margin-right: 10px }
 .dropdown-toggle { padding-right: 50px }
 .dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
 .dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
 .dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }
 
 img.height18 {height: 18px !important; padding: 0px 6px 2px 2px !important;}
 
 
 
 
 
 //UI for company list
 


.dropdown2 dd, .dropdown dt, .dropdown ul {
	margin: 0px;
	padding: 0px;
}
.dropdown2 dd ul li a span:first-child, .dropdown2 dt a span span:first-child {
	background-image: url("../../../../assets/images/countryflag.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
	display: inline-block;
	margin:5px;
	vertical-align: top;
}
.dropdown2 dt a span {
	cursor: pointer;
	display: block;
	padding: 1px 0px 0px 1px !important;
	white-space: nowrap;
}
.dropdown2 dt a img {
	position: relative;
	z-index: 1;
}
.dropdown2 dt a span span:first-child:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
}
.dropdown2 dt a span span {
	display: inline-block;
	padding: 0;
}
.dropdown2 dt a span span:first-child {
	padding: 0;
}
.dropdown2 dd {
	position: relative;
}
.dropdown2 a, .dropdown2 a:visited {
	color: #4a535f;
	text-decoration: none;
	outline: none;
}
.dropdown2 a:hover {
	color: #5d4617;
}
.dropdown2 dt a:hover, .dropdown2 dt a:focus {
	color: #5d4617;
}
.dropdown2 dt a {
	position: relative;
	background: #fff;
	display: block;
	padding-right: 20px;
	overflow: hidden;
	// border:1px solid #b06bcb;
	width:203px;
}
 .dropdown2 dt a:after {
	content: '';
	background: rgb(33, 150, 243);
	position: absolute;
	 
	height: 22px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
} 

.dropdown2 dt a:before {
    background: none repeat scroll 0 0 rgb(33, 150, 243);
    content: "";
    height: 3px;
    position: absolute;
    right: 7px;
    top: 8px;
    width: 9px;
    z-index: 2;
    border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 6px solid #fff;
//	box-shadow:0 8px 0 #FFFFFF, 0 16px 0 #FFFFFF;
}
.dropdown2 dd ul {
	background: #fff;
	
	color: #2794f1;
	display: none;
	left: 0px;
	padding: 5px 0px;
	position: absolute;
	
	width: 200px;
	border:1px solid rgba(0,0,0,.15);
	list-style: none;
	max-height: 100px;
	overflow-y: scroll;
	top:2px;
	z-index: 2;
}

li a {
	font-size:13px;
}

li a span:nth-child(2) {
    line-height: 2em;
}
.dropdown2 dd ul::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 0px #2196F3;
// border-left:0px solid #2196f3;

}
.dropdown2 dd ul::-webkit-scrollbar-thumb {
 background: #2196f3;
/*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
    border-radius:10px;*/

}
.dropdown2 dd ul::-webkit-scrollbar-thumb:window-inactive {
 background: blue;
 
}
.dropdown2 span.value {
	display: none;
}
.dropdown2 dd ul li a {
	padding: 5px;
	display: block;
	font-size: 12px !important;
}
.dropdown2 dd ul li a:hover {
	background-color: rgba(0,0,0,0.05);
}
dl.dropdown2 {
	display: inline-block;
	width: 199px;
	margin: 0px 11px 0 1px;
}
dl.dropdown2 span:nth-child(3) {
	color: rgba(0,0,0,0.4)
}
dl.dropdown2 > span:nth-child(2) {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}
dl.dropdown2 span:nth-child(3) {
	float: right;
}
dl.dropdown2 dt span:nth-child(2) {
	color: #383838;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.6em;
}
dl.dropdown2 dt span:nth-child(3) {
	display: none;
}
.countryFlag {
	padding: 0;
	background-image: url("../../../../assets/images/countryflag.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 11px;
	margin-right: 4px;
	width: 16px;
	cursor: pointer;
	white-space: nowrap;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #BFBFC1 #B6B6B6 #969696;
	border-image: none;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}


//UI for changeprofile - company list


.dropdown3 dd, .dropdown dt, .dropdown ul {
	margin: 0px;
	padding: 0px;
}
.dropdown3 dd ul li a span:first-child, .dropdown3 dt a span span:first-child {
	background-image: url("../../../../assets/images/countryflag.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
	display: inline-block;
	margin:5px;
	vertical-align: top;
}
.dropdown3 dt a span {
	cursor: pointer;
	display: block;
	padding: 1px;
	white-space: nowrap;
}
.dropdown3 dt a img {
	position: relative;
	z-index: 1;
}
.dropdown3 dt a span span:first-child:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
}
.dropdown3 dt a span span {
	display: inline-block;
	padding: 0;
}
.dropdown3 dt a span span:first-child {
	padding: 0;
}
.dropdown3 dd {
	position: relative;
}
.dropdown3 a, .dropdown3 a:visited {
	color: #4a535f;
	text-decoration: none;
	outline: none;
}
.dropdown3 a:hover {
	color: #5d4617;
}
.dropdown3 dt a:hover, .dropdown3 dt a:focus {
	color: #5d4617;
}
.dropdown3 dt a {
	position: relative;
	background: #fff;
	display: block;
	padding-right: 20px;
	overflow: hidden;
	// border:1px solid #b06bcb;
	width:194px;
}
 .dropdown3 dt a:after {
	content: '';
	background: #2196f3;
	position: absolute;
	 
	height: 29px;
    position: absolute;
    right: 0;
    top: 0;
    width: 31px;
} 

.dropdown3 dt a:before {
    background: none repeat scroll 0 0 #2196f3;
    content: "";
    height: 3px;
    position: absolute;
    right: 8px;
    top: 12px;
    width: 12px;
    z-index: 2;
    border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 6px solid #fff;
//	box-shadow:0 8px 0 #FFFFFF, 0 16px 0 #FFFFFF;
}
.dropdown3 dd ul {
	background: #fff;
	
	color: #2794f1;
	display: none;
	left: 0px;
	padding: 5px 0px;
	position: absolute;
	
	width: 200px;
	border:1px solid rgba(0,0,0,.15);
	list-style: none;
	max-height: 100px;
	overflow-y: scroll;
	top:2px;
	z-index: 2;
}

li a {
	font-size:13px;
}

li a span:nth-child(2) {
    line-height: 2em;
}
.dropdown3 dd ul::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 0px #2196F3;
// border-left:0px solid #2196f3;
}
.dropdown3 dd ul::-webkit-scrollbar-thumb {
 background: #2196f3;
/*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
    border-radius:10px;*/
}
.dropdown3 dd ul::-webkit-scrollbar-thumb:window-inactive {
 background: blue;
}
.dropdown3 span.value {
	display: none;
}
.dropdown3 dd ul li a {
	padding: 5px;
	display: block;
	font-size: 12px !important;
}
.dropdown3 dd ul li a:hover {
	background-color: rgba(0,0,0,0.05);
}
dl.dropdown3 {
	display: inline-block;
	width: 190px;
	margin: 0px 11px 0 1px;
}
dl.dropdown3 span:nth-child(3) {
	color: rgba(0,0,0,0.4)
}
dl.dropdown3 > span:nth-child(2) {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}
dl.dropdown3 span:nth-child(3) {
	float: right;
}
dl.dropdown3 dt span:nth-child(2) {
	color: #383838;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6em;
}
dl.dropdown3 dt span:nth-child(3) {
	display: none;
}
.countryFlag {
	padding: 0;
	background-image: url("../../../../assets/images/countryflag.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 11px;
	margin-right: 4px;
	width: 16px;
	cursor: pointer;
	white-space: nowrap;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #BFBFC1 #B6B6B6 #969696;
	border-image: none;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}


.superdrop select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

.superdrop select.classic5 {
     border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 6px solid #fff;
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

/* select.classic5:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}*/

.ftbold {font-weight: bold;}
.chromeTabs li {padding: 5px 30px !important;}


.Carousel { float: left; overflow: hidden; padding:15px; width: 100%; }

.Carousel-inner { transition: 1s ease all; float: left; } 

    .Carousel-inner .item { float: left; border: 1px solid #ccc; text-align:center; }
    
    .leftLst, .rightLst { margin-top:15px;}
    
 .bor-all0 {border: none !important;}
 .icocolor {color: rgba(0, 0, 0, 0.7) !important;}

 .marginb10 {margin-bottom: 10px !important;}
 md-radio-button .md-label {margin-left: 25px !important;}
.bor-with-rad {
 border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
    background: #fafafa;
    padding: 10px 0px;
    height: 179px;
 border: 1px solid #e1e1e1;
    margin-top: 10px !important;
    }
  .bor-with-rad-view {
 border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
    background: #fafafa;
    padding: 10px 0px;
    height: 200px;
 border: 1px solid #e1e1e1;
    margin-top: 10px !important;
    }
    
.txtresize {resize: none !important;}
.nonoutline {outline: none !important;}
 
.rotate-y{transform: rotateY(180deg) !important;}
.rotaten180{transform: rotate(-180deg) !important;}
.rotate-45{transform: rotate(45deg) !important;}
.icon-circ0 {background: #42a5f5;
    height: 25px;
    width: 25px; border-radius: 50px;
    padding: 5px 0px !important;
    top: 7px;
    right: 1px;
    position: relative;}
.modal-body table tr td.pt12 {padding-top: 12px !important;}
h6.disablewid {width: 100%; overflow: hidden;} 
.icon-position {    top: 7px;
    right: 1px;
    position: relative;}
.width10per-tab{
  width: 16% !important;float:left;
}
.mtb5 {margin-top: 5px; margin-bottom: 5px }
.dropdownplace {top: 28px;
    left: -22px;
    display: block;
    visibility: visible;}
.width20per-tab {    width: 16% !important;
    float: left;}
    .mlr20 {    margin-left: 20px;
    margin-right: 20px;}
    
//search box
    
    .container-4{
  overflow: hidden;
  width: 242px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px 10px 0px 15px;
}
.container-4 input#search{
  width: 300px;
  height: 22px;
  background: #efefef;
  border: none;
  font-size: 10pt;
  float: left;
  color: #000;
  padding-left: 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder {
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder { 
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
 
  border: none;
  background: #232833;
  height: 28px;
  width: 40px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
  outline: none;
    opacity: 1;
    margin-left: -121px;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
/* .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -121px;
  }
 
  .container-4:hover button.icon:hover{
    background: white;
  } */
  
  

#searchinput {
    width: 200px;
}
#searchclear {
    position: absolute;
    right: 74px;
    top: 10px;
    font-size: 14px !important;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border: none;
}

input.searchLine:focus {
    outline: none 
}

input.searchLine {
    width: 80%;
    margin-left: 12px;
    padding-bottom: 0px;
    background: #455a64;
    color: #fff;
}

input[type=search] {
    border: 0;
    cursor: text;
}

.underline {
    background-color: #ebebeb;
    transition: width .5s ease, background-color .5s ease;
    z-index: 0;
    height: 2px;
    margin-top: 0px;
    width: 87%;
    margin-left: 12px;
}

 input:focus ~ .underline {
    background-color: #4EA6EA;
    transition: width .5s ease, background-color .5s ease;
}


.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
 input:focus .sliding-middle-out {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
 input:focus ~ .sliding-middle-out:hover:after {
	width: 100%;
	background: blue;
}

.searchBorder {
      
    background-color: #455a64;
    margin-top: 4px;
    margin-left: 0px;
    border-radius: 0px;
    width: 73%; 
    color: #fff;}
    /* .searchBorder:focus ~ */
.schUnderline{  border-bottom: 1px solid #b7b7b7;
	-webkit-transition: border-bottom 0.5s ease;
	-moz-transition: border-bottom 0.5s ease;
	transition: border-bottom 0.5s ease;
	
    margin: 0px 7px 2px 0px;
    }
 
 .timcolor {color: #455a64 !important;
 }
/*.searchBorder:focus ~ */
#searchclear2 {
    position: relative;
    right: 0px;
    top: 14px;
    font-size: 10px !important;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc !important;
    
}
.expandTable {    margin: auto;    width: 93%;}
.loginBg {height: 415px;
		background: linear-gradient(to right, rgba(33, 150, 243, 0.54) -25%, rgb(186, 104, 200) 100%);}


.slickBg {
background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/* height:calc(100vh);
width:100%; */}
#slick * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: 'Lato', Arial, Helvetica, sans-serif; /* Edit this if you want to match the font with your template design. IF you change it to your font, don't forget to delete the @import above */
	vertical-align: baseline;
	line-height: normal;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#slick label {
	cursor: pointer;
}
#slick input[type="checkbox"],
#slick input[type="radio"] {
	display: none;
	visibility: hidden;
	opacity: 0;
}

#slick a {
	text-decoration: none;
	color: #333;
}
#slick {
	width: 100%; /* <-- Adjust this value to change the width of the forms */
	position: relative;
	float: left;
}
/* === Note === If you experience issues with reset above, please adjust the selectors and values according to your template/website.
When adjusting the reset is adviced to check up the elements on your page, as they might distort. */


/*  ==================
    3. MAIN STYLES
    ==================  */

#slick .login-form {
/*	background: #fff; */
	position: relative;
	width: 100%;
	/* height: 415px; */
	float: left;
/*	padding: 40px;
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);*/
}
#slick .login-form .field input {height: 42px !important; width: 90%;}
#slick .login-form .field select {height: 42px !important; width: 90%; background: #fff;}
#slick select.grayed {
	color: #000;
}
#arrow-select,
#arrow-select-svg {
	
	width: 44px;
	height: 42px;
	position: absolute;
	right: 27px;
	top: 15px;
	pointer-events: none;
	vertical-align: middle;
	outline: none;
	border: none;
	z-index: 3;
}
#slick .login-form .field select:hover,
#slick .login-form .field select:focus {
border: 1px solid #61b4f6 !important;
	outline: none !important;
}





#slick .w-100,
#slick .w-75,
#slick .w-47,
#slick .w-30,
#slick .w-20 {
	float: left;
	display: inline-block;
	position: relative;
}

#slick .bt {
	border-top: solid 1px #f0f0f0;
}
#slick .clrfx {
	clear: both;
	display: block;
	width: 100%;
	float: left;
	position: relative;
}


/*  ==================
    4. TEXT ELEMENTS
    ==================  */

/***** Headings *****/

#slick .title {
	font-family: 'Lobster', cursive;
	font-weight: normal;
	font-size: 32px;
	color: #333;
	line-height: normal;
	display: inline-block;
	float: left;
}

/***** Paragraphs *****/

#slick p.intro {
	font-size: 12px;
	line-height: 16px;
	display: block;
	color: #bbb;
	margin: 20px 0;
	float: left;
	clear: both;
	width: 100%;
}
#slick p.intro b {
	color: #FF2424;
}
#slick p.tick-text {
	font-size: 10px;
	color: #999;
	display: inline-block;
	float: left;
	margin: 8px 0 0 10px;
}

/***** Tooltip *****/

#slick span.slick-tip {
	width: auto;
	height: auto;
	white-space: nowrap;
	padding: 10px;
	font-size: 10px;
	text-align: center;
	color: #fff;
	background: #333;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
#slick span.slick-tip.right {
	right: -30px;
	bottom: 36px;
	background: #fff;
	color: #222;
}
#slick span.slick-tip.left {
	left: 20px;
	top: -44px;
}
#slick span.slick-tip:before {
	content: "";
	position: absolute;
	bottom: -6px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 6px solid rgba(51,51,51,1);
}
#slick span.slick-tip.right:before {
	right: 30px;
	margin-left: -10px;
}
#slick span.slick-tip.right:before {
	border-top: 6px solid rgba(255,255,255,1);
}
#slick span.slick-tip.left:before {
	left: 20px;
	margin-right: -10px;
}
#slick input:focus ~ .slick-tip,
#slick .sb a:hover span.slick-tip {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
#slick input:required:valid ~ .slick-tip {
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

/***** Social icons *****/

#slick .sb {
	position: absolute;
	top: 0;
	right: 40px;
	z-index: 999;
}
#slick .sb a {
	background: #ddd;
	color: #fff;
	font-size: 11px;
	text-align: center;
	display: inline-block;
	margin-left: 1px;
	position: relative;
	width: 24px;
	height: 24px;
	line-height: 24px;
}
#slick .sb a.fb:hover {
	background: #3B5998;
}
#slick .sb a.tw:hover {
	background: #4099FF;
}
#slick .sb a.gc:hover {
	background: #dd4b39;
}


/*  ==================
    5. INPUTS
    ==================  */

/***** Main *****/

#slick .field {
	position: relative;
	width: 100%;
	clear: both;
	float: left;
	margin-bottom: 20px;
}
#slick .field span.icon {
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	background: rgba(33, 150, 243, 0.71);
	border-radius: 3px 0px 0px 3px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	width: 38px;
	height: 100%;
}
#slick .field span.icon span{color: #fff;}
#slick .field input {
	padding: 12px 20px 10px 50px;
	border-radius: 3px 0px 0px 3px;
	width: 100%;
	float: left;
	color: #333;
	font-size: 12px;
	border: solid 1px #ddd;
}
#slick .field > input:hover,
#slick .field > input:focus {
	border: 1px solid #ddd;
	outline: none;
}

#slick .login-form .field div input.passnon:hover,
#slick .login-form .field div input.passnon:focus 
{
	border: 1px solid #61b4f6 !important;
	outline: none !important;
}

/* #slick input:hover ~ span.icon,
#slick input:focus ~ span.icon {
	outline: none;
	background: #281D4D;
	color: #fff;
}
#slick input:hover ~ span.icon span,
#slick input:focus ~ span.icon span{
	
	color: #fff;
	opacity: 1;
}*/

/***** Placeholders *****/

/*-- Webkit --*/
#slick input::-webkit-input-placeholder {
	color: #999;
}
#slick input:focus::-webkit-input-placeholder {
	color: #ccc;
}
/*-- Firefox 19 down --*/
#slick input:-moz-placeholder {
	color: #999;
}
#slick input:focus:-moz-placeholder {
	color: #ccc;
}
/*-- Firefox 19 up --*/
#slick input::-moz-placeholder {
	color: #999;
}
#slick input:focus::-moz-placeholder {
	color: #ccc;
}
/*-- IE 10+ --*/
#slick input:-ms-input-placeholder {
	color: #999;
}
#slick input:focus:-ms-input-placeholder {
	color: #ccc;
}
/*-- IE 9 --*/
#slick .ie9-placeholder {
	color: #999 !important;
}
#slick .ie9-placeholder:focus {
	color: #ccc !important;
}

/***** Validations *****/

#slick .field input:required {
	/* background: #fff url(img/required.png) no-repeat 100% 15px; */
	outline: none;
	box-shadow: none;
	border-radius: 3px 3px 3px 3px !important;
}
#slick .field input:hover:invalid {
	background: #fff url(img/focused.png) no-repeat 100% 15px;
	outline: none;
	box-shadow: none;
}
#slick .field input:required:valid {
	background: #fff url(img/valid.png) no-repeat 100% 15px;
	outline: none;
	box-shadow: none;
}
#slick .field input:focus:invalid {
	background: #fff url(img/invalid.png) no-repeat 100% 15px;
	outline: none;
	box-shadow: none;
}

/***** Send button *****/

#slick .send {
	display: inline-block;
	background: #FF2424;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	color: #fff;
	width: auto;
	padding: 6px 28px;
	border: none;
	outline: none;
	float: right;
	clear: none;
}
#slick input.send:hover,
#slick input.send:focus {
	border: none;
	outline: none;
	background: #333;
	cursor: pointer;
}

/***** Tick checkboxes *****/

#slick label.tick {
	width: auto;
	position: relative;
	display: inline-block;
	float: left;
}
#slick label.tick:before {
	position: absolute;
	display: inline-block;
	content: "";
	width: 16px;
	height: 16px;
	background: #fff;
	border: solid 2px #ddd;
}
#slick label.tick:after {
	opacity: 0;
	visibility: hidden;
	content: "";
	position: absolute;
	width: 8px;
	height: 4px;
	background: transparent;
	top: 6px;
	left: 5px;
	border: 2px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#slick input:checked + label.tick:after {
	opacity: 1;
	visibility: visible;
}
#slick label.tick span {
	font-size: 11px;
	color: #999;
	padding-left: 26px;
}
#slick label.tick:hover span {
	color: #333;
}


/*  ==================
    6. TRANSITIONS
    ==================  */

#slick a,
#slick label,
#slick input,
#slick span.slick-tip,
#slick input ~ span.icon {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}


/*  ==================
    7. MEDIA QUERIES
    ==================  */

/***** Max width 480px *****/

@media screen and (max-width:480px) {
	#slick,
	#slick .w-75,
	#slick .w-47,
	#slick .w-30 {
		width: 100%;
	}
	#slick input.send {
		float: left;
		clear: both;
		font-size: 16px;
		width: 100%;
		padding: 12px;
	}
	#slick .mr-5 {
		margin-bottom: 20px;
	}
	#slick .mr-5 {
		margin-right: 0;
	}
	#slick .field input {
		font-size: 16px;
	}
	#slick p.intro {
		font-size: 14px;
		line-height: 20px;
	}
}


.size {
    width: 100px;
    height: 100px;
}
.sendIcon {
    background: #2196f3;
    /* border: 1px solid #e1e1e1; */
    
    vertical-align: middle;
    
    padding: 4px 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    
    }
.sendIcon:hover, .sendIcon:active    {
    background-color: #1976d2;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
     border-radius: 50px;
    width: 30px;
    height: 30px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dotchangelogin {
 transition: border .2s linear;
    -webkit-transition: border .2s linear;
    -moz-transition: border .2s linear;
/* border: 3px solid #ff9800; */
box-shadow: outset 0 0 0 25px #444e73;
 position: absolute; width: 50px; height: 50px; display: block; background: #42AEE8; top: 11px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step .bs-wizard-infologin {color: #334750; font-size: 14px; padding: 10px 0px 4px 14px !important;}
.bs-wizard > .bs-wizard-step .bs-wizard-infodis {color: #334750; font-size: 14px; padding: 10px 0px 4px 14px !important;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dotlogin {
border: 2px solid #2196F3; position: absolute; width: 50px; height: 50px; display: block; background: #fff; top: 11px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.login-shade {background: rgba(5, 38, 123, 0.19); }
/*.bs-wizard > .bs-wizard-step > .progress > .progress-barlogin {width:0px; box-shadow: none; background: #4c0971;}*/
.il {animation: line .5s ease .45s forwards;}
  .tickmrklogn {
      font: normal normal normal 16px/1 FontAwesome;
    position: relative;
    content: "\f146";
    top: 17px;
    left: 17px;
    /* right: 0; */
    text-align: center !important;
    color: #fff;
   display: inline-block; 
    width: 16px;
    height: 16px;
    }
      .tickmrkdis {
      font: normal normal normal 16px/1 FontAwesome;
    position: relative;
    content: "\f146";
    top: 14px;
    left: 14px;
    /* right: 0; */
    text-align: center !important;
    color: #FF5722;
   display: inline-block; 
    width: 16px;
    height: 16px;
    }
    


.graybg {    background: rgba(158, 158, 158, 0.61);
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #888888;}
.op06 {opacity: 0.6;}
.bor-right-logn {border-right: 3px solid #A5B28A;}
.mt61 {margin-top: 61px;}
.loginbg {background: url("../assets/images/bg_img.png");}
.lognHead {font-size: 16px !important; font-weight: bold;}


        .weak{
            color:#DF7401;
        }
        .medium{
            color:#FFFF00;
        }
 #slick .field .strong{
            color:#9AFE2E;
            font-size: 11px !important;
    /* padding-left: 5px; */
    color: green;
    vertical-align: bottom;
    position: absolute;
    font-weight: 700;
    bottom: 5%;
    width: 100%;
    left: 0%;
    text-align: right;
        }
        
        
#slick .field select {
	background: none;
	background-color: rgba(0,0,0,0);
	height: auto;
	z-index: 2;
	padding-left: 47px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.logobg{

    background: rgb(97, 180, 246);
    border: 1px solid #dadada;
padding-bottom: 44px;
/* background: linear-gradient(to right, rgb(175, 149, 210) 0%, rgba(102,36,194,0.98) 95%, rgba(103,54,172,0.98) 99%, rgba(103,58,166,0.98) 100%); */
}
.padb82 {padding-bottom: 82px;}

.ftawsize {font-size: 1.3vw !important; opacity: 0.4;}
.bgwhite {background: #fff !important;}
.history .nav-stacked li a {    border: 1px solid #607D8B;
    padding: 3px 3px 3px 0px;
    color: #868686;
    margin-bottom: 5px;}
    .nav-stacked ul li a i {    background: #538298;
    padding: 6px 7px 9px 7px;
    color: #fff !important;}
    
.logs-view-left {height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100% !important;
    z-index: 10;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);}
  .bg-insert {background: #c1ffa2;}
  .bg-modify {background: rgba(251, 183, 85, 0.7);}
  .bg-delete {background: rgba(252, 117, 112, 0.33);}
  .indlevel1 {padding-left: 34px !important;}
  .indlevel2 {padding-left: 59px !important;}
  .indlevel3 {padding-left: 81px !important;}
  .indlevel4 {padding-left: 105px !important;}
  .indlevel5 {padding-left: 129px !important;}
  .indlevel6 {padding-left: 152px !important;}
  .ptb0 {padding-top: 0px !important; padding-bottom: 0px !important;}

.pd3 {padding: 3px !important;}


.wf-wizard {margin-top: 8px;}

/*Form Wizard*/
.wf-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0; }
.wf-wizard > .wf-wizard-step {padding: 0; position: relative;}
.wf-wizard > .wf-wizard-step + .wf-wizard-step {}
.wf-wizard > .wf-wizard-step .wf-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.wf-wizard > .wf-wizard-step .wf-wizard-info {color: #999; font-size: 16px; padding: 81px 0px 4px 48px !important;}
.wf-wizard > .wf-wizard-step .wf-wizard-infochange {color: #868686; font-size: 16px; padding: 81px 0px 4px 48px !important;}
.wf-wizard > .wf-wizard-step > .wf-wizard-dot {position: absolute; width: 70px; cursor:pointer; height: 70px; display: block; background: #fff; top: 15px; left: 50%; margin-top: -15px; margin-left: -15px; 
color: #868686; border-radius: 50%; border: 4px solid #dadada;}

.wf-wizard > .wf-wizard-step > .wf-wizard-dotchange {position: absolute; width: 70px; height: 70px; display: block; background: #00aeef; top: 15px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;  border: 4px solid #fff;
color: #868686; }
 
 
.wf-wizard > .wf-wizard-step > .progress {position: relative; border-radius: 0px; height: 3px; box-shadow: none; margin: 19px 0;}
.wf-wizard > .wf-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #03A9F4;}
.wf-wizard > .wf-wizard-step.complete > .progress > .progress-bar {width:100%;}
.wf-wizard > .wf-wizard-step.active > .progress > .progress-bar {width:50%;}
.wf-wizard > .wf-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.wf-wizard > .wf-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.wf-wizard > .wf-wizard-step.disabled > .bs-wizard-dot {background-color: #828384;}
.wf-wizard > .wf-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.wf-wizard > .wf-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.wf-wizard > .wf-wizard-step:last-child  > .progress {width: 50%;}
.wf-wizard > .wf-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.wfplane {
      font: normal normal normal 17px/1 FontAwesome;
    content: "\f146";
    position: relative;
    top: 2px !important;
    left: -12px !important;
    /* right: 0; */
    text-align: center !important;
    color: #868686;
   display: inline-block; 
    width: 16px;
    height: 16px;
    }
    .wfplanechange {
      font: normal normal normal 17px/1 FontAwesome;
    content: "\f146";
    position: relative;
    top: 2px !important;
    left: -12px !important;
    /* right: 0; */
    text-align: center !important;
    color: #fff;
   display: inline-block; 
    width: 16px;
    height: 16px;
    }

    
  .pdcheck {padding: 0px 2px 2px 2px !important;}
  .chkh19px {height: 19px !important;}

  .bluebgcolor {background: #546E7A !important}
  .borderblue {border:1px solid #3b8fb5 !important;}
  .bor-0px {border: 0px !important;}
  .bor-btm-9c{border-bottom: 1px dashed #9c9c9c;}
  .select-arrow-blue   {cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 92%;
    position: absolute;
    right: 0px;
    top: 1px;
    border-left: 1px solid #dadada;
    border-radius: 0 4px 4px 0;
    background-clip: padding-box;
    background: #2196f3;
    background-image: none;}
    .select-arrow-blue b:after {position: absolute;
    top: 50%;
    right: 7px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    content: ' ';}
 .hyp_link a{color:#4c96f1 !important;}
 .hyp_link a:hover{ text-decoration:underline; color:#4c96f1 !important;}
 
 
 .enqIcon {padding: 3px 4px 3px !important;}