
/*
New website : FSL
Author  : Mani
Version :  0.2


*/

/*===1.HTML,BODY,PRELOAD,HEXAGON=====*/

.bor-right{border-right:1px solid #ccc;height:100%;}
.captchas{border:1px solid #ccc; background:#f9f9f9 !important; padding:5px 0px;}
.border-blue{border-bottom:1px solid #4e8ff5 !important; }
.ml-10{margin-left: 10px !important;}
.textare-min-80 {
    min-height: 80px !important;
    height:80px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    resize: none !important;
}
.logo-box{width: 150px ;
    height: 150px;
    background-color: rgba(186, 104, 200, 0.1);
    border: 1px dashed #ba68c8;
    border-radius: 3px; font-size:11px;
}
.logo-box ul{margin-top:20px !important;}
.logo-box ul li{font-size: 11px !important;}
.width13per-tab{
  width: 14% !important;float:left;
}


.drop-downtable{margin-top:10px; width: 98%; height: 40px; font-weight:normal !important; background:#eef1f5;}
.top-table-dd{margin: 0; padding: 0; border-collapse: collapse; width: 100%; height: 150px; overflow: hidden; border: 1px solid #dadada;}
.tbody-dd{margin: 0; padding: 0; border-collapse: collapse; background: #eef1f5 !important; border:1px solid #ccc; width: 99.4%; height: 40px; text-align: left; background:#eef1f5;}
/*.text-right{border:1px solid #ccc !important;}*/

.table-scroll{margin: 0; padding: 0; border-collapse: collapse; width: 100%; height: 150px; overflow: auto;}
.table-hed{margin: 0; padding: 0; border-collapse: collapse; width: 100%; height: 150px; overflow: hidden; border: 1px solid #ccc;}

.border-rights{width: 1px;
    height: 120px;
    background: #ccc;
    float: left;
    margin-left:25px;}
.bor-1px {
    background: #eaecef;
    padding: 5px 16px;
    text-align: center;
    border-radius: 50px;
    margin-top: 40px;
    position: absolute;
    left: 17px;
}


.activeBtnblue {    color: rgba(66, 165, 245, 0.87) !important;
    font-weight: 400  !important;
    border-bottom: 1px solid white  !important;
 }
 
 
.center-image img{display: block; margin: auto;}
.bor-right {
    border-right: 1px solid #ccc;
    height:408px !important;}

.fsl-login-logo{display: block; margin: auto; background:#fff;border-top-right-radius:50%; border-top-left-radius:50%;} 
.chevron-font {
      font: normal normal normal 12px/1 FontAwesome;
    position: relative;
    content: "\f146";
    /* right: 0; */
    text-align: center !important;
    color: #fff;
   display: inline-block; 
    width: 16px;
    height: 16px;
    }
    
.file-drop-boxxx, .img-boxxx{
  width: 100% !important;
  height: 133px !important;
  background-color: rgba(186, 104, 200, 0.1);
  border: 1px dashed #ba68c8;
  border-radius: 3px;
 }
 .file-drop-boxxx ul, .img-boxxx ul {  margin-top: 15%;}
    
.ol-type {list-style-type: alpha}