//@font-face {
//  font-family: 'Roboto', sans-serif;
//  src: url(assets/fonts/Roboto-Medium.ttf);
//  font-weight: normal;
//}
//@font-face {
//  font-family: 'Roboto', sans-serif;
//  src: url(assets/fonts/Roboto-Bold.ttf);
//  font-weight: bold;
//}
//@font-face {
//  font-family: 'Roboto', sans-serif;
//  src: url(assets/fonts/Roboto-Regular.ttf);
//  font-weight: 700;
//}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('assets/fonts/Roboto-Regular-webfont.eot');
  src: url('assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('assets/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('assets/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-light';
  src: url(assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: 'Roboto-medium';
  src: url(assets/fonts/Roboto-Medium.ttf);
}