/* Start Responsive Code Here  */
/* For Samsung Galaxy Note Tab 8.0 - Portrait */



/* --------------------START FOR ------  SAMSUNG - PORTRITE  ---------------------------- SAMSUNG ------------------------ */
@media screen and  ( min-width :500px) and ( max-width :615px) and (orientation : portrait){

.shipheadheight{height: 60px !important;}
.marginshipmt2{margin-top:2px}
.wi142px{width:142px}
.wid70{width:70% !important}
.mmt10{margin-top:10px}
.mmt5{margin-top:5px}
.mmle4{margin-left:4px}
.borderbot{border-bottom: 1px solid #dadada;
padding-bottom: 10px;}
.floright{float:left; text-align:none; padding-bottom:5px }
.margin-left17{margin-left: 17px;}
.border-rightnone{border-right:none !important}
.padbot10{padding-bottom: 10px;}
.menuright{margin-right: 10px; float:right}
.margintt4{margin-top: 4px !important;}



}

@media screen and  ( min-width :500px) and ( max-width :962px) and (orientation : portrait)
{ 	.disppp{display:block;}
	.disnon{display:none}
	.mmt10{margin-top:10px}
//List Page Tabs
.btn-tab2 .apprespmenu{padding: 12px 6px !important; font-size: 10px;}
.btn-tab2 .apprespmenuship{padding: 4px 31px !important;}
.btn-tab2 .respEnquiry{padding: 15px 31px !important;}
.btn-tab2 .shipmentmenu{padding: 12px 21px !important; font-size: 12px;}
.btn-tab2 .quotationmenu{padding: 15px 12px !important; font-size: 9px;}

.respadtop10{padding-top:10px}
.respadrec{padding: 0px 4px !important;}
.paddmenu5{ padding: 3px 5px 4px !important;}
.margint18{margin-top: 18px;}
.plresleft0{padding-left:0px; }
.error-controlnomar {
  border-color: #d32f2f !important;
  outline: none !important;
  //color: red !important;
  margin-bottom: 0px;
}
.dispnon {display: none !important;}

// Main layout
#wrapper tab-trap .resPpage{margin-top: 6px;}

// Add layout

.resPortAddPage .panel .panel-heading {height: 38px !important;}\

//Wizard
.bs-wizard {margin-top: 4px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 35px !important; cursor:pointer; height: 35px !important; display: block; background: #C897CE; top: 15px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}

.bs-wizard > .bs-wizard-step > .bs-wizard-dotchange {position: absolute; width: 35px !important; height: 35px !important; display: block; background: #2196f3; top: 15px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}

.bs-wizard > .bs-wizard-step .bs-wizard-info2 {color: #999; font-size: 11px !important; padding: 0px 0px 4px 14px !important;}
.borconsolright{min-height:60px !important;}
.tickmrk {font:normal normal normal 14px/1 FontAwesome !important;   
 	position: relative;
    content: "\f146";
    top: 9px !important;
    left: 9px !important;
    
    text-align: center !important;
    color: #fff;
   display: inline-block; 
    width: 16px;
    height: 16px;
    }

// List layout
.resPortListPage .panel .panel-heading {height: 38px !important;}
.list-container .panel .panel-footer { font-size: 10px !important;}
.list-container .panel .panel-footer  { height:38px !important; margin-top: -2px !important;}
.list-container .panel .panel-footer .pull-right { padding-top: 3px !important;}

// View layout
.flexview {margin-bottom: 5px;}
.detail-container .logs-view, .masOpertion .logs-view {width: 55%;}

#wrapper #layout-container .detail-container {
    padding: 0 0px 0px 0px;
}

.detail-container > .panel .panel-heading ul li a i {
    font-size: 14px !important;
    color: #000000;
    outline: 0;
    top: 2px;
    position: relative;
}
.fsl-btn-group{font-size: 13px !important;}

.enqIcon {padding: 3px 5px 3px !important;}
.enqft {font-size: 11px !important;}

//border
.bor-Pr-0 {border-right: 0px !important;}
.bor-Pnon {border-right: none;}
.bor-Pt-1 {border-top: 1px solid #efefef; }
.bor-Pt-1line {border-top: 1px solid #dadada; }

//table
.table-responsive > .table > thead > tr > th {white-space:normal !important;}
/* .table-inline-nopad > tbody > tr > td > input {
    min-width: 150px !important;
    max-width: 200px !important;
}
 .table-inline-nopad > tbody > tr > td > .select-auto input {
   min-width: 150px !important;
    max-width: 200px !important;
} 
.table-inline-nopad select {
    min-width: 150px !important;
    max-width: 200px !important;

}
.table-inline-nopad input {
    min-width: 150px !important;
    max-width: 200px !important;

}*/

/* START RESPONSIVE FILE MANIKANDAN ADDED*/
.tab-samsungbtn-port .btn-tabs button {
padding: 3px 5px 4px !important;}
.resPortViewPage .panel .panel-heading {height: 38px !important;}
.pad-Pl0{  padding-left: 0px !important;}
.pad-Pr0{  padding-right: 0px !important;}
.currenty-rate-ipod { padding: 31px 18px 81px 16px;}
.sam-inl_sno{width: 15px; min-width: 15px; max-width: 15px;}
.sam-inl_xxs{width: 30px; min-width: 30px; max-width: 30px;}
.sam-inl_xs{width: 40px; min-width: 40px; max-width: 40px;}
.sam-inl_s{ width: 60px; min-width: 60px; max-width: 60px;}
.sam-inl_sm{width: 65px; min-width: 65px; max-width: 65px;}
.sam-inl_mp{width: 85px; min-width: 85px; max-width: 85px;}
.sam-inl_xlpp{width: 200px; min-width: 180px; max-width: 180px;}
.sam-inl_m{ width: 100px; min-width: 100px; max-width: 100px;}
.sam-inl_mm{width: 70px; min-width: 70px; max-width: 70px;}
.sam-inl_ms{ width: 80px; min-width: 80px; max-width: 80px;}
.sam-inl_mpp{ width: 80px; min-width: 80px; max-width: 80px;}
.sam-inl_l{width: 120px; min-width: 120px; max-width: 120px;}
.sam-inl_lp{width: 170px; min-width: 170px; max-width: 170px;}
.sam-inl_lpp{width: 180px; min-width: 180px; max-width: 180px;}
.sam-inl_xl{width: 250px; min-width: 250px; max-width: 250px;}
.sam-inl_xlm{width: 350px; min-width: 350px; max-width: 350px;}
.sam-inl_xxl{width: 550px; min-width: 550px; max-width: 550px;}
.sam-inl_lz{width: 150px; min-width: 150px; max-width: 150px;}
.sam-size{font-size:7px !important;}
.button-location li {padding: 15px 24px;}
.bor-right { border-right:none !important; }
.font-size-port	{font-size: 10px;}
.tab-port-font{font-size:9px !important; }
.widP80per {width: 80% !important;}
.widP70per {width: 70% !important;}
.width126px { width: 121px !important;}
/* END PAGE RESPONSIVE FILE MANIKANDAN ADDED*/

//Modal

.modal-dialog {margin: auto;}
.resModal .modal-dialog { width: 80%; margin: auto; }
.resModal .modal-dialogleft {position: relative; left: 10%;}
.resModal .modal-dialogleft .modal-body {height: 254px; overflow: auto;}
.enqSideview {width: 65%;}

//.resPError .modal-dialog {width: 70% !important; margin-left: 118px !important;}
.ngdialog-content {margin: auto !important; }

//common margin and padding
.padtopbtm0 {padding-top: 0px !important;padding-bottom: 0px !important;}
.pad-Pl0{  padding-left: 0px !important;}
.pad-Pr0{  padding-right: 0px !important;}
.pad-Pt10 {padding-top: 10px;}
.pad-Pt0 {padding-top: 0px !important;}
.pad-Pt5 {padding-top: 5px;}
.pad-Pb5 {padding-bottom: 5px;}
.pad-Pb10 {padding-bottom: 10px;}
.margint0 {margin-top: 0px !important;}
.margintN50 {margin-top: -50px !important;}
.marginb0 {margin-bottom: 0px !important;}
.marginl0 {margin-left: 0px !important; }
.pad-Pb25 {padding-bottom: 25px;}
.marginl15 {margin-left: 15px !important; }
.mtres-22 {margin-top: 22px !important;}
.mtnres-3 {margin-top: -3px !important;}
.margint5 {margin-top: 5px !important;}
.margint10 {margin-top: 10px !important;}
.margib10 {margin-bottom: 10px !important;}
.margint25 {margin-top: 25px !important;}
.marginb6 {margin-bottom: 6px !important;}
.resfsize{font-size: 11px !important;}
.resinl_xs {width: 35px;     min-width: 35px;     max-width: 35px;}
.resinl_m {width: 60px;     min-width: 60px;     max-width: 60px;}

//width
.widP55per {width: 55% !important;}
.widP65per {width: 65% !important;}
//table width

.input150res{min-width: 150px !important;}
.input125res{min-width: 125px !important;}
.input100res{min-width: 100px !important;}
.input50res{min-width: 50px !important;}
.input75res{min-width: 75px !important;}
.input25res{min-width: 25px !important;}

}
  

/* --------------------END FOR ------  SAMSUNG - PORTRITE  ---------------------------- SAMSUNG ------------------------ */









/* --------------------START FOR ------  SAMSUNG - LANDSCAPE  ---------------------------- SAMSUNG ------------------------ */



/* For Samsung Galaxy Note Tab 8.0 - Landscape */

@media screen and ( min-width :800px) and ( max-width :1280px) and (orientation : landscape) {

// View layout
.flexview {margin-bottom: 5px;}
.m-mt5{margin-top: 5px;}
.mmt10{margin-top:10px}
#wrapper #layout-container .detail-container {
    padding: 0px 0px 0px 0px; 
}

.fsl-btn-group{font-size: 13px !important;}

.detail-container > .panel .panel-heading ul li a i {
    font-size: 14px !important;
    color: #000000;
    outline: 0;
    top: 2px;
    position: relative;
}

//List Page Tabs
.btn-tab2 .apprespmenu{padding: 13px 26px !important; }
.btn-tab2 .respEnquiry{padding: 13px 31px !important;}
.btn-tab2 .shipmentmenu{padding: 12px 21px !important; font-size: 12px;}
.btn-tab2 .quotationmenu{padding: 13px 12px !important; font-size: 12px;}

.samland li .dispnon {display: block !important;}


/* START PAGE RESPONSIVE FILE MANIKANDAN ADDED*/
.widP80per {width: 80% !important;}
.sam-inl_sno{width: 15px; min-width: 15px; max-width: 15px;}
.sam-inl_xxs{width: 30px; min-width: 30px; max-width: 30px;}
.sam-inl_xs{width: 40px; min-width: 40px; max-width: 40px;}
.sam-inl_s{ width: 60px; min-width: 60px; max-width: 60px;}
.sam-inl_sm{width: 65px; min-width: 65px; max-width: 65px;}
.sam-inl_mp{width: 85px; min-width: 85px; max-width: 85px;}
.sam-inl_m{ width: 100px; min-width: 100px; max-width: 100px;}
.sam-inl_mm{width: 70px; min-width: 70px; max-width: 70px;}
.sam-inl_ms{ width: 80px; min-width: 80px; max-width: 80px;}
.sam-inl_mpp{ width: 80px; min-width: 80px; max-width: 80px;}
.sam-inl_l{width: 120px; min-width: 120px; max-width: 120px;}
.sam-inl_lp{width: 170px; min-width: 170px; max-width: 170px;}
.sam-inl_lpp{width: 180px; min-width: 180px; max-width: 180px;}
.sam-inl_xl{width: 250px; min-width: 250px; max-width: 250px;}
.sam-inl_xlm{width: 350px; min-width: 350px; max-width: 350px;}
.sam-inl_xxl{width: 550px; min-width: 550px; max-width: 550px;}
.sam-size { color: #999;font-size: 9px !important;}
.bor-right { border-right:none !important; }


/* END PAGE RESPONSIVE FILE MANIKANDAN ADDED*/


//Main Layout
#wrapper tab-trap .resLpage{margin-top: 3px;}

//Add Layout
.resLandAddPage .panel .panel-heading {height: 38px !important;}

//View Layout
.detail-container .logs-view, .masOpertion .logs-view {width: 55%;}

//Login Layout
.credentials .credentials-panel {top: 3% !important;}
.credentials .credentials-panel .fsl-logo {margin-bottom: 40px !important;}

.btn-Ltab2  li {padding-top: 12px; padding-bottom: 12px;}
//common margin and padding
.pad-Lt10 {padding-top: 10px;}
.pad-Lt0 {padding-top: 0px !important;}
.pad-Lb10 {padding-bottom: 10px;}
.pad-Lb5 {padding-bottom: 5px;}
.pad-Ll0{  padding-left: 0px !important;}
.pad-Lr0{  padding-right: 0px !important;}
.marginL0 {margin-top: 0px !important;}
.marginbL0 {margin-bottom: 0px !important;}
.marginbL10 {margin-bottom: 10px !important;}
.pad-Pb-2 {padding-bottom: 2px;}
.margintL5 {margin-top: 5px !important;}
.margintL10 {margin-top: 10px !important;}
.margintL10 {margin-top: 10px !important;}
.pad-Lt15{  padding-top: 15px !important;}
//height
.minLH450 {min-height: 450px !important;}
//width
.widL55per {width: 55% !important;}

//Modal Layout
.modal {padding-top: 5% !important;
    padding-bottom: 0% !important;
  }
.enqSideview {width: 50%;}
.inl_sres {width: 60px ;     min-width: 60px;     max-width: 60px;}

.marginlL5 {margin-left: 5px; }

.ngdialog-content {margin: auto !important; }

//border
.bor-Lr-1 {border-right: 1px solid #dadada;}
.bor-Lt-1 {border-top: 1px solid #efefef;}

}

/* --------------------END FOR ------  SAMSUNG - LANDSCAPE  ---------------------------- SAMSUNG ------------------------ */




/* --------------------START FOR ------  IPAD - PORTRITE  ---------------------------- IPAD ------------------------ */




/* For iPad - Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
{
.mmt10{margin-top:10px}
//Main Layout
#wrapper tab-trap .resPpage{margin-top: -8px;}
.widP80per {width: 80% !important;}
//Add Layout

//Wizard
.bs-wizard {margin-top: 4px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 35px !important; cursor:pointer; height: 35px !important; display: block; background: #C897CE; top: 15px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}

.bs-wizard > .bs-wizard-step > .bs-wizard-dotchange {position: absolute; width: 35px !important; height: 35px !important; display: block; background: #2196f3; top: 15px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}

.bs-wizard > .bs-wizard-step .bs-wizard-info2 {color: #999; font-size: 11px !important; padding: 0px 0px 4px 14px !important;}
.borconsolright {min-height: 102px !important;}
 .tickmrk {font: normal normal normal 14px/1 FontAwesome !important;   position: relative;
    content: "\f146";
    top: 9px !important;
    left: 9px !important;
   text-align: center !important;
    color: #fff;
   display: inline-block; 
    width: 16px;
    height: 16px;
    }
    
//View Layout
.flexview {margin-bottom: 7px;}
.padclose{padding: 0 5px;}
.enqSideview {width: 50%;}
	
.ngdialog-content {margin: auto !important; }

.list-container .panel .panel-footer {min-height: 40px; padding-top: 8px !important;}
//common margin and padding
.btn-tab2 .apprespmenu{padding: 13px 18px !important; }
.btn-tab2 .quotationmenu{padding: 15px 12px !important; font-size: 11px;}
.enqIcon {padding: 3px 4px 3px !important;}
.marginbL10 {margin-bottom: 0px !important;}
.margint10 {margin-top: 0px !important;}
.m-ipod-10{margin-top:10px !important;}
.bor-Ar-1 {border-right: 1px solid #dadada !important;}
.bor-At-0 {border-top: 0px;}

.bor-right { border-right:none !important; }
.tab-port-font{font-size:12px !important; }
.pad-Al0{  padding-left: 0px !important;}
.pad-At0 {padding-top: 0px;}
.pad-Ar0{  padding-right: 0px !important;}
.paddingtA0 {padding-top: 0px !important;}
.margintA0 {margin-top: 0px !important;}
.margintA0 {margin-top: 0px !important;}
.marginbA0 {margin-bottom: 0px !important;}
.marginbA10 {margin-bottom: 10px;}
.marginlnA5 {margin-left: -5px !important;}
/*.marginbA10 {margin-top: 10px !important;}*/
.inl_sres {width: 60px !important;     min-width: 60px !important;     max-width: 60px !important;}
.resModal .modal-dialogleft {left: 4% !important;}
.resModal .modal-dialog {left: 3% !important;}
   //#wrapper app-bar { position: absolute}
  //#layout-container{ top:0px !important;}
  //header{ height: 35px; display: none; }
 // header{ height:40px !important;}
  //#layout-container{ top:40px !important;}
  .hamburger-icon{ font-size: 12px !important;}
//  header .rightbar .TasksMenu a{ padding: 10px 0 !important;}
  #wrapper aside{ padding-top: 40px;}
  #wrapper aside ul li a{ padding:3px 18px;}
  #wrapper aside ul li a i, #wrapper aside span{ font-size:14px;}
  header i span{ font-size: 14px;}
  header .leftbar ul.breadcrumbMenu li a{ font-size: 11px; }
 // header .rightbar .TasksMenu a{ padding: 7px 0 !important;}
  #enquiryform .panel-heading{ height: 30px;}
  header .rightbar>.flex.flex-end.align-middle .select-box{ display: none;}
  .status-comp{ width: 75px;}
  .panel .panel-heading .masopertion-action a i, .modal-content .panel-heading .masopertion-action a i, .panel .modal-header .masopertion-action a i, .modal-content .modal-header .masopertion-action a i{
    font-size: 1.5vw !important;
  }

 .list-container .panel-footer {
    padding: 3px 15px !important;
}


.currenty-rate-ipod {padding: 31px 18px 30px 16px;}



  label{
    font-size: 12px !important;
  }
  h6.bold{
    font-size: 14px !important;
  }
  .table-inline,
  .table-inline-nopad{
    >thead > tr >th{
      font-size: 11px !important;
    }
    >tbody > tr >td{
      font-size: 11px !important;
    }
  }

  .super-table {
    > thead > tr > th {
      font-size: 12px !important;
    }
    > tbody > tr > td {
      font-size: 12px !important;
    }
  }

  header {
    height: 40px !important;

    .rightbar {
      .TasksMenu a{
        padding: 10px 0 !important;
      }
      .dropdown-menu{
        top: 42px !important;
        margin-top: 0px !important;
      }
    }
    .iconBar a{
      padding: 14px 15px !important;
    }
  }
  .recent-docs{
    top: 40px !important;
  }


  //.detail-container .panelTitle ul.list-inline span {
   // font-size: 13px;
 // }
  .m-mt-1{ margin-top: 1px !important;}
  .m-mt-2{ margin-top: 2px !important;}
  .m-mt-4 {
    margin-top: 4px !important;
  }
  .m-mt-5 {
    margin-top: 5px !important;
  }
  .m-mt-20 {
    margin-top: 20px !important;
  }

  .m-mt-23 {
    margin-top: 23px !important;
  }
  .m-mt-25 {
    margin-top: 25px !important;
  }
  .m-m15{
    margin: 15px;
  }
  .m-mtb-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .m-mtb-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .m-mtb-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .m-abs{
    position: absolute;
  }
  .m-text-center{text-align: center;}
  .m-text-left{text-align: left;}
  .m-text-right{text-align: right;}
  .m-pl15{ padding-left: 15px!important;}
  .m-plr15{ padding-left: 15px!important; padding-right: 15px !important}
  .detail-container .logs-view, .masOpertion .logs-view,.logs-view.width75per{ width:50% !Important;}
  .m-pl0{padding-left: 0 !important;}
  .detail-container > .panel .panel-heading ul li a i{
    font-size: 1.8vw !important;
  }
  .bg-gra-gray{ background-color: #F7F8FC; background-image: none;}
  ::-webkit-scrollbar{ background-color:@dark-grey }
  header .rightbar .userInfo .user-profile-cls span:first-child{
    line-height: 5px;
    padding-top: 7px;
    font-size: 11px;
  }

  .panel .panel-body ul li.custom_label{ font-size: 11px !important;}



}

/* --------------------END FOR ------  IPAD - PORTRITE  ---------------------------- IPAD ------------------------ */





/* --------------------START FOR ------  IPAD - LANDSCAPE  ---------------------------- IPAD ------------------------ */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

//Main Layout
#wrapper tab-trap .resLpage{margin-top: 5px;}

//View Layout
.flexview {margin-bottom: 5px;}

.enqSideview {width: 50%;}

.bor-right { border-right: 0px solid #ccc; }
.margintAL5 {margin-top: 5px;}
.margintAL25 {margin-top: 25px !important;}
.pad-ALt0{  padding-top: 0px;}
.pad-ALl0{  padding-left: 0px !important;}
.pad-ALr0{  padding-right: 0px !important;}
//border
.bor-ALt-0 {border-top: 0px;}
.bor-ALr-1 {border-right: 1px solid #dadada;}
.paddingALicon{padding: 3px 3px 2px !important;}
 .widP80per {width: 80% !important;}
}


/* START PAGE RESPONSIVE FILE MANIKANDAN ADDED*/

/* END PAGE RESPONSIVE FILE MANIKANDAN ADDED*/



/* --------------------END FOR ------  IPAD - LANDSCAPE  ---------------------------- IPAD ------------------------    */































































































@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .recent-docs{ top:52px !important;}
  header{
    height:52px !important;}
  header .rightbar .TasksMenu a{
    padding: 14px 0 !important;
  }
  header .rightbar .dropdown-menu{ margin-top: 8px !important;}
  #layout-container{
    padding-top:52px !important;
  }
  header .iconBar a{ padding: 14px !important;}
  label{
    font-size: 11px !important;
  }
  h6.bold{
    font-size: 14px !important;
  }

  .table-inline,
  .table-inline-nopad{
    >thead > tr >th{
      font-size: 11px !important;
    }
    >tbody > tr >td{
      font-size: 11px !important;
    }
  }

  .super-table {
    > thead > tr > th {
      font-size: 12px !important;
    }
    > tbody > tr > td {
      font-size: 12px !important;
    }
  }


}


@media only screen (max-width: 1024px) {
  .scrollAuto {
    overflow-x: auto !important;
  }
  
}

