.ui-autocomplete {
  max-height: 100px;
  max-width: inherit;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.ui-widget{
  font-size: 12px;
}
.select-auto{
  display: block;
  position: relative;
  width: 100%;
}
.select-auto input[type="text"]{
  width: 100%;
}
.select-arrow{
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 92%;
  position: absolute;
  right: 1px;
  top: 1px;
  border-left: 1px solid #dadada;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #fff;
  background-image: none;
}
.select-arrow b:after{
  position: absolute;
  top: 50%;
  right: 7px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: rgba(128, 128, 128, 0.86) transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
}
.ui-widget-content{
  z-index: 999999;
}

.cursor-disable{
  cursor: not-allowed;
  background-color: #EEE;
  opacity: 1;
}