.detail-container{
  .detail-view{
    height: 100% !important;
    span:not(.label-info){
      /*opacity:@opc-54;*/
      color: @black-54;
      font-size: @font-12;
      font-weight: @font-400;

    }
    h5{
      font-size: @font-14;
      word-wrap: break-word;
      margin-bottom: 0px;
    }
    table{
      margin-top: 15px;
    }
    .metadata-detail {
      h5 {
        font-size: @font-16;
        font-weight: @font-700;
        word-wrap: break-word;
        margin-bottom: 0px;
      }
    }
  }
}

.pickupPanels{
  i{
    font-size: 16px !important;
  }

}

.awbReport_modal{
  img {
    position: relative;
    top: 19px;
    /*height: 1296px;*/
    /*width: 996px;*/
  }
  input {
    font-family: 'Courier','Lato', sans-serif !important;
    font-size: 12px;
    border-color: transparent;
    padding-left: 4px !important;
    padding-right: 2px !important;
    width: 100%;
    border: 1px solid transparent !important;
    border-radius: 1px !important;
    color: rgba(0, 0, 0, 0.87) !important;
    background: transparent !important;
    font-weight: normal !important;
  }
  textarea {
    padding-left: 2px;
    padding-right: 3px;
    padding-top: 0px;
    font-size: 16px ;
    font-family: 'Courier New', 'Lato', sans-serif !important;
    color: rgba(0, 0, 0, 0.87) !important;
    background: transparent !important;
    font-weight: normal !important;
    &:focus {
      border: 1px solid #2196f3 !important;
    }
  }
  .containerFluid {
    width: 1024px;
    display: inline-block;
    position: absolute;
    padding: 0 15px;
    background-color:#ffffff;
    top:0px;
  }
  /*img#result_image {
      width:100%;
      max-width: 100%;
      position: relative;
      display: inline-block;
      vertical-align: middle;
  }*/
  /*.containerFluid {*/
  /*width: 1024px;*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*padding: 0 15px;*/
  /*}*/

  .img {
    width: 1024px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  form > input, textarea {
    font-size: 14px;
    position: absolute;
    border: 1px solid transparent;
    background: transparent;
  }
  input:focus, textarea:focus, keygen:focus, select:focus {
    outline: 0px;
  }
  /*table input:focus, textarea:focus, keygen:focus, select:focus {
      border: 1px solid #cbe7ff;
  }
  */
  table td {
    /*border: 1px solid #a6b7d6;*/
    position: relative;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    display: inline-flex;
    display: -moz-deck;

  }
  .Table input {
    display: inline-block;
    margin: 0;
    border: 0;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 3px;
    background: transparent;
  }

  .ii_2_1{
    top: 62px;
    left: 22px;
  }
  .ii_2_1_text{
    height: 18px;
    width: 322px !important;
    font-size: 16px;
    
  }
  .itxt_3_1{
    top: 198px;
    left: 22px;

  }
  .itxt_3_1_text{
    height: 18px;
    width: 322px !important;
    font-size: 16px;
    padding-left: 0px;
  }
  .i_4_1{
    top: 332px;
    left: 22px;
  }
  .i_4_1_text{
    height: 18px;
    width: 322px !important;
    font-size: 16px;
    padding-left: 0px;
  }
  .txt_1 {
    top: 82px;
    left: 18px;
    width: 495px;
    height: 100px;
    input {
      font-size: 16px !important;
      font-family: 'Courier New', 'Lato', sans-serif !important;
    }
  }
  .txt_1 textarea{
    left: -18px;
  }

  .txt_1_1 {
    top: 70px;
    right:-20px;
    height:70px;
    width:495px;
  }

  .txt_1_1 textarea{
    right:-20px;
    width:495px;
  }

  #textarea {
    height: 98px;
    resize: none;
    overflow-y: hidden;
    width: 495px;
    font-size: 16px;
    padding-left: 4px;
    padding-top: 4px;
    background: transparent;
    border-color: transparent;

  }






  .txt_3 {
    top: 216px;
    left: 19px;
    width: 495px;
    height: 95px;
    input {
      font-size: 16px !important;
      font-family: 'Courier New', 'Lato', sans-serif !important;
    }
  }
  .txt_3 textarea{
    left: -16px;
  }
  textarea {
    resize: none;
    overflow-y: hidden;
  }
  .i_2 {
    top: 55px;
    left: 347px;
    width: 167px;
    height: 20px;
    border: 0px solid #dadada;
    background: transparent;
    font-size: 16px !important;
    font-family: 'Courier New', 'Lato', sans-serif !important;
  }
  /*.txt_3 {
    top: 210px;
    left: 34px;
    width: 478px;
    height: 95px;
  }*/
  .i_4 {
    top: 191px;
    left: 347px;
    height: 20px;
    width: 167px;
    border: 0px solid #dadada;
    font-size: 16px !important;
    font-family: 'Courier New', 'Lato', sans-serif !important;
  }
  .txt_5 {
    top: 347px;
    left: 19px;
    width: 499px;
    height: 105px;
    font-size: 16px;
    padding-left: 0px;
    padding-top: 4px;
    background: transparent;
    border-color: transparent;
    input {
      font-size: 16px !important;
      font-family: 'Courier New', 'Lato', sans-serif !important;
    }
  }
  .i_6 {
    top: 454px;
    left: 128px;
    width: 150px;
    height: 23px;
  }
  .i_7 {
    top: 454px;
    left: 348px;
    width: 167px;
    height: 23px;
  }
  .i_8 {
    top: 496px;
    left: 17px;
    width: 300px;
    height: 18px;
    font-size: 14px;
    input {
      width: 100%;
      height: 18px;
      position: relative;
    }
  }
  
  .i_8_1 {
    top: 494px;
    left: 72px;
    width: 443px;
    height: 21px;

  }
  .i_8_1_text{
    width: 438px !important;
    height: 17px;
    font-size: 14px;
    padding-left: 0px;
  }
  .txt_9 {
    top: 332px;
    left: 514px;
    width: 492px;
    height: 146px;
    font-size: 14px;
    padding-left: 5px;
  }
  .i_10 {
    top: 494px;
    left: 514px;
    width: 186px;
    height: 18px;
    font-size: 14px;
  }
  .i_11 {
    top: 495px;
    left: 700px;
    width: 148px;
    height: 18px;
  }
  .i_12 {
    top: 315px;
    left: 687px;
    width: 74px;
  }
  .i_13 {
    top: 533px;
    left: 17px;
    input {
      height: 21px;
    }
  }
  .i_13_text {
    width: 60px !important;
    height: 18px;
    font-size: 15px;
    padding-left: 0px;

  }
  .i_14 {
    top: 533px;
    left: 85px;

  }
  .i_14_text{
    height: 18px;
    width: 222px;
    font-size: 14px;
    padding-left: 0px;
  }
  .i_15 {
    top: 531px;
    left: 310px;
    width: 53px;
    height: 19px;
    padding-left: 1px;
  }
  .i_16 {
    left: 365px;
    top: 531px;
    width: 49px;
    height: 19px;
    padding-left: 1px;
  }
  .i_17 {
    top: 531px;
    left: 416px;
    width: 46px;
    height: 19px;
    padding-left: 1px;
  }
  .i_18 {
    top: 531px;
    left: 464px;
    width: 48px;
    height: 19px;
    padding-left: 1px;
  }
  .i_19 {
    top: 533px;
    left: 515px;
    width: 60px;
    .select-auto {
      input{
        position: relative;
      }
    }
  }
  .i_19_text{
    width: 59px !important;
    height: 20px;
    text-align: center;
    font-size: 15px;
  }
  .i_20 {
    top: 533px;
    left: 575px;
    width: 31px;
    text-align: center;
    height: 19px;
    padding-bottom: 5px !important;
    margin: 0 !important;
  }
  .i_21 {
    top: 529px;
    left: 605px;
    width: 23px;
    text-align: center;
    padding-top: 3px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: 13px !important;
    padding-bottom: 5px;
  }
  .i_22 {
    top: 534px;
    left: 629px;
    width: 25px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    height: 18px;
  }
  .i_23 {
    top: 529px;
    left: 654px;
    width: 24px;
    height: 20px;
    text-align: center;
    padding-top: 3px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0;
    font-size: 13px !important;
  }
  .i_24 {
    top: 536px;
    left: 676px;
    width: 26px;
    height: 14px;
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .i_25 {
    text-align: center;
    top: 529px;
    left: 700px;
    width: 145px;
    height: 21px;
    padding-right: 6px;
  }
  .i_26 {
    text-align: center;
    left: 847px;
    top: 529px;
    width: 159px;
    height: 21px;
    padding-right: 6px;
  }
  .i_27 {
    top: 576px;
    left: 20px;
    width: 138px;
    height: 18px;
    text-align: left;
    input {
      height: 21px;
    }
  }
  .i_27_1 {
    top: 574px;
    left: 21px;
    width:60px;

  }
  
  .i_277_1 {
    top: 576px;
    left: 53px;
    width:auto;

  }
  
  .i_27_1_text {
    width: 141px !important;
    height: 28px;
    text-align: left;
  }
  .i_28 {
    text-align: right;
    top: 567px;
    left: 220px;
    width: 148px;
    height: 30px;
    font-size: 12px;
  }
  .i_29 {
    left: 367px;
    top: 567px;
    width: 149px;
    height: 30px;
    font-size: 12px;
  }
  .i_30 {
    left: 514px;
    width: 146px;
    top: 568px;
    height: 29px;
    text-align: center;
  }
  .txt_321 {
    display: inline-block;
    position: absolute;
    left: 275px;
    top: 40px;
    width: 330px;
    label {
      width: 60px;
      display: inline-block !important;
      /*color: #629ac7;*/
      display: block;
      position: relative;
      top: 2px;
    }
    input {
      display: inline-block !important;
      width: 250px;
    }
  }
  .txt_3212 {
    display: inline-block;
    position: absolute;
    left: 615px;
    top: 40px;
    width: 265px;
    label {
      width: 240px;
      display: inline-block !important;
      /*color: #629ac7;*/
      display: block;
    }
  }
  .txt_32 {
    top: 611px;
    left: 17px;
    height: 65px;
    width: 880px;
    font-size: 14px;
    textarea {
      width: 100% !important;
      height: 66px;
    }
  }
  .i_33 {
    top: 646px;
    left: 896px;
    width: 109px;
    height: 31px;
    text-align: center;
  }
  .i_34 {
    top: 1003px;
    left: 18px;
    width: 188px;
    height: 19px;
    text-align: right;
  }
  .i_35 {
    top: 1004px;
    left: 208px;
    width: 191px;
    height: 18px;
    text-align: right;
  }
  .i_36 {
    top: 1036px;
    left: 18px;
    width: 188px;
    height: 19px;
    text-align: right;
  }
  .i_37 {
    top: 1036px;
    left: 208px;
    width: 191px;
    height: 19px;
    text-align: right;
  }
  .i_38 {
    top: 1071px;
    left: 18px;
    width: 188px;
    height: 27px;
    text-align: right;
  }
  .i_39 {
    top: 1072px;
    left: 208px;
    width: 191px;
    height: 26px;
    text-align: right;
  }
  .i_40 {
    top: 1114px;
    left: 18px;
    width: 188px;
    height: 27px;
    text-align: right;
  }
  .i_41 {
    top: 1114px;
    left: 208px;
    width: 191px;
    height: 26px;
    text-align: right;
  }
  .i_42 {
    top: 1142px;
    left: 18px;
    width: 188px;
    height: 36px;
    text-align: right;
  }
  .i_43 {
    top: 1142px;
    left: 208px;
    width: 191px;
    height: 35px;
    text-align: right;
  }
  .i_44 {
    top: 917px;
    left: 38px;
    width: 125px;
  }
  .i_45 {
    top: 953px;
    left: 174px;
    width: 125px;
  }
  .i_46 {
    top: 1193px;
    left: 18px;
    width: 188px;
    height: 25px;
    text-align: right;
  }
  .i_47 {
    top: 1193px;
    left: 208px;
    width: 191px;
    height: 25px;
    text-align: right;
  }
  .i_48 {
    top: 1233px;
    left: 18px;
    width: 188px;
    height: 22px;
    text-align: center;
  }
  .i_49 {
    top: 1233px;
    left: 208px;
    width: 192px;
    height: 22px;
    text-align: center;
  }
  .i_50 {
    top: 1070px;
    left: 38px;
    width: 125px;
    height: 9px;
  }
  .i_51 {
    top: 1271px;
    left: 208px;
    width: 192px;
    height: 18px;
    text-align: center;
  }
  .i_52 {
    top: 1271px;
    left: 402px;
    width: 191px;
    height: 18px;
    text-align:center ;
  }
  .txt_53 {
    top: 973px;
    position: absolute;
    left: 402px;
    height: 81px;
    width: 604px;
  }

  .Table {
    position: absolute;
    top: 717px;
    left: 18px;
  }

  .one {
    top: 934px;
    left: 18px;
    width: 55px;
    height: 21px;
    text-align: right;
  }
  .two {
    top: 934px;
    left: 75px;
    width: 81px;
    height: 21px;
    text-align: right;
  }
  .three {
    top: 934px;
    left: 564px;
    width: 157px;
    height: 22px;
    text-align: center !important;
  }

  #textarea, #dummy {
    font-family: 'Courier New','Lato', sans-serif;
    width: 355px;
    font-size: 12px;
  }

  #textarea {
    height: 98px;
    resize: none;
    overflow-y: hidden;
    width: 495px;
    font-size: 16px;
    padding-left: 4px;
    padding-top: 4px;
    background: transparent;
    border-color: transparent;
  }
  #dummy {
    visibility: hidden;
    height: 0px;
  }
  /*b-dir textarea:first-child {
      resize: none;
      overflow-y: hidden;

  }
  b-dir textarea:last-child {

      visibility: hidden;
      height: 0px;

  }
  .txt_1 b-dir textarea:first-child {
      width: 355px;
      height: 82px;
      overflow-y: hidden;


  }
  .txt_3 b-dir textarea:first-child {
      width: 355px;
      height: 82px;
      overflow-y: hidden;
  }
  .txt_1 b-dir textarea:last-child {

       visibility: hidden;
       height: 0px;

   }
  .txt_3 b-dir textarea:last-child {

      visibility: hidden;
      height: 0px;

  }*/
  .ii_34 {
    top: 970px;
    left: 18px;
    width: 188px;
    height: 18px;
    text-align: right;
  }
  .ii_35 {
    top: 970px;
    left: 208px;
    width: 191px;
    height: 18px;
    text-align: right;
  }

  .td1 {
    width: 55px;
  }

  td.td2 {
    width: 80px;
    left: 2px;
  }

  td.td3 {
    width: 18px;
    left: 6px;
    top: -1px;
  }

  td.td4 {
    width: 18px;
    left: 6px;
  }

  td.td5 {
    width: 76px;
    left: 8px;
  }

  td.td6 {
    width: 130px;
    left: 20px;
  }

  td.td7 {
    left: 33px;
    width: 124px;
  }

  td.td8 {
    left: 46px;
    width: 156px;
    input {
      text-align: center !important;
    }
  }

  td.td9 {
    left: 59px;
    width: 271px;
  }


  .ii_1 {
    top: 21px;
    left: 82px;
    width: 63px;
    height: 23px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .ii_2 {
    top: 20px;
    left: 716px;
    width: 160px;
    font-weight: bold;
    font-size: 17px;
    height: 23px;
  }
  .i_2_1 {
    top: 50px;
    left: 643px;
    width: 346px;
    font-size: 16px;
  }
  .i_2_1_text {
    top: 50px;
    left: 643px;
    width: 346px;
    font-size: 16px;
  }
  .ii_3 {
    top: 50px;
    left: 643px;

  }
  .ii_3_text{
    width: 346px !important;
    font-size: 16px;
    padding-left: 0px;
  }
  .itxt_3 {
    top: 98px;
    left: 580px;
    height: 67px;
    width: 429px;
    input {
      font-family: 'Courier New', 'Lato', sans-serif !important;
      position: relative;
      height: 15px;
      font-size: 13px !important;
      &:nth-child(2) {
        top: -5px;
        position: relative;
      }
      &:nth-child(3) {
        top: -10px;
        position: relative;
      }
      &:nth-child(4) {
        top: -13px;
        position: relative;
      }

    }
  }
  .ii_3_1 {
    width: 425px;
    top: 88px;
    left: 583px;
    .select-auto {
      input {
        width: 100% !important;
        height: 16px;
        position: relative;
        top: -2px;
      }
    }
  }
  .ii_3_1_text{
    height: 18px;
    width: 583px !important;
    font-size: 16px;
    padding-left: 0px;
  }
  .itxt_3 #textarea {
    height: 49px;
    resize: none;
    overflow-y: hidden;
    width: 492px;
    top: 3px;
    left: -10px;

  }
  .itxt_32 #textarea {
    top: 619px;
    left: 17px;
    height: 57px;
    width: 879px;
    overflow-y: hidden;
    resize: none;
  }
  .tables {
    overflow: hidden;
    clear: both;
    width: 605px;
  }
  .tables > div {
    float: left;
  }
  .tables table {
    border-collapse: collapse;
    width: 260px;
  }
  .tables table td {
    display: inline-flex;
    display: -moz-deck;
    /*border: 1px solid #a6b7d6;*/
    position: relative;
  }
  .td1 input, .td2 input, .td4 input, .td6 input {
    text-align: right;
  }
  .td7 input {
    /*text-align: center;*/
  }
  td.td21 input {
    text-align: right;
  }
  td.td21 {
    width: 110px;
  }
  td.td11 {
    width: 110px;
  }
  .txt_54{
    top: 1140px;
    position: absolute;
    left: 402px;
    .select-auto {
      input {
        width: 260px !important;
      }
    }

  }
  .txt_54_text{
    width: 242px;
    height: 25px;
    font-size: 16px;
  }
  .txt_55 {
    top: 1140px;
    position: absolute;
    left: 786px;

  }
  .txt_556 {
    top: 1178px;
    position: absolute;
    left: 402px;
    label {
      /*color: #629ac7;*/
      display: block;
      left: 2px;
      position: relative;
    }
    input {
      width: 250px;
      top: -4px;
      position: relative;
    }
  }
  .txt_55_text{
    width: 242px;
    height: 25px;
    font-size: 16px;
    text-align: right;
  }
  .i_56 {
    top: 1219px;
    position: absolute;
    left: 402px;
    width: 111px;
  }
  .i_57 {
    top: 1217px;
    left: 556px;
    width: 64px;
    .select-auto {
      input {
        width: 100% !important;
        text-align: center;
      }
    }
  }
  .i_57_text {
    width: 111px !important;
    height: 25px;
    text-align: center;

  }

  .i_58 {
    top: 1179px;
    left: 801px;
    label {
      /*color: #629ac7;*/
      display: block;
      left: 2px;
      position: relative;
    }
    input {
      height: 24px;
      width: 250px;
      top: -4px;
      position: relative;
    }
  }
  .in_588 {
    top: 1217px;
    left: 775px;
    width: 233px;
  }
  .i_58_text{
    width: 284px !important;
    height: 25px;
    text-align: right;

  }
  .i_59 {
    top: 1225px;
    position: absolute;
    left: 839px;
    width: 166px;
    text-align: right;
  }
  .ii_1_0 {
    top: 20px;
    left: 15px;
    width: 66px;
    height: 24px;
    font-size: 17px;
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;
    border: 0px solid;
  }
  .ii_1_1 {
    top: 20px;
    left: 146px;
    width: 220px;
    height: 23px;
    font-size: 17px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    border: 0px solid;
    padding-left: 3px;
  }
  .select-auto {
    input {
      font-size: 16px !important;
      padding-left: 0 !important;
      font-family: 'Courier New', 'Lato', sans-serif !important;
    }
  }
  
 .select-autoo {
    input {
      font-size: 14px !important;
      padding-left: 0 !important;
      font-family: 'Courier New', 'Lato', sans-serif !important;
    }
  }
  
  
  
  .ii_1_3{
    position: absolute;
    left: 635px;
    top: 19px;
    font-weight: bold;
    font-size: 17px !important;
    height: 23px;
    padding-top: 4px;
    width: 79px;
    /*font-family: 'Courier New', 'Lato', sans-serif !important;*/
  }
  textarea.t_9 {
    position: absolute;
    top: 719px;
    left: 733px;
    width: 273px;
    height: 237px;
    word-wrap: break-word;
    font-size:12px;
  }
  .i_59 {
    top: 1257px;
    position: absolute;
    left: 595px;
    width: 411px;
    text-align: center;
    height: 33px;
    font-size: 16px;
    font-weight: bold;
  }
  .absTextarea {
    width: 538px;
    padding: 6px;
    height: 197px;
    position: absolute;
    top: 20px;
    left: -2px;
  }
  .t_8 {
    /*text-align: center;*/
  }

  .pattern-header{
    background-image: url("../assets/images/info_bg.jpg") !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: auto;
    padding: 0px 15px;
  }
  .pattern-header > .row > div[class*="col-xs-"]{
    padding-top: 8px;
    padding-bottom: 5px;
    min-height: 43px;
  }

  .border-between > [class*='col-xs']:before {
    background: #dadada;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
  }
  .border-between > [class*='col-xs']:first-child:before {
    display: none;
  }

  .bor-r-1{
    border-right: 1px solid #dadada;
  }
  .switcher{
    padding:3px 10px;
    border-radius: 50px;
    border: 3px solid #ffffff;
    cursor: pointer;
  }
  .blue-switcher{
    background-color:#4587BC;
  }
  .red-switcher{
    background-color:#DD4C4C;
  }
  .violet-switcher{
    background-color:#AE77BC;
  }
  .gray-switcher{
    background-color:#BFBFBF;
  }

  .modal-header{
    background-color: #fafafa !important;
    padding: 2px 15px !important;
  }
  .btn-small{
    padding: 3px 12px !important;
    margin-top: 5px;
    color: #000;

  }


  .one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  }

  .error-header{
    background-color: rgba(211,47,47,0.7);
    height: 28px;
    padding: 3px 15px;
    ul li span{
      font-size:12px;
      color:white;
    }
    .downicon_arr{
      i{
        color: white;
        font-size: 14px;
        position: relative;
        top: 2px;
        cursor: pointer;
      }
    }
  }
  .error_body {
    background-color: #fceded;
    border: 1px solid #e57373;
    margin: 0;
    padding: 10px;
    .error_list{
      li{
        position: relative;
        font-family: @font-name;
        font-size: 13px;
        font-weight: 500;
        line-height: 25px;
        color: #e57373;
      }
      li:before {
        position: absolute;
        content: "";
        background: url("../assets/images/error_list.png");
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        left: -19px;
        top: 4px;

      }
    }
  }

}

.dw-small{
  padding: 3px 12px !important;
  margin-top: 5px;
  color: @white !important;
  &:hover, &:focus {
    color: @white;
  }
}
/*DELIVERY ORDER CSS starts*/

.do_modal {

  .error-header{
    background-color: rgba(211,47,47,0.7);
    height: 28px;
    padding: 3px 15px;
    ul li span{
      font-size:12px;
      color:white;
    }
    .downicon_arr{
      i{
        color: white;
        font-size: 14px;
        position: relative;
        top: 2px;
        cursor: pointer;
      }
    }
  }
  .error_body {
    background-color: #fceded;
    border: 1px solid #e57373;
    margin: 0;
    padding: 10px;
    .error_list{
      li{
        position: relative;
        font-family: @font-name;
        font-size: 13px;
        font-weight: 500;
        line-height: 25px;
        color: #e57373;
      }
      li:before {
        position: absolute;
        content: "";
        background: url("../assets/images/error_list.png");
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        left: -19px;
        top: 4px;

      }
    }
  }
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
  border-radius: 3px;
  overflow: hidden !important;
  .modal-dialog {
    width: 1050px;
    .delivery_order {
      width: 1024px;
      display: block;
      min-height: 730px;
      padding: 15px 15px;
      background-color: #fff;
      img {
        max-width: 100%;
        width: 83px;
        height: auto;
      }
      span {
        color: #000;
        font-size: 14px;
      }
      p {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 3px;
        margin-top: 3px;
        font-size: 14px;

      }
      .bold_font {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
      }
      input, textarea{
        font-family: 'Roboto', sans-serif;
        width: 100%;
        font-size: 14px;
        color: #000;
        font-weight: 400;
        padding-left: 3px;
        border: 0;
        resize: none;
        overflow: hidden;
      }
      input:focus, textarea:focus {
        outline: 0;
        border: 0 !important;
      }
      .list-inline {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 3px;
        li {
          display: inline-block;
          color: #000;
        }
      }
      .do_header {
        display: flex;
        width: 100%;
        min-height: 87px;
        justify-content: space-between;
        align-items: center;
        div:first-child {
          flex-basis: 93px;
          height: 77px
        }
        div:nth-child(2) {
          flex-basis: 669px;
          textarea {
            height: 64px;
            text-align: center;
            overflow: hidden;
          }
        }
        div:last-child {
          flex-basis: 93px;
          height: 77px
        }
      }
      .do_Title {
        width: 100%;
        display: block;
        text-align: center;
        div {
          flex-basis: 100%;
          h3 {
            margin-top: 5px;
            margin-bottom: 15px;
            padding-bottom: 0px;
          }
        }
      }
      .do_detail {
        display: flex;
        justify-content: space-between;
      }
      .do_to {
        display: flex;
        flex-direction: column;
        textarea {
          height: 22px;
          position: relative;
          top: 6px;
        }
      }
      .do_table {
        width: 100%;
        display: flex;
        >div:first-child {
          flex-basis: 100%;
        }
        table:first-child {
          input {
            text-align: center;
          }
          thead {
            th{
              text-align: center;
              color: #000;
              font-size: 14px;
            }
            th:last-child{
              width: 138px;
            }
          }
          td{
            font-size: 14px;
          }
        }
        table:nth-child(2) {
          margin-top: 3px;
          margin-bottom: 3px;
          tbody tr {
            td{
              height: 28px;
              vertical-align: bottom;
            }
            td:first-child {
              width: 100px;
            }
            td:last-child {
              width: 137px;
              input {
                width: 71px;
                text-align: right;
              }
            }
          }
        }
        table:last-child {
          tbody tr {
            td{
              padding-bottom: 18px;
              height: 30px;
            }
            td:first-child {
              width: 148px;
            }
            td:last-child{
              padding: 0px;
              padding-right: 6px;
            }
          }
        }
        table {
          th {
            color: #000;
          }
          width: 100%;
          input {
            margin: 0;
            padding: 1px;

          }
        }
        table, th, td {
          position: relative;
          border: 1px solid black;
          border-collapse: collapse;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 14px;
          height: 21px !important;
        }
        tbody tr td {
          padding-right: 6px;
          padding-left: 6px;
          span {
            font-size: 14px;
            color: #000;
            font-weight: 400;
          }
        }
        caption {
          color: #000;
          font-size: 14px;
          text-align: left;
          padding-top: 0;
        }
      }
      .do_footer {
        margin-top: 15px;
        ul{
          li:last-child {
            input{
              border-bottom: 1px solid #000;
            }
          }
        }
      }
      .do_sign{
        display: flex;
        justify-content: flex-end;
        div {
        }
      }
      .do_end {
        width: 100%;
        display: flex;
        >div {
          width: 100%;
        }

      }
      hr {
        border-width: 0;
        border-top: 1px dashed #000;
        margin-bottom: 15px;
        margin-top: 10px;
        height: 0px;

      }
    }/*delivery order ends*/
  }

}

