/***@import url(https://fonts.googleapis.com/css?family=Roboto);***/
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(assets/fonts/roboto_woff_2/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(assets/fonts/roboto_woff_2/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(assets/fonts/roboto_woff_2/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(assets/fonts/roboto_woff_2/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(assets/fonts/roboto_woff_2/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(assets/fonts/roboto_woff_2/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(assets/fonts/roboto_woff_2/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}


@font-name:'Roboto', sans-serif;
@roboto-regular:'Roboto', sans-serif;

@stripe-bg : "assets/images/stripe_bg.png";
@auth-bg : "assets/images/login_bg.jpg";
/*===menu variables===*/
@navbarheight:68px;
@recent-doc-color:#25394F;
@recent-doc-width:56px;
@menu-icon-size:1.9rem;
@theme1-start-color:#2196f3;
@theme1-end-color:#ba68c8;
@theme1-a-hover:#977EBD;
@theme1-sidebar-hover:#2196F3;
@side-bar-color:#25394F;
@hamburger-width:56px;

/**==end menu variables===*/

@theme1-login-color:#efefef;
@auth-container-width : 350px;

/*========opacity variables=========*/
@opc-02:.2;
@opc-03:.3;
@opc-12:.12;
@opc-07:.7;
@opc-54:.54;
@opc-87:.87;
@opc-34:.34;
@opc-38:.38;
@opc-0:0;
@opc-1:1;
/*=======end opacity variables========*/
@accent-btn-bg:#2196f3;
@error-500:#F44336;
@error-400:#e57373;
@success-500:#4CAF50;

/*=====Material Color==========*/
/*Notices bg*/
@warning:#e57373;
@info:#75c3f8;
@important:#ffc35f;
@success:#91cf96;

@trans:rgba(0,0,0,0);
@white:#fff;
@block:#000;
@primary-4:#42A5F5;
@primary-5:#2196F3;
@primary-7:#1976D2;
@primary-8:#1565C0;
@netural-50:#FFEE58;
@netural-1:#CFD8DC;
@netural-2:#B0BEC5;
@netural-7:#455A64;
@accent-pink-8:#455A64;
@accent-pink-7:#C2185B;
@accent-pink-5:#E91E63;
@accent-pink-4:#EC407A;
@accent-orange-8:#EF6C00;
@accent-orange-7:#F57C00;
@accent-orange-5:#FF9800;
@accent-orange-4:#FFA726;
@accent-yellow-8:#F9A825;
@accent-yellow-7:#FBC02D;
@accent-yellow-5:#FFC107;
@accent-yellow-4:#FFEE58;
@accent-purple-8:#6A1B9A;
@accent-purple-7:#7B1FA2;
@accent-purple-5:#9C27B0;
@accent-purple-4:#AB47BC;
@error-4:#EF5350;
@error-5:#F44336;
@error-7:#D32F2F;
@error-8:#C62828;
@warning-4:#FFEE58;
@warning-5:#FFEB3B;
@warning-7:#FDD835;
@warning-8:#F9A825;
@success-4:#66BB6A;
@success-5:#4CAF50;
@success-7:#388E3C;
@success-8:#2E7D32;
@disabled-2:#E0E0E0;
@disabled-3:#BDBDBD;
@disabled-7:#616161;
@disabled-8:#424242;

@light-green: #a5d6a7;
@light-blue:#80deea;
@yellow: #ffcc80;;

/*===============Font Family, Size, weight=====================*/
.fS11-W400-Cb54 {
  font-size: @font-11;
  color: @black-54;
  font-weight: @font-400;
}
.fS11-W500-Cb54 {
  font-size: @font-11;
  color: @black-54;
  font-weight: @font-500;
}
.fS11-W600-Cb54 {
  font-size: @font-11;
  color: @black-54;
  font-weight: @font-600;
}
/*===================Font12========================*/
.fS12-W400-Cw {
  font-size: @font-12;
  color: @white;
  font-weight: @font-400;
}
.fS12-W500-Cw {
  font-size: @font-12;
  color: @white;
  font-weight: @font-500;
}
.fS12-W400-Cb {
  font-size: @font-12;
  color: @white;
  font-weight: @font-400;
}
.fS12-W500-Cb {
  font-size: @font-12;
  color: @black;
  font-weight: @font-500;
}
.fS12-W400-Cb54 {
  font-size: @font-12;
  color: @black-54;
  font-weight: @font-400;
}
.fS12-W400-Cb87 {
  font-size: @font-12;
  color: @black-87;
  font-weight: @font-400;
}
.fS12-W500-Cb54 {
  font-size: @font-12;
  color: @black-54;
  font-weight: @font-500;
}
.fS12-W400-Cw54 {
  font-size: @font-12;
  color: @white-54;
  font-weight: @font-400;
}
.fS12-W400-Cb87 {
  font-size: @font-12;
  color: @white-87;
  font-weight: @font-400;
}
/*===================Font13========================*/
.fS13-W300-Cw {
  font-size: @font-13;
  color: @white;
  font-weight: @font-300;
}
.fS13-W400-Cw {
  font-size: @font-13;
  color: @white;
  font-weight: @font-400;
}
.fS13-W500-Cw {
  font-size: @font-13;
  color: @white;
  font-weight: @font-500;
}
.fS13-W300-Cw54 {
  font-size: @font-13;
  color: @white-54;
  font-weight: @font-300;
}
.fS13-W300-Cw87 {
  font-size: @font-13;
  color: @white-87;
  font-weight: @font-300;
}
.fS13-W400-Cw54 {
  font-size: @font-13;
  color: @white-54;
  font-weight: @font-400;
}
.fS13-W400-Cw87 {
  font-size: @font-13;
  color: @white-87;
  font-weight: @font-400;
}
.fS13-W500-Cw54 {
  font-size: @font-13;
  color: @white-54;
  font-weight: @font-500;
}
.fS13-W500-Cw87 {
  font-size: @font-13;
  color: @white-87;
  font-weight: @font-500;
}
.fS13-W600-Cw54 {
  font-size: @font-13;
  color: @white-54;
  font-weight: @font-600;
}
.fS13-W600-Cw87 {
  font-size: @font-13;
  color: @white-87;
  font-weight: @font-600;
}
.fS13-W700-Cw54 {
  font-size: @font-13;
  color: @white-54;
  font-weight: @font-700;
}
.fS13-W700-Cw87 {
  font-size: @font-13;
  color: @white-87;
  font-weight: @font-700;
}

.fS13-W600-Cb54 {
  font-size: @font-13;
  color: @black-54;
  font-weight: @font-600;
}
.fS13-W600-Cb87 {
  font-size: @font-13;
  color: @black-87;
  font-weight: @font-600;
}
.fS13-W700-Cb54 {
  font-size: @font-13;
  color: @black-54;
  font-weight: @font-700;
}
.fS13-W700-Cb87 {
  font-size: @font-13;
  color: @black-87;
  font-weight: @font-700;
}

.fS13-W600-Cw {
  font-size: @font-13;
  color: @white;
  font-weight: @font-600;
}
.fS13-W700-Cw {
  font-size: @font-13;
  color: @white;
  font-weight: @font-700;
}
.fS13-W300-Cb {
  font-size: @font-13;
  color: @white;
  font-weight: @font-300;
}
.fS13-W400-Cb {
  font-size: @font-13;
  color: @block;
  font-weight: @font-400;
}
.fS13-W500-Cb {
  font-size: @font-13;
  color: @block;
  font-weight: @font-500;
}
.fS13-W600-Cb {
  font-size: @font-13;
  color: @block;
  font-weight: @font-600;
}
.fS13-W700-Cb {
  font-size: @font-13;
  color: @block;
  font-weight: @font-700;
}
/*===================Font14========================*/
.fS14-W300-Cw {
  font-size: @font-14;
  color: @white;
  font-weight: @font-300;
}
.fS14-W400-Cw {
  font-size: @font-14;
  color: @white;
  font-weight: @font-400;
}
.fS14-W500-Cw {
  font-size: @font-14;
  color: @white;
  font-weight: @font-500;
}
.fS14-W300-Cw54 {
  font-size: @font-14;
  color: @white-54;
  font-weight: @font-300;
}
.fS14-W300-Cw87 {
  font-size: @font-14;
  color: @white-87;
  font-weight: @font-300;
}
.fS14-W400-Cw54 {
  font-size: @font-14;
  color: @white-54;
  font-weight: @font-400;
}
.fS14-W400-Cw87 {
  font-size: @font-14;
  color: @white-87;
  font-weight: @font-400;
}
.fS14-W500-Cw54 {
  font-size: @font-14;
  color: @white-54;
  font-weight: @font-500;
}
.fS14-W500-Cw87 {
  font-size: @font-14;
  color: @white-87;
  font-weight: @font-500;
}
.fS14-W600-Cw54 {
  font-size: @font-14;
  color: @white-54;
  font-weight: @font-600;
}
.fS14-W600-Cw87 {
  font-size: @font-14;
  color: @white-87;
  font-weight: @font-600;
}
.fS14-W700-Cw54 {
  font-size: @font-14;
  color: @white-54;
  font-weight: @font-700;
}
.fS14-W700-Cw87 {
  font-size: @font-14;
  color: @white-87;
  font-weight: @font-700;
}
/*===================Font15========================*/
.fS15-W300-Cw {
  font-size: @font-16;
  color: @white;
  font-weight: @font-300;
}
.fS15-W400-Cw {
  font-size: @font-15;
  color: @white;
  font-weight: @font-400;
}
.fS15-W500-Cw {
  font-size: @font-15;
  color: @white;
  font-weight: @font-500;
}
.fS15-W300-Cw54 {
  font-size: @font-15;
  color: @white-54;
  font-weight: @font-300;
}
.fS15-W300-Cw87 {
  font-size: @font-15;
  color: @white-87;
  font-weight: @font-300;
}
.fS15-W400-Cw54 {
  font-size: @font-15;
  color: @white-54;
  font-weight: @font-400;
}
.fS15-W400-Cw87 {
  font-size: @font-15;
  color: @white-87;
  font-weight: @font-400;
}
.fS15-W500-Cw54 {
  font-size: @font-15;
  color: @white-54;
  font-weight: @font-500;
}
.fS15-W500-Cw87 {
  font-size: @font-15;
  color: @white-87;
  font-weight: @font-500;
}
.fS15-W600-Cw54 {
  font-size: @font-15;
  color: @white-54;
  font-weight: @font-600;
}
.fS15-W600-Cw87 {
  font-size: @font-15;
  color: @white-87;
  font-weight: @font-600;
}
.fS15-W700-Cw54 {
  font-size: @font-15;
  color: @white-54;
  font-weight: @font-700;
}
.fS15-W700-Cw87 {
  font-size: @font-15;
  color: @white-87;
  font-weight: @font-700;
}
/*===================Font16========================*/
.fS16-W300-Cw {
  font-size: @font-16;
  color: @white;
  font-weight: @font-300;
}
.fS16-W400-Cw {
  font-size: @font-16;
  color: @white;
  font-weight: @font-400;
}
.fS16-W500-Cw {
  font-size: @font-16;
  color: @white;
  font-weight: @font-500;
}
.fS16-W300-Cw54 {
  font-size: @font-16;
  color: @white-54;
  font-weight: @font-300;
}
.fS16-W300-Cw87 {
  font-size: @font-16;
  color: @white-87;
  font-weight: @font-300;
}
.fS16-W400-Cw54 {
  font-size: @font-16;
  color: @white-54;
  font-weight: @font-400;
}
.fS16-W400-Cw87 {
  font-size: @font-16;
  color: @white-87;
  font-weight: @font-400;
}
.fS16-W500-Cw54 {
  font-size: @font-16;
  color: @white-54;
  font-weight: @font-500;
}
.fS16-W500-Cw87 {
  font-size: @font-16;
  color: @white-87;
  font-weight: @font-500;
}
.fS16-W600-Cw54 {
  font-size: @font-16;
  color: @white-54;
  font-weight: @font-600;
}
.fS16-W600-Cw87 {
  font-size: @font-16;
  color: @white-87;
  font-weight: @font-600;
}
.fS16-W700-Cw54 {
  font-size: @font-16;
  color: @white-54;
  font-weight: @font-700;
}
.fS16-W700-Cw87 {
  font-size: @font-16;
  color: @white-87;
  font-weight: @font-700;
}
/*===================Font17========================*/
.fS17-W300-Cw {
  font-size: @font-17;
  color: @white;
  font-weight: @font-300;
}
.fS17-W400-Cw {
  font-size: @font-17;
  color: @white;
  font-weight: @font-400;
}
.fS17-W500-Cw {
  font-size: @font-17;
  color: @white;
  font-weight: @font-500;
}
.fS17-W300-Cw54 {
  font-size: @font-17;
  color: @white-54;
  font-weight: @font-300;
}
.fS17-W300-Cw87 {
  font-size: @font-17;
  color: @white-87;
  font-weight: @font-300;
}
.fS17-W400-Cw54 {
  font-size: @font-17;
  color: @white-54;
  font-weight: @font-400;
}
.fS17-W400-Cw87 {
  font-size: @font-17;
  color: @white-87;
  font-weight: @font-400;
}
.fS17-W500-Cw54 {
  font-size: @font-17;
  color: @white-54;
  font-weight: @font-500;
}
.fS17-W500-Cw87 {
  font-size: @font-17;
  color: @white-87;
  font-weight: @font-500;
}
.fS17-W600-Cw54 {
  font-size: @font-17;
  color: @white-54;
  font-weight: @font-600;
}
.fS17-W600-Cw87 {
  font-size: @font-17;
  color: @white-87;
  font-weight: @font-600;
}
.fS17-W700-Cw54 {
  font-size: @font-17;
  color: @white-54;
  font-weight: @font-700;
}
.fS17-W700-Cw87 {
  font-size: @font-17;
  color: @white-87;
  font-weight: @font-700;
}
/*===================Font18========================*/
.fS18-W300-Cw {
  font-size: @font-18;
  color: @white;
  font-weight: @font-300;
}
.fS18-W400-Cw {
  font-size: @font-18;
  color: @white;
  font-weight: @font-400;
}
.fS18-W500-Cw {
  font-size: @font-18;
  color: @white;
  font-weight: @font-500;
}
.fS18-W300-Cw54 {
  font-size: @font-18;
  color: @white-54;
  font-weight: @font-300;
}
.fS18-W300-Cw87 {
  font-size: @font-18;
  color: @white-87;
  font-weight: @font-300;
}
.fS18-W400-Cw54 {
  font-size: @font-18;
  color: @white-54;
  font-weight: @font-400;
}
.fS18-W400-Cw87 {
  font-size: @font-18;
  color: @white-87;
  font-weight: @font-400;
}
.fS18-W500-Cw54 {
  font-size: @font-18;
  color: @white-54;
  font-weight: @font-500;
}
.fS18-W500-Cw87 {
  font-size: @font-18;
  color: @white-87;
  font-weight: @font-500;
}
.fS18-W600-Cw54 {
  font-size: @font-18;
  color: @white-54;
  font-weight: @font-600;
}
.fS18-W600-Cw87 {
  font-size: @font-18;
  color: @white-87;
  font-weight: @font-600;
}
.fS18-W700-Cw54 {
  font-size: @font-18;
  color: @white-54;
  font-weight: @font-700;
}
.fS18-W700-Cw87 {
  font-size: @font-18;
  color: @white-87;
  font-weight: @font-700;
}


@shade1:#fafafa;
@shade2:#f3f7f9;
@shade3:#fefefe;