<div class="container-fluid resPortAddPage resLandAddPage">
	<div class="row ">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-7">
			<form role="form">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{cityMaster.id == null ? 'Add' : 'Edit'}} City</h4>
						</div>
						<div>
							<div class="btngrp">
								<button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>
								<button type="button" class="btn accent-btn" ng-click="saveOrUpdate()">{{cityMaster.id == null? 'Save' : 'Update'}}</button>
							</div>
						</div>
					</div>
					<div class="panel-body half-master-edit" id="city-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="pad-15">
							<div show-response></div>
							<div>
								<span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-xs-12 col-md-10 col-lg-8 form-group nomargin plr0">
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6  pl0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input type="text" class="form-control" id="cityName"
									input-focus="{{errorMap.get('cityName')!=null}}"
									ng-class="{'error-control':errorMap.get('cityName')!=null}"
									ng-change="validateCityMaster(1)" id="cityName" name="cityName"
									ng-model="cityMaster.cityName" maxlength="100" /> <span
									class="error-message" ng-show="errorMap.get('cityName')!=null"><small>{{errorMap.get('cityName')}}</small></span>
							</div>
							
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6   pl0">
								<div class="form-group nomargin pl0">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input type="text" class="form-control"
										input-focus="{{errorMap.get('cityCode')!=null}}"
										ng-class="{'error-control':errorMap.get('cityCode')!=null}"
										ng-change="validateCityMaster(2)" id="cityCode"
										name="cityCode" ng-model="cityMaster.cityCode" maxlength="10" capitalize
										ng-disabled="cityMaster.id != null"> <span
										class="error-message" ng-show="errorMap.get('cityCode')!=null"><small>{{errorMap.get('cityCode')}}</small></span>
								</div>
							</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-10 col-xs-12 col-md-10 col-lg-8 form-group nomargin plr0">
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6  pl0">
								<label class="custom-label"> State <span
									class="reqColor">*</span></label>
								<div class="select-auto">
										<input type="text" class="form-control" 
										autocomplete="off" ng-model="cityMaster.stateMaster"
										input-focus="{{errorMap.get('stateMaster')!=null}}"
										ng-class="{'error-control':errorMap.get('stateMaster')!=null}"
										uib-typeahead="lovObject as lovObject.stateName for lovObject in ajaxStateEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedState('countryMaster');"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
										<span class="select-arrow"><b></b></span>
								</div>
								<span class="error-message"
									ng-show="errorMap.get('stateMaster')!=null"><small>{{errorMap.get('stateMaster')}}</small></span>
							</div>
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6  pl0">
								<label class="custom-label"> Country <span
									class="reqColor">*</span></label>
								<div class="select-auto">
										<input type="text" class="form-control" id="countryMaster"
										autocomplete="off" ng-model="cityMaster.countryMaster"
										input-focus="{{errorMap.get('countryMaster')!=null}}"
										ng-class="{'error-control':errorMap.get('countryMaster')!=null}"
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedCountry('status');"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
										<span class="select-arrow"><b></b></span>
								</div>
								<span class="error-message"
									ng-show="errorMap.get('countryMaster')!=null"><small>{{errorMap.get('countryMaster')}}</small></span>
							</div>
							</div>
							<div class="col-sm-10 col-xs-12 col-md-10 col-lg-4 form-group nomargin plr0">
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-12  pl0" ng-show="cityMaster.id!=null">
								<label class="w-100 custom-label">Status <span
									class="reqColor">*</span></label> <select class="form-control status"
									id="status" ng-class="setStatus(cityMaster.status)"
									ng-options="item for item in enum['LovStatus']"
									ng-model="cityMaster.status">
								</select> <span class="error-message"
									ng-show="errorMap.get('status')!=null"><small>{{errorMap.get('status')}}</small></span>
							</div>
							
							</div>
						</div>
						
						
				</div>
				<!--panel body ends-->
		</div>
		<!--panel ends-->
	</form>
   </div>
	<!--col ends-->
 </div>
</div>

