<div class="col-xs-12">
<a href="javascript:void(0)" tabIndex="-1" ng-click="fnRole({param:addRole})?addRow():''" class="btn btn-primary btn-xs pull-left mb10 btn-property accent-btn">
    <span class="icon-add"></span> Add Vendor
</a>
<div class="row nomargin">
    <div class="col-xs-12 pl0 pr0">
        <div class="table-responsive">
            <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
                <thead class="borderthead">
                    <tr>
                        <th class="inl_sno">#</th>
                        <!-- <th class="inl_m">Vendor Code<span class="reqColor">*</span>
                        </th> -->
                        <th class=" inl_m">Vendor<span class="reqColor">*</span></th>
                        <th class=" inl_m">Contact Person</th>
                        <th class=" inl_m">eMail<span class="reqColor">*</span></th>
                        <th class=" inl_m">Rate Received Date</th>
                        <th class="inl_m">Final<span class="reqColor">*</span></th>
                        <th class="inl_sm">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rateRequest in tableData track by $index">
                        <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}" 
                        ng-click="errorShow(secondArr[$index],$index)"
								>
                            <span ng-show="secondArr[$index].errRow"> <a
								href="javascript:void(0);" data-placement="right"
								bs-tooltip="errorList"
								 class="color-white rel block"> <img
									src="../../../../../assets/images/error.png" />
							</a>
						</span> <span ng-show="!secondArr[$index].errRow"> {{$index+1}} </span>
                        </td>
                        <td data-headtitle="Vendor" data-required="true" data-width="tw33per" class="text-right">
                           <div class="select-auto" >
									<input type="text" class="form-control"
										id="{{indexKey+'vendorName'+$index}}"
										ng-class="{'error-control-auto':secondArr[$index].vendor}"
										
										autocomplete="off" ng-model="rateRequest.vendor"
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectVendor(rateRequest.vendor,rateRequest,indexKey+'contactPerson'+$index)"
										typeahead-focus-on-select="false" typeahead-focus-first="true"
										typeahead-editable="false" typeahead-min-length="1" ng-disabled="(!updateRole&&rateRequest.id!=null)"
										typeahead-wait-ms="500"> <span class="select-arrow"
										
										><b></b></span>
								</div>
                        </td>
                       <!--  <td class="text-right">{{rateRequest.vendor.partyName}}</td> -->
                        <td data-headtitle="Contact Person" data-width="tw33per" class="text-right"><input 
								id="{{indexKey+'contactPerson'+$index}}"
									type="text"
									class="form-control"
									ng-disabled="(!updateRole&&rateRequest.id!=null)"
									ng-class="{'error-control':secondArr[$index].contactPerson}"
									ng-model="rateRequest.contactPerson" 
									ng-focus="dirtyIndex($index)"
									maxlength="30" 
						/></td>
                        <td data-headtitle="eMail" data-required="true" data-width="tw33per" class="text-right">
                            <input id="{{indexKey+'email'+$index}}" 
                            type="text" maxlength="500"
                             class="form-control"
                             title={{rateRequest.emailId}}
                             ng-disabled="(!updateRole&&rateRequest.id!=null)"
                             ng-class="{'error-control':secondArr[$index].vendorEmail}" 
                             ng-model="rateRequest.emailId" 
                             input-focus="{{secondArr[$index].vendorEmail}}"
                             />
                        </td>
                        <td data-headtitle="Rate Received Date" data-width="tw33per">
                        <div class="inputBox">
                    <input  type="text" id="{{indexKey+'requestDate'+$index}}"
                     ng-class="{'error-control':secondArr[$index].vendorReceivedOn}" 
                    class="form-control" ng-model="rateRequest.responseDate"  
                    ng-disabled="true"
                    ng-change="navigateToNextField(indexKey+'rateAccepted'+$index)"
                     datetimepicker
                       datetimepicker-options="{{directiveDateTimePickerOpts}}" 
                       date-visible="openDatePicker(param)" 
                       >
                    <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                </div>
                        </td>
                        <td data-headtitle="Final" data-required="true" data-width="tw33per" class="text-right">
                           <select class="form-control last-child " 
                            ng-class="{'error-control':secondArr[$index].rateAccepted}" 
			                id="{{indexKey+'rateAccepted'+$index}}" ng-change="rateAcceptedChange(rateRequest.rateAccepted,$index)"
			                ng-options="item for item in YesNoArr"
			                ng-disabled="(!updateRole&&rateRequest.id!=null)"
                            ng-model="rateRequest.rateAccepted"></select>
                        </td>
                        <td data-action="true">
                            <ul class="list-inline">
                                <li>
                                   <a href="javascript:void(0);" ng-click="showChargeDetails(rateRequest,$index)" > 
                                   <i class="fa fa-external-link" data-placement="top" bs-tooltip="showCharge"></i>
                                    </a>
                                </li>
                                <li data-placement="right"   bs-tooltip="deleteIcon">
							<a href="javascript:void(0);" tabindex="-1" 
								   ng-click="fnRole({param:deleteRole})?removeVendor(rateRequest,$index):''">
								<i class="icon-delete" data-placement="top"   bs-tooltip="delete"></i></a>
							</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>