<div class="container-fluid m15">
	<div class="row nomargin" ng-click="invoice=!invoice" ng-init="invoice=true">
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Invoice & Credit Note</h5>
			</div>
			<div>
				<i class="{{invoice==true?'icon-uparrow':'icon-downarrow'}}"></i>
			</div>
		</div>
	</div>
	<div ng-hide="!invoice" class="accordian-content">
		<div class="row nomargin">
			<div class="col-xs-5 pl0">
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSignOffStatus('INV',consol,null)"><i class="icon-add opcfull"></i>  Add Invoice</button>
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSignOffStatus('CRN_COST',consol,null)"><i class="icon-add opcfull"></i>  Add Credit Note Cost</button>
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSignOffStatus('CRN_REV',consol,null)"><i class="icon-add opcfull"></i>  Add Credit Note Revenue</button>
			</div>
			<div class="col-xs-7">
				<div class="row">

					<label class="pull-left pr8">Filter By</label>

					<div class="col-xs-5">
						<button-group btn-index=""
									  states="btnGrp.TypeArr"
									  state="searchDto.invoiceCreditNoteType"
									  on-state-change="filterInvoiceCreditNote(searchDto.invoiceCreditNoteType)"
								>
						</button-group>
					</div>
					<div class="col-xs-5">

						<button-group btn-index=""
									  states="btnGrpFilter.TypeArr"
									  state="searchDto.customerAgentType"
									  on-state-change="filterCustomerAgent(searchDto.customerAgentType)"
								>
						</button-group>
					</div>
				</div>
			</div>
		</div>
		<div class="table-responsive" ng-if="invoiceList.length>0">
			<table class="table table-inline mb-15">
				<thead>
				<tr>
					<th class="inl_sno">#</th>
					<th class="inl_sm">Daybook Code</th>
					<th class="inl_sm">Daybook Name</th>
					<th class="inl_m" style="white-space: normal">Invoice / Credit Note Document <No>		</No></th>
					<th class="inl_mp">Document Date</th>
					<th class="inl_mp">Due Date</th>
					<th class="inl_mp">Adjustment Daybook</th>
					<th class="inl_m">Adjusted Document No</th>
					<th class="inl_mp">Customer / Agent</th>
					<th class="sm">{{appMasterData['Party_Label']}} Name</th>
					<th  class="mp">{{appMasterData['Party_Label']}} Account #</th>
					<th class="inl_mp">Subledger</th>
					<th class="inl_sm">Currency</th>
					<th class="text-right inl_mp">Amount</th>
					<th class="text-right inl_mp">Balance Amount</th>
					<th class="text-right inl_mp" >Amount ({{invoice.localCurrency.currencyCode}})</th>
					<th class="text-right inl_mp" >Balance Amount ({{invoice.localCurrency.currencyCode}})</th>
					<th class="inl_xs">More</th>
					<!-- <th class="w100px">Status</th> -->
				</tr>

				</thead>
				<tbody ng-repeat="invoice in invoiceList | filter:{customerAgent: customerAgent,invoiceStatus:invoiceStatus,documentTypeCode:documentTypeCode} | orderBy : '-id' track by $index">
				
				<tr>
					<td>{{$index+1}}</td>
					<td>{{invoice.daybookMaster.daybookCode}}</td>
					<td>{{invoice.daybookMaster.daybookName}}</td>
					<td>{{invoice.invoiceCreditNoteNo}}
					</td>
					<td>{{dateToString(invoice.invoiceCreditNoteDate)}}</td>
					<td>{{dateToString(invoice.dueDate)}}</td>
					<td>{{invoice.adjustMentDaybookMaster!=null?invoice.adjustMentDaybookMaster.daybookCode+'-'+invoice.adjustMentDaybookMaster.daybookName:'-'}}</td>
					<td>{{invoice.adjustmentInvoiceNo!=null?invoice.adjustmentInvoiceNo:'-'}}</td>
					<td>{{invoice.customerAgent}}</td>
					<td>{{invoice.party.partyName}}</td>
					<td>{{invoice.partyAccount.accountCode}}</td>
					<td>{{invoice.subledger}}</td>
					<td>{{invoice.billingCurrency.currencyCode}}</td>
					<td class="text-right">
					 {{currencyFormat(invoice.billingCurrency,invoice.currencyAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormat(invoice.billingCurrency,invoice.outstandingAmount)}}
					</td>
					<td class="text-right">
					
					
					{{currencyFormat(invoice.localCurrency,invoice.localAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormat(invoice.localCurrency,invoice.outstandingAmount*invoice.roe)}}
					
					</td>
                    <td><a href="javascript:void(0);" ng-click="getInvoiceCrnView(invoice,null)"><i class="icon-notes"></i></a> </td>
					<!-- <td>{{invoice.invoiceStatus.replace('_',' ')}}</td> -->




				</tr>
				
				<!-- <tr>
					<td>1</td>
					<td>618</td>
					<td>INVOICE</td>
					<td>40116010003
					</td>
					<td>11/04/16</td>
					<td>-</td>
					<td>-</td>
					<td>Customer</td>
					<td>HM Automobiles</td>
					<td>1103001234</td>
					<td>C0032891</td>
					<td>INR</td>
					<td class="text-right">87495.00	</td>
					<td class="text-right">0.00</td>
					<td class="text-right">87495.00</td>
					<td class="text-right">0.00</td>

					<td>Paid</td>




				</tr> -->
				

				</tbody>
				
			</table>
		</div>
		<efs-spinner spinner-status="invoiceSpinner"></efs-spinner>
		<empty-record ng-if="!invoiceList || invoiceList.length==0" icon="invoice" text="Looks like there are no invoice records here"></empty-record>
	</div>
	<div class="row nomargin" ng-click="provisionalDisplay=!provisionalDisplay" ng-init="provisionalDisplay=true">
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Provisional Revenue/Cost</h5>
			</div>
			<div>
				<i class="{{provisionalDisplay==true?'icon-uparrow':'icon-downarrow'}}"></i>
			</div>
		</div>
	</div>
	<div class="accordian-content pl0 pr0" ng-hide="provisionalDisplay">
		<div ng-include="'app/components/air/consol_shipments/views/provisionalcost.html'"></div>
	</div>
</div>


