<table class="table table-hover tab-width tfoot-bor0 table-default tab-col-bg" ng-if="consol.dimensionList.length>0" >
    <thead >
    <tr>
    <th class="text-center">#</th>
    <th class="text-right" >No of Pieces</th>
    <th class="text-right">Length</th>
    <th class="text-right">Width</th>
    <th class="text-right">Height</th>
    <th class="text-right">Volume Weight</th>
    <th class="text-right">Gross Weight</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="consoleDimension in consol.dimensionList">
        <td class="text-center">{{serialNo($index)}}</td>
        <td class="text-right">{{consoleDimension.noOfPiece}}</td>
        <td class="text-right">{{consoleDimension.length}}</td>
        <td class="text-right">{{consoleDimension.width}}</td>
        <td class="text-right">{{consoleDimension.height}}</td>
        <td class="text-right">{{consoleDimension.volWeight}}</td>
        <td class="text-right">{{consoleDimension.grossWeight}}</td>
        <td></td>
    </tr>
    </tbody>
    <tfoot class="bg-danger">
    <tr>
        <td class="text-right">Total</td>
        <td class="text-right">{{consol.totalDimensionPieces}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">{{consol.totalDimensionvolumeWeight}}</td>
        <td class="text-right">{{consol.totalDimensionGrossWeight}}</td>
        <td></td>
    </tr>
    </tfoot>
</table>
<empty-record ng-show="!consol.dimensionList || consol.dimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>