<div class="row nomargin">
    <div class="col-xs-12 mt-15">
        <div  class="table-responsive">
            <table class="table table-inline">
                <thead>
                <tr>
                    <th class="inl_sno">#</th>
                    <th class="inl_sm">Service ID</th>
                    <th class="inl_m">Shipper</th>
                    <th class="inl_m">Consignee</th>
                    <!-- <th class="inl_m">Origin State</th>
                    <th class="inl_m">Destination Country</th> -->
                    <th class="inl_mp">Status</th>
                    <!-- <th class="inl_mp">Last Action</th>
                    <th class="inl_sm">AES ITN No</th>
                    <th class="inl_mp">AES Status</th> -->
                    <th class="inl_s">Action 
                    </th>
                </tr>
                </thead>
                <tbody class="bor-0">
                <tr>
                    <td><span class="icon-search"></span></td>
                    <td><input type="text" ng-model="aesSearch.serviceUid" class="form-control"></td>
                    <td><input type="text" ng-model="aesSearch.shipperName" class="form-control"></td>
                    <td ><input type="text" ng-model="aesSearch.consigneeName" class="form-control"></td>
                    <!-- <td ><input type="text" ng-model="aesSearch.originState" class="form-control"></td>
                    <td><input type="text" ng-model="aesSearch.destinationCountryName" class="form-control" ></td> -->
                    <td><select class="form-control" ng-model="aesSearch.status" >
                        <option value="">All</option>
                        <option value="Generate">Generate</option>
                        <option value="Update">Update</option>
                    </select></td>
                    <!-- <td><select class="form-control" ng-model="aesSearch.aesAction" >
                        <option value="">All</option>
                        <option value="Add">Add</option>
                        <option value="Replace">Replace</option>
                        <option value="Change">Change</option>
                        <option value="Cancel">Cancel</option>
                    </select></td>
                    <td ><input type="text" ng-model="aesSearch.aesItnNo" class="form-control"></td>
                    <td ><input type="text" ng-model="aesSearch.aesStatus" class="form-control"></td> -->
                    
                    <td>
                     <input type="checkbox" ng-if="showGenerateBtn()" ng-model="allAesModel.allAesSelected" ng-change="selectAllAes();" id="aesAll">
                     <input type="button" style="float:right;" ng-if="showGenerateBtn()" ng-class="myClass"  title="Click here to generate all AES"   class="btn btn-xs btn-property accent-btn" value="Generate" ng-click="generateAllAes()" />
                    
                    </td>
                </tr>
                </tbody>
                <tbody class="bor-0">
              
                <tr ng-repeat = "aesFile in finalArr | filter:aesSearch:startsWith track by $index " >
                    <td class="text-center " title="">{{$index+1}}</td>
                    <td class="tdtext-wrap" title="{{aesFile.serviceUid}}"><a ng-click="goToShipmentViewByServiceUid(aesFile.serviceUid)" href="javascript:void(0)" class=" hyperLink text-blue">{{aesFile.serviceUid}}</a></td>
                    <td class="tdtext-wrap" title="{{aesFile.shipperName}}">{{aesFile.shipperName}}</td>
                    <td class="tdtext-wrap" title="{{aesFile.consigneeName}}">{{aesFile.consigneeName}}</td>
                    <!-- <td class="tdtext-wrap" title="Newyork">{{aesFile.originStateName}}</td>
                    <td class="tdtext-wrap" title="India">{{aesFile.destinationCountryName}}</td> -->
                    <td class="tdtext-wrap" title="{{aesFile.status}}">{{aesFile.status}}</td>
                    <!-- <td class="tdtext-wrap" title="Add">{{aesFile.aesAction}}</td>
                    <td class="tdtext-wrap " title="">{{aesFile.aesItnNo}}</td>
                    <td class="tdtext-wrap">{{aesFile.aesStatus}}</td> -->
                    <td><!-- <input type="button"  ng-class="myClass"  title="Click here to generate AES"   class="btn btn-xs btn-property accent-btn" value="{{aesFile.status == 'Generate'?'Generate':'Update'}}" ng-click="aesFile.status=='Generate'?aesGenerateAdd(aesFile):aesGenerateView(aesFile)" /> -->
                     <input type="checkbox"  ng-model="aesFile.isSelected" ng-if="aesFile.status !='Update'" ng-change="chkAesStatus(aesFile.isSelected, aesFile);" id="aes">
                    <input type="button"  ng-class="myClass"  title="Click here to generate AES"   class="btn btn-xs btn-property accent-btn" ng-if="aesFile.status =='Update'"  value="Update" ng-click="aesGenerateView(aesFile)" />
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>