<div class="row nomargin bor-btm-1">
    <div class="col-xs-12  nopadding    ">
        <div class="row  overflow-hidden nomargin " style="border-bottom: 1px solid #dadada !important;">
            <div class="col-xs-5 bor-r-1   bor-fix">
                <div class="row bor-btm-1   ">
                    <!--<h4 class="sub-title mb0"> USPPI / Shipper Details</h4>-->
                    <div class="col-xs-12 ptb-15">
                        <label>Forwarder<span class="reqColor">*</span></label>
                        <div class="select-auto">
                            <input type="text" class="form-control"
								id="forwarderFf" typeahead-add-new="routePartyEvent('aesFile.aesFreightForwarder.forwarder',true,null)" 
								input-focus="{{errorMap.get('aesFile.aesForwarder.forwarder')!=null}}"
								ng-class="{'error-control':errorMap.get('aesFile.aesForwarder.forwarder')!=null}" 
								autocomplete="off" ng-model="aesFile.aesFreightForwarder.forwarder"
								uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxFFPartyEvent($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedFFParty(aesFile.aesFreightForwarder.forwarder);"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
                             
						</div>
                         <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesForwarder.forwarder')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesForwarder.forwarder')}}</small></span>
                    </div>
                     
                </div>
                <div class="row bor-btm-1 ptb-15">
                    <div class="col-xs-4">

                        <label>ID Type</label>
                        <select class="form-control"
                         id="idTypeFf"
                         ng-change = "selectedFfIdType(aesFile.aesFreightForwarder.idType)"
                         ng-options="item for item in idTypeArr"  
                         focus="{{errorMap.get('aesFile.aesForwarder.idType')!=null}}"
                         ng-class="{'error-control':errorMap.get('aes.aesForwarder.idType')!=null}"
                         ng-model="aesFile.aesFreightForwarder.idType"></select>

 <span class="error-message"
                                                          ng-if="errorMap.get('aesFile.aesForwarder.idType')!=null">
                                          <small>{{errorMap.get('aesFile.aesForwarder.idType')}}</small></span>                        
                    </div>
                    <div class="col-xs-4">
                        <label>ID No</label>
                        <input class="form-control"
                               id="idNoFf" 
                               ng-change="aesForwarderValidation(7)"
                               focus="{{errorMap.get('aesFile.aesForwarder.idNo')!=null}}"
                              ng-class="{'error-control':errorMap.get('aesFile.aesForwarder.idNo')!=null}"
                              ng-model="aesFile.aesFreightForwarder.idNo">
                        <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesForwarder.idNo')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesForwarder.idNo')}}</small></span>            
                    </div>

                </div>
                <div class="row  ptb5">
                    <div class="col-xs-6">
                        <label>First Name<span class="reqColor">*</span></label>
                        <input class="form-control"
                        id = "firstNameFf" 
                        ng-change="aesForwarderValidation(8)"
                        focus="{{errorMap.get('aesFile.aesForwarder.firstName')!=null}}"
                        ng-class="{'error-control':errorMap.get('aesFile.aesForwarder.firstName')!=null}"
                        ng-model="aesFile.aesFreightForwarder.firstName" maxlength="100">
                        <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesForwarder.firstName')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesForwarder.firstName')}}</small></span>       
                    </div>
                    <div class="col-xs-6">
                        <label>Last Name<span class="reqColor">*</span></label>
                        <input class="form-control" id = "lastNameFf" 
                          ng-change="aesForwarderValidation(9)"
                          focus="{{errorMap.get('aesFile.aesForwarder.lastName')!=null}}"
                      ng-class="{'error-control':errorMap.get('aesFile.aesForwarder.lastName')!=null}"
                        ng-model="aesFile.aesFreightForwarder.lastName" maxlength="100">
                        <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesForwarder.lastName')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesForwarder.lastName')}}</small></span> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 ">
                        <label>Contact No</label>
                        <input class="form-control" id = "contactNoFf" 
                         ng-change="aesForwarderValidation(10)"
                        focus="{{errorMap.get('aesFile.aesForwarder.contactNo')!=null}}"
                        ng-class="{'error-control':errorMap.get('aesFile.aesForwarder.contactNo')!=null}"
                        ng-model="aesFile.aesFreightForwarder.contactNo"  maxlength="20">
                         <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesForwarder.contactNo')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesForwarder.contactNo')}}</small></span> 
                    </div>
                      
                </div>


            </div>
            <div class="col-xs-5 bor-fix bor-btm-1" >

                <div class="row pt5">
                    <div class="col-xs-12">  <label>Company Address<span class="reqColor">*</span>
                    </label></div>
                </div>
                <div class="row nomargin ">
                    <div class="form-group mb0">
                        <div class="row  ">
                            <div class="col-xs-11 ">
                                <div class="select-auto">
                                    <input type="text" class="form-control"  id="companyAddressFF" 
										input-focus="{{errorMap.get('aes.aesFreightForwarder.company')!=null}}"
										ng-class="{'error-control':errorMap.get('aes.aesFreightForwarder.company')!=null}" 
										autocomplete="off" ng-model="aesFile.aesFreightForwarder.company" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxFfCAEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedFfCA(aesFile.aesFreightForwarder.company)"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500"> <span
										class="select-arrow"><b></b></span>
                            </div>
                                 <span class="error-message" ng-if="errorMap.get('aes.aesFreightForwarder.company')!=null" >
                                       <small>{{errorMap.get('aes.aesFreightForwarder.company')}}</small>
                                 </span>       				 
                            </div>
                            <div class="col-xs-1 plr0 nomargin text-center ">
                                <!--<label class="visible-hide">Empty</label>-->
                                <a
                                   tabindex="-1"
                                   href="javascript:void(0)"
                                   ng-click="showPartyAddressFfCA()"
                                   class="selectPicker-sm mlminus-15">
                                    <i class="fa fa-chevron-right" data-placement="bottom"   bs-tooltip="selectAddress"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" id ="addressLine1Ff" type="text" maxlength="100" 
                                 ng-class="{'error-control':errorMap.get('aes.aesForwarder.addressLine1')!=null}"
                                 ng-change="aesForwarderValidation(3)"
                                ng-model="aesFile.aesFreightForwarder.companyAddress.addressLine1">
                            <span class="error-message" ng-if="errorMap.get('aes.aesForwarder.addressLine1')!=null">
                                  <small>{{errorMap.get('aes.aesForwarder.addressLine1')}}</small>
                             </span>
                            
                            </div>
                            

                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" id = "addressLine2Ff" maxlength="100" 
                                ng-class="{'error-control':errorMap.get('aes.aesFreightForwarder.addressLine2')!=null}"
                                ng-change="aesForwarderValidation(3)"
                                ng-model="aesFile.aesFreightForwarder.companyAddress.addressLine2">
                                <span class="error-message"
                                                                                      ng-if="errorMap.get('aes.aesFreightForwarder.addressLine2')!=null">
                                             				 <small>{{errorMap.get('aes.aesFreightForwarder.addressLine2')}}</small></span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" id = "addressLine3Ff" maxlength="100" 
                                 ng-class="{'error-control':errorMap.get('aes.aesForwarder.addressLine3')!=null}"
                                ng-change="aesForwarderValidation(3)"
                                ng-model="aesFile.aesFreightForwarder.companyAddress.addressLine3">
                                <span class="error-message"
                                                                                      ng-if="errorMap.get('aes.aesForwarder.addressLine3')!=null">
                                             				 <small>{{errorMap.get('aes.aesForwarder.addressLine3')}}</small></span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" id = "addressLine4Ff" maxlength="100" 
                                 ng-class="{'error-control':errorMap.get('aes.aesFreightForwarder.addressLine4')!=null}"
                                ng-change="aesForwarderValidation(3)"
                                ng-model="aesFile.aesFreightForwarder.companyAddress.addressLine4">
                                <span class="error-message"
                                                                                      ng-if="errorMap.get('aes.aesFreightForwarder.addressLine4')!=null">
                                             				 <small>{{errorMap.get('aes.aesFreightForwarder.addressLine4')}}</small></span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                </div>
                <div class="row ptb-15 ">
                    <div class="col-xs-6 ">
                        <label>City<span class="reqColor">*</span></label>
                        <div class="select-auto">
                           <input type="text" class="form-control" id="cityFreightForwarder" 
										input-focus="{{errorMap.get('aesFile.aesForwarder.city')!=null}}" 
										ng-class="{'error-control':errorMap.get('aesFile.aesForwarder.city')!=null}" 
										autocomplete="off" ng-model="aesFile.aesFreightForwarder.cityMaster" 
										uib-typeahead="lovObject as lovObject.cityName for lovObject in ajaxFfCityEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedFfCity(aesFile.aesFreightForwarder.cityMaster)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                        </div>
                          <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesForwarder.city')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesForwarder.city')}}</small></span>
                    </div>
                    <div class="col-xs-6 ">
                        <label>State<span class="reqColor">*</span></label>
                        <div class="select-auto">
                            <input type="text" class="form-control" id="stateFf" 
										input-focus="{{errorMap.get('aesFile.aesForwarder.state')!=null}}" 
										ng-class="{'error-control':errorMap.get('aesFile.aesForwarder.state')!=null}" 
										autocomplete="off" ng-model="aesFile.aesFreightForwarder.stateMaster" 
										uib-typeahead="lovObject as lovObject.stateName for lovObject in ajaxFfStateEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedFfState(aesFile.aesFreightForwarder.stateMaster)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                        </div>
                        <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesForwarder.state')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesForwarder.state')}}</small></span>
                    </div>
                </div>
                <div class="row bor-btm-1 ptb-15">
                    <div class="col-xs-6 ">
                        <label>Country<span class="reqColor">*</span></label>

                        <div class="select-auto">
                             <input type="text" class="form-control"  id="countryFf" 
										input-focus="{{errorMap.get('aesFile.aesForwarder.country')!=null}}" 
										ng-class="{'error-control':errorMap.get('aesFile.aesForwarder.country')!=null}" 
										autocomplete="off" ng-model="aesFile.aesFreightForwarder.countryMaster" 
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxFfCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedFfcountry(aesFile.aesFreightForwarder.countryMaster)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                        </div>
                        <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesForwarder.country')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesForwarder.country')}}</small></span>
                        
                    </div>

                    <div class="col-xs-6 ">
                        <label>Zip Code<span class="reqColor">*</span></label>
                        <div class="select-auto">
                            <input type="text" id="zipFf"
                            focus="{{errorMap.get('aesFile.aesForwarder.zipcode')!=null}}"
                        ng-change="aesForwarderValidation(11)"
                            ng-class="{'error-control':errorMap.get('aesFile.aesForwarder.zipcode')!=null}"
                            ng-model="aesFile.aesFreightForwarder.zipCode"  class="form-control"  />
                        <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesForwarder.zipcode')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesForwarder.zipcode')}}</small></span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
</div>