<div class="row nomargin bor-btm-1 overflow-hidden">
    <div class="col-xs-6 bor-fix ">
        <div class="row ptb-15">
            <div class="col-xs-6">
                <label>Origin State<span class="reqColor">*</span></label>
                <div class="select-auto">
                    <!-- <input type="text" auto-complete  ng-model="test.orgin"  class="form-control"  /> -->
                     <input type="text" class="form-control" id="stateMoreInfo" 
										input-focus="{{errorMap.get('aes.originstate')!=null}}" 
										ng-class="{'error-control':errorMap.get('aes.originstate')!=null}" 
										autocomplete="off" ng-model="aesFile.originState" 
										uib-typeahead="lovObject as lovObject.stateName for lovObject in ajaxStateEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedState(aesFile.originState,'polMoreInfo');" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                </div>
                <span class="error-message"
             ng-if="errorMap.get('aes.originstate')!=null"><small>{{errorMap.get('aes.originstate')}}</small></span> 
            </div>
            <div class="col-xs-6">
                <label class="text-inherit">Airport of Loading<span class="reqColor">*</span></label>
                <div class="select-auto">
                    <!-- <input type="text" auto-complete  ng-model="test.aol"  class="form-control"  /> -->
                    
                    <input type="text" class="form-control" id="polMoreInfo" 
							input-focus="{{errorMap.get('aes.pol')!=null}}" 
							ng-class="{'error-control':errorMap.get('aes.pol')!=null}" 
							autocomplete="off" ng-model="aesFile.pol"
							uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPolEvent($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedPol(aesFile.pol,'podMoreInfo')" 
							typeahead-focus-on-select="false"
							typeahead-focus-first="true" typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500">
						<span class="select-arrow"><b></b></span>
                       
                </div>
                <span class="error-message"
             ng-if="errorMap.get('aes.pol')!=null"><small>{{errorMap.get('aes.pol')}}</small></span>             
            </div>
        </div>
    </div>
    <div class="col-xs-6 bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-6 ">
                <label class="text-inherit">Airport of Discharge<span class="reqColor">*</span></label>
                <div class="select-auto">
                    <!-- <input type="text" auto-complete  ng-model="test.aod"  class="form-control"  /> -->
                    <input type="text" class="form-control" id="podMoreInfo" 
										input-focus="{{errorMap.get('aes.pod')!=null}}" 
										ng-class="{'error-control':errorMap.get('aes.pod')!=null}" 
										autocomplete="off" ng-model="aesFile.pod" 
										uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPodEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedPod(aesFile.pod,'dcMoreInfo')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                </div>
                  <span class="error-message"
             ng-if="errorMap.get('aes.pod')!=null"><small>{{errorMap.get('aes.pod')}}</small></span>  
            </div>
            <div class="col-xs-6">
                <label>Destination Country<span class="reqColor">*</span></label>
                <div class="select-auto">
                    <!-- <input type="text" auto-complete  ng-model="test.dc"  class="form-control"  /> -->
                    <input type="text" class="form-control" id="dcMoreInfo" 
										input-focus="{{errorMap.get('aes.destination')!=null}}" 
										ng-class="{'error-control':errorMap.get('aes.destination')!=null}" 
										autocomplete="off" ng-model="aesFile.destinationCountry" 
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedCountry('carrierMoreInfo');" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                </div>
                 <span class="error-message"
             ng-if="errorMap.get('aes.destination')!=null"><small>{{errorMap.get('aes.destination')}}</small></span>  
            </div>
        </div>
    </div>
</div>
<div class="row nomargin bor-btm-1 overflow-hidden">
    <div class="col-xs-12  bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-3">
                <label>Carrier</label>
                <div class="select-auto">
                    <!-- <input type="text" auto-complete  ng-model="test.Carrier"  class="form-control"  /> -->
                     <input type="text" class="form-control" id="carrierMoreInfo" 
										input-focus="{{errorMap.get('aes.carrier')!=null}}" 
										ng-class="{'error-control':errorMap.get('aes.carrier')!=null}" 
										autocomplete="off" ng-model="aesFile.carrier" 
										uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectCarrier('iataMoreInfo')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                </div>
                 <span class="error-message"
             ng-if="errorMap.get('aes.carrier')!=null"><small>{{errorMap.get('aes.carrier')}}</small></span>
            </div>
            <div class="col-xs-3">
               <label>IATA Code<span class="reqColor">*</span></label>
               <div class="select-auto">
                    <!-- <input type="text" auto-complete  ng-model="test.Carrier"  class="form-control"  /> -->
                      <input type="text" class="form-control" id="iataMoreInfo" 
										input-focus="{{errorMap.get('aes.iata')!=null}}" 
										ng-class="{'error-control':errorMap.get('aes.iata')!=null}" 
										autocomplete="off" ng-model="aesFile.iata" 
										uib-typeahead="lovObject as lovObject.iataCode for lovObject in ajaxIataMasterEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedIata(aesFile.iata)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                </div>
                <span class="error-message"
                           ng-if="errorMap.get('aes.iata')!=null"><small>{{errorMap.get('aes.iata')}}</small></span>
            </div>
            <div class="col-xs-2">
                <label>ETD<span class="reqColor">*</span></label>
                <div class="inputBox">
                    <input ng-model="aesFile.etd" id="etdMoreInfo" 
                    focus="{{errorMap.get('aes.etd')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aes.etd')!=null}"
                    class="form-control"   datetimepicker date-callback="selectedEtd(aesFile.etd)"
                           datetimepicker-options="{{directiveDateTimePickerOpts}}" >
                    <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                     <span class="error-message"
             ng-if="errorMap.get('aes.etd')!=null"><small>{{errorMap.get('aes.etd')}}</small></span>
                </div>
            </div>
        </div>
    </div>


    </div>
<div class="row overflow-hidden bor-btm-1 nomargin">
    <div class="col-xs-12 bor-fix ">
        <div class="row ptb-15">
            <div class="col-xs-3 ">
                <label>Routed Transaction<span class="reqColor">*</span></label>
                <ul class="list-inline">
                    <li ng-class="{'opc-5':Routed}">Yes</li>
                    <li class="v-align-top"><switch 
                                                    id="rtMoreInfo"
                                                    tabindex="0"
                                                    ng-model="aesFile.routedTransaction"
                                                    class="green"></switch></li>
                    <li ng-class="{'opc-5':!Routed}">No</li>
                </ul>
                <span class="error-message"
             ng-if="errorMap.get('aes.routedTransaction')!=null"><small>{{errorMap.get('aes.routedTransaction')}}</small></span>
            </div>
            <div class="col-xs-3">
                <label class="text-inherit">USPPI and Ultimate Consignee Related<span class="reqColor">*</span></label>
                <ul class="list-inline">
                    <li ng-class="{'opc-5':USPPI}">Yes</li>
                    <li class="v-align-top"><switch tabindex="0"
                                                    name="" ng-model="aesFile.usspiUltimateConsignee"
                                                    class="green"></switch></li>
                    <li ng-class="{'opc-5':!USPPI}">No</li>
                </ul>
              <span class="error-message"
             ng-if="errorMap.get('aes.consigneerelated')!=null"><small>{{errorMap.get('aes.consigneerelated')}}</small></span>
            </div>
            <div class="col-xs-3">
                <label>Hazardous Cargo<span class="reqColor">*</span></label>
                <ul class="list-inline flex align-middle">
                    <li ng-class="{'opc-5':aesFile.hazardousCargo}">No</li>
                    <li class="v-align-top">
                        <switch  tabindex="0"  ng-model="aesFile.hazardousCargo" class="green"
                                ></switch>
                    </li>
                    <li ng-class="{'opc-5':!aesFile.hazardousCargo}">Yes
                    </li>
                    <li data-placement="right"    bs-tooltip="hazIcon">
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="row nomargin bor-btm-1 overflow-hidden" style=" border-bottom: 1px solid #dadada !important;">
    <div class="col-xs-12  bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-3">
                <label>Inbond Type</label>
                <div class="select-auto">
                    <input type="text" class="form-control" id="inbondTypeMoreInfo" 
										input-focus="{{errorMap.get('aes.InbondType')!=null}}" 
										ng-class="{'error-control':errorMap.get('aes.InbondType')!=null}" 
										autocomplete="off"  ng-model="aesFile.inbondType" 
										uib-typeahead="lovObject as lovObject.inbondType for lovObject in ajaxInBondTypeMasterEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectInBondType('ienMoreInfo')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                </div>
                <span class="error-message"
             ng-if="errorMap.get('aes.InbondType')!=null"><small>{{errorMap.get('aes.InbondType')}}</small></span>
            </div>
            <div class="col-xs-3">
                <label>Import Entry No</label>
                <input type="text" id="ienMoreInfo" ng-model="aesFile.importEntryNo" 
                ng-change="aesFileMoreInfoValidator(19)"
                 maxlength="15" class="form-control">
            <span class="error-message"
             ng-if="errorMap.get('aes.importEntryNo')!=null"><small>{{errorMap.get('aes.importEntryNo')}}</small></span>
            </div>
            <div class="col-xs-3">
                <label>Foreign Trade Zone</label>
                <input type="text" ng-model="aesFile.foreignTradeZone" 
                 ng-change="aesFileMoreInfoValidator(20)"
                maxlength="7" class="form-control">
                <span class="error-message"
             ng-if="errorMap.get('aes.foreignTradeZone')!=null"><small>{{errorMap.get('aes.foreignTradeZone')}}</small></span>
            </div>
        </div>
    </div>

</div>