
    <div class="row mlr-15">
        
        <div class="col-xs-12 nopadding">
            <div class="table-responsive mt-15">
                <table class="table table-inline mt0">
                    <thead>
                    <tr>
                        <th rowspan="2" class="inl_sno">#</th>
                        <th colspan="2" class="text-center">Custom</th>
                        <th rowspan="2" class="">User ID</th>
                        <th rowspan="2" class="">Response Code</th>
                        <th rowspan="2" class="">Status</th>
                        <th rowspan="2" class="">Manually Closed</th>
                        <th rowspan="2" class="">Closed By</th>
                        <th rowspan="2" class="">Closed On</th>
                        <th rowspan="2" class="">Close Note</th>
                        <th rowspan="2" class="">Message</th>
                        <th rowspan="2" class=""></th>
                    </tr>
                    <tr>
                        <th>Resp Date</th>
                        <th>Resp Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>12 Jan 2016</td>
                        <td>02:23</td>
                        <td>AKAP</td>
                        <td>C12</td>
                        <td>Pending</td>
                        <td>Yes</td>
                        <td>David</td>
                        <td>10 Jan 2016 22:30</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">
                            <button type="button" ng-click="statuspopup()" class="btn accent-btn">More Info</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!--Table responsive-->

        </div>
    </div>
