
</div><div class="row nomargin bor-btm-1" style=" border-bottom: 1px solid #dadada !important;">
    <div class="col-xs-12  nopadding    ">
        <div class="row  overflow-hidden nomargin">
            <div class="col-xs-5 bor-r-1  bor-fix">
                <div class="row bor-btm-1   ">
                    <!--<h4 class="sub-title mb0"> USPPI / Shipper Details</h4>-->
                    <div class="col-xs-12 ptb-15">
                        <label>Shipper<span class="reqColor">*</span></label>
                        <div class="select-auto">
                             <input type="text" class="form-control" id="shipperUsspi" 
										input-focus="{{errorMap.get('aesShipper')!=null}}" 
										ng-class="{'error-control':errorMap.get('aesShipper')!=null}" 
										autocomplete="off" ng-model="aesFile.aesUsppi.shipper" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxUsppiShipperEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedUsppiShipper(aesFile.aesUsppi.shipper);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
										<span class="select-arrow"><b></b></span>
                        </div>
                        <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesShipper')!=null"><small>
                                                                                                {{errorMap.get('aesShipper')}} </small></span>
                    </div>
                </div>
                <div class="row bor-btm-1 ptb-15">
                    <div class="col-xs-4">
                        <label>ID Type<span class="reqColor">*</span></label>
                        <select class="form-control" id="idTypeUsppi" ng-options="item for item in idTypeArr" ng-change = "selectedUsppiIdType(aesFile.aesUsppi.idType)"
                            focus="{{errorMap.get('aesFile.aesUsppi.idType')!=null}}"
                            ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.idType')!=null}"
                         ng-model="aesFile.aesUsppi.idType"></select>
                         <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesFile.aesUsppi.idType')!=null"><small>
                                                                                                {{errorMap.get('aesFile.aesUsppi.idType')}} </small></span>
                    </div>
                    <div class="col-xs-4">
                        <label>ID No <span>*</span></label>
                        <input id="idNoUsppi" class="form-control"  
                        ng-change="aesFileUsspiValidator(7)"
                         focus="{{errorMap.get('aesFile.aesUsppi.idNo')!=null}}"
                            ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.idNo')!=null}"
                        ng-model="aesFile.aesUsppi.idNo" maxlength="11">
                        <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesFile.aesUsppi.idNo')!=null"><small>
                                                                                                {{errorMap.get('aesFile.aesUsppi.idNo')}} </small></span>
                    </div>
                    <div class="col-xs-4">
                        <label>EIN No</label>
                        <input id="einNoUsppi" class="form-control" ng-model="aesFile.aesUsppi.einNo" maxlength="11">
                    </div>

                </div>

                <div class="row ptb5">
                    <div class="col-xs-6">
                        <label>First Name</label>
                        <input id="fnUsppi" class="form-control" 
                         focus="{{errorMap.get('aesFile.aesUsppi.firstName')!=null}}"
                         ng-change="aesFileUsspiValidator(8)"
                            ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.firstName')!=null}"
                        ng-model="aesFile.aesUsppi.firstName" maxlength="100">
                         <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesFile.aesUsppi.firstName')!=null"><small>
                                                                                                {{errorMap.get('aesFile.aesUsppi.firstName')}} </small></span>
                    </div>
                    <div class="col-xs-6">
                        <label>Last Name<span class="reqColor">*</span></label>
                        <input id="lnUsppi" class="form-control" 
                         focus="{{errorMap.get('aesFile.aesUsppi.lastName')!=null}}"
                         ng-change="aesFileUsspiValidator(9)"
                            ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.lastName')!=null}"
                         ng-model="aesFile.aesUsppi.lastName" maxlength="100">
                    <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesFile.aesUsppi.lastName')!=null"><small>
                                                                                                {{errorMap.get('aesFile.aesUsppi.lastName')}} </small></span>
                   
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-6">
                        <label>Contact No<span class="reqColor">*</span></label>
                        <input id="cnUsppi" class="form-control" 
                         ng-change="aesFileUsspiValidator(10)"
                          focus="{{errorMap.get('aesFile.aesUsppi.contactNo')!=null}}"
                            ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.contactNo')!=null}"
                        ng-model="aesFile.aesUsppi.contactNo" maxlength="15">
                         <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesFile.aesUsppi.contactNo')!=null"><small>
                                                                                                {{errorMap.get('aesFile.aesUsppi.contactNo')}} </small></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 bor-fix ">

                <div class="row pt5">
                    <div class="col-xs-12">  <label>Cargo Origin Address<span class="reqColor">*</span></label></div>
                </div>
                <div class="row nomargin ">
                    <div class="form-group mb0">
                        <div class="row  ">
                            <div class="col-xs-11 ">

                                <div class="select-auto">
                                    <input type="text" class="form-control" id="coaUsppi" 
										input-focus="{{errorMap.get('aes.usspi.cargo')!=null}}" 
										typeahead-add-new="routePartyEvent('aesFile.aesUsppi.cargoOrigin',true,null)" 
										ng-class="{'error-control':errorMap.get('aes.usspi.cargo')!=null}" 
										autocomplete="off" ng-model="aesFile.aesUsppi.cargoOrigin" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxCoaEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedCoa(aesFile.aesUsppi.cargoOrigin);setSalesman();" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                </div>
                                 <span class="error-message"
                                                                                                  ng-if="errorMap.get('aes.usspi.cargo')!=null"><small>
                                                                                                {{errorMap.get('aes.usspi.cargo')}} </small></span>
                            </div>
                            <div class="col-xs-1 plr0 nomargin text-center ">
                                <!--<label class="visible-hide">Empty</label>-->
                                <a
                                   tabindex="-1"
                                   href="javascript:void(0)"
                                   ng-click="showPartyAddressCoa()"
                                   class="selectPicker-sm mlminus-15">
                                    <i class="fa fa-chevron-right" data-placement="bottom"   bs-tooltip="selectAddress"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" id="addressLine1Usppi"  maxlength="100" 
                                    focus="{{errorMap.get('aesFile.aesUsppi.addressLine1')!=null}}"
                                    ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.addressLine1')!=null}"
                                    ng-change="aesFileUsspiValidator(3)"
                                    ng-model="aesFile.aesUsppi.cargoOriginAddress.addressLine1">
							  <span class="error-message" ng-if="errorMap.get('aesFile.aesUsppi.addressLine1')!=null">
							    <small> {{errorMap.get('aesFile.aesUsppi.addressLine1')}} </small>
							  </span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" id="addressLine2Usppi" type="text" maxlength="100" 
                                  focus="{{errorMap.get('aesFile.aesUsppi.addressLine2')!=null}}"
                                  ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.addressLine2')!=null}"
                                  ng-change="aesFileUsspiValidator(3)"
                                  ng-model="aesFile.aesUsppi.cargoOriginAddress.addressLine2">
                             <span class="error-message" ng-if="errorMap.get('aesFile.aesUsppi.addressLine2')!=null">
                                <small>{{errorMap.get('aesFile.aesUsppi.addressLine2')}} </small>
                             </span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control"  id="addressLine3Usppi" type="text" maxlength="100"
                                 focus="{{errorMap.get('aesFile.aesUsppi.addressLine3')!=null}}"
                                  ng-change="aesFileUsspiValidator(3)"
                                  ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.addressLine3')!=null}"
                                 ng-model="aesFile.aesUsppi.cargoOriginAddress.addressLine3">
                          <span class="error-message" ng-if="errorMap.get('aesFile.aesUsppi.addressLine3')!=null">
                              <small> {{errorMap.get('aesFile.aesUsppi.addressLine3')}} </small>
                          </span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" id="addressLine4Usppi" 
                                  focus="{{errorMap.get('aesFile.aesUsppi.addressLine4')!=null}}"
                                  ng-change="aesFileUsspiValidator(3)"
                                  ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.addressLine4')!=null}"
                                maxlength="100" ng-model="aesFile.aesUsppi.cargoOriginAddress.addressLine4">
                                <span class="error-message" ng-if="errorMap.get('aesFile.aesUsppi.addressLine4')!=null">
                               <small>{{errorMap.get('aesFile.aesUsppi.addressLine4')}} </small>
                           </span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                </div>

                <div class="row ptb-15 ">
                    <div class="col-xs-6 ">
                        <label>City<span class="reqColor">*</span></label>
                        <div class="select-auto">
                            <input type="text" class="form-control" id="cityMasterUsppi" 
							input-focus="{{errorMap.get('aesFile.aesUsppi.city')!=null}}"
							ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.city')!=null}" 
							autocomplete="off" ng-model="aesFile.aesUsppi.cityMaster" 
							uib-typeahead="lovObject as lovObject.cityName for lovObject in ajaxUsppiCityEvent($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedUsppiCity(aesFile.aesUsppi.cityMaster);" 
							typeahead-focus-on-select="false"
							typeahead-focus-first="true" typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500">
						<span class="select-arrow"><b></b></span>
                        </div>
                         <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesFile.aesUsppi.city')!=null"><small>
                                                                                                {{errorMap.get('aesFile.aesUsppi.city')}} </small></span>
                    </div>
                    <div class="col-xs-6 ">
                        <label>State<span class="reqColor">*</span></label>
                        <div class="select-auto">
                            <input type="text" class="form-control" id="stateUsppi" 
										input-focus="{{errorMap.get('aesFile.aesUsppi.state')!=null}}"  
										ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.state')!=null}" 
										autocomplete="off" ng-model="aesFile.aesUsppi.stateMaster" 
										uib-typeahead="lovObject as lovObject.stateName for lovObject in ajaxUsppiStateEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedUsppiState(aesFile.aesUsppi.stateMaster);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                        </div>
                         <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesFile.aesUsppi.state')!=null"><small>
                                                                                                {{errorMap.get('aesFile.aesUsppi.state')}} </small></span>
                    </div>
                </div>
                <div class="row bor-btm-1 ptb-15">
                    <div class="col-xs-6 ">
                        <label>Country</label>
                        <div class="select-auto">
                            <input type="text" class="form-control" id="countryUsppi" 
										input-focus="{{errorMap.get('aesFile.aesUsppi.country')!=null}}" 
										ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.country')!=null}" 
										autocomplete="off" ng-model="aesFile.aesUsppi.countryMaster" 
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxUsppiCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedUsppicountry(aesFile.originState);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                        </div>
                        <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesFile.aesUsppi.country')!=null"><small>
                                                                                                {{errorMap.get('aesFile.aesUsppi.country')}} </small></span>
                    </div>
                    <div class="col-xs-6 ">
                        <label>Zip Code<span class="reqColor">*</span></label>
                        <div >
                            <input type="text" id="zipCodeUsppi" ng-model="aesFile.aesUsppi.zipCode" 
                            focus="{{errorMap.get('aesFile.aesUsppi.zipCode')!=null}}"
                            ng-class="{'error-control':errorMap.get('aesFile.aesUsppi.zipCode')!=null}"
                            ng-change="aesFileUsspiValidator(11)"
                             maxlength="10" class="form-control"  />
                              <span class="error-message"
                                                                                                  ng-if="errorMap.get('aesFile.aesUsppi.zipCode')!=null"><small>
                                                                                                {{errorMap.get('aesFile.aesUsppi.zipCode')}} </small></span>
                        </div>
                         
                    </div>
                </div>


                </div>
            </div>
        </div>
    </div>
    </div>
</div>