<div class="row nomargin bor-btm-1">
    <div class="col-xs-12  nopadding    ">
        <div class="row  overflow-hidden nomargin " style="border-bottom: 1px solid #dadada !important;">
            <div class="col-xs-5 bor-r-1   bor-fix">
                <div class="row bor-btm-1   ">
                    <!--<h4 class="sub-title mb0"> USPPI / Shipper Details</h4>-->
                    <div class="col-xs-12 ptb-15">
                        <label>Intermediate Consignee

                        </label>
                        <div class="select-auto">
                            <input type="text" class="form-control" id="partyIc" 
							input-focus="{{errorMap.get('aes.aesIntermediateConsignee.consignee')!=null}}" 
							typeahead-add-new ="routePartyEvent('aesFile.aesIntermediateConsignee.intermediateConsignee',true,null)"
							ng-class="{'error-control':errorMap.get('aes.aesIntermediateConsignee.consignee')!=null}" 
							autocomplete="off" ng-model="aesFile.aesIntermediateConsignee.intermediateConsignee"   
							uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxICPartyEvent($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedICParty('firstNameIc')" 
							typeahead-focus-on-select="false"
							typeahead-focus-first="true" typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500">
						<span class="select-arrow"><b></b></span>
                            
                        </div>
                        <span class="error-message"
                                                                                      ng-if="errorMap.get('aesFile.aesIntermediateConsignee.consignee')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesIntermediateConsignee.consignee')}}</small></span>
                    </div>
                </div>

                <div class="row  ptb5">
                    <div class="col-xs-6">
                        <label>First Name</label>
                        <input class="form-control" id="firstNameIc"
                         ng-change="aesIntermediateConsigneeValidator(8)"
                        ng-model="aesFile.aesIntermediateConsignee.firstName" 
                           focus="{{errorMap.get('aesFile.aesIntermediateConsignee.firstname')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesIntermediateConsignee.firstName')!=null}"
                        maxlength="100">
                         <span class="error-message" ng-if="errorMap.get('aesFile.aesIntermediateConsignee.firstName')!=null">
                          <small>{{errorMap.get('aesFile.aesIntermediateConsignee.firstName')}}</small>
                    </span>
                    </div>
                    <div class="col-xs-6">
                        <label>Last Name</label>
                        <input class="form-control" id="lastNameIc"
                        ng-change="aesIntermediateConsigneeValidator(9)"
                          focus="{{errorMap.get('aesFile.aesIntermediateConsignee.lastName')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesIntermediateConsignee.lastName')!=null}"
                          ng-model="aesFile.aesIntermediateConsignee.lastName" maxlength="100">
				
				<span class="error-message" ng-if="errorMap.get('aesFile.aesIntermediateConsignee.lastName')!=null">
                          <small>{{errorMap.get('aesFile.aesIntermediateConsignee.lastName')}}</small>
                    </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 ">
                        <label>Contact No</label>
                        <input class="form-control" id="contactNoIc" 
                          ng-change="aesIntermediateConsigneeValidator(10)"
                          focus="{{errorMap.get('aesFile.aesIntermediateConsignee.contactNo')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesIntermediateConsignee.contactNo')!=null}"
                        ng-model="aesFile.aesIntermediateConsignee.contactNo" maxlength="20" >
                    <span class="error-message" ng-if="errorMap.get('aesFile.aesIntermediateConsignee.contactNo')!=null">
                          <small>{{errorMap.get('aesFile.aesIntermediateConsignee.contactNo')}}</small>
                    </span>
                    </div>
                </div>

            </div>
            <div class="col-xs-5 bor-fix bor-btm-1" >

                <div class="row pt5">
                    <div class="col-xs-12">  <label>Company Address
                    </label></div>
                </div>
                <div class="row nomargin ">
                    <div class="form-group mb0">
                        <div class="row  ">
                            <div class="col-xs-11 ">
                                <div class="select-auto">
                                    <input type="text" class="form-control" id="partyIcCA" 
										input-focus="{{errorMap.get('aesFile.aesIntermediateConsignee.company')!=null}}" 
										ng-class="{'error-control':errorMap.get('aesFile.aesIntermediateConsignee.company')!=null}" 
										typeahead-add-new="routePartyEvent('aesFile.aesIntermediateConsignee.company',true,null)" 
										autocomplete="off"  ng-model="aesFile.aesIntermediateConsignee.company" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxIcCAEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedIcCA(aesFile.aesIntermediateConsignee.company,'cityIc')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                  <span class="error-message" ng-if="errorMap.get('aesFile.aesIntermediateConsignee.company')!=null">
                                         <small>{{errorMap.get('aesFile.aesIntermediateConsignee.company')}}</small></span>
                                </div>
                            </div>
                            <div class="col-xs-1 plr0 nomargin text-center ">
                                <!--<label class="visible-hide">Empty</label>-->
                                <a tabindex="-1"  href="javascript:void(0)" ng-click="showPartyAddressIcCA()"
                                   class="selectPicker-sm mlminus-15">
                                    <i class="fa fa-chevron-right" data-placement="bottom"   bs-tooltip="selectAddress"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" id="addressLine1Ic" type="text" maxlength="100" 
                                ng-model="aesFile.aesIntermediateConsignee.companyAddress.addressLine1"
                                ng-class="{'error-control':errorMap.get('aesFile.aesIntermediateConsignee.addressLine1')!=null}"
                                ng-change="aesIntermediateConsigneeValidator(3)"
                                >
                                <span class="error-message" ng-if="errorMap.get('aesFile.aesIntermediateConsignee.addressLine1')!=null">
                          <small>{{errorMap.get('aesFile.aesIntermediateConsignee.addressLine1')}}</small>
                    </span>

                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" id="addressLine2Ic" maxlength="100" 
                                  ng-class="{'error-control':errorMap.get('aesFile.aesIntermediateConsignee.addressLine2')!=null}"
                                  ng-change="aesIntermediateConsigneeValidator(3)"
                                  ng-model="aesFile.aesIntermediateConsignee.companyAddress.addressLine2">
                                <span class="error-message" ng-if="errorMap.get('aesFile.aesIntermediateConsignee.addressLine2')!=null">
                                      <small>{{errorMap.get('aesFile.aesIntermediateConsignee.addressLine2')}}</small></span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" maxlength="100" id="addressLine3Ic" 
                                ng-class="{'error-control':errorMap.get('aesFile.aesIntermediateConsignee.addressLine3')!=null}"
                                ng-change="aesIntermediateConsigneeValidator(3)"
                                ng-model="aesFile.aesIntermediateConsignee.companyAddress.addressLine3">
                                <span class="error-message" ng-if="errorMap.get('aesFile.aesIntermediateConsignee.addressLine3')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesIntermediateConsignee.addressLine3')}}</small></span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" maxlength="100" id="addressLine4Ic" 
                                ng-class="{'error-control':errorMap.get('aesFile.aesIntermediateConsignee.addressLine4')!=null}"
                                ng-change="aesIntermediateConsigneeValidator(3)"
                                ng-model="aesFile.aesIntermediateConsignee.companyAddress.addressLine4">
                                <span class="error-message"  ng-if="errorMap.get('aesFile.aesIntermediateConsignee.addressLine4')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesIntermediateConsignee.addressLine4')}}</small></span>
                            </div>
                        </div>
                        <!--row ends-->
                    </div>
                </div>
                <div class="row ptb-15 ">
                    <div class="col-xs-6 ">
                        <label>City</label>
                        <div class="select-auto">
                             <input type="text" class="form-control" id="cityIc" 
										input-focus="{{errorMap.get('aes.aesIntermediateConsignee.city')!=null}}" 
										 ng-class="{'error-control':errorMap.get('aes.aesIntermediateConsignee.city')!=null}" 
										autocomplete="off" ng-model="aesFile.aesIntermediateConsignee.cityMaster" 
										uib-typeahead="lovObject as lovObject.cityName for lovObject in ajaxIcCityEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedIcCity(aesFile.aesIntermediateConsignee.cityMaster)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                        </div>
                         <span class="error-message"
                                                                                      ng-if="errorMap.get('aes.aesIntermediateConsignee.city')!=null">
                                             				 <small>{{errorMap.get('aes.aesIntermediateConsignee.city')}}</small></span>
                    </div>
                    <div class="col-xs-6 ">
                        <label>State</label>
                        <div class="select-auto">
                            <input type="text" class="form-control" id="stateIc" 
										input-focus="{{errorMap.get('aes.aesIntermediateConsignee.state')!=null}}" 
										ng-class="{'error-control':errorMap.get('aes.aesIntermediateConsignee.state')!=null}" 
										autocomplete="off" ng-model="aesFile.aesIntermediateConsignee.stateMaster" 
										uib-typeahead="lovObject as lovObject.stateName for lovObject in ajaxIcStateEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedIcState(aesFile.aesIntermediateConsignee.stateMaster)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                        </div>
                         <span class="error-message"
                                                                                      ng-if="errorMap.get('aes.aesIntermediateConsignee.state')!=null">
                                             				 <small>{{errorMap.get('aes.aesIntermediateConsignee.state')}}</small></span>
                    </div>
                </div>
                <div class="row bor-btm-1 ptb-15">
                    <div class="col-xs-6 ">
                        <label>Country</label>

                        <div class="select-auto">
                            
                            <input type="text" class="form-control" id="countryIc"  
										input-focus="{{errorMap.get('aes.aesIntermediateConsignee.country')!=null}}"
										 ng-class="{'error-control':errorMap.get('aes.aesIntermediateConsignee.country')!=null}" 
										autocomplete="off" ng-model="aesFile.aesIntermediateConsignee.countryMaster" 
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxIcCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedIcCountry(aesFile.aesIntermediateConsignee.countryMaster)" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                        </div>
                          <span class="error-message"
                                                                                      ng-if="errorMap.get('aes.aesIntermediateConsignee.country')!=null">
                                             				 <small>{{errorMap.get('aes.aesIntermediateConsignee.country')}}</small></span>
                    </div>

                    <div class="col-xs-6 ">
                        <label>Zip Code</label>
                        <div class="select-auto">
							<input type="text" id="zipIc"
								focus="{{errorMap.get('aesFile.aesIntermediateConsignee.zipCode')!=null}}"
								ng-change="aesIntermediateConsigneeValidator(11)"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesIntermediateConsignee.zipCode')!=null}"
								ng-model="aesFile.aesIntermediateConsignee.zipCode"
								class="form-control" />
                         <span class="error-message" ng-if="errorMap.get('aesFile.aesIntermediateConsignee.zipCode')!=null">
                           <small>{{errorMap.get('aesFile.aesIntermediateConsignee.zipCode')}}</small>
                        </span>
						</div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
</div>