<div class="row  mlr-15">
    <div class="col-xs-12 nopadding">
        <div class="table-responsive table-fixed">
            <table class="table table-inline">
                <thead>
                <tr>
                    <th rowspan="2" class="inl_sno">#</th>
                    <th rowspan="2" class="inl_xxs">Action</th>
                    <th rowspan="2" class="inl_xs" >Origin of Goods</th>
                    <th rowspan="2" class="inl_sm">License Type</th>
                    <th rowspan="2" class=" inl_l">Commodity</th>
                    <th rowspan="2" class=" inl_xs"> Schedule B / HTS Code</th>
                    <th colspan="2" class="text-center">Unit 1</th>
                    <th colspan="2" class="text-center">Unit 2</th>
                    <th rowspan="2" class="text-right inl_xs">Value (USD)</th>
                    <th rowspan="2" class="text-right inl_xs">Gross Weight (KG)</th>

                    <th rowspan="2" class="inl_s text-center"></th>
                </tr>
                <tr>

                    <th class="inl_xxs">Code</th>
                    <th class="text-right inl_xxs">No of Pieces</th>
                    <th class="inl_xxs">Code</th>
                    <th class="text-right inl_xxs">No of Pieces</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="aesCommodity in aesFile.aesCommodityList track by $index">
                    <td title="{{$index+1}}">{{$index+1}}</td>
                    <td title={{aesCommodity.aesAction}}>{{aesCommodity.aesAction}}</td>
                    <td title="{{aesCommodity.originOfGoods}}">{{aesCommodity.originOfGoods}}</td>
                    <td title="{{aesCommodity.aesLicense}}">{{aesCommodity.aesLicense.licenseType}}</td>
                    <td title="{{aesCommodity.commodityMaster}}">{{aesCommodity.commodityMaster.description}}</td>
                    <td title="{{aesCommodity.aesSchedule}}">{{aesCommodity.aesSchedule.scheduleCode}}</td>
                    <td title="{{aesCommodity.firstUnit.unitCode}}">{{aesCommodity.firstUnit.unitCode}}</td>
                    <td title="{{aesCommodity.secondUnit.unitCode}}" class="text-right">{{aesCommodity.secondUnit.unitCode}}</td>
                    <td title="{{aesCommodity.valueInUsd}}">{{aesCommodity.valueInUsd}}</td>
                    <td title="{{aesCommodity.grossWeightInKg}}" class="text-right">{{aesCommodity.grossWeightInKg}}</td>
                    <td title="{{aesCommodity.firstNoOfPieces}}" class="text-right">{{aesCommodity.firstNoOfPieces}}</td>
                    <td title="{{aesCommodity.secondNoOfPieces}}" class="text-right">{{aesCommodity.secondNoOfPieces}}</td>

                    <td class="text-center">
                        <button type="button" ng-click="morepopup(aesCommodity)" class="btn accent-btn "> More Info</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!--Table responsive-->
         <empty-record ng-if="!aesFile.aesCommodityList || aesFile.aesCommodityList.length==0" icon="commodity" text="Looks like there are no aes commodity records here"></empty-record>
    </div>
</div>
