<div class="row nomargin bor-btm-1 overflow-hidden">
    <div class="col-xs-6 bor-fix ">
        <div class="row ptb-15">
            <div class="col-xs-6">
                <span>Origin State</span>
                <h6>{{aesFile.originState.stateName}}</h6>
            </div>
            <div class="col-xs-6">
                <span>Airport of Loading </span>
                <h6>{{aesFile.pol.portName}} 
                </h6>
            </div>
        </div>
    </div>
    <div class="col-xs-6 bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-6 ">
                <span>Airport of Discharge</span>
                <h6>{{aesFile.pod.portName}}</h6>
            </div>
            <div class="col-xs-6">
                <span>Destination Country</span>
                <h6><img ng-if="aesFile.destinationCountry.image!=null"  data-ng-src="data:image/png;base64,{{aesFile.destinationCountry.image}}" style="padding-right:3px;" width="23" height="20">{{aesFile.destinationCountry.countryName}}   
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="row nomargin bor-btm-1 overflow-hidden">
    <div class="col-xs-12  bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-3">
                <span>Carrier</span>
                <h6>
                <img ng-if="aesFile.carrier.image!=null"  data-ng-src="data:image/png;base64,{{aesFile.carrier.image}}" width="20" height="20">
                {{aesFile.carrier.carrierName}}</h6>
            </div>
            <div class="col-xs-3">
                <span>IATA</span>
                <h6>{{aesFile.iata.iataName}}</h6>
            </div>
            <div class="col-xs-2">
                <span>ETD</span>
                <h6>{{dateAndTimeToString(aesFile.etd)}}</h6>
            </div>
        </div>
    </div>


</div>

<div class="row overflow-hidden bor-btm-1 nomargin">
    <div class="col-xs-12 bor-fix ">
        <div class="row ptb-15">
            <div class="col-xs-3 ">
                <span>Routed Transaction</span>
                <h6>{{aesFile.routedTransaction == true?'Yes':'No'}}</h6>
            </div>
            <div class="col-xs-3">
                <span>USPPI and Ultimate Consignee Related</span>
                <h6>{{aesFile.usspiUltimateConsignee == true?'Yes':'No'}}</h6>
            </div>
            <div class="col-xs-3">
                <span>Hazardous Cargo</span>
                <ul class="list-inline futbol-fix clearfix">

                    <li class="ml-15" ng-class="{'opc-5':test.imco}">
                        <i ng-class="{'grayscale':test.imco}" data-placement="right"   bs-tooltip="imco" class="fa fa-futbol-o "></i>
                        <span class="ml-5" style="color:#000; line-height: 25px;">{{aesFile.hazardousCargo == true?'Yes':'No'}}</span>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>


<div class="row nomargin bor-btm-1 overflow-hidden">
    <div class="col-xs-12  bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-3">
                <span>Inbond Type</span>
                <h6>{{aesFile.inbondType.inbondType}}</h6>
            </div>
            <div class="col-xs-3">
                <span>Import Entry No</span>
                <h6>{{aesFile.importEntryNo}}</h6>
            </div>
            <div class="col-xs-3">
                <span>Foreign Trade Zone</span>
                <h6>{{aesFile.foreignTradeZone}}</h6>
            </div>


        </div>
    </div>

</div>