
<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 94%">
        <div class="modal-content">
            <div class="modal-header flexTitle ">
                <div>
                    <h4>Airline EDI</h4>
                </div>
                <div>
                    <div class="btngrp">
                        <button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button>
                        <button ng-if="airlineEdi.statusList[0].status!=='EDI_GENERATION_SUCCESS'"type="button" tabindex="5" class="btn btn-primary btn-xs btn-property green-btn" ng-click="generateEdi(airlineEdi)">
                        	Generate EDI
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body nopadding" style="min-height: 500px; height: 500px; overflow-x: hidden;">
                <div class="row nomargin">
                    <div class="col-xs-2 ptb-15">
                        <div class="flexTitle">
                            <div>
                                <h6 class="nomargin">Options</h6>
                            </div>
                            <div>
                                <label class="checkbox-inline text-inherit"><input type="checkbox" value="" class="text-inherit" ng-model="airlineEdi.eawb">eAWB</label>
                                <label class="checkbox-inline"><input type="checkbox" value="" ng-model="airlineEdi.paper">Paper</label>
                            </div>
                        </div>
                        
                       
                    </div>
					<div>
						<h6 ng-style="airlineEdi.statusList[0].status=='EDI_GENERATION_SUCCESS' && {'color':'green'} || {'color':'black'}" style="font-weight: bold; text-align: right;">
							{{airlineEdi.statusList[0].statusMessage}}</h6>
					</div>
				</div>
                <div class="row line nomargin">
                    <hr>
                </div>
                <div class="row nomargin bg-lblue ptb-15">
                    <div class="col-xs-2">
                        <span>MAWB</span>
                        <h6 class="hyperLink cur-pointer">{{airlineEdi.mawbNo}}</h6>
                    </div>
                    <div class="col-xs-2">
                        <span>Reference ID</span>
                        <h6>-</h6>
                    </div>
                    <div class="col-xs-2">
                        <span>AWB Date</span>
                        <h6>{{dateToString(airlineEdi.awbDate)}}</h6>
                    </div>
                    <div class="col-xs-2">
                        <span>Consol ID</span>
                        <h6 class="hyperLink cur-pointer">{{airlineEdi.masterShipmentUid}}</h6>
                    </div>
                    <div class="col-xs-2">
                        <span>Direct</span>
                        <h6>{{airlineEdi.directShipment?'Yes':'No'}}</h6>
                    </div>
                    <div class="col-xs-2 col-xs-pull-1" ng-hide=true>
                        <span>Status</span>
                        <h6>Shipment Sent to Airlines</h6>
                    </div>
                </div>
                <div class="row nomargin line">
                    <hr>
                </div>
                <div class="row nomargin">
                    <div class="col-xs-12 nopadding">
                        <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='tab1'">
                            <li data-menu-item="MAWB">
                                <button type="button" class="btn" ng-class="Tabs=='tab1'?'active':'btn-normal'" ng-click="Tabs='tab1'">MAWB</button>
                            </li>
                            <li data-menu-item="HAWB">
                                <button type="button" class="btn" ng-class="Tabs=='tab2'?'active':'btn-normal'" ng-click="Tabs='tab2'">HAWB ({{airlineEdi.houseList.length}})</button>
                            </li>
                            <li data-menu-item="RESPONSE">
                                <button type="button" class="btn" ng-class="Tabs=='tab3'?'active':'btn-normal'" ng-click="Tabs='tab3'; getAllEdiStatus()">RESPONSE</button>
                            </li>
                            <li data-more-menu-item >
                                <button ng-if="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                            </li>
                        </ul><!--TAB MENUS ENDS-->
                        <div class="tab-content" >
                            <div ng-if="Tabs=='tab1'">
                                <div class="row nomargin">
                                    <div class="col-xs-4 ptb-15" style="min-height: 200px;">
                                        <address>
                                            <span>Issuing / Sub Agent</span>
                                            <h4>{{airlineEdi.agent.partyName}}</h4>
                                            <p class="nomargin">{{airlineEdi.agentAddress.addressLine1}}, {{airlineEdi.agentAddress.addressLine2}}</p>
                                            <p class="nomargin">{{airlineEdi.agentAddress.addressLine3}}</p>
                                            <p class="nomargin">{{airlineEdi.agentAddress.addressLine4}}</p>
                                        </address>
                                        <span>IATA Agent Code</span>
                                        <h6>{{(airlineEdi.iataAgentCode==null || airlineEdi.iataAgentCode=='') ? '-' : airlineEdi.iataAgentCode}}</h6>
                                    </div>
                                    <div class="col-xs-4 ptb-15 bor-l-1" style="min-height: 200px;">
                                        <address>
                                            <span>MAWB Shipper</span>
                                            <h4>{{airlineEdi.shipper.partyName}}</h4>
                                            <p class="nomargin">{{airlineEdi.shipperAddress.addressLine1}}, {{airlineEdi.shipperAddress.addressLine2}}</p>
                                            <p class="nomargin">{{airlineEdi.shipperAddress.addressLine3}}</p>
                                            <p class="nomargin">{{airlineEdi.shipperAddress.addressLine4}}</p>
                                        </address>
                                    </div>
                                    <div class="col-xs-4 ptb-15 bor-l-1" style="min-height: 200px;">
                                        <address>
                                            <span>Agent at Destination</span>
                                            <h4>{{airlineEdi.agentAtDestination.partyName}}</h4>
                                            <p class="nomargin">{{airlineEdi.agentAtDestinationAddress.addressLine1}}, {{airlineEdi.agentAtDestinationAddress.addressLine2}}</p>
                                            <p class="nomargin">{{airlineEdi.agentAtDestinationAddress.addressLine3}}</p>
                                            <p class="nomargin">{{airlineEdi.agentAtDestinationAddress.addressLine4}}</p>
                                        </address>
                                    </div>
                                </div>
                                <div class="row nomargin line">
                                    <hr>
                                </div>
                                <div class="row nomargin ptb-15">
                                    <div class="col-xs-4">
                                        <span>Info</span>
                                        <h6>{{airlineEdi.info == null || airlineEdi.info == '' ? '-' : airlineEdi.info}}</h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>Commodity</span>
                                        <h6>{{airlineEdi.commodityMaster.hsName}}</h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>Currency</span>
                                        <h6>{{airlineEdi.currencyMaster.currencyName}}</h6>
                                    </div>
                                </div>
                                <div class="row nomargin line">
                                    <hr>
                                </div>
                                <div class="flex align-justify align-middle title mb0" ng-click="accTab=!accTab" ng-init="accTab=true">
                                    <div>
                                        <h5>Routing & Carrier Info</h5>
                                    </div>
                                    <div>
                                        <i class="{{accTab==true?'icon-uparrow':'icon-downarrow'}}"></i>
                                    </div>
                                </div>
                                <div class="row nomargin" ng-if="accTab">
                                    <div class="col-xs-12 ptb-15">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span>Origin</span>
                                                <h6>{{airlineEdi.origin.portName}}</h6>
                                            </div>
                                            <div class="col-md-3">
                                                <span>Airport of Loading</span>
                                                <h6>{{airlineEdi.pol.portName}}</h6>
                                            </div>
                                            <div class="col-md-3">
                                                <span>Airport of Discharge</span>
                                                <h6>{{airlineEdi.pod.portName}}</h6>
                                            </div>
                                            <div class="col-md-3">
                                                <span>Destination</span>
                                                <h6>{{airlineEdi.destination.portName}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15 bor-t1">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span>Carrier</span>
                                                <h6>
                                                <img ng-if="airlineEdi.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{airlineEdi.carrierMaster.image}}" width="20" height="20">
                                                {{airlineEdi.carrierMaster.carrierName}}</h6>
                                            </div>
                                            <div class="col-md-3">
                                                <span>Flight No</span>
                                                <h6>{{airlineEdi.flightNumber}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15 bor-t1">
                                        <div class="table-responsive">
                                            <table class="table table-inline mb0 mt-5">
                                                <thead>
	                                                <tr>
		                                                <th class="inl_sno">#</th>
		                                                <th class="inl_l">Airport of Loading</th>
		                                                <th class="inl_l">Airport of Destination</th>
		                                                <th class="inl_s">ETD</th>
		                                                <th class="inl_s">ETA</th>
		                                                <th class="inl_l">Carrier</th>
		                                                <th class="inl_s">Flight No</th>
	                                                </tr>
                                                </thead>
                                                <tbody>
	                                                <tr data-ng-repeat="connection in airlineEdi.connectionList track by $index">
	                                                    <td>{{$index + 1}}</td>
	                                                    <td>{{connection.pol.portName}}</td>
	                                                    <td>{{connection.pod.portName}}</td>
	                                                    <td>{{connection.etd}}</td>
	                                                    <td>{{connection.eta}}</td>
	                                                    <td>
	                                                    <img ng-if="connection.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{connection.carrierMaster.image}}" width="20" height="20"> 
	                                                    {{connection.carrierMaster.carrierName}}</td>
	                                                    <td>{{connection.flightNumber}}</td>
	                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div><!--accTab Ends-->

                                <div class="row nomargin line">
                                    <hr>
                                </div>

                                <div class="flex align-justify align-middle title mb0" ng-click="accTab2=!accTab2" ng-init="accTab2=true">
                                    <div>
                                        <h5>Packs & Dimensions</h5>
                                    </div>
                                    <div>
                                        <i class="{{accTab2==true?'icon-uparrow':'icon-downarrow'}}"></i>
                                    </div>
                                </div>
                                <div class="row nomargin" ng-if="accTab2">
                                    <div class="col-xs-12 ptb-15">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <span>No of Pieces</span>
                                                <h6>{{airlineEdi.noOfPieces}}</h6>
                                            </div>
                                            <div class="col-xs-3">
                                                <span>Volume Weight (KG)</span>
                                                <h6>{{airlineEdi.grossWeight.toFixed(2)}}</h6>
                                            </div>
                                            <div class="col-xs-3">
                                                <span>Gross Weight (KG)</span>
                                                <h6>{{airlineEdi.volumeWeight.toFixed(2)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15 bor-t1">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <span>Dimension Unit</span>
                                                 <h6>{{airlineEdi.dimensionUnit=='CENTIMETERORKILOS'?'Centimeter / Kilos':'Inch / Pounds'}}</h6>
                                            </div>
                                            <div class="col-xs-2">
                                                <span>Dimension Value</span>
                                                <h6>{{airlineEdi.dimensionUnitValue}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15 bor-t1">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table table-inline mt-5">
                                                        <thead>
                                                        	<tr>
	                                                            <th class="inl_sno">#</th>
	                                                            <th class="inl_s text-right">No of Pieces</th>
	                                                            <th class="inl_s text-right">Length (in)</th>
	                                                            <th class="inl_s text-right">Width (in)</th>
	                                                            <th class="inl_s text-right">Height (in)</th>
	                                                            <th class="inl_s text-right">Volume Weight (KG)</th>
	                                                            <th class="inl_s text-right">Gross Weight (KG)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr data-ng-repeat="dimension in airlineEdi.dimensionList track by $index">
                                                                <td>{{$index + 1}}</td>
                                                                <td class="text-right">{{dimension.noOfPiece}}</td>
                                                                <td class="text-right">{{dimension.length}}</td>
                                                                <td class="text-right">{{dimension.width}}</td>
                                                                <td class="text-right">{{dimension.height}}</td>
                                                                <td class="text-right">{{dimension.volWeight.toFixed(2)}}</td>
                                                                <td class="text-right">{{dimension.grossWeight.toFixed(2)}}</td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                             	<td class="text-right">Total</td>
																<td class="text-right">{{airlineEdi.dimNoOfPieces}}</td>
																<td></td>
																<td></td>
																<td></td>
																<td class="text-right">{{airlineEdi.dimVolumeWeight.toFixed(2)}}</td>
																<td class="text-right">{{airlineEdi.dimGrossWeight.toFixed(2)}}</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div ng-if="Tabs=='tab2'">
                                <div class="row nomargin">
                                    <div class="col-xs-12 ptb-15 overflow-hidden">
                                        <div class="table-responsive">
                                            <table class="table table-inline">
                                                <thead>
                                               		<tr> 
		                                               	<th class="inl_sno">#</th>
		                                                <th class="inl_s">Shipment ID</th>
		                                                <th class="inl_m">Origin</th>
		                                                <th class="inl_m">Destination</th>
		                                                <th class="inl_l">Shipper</th>
		                                                <th class="inl_l">Consignee</th>
		                                                <th class="inl_m">Tos</th>
		                                                <th class="inl_l">Commodity</th>
		                                                <th class="text-right inl_sm">External No of Pieces</th>
		                                                <th class="text-right inl_sm">Gross Weight (KG)</th>
		                                                <th class="text-right inl_s">Volume (CBM)</th>
		                                                <th class="inl_s"></th>
                                               		</tr>
                                                </thead>
                                                <tbody data-ng-repeat="house in airlineEdi.houseList track by $index">
                                                    <tr>
                                                        <td>{{$index + 1}}</td>
                                                        <td>
                                                            <span class="hyperLink cur-pointer">{{house.shipmentUid}}</span>
                                                        </td>
                                                        <td>
                                                            {{house.origin.portName}}
                                                        </td>
                                                        <td>
															{{house.destination.portName}}
                                                        </td>
                                                        <td>
                                                            {{house.shipper.partyName}}
                                                        </td>
                                                        <td>
                                                            {{house.consignee.partyName}}
                                                        </td>
                                                        <td>
                                                            {{house.tosMaster.tosName}}
                                                        </td>
                                                        <td>
                                                            {{house.commodityMaster.hsName}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{house.externalNumberOfPieces}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{house.grossWeight.toFixed(2)}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{house.volumeWeight.toFixed(2)}}
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn accent-btn" ng-click="showMore = !showMore">More</button>
                                                        </td>
                                                    </tr>
                                                    <tr ng-init="showMore = false" ng-if="showMore" class="bg-gray">
                                                        <td colspan="12">
                                                            <div class="row ptb-15">
                                                                <div class="col-xs-4">
                                                                    <span>Declared Value for Carriage</span>
                                                                    <h6>{{house.declaredValueForCarriage == null || house.declaredValueForCarriage == '' ? '-' : house.declaredValueForCarriage }}</h6>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <span>Declared Value for Insurance</span>
                                                                    <h6>{{house.declaredValueForInsurance == null || house.declaredValueForInsurance == '' ? '-' : house.declaredValueForInsurance}}</h6>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <span>Declared Value for Customs</span>
                                                                    <h6>{{house.declaredValueForCustoms == null || house.declaredValueForCustoms == '' ? '-' : house.declaredValueForCustoms}}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="row line nomargin">
                                                                <hr>
                                                            </div>
                                                            <div class="row ptb-15">
                                                                <div class="col-xs-12">
                                                                    <span>Handling Info</span>
                                                                    <h6>{{house.handlingInformation == null || house.handlingInformation == '' ? '-' : house.handlingInformation}}</h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       		<div ng-if="Tabs=='tab3'">
                       			<div class="row nomargin">
                                <div class="col-xs-12 mt-15">
										<div class="table-responsive" ng-if="ediResponseList && ediResponseList.length!=0">
											<table class="table table-inline">
												<thead>
													<tr>
														<th class="inl_sno">#</th>
														<th class="inl_s">EDI Type</th>
														<th class="inl_s">Status Type</th>
														<th class="inl_l">Status description</th>
														<th class="inl_s">Status Date</th>
														<th class="inl_m">Carrier Code</th>
														<th class="inl_s">Flight No</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="response in ediResponseList track by $index">
														<td>{{$index + 1}}</td>
														<td>{{response.ediStatusType}}</td>
														<td>{{response.ediType}}</td>
														<td>{{response.statusName}}</td>
														<td>{{dateAndTimeToString(response.statusDate)}}</td>
														<td>{{response.carrierCode}}</td>
														<td>{{response.flightNumber}}</td>
													</tr>
												</tbody>
											</table>
										</div>
                              
                              			<empty-record ng-if="!ediResponseList || ediResponseList.length==0" icon="edi" text="Looks like there are no edi response records here"></empty-record>
                                </div>
                            </div>
                       		</div>
                       
                        </div><!--TAB CONTENT TAB ENDS-->
                    </div><!--Col ends-->
                </div><!--row ends-->
            </div>
        </div>
    </div>
</div>