
<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body nopadding" style="min-height: 500px">
                <div class="row nomargin">
                    <h5 class="sub-title mb0">Export Detail</h5>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-3">
                                <span>Export</span>
                                <h6>{{aesCommodity.aesExport.exportCode}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>ECCN</span>
                                <h6>{{aesCommodity.eccn}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>Export License No</span>
                                <h6>{{aesCommodity.exportLicenseNo}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>License Value</span>
                                <h6>{{aesCommodity.licenseValue}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin">
                    <h5 class="sub-title mb0">DDTC - ITAR</h5>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-3">
                                <span>ITAR Excemption</span>
                                <h6>{{aesCommodity.itarExcemption.excemptionNo}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>SME Indicator</span>
                                <h6>{{aesCommodity.smeIndicator==false?'Yes':'No'}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>Eligible {{appMasterData['Party_Label']}} Certificate</span>
                                <h6>{{aesCommodity.eligiblePartyCertification==false?'Yes':'No'}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-3">
                                <span>USML Vertical</span>
                                <h6>{{aesCommodity.usml.categoryCode}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>Unit code</span>
                                <h6>{{aesCommodity.dtdc.unitCode}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>No of Pieces</span>
                                <h6>{{aesCommodity.dtdcQuantity}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin">
                    <h5 class="sub-title mb0">DDTC - Vehicle</h5>
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-inline mt-15">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>VIN / Product ID</th>
                                    <th>ID Type</th>
                                    <th>Vehicle Title No</th>
                                    <th>Vehicle Title State</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="dtdcVehicle in aesCommodity.dtdcVehicleList track by $index">
                                    <td>{{$index+1}}</td>
                                    <td>{{dtdcVehicle.vinProductId}}</td>
                                    <td>{{dtdcVehicle.vinIdType}}</td>
                                    <td>{{dtdcVehicle.vehicleTitleNo}}</td>
                                    <td>{{dtdcVehicle.vehicleTitleState.stateName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <empty-record ng-if="!aesCommodity.dtdcVehicleList || aesCommodity.dtdcVehicleList.length==0" icon="Dtdc" text="Looks like there are no vehicle records here"></empty-record>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>