<div class="container-fluid m15">
	<div class="row nomargin" ng-click="invoice=!invoice" ng-init="invoice=true">
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Invoice & Credit Note</h5>
			</div>
			<div>
				<i class="{{invoice==true?'icon-uparrow':'icon-downarrow'}}"></i>
			</div>
		</div>
	</div>
	<div ng-hide="!invoice" class="accordian-content">
		<div ng-include="'app/components/air/consol_shipments/views/consol_shipment_invoice.html'"></div>
	</div>
	<div class="row nomargin" ng-click="provisionalDisplay=!provisionalDisplay" ng-init="provisionalDisplay=true">
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Provisional Revenue/Cost</h5>
			</div>
			<div>
				<i class="{{provisionalDisplay==true?'icon-uparrow':'icon-downarrow'}}"></i>
			</div>
		</div>
	</div>
	<div class="accordian-content pl0 pr0" ng-hide="provisionalDisplay">
		<div ng-include="'app/components/air/consol_shipments/views/consol_shipment_provision.html'"></div>
	</div>
</div>