<div class="col-xs-12 detailview">

    <ul ng-hide="setVisibility" class="list-inline mb-10">
        <li>
            <a href="javascript:void(0);" class="btn btn-xs btn-property btn-gray" ng-click="backConsol()">
                <i class="icon-back-menu"></i>Back</a>
        </li>
        <li ng-hide="true">
            <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addConsol()">
                <i class="icon-add"></i> add master shipment</a>
        </li>
        <div show-response></div>
    </ul>
    <!--ADD BAR ENDS-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <client-error message="clientMessage"></client-error>
            <div success-message></div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5 pr0">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                            <h4>Master ID
                                <span>{{consol.consolUid}}</span>
                            </h4>
                        </div>
                        <div class="col-xs-4 mt10 hidden-xs hidden-sm hidden-md plr0">
                            <div class="pull-left">
                                <div class="pull-left">
                                    <ul class="list-inline pr5">
                                        <li ng-if="consol.serviceMaster.transportMode=='Air'">
                                            <span class="icon-bairplane"></span>
                                        </li>
                                        <li ng-if="consol.serviceMaster.importExport=='Export'">
                                            <span class="icon-upload"></span>
                                        </li>
                                        <li ng-if="consol.serviceMaster.importExport=='Import'">
                                            <span class="icon-download"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-blue text-ellipsis">{{consol.serviceMaster.serviceName}}</div>
                            </div>
                        </div>
                        <div class="col-xs-3 hidden-xs hidden-sm hidden-md plr0">
                            <h4>
                                <small>{{dateAndTimeToString(consol.masterDate)}}</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-7 mt-7">
                    <div class="row masopertion-action ">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 plr0 text-right">
                            <ul class="list-inline m-text-right">

                                <li>
                                    <button ng-if="consol.consolSignOff==null || !consol.consolSignOff.isSignOff" type="button" class="btn btn-primary btn-property green-btn" ng-click="consolSignOffModel(consol);">Sign Off</button>
                                </li>

                                <li>
                                    <button ng-if="consol.consolSignOff!=null && consol.consolSignOff.isSignOff" type="button" class="btn btn-primary btn-property green-btn" ng-click="consolUnSignOffModal(consol);">Unsign Off</button>
                                </li>


                                <li ng-if="consol.serviceMaster.importExport=='Export' && consol.isJobCompleted==false && consol.jobStatus!='Cancelled'">
                                    <input class="magic-checkbox" ng-model="consol.isJobCompleted" type="checkbox" ng-change="confirmEdiAndCompleteImportProcess(consol)" id="markjobCompleted">
                                    <label class="text custom-label text-inherit m-text-left" for="markjobCompleted">
                                        {{!markjobCompleted?'Mark as Completed':'Completed'}}
                                    </label>
                                </li>
                                <li ng-if="consol.isJobCompleted==false && consol.jobStatus!='Cancelled'">
                                    <input ng-hide="consol.jobStatus=='Cancelled'" class="magic-checkbox" type="checkbox" ng-model="consol.jobStatusChecker" ng-change="markAsCancelled(consol)" id="markOption">
                                    <label class="text custom-label text-inherit m-text-left" for="markOption">
                                        {{!markOption?'Cancel':'Cancelled'}}
                                    </label>
                                </li>
                                <li>
                                    <!-- <button  type="button" class="btn btn-primary btn-property accent-btn" ng-click="codeMirror_Generate()"  >Generate Airline EDI</button> -->
                                    <button type="button" class="btn btn-primary btn-property accent-btn" ng-click="airlineEdiConfirmation()" ng-if="consol.id != null && consol.serviceMaster.importExport=='Export'">Generate Airline EDI</button>
                                </li>
                                <!--  <li>
                                    <button type="button" class="btn btn-primary btn-property green-btn"  ng-hide="true">Generate EDI for Customs</button>

                                </li> -->
                            </ul>
                        </div>
                        <div class="col-xs-2 plr0">
                            <ul class="list-inline pull-right">
                                <li>
                                    <a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory" class="list-panel-edit-btn">
                                        <i class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i>
                                    </a>
                                </li>
                                <li ng-if="showPageNavEdit">
                                    <a data-placement="bottom" bs-tooltip="editIcon" ng-hide="setVisibility" href="javascript:void(0)" ng-click="editConsol()" ng-hide="consol.jobStatus=='Cancelled'?true:false || consol.jobStatusChecker==true">
                                        <i class="icon-edit"></i>
                                    </a>
                                </li>
                                <!--<li><a title="Generate Airline EDI" href="javascript:void(0)" ng-click="default_editmodel()" class="list-panel-edit-btn"><i class="icon-delete"></i></a></li>-->
                            </ul>
                        </div>

                    </div>

                </div>


            </div>
            <!--Row ends-->
        </div>
        <!--PANEL HEADING ENDS-->
        <div class="panel-body info-view detail-body" ng-click="showHistory=false" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
            <div class="row mtminus-15">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="page mb0 ">
                            <div class="page-body ptb0">
                                <div class="row overflow-hidden">
                                    <div class="col-xs-6 bor-fix">
                                        <div class="flex ptb-15 flex-col">
                                            <div class="">
                                                <span>Agent</span>
                                                <h5 class="heading" ng-style="{{'color':consol.agent.gradeMaster.colorCode}}">{{consol.agent.partyName}}</h5>
                                                <ul class="list-unstyled mb-15">
                                                    <li>{{consol.agentAddress.addressLine1}}, {{consol.agentAddress.addressLine2}}</li>
                                                    <li>{{consol.agentAddress.addressLine3}}</li>
                                                    <li>{{consol.agentAddress.addressLine4}}</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-6 bor-fix plr0 bor-l-1">
                                        <div class="flex  flex-col align-spaced ">
                                            <div class="">
                                                <div class="flex-row  ptb-15 bor-btm-1">
                                                    <div class="col-xs-2 ">
                                                        <span>Freight</span>
                                                        <h6>{{consol.ppcc}}</h6>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <span>Status</span>
                                                        <h6>{{consol.jobStatus}}</h6>
                                                    </div>
                                                    <div class="col-xs-2" ng-hide="consol.serviceMaster.importExport=='Import'">
                                                        <span>Direct</span>
                                                        <h6>{{consol.directShipment}}</h6>
                                                    </div>
                                                    <div class="col-xs-3" ng-if="consol.isJobCompleted">
                                                        <span>Job is Completed</span>
                                                        <h6>{{consol.isJobCompleted?'Yes':'No'}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="flex-row ptb-15">
                                                    <div class="col-xs-7">
                                                        <span>Origin</span>
                                                        <h6>{{consol.origin.portName}}</h6>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <span>{{consol.serviceMaster.transportMode=='Air'?'Airport of Loading':'Port
                                                            of Loading'}}</span>
                                                        <h6>{{consol.pol.portName}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row overflow-hidden">
                                    <div class="col-xs-6 bor-fix">
                                        <div class="row ptb-15 bor-t1">
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <span>Currency</span>
                                                <h6>{{consol.currency.currencyCode}}</h6>
                                            </div>
                                            <div class="col-xs-4 col-md-4">
                                                <span>Currency Rate</span>
                                                <h6>{{currencyRoeFormat(consol.currency,consol.currencyRate)}}</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 bor-fix  bor-t1 bor-l-1">
                                        <div class="row ptb-15">
                                            <div class="col-xs-7 ">
                                                <span>{{consol.serviceMaster.transportMode=='Air'?'Airport of Discharge':'Port
                                                    of Discharge'}}</span>
                                                <h6>{{consol.pod.portName}}</h6>
                                            </div>
                                            <div class="col-xs-5">
                                                <span>Destination</span>
                                                <h6>{{consol.destination.portName}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row line">
                                    <hr>
                                </div>
                                <div class="row ptb-15">
                                    <div class="col-xs-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-md-2 col-lg-4">
                                                <span>No of Pieces</span>
                                                <h6>{{integerFormat(consol.consolDocument.noOfPieces,consol.country.locale)}}</h6>
                                            </div>

                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <span>Gross Weight (KG)</span>
                                                <h6>{{weightFormat(consol.consolDocument.grossWeight,consol.country.locale)}}</h6>
                                            </div>
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <span>Volume Weight (KG)</span>
                                                <h6>{{weightFormat(consol.consolDocument.volumeWeight,consol.country.locale)}}</h6>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="row">
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <span>Volume (CBM)</span>
                                                <h6>{{weightFormat(consol.consolDocument.volume,consol.country.locale)}}</h6>
                                            </div>
                                            <div class="col-xs-5 col-md-5 col-lg-4">
                                                <span>Chargeable Weight (KG)</span>
                                                <h6 class="text-green">{{weightFormat(consol.consolDocument.chargebleWeight,consol.country.locale)}}</h6>
                                            </div>
                                            <div class="col-xs-3 col-md-3 col-lg-4" ng-hide="consol.serviceMaster.importExport=='Import'">
                                                <span>IATA Rate</span>
                                                <h6>{{currencyFormat(consol.localCurrency,consol.iataRate)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--page body ends-->
                        </div>
                        <!--page ends-->
                    </div>
                </div>
                <!--Col Ends-->
            </div>
            <!--Row Ends-->
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="openDefaultTab()">
                        <li data-menu-item="moreInfo">
                            <button type="button" class="btn" ng-class="Tabs=='moreInfo'?'active':'btn-normal'" ng-click="menuTabClick('moreInfo')">Details</button>
                        </li>
                        <li data-menu-item="consol">
                            <button ng-hide="consol.serviceMaster.importExport=='Export' && consol.directShipment=='Yes'" type="button" class="btn" ng-class="Tabs=='consol'?'active':'btn-normal'" ng-click="menuTabClick('consol')">HAWB list</button>
                        </li>
                        <li data-menu-item="documentInfo">
                            <button type="button" class="btn" ng-class="Tabs=='documentInfo'?'active':'btn-normal'" ng-click="menuTabClick('documentInfo')">document</button>
                        </li>
                        <li data-menu-item="connections">
                            <button type="button" class="btn" ng-class="Tabs=='connections'?'active':'btn-normal'" ng-click="menuTabClick('connections')">connections</button>
                        </li>
                        <li data-menu-item="attachMent">
                            <button type="button" class="btn" ng-class="Tabs=='attachMent'?'active':'btn-normal'" ng-click="menuTabClick('attachMent')">attachments</button>
                        </li>
                        <li data-menu-item="pickup">
                            <button type="button" class="btn" ng-class="Tabs=='pickup'?'active':'btn-normal'" ng-click="menuTabClick('pickup')">pick Up / delivery</button>
                        </li>
                        <li data-menu-item="rates">
                            <button type="button" class="btn" ng-class="Tabs=='rates'?'active':'btn-normal'" ng-click="menuTabClick('rates')">Charges</button>
                        </li>
                        <li data-menu-item="events">
                            <button type="button" class="btn" ng-class="Tabs=='events'?'active':'btn-normal'" ng-click="menuTabClick('events')">events</button>
                        </li>
                        <li data-menu-item="reports">
                            <button type="button" class="btn" ng-class="Tabs=='reports'?'active':'btn-normal'" ng-click="reportListMaking(consol,consol.id);menuTabClick('reports')">reports</button>
                        </li>
                        <li data-menu-item="accounts">
                            <button type="button" class="btn" ng-class="Tabs=='accounts'?'active':'btn-normal'" ng-click="getAccountsFromMaster(consol);menuTabClick('accounts')">Accounts</button>
                        </li>
                        <li data-menu-item="references">
                            <button type="button" class="btn" ng-class="Tabs=='references'?'active':'btn-normal'" ng-click="menuTabClick('references')">References</button>
                        </li>
                        <li data-menu-item="notes">
                            <button type="button" class="btn" ng-class="Tabs=='notes'?'active':'btn-normal'" ng-click="menuTabClick('notes')">Notes</button>
                        </li>
                        <li data-menu-item="aes">
                            <button type="button" ng-if="consol.consolUid!=null && consol.origin.portGroupMaster.countryMaster.countryCode=='US' && consol.serviceMaster.importExport=='Export'" class="btn" ng-class="Tabs=='aes'?'active':'btn-normal'" ng-click="menuTabClick('aes');aesSearchFunction(consol)">AES{{finalArr!=null&&finalArr.length!=null?'('+finalArr.length+')':''}}</button>
                        </li>
                        <li data-menu-item="EdiStatus">
                            <button type="button" class="btn" ng-class="Tabs=='EdiStatus'?'active':'btn-normal'" ng-click="menuTabClick('EdiStatus')" ng-if="false">Airline EDI status</button>
                        </li>
                        <li data-more-menu-item>
                            <button type="button" class="btn btn-normal"> More
                                <span class="icon-downarr"></span>
                            </button>
                        </li>
                    </ul>
                    <!--TAB MENUS ENDS-->
                    <div class="tab-content">
                        <div ng-if="Tabs=='moreInfo'">
                            <div class="row">
                                <div class="col-xs-12 ">
                                    <div ng-include="'app/components/air/consol_shipments/views/moreInfo_tab.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!--MORE INFO TAB ENDS-->
                        <div ng-if="Tabs=='consol'">
                            <div class="col-xs-4 pt10">
                                <ul class="list-inline" ng-if="consol.serviceMaster.importExport=='Import'">
                                    <li ng-if="consol.shipmentLinkList.length>0 && consol.id!=null">
                                        <button type="button" class="btn accent-btn" ng-click="downloadDo()">Download Delivery Order</button>
                                        <!--    <div  ng-if="false"
                                           ng-include="'app/components/dynamicreport/view/do_all.html'"></div> -->
                                    </li>
                                </ul>
                            </div>

                            <div ng-include="'app/components/air/consol_shipments/views/consol_tab.html'"></div>
                        </div>
                        <!--CONSOL TAB ENDS-->
                        <div ng-if="Tabs=='documentInfo'">
                            <div class="row" ng-if="consol.serviceMaster.importExport=='Export'">
                                <div class="col-xs-12 ">
                                    <div ng-include="'app/components/air/consol_shipments/views/documents_tab.html'"></div>
                                </div>
                            </div>
                            <div class="row nomargin" ng-if="consol.serviceMaster.importExport=='Import'">
                                <div class="col-xs-12 nopadding">
                                    <div ng-include="'app/components/air/consol_shipments/views/import_documents.html'"></div>
                                </div>
                            </div>
                            <!--Import Shipments-->
                        </div>
                        <!--DOCUMENT TAB ENDS-->
                        <div ng-if="Tabs=='connections'">
                            <div class="row nomargin pt-15">
                                <div class="col-xs-12">
                                    <div ng-include="'app/components/air/consol_shipments/views/connections.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!--CONNECTION TAB ENS-->
                        <!--ATTACHEMENT TAB STARTS-->
                        <div ng-if="Tabs=='attachMent'">
                            <div class="row nomargin pt-15 noborder">
                                <super-attachment-table attachment-config="attachConfig" table-data="consol.consolAttachmentList" download-fn="downloadAttach(param)" download-role="$roleConstant.AIR_MASTER_SHIPMENT_ATTACHMENT_DOWNLOAD">
                                </super-attachment-table>
                            </div>
                        </div>
                        <!--ATTACHEMENT TAB ENDS-->
                        <div ng-if="Tabs=='pickup'">
                            <div class="col-xs-12 nopadding">
                                <div class="row nomargin ">
                                    <div class="col-xs-4 mt-15">
                                        <span>Transporter</span>
                                        <h4>{{consol.pickUpDeliveryPoint.transporter.partyName}}</h4>
                                    </div>
                                    <div class="col-xs-4 mt10">
                                        <span>Address</span>
                                        <h6>{{consol.pickUpDeliveryPoint.transporterAddress}}</h6>
                                    </div>
                                </div>
                                <div class="row nomargin">
                                    <div class="col-xs-12 nopadding pickupPanels viewPickupPanels">
                                        <div class="col-xs-4">
                                            <div class="panel panel-default" style="min-height: 500px;">
                                                <div class="panel-heading mb0  flex align-justify align-middle title nopanel_pattern">
                                                    <h5>Pick Up ({{consol.pickUpDeliveryPoint.isOurPickUp!=null?(consol.pickUpDeliveryPoint.isOurPickUp?'Yes':'No'):'-'}})</h5>
                                                </div>
                                                <div class="panel-body nopadding nopanel_pattern">
                                                    <div class="col-xs-12 nopadding mt-5">
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Pick up Point</span>
                                                                <h6>{{consol.pickUpDeliveryPoint.pickupPoint.partyName!=null?consol.pickUpDeliveryPoint.pickupPoint.partyName:'-'}}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Pick up From</span>
                                                                <h6>{{consol.pickUpDeliveryPoint.pickupFrom.portName!=null?consol.pickUpDeliveryPoint.pickupFrom.portName:'-'}}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Pick up Place</span>
                                                                <address class="mb0 mt10">
                                                                    <ul class="list-unstyled">
                                                                        <li>{{consol.pickUpDeliveryPoint.pickUpPlace?consol.pickUpDeliveryPoint.pickUpPlace:'-'}}</li>
                                                                        <li></li>
                                                                        <li></li>
                                                                        <li></li>
                                                                    </ul>
                                                                </address>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Contact Details</span>


                                                                <div class="form-inline mt10">

                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-user"></i>
                                                                                </div>
                                                                                <span>{{consol.pickUpDeliveryPoint.pickUpContactPerson?consol.pickUpDeliveryPoint.pickUpContactPerson:'-'}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-mobile"></i>
                                                                                </div>

                                                                                <span>{{consol.pickUpDeliveryPoint.pickUpMobileNo?consol.pickUpDeliveryPoint.pickUpMobileNo:'-'}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row nomargin">

                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-phone"></i>
                                                                                </div>
                                                                                <span>{{consol.pickUpDeliveryPoint.pickUpPhoneNo?consol.pickUpDeliveryPoint.pickUpPhoneNo:'-'}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-email"></i>
                                                                                </div>
                                                                                <span> {{consol.pickUpDeliveryPoint.pickUpEmail?consol.pickUpDeliveryPoint.pickUpEmail:'-'}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12 nopadding mb-15">
                                                                <div class="row nomargin">
                                                                    <div class="col-xs-12 col-md-12 col-lg-6 ">
                                                                        <span>Pick up Follow Up</span>
                                                                        <h6>
                                                                            <span>{{consol.pickUpDeliveryPoint.pickUpFollowUp!=null?dateAndTimeToString(consol.pickUpDeliveryPoint.pickUpFollowUp):'-'}}</span>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12 nopadding ">
                                                                <div class="row nomargin">
                                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-15">
                                                                        <span>Planned Pick Up</span>
                                                                        <h6>
                                                                            <span>{{consol.pickUpDeliveryPoint.pickUpPlanned!=null?dateAndTimeToString(consol.pickUpDeliveryPoint.pickUpPlanned):'-'}}</span>
                                                                        </h6>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-15">
                                                                        <span>Actual Pick Up</span>
                                                                        <h6>
                                                                            <span>{{consol.pickUpDeliveryPoint.pickUpActual!=null?dateAndTimeToString(consol.pickUpDeliveryPoint.pickUpActual):'-'}}</span>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="panel panel-default" style="min-height: 500px;">
                                                <div class="panel-heading mb0  flex align-justify align-middle title nopanel_pattern">
                                                    <h5>Delivery to CFS / Depot</h5>
                                                </div>
                                                <div class="panel-body nopadding nopanel_pattern">
                                                    <div class="col-xs-12 nopadding mt-5">
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Delivery Point </span>
                                                                <h6>{{consol.pickUpDeliveryPoint.deliveryPoint.cfsName?consol.pickUpDeliveryPoint.deliveryPoint.cfsName:'-'}}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Delivery to CFS / Depot</span>
                                                                <h6>{{consol.pickUpDeliveryPoint.deliveryFrom.portName?consol.pickUpDeliveryPoint.deliveryFrom.portName:'-'}}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Delivery Place</span>
                                                                <address class="mb0 mt10">
                                                                    <ul class="list-unstyled">
                                                                        <li>{{consol.pickUpDeliveryPoint.deliveryPlace?consol.pickUpDeliveryPoint.deliveryPlace:'-'}}</li>
                                                                        <li></li>
                                                                        <li></li>
                                                                    </ul>
                                                                </address>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Contact Details</span>
                                                                <div class="form-inline mt10">
                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-user"></i>
                                                                                </div>
                                                                                <span>{{consol.pickUpDeliveryPoint.deliveryContactPerson?consol.pickUpDeliveryPoint.deliveryContactPerson:'-'}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-mobile"></i>
                                                                                </div>
                                                                                <span>
                                                                                    {{consol.pickUpDeliveryPoint.deliveryMobileNo?consol.pickUpDeliveryPoint.deliveryMobileNo:'-'}}
                                                                                </span>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-phone"></i>
                                                                                </div>
                                                                                <span>
                                                                                    {{consol.pickUpDeliveryPoint.deliveryPhoneNo?consol.pickUpDeliveryPoint.deliveryPhoneNo:'-'}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-email"></i>
                                                                                </div>
                                                                                <span>
                                                                                    {{consol.pickUpDeliveryPoint.deliveryEmail?consol.pickUpDeliveryPoint.deliveryEmail:'-'}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12 nopadding mb-15">
                                                                <div class="col-xs-6">
                                                                    <span>Expected Delivery</span>
                                                                    <h6>
                                                                        <span>{{consol.pickUpDeliveryPoint.deliveryExpected!=null?dateAndTimeToString(consol.pickUpDeliveryPoint.deliveryExpected):'-'}}</span>
                                                                    </h6>
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <span>Delivery Date</span>
                                                                    <h6>
                                                                        <span>{{consol.pickUpDeliveryPoint.deliveryActual!=null?dateAndTimeToString(consol.pickUpDeliveryPoint.deliveryActual):'-'}}</span>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="panel panel-default" style="min-height: 500px;">
                                                <div class="panel-heading mb0  flex align-justify align-middle title nopanel_pattern">
                                                    <h5>Door Delivery</h5>
                                                </div>
                                                <div class="panel-body nopadding nopanel_pattern">
                                                    <div class="col-xs-12 nopadding mt-5">
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Door Delivery Point </span>
                                                                <h6>{{consol.pickUpDeliveryPoint.doorDeliveryPoint.portName?consol.pickUpDeliveryPoint.doorDeliveryPoint.portName:'-'}}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Door Delivery To</span>
                                                                <h6>{{consol.pickUpDeliveryPoint.doorDeliveryFrom.portName?consol.pickUpDeliveryPoint.doorDeliveryFrom.portName:'-'}}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Door Delivery Place</span>
                                                                <address class="mb0 mt10">
                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            {{consol.pickUpDeliveryPoint.doorDeliveryPlace?consol.pickUpDeliveryPoint.doorDeliveryPlace:'-'}}</li>
                                                                        <li></li>
                                                                    </ul>
                                                                </address>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12">
                                                                <span>Contact Details</span>
                                                                <div class="form-inline mt10">
                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-user"></i>
                                                                                </div>
                                                                                <span>
                                                                                    {{consol.pickUpDeliveryPoint.doorDeliveryContactPerson?consol.pickUpDeliveryPoint.doorDeliveryContactPerson:'-'}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-mobile"></i>
                                                                                </div>
                                                                                <span>
                                                                                    {{consol.pickUpDeliveryPoint.doorDeliveryMobileNo?consol.pickUpDeliveryPoint.doorDeliveryMobileNo:'-'}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-phone"></i>
                                                                                </div>
                                                                                <span>
                                                                                    {{consol.pickUpDeliveryPoint.doorDeliveryPhoneNo?consol.pickUpDeliveryPoint.doorDeliveryPhoneNo:'-'}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row nomargin">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon">
                                                                                    <i class="icon-email"></i>
                                                                                </div>
                                                                                <span>
                                                                                    {{consol.pickUpDeliveryPoint.doorDeliveryEmail?consol.pickUpDeliveryPoint.doorDeliveryEmail:'-'}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row nomargin">
                                                            <hr class="mtb-5">
                                                        </div>
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12 nopadding mb-15">
                                                                <div class="col-xs-6">
                                                                    <span>Expected Door Delivery Date</span>
                                                                    <h6>
                                                                        <span>{{consol.pickUpDeliveryPoint.doorDeliveryExpected!=null?dateAndTimeToString(consol.pickUpDeliveryPoint.doorDeliveryExpected):'-'}}</span>
                                                                    </h6>
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <span>Door Delivery Date</span>
                                                                    <h6>
                                                                        <span>{{consol.pickUpDeliveryPoint.doorDeliveryActual!=null?dateAndTimeToString(consol.pickUpDeliveryPoint.doorDeliveryActual):'-'}}</span>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div ng-if="Tabs=='rates'">
                            <div class="row nomargin">
                                <div class="col-xs-12 mtb-15">
                                    <div ng-include="'app/components/air/consol_shipments/views/add_rate.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!--RATE TAB ENDS-->
                        <div ng-if="Tabs=='events'">
                            <div class="row nomargin">
                                <div class="col-xs-12 mtb-15">
                                    <div ng-include="'app/components/air/consol_shipments/views/events.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!--EVENTS TAB ENDS-->
                        <div ng-if="Tabs=='reports'">

                            <form>
                                <div class="row nomargin noborder mt-15">
                                    <div class="col-xs-12 mb-15">
                                        <button type="button" class="btn accent-btn" ng-click="generateAll()">Generate All</button>
                                    </div>
                                    <div class="col-xs-12">
                                        <div ng-if="reportList.length>0" class="table-responsive">
                                            <div ng-if="reportLoadingImage.status" class="table-backdrop">
                                                <span>
                                                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                                </span>
                                            </div>
                                            <table class="table table-inline">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center inl_s">
                                                            <input type="checkbox" ng-model="allRepoVarModel.allReportSelected" ng-change="selectAllReports();" id="reportAll">
                                                            <label for="reportAll"></label>
                                                        </th>
                                                        <th class="inl_xs">#</th>
                                                        <th>Name</th>
                                                        <th class="inl_xxl">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="reportDetail in reportList">
                                                        <td class="text-center">

                                                            <input type="checkbox" ng-model="reportDetail.isSelected" ng-change="chkReportStatus(reportDetail.isSelected, reportDetail);" id="report2">
                                                            <label for="report2"></label>

                                                        </td>
                                                        <td>{{ $index + 1 }}</td>
                                                        <td> {{reportDetail.reportDisplayName}}
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn accent-btn" ng-click="reportModal(consol,reportDetail.resourceRefId,reportDetail.reportName,reportDetail.key)">Generate</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <efs-spinner spinner-status="reportSpinner"></efs-spinner>
                                        <empty-record ng-if="reportList.length==0" icon="report" text="Looks like there are no report records here"></empty-record>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--REPORTS TAB ENDS-->
                        <div ng-if="Tabs=='accounts'">
                            <div ng-if="consol.shipmentLinkList.length>1" ng-include="'app/components/air/consol_shipments/views/accounts_display.html'"></div>
                            <div ng-if="consol.shipmentLinkList.length==1" ng-include="'app/components/air/consol_shipments/views/consol_shipment_accounts_display.html'"></div>
                        </div>
                        <!--Accounts TAB ENDS-->
                        <div ng-if="Tabs=='references'">
                            <div class="pt-15" ng-include="'app/components/air/consol_shipments/views/reference_table.html'"></div>
                        </div>
                        <!--reference TAB ENDS-->
                        <div ng-if="Tabs=='notes'">
                            <div ng-include="'app/components/air/consol_shipments/views/consol_notes_popup_view.html'"></div>
                        </div>
                        <div ng-if="Tabs=='aes'">
                            <div ng-include="'app/components/air/consol_shipments/views/aes.html'"></div>
                        </div>
                        <!--AES TAB ENDS-->
                        <div ng-if="Tabs=='EdiStatus'">
                            <div class="row nomargin">
                                <div class="col-xs-12 mt-15">
                                    <div class="table-responsive">
                                        <table class="table table-inline">
                                            <thead>
                                                <tr>
                                                    <th class="inl_sno">#</th>
                                                    <th class="inl_s">EDI Type</th>
                                                    <th class="inl_s">Status Type</th>
                                                    <th class="inl_l">Status description</th>
                                                    <th class="inl_s">Status Date</th>
                                                    <th class="inl_m">Carrier</th>
                                                    <th class="inl_s">Flight No</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>FSU</td>
                                                    <td>RCS</td>
                                                    <td>Ready for Carriage</td>
                                                    <td>12 Jan 2016 22:30</td>
                                                    <td>Qatar Air</td>
                                                    <td>QA123</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <empty-record ng-if="false" icon="reference" text="Looks like there are no edi records here"></empty-record>
                                </div>
                            </div>
                        </div>
                        <!--AES TAB ENDS-->
                    </div>
                    <!--TAB CONTENT TAB ENDS-->
                </div>
            </div>
            <!-- TAB CONTENT ROW ENDS-->
            <!--ACTIVE LOG DETAILS STARTS-->
            <div class="logs-view width42per logs-transition bg-white" ng-if="showHistory">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div>
                                            <a href="javascript:;">
                                                <span data-placement="bottom" bs-tooltip="close" class="icon-close-detail" ng-click="showHistory=false"></span>
                                                <a href="javascript:void(0)" class="list-panel-back"></a>
                                                <span>Activity</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 pt15">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class=" ">
                                            <div class="col-xs-6">
                                                <span class="text-muted">Last Modified this Master Shipment</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="consol.systemTrack.lastUpdatedUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{consol.systemTrack.lastUpdatedUser|uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(consol.systemTrack.lastUpdatedDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="text-muted">Created this Master Shipment</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="consol.systemTrack.createUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{consol.systemTrack.createUser | uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(consol.systemTrack.createDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!--PANEL BODY ENDS-->
    </div>
    <!--PANEL ENDS-->
    <div ng-hide="!hidePage" class="wrapper-back-drop"></div>
    <!--BACKDROP ENDS-->
</div>