<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 ptb-15">
            <button type="button" class="btn btn-property accent-btn" ng-click="provisionalForLink.id==null?processProvisional(null,shipmentLink.service):processProvisional(provisionalForLink,shipmentLink.service)">
                <i class="icon-add opcfull" ng-if="provisionalForLink.id==null"></i>{{provisionalForLink.id!=null?'edit provision':'add Provision'}}</button>

        </div>
    </div>
    <div class="row nomargin  pad-15 bor bor-t-0">
        <div class="table-responsive mb-15">
            <table class="table  table-fixed tab-border tab-width table-default mb0 ">
                <thead>
                    <tr>
                        <th rowspan="2" class="text-center inl_sno">#</th>
                        <th rowspan="2" class="inl_s">Service ID</th>
                        <!--<th rowspan="2" class="w150px">Charge</th>-->
                        <th rowspan="2" class="inl_l" style=" padding-left: 5px !important; padding-right: 5px !important;">Charge</th>
                        <th rowspan="2" class="inl_xs" style="padding-left: 5px !important; padding-right: 5px !important;">Unit</th>
                        <th rowspan="2" class="text-righ inl_xs" style="padding-left: 5px !important; padding-right: 5px !important;">No of Units</th>
                        <th colspan="6" class="text-center">
                            <b>Sell</b>
                        </th>
                        <th colspan="6" class="text-center">
                            <b>Buy</b>
                        </th>
                        <th rowspan="2" class="inl_xs" style="padding-left: 7px !important;">More</th>


                    </tr>
                    <tr>
                        <th colspan="1" title="Currency" style="padding-left: 5px !important; padding-right: 5px !important;">Curr</th>
                        <th colspan="1" class="text-right inl_m">ROE</th>
                        <th colspan="1" class="text-right inl_m">Amt / Unit </th>
                        <th colspan="1" class="text-right inl_m">Amount</th>
                        <th colspan="1" class="text-right inl_m">Amount ({{provisionalForLink.localCurrency.currencyCode}})</th>
                        <!--<th colspan="1" class="w200px">Bill to {{appMasterData['Party_Label']}}</th>
                        <th colspan="1" title="Description" class="inl_s">Desc.</th>-->
                        <th colspan="1" class="inl_s" style="padding-left: 7px !important;">Taxable</th>
                        <th colspan="1" title="Currency Code" style="padding-left: 5px !important; padding-right: 5px !important;">Curr</th>
                        <th colspan="1" class="text-right inl_s">ROE</th>
                        <th colspan="1" class="text-right inl_m">Amt / Unit</th>
                        <th colspan="1" class="text-right inl_m">Amount</th>
                        <th colspan="1" class="text-right inl_m">Amount ({{provisionalForLink.localCurrency.currencyCode}})</th>
                        <!--<th colspan="1" class="inl-m">Vendor Subledger</th>
                        <th colspan="1" title="Description" class="inl_s">Desc.</th>-->
                        <th colspan="1" class="inl_sm">Plus / Minus</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="provisionalItem in provisionalForLink.provisionalItemList track by $index">

                        <td class="text-center">{{$index+1}}</td>

                        <td>
                            <a ng-click="provisionalItem.serviceUid!=null?goToShipmentService(provisionalItem.shipmentService.shipmentUid):goToConsol(provisionalObj.masterUid)"
                                class="hyperLink mb0">
                                {{provisionalItem.serviceUid!=null?provisionalItem.serviceUid:provisionalForLink.masterUid}}</a>
                        </td>

                        <td style=" padding-left: 5px !important; padding-right: 5px !important;">{{provisionalItem.chargeMaster.chargeName}}</td>
                        <td style="padding-left: 5px !important; padding-right: 5px !important;">{{provisionalItem.unitMaster.unitCode}}</td>
                        <td class="text-right" style=" padding-left: 5px !important; padding-right: 5px !important;">{{weightFormat(provisionalItem.noOfUnits,provisionalItem.shipmentService.country.locale)}}</td>
                        <td class="text-left" style=" padding-left: 5px !important; padding-right: 5px !important;"> {{provisionalItem.sellCurrency.currencyCode}} </td>
                        <td class="text-right">{{currencyRoeFormat(provisionalForLink.localCurrency,provisionalItem.sellRoe)}}</td>
                        <td class="text-right">{{currencyFormat(provisionalItem.sellCurrency,provisionalItem.sellAmountPerUnit)}}</td>
                        <td class="text-right">{{currencyFormat(provisionalItem.sellCurrency,provisionalItem.sellAmount)}}</td>
                        <td class="text-right">{{currencyFormat(provisionalForLink.localCurrency,provisionalItem.sellLocalAmount)}}</td>
                        <!--<td></td>
                        <td class="text-center">
                            <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="notesmodel()"></span>
                        </td>-->
                        <td class="text-center">
                            <div class="checkbox nomargin">
                                <label>
                                    <input type="checkbox" ng-model="provisionalItem.isTaxable" value="provisionalItem.isTaxable"
                                        ng-disabled="true">
                                </label>
                            </div>
                        </td>
                        <td style=" padding-left: 5px !important; padding-right: 5px !important;">{{provisionalItem.buyCurrency.currencyCode}}</td>
                        <td class="text-right">{{currencyRoeFormat(provisionalForLink.localCurrency,provisionalItem.buyRoe)}}</td>
                        <td class="text-right"> {{currencyFormat(provisionalItem.buyCurrency,provisionalItem.buyAmountPerUnit)}}</td>
                        <td class="text-right">{{currencyFormat(provisionalItem.buyCurrency,provisionalItem.buyAmount)}}</td>
                        <td class="text-right">{{currencyFormat(provisionalForLink.localCurrency,provisionalItem.buyLocalAmount)}}</td>
                        <!--<td></td>
                        <td class="text-center">
                            <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="notesmodel()"></span>
                        </td>-->
                        <td class="text-center">{{provisionalItem.plusMinus}}</td>
                        <td class="text-center">
                            <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="refmodel(provisionalItem)"></span>
                        </td>
                        <!--<td>
                            324663434576
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <efs-spinner spinner-status="provisionSpinner"></efs-spinner>
        <empty-record ng-if="provisionalForLink.provisionalItemList.length==0" text="Looks like there are no provisional item records here"></empty-record>
    </div>
</div>