<div class="row nomargin">
    <div class="col-xs-12 mt-15">

    </div>
    <div class="col-xs-12 mt-15">
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label>Note</label>
                    <textarea class="form-control" id="note" input-focous="true" ng-model="consol.notes" maxlength="4000">
                    </textarea>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label>Internal Note</label>
                    <textarea class="form-control last-child" id="internalNote" ng-model="consol.internalNote" maxlength="4000">
                    </textarea>
                </div>
            </div>
        </div>
    </div>

</div>