<div class="panel panel-primary mb0 bor-b-0 pb0" ng-repeat="consolDocument in consol.documentList track by $index">
	<div class="panel-heading">
		<section class="row">
			<div class="col-xs-4">
				<h4>Document No
					<span>{{consolDocument.documentNo}} </span>
				</h4>
			</div>
			<div class="col-xs-2">
				<h5>
					<small>{{editDisplayDate(consolDocument.documentReqDate)}}</small>
				</h5>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-11">
						<div class="row">
							<div class="col-xs-9 mt-7 pr0 col-xs-push-4">
								<ul class="list-inline">
									<li class="cursorPt pr0 mr0" ng-if="consolDocument.id!=null && consol.serviceMaster.importExport=='Export' ">
										<button ng-click="previewReport(consol.id,'MAWB')" class="btn green-btn mr0" ng-if="consolDocument.id!=null" type="button">
											Preview MAWB
										</button>
									</li>
									<li ng-controller="doController" class="cursorPt pr0 mr0" ng-if="consolDocument.id!=null && consol.serviceMaster.importExport=='Import' ">
										<button ng-click="previewReportDeliveryOrder(consol,'DELIVERY ORDER')" class="btn green-btn mr0" ng-if="consolDocument.id!=null"
										    type="button">
											Preview Delivery {{consol.serviceMaster.transportMode=='Air'?'Advice':Order}} Report
										</button>
									</li>
									<li class="cursorPt ml0 pl0" ng-hide="true">
										<button ng-click="reportModal(consolDocument.id, 'SHIPMENT_MAWB')" class="btn accent-btn ml0" ng-if="consolDocument.id!=null"
										    type="button">
											MAWB Report
										</button>
									</li>
								</ul>
							</div>
							<div class="col-xs-3 pr0 col-xs-push-1">
								<ul ng-if="showDocumentActions" class="list-inline mt-7">
									<li class="cursorPt">
										<a data-placement="bottom" bs-tooltip="duplicate" href="javascript:void(0);">
											<i class="icon-bookings" ng-click="consolDuplicateDocument($index)"></i>
										</a>
									</li>
									<li class="cursorPt">
										<a data-placement="bottom" bs-tooltip="editIcon" href="javascript:void(0);">
											<i class="icon-edit" ng-click="hasAccess('AIR_MASTER_DOCUMENTS_TAB_EDIT')?consoleditDocument($index):''"></i>
										</a>
									</li>
									<li class="cursorPt">
										<a data-placement="bottom" bs-tooltip="delete" href="javascript:void(0);">
											<i class="icon-delete" ng-click="hasAccess('AIR_MASTER_DOCUMENTS_TAB_DELETE')?consoldeleteDocument($index):''"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-1 pl0" ng-click="pickup=!pickup" ng-init="pickup=true">
						<i class="cursorPt mt-7 in rel {{pickup==true?'icon-uparrow':'icon-downarrow'}}"></i>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--heading ends-->
	<div class="panel-body" ng-hide="!pickup">
		<div class="row">
			<div class="col-xs-6">
				<span>Shipper</span>
				<h5 class="heading">{{consolDocument.shipper.partyName}}</h5>
				<address>
					<ul class="list-unstyled">
						<li>{{consolDocument.shipperAddress.addressLine1}}</li>
						<li>{{consolDocument.shipperAddress.addressLine2}}</li>
						<li>{{consolDocument.shipperAddress.addressLine3}}</li>
						<li>{{consolDocument.shipperAddress.addressLine4}}</li>
					</ul>
					<p>
						<span ng-if="consolDocument.shipperAddress.email!=null" class="fa fa-envelope"></span>{{consolDocument.shipperAddress.email!=null?consolDocument.shipperAddress.email:'-'}}</p>
				</address>
			</div>
			<div class="col-xs-6">
				<span>Consignee</span>
				<h5 class="heading">{{consolDocument.consignee.partyName!=null?consolDocument.consignee.partyName:'-'}}</h5>
				<address>
					<ul class="list-unstyled">
						<li>{{consolDocument.consigneeAddress.addressLine1}}</li>
						<li>{{consolDocument.consigneeAddress.addressLine2}}</li>
						<li>{{consolDocument.consigneeAddress.addressLine3}}</li>
						<li>{{consolDocument.consigneeAddress.addressLine4}}</li>
					</ul>
					<p>
						<span ng-if="consolDocument.consignee.email!=null" class="fa fa-envelope"></span>{{consolDocument.consigneeAddress.email!=null?consolDocument.consigneeAddress.email:'-'}}</p>
				</address>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<span>Notify Customer 1</span>
				<h5 class="heading">{{consolDocument.firstNotify.partyName!=null?consolDocument.firstNotify.partyName:'-'}}</h5>
				<address>
					<ul class="list-unstyled">
						<li>{{consolDocument.firstNotifyAddress.addressLine1}}</li>
						<li>{{consolDocument.firstNotifyAddress.addressLine2}}</li>
						<li>{{consolDocument.firstNotifyAddress.addressLine3}}</li>
						<li>{{consolDocument.firstNotifyAddress.addressLine4}}</li>
					</ul>
					<p>
						<span ng-if="consolDocument.firstNotifyAddress.email!=null" class="fa fa-envelope"></span>{{consolDocument.firstNotifyAddress.email!=null?consolDocument.firstNotifyAddress.email:'-'}}</p>
				</address>
			</div>
			<div class="col-xs-6">
				<span>Notify Customer 2</span>
				<h5 class="heading">{{consolDocument.secondNotify.partyName!=null?consolDocument.secondNotify.partyName:'-'}}</h5>
				<address>
					<ul class="list-unstyled">
						<li>{{consolDocument.secondNotifyAddress.addressLine1}}</li>
						<li>{{consolDocument.secondNotifyAddress.addressLine2}}</li>
						<li>{{consolDocument.secondNotifyAddress.addressLine3}}</li>
						<li>{{consolDocument.secondNotifyAddress.addressLine4}}</li>
					</ul>
					<p ng-if="consolDocument.secondNotifyAddress.email!=null">
						<span class="fa fa-envelope"></span>{{consolDocument.secondNotifyAddress.email!=null?consolDocument.secondNotifyAddress.email:'-'}}</p>
				</address>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<span>Forwarder</span>
				<h5 class="heading">{{consolDocument.forwarder.partyName!=null?consolDocument.forwarder.partyName:'-'}}</h5>
				<address>
					<ul class="list-unstyled">
						<li>{{consolDocument.forwarderAddress.addressLine1}}</li>
						<li>{{consolDocument.forwarderAddress.addressLine2}}</li>
						<li>{{consolDocument.forwarderAddress.addressLine3}}</li>
						<li>{{consolDocument.forwarderAddress.addressLine4}}</li>
					</ul>
					<p ng-if="consolDocument.forwarderAddress.email!=null">
						<span class="fa fa-envelope"></span>{{consolDocument.forwarderAddress.email!=null?consolDocument.forwarderAddress.email:'-'}}</p>
				</address>
			</div>
			<div class="col-xs-6">
				<span>Agent</span>
				<h5 class="heading">{{consolDocument.agent.partyName!=null?consolDocument.agent.partyName:'-'}}</h5>
				<address>
					<ul class="list-unstyled">
						<li>{{consolDocument.agentAddress.addressLine1}}</li>
						<li>{{consolDocument.agentAddress.addressLine2}}</li>
						<li>{{consolDocument.agentAddress.addressLine3}}</li>
						<li>{{consolDocument.agentAddress.addressLine4}}</li>
					</ul>
					<p ng-if="consolDocument.agentAddress.email!=null">
						<span class="fa fa-envelope"></span>{{consolDocument.agentAddress.email!=null?consolDocument.agentAddress.email:'-'}}</p>
				</address>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<span>Issuing Agent</span>
				<h5 class="heading">{{consolDocument.issuingAgent.partyName!=null?consolDocument.issuingAgent.partyName:'-'}}</h5>
				<address>
					<ul class="list-unstyled">
						<li>{{consolDocument.issuingAgentAddress.addressLine1}}</li>
						<li>{{consolDocument.issuingAgentAddress.addressLine2}}</li>
						<li>{{consolDocument.issuingAgentAddress.addressLine3}}</li>
						<li>{{consolDocument.issuingAgentAddress.addressLine4}}</li>
					</ul>
					<p ng-if="consolDocument.issuingAgentAddress.email!=null">
						<span class="fa fa-envelope"></span>{{consolDocument.issuingAgentAddress.email!=null?consolDocument.issuingAgentAddress.email:'-'}}</p>
				</address>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<span>Origin</span>
				<h6>{{consolDocument.origin==null?'-':consolDocument.origin.portName}}</h6>
			</div>
			<div class="col-xs-2">
				<span>{{consol.serviceMaster.transportMode=='Air'?'Airport of Loading':'Port of Loading'}}</span>
				<h6>{{consolDocument.pol==null?'-':consolDocument.pol.portName}}</h6>
			</div>
			<div class="col-xs-2">
				<span>{{consol.serviceMaster.transportMode=='Air'?'Airport of Discharge':'Port of Discharge'}}</span>
				<h6>{{consolDocument.pod==null?'-':consolDocument.pod.portName}}</h6>
			</div>
			<div class="col-xs-2">
				<span>Destination</span>
				<h6>{{consolDocument.destination==null?'-':consolDocument.destination.portName}}</h6>
			</div>
		</div>
		<!--<div class="row">
	            <div class="col-xs-6">
	                <span>Pickup Point</span>
	                <h6>-</h6>
	            </div>
	            <div class="col-xs-6">
	                <span>Delivery Point</span>
	                <h6>-</h6>
	            </div>
	        </div>-->
		<div class="row nomargin pink-wrapper bor-btm-1 ">
			<div class="col-xs-6 ptb-15">
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-8">
								<span>Pack</span>
								<h6>{{consolDocument.packMaster!=null?consolDocument.packMaster.packName:'-'}}</h6>
							</div>
							<div class="col-xs-4">
								<span>Pieces</span>
								<h6>{{consolDocument.noOfPieces}}</h6>
							</div>
						</div>
						<!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>Pack</span>
	                                <h6>PALLETS</h6>
	                            </div>
	                            <div>
	                                <span>Pieces</span>
	                                <h6>2</h6>
	                            </div>
	                        </div>-->
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-4">
								<span>Gross Weight (Pounds)</span>
								<h6>{{consolDocument.grossWeightInPound}}</h6>
							</div>
							<div class="col-xs-4">
								<span>Volume Weight (Pounds)</span>
								<h6>{{consolDocument.volumeWeightInPound}}</h6>
							</div>
						</div>
						<!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>Gross Weight (Pounds)</span>
	                                <h6>165.00</h6>
	                            </div>
	                            <div>
	                                <span>Volume Weight (Pounds)</span>
	                                <h6>-</h6>
	                            </div>
	                        </div>-->
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-4">
								<span>Gross Weight (KG)</span>
								<h6>{{consolDocument.grossWeight}}</h6>
							</div>
							<div class="col-xs-4">
								<span>Volume Weight (KG)</span>
								<h6>{{consolDocument.volumeWeight}}</h6>
							</div>
							<div class="col-xs-4">
								<span>Chargeable Weight (KG)</span>
								<h6>{{consolDocument.chargebleWeight}}</h6>
							</div>
						</div>
						<!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>Gross Weight (KG)</span>
	                                <h6>165.00</h6>
	                            </div>
	                            <div>
	                                <span>Volume Weight (KG)</span>
	                                <h6>114.00</h6>
	                            </div>
	                            <div>
	                                <span>Chargeable Weight (KG)</span>
	                                <h6>307.00</h6>
	                            </div>
	                        </div>-->
					</li>
				</ul>
			</div>
			<div class="col-xs-6 ptb-15">
				<ul class="list-group">
					<li class="list-group-item">
						<div class="flex align-justify align-middle">
							<div>
								<span>Carrier</span>
								<h6>
									<img ng-if="consolDocument.carrier.image!=null" data-ng-src="data:image/png;base64,{{consolDocument.carrier.image}}" width="20"
									    height="20"> {{consolDocument.carrier!=null?consolDocument.carrier.carrierName:'-'}}
								</h6>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-4">
								<span>Flight</span>
								<h6>{{consolDocument.routeNo==null?'-':consolDocument.routeNo}}</h6>
							</div>
							<div class="col-xs-4">
								<span>MAWB</span>
								<h6>{{consolDocument.mawbNo!=null?consolDocument.mawbNo:'-'}}</h6>
							</div>
						</div>
						<!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>Flight #</span>
	                                <h6>-</h6>
	                            </div>
	                            <div>
	                                <span>MAWB #</span>
	                                <h6>-</h6>
	                            </div>
	                        </div>-->
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-4">
								<span>ETD</span>
								<h6>{{consolDocument.etd!=null?editDisplayDate(consolDocument.etd):'-'}}</h6>
							</div>
							<div class="col-xs-4">
								<span>ETA</span>
								<h6>{{consolDocument.eta!=null?editDisplayDate(consolDocument.eta):'-'}}</h6>
							</div>
						</div>
						<!--<div class="flex align-justify align-middle">
	                            <div>
	                                <span>ETD</span>
	                                <h6>-</h6>
	                            </div>
	                            <div>
	                                <span>ETA</span>
	                                <h6>-</h6>
	                            </div>
	                        </div>-->
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 mt-15">
				<span>Handling Information</span>
				<h6>
					<span></span>{{consolDocument.handlingInformation!=null?consolDocument.handlingInformation:'-'}}</h6>
			</div>
		</div>
		<div class="row overflow-hidden">
			<div class="col-xs-6 bor-fix bor-r-1">
				<div class="ptb-15">
					<span>Accounting Information</span>
					<p>{{consolDocument.accountingInformation!=null?consolDocument.accountingInformation:'-'}}</p>
					<p></p>
					<p></p>
				</div>
			</div>
			<div class="col-xs-6 bor-fix">
				<div class="flex flex-col ptb-15 align-justify">
					<div>
						<span>Commodity Description</span>
						<p>{{consolDocument.commodityDescription!=null?consolDocument.commodityDescription:'-'}}</p>
					</div>
					<div>
						<span>Marks & No</span>
						<p>{{consolDocument.marksAndNo!=null?consolDocument.marksAndNo:'-'}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 bor-r-1">
				<div class="flex-row">
					<div class="col-xs-4">
						<span>HAWB Received On</span>
						<h6>{{consolDocument.hawbNo}}</h6>
					</div>
					<div class="col-xs-4">
						<span>HAWB Received By</span>
						<h6>{{consolDocument.receivedBy.emloyeeName}}</h6>
					</div>
					<div class="col-xs-4"></div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="flex align-justify">
					<div>
						<span>Rate Class</span>
						<h6>{{consolDocument.rateClass!=null?consolDocument.rateClass:''}}</h6>
					</div>
					<!--<div>
	                        <span>Service Code</span>
	                        <h6>CFS/CY</h6>
	                    </div>-->
				</div>
			</div>
		</div>
		<!--<div class="row">
	            <div class="col-xs-6 bor-r-1">
	                <div class="flex-row">
	                    <div class="col-xs-4">
	                        <span>Vessel Code</span>
	                        <h6>-</h6>
	                    </div>
	                    <div class="col-xs-4">
	                        <span>Transit Port</span>
	                        <h6>DXB</h6>
	                    </div>
	                    <div class="col-xs-4">
	                        <span>Transit ETA</span>
	                        <h6>11 MAY 2016  14:25</h6>
	                    </div>
	                </div>
	            </div>
	            <div class="col-xs-6">
	
	            </div>
	        </div>-->
	</div>
	<!--body ends-->
</div>
<!--row ends-->