<div class="row nomargin">
	<div class="col-xs-12 ptb-15 mt10">
		<div class="panel panel-info mb0 bor-b-0 pb0">
			<div class="panel-heading">
				<section class="row">
					<div class="col-xs-7">
						<div class="row">
							<div class="col-xs-4 mt-5">
								<h3>Document No -
									<span class="new-panel-heading">{{consol.consolDocument.documentNo}} </span>
								</h3>
							</div>
							<div class="col-xs-4 mt-5">
								<h3 class="nomargin new-panel-heading">{{dateToString(consol.consolDocument.documentReqDate)}}</h3>
							</div>
						</div>
					</div>

					<div class="col-xs-5">
						<div class="row">
							<div class="col-xs-12">
								<div class="flex flex-end  align-middle">
									<div>
										<ul class="list-inline mt-5">
											<li class="cursorPt" ng-controller="mawbController" ng-if="consol.consolDocument.id!=null && consol.serviceMaster.importExport=='Export' ">
												<button ng-disabled="disableSubmitBtn" ng-click="diasbleSubmitBtnFn();previewReportBefore(consol,consol.id,'MAWB',false)"
												    class="btn green-btn" ng-if="consol.consolDocument.id!=null" type="button">
													Preview MAWB Report
												</button>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!--heading ends-->
			<div class="panel-body pt0 detail-view plr0">
				<div class="row pb0 ptb-15 nopadding ">
					<div class="col-xs-12">
						<div class="ptb-15">
							<div class="col-xs-4">

								<span>Shipper</span>
								<h5 class="heading" ng-if="consol.consolDocument.shipper.id!=null">{{consol.consolDocument.shipper.partyName}}</h5>
								<address class="mb0" ng-if="consol.consolDocument.shipper.id!=null">
									<ul class="list-unstyled">
										<li>{{consol.consolDocument.shipperAddress.addressLine1}}</li>
										<li>{{consol.consolDocument.shipperAddress.addressLine2}}</li>
										<li>{{consol.consolDocument.shipperAddress.addressLine3}}</li>
										<li>{{consol.consolDocument.shipperAddress.addressLine4}}</li>
									</ul>
									<p class="mb0 mt-7">
										<span ng-if="consol.consolDocument.shipperAddress.email!=null" class=" icon-email"></span> {{consol.consolDocument.shipperAddress.email}}</p>
									<p class="mb0 mt-7">
										<span ng-if="consol.consolDocument.shipperAddress.mobile!=null" class=" icon-mobile"></span> {{consol.consolDocument.shipperAddress.mobile}}</p>
								</address>
							</div>
							<div class="col-xs-4">
								<span>Consignee</span>
								<h5 class="heading" ng-if="consol.consolDocument.consignee.id!=null">{{consol.consolDocument.consignee.partyName}}</h5>
								<address class="mb0" ng-if="consol.consolDocument.consignee.id!=null">
									<ul class="list-unstyled">
										<li>{{consol.consolDocument.consigneeAddress.addressLine1}}</li>
										<li>{{consol.consolDocument.consigneeAddress.addressLine2}}</li>
										<li>{{consol.consolDocument.consigneeAddress.addressLine3}}</li>
										<li>{{consol.consolDocument.consigneeAddress.addressLine4}}</li>
									</ul>
									<p class="mb0 mt-7">
										<span ng-if="consol.consolDocument.consignee.email!=null" class=" icon-email"></span> {{consol.consolDocument.consignee.email}}</p>
									<p class="mb0 mt-7">
										<span ng-if="consol.consolDocument.consignee.mobile!=null" class=" icon-mobile"></span> {{consol.consolDocument.consignee.mobile}}</p>
								</address>
							</div>
							<div class="col-xs-4">
								<span>Notify Customer 1</span>
								<h5 class="heading" ng-if="consol.consolDocument.firstNotify.id!=null">{{consol.consolDocument.firstNotify.partyName}}</h5>
								<address class="mb0" ng-if="consol.consolDocument.firstNotify.id!=null">
									<ul class="list-unstyled">
										<li>{{consol.consolDocument.firstNotifyAddress.addressLine1}}</li>
										<li>{{consol.consolDocument.firstNotifyAddress.addressLine2}}</li>
										<li>{{consol.consolDocument.firstNotifyAddress.addressLine3}}</li>
										<li>{{consol.consolDocument.firstNotifyAddress.addressLine4}}</li>
									</ul>
									<p class="mb0 mt-7">
										<span ng-if="consol.consolDocument.firstNotifyAddress.email!=null" class=" icon-email"></span> {{consol.consolDocument.firstNotifyAddress.email}}</p>
									<p class="mb0 mt-7">
										<span ng-if="consol.consolDocument.firstNotifyAddress.mobile!=null" class=" icon-mobile"></span> {{consol.consolDocument.firstNotifyAddress.mobile}}</p>
								</address>
							</div>
						</div>
					</div>

				</div>
				<div class="showmore " ng-if="showmore">
					<div class="pt-15 clearfix">
						<div class="row nomargin nopadding">
							<div class="ptb-15 clearfix">
								<div class="col-xs-4">
									<span>Notify Customer 2</span>
									<h5 class="heading" ng-if="consol.consolDocument.secondNotify.id!=null">{{consol.consolDocument.secondNotify.partyName}}</h5>
									<address class="mb0" ng-if="consol.consolDocument.secondNotify.id!=null">
										<ul class="list-unstyled">
											<li>{{consol.consolDocument.secondNotifyAddress.addressLine1}}</li>
											<li>{{consol.consolDocument.secondNotifyAddress.addressLine2}}</li>
											<li>{{consol.consolDocument.secondNotifyAddress.addressLine3}}</li>
											<li>{{consol.consolDocument.secondNotifyAddress.addressLine4}}</li>
										</ul>
										<p class="mb0 mt-7" ng-if="consol.consolDocument.secondNotifyAddress.email!=null">
											<span class=" icon-email"></span> {{consol.consolDocument.secondNotifyAddress.email}}</p>
										<p class="mb0 mt-7" ng-if="consol.consolDocument.secondNotifyAddress.mobile!=null">
											<span class=" icon-mobile"></span> {{consol.consolDocument.secondNotifyAddress.mobile}}</p>
									</address>
								</div>
								<div class="col-xs-4">
									<span>Forwarder</span>
									<h5 class="heading" ng-if="consol.consolDocument.forwarder.id!=null">{{consol.consolDocument.forwarder.partyName}}</h5>
									<address class="mb0" ng-if="consol.consolDocument.forwarder.id!=null">
										<ul class="list-unstyled">
											<li>{{consol.consolDocument.forwarderAddress.addressLine1}}</li>
											<li>{{consol.consolDocument.forwarderAddress.addressLine2}}</li>
											<li>{{consol.consolDocument.forwarderAddress.addressLine3}}</li>
											<li>{{consol.consolDocument.forwarderAddress.addressLine4}}</li>
										</ul>
										<p class="mb0 mt-7" ng-if="consol.consolDocument.forwarderAddress.email!=null">
											<span class="icon-email"></span> {{consol.consolDocument.forwarderAddress.email}}</p>
										<p class="mb0 mt-7" ng-if="consol.consolDocument.forwarderAddress.mobile!=null">
											<span class="icon-mobile"></span> {{consol.consolDocument.forwarderAddress.mobile}}</p>
									</address>
								</div>
								<div class="col-xs-4">
									<span>Agent</span>
									<h5 class="heading" ng-if="consol.consolDocument.agent.id!=null">{{consol.consolDocument.agent.partyName}}</h5>
									<address class="mb0" ng-if="consol.consolDocument.agent.id!=null">
										<ul class="list-unstyled">
											<li>{{consol.consolDocument.agentAddress.addressLine1}}</li>
											<li>{{consol.consolDocument.agentAddress.addressLine2}}</li>
											<li>{{consol.consolDocument.agentAddress.addressLine3}}</li>
											<li>{{consol.consolDocument.agentAddress.addressLine4}}</li>
										</ul>
										<p class="mb0 mt-7" ng-if="consol.consolDocument.agentAddress.email!=null">
											<span class="icon-email"></span>{{consol.consolDocument.agentAddress.email}}</p>
										<p class="mb0 mt-7" ng-if="consol.consolDocument.agentAddress.mobile!=null">
											<span class="icon-mobile"></span>{{consol.consolDocument.agentAddress.mobile}}</p>
									</address>
								</div>
							</div>
						</div>
						<div class="row nomargin nopadding bor-0">
							<div class="ptb-15 clearfix">
								<div class="col-xs-6">
									<span>Issuing Agent</span>
									<h5 class="heading" ng-if="consol.consolDocument.issuingAgent.id!=null">{{consol.consolDocument.issuingAgent.partyName}}</h5>
									<address class="mb0" ng-if="consol.consolDocument.issuingAgent.id!=null">
										<ul class="list-unstyled">
											<li>{{consol.consolDocument.issuingAgentAddress.addressLine1}}</li>
											<li>{{consol.consolDocument.issuingAgentAddress.addressLine2}}</li>
											<li>{{consol.consolDocument.issuingAgentAddress.addressLine3}}</li>
											<li>{{consol.consolDocument.issuingAgentAddress.addressLine4}}</li>
										</ul>
										<p class="mb0 mt-7" ng-if="consol.consolDocument.issuingAgentAddress.email!=null">
											<span class="icon-email"></span>{{consol.consolDocument.issuingAgentAddress.email}}</p>
										<p class="mb0 mt-7" ng-if="consol.consolDocument.issuingAgentAddress.mobile!=null">
											<span class="icon-mobile"></span>{{consol.consolDocument.issuingAgentAddress.mobile}}</p>
									</address>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row nomargin  padding15 text-underline clear_both	">
					<div ng-click="showmore=!showmore" ng-init="showmore=true">

						<h5 class="text-blue pt0 cur-pointer">{{showmore==true?'Show Less -':'Show More +'}}</h5>
					</div>
				</div>
				<div class=" ">
					<div ng-click="packsInfo=!packsInfo" ng-init="packsInfo=true" class=" mb0 cursorPt flex align-justify align-middle title">
						<div>
							<h5 class="">Packs & Dimension Info</h5>
						</div>
						<div>
							<i class="{{packsInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
						</div>

					</div>
					<div class=" pt0 fx-fade-normal fx-ease-sin " ng-if="packsInfo">
						<div class="row nomargin nopadding">
							<div class="ptb-15 clearfix">
								<div class="col-xs-3 col-md-3 col-lg-2">
									<span>Pack</span>
									<h6>{{consol.consolDocument.packMaster!=null?consol.consolDocument.packMaster.packName:''}}</h6>
								</div>
								<div class="col-xs-3 col-md-3 col-lg-2">
									<span>Pieces</span>
									<h6>{{integerFormat(consol.consolDocument.noOfPieces,consol.country.locale)}}</h6>
								</div>

							</div>
						</div>
						<div class="row nomargin bor-0">
							<hr class="nomargin">
						</div>
						<div class="row nomargin nopadding bor-0">
							<div class="ptb-15 clearfix">
								<div class="col-xs-3 col-md-3 col-lg-2">
									<span>Gross Weight (KG)</span>
									<h6>{{weightFormat(consol.consolDocument.grossWeight,consol.country.locale)}}</h6>
								</div>

								<div class="col-xs-3 col-md-3 col-lg-2">
									<span>Volume Weight (KG)</span>
									<h6>{{weightFormat(consol.consolDocument.volumeWeight,consol.country.locale)}}</h6>
								</div>

								<div class="col-xs-3 col-md-3 col-lg-2">
									<span>Chargeable Weight (KG)</span>
									<h6>{{weightFormat(consol.consolDocument.chargebleWeight,consol.country.locale)}}</h6>
								</div>

								<div class="col-xs-3 col-md-3 col-lg-2">
									<span>Volume (CBM)</span>
									<h6>{{weightFormat(consol.consolDocument.volume,consol.country.locale)}}</h6>
								</div>

								<div class="col-xs-3 col-md-3 col-lg-2">
									<span>Gross Weight (LBS)</span>
									<h6>{{weightFormat(consol.consolDocument.grossWeightInPound,consol.country.locale)}}</h6>
								</div>

								<div class="col-xs-3 col-md-3 col-lg-2">
									<span>Volume Weight (LBS)</span>
									<h6>{{weightFormat(consol.consolDocument.volumeWeightInPound,consol.country.locale)}}</h6>
								</div>

							</div>
						</div>

						<div class="row nomargin bor-0 ">
							<hr class="nomargin">
						</div>


						<div class="row nomargin nopadding bor-0">
							<div class="ptb-15 clearfix">
								<div class="col-xs-3 col-md-3 col-lg-4">
									<span>Dimension Unit</span>
									<h6>{{consol.consolDocument.dimensionUnit=='CENTIMETERORKILOS'?'Centimeter / Kilos':'Inch / Pounds'}}</h6>
								</div>
								<div class="col-xs-3 col-md-3 col-lg-3">
									<span class="block">Dimension Value</span>
									<h6>{{consol.consolDocument.dimensionUnitValue}}</h6>
								</div>
							</div>
						</div>
						<!--ROW ENDS-->

						<div class="row nomargin nopadding ">
							<div class="col-xs-12 ptb-15 table-responsive" ng-if="consol.consolDocument.dimensionList!=null && consol.consolDocument.dimensionList.length!=0">
								<table class="table table-inline">
									<thead>
										<tr>
											<th class="inl_sno">#</th>
											<th class="text-right inl_s text-inherit" style="text-transform: inherit !important;">No of Pieces</th>
											<th class="text-right inl_s">Length(in)</th>
											<th class="text-right inl_s">Width(in)</th>
											<th class="text-right inl_s">Height(in)</th>
											<th class="text-right inl_s">Volume Weight(KG)</th>
											<th class="text-right inl_s">Gross Weight(KG)</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="dimensionObj in consol.consolDocument.dimensionList">
											<td>{{serialNo($index)}}</td>
											<td class="text-right">{{integerFormat(dimensionObj.noOfPiece,consol.country.locale)}}</td>
											<td class="text-right">{{integerFormat(dimensionObj.length,consol.country.locale)}}</td>
											<td class="text-right">{{integerFormat(dimensionObj.width,consol.country.locale)}}</td>
											<td class="text-right">{{integerFormat(dimensionObj.height,consol.country.locale)}}</td>
											<td class="text-right">{{weightFormat(dimensionObj.volWeight,consol.country.locale)}}</td>
											<td class="text-right">{{weightFormat(dimensionObj.grossWeight,consol.country.locale)}}</td>

										</tr>
									</tbody>
									<tfoot class="bg-danger" style="border:1px solid #F8DDAD">
										<tr>
											<td class="text-right">Total</td>
											<td class="text-right">{{integerFormat(consol.consolDocument.dimNoOfPieces,consol.country.locale)}}</td>
											<td></td>
											<td></td>
											<td></td>
											<td class="text-right">{{weightFormat(consol.consolDocument.dimVolumeWeight,consol.country.locale)}}</td>
											<td class="text-right">{{weightFormat(consol.consolDocument.dimGrossWeight,consol.country.locale)}}</td>

										</tr>
									</tfoot>
								</table>
							</div>
							<empty-record ng-if="!consol.consolDocument.dimensionList || consol.consolDocument.dimensionList.length==0" icon="dimension"
							    text="Looks like there are no dimension records here"></empty-record>
						</div>
					</div>

				</div>
				<div class="">
					<div ng-click="otherInfo=!otherInfo" ng-init="otherInfo=false" class=" cursorPt mb0  flex align-justify align-middle title">
						<div>
							<h5>Other Info</h5>
						</div>
						<div>
							<i class="{{otherInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
						</div>

					</div>

					<div class="fx-fade-normal fx-ease-sine" ng-if="otherInfo">
						<div class="row overflow-hidden nopadding">
							<div class="col-xs-12  bor-fix  ">
								<div class="flex-row ptb-15">

									<div class="col-xs-4">
										<span>MAWB Received On</span>
										<h6>{{dateToString(consol.consolDocument.mawbIssueDate)}}</h6>
									</div>

									<div class="col-xs-4">
										<span>MAWB Received By</span>
										<h6>{{consol.consolDocument.mawbGeneratedBy.employeeName}}</h6>
									</div>

								</div>
							</div>

						</div>
						<div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
							<hr>
						</div>
						<div class="row nomargin overflow-hidden nopadding bor-b-0">
							<div class="col-xs-4 bor-fix ptb-15">
								<span>Handling Information</span>
								<h6>
									<span></span>{{consol.consolDocument.handlingInformation!=null?consol.consolDocument.handlingInformation:''}}</h6>
							</div>
							<div class="col-xs-4  bor-fix">
								<div class="ptb-15">
									<span>Accounting Information</span>
									<h6>
										<span></span>{{consol.consolDocument.accountingInformation!=null?consol.consolDocument.accountingInformation:''}}</h6>
								</div>
							</div>
							<div class="col-xs-4 bor-fix">
								<div class="flex flex-col align-justify ptb-15">
									<div>
										<span>Commodity Description</span>
										<h6>
											<span></span>{{consol.consolDocument.commodityDescription!=null?consol.consolDocument.commodityDescription:''}}</h6>
									</div>

								</div>
							</div>


						</div>
						<div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
							<hr>
						</div>


						<div class="row nomargin overflow-hidden nopadding bor-b-0">
							<div class="col-xs-4 bor-fix">
								<div class="flex flex-col align-justify ptb-15">

									<div>
										<span>Marks & No</span>
										<h6>
											<span></span>{{consol.consolDocument.marksAndNo!=null?consol.consolDocument.marksAndNo:''}}</h6>
									</div>
								</div>
							</div>
							<div class="col-xs-4 bor-fix">
								<div class="flex flex-col align-justify ptb-15">

									<div>
										<span>Rate Class</span>
										<h6>{{consol.consolDocument.rateClass!=null?consol.consolDocument.rateClass:''}}</h6>
									</div>
								</div>
							</div>

						</div>
						<div class="row nomargin line bor-b-0 nopadding" style="padding-left: 0px !important; padding-right: 0px !important;">
							<hr>
						</div>


					</div>

				</div>

			</div>
			<!--body ends-->
		</div>
		<!--row ends-->
	</div>
</div>