<div class="row nomargin bor-btm-1 overflow-hidden">
    <div class="col-xs-6 bor-fix bor-r-1">
        <div class="row ptb-15">
            <div class="col-xs-6">
                <span>Carrier</span>

                <h6>
                    <img ng-if="consol.carrier.image!=null" data-ng-src="data:image/png;base64,{{consol.carrier.image}}" style="padding-right:3px;"
                        width="23" height="20">{{consol.carrier.carrierName?consol.carrier.carrierName:'-'}}</h6>
            </div>
            <div class="col-xs-6">
                <span>Flight No</span>
                <h6>{{consol.consolDocument.routeNo?consol.consolDocument.routeNo:'-'}}</h6>
            </div>
        </div>
    </div>
    <div class="col-xs-6 bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-6 ">
                <span>ETD</span>
                <h6>{{consol.eta!=null?dateAndTimeToString(consol.etd):'-'}}</h6>
            </div>
            <div class="col-xs-6">
                <span>ETA</span>
                <h6>{{consol.etd!=null?dateAndTimeToString(consol.eta):'-'}}</h6>
            </div>
        </div>
    </div>
</div>
<div class="row nomargin bor-btm-1 overflow-hidden">
    <div class="col-xs-6 bor-r-1 bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-6">
                <span>MAWB No</span>
                <h6>{{consol.consolDocument.mawbNo?consol.consolDocument.mawbNo:'-'}}</h6>
            </div>
            <div class="col-xs-6">
                <span>MAWB Date</span>
                <h6>{{consol.consolDocument.mawbGeneratedDate!=null?dateToString(consol.consolDocument.mawbGeneratedDate):'-'}}</h6>
            </div>
        </div>
    </div>

    <div class="col-xs-6 bor-fix ">
        <div class="row ptb-15">
            <div class="col-xs-6 ">
                <span>ATD</span>
                <h6>{{dateAndTimeToString(consol.atd)?dateAndTimeToString(consol.atd):'-'}}</h6>
            </div>
            <div class="col-xs-6">
                <span>ATA</span>
                <h6>{{dateAndTimeToString(consol.ata)?dateAndTimeToString(consol.ata):'-'}}</h6>
            </div>
        </div>
    </div>
</div>
<div class="row nomargin bor-btm-1 overflow-hidden" ng-if="false">
    <div class="col-xs-12  bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-2">
                <span>Uplift Confirmation</span>
                <h6>Yes</h6>
            </div>
            <div class="col-xs-2">
                <span>IGM No</span>
                <h6>446464646</h6>
            </div>
            <div class="col-xs-2">
                <span>IGM Date</span>
                <h6>12 Jun 2016</h6>
            </div>
            <div class="col-xs-2">
                <span>Carrier DO No</span>
                <h6>1231231</h6>
            </div>
            <div class="col-xs-2">
                <span>Carrier DO Date</span>
                <h6>13 Jun 2016</h6>
            </div>
        </div>

    </div>


</div>