<div class="row nomargin">
    <div class="col-xs-6 mt10">
        <span>Transporter</span>
        <h4>VINAYAK TRANSPORTERS</h4>
    </div>
    <div class="col-xs-6 mt10">
        <span>Address</span>
        <h6>AJMAN, DUBAI</h6>
    </div>
</div>
<div class="bor">
    <div class="row nomargin" ng-click="pickup=!pickup" ng-init="pickup=false">
        <div class="flex align-middle align-justify title cursorPt mb0">
            <div>
                <h5>Pickup(Our Pickup)</h5>
            </div>
            <div>
                <i class="fa {{pickup==true?'icon-uparrow':'icon-downarrow'}}" ></i>
            </div>
        </div>
    </div>
    <div class="row nomargin" ng-if="pickup">
        <div class="col-xs-12 mtb-15">
            <div class="row nomargin detail-panel">
                <div class="borderBX">
                    <div class="col-xs-4">
                        <div class="fluidBx flex flex-col align-justify">
                            <div>
                                <span>Pickup Point</span>
                                <h6>NEAR RJ COLONY, CHENGALPATTU</h6>
                            </div>
                            <div>
                                <span>Pickup From</span>
                                <h6>CHENGALPATTU</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borderBx">
                    <div class="col-xs-4"  style="border-right: 1px solid rgba(255, 255, 255, 0.12)">
                        <div class="fluidBx flex flex-col">
                            <div>
                                <span>Pickup Place</span>
                                <address class="mb0 mt10">
                                    <ul class="list-unstyled">
                                        <li>4I SELVA NAGAR, BEHIND RJ COLONY,</li>
                                        <li>CHENGALPATTU MAIN RAOD, 2 ND CROSS</li>
                                        <li>STREET, INDIRA NAGAR, CHENGALPATTU -</li>
                                        <li>600012</li>
                                    </ul>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borderBx">
                    <div class="col-xs-4">
                        <div class="fluidBx flex flex-col">
                            <span>Contact Person</span>
                            <ul class="list-unstyled mt10">
                                <li><i class="icon-user pr8"></i> SethuRaman</li>
                                <li><i class="icon-mobile pr8"></i> + 91 44 6685 7777</li>
                                <li><i class="icon-phone pr8"></i> + 91 98765 43210</li>
                                <li><i class="icon-email pr8"></i> sethu@gmail.com</li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--row ends-->
            <div class="row nomargin detail-panel brad-0 pb-15">
                <div class="col-xs-4">
                    <div class="fluidBx height-auto">
                        <div>
                            <span>Pickup Followup</span>
                            <h6>9 MAY 2016 <span>09:35</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="fluidBx flex flex-col height-auto">
                        <span>Planned Pickup</span>
                        <h6>8 MAY 2016 <span>14:25</span></h6>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="fluidBx flex flex-col height-auto">
                        <span>Actual Pickup</span>
                        <h6>9 MAY 2016 <span>09:50</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div><!--Pickup  ends-->

    <div class="row nomargin" ng-click="delivery=!delivery" ng-init="delivery=false">
        <div class="flex align-middle align-justify title cursorPt mb0">
            <div>
                <h5>Delivery</h5>
            </div>
            <div>
                <i class="fa {{delivery==true?'icon-uparrow':'icon-downarrow'}}" ></i>
            </div>
        </div>
    </div>

    <div class="row nomargin" ng-if="delivery">
        <div class="col-xs-12 mtb-15">
            <div class="row nomargin detail-panel">
                <div class="borderBX">
                    <div class="col-xs-4">
                        <div class="fluidBx flex flex-col align-justify">
                            <div>
                                <span>Delivery Point </span>
                                <h6>SFSL WAREHOUSE</h6>
                            </div>
                            <div>
                                <span>Delivery To</span>
                                <h6>CHENNAI</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borderBx">
                    <div class="col-xs-4" style="border-right: 1px solid rgba(255, 255, 255, 0.12)">
                        <div class="fluidBx flex flex-col" >
                            <div>
                                <span>Delivery Place</span>
                                <address class="mb0 mt10">
                                    <ul class="list-unstyled">
                                        <li>412, SFSL WAREHOUSING, 1ST MAIN ROAD, </li>
                                        <li>OPPOSITE TO HDFC BANKING SERVICES, </li>
                                        <li>AIRPORT ROAD, MEENAMBAKKAM.</li>
                                    </ul>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borderBx">
                    <div class="col-xs-4">
                        <div class="fluidBx flex flex-col">
                            <span>Contact Person</span>
                            <ul class="list-unstyled mt10">
                                <li><i class="fa fa-user pr8"></i> John</li>
                                <li><i class="fa fa-mobile-phone pr8"></i> + 91 44 6685 7777</li>
                                <li><i class="fa fa-phone pr8"></i> + 91 98765 43210</li>
                                <li><i class="fa fa-envelope pr8"></i>John@sfsl.in</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--row ends-->
            <div class="row nomargin detail-panel brad-0 pb-15">
                <div class="col-xs-4">
                    <div class="fluidBx height-auto">
                        <div>
                            <span>Expected Delivery</span>
                            <h6>10 MAY 2016 <span>09:35</span></h6>
                        </div>
                    </div>
                </div>
                 <div class="col-xs-4">
                     <div class="fluidBx flex flex-col height-auto">
                         <span>Delivery Date</span>
                         <h6>10 MAY 2016 <span>14:25</span></h6>
                     </div>
                 </div>
            </div>
        </div>
    </div><!--Delivery  ends-->

    <div class="row nomargin" ng-click="doordelivery=!doordelivery" ng-init="doordelivery=false">
        <div class="flex align-middle align-justify title cursorPt mb0">
            <div>
                <h5>Door Delivery</h5>
            </div>
            <div>
                <i class="{{doordelivery==true?'icon-uparrow':'icon-downarrow'}}"  ></i>
            </div>
        </div>
    </div>

    <div class="row nomargin" ng-if="doordelivery">
        <div class="col-xs-12 mtb-15">
            <div class="row nomargin detail-panel">
                <div class="borderBX">
                    <div class="col-xs-4">
                        <div class="fluidBx flex flex-col align-justify">
                            <div>
                                <span>Delivery Point </span>
                                <h6>VELACHERY</h6>
                            </div>
                            <div>
                                <span>Delivery To</span>
                                <h6>CUSTOMER</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borderBx">
                    <div class="col-xs-4" style="border-right: 1px solid rgba(255, 255, 255, 0.12)">
                        <div class="fluidBx flex flex-col">
                            <div>
                                <span>Delivery Place</span>
                                <address class="mb0 mt10">
                                    <ul class="list-unstyled">
                                        <li>12/23, VGP SELVA NAGAR, 2ND MAIN RAOD, </li>
                                        <li>VELACHERY, CHENNAI - 600042</li>
                                    </ul>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borderBx">
                    <div class="col-xs-4">
                        <div class="fluidBx flex flex-col">
                            <span>Contact Person</span>
                            <ul class="list-unstyled mt10">
                                <li><i class="fa fa-user pr8"></i> Smith</li>
                                <li><i class="fa fa-mobile-phone pr8"></i> + 91 44 6685 7777</li>
                                <li><i class="fa fa-phone pr8"></i> + 91 98765 43210</li>
                                <li><i class="fa fa-envelope pr8"></i>smmith@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--row ends-->
            <div class="row nomargin detail-panel brad-0 pb-15">
                <div class="col-xs-4">
                    <div class="fluidBx flex align-justify align-middle height-auto">
                        <div class="col-xs-12 padlr-0">
                            <span>Expected Delivery</span>
                            <h6>12 MAY 2016 <span>09:35</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="fluidBx flex flex-col height-auto">
                        <span>Delivery Date</span>
                        <h6>12 MAY 2016 <span>14:25</span></h6>
                    </div>
                </div>

            </div>
        </div>
    </div><!--Door Delivery  ends-->
</div>
