<div class="panel panel-default mb-15">
    <div class="panel-heading">
        <div class="flex align-justify align-middle">
            <div>
                <h4>Add Charge</h4>
            </div>
            <div>
                <ul class="list-inline text-right mt-5 masopertion-action">
                    <li>
                        <button type="button" class="btn cancel-btn" ng-click="closeRate()">Discard</button>
                    </li>
                    <li>
                        <button type="button" class="btn accent-btn" ng-click="saveRate()">{{editRateIndex==null?'Add':'Update'}}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group mt-15">
            <div class="row">
                <div class="col-xs-4 mb-15">
                    <label>Charge Code <span>*</span></label>
                    <a 	
                          href="javascript:void(0)"
                          class="btn btn-default btn-outline selectPicker"
                          ng-click="showChargeMaster()">
                        {{charge.chargeMaster.id==null?'':charge.chargeMaster.chargeCode}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
                <div class="col-xs-6 mb-15">
                    <label>Charge Name <span>*</span></label>
                    <input  class="form-control" type="text" ng-model="charge.chargeName">
                </div>
                <div class="col-xs-4 mb-15">
                    <label>Prepaid / Collect</label>
                    <ul class="list-inline">
                        <li ng-class="{'opc-5':charge.ppcc}">Prepaid</li>
                        <li class="v-align-top">
                            <switch id="enabled" name="enabled" ng-model="charge.ppcc" class="green"></switch>
                        </li>
                        <li ng-class="{'opc-5':!charge.ppcc}">Collect</li>
                    </ul>
                </div>
                <div class="col-xs-6 mb-15">
                    <label>Unit <span>*</span></label>
                    <a 	 href="javascript:void(0)"
                          class="btn btn-default btn-outline selectPicker"
                          ng-click="showUnitMaster()">
                        {{charge.unitMaster.unitName}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div><!--row ends-->
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="form-group">
            <div class="row">
                <h5 class="padlr-15">No. of Units</h5>
                <div class="col-xs-4">
                    <label>Min</label>
                    <input  class="form-control" type="text" ng-model="charge.noOfMinUnit">
                </div>
                <div class="col-xs-4">
                    <label>Max</label>
                    <input  class="form-control" type="text" ng-model="charge.noOfMaxUnit">
                </div>
            </div><!--row ends-->
        </div>
        <div class="form-group">
            <div class="row">
                <h5 class="padlr-15">Client Gross Rate</h5>
                <div class="col-xs-4">
                    <label>Currency</label>
                    <a  href="javascript:void(0)" class="btn btn-default btn-outline selectPicker"
                       ng-click="showGrossCurrency()">
                        {{charge.grossSaleCurrency.currencyName}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
                <div class="col-xs-4">
                    <label>Amount per Unit</label>
                    <input  class="form-control" type="text" ng-model="charge.grossSaleAmount">
                </div>
                <div class="col-xs-4">
                    <label>Min Amount</label>
                    <input  class="form-control" type="text" ng-model="charge.grossSaleMinimum">
                </div>
            </div><!--row ends-->
        </div><!--from group ends-->
        <div class="form-group">
            <div class="row">
                <h5 class="padlr-15">Client Net Rate</h5>
                <div class="col-xs-4">
                    <label>Currency</label>
                    <a 	href="javascript:void(0)" class="btn btn-default btn-outline selectPicker"
                          ng-click="showNetCurrency()">
                        {{charge.netSaleCurrency.currencyName}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
                <div class="col-xs-4">
                    <label>Cost per Unit</label>
                    <input  class="form-control" type="text"  ng-model="charge.netSaleAmount">
                </div>
                <div class="col-xs-4">
                    <label>Min Cost</label>
                    <input  class="form-control" type="text" ng-model="charge.netSaleMinimum">
                </div>
            </div><!--row ends-->
        </div><!--from group ends-->
        <div class="form-group">
            <div class="row">
                <h5 class="padlr-15">Declared Cost</h5>
                <div class="col-xs-4">
                    <label>Currency</label>
                    <a  href="javascript:void(0)" class="btn btn-default btn-outline selectPicker"
                       ng-click="showDeclaredCurrency()">
                        {{charge.declaredSaleCurrency.currencyName}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
                <div class="col-xs-4">
                    <label>Cost per Unit</label>
                    <input  class="form-control" type="text">
                </div>
                <div class="col-xs-4">
                    <label>Min Cost</label>
                    <input  class="form-control" type="text">
                </div>
            </div><!--row ends-->
        </div><!--from group ends-->
        <div class="form-group"><!--NOTE THIS FORM GROUP NEED TO OTHER CONFIG-->
            <div class="row">
                <h5 class="padlr-15">Rate</h5>
                <div class="col-xs-4">
                    <label>Currency</label>
                    <a  href="javascript:void(0)" class="btn btn-default btn-outline selectPicker"
                       ng-click="showRateCurrency()">
                        {{charge.rateCurrency.currencyName}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
                <div class="col-xs-4">
                    <label>Amount per Unit</label>
                    <input  class="form-control" type="text" ng-model="charge.rateAmount" >
                </div>
                <div class="col-xs-4">
                    <label>Min Amount</label>
                    <input  class="form-control" type="text" ng-model="charge.rateMinimum">
                </div>
            </div><!--row ends-->
        </div><!--from group ends-->
        <div class="form-group">
            <div class="row">
                <h5 class="padlr-15">Cost</h5>
                <div class="col-xs-4">
                    <label>Currency</label>
                    <a  href="javascript:void(0)" class="btn btn-default btn-outline selectPicker"
                       ng-click="showCostCurrency()">
                        {{charge.costCurrency.currencyName}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
                <div class="col-xs-4">
                    <label>Cost per Unit</label>
                    <input  class="form-control" type="text" ng-model="charge.costAmount">
                </div>
                <div class="col-xs-4">
                    <label>Min Cost</label>
                    <input  class="form-control" type="text" ng-model="charge.costMinimum">
                </div>
            </div><!--row ends-->
        </div><!--from group ends-->
        <div class="form-group"><!--NOTE THIS FORM GROUP NEED TO OTHER CONFIG-->
            <div class="row">
                <div class="col-xs-6">
                    <label>{{appMasterData['Party_Label']}}</label>
                    <a  href="javascript:void(0)" class="btn btn-default btn-outline selectPicker"
                       ng-click="showVendor()">
                        {{charge.vendor.partyName}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div><!--row ends-->
        </div><!--from group ends-->
        <div class="row">
            <hr>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-8 mt-15">
                    <label>Actual /Chargable Weight</label>
                    <ul class="list-inline">
                        <li ng-class="{'opc-5':charge.actualChargeable}">Actual</li>
                        <li class="v-align-top">
                            <switch id="enabled" name="enabled" ng-model="charge.actualChargeable" class="green"></switch>
                        </li>
                        <li ng-class="{'opc-5':!charge.actualChargeable}">Chargable Weight</li>
                    </ul>
                </div>
            </div><!--row ends-->
        </div>
    </div><!--body ends-->
</div><!--panel end document-->