<div class="panel panel-default bor-0 masOpertion mt-15">
    <!--ADD CHANGE VIEW side panel-->
    <div class="panel-heading">
        <div class="w-50">
            <h4>Charge</h4>
        </div>
        <div class="w-50">
            <ul class="list-inline text-right masopertion-action">
                <li>
                    <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="discardrate()">discard</button>
                </li>
                <li>
                    <input type="button" class="btn btn-primary btn-xs btn-property accent-btn" value="{{editIndex!=null?'Update':'Add'}}" ng-click="saveCharge()">
                </li>
            </ul>
        </div>
    </div>
    <!--panel heading-->
    <div class="panel-body nopadding">
        <form role="form">
            <div class="form-group padlr-15">
                <div class="row bor-btm-1 pb-15">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Charge Code
                                    <span>*</span>
                                </label>
                                <a title="{{charge.chargeMaster.id!=null?charge.chargeMaster.chargeCode:''}}" href="javascript:void(0)" input-focus="{{firstFocusInCharge || errorMap.get('chargeMaster')!=null}}"
                                    ng-click="showChargeMaster(charge.chargeMaster.chargeName)" name="chargeMaster" class="btn btn-default btn-outline selectPicker">
                                    {{charge.chargeMaster.id!=null?charge.chargeMaster.chargeCode:''}}
                                    <i class="fa fa-chevron-right pull-right"></i>
                                </a>
                                <span class="error-message" style="color: red;" ng-if="errorMap.get('chargeMaster')!=null">
                                    <small>
                                        {{errorMap.get('chargeMaster')}}
                                    </small>
                                </span>
                            </div>
                            <div class="col-xs-6">
                                <label>Charge Name</label>
                                <input type="text" ng-model="charge.chargeName" input-focus="errorMap.get('chargeName')!=null" capitalize ng-change="validateQuotationCharge(11)"
                                    class="form-control">
                                <span class="error-message" style="color: red;" ng-if="errorMap.get('chargeName')!=null">
                                    <small>
                                        {{errorMap.get('chargeName')}}
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 mt-15">
                                <label>Currency Code
                                    <span>*</span>
                                </label>
                                <a href="javascript:void(0)" title="{{charge.currencyMaster.id!=null?charge.currencyMaster.currencyCode:''}}" input-focus="errorMap.get('currencyMaster')!=null"
                                    ng-click="showCurrencyMaster(charge.currencyMaster.currencyName)" name="currencyMaster" class="btn btn-default btn-outline selectPicker">
                                    {{charge.currencyMaster.id!=null?charge.currencyMaster.currencyCode:''}}
                                    <i class="fa fa-chevron-right pull-right"></i>
                                </a>
                                <span class="error-message" style="color: red;" ng-if="errorMap.get('currencyMaster')!=null">
                                    <small>
                                        {{errorMap.get('currencyMaster')}}
                                    </small>
                                </span>
                            </div>
                            <div class="col-xs-6 mt-15">
                                <label>Unit
                                    <span>*</span>
                                </label>
                                <a title="{{charge.unitMaster.id!=null?charge.unitMaster.unitCode:''}}" href="javascript:void(0)" input-focus="errorMap.get('unitMaster')!=null"
                                    ng-click="showUnitMaster(charge.unitMaster.unitName)" name="unitMaster" class="btn btn-default btn-outline selectPicker">
                                    {{charge.unitMaster.id!=null?charge.unitMaster.unitCode:''}}
                                    <i class="fa fa-chevron-right pull-right"></i>
                                </a>

                                <span class="error-message" style="color: red;" ng-if="errorMap.get('unitMaster')!=null">
                                    <small>
                                        {{errorMap.get('unitMaster')}}
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bor-btm-1 pb-15">
                    <div class="col-xs-12">
                        <div class="row bor-btm-1 pb-15">
                            <h5 class="padlr-15">No. of Units</h5>
                            <div class="col-xs-3">
                                <label>Min</label>
                                <input type="text" input-focus="{{errorMap.get('noOfMinUnit')!=null}}" ng-model="charge.noOfMinUnit" maxlength="15" ng-change="validateQuotationCharge(4)"
                                    class="form-control text-right">
                                <span class="error-message" style="color: red;" ng-if="errorMap.get('noOfMinUnit')!=null">
                                    <small>
                                        {{errorMap.get('noOfMinUnit')}}
                                    </small>
                                </span>
                            </div>
                            <div class="col-xs-3">
                                <label>Max</label>
                                <input type="text" input-focus="{{errorMap.get('noOfMaxUnit')!=null}}" ng-model="charge.noOfMaxUnit" maxlength="15" ng-change="validateQuotationCharge(5)"
                                    class="form-control text-right">
                                <span class="error-message" style="color: red;" ng-if="errorMap.get('noOfMaxUnit')!=null">
                                    <small>
                                        {{errorMap.get('noOfMaxUnit')}}
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="row bor-btm-1 pb-15">
                            <h5 class="padlr-15">Sell Rate
                                <span class="reqColor">*</span>
                            </h5>
                            <div class="col-xs-3">
                                <label>Amount Per Unit</label>
                                <input type="text" input-focus="{{errorMap.get('sellRateAmountPerUnit')!=null}}" ng-model="charge.sellRateAmountPerUnit"
                                    maxlength="15" ng-change="validateQuotationCharge(6)" class="form-control text-right">
                                <span class="error-message" style="color: red;" ng-if="errorMap.get('sellRateAmountPerUnit')!=null">
                                    <small>
                                        {{errorMap.get('sellRateAmountPerUnit')}}
                                    </small>
                                </span>
                            </div>
                            <div class="col-xs-3">
                                <label>Min Amount</label>
                                <input type="text" input-focus="{{errorMap.get('sellRateMinAmount')!=null}}" ng-model="charge.sellRateMinAmount" maxlength="15"
                                    ng-change="validateQuotationCharge(7)" class="form-control text-right">
                                <span class="error-message" style="color: red;" ng-if="errorMap.get('sellRateMinAmount')!=null">
                                    <small>
                                        {{errorMap.get('sellRateMinAmount')}}
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="row bor-btm-1 pb-15">
                            <h5 class="padlr-15">Buy Rate
                                <span class="reqColor">*</span>
                            </h5>
                            <div class="col-xs-3">
                                <label>Cost Per Unit</label>
                                <input type="text" input-focus="{{errorMap.get('buyRateCostPerUnit')!=null}}" ng-model="charge.buyRateCostPerUnit" maxlength="15"
                                    ng-change="validateQuotationCharge(8)" class="form-control text-right">
                                <span class="error-message" style="color: red;" ng-if="errorMap.get('buyRateCostPerUnit')!=null">
                                    <small>
                                        {{errorMap.get('buyRateCostPerUnit')}}
                                    </small>
                                </span>
                            </div>
                            <div class="col-xs-3">
                                <label>Min Cost</label>
                                <input type="text" input-focus="{{errorMap.get('buyRateMinCost')!=null}}" ng-model="charge.buyRateMinCost" maxlength="15"
                                    ng-change="validateQuotationCharge(9)" class="form-control text-right">
                                <span class="error-message" style="color: red;" ng-if="errorMap.get('buyRateMinCost')!=null">
                                    <small>
                                        {{errorMap.get('buyRateMinCost')}}
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="padlr-15">Actual / Chargeable Weight</h5>
                            <div class="col-xs-12">
                                <ul class="list-inline">
                                    <li ng-class="{'opc-5':charge.actualchargeable}">Actual</li>
                                    <li class="v-align-top">
                                        <switch id="enabled" name="enabled" ng-model="charge.actualchargeable" class="green"></switch>
                                    </li>
                                    <li ng-class="{'opc-5':!charge.actualchargeable}">Chargeable Weight</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                <!--<div class="checkbox">-->
                <!--&lt;!&ndash; <label><input type="checkbox" ng-model="charge.isNote" ng-click="charge.note=''">Notes</label>&ndash;&gt;-->
                <!--<input class="magic-checkbox" type="checkbox"  ng-model="charge.isNote" ng-click="charge.note=''" id="inclpickup" >-->
                <!--<label class="text custom-label" for="inclpickup">-->
                <!--Notes-->
                <!--</label>-->
                <!--</div>-->

                <!--<textarea class="form-control" ng-if="charge.isNote" ng-model="charge.note" ng-change="validateQuotationCharge(10)" rows="5" id="comment"></textarea>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </form>
    </div>
    <!--body ends-->
</div>
<!--panel ends-->