<div class="col-xs-12 ">
	<div class="table-responsive   mtb-15" ng-show="consol.referenceList.length>0">
		<table class="table table-inline">
			<thead>
				<th class="inl_sno">#</th>
				<th class="inl_xl">Reference Type</th>
				<th class="inl_xl">Reference No</th>
				<th class="">Note</th>
			</thead>
			<tbody>
				<tr ng-repeat="reference in consol.referenceList track by $index">
					<td>{{$index + 1}}</td>
					<td>{{reference.referenceTypeMaster.referenceTypeName}}</td>
					<td>{{reference.referenceNumber}}</td>
					<td>{{reference.referenceNotes}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<empty-record ng-if="!consol.referenceList || consol.referenceList.length==0" icon="reference" text="Looks like there are no reference records here"></empty-record>
</div>