<div class="container-fluid resPortListPage resLandListPage">
    <div class="row ml0 mr0" >
        <!-- Table View -->
        <div class="list-container col-md-12  table-responsive main" >
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <button type="button" class="btn btn-property accent-btn" ng-click="addPage()"><span class="icon-add"></span> Add error message</button>
                    </div>
                </div>
                <div class="panel-body p00 no-tab-table" panel-height>
                    <div show-response></div>
                    <client-error message="clientMessage"></client-error>
                    <div success-message></div>
                    <div class="table-fixed table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                        <super-table-edit data="errorMsgArray"
                                          head="errormsgHeadArr"
                                          sort="sortSelection"
                                          page="page" size="limit"
                                          click-event="rowSelect(param,index)"
                                          search-event="changeSearch(param)"
                                          sort-event="sortChange(param)"
                                          action-event="actionClick(param)">
                        </super-table-edit>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="flex align-justify align-middle">
                        <div>
                            <ul class="list-inline">
                                <li>Show</li>
                                <li>
                                    <select class="form-control legend-show-ctrl" ng-model="limit"
                                            ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                    </select>
                                </li>
                                <li>Entries</li>
                            </ul>
                        </div>
                        <div>
                            <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                        </div>
                    </div>
                </div>
            </div><!--panel ends-->
        </div>
    </div>
</div>

