<div class="container-fluid resPortAddPage resLandAddPage" ><div class="row">
	<div class="col-xs-12 mb-15">
		<div class="panel panel-default">
			<div class="panel-heading flexTitle">
				<div>
					<h4>Add Error Message</h4>
				</div>
				<div>
					<ul class="list-inline text-right masopertion-action">
						<li class="mr0 pr0">
							<button type="button" class="btn btn-default btn-xs btn-property cancel-btn mr0" ng-click="cancel()">Cancel</button>
						</li>
						<li class="ml0 plr0">
							<button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveAll()">Save</button>
						</li>
					</ul>
				</div>
			</div>
			<!--PANEL HEADING ENDS-->
			<div class="panel-body edit-body pt0" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
				<div class="row">
					<div show-response></div>
					
					<client-error message="clientMessage"></client-error>
					<div class="col-xs-12 ptb-15">
						<span class="reqColor">*</span> <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
					</div>
				</div>
				<button type="button" class="btn btn-property accent-btn mb-15" ng-click="addRow()">
					<span class="icon-add"></span> Add error message
				</button>
				<form role="form" name="errorMessageForm">
					<div class="table-responsive">
						<table class="table table-inline-nopad "  sm-table-responsive tab-nav tab-row="addRow()">
							<thead class="borderthead ">
							 	<tr>
									<th class="inl_xs">#</th>
									<th class="inl_l">Code<span class="reqColor"> *</span></th>
									<th class="inl_xl">Message<span class="reqColor"> *</span></th>
									<th class="inl_xl">Group<span class="reqColor"> *</span></th>
									<th class="inl_xl">Language<span class="reqColor"> *</span></th>
									<th class="inl_m">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in errorMessageList track by $index">
									<td data-nofloat="true" ng-class="{'error-cell text-center':errorArray[$index].errRow}">
										<span ng-show="errorArray[$index].errRow"> 
											<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(errorArray[$index],$index)"
											class="color-white"> <img
												src="../../../../assets/images/error.png" />
										</a>
									</span> <span ng-show="!errorArray[$index].errRow"> {{$index+1}}
									</span>
									</td>
									<td data-headtitle="Code" 
												data-width="tw25per">
										<div class="form-group mb0">
											<input capitalize type="text" ng-model="data.languageCode" class="form-control" 
											maxlength="20" ng-class="{'error-control':errorArray[$index].languageCode}"  
											id="{{'languageCode'+$index}}" input-focus="{{firstFocus}}" >
										</div>
									</td>
									<td data-headtitle="Message" 
												data-width="tw50per">
										<div class="form-group mb0">
											<input type="text" ng-model="data.languageDesc" class="form-control" 
											maxlength="1000" ng-class="{'error-control':errorArray[$index].languageDesc}">
										</div>
									</td>
									<td data-headtitle="Language" 
												data-width="tw25per">
										<div class="form-group mb0">
											 <div class="select-auto">
                                                    <input type="text"
                                                           auto-complete-manual
                                                           ng-model="data.groupName"
                                                           render-item="groupRender"
                                                           item-data="enum['ErrorGroup']"
                                                           class="form-control"
                                                           on-select="selectedGroupName(param, 'language'+$index)"
                                                           ng-class="{'error-control':errorArray[$index].groupName}"
                                                            />
                                                </div>
										</div>
									</td>
									<td data-headtitle="Group" 
												data-width="tw25per">
										<div class="form-group mb0">
											<div class="select-auto">
														<input type="text" class="form-control" id="{{'language'+$index}}" 
														ng-class="{'error-control':errorArray[$index].language}" 
														autocomplete="off" ng-model="data.language" 
														uib-typeahead="lovObject as lovObject.languageName for lovObject in ajaxLanguageEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedLanguage(param);" 
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
														<span class="select-arrow"><b></b></span>											</div>
										</div>
									</td>
									<td data-nofloat="true"   data-action="true">
												
										<span class="icon-delete" ng-click="deleteRow($index)" data-placement="bottom"   bs-tooltip="delete"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div></div>

<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>