<html xmlns="http://www.w3.org/1999/xhtml" ng-app="NewAgePublic">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script src="../../plugins/javascript/jquery.min.js" type="text/javascript"></script>
	<script src="../../plugins/javascript/angular/angular.js" type="text/javascript"></script>
	<script src="quotation_approval.js"></script>
	<script src="../service/public_service.js"></script>
	<script src="../../plugins/javascript/angular/daterangepicker/moment.js"></script>
	<script src="../../plugins/javascript/angular/b3Picker/moment-with-locales.js"></script>
	<script src="../../plugins/javascript/angular/angular-strap.min.js" type="text/javascript"></script>
	<script src="../../plugins/javascript/angular/angular-strap.tpl.min.js" type="text/javascript"></script>
	<script src="../../plugins/javascript/angular/ui-angular-bootstrap/ui-bootstrap-tpls-2.4.0.js" type="text/javascript"></script>

	<link rel="stylesheet" href="../../plugins/javascript/angular/ngdialog/ngDialog.css" />
	<link rel="stylesheet" href="../../plugins/javascript/angular/ngdialog/ngDialog-theme-default.css" />
	<link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap-theme.css">
	<style>
		.modal {
			background: rgba(0, 0, 0, 0.4) !important;
		}
	</style>

	<style>
		.address {
			text-transform: uppercase;
			font-size: 16px;
			margin-top: 25px
		}

		.mart25 {
			margin-top: 25px
		}

		.marb25 {
			margin-bottom: 25px
		}

		.margin-border {
			border-bottom: 1px solid #acacac;
			border-top: 1px solid #acacac;
		}

		.table_head {
			background-color: #187fb9;
			padding: 5px 27px;
			color: #fff
		}

		.padd25 {
			padding: 15px 22px;
			border: solid 1px #e2e2e2
		}

		;
		.no-padding {
			padding: 0px !important
		}
	</style>
	<title>Quotation Approval</title>
</head>

<body style="background-color:#e3f5ff" ng-controller="quotationApprovalCtrl">

	<div class="col-md-12 no-padding mart25 marb25" ng-if="approved=='Pending' && rejectReason==false">
		<div class="container" style="background-color:#fff; box-shadow: 0px 0px 20px 0px #b0b0b0;">
			<div class="col-md-12">
				<div class="col-md-3" style="margin-top:20px">
					<div class="">
						<img data-ng-src="data:image/png;base64,{{logoMaster.logo}}" style="width:80px;" class="img-responsive" />
					</div>
				</div>
				<div class="col-md-5" style="text-align:center; margin-top:20px">

					<h3>
						<strong>Quotation Approval</strong>
					</h3>
				</div>
				<div class="col-md-4">
					<div class="address">
						<div>
							<span ng-if="quotation.locationMaster.addressLine1 && quotation.locationMaster.addressLine1!=''">{{quotation.locationMaster.addressLine1}}</span>
							<span ng-if="quotation.locationMaster.addressLine2 && quotation.locationMaster.addressLine2!=''">,{{quotation.locationMaster.addressLine2}}</span>
							<span ng-if="quotation.locationMaster.addressLine3 && quotation.locationMaster.addressLine3!=''">,{{quotation.locationMaster.addressLine3}}</span>
							<span ng-if="quotation.locationMaster.addressLine4 && quotation.locationMaster.addressLine4!=''">,{{quotation.locationMaster.addressLine4}}.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="">
					<div class="col-md-12 mart25">

						<div class="col-md-4 margin-border" style="background-color:#e3f5ff; min-height:142px;">
							<h4>
								<strong>{{quotation.customer.partyName}}</strong>
							</h4>
							<p>{{quotation.customerAddress.addressLine1}}</br>
								{{quotation.customerAddress.addressLine2}}</br>
								{{quotation.customerAddress.addressLine3}}</br>
								{{quotation.customerAddress.addressLine4}}</p>
						</div>
						<div class="col-md-8 margin-border">
							<div class="row">
								<div class="col-md-3">
									<h4>
										<strong>Quotation No</strong>
									</h4>
									<p>{{quotation.quotationNo}}</p>
								</div>
								<div class="col-md-3">
									<h4>
										<strong>Attention</strong>
									</h4>
									<p>{{quotation.attention}}</p>
								</div>
								<div class="col-md-3">
									<h4>
										<strong>Quote Type</strong>
									</h4>
									<p>{{quotation.quoteType | quoteType}}</p>
								</div>
								<div class="col-md-3">
									<h4>
										<strong>Salesman</strong>
									</h4>
									<p>{{quotation.salesman.employeeName}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<h4>
										<strong>Valid From</strong>
									</h4>
									<p>{{dateToString(quotation.validFrom,quotation.locationMaster.dateFormat)}}</p>
								</div>
								<div class="col-md-3">
									<h4>
										<strong>Valid To</strong>
									</h4>
									<p>{{dateToString(quotation.validTo,quotation.locationMaster.dateFormat)}}</p>
								</div>
								<div class="col-md-3">
									<h4>
										<strong>Sales Coordinator</strong>
									</h4>
									<p>{{quotation.salesCoordinator.employeeName}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="mart25">
					<div class="col-md-12">

						<ul class="nav nav-pills">
							<li ng-class="{active : $index==selectedServiceIndex}" ng-repeat="qd in quotation.quotationDetailList track by $index" ng-click="clickSelectedService($index)">
								<a href=""> {{qd.serviceMaster.serviceName}}</a>
							</li>

						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="padd25">

						<div class="col-md-6 " style="  padding-right: 31px;">
							<div class="row">
								<h4 style="color:#09C">
									<b>Routing Details</b>
								</h4>
								<div class="col-md-6 no-padding" style="padding: 0px;">
									<h4>
										<strong>Origin</strong>
									</h4>
									<p>{{quotation.quotationDetailList[selectedServiceIndex].origin.portName}} {{quotation.quotationDetailList[selectedServiceIndex].origin.portCode!=null?'(':''}}{{quotation.quotationDetailList[selectedServiceIndex].origin.portCode}}{{quotation.quotationDetailList[selectedServiceIndex].origin.portCode!=null?')':''}}</p>
								</div>
								<div class="col-md-6" style="border-right:1px solid #acacac">
									<h4>
										<strong>Destination</strong>
									</h4>
									<p>{{quotation.quotationDetailList[selectedServiceIndex].destination.portName}} {{quotation.quotationDetailList[selectedServiceIndex].destination.portCode!=null?'(':''}}{{quotation.quotationDetailList[selectedServiceIndex].destination.portCode}}{{quotation.quotationDetailList[selectedServiceIndex].destination.portCode!=null?')':''}}</p>
								</div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<h4 style="color:#09C">
									<b>Cargo Details</b>
								</h4>
								<div class="col-md-3 no-padding" style="padding: 0px;">
									<h4>
										<strong>No of Pieces</strong>
									</h4>
									<p>{{quotation.quotationDetailList[selectedServiceIndex].totalNoOfPieces}}
									</p>
								</div>
								<div class="col-md-5" style="text-align:right">
									<h4>
										<strong>Gross Weight(KG)</strong>
									</h4>
									<p>{{weightFormat(quotation.quotationDetailList[selectedServiceIndex].grossWeight,quotation.countryMaster.locale)}}</p>
								</div>
								<div class="col-md-4" style="text-align:right">
									<h4>
										<strong>Volume Weight</strong>
									</h4>
									<p style=" text-transform:uppercase">{{weightFormat(quotation.quotationDetailList[selectedServiceIndex].volumeWeight,quotation.countryMaster.locale)}}</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 no-padding" style="padding:0px">
							<div style="border-bottom:1px solid #acacac;"></div>
						</div>

						<div class="row">


							<div class="col-md-12 mart25">
								<h4 style="color:#09C">
									<b>Carrier Details</b>
								</h4>
								<div class="mart25">

									<ul class="nav nav-pills">
										<li ng-class="{active : $index==selectedCarrierIndex}" ng-click="selectMultiCarrierModel($index)" ng-repeat="quotationCarrier in quotation.quotationDetailList[selectedServiceIndex].quotationCarrierList track by $index">
											<a href="#">{{quotationCarrier.carrierMaster==null?'General':quotationCarrier.carrierMaster.carrierName}}</a>
										</li>

									</ul>

								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-md-12 no-padding">

								<table class="table table-striped" ng-show="quotation.quotationDetailList[selectedServiceIndex].quotationCarrierList[selectedCarrierIndex].quotationChargeList!=null && quotation.quotationDetailList[selectedServiceIndex].quotationCarrierList[selectedCarrierIndex].quotationChargeList.length>0">
									<thead>
										<tr style=" background-color:#e3f5ff">
											<th>#</th>
											<th>Charge Name</th>
											<th>Charge Code</th>
											<th>Currency</th>
											<th>No of Units</th>
											<th>Unit</th>
											<th>Amount Per Unit </th>
											<th>Min Amount</th>
										</tr>
									</thead>
									<tbody style="border-bottom:1px solid #acacac">
										<tr ng-repeat="qc in quotation.quotationDetailList[selectedServiceIndex].quotationCarrierList[selectedCarrierIndex].quotationChargeList track by $index">
											<td>{{$index+1}} </td>
											<td>{{qc.chargeMaster.chargeName}}</td>
											<td>{{qc.chargeMaster.chargeCode}}</td>
											<td>{{qc.currencyMaster.currencyCode}}</td>
											<td style="text-align:center; ">{{qc.numberOfUnit}}</td>
											<td>{{qc.unitCode}}</td>
											<td style="text-align:right;">{{currencyFormat(qc.currencyMaster,qc.sellRateAmountPerUnit)}}</td>
											<td style="text-align:right;padding-right:20px;">{{currencyFormat(qc.currencyMaster,qc.sellRateMinAmount)}}</td>
										</tr>





									</tbody>
								</table>

							</div>
						</div>


					</div>
				</div>
			</div>











			<form>
				<div class="row">

					<div class="mart25">
						<div class="col-md-12">


							<div class="col-md-6">
								<div class="col-md-6"></div>
								<div class="col-md-6">
									<div class="form-group" ng-show="quotation.quotationDetailList[selectedServiceIndex].quotationCarrierList.length>1">
										<label for="sel1">Select Carrier</label>

										<select class="form-control" ng-model="quotationApproval.quotationCarrierId" ng-options="qc.id as qc.carrierMaster==null?'General':(qc.carrierMaster.carrierName + ' ('+qc.carrierMaster.carrierCode+')') for qc in quotation.quotationDetailList[selectedServiceIndex].quotationCarrierList track by qc.id"
										 ng-change="moveCursor('pinNumber')">
										</select>
									</div>

								</div>
							</div>

							<div class="col-md-6">


								<div class="form-group col-md-7">
									<label class="control-label" for="email">PIN Number</label>
									<div class="">
										<input class="form-control" id="pinNumber" type="text" ng-model="quotationApproval.pin" />
									</div>
								</div>
								<div class="col-md-5 no-padding" style="margin-top: 24px;">
									<button type="button" class="btn btn-success" ng-click="callAPI('Approved')">Approve</button>
									<button type="button" class="btn btn-danger" ng-click="rejectQuotation()" style="width: 85px;">Reject</button>
									<span style="color: red" ng-if="errorMsg!=null">{{errorMsg}}</span>
								</div>



							</div>


						</div>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="mart25">
					<div class="col-md-12">

						<div class="panel panel-info">
							<div class="panel-heading">Terms and Conditions</div>
							<div class="panel-body">
								<ul>
									<h4>
										<strong>Notes</strong>
									</h4>
									<div ng-repeat="qd in quotation.quotationDetailList track by $index">
										<li ng-repeat="gqc in qd.serviceNoteList track by $index">
											{{gqc.note}}
										</li>
									</div>

									<h4>
										<strong>General Notes</strong>
									</h4>
									<li ng-repeat="gc in quotation.generalNoteList track by $index">{{gc.note}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div ng-include="'qutation-approval.html'" ng-if="approved == 'Approved'"></div>
	<div ng-include="'qutation-rejected.html'" ng-if="approved=='Rejected'"></div>
	<div ng-include="'quotation-reject-reason.html'" ng-if="rejectReason"></div>

</body>

</html>