
<table width="40%" style="background:#fcfcfc; margin-left:30%; margin-top:10%; border-radius:3px;">
    <tr>
   <td width="100%" align="left" style="background:#2590c8;color:#fff; border-radius:3px; padding:10px 10px;">Reject
   </td>
   </tr>
   <tr><td width="100%" align="left" style="padding:10px 10px;">Reason</td></tr>
   <tr><td width="100%" align="center" style="font-size:18px;font-weight:bold;color:#373938;">
   
   <textarea input-focus="true" 
                               msd-elastic
                               rows="8" cols="70"
                               rows="7"
                               id="note" name="note"
                               ng-model="quotationApproval.rejectReason"
                               maxlength="4000"
                             >
                     </textarea>
   </td></tr>
   
   <tr>
   <td width="100%" align="center" style="padding:20px 0px;">
   <table width="63%" align="left"><tr><td></td></tr></table>
   
   <table>
   <tr>
   <td>
    <button style="padding:8px 20px; background:#2590c8; color:#fff; border-radius:5px; border:none;" ng-click="callAPI('Rejected')">Submit</button>
   <button style="padding:8px 20px; background:#606060; color:#fff; border-radius:5px; border:none;" ng-click="reload();">Cancel</button>
   </td>
   </tr>
   </table>
    </td>
   </tr>
  </table>
