<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row " >
        <div class=" col-md-12 col-lg-10 col-sm-12 col-xs-12" >
        	<form role="form"  id="logoMasterForm" name="logoMasterForm"
              ng-submit="logoMaster.id!=null?update():save()">
            <div class="panel panel-default masOpertion">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{logoMaster.id!=null?'Edit':'Add'}} Logo</h4>
                    </div>
                    <div>
                        <div class="btngrp">

                                <button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>

                                <input type="submit" class="btn accent-btn" value="{{logoMaster.id!=null?'Update':'Save'}}">

                        </div>
                    </div>
                </div>
                <div class="panel-body edit-body" id="logo-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <div class="pad-15">
                        <div show-response></div>
                        <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory fields</small></div>
                    </div>   
                    <div class="row ">
                        
                        <div class="col-md-6 col-sm-6 col-lg-3 col-xs-10 form-group nomargin pl0">
                            <label class="custom-label">Location <span class="reqColor">*</span></label>
                            <div class="select-auto">
                                <input type="text" class="form-control" 
										autocomplete="off" ng-model="logoMaster.locationMaster"
										input-focus="true"
										uib-typeahead="lovObject as lovObject.locationName for lovObject in ajaxLocationEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectLocation();"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                            </div>
                               <div>
									<span class="error-message" ng-show="errorMap.get('locationMaster')!=null"><small>{{errorMap.get('locationMaster')}}</small></span>
								</div>
							</div>
                                            
					</div>
                    <div class="row " ng-show="logoMaster.id!=null">
                        <div class="col-md-6 col-lg-3 col-xs-10 col-sm-6 form-group nomargin pl0">
                                <label class="custom-label">
                                    Status
                                </label>


                                <select class="form-control status" id="status"
                                        ng-class="setStatus(logoMaster.status)"
                                        ng-options="item for item in enum['LovStatus']"
                                        ng-model="logoMaster.status" required>
                                </select>

                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 col-lg-12 col-sm-12 form-group nomargin pl0 drop-box">

                            <label class="custom-label">Logo <span class="reqColor">*</span></label>

                            <div ng-show="uploadText == true && isBusy != true" ngf-drop ngf-select ng-model="logo"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                                 accept="image/*" ng-change="uploadImage(logo)"
                                 ngf-pattern="'image/*'"
                                 class="file-drop-box">
                                <div class="col-md-12 text-center">
                                    <ul class="list-unstyled">
                                        <li>Drop Here</li>
                                        <li>Or</li>
                                        <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
                                    </ul>
                                </div>
                            </div>

                            <div ng-show="!uploadText && isBusy ==true" class="rel img-box">
                                <!--<div class="loader">Loading..-->
                                <!--</div>-->
                                <attach-Spinner  spinner-status="true"></attach-Spinner>
                            </div>

                            <div ng-show="uploadText == false && isBusy != true" ngf-select ngf-drop ng-model="logo" ngf-multiple="false" ng-change="uploadImage(logo)" class="rel img-box" ng-mouseover="showBackDrop=true"
                                 ng-mouseleave="showBackDrop=false">
                                <img ng-src="data:image/jpeg;base64,{{logoMaster.encodedLogo}}" class="display-block">
                                <div class="wrapper-back-drop hide-transition" ng-show="showBackDrop">
                                        <span class="cursorPt overlay-img-btn" ngf-select ngf-drop ng-model="logo" ngf-multiple="false" ng-change="uploadImage(logo)">
                                            <i class="fa fa-upload"></i>
                                        </span>
                                </div>
                            </div>
                            <div>
									<span class="error-message" ng-show="errorMap.get('logo')!=null"><small>{{errorMap.get('logo')}}</small></span>
								</div>
                        </div>
                    </div>
                </div><!--panel body ends-->
            </div><!--panel ends-->
       		 </form>
   		 </div><!--col ends-->
      
    </div>
</div>


