<div class="container-fluid resPortListPage" >
	<div class="row ml0 mr0" ng-init="init()">
		<div ng-show="deskTopView"  class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12 ">
			
		<!--panel starts-->
			<div class="panel panel-default" ng-click="showHistory=false">
				<div class="panel-heading">
						<div class="pull-left">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="addLogo()">
									<i class="icon-add"></i> Add Logo
								</a>
							</div>
						</div>
						<div class="pull-right text-right">
							<i class="icon-settings"></i>
						</div>
				</div>
						<div show-response></div>
						<div success-message></div>
				<div class="panel-body detail-body p00" panel-height >
					<div class="table-fixed table-responsive">
						<super-table 	data="logoArr"
										head="logoHeadArr"
										sort="sortSelection"
										click-event="rowSelect(param)"
										
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page" size="limit" >
						</super-table>
					</div>
					<!--<custom-table 	data="logoArr"-->
									<!--head="logoHeadArr"-->
									<!--sort="sortSelection" -->
									<!--click-event="rowSelect(param)"-->
									<!--search-event="changeSearch(param)" -->
									<!--drop-event="dropFunction(param)" -->
									<!--sort-event="sortChange(param)">-->
					<!--</custom-table>-->
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit"
										ng-change="limitChange(limit)" ng-options="v for v in limitArr">
								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div>
		<!--panel ends-->
		</div>
		<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12   m-pl0 ">
			<div class="panel panel-default detail-transition"   ng-show="logoMaster.id!=null">
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom"   bs-tooltip="close" href="javascript:void(0)"  ng-click="cancel()"
								   class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<span>Logo</span>
						</div>
					</div>
					<div>
						<ul class="list-inline">
							<!--<li><i class="icon-settings"></i></li>-->
							<li><a  href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"
									><i class="icon-logs" data-placement="bottom"   bs-tooltip="activity"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="editLogo()"
								   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" ng-click="deleteLogo()"
								    class="list-panel-edit-btn cursorPt"><i
									class="icon-delete"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="showHistory=false">

						<div class="row metadata-detail">
							<span >Location</span>
							<h5>{{logoMaster.locationMaster.locationName}}</h5>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span >Status</span>
									<show-status status="{{logoMaster.status}}"></show-status>
								</li>
							</ul>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span >Logo</span>
									<div class="rel img-box">
										<img  data-ng-src="data:image/png;base64,{{logoMaster.encodedLogo}}" class="display-block">
									</div>
									
									
								</li>
							</ul>
						</div>
					</div>
					<div class="logs-view logs-transition" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a  href="javascript:void(0)" ng-click="showHistory=false"
											   class="list-panel-back"><i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="logoMaster.systemTrack.createUser"></hm-init-icon>>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{logoMaster.systemTrack.createUser}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(logoMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="logoMaster.systemTrack.lastUpdatedUser"></hm-init-icon>>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{logoMaster.systemTrack.lastUpdatedUser}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(logoMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>


