<div class="row nomargin">
	<div class="col-xs-12 mtb-15">
		<button type="button" class="btn accent-btn"
			ng-click="fnRole({param:addRole})?addRow():''">
			<i class="icon-add"></i>  Add Charge
		</button>
		<!-- NES-2170  <button type="button" class="btn btn-default btn-xs btn-property green-btn" ng-click="fnRole({param:defaultChargeRole})?defaultCharge():''">Get Default Charge</button> -->
		<button type="button" class="btn btn-default btn-xs btn-property green-btn" 
		ng-if="dependData.id!=undefined && dependData.id!=null"
		ng-click="fnRole({param:showHistory})?showChargeHistory():''">Charge History</button>
	</div>
	<div class="row nomargin">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
                    <thead>
                    <tr>
	                    <th class="inl_xs">#</th>
	                    <th class="inl_s">Charge Code<span class="reqColor">*</span></th>
	                    <th class="inl_sm">Charge Name<span class="reqColor">*</span></th>
	                    <th class="inl_s">C / R / N<span class="reqColor">*</span></th>
	                    <th class="inl_s">PP / ​​​​​​​CC</th>
	                    <th class="inl_xs">Currency<span class="reqColor">*</span></th>
	                    <th class="inl_xs text-right">ROE</th>
	                    <th class="inl_xs">No of Unit<span class="reqColor">*</span></th>
	                    <th class="inl_xs text-right">Amt per Unit</th>
	                    <th class="inl_xs text-right">Amount</th>
	                    <th class="inl_xs text-right">Local Amount ({{dependData.localCurrency.currencyCode}})</th>
	                    <th class="inl_s">Due</th>
	                    <th class="inl_s text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dataObj in tableData track by $index">
                        <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                         <span ng-show="secondArr[$index].errRow" >
                             <a tabindex="-1" href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                 <b class="glyphicon glyphicon-warning-sign"></b>
                             </a>
                         </span>
                        <span ng-show="!secondArr[$index].errRow">
                        {{$index+1}}
                        </span>
                        </td>
                        <td data-headtitle="Charge Code" data-required="true" data-width="tw33per">
                            <div class="select-auto">
								<input type="text" 
									class="form-control" 
									id="chargeMaster{{$index}}"
                                    input-focus="{{secondArr[$index].chargeCode}}"
                                    ng-class="{'error-control':secondArr[$index].chargeCode}"
                                    ng-disabled="(!updateRole&&dataObj.id!=null)"
									autocomplete="off"
									ng-model="dataObj.chargeMaster"
									uib-typeahead="lovObject as lovObject.chargeCode for lovObject in localSearch($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratetemplate.html"
									typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratepopup.html"
									typeahead-show-hint="true" typeahead-show-loading="true" 
									 typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="chargeChange(dataObj);moveToNextField('crn',$index)"
									typeahead-focus-on-select="false"
									typeahead-focus-first="true"
									typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500" 
									ng-change="clearChargeName(dataObj)">
								<span class="select-arrow"><b></b></span>	
                            </div>

                        </td>
                        <td data-headtitle="Charge Name" data-required="true" data-width="tw33per">
                            <input  type="text" 
                             id="chargeName{{$index}}"
                            		class="form-control" 
                            		ng-class="{'error-control':secondArr[$index].chargeName}" 
                            		input-focus="{{secondArr[$index].chargeName}}"
                            		ng-model="dataObj.chargeName"   
  	                                input-focus="{{secondArr[$index].chargeName}}"
                                    ng-disabled="(!updateRole&&dataObj.id!=null)"
							/>
                        </td>
                        <td data-headtitle="C / R / N" data-required="true" data-width="tw33per">
                            <select
                            id="crn{{$index}}"
                                    class="form-control "
                                    ng-class="{'error-control':secondArr[$index].crn}"
                                    input-focus="{{secondArr[$index].crn}}"
                                    ng-options="item for item in crnArr"
                                    ng-model="dataObj.crn"
                                    ng-change="moveToNextField('ppcArr',$index)"
                                    ng-disabled="(!updateRole&&dataObj.id!=null)">
                            </select>
                        </td>
                        <td data-headtitle="PP / CC" data-width="tw33per" class="clearboth">
                            <select
                             id="ppcArr{{$index}}"
                                    class="form-control "
                                    ng-change="moveToNextField('currency',$index)"
                                    ng-options="item for item in ppcArr"
                                    ng-model="dataObj.ppcc"
                                    ng-disabled="(!updateRole&&dataObj.id!=null)">
                            </select>
                        </td>
                        <td data-headtitle="Currency" data-width="tw33per">
                            <div class="select-auto">
								<input type="text" 
									class="form-control" 
									id="currency{{$index}}"
                                    input-focus="{{secondArr[$index].currency}}"
                                    ng-class="{'error-control':secondArr[$index].currency}"
                                    ng-disabled="(!updateRole&&dataObj.id!=null)"
									autocomplete="off"
									ng-model="dataObj.currency"
									uib-typeahead="lovObject as lovObject.currencyCode for lovObject in localCurrencySearch($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true" 
									 typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="selectedCurrency(dataObj);moveToNextField('currencyRoe',$index)"
									typeahead-focus-on-select="false"
									typeahead-focus-first="true"
									typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500" 
									>
								<span class="select-arrow"><b></b></span>	
                            </div>
                            </td>
                        <td data-headtitle="ROE" data-width="tw33per">
                                <input  type="text" 
                                id="currencyRoe{{$index}}"
                                		ng-change="calculateAmt(dataObj)" 
                                		class="form-control text-right" 
                                		ng-class="{'error-control':secondArr[$index].currencyRoe}" 
                                		ng-model="dataObj.currencyRoe"     
                                		ng-disabled="(!updateRole&&dataObj.id!=null)"
                                        input-focus="{{secondArr[$index].currencyRoe}}"
								/>
                            </td>
                        <td data-headtitle="Unit" data-required="true" data-width="tw33per" class="clearboth">
								<input  type="text" 
								efsdecimals="$root.weightDecimalPoint" efsdecimal-point="dependData.country.locale"
										ng-change="calculateAmt(dataObj)" 
										class="form-control text-right" 
										ng-class="{'error-control':secondArr[$index].unit}" 
										ng-model="dataObj.unit"   
										ng-disabled="(!updateRole&&dataObj.id!=null)"
                                        input-focus="{{secondArr[$index].unit}}"
								/>
                            </td>
                        <td data-headtitle="Amt per Unit" data-width="tw33per" class="text-right">
                                <input  
                                	type="text" 
                                	efsdecimals="dataObj.currency.decimalPoint" efsdecimal-point="dataObj.currency.countryMaster.locale"
                                	ng-change="calculateAmt(dataObj)" 
                                	class="form-control text-right" 
                                	ng-class="{'error-control':secondArr[$index].amountPerUnit}" 
                                	ng-model="dataObj.amountPerUnit"   
 									ng-disabled="(!updateRole&&dataObj.id!=null)"
									input-focus="{{secondArr[$index].amountPerUnit}}"
								/>
						</td>
						 <td data-headtitle="Amount" data-width="tw33per" class="text-right" >
                             {{currencyFormat(dataObj.currency,dataObj.amount)}}
						</td>
<!--                         <td data-headtitle="Amount" data-width="tw33per" class="text-right clearboth"> -->
<!--                                  {{currencyFormat(dataObj.currency,dataObj.amount)}} -->
                                								
<!--                             </td> -->
                        <td data-headtitle="Local Amount" data-width="tw33per"  class="text-right clearboth">
                                {{currencyFormat(dependData.localCurrency,dataObj.localAmount)}}
                                							
                            </td>
                        <td data-headtitle="Due" data-width="tw33per">
                            <select
                                    class="form-control last-child"
                                    ng-class="{'error-control':secondArr[$index].due}"
                                    ng-options="item for item in dueArr"
                                    ng-model="dataObj.due"
                                    ng-disabled="(!updateRole&&dataObj.id!=null)">
                            </select>

						</td>
                        <td data-nofloat="true" data-action="true">
                            <ul class="list-inline ">
                            <li>
                                <a href="javascript:void(0);"
                                   ng-click="fnRole({param:addRole})?copyObj(dataObj):''">
                                   <i class="icon-copy" bs-tooltip="copy"></i>
                                </a>
                            </li>
                                <li><a href="javascript:void(0);"
                                       ng-click="fnRole({param:deleteRole})?removeObj(dataObj,$index):''">
                                    <i class="icon-delete" data-placement="bottom"   bs-tooltip="delete"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot class="bg-danger">
                    <tr>
                        <td class="text-right">Total </td>
                        <td colspan="10" class="text-right">{{currencyFormat(dependData.localCurrency,totalLocalAmt)}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div><!--conn tab ends-->
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn"
                                            ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>