<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Charge History</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide();initialPage();">Close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                   <div class="row nomargin pt-15 noborder shade3">
                   
                       <div class="row nomargin">
         <div class="col-xs-6 pl0">
         </div>
        </div>
   <div >
        <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="addRow()">
                    <thead>
                    <tr>
	                    <th class="inl_xs">#</th>
	                    <th class="inl_s">Revision Type</th>
	                    <th class="inl_m">Revised Date</th>
	                    <th class="inl_s">Charge Code</th>
	                    <th class="inl_sm">Charge Name</th>
	                    <th class="inl_s">C / R / N</th>
	                    <th class="inl_s">PP / ​​​​​​​CC</th>
	                    <th class="inl_xs">Currency</th>
	                    <th class="inl_xs text-right">ROE</th>
	                    <th class="inl_xs">No of Unit</th>
	                    <th class="inl_xs text-right">Amt per Unit</th>
	                    <th class="inl_xs text-right">Amount</th>
	                    <th class="inl_xs text-right">Local Amount ({{dependData.localCurrency.currencyCode}})</th>
	                    <th class="inl_s">Due</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dataObj in auditArr track by $index">
                        <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                         <span ng-show="secondArr[$index].errRow" >
                             <a tabindex="-1" href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                 <b class="glyphicon glyphicon-warning-sign"></b>
                             </a>
                         </span>
                        <span ng-show="!secondArr[$index].errRow">
                        {{$index+1}}
                        </span>
                        </td>
                        <td data-headtitle="Revision Date" data-required="true" data-width="tw30per">
                            {{dataObj.revisionType | AuditFilter}}
                        </td>
                         <td data-headtitle="Revised Date" data-required="true" data-width="tw30per">
                            {{$root.dateAndTimeToString(dataObj.auditDate)}}
                        </td>
                        <td data-headtitle="Charge Code" data-required="true" data-width="tw30per">
                            {{dataObj.chargeCode}}

                        </td>
                        <td data-headtitle="Charge Name" data-required="true" data-width="tw30per">
                            {{dataObj.chargeName}}
                        </td>
                        <td data-headtitle="C / R / N" data-required="true" data-width="tw30per">
                            {{dataObj.crn}}
                        </td>
                        <td data-headtitle="PP / CC" data-width="tw30per" class="clearboth">
                            {{dataObj.ppcc}}
                        </td>
                        <td data-headtitle="Currency" data-width="tw30per">
                            {{dataObj.currency.currencyCode}}
                            </td>
                        <td data-headtitle="ROE" data-width="tw30per" class="text-right">
                                {{$root.weightFormat(dataObj.currencyRoe,dataObj.currencyMaster.countryMaster.locale)}}
                            </td>
                        <td data-headtitle="Unit" data-required="true" data-width="tw30per" class="text-right clearboth">
								{{dataObj.unit}}
                            </td>
                        <td data-headtitle="Amt per Unit" data-width="tw30per" class="text-right">
                                {{$root.weightFormat(dataObj.amountPerUnit,dataObj.currencyMaster.countryMaster.locale)}}
						</td>
                        <td data-headtitle="Amount" data-width="tw30per" class="text-right clearboth">
                                 {{currencyFormat(dataObj.currency,dataObj.amount)}}
                                								
                            </td>
                        <td data-headtitle="Local Amount" data-width="tw30per"  class="text-right clearboth">
                                {{currencyFormat(dependData.localCurrency,dataObj.localAmount)}}
                                							
                            </td>
                        <td data-headtitle="Due" data-width="tw30per">
                            {{dataObj.due}}
						</td>
                    </tr>
                    
                    </tbody>
                </table>
                
                    </div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
                    </div>
                    </div>
                </div>
            </div><!--body ends-->


<!--             <div class="modal-footer modfooter">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="flightScheduleLimit"
                                                        ng-change="flightScheduleLimitChange(flightScheduleLimit)" ng-options="v for v in flightScheduleLimitArray">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <pagination-dr  page="flightSchedulePage" size="flightScheduleLimit" total=flightScheduleTotalRecord page-change="flightScheduleChangePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                                         -->
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


