
<div class="mb-20">
	<div class="table-responsive">
		<table class="table table-inline-nopad mb0">
			<thead>
				<tr>
					<th class="inl_sno">#</th>
					<th class="inl_s">{{invoiceCreditNote.shipmentUid!=null?'Service Name':'Job Id'}}</th>
					<th class="inl_s">Charge Code</th>
					<th class="inl_sm">Charge Name</th>
					<th class="inl_s">C / R / N</th>
					<th class="inl_s">Currency</th>
					<th class="text-right inl_s">ROE</th>
					<th class="text-right inl_s">Unit</th>
					<th class="text-right inl_s">Amt per Unit</th>
					<th class="text-right inl_s">Amount</th>
					<th class="text-right inl_s">Amount
						({{invoiceCreditNote.localCurrency.currencyCode}})</th>
					<th class="text-right inl_s">Amount
						({{invoiceCreditNote.billingCurrency.currencyCode}})</th>
					<th class="inl_s">Debit / Credit</th>
					<th class="inl_xs">Taxable</th>
				</tr>
			</thead>
			<tbody
				ng-repeat="invoiceCreditNoteDetail in invoiceCreditNote.invoiceCreditNoteDetailList track by $index">
				<tr>
					<td>{{serialNo($index)}}</td>
					<td ng-show="invoiceCreditNote.shipmentUid!=null"><a
						ng-click="goToShipmentScreen(invoiceCreditNoteDetail.shipmentServiceDetail)"
						ng-class="invoiceCreditNoteDetail.shipmentServiceDetail.serviceUid!=null?'hyperLink mb0':''">
							{{invoiceCreditNoteDetail.shipmentServiceDetail.serviceUid!=null?invoiceCreditNoteDetail.shipmentServiceDetail.serviceUid:'-'}}</a>
					</td>

					<td ng-show="invoiceCreditNote.shipmentUid==null"><a
						ng-click="invoiceCreditNoteDetail.shipmentServiceDetail.serviceUid!=null?goToShipmentScreen(invoiceCreditNoteDetail.shipmentServiceDetail):goToConsolScreen()"
						ng-class="'hyperLink mb0'">
							{{invoiceCreditNoteDetail.shipmentServiceDetail.serviceUid!=null?invoiceCreditNoteDetail.subJobSequence:invoiceCreditNote.masterUid}}</a></td>
					<td>{{invoiceCreditNoteDetail.chargeMaster.chargeCode}}</td>
					<td>{{invoiceCreditNoteDetail.chargeMaster.chargeName}}</td>
					<td>{{invoiceCreditNoteDetail.crn}}</td>
					<td>{{invoiceCreditNoteDetail.currencyMaster.currencyCode}}</td>
					<td class="text-right ">{{currencyRoeFormat(invoiceCreditNote.localCurrency,invoiceCreditNoteDetail.roe)}}</td>
					<td class="text-right">{{weightFormat(invoiceCreditNoteDetail.unit,invoiceCreditNote.localCurrency.countryMaster.locale)}}</td>
					<td class="text-right">{{currencyFormat(invoiceCreditNoteDetail.currencyMaster,invoiceCreditNoteDetail.amountPerUnit)}}</td>
					<td class="text-right">{{currencyFormat(invoiceCreditNoteDetail.currencyMaster,invoiceCreditNoteDetail.amount)}}</td>
					<td class="text-right">{{currencyFormat(invoiceCreditNote.localCurrency,invoiceCreditNoteDetail.localAmount)}}</td>
					<td class="text-right">{{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNoteDetail.currencyAmount)}}</td>
					<td>{{invoiceCreditNoteDetail.debitCredit}}</td>
					<td>{{invoiceCreditNoteDetail.isTaxable?'Yes':'No'}}</td>
					
				</tr>


			</tbody>
		</table>
	</div>
</div>
