<div class="modal resModal" role="dialog">
   <div class="modal-dialog modal-md">
      <div class="modal-content">
         <div class="modal-header nopadding">
            <div class="row plr14px">
               <div class="col-xs-6">
                  <h4>Change Profile</h4>
               </div>
               <div class="col-xs-6 mt-7">
                  <ul class="list-inline pull-right">
                     <li class="plr0"><button type="button" tabindex="-1"
                        class="btn btn-property accent-btn pull-right mr20"
                        ng-click="$hide()">Close</button></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="modal-body minH-130 pt10">
            <div class="row">
               <div class="col-md-12 plr0">
                  <div class="col-md-6 form-group ">
                     <label>Company</label> <select class="form-control"
                        ng-model="userProfile.selectedCompany" id="changeProfileCompany"
                        ng-change="populatCompanyChange();navigateToNextField('changeProfileLocation')" 
                        ng-options="company as company.companyName for company in userProfile.profileCompanyList"></select>
                  </div>
                  <div class="col-md-6 form-group">
                     <label>Location</label> <select class="form-control"
                        ng-model="userProfile.selectedUserLocation" id="changeProfileLocation"
                        ng-change="changeProfile()" 
                        ng-options="location as location.locationName for location in userProfile.profileCompanyLocationlist"></select>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>