<div>
	 <div class="credentials" >
		<div class="credentials-panel">
			<img class="fsl-logo" src="../../../assets/images/fsl_logo.png">
			<div ng-show="forgotPassword==null" class="login">
				<form role="form" id="loginForm" class="form-horizontal" name="loginForm" ng-submit="login()">
					<div show-response></div>
					<div class="login-wrapper">
						
						<div class="mb-15">
						<div class="input-group">
							<span class="input-group-addon"><span><img src="../assets/images/saas.png"></span></span>
							<input type="text" class="form-control" input-focus="true" ng-class="{'error-control':loginForm.saasId.$error.required && !loginForm.saasId.$pristine}" name="saasId"  id="saasId" placeholder="SaaS Id"
							ng-model="loginDto.saasId" ng-required="true" maxlength="8" capitalize alphanumeric ng-change="loginDto.saasId = loginDto.saasId.split(' ').join('')">


						</div>
						<div ng-show="loginForm.saasId.$error.required && !loginForm.saasId.$pristine" class="error-element">
							<span class="error-message"><small>Enter SaaS Id</small></span>
						</div>
						</div>
						
						<div class="mb-15">
						<div class="input-group">
							<span class="input-group-addon"><span class="icon-user"></span></span>
							<input type="text" class="form-control" ng-class="{'error-control':loginForm.userName.$error.required && !loginForm.userName.$pristine}" name="userName"  id="userName" placeholder="Username"
							ng-model="loginDto.userName" ng-required="true" maxlength="30">


						</div>
						<div ng-show="loginForm.userName.$error.required && !loginForm.userName.$pristine" class="error-element">
							<span class="error-message"><small>Enter Username</small></span>
						</div>
						</div>
						<div class="mb-15">
							<div class="input-group ">
							 <span class="input-group-addon"><span class="icon-lock"></span></span>
							 <input type="password" class="form-control " ng-class="{'error-control':loginDto.password.$error.required && !loginDto.password.$pristine}" placeholder="Password" id="Password" name="Password"
							 ng-model="loginDto.password" ng-required="true" autocomplete="off" maxlength="30">
							</div>
							<div ng-show="loginDto.password.$error.required && !loginDto.password.$pristine" class="error-element">
								<span class="error-message"><small>Enter Password</small></span>
							</div>
						</div> 
						
						<input type="submit" angular-ripple class="btn btn-block" value="SIGN IN"/>
					</div>
         		</form>
         		<p class="mt-15"><a href="javascript:" ng-click="goToForgotPassword();">Trouble signing in ?</a></p>
    		 </div>
			<div ng-show="forgotPassword=='FORGOT'" class="auth-box">
				<div class="pad-15">
					<p>To reset your password, Please enter your registered Email ID</p>
					<form role="form">
						<div show-response></div>
						<div class="input-group mb-15">
							<span class="input-group-addon"><i class="fa fa-envelope-o"></i><!--<span class="icon-lock"></span>--></span>
							<input class="form-control bor-0" ng-model="forgotPasswordDto.emailId" placeholder="Enter Email ID">
						</div>
						<div class="text-center">
							<button type="submit" class="btn wFull" ng-click="sendForgotPasswordLink();">Reset</button>
						</div>
					</form>
				</div>
				<div class="text-center mtb-15">
					<p><a href="" ng-click="goToLogin();">Back to Login</a></p>
				</div>
			</div>
			<div ng-show="forgotPassword=='CONFIRM'" class="auth-box">
				<h4 class="mb-20 opc-8">Change Password</h4>
				<div class="pad-15">
					<form role="form1" >
						<div show-response></div>


						<input type="password" class="form-control bor-0" id="password1" placeholder="New Password" required autocomplete="off"
							   ng-class="{'error-control':resetPasswordForm.password.$error.required && !resetPasswordForm.password.$pristine}"
							   name="password1"
							   ng-model="forgotPasswordDto.password" >

						<input type="password" class="form-control bor-0 mt-15" id="confirm" required autocomplete="off"
							   ng-class="{'error-control':resetPasswordForm.confirm.$error.required && !resetPasswordForm.confirm.$pristine}"
							   name="confirm"  placeholder="Confirm Password"
							   ng-model="forgotPasswordDto.confirmPassword" >

						<div class="text-center" ng-show="forgotPasswordDto.confirmPassword!=null && forgotPasswordDto.confirmPassword==forgotPasswordDto.password">
							<button ng-click= "updatePassword()" class="btn btn-primary btn-block"  >Reset Password</button>			 </div>
					</form>
					<div class="row mt-15">
						<ul class="list-inline pull-right">
							<li>
								<button class="btn txt-white">Cancel</button>
							</li>
							<li>
								<button class="btn txt-white">Submit</button>
							</li>

						</ul>
					</div>
				</div>
			</div>
 		</div>
	</div>
	<div ng-show="forgotPassword!='CONFIRM'" class="navbar-fixed-bottom loginMenu">
		<div class="container-fluid">
			<div class="row">
				<ul class="list-inline pull-left">
					<li><a href="">ABOUT</a> </li>
					<li><a href="">PRICING</a> </li>
					<li><a href="">CONTACT</a> </li>
					<li><a href="">HELP</a> </li>
					<li><a href="/public/trailregistraion/user_trail_registration.html">New EFS Demo</a> </li>
					<li><a href="/public/user_registration/registration.html">SIGN UP</a> </li>
				</ul>
				<ul class="list-inline pull-right v-align">
					<li><a href="">POWERED BY</a> </li>
					<li>
						<a href=""><img src="../../../assets/images/newage_logo.png"></a>
					</li>
				</ul>
			</div>
		</div>
	</div><!--NAVBAR MENU BOTTOM ENDS-->
</div>
<mainefs-spinner spinner-status="mainpreloder"></mainefs-spinner>
