<div class="row">
    <div class="col-xs-12 mb-9">
        <div class="flex align-justify align-middle">
            <div>
                <div class="btngrp">
                    <button class="btn btn-xs btn-property btn-gray" ng-click="back()">
                    	<i class="icon-back-menu"></i> Back 
                    </button>
                    <button ng-hide="showButtonFlag" class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="add()">
                    	<i class="icon-add"></i> Add CFS Delivery Entry
                    </button>
                </div>
            </div>
            <!-- <div ng-hide="showButtonFlag">
                <ul class="list-inline" ng-hide ="false">
                    <li>
                        <ul class="list-inline li-p0">
                            <li>{{selectedRowIndex+1}}</li>
                            <li>of</li>
                            <li>{{totalRecord}}</li>
                        </ul>
                    </li>
                    <li class="pr0">
                        <ul class="list-inline next-prev">
                            <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                            <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                        </ul>
                    </li>
                </ul>
            </div> -->
            
        </div>
    </div><!--COL ENDS-->
    <div class="col-xs-12">
        <div class="panel panel-default masOpertion">
            <div class="panel-heading">
                <section class="row">
                    <div class="col-xs-3 mt-5">
                        <h4 class="mt-5">Shipment ID <span>SHP000301</span></h4>
                    </div>
                    
                    <div class="col-xs-9 text-right">
                        <ul class="list-inline masopertion-action mt-5">
                            <li>
                                <a href="javascript:void(0)" 
                                ng-click="showHistory=!showHistory" class="list-panel-edit-btn btn-icon" data-placement="bottom"     bs-tooltip="activity">
                                   <i class="fa fa-clock-o" ></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="editCFS()" class="list-panel-edit-btn btn-icon" data-placement="bottom" bs-tooltip="edit" ng-hide="showButtonFlag">
                                   <i class="icon-edit" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li><a class="" data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" ng-click="deletePartyType()"
								    class="list-panel-edit-btn cursorPt"><i
									class="icon-delete"></i></a></li>
                        </ul>
                    </div>
                </section>
            </div><!--panel heading ends-->
            <div  class="panel-body detail-body" id="service-panel" panel-height ng-nicescroll nice-option="{cursorcolor: '#3F8DEB', cursorwidth: '8px',smoothscroll: true}">
				<div class="row pt0 nomargin bor-btm-0">
					<div class="col-xs-12 plr0">
						<div class="table-responsive">
							<table class="table table-inline-nopad mb-10">
								<thead class="borderthead">
									<tr>
										<th class="inl_sno">#</th>
										<th class="inl_s text-right">Pieces</th>
										<th class="inl_m text-right">Gross Weight (KG)</th>
										<th class="inl_l">In Gate Time</th>
										<th class="inl_l">Out Gate Time</th>
										<th class="inl_m text-right">Volume (KG)</th>
										<th class="inl_s">Delay Code</th>
										<th class="inl_m">BOE</th>
										<th class="inl_m">Declaration No</th>
										<th class="inl_m">Truck No</th>
										<th class="inl_m">Driver Name</th>
										<th class="inl_xs"></th>

									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td class="text-right verticalaln">1</td>
										<td class="text-right verticalaln">209.00</td>
										<td class="verticalaln">2017-12-07 10:48 EDT</td>
										<td class="verticalaln">2017-12-07 21:48 EDT</td>
										<td class="text-right verticalaln">230.00</td>
										<td class="verticalaln">01</td>
										<td class="verticalaln">269874602589</td>
										<td class="verticalaln">526987460255</td>
										<td class="verticalaln">TN 22 BL 2017</td>
										<td class="verticalaln">Kishore</td>
										<td class="verticalaln">
										
										<a href="javascript:void(0);">
                                                                                    <i class="fa fa-info"
                                                                                        ng-click="moreviewmodel()"></i>
                                                                                </a>
															
															</td>


									</tr>
								</tbody>
								<tfoot class="bg-danger" style="border: 1px solid #F8DDAD">
									<tr>
										<td class="text-left verticalaln">Total</td>
										<td class="text-right verticalaln">1</td>
										<td class="text-right verticalaln">209.00</td>
										<td colspan="3" class="text-right verticalaln">230.00</td>
										<td colspan="6" class="verticalaln"></td>

									</tr>
								</tfoot>
							</table>
						</div>
					</div>

				</div>
				<!--ROW ENDS-->
                       
                      
                                            
                
                
                <div class="logs-view width42per logs-transition bg-white" ng-if="showHistory">
                    <div class="panel panel-default h100per">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <div class="panelTitle pt5">
                                        <span>
											<a
                                                href="javascript:void(0)"
                                                ng-click="showHistory=false"
												class="list-panel-back">
                                                <i class="icon-close-detail" 	data-placement="bottom"
                                                       bs-tooltip="close"></i>
                                            </a>
										</span>
                                    <span class="font-activity-name">Activity</span>
                                </div>
                            </div>
                        </div>
                        <div 	class="panel-body logs-body enquiry-activity" panel-height-fit-body activity-show="showHistory" 
                        		ng-nicescroll nice-option="{{ngScrollConfig}}" >
                            <div class="card">
                                <ul class="list-inline card-cell">
                                    <li>
                                        <hm-init-icon customer-name="cfsReceiveEntry.systemTrack.createUser"></hm-init-icon>
                                    </li>
                                    <li>
                                        <ul class="list-unstyled mt-5">
                                            <li><b>{{cfsReceiveEntry.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                            <li class="span text-muted">{{dateAndTimeToString(cfsReceiveEntry.systemTrack.createDate)}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <ul class="list-inline card-cell">
                                    <li>
                                        <hm-init-icon customer-name="cfsReceiveEntry.systemTrack.lastUpdatedUser"></hm-init-icon>
                                    </li>
                                    <li>
                                        <ul class="list-unstyled mt-5">
                                             <li><b>{{cfsReceiveEntry.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                            <li class="span text-muted">{{dateAndTimeToString(cfsReceiveEntry.systemTrack.lastUpdatedDate)}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div><!--panel body ends-->


        </div><!--panel ends-->
       
    </div><!--COL ENDS-->
</div><!--ROW ENDS-->