<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default rel">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{roleDto.id!=null?'Edit':'Add'}} Roles & Privileges</h4>
                    </div>
                    <div>
                        <ul class="list-inline masopertion-action">
                            <li>
                                <button type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                            </li>
                            <li>
                                <button  type="button"  class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="roleDto.id!=null?update():save()">{{roleDto.id!=null?'Update':'Save'}}</button>
                            </li>
                        </ul>
                    </div>
                </div><!--panel head ends-->
                <div class="panel-body pt5 half-master-edit" id="role-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                    <div class="row ptb-15">
                        <div class="col-xs-12 ">
                            <div show-response></div>
                            <div class="opc-5 f-12b4"><span class="reqColor">*</span><small> Indicates Mandatory fields</small></div>
                        </div>
                    </div>
                    
                    
                    <form role="form"  id="roleform" name="roleform">
                        <div class="form-group mb0">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 plr0">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <label class="custom-label">Name<span class="reqColor">*</span></label>
								<input input-focus="true" type="text" class="form-control"
									id="roleName" name="roleName"
									ng-model="roleDto.roleName"
									ng-class="{'error-control':errorMap.get('roleName')!=null}"
									maxlength="100" ng-change="validateRole(1)">
								<div>
									<span class="error-message" ng-show="errorMap.get('roleName')!=null"><small>{{errorMap.get('roleName')}}</small></span>
								</div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pl0" ng-if="roleDto.id!=null">
                                    <label class="custom-label">Status </label>

                                <select class="form-control status" id="status"
                                        ng-class="setStatus(roleDto.status)"
                                        ng-options="item for item in enum['LovStatus']"
                                        ng-model="roleDto.status" required>
                                </select>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                        </div>
                        <div class="form-group mb0">
                            <div class="row">
                                 <div class="col-xs-8 col-sm-8 col-md-8 col-lg-6">
                                    <label>Description</label>
                                    <textarea 
                                            msd-elastic maxlength="4000"
                                            class="form-control minH-80 txtarea100"
                                            id="" name="description"
                                            ng-model="roleDto.description">
                                    </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row tabBox">
                            <div class="col-md-12 nopadding">
                                <ul class="nav btn-tabs" role="tablist"  ng-init="clickOnTabView(roleDto.id,'privileges')">
                                    <li>
                                        <button type="button" class="btn" ng-click="clickOnTabView(roleDto.id,'privileges')" ng-class="Tab=='privileges'?'active':'btn-normal'">Privileges</button>
                                    </li>
                                    <li ng-hide="true">
                                        <button  type="button" class="btn" ng-click="Tab='assigned'" ng-class="Tab=='assigned'?'active':'btn-normal'">Assigned To</button>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content padding15">
                                    <div role="tabpanel" ng-class="{'active' : Tab=='privileges', '' : Tab!='privileges'}" class="tab-pane">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" ng-init="showcheck=false">
                                                
                                                <button ng-hide="true" type="button" class="btn accent-btn  mb-10" ng-click=""><i class="icon-add txt-white"></i> Add Modules </button>
                                                <button type="button" class="btn btn-green mb-10" ng-click="showRoles()">Get Privileges from Roles </button>
                                                <div class="table-responsive roles_table" ng-if="treeLoaded">
                                                
                                                <tree-grid
                                                	col-defs      = "col_defs"
												    tree-data     = "tree_data"
												    icon-leaf     = "fa fa-none"
												    icon-expand   = "fa fa-plus"
												    icon-collapse = "fa fa-minus"
												    expand-level = "2"
												    template-url  = "app/shared/tree-grid/table-grid.html">
												</tree-grid>

                                                    
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" ng-class="{'active' : Tab=='assigned', '' : Tab!='assigned'}" class="tab-pane">
                                        <div class="row bg-gray border-visible mtminus-15">
                                            <div class="col-xs-12 mt-15">
                                                <button type="button" class="btn accent-btn mb-10" ng-click="addAssociate()"><span class="icon-add"></span> Add User </button>
                                                <p class="opc-5">{{userData.length}} users have been assigned this role</p>
                                            </div>
                                            <div class="col-xs-8 ">
                                               <table class="table table-inline tab-bordered" tab-nav>
                                                   <thead>
                                                   <tr>
                                                       <th class="w50px">#</th>
                                                       <th >User</th>
                                                       <th class="w100px text-center">Action</th>
                                                   </tr>
                                                   </thead>
                                                   <tbody>
                                                   <tr ng-repeat="userDto in roleDto.userList track by $index">
                                                       <td class="w50px text-center" >
                                                            {{$index+1}}
                                                       </td>
                                                       <td>
                                                       
                                                       
                                                       <div class="select-auto">
														<input type="text" class="form-control" 
															autocomplete="off" ng-model="userDto.userName"
															uib-typeahead="userObject.userName as userObject.userName for userObject in ajaxUserEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select=""
															typeahead-focus-on-select="false"
															typeahead-focus-first="true" typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500">
														<span class="select-arrow"><b></b></span>
														</div>

                                                           
                                                       </td>
                                                       <td class="text-center">
                                                           <ul class="list-inline">
                                                               <li><a href="javascript:void(0);" ng-click="removeAssociate($index)"><i class="icon-delete"></i></a></li>
                                                           </ul>
                                                       </td>
                                                   </tr>
                                                   </tbody>
                                               </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!--row ends-->
                    </form><!--form ends-->
                </div><!--panel body ends-->

                <!--<div   class="wrapper-back-drop" ></div>-->

                <div ng-hide="!rolesList" class="logs-transition sideView widP65per">
                    <select-list-picker panel-title="rolePanel" selected="selectedItem"
                                        data="roleListArr" cancel-event="cancelRoles()"
                                        click-event="selecteRoles(param)" ajax-event="ajaxRoleList(param)"
                                        config="roleConfig"></select-list-picker>
                </div>
                <!-- <div ng-hide="!addRoles" class="logs-transition sideView">
                    <select-list-picker panel-title="panelTitle1" selected="selectedItem"
                                        data="addRolesArr" cancel-event="canceladdRole()"
                                        click-event="selecteRoleGroup(param)" ajax-event="ajaxRoleList(param)"
                                        config="addRoleConfig"></select-list-picker>
                </div> -->
                </div>
            </div><!--panel ends-->
        </div>
    </div>
</div>


<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">

                        <div class="col-xs-8">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>


