
<div class="container-fluid pl0 pr0 resPortListPage resLandListPage">
    <div class="row ml0 mr0">
    
        <div class="list-container col-md-12 " ng-show="!treeLoaded">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panelTitle">
                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()"><i class="icon-add"></i> Add Roles & Privileges</a>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right text-right">
                            <i class="icon-settings"></i>
                        </div>
                    </div>
                </div>
                <div show-response></div>
                <div class="panel-body no-tab-table" panel-height>
                    <div class="table-fixed table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                        <super-table 	data="rolesArr"
                                        head="rolesHeadArr"
                                        sort="sortSelection"
                                        click-event="rowSelect(param)"
                                        search-event="changeSearch(param)"
                                        sort-event="sortChange(param)"
                                        page="page" size="limit" >
                        </super-table>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="pull-left">
                        <ul class="list-inline">
                            <li>Show</li>
                            <li>
                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                </select>
                            </li>
                            <li>Entries</li>
                        </ul>
                    </div>
                    <div class="pull-right text-right">
                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                    </div>
                </div>
            </div><!--panel ends-->
        </div>
        <div class="detail-container col-md-12 nopadding " ng-show="treeLoaded">
            <div class="row" >
                <div class="col-xs-12 mb-5">
                    <div class="flex align-justify align-middle">
                        <div>
                            <div class="btngrp">
                                <button class="btn btn-xs btn-property btn-gray" ng-click="cancel()"><i class="icon-back-menu"></i> Back </button>
                                <button class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="add()"><i class="icon-add"></i> Add Roles & Privileges</button>
                            </div>
                        </div>
                        <!-- <div>
                            <ul class="list-inline" >
                                <li>
                                    <ul class="list-inline li-p0">
                                        <li>{{selectedRecordIndex+1}}</li>
                                        <li>of</li>
                                        <li>{{totalRecord}}</li>
                                    </ul>
                                </li>
                                <li class="pr0">
                                    <ul class="list-inline next-prev">
                                        <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                                        <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                                    </ul>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div><!--COL ENDS-->
            </div>
            <div class="panel panel-default detail-transition" >
                <div class="panel-heading panel-heading-sm">
                    <div class="pull-left">
                        <div class="panelTitle">
							<!-- <span>
								<a data-placement="bottom"   bs-tooltip="close" href="javascript:void(0)" ng-click="cancel()"
                                   class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span> -->
                            <span>Roles & Privilegess</span>
                        </div>
                    </div>
                    <div class="pull-right text-right">
						<ul class="list-inline text-right">
							<!--<li><i class="icon-settings"></i></li>-->
							<li><a  href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="actClick('TRUE')"
									><i data-placement="bottom"   bs-tooltip="activity" class="icon-logs"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="edit()"
								   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)"
								   ng-click="deleteRole()" class="list-panel-edit-btn cursorPt"><i
									class="icon-delete"></i></a></li>
						</ul>
					</div>
                </div>
                <div class="panel-body detail-body plr15" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <div ng-click="actClick('FALSE')">

                        <div class="row metadata-detail">
                             <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ptb-15">
                                <span >Name</span>
                                <h5 >{{roleDto.roleName}}</h5>
                            </div>
                            
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ptb-15">
                                <span >Status</span>
                                <show-status status="{{roleDto.status}}"></show-status>
                            </div>
                        </div>
                         <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ptb-15">
                                <span >Description</span>
                                <h5 >{{ifDataElseHifen(roleDto.description)}}</h5>
                            </div>
							</div>
                    
                       
                        <div class="row">
                            <hr class="nomargin">
                        </div>
                        <div class="row tabBox">
                            <div class="col-md-12 nopadding">
                                <ul class="nav btn-tabs" role="tablist" ng-init="clickOnTabView('privileges')">
                                    <li>
                                        <button type="button" class="btn" ng-click="clickOnTabView('privileges')" ng-class="Tab=='privileges'?'active':'btn-normal'">Privileges</button>
                                    </li>
                                    <li ng-hide="true">
                                        <button type="button" class="btn" ng-click="Tab='assigned'" ng-class="Tab=='assigned'?'active':'btn-normal'">Assigned To</button>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content padding15">
                                    <div role="tabpanel" ng-class="{'active' : Tab=='privileges', '' : Tab!='privileges'}" class="tab-pane">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                                <div class="table-responsive roles_table" ng-if="treeLoaded">
                                                
                                                <tree-grid
                                                	col-defs      = "col_defs"
												    tree-data     = "tree_data"
												    icon-leaf     = "fa fa-none"
												    icon-expand   = "fa fa-plus"
												    icon-collapse = "fa fa-minus"
												    expand-level = "2"
												    on-select = "my_tree_handler(branch)"
												    template-url  = "app/shared/tree-grid/table-grid.html">
												</tree-grid>
												
                                                    
                                                </div>

											</div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" ng-class="{'active' : Tab=='assigned', '' : Tab!='assigned'}" class="tab-pane">
                                        <div class="row bg-gray border-visible mtminus-15">
                                            <div class="col-xs-12 mt-15">
                                                <p class="opc-5">{{roleDto.userList.length}} users have been assigned this role</p>
                                            </div>
                                            <div class="col-xs-12 nopadding">
                                                <ul class="list-group" >
                                                    <li class="list-group-item" ng-repeat="user in roleDto.userList track by $index">{{$index+1}}.{{user.userName}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!--row ends-->

                    </div>
                    <div class="logs-view logs-transition width42per widP55per widL55per" ng-show="showHistory">
                        <div class="panel panel-default">
                            <div class="panel-heading ">
                                <div class="pull-left">
                                    <div class="panelTitle">
										<span>
											<a  href="javascript:void(0)" ng-click="actClick('FALSE')"
                                               class="list-panel-back"><i data-placement="bottom"   bs-tooltip="close" class="icon-close-detail"></i></a>
										</span>
                                        <span>Activity</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
                                <div class="card">

                                    <ul class="list-inline card-cell">
                                        <li>
                                            <hm-init-icon customer-name="roleDto.systemTrack.createUser"></hm-init-icon>
                                        </li>
                                        <li>
                                            <ul class="list-unstyled mt-5">
                                                <li><b>{{roleDto.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                                <li class="span text-muted">{{dateAndTimeToString(roleDto.systemTrack.createDate)}}</li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>

                                <div class="card">
                                    <ul class="list-inline card-cell">
                                        <li>
                                            <hm-init-icon customer-name="roleDto.systemTrack.lastUpdatedUser"></hm-init-icon>
                                        </li>
                                        <li>
                                            <ul class="list-unstyled mt-5">
                                                <li><b>{{roleDto.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                                <li class="span text-muted">{{dateAndTimeToString(roleDto.systemTrack.lastUpdatedDate)}}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!--detail Container ends-->
    </div>
</div>
<!--
<script type="text/ng-template" id="tree_item_renderer.html">
    {{check || data.chk?data.featureName:''}}

    <ul style="list-style: circle;" ng-if="check || data.chk">
        <li style="margin-left: 20px;" ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'" ng-model="check=false"></li>
        
    </ul>
</script>-->
