<div class="sidebarMenu">
    <div class="menuTitle">
        <a href=""><i><span ng-click="sidebarOpenMenu()" class="icon-menu hamburger-icon"></span></i> Main menu</a>
    </div>
    <ul menu-height ng-nicescroll nice-option="{{ngScrollConfig}}">
        <li class=" " ng-repeat="mainMenuObj in mainMenuArr">
            <a ng-class="{'activeMenu':activeState==mainMenuObj.activeMenu}"
               ng-click="!mainMenuObj.submenu ? openMenuLink(mainMenuObj.link) : openSubMenu(mainMenuObj,'level2')" href="javascript:;">
                <i class=""><span class="{{mainMenuObj.icon}} width"></span></i> <b class="">{{mainMenuObj.title}}</b>
                <span ng-if="mainMenuObj.submenu" class=" icon-r-arrow"></span>
            </a>
        </li>

        <!--<li><a href=""><i><span class="icon-help"></span></i>  Help</a></li>-->
    </ul>
</div>
