<div class="inlineTable">
    <button type="button" class="btn btn-info btn-property mb10 accent-btn"
            ng-click="fnRole({param:addRole})?addRow():''" tabindex="-1">
        <i class="icon-add"></i> Add Division Mapping
    </button>
    <div class="table-responsive">
        <table class="table table-inline-nopad" sm-table-responsive watch-data="tableData" tab-nav tab-row="fnRole({param:addRole})?addRow():''">
            <thead class="borderthead">
            <tr>
                <th class="inl_sno">#</th>
                <th class="inl_l">Company<span class="reqColor">*</span> </th>
                <th class="inl_l">Division</th>
                <th class="inl_xs">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="partyCompany in tableData track by $index">
                <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                <span ng-show="secondArr[$index].errRow" >
                    <a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                        <img src="../../../../assets/images/error.png"/>
                    </a>
                </span>
                <span ng-show="!secondArr[$index].errRow">
                {{$index+1}}
                </span>
                </td>
                <td data-headtitle="Company" data-required="true" data-width="tw50per">
                    <div class="select-auto">
                         <input type="text" class="form-control" 
										input-focus="{{secondArr[$index].companyNameFocus}}" 
										ng-class="{'error-control-auto':secondArr[$index].companyName}" 
										autocomplete="off" ng-model="partyCompany.companyMaster" 
										ng-disabled="(!updateRole&&partyCompany.id!=null)"  
										uib-typeahead="lovObject as lovObject.companyName for lovObject in ajaxCompanyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="changeDivision(partyCompany,'divisionServiceName'+$index);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>
                </td>
                <td data-headtitle="Division" data-width="tw50per">
                    <div class="select-auto">
                    
                        <input type="text" id="divisionServiceName{{$index}}" class="form-control last-child" 
										ng-class="{'error-control-auto':secondArr[$index].divisionName}" 
										 ng-disabled="(!updateRole&&partyCompany.id!=null)"  
										autocomplete="off" ng-model="partyCompany.divisionMaster"
										uib-typeahead="lovObject as lovObject.divisionName for lovObject in ajaxDivisionEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                    </div>

                </td>
                <td data-nofloat="true" data-action="true">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);"
                               ng-click="fnRole({param:deleteRole})?removeObj(partyCompany,$index):''">
                            <i class="icon-delete" data-placement="bottom"   bs-tooltip="edit"></i></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>