<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form">
            	<!--panel starts-->
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading bg-trans">
                        <div class="w-50">
                            <h4>{{portGroupMaster.id == null ? 'Add' : 'Edit'}} Port Group</h4>
                        </div>
                        <div class="w-50">
                            <ul class="list-inline text-right masopertion-action">
                                <li>
                                    <button  tabIndex="0" type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                                </li>
                                <li>
                                    <button tabIndex="0" type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveOrUpdate()"> {{portGroupMaster.id == null ? 'Save' : 'Update'}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit" id="group-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-9 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name <span class="reqColor">*</span></label>
                                <input 	type="text" 
                                		class="form-control"
                                       	id="portGroupName" 
                                       	name="portGroupName"
                                       	ng-model="portGroupMaster.portGroupName"
										input-focus="{{errorMap.get('portGroupName')!=null}}"
                                       	ng-class="{'error-control':errorMap.get('portGroupName')!=null}"
                                       	maxlength="100" 
                                       	ng-change="validatePortGroupMaster(1)">
                                    <span class="error-message" ng-show="errorMap.get('portGroupName')!=null">
                                    	<small> {{errorMap.get('portGroupName')}} </small>
                                    </span>
                            </div>
                        </div>
                    	<div class="row ">
                    	   <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 form-group nomargin pl0">
                                <label class="custom-label">Code <span class="reqColor">*</span></label>
                                <input 	type="text" 
                                		class="form-control" 
                                		id="portGroupCode"
                                       	name="portGroupCode" 
                                       	ng-model="portGroupMaster.portGroupCode"
                                       	input-focus="{{errorMap.get('portGroupCode')!=null}}"
                                       	ng-class="{'error-control':errorMap.get('portGroupCode')!=null}"
                                       	maxlength="10" 
                                       	capitalize 
                                       	ng-change="validatePortGroupMaster(2)"
                                       	ng-disabled="portGroupMaster.id!=null">

                                    <span class="error-message" ng-show="errorMap.get('portGroupCode')!=null">
                                    	<small>{{errorMap.get('portGroupCode')}} </small>
                                    </span>
							</div>
							
							
							
                            <div class="col-sm-4 col-xs-6 col-md-4 col-lg-4 form-group nomargin pl0">
                                <label class="custom-label"> Country <span class="reqColor">*</span> </label>
                                <div class="select-auto">
                                         <input type="text" class="form-control" 
										input-focus="{{errorMap.get('country')!=null}}" 
										ng-class="{'error-control':errorMap.get('country')!=null}" 
										autocomplete="off" ng-model="portGroupMaster.countryMaster" 
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedCountry();" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                </div>
                                 <span class="error-message" ng-show="errorMap.get('country')!=null">
                                 	<small> {{errorMap.get('country')}} </small>
                                 </span>
                            </div> 
					 
							
							 <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 nomargin form-group  pl0" ng-class="portGroupMaster.id!=null?'visible-show':'visible-hide'">
                                        <label class="custom-label">Status</label>
                                        <select  class="form-control status" id="status"
                                                ng-class="setStatus(portGroupMaster.status)"
                                                ng-options="item for item in enum['LovStatus']"
                                                ng-model="portGroupMaster.status" required>
                                        </select>
							</div>
						
							
                        </div>
 						
                    </div>
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>

