<div class="container-fluid m15">
	<div class="row nomargin" ng-click="invoice=!invoice" ng-init="invoice=true">
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Invoice & Credit Note</h5>
			</div>
			<div>
				<i class="{{invoice==true?'icon-uparrow':'icon-downarrow'}}"></i>
			</div>
		</div>
	</div>
	<div ng-hide="!invoice" class="accordian-content">
		<div class="row nomargin">
			<div class="col-xs-5 pl0">
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSignOffStatus('INV',consol,null)"><i class="icon-add opcfull"></i>  Add Invoice</button>
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSignOffStatus('CRN_COST',consol,null)"><i class="icon-add opcfull"></i>  Add Credit Note Cost</button>
				<button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSignOffStatus('CRN_REV',consol,null)"><i class="icon-add opcfull"></i>  Add Credit Note Revenue</button>
			</div>
			<div class="col-xs-7">
				<div class="row">

					<label class="pull-left pr8">Filter By</label>

					<div class="col-xs-5">
						<button-group btn-index=""
									  states="btnGrp.TypeArr"
									  state="searchDto.invoiceCreditNoteType"
									  on-state-change="filterInvoiceCreditNote(searchDto.invoiceCreditNoteType)"
								>
						</button-group>
					</div>
					<div class="col-xs-5">

						<button-group btn-index=""
									  states="btnGrpFilter.TypeArr"
									  state="searchDto.customerAgentType"
									  on-state-change="filterCustomerAgent(searchDto.customerAgentType)"
								>
						</button-group>
					</div>
				</div>
			</div>
		</div>
		<div class="table-responsive" ng-show="invoiceList.length>0">
			<table class="table table-inline mb-15">
				<thead>
				<tr>
					<th rowspan="2" class="w40px ">#</th>
     <th rowspan="2" class="w60px ">Daybook</th>
     <th rowspan="2" class="w100px " style="white-space: normal">Document No</th>
     <th rowspan="2" class="w60px ">Document <br> Date</th>
     <th rowspan="2"class="w60px " >Due Date</th>
     <th rowspan="2" class="w75px " >Adjustment <br> Daybook</th>
     <th rowspan="2" class="w85px " >Adjusted <br>Document No</th>
     <th rowspan="2" class="w100px ">Customer/Agent</th>
     <th rowspan="2" class="w75px " >{{appMasterData['Party_Label']}} Name</th>
     <th rowspan="2" class="w75px ">{{appMasterData['Party_Label']}}<br> Account  No</th>
     <!-- <th rowspan="2" >Subledger</th> -->
     <th colspan="3" class="text-center">Billing</th>
     <!-- <th colspan="3" class="text-center">Local</th> -->
     <th rowspan="2" class="w60px ">More</th>
    </tr>
    <tr>
      <th class="w60px ">Currency</th>
      <th class="text-right w80px">Amount</th>
      <th class="text-right w80px">Balance <br>  Amount</th>
      
      <!-- <th>Currency</th>
      <th class="text-right" >Amount</th>
      <th class="text-right w60px" >Balance <br>  Amount</th> -->
					
				</tr>

				</thead>
				<tbody ng-repeat="invoice in invoiceList | filter:{customerAgent: customerAgent,invoiceStatus:invoiceCreditNoteStatus,documentTypeCode:documentTypeCode} | orderBy : '-id' track by $index">
				
				<tr>
					<td>{{$index+1}}</td>
					<td>{{invoice.daybookCode}}</td>
					<td>{{invoice.invoiceCreditNoteNo}}
					</td>
					<td>{{dateToString(invoice.invoiceCreditNoteDate)}}</td>
					<td>{{dateToString(invoice.dueDate)}}</td>
					<td style="width:130px !important;white-space: pre-wrap !important;">{{invoice.adjDaybookCode!=null?invoice.adjDaybookCode:'-'}}{{invoice.adjDaybookName!=null?'-'+invoice.adjDaybookName:''}}</td>
					<td>{{invoice.adjustmentInvoiceNo!=null?invoice.adjustmentInvoiceNo:'-'}}</td>
					<td>{{invoice.customerAgent}}</td>
					<td style="width:200px !important;white-space: pre-wrap !important;">{{invoice.partyName}}</td>
					<td>{{invoice.accountCode}}</td>
					<td>{{invoice.subledger}}</td>
					<td>{{invoice.currencyCode}}</td>
					<td class="text-right">
					 {{currencyFormatDecimalPoint(invoice.decimalPoint,invoice.locale,invoice.currencyAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormatDecimalPoint(invoice.decimalPoint,invoice.locale,invoice.outstandingAmount)}}
					</td>
					<!-- <td>{{invoice.locCurrencyCode}}</td>
					<td class="text-right">
					{{currencyFormatDecimalPoint(invoice.locCurDecimalPoint,invoice.locCurrLocale,invoice.localAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormatDecimalPoint(invoice.locCurDecimalPoint,invoice.locCurrLocale,invoice.outstandingAmount*invoice.roe)}}
					</td> -->
                    <td><a href="javascript:void(0);" ng-click="getInvoiceCrnView(invoice,null)"><i class="icon-notes"></i></a> </td>
				</tr>
				
				</tbody>
				
			</table>
		</div>
		<efs-spinner spinner-status="invoiceSpinner"></efs-spinner>
		<empty-record ng-show="!invoiceList || invoiceList.length==0" icon="invoice" text="Looks like there are no invoiceList records here"></empty-record>
	</div>
	<div class="row nomargin" ng-click="provisionalDisplay=!provisionalDisplay" ng-init="provisionalDisplay=true">
		<div class="flex align-middle align-justify title cursorPt nomargin">
			<div>
				<h5>Provisional Revenue/Cost</h5>
			</div>
			<div>
				<i class="{{provisionalDisplay==true?'icon-uparrow':'icon-downarrow'}}"></i>
			</div>
		</div>
	</div>
	<div class="accordian-content pl0 pr0" ng-hide="provisionalDisplay">
		<div ng-include="'app/components/air/consol_shipments_new_screen/views/provisionalcost.html'"></div>
	</div>
</div>


