<div class="table-responsive" ng-show="consol.chargeList.length>0">
    <table class="table table-inline tfoot-bor0 table-default tab-col11-bg"  >
        <thead>
        <tr>
            <th>#</th>
            <th class="text-center" >Charge Code </th>
            <th class="text-center">Charge Name</th>
            <th class="text-center" >C / R / N</th>
            <th class="text-center" >PP / CC</th>
            <th class="text-center" >Currency</th>
            <th class="text-center" >ROE</th>
            <th class="text-right">No of Unit</th>
            <th class="text-right">Amt per Unit</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Local Amount ({{consol.localCurrency.currencyCode}})</th>
            <th  class="text-center" >Due</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="consoleCharge in consol.chargeList">
            <td>{{serialNo($index)}}</td>
            <td class="text-center">{{consoleCharge.chargeMaster.chargeCode}}</td>
            <td class="text-center">{{consoleCharge.chargeName}}</td>
            <td class="text-center">{{consoleCharge.crn}}</td>
            <td class="text-center">{{consoleCharge.ppcc}}</td>
            <td class="text-center">{{consoleCharge.currency.currencyCode}}</td>
            <td class="text-right">{{currencyRoeFormat(consoleCharge.currency,consoleCharge.currencyRoe)}}</td>
            <td class="text-right">{{integerFormat(consoleCharge.unit,consol.country.locale)}}</td>
            <td class="text-right">{{currencyFormat(consoleCharge.currency,consoleCharge.amountPerUnit)}}</td>
            <td class="text-right">{{currencyFormat(consoleCharge.currency,consoleCharge.amount)}}</td>
            <td class="text-right">{{currencyFormat(consol.localCurrency,consoleCharge.localAmount)}}</td>
            <td >{{consoleCharge.due}}</td>
           </tr>
        </tbody>
        <tfoot class="bg-danger">
             <tr>
            <td  class="text-right">Total</td>
            <td colspan="10" class="text-right">{{currencyFormat(consol.localCurrency,consol.totalAmount)}}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>
<empty-record ng-show="!consol.chargeList || consol.chargeList.length==0" icon="charge" text="Looks like there are no charge records here"></empty-record>