
<div class="row mlr-15">
	<div class="col-xs-12 nopadding">
		<div class="table-responsive mt-15">
			<table class="table table-inline mt0">
				<thead class="borderthead">
					<tr>
						<th class="inl_sno">#</th>
						<th class="">Date</th>
						<th class="">User ID</th>
						<th class="">Response Code</th>
						<th class="">Status</th>
						<th class="">Message</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="aesFileStatusHistory in aesFileStatusHistoryList track by $index">
						<td>{{$index + 1}}</td>
						<td>{{(aesFileStatusHistory.createDate)}}</td>
						<td>{{aesFileStatusHistory.user_id}}</td>
						<td>{{aesFileStatusHistory.response_code}}</td>
						<td>{{aesFileStatusHistory.status}}</td>
						<td>{{aesFileStatusHistory.message}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
