<div class="row nomargin bor-btm-1">
    <div class="col-xs-12  nopadding    ">
        <div class="row  overflow-hidden nomargin">
            <div class="col-xs-12 col-sm-6 bor-r-1  bor-fix">
                <div class="row bor-btm-1   ">
                    <!--<h4 class="sub-title mb0"> USPPI / Shipper Details</h4>-->
                    <div class="col-xs-6 ptb-15">
                        <span>Intermediate Consignee</span>
                        <h6>{{aesFile.aesIntermediateConsignee.intermediateConsignee.partyName}}</h6>
                    </div>
                </div>

                <div class="row  ptb-15 bor-btm-1-border">
                    <div class="col-xs-4">
                        <span>Contact Name</span>
                        <h6>{{aesFile.aesIntermediateConsignee.firstName}} {{aesFile.aesIntermediateConsignee.lastName}}</h6>
                    </div>
                    <div class="col-xs-4">
                        <span>Contact No</span>
                        <h6>{{aesFile.aesIntermediateConsignee.contactNo}}</h6>
                    </div>

                </div>

            </div>
            <div class="col-xs-12 col-sm-6 bor-fix ">
                <div class="row ptb-15">
                    <div class="col-xs-12">
                        <span class="pb-20">Company Address</span>
                        <h6>{{aesFile.aesIntermediateConsignee.companyAddress.addressLine1}}</h6>
                        <h6>{{aesFile.aesIntermediateConsignee.companyAddress.addressLine2}}</h6>
                        <h6>{{aesFile.aesIntermediateConsignee.companyAddress.addressLine3}}</h6>
                        <h6>{{aesFile.aesIntermediateConsignee.companyAddress.addressLine4}}</h6>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
</div>