<div class="row mlr-15">
    <div class="col-xs-12 mt10 pl0">
        <button type="button" class="btn btn-property accent-btn"  ng-click="addCommodityRow()"><span class="icon-add"></span> Add Commodity </button>
    </div>
    <div class="col-xs-12 ptb-15 nopadding  nomargin">
        <div class="table-responsive fgmb0">
            <table class="table table-inline" sm-table-responsive watch-data="aesFile.aesCommodityList" tab-nav tab-row="addCommodityRow()">
                <thead class="borderthead">
                <tr>
                    <th rowspan="2" class="inl_sno">#</th>
                    <th rowspan="2" class="inl_s">Action<span class="reqColor">*</span></th>
                    <th rowspan="2" class="inl_s" >Origin of Goods<span class="reqColor">*</span></th>
                    <th rowspan="2" class="inl_m">License Type<span class="reqColor">*</span></th>
                    <th rowspan="2" class=" inl_m">Commodity<span class="reqColor">*</span></th>
                    <th rowspan="2" class=" inl_xs"> Schedule B / HTS Code<span class="reqColor">*</span></th>
                    <th colspan="2" class="text-center">Unit 1</th>
                    <th colspan="2" class="text-center">Unit 2</th>
                    <th rowspan="2" class="text-right inl_xxs">Value (USD)<span class="reqColor">*</span></th>
                    <th rowspan="2" class="text-right inl_xs">Gross Weight (KG)<span class="reqColor">*</span></th>
                    <th rowspan="2" class="inl_xs text-center"></th>
                    <th rowspan="2" class="inl_xs text-center"></th>
                </tr>
                <tr>
                    <th class="inl_xxs">Code</th>
                    <th class="text-right inl_xxs">No of Pieces</th>
                    <th class="inl_xxs">Code</th>
                    <th class="text-right inl_xxs">No of Pieces</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="aesCommodity in aesFile.aesCommodityList track by $index">
                    <td data-nofloat="true" ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                         <span ng-show="secondArr[$index].errRow" >
                             <a href="javascript:void(0);"  data-placement="right"     bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                 <img src="../../../../assets/images/error.png"/>
                             </a>
                         </span>
                        <span ng-show="!secondArr[$index].errRow">
                        {{$index+1}}
                        </span>
                    </td>
                    <td data-headtitle="Action" data-required="true"
												data-width="tw33per">
                        <div>
                              <select id="{{'aesAction'+$index}}" 
                            class="form-control"
                            ng-class="{'error-control':secondArr[$index].aesAction}"
                            ng-options="item for item in aesActionCommodity"
                            ng-change="navigateCommodity('originOfGoods'+$index)"
                            ng-model="aesCommodity.aesAction"
                             >
                          </select>
                        </div>
                    </td>
                    <td data-headtitle="Origin of Goods" data-required="true"
												data-width="tw33per">
                        <div class="form-group">
                                                
                             <div>
                              <select id="{{'originOfGoods'+$index}}" 
                            class="form-control"
                            ng-class="{'error-control':secondArr[$index].originOfGoods}"
                            ng-options="item for item in enum['OriginOfGoods']"
                            ng-change="navigateCommodity('licenseType'+$index)"
                            ng-model="aesCommodity.originOfGoods"
                             >
                          </select>
                        </div>
                            
                            
                        </div>
                    </td >
                    <td data-headtitle="License Type" data-required="true"
												data-width="tw33per">
                        <div class="form-group">
                            <div class="select-auto">
                                <input type="text" class="form-control"  id="{{'licenseType'+$index}}" 
                                		ng-class="{'error-control-auto':secondArr[$index].aesLicense}"  
										autocomplete="off"  ng-model="aesCommodity.aesLicense" 
										uib-typeahead="lovObject as lovObject.licenseType for lovObject in ajaxCommodityLicenseEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="navigateCommodity('commodityCom'+$index);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                            </div>
                        </div>
                    </td>
                    <td data-headtitle="Commodity" data-required="true"
												data-width="tw33per">
                        <div class="form-group">
                            <div class="select-auto">
                                <input type="text" class="form-control" id="{{'commodityCom'+$index}}" 
                                   ng-class="{'error-control-auto':secondArr[$index].commodityMaster}"
									autocomplete="off" ng-model="aesCommodity.commodityMaster"
									uib-typeahead="lovObject as lovObject.hsName for lovObject in ajaxCommodityEvent($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="navigateCommodity('aesSchedule'+$index);" 
									typeahead-focus-on-select="false"
									typeahead-focus-first="true" typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>     
                            </div>
                        </div>
                    </td>
                    <td data-headtitle="Schedule B / HTS Code" data-required="true"
												data-width="tw33per">
                        <div class="form-group">
                            <div class="select-auto">
                               <input type="text" class="form-control" id="{{'aesSchedule'+$index}}" 
							ng-class="{'error-control-auto':secondArr[$index].aesSchedule}" 
							autocomplete="off" ng-model="aesCommodity.aesSchedule" 
							uib-typeahead="lovObject as lovObject.scheduleCode for lovObject in ajaxScheduleEvent($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="setDefaultUnitValues(aesCommodity);navigateCommodity('commFrstPieces'+$index);" 
							typeahead-focus-on-select="false"
							typeahead-focus-first="true" typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500">
						<span class="select-arrow"><b></b></span>
                            </div>
                        </div>
                    </td>
                    <td data-headtitle="Code - Unit 1" data-width="tw33per">
                        <div class="form-group">
                                <input type="text" ng-disabled="true"  ng-model="aesCommodity.firstUnit.unitCode" 
                                ng-class="{'error-control':secondArr[$index].firstUnit}"
                                       class="form-control"  />

                        </div>
                    </td>
                    <td data-headtitle="No of Pieces - Unit 1" data-width="tw33per" class="text-right">
                        <div class="form-group">
                            <input type="text" class="form-control text-right" ng-model="aesCommodity.firstNoOfPieces" 
                            ng-class="{'error-control':secondArr[$index].firstNoOfPieces}"
                            maxlength="10" id="{{'commFrstPieces'+$index}}" >
                        </div>
                    </td>
                    <td data-headtitle="Code - Unit 2" data-width="tw33per">
                        <div class="form-group">
                                <input type="text" 
                                ng-disabled="true" 
                                ng-class="{'error-control':secondArr[$index].secondUnit}"
                                ng-model="aesCommodity.secondUnit.unitCode"
                                     class="form-control" />

                        </div>
                    </td>
                    <td data-headtitle="No of Pieces - Unit 2" data-width="tw33per" class="text-right">
                        <div class="form-group">
                            <input type="text" class="form-control text-right"
                            ng-class="{'error-control':secondArr[$index].secondNoOfPieces}"
                             ng-model="aesCommodity.secondNoOfPieces" maxlength="10" id="{{'commSecndPieces'+$index}}">
                        </div>
                    </td>
                    <td data-headtitle="Value (USD)" data-width="tw33per" data-required="true" class="text-right">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control text-right" ng-model="aesCommodity.valueInUsd"  
                                   efsdecimals="aesFile.country.currencyMaster.decimalPoint" 
                                   efsdecimal-point="aesFile.country.locale"
                                   ng-class="{'error-control':secondArr[$index].valueInUsd}"
                                   maxlength="13" id="{{'usd'+$index}}"/>

                        </div>
                    </td>
                    <td data-headtitle="Gross Weight (KG)" data-required="true" data-width="tw33per" class="text-right">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control text-right last-child" ng-model="aesCommodity.grossWeightInKg"
                                   efsdecimals="$root.weightDecimalPoint"
                                    efsdecimal-point="aesFile.country.locale"
                                   ng-class="{'error-control':secondArr[$index].grossWeightInKg}"
                                    maxlength="14" id="{{'grosswt'+$index}}"/>
                        </div>
                    </td>
                    <td  class="text-center">
                        <button type="button"  ng-click="editmorepopup(aesCommodity,'commodityExport'+$index)" class="btn accent-btn margint18">More Info</button>
                    </td>
                     <td data-nofloat="true">
                         <a href="javascript:void(0);" ng-click="deleteCommodity(aesFile,$index)" ng-show="aesFile.aesCommodityList.length>1"> <i class="icon-delete"></i></a>
                              </td>
                </tr>
                </tbody>
            </table>
        </div><!--Table responsive-->
    </div>
</div>