<div class="row nomargin bor-btm-1">
    <div class="col-xs-12  nopadding    ">
        <div class="row  overflow-hidden nomargin">
            <div class="col-xs-12 col-sm-6 bor-r-1  bor-fix">
                <div class="row bor-btm-1   ">
                    <!--<h4 class="sub-title mb0"> USPPI / Shipper Details</h4>-->
                    <div class="col-xs-12 ptb-15">
                        <span>Ultimate Consignee</span>
                        <h6>{{aesFile.aesUltimateConsignee.ultimateConsignee.partyName}} </h6>
                    </div>
                </div>
                <div class="row bor-btm-1 ptb-15">
                    <div class="col-xs-4">
                        <span>Consignee Type
                        </span>
                        <h6>{{aesFile.aesUltimateConsignee.consigneeType | consigneeType}}
                        </h6>
                    </div>
                    <div class="col-xs-4">
                        <span>ID Type</span>
                        <h6>{{aesFile.aesUltimateConsignee.idType}}</h6>
                    </div>
                    <div class="col-xs-4">
                        <span>ID No</span>
                        <h6>{{aesFile.aesUltimateConsignee.idNo}} </h6>
                    </div>

                </div>
                <div class="row bor-btm-1  ptb-15">
                    <div class="col-xs-4">
                        <span>Contact Name</span>
                        <h6>{{aesFile.aesUltimateConsignee.firstName}} {{aesFile.aesUltimateConsignee.lastName}}</h6>
                    </div>
                    <div class="col-xs-4">
                        <span>Contact No</span>
                        <h6>{{aesFile.aesUltimateConsignee.contactNo}} </h6>
                    </div>

                </div>
                <div class="row  ptb-15 bor-btm-1-border">
                    <div class="col-xs-4">
                        <span>Sold En Route</span>
                        <h6>{{aesFile.aesUltimateConsignee.soldEnRoute==true?'Yes':'No'}}</h6>
                    </div>

                </div>

            </div>
           
            <div class="col-xs-12 col-sm-6 bor-fix ">
                <div class="row ptb-15">
                    <div class="col-xs-12">
                        <span class="pb-20">Company Address</span>
                        <h6>{{aesFile.aesUltimateConsignee.companyAddress.addressLine1}} </h6>
                        <h6>{{aesFile.aesUltimateConsignee.companyAddress.addressLine2}} </h6>
                        <h6>{{aesFile.aesUltimateConsignee.companyAddress.addressLine3}}</h6>
                        <h6>{{aesFile.aesUltimateConsignee.companyAddress.addressLine4}} </h6>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
</div>