<div class="row nomargin bor-btm-1">
    <div class="col-xs-12  nopadding    ">
        <div class="row  overflow-hidden nomargin " style="border-bottom: 1px solid #dadada !important;">
            <div class="col-xs-12 col-sm-6 col-lg-5 bor-r-1   bor-fix">
                <div class="row bor-btm-1   ">
                    <!--<h4 class="sub-title mb0"> USPPI / Shipper Details</h4>-->
                    <div class="col-xs-12 ptb-15">
                        <label>Ultimate Consignee<span class="reqColor">*</span>
                        </label>
                        <div class="select-auto">
                            <!-- <input type="text" auto-complete  ng-model="test.Forwarder"  class="form-control"  /> -->
                             <input type="text" class="form-control" id="partyUc" 
								input-focus="{{errorMap.get('aesFile.aesUltimateConsignee.consignee')!=null}}" 
								typeahead-add-new="routePartyEvent('aesFile.aesUltimateConsignee.ultimateConsignee',true,null)" 
								ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.consignee')!=null}" 
								autocomplete="off" ng-model="aesFile.aesUltimateConsignee.ultimateConsignee" 
								uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxUCPartyEvent($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedUCParty('consigneeTypeUc',aesFile.aesUltimateConsignee.ultimateConsignee)" 
								typeahead-focus-on-select="false"
								typeahead-focus-first="true" typeahead-editable="false"
								typeahead-min-length="1" typeahead-wait-ms="500">
								<span class="select-arrow"><b></b></span>
                     </div>
                      <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.consignee')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.consignee')}}</small></span>
                    </div>
                </div>
                <div class="row bor-btm-1 ptb-15">
                    <div class="col-xs-4">
                        <label>Consignee Type<span class="reqColor">*</span></label>
                        <!-- <select class="form-control"></select> -->
                        <select class="form-control last-child " id="consigneeTypeUc"
                        focus="{{errorMap.get('aesFile.aesUltimateConsignee.consigneeType')!=null}}"
                      	ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.consigneeType')!=null}"
                        ng-options="item | consigneeType for item in consigneeTypeArr"
                        ng-change = "selectedConsigneeType('idTypeUc')"
                    	ng-model="aesFile.aesUltimateConsignee.consigneeType"
                        ></select>
                             <span class="error-message"
                               ng-show="errorMap.get('aesFile.aesUltimateConsignee.consigneeType')!=null">
                      <small>{{errorMap.get('aesFile.aesUltimateConsignee.consigneeType')}}</small></span>
                    </div>
                    
                    <div class="col-xs-4">
                        <label>ID Type</label>
                       <!-- <select class="form-control"></select> -->
                       <select class="form-control last-child " id="idTypeUc" 
                       focus="{{errorMap.get('aes.aesUltimateConsignee.idType')!=null}}"
                       ng-class="{'error-control':errorMap.get('aes.aesUltimateConsignee.idType')!=null}"
                       ng-options="item for item in idTypeArr" 
                       ng-change="selectedConsigneeIdType(aesFile.aesUltimateConsignee.idType);aesUltimateConsigneeValidator(6)"
                       ng-model="aesFile.aesUltimateConsignee.idType" ></select>
                        <span class="error-message"
                               ng-show="errorMap.get('aes.aesUltimateConsignee.idType')!=null">
                      <small>{{errorMap.get('aes.aesUltimateConsignee.idType')}}</small></span>
                    </div>
                    
                    <div class="col-xs-4">
                        <label>ID No</label>
                        <input ng-model="aesFile.aesUltimateConsignee.idNo" id="idNoUc" 
                        focus="{{errorMap.get('aesFile.aesUltimateConsignee.idNo')!=null}}"
                        ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.idNo')!=null}"
                        class="form-control" maxlength="11"
                         ng-blur="aesUltimateConsigneeValidator(7);assignIDSuffix(aesFile.aesUltimateConsignee.idNo,'UltimateConsignee','firstNameUc')"
                        >
                         <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.idNo')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.idNo')}}</small></span>
                    </div>
                </div>
                <div class="row   ptb5">
                    <div class="col-xs-6">
                        <label>First Name</label>
                        <input ng-model="aesFile.aesUltimateConsignee.firstName" id="firstNameUc"
                        focus="{{errorMap.get('aesFile.aesUltimateConsignee.firstName')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.firstName')!=null}"
                        class="form-control" maxlength="100" ng-change="aesUltimateConsigneeValidator(8)">
                         <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.firstName')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.firstName')}}</small></span>
                    </div>
                    <div class="col-xs-6">
                        <label>Last Name</label>
                        <input ng-model="aesFile.aesUltimateConsignee.lastName" id="lastNameUc"
                        focus="{{errorMap.get('aesFile.aesUltimateConsignee.lastName')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.lastName')!=null}"
                        class="form-control" maxlength="100" ng-change="aesUltimateConsigneeValidator(9)">
                         <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.lastName')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.lastName')}}</small></span>
                    </div>
                </div>
                
                <div class="row bor-btm-1 pb10">
                    <div class="col-xs-6 ">
                        <label>Contact No</label>
                        <input ng-model="aesFile.aesUltimateConsignee.contactNo" id="contactNoUc"
                        focus="{{errorMap.get('aesFile.aesUltimateConsignee.contactNo')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.contactNo')!=null}"
                        class="form-control" maxlength="20" ng-change="aesUltimateConsigneeValidator(10)">
                         <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.contactNo')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.contactNo')}}</small></span>
                    </div>
                </div>

<div class="borderbot">
                <div class="row  ptb-15">
                    <div class="col-xs-5">
                        <label>Sold En Route</label>
                        <ul class="list-inline">
                            <li ng-class="{'opc-5':!sold}">No</li>
                            <li class="v-align-top"><switch tabindex="0" id="serUc"
                                                            name="" ng-model="aesFile.aesUltimateConsignee.soldEnRoute"
                                                            class="green"></switch></li>
                            <li ng-class="{'opc-5':sold}">Yes</li>
                        </ul>
                    </div>

                </div></div>


            </div>
            <div class="col-xs-12 col-sm-6 col-lg-5 bor-fix bor-btm-1" >

                <div class="row pt5">
                    <div class="col-xs-12">  <label>Company Address<span class="reqColor">*</span>
                    </label></div>
                </div>
                <div class="row nomargin ">
                    <!-- <div class="form-group mb0">
                        <div class="row  ">
                            <div class="col-xs-11 ">

                                <div class="select-auto">
                                    <input type="text" class="form-control" id="companyUc" 
                                    	typeahead-add-new="routePartyEvent('aesFile.aesUltimateConsignee.company',true,null)" 
										ng-class="{'error-control':errorMap.get('aes.aesUltimateConsignee.company')!=null}" 
										input-focus="{{errorMap.get('aes.aesUltimateConsignee.company')!=null}}" 
										autocomplete="off" ng-model="aesFile.aesUltimateConsignee.company" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxUcCAEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedUcCA(aesFile.aesUltimateConsignee.company,'cityFf')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                </div>
                                <span class="error-message"
                                                                 ng-show="errorMap.get('aes.aesUltimateConsignee.company')!=null"
                                                                 >
                                             				 <small>{{errorMap.get('aes.aesUltimateConsignee.company')}}</small></span>
                            </div>
                            <div class="col-xs-1 plr0 nomargin text-center  ">
                                <label class="visible-hide">Empty</label>
                                <a
                                   tabindex="-1"
                                   href="javascript:void(0)"
                                   ng-click="showPartyAddressUcCA()" class="selectPicker-sm mlminus-15">
                                    <i class="fa fa-chevron-right" data-placement="bottom"   bs-tooltip="selectAddress"></i>
                                </a>
                            </div>
                        </div>
                    </div> -->
                     <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text"
                                focus="{{errorMap.get('aesFile.aesUltimateConsignee.addressLine1')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.addressLine1')!=null}"
                                 maxlength="100" ng-model="aesFile.aesUltimateConsignee.companyAddress.addressLine1" ng-change="aesUltimateConsigneeValidator(3)">
                                  <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.addressLine1')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.addressLine1')}}</small></span>
                            </div>
                            <div class="col-xs-1 plr0 nomargin text-center  ">
                                <a
                                   tabindex="-1"
                                   href="javascript:void(0)"
                                   ng-click="showPartyAddressUcCA()" class="selectPicker-sm mlminus-15">
                                    <i class="fa fa-chevron-right" data-placement="bottom"   bs-tooltip="selectAddress"></i>
                                </a>
                            </div>
                            

                       
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" 
                                focus="{{errorMap.get('aesFile.aesUltimateConsignee.addressLine2')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.addressLine2')!=null}"
                                maxlength="100" ng-model="aesFile.aesUltimateConsignee.companyAddress.addressLine2" ng-change="aesUltimateConsigneeValidator(3)">
                                <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.addressLine2')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.addressLine2')}}</small></span>
                            </div>
                             
                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" maxlength="100"
                                focus="{{errorMap.get('aesFile.aesUltimateConsignee.addressLine3')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.addressLine3')!=null}"
                                 ng-model="aesFile.aesUltimateConsignee.companyAddress.addressLine3" ng-change="aesUltimateConsigneeValidator(3)">
                                 <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.addressLine3')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.addressLine3')}}</small></span>
                            </div>
                             
                        </div>
                        <!--row ends-->
                    </div>
                    <div class="form-group mt-5 mb0">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" type="text" maxlength="100" 
                                focus="{{errorMap.get('aesFile.aesUltimateConsignee.addressLine4')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.addressLine4')!=null}"
                                ng-model="aesFile.aesUltimateConsignee.companyAddress.addressLine4" ng-change="aesUltimateConsigneeValidator(3)">
                                   <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.addressLine4')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.addressLine4')}}</small></span>
                            </div>
                          
                        </div>
                        <!--row ends-->
                    </div></div>
                    
                    
   <div class="row ptb-15 ">
                    <div class="col-xs-6 ">
                        <label>City<span class="reqColor">*</span></label>
                          <div class="select-auto">
                        <input type="text" class="form-control" id="cityFf" 
							ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.city')!=null}" 
							input-focus="{{errorMap.get('aesFile.aesUltimateConsignee.city')!=null}}" 
							autocomplete="off" ng-model="aesFile.aesUltimateConsignee.cityMaster" 
							uib-typeahead="lovObject as lovObject.cityName for lovObject in ajaxUcCityEvent($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedUcCity(aesFile.aesUltimateConsignee.cityMaster,'stateUc')" 
							typeahead-focus-on-select="false"
							typeahead-focus-first="true" typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500"><span class="select-arrow"><b></b></span></div>
							
							 <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.city')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.city')}}</small></span>
                        </div>
                        
                        
                                   <div class="col-xs-6 ">
                        <label>State</label>
                        <div class="select-auto">
                            <input type="text" class="form-control"
							id="stateUc"  input-focus="{{errorMap.get('aesFile.aesUltimateConsignee.state')!=null}}" autocomplete="off" 
							ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.state')!=null}" 
							ng-model="aesFile.aesUltimateConsignee.stateMaster" 
							uib-typeahead="lovObject as lovObject.stateName for lovObject in ajaxUcStateEvent($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedUcState(aesFile.aesFreightForwarder.stateMaster,'countryUc')"
							typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
							typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
						<span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.state')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.state')}}</small></span>
                        </div>
                         
                    </div> 
                        
                        
                         
                    </div>                    
                    
                    
                   <div class="row bor-btm-1 ptb-15">
                    <div class="col-xs-6 ">
                        <label>Country<span class="reqColor">*</span></label>
                        <div class="select-auto">
                             <input type="text" class="form-control" id="countryUc" 
										input-focus="{{errorMap.get('aesFile.aesUltimateConsignee.country')!=null}}"
										ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.country')!=null}" 
										autocomplete="off" ng-model="aesFile.aesUltimateConsignee.countryMaster"
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxUcCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedUccountry(aesFile.aesFreightForwarder.countryMaster,'zipCodeUc')" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                              <span class="error-message"
                                                                                      ng-show="errorMap.get('aesFile.aesUltimateConsignee.country')!=null">
                                             				 <small>{{errorMap.get('aesFile.aesUltimateConsignee.country')}}</small></span>
                        </div>
                        
                    </div>
                    <div class="col-xs-6 ">
                        <label>Zip Code</label>
                        <input ng-model="aesFile.aesUltimateConsignee.zipCode" id="zipCodeUc" 
                        focus="{{errorMap.get('aesFile.aesUltimateConsignee.zipCode')!=null}}"
                                 ng-class="{'error-control':errorMap.get('aesFile.aesUltimateConsignee.zipCode')!=null}"
                        class="form-control" maxlength="20" ng-change="aesUltimateConsigneeValidator(11)">
                        
                         <span class="error-message" ng-show="errorMap.get('aesFile.aesUltimateConsignee.zipCode')!=null">
                            <small> {{errorMap.get('aesFile.aesUltimateConsignee.zipCode')}} </small>
                         </span>
                        
                        </div>
                        <!-- <div class="select-auto">
                            <input type="text" auto-complete  ng-model="test.zip"  class="form-control"  />
                        </div> -->
                    </div>                 
                    
                    
                    
                    
                    
                </div>
                
                
                
                
                
                
                
                
                
                
                
                
             

        
                </div>

                    
                </div>


            </div>
        </div>
    </div>

</div>
</div>