
<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 94%">
        <div class="modal-content">
            <div class="modal-header flexTitle ">
                <div>
                    <h4>Airline EDI</h4>
                </div>
                <div>
                    <div class="btngrp">
                        <button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" data-ng-click="$hide()">Cancel</button>
                        <button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property green-btn" data-ng-click="generateEdi(airlineEdi)">
                        	Generate EDI
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body nopadding" style="min-height: 500px; height: 500px; overflow-x: hidden;">
                	<div class="row nomargin">
					<div class="col-xs-2 ptb-15" data-ng-if="false">
						<div class="flexTitle">
							<div>
								<h6 class="nomargin">Options</h6>
							</div>
							<div>
								<label class="checkbox-inline text-inherit">
									<input type="checkbox" value="" class="text-inherit" data-ng-model="airlineEdi.eawb">eAWB</label> <label
									class="checkbox-inline"><input type="checkbox" value=""
									data-ng-model="airlineEdi.paper">Paper</label>
							</div>
						</div>


					</div>
					<div class="col-xs-2"></div>
					<div class="col-xs-2"></div>
					<div class="col-xs-2"></div>
					<div class="col-xs-2"></div>
					<div class="col-xs-2"></div>
					<div class="col-xs-2">
						<h6 style="font-weight: bold; text-align: right; color:{{airlineEdi.statusList[0].status=='EDI_GENERATION_SUCCESS'?'green':'black'}}">
							{{airlineEdi.statusList[0].statusMessage}}</h6>
					</div>
				</div>
                <div class="row line nomargin">
                    <hr>
                </div>
                <div class="row nomargin bg-lblue ptb-15">
                    <div class="col-xs-2">
                        <span>MAWB</span>
                        <h6>{{airlineEdi.mawbNo}}</h6>
                    </div>
                    <div class="col-xs-2"  data-ng-if="false">
                        <span>Reference ID</span>
                        <h6>-</h6>
                    </div>
                    <div class="col-xs-2">
                        <span>MAWB Date</span>
                        <h6>{{dateToString(airlineEdi.awbDate)}}</h6>
                    </div>
                    <div class="col-xs-2">
                        <span>Master ID</span>
                        <h6>{{airlineEdi.masterShipmentUid}}</h6>
                    </div>
                    <div class="col-xs-2">
                        <span>Direct</span>
                        <h6>{{airlineEdi.directShipment?'Yes':'No'}}</h6>
                    </div>
                    <div class="col-xs-2 col-xs-pull-1" data-ng-hide=true>
                        <span>Status</span>
                        <h6>Shipment Sent to Airlines</h6>
                    </div>
                </div>
                <div class="row nomargin line">
                    <hr>
                </div>
                <div class="row nomargin">
                    <div class="col-xs-12 nopadding">
                        <ul data-df-tab-menu data-menu-control="{{Tabs}}" data-theme="bootstrap" data-theme-class="btn-tabs" data-ng-init="Tabs='tab1'">
                            <li data-menu-item="MAWB">
                                <button type="button" class="btn" data-ng-class="Tabs=='tab1'?'active':'btn-normal'" data-ng-click="Tabs='tab1'">MAWB</button>
                            </li>
                            <li data-menu-item="HAWB">
                                <button type="button" class="btn" data-ng-class="Tabs=='tab2'?'active':'btn-normal'" data-ng-click="Tabs='tab2'">HAWB ({{airlineEdi.houseList.length}})</button>
                            </li>
                            <li data-menu-item="RESPONSE">
                                <button type="button" class="btn" data-ng-class="Tabs=='tab3'?'active':'btn-normal'" data-ng-click="Tabs='tab3'; getAllEdiStatus()">RESPONSE</button>
                            </li>
                            <li data-more-menu-item >
                                <button data-ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                            </li>
                        </ul><!--TAB MENUS ENDS-->
                        <div class="tab-content" >
                            <div data-ng-show="Tabs=='tab1'">
                                <div class="row nomargin">
                                    <div class="col-xs-4 ptb-15" style="min-height: 200px;">
                                        <address>
                                            <span>Shipper</span>
                                            <h4>{{airlineEdi.shipper.partyName}}</h4>
                                            <p class="nomargin">{{airlineEdi.shipperAddress.addressLine1}}, {{airlineEdi.shipperAddress.addressLine2}}</p>
                                            <p class="nomargin">{{airlineEdi.shipperAddress.addressLine3}}</p>
                                            <p class="nomargin">{{airlineEdi.shipperAddress.addressLine4}}</p>
                                            <p class="nomargin">{{airlineEdi.shipperAddress.city.cityName}}</p>
                                        </address>
                                    </div>
                                    <div class="col-xs-4 ptb-15 bor-l-1" style="min-height: 200px;">
                                        <address>
                                            <span>Consignee</span>
                                            <h4>{{airlineEdi.consignee.partyName}}</h4>
                                            <p class="nomargin">{{airlineEdi.consigneeAddress.addressLine1}}, {{airlineEdi.consigneeAddress.addressLine2}}</p>
                                            <p class="nomargin">{{airlineEdi.consigneeAddress.addressLine3}}</p>
                                            <p class="nomargin">{{airlineEdi.consigneeAddress.addressLine4}}</p>
                                            <p class="nomargin">{{airlineEdi.consigneeAddress.city.cityName}}</p>
                                        </address>
                                    </div>
                                    <div class="col-xs-4 ptb-15 bor-l-1" style="min-height: 200px;">
                                        <address>
                                            <span>Agent</span>
                                            <h4>{{airlineEdi.agent.partyName}}</h4>
                                            <p class="nomargin">{{airlineEdi.agentAddress.addressLine1}}, {{airlineEdi.agentAddress.addressLine2}}</p>
                                            <p class="nomargin">{{airlineEdi.agentAddress.addressLine3}}</p>
                                            <p class="nomargin">{{airlineEdi.agentAddress.addressLine4}}</p>
                                            <p class="nomargin">{{airlineEdi.agentAddress.city.cityName}}</p>
                                            <br/>
                                            <span>IATA Agent Code : </span>
                                        	<p style="display:inline">{{(airlineEdi.agentIataCode==null || airlineEdi.agentIataCode=='') ? '-' : airlineEdi.agentIataCode}}</p>
                                        </address>
                                    </div>
                                </div>
                                <div class="row nomargin line">
                                    <hr>
                                </div>
                                <div class="row nomargin ptb-15">
                                    <div class="col-xs-4">
                                        <span>Commodity</span>
                                        <h6>{{airlineEdi.commodityDescription}}</h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>Currency</span>
                                        <h6>{{airlineEdi.currencyMaster.currencyCode}}</h6>
                                    </div>
                                </div>
                                <div class="row nomargin line">
                                    <hr>
                                </div>
                                <div class="flex align-justify align-middle title mb0" data-ng-click="accTab=!accTab" data-ng-init="accTab=true">
                                    <div>
                                        <h5>Routing &#38; Carrier Info</h5>
                                    </div>
                                    <div>
                                        <i class="{{accTab==true?'icon-uparrow':'icon-downarrow'}}"></i>
                                    </div>
                                </div>
                                <div class="row nomargin" data-ng-show="accTab">
                                    <div class="col-xs-12 ptb-15">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span>Origin</span>
                                                <h6>{{airlineEdi.origin.portName}}</h6>
                                            </div>
                                            <div class="col-md-3">
                                                <span>Airport of Loading</span>
                                                <h6>{{airlineEdi.pol.portName}}</h6>
                                            </div>
                                            <div class="col-md-3">
                                                <span>Airport of Discharge</span>
                                                <h6>{{airlineEdi.pod.portName}}</h6>
                                            </div>
                                            <div class="col-md-3">
                                                <span>Destination</span>
                                                <h6>{{airlineEdi.destination.portName}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15 bor-t1">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span>Carrier</span>
                                                <h6>
                                                <img data-ng-show="airlineEdi.carrierMaster.image!=null"  data--ng-src="data:image/png;base64,{{airlineEdi.carrierMaster.image}}" width="20" height="20">
                                                {{airlineEdi.carrierMaster.carrierName}}</h6>
                                            </div>
                                            <div class="col-md-3">
                                                <span>Flight No</span>
                                                <h6>{{airlineEdi.flightNumber}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15 bor-t1" data-ng-show="airlineEdi.connectionList != undefined && airlineEdi.connectionList != null && airlineEdi.connectionList.length >=1">
                                        <div class="table-responsive">
                                            <table class="table table-inline mb0 mt-5">
                                                <thead>
	                                                <tr>
		                                                <th class="inl_sno">#</th>
		                                                <th class="inl_l">Airport of Loading</th>
		                                                <th class="inl_l">Airport of Destination</th>
		                                                <th class="inl_s">ETD</th>
		                                                <th class="inl_s">ETA</th>
		                                                <th class="inl_l">Carrier</th>
		                                                <th class="inl_s">Flight No</th>
	                                                </tr>
                                                </thead>
                                                <tbody>
	                                                <tr data--ng-repeat="connection in airlineEdi.connectionList track by $index">
	                                                    <td>{{$index + 1}}</td>
	                                                    <td>{{connection.pol.portName}}</td>
	                                                    <td>{{connection.pod.portName}}</td>
	                                                    <td>{{dateToString(connection.etd)}}</td>
	                                                    <td>{{dateToString(connection.eta)}}</td>
	                                                    <td>
	                                                    <img data-ng-show="connection.carrierMaster.image!=null"  data--ng-src="data:image/png;base64,{{connection.carrierMaster.image}}" width="20" height="20"> 
	                                                    {{connection.carrierMaster.carrierName}}</td>
	                                                    <td>{{connection.flightNumber}}</td>
	                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div><!--accTab Ends-->

                                <div class="row nomargin line">
                                    <hr>
                                </div>

                                <div class="flex align-justify align-middle title mb0" data-ng-click="accTab2=!accTab2" data-ng-init="accTab2=true">
                                    <div>
                                        <h5>Packs &#38; Dimensions</h5>
                                    </div>
                                    <div>
                                        <i class="{{accTab2==true?'icon-uparrow':'icon-downarrow'}}"></i>
                                    </div>
                                </div>
                                <div class="row nomargin" data-ng-show="accTab2">
                                    <div class="col-xs-12 ptb-15">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <span>No of Pieces</span>
                                                <h6>{{integerFormat(airlineEdi.noOfPieces,airlineEdi.countryMaster.locale)}}</h6>
                                            </div>
                                            <div class="col-xs-3">
                                                <span>Volume Weight (KG)</span>
                                                <h6>{{weightFormat(airlineEdi.volumeWeight,airlineEdi.countryMaster.locale)}}</h6>
                                            </div>
                                            <div class="col-xs-3">
                                                <span>Gross Weight (KG)</span>
                                                <h6>{{weightFormat(airlineEdi.grossWeight,airlineEdi.countryMaster.locale)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15 bor-t1" data-ng-show="airlineEdi.dimensionList != undefined && airlineEdi.dimensionList != null && airlineEdi.dimensionList.length >= 1">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <span>Dimension Unit</span>
                                                 <h6>{{airlineEdi.dimensionUnit=='CENTIMETERORKILOS'?'Centimeter / Kilos':'Inch / Pounds'}}</h6>
                                            </div>
                                            <div class="col-xs-2">
                                                <span>Dimension Value</span>
                                                <h6>{{airlineEdi.dimensionUnitValue}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15 bor-t1" data-ng-show="airlineEdi.dimensionList != undefined && airlineEdi.dimensionList != null && airlineEdi.dimensionList.length >= 1">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table table-inline mt-5">
                                                        <thead>
                                                        	<tr>
	                                                            <th class="inl_sno">#</th>
	                                                            <th class="inl_s text-right">No of Pieces</th>
	                                                            <th class="inl_s text-right">Length (in)</th>
	                                                            <th class="inl_s text-right">Width (in)</th>
	                                                            <th class="inl_s text-right">Height (in)</th>
	                                                            <th class="inl_s text-right">Volume Weight (KG)</th>
	                                                            <th class="inl_s text-right">Gross Weight (KG)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr data--ng-repeat="dimension in airlineEdi.dimensionList track by $index">
                                                                <td>{{$index + 1}}</td>
                                                                <td class="text-right">{{integerFormat(dimension.noOfPiece, airlineEdi.countryMaster.locale)}}</td>
                                                                <td class="text-right">{{integerFormat(dimension.length, airlineEdi.countryMaster.locale)}}</td>
                                                                <td class="text-right">{{integerFormat(dimension.width, airlineEdi.countryMaster.locale)}}</td>
                                                                <td class="text-right">{{integerFormat(dimension.height, airlineEdi.countryMaster.locale)}}</td>
                                                                <td class="text-right">{{weightFormat(dimension.volWeight, airlineEdi.countryMaster.locale)}}</td>
                                                                <td class="text-right">{{weightFormat(dimension.grossWeight, airlineEdi.countryMaster.locale)}}</td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                             	<td class="text-right">Total</td>
																<td class="text-right">{{integerFormat(airlineEdi.dimNoOfPieces, airlineEdi.countryMaster.locale)}}</td>
																<td></td>
																<td></td>
																<td></td>
																<td class="text-right">{{weightFormat(airlineEdi.dimVolumeWeight, airlineEdi.countryMaster.locale)}}</td>
																<td class="text-right">{{weightFormat(airlineEdi.dimGrossWeight, airlineEdi.countryMaster.locale)}}</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div data-ng-show="Tabs=='tab2'">
                                <div class="row nomargin">
                                    <div class="col-xs-12 ptb-15 overflow-hidden">
                                        <div class="table-responsive">
                                            <table class="table table-inline">
                                                <thead>
                                               		<tr> 
		                                               	<th class="inl_sno">#</th>
		                                                <th class="inl_s">Shipment ID</th>
		                                                <th class="inl_m">Origin</th>
		                                                <th class="inl_m">Destination</th>
		                                                <th class="inl_l">Shipper</th>
		                                                <th class="inl_l">Consignee</th>
		                                                <th class="inl_m">TOS</th>
		                                                <th class="inl_l">Commodity</th>
		                                                <th class="text-right inl_sm">External No of Pieces</th>
		                                                <th class="text-right inl_sm">Gross Weight (KG)</th>
		                                                <th class="text-right inl_s">Volume Weight (KG)</th>
		                                                <th class="inl_s"></th>
                                               		</tr>
                                                </thead>
                                                <tbody data-ng-repeat="house in airlineEdi.houseList track by $index">
                                                    <tr>
                                                        <td>{{$index + 1}}</td>
                                                        <td>
                                                            {{house.shipmentUid}}
                                                        </td>
                                                        <td>
                                                            {{house.origin.portName}}
                                                        </td>
                                                        <td>
															{{house.destination.portName}}
                                                        </td>
                                                        <td>
                                                            {{house.shipper.partyName}}
                                                        </td>
                                                        <td>
                                                            {{house.consignee.partyName}}
                                                        </td>
                                                        <td>
                                                            {{house.tosMaster.tosName}}
                                                        </td>
                                                        <td>
                                                            {{house.commodityMaster.hsName}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{integerFormat(house.externalNumberOfPieces, airlineEdi.countryMaster.locale)}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{weightFormat(house.grossWeight, airlineEdi.countryMaster.locale)}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{weightFormat(house.volumeWeight, airlineEdi.countryMaster.locale)}}
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn accent-btn" data-ng-click="showMore = !showMore">More</button>
                                                        </td>
                                                    </tr>
                                                    <tr data-ng-init="showMore = false" data-ng-show="showMore" class="bg-gray">
                                                        <td colspan="12">
                                                            <div class="row ptb-15">
                                                                <div class="col-xs-4">
                                                                    <span>Declared Value for Carriage</span>
                                                                    <h6>{{airlineEdi.valueForCarriage == null || airlineEdi.valueForCarriage == '' ? '-' : airlineEdi.valueForCarriage }}</h6>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <span>Declared Value for Insurance</span>
                                                                    <h6>{{airlineEdi.valueForInsurance == null || airlineEdi.valueForInsurance == '' ? '-' : airlineEdi.valueForInsurance}}</h6>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <span>Declared Value for Customs</span>
                                                                    <h6>{{airlineEdi.valueForCustomDeclarations == null || airlineEdi.valueForCustomDeclarations == '' ? '-' : airlineEdi.valueForCustomDeclarations}}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="row line nomargin">
                                                                <hr>
                                                            </div>
                                                            <div class="row ptb-15">
                                                                <div class="col-xs-12">
                                                                    <span>Handling Information</span>
                                                                    <h6>{{airlineEdi.handlingInformation == null || airlineEdi.handlingInformation == '' ? '-' : airlineEdi.handlingInformation}}</h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       		<div data-ng-show="Tabs=='tab3'">
                       			<div class="row nomargin">
                                <div class="col-xs-12 mt-15">
										<div class="table-responsive" data-ng-show="ediResponseList && ediResponseList.length!=0">
											<table class="table table-inline">
												<thead>
													<tr>
														<th class="inl_sno">#</th>
														<th class="inl_s">EDI Type</th>
														<th class="inl_s">Status Type</th>
														<th class="inl_l">Status description</th>
														<th class="inl_s">Status Date</th>
														<th class="inl_m">Carrier Code</th>
														<th class="inl_s">Flight No</th>
													</tr>
												</thead>
												<tbody>
													<tr data-ng-repeat="response in ediResponseList track by $index">
														<td>{{$index + 1}}</td>
														<td>{{response.ediStatusType}}</td>
														<td>{{response.ediType}}</td>
														<td>{{response.statusName}}</td>
														<td>{{dateAndTimeToString(response.statusDate)}}</td>
														<td>{{response.carrierCode}}</td>
														<td>{{response.flightNumber}}</td>
													</tr>
												</tbody>
											</table>
										</div>
                              
                              			<empty-record data-ng-show="!ediResponseList || ediResponseList.length==0" icon="edi" text="Looks like there are no records here"></empty-record>
                                </div>
                            </div>
                       		</div>
                       
                        </div><!--TAB CONTENT TAB ENDS-->
                    </div><!--Col ends-->
                </div><!--row ends-->
            </div>
        </div>
    </div>
</div>