
<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body nopadding" style="min-height: 500px">
                <div class="row nomargin">
                    <h5 class="sub-title mb0">Export Detail</h5>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-3">
                                <span>Export</span>
                                <h6>{{aesCommodity.aesExport.exportCode}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>ECCN</span>
                                <h6>{{aesCommodity.eccn}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>Export License No</span>
                                <h6>{{aesCommodity.exportLicenseNo}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>License Value</span>
                                <h6>{{aesCommodity.licenseValue}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin">
                    <h5 class="sub-title mb0">DDTC - ITAR</h5>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-3">
                                <span>ITAR Excemption</span>
                                <h6>{{aesCommodity.itarExcemption.excemptionNo}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>SME Indicator</span>
                                <h6>{{aesCommodity.smeIndicator==false?'Yes':'No'}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>Eligible {{appMasterData['Party_Label']}} Certificate</span>
                                <h6>{{aesCommodity.eligiblePartyCertification==false?'Yes':'No'}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-3">
                                <span>USML Vertical</span>
                                <h6>{{aesCommodity.usml.categoryCode}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>Unit code</span>
                                <h6>{{aesCommodity.dtdc.unitCode}}</h6>
                            </div>
                            <div class="col-xs-3">
                                <span>No of Pieces</span>
                                <h6>{{aesCommodity.dtdcQuantity}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin">
                    <h5 class="sub-title mb0">DDTC - Vehicle</h5>
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-inline mt-15">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>VIN / Product ID</th>
                                    <th>ID Type</th>
                                    <th>Vehicle Title No</th>
                                    <th>Vehicle Title State</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="dtdcVehicle in aesCommodity.dtdcVehicleList track by $index">
                                    <td>{{$index+1}}</td>
                                    <td>{{dtdcVehicle.vinProductId}}</td>
                                    <td>{{dtdcVehicle.vinIdType}}</td>
                                    <td>{{dtdcVehicle.vehicleTitleNo}}</td>
                                    <td>{{dtdcVehicle.vehicleTitleState.stateName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <empty-record ng-show="!aesCommodity.dtdcVehicleList || aesCommodity.dtdcVehicleList.length==0" icon="Dtdc" text="Looks like there are no vehicle records here"></empty-record>
                    </div>
                </div>
                <!--<div class="row ">
                    <div class="col-xs-12">
                        <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='tab1'">
                            <li data-menu-item="Export_Detail">
                                <button type="button" class="btn" ng-class="Tabs=='tab1'?'active':'btn-normal'" ng-click="Tabs='tab1'">Export Detail</button>
                            </li>
                            <li data-menu-item="DDTC_ITAR">
                                <button type="button" class="btn" ng-class="Tabs=='tab2'?'active':'btn-normal'" ng-click="Tabs='tab2'">DDTC - ITAR</button>
                            </li>
                            <li data-menu-item="DDTC_Vehicle">
                                <button type="button" class="btn" ng-class="Tabs=='tab3'?'active':'btn-normal'" ng-click="Tabs='tab3'">DDTC - Vehicle</button>
                            </li>
                            <li data-more-menu-item >
                                <button ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                            </li>
                        </ul>&lt;!&ndash;TAB MENUS ENDS&ndash;&gt;
                        <div class="tab-content mt-15" >
                            <div ng-show="Tabs=='tab1'">
                                <div class="row nomargin">
                                    <div class="col-xs-3">
                                        <span>Export</span>
                                        <h6>Merchandise Exports on less than 1 year</h6>
                                    </div>
                                    <div class="col-xs-3">
                                        <span>ECCN</span>
                                        <h6>A123</h6>
                                    </div>
                                    <div class="col-xs-3">
                                        <span>Export License No.</span>
                                        <h6>LN123132</h6>
                                    </div>
                                    <div class="col-xs-3">
                                        <span>License Value</span>
                                        <h6>3321</h6>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="Tabs=='tab2'">
                                <div class="row nomargin">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-inline">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2">#</th>
                                                        <th rowspan="2">ITAR Excemption</th>
                                                        <th rowspan="2">SME Indicator</th>
                                                        <th rowspan="2">Eligible {{appMasterData['Party_Label']}} Certificate</th>
                                                        <th rowspan="2">USML Category</th>
                                                        <th colspan="2">Unit</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Code</th>
                                                        <th>No. of Pieces</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <tr>
                                                         <td>1</td>
                                                         <td>Shipments for profess...</td>
                                                         <td>Yes</td>
                                                         <td>Yes</td>
                                                         <td>Aircraft and Related Article</td>
                                                         <td>kg</td>
                                                         <td>222</td>
                                                     </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="Tabs=='tab3'">
                                <div class="row nomargin">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-inline">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>VIN / Product ID</th>
                                                    <th>ID Type</th>
                                                    <th>Vehicle Title No.</th>
                                                    <th>Vehicle Title State</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Shipments for profess...</td>
                                                    <td>VIN</td>
                                                    <td>AZ132132</td>
                                                    <td>Arizona</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>&lt;!&ndash;TAB CONTENT&ndash;&gt;
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>