
<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="mr0 plr0"><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button> </li>
                            <li class="ml0 plr0"><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="$hide()">Update</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body nopadding" style="min-height: 500px">
                <div class="row nomargin">
                    <h5 class="sub-title mb0">Export Detail</h5>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>Export<span class="reqColor">*</span></label>
								<div class="form-group">
									<div class="select-auto">
										<input type="text" class="form-control" id="{{'commodityExport'+$index}}" 
										ng-class="{'error-control-auto':secondArr[$index].aesExport}" 
										autocomplete="off" ng-model="aesCommodity.aesExport"
										uib-typeahead="lovObject as lovObject.exportCode for lovObject in ajaxExportEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="navigateCommodity('eccn'+$index);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
									</div>
									
								</div>
							</div>
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>ECCN</label>
                                <div class="form-group">
                                    <input type="text"
                                    id="{{'eccn'+$index}}" 
                                      ng-model="aesCommodity.eccn" maxlength="5"
                                     class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>Export License No</label>
                                <div class="form-group">
                                    <input type="text" 
                                       id="{{'exportLicenseNo'+$index}}" 
                                       ng-class="{'error-control':secondArr[$index].aesAction}"
                                     ng-model="aesCommodity.exportLicenseNo" maxlength="12"
                                    class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>License Value<span>*</span></label>
                                <div class="form-group">
                                    <input type="text" 
                                    id="{{'exportLicenseNo'+$index}}" 
                                    ng-class="{'error-control':secondArr[$index].aesAction}"
                                     ng-model="aesCommodity.licenseValue" maxlength="10"
                                    class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin">
                    <h5 class="sub-title mb0">DDTC - ITAR</h5>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>ITAR Excemption</label>
								<div class="form-group">
									<div class="select-auto">
										<input type="text" class="form-control" id="{{'itar'+$index}}"
										ng-class="{'error-control-auto':secondArr[$index].itarExcemption}" 
										autocomplete="off" ng-model="aesCommodity.itarExcemption" 
										uib-typeahead="lovObject as lovObject.excemptionNo for lovObject in ajaxItarEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="navigateCommodity('dtdcNo'+$index);"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
											
									</div>
								</div>
							</div>
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>DDTC Reg. No</label>
                                <div class="form-group">
                                    <div class="select-auto">
                                        <input type="text" 
                                         id="{{'dtdcNo'+$index}}" 
                                               ng-model="aesCommodity.dtdcNo" maxlength="6"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>SME Indicator</label>
                                <ul class="list-inline"> 
                                    <li ng-class="{'opc-5':!on}">No</li> 
                                    <li class="v-align-top"> 
                                        <switch tabindex="-1" id="enabled" name="enabled" ng-model="aesCommodity.smeIndicator"  class="green"></switch> 
                                    </li> 
                                    <li ng-class="{'opc-5':on}">Yes</li>
                                </ul>

                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>Eligible {{appMasterData['Party_Label']}} Certificate</label>
                                <ul class="list-inline"> 
                                    <li ng-class="{'opc-5':!on}">No</li> 
                                    <li class="v-align-top"> 
                                        <switch tabindex="-1" id="enabled" name="enabled" ng-model="aesCommodity.eligiblePartyCertification"  class="green"></switch> 
                                    </li> 
                                    <li ng-class="{'opc-5':on}">Yes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>USML Vertical<span>*</span></label>
                                <div class="form-group">
									<div class="select-auto">
										<input type="text" class="form-control" id="{{'usml'+$index}}"
										ng-class="{'error-control-auto':secondArr[$index].usml}" 
										autocomplete="off" ng-model="aesCommodity.usml" class="form-control" 
										uib-typeahead="lovObject as lovObject.categoryCode for lovObject in ajaxCategoryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="navigateCommodity('dtdc'+$index);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
									</div>
								</div>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label>Unit code<span>*</span></label>
                                <div class="form-group">
									<div class="select-auto">
										<input type="text" class="form-control" id="{{'dtdc'+$index}}" 
										ng-class="{'error-control-auto':secondArr[$index].itarExcemption}"
										autocomplete="off" ng-model="aesCommodity.dtdc" class="form-control" 
										uib-typeahead="lovObject as lovObject.unitCode for lovObject in ajaxUnitEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="navigateCommodity('noofpiecc'+$index);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
									</div>
								</div>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <label class="text-inherit">No of Pieces<span>*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                     id="{{'noofpiecc'+$index}}" 
                                     ng-model="aesCommodity.dtdcQuantity" 
                                      ng-class="{'error-control-auto':secondArr[$index].dtdcQuantity}"
                                     maxlength="7"> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin">
                    <h5 class="sub-title mb0">DDTC - Vehicle</h5>
                    <div class="col-xs-12 ptb-15">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 col-lg-4">
                                <label>Vehicle used<span class="reqColor">*</span></label>
                                <ul class="list-inline"> 
                                    <li ng-class="{'opc-5':!on}">No</li> 
                                    <li class="v-align-top"> 
                                        <switch tabindex="-1" id="enabled" name="enabled" ng-model="aesCommodity.isUsedVehicle"  class="green"></switch> 
                                    </li> 
                                    <li ng-class="{'opc-5':on}">Yes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 ptb-15">
                        <button type="button" class="btn btn-property accent-btn" ng-click="addVehicle(aesCommodity,false)"><span class="icon-add"></span> Add Vehicle</button>
                    </div>
                    <div class="col-xs-12">
                        <div class="table-responsive fgmb0">
                            <table class="table table-inline" tab-nav tab-row="addVehicle(aesCommodity,false)">
                                <thead class="borderthead">
                                <tr>
                                    <th>#</th>
                                    <th>VIN / Product ID</th>
                                    <th>ID Type</th>
                                    <th>Vehicle Title No</th>
                                    <th>Vehicle Title State</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat ="dtdcVehicle in aesCommodity.dtdcVehicleList track by $index">
                                   <td ng-class="{'error-cell text-center':secondArrr[$index].errRow}">
                         <span ng-show="secondArrr[$index].errRow" >
                             <a href="javascript:void(0);" data-placement="right"     bs-tooltip="errorList" ng-click="errorShowforDtdc(secondArrr[$index],$index)" class="color-white" >
                                 <img src="../../../../assets/images/error.png"/>
                             </a>
                         </span>
                        <span ng-show="!secondArrr[$index].errRow">
                        {{$index+1}}
                        </span>
                    </td>
                                   <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" 
                                            id="{{'vinpro'+$parent.$index+'_'+$index}}"
                                             ng-class="{'error-control':secondArrr[$index].vinProductId}"
                                            ng-model="dtdcVehicle.vinProductId"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" 
                                                   id="{{'vinIdType'+$parent.$index+'_'+$index}}"
                                                   class="form-control" 
                                                    ng-class="{'error-control':secondArrr[$index].vinIdType}"
                                                   ng-model="dtdcVehicle.vinIdType"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" 
                                            id="{{'vehicleTitleNo'+$parent.$index+'_'+$index}}"
                                            ng-model="dtdcVehicle.vehicleTitleNo" 
                                             ng-class="{'error-control':secondArrr[$index].vehicleTitleNo}"
                                            maxlength="15">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="select-auto">
														<input type="text" class="form-control" id="{{'stateName'+$parent.$index+'_'+$index}}" 
										ng-class="{'error-control':secondArrr[$index].vehicleTitleState}" 
										autocomplete="off" ng-model="dtdcVehicle.vehicleTitleState"  class="form-control" 
										uib-typeahead="lovObject as lovObject.stateName for lovObject in ajaxUcStateEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="navigateCommodity('eccn'+$index);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
											</div>
                                    </td>
                                     <td>
                          <ul class="list-inline">
                             <li><a href="javascript:void(0);" ng-show="aesCommodity.dtdcVehicleList.length>1"  ng-click="deleteDtdcVehicle(aesCommodity,$index)"><i class="icon-delete"></i></a></li>
                          </ul>
                              </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--<div class="row ">
                    <div class="col-xs-12">
                        <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='tab1'">
                            <li data-menu-item="Export_Detail">
                                <button type="button" class="btn" ng-class="Tabs=='tab1'?'active':'btn-normal'" ng-click="Tabs='tab1'">Export Detail</button>
                            </li>
                            <li data-menu-item="DDTC_ITAR">
                                <button type="button" class="btn" ng-class="Tabs=='tab2'?'active':'btn-normal'" ng-click="Tabs='tab2'">DDTC - ITAR</button>
                            </li>
                            <li data-menu-item="DDTC_Vehicle">
                                <button type="button" class="btn" ng-class="Tabs=='tab3'?'active':'btn-normal'" ng-click="Tabs='tab3'">DDTC - Vehicle</button>
                            </li>
                            <li data-more-menu-item >
                                <button ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                            </li>
                        </ul>&lt;!&ndash;TAB MENUS ENDS&ndash;&gt;
                        <div class="tab-content mt-15" >
                            <div ng-show="Tabs=='tab1'">
                                <div class="row nomargin">
                                    <div class="col-xs-3">
                                        <span>Export</span>
                                        <h6>Merchandise Exports on less than 1 year</h6>
                                    </div>
                                    <div class="col-xs-3">
                                        <span>ECCN</span>
                                        <h6>A123</h6>
                                    </div>
                                    <div class="col-xs-3">
                                        <span>Export License No.</span>
                                        <h6>LN123132</h6>
                                    </div>
                                    <div class="col-xs-3">
                                        <span>License Value</span>
                                        <h6>3321</h6>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="Tabs=='tab2'">
                                <div class="row nomargin">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-inline">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2">#</th>
                                                        <th rowspan="2">ITAR Excemption</th>
                                                        <th rowspan="2">SME Indicator</th>
                                                        <th rowspan="2">Eligible {{appMasterData['Party_Label']}} Certificate</th>
                                                        <th rowspan="2">USML Category</th>
                                                        <th colspan="2">Unit</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Code</th>
                                                        <th>No. of Pieces</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <tr>
                                                         <td>1</td>
                                                         <td>Shipments for profess...</td>
                                                         <td>Yes</td>
                                                         <td>Yes</td>
                                                         <td>Aircraft and Related Article</td>
                                                         <td>kg</td>
                                                         <td>222</td>
                                                     </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="Tabs=='tab3'">
                                <div class="row nomargin">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-inline">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>VIN / Product ID</th>
                                                    <th>ID Type</th>
                                                    <th>Vehicle Title No.</th>
                                                    <th>Vehicle Title State</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Shipments for profess...</td>
                                                    <td>VIN</td>
                                                    <td>AZ132132</td>
                                                    <td>Arizona</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>&lt;!&ndash;TAB CONTENT&ndash;&gt;
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

