<div class="mtb-15 table-responsive" ng-show="consol.connectionList.length>0">
    <table class="table table-inline">
        <thead>
         <th class="inl_xs">#</th>
         <th class="inl_mp">Move </th>
         <th class="inl_m">From</th>
         <th class="inl_m">To</th>
         <th class="inl_mp">ETD</th>
         <th class="inl_mp">ETA</th>
         <th class="inl_l">Carrier / Vessel</th>
         <th class="inl_s">Voy / Flt No</th>
         <th class="inl_m">Status</th>
        </thead>
        <tbody>
        <tr ng-repeat="consolConnection in consol.connectionList track by $index">
            <td>{{serialNo($index)}}</td>
            <td>{{consolConnection.move}}</td>
            <td>{{consolConnection.pol.portName}}</td>
            <td>{{consolConnection.pod.portName}}</td>
            <td><span>{{dateToString(consolConnection.etd)}}</span> </td>
            <td><span>{{dateToString(consolConnection.eta)}}</span> </td>
            <td><img ng-show="consolConnection.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{consolConnection.carrierMaster.image}}" style="padding-right:3px;" width="23" height="20">{{consolConnection.carrierMaster.carrierName}}</td>
            <td>{{consolConnection.flightVoyageNo}}</td>
            <td>{{consolConnection.connectionStatus}}</td>
        </tr>
        </tbody>
    </table>
</div>
<empty-record ng-show="!consol.connectionList || consol.connectionList.length==0" icon="connection" text="Looks like there are no connection records here"></empty-record>


