
<div class="row">

	<div class="col-xs-7 mt10 plr0">
		<div class="flex flex-col">
			<div class=" bor-btm-0">
				<div class="flex-row mb0">
					<div class="col-xs-4">
						<span>Origin</span>
						<h6 class="mb0" ng-show="consol.origin!=null">{{consol.pol.portName}}
							({{consol.pol.portCode}})</h6>
						<h6 class="mb0">{{consol.pol!=null?'':'-'}}</h6>
					</div>
					<div class="col-xs-4">
						<span>Destination</span>
						<h6 class="mb0" ng-show="consol.destination!=null">{{consol.pod.portName}}
							({{consol.pod.portCode}})</h6>
						<h6 class="mb0">{{consol.pod!=null?'':'-'}}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 mt-15">
		<div class="table-responsive">
			<table class="table table-inline">
				<thead class="borderthead">
					<tr>
						<th class="inl_sno">#</th>
						<th class="inl_sm">Shipment UID</th>
						<th class="inl_m">Shipper</th>
						<th class="inl_m">Consignee</th>
						<th class="inl_sm">HAWB No</th>
						<th class="inl_m">HAWB Date</th>
						<th class="inl_mp">PP / CC</th>
						<th class="inl_sm text-right">No of Pieces</th>
						<th class="inl_sm text-right">Gross Weight (KG)</th>
						<th class="inl_sm text-right">Volume Weight (KG)</th>
						
						<th class="inl_sm text-left">Hold</th>
						<th class="inl_sm text-left">Known Shipper</th>
						
						<th class="inl_xs">Action</th>
					</tr>
				</thead>
				<tbody class="bor-0">
					<tr>
						<td class="verticalaln"><span class="icon-search"></span></td>
						<td><input type="text" class="form-control"
							ng-model="shipSearch.serviceCodeWithShipmentId"></td>
						<td><input type="text" class="form-control"
							ng-model="shipSearch.shipper.partyName"></td>
						<td><input type="text" class="form-control"
							ng-model="shipSearch.consignee.partyName"></td>
						<td><input type="text" class="form-control"
							ng-model="shipSearch.hawbNo"></td>
						<td>
							 <div class="inputBox ">
								<input tabindex="" class="form-control"
									ng-model="shipSearch.serviceReqDate" datetimepicker
									datetimepicker-options="{{datePickerOptions}}"> <span
									class="inputIcon"><i class="icon-date"
									aria-hidden="true"></i></span>
							</div> 
							
							 <!-- <input style="font-size: 11px" data-date-range-picker data-options="datepickeropts" ng-model="shipSearch.serviceReqDate" type="text" class="form-control input-sm date-picker cur-pointer"/>
                                     <span class="abs t10px r-15 event-none"><i class="icon-date-picker" aria-hidden="true"></i></span> -->
						</td>
						<td> <select class="form-control"
							ng-model="shipSearch.ppcc">
								<option value="">All</option>
								<option value="true">Prepaid</option>
								<option value="false">Collect</option>
						</select> 
						
						</td>
						<td class=" text-right"><input type="text"
							class="form-control text-right"
							ng-model="shipSearch.bookedPieces"></td>
						<td class=" text-right"><input type="text"
							class="form-control text-right"
							ng-model="shipSearch.bookedGrossWeightUnitKg"></td>
						<td class=" text-right"><input type="text"
							class="form-control text-right"
							ng-model="shipSearch.bookedVolumeWeightUnitKg"></td>
							
							<td>
						</td>
						<td>
						</td>
						
						<td class="verticalaln"><input type="checkbox" ng-model="consol.allServiceSelected" ng-click="chkAllService();" id="serviceAll"></td>
					</tr>
				</tbody>
				<tbody class="bor-0">
					<tr ng-repeat="service in shipmentServiceData | filter:shipSearch track by $index">
						<td class="text-center " title="$index+1">{{$index+1}}</td>

						<td class="tdtext-wrap" title="{{service.shipmentUid}}">{{service.serviceMaster.serviceCode}}-
                    <a ng-show="getColorCode(service)==null" ng-click="goToShipmentView(service.id)" href="javascript:void(0)" class="hyperLink text-blue" >{{service.shipmentUid}}</a>
                    <a ng-show="getColorCode(service)=='Over'" ng-click="goToShipmentView(service.id)" href="javascript:void(0)"  style="color:#0000ff;text-decoration: underline;" >{{service.shipmentUid}}</a>
                    <a ng-show="getColorCode(service)=='Haz'" ng-click="goToShipmentView(service.id)" href="javascript:void(0)"  style="color:#ff0000;text-decoration: underline;">{{service.shipmentUid}}</a>
                     <a ng-show="getColorCode(service)=='Hold'" ng-click="goToShipmentView(service.id)" href="javascript:void(0)"  style="color:#ff0080;text-decoration: underline;">{{service.shipmentUid}}</a>
                    </td>
						<td class="tdtext-wrap"
							title="{{service.shipper.partyName}}">{{service.shipper.partyName}}</td>
						<td class="tdtext-wrap"
							title="{{service.consignee.partyName}}">{{service.consignee.partyName}}</td>
						<td class="tdtext-wrap " title="{{service.hawbNo}}"><a ng-click="goToShipmentView(service.id)" href="javascript:void(0)" class=" hyperLink text-blue">{{service.hawbNo}}</a></td>
						<td class="tdtext-wrap"
							title="{{dateToString(service.serviceReqDate)}}">{{dateToString(service.serviceReqDate)}}</td>
						<td class="tdtext-wrap" title="{{service.ppcc?'Collect':'Prepaid'}}">{{service.ppcc?'Collect':'Prepaid'}}</td>
						<td class="text-right">{{integerFormat(service.bookedPieces,service.country.locale)}}</td>
                    <td class="text-right">{{weightFormat(service.bookedGrossWeightUnitKg,service.country.locale)}}</td>
                    <td class="text-right">{{weightFormat(service.bookedVolumeWeightUnitKg,service.country.locale)}}</td>
                    <td class="text-left">{{getColorCode(service)=='Hold'?'Yes':'No'}}</td>
                     <td class="text-left">{{isKnownShipper(service)?'Yes':'No'}}</td>
						<td class="verticalaln" >
					    <input type="checkbox" ng-disabled="getColorCode(service)=='Hold'" ng-model="service.isSelected" >
							</td>
					</tr>

				</tbody>
			</table>
			<ul style="list-style:none; float:left;">
			<li style="color: #ff0080; float: left; margin-right: 20px;">
					<button ng-disabled="true" type="button"
						style="border: 1px solid #ff0080;"
						class="btn btn-default btn-pinkcolor pt5"></button> Hold Shipment
				</li>
				<li style="color: #ff0000; float: left; margin-right: 20px;">
					<button ng-disabled="true" type="button"
						style="border: 1px solid #ff0000;"
						class="btn btn-default btn-redcolor pt5"></button> Haz Goods
				</li>
				<li style="color: #0000ff; float: left; margin-right: 20px;">
					<button ng-disabled="true" type="button"
						style="border: 1px solid #0000ff;"
						class="btn btn-default btn-bluecolor pt5"></button> <span
					class="txt-bluecolor">Over Dimension</span>
				</li>

			</ul>
		</div>
	</div>
	
</div>
<modal-spinner spinner-status="masterWidgetHawbSpinner"></modal-spinner>