
        
           
            
                    <div class="col-xs-12 plr0">
                        <div class="form-group">
                        <label>Note</label>
                               <textarea class="form-control form-control minH-180 txtresize" id="note" input-focus="true"
                                         ng-model="consol.notes"
                                         maxlength="4000">
                                </textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 plr0">
                        <div class="form-group mb0">
                        <label>Internal Note</label>
                               <textarea class="form-control  form-control minH-180 last-child txtresize" id="internalNote"
                                         ng-model="consol.internalNote"
                                         maxlength="4000">
                                </textarea>
                        </div>
                    </div>
               
            

