
        <div class="row nomargin">
            <div class="col-xs-12 mt-15">
                
            </div>
             <div class="col-xs-12 mt-15">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                        <label>Note</label>
                                {{consol.notes}}
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                        <label>Internal Note</label>
                                {{consol.internalNote}}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
