<div class="accordian-content">
<div class="row nomargin">

	                                    <div class="col-xs-12 col-lg-5 pl0">
	                                        <button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSignOffStatus('INV',consol,shipmentLink.service);$hide()"><i class="icon-add opcfull"></i> Add Invoice</button>
	                                        <button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 mr-6 pl0" ng-click="getSignOffStatus('CRN_COST',consol,shipmentLink.service);$hide()"><i class="icon-add opcfull"></i> Add Credit Note Cost</button>
	                                        <button type="button" class="btn btn-primary btn-xs btn-property accent-btn mb-10 pl0" ng-click="getSignOffStatus('CRN_REV',consol,shipmentLink.service);$hide()"><i class="icon-add opcfull"></i> Add Credit Note Revenue</button>
	</div>
	<div class="col-xs-12 col-lg-7">
				<div class="row">

					<label class="pull-left pr8">Filter By</label>

					<div class="col-xs-5 pr0">
						<button-group btn-index=""
									  states="btnGrp.TypeArr"
									  state="searchDto.invoiceCreditNoteType"
									  on-state-change="filterInvoiceCreditNote(searchDto.invoiceCreditNoteType)"
								>
						</button-group>
					</div>
					<div class="col-xs-5 pr0">

						<button-group btn-index=""
									  states="btnGrpFilter.TypeArr"
									  state="searchDto.customerAgentType"
									  on-state-change="filterCustomerAgent(searchDto.customerAgentType)"
								>
						</button-group>
					</div>
				</div>
			</div>
			</div>
	                                        <div class=" table-responsive nomargin" ng-show="invoiceListByService.length>0">
	                                            <table class="table table-hover mb0">
					 <thead>
     <tr>
     <th rowspan="2" class="w40px ">#</th>
     <th rowspan="2" class="w60px ">Daybook</th>
     <th rowspan="2" class="w100px " style="white-space: normal">Document No</th>
     <th rowspan="2" class="w90px ">Document <br> Date</th>
     <th rowspan="2"class="w90px " >Due Date</th>
     <th rowspan="2" class="w75px " >Adjustment <br> Daybook</th>
     <th rowspan="2" class="w85px " >Adjusted <br>Document No</th>
     <th rowspan="2" class="w100px ">Customer/Agent</th>
     <th rowspan="2" class="w75px " >{{appMasterData['Party_Label']}} Name</th>
     <th rowspan="2" class="w75px ">{{appMasterData['Party_Label']}}<br> Account  No</th>
     <!-- <th rowspan="2" >Subledger</th> -->
     <th colspan="3" class="text-center">Billing</th>
     <!-- <th colspan="3" class="text-center">Local</th> -->
     <th rowspan="2" class="w60px ">More</th>
    </tr>
    <tr>
      <th class="w60px ">Currency</th>
      <th class="text-right w80px">Amount</th>
      <th class="text-right w80px">Balance <br>  Amount</th>
      
      <!-- <th>Currency</th>
      <th class="text-right" >Amount</th>
      <th class="text-right w60px" >Balance <br>  Amount</th> -->
     
    </tr>
 
     </thead>
					<tbody ng-repeat="invoice in invoiceListByService | filter:{customerAgent: customerAgent,invoiceStatus:invoiceCreditNoteStatus,documentTypeCode:documentTypeCode} | orderBy : '-id' track by $index">
					
					<tr>
						<td>{{$index+1}}</td>
					<td>{{invoice.daybookCode}}</td>
					<td>{{invoice.invoiceCreditNoteNo}}
					</td>
					<td>{{dateToString(invoice.invoiceCreditNoteDate)}}</td>
					<td>{{dateToString(invoice.dueDate)}}</td>
					<td style="width:130px !important;white-space: pre-wrap !important;">{{invoice.adjDaybookCode!=null?invoice.adjDaybookCode:'-'}}{{invoice.adjDaybookName!=null?'-'+invoice.adjDaybookName:''}}</td>
					<td>{{invoice.adjustmentInvoiceNo!=null?invoice.adjustmentInvoiceNo:'-'}}</td>
					<td>{{invoice.customerAgent}}</td>
					<td style="width:200px !important;white-space: pre-wrap !important;">{{invoice.partyName}}</td>
					<td>{{invoice.accountCode}}</td>
					<!-- <td>{{invoice.subledger}}</td> -->
					<td>{{invoice.currencyCode}}</td>
					<td class="text-right">
					 {{currencyFormatDecimalPoint(invoice.decimalPoint,invoice.locale,invoice.currencyAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormatDecimalPoint(invoice.decimalPoint,invoice.locale,invoice.outstandingAmount)}}
					</td>
					<!-- <td>{{invoice.locCurrencyCode}}</td>
					<td class="text-right">
					{{currencyFormatDecimalPoint(invoice.locCurDecimalPoint,invoice.locCurrLocale,invoice.localAmount)}}
					</td>
					<td class="text-right">
					 {{currencyFormatDecimalPoint(invoice.locCurDecimalPoint,invoice.locCurrLocale,invoice.outstandingAmount*invoice.roe)}}
					</td> -->
					 <td><a href="javascript:void(0);" ng-click="getInvoiceCrnView(invoice,shipmentLink.service);$hide();"><i class="icon-notes"></i></a> </td>
					</tr>
	                                            </table>
	                                        </div>
	                                        <efs-spinner spinner-status="invoiceSpinner"></efs-spinner>
	                                        <empty-record ng-show="!invoiceListByService || invoiceListByService.length==0" icon="invoice" text="Looks like there are no invoice records here"></empty-record>
	
	                                    </div>
	                                