<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content minH550">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Link Services</h4>
                         <span class="error-message" ng-show="errorMap.get('linkService')!=null">
                             <small>{{errorMap.get('linkService')}}</small>
                         </span>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="cancelLinkService()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="saveLinkService()>Save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0">
                <div class="row bor-btm1 overflow-hidden">
                    <div class="col-xs-3 text-center bor-r-1 bor-fix">
                        <h2 class="mt-5">{{shipmentServiceData.length}}</h2>
                        <p>Matching Services found</p>
                    </div>
                    <div class="col-xs-9 bor-fix">
                        <h4><span>Linked the below Services</span></h4>
                        <ul class="list-inline" >
                            <li ng-repeat="shipmentLink in consol.shipmentLinkList track by $index"><span class="btn btn-xs btn-property btn-default cancel-btn">{{shipmentLink.service.shipmentUid}} <span class="icon-close" ng-click="linkedServiceRemove($index,shipmentLink)" ng-show="shipmentLink.id==null"></span> </span></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                        <div class="table-responsive mt-15">
                            <table class="table table-hover" >
                                <thead>
                                <tr>
                                    <!--<th class="text-center"></th>-->
                                    <th class="text-center">#</th>
                                    <th>Shipment UID</th>
                                    
                                    <!--<th>Shipment ID</th>-->
                                    <th>
                                        <div class="">
                                            Shipper
                                        </div>
                                    </th>
                                    <th>Consignee</th>
                                    <th>HAWB No</th>
                                    <th class="inl_m">HAWB Date</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>PP / CC </th>
                                    <th class="text-right inl_sm whitespace-normal">No of Pieces</th>
                                    <th class="text-right inl_sm whitespace-normal">Gross Weight (KG)</th>
                                    <th class="text-right inl_sm whitespace-normal">Volume Weight (KG)</th>
                                    <th>Status</th>
                                    <!-- As discussed with vaishak we removed <th class="text-center">Actions</th> -->
                                </tr>
                                <tr>
                                    <!--<th></th>-->
                                    <th class="text-center"><span class="icon-search"></span></th>
                                     <th><input type="text" class="form-control" ng-model="shipSearch.serviceCodeWithShipmentId"></th>
                                    
                                    <!--<th><input type="text" class="form-control" ng-model="shipSearch.shipmentUid"></th>-->
                                    <th><input type="text" class="form-control" ng-model="shipSearch.shipper.partyName"></th>
                                    <th><input type="text" class="form-control" ng-model="shipSearch.consignee.partyName"></th>
                                    <th><input type="text" class="form-control" ng-model="shipSearch.hawbNo"></th>
                                    <th>
                                        <div class="inputBox ">
                                            <input class="form-control" ng-model="shipSearch.tmpServiceReqDate"  datetimepicker  datetimepicker-options="{{directiveDatePickerOpts}}" >
                                            <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                        </div>
                                    </th>
                                    <th><input type="text" class="form-control" ng-model="shipSearch.pol.portName"></th>
                                    <th><input type="text" class="form-control" ng-model="shipSearch.pod.portName"></th>
                                    <th>
                                        <select class=" w50px" ng-model="shipSearch.ppcc">
                                            <option value="">All</option>
                                            <option value="Prepaid">Prepaid</option>
                                            <option value="Collect">Collect</option>
                                        </select>
                                    </th>
                                    <th class="inl_sm"><input type="text" class="form-control text-right" ng-model="shipSearch.bookedPieces"></th>
                                    <th class="inl_sm"><input type="text" class="form-control text-right" ng-model="shipSearch.bookedGrossWeightUnitKg"></th>
                                    <th class="inl_sm"><input type="text" class="form-control text-right" ng-model="shipSearch.bookedVolumeWeightUnitKg"></th>
                                    <th>
                                        <select class="w50px" ng-model="shipSearch.lastUpdatedStatus.serviceStatus">
                                           <option value="">All</option>
                            <option value="Generated">Generated</option>
                            <option value="Closed">Closed</option>
                             <option value="Cancelled">Cancelled</option>
                                        </select>
                                    </th>
                                    <!-- <th></th> -->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="shipmentLink in shipmentServiceData | filter:shipSearch:startsWith track by $index" ng-init="shipmentLink.tmpServiceReqDate = dateToString(shipmentLink.serviceReqDate)">
                                    <td class="text-center width20px" >
                                        <button ng-show="getColorCode(shipmentLink)=='Hold'" title="{{shipmentLink.reasonForHold}}" type="button" class="btn btn-default pt5"> <span class="fa fa-link" style="color:#ff0080;"></span></button>
                                        <button ng-show="getColorCode(shipmentLink)=='Haz'" title="Link This Service" ng-click="linkService($index,shipmentLink)" type="button" class="btn btn-default pt5"> <span class="fa fa-link" style="color:#ff0000;"></span></button>
                                        <button ng-show="getColorCode(shipmentLink)=='Over'" title="Link This Service" ng-click="linkService($index,shipmentLink)" type="button" class="btn btn-default pt5"> <span class="fa fa-link" style="color:#0000ff;"></span></button>
                                        <button ng-show="getColorCode(shipmentLink)==null" title="Link This Service" ng-click="linkService($index,shipmentLink)" type="button" class="btn btn-default pt5"> <span class="fa fa-link" ></span></button>
                                    </td>
                                 <!--    <td class="text-center" title="{{$index+1}}">{{$index+1}}</td> -->
                                    <td class="tdtext-wrap" title="{{shipmentLink.shipmentUid}}">{{shipmentLink.serviceMaster.serviceCode}}-{{shipmentLink.shipmentUid}}</td>
                                    
                                    <!--<td class="tdtext-wrap" title="{{shipmentLink.shipmentUid}}">{{shipmentLink.shipmentUid}}<a href="#"></a></td>-->
                                    <td class="tdtext-wrap" title="{{shipmentLink.shipper.partyName}}">{{shipmentLink.shipper.partyName}}</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.consignee.partyName}}">{{shipmentLink.consignee.partyName}}</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.hawbNo}}">{{shipmentLink.hawbNo}}</td>
                                    <td class="tdtext-wrap" title="{{dateToString(shipmentLink.serviceReqDate)}}">{{dateToString(shipmentLink.serviceReqDate)}}</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.pol.portName}}">{{shipmentLink.pol.portName}}</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.pod.portName}}">{{shipmentLink.pod.portName}}</td>
                                    <td class="tdtext-wrap" title="{{shipmentLink.ppcc?'Collect':'Prepaid'}}">{{shipmentLink.ppcc?'Collect':'Prepaid'}}</td>
                                    <td class="text-right inl_sm">{{shipmentLink.bookedPieces}}</td>
                                    <td class="text-right inl_sm">{{shipmentLink.bookedGrossWeightUnitKg | number:3}}</td>
                                    <td class="text-right inl_sm">{{shipmentLink.bookedVolumeWeightUnitKg | number:3}}</td>
                                    <td class="tdtext-wrap">{{shipmentLink.lastUpdatedStatus.serviceStatus}}</td>
                                    <!-- As discussed with vaishak we removed <td class="text-center">
                                        <button type="button" class="btn btn-xs btn-property accent-btn">More <span class="icon-r-arrow"></span> </button>
                                    </td> -->
                                </tr>

                                </tbody>
                                
                            </table>
                            
                        
                            
                            <ul stye="list-style:none; float:left;">
                            
                            	<li style="color:#ff0080;float:left;margin-right:20px;">
                            	<button type="button" disabled="true" class="btn btn-default pt5"> <span class="fa fa-link" style="color:#ff0080;"></span></button>
                            		Hold Shipment
                            	</li>
                            	
                            	<li style="color:#ff0000;float:left; margin-right:20px;">
                            	<button type="button" class="btn btn-default pt5"> <span class="fa fa-link" style="color:#ff0000;"></span></button>
                            		Haz Goods
                            	</li>
                            	<li style="color:#0000ff;float:left;margin-right:20px;">
                            	<button type="button" class="btn btn-default pt5"> <span class="fa fa-link" style="color:#0000ff;"></span></button>
                            		Over Dimension
                            	</li>
                            	
                            </ul>
                            
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div><!--body ends-->
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->