<div class="col-xs-12 detailview">

    <ul ng-hide="setVisibility" class="list-inline mb-10">
        <li>
            <a href="javascript:void(0);" class="btn btn-xs btn-property btn-gray" ng-click="backConsol()"><i class="icon-back-menu"></i>Back</a>
        </li>
        <!-- ng-hide="true" -->
        <li>
            <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addConsol()"><i class="icon-add"></i> add master shipment</a>
        </li>
        <div show-response></div>
        <!-- ng-show="showPageNavEdit" -->
        <!-- <li class=" pull-right" >
            <ul class="list-inline">
                <li>
                    <ul class="list-inline li-p0">
                        <li>{{detailTab=='active'?(activeSearchDto.selectedPageNumber+1):(searchDto.selectedPageNumber+1)}}</li>
                        <li>of</li>
                        <li>{{detailTab=='active'?totalRecordView:totalRecord}}</li>
                    </ul>
                </li>
                <li>
                    <ul class="list-inline next-prev">
							<li data-placement="auto bottom"   bs-tooltip="prev"><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
							<li  data-placement="auto bottom"    bs-tooltip="next"><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                    </ul>
                </li>
            </ul>
        </li> -->
    </ul>
    <!--ADD BAR ENDS-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <client-error message="clientMessage"></client-error>
            <div success-message></div>
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-4 col-lg-5 pr0">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                            <h4>Master ID <span>{{consol.consolUid}}</span></h4>
                        </div>
                        <div class="col-xs-4 mt10 hidden-xs hidden-sm hidden-md plr0">
                            <div class="pull-left">
                                <div class="pull-left">
                                    <ul class="list-inline pr5">
                                        <li ng-show="consol.serviceMaster.transportMode=='Air'">
                                            <span class="icon-bairplane"></span>
                                        </li>
                                        <li ng-show="consol.serviceMaster.importExport=='Export'">
                                            <span class="icon-upload"></span>
                                        </li>
                                        <li ng-show="consol.serviceMaster.importExport=='Import'">
                                            <span class="icon-download"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-blue text-ellipsis">{{consol.serviceMaster.serviceName}}</div>
                            </div>
                        </div>
                        <div class="col-xs-3 hidden-xs hidden-sm hidden-md plr0">
                            <h4><small>{{dateAndTimeToString(consol.masterDate)}}</small></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-7 mt-7">
                    <div class="row masopertion-action ">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 plr0 text-right">
                            <ul class="list-inline m-text-right">

                                <li>
                                    <button ng-show="consol.consolSignOff==null || !consol.consolSignOff.isSignOff" type="button" class="btn btn-primary btn-property green-btn" ng-click="consolSignOffModel(consol);">Sign Off</button>
                                </li>

                                <li>
                                    <button ng-show="consol.consolSignOff!=null && consol.consolSignOff.isSignOff" type="button" class="btn btn-primary btn-property green-btn" ng-click="consolUnSignOffModal(consol);">Unsign Off</button>
                                </li>


                                <li ng-show="consol.serviceMaster.importExport=='Export' && consol.isJobCompleted==false && consol.jobStatus!='Cancelled'">
                                    <input class="magic-checkbox" ng-model="consol.isJobCompleted" type="checkbox" ng-change="confirmEdiAndCompleteImportProcess(consol)" id="markjobCompleted">
                                    <label class="text custom-label text-inherit m-text-left" for="markjobCompleted">
                                        {{!markjobCompleted?'Mark as Completed':'Completed'}}
                                    </label>
                                </li>
                                <li ng-show="consol.isJobCompleted==false && consol.jobStatus!='Cancelled'">
                                    <input ng-hide="consol.jobStatus=='Cancelled'" class="magic-checkbox" type="checkbox" ng-model="consol.jobStatusChecker" ng-change="markAsCancelled(consol)" id="markOption">
                                    <label class="text custom-label text-inherit m-text-left" for="markOption">
                                        {{!markOption?'Cancel':'Cancelled'}}
                                    </label>
                                </li>
                                <li>
                                    <!-- <button  type="button" class="btn btn-primary btn-property accent-btn" ng-click="codeMirror_Generate()"  >Generate Airline EDI</button> -->
                                    <button type="button" class="btn btn-primary btn-property accent-btn" ng-click="airlineEdiConfirmation()" ng-show="consol.id != null && consol.serviceMaster.importExport=='Export'">Generate Airline EDI</button>
                                </li>
                                <!--  <li>
                                    <button type="button" class="btn btn-primary btn-property green-btn"  ng-hide="true">Generate EDI for Customs</button>

                                </li> -->
                            </ul>
                        </div>
                        <div class="col-xs-2 plr0">
                            <ul class="list-inline pull-right">
                                <li>
                                    <a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory" class="list-panel-edit-btn">
                                        <i class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i></a>
                                </li>
                                <li ng-show="showPageNavEdit"><a data-placement="bottom" bs-tooltip="editIcon" ng-hide="setVisibility" href="javascript:void(0)" ng-click="editConsol()" ng-hide="consol.jobStatus=='Cancelled'?true:false || consol.jobStatusChecker==true"><i class="icon-edit"></i></a></li>
                                <!--<li><a title="Generate Airline EDI" href="javascript:void(0)" ng-click="default_editmodel()" class="list-panel-edit-btn"><i class="icon-delete"></i></a></li>-->
                            </ul>
                        </div>

                    </div>

                </div>


            </div>
            <!--Row ends-->
        </div>
        <!--PANEL HEADING ENDS-->
        <div class="panel-body info-view detail-body pt0 pb0" ng-click="showHistory=false" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">


            <div class="row blue-shade">


                <div class="col-md-10 col-sm-10  col-xs-12  pl0 pr0 borconsolright bor-r-1 border-rightnone">
                    <div class="bs-wizard borderbt0 mart18px" ng-class="consol.id!=null && consol.serviceMaster.importExport=='Export' && (consol.origin.portGroupMaster.countryMaster.countryCode=='US' || 
     consol.pol.portGroupMaster.countryMaster.countryCode=='US')?'width100per':'width120per'">

                        <div class="col-xs-2 bs-wizard-step complete" ng-init="openDefaultTab()">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a ng-click="menuTabClick('moreInfo')" ng-class="Tabs=='moreInfo'?'bs-wizard-dotchange':'bs-wizard-dot'" class="bs-wizard-dot">
                                <span class="tickmrk" data-placement="top" title="Service & Routing">&#xf0ad;</span>
                            </a>
                            <div class="bs-wizard-info text-center">Service &amp; Routing</div>
                        </div>

                        <div class="col-xs-2 bs-wizard-step complete">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a ng-click="menuTabClick('consol')" ng-class="Tabs=='consol'?'bs-wizard-dotchange':'bs-wizard-dot'" class="bs-wizard-dot">
                                <span class="tickmrk" data-placement="top" title="Hawb list">&#xf07a;</span>
                            </a>
                            <div class="bs-wizard-info text-center">{{consol.directShipment=='Yes'?'HAWB list':'MAWB'}}</div>
                        </div>

                        <div class="col-xs-2 bs-wizard-step complete">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a ng-click="menuTabClick('documentInfo')" ng-class="Tabs=='documentInfo'?'bs-wizard-dotchange':'bs-wizard-dot'" class="bs-wizard-dot">
                                <span class="tickmrk" data-placement="top" title="Hawb">&#xf072;</span>
                            </a>
                            <div class="bs-wizard-info text-center">Document</div>
                        </div>

                        <div class="col-xs-2 bs-wizard-step complete">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a ng-click="menuTabClick('pickup')" ng-class="Tabs=='pickup'?'bs-wizard-dotchange':'bs-wizard-dot'" class="bs-wizard-dot">
                                <span class="tickmrk rotate-y" data-placement="top" title="Pick up/Delivery">&#xf0d1;</span>
                            </a>
                            <div class="bs-wizard-info text-center ">Pick Up/Delivery</div>
                        </div>
                        <div class="col-xs-2 bs-wizard-step complete" ng-if="consol.consolUid!=null && consol.origin.portGroupMaster.countryMaster.countryCode=='US' && consol.serviceMaster.importExport=='Export'">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a ng-click="menuTabClick('aes');aesSearchFunction(consol)" ng-class="Tabs=='aes'?'bs-wizard-dotchange':'bs-wizard-dot'" class="bs-wizard-dot">
                                <span class="tickmrk" data-placement="top" title="others">&#xf0b1;</span>
                            </a>
                            <div class="bs-wizard-info text-center">AES</div>
                        </div>
                        <div class="col-xs-2 bs-wizard-step complete">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a ng-click="menuTabClick('rates')" ng-class="Tabs=='rates'?'bs-wizard-dotchange':'bs-wizard-dot'" class="bs-wizard-dot">
                                <span class="tickmrk" data-placement="top" title="Aes & Rates">&#xf0ac;</span>
                            </a>
                            <div class="bs-wizard-info text-center">Charges</div>
                        </div>


                    </div>

                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 pr0 mart8px padbot10">
                    <div class="menuright">
                        <div class="col-md-12 col-xs-12 pr0 ">
                            <button type="button" ng-click="reportviewmodel()" class=" btn btn-primary btn-xs btn-property accent-btn  floright  ng-binding mt-4 " style="width: 100px;">
		<i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;Reports
	</button>



                            <button type="button" ng-click="eventviewmodel()" class="floright btn btn-primary btn-xs btn-property accent-btn  ng-binding mt-4 " style="width: 100px;">
		<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Events
	</button>

                            <button type="button" class="floright mmle4 btn btn-primary btn-xs btn-property accent-btn mt-4  " style="width: 100px;" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-ellipsis-v" aria-hidden="true"></i>&nbsp;More&hellip;
	</button>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a ng-click="attviewmodel()" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Attachment
			</a>
                                </li>

                                <hr class="margintb0">
                                <li>
                                    <a ng-click="refviewmodel()" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;References
			</a>
                                </li>
                                <hr class="margintb0" ng-show="consol.id!=null">
                                <li ng-show="consol.id!=null">
                                    <a ng-click="accviewmodel()" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Accounts
			</a>
                                </li>
                                <hr class="margintb0">
                                <li>
                                    <a ng-click="notesviewmodel()" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Notes
			</a>
                                </li>
                                <hr class="margintb0" ng-show="consol.id!=null">
                                <li ng-show="consol.id!=null">
                                    <a ng-click="$uiShipmentDataService.goToJobLedger(null,consol)" href="javascript:void(0)">
				&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;Job Ledger
			</a>
                                </li>
                            </ul>



                        </div>
                    </div>
                </div>
            </div>


            <!--Row Ends-->
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <!-- <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="openDefaultTab()">
                        <li data-menu-item="moreInfo">
                            <button type="button" class="btn" ng-class="Tabs=='moreInfo'?'active':'btn-normal'" ng-click="menuTabClick('moreInfo')">Details</button>
                        </li>
                        <li data-menu-item="consol" >
                            <button ng-hide="consol.serviceMaster.importExport=='Export' && consol.directShipment=='Yes'" type="button" class="btn" ng-class="Tabs=='consol'?'active':'btn-normal'" ng-click="menuTabClick('consol')">HAWB list</button>
                        </li>
                        <li data-menu-item="documentInfo">
                            <button type="button" class="btn" ng-class="Tabs=='documentInfo'?'active':'btn-normal'" ng-click="menuTabClick('documentInfo')">document</button>
                        </li>
                        <li data-menu-item="connections">
                            <button type="button" class="btn" ng-class="Tabs=='connections'?'active':'btn-normal'" ng-click="menuTabClick('connections')">connections</button>
                        </li>
                        <li data-menu-item="attachMent">
                            <button type="button" class="btn" ng-class="Tabs=='attachMent'?'active':'btn-normal'"  ng-click="menuTabClick('attachMent')">attachments</button>
                        </li>
                        <li data-menu-item="pickup">
                            <button type="button" class="btn" ng-class="Tabs=='pickup'?'active':'btn-normal'" ng-click="menuTabClick('pickup')">pick Up / delivery</button>
                        </li>
                        <li data-menu-item="rates">
                            <button type="button" class="btn" ng-class="Tabs=='rates'?'active':'btn-normal'" ng-click="menuTabClick('rates')">Charges</button>
                        </li>
                        <li data-menu-item="events">
                            <button type="button" class="btn" ng-class="Tabs=='events'?'active':'btn-normal'" ng-click="menuTabClick('events')">events</button>
                        </li>
                        <li data-menu-item="reports">
                            <button type="button" class="btn" ng-class="Tabs=='reports'?'active':'btn-normal'" ng-click="reportListMaking(consol,consol.id);menuTabClick('reports')">reports</button>
                        </li>
                        <li data-menu-item="accounts">
                            <button type="button" class="btn" ng-class="Tabs=='accounts'?'active':'btn-normal'" ng-click="getAccountsFromMaster(consol);menuTabClick('accounts')">Accounts</button>
                        </li>
                        <li data-menu-item="references">
                            <button type="button" class="btn" ng-class="Tabs=='references'?'active':'btn-normal'" ng-click="menuTabClick('references')">References</button>
                        </li>
                        <li data-menu-item="notes">
                            <button type="button" class="btn" ng-class="Tabs=='notes'?'active':'btn-normal'" ng-click="menuTabClick('notes')">Notes</button>
                        </li>
                        <li data-menu-item="aes">
                            <button type="button"
                            ng-show="consol.consolUid!=null && consol.origin.portGroupMaster.countryMaster.countryCode=='US' && consol.serviceMaster.importExport=='Export'"
                             class="btn" ng-class="Tabs=='aes'?'active':'btn-normal'" ng-click="menuTabClick('aes');aesSearchFunction(consol)">AES{{finalArr!=null&&finalArr.length!=null?'('+finalArr.length+')':''}}</button>
                        </li>
                        <li data-menu-item="EdiStatus">
                            <button type="button" class="btn" ng-class="Tabs=='EdiStatus'?'active':'btn-normal'" ng-click="menuTabClick('EdiStatus')" ng-if="false">Airline EDI status</button>
                        </li>
                        <li data-more-menu-item >
                            <button type="button" class="btn btn-normal"> More <span class="icon-downarr"></span></button>
                        </li>
                    </ul> -->
                    <!--TAB MENUS ENDS-->
                    <div class="tab-content pb0">
                        <div ng-show="Tabs=='moreInfo'">

                            <div class="row">
                                <div class="col-xs-12 ">
                                    <div ng-include="'app/components/air/consol_shipments_new_screen/views/moreInfo_tab.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!--MORE INFO TAB ENDS-->
                        <div ng-show="Tabs=='consol'">
                            <div class="col-xs-4 pt10">
                                <ul class="list-inline" ng-if="consol.serviceMaster.importExport=='Import'">
                                    <li ng-show="consol.shipmentLinkList.length>0 && consol.id!=null">
                                        <button type="button" class="btn accent-btn" ng-click="downloadDo()">Download Delivery{{consol.serviceMaster.transportMode=='Air'?'Advice':Order}}</button>
                                        <!--    <div  ng-show="false"
                                           ng-include="'app/components/dynamicreport/view/do_all.html'"></div> -->
                                    </li>
                                </ul>
                            </div>
                            <div ng-include="'app/components/air/consol_shipments_new_screen/views/consol_tab.html'"></div>
                        </div>
                        <!--CONSOL TAB ENDS-->
                        <div ng-show="Tabs=='documentInfo'">
                            <!-- ng-show="consol.serviceMaster.importExport=='Export'" -->
                            <div class="row" ng-show="consol.serviceMaster.importExport=='Export'">
                                <div class="col-xs-12 ">
                                    <div ng-include="'app/components/air/consol_shipments_new_screen/views/documents_tab.html'"></div>
                                </div>
                            </div>
                            <div class="row nomargin" ng-show="consol.serviceMaster.importExport=='Import'">
                                <div class="col-xs-12 nopadding">
                                    <div ng-include="'app/components/air/consol_shipments_new_screen/views/import_documents.html'"></div>
                                </div>
                            </div>
                            <!--Import Shipments-->
                        </div>
                        <!--DOCUMENT TAB ENDS-->
                        <div ng-show="Tabs=='connections'">
                            <div class="row nomargin pt-15">
                                <div class="col-xs-12">
                                    <div ng-include="'app/components/air/consol_shipments_new_screen/views/connections.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!--CONNECTION TAB ENS-->
                        <!--ATTACHEMENT TAB STARTS-->
                        <!-- <div ng-show="Tabs=='attachMent'">
                            <div class="row nomargin pt-15 noborder">
								<super-attachment-table attachment-config="attachConfig"
									table-data="consol.consolAttachmentList"
									download-fn="downloadAttach(param)" 
									fn-role="roleAccess(param)"
									add-role="$roleConstant.AIR_MASTER_SHIPMENT_ATTACHMENT_ADD"
									edit-role="$roleConstant.AIR_MASTER_SHIPMENT_ATTACHMENT_MODIFY"
									delete-role="$roleConstant.AIR_MASTER_SHIPMENT_ATTACHMENT_DELETE"
									download-role="$roleConstant.AIR_MASTER_SHIPMENT_ATTACHMENT_DOWNLOAD">
								</super-attachment-table>
							</div>
                        </div> -->
                        <!--ATTACHEMENT TAB ENDS-->
                        <div ng-show="Tabs=='pickup'">

                            <div ng-include="'app/components/air/consol_shipments_new_screen/views/pickupdelivery_view.html'"></div>


                        </div>

                        <div ng-show="Tabs=='rates'">
                            <div class="row nomargin">
                                <div class="col-xs-12 mtb-15">
                                    <div ng-include="'app/components/air/consol_shipments_new_screen/views/add_rate.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!--RATE TAB ENDS-->
                        <!--<div ng-show="Tabs=='statusUpdate'">-->
                        <!--<div class="row nomargin ">-->
                        <!--<div class="col-xs-12 mtb-15">-->
                        <!--<div ng-include="'app/components/air/consol_shipments/views/add_status_update.html'"></div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>&lt;!&ndash;STATUS UPDATE TAB ENDS&ndash;&gt;-->
                        <div ng-show="Tabs=='events'">
                            <div class="row nomargin">
                                <div class="col-xs-12 mtb-15">
                                    <div ng-include="'app/components/air/consol_shipments_new_screen/dialog/events_view.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!--EVENTS TAB ENDS-->
                        <div ng-show="Tabs=='reports'">

                            <div ng-include="'app/components/air/consol_shipments_new_screen/dialog/report_view.html'"></div>
                        </div>
                        <!--REPORTS TAB ENDS-->
                        <!--  <div ng-show="Tabs=='accounts'"  >
                            <div ng-if="consol.shipmentLinkList.length>1" ng-include="'app/components/air/consol_shipments_new_screen/dialog/accounts_display.html'"></div>
                            <div ng-if="consol.shipmentLinkList.length==1" ng-include="'app/components/air/consol_shipments_new_screen/dialog/consol_shipment_accounts_display.html'"></div>
                        </div> -->
                        <!--Accounts TAB ENDS-->
                        <div ng-show="Tabs=='references'">
                            <div class="pt-15" ng-include="'app/components/air/consol_shipments_new_screen/views/reference_table.html'"></div>
                        </div>
                        <!--reference TAB ENDS-->
                        <!-- <div ng-show="Tabs=='notes'" >
                            <div ng-include="'app/components/air/consol_shipments_new_screen/views/consol_notes_popup_view.html'"></div>
                        </div> -->
                        <div ng-show="Tabs=='aes'">
                            <div ng-include="'app/components/air/consol_shipments_new_screen/views/aes.html'"></div>
                        </div>
                        <!--AES TAB ENDS-->
                        <div ng-show="Tabs=='EdiStatus'">
                            <div class="row nomargin">
                                <div class="col-xs-12 mt-15">
                                    <div class="table-responsive">
                                        <table class="table table-inline">
                                            <thead>
                                                <tr>
                                                    <th class="inl_sno">#</th>
                                                    <th class="inl_s">EDI Type</th>
                                                    <th class="inl_s">Status Type</th>
                                                    <th class="inl_l">Status description</th>
                                                    <th class="inl_s">Status Date</th>
                                                    <th class="inl_m">Carrier</th>
                                                    <th class="inl_s">Flight No</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>FSU</td>
                                                    <td>RCS</td>
                                                    <td>Ready for Carriage</td>
                                                    <td>12 Jan 2016 22:30</td>
                                                    <td>Qatar Air</td>
                                                    <td>QA123</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <empty-record ng-show="false" icon="reference" text="Looks Like there are no edi records here"></empty-record>
                                </div>
                            </div>
                        </div>
                        <!--AES TAB ENDS-->
                    </div>
                    <!--TAB CONTENT TAB ENDS-->
                </div>
            </div>
            <!-- TAB CONTENT ROW ENDS-->
            <!--ACTIVE LOG DETAILS STARTS-->
            <div class="logs-view width42per logs-transition bg-white" ng-show="showHistory">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div>
                                            <a href="javascript:;">
                                                <span data-placement="bottom" bs-tooltip="close" class="icon-close-detail" ng-click="showHistory=false"></span>
                                                <a href="javascript:void(0)" class="list-panel-back"></a>
                                                <span>Activity</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 pt15">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class=" ">
                                            <div class="col-xs-6">
                                                <span class="text-muted">Last Modified this Master Shipment</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="consol.systemTrack.lastUpdatedUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{consol.systemTrack.lastUpdatedUser|uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(consol.systemTrack.lastUpdatedDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="text-muted">Created this Master Shipment</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="consol.systemTrack.createUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{consol.systemTrack.createUser | uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(consol.systemTrack.createDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!--PANEL BODY ENDS-->
    </div>
    <!--PANEL ENDS-->
    <div ng-hide="!hidePage" class="wrapper-back-drop"></div>
    <!--BACKDROP ENDS-->
</div>