<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog w400px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle pull-right">
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action ">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="updateParameterStatus(consol.id,popupValues)">Submit</button>
                            </li>
                        </ul>
                    </div>
                </div>
				
			</div>
			<div class="modal-body pb-25 pt0"
				style="height: 170px; overflow: auto;">
				
				<div class="row">
				<div class="row ptb-15 nomargin">
							<div class="col-xs-12 mt-5">
							<ul class="list-inline">
							<li>Do you want print Charges</li>
							<li><select class="form-control" name="logo"
									ng-model="popupValues.showCharge">
									<option value="Yes">Yes</option>
									<option value="No">No</option>

								</select>
							</li>
							</ul></div>
						</div>
				</div>
				
				

			</div>
			<!--body ends-->
		</div><!--panel end document-->
    </div>
</div><!--modal ends-->
