<div class="row mtminus-15 nomargin">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="page mb0 ">
                            <div class="page-body ptb0">
                                <div class="row overflow-hidden">
                                    <div class="col-xs-12 col-sm-6 bor-fix">
                                        <div class="flex ptb-15 flex-col">
                                            <div class="">
                                                <span>Agent</span>
                                                <h5 class="heading" style="color:{{consol.agent.gradeMaster.colorCode}}">{{consol.agent.partyName}}</h5>
                                                <ul class="list-unstyled mb-15">
                                                    <li>{{consol.agentAddress.addressLine1}}, {{consol.agentAddress.addressLine2}}</li>
                                                    <li>{{consol.agentAddress.addressLine3}}</li>
                                                    <li>{{consol.agentAddress.addressLine4}}</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 bor-fix plr0 bor-l-1">
                                        <div class="flex  flex-col align-spaced ">
                                            <div class="">
                                                <div class="flex-row  ptb-15 bor-btm-1">
                                                    <div class="col-xs-3 ">
                                                        <span>Freight</span>
                                                        <h6>{{consol.ppcc}}</h6>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <span>Status</span>
                                                        <h6>{{consol.jobStatus}}</h6>
                                                    </div>
                                                    <div class="col-xs-3" ng-hide="consol.serviceMaster.importExport=='Import'">
                                                        <span>Direct</span>
                                                        <h6>{{consol.directShipment}}</h6>
                                                    </div>
                                                    <div class="col-xs-3" ng-show="consol.isJobCompleted">
                                                        <span>Job is Completed</span>
                                                        <h6>{{consol.isJobCompleted?'Yes':'No'}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="flex-row ptb-15">
                                                    <div class="col-xs-6">
                                                        <span>Origin</span>
                                                        <h6>{{consol.origin.portName}}</h6>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span>{{consol.serviceMaster.transportMode=='Air'?'Airport of Loading':'Port of Loading'}}</span>
                                                        <h6>{{consol.pol.portName}}</h6>
                                                    </div>
                                                </div>
                                                
                                                <div class="flex-row ptb-15">
                                            <div class="col-xs-6 ">
                                                <span>{{consol.serviceMaster.transportMode=='Air'?'Airport of Discharge':'Port of Discharge'}}</span>
                                                <h6>{{consol.pod.portName}}</h6>
                                            </div>
                                            <div class="col-xs-6">
                                                <span>Destination</span>
                                                <h6>{{consol.destination.portName}}</h6>
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row overflow-hidden">
                                 <!-- Currency and Currency rate is Hidden(condition based) based on demo feedback at detail level Jun-20 by SathishKumar -->
                                     <div class="col-xs-6 bor-fix" ng-if="consol.currency.currencyCode != userProfile.selectedUserLocation.currencyMaster.currencyCode">
                                         <div class="row ptb-15 bor-t1">
                                             <div class="col-xs-4 col-md-4 col-lg-4">
                                                 <span>Currency</span>
                                                 <h6>{{consol.currency.currencyCode}}</h6>
                                             </div>
                                             <div class="col-xs-4 col-md-4">
                                                 <span>Currency Rate</span>
                                                 <h6>{{currencyRoeFormat(consol.currency,consol.currencyRate)}}</h6>
                                             </div>
                                         </div>
                                     </div>

                                  
                                </div>
                                <div class="row line">
                                    <hr>
                                </div>
                                <div class="row ptb-15">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <span>No of Pieces</span>
                                                <h6>{{integerFormat(consol.consolDocument.noOfPieces,consol.country.locale)}}</h6>
                                            </div>

                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <span>Gross Weight (KG)</span>
                                                <h6>{{weightFormat(consol.consolDocument.grossWeight,consol.country.locale)}}</h6>
                                            </div>
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <span>Volume Weight (KG)</span>
                                                <h6>{{weightFormat(consol.consolDocument.volumeWeight,consol.country.locale)}}</h6>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="row">
                                            <div class="col-xs-4 col-md-4 col-lg-4" ng-if="appMasterData['volumecbm.required']=='true'">
                                                <span>Volume (CBM)</span>
                                                <h6>{{weightFormat(consol.consolDocument.volume,consol.country.locale)}}</h6>
                                            </div>
                                            <div class="col-xs-4 col-md-4 col-lg-4 mmt5">
                                                <span>Chargeable Weight (KG)</span>
                                                <h6 class="text-green">{{weightFormat(consol.consolDocument.chargebleWeight,consol.country.locale)}}</h6>
                                            </div>
                                             <div class="col-xs-5 col-md-5 col-lg-4 mmt5" ng-hide="consol.serviceMaster.importExport=='Import'">
                                                <span>IATA Rate</span>
                                                <h6>{{currencyFormat(consol.localCurrency,consol.iataRate)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--page body ends-->
                        </div><!--page ends-->
                    </div>
                </div><!--Col Ends-->
            </div>


<div class="row nomargin">
	<div class="col-md-12 pl0 pr0">
		<div class="row nomargin">
			<div ng-click="routInfo=!routInfo"
							ng-init="routInfo=false"  ng-class="$consolShipmentDataService.routingAndCarrierStatus(consol)?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$consolShipmentDataService.routingAndCarrierStatus(consol)?'#fff !important':'#000 !important;'}}">Routing & Carrier Info</h5>
							</div>
							<div>
								<i  style="color:{{$consolShipmentDataService.routingAndCarrierStatus(consol)?'#fff !important':'#000 !important;'}}" class="{{routInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>

		   </div>
			
			
			
			</div>
		</div>
		<div class="col-xs-12 pl0 pr0 " ng-hide="!routInfo">
<div class="row nomargin bor-btm-1 overflow-hidden">
    <div class="col-xs-12 col-sm-6 bor-fix bor-r-1">
        <div class="row ptb-15">
            <div class="col-xs-6">
                <span>Carrier</span>
                 
                <h6><img ng-show="consol.carrier.image!=null"  data-ng-src="data:image/png;base64,{{consol.carrier.image}}" style="padding-right:3px;" width="23" height="20">{{consol.carrier.carrierName?consol.carrier.carrierName:'-'}}</h6>
            </div>
            <div class="col-xs-6">
                <span>Flight No</span>
                <h6>{{consol.consolDocument.routeNo?consol.consolDocument.routeNo:'-'}}</h6>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-6 ">
                <span>ETD</span>
                <h6>{{consol.eta!=null?dateAndTimeToString(consol.etd):'-'}}</h6>
            </div>
            <div class="col-xs-6">
                <span>ETA</span>
                <h6>{{consol.etd!=null?dateAndTimeToString(consol.eta):'-'}}</h6>
            </div>
        </div>
    </div>
</div>
<div class="row nomargin bor-btm-1 overflow-hidden">
    <div class="col-xs-12 col-sm-6 bor-r-1 bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-6">
                <span>MAWB No</span>
                <h6>{{consol.consolDocument.mawbNo?consol.consolDocument.mawbNo:'-'}}</h6>
            </div>
            <div class="col-xs-6">
                <span>MAWB Date</span>
                <h6>{{consol.consolDocument.mawbGeneratedDate!=null?dateToString(consol.consolDocument.mawbGeneratedDate):'-'}}</h6>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 bor-fix ">
        <div class="row ptb-15">
            <div class="col-xs-6 ">
                <span>ATD</span>
                <h6>{{dateAndTimeToString(consol.atd)?dateAndTimeToString(consol.atd):'-'}}</h6>
            </div>
            <div class="col-xs-6">
                <span>ATA</span>
                <h6>{{dateAndTimeToString(consol.ata)?dateAndTimeToString(consol.ata):'-'}}</h6>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="row nomargin bor-btm-1 overflow-hidden" ng-show="false">
    <div class="col-xs-12  bor-fix">
        <div class="row ptb-15">
            <div class="col-xs-4 col-sm-2">
                <span>Uplift Confirmation</span>
                <h6>Yes</h6>
            </div>
            <div class="col-xs-4 col-sm-2">
                <span>IGM No</span>
                <h6>446464646</h6>
            </div>
            <div class="col-xs-4 col-sm-2">
                <span>IGM Date</span>
                <h6>12 Jun 2016</h6>
            </div>
            <div class="col-xs-4 col-sm-2">
                <span>Carrier DO No</span>
                <h6>1231231</h6>
            </div>
            <div class="col-xs-4 col-sm-2">
                <span>Carrier DO Date</span>
                <h6>13 Jun 2016</h6>
            </div>
        </div>

    </div>


</div>
<!-- <div class="row nomargin">
	<div class="col-md-12 pl0 pr0">
		<div class="row nomargin">
			<div class="mb0 flex align-justify align-middle title">
				<h5 class="">Connections</h5>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		third tab
		ng-show="consol.connectionList.length>0"
		<div class="mtb-15 table-responsive">
			<table class="table table-inline">
				<thead>
					<th class="inl_xs">#</th>
					<th class="inl_mp">Move</th>
					<th class="inl_m">Port of Loading</th>
					<th class="inl_m">Port of Discharge</th>
					<th class="inl_mp">ETD</th>
					<th class="inl_mp">ETA</th>
					<th class="inl_l">Carrier / Vessel</th>
					<th class="inl_s">Voy / Flt No</th>
					<th class="inl_m">Status</th>
				</thead>
				<tbody>
					<tr
						ng-repeat="consolConnection in consol.connectionList track by $index">
						<td>{{serialNo($index)}}</td>
						<td>{{consolConnection.move}}</td>
						<td>{{consolConnection.pol.portName}}</td>
						<td>{{consolConnection.pod.portName}}</td>
						<td><span>{{dateToString(consolConnection.etd)}}</span></td>
						<td><span>{{dateToString(consolConnection.eta)}}</span></td>
						<td><img ng-show="consolConnection.carrierMaster.image!=null"
							data-ng-src="data:image/png;base64,{{consolConnection.carrierMaster.image}}"
							style="padding-right: 3px;" width="23" height="20">{{consolConnection.carrierMaster.carrierName}}</td>
						<td>{{consolConnection.flightVoyageNo}}</td>
						<td>{{consolConnection.connectionStatus}}</td>
					</tr>
				</tbody>
			</table>
			<empty-record
				ng-show="!consol.connectionList || consol.connectionList.length==0"
				icon="connection" text="Looks like there are no records here"></empty-record>

		</div>
	</div>
</div> -->



<div class="row nomargin">
	<div class="col-md-12 pl0 pr0">
		<div class="row nomargin">
				
					<div ng-click="conInfo=!conInfo" ng-init="conInfo=false"
						ng-class="$consolShipmentDataService.connectionStatus(consol)?'done-approve':''"
						class=" mb0 cursorPt flex align-justify align-middle title">
						<div>
							<h5
								style="color: {{$consolShipmentDataService.connectionStatus(consol)?'#fff !important':'#000 !important;'}}">Connections</h5>
						</div>
						<div>
							<i
								style="color: {{$consolShipmentDataService.connectionStatus(consol)?'#fff !important':'#000 !important;'}}"
								class="{{conInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
						</div>

					</div>
					<div class=" pt0 fx-fade-normal fx-ease-sin mt10 marginlr15px mb10"
						ng-hide="!conInfo">
						<div class="row nomargin nopadding">
							<div class="col-xs-12 pl0 pr0">
								<div class=" table-responsive"
									ng-show="consol.connectionList.length>0">
									<table class="table table-inline">
										<thead class="borderthead">
											<tr>
												<th class="inl_xs">#</th>
												<th class="inl_mp">Move</th>
												<th class="inl_m">Port of Loading</th>
												<th class="inl_m">Port of Discharge</th>
												<th class="inl_mp">ETD</th>
												<th class="inl_mp">ETA</th>
												<th class="inl_l">Carrier / Vessel</th>
												<th class="inl_s">Voy / Flt No</th>
												<th class="inl_m">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr
												ng-repeat="consolConnection in consol.connectionList track by $index">
												<td>{{serialNo($index)}}</td>
												<td>{{consolConnection.move}}</td>
												<td>{{consolConnection.pol.portName}}</td>
												<td>{{consolConnection.pod.portName}}</td>
												<td><span>{{dateToString(consolConnection.etd)}}</span>
												</td>
												<td><span>{{dateToString(consolConnection.eta)}}</span>
												</td>
												<td><img
													ng-show="consolConnection.carrierMaster.image!=null"
													data-ng-src="data:image/png;base64,{{consolConnection.carrierMaster.image}}"
													style="padding-right: 3px;" width="23" height="20">{{consolConnection.carrierMaster.carrierName}}</td>
												<td>{{consolConnection.flightVoyageNo}}</td>
												<td>{{consolConnection.connectionStatus}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<empty-record
									ng-show="!consol.connectionList || consol.connectionList.length==0"
									icon="connections" text="Looks like there are no connection records here"></empty-record>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>






