                                    <div class="row nomargin">
                                            <div class="col-xs-12 col-sm-12 mt-15 plr0 ">
                                                <form role="form">
                                                    <div class="form-group mb0">
                                                        <div class="row nomargin mb10"  >
                                                            <div class="col-xs-11">
                                                                <div class="row">
                                                                    <div class="col-xs-5 col-sm-4 col-lg-4 mb-15">
                                                                        <label>Transporter</label>
																		<div class="select-auto">
																			<input type="text" 
																				class="form-control" 
																				id="consol.pickUpDeliveryPoint.transporter"
																				autocomplete="off"
																				ng-model="consol.pickUpDeliveryPoint.transporter"
																				uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyListByType('Transporter',$viewValue)"
																				typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																				typeahead-show-hint="true"
																			    typeahead-show-loading="true"
																				typeahead-select-on-exact="true" typeahead-append-to-body="true"
																				typeahead-on-select="selectedConsolTransporter('consol.pickUpDeliveryPoint.proTracking');"
																				typeahead-focus-on-select="false"
																				typeahead-focus-first="true"
																				typeahead-editable="false"
																				typeahead-min-length="1" typeahead-wait-ms="500" 
																				>
																				<span class="select-arrow"><b></b></span>
																		</div>

                                                                        <span class="error-message" ng-show="errorMap.get('consol.pickUpDeliveryPoint.transporter')!=null">
                                                                        	<small>{{errorMap.get('consol.pickUpDeliveryPoint.transporter')}}</small>
                                                                       	</span>
                                                                    </div>
		
                                                                    <div class="col-xs-1 plr0 text-left mt-25"  ng-init="showAddress=false">
                                                                        <a  tabindex="-1"
                                                                            href="javascript:void(0)"
                                                                            ng-class="{'activeLocation':showAddress==true}"
                                                                            class="selectPicker-sm fit_picker"  ng-click="showAddress=!showAddress">
                                                                            <span ng-class="showAddress==true?'fa fa-angle-double-up ftawsize':'fa fa-angle-double-down ftawsize'"
                                                                               data-placement="bottom"     bs-tooltip="addressIcon"
                                                                            ></span>
                                                                        </a>
                                                                    </div>

							<div class="col-xs-6 col-sm-4 col-lg-3 ptb-15">
								<label class="text-inherit">Pro Tracking Number</label> <input
									type="text" maxlength="30" class="form-control"
									ng-blur="picksInfo=true;nextToFocus('ourPickUp')"
									id="consol.pickUpDeliveryPoint.proTracking" capitalize
									ng-model="consol.proTrackingNo" />
							</div>

						</div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="row nomargin">
                                                        <div class="col-xs-5 col-sm-4 col-lg-4 mb-15" ng-show="showAddress">
                                                            <label>Address</label>
                                                        <textarea
                                                                msd-elastic
                                                                class="form-control"
                                                                id="consol.pickUpDeliveryPoint.transporterAddress"
                                                                ng-model="consol.pickUpDeliveryPoint.transporterAddress"
                                                                ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.transporterAddress')!=null}"
                                                                maxlength="4000"
                                                                capitalize style="height: 24px !important;"
                                                                >
                                                         </textarea>
                                                                      <span class="error-message"
                                                                            ng-show="errorMap.get('consol.pickUpDeliveryPoint.transporterAddress')!=null"><small>{{errorMap.get('consol.pickUpDeliveryPoint.transporterAddress')}}</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="row shade3 pl0 pr0">
	<!--pickup place starts-->

	<div class="col-xs-12 pickupPanels">

		<div class="panel panel-default bor-0">
			<div ng-click="picksInfo=!picksInfo" ng-init="picksInfo=true"  tabindex="-1" ng-class="$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'pick')?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'pick')?'#fff !important':'#000 !important;'}}">Pick Up</h5>
							</div>
							<div>
								<i  style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'pick')?'#fff !important':'#000 !important;'}}" class="{{picksInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		               </div>
			<div ng-hide="!picksInfo" class="panel-body  nopadding">
				<div class="row">
					<div class="col-xs-12 nopadding pl0 pr0">

						<div class="checkbox nomargin mt-5 marginl30">
							<label> <input type="checkbox"
								id="ourPickUp"
								ng-change="changePickUpToggle(consol)"
								ng-model="consol.pickUpDeliveryPoint.isOurPickUp">Our
								Pick Up
							</label>
						</div>
					</div>
				</div>
				
				<div class="row nomargin">
					<div class="col-xs-12 col-lg-11">
					<div class="row">
					<div class="col-xs-12 col-sm-6 plr0">
					<div class="col-xs-12 plr0">
					<div class="col-xs-12">
					<label class="text-inherit">Pick up Point</label>
						<div class="select-auto">
																									<input type="text" 
																									    id="consol.pickUpDeliveryPoint.pickupPoint"
																										class="form-control" 
																                                        ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
																										autocomplete="off"
																										ng-model="consol.pickUpDeliveryPoint.pickupPoint"
																										uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
																										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																										typeahead-show-hint="true" typeahead-show-loading="true" 
																										 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																										typeahead-on-select="selectedConsolPickUpPoint('consol.pickUpDeliveryPoint.pickupFrom');"
																										ng-change="clearPickUpPlace(consol.pickUpDeliveryPoint.pickupPoint)"
																										typeahead-focus-on-select="false"
																										typeahead-focus-first="true"
																										typeahead-editable="false"
																										typeahead-min-length="1" typeahead-wait-ms="500" 
																										>
																										<span class="select-arrow"><b></b></span>
																								</div>

																								<span class="error-message" ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickupPoint')!=null">
																									<small>{{errorMap.get('consol.pickUpDeliveryPoint.pickupPoint')}}</small>
																								</span>
					
					
					</div>
					<!-- <div class="col-xs-6">
					<label class="text-inherit">Pick up From</label>
					<div class="select-auto">
																									<input type="text" 
																										class="form-control" 
																										id="consol.pickUpDeliveryPoint.pickupFrom"
																                                        ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
																										autocomplete="off"
																										ng-model="consol.pickUpDeliveryPoint.pickupFrom"
																										uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortByRoad($viewValue)"
																										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																										typeahead-show-hint="true" typeahead-show-loading="true" 
																										 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																										typeahead-on-select="selectedPickUpFrom('consol.pickUpDeliveryPoint.pickUpPlace.addressLine1');"
																										typeahead-focus-on-select="false"
																										typeahead-focus-first="true"
																										typeahead-editable="false"
																										typeahead-min-length="1" typeahead-wait-ms="500" 
																										>
																										<span class="select-arrow"><b></b></span>
																								</div>
                                                                                                
																								<span class="error-message" ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickupFrom')!=null">
																									<small>{{errorMap.get('consol.pickUpDeliveryPoint.pickupFrom')}}</small>
																								</span>
					
					
					</div> -->
					</div>
					<div class="col-xs-12 plr0">
					<div class="col-xs-11">
					<label class="text-inherit">Pick up Place</label>
					<div class="select-auto">
										<input id="consol.pickUpDeliveryPoint.pickUpPlace.addressLine1" type="text"
											ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine1')!=null}}"
												class="form-control"
												ng-model="consol.pickUpDeliveryPoint.pickUpPlace.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine1')!=null}"
												placeholder="Address 1">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine1')!=null">
													<small> {{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine1')}} </small>
												</span>
											</div>
					</div>
					<div class="col-xs-12 plr0 mt-5">
					<div class="select-auto">
											<input id="consol.pickUpDeliveryPoint.pickUpPlace.addressLine2" type="text"
											ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine2')!=null}}"
												class="form-control"
												ng-model="consol.pickUpDeliveryPoint.pickUpPlace.addressLine2" maxlength="100"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine2')!=null}"
												placeholder="Address 2">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine2')!=null">
													<small> {{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine2')}} </small>
												</span>
											</div>
										</div>
					
					</div>
					<div class="col-xs-12  plr0 mt-5">
					<div class="select-auto">
											<input id="consol.pickUpDeliveryPoint.pickUpPlace.addressLine3" type="text"
											ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine3')!=null}}"
												class="form-control"
												ng-model="consol.pickUpDeliveryPoint.pickUpPlace.addressLine3" maxlength="100"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.addressLine3')!=null}"
												ng-change="validatePartyAddressMaster(18,partyAddressMaster,$index)"
												placeholder="Address 3">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine3')!=null">
													<small> {{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.addressLine3')}} </small>
												</span>
											</div>
										</div>
					
					</div>
					</div>
					<div class="col-xs-1 mt-23 pl0 text-right">
									<a tabIndex="-1" data-container="false"
                                                                   data-placement="auto right"
										bs-tooltip="selectPickUpPlace" href="javascript:void(0)"
										ng-click="showPickUpPlacePartyAddress(consol)"
										class="selectPicker-sm cur-notallow"> <i
										class="fa fa-chevron-right"></i>
									</a>
								</div>
					</div>
					<div class="col-xs-11  mt-5 plr0 mb10">
					<div class="col-xs-4  ">
						<div class="select-auto">
													<input type="text" class="form-control"
														id="consol.pickUpDeliveryPoint.pickUpPlace.state" autocomplete="off"
														ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
														ng-model="consol.pickUpDeliveryPoint.pickUpPlace.state"
														uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue,consol.pickUpDeliveryPoint.pickupPoint.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedPickUpState('consol.pickUpDeliveryPoint.pickUpPlace.city');"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="State"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.state')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.state')}}</small>
												</span>

					</div>
					<div class="col-xs-4 pl0">
					<div class="select-auto">
													<input type="text" class="form-control"
														id="consol.pickUpDeliveryPoint.pickUpPlace.city" autocomplete="off"
														ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
														ng-model="consol.pickUpDeliveryPoint.pickUpPlace.city"
														uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue,consol.pickUpDeliveryPoint.pickupPoint.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedPickUpCity('consol.pickUpDeliveryPoint.pickUpPlace.zipCode')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="City"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.city')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.city')}}</small>
												</span>

					</div>
					<div class="col-xs-4  pl0 ">
					<div class="select-auto">
											<input id="consol.pickUpDeliveryPoint.pickUpPlace.zipCode" type="text"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.zipCode')!=null}}"
												class="form-control"
												ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
												ng-model="consol.pickUpDeliveryPoint.pickUpPlace.zipCode" maxlength="20"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.zipCode')!=null}"
												placeholder="Zip">

												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.zipCode')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.pickUpPlace.zipCode')}}</small>
												</span>
											
										</div>
					</div>
					
					</div>
					</div>
					
					<div class="col-xs-6 col-sm-3 ">
					<div class="col-xs-12 plr0">
					<label>Contact Details</label>
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-user"></i>
													</div>
													<input type="text"
														ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
														id="consol.pickUpDeliveryPoint.pickUpContactPerson" maxlength="100"
														ng-change="validatePickUpDelivery(consol.pickUpDeliveryPoint,5,undefined)"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.pickUpContactPerson')!=null}"
														ng-model="consol.pickUpDeliveryPoint.pickUpContactPerson"
														class="form-control">
												</div>
											</div>
					</div>
					<div class="col-xs-12   plr0 ">
					
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-email"></i>
													</div>
													<input type="text" id="consol.pickUpDeliveryPoint.pickUpEmail"
														maxlength="500"
														ng-blur="validatePickUpDelivery(consol.pickUpDeliveryPoint,8,consol.pickUpDeliveryPoint.pickUpMobileNo)?navigateToNextField('consol.pickUpDeliveryPoint.pickUpEmail'):''"
														ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.pickUpEmail')!=null}"
														ng-model="consol.pickUpDeliveryPoint.pickUpEmail"
														class="form-control">
												</div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickUpEmail')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.pickUpEmail')}}</small></span>
											</div>
					</div>
					<div class="col-xs-12   plr0 ">
					
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-mobile"></i>
													</div>
													<input type="text" id="consol.pickUpDeliveryPoint.pickUpMobileNo"
														ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
														ng-change="validatePickUpDelivery(consol.pickUpDeliveryPoint,6,undefined)"
														maxlength="100"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.pickUpMobileNo')!=null}"
														ng-model="consol.pickUpDeliveryPoint.pickUpMobileNo"
														class="form-control">
												</div>
													<span class="error-message"
												ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickUpMobileNo')!=null">
												<small>{{errorMap.get('consol.pickUpDeliveryPoint.pickUpMobileNo')}}</small></span>
											</div>
					</div>
					<div class="col-xs-12  plr0 ">
					
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-phone"></i>
													</div>
													<input type="text" id="consol.pickUpDeliveryPoint.pickUpPhoneNo"
														ng-change="validatePickUpDelivery(consol.pickUpDeliveryPoint,7,undefined)"
														maxlength="100"
														ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.pickUpPhoneNo')!=null}"
														ng-model="consol.pickUpDeliveryPoint.pickUpPhoneNo"
														class="form-control">
												</div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.pickUpPhoneNo')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.pickUpPhoneNo')}}</small></span>
											</div>
					</div>
					
					</div>
					
					<div class="col-xs-6 col-sm-3 pl0">
					<div class="col-xs-12 pr0">
					<label class="text-inherit">Pick up Follow Up Date</label>
									<div class="inputBox">
										<input class="form-control" 
										    id="consol.pickUpDeliveryPoint.pickUpFollowUp"
											ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
											ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.pickUpFollowUp')!=null}"
											ng-model="consol.pickUpDeliveryPoint.pickUpFollowUp"
											date-callback="navigateToNextField('consol.pickUpDeliveryPoint.pickUpPlanned')"
											datetimepicker
											datetimepicker-options="{{dateTimePickerOptionsLeft}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
					</div>
					<div class="col-xs-12 pr0">
					<label class="text-inherit">Planned Pick Up Date</label>
									<div class="inputBox">
										<input class="form-control" 
										     id="consol.pickUpDeliveryPoint.pickUpPlanned"
											ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
											ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.pickUpPlanned')!=null}"
											ng-model="consol.pickUpDeliveryPoint.pickUpPlanned"
											date-callback="navigateToNextField('consol.pickUpDeliveryPoint.pickUpActual')"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
					</div>
					<div class="col-xs-12 pr0">
					<label class="text-inherit">Actual Pick Up Date</label>
									<div class="inputBox">
										<input class="form-control" id="consol.pickUpDeliveryPoint.pickUpActual"
											ng-disabled="!consol.pickUpDeliveryPoint.isOurPickUp"
											ng-model="consol.pickUpDeliveryPoint.pickUpActual"
											date-callback="deliInfo=true;navigateToNextField('consol.pickUpDeliveryPoint.deliveryPoint');"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
					</div>
					</div>

					</div>
				</div>
				</div>
			</div>
		</div>


	</div>
</div>
<!--  pickup place ends -->
<!--  Delivery to CFS/Depot Start -->
<div class="row shade3 pl0 pr0">
	

	<div class="col-xs-12 pickupPanels">

		<div class="panel panel-default bor-0">


			<div ng-click="deliveryInfo=!deliveryInfo" 
				ng-init="deliveryInfo=true"  ng-class="$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'delivery')?'done-approve':''" tabindex="-1"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'delivery')?'#fff !important':'#000 !important;'}}">Delivery to CFS / Depot</h5>
							</div>
							<div>
								<i  style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'delivery')?'#fff !important':'#000 !important;'}}" class="{{deliveryInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		               </div>
			<div ng-hide="!deliveryInfo" class="panel-body  nopadding">
				
				
				<div class="row nomargin mt-5">
					<div class="col-xs-12 col-lg-11">
					<div class="row">
					<div class="col-xs-12 col-sm-6 plr0">
					<div class="col-xs-12 plr0">
					<div class="col-xs-12">
					<label class="text-inherit">Delivery Point</label>
						<div class="select-auto">
																									<input type="text" 
																										class="form-control" 
																										id="consol.pickUpDeliveryPoint.deliveryPoint"
																										autocomplete="off"
																										ng-model="consol.pickUpDeliveryPoint.deliveryPoint"
																										uib-typeahead="lovObject as lovObject.cfsName for lovObject in $AutoCompleteService.getPortFromCFS($viewValue,consol.origin.id)"
																										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																										typeahead-show-hint="true" typeahead-show-loading="true" 
																										 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																										typeahead-on-select="selectedDeliveryPoint('consol.pickUpDeliveryPoint.deliveryFrom')"
																										typeahead-focus-on-select="false"
																										ng-change="clearDeliveryPlace(consol.pickUpDeliveryPoint.deliveryPoint)"
																										typeahead-focus-first="true"
																										typeahead-editable="false"
																										typeahead-min-length="1" typeahead-wait-ms="500" 
																										>
																										<span class="select-arrow"><b></b></span>
																								</div>

																								<span class="error-message" ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryPoint')!=null">
																									<small>{{errorMap.get('consol.pickUpDeliveryPoint.deliveryPoint')}}</small>
																								</span>
					
					</div>
					<!-- <div class="col-xs-6">
					<label class="text-inherit">Delivery To CFS / Depot</label>
				<div class="select-auto">
																									<input type="text" 
																										class="form-control" 
																										id="consol.pickUpDeliveryPoint.deliveryFrom"
																										autocomplete="off"
																										ng-model="consol.pickUpDeliveryPoint.deliveryFrom"
																									    uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortByRoad($viewValue)"
																										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																										typeahead-show-hint="true" typeahead-show-loading="true" 
																										 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																										typeahead-on-select="selectedDeliveryFrom('consol.pickUpDeliveryPoint.deliveryPlace.addressLine1');"
																										typeahead-focus-on-select="false"
																										typeahead-focus-first="true"
																										typeahead-editable="false"
																										typeahead-min-length="1" typeahead-wait-ms="500" 
																										>
																										<span class="select-arrow"><b></b></span>
																								</div>
                                                                                                
                                                                    							<span class="error-message" ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryFrom')!=null">
                                                                    								<small>{{errorMap.get('consol.pickUpDeliveryPoint.deliveryFrom')}}</small>
                                                                   								</span>
					</div> -->
					</div>
					<div class="col-xs-12 plr0">
					<div class="col-xs-12">
					<label class="text-inherit">Delivery Place</label>
					<div class="select-auto">
											<input id="consol.pickUpDeliveryPoint.deliveryPlace.addressLine1" type="text"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine1')!=null}}"
												class="form-control"
												ng-model="consol.pickUpDeliveryPoint.deliveryPlace.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine1')!=null}"
												placeholder="Address 1">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine1')!=null">
													<small> {{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine1')}} </small>
												</span>
											</div>
											
										</div>
					
					
					<div class="col-xs-12 plr0 mt-5">
					<div class="select-auto">
											<input id="consol.pickUpDeliveryPoint.deliveryPlace.addressLine2" type="text"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine2')!=null}}"
												class="form-control"
												ng-model="consol.pickUpDeliveryPoint.deliveryPlace.addressLine2" maxlength="100"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine2')!=null}"
												placeholder="Address 2">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine2')!=null">
													<small> {{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine2')}} </small>
												</span>
											</div>
											
										</div>
					
					</div>
					<div class="col-xs-12  plr0 mt-5">
					<div class="select-auto">
											<input id="consol.pickUpDeliveryPoint.deliveryPlace.addressLine3" type="text"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine3')!=null}}"
												class="form-control"
												ng-model="consol.pickUpDeliveryPoint.deliveryPlace.addressLine3" maxlength="100"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine3')!=null}"
												placeholder="Address 3">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine3')!=null">
													<small> {{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.addressLine3')}} </small>
												</span>
											</div>
											
										</div>
					
					</div>
					</div>
				<!-- 	<div class="col-xs-1 mt-23 pl0 text-right">
									<a tabIndex="-1" data-container="false"
                                                                   data-placement="auto right"
										bs-tooltip="selectPickUpPlace" href="javascript:void(0)"
										ng-click="showPickUpPlacePartyAddress(consol)"
										class="selectPicker-sm cur-notallow"> <i
										class="fa fa-chevron-right"></i>
									</a>
								</div> -->
					</div>
					<div class="col-xs-12  mt-5 plr0 mb10">
					<div class="col-xs-4  ">
					<div class="select-auto">
													<input type="text" class="form-control"
														id="consol.pickUpDeliveryPoint.deliveryPlace.state" autocomplete="off"
														ng-model="consol.pickUpDeliveryPoint.deliveryPlace.state"
														uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue,consol.pickUpDeliveryPoint.deliveryPoint.portMaster.portGroupMaster.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryState('consol.pickUpDeliveryPoint.deliveryPlace.city')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="State"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.state')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.state')}}</small>
												</span>
					</div>
					<div class="col-xs-4 pl0">
					<div class="select-auto">
													<input type="text" class="form-control"
														id="consol.pickUpDeliveryPoint.deliveryPlace.city" autocomplete="off"
														
														ng-model="consol.pickUpDeliveryPoint.deliveryPlace.city"
														uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue,consol.pickUpDeliveryPoint.deliveryPoint.portMaster.portGroupMaster.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDeliveryCity('consol.pickUpDeliveryPoint.deliveryPlace.zipCode')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="City"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.city')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.city')}}</small>
												</span>
					</div>
					<div class="col-xs-4  pl0 ">
					<div class="select-auto">
											<input
													id="consol.pickUpDeliveryPoint.deliveryPlace.zipCode"
													type="text"
													input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.zipCode')!=null}}"
													class="form-control"
													ng-model="consol.pickUpDeliveryPoint.deliveryPlace.zipCode"
													maxlength="20"
													ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.zipCode')!=null}"
													placeholder="Zip"><b></b> 
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.zipCode')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.deliveryPlace.zipCode')}}</small>
												</span>

												
											
										</div>
					</div>
					
					</div>
					</div>
					
					<div class="col-xs-6 col-sm-3 ">
					<div class="col-xs-12 plr0">
					<label>Contact Details</label>
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-user"></i>
													</div>
													<input type="text" id="consol.pickUpDeliveryPoint.deliveryContactPerson"
														maxlength="100"
														ng-change="validatePickUpDelivery(consol.pickUpDeliveryPoint,12,undefined)"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.deliveryContactPerson')!=null}"
														ng-model="consol.pickUpDeliveryPoint.deliveryContactPerson"
														class="form-control">
												</div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryContactPerson')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.deliveryContactPerson')}}</small></span>
											</div>
					</div>
					<div class="col-xs-12   plr0 ">
					
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-email"></i>
													</div>
														<input type="text" id="consol.pickUpDeliveryPoint.deliveryEmail"
														ng-blur="validatePickUpDelivery(consol.pickUpDeliveryPoint,15,consol.pickUpDeliveryPoint.deliveryMobileNo)?navigateToNextField('consol.pickUpDeliveryPoint.deliveryEmail'):''"
														maxlength="500"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.deliveryEmail')!=null}"
														ng-model="consol.pickUpDeliveryPoint.deliveryEmail"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryEmail')!=null">
														<small>{{errorMap.get('consol.pickUpDeliveryPoint.deliveryEmail')}}</small></span>
												</div>
											</div>
					</div>
					<div class="col-xs-12   plr0 ">
					
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-mobile"></i>
													</div>
													<input type="text" id="consol.pickUpDeliveryPoint.deliveryMobileNo"
														ng-change="validatePickUpDelivery(consol.pickUpDeliveryPoint,13,undefined)"
														maxlength="100"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.deliveryMobileNo')!=null}"
														ng-model="consol.pickUpDeliveryPoint.deliveryMobileNo"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryMobileNo')!=null">
														<small>{{errorMap.get('consol.pickUpDeliveryPoint.deliveryMobileNo')}}</small></span>
												</div>
											</div>
					</div>
					<div class="col-xs-12  plr0 ">
					
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-phone"></i>
													</div>
													<input type="text" id="consol.pickUpDeliveryPoint.deliveryPhoneNo"
														ng-change="validatePickUpDelivery(consol.pickUpDeliveryPoint,14,undefined)"
														maxlength="100"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.deliveryPhoneNo')!=null}"
														ng-model="consol.pickUpDeliveryPoint.deliveryPhoneNo"
														class="form-control">
												</div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.deliveryPhoneNo')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.deliveryPhoneNo')}}</small></span>
											</div>
					</div>
					
					</div>
					
					<div class="col-xs-6 col-sm-3 pl0">
					<div class="col-xs-12 pr0">
					<label class="text-inherit">Expected Delivery Date</label>
									<div class="inputBox">
										<input class="form-control" id="consol.pickUpDeliveryPoint.deliveryExpected"
											ng-model="consol.pickUpDeliveryPoint.deliveryExpected"
											date-callback="navigateToNextField('consol.pickUpDeliveryPoint.deliveryDate')"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
					</div>
					<div class="col-xs-12 pr0">
					<label class="text-inherit">Delivery Date</label>
									<div class="inputBox">
										<input class="form-control" id="consol.pickUpDeliveryPoint.deliveryDate"
											ng-model="consol.pickUpDeliveryPoint.deliveryActual"
											date-callback="navigateToNextField('consol.pickUpDeliveryPoint.doorDeliveryPoint')"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
					</div>
					
					</div>

					</div>
				</div>
				</div>
			</div>
		</div>


	</div>
</div>
<!-- Delivery to CFS/Depot Ends -->
                                                    
<!-- Door Delivery  -->
<div class="row shade3 pl0 pr0">
	

	<div class="col-xs-12 pickupPanels">

		<div class="panel panel-default bor-0">


			<div ng-click="doorInfo=!doorInfo" ng-init="doorInfo=true"  ng-class="$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'door')?'done-approve':''" tabindex="-1"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'door')?'#fff !important':'#000 !important;'}}">Door Delivery</h5>
							</div>
							<div>
								<i  style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'door')?'#fff !important':'#000 !important;'}}" class="{{doorInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		               </div>
			<div ng-hide="!doorInfo" class="panel-body  nopadding">
				
				
				<div class="row nomargin mt-5">
					<div class="col-xs-12 col-lg-11">
					<div class="row">
					<div class="col-xs-12 col-sm-6 plr0">
					<div class="col-xs-12 plr0">
					<div class="col-xs-12">
					<label class="text-inherit">Door Delivery Point</label>
					<div class="select-auto">
											<input type="text" class="form-control"
												id="consol.pickUpDeliveryPoint.doorDeliveryPoint" autocomplete="off"
												ng-model="consol.pickUpDeliveryPoint.doorDeliveryPoint"
												uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortByRoad($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedDoorDeliveryPoint('consol.pickUpDeliveryPoint.doorDeliveryFrom');googleMapModal(consol.pickUpDeliveryPoint.pickUpPlace, consol.pickUpDeliveryPoint.doorDeliveryPlace)"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500"
												ng-change="clearDoorDeliveryPlace(consol.pickUpDeliveryPoint);googleMapModal(consol.pickUpDeliveryPoint.pickUpPlace, consol.pickUpDeliveryPoint.doorDeliveryPlace)"
												>
											<span class="select-arrow"><b></b></span>
										</div>

										<span class="error-message"
											ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPoint')!=null">
											<small>{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPoint')}}</small>
										</span>
					
					</div>
					<!-- <div class="col-xs-6">
					<label class="text-inherit">Door Delivery To</label>
						<div class="select-auto">
											<input type="text" class="form-control"
												id="consol.pickUpDeliveryPoint.doorDeliveryFrom" autocomplete="off"
												ng-model="consol.pickUpDeliveryPoint.doorDeliveryFrom"
												ng-change="clearDoorDeliveryFromCode(consol.pickUpDeliveryPoint)"
												uib-typeahead="lovObject as lovObject.portName for lovObject in $AutoCompleteService.getPortByRoad($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="selectedDoorDeliveryFrom('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1')"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500">
											<span class="select-arrow"><b></b></span>
										</div>

										<span class="error-message"
											ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryFrom')!=null">
											<small>{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryFrom')}}</small>
										</span>
					
					</div> -->
					</div>
					<div class="col-xs-12 plr0">
					<div class="col-xs-12">
					<label class="text-inherit">Door Delivery Place</label>
					<div class="select-auto">
											<input id="consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1" type="text"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1')!=null}}"
												class="form-control"
												ng-model="consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1')!=null}"
												placeholder="Address 1">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1')!=null">
													<small> {{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1')}} </small>
												</span>
											</div>
											
										</div>
					
					
					<div class="col-xs-12 plr0 mt-5">
					<div class="select-auto">
											<input id="consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2" type="text"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2')!=null}}"
												class="form-control"
												ng-model="consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2" maxlength="100"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2')!=null}"
												placeholder="Address 2">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2')!=null">
													<small> {{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2')}} </small>
												</span>
											</div>
										</div>
					
					</div>
					<div class="col-xs-12  plr0 mt-5">
					<div class="select-auto">
											<input id="consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3" type="text"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3')!=null}}"
												class="form-control"
												ng-model="consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3" maxlength="100"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3')!=null}"
												placeholder="Address 3">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3')!=null">
													<small> {{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3')}} </small>
												</span>
											</div>
											
										</div>
					
					</div>
					</div>
					<!-- <div class="col-xs-1 mt-23 pl0 text-right">
									<a tabIndex="-1" data-container="false"
                                                                   data-placement="auto right"
										bs-tooltip="selectPickUpPlace" href="javascript:void(0)"
										class="selectPicker-sm cur-notallow"> <i
										class="fa fa-chevron-right"></i>
									</a>
								</div> -->
					</div>
					<div class="col-xs-12 mt-5 plr0 mb10">
					<div class="col-xs-4  ">
					<div class="select-auto">
													<input type="text" class="form-control"
														id="consol.pickUpDeliveryPoint.doorDeliveryPlace.state" autocomplete="off"
														ng-model="consol.pickUpDeliveryPoint.doorDeliveryPlace.state"
														uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue,consol.pickUpDeliveryPoint.doorDeliveryPoint.portGroupMaster.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDoorDeliveryState('consol.pickUpDeliveryPoint.doorDeliveryPlace.city')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="State"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.state')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.state')}}</small>
												</span>
					</div>
					<div class="col-xs-4 pl0">
						<div class="select-auto">
													<input type="text" class="form-control"
														id="consol.pickUpDeliveryPoint.doorDeliveryPlace.city" autocomplete="off"
														ng-model="consol.pickUpDeliveryPoint.doorDeliveryPlace.city"
														uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue,consol.pickUpDeliveryPoint.doorDeliveryPoint.portGroupMaster.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDoorDeliveryCity('consol.pickUpDeliveryPoint.doorDeliveryPlace.zipCode')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														placeholder="City"> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.city')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.city')}}</small>
												</span>
					</div>
					<div class="col-xs-4  pl0 ">
					<div class="select-auto">
													<input id="consol.pickUpDeliveryPoint.doorDeliveryPlace.zipCode" type="text"
												input-focus="{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.zipCode')!=null}}"
												class="form-control"
												 ng-keydown="nextTabNav($event,$index,consol,'aes',$index+'chargeCode0')"
												ng-model="consol.pickUpDeliveryPoint.doorDeliveryPlace.zipCode" maxlength="20"
												ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.zipCode')!=null}"
												placeholder="Zip"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.zipCode')!=null">
													<small>{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPlace.zipCode')}}</small>
												</span>
					</div>
					
					</div>
					</div>
					
					<div class="col-xs-6 col-sm-3 ">
					<div class="col-xs-12   plr0">
					<label>Contact Details</label>
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-user"></i>
													</div>
													<input type="text" maxlength="100"
														id="consol.pickUpDeliveryPoint.doorDeliveryContactPerson"
														ng-change="validatePickUpDelivery(consol.pickUpDeliveryPoint,19,undefined)"
														ng-model="consol.pickUpDeliveryPoint.doorDeliveryContactPerson"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryContactPerson')!=null}"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryContactPerson')!=null"><small>
															{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryContactPerson')}} </small></span>
												</div>
											</div>
					</div>
					<div class="col-xs-12   plr0 ">
					
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-email"></i>
													</div>
													<input type="text" id="consol.pickUpDeliveryPoint.doorDeliveryEmail"
														ng-blur="validatePickUpDelivery(consol.pickUpDeliveryPoint,22,consol.pickUpDeliveryPoint.doorDeliveryMobileNo)?navigateToNextField('consol.pickUpDeliveryPoint.doorDeliveryEmail'):''"
														maxlength="500"
														ng-model="consol.pickUpDeliveryPoint.doorDeliveryEmail"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryEmail')!=null}"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryEmail')!=null"><small>
															{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryEmail')}} </small></span>
												</div>
											</div>
					</div>
					<div class="col-xs-12   plr0 ">
					
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-mobile"></i>
													</div>
													<input type="text" maxlength="100"
														id="consol.pickUpDeliveryPoint.doorDeliveryMobileNo"
														ng-change="validatePickUpDelivery(consol.pickUpDeliveryPoint,20,undefined)"
														ng-model="consol.pickUpDeliveryPoint.doorDeliveryMobileNo"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryMobileNo')!=null}"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryMobileNo')!=null"><small>
															{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryMobileNo')}} </small></span>
												</div>
											</div>
					</div>
					<div class="col-xs-12  plr0 ">
					
											<div class="form-group col-xs-12  nopadding">
												<div class="input-group col-xs-12">
													<div class="input-group-addon">
														<i class="icon-phone"></i>
													</div>
													<input type="text" maxlength="100"
														id="consol.pickUpDeliveryPoint.doorDeliveryPhoneNo"
														ng-change="validatePickUpDelivery(consol.pickUpDeliveryPoint,21,undefined)"
														ng-model="consol.pickUpDeliveryPoint.doorDeliveryPhoneNo"
														ng-class="{'error-control':errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPhoneNo')!=null}"
														class="form-control"> <span class="error-message"
														ng-show="errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPhoneNo')!=null"><small>
															{{errorMap.get('consol.pickUpDeliveryPoint.doorDeliveryPhoneNo')}} </small></span>
												</div>
											</div>
					</div>
					
					</div>
					
					<div class="col-xs-6 col-sm-3 pl0">
					<div class="col-xs-12 pr0">
					<label class="text-inherit">Expected Door Delivery Date</label>
									<div class="inputBox">
										<input id="consol.pickUpDeliveryPoint.doorDeliveryExpected"
											ng-model="consol.pickUpDeliveryPoint.doorDeliveryExpected"
											class="form-control"
											date-callback="navigateToNextField('consol.pickUpDeliveryPoint.doorDeliveryActual')"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
					</div>
					<div class="col-xs-12 pr0">
					<label class="text-inherit">Door Delivery Date</label>
									<div class="inputBox">
										<input id="consol.pickUpDeliveryPoint.doorDeliveryActual" class="form-control"
											ng-model="consol.pickUpDeliveryPoint.doorDeliveryActual"
											date-callback="checkAndNavigate('consol.pickUpDeliveryPoint.transporter')"
											datetimepicker
											datetimepicker-options="{{directiveDateTimePickerOpts}}">
										<span class="inputIcon"><i class="icon-date"
											aria-hidden="true"></i></span>
									</div>
					</div>
					
					</div>

					</div>
				</div>
				</div>
			</div>
		</div>


	</div>
</div>
<!-- Door Delivery -->
                                                    
                                                        <!--PICKUP start-->

                                                    </div><!--form group ends-->
                                                </form>
                                            </div>
                                        </div>
                                    <!--PICKUP / DELIVERY TAB ENDS-->