<div class="col-xs-12 nopadding">
                                    <div class="row nomargin ">
                                        <div class="col-xs-4 mt10">
                                            <span>Transporter</span>
                                            <h4>{{consol.pickUpDeliveryPoint.transporter.partyName}}</h4>
                                        </div>
                                        <div class="col-xs-4 mt10">
                                            <span>Address</span>
                                            <h6>{{consol.pickUpDeliveryPoint.transporterAddress}}</h6>
                                        </div>
                                    </div>
                                    </div>
<div>
<div class="row nomargin" >
			<div ng-click="picksInfo=!picksInfo" ng-init="picksInfo=false"  ng-class="$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'pick')?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'pick')?'#fff !important':'#000 !important;'}}">Pick Up</h5>
							</div>
							<div>
								<i  style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'pick')?'#fff !important':'#000 !important;'}}" class="{{picksInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		               </div>
			</div>
			<div ng-hide="!picksInfo" >
				<div class="row ptb10 nomargin">
									<div class="col-xs-6 col-sm-6 col-md-3 ">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">

											<div class="col-xs-12 ptb-15">										
										    <span>Our Pick Up</span>
             <h6>{{ifDataElseHifen((consol.pickUpDeliveryPoint.isOurPickUp==true?'Yes':'No'))}}</h6>
																			
											
											</div>
											
											
											
									<div class="col-xs-12 ptb-15">
									
									<span>Pick up Point</span>
                      <h6>{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickupPoint.partyName)}}</h6>
									
									</div>		
										
										
										
								<div class="col-xs-12 ptb-15">
								<!-- <span>Pick up From</span>
                      <h6>{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickupFrom.portName)}}</h6>-->
								
								</div>	 	
						
											</div></div>
											
											
						<div class="col-xs-6 col-sm-6 col-md-3 ">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">

											<div class="col-xs-12 ptb-15">										
										    <span>Pick up Place</span>
             
											</div>
											
											
											
									<div class="col-xs-12 ptb-15" ng-show="consol.pickUpDeliveryPoint.pickUpPlace.id!=null">
					<div>{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpPlace.addressLine1)}}</div>
					<div>{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpPlace.addressLine2)}}</div>
					<div>{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpPlace.addressLine3)}}</div>
					<div>					
					{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpPlace.state.stateName)}},
					{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpPlace.city.cityName)}},
					{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpPlace.zipCode)}}
					
					</div>
								
									
									</div>		
										
										
								
						
											</div></div>					
											
											
											
									<div class="col-xs-6 col-sm-6 col-md-3 mmt10">
 <div class="row bor nomargin brad3 shade1" style="border-bottom:1px solid #dadada !important;min-height:200px">
											<div class="col-xs-12 ptb-15">										
										    <span>Contact Details</span>            
											</div>									
											<div class="col-xs-12" ng-show="consol.pickUpDeliveryPoint.pickUpContactPerson!=null">			
									
                      	<div>
														<label class="text-inherit">
														<i class="fa fa-user pr8"></i>Person :</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpContactPerson)}}

													</div>									
									</div>		
									
								<div class="col-xs-12" ng-show="consol.pickUpDeliveryPoint.pickUpEmail!=null">
								
                     	<div>
														<label class="text-inherit"><i
															class="fa fa fa-envelope pr8"></i>eMail :														</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpEmail)}}
													</div>
								
								</div>	
								
								
								
		<div class="col-xs-12 " ng-show="consol.pickUpDeliveryPoint.pickUpMobileNo!=null">
		
			<div>
														<label class="text-inherit"><i
															class="fa fa fa-mobile pr8"></i>Mobile :														</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpMobileNo)}}
													</div>
		
		</div>						
								
								
			<div class="col-xs-12 " ng-show="consol.pickUpDeliveryPoint.pickUpPhoneNo!=null">
			<div>
														<label class="text-inherit"><i
															class="fa fa fa-phone pr8"></i>Landline :														</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.pickUpPhoneNo)}}
													</div>
			
			</div>						

											</div></div>
											
											
											
										<div class="col-xs-6 col-sm-6 col-md-3 mmt10">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">

											<div class="col-xs-12 ptb-15">										
										    <span>Pick up Follow Up Date</span>
             <h6>{{ifDataElseHifen(dateAndTimeToString(consol.pickUpDeliveryPoint.pickUpFollowUp))}}</h6>
																			
											
											</div>
											
											
											
									<div class="col-xs-12 ptb-15">
									
									<span>Planned Pick Up Date</span>
                      <h6>{{ifDataElseHifen(dateAndTimeToString(consol.pickUpDeliveryPoint.pickUpPlanned))}}</h6>
									
									</div>		
										
										
										
								<div class="col-xs-12 ptb-15">
								<span>Actual Pick Up Date</span>
                      <h6>{{ifDataElseHifen(dateAndTimeToString(consol.pickUpDeliveryPoint.pickUpActual))}}</h6>
								
								</div>		
						
											</div></div>										
</div>			
</div></div>
<!--  pickup place ends -->



<div class="row nomargin">

			<div ng-click="deliveryInfo=!deliveryInfo"
				ng-init="deliveryInfo=false"  ng-class="$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'delivery')?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'delivery')?'#fff !important':'#000 !important;'}}">Delivery to CFS / Depot</h5>
							</div>
							<div>
								<i  style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'delivery')?'#fff !important':'#000 !important;'}}" class="{{deliveryInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		               </div>
			
		<div ng-hide="!deliveryInfo" >
		
					<div class="row ptb10">
						<div class="col-xs-12 ">		
									<div class="col-xs-6 col-sm-6 col-md-3 ">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">

											<div class="col-xs-12 ptb-15">										
										    <span>Delivery Point</span>
             <h6>{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryPoint.cfsName)}}</h6>
																			
											
											</div>
											<div class="col-xs-12 ptb-15">										
										    <!-- <span>Delivery to CFS / Depot</span>
             <h6>{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryFrom.portName)}}</h6> -->
																			
											
											</div>
											
											
										
										
										
										
								
						
											</div></div>
											<div class="col-xs-6 col-sm-6 col-md-3">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">

											<div class="col-xs-12 ptb-15">										
										    <span>Delivery Place</span>
             
											</div>
											
											
											
									<div class="col-xs-12 ptb-15" ng-show="consol.pickUpDeliveryPoint.deliveryPlace.id!=null">
					<div>{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryPlace.addressLine1)}}</div>
					<div>{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryPlace.addressLine2)}}</div>
					<div>{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryPlace.addressLine3)}}</div>
					<div>					
					{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryPlace.state.stateName)}},
					{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryPlace.city.cityName)}},
					{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryPlace.zipCode)}}
					
					</div>
								
									
									</div>		
										
										
								
						
											</div></div>
											
											
											
											
											<div class="col-xs-6 col-sm-6 col-md-3 mmt10">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">
<div class="col-xs-12 ptb-15">										
										    <span>Contact Details</span>
            
											</div>
											
											
											
									<div class="col-xs-12 " ng-show="consol.pickUpDeliveryPoint.deliveryContactPerson!=null">								
									
                      	<div>
														<label class="text-inherit">
														<i class="fa fa-user pr8"></i>Person :</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryContactPerson)}}

													</div>
									
									</div>		
										
										
										
								<div class="col-xs-12 " ng-show="consol.pickUpDeliveryPoint.deliveryEmail!=null">							
                     	<div>
														<label class="text-inherit"><i
															class="fa fa fa-envelope pr8"></i>eMail :														</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryEmail)}}
													</div>
								
								</div>	
								
								
								
		<div class="col-xs-12 " ng-show="consol.pickUpDeliveryPoint.deliveryMobileNo!=null">
		
			<div>
														<label class="text-inherit"><i
															class="fa fa fa-mobile pr8"></i>Mobile :														</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryMobileNo)}}
													</div>
		
		</div>						
								
								
			<div class="col-xs-12 " ng-show="consol.pickUpDeliveryPoint.deliveryPhoneNo!=null">
			<div>
														<label class="text-inherit"><i
															class="fa fa fa-phone pr8"></i>Landline :														</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.deliveryPhoneNo)}}
													</div>
			
			</div>			
											
											
											
											
										
						
											</div></div>										
											
											
										<div class="col-xs-6 col-sm-6 col-md-3 mmt10">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">	
			<div class="col-xs-12 ptb-15">
									
									<span>Expected Delivery Date </span>
                      <h6>{{ifDataElseHifen(dateAndTimeToString(consol.pickUpDeliveryPoint.deliveryExpected))}}</h6>
									
									</div>		
										
										
										
								<div class="col-xs-12 ptb-15">
								<span>Delivery Date</span>
                      <h6>{{ifDataElseHifen(dateAndTimeToString(consol.pickUpDeliveryPoint.deliveryActual))}}</h6>
								
								</div>	
								</div>
								</div>
			
														
			
			
											
											
											
											
											
											
											
											
											
											</div></div>	
		
		
		
		
		
		
		
		
		</div>	
			
			
			
			
			</div>
			
			
			




<div class="row nomargin">
			
			<div ng-click="doorInfo=!doorInfo" ng-init="doorInfo=false"  ng-class="$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'door')?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'door')?'#fff !important':'#000 !important;'}}">Door Delivery</h5>
							</div>
							<div>
								<i  style="color:{{$consolShipmentDataService.isPickUpDeliveyModified(consol.pickUpDeliveryPoint,'door')?'#fff !important':'#000 !important;'}}" class="{{doorInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		               </div>
			
			
			
		<div ng-hide="!doorInfo" class="mb-5">
		
		
		
					<div class="row ptb10 ">
					<div class="col-xs-12 ">
								
									<div class="col-xs-6 col-sm-6 col-md-3 ">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">

											<div class="col-xs-12 ptb-15">										
										    <span>Door Delivery Point</span>
             <h6>{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryPoint.portName)}}</h6>
																			
											
											</div>
											
											
											
									<div class="col-xs-12 ptb-15">
									
									<!-- <span>Door Delivery To</span>
                      <h6>{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryFrom.portName)}}</h6> -->
									
									</div>		
										
										
										
								<div class="col-xs-12 ptb-15">
							
								
								</div>		
						
											</div></div>
											
										<div class="col-xs-6 col-sm-6 col-md-3">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">

											<div class="col-xs-12 ptb-15">										
										    <span>Door Delivery Place</span>
             
											</div>
											
											
											
					<div class="col-xs-12 ptb-15" ng-show="consol.pickUpDeliveryPoint.doorDeliveryPlace.id!=null">
					<div>{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1)}}</div>
					<div>{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2)}}</div>
					<div>{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3)}}</div>
					<div>					
					{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryPlace.state.stateName)}},
					{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryPlace.city.cityName)}},
					{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryPlace.zipCode)}}
					
					</div>
								
									
									</div>		
										
										
								
						
											</div></div>	
									<div class="col-xs-6 col-sm-6 col-md-3 mmt10">
 <div class="row bor nomargin brad3 shade1" style="border-bottom:1px solid #dadada !important;min-height:200px">
											<div class="col-xs-12 ptb-15">										
										    <span>Contact Details</span>            
											</div>									
											<div class="col-xs-12" ng-show="consol.pickUpDeliveryPoint.doorDeliveryContactPerson!=null">			
									
                      	<div>
														<label class="text-inherit">
														<i class="fa fa-user pr8"></i>Person :</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryContactPerson)}}

													</div>									
									</div>		
									
								<div class="col-xs-12" ng-show="consol.pickUpDeliveryPoint.doorDeliveryEmail!=null">
								
                     	<div>
														<label class="text-inherit"><i
															class="fa fa fa-envelope pr8"></i>eMail :														</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryEmail)}}
													</div>
								
								</div>	
								
								
								
		<div class="col-xs-12 " ng-show="consol.pickUpDeliveryPoint.doorDeliveryMobileNo!=null">
		
			<div>
														<label class="text-inherit"><i
															class="fa fa fa-mobile pr8"></i>Mobile :														</label>
														{{consol.pickUpDeliveryPoint.doorDeliveryMobileNo}}
													</div>
		
		</div>						
								
								
			<div class="col-xs-12 " ng-show="consol.pickUpDeliveryPoint.doorDeliveryPhoneNo!=null">
			<div>
														<label class="text-inherit"><i
															class="fa fa fa-phone pr8"></i>Landline :														</label>
														{{ifDataElseHifen(consol.pickUpDeliveryPoint.doorDeliveryPhoneNo)}}
													</div>
			
			</div>						

											</div></div>
											
											
											
											
										<div class="col-xs-6 col-sm-6 col-md-3 mmt10">
<div class="row bor nomargin brad3 shade1" style="border-bottom: 1px solid #dadada !important;min-height:200px">

											<div class="col-xs-12 ptb-15">										
										    <span>Expected Door Delivery Date</span>
             <h6>{{ifDataElseHifen(dateAndTimeToString(consol.pickUpDeliveryPoint.doorDeliveryExpected))}}</h6>
																			
											
											</div>
											
											
											
									<div class="col-xs-12 ptb-15">									
									<span>Door Delivery Date</span>
                      <h6>{{ifDataElseHifen(dateAndTimeToString(consol.pickUpDeliveryPoint.doorDeliveryActual))}}</h6>
									
									</div>		
										
										
										
							
						
											</div></div>
											
											
											
											
											
											
											
											
																								
</div></div></div>	
</div>

<div ng-show="sourceMapPlace!=null && sourceMapPlace!='' && destinationMapPlace!=null && destinationMapPlace!='' ">
<div class="row">

<div class="map-point">
<div class="col-xs-6 ">
<h5 style="font-size: 13px; font-weight: normal;"><span style="font-weight:900;"><i class="fa fa-truck rotate-y" aria-hidden="true"></i> From </span>{{sourceMapPlace}} <span style="font-weight:900;">To</span>
										{{destinationMapPlace}} | <span style="font-weight:900;">Distance </span>
										{{map.directionsRenderers[0].directions.routes[0].legs[0].distance.text}}
									</h5>

</div>
<div class="col-xs-6 ">

<div class="rigt-pont">
	<button
												class="btn btn-primary btn-xs btn-property accent-btn"
												ng-click="googleMapModal(consol.pickUpDeliveryPoint.pickUpPlace, consol.pickUpDeliveryPoint.deliveryPlace);">
												<span style="float:left;"> Pickup From Shipper</span><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span><span style="float:right;">  CFS / Depot</span></button>
											<button
												class="btn btn-primary btn-xs btn-property accent-btn"
												ng-click="googleMapModal(consol.pickUpDeliveryPoint.pickUpPlace, consol.pickUpDeliveryPoint.doorDeliveryPlace);">
												<span style="float:left;">CFS</span><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span><span style="float:right;"> Delivery to Consignee</span>
												</button>

</div>

</div>


</div>
</div>

			<div ng-if="true" style="margin-bottom:10px;margin-top:10px;">
							<div class="panel panel-default" >
							
								<div class="panel-body nopadding nopanel_pattern">
									<div class="col-xs-12 nopadding mt10">
										<div class="row nomargin">
										

											<ng-map zoom="14" center="{{destinationMapPlace}}"
												style="height:100%;"> <directions draggable="true"
												travel-mode="DRIVING" origin="{{sourceMapPlace}}"
												destination="{{destinationMapPlace}}"> </directions> </ng-map>

										</div>
									</div>
								</div>
							</div>
						</div>

</div>

<!--  Door Delivery ends -->

<!--Pickup / Delivery Ends Here-->