<div ng-click="clear()"  ng-show="clientMessage!=null" class="alert alert-danger efs-alert-fixed efs-error ng-hide" >
	<a class="close" ng-click="clear()" aria-label="close">&times;</a>
	<span>{{clientMessage}}</span>
</div>
