<div class="container-fluid resPortAddPage resLandAddPage ">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{essentialChargeMaster.id==null?'Add':'Edit'}} Essential Charge</h4>
                    </div>
                    <div>
                        <div class="btngrp">
                            <button type="button"  class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                            <button  type="button"  class="btn btn-primary btn-xs btn-property accent-btn" ng-click="essentialChargeMaster.id==null?saveEssentialCharge():updateEssentialCharge()">{{essentialChargeMaster.id==null?'Save':'Update'}}</button>
                        </div>
                    </div>
                </div><!--panel head ends-->
                <div class="panel-body half-master-edit" id="role-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">

                    <div ng-show="!showTable" class="row"> <!--ADD SCREEN -->

                        <div class="col-xs-12" ng-hide="essentialChargeDataList[0].id!=null">
                            <button type="button" class="btn accent-btn mb10"  ng-click="addRow()"><i class="icon-add"></i>Add Charge</button>
                        </div>
                        <div class="row nomargin">
                            <div class="col-xs-12">
                              <form role="form" name="essentialChargeForm">
                                <div class="table-responsive">
                                    <table class="table table-inline-nopad" sm-table-responsive  watch-data="essentialChargeDataList" tab-nav tab-row="essentialChargeDataList[0].id==null?addRow():''">
                                        <thead class="borderthead">
                                        <tr>
                                            <th class="inl_xs">#</th>
                                            <th class="inl_l">Service <span class="reqColor">*</span> </th>
                                            <th class="inl_mpp">Charge <span class="reqColor">*</span></th>
                                            <th class="inl_m">Cost / Revenue<span class="reqColor">*</span></th>
                                            <th class="inl_mpp">Origin</th>
                                            <th class="inl_mpp">Destination</th>
                                            <th class="inl_s">TOS</th>
                                            <th class="inl_m">Prepaid / Collect</th>
                                            <th class="inl_sm">Routed</th>
                                            <th class="inl_sm">Hazardous</th>
                                            <th class="inl_xs">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="essentialChargeMaster in essentialChargeDataList track by $index">
                                            <!-- <td ng-class="{'error-cell text-center':secondArr[$index].errRow}">
                                                 <span ng-show="secondArr[$index].errRow" >
                                                     <a tabindex="-1" href="javascript:void(0);" title="Click To See Error List" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                                         <b class="glyphicon glyphicon-warning-sign"></b>
                                                     </a>
                                                 </span>
                                                <span ng-show="!secondArr[$index].errRow">
                                                {{$index+1}}
                                                </span>
                                            </td> -->
                                            <td data-nofloat="true" ng-class="{'error-cell text-center':errorArray[$index].errRow}" ng-click="errorShow(errorArray[$index],$index)">
										<span ng-show="errorArray[$index].errRow"> 
											<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" 
											class="color-white"> <img
												src="../../../../assets/images/error.png" />
										</a>
									    </span> 
									    <span ng-show="!errorArray[$index].errRow"> {{$index+1}}
									    </span>
												</td>
                                            <td data-headtitle="Service" data-required="true"
												data-width="tw33per">
                                                <div class="select-auto">
                                                    <input
													type="text" class="form-control"
													id="serviceName{{$index}}" input-focus="true"
													ng-class="{'error-control':errorArray[$index].serviceName}"
													autocomplete="off"
													ng-model="essentialChargeMaster.serviceMaster"
													uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedService('chargeName'+$index,essentialChargeMaster.serviceMaster)"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
													</div>


                                            </td>
                                            <td data-headtitle="Charge" data-required="true"
												data-width="tw33per" >
                                                <div class="select-auto">
                                                    <input
													type="text" class="form-control"
													id="{{'chargeName'+$index}}" 
													ng-class="{'error-control-auto':errorArray[$index].chargeName}"
													autocomplete="off"
													ng-model="essentialChargeMaster.chargeMaster"
													uib-typeahead="lovObject as lovObject.chargeName for lovObject in ajaxChargeEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedCharge('crn'+$index,essentialChargeMaster.chargeMaster)"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
                                                </div>
                                            </td>
                                            <td data-headtitle="Cost / Revenue" data-required="true"
												data-width="tw33per">
                                                <div class="select-auto">
                                                <select class="form-control"
                                                id="{{'crn'+$index}}"
                                                ng-class="{'error-control':errorArray[$index].crn}"
                                                ng-options="item for item in enum['CRN']"
                                                ng-change="selectedCrn('origin'+$index,essentialChargeMaster.crn)"
                                                ng-model="essentialChargeMaster.crn" >
                                                </select>
                                                </div>
                                            </td>
                                            <td data-headtitle="Origin" data-width="tw33per">
                                                <div class="select-auto">
                                                    <input
													type="text" class="form-control"
													id="{{'origin'+$index}}"
													ng-class="{'error-control':errorArray[$index].origin}"
													autocomplete="off"
													ng-model="essentialChargeMaster.origin"
													uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxOriginEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                    typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedOrigin('destination'+$index,essentialChargeMaster.origin)"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
                                                </div>
                                            </td>
                                            <td data-headtitle="Destination" data-width="tw33per">
                                                <div class="select-auto">
                                                    <input
													type="text" class="form-control"
													id="{{'destination'+$index}}"
													ng-class="{'error-control':errorArray[$index].destination}"
													autocomplete="off"
													 ng-model="essentialChargeMaster.destination"
													uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxDestinationEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                    typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedDestination('tosName'+$index,essentialChargeMaster.destination)"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
                                                </div>
                                            </td>
                                            <td data-headtitle="TOS" data-width="tw33per">
                                                <div class="select-auto">
                                                    <input
													type="text" class="form-control"
													id="{{'tosName'+$index}}" 
													ng-class="{'error-control':errorArray[$index].tosName}"
													autocomplete="off"
													ng-model="essentialChargeMaster.tosMaster"
													uib-typeahead="lovObject as lovObject.tosName for lovObject in ajaxTosEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedTos('ppcc'+$index,essentialChargeMaster.tosMaster)"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500"> <span
													class="select-arrow"><b></b></span>
                                                </div>
                                            </td>
                                            <td data-headtitle="Prepaid / Collect" data-width="tw33per">
                                                <select class="form-control " 
                                                id="{{'ppcc'+$index}}"
                                                ng-class="{'error-control':errorArray[$index].ppcc}"
                                                ng-model="essentialChargeMaster.ppcc"
                                                ng-change="selectedPpcc('routed'+$index,essentialChargeMaster.ppcc)"
                                                ng-options="item as item for item in enum['PPCC']" >
                                                </select>                                            </td>
                                            <td data-headtitle="Routed" data-width="tw33per">
                                                <select class="form-control "
                                                id="{{'routed'+$index}}"
                                                ng-class="{'error-control':errorArray[$index].routed}" 
                                                ng-options="item for item in enum['WhoRouted']"
                                                ng-model="essentialChargeMaster.routed"
                                                ng-change="selectedRouted('hazardous'+$index,essentialChargeMaster.routed)"
                                                 >
                                                </select>  
                                            </td>
                                            <td data-headtitle="Hazardous" data-width="tw33per">
                                                <select class="form-control last-child "
                                                id="{{'hazardous'+$index}}"
                                                ng-class="{'error-control':errorArray[$index].hazardous}"
                                                ng-options="o.value as o.label for o in [{ label: 'No', value: false }, { label: 'Yes', value: true }]"
                                                on-select="selectedHazardous('hazardous'+$index,data)" 
                                                ng-model="essentialChargeMaster.hazardous"
                                                 ng-change="selectedHazardous('serviceName'+$index,essentialChargeMaster.hazardous)"
                                                 >
                                                </select>  
                                            </td>
                                            <td data-nofloat="true" data-action="true">
                                                <ul class="list-inline" >
                                                    <li  ng-hide="essentialChargeMaster.id!=null">
                                                    <a href="javascript:void(0);" ng-click="removeEssential($index)" >
                                                    <i class="icon-delete"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                               </form>
                            </div>
                        </div><!--conn tab ends-->
                    </div>
                    <script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                   
                        <div class="col-xs-8">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">

                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	</script>
                    <!--form ends-->
                </div><!--panel body ends-->
            </div><!--panel ends-->
        </div>
    </div>
</div>
