<div class="container-fluid resPortListPage resLandListPage">
    <div class="row ml0 mr0">

        <div class="list-container col-md-12" ng-show="!showDetail">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panelTitle">
                                <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addEssentialCharges()">
                                    <i class="icon-add"></i> Add Essential Charge
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 pull-right text-right">

                        </div>
                    </div>
                </div>
                <div show-response></div>
                <client-error message="clientMessage"></client-error>
                <div success-message></div>
                <div class="panel-body no-tab-table" panel-height>
                    <div class="table-fixed table-responsive">
                        <super-table data="essentialChargeListArr" head="essentialChargesHeadArr" sort="sortSelection" click-event="rowSelect(param,index)"
                            search-event="changeSearch(param)" sort-event="sortChange(param)" action-event="actionEvent(param)"
                            page="page" size="limit">
                        </super-table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="pull-left">
                        <ul class="list-inline">
                            <li>Show</li>
                            <li>
                                <select class="form-control legend-show-ctrl" ng-model="limit" ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                </select>
                            </li>
                            <li>Entries</li>
                        </ul>
                    </div>
                    <div class="pull-right text-right">
                        <pagination-dr page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right"></pagination-dr>
                    </div>
                </div>
            </div>
            <!--panel ends-->
        </div>
        <div class="col-xs-12 pl0 pr0" ng-show="showDetail">
            <div class="flex align-justify align-middle mb-9 flexview">
                <div>
                    <div class="btngrp">
                        <button class="btn btn-xs btn-property btn-gray" ng-click="back()">
                            <i class="icon-back-menu"></i> Back </button>
                        <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addEssentialCharges()">
                            <i class="icon-add"></i> Add Essential Charges</button>
                    </div>
                </div>
                <!-- <div>
                        <ul class="list-inline">
                            <li>
                                <ul class="list-inline li-p0">
                                    <li>{{selectedRecordIndex+1}}</li>
                                    <li>of</li>
                                    <li>{{totalRecord}}</li>
                                </ul>
                            </li>
                            <li class="pr0">
                                <ul class="list-inline next-prev">
                                    <li data-placement="auto bottom"   bs-tooltip="prev"><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                                    <li data-placement="auto bottom"    bs-tooltip="next"><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->
            </div>
            <div class="detail-container pl0">
                <div class="panel panel-default detail-transition">
                    <div class="panel-heading panel-heading-sm">
                        <div class="pull-left">
                            <div class="panelTitle">

                                <span>Essential Charge</span>
                            </div>
                        </div>
                        <div class="pull-right text-right">
                            <ul class="list-inline text-right">
                                <li>
                                    <a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory">
                                        <i class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="bottom" bs-tooltip="editIcon" href="javascript:void(0)" ng-click="editEssentialCharge()"
                                        class="list-panel-edit-btn cursorPt">
                                        <i class="icon-edit"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="bottom" bs-tooltip="delete" href="javascript:void(0)" ng-click="deleteEssentialCharge()"
                                        class="list-panel-edit-btn cursorPt">
                                        <i class="icon-delete"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body plr15 detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
                        <div>
                            <div class="row metadata-detail">
                                <div class="col-xs-3 ptb-15">
                                    <span>Service</span>
                                    <h5>{{essentialChargeMaster.serviceMaster.serviceName}}</h5>
                                </div>

                                <div class="col-xs-3 ptb-15">
                                    <span>Charge</span>
                                    <h5>{{essentialChargeMaster.chargeMaster.chargeName}}</h5>
                                </div>
                                <div class="col-xs-3 ptb-15">
                                    <span>Cost / Revenue</span>
                                    <h5>{{essentialChargeMaster.crn}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <hr class="mt0">
                            </div>
                            <div class="row ptb-15">
                                <div class="col-xs-3">
                                    <span>Origin</span>
                                    <h5>{{essentialChargeMaster.origin.portName}}
                                    </h5>
                                </div>
                                <div class="col-xs-3">
                                    <span>Destination</span>
                                    <h5>{{essentialChargeMaster.destination.portName}}</h5>
                                </div>

                            </div>
                            <div class="row">
                                <hr class="mt0">
                            </div>
                            <div class="row ptb-15">
                                <div class="col-xs-3">
                                    <span class="text-inherit">Terms of Shipment</span>
                                    <h5>{{essentialChargeMaster.tosMaster.tosName}}
                                    </h5>
                                </div>
                                <div class="col-xs-3">
                                    <span>Prepaid / Collect</span>
                                    <h5>{{essentialChargeMaster.ppcc}}</h5>
                                </div>
                                <div class="col-xs-3">
                                    <span>Routed</span>
                                    <h5>{{essentialChargeMaster.routed}}</h5>
                                </div>
                                <div class="col-xs-3">
                                    <span>Hazardous</span>
                                    <h6>
                                        {{essentialChargeMaster.hazardous?'Yes':'No'}}
                                    </h6>
                                </div>
                            </div>
                        </div>

                        <div class="logs-view logs-transition width42per widP55per widL55per" ng-show="showHistory">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <div class="panelTitle">
                                            <span>
                                                <a data-placement="bottom" bs-tooltip="close" href="javascript:void(0)" ng-click="showHistory=false" class="list-panel-back">
                                                    <i class="icon-close-detail"></i>
                                                </a>
                                            </span>
                                            <span>Activity</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                                    <div class="card">

                                        <ul class="list-inline card-cell">
                                            <li>
                                                <hm-init-icon customer-name="essentialChargeMaster.systemTrack.createUser"></hm-init-icon>
                                            </li>
                                            <li>
                                                <ul class="list-unstyled mt-5">
                                                    <li>
                                                        <b>{{essentialChargeMaster.systemTrack.createUser | uppercase}}</b>
                                                        - Created an item</li>
                                                    <li class="span text-muted">{{dateAndTimeToString(essentialChargeMaster.systemTrack.createDate)}}</li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="card">
                                        <ul class="list-inline card-cell">
                                            <li>
                                                <hm-init-icon customer-name="essentialChargeMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
                                            </li>
                                            <li>
                                                <ul class="list-unstyled mt-5">
                                                    <li>
                                                        <b>{{essentialChargeMaster.systemTrack.lastUpdatedUser | uppercase}}</b>
                                                        - Updated an item</li>
                                                    <li class="span text-muted">{{dateAndTimeToString(essentialChargeMaster.systemTrack.lastUpdatedDate)}}</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>