<div class="container-fluid page-style resPortAddPage resLandAddPage">
	<div class="row">
		<div class="col-xs-12 ">
			<form role="form" name="vm.serTaxCatMasterForm">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading bg-trans flexTitle">
						<div class="w-50">
							<h4>{{vm.serTaxCatMaster.id==null?'Add':'Edit'}} Service Tax Category</h4>
						</div>
						<div class="w-50">
							<ul class="list-inline text-right masopertion-action">
								<li>
									<button  type="button"
										class="btn btn-default btn-xs btn-property cancel-btn"
										ng-click="vm.cancel(vm.serTaxCatMaster.id)">Cancel</button>
								</li>
								<li><input  type="button"
									class="btn btn-primary btn-xs btn-property accent-btn"
									ng-disabled="disableSubmitBtn"
									value="{{vm.serTaxCatMaster.id!=null && vm.serTaxCatMaster.id!=-1 ?'Update':'Save'}}"
									ng-click="vm.serTaxCatMaster.id!=null && vm.serTaxCatMaster.id!=-1 ?vm.update():vm.create()">
								</li>
							</ul>
						</div>
					</div>
					<!--panel heading ends-->

					<div class="panel-body pt0 half-master-edit " id="service-panel"
						panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="row shade1 bor-0 nopadding">
							<div class="col-xs-12 ptb5">
								<span class="reqColor nomargin">*</span> <small
									class="opc-5 f-12b4">Indicates Mandatory Fields</small>
							</div>
						</div>
						<div show-response></div>

						<div class="row ">
                            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="name"
                                 ng-class="{'error-control':errorMap.get('name')!=null}"
                                 ng-change="vm.validate('name', 1)" ng-model="vm.serTaxCatMaster.name"/>
                                 <span class="error-message" ng-show="vm.errorMap.get('name')!=null">
									 <small>{{vm.errorMap.get('name')}}</small>
								</span>
                            </div>
                        <!-- </div>
                       
                        
                        <div class="row"> -->
                        
                         <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
								<div class="form-group nomargin pl0">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input type="text" class="form-control" maxlength="10"
										id="code" capitalize
										input-focus="{{vm.errorMap.get('code')!=null}}"
										ng-class="{'error-control':errorMap.get('code')!=null}"
										ng-model="vm.serTaxCatMaster.code"
										ng-change="vm.validate('code', 2)" /> <span
										class="error-message" ng-show="vm.errorMap.get('code')!=null">
										<small>{{vm.errorMap.get('code')}}</small>
									</span>
								</div>
							</div>
                        
                         <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0" ng-class="vm.serTaxCatMaster.id!=null?'visible-show':'visible-hide'">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="vm.setStatus(vm.serTaxCatMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="vm.serTaxCatMaster.status" required >
                                    </select>
                                </div></div>
                        </div>

						<div class="col-xs-12" ng-show="vm.editFormFlag">
							<div class="row">
								<div class="col-xs-4 ptb-15">
									<a href="javascript:void(0)" 
										ng-click="vm.addServiceTaxPercentage()"
										class="btn btn-primary btn-xs pull-left btn-property accent-btn block">
										<span class="icon-add"></span> Add Service Tax Percentage
									</a>
								</div>
							</div>
							<div class="table-responsive" ng-style="dropStyle">
								<table class="table table-inline-nopad" sm-table-responsive
									watch-data="vm.serTaxCatMaster.taxPercentageList" tab-nav tab-row="vm.addServiceTaxPercentage()">
									<thead class="border borderthead">
										<tr>
											<th class="inl_xxs">#</th>
											<th class="inl_mp">Tax Name<span class="reqColor">*</span></th>
											<th class="inl_mp">Tax Code<span class="reqColor">*</span></th>
											<th class="inl_sm">Currency Code<span class="reqColor">*</span></th>
											<th class="inl_mp">Percentage<span class="reqColor">*</span></th>
											<th class="inl_mp">Valid Date<span class="reqColor">*</span></th>
											<th class="inl_sm">Account Code<span class="reqColor">*</span></th>
											<th class="inl_mp">SubLedger Code<span class="reqColor">*</span></th>
											<th class="inl_m">Note</th>
											<th class="inl_s">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="serviceTaxPercentage in vm.serTaxCatMaster.taxPercentageList track by $index">
											<td data-nofloat="true"
												ng-class="{'error-cell  text-center':vm.errorArray[$index].errRow}" ng-click="vm.errorShow(vm.errorArray[$index],$index)">
												<span ng-show="vm.errorArray[$index].errRow"> <a tabindex="-1"
													href="javascript:void(0);" data-placement="right"
													bs-tooltip="errorList"
													class="color-white"> <img
														src="../../../../assets/images/error.png" />
												</a>
											</span> <span ng-show="!vm.errorArray[$index].errRow">
													{{$index+1}} </span>
											</td>
											<td data-headtitle="Tax Name" data-required="true"
												data-width="tw25per">
												<div
													class=" form-group nomargin pl0">
													 <input type="text"
														class="form-control" input-focus="{{vm.firstFocus}}" maxlength="100"
														id="{{'taxName'+$index}}"
														ng-class="{'error-control':vm.errorArray[$index].taxName}"
														ng-change="vm.validate('taxName', 1)"
														ng-model="serviceTaxPercentage.taxName" 
														/> 
												</div>
											</td>
											<td data-headtitle="Tax Code" data-required="true"
												data-width="tw25per">
												<div
													class=" form-group nomargin pl0">
													<input type="text" class="form-control"
														maxlength="10" id="{{'taxCode'+$index}}"
														ng-class="{'error-control':vm.errorArray[$index].taxCode}"
														capitalize ng-change="vm.validate('taxCode', 1)"
														ng-model="serviceTaxPercentage.taxCode" />
												</div>
											</td>
											<td data-headtitle="Currency Code" data-required="true"
												data-width="tw25per">
												<div class="select-auto">
													<input type="text" class="form-control" id="{{'currencyCode'+$index}}"
														input-focus="{{errorMap.get('currencyCode')!=null}}"
														autocomplete="off"
														ng-model="serviceTaxPercentage.currencyMaster"
														ng-class="{'error-control':vm.errorArray[$index].currencyCode}"
														uib-typeahead="lovObject as lovObject.currencyCode for lovObject in vm.ajaxCurrencyEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="vm.selectedMaster('percentage'+$index);"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
												</div>
											</td>
											<td data-headtitle="Percentage" data-width="tw25per" data-required="true" data-width="tw25per" class="text-right"><input type="number"
												class="form-control"
												focus="{{errorMap.get('percentage')!=null}}"
												ng-class="{'error-control':vm.errorArray[$index].percentage}"
												ng-model="serviceTaxPercentage.percentage"
												ng-change="validateregionOnChange(regionMaster,1)"
												id="{{'percentage'+$index}}" maxlength="100"
												>
											</td>
											<td data-headtitle="Valid Date" data-width="tw25per">
												<div class="inputBox">
													<input class="form-control" id="{{'validDate'+$index}}"
														type="text"
														ng-class="{'error-control':vm.errorArray[$index].validFrom}"
														ng-model="serviceTaxPercentage.validFrom" datetimepicker
														datetimepicker-options="{{datePickerOptions}}"
														date-callback="navigateToNextField('accountCode'+$index)">
													<span class="inputIcon"><i class="icon-date"
														aria-hidden="true"></i></span>
												</div>
											</td>
											<td data-headtitle="Account Code" data-required="true"
												data-width="tw25per">
												<div class="select-auto">
													<input type="text" class="form-control" id="{{'accountCode'+$index}}"
														input-focus="{{errorMap.get('accountCode')!=null}}"
														autocomplete="off"
														ng-model="serviceTaxPercentage.generalLedgerMaster"
														ng-class="{'error-control':vm.errorArray[$index].accountCode}" 
														uib-typeahead="lovObject as lovObject.ledgerCode for lovObject in vm.ajaxGenledgerEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="vm.selectedMaster('subLedgerCode'+$index);"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
												</div>
											</td>
											<td data-headtitle="Subledger" data-required="true"
												data-width="tw25per">
												<div class="select-auto">
													<input type="text" class="form-control" id="{{'subLedgerCode'+$index}}"
														input-focus="{{errorMap.get('subledger')!=null}}"
														autocomplete="off"
														ng-model="serviceTaxPercentage.subLedgerMaster"
														ng-class="{'error-control':vm.errorArray[$index].subLedgerCode}"
														uib-typeahead="lovObject as lovObject.ledgerCode for lovObject in vm.ajaxSubledgerEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="vm.selectedMaster('notes'+$index);"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
												</div>
											</td>

											<td data-headtitle="Note" data-width="tw25per" 
												data-required="true"><textarea
													msd-elastic 
													style="height: 24px !important; max-height: 24px !important; min-height: 24px !important"
													id="{{'notes'+$index}}"
													class="form-control last-child"
													ng-model="serviceTaxPercentage.note" maxlength="4000"
													ng-focus="dirtyIndex($index)">
               								</textarea>
               								</td>
											<td>
												<ul class="list-inline">
													<li><a tabindex="-1"
														ng-show="vm.serTaxCatMaster.taxPercentageList.length>1"
														href="javascript:void(0);"> <i tabindex="-1" class="icon-delete"
															ng-click="vm.removeServiceTaxPercentage($index)"></i>
													</a></li>
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
<div class="col-xs-12">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
</div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>


						<!--MORE RATES COLUMNS-->

						<script type="text/ng-template" id="ratesMore.html">
    <div class="modal" role="dialog" id="rateMore">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
<div class="col-xs-12">
                        <div class="col-xs-6">
                            <h4>More Info</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="save(popUpParty, popUpNote)">Save</button> </li>
                            </ul>
                        </div>
                    </div></div>
                </div>
                <div class="modal-body minH-180">
                   <div class="row">
                       <div class="col-xs-12" ng-show="rateMerged==true">
                           <div class="form-group">
                               <label>
                                   Party Name
                               </label>
                               <div class="select-auto">
                                   <input type="text"
                                          auto-complete
                                          selected-value="partyName"
                                          ng-model="popUpParty"
                                          render-item="partyRender"
                                          call-fun="ajaxVendorEvent(param)"
                                          ng-class="{'error-control-auto':secondArr[$index].vendor}"
                                          class="form-control"
                                          on-select="moveToNextField('isHouseCharge',$index);"
                                          ng-class="{'error-control-auto':secondArr[$index].vendor}"
                                          ng-disabled="(!editRole&&charge.id!=null)"             />
                               </div>
                           </div>
                       </div>
                       <div class="col-xs-12">
                           <div class="form-group">
                               <label>
                                   Notes
                               </label>
                               <textarea class="form-control minH-180" id="note"
                                         ng-model="popUpNote"
                                         maxlength="4000"
                                         ng-class="{'error-control':secondArr[$index].note}"
                                         ng-focus="dirtyIndex($index)" ng-disabled="(!editRole&&charge.id!=null)"  >
                </textarea>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</script>
						<!--TAB CONTENT ENDS-->
						<!--TAB CONTENT ENDS-->

					</div>

					<!--panel body ends-->

				</div>
				<!--panel ends-->
			</form>
		</div>
	</div>
	<!--row ends-->
</div>
<!--container ends-->
