<div class="container-fluid resPortListPage resLandListPage">
    <div class="row ml0 mr0" >
        <!-- Table View -->
        <div class="list-container col-md-12  table-responsive main" >
            <div class="panel panel-default">
                <div class="panel-heading">
                   <div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);"
									class="btn btn-primary btn-xs btn-property accent-btn"
									ng-click="addRecordAccessLevel()"> <i class="icon-add"></i>Add
									Record Access Level
								</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
                </div>
                <div class="panel-body no-tab-table" panel-height>
                  
                    <div class="table-fixed table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                        <super-table data="recordAccessLevelData"
							head="recordAccessLevelHeadArr" sort="sortSelection"
							click-event="rowSelect(param, index)"
							search-event="changeSearch(param)" sort-event="sortChange(param)"
							page="page" size="limit"> </super-table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class=" align-justify align-middle">
                        <div class="pull-left">
                            <ul class="list-inline">
                                <li>Show</li>
                                <li>
                                    <select class="form-control legend-show-ctrl"
								ng-model="limit" ng-change="limitChange(limit)"
								ng-options="v for v in limitArr">

							</select>
                                </li>
                                <li>Entries</li>
                            </ul>
                        </div>
                        <div>
                           <pagination-dr page="page" size="limit" total="totalRecord"
							page-change="changepage(param)" class="pull-right"></pagination-dr>  </div>
                    </div>
                </div>
            </div><!--panel ends-->
        </div>
    </div>
</div>









