<div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12 pl0" >
            <div class="row">
                <div class="col-xs-12 mb-9 flexview">
                    <div class="flex align-justify align-middle">
                        <div>
                            <div class="btngrp">
                                <button class="btn btn-xs btn-property btn-gray" ng-click="backToListPage()"><i class="icon-back-menu"></i> Back </button>
                                <button class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="addRecordAccessLevel()"><i class="icon-add"></i> Add Record Access Levels</button>
                            </div>
                        </div>
                    </div>
                </div><!--COL ENDS-->
            </div>
            <div class="panel panel-default detail-transition masOpertion" >
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>Record Access Level</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right">
                            <li>
                            	<a  href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory">
                            		<i data-placement="bottom"   bs-tooltip="activity" class="icon-logs"></i>
                            	</a>
                            </li>
                            <li>
                            	<a data-placement="bottom"   bs-tooltip="edit" href="javascript:void(0)" ng-click="editRecordAccessLevel()" class="list-panel-edit-btn cursorPt">
                            		<i class="icon-edit"></i>
                            	</a>
                            </li>
                            <li>
                            	<a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" ng-click="deleteRecordAccessLevel()" class="list-panel-edit-btn cursorPt">
                            		<i class="icon-delete"></i>
                            	</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
                    <div class="col-xs-12">
                        <div class="row metadata-detail" >
                            <div class="col-xs-8 mt10">
                                <span>Name</span>
                                <h5 class="heading">{{recordAccessLevel.recordAccessLevelName}}</h5>
                            </div>
                            <div class="col-xs-4 mt10">
                                <span >Status</span>
                                <show-status status="{{recordAccessLevel.status}}"></show-status>
                            </div>
                        </div>
                        <div class="row nopadding bor-0 line">
                            <hr>
                        </div>





			<!-- Access Level Starts -->

				<div class="row ">
					<div ng-click="accessInfo=!accessInfo" ng-init="accessInfo=true" class="mb0 cursorPt flex align-justify align-middle title">
						<div>
							<h5>Access Level</h5>
						</div>
						<div>
							<i class="{{accessInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
						</div>
					</div>
					
					
					
					<div class=" pt0 fx-fade-normal fx-ease-sin marginlr15px" ng-show="accessInfo">
							<div class="row nomargin nopadding">
								<div style="margin:auto;text-align:center;">
									<div class="nav01 ">
  										<ul>
											<li>
												<a class="respadrec" style="border-left:none;" href="javascript:void(0);" ng-init="setTab('tab1')" ng-class="getTab('tab1')?'active':'nonactive'" ng-click="setTab('tab1')">
													<i class="fa fa-globe"></i> Country
												</a>
											</li>
											<li>
												<a class="respadrec" href="javascript:void(0);" ng-class="getTab('tab2')?'active':'nonactive'" ng-click="setTab('tab2')">
													<i class="fa fa-map-marker iconset"></i> Location
												</a>
											</li>
    										<li>
    											<a class="respadrec" href="javascript:void(0);" ng-class="getTab('tab3')?'active':'nonactive'" ng-click="setTab('tab3')">
    												<i class="fa fa-sitemap"></i> Division
    											</a>
    										</li>
    										<li>
    											<a class="respadrec" href="javascript:void(0);" ng-class="getTab('tab4')?'active':'nonactive'" ng-click="setTab('tab4')">
    												<i class="fa fa-gear"></i> Services
    											</a>
    										</li>
											<li>
												<a class="respadrec" href="javascript:void(0);" ng-class="getTab('tab5')?'active':'nonactive'" ng-click="setTab('tab5')">
													<i class="fa fa-user-secret"></i> Salesman
												</a>
											</li>
											<li>
												<a class="respadrec" href="javascript:void(0);" ng-class="getTab('tab6')?'active':'nonactive'" ng-click="setTab('tab6')">
													<i class="fa fa-user"></i> Customer
												</a>
											</li>
										</ul>
									</div> 
								</div>						
							
		


								<div class="row">
										<hr style="margin-top:0px;margin-bottom:0px;">
								</div>
							
							
							
								<div ng-show="getTab('tab1')">
									<div class="row">
										<div class=" col-md-5 col-lg-6 col-sm-8 col-xs-12">
											<div class="table-responsive" style="border:none !important;" ng-style="dropStyle" ng-show="recordAccessLevel.countryList && recordAccessLevel.countryList.length>0">
												<table class="table table-inline mt0" style="border:none !important;">
                                                        <caption>Country</caption>
                                                        <thead class="borderthead">
	                                                        <tr>
	                                                            <th class="inl_sno">#</th>
	                                                            <th class="inl_l">Country Name</th>
	                                                        </tr>
                                                        </thead>
                                                        <tbody>
	                                                        <tr ng-repeat="country in recordAccessLevel.countryList track by $index">
	                                                            <td>{{$index + 1}}</td>
	                                                            <td><img ng-show="country.countryMaster.image!=null"  data-ng-src="data:image/png;base64,{{country.countryMaster.image}}" style="padding-right:3px;" width="23" height="20">{{country.countryMaster.countryName}}</td>
	                                                        </tr>
                                                        </tbody>
                                                    </table>
											</div>
											<empty-record 
												ng-show="!recordAccessLevel.countryList || recordAccessLevel.countryList.length==0" 
												icon="country" 
												text="Looks like there are no country records here">
											</empty-record>
										</div>
									</div>
								</div>
								
								<div ng-show="getTab('tab2')">
									<div class="row">
										<div class=" col-md-5 col-lg-6 col-sm-8 col-xs-12">
											<div class="table-responsive" style="border:none !important;" ng-style="dropStyle"  ng-show="recordAccessLevel.locationList && recordAccessLevel.locationList.length>0">
												<table class="table table-inline mt0" >
                                                        <caption>Location</caption>
                                                        <thead class="borderthead">
	                                                        <tr>
	                                                            <th class="inl_sno">#</th>
	                                                            <th class="inl_l">Location Name</th>
	                                                        </tr>
                                                        </thead>
                                                        <tbody>
	                                                        <tr ng-repeat="location in recordAccessLevel.locationList track by $index">
	                                                            <td>{{$index + 1}}</td>
	                                                            <td>{{location.locationMaster.locationName}}</td>
	                                                        </tr>
                                                        </tbody>
                                                </table>
											</div>
											<empty-record 
												ng-show="!recordAccessLevel.locationList || recordAccessLevel.locationList.length==0" 
												icon="location" 
												text="Looks like there are no location records here">
											</empty-record>
										</div>
									</div>
								</div>
								
								<div ng-show="getTab('tab3')">
									<div class="row">
										<div class=" col-md-5 col-lg-6 col-sm-8 col-xs-12">
											<div class="table-responsive" style="border:none !important;" ng-style="dropStyle" ng-show="recordAccessLevel.divisionList && recordAccessLevel.divisionList.length>0">
												<table class="table table-inline mt0">
                                                        <caption>Division</caption>
                                                        <thead class="borderthead">
	                                                        <tr>
	                                                            <th class="inl_sno">#</th>
	                                                            <th class="inl_l">Division Name</th>
	                                                        </tr>
                                                        </thead>
                                                        <tbody>
	                                                        <tr ng-repeat="division in recordAccessLevel.divisionList track by $index">
	                                                            <td>{{$index + 1}}</td>
	                                                            <td>{{division.divisionMaster.divisionName}}</td>
	                                                        </tr>
                                                        </tbody>
                                                </table>
											</div>
											<empty-record 
												ng-show="!recordAccessLevel.divisionList || recordAccessLevel.divisionList.length==0" 
												icon="division" 
												text="Looks like there are no division records here">
											</empty-record>
										</div>
									</div>
								</div>
								
								<div ng-show="getTab('tab4')">
									<div class="row">
										<div class=" col-md-5 col-lg-6 col-sm-8 col-xs-12">
											<div class="table-responsive" style="border:none !important;" ng-style="dropStyle" ng-show="recordAccessLevel.serviceList && recordAccessLevel.serviceList.length>0">
												<table class="table table-inline mt0">
                                                        <caption>Service</caption>
                                                        <thead class="borderthead">
	                                                        <tr>
	                                                            <th class="inl_sno">#</th>
	                                                            <th class="inl_l">Service Name</th>
	                                                        </tr>
                                                        </thead>
                                                        <tbody>
	                                                        <tr ng-repeat="service in recordAccessLevel.serviceList track by $index">
	                                                            <td>{{$index + 1}}</td>
	                                                            <td>{{service.serviceMaster.serviceName}}</td>
	                                                        </tr>
                                                        </tbody>
                                                </table>
											</div>
											<empty-record 
												ng-show="!recordAccessLevel.serviceList || recordAccessLevel.serviceList.length==0" 
												icon="division" 
												text="Looks like there are no service records here">
											</empty-record>
										</div>
									</div>
								</div>
								
								<div ng-show="getTab('tab5')">
									<div class="row">
										<div class=" col-md-5 col-lg-6 col-sm-8 col-xs-12">
											<div class="table-responsive" style="border:none !important;" ng-style="dropStyle" ng-show="recordAccessLevel.salesmanList && recordAccessLevel.salesmanList.length>0">
												<table class="table table-inline mt0">
                                                        <caption>Salesman</caption>
                                                        <thead class="borderthead">
	                                                        <tr>
	                                                            <th class="inl_sno">#</th>
	                                                            <th class="inl_l">Salesman Name</th>
	                                                        </tr>
                                                        </thead>
                                                        <tbody>
	                                                        <tr ng-repeat="employee in recordAccessLevel.salesmanList track by $index">
	                                                            <td>{{$index + 1}}</td>
	                                                            <td>{{employee.employeeMaster.employeeName}}</td>
	                                                        </tr>
                                                        </tbody>
                                                </table>
											</div>
											<empty-record 
												ng-show="!recordAccessLevel.salesmanList || recordAccessLevel.salesmanList.length==0" 
												icon="salesman" 
												text="Looks like there are no salesman records here">
											</empty-record>
										</div>
									</div>
								</div>
								
								<div ng-show="getTab('tab6')">
									<div class="row">
										<div class=" col-md-5 col-lg-6 col-sm-8 col-xs-12">
											<div class="table-responsive" style="border:none !important;" ng-style="dropStyle" ng-show="recordAccessLevel.customerList && recordAccessLevel.customerList.length>0">
											  	<table class="table table-inline mt0">
                                                        <caption>Customer</caption>
                                                        <thead class="borderthead">
	                                                        <tr>
	                                                            <th class="inl_sno">#</th>
	                                                            <th class="inl_l">Customer Name</th>
	                                                        </tr>
                                                        </thead>
                                                        <tbody>
	                                                        <tr ng-repeat="customer in recordAccessLevel.customerList track by $index">
	                                                            <td>{{$index + 1}}</td>
	                                                            <td>{{customer.partyMaster.partyName}}</td>
	                                                        </tr>
                                                        </tbody>
                                                </table>
											</div>
											<empty-record 
												ng-show="!recordAccessLevel.customerList || recordAccessLevel.customerList.length==0" 
												icon="customer" 
												text="Looks like there are no customer records here">
											</empty-record>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
  			<!-- Access Level Ends -->       
                    
                    
                    
                    
                    
           <!-- Assigned To Starts -->
           
           <div class="row ">
				<div ng-click="userInfo=!userInfo" ng-init="userInfo=true" class="mb0 cursorPt flex align-justify align-middle title">
					<div>
						<h5>Assigned To</h5>
					</div>
					<div>
						<i class="{{userInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
					</div>
				</div>

				<div class=" pt0 fx-fade-normal fx-ease-sin marginlr15px" ng-show="userInfo">
					<div class="row ">
						<div class=" col-md-5 col-lg-6 col-sm-8 col-xs-12">
								<div class="table-responsive" style="border:none !important;" ng-style="dropStyle"  ng-show="recordAccessLevel.userList && recordAccessLevel.userList.length>0">
									<table class="table table-inline mt0">
										<caption>User</caption>
										<thead class="borderthead">
											<tr>
												<th class="inl_sno">#</th>
												<th class="inl_l">User Name</th>
											</tr>
										</thead>
										<tbody >
											<tr
												ng-repeat="user in recordAccessLevel.userList track by $index">
												<td>{{$index + 1}}</td>
												<td>{{user.userProfile.userName}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<empty-record
									ng-show="!recordAccessLevel.userList || recordAccessLevel.userList.length==0"
									icon="user" text="Looks like there are no user records here">
								</empty-record>
							</div>
						</div>
					</div>
				</div>
							
		 <!-- Assigned To Starts -->

			<div class="row ">
				<div ng-click="descriptionInfo=!descriptionInfo" ng-init="descriptionInfo=true" class=" mb0 cursorPt flex align-justify align-middle title">
					<div>
						<h5>Description</h5>
					</div>
					<div>
						<i class="{{descriptionInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
					</div>
				</div>
					<div class=" pt0 fx-fade-normal fx-ease-sin marginlr15px"
						ng-show="descriptionInfo">
						<div class="row ">
							<div class=" col-md-5 col-lg-6 col-sm-8 col-xs-12">
								<h5>{{recordAccessLevel.description}}</h5>
							</div>
						</div>
					</div>
				</div>

				<div class="logs-view logs-transition width42per widP55per widL55per" ng-show="showHistory">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="pull-left">
								<div class="panelTitle">
									<span> 
										<a href="javascript:void(0)" ng-click="showHistory=false" class="list-panel-back">
											<i data-placement="bottom" bs-tooltip="close" class="icon-close-detail"></i>
										</a>
									</span> <span>Activity</span>
								</div>
							</div>
						</div>
						<div class="panel-body logs-body" panel-height ng-nicescroll
							nice-option="{{ngScrollConfig}}">
							<div class="card">
								<ul class="list-inline card-cell">
									<li>
										<hm-init-icon customer-name="recordAccessLevel.systemTrack.createUser"></hm-init-icon>
									</li>
									<li>
										<ul class="list-unstyled mt-5">
											<li><b>{{recordAccessLevel.systemTrack.createUser | uppercase}}</b> - Created an item</li>
											<li class="span text-muted">{{dateAndTimeToString(recordAccessLevel.systemTrack.createDate)}}</li>
										</ul>
									</li>
								</ul>

							</div>
							<div class="card">
								<ul class="list-inline card-cell">
									<li>
										<hm-init-icon customer-name="recordAccessLevel.systemTrack.lastUpdatedUse"></hm-init-icon>
									</li>
									<li>
										<ul class="list-unstyled mt-5">
											<li><b>{{recordAccessLevel.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
											<li class="span text-muted">{{dateAndTimeToString(recordAccessLevel.systemTrack.lastUpdatedDate)}}</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
					</div>
				</div></div>