<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4> {{recordAccessLevel.id!=null?'Edit' : 'Add'}} Record Access Level</h4>
                    </div>
                    <div>
                        <button class="btn btn-property cancel-btn" ng-click="cancel()">cancel</button>
                        <button class="btn btn-property accent-btn" ng-click="save()">{{recordAccessLevel.id!=null?'Update' : 'Save'}}</button>
                    </div>
                </div>
                <div class="panel-body half-master-edit pt0" id="ral-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <form role="form">
                        <div class="row ">
                            <div class="col-xs-12 ptb-15">
                                <div show-response></div>
                                <span class="reqColor nomargin">*</span>
                                <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 bor-btm-1">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-8 col-lg-4 ptb-15">
                                        <div class="form-group mb0">
                                            <label>name <span>*</span></label>
                                            <input type="text" class="form-control" ng-model="recordAccessLevel.recordAccessLevelName" maxlength="100" id="recordAccessLevelName"
                                            input-focus="{{errorMap.get('recordAccessLevelName')!=null}}"
											ng-class="{'error-control':errorMap.get('recordAccessLevelName')!=null}">
                                        </div>
											<span class="error-message" ng-show="errorMap.get('recordAccessLevelName')!=null"><small>{{errorMap.get('recordAccessLevelName')}}</small></span>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-4 col-lg-2 ptb-15 "  ng-show="recordAccessLevel.id!=null">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select
                                                    class="form-control status " id="status"
                                                    ng-class="setStatus(recordAccessLevel.status)"
                                                    ng-options="item for item in enum['LovStatus']"
                                                    ng-model="recordAccessLevel.status" >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        
                        
                        
                        
                        
      			
      			<div class="row ">
						<div tabindex="-1" ng-click="toggleAccessInfo('country0')" ng-init="accessInfo=true" class="mb0 cursorPt flex align-justify align-middle title">
							<div>
								<h5>Access Level</h5>
							</div>
							<div>
								<i class="{{accessInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
						</div>

						<div class=" pt0 fx-fade-normal fx-ease-sin marginlr15px" ng-show="accessInfo">
							<div class="row nomargin nopadding">
								<div style="margin:auto;text-align:center;">
									<div class="nav01 ">
  										<ul>
											<li>
												<a class="respadrec" tabindex="-1" style="border-left:none;" href="javascript:void(0);" ng-init="setTab('tab1')" ng-class="getTab('tab1')?'active':'nonactive'" ng-click="setTab('tab1'); moveCursor('country0')">
													<i class="fa fa-globe"></i> Country
												</a>
											</li>
											<li>
												<a class="respadrec" tabindex="-1" href="javascript:void(0);" ng-class="getTab('tab2')?'active':'nonactive'" ng-click="setTab('tab2'); moveCursor('location0')">
													<i class="fa fa-map-marker iconset"></i> Location
												</a>
											</li>
    										<li>
    											<a class="respadrec" tabindex="-1" href="javascript:void(0);" ng-class="getTab('tab3')?'active':'nonactive'" ng-click="setTab('tab3'); moveCursor('division0')">
    												<i class="fa fa-sitemap"></i> Division
    											</a>
    										</li>
    										<li>
    											<a class="respadrec" tabindex="-1" href="javascript:void(0);" ng-class="getTab('tab4')?'active':'nonactive'" ng-click="setTab('tab4'); moveCursor('service0')">
    												<i class="fa fa-gear"></i> Services
    											</a>
    										</li>
											<li>
												<a class="respadrec" tabindex="-1" href="javascript:void(0);" ng-class="getTab('tab5')?'active':'nonactive'" ng-click="setTab('tab5'); moveCursor('salesman0')">
													<i class="fa fa-user-secret"></i> Salesman
												</a>
											</li>
											<li>
												<a class="respadrec" tabindex="-1" href="javascript:void(0);" ng-class="getTab('tab6')?'active':'nonactive'" ng-click="setTab('tab6'); moveCursor('customer0')">
													<i class="fa fa-user"></i> Customer
												</a>
											</li>
										</ul>
									</div> 
								</div>						
							
		


								<div class="row">
										<hr style="margin-top:0px;margin-bottom:10px;">
								</div>



									<div ng-show="getTab('tab1')">
										<div class="row">
											<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">

												<div class="table-responsive" ng-style="dropStyle">
														<table class="table table-inline-nopad" tab-nav tab-row="addCountryRow()">
															<thead class="borderthead">
																<tr>
																	<th class="inl_sno">#</th>
																	<th class="inl_l">Country</th>
																	<th class="inl_sno">Action</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat = "country in recordAccessLevel.countryList track by $index">
																	
																	<td  ng-class="{'error-cell text-center':countryErrorObject.errorObj[$index].errorControl}" ng-click="errorShow(countryErrorObject.errorObj[$index],$index)" >
																			<span ng-show="countryErrorObject.errorObj[$index].errorControl"> 
																				<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" class="color-white">
																					<img src="../../../../assets/images/error.png" />
																				</a>
																			</span> 
																			<span ng-show="!countryErrorObject.errorObj[$index].errorControl"> {{$index+1}}  </span>
																	</td>
																	<td>
																		<div class="select-auto">
																			<input type="text" class="form-control last-child" id="{{'country'+$index}}"
																				autocomplete="off" ng-model="recordAccessLevel.countryList[$index].countryMaster"
																				uib-typeahead="countryObject as countryObject.countryName for countryObject in getCountryNotInList($viewValue)"
																				typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
																				typeahead-show-hint="true" typeahead-show-loading="true" 
																				typeahead-append-to-body="true" typeahead-on-select="selectedCountry()"
																				typeahead-focus-on-select="false"
																				typeahead-focus-first="true" typeahead-editable="false"
																				typeahead-min-length="1" typeahead-wait-ms="500"> 
																				<span class="select-arrow"><b></b></span>
																		</div>
																	</td>
																	<td>
																		<ul class="list-inline">
																			<li ng-show="recordAccessLevel.countryList.length>1">
																				<a href="javascript:void(0)" ng-click="deleteCountryRow($index)">
																					<i class="icon-delete"  data-placement="bottom"  bs-tooltip="delete"></i>
																				</a>
																			</li>
																			<li>
																				<a href="javascript:void(0)"  ng-click="addCountryRow($index)">
																					<i class="icon-add" data-placement="bottom"  bs-tooltip="add"></i>
																				</a>
																			</li>
																		</ul>
																	</td>
																</tr>
															</tbody>
														</table>
												</div>

											</div>
										</div>

									</div>



									<div ng-show="getTab('tab2')">
										<div class="row">
											<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
												<div class="table-responsive" ng-style="dropStyle">
													<table class="table table-inline-nopad" tab-nav tab-row="addLocationRow()">
														<thead class="borderthead">
															<tr>
																<th class="inl_sno">#</th>
																<th class="inl_l">Location</th>
																<th class="inl_sno">Action</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat = "location in recordAccessLevel.locationList track by $index">
																	
																	<td  ng-class="{'error-cell text-center':locationErrorObject.errorObj[$index].errorControl}" ng-click="errorShow(locationErrorObject.errorObj[$index],$index)">
																			<span ng-show="locationErrorObject.errorObj[$index].errorControl"> 
																				<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList"  class="color-white">
																					<img src="../../../../assets/images/error.png" />
																				</a>
																			</span> 
																			<span ng-show="!locationErrorObject.errorObj[$index].errorControl"> {{$index+1}}  </span>
																	</td>
																<td>
																	<div class="select-auto">
																		<input type="text" class="form-control" id="{{'location'+$index}}"
																			autocomplete="off"
																			ng-model="recordAccessLevel.locationList[$index].locationMaster"
																			uib-typeahead="locationObject as locationObject.locationName for locationObject in getLocationNotInList($viewValue)"
																			typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																			typeahead-show-hint="true" typeahead-show-loading="true" 
																			typeahead-append-to-body="true"
																			typeahead-on-select="selectedLocation()"
																			typeahead-focus-on-select="false"
																			typeahead-focus-first="true"
																			typeahead-editable="false" typeahead-min-length="1"
																			typeahead-wait-ms="500"> <span
																			class="select-arrow"><b></b></span>
																	</div>
																</td>
																<td>
																		<ul class="list-inline">
																			<li ng-show="recordAccessLevel.locationList.length>1">
																				<a href="javascript:void(0)" ng-click="deleteLocationRow($index)">
																					<i class="icon-delete"  data-placement="bottom"  bs-tooltip="delete"></i>
																				</a>
																			</li>
																			<li>
																				<a href="javascript:void(0)"  ng-click="addLocationRow($index)" class="last-child">
																					<i class="icon-add" data-placement="bottom"  bs-tooltip="add"></i>
																				</a>
																			</li>
																		</ul>
																	</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>


									<div ng-show="getTab('tab3')">
										<div class="row">
											<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
												<div class="table-responsive" ng-style="dropStyle">
													<table class="table table-inline-nopad" tab-nav tab-row="addDivisionRow()">
														<thead class="borderthead">
															<tr>
																<th class="inl_sno">#</th>
																<th class="inl_l">Division</th>
																<th class="inl_sno">Action</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="division in recordAccessLevel.divisionList track by $index">
																<td  ng-class="{'error-cell text-center':divisionErrorObject.errorObj[$index].errorControl}" ng-click="errorShow(divisionErrorObject.errorObj[$index],$index)">
																			<span ng-show="divisionErrorObject.errorObj[$index].errorControl"> 
																				<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList"  class="color-white">
																					<img src="../../../../assets/images/error.png" />
																				</a>
																			</span> 
																			<span ng-show="!divisionErrorObject.errorObj[$index].errorControl"> {{$index+1}}  </span>
																</td>
																<td>
																	<div class="select-auto">
																		<input type="text" class="form-control" id="{{'division'+$index}}"
																			autocomplete="off"
																			ng-model="recordAccessLevel.divisionList[$index].divisionMaster"
																			uib-typeahead="divisionObject as divisionObject.divisionName for divisionObject in getDivisionNotInList($viewValue)"
																			typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																			typeahead-show-hint="true" typeahead-show-loading="true" 
																			typeahead-append-to-body="true"
																			typeahead-on-select="selectedDivision()"
																			typeahead-focus-on-select="false"
																			typeahead-focus-first="true"
																			typeahead-editable="false" typeahead-min-length="1"
																			typeahead-wait-ms="500"> <span
																			class="select-arrow"><b></b></span>
																	</div>
																</td>
																<td>
																		<ul class="list-inline">
																			<li ng-show="recordAccessLevel.divisionList.length>1">
																				<a href="javascript:void(0)" ng-click="deleteDivisionRow($index)">
																					<i class="icon-delete"  data-placement="bottom"  bs-tooltip="delete"></i>
																				</a>
																			</li>
																			<li>
																				<a href="javascript:void(0)"  ng-click="addDivisionRow($index)" class="last-child">
																					<i class="icon-add" data-placement="bottom"  bs-tooltip="add"></i>
																				</a>
																			</li>
																		</ul>
																	</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="getTab('tab4')">

										<div class="row">
											<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">

												<div class="table-responsive" ng-style="dropStyle">
													<table class="table table-inline-nopad" tab-nav
														tab-row="addServiceRow()">
														<thead class="borderthead">
															<tr>
																<th class="inl_sno">#</th>
																<th class="inl_l">Services</th>
																<th class="inl_sno">Action</th>
															</tr>
														</thead>
														<tbody>
															<tr
																ng-repeat="service in recordAccessLevel.serviceList track by $index">
																<td  ng-class="{'error-cell text-center':serviceErrorObject.errorObj[$index].errorControl}" ng-click="errorShow(serviceErrorObject.errorObj[$index],$index)" >
																			<span ng-show="serviceErrorObject.errorObj[$index].errorControl"> 
																				<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" class="color-white">
																					<img src="../../../../assets/images/error.png" />
																				</a>
																			</span> 
																			<span ng-show="!serviceErrorObject.errorObj[$index].errorControl"> {{$index+1}}  </span>
																</td>
																<td>
																	<div class="select-auto">
																		<input type="text" class="form-control last-child"   id="{{'service'+$index}}"
																			autocomplete="off" 
																			ng-model="recordAccessLevel.serviceList[$index].serviceMaster"
																			uib-typeahead="serviceObject as serviceObject.serviceName for serviceObject in getSearchServiceNotInList($viewValue)"
																			typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																			typeahead-show-hint="true" typeahead-show-loading="true" 
																			typeahead-append-to-body="true"
																			typeahead-on-select="selectedService()"
																			typeahead-focus-on-select="false"
																			typeahead-focus-first="true"
																			typeahead-editable="false" typeahead-min-length="1"
																			typeahead-wait-ms="500"> <span
																			class="select-arrow"><b></b></span>
																	</div>
																</td>
																<td>
																		<ul class="list-inline">
																			<li ng-show="recordAccessLevel.serviceList.length>1">
																				<a href="javascript:void(0)" ng-click="deleteServiceRow($index)">
																					<i class="icon-delete"  data-placement="bottom"  bs-tooltip="delete"></i>
																				</a>
																			</li>
																			<li>
																				<a href="javascript:void(0)"  ng-click="addServiceRow($index)" >
																					<i class="icon-add" data-placement="bottom"  bs-tooltip="add"></i>
																				</a>
																			</li>
																		</ul>
																	</td>
															</tr>
														</tbody>
													</table>
												</div>


											</div>
										</div>

									</div>

									<div ng-show="getTab('tab5')">
										<div class="row">
											<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
												<div class="table-responsive" ng-style="dropStyle">
													<table class="table table-inline-nopad" tab-nav tab-row="addSalesmanRow()">
														<thead class="borderthead">
															<tr>
																<th class="inl_sno">#</th>
																<th class="inl_l">Salesman</th>
																<th class="inl_sno">Action</th>
															</tr>
														</thead>
														<tbody>
															<tr
																ng-repeat="salesman in recordAccessLevel.salesmanList track by $index">
																<td  ng-class="{'error-cell text-center':salesmanErrorObject.errorObj[$index].errorControl}" ng-click="errorShow(salesmanErrorObject.errorObj[$index],$index)">
																			<span ng-show="salesmanErrorObject.errorObj[$index].errorControl"> 
																				<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList"  class="color-white">
																					<img src="../../../../assets/images/error.png" />
																				</a>
																			</span> 
																			<span ng-show="!salesmanErrorObject.errorObj[$index].errorControl"> {{$index+1}}  </span>
																</td>
																<td>
																	<div class="select-auto">
																		<input type="text" class="form-control last-child"
																			autocomplete="off" id="{{'salesman'+$index}}"
																			ng-model="recordAccessLevel.salesmanList[$index].employeeMaster"
																			uib-typeahead="salesmanObject as salesmanObject.employeeName for salesmanObject in $AutoCompleteService.getLocationBasedSalesmanList($viewValue)"
																			typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																			typeahead-show-hint="true" typeahead-show-loading="true" 
																			typeahead-append-to-body="true"
																			typeahead-on-select="selectedSalesman()"
																			typeahead-focus-on-select="false"
																			typeahead-focus-first="true"
																			typeahead-editable="false" typeahead-min-length="1"
																			typeahead-wait-ms="500"> <span
																			class="select-arrow"><b></b></span>
																	</div>
																</td>
																<td>
																		<ul class="list-inline">
																			<li ng-show="recordAccessLevel.salesmanList.length>1">
																				<a href="javascript:void(0)" ng-click="deleteSalesmanRow($index)">
																					<i class="icon-delete"  data-placement="bottom"  bs-tooltip="delete"></i>
																				</a>
																			</li>
																			<li>
																				<a href="javascript:void(0)"  ng-click="addSalesmanRow($index)" >
																					<i class="icon-add" data-placement="bottom"  bs-tooltip="add"></i>
																				</a>
																			</li>
																		</ul>
																	</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="getTab('tab6')">
										<div class="row">
											<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
												<div class="table-responsive" ng-style="dropStyle">
													<table class="table table-inline-nopad" tab-nav
														tab-row="addCustomerRow()">
														<thead class="borderthead">
															<tr>
																<th class="inl_sno">#</th>
																<th class="inl_l">Customer</th>
																<th class="inl_sno">Action</th>
															</tr>
														</thead>
														<tbody>
															<tr
																ng-repeat="customer in recordAccessLevel.customerList track by $index">
																<td  ng-class="{'error-cell text-center':customerErrorObject.errorObj[$index].errorControl}" ng-click="errorShow(customerErrorObject.errorObj[$index],$index)">
																			<span ng-show="customerErrorObject.errorObj[$index].errorControl"> 
																				<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList"  class="color-white">
																					<img src="../../../../assets/images/error.png" />
																				</a>
																			</span> 
																			<span ng-show="!customerErrorObject.errorObj[$index].errorControl"> {{$index+1}}  </span>
																</td>
																<td>
																	<div class="select-auto">
																		<input type="text" class="form-control"
																			autocomplete="off" id="{{'customer'+$index}}"
																			ng-model="recordAccessLevel.customerList[$index].partyMaster"
																			uib-typeahead="customerObject as customerObject.partyName for customerObject in getSearchPartyNotInList($viewValue)"
																			typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																			typeahead-show-hint="true" typeahead-show-loading="true" 
																			typeahead-append-to-body="true"
																			typeahead-on-select="selectedCustomer()"
																			typeahead-focus-on-select="false"
																			typeahead-focus-first="true"
																			typeahead-editable="false" typeahead-min-length="1"
																			typeahead-wait-ms="500"> <span
																			class="select-arrow"><b></b></span>
																	</div>
																</td>
																<td>
																		<ul class="list-inline">
																			<li ng-show="recordAccessLevel.customerList.length>1">
																				<a href="javascript:void(0)" ng-click="deleteCustomerRow($index)">
																					<i class="icon-delete"  data-placement="bottom"  bs-tooltip="delete"></i>
																				</a>
																			</li>
																			<li>
																				<a href="javascript:void(0)"  ng-click="addCustomerRow($index)" class="last-child">
																					<i class="icon-add" data-placement="bottom"  bs-tooltip="add"></i>
																				</a>
																			</li>
																		</ul>
																	</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>                  
                        
   
   
   <!-- Assigned To Starts -->
   
         			<div class="row ">
						<div ng-click="toggleUserInfo('user0')" ng-init="userInfo=true" class="mb0 cursorPt flex align-justify align-middle title">
							<div>
								<h5>Assigned To</h5>
							</div>
							<div>
								<i class="{{userInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>

						</div>

							<div class=" pt0 fx-fade-normal fx-ease-sin marginlr15px" ng-show="userInfo">
								<div class="row mt-11">

									<div class="col-xs-12">
										<p class="opc-5">users have been assigned this role</p>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">


										<div class="table-responsive" ng-style="dropStyle">
											<table class="table table-inline-nopad" tab-nav tab-row="addUserRow()" >
												<thead class="borderthead">
													<tr>
														<th class="inl_sno">#</th>
														<th class="inl_l">User</th>
														<th class="inl_sno">Action</th>
													</tr>
												</thead >
												<tbody>
													<tr ng-repeat = "user in recordAccessLevel.userList track by $index" ng-click="errorShow(userErrorObject.errorObj[$index],$index)">
														<td  ng-class="{'error-cell text-center':userErrorObject.errorObj[$index].errorControl}">
															<span ng-show="userErrorObject.errorObj[$index].errorControl"> 
																<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList"  class="color-white">
																	<img src="../../../../assets/images/error.png" />
																</a>
															</span> 
															<span ng-show="!userErrorObject.errorObj[$index].errorControl"> {{$index+1}}  </span>
														</td>
														<td>
															<div class="select-auto">
																<input type="text" class="form-control last-child" id="{{'user'+$index}}"
																	autocomplete="off" ng-model="recordAccessLevel.userList[$index].userProfile"
																	uib-typeahead="userObject as userObject.userName for userObject in getSearchUserNotInList($viewValue)"
																	typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																	typeahead-show-hint="true" typeahead-show-loading="true" 
																	typeahead-append-to-body="true" typeahead-on-select="selectedUser()"
																	typeahead-focus-on-select="false"
																	typeahead-focus-first="true" typeahead-editable="false"
																	typeahead-min-length="1" typeahead-wait-ms="500"> 
																	<span class="select-arrow"><b></b></span>
															</div>
														</td>
														<td>
															<ul class="list-inline">
																<li ng-show="recordAccessLevel.userList.length>1">
																	<a href="javascript:void(0)" ng-click="deleteUserRow($index)">
																		<i class="icon-delete"  data-placement="bottom"  bs-tooltip="delete"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)"  ng-click="addUserRow($index)">
																		<i class="icon-add" data-placement="bottom"  bs-tooltip="add"></i>
																	</a>
																</li>
															</ul>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>  
   
      <!-- Assigned To Ends -->
   
   
   
      
         			<div class="row ">
						<div ng-click="toggleDescriptionInfo('description')" ng-init="descriptionInfo=true" class=" mb0 cursorPt flex align-justify align-middle title">
							<div>
								<h5>Description</h5>
							</div>
							<div>
								<i class="{{descriptionInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>

						</div>
							<div class=" pt0 fx-fade-normal fx-ease-sin marginlr15px" ng-show="descriptionInfo">
								<div class="row mt-11 ">
									<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6" style="padding-bottom:10px">
										<textarea msd-elastic id="description" class="form-control txtarea100" 
											rows="7"
											maxlength="4000"
											ng-model="recordAccessLevel.description" style="padding-bottom:10px">
                                       </textarea>
									</div>
								</div>
							</div>
						</div> 
                    </form>
                </div>
            </div><!--panel ends-->
        </div>
    </div>
</div>

<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
 <div class="col-xs-12">
                        <div class="col-xs-8">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>  </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>