<div class="container-fluid">
	<div class="row ml0 mr0" >
    <div class=" col-sm-4 col-xs-4 col-md-4 col-lg-4 col-lg-offset-1">
		<div class="col-xs-12 mb-9 nopadding" >
			<div class="flex align-justify align-middle">
				<div>
					<div class="btngrp">
						<button class="btn btn-xs btn-property btn-gray"><i class="icon-back-menu"></i> Back </button>
						<button class="btn btn-primary btn-xs btn-property accent-btn"><i class="icon-add"></i> Add AES Filter</button>
					</div>
				</div>
				<div>
					<ul class="list-inline" ng-hide="false">
						<li>
							<ul class="list-inline li-p0">
								<li>2</li>
								<li>of</li>
								<li>200</li>
							</ul>
						</li>
						<li class="pr0">
							<ul class="list-inline next-prev">
								<li><i class="icon-r-arrow" aria-hidden="true"></i></li>
								<li><i class="icon-r-arrow" aria-hidden="true" ></i></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div show-response></div>
		<div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12 pl0">
			<div class="panel panel-default detail-transition" >
				<div class="panel-heading flexTitle">
					<div>
						<ul class="list-inline"> 
							<li>
								<h4>AES Filter</h4>
							</li>
						</ul>
					</div>
					<div>
						<ul class="list-inline text-right">
							<li>
								<a href="">
									<i class="icon-logs"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="icon-edit"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="icon-delete"> </i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
					<div class="detail-view">
						
						<div class="row metadata-detail ">
						<div class="col-xs-12 plr0">
							<span >Name</span>
							<h5 class="heading">Demo1</h5>
							</div>
							
						</div>
						
						
						
						<div class="row">
							<div class="col-xs-12 plr0">
								
									<!-- <div class="col-xs-4 pl0">
										<span >Region</span>
										<h6>{{vm.countryMaster.countryCode.regionName}}</h6>
									</div> -->
									
								
									<div class="col-xs-6 pl0">
										<span>Country  Code</span>
										<h6>00048</h6>
									</div>
									
									<div class="col-xs-6 pl0">
										<span>Location Id</span>
										<h6>CB00049</h6>
									</div>
								
							</div>
                    	</div>
					
					
					<div class="row">
							<div class="col-xs-12 plr0">
							
							<div class="col-xs-12 ">
										<span>Status</span>
										<show-status status="Active"></show-status>
									</div>
								
					
						        </div>
						       </div>
							
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>



 
