<div class="container-fluid" >
    <div class="row">
        <div class=" col-sm-9 col-xs-9 col-md-9 col-lg-9">
            <form role="form" name="vm.countryForm">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4 >Add AES Filter </h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                <button type="button" class="btn cancel-btn">Cancel</button>
                                <input type="submit"  class="btn btn-primary btn-xs btn-property accent-btn"  value="Save">
                           
                           </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit"
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                       
                        
                        
                        
                        <div class="row ">
                         
								 
								  <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <label class="custom-label">Schema Name</label> 
                              
						       <input type="text" class="form-control" id="Schema Name" name="Schema Name" maxlength="100"  />
								 </div>
								 
								  
								<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
							    <label class="custom-label">Company<span class="reqColor">*</span></label> 
								    <div class="select-auto">
														<input type="text" 
															class="form-control" id="salesCoordinator" 
															input-focus="{{errorMap.get('salesCoordinator')!=null}}"
															autocomplete="off"
															ng-model="quotation.salesCoordinator"
															uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesCoordinator($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedSalesCoordinator('salesman');"
															typeahead-focus-first="true"
															typeahead-focus-on-select="false"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" >
															
															<span class="select-arrow"><b></b></span>
										          </div>   
										     </div>
										 
								 
									  
								<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
							    <label class="custom-label">Country<span class="reqColor">*</span></label> 
								    <div class="select-auto">
														<input type="text" 
															class="form-control" id="salesCoordinator" 
															input-focus="{{errorMap.get('salesCoordinator')!=null}}"
															autocomplete="off"
															ng-model="quotation.salesCoordinator"
															uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesCoordinator($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedSalesCoordinator('salesman');"
															typeahead-focus-first="true"
															typeahead-focus-on-select="false"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" >
															
															<span class="select-arrow"><b></b></span>
										          </div>   
										     </div>
										  
							
                        </div>
                        
                      
                           
								  <div class="row">	  
								<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
							    <label class="custom-label">Location<span class="reqColor">*</span></label> 
								    <div class="select-auto">
														<input type="text" 
															class="form-control" id="salesCoordinator" 
															input-focus="{{errorMap.get('salesCoordinator')!=null}}"
															autocomplete="off"
															ng-model="quotation.salesCoordinator"
															uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxSalesCoordinator($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedSalesCoordinator('salesman');"
															typeahead-focus-first="true"
															typeahead-focus-on-select="false"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" >
															
															<span class="select-arrow"><b></b></span>
										          </div>   
										     </div>
										  
								 
								  <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <label class="custom-label">AES Filter Code</label> 
                              
						       <input type="text" class="form-control" id="AES Filter Code" name="AES Filter Code" maxlength="100"  />
								 </div>
								 
								 
								  <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group nomargin pl0">
                                <label class="custom-label">Transmitter Code</label> 
                              
						       <input type="text" class="form-control" id="Transmitter Code" name="Transmitter Code" maxlength="100"  />
								 </div>
								</div>
								
								
                       </div>
                </div>
            </form>
        </div>
    </div>
</div>
