<div class="table-responsive table-fixed">
    <table class="table table-inline">
        <thead>
        <tr>
            <th>#</th>
            <th>Code</th>
            <th>Message</th>
            <th>Language</th>
            <th>Last updated on</th>
            <th>Action</th>
        </tr>
        <tr>
            <th>
                <span class="icon-search"></span>
            </th>
            <th>
                <input type="text" class="form-control">
            </th>
            <th>
                <input type="text" class="form-control">
            </th>
            <th>
                <input type="text"  class="form-control">
            </th>
            <th>
                <input type="text" class="form-control">
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="datas in edittable">
            <td>{{$index + 1}}</td>
            <td>
                <a href="javascript:void(0)" ng-bind="datas.errorCode"></a>
            </td>
            <td>
                <div ng-show="show">
                    <span ng-bind="datas.errorMsg"></span>
                </div>
                <div ng-show="!show">
                    <input type="text" ng-model="datas.errorMsg" class="form-control">
                </div>
            </td>
            <td><span ng-bind="datas.language"></span></td>
            <td><span ng-bind="datas.lastup"></span></td>
            <td ng-init="show = true">
                <ul class="list-inline" ng-show="show" >
                    <li><span data-placement="left"   bs-tooltip="edit"  class="icon-edit cur-pointer" ng-click="show = false"></span> </li>
                    <li><span data-placement="left"   bs-tooltip="delete" class="icon-delete cur-pointer"></span> </li>
                </ul>
                <ul class="list-inline" ng-show="!show">
                    <li><span class="fa fa-check cur-pointer" ng-click="show = true"></span> </li>
                    <li><span  data-placement="left"   bs-tooltip="close"  class="icon-close cur-pointer"></span> </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>