<div class="col-xs-12 detailview">
	<div class="panel panel-default">
		<div class="panel-heading">
			<client-error message="clientMessage"></client-error>
			<div success-message></div>
			<div class="row">

				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-5 pr0">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
							<h4>
								<span> <a data-placement="bottom" bs-tooltip="close"
									href="javascript:void(0)" ui-sref="layout.myTask"
									class="list-panel-back"><i class="icon-back-menu"></i></a>

								</span> <span>Air Import</span>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--PANEL HEADING ENDS-->




		<div class="panel-body edit-bodyoutside" id="service-panel"
			panel-height>

			<div class="row">
				<div class="col-xs-12 nopadding">
					<ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap"
						theme-class="btn-tabs" ng-init="openDefaultTab()">
						<li data-menu-item="enquiry">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='Enquiry'?'active':'btn-normal'"
								ng-click="vm.activeTab='Enquiry'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'Enquiry'})">Enquiry</button>
						</li>
						<li data-menu-item="quotation">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='Quotation'?'active':'btn-normal'"
								ng-click="vm.activeTab='Quotation'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'Quotation'})">Quotation</button>
						</li>
						<li data-menu-item="Shipment">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='Shipment'?'active':'btn-normal'"
								ng-click="vm.activeTab='Shipment'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'Shipment'})">Shipment</button>
						</li>
						
						 <li data-menu-item="Pickup">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='Pickup'?'active':'btn-normal'"
								ng-click="vm.activeTab='Pickup'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'Pickup'})">Pickup</button>
						</li>
						
						<li data-menu-item="DeliveryToCfs">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='DeliveryToCfs'?'active':'btn-normal'"
								ng-click="vm.activeTab='DeliveryToCfs'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'DeliveryToCfs'})">Deliver
								to CFS/Deport</button>
						</li>
						
						<li data-menu-item="AtdConfirmation">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='AtdConfirmation'?'active':'btn-normal'"
								ng-click="vm.activeTab='AtdConfirmation'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'AtdConfirmation'})">ATD
								Confirmation</button>
						</li>
						
						<li data-menu-item="LinkToMaster">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='LinkToMaster'?'active':'btn-normal'"
								ng-click="vm.activeTab='LinkToMaster'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'LinkToMaster'})">Linking
								to Master</button>
						</li>

						<li data-menu-item="AtaConfirmation">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='AtaConfirmation'?'active':'btn-normal'"
								ng-click="vm.activeTab='AtaConfirmation'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'AtaConfirmation'})">ATA Confirmation</button>
						</li>

						<li data-menu-item="SignOff">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='SignOff'?'active':'btn-normal'"
								ng-click="vm.activeTab='SignOff'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'SignOff'})">Sign Off</button>
						</li>

						<li data-menu-item="CanAndInvoice">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='CanAndInvoice'?'active':'btn-normal'"
								ng-click="vm.activeTab='CanAndInvoice'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'CanAndInvoice'})">CAN and Invoice</button>
						</li>
						
						<li data-menu-item="Customs">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='Customs'?'active':'btn-normal'"
								ng-click="vm.activeTab='Customs'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'Customs'})">Customs</button>
						</li>

						<li data-menu-item="DeliveryOrder">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='DeliveryOrder'?'active':'btn-normal'"
								ng-click="vm.activeTab='DeliveryOrder'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'DeliveryOrder'})">Delivery Order</button>
						</li>

						<li data-menu-item="Clearance">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='Clearance'?'active':'btn-normal'"
								ng-click="vm.activeTab='Clearance'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'Clearance'})">Clearance</button>
						</li>
						
						<li data-menu-item="Pod">
							<button type="button" class="btn"
								ng-class="vm.activeTab=='Pod'?'active':'btn-normal'"
								ng-click="vm.activeTab='Pod'"
								ui-sref="layout.myIndividualAirImportTask({activeTab:'Pod'})">Pod</button>
						</li>
						
						<li data-more-menu-item>
							<button type="button" class="btn default" tabindex="-1">
								More <span class="icon-downarr"></span>
							</button>
						</li> 
					</ul>
					<!--TAB MENUS ENDS-->
					<div class="tab-content">
						<div ng-if="vm.activeTab=='Enquiry'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/enquiry_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='Quotation'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/quotation_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='Shipment'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/shipment_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='Pickup'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/pickup_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='DeliveryToCfs'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/delivery_to_cfs_tab.html'"></div>
								</div>
							</div>
						</div>
                        <div ng-if="vm.activeTab=='AtdConfirmation'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/atdconfirmation_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='LinkToMaster'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/linkingtomaster_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='AtaConfirmation'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/ataconfirmation_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='SignOff'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/signoff_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='CanAndInvoice'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/canandinvoice_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='Customs'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/customs_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='DeliveryOrder'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/deliveryorder_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='Clearance'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/clearance_tab.html'"></div>
								</div>
							</div>
						</div>
						
						<div ng-if="vm.activeTab=='Pod'">
							<div class="row">
								<div class="col-xs-12 ">
									<div
										ng-include="'app/components/task/airimport/pod_tab.html'"></div>
								</div>
							</div>
						</div>

					</div>
					<!--TAB CONTENT TAB ENDS-->
				</div>
			</div>
			<!-- TAB CONTENT ROW ENDS-->
			<!--ACTIVE LOG DETAILS STARTS-->
		</div>
		<!--PANEL BODY ENDS-->
	</div>
	<!--PANEL ENDS-->
	<div ng-hide="!hidePage" class="wrapper-back-drop"></div>
	<!--BACKDROP ENDS-->
</div>
