<div class="col-xs-12">
    <div class="row nomargin">
    <a ng-show="attachmentConfig.isEdit"
       tabIndex="-1"
       href="javascript:void(0)"
       ng-click="fnRole({param:addRole})?addRow():''"
       class="btn btn-primary btn-xs btn-property accent-btn pull-left mb10">
        <span class="icon-add"></span> Add Attachment
    </a>
    </div>
    <div class="row nomargin">
		<div class="pl0 pr0" ng-class="attachmentConfig.tableSize?attachmentConfig.tableSize:'col-xs-12'">
			<div class="table-fixed table-responsive" ng-show="tableData.length>0 && !attachmentConfig.isEdit">
				<table class="table table-inline">
					<thead>
						<tr>
							<th class="inl_sno">#</th>
							<th class="inl_mpp" ng-repeat="headObj in attachmentConfig.columnDefs"
								ng-class="headObj.width">{{headObj.name}}
                            </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dataObj in tableData track by $index">
							<td class="inl_mpp">{{$index+1}}</td>
							<td  ng-repeat="headObj in attachmentConfig.columnDefs"
								class="{{headObj.width}} rel"
								title="{{setValue(headObj.type,dataObj,headObj.model)}}"><span
								ng-class="{'icon-span-ellipsis':headObj.type=='file'}">{{setValue(headObj.type,dataObj,headObj.model)}}</span>
								<span
								ng-if="headObj.type=='file' && setValue(headObj.type,dataObj,headObj.model)"
								class="icon-with-ellipsis">
                                    <a data-placement="bottom"   bs-tooltip="downloadIcon"
									class="cursorPt">
                                        <i class="icon-download"
										ng-click="download(dataObj,headObj.model)">
                                        </i> </a>
							</span>
								<ul class="list-inline" ng-show="headObj.type=='action'">
									<li ng-show="attachmentConfig.isEdit"><a data-placement="bottom"   bs-tooltip="editIcon"
										class="cursorPt cur-pointer"><i class="icon-edit"
											ng-click="fnRole({param:editRole})?editAttach(dataObj):''"></i> </a></li>
									<li
										ng-show="attachmentConfig.isEdit && attachmentConfig.isDelete"><a
                                            data-placement="bottom"   bs-tooltip="delete" class="cur-pointer cursorPt"><i
											class="icon-delete" ng-click="fnRole({param:deleteRole})?deleteAttach(dataObj):''"></i> </a></li>
								</ul></td>
						</tr>
					</tbody>
				</table>
			</div>
            <div class="table-fixed table-responsive" ng-show="attachmentConfig.isEdit">
                <!--Advanced attachment-->
                <table class="table table-inline-nopad" tab-nav tab-row="addRow()" >
                    <thead>
                    <tr>
                        <th class="inl_sno">#</th>
                        <th class="inl_m" ng-hide="attachmentConfig.page && attachmentConfig.page=='noDoc'">Document Name</th>
                        <th class="inl_m">Reference No <span class="reqColor">*</span> </th>
                        <th class="inl_sm" ng-hide="attachmentConfig.page && attachmentConfig.page=='noDoc'">Customs</th>
                        <th class="inl_mpp">Unprotected File</th>
                        <th class="inl_xxs text-center">Swap</th>
                        <th class="inl_mpp">Protected File</th>
                        <th class="inl_xs">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dataObj in tableData track by $index">
                        <td ng-class="{'error-cell text-center':secondArr[$index].errRow}">
	                         <span ng-show="secondArr[$index].errRow" >
	                             <a tabindex="-1" href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                     <b class="glyphicon glyphicon-warning-sign"></b>
                                 </a>
	                         </span>
	                        <span ng-show="!secondArr[$index].errRow">
	                        {{$index+1}}
	                        </span>
                        </td>
                        <td ng-hide="attachmentConfig.page && attachmentConfig.page=='noDoc'">
                            <div class="select-auto">
								<input type="text" 
									class="form-control" 
									id="{{indexKey+'attachDocument'+$index}}"
									autocomplete="off"
									ng-model="dataObj.documentMaster"
									uib-typeahead="lovObject as lovObject.documentName for lovObject in ajaxDocumentMaster($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true" 
									 typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="selectDocument(indexKey+'refNo'+$index)"
									typeahead-focus-on-select="false"
									typeahead-focus-first="true"
									typeahead-editable="false"
									typeahead-min-length="1" typeahead-wait-ms="500" 
									>
								<span class="select-arrow"><b></b></span>	
                            </div>
                        </td>
                        <td>
                            <input type="text"
                                    id="{{indexKey+'refNo'+$index}}"
                                   ng-model="dataObj.refNo"
                                   class="form-control" maxlength="100"
                                   ng-trim="false">
                        </td>
                        <td ng-hide="attachmentConfig.page && attachmentConfig.page=='noDoc'">
                            <select id="indexKey+custom{{$index}}"
                                    class="form-control"
                                    ng-class="{'error-control':secondArr[$index].protect}"
                                    ng-options="item.id as item.title for item in customArr"
                                    ng-model="dataObj.customs">
                            </select>
                        </td>
                        <td>
                            <div class="flex flex-row">
                                <div class="width60per  disabled-box">
                                    <h6 class="nomargin">{{dataObj.unprotectedFileName?dataObj.unprotectedFileName:dataObj.unprotectedFile.name}}</h6>
                                </div>
                                <div class="width22per">
                                    <a href="javascript:void(0);"
                                       ngf-select ng-model="dataObj.unprotectedFile"
                                       ngf-multiple="false" ngf-allow-dir="true"
                                       ngf-change="uploadAttach('unprotected',dataObj.unprotectedFile,dataObj)"
                                       class="btn btn-primary btn-property ml-5 browse-btn">Browse</a>
                                </div>
                            </div>

                            <!--<span>{{dataObj.unprotectedFileName?dataObj.unprotectedFileName:dataObj.unprotectedFile.name}}</span>-->
                        </td>
                        <td class="text-center " >
                            <a href="javascript:void(0);" ng-click="swapAttachment(dataObj)" class="table-linkicon mt-1"><i class="icon-swap"></i></a>
                        </td>
                        <td>
                            <div class="flex flex-row">
                                <div class="width60per  disabled-box">
                                    <h6 class="nomargin">{{dataObj.protectedFileName?dataObj.protectedFileName:dataObj.protectedFile.name}}</h6>
                                </div>
                                <div class="width22per">
                                    <a href="javascript:void(0);"
                                       ngf-select ng-model="dataObj.protectedFile"
                                       ngf-multiple="false" ngf-allow-dir="true"
                                       ngf-change="uploadAttach('protected',dataObj.protectedFile,dataObj)"
                                       class="btn btn-primary btn-property browse-btn ml-5 last-child">Browse</a>
                                </div>

                            </div>

                            <!--<span>{{dataObj.protectedFileName?dataObj.protectedFileName:dataObj.protectedFile.name}}</span>-->
                        </td>
                        <td>
                            <ul class="list-inline deleteicon">
                                <li><a
                                        data-placement="bottom"   bs-tooltip="delete" class="cur-pointer cursorPt"><i
                                        class="icon-delete" ng-click="fnRole({param:deleteRole})?removeObj(dataObj,$index):''"></i> </a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
			<empty-record ng-show="!tableData || tableData.length==0" icon="attachments" text="Looks like there are no attachment records here"></empty-record>
		</div>

	</div>
    <script type="text/ng-template" id="errorPopUp.html">
        <div class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header nopadding">
                        <div class="row plr14px">
                            <div class="col-xs-6">
                                <h4>Following Error List</h4>
                            </div>
                            <div class="col-xs-6 mt-7">
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body pt35 pb35">
                        <ul>
                            <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
