

<div class="detail-container col-md-12 col-lg-12 col-xs-12 col-sm-12  m-pl0 pl0  ">
			<div class="panel panel-default detail-transition">
				<div class="panel-heading flexTitle">
					<div>
						<h4>
							<span>
								<a ng-click="vm.backToList()" href="javascript:void(0)" class="list-panel-back">
									<i class="icon-back-menu" data-placement="bottom"   bs-tooltip="close"></i>
								</a>
							</span> 
							<span>Service Tax Charge Group Master</span>
						</h4>
					</div>
					<div>
						<ul class="list-inline text-right">
							<li>
								<a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="vm.showHistory=!vm.showHistory">
									<i class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i>
								</a>
							</li>

							<li>
								<a  href="javascript:void(0)" ng-click="vm.edit(vm.stcGroupMaster.id)" class="list-panel-edit-btn cursorPt"><i class="icon-edit" data-placement="bottom"   bs-tooltip="editIcon"></i></a>
							</li>

							<li>
								 <a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" ng-click="vm.delete(vm.stcGroupMaster.id)" class="list-panel-edit-btn cursorPt"><i class="icon-delete"></i></a> 
							</li>
						</ul>
					</div>
				</div>
				 <div class="panel-body detail-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="vm.showHistory">

							<div class="row metadata-detail">
								<div class="col-xs-4">
									<span >Service Name</span>
									<h5>{{vm.stcGroupMaster.serviceMaster.serviceName}}</h5>
							   </div>
							</div>
						<div class="row ">
							<div class="col-xs-4">
								<span >Charge Name</span>
								<h5>{{vm.stcGroupMaster.chargeMaster.chargeName}}</h5>
							</div>
						</div>
						
						<div class="row ">
							<div class="col-xs-4">
								<span >Category Name</span>
								<h5>{{vm.stcGroupMaster.categoryMaster.categoryName}}</h5>
							</div>
						</div>
						
						<div class="row ">
							<div class="col-xs-4">
								<span >note</span>
								<h5>{{vm.stcGroupMaster.note}}</h5>
							</div>
						</div>
					</div>
					
					
					<div class="logs-view logs-transition width42per" ng-show="vm.showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="vm.showHistory=false"
											   class="list-panel-back"><i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
								
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.stcGroupMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.stcGroupMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.countryMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.stcGroupMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.stcGroupMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.stcGroupMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					
					
					
				</div>
 			
  </div>
		</div>