<div class="container-fluid">
	<div class="row nomargin">
		<div class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12">
			<div show-response></div>
			<div success-message></div>
			<!--panel starts-->
			<div class="panel panel-default" ng-click="showHistory=false">
				<div class="panel-heading flexTitle">
					<button type="button" class="btn btn-property accent-btn"
						ng-click=" vm.addNew()">
						<span class="icon-add"></span> Add Sequence Generator
					</button>
				</div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive" ng-nicescroll
						nice-option="{{ngScrollConfigScroll}}">
						<super-table data="vm.dataArr" head="vm.tableHeadArr"
							sort="vm.sortSelection" click-event="vm.rowSelect(param)"
							search-event="vm.changeSearch(param)"
							sort-event="vm.sortChange(param)" page="vm.page" size="vm.limit">
						</super-table>
					</div>
				</div>
				<div class="panel-footer flexTitle">
					<div>
						<ul class="list-inline">
							<li>Show</li>
							<li><select class="form-control legend-show-ctrl"
								ng-model="vm.limit" ng-change="vm.limitChange(vm.limit)"
								ng-options="v for v in vm.limitArr">
							</select></li>
							<li>Entries</li>
						</ul>
					</div>
					<div>
						<div class="pull-right text-right">
							<pagination-dr page="vm.page" size="vm.limit"
								total="vm.totalRecord" page-change="vm.changepage(param)"
								class="pull-right"></pagination-dr>
						</div>
					</div>
				</div>
			</div>
			<!--Panel Ends-->
		</div>
		
		
		
	<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12 m-pl0 " ng-hide="!vm.sequenceGeneratorView" >
			<div class="panel panel-default detail-transition" >
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom" bs-tooltip="back" href= javascript:void(0)"  ng-click="vm.backToList()" class="list-panel-back">
									<i class="icon-back-menu"></i>
								</a>
							</span>
							<span>Sequence Generator</span>
						</div>
					</div>
					<div>
						<ul class="list-inline text-right">
							<li><a href="javascript:void(0)"
								ng-class="{'active-activityBtn':showHistory}"
								ng-click="vm.showHistory=!vm.showHistory"> <i
									class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i>
							</a></li>

							<li><a href="javascript:void(0)"
								ng-click="vm.edit(vm.sequenceGenerator.id)"
								class="list-panel-edit-btn cursorPt"><i class="icon-edit"
									data-placement="bottom" bs-tooltip="editIcon"></i></a></li>

							<li><a data-placement="bottom" bs-tooltip="delete"
								href="javascript:void(0)"
								ng-click="vm.delete(vm.sequenceGenerator.id)"
								class="list-panel-edit-btn cursorPt"><i class="icon-delete"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="vm.showHistory">
						<div class="row metadata-detail">
							<span>Sequence Name</span>
						<h5>{{vm.sequenceGenerator.sequenceName}}</h5>
						</div>

						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>SequenceType</span>
							<h5>{{vm.sequenceGenerator.sequenceType}}</h5>
								</li>
								<li class="col-xs-6">
									<span>Current Sequence Value</span>
									<h5>{{vm.sequenceGenerator.currentSequenceValue}}</h5>
								</li>
							</ul>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>Prefix</span>
							<h5>{{vm.sequenceGenerator.prefix}}</h5>
								</li>
								<li class="col-xs-6">
									<span>SequenceFormat</span>
									<h5>{{vm.sequenceGenerator.format}}</h5>
								</li>
							</ul>
						</div>
					</div>
					<div class="logs-view logs-transition" ng-show="vm.showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span> <a href="javascript:void(0)"
											ng-click="vm.showHistory=false" class="list-panel-back"><i
												class="icon-close-detail" data-placement="bottom"
												bs-tooltip="close"></i></a>
										</span> <span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll
								nice-option="{{ngScrollConfig}}">
								<div class="card">

									<ul class="list-inline card-cell">
										<li><hm-init-icon
												customer-name="vm.sequenceGenerator.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.sequenceGenerator.systemTrack.createUser |
														uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.countryMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li><hm-init-icon
												customer-name="vm.sequenceGenerator.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.sequenceGenerator.systemTrack.lastUpdatedUser
														| uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.sequenceGenerator.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		
		
		
		
		
		<!-- <div
			class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12 m-pl0 "
			ng-hide="!vm.sequenceGeneratorView">
			<div class="panel panel-default detail-transition">
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span> <a ng-click="vm.backToList()"
								href="javascript:void(0)" class="list-panel-back"> <i
									class="icon-back-menu" data-placement="bottom"
									bs-tooltip="close"></i>
							</a>
							</span> <span>Service Tax Charge Group Master</span>
						</div>
					</div>
					<div>
						<ul class="list-inline text-right">
							<li><a href="javascript:void(0)"
								ng-class="{'active-activityBtn':showHistory}"
								ng-click="vm.showHistory=!vm.showHistory"> <i
									class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i>
							</a></li>

							<li><a href="javascript:void(0)"
								ng-click="vm.edit(vm.sequenceGenerator.id)"
								class="list-panel-edit-btn cursorPt"><i class="icon-edit"
									data-placement="bottom" bs-tooltip="editIcon"></i></a></li>

							<li><a data-placement="bottom" bs-tooltip="delete"
								href="javascript:void(0)"
								ng-click="vm.delete(vm.sequenceGenerator.id)"
								class="list-panel-edit-btn cursorPt"><i class="icon-delete"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body detail-body" panel-height ng-nicescroll
					nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="vm.showHistory">
						<div class="row metadata-detail">
							<div class="col-xs-4">
								<span>Service Name</span>
								<h5>{{vm.sequenceGenerator.serviceMaster.serviceName}}</h5>
							</div>
						</div>
						
						
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>Charge Name</span>
							<h5>{{vm.sequenceGenerator.chargeMaster.chargeName}}</h5>
								</li>
								<li class="col-xs-6">
									<span>Category Name</span>
									<h5>{{vm.sequenceGenerator.chargeMaster.chargeName}}</h5>
								</li>
							</ul>
						</div>
						
						
						
						
						
						
						<div class="row ">
							<div class="col-xs-4">
								<span>note</span>
								<h5>{{vm.sequenceGenerator.note}}</h5>
							</div>
						</div>
					</div>
					<div class="logs-view logs-transition" ng-show="vm.showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span> <a href="javascript:void(0)"
											ng-click="vm.showHistory=false" class="list-panel-back"><i
												class="icon-close-detail" data-placement="bottom"
												bs-tooltip="close"></i></a>
										</span> <span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll
								nice-option="{{ngScrollConfig}}">
								<div class="card">

									<ul class="list-inline card-cell">
										<li><hm-init-icon
												customer-name="vm.sequenceGenerator.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.sequenceGenerator.systemTrack.createUser |
														uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.countryMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li><hm-init-icon
												customer-name="vm.sequenceGenerator.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.sequenceGenerator.systemTrack.lastUpdatedUser
														| uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.sequenceGenerator.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>  -->
	</div>
</div>