<div class="container-fluid">
	<div class="row ">
		<div class="col-md-12 col-lg-8 col-xs-12 col-sm-12">
			<form role="form" name="vm.sequenceGeneratorForm">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{vm.sequenceGenerator.id==null?'Add Sequence
								Generator':'Edit Sequence Generator'}}</h4>
						</div>
						<div>
							<div class="btngrp">
								<button type="button" class="btn cancel-btn"
									ng-click="vm.cancel(vm.sequenceGenerator.id)">Cancel</button>
								<button type="button" class="btn accent-btn"
									ng-click="vm.sequenceGenerator.id==null?vm.create():vm.update()">
									{{vm.sequenceGenerator.id==null?'Save':'Update'}}</button>
							</div>
						</div>
					</div>
					<div class="panel-body half-master-edit " panel-height
						ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="pad-15">
							<div show-response></div>
							<div>
								<span class="reqColor">*</span> <small class="opc-5 f-12b4">
									Indicates Mandatory Fields</small>
							</div>
						</div>

						<div class="row">
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form-group nomargin pl0">
								<label class="custom-label">Sequence Name<span
									class="reqColor">*</span></label> <input type="text"
									class="form-control" input-focus="true" maxlength="100"
									id="sequenceName"
									ng-class="{'error-control':errorMap.get('sequenceName')!=null}"
									ng-change="vm.selectedMaster('sequenceName',vm.sequenceGenerator);"
									ng-model="vm.sequenceGenerator.sequenceName" /> <span
									class="error-message"
									ng-show="errorMap.get('sequenceName')!=null"> <small>{{errorMap.get('sequenceName')}}</small>
								</span>
							</div>
						</div>

						<div class="row">
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form-group nomargin pl0">
								<label class="custom-label">Sequence Type<span>*</span></label>
								<select class="form-control " id="sequenceType"
									ng-class="{'error-control':errorMap.get('sequenceType')!=null}"
									ng-options="item for item in enum['SequenceType']"
									ng-model="vm.sequenceGenerator.sequenceType"
									ng-change="vm.selectedMaster('format',vm.generalNoteMaster,1);">
								</select> <span class="error-message"
									ng-show="errorMap.get('sequenceType')!=null"> <small>{{errorMap.get('sequenceType')}}</small>
								</span>
							</div>

							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form-group nomargin pl0">
								<label class="custom-label">Sequence Format<span>*</span></label>
								<select class="form-control " id="format"
									ng-class="{'error-control':errorMap.get('format')!=null}"
									ng-options="item for item in enum['SequenceFormat']"
									ng-model="vm.sequenceGenerator.format"
									ng-change="vm.selectedMaster('currentSequenceValue',vm.generalNoteMaster,1);">
								</select> <span class="error-message"
									ng-show="errorMap.get('format')!=null"> <small>{{errorMap.get('format')}}</small>
								</span>
							</div>
						</div>

						<div class="row ">
							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form-group nomargin pl0">
								<label class="custom-label">Current Sequence Value<span
									class="reqColor">*</span></label> <input type="text"
									class="form-control" maxlength="100" id="currentSequenceValue"
									ng-class="{'error-control':errorMap.get('currentSequenceValue')!=null}"
									ng-change="vm.selectedMaster('currentSequenceValue',vm.sequenceGenerator);"
									ng-model="vm.sequenceGenerator.currentSequenceValue" /> <span
									class="error-message"
									ng-show="errorMap.get('currentSequenceValue')!=null"> <small>{{errorMap.get('currentSequenceValue')}}</small>
								</span>
							</div>

							<div
								class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form-group nomargin pl0">
								<label class="custom-label">Prefix<span class="reqColor">*</span></label>
								<input type="text" class="form-control" maxlength="100"
									id="prefix"
									ng-class="{'error-control':errorMap.get('prefix')!=null}"
									ng-change="vm.selectedMaster('prefix',vm.sequenceGenerator);"
									ng-model="vm.sequenceGenerator.prefix" /> <span
									class="error-message" ng-show="errorMap.get('prefix')!=null">
									<small>{{errorMap.get('prefix')}}</small>
								</span>
							</div>
						</div>


					</div>
					<!--panel body ends-->
				</div>
				<!--panel ends-->
			</form>
		</div>
	</div>
</div>
