<div class="container-fluid pl0 pr0 page-style">
    <div class="row ml0 mr0" >
        <div class="list-container col-md-12 mainview" ng-show="enquiryLog.id==null" >
			
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                    	<div>
                    		<div class="panel panel-default">
                                
                                <div class="panel-heading">
                                    <section class="row">
                                        <div class="col-xs-3">
                                            <div class="panelTitle">
                                                <a class="btn btn-primary btn-xs btn-property accent-btn"  ><i class="icon-add opcfull"></i> Add Template</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-9">

                                        </div>

                                        <div class="col-md-3 pull-right text-right">
                                            <i class="icon-settings"></i>
                                        </div>
                                    </section>
                                </div>
                                
                                
                                <section class="row">
                                </section>
                                <div class="panel-body nav-tab-container" panel-height>
                                    <div class="table-fixed table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                                    	
                                    </div>
                               	</div>
                               	
                               	
                    			<div class="panel-footer">
                                    <div class="pull-left">
                                    </div>
                                    <div class="pull-right text-right">
                                    </div>
                                </div>
                                
                                
                    	</div>
                    </div>
				</div>
			</div>
		
		</div>
    </div>
</div>
</div>