<div class="container-fluid pl0 pr0 page-style">
    <div class="row ml0 mr0">
        <div class="col-xs-12 editview">
            <div class="panel panel-default masOpertion">
                <div class="panel-heading bg-trans">
                    <div class="w-50">
                        <!--  <h4>Edit Consol ID #:<span>130116010001</span></h4> -->
                        <h4>Add Master Wizard (
                            <span class="reqColor nomargin">*</span>
                            <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>)</h4>
                    </div>

                    <div class="w-50">
                        <ul class="list-inline text-right masopertion-action">

                            <li ng-if="consol.id !=null && consol.serviceMaster.importExport=='Export' && consol.isJobCompleted==false && consol.jobStatus!='Cancelled'">
                                <input class="magic-checkbox" ng-model="consol.isJobCompleted" type="checkbox" ng-change="confirmEdiAndCompleteImportProcess(consol)"
                                    id="markjobCompleted">
                                <label class="text custom-label text-inherit m-text-left" for="markjobCompleted">
                                    {{!markjobCompleted?'Mark as Completed':'Completed'}}
                                </label>
                            </li>

                            <li>
                                <button type="button" class="btn btn-primary btn-property accent-btn" ng-click="airlineEdiConfirmation()" ng-if="consol.id != null && consol.serviceMaster.importExport=='Export'">Generate Airline EDI</button>
                            </li>
                            <li>
                                <button tabIndex="-1" type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                            </li>
                    </div>



                </div>
                <!--PANEL HEADING ENDS-->
                <div class="pad-15">
                    <div>
                        <span class="error-message" ng-if="errorMap.get('consolServiceRequired')!=null">
                            <small>{{errorMap.get('consolServiceRequired')}}</small>
                        </span>
                    </div>
                </div>
                <!--RESPONSE MESSAGE ALERT BOX ENDS-->
                <div class="panel-body  pt0 pb0" style="padding-bottom: 0px !important;">

                    <client-error message="clientMessage"></client-error>
                    <div show-response></div>

                    <div class="wrapper ">
                        <form role="form">
                            <div class="row shade1" style="border-bottom:1px solid #7ca1b3;">



                                <div class="col-md-4 col-xs-4  pl0 pr0">
                                </div>
                                <div class="col-md-5 col-xs-5  pl0 pr0">
                                    <div class="bs-wizard borderbt0 mt10 ">

                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <div class="progress">
                                                <div class="progress-bar"></div>
                                            </div>



                                            <a ng-init="Tabs='general'" ng-click="setTab('general')" ng-class="Tabs=='general'?'bs-wizard-dotchange':'bs-wizard-dot'"
                                                class="bs-wizard-dot">
                                                <span class="tickmrk" data-placement="top">&#xf07a;</span>
                                            </a>
                                            <div class="bs-wizard-info2 text-center pr15">Details</div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <div class="progress">
                                                <div class="progress-bar"></div>
                                            </div>
                                            <a ng-click="setTab('consol')" ng-class="Tabs=='consol'?'bs-wizard-dotchange':'bs-wizard-dot'" class="bs-wizard-dot">
                                                <span class="tickmrk" data-placement="top">&#xf072;</span>
                                            </a>
                                            <div class="bs-wizard-info2 text-center pr15">HAWB List</div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <div class="progress">
                                                <div class="progress-bar"></div>
                                            </div>
                                            <a ng-click="setTab('documents');" ng-class="Tabs=='documents'?'bs-wizard-dotchange':'bs-wizard-dot'" class="bs-wizard-dot">
                                                <span class="tickmrk" data-placement="top">&#xf15b;</span>
                                            </a>
                                            <div class="bs-wizard-info2 text-center">Document</div>
                                        </div>







                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-3  pl0 pr0">
                                    <div class="pull-right">
                                        <ul class="list-inline  mart29px marr12px">


                                            <li class="mr0 pr0">
                                                <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="gotoPreviousTab()" ng-if="togglePreviousButton">
                                                    Previous</button>
                                            </li>
                                            <li class="pl0">
                                                <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="gotoNextTab()">
                                                    {{nextButtonLabel}}</button>
                                            </li>



                                        </ul>
                                    </div>
                                </div>



                            </div>


                            <!--TAB MENUS TAB-->

                            <div class="row nopadding console-bodyTabDesign2" id="consol-panel" panel-height ng-nicescroll nice-scroll-object="niceObject"
                                nice-option="{{ngScrollConfig}}">

                                <div class="col-md-12">


                                    <div class="tab-content">
                                        <!--EDIT VIEW TAB-->
                                        <div ng-if="Tabs=='general'">


                                            <div class="form-group mb0  ">
                                                <div class="row shade2">
                                                    <div class="col-md-12 pl0 pr0">

                                                        <div class="col-xs-5 col-md-5 col-lg-5 ptb-15">
                                                            <div class="row">

                                                                <div class="col-xs-11 ">
                                                                    <label>Agent</label>

                                                                    <div class="select-auto">
                                                                        <input type="text" class="form-control" id="consolPartyAgent" input-focus="{{errorMap.get('consolAgent')!=null || firstFocus}}"
                                                                            autocomplete="off" ng-disabled="consol.directShipment"
                                                                            ng-model="consol.agent" uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
                                                                            typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                            typeahead-show-hint="true" typeahead-show-loading="true"
                                                                            typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                            typeahead-on-select="selectedConsolAgent('originConsol');"
                                                                            typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                            typeahead-editable="false" typeahead-min-length="1"
                                                                            typeahead-wait-ms="500" ng-change="partyBlurChkData(consol.agent, 'consol.agent')">
                                                                        <span class="select-arrow">
                                                                            <b></b>
                                                                        </span>
                                                                    </div>

                                                                    <span class="error-message" ng-if="errorMap.get('consolAgent')!=null">
                                                                        <small>
                                                                            {{errorMap.get('consolAgent')}}
                                                                        </small>
                                                                    </span>
                                                                </div>
                                                                <!--COL ENDS-->
                                                                <div class="col-xs-1 pl0 mt-25">
                                                                    <!--<label class="visible-hide">Empty</label>-->
                                                                    <a href="javascript:void(0)" tabindex="-1" class="selectPicker-sm" ng-if="consol.agent!=null && consol.agent.id!=null && !consol.directShipment"
                                                                        ng-click="routePartyEvent('consol.agent',false,consol.agent)">
                                                                        <i class="icon-edit" data-placement="bottom" bs-tooltip="editAgent"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <div class="form-group mt-5 mb0">
                                                                        <div class="row">
                                                                            <div class="col-xs-11">
                                                                                <!--<label>Address <span>*</span></label>-->
                                                                                <input ng-disabled="consol.directShipment || consol.agent == null" class="form-control" type="text" ng-model="consol.agentAddress.addressLine1"
                                                                                    maxlength="100">
                                                                                <span class="error-message" ng-if="errorMap.get('consol.agentAddress.addressLine1')!=null">
                                                                                    <small>{{errorMap.get('consol.agentAddress.addressLine1')}}</small>
                                                                                </span>
                                                                            </div>
                                                                            <div class="col-xs-1 mt-2 pl0">
                                                                                <!--<label class="visible-hide">Empty</label>-->
                                                                                <a tabindex="-1" href="javascript:void(0)" ng-if="consol.agent!=null && consol.agent.id!=null && !consol.directShipment"
                                                                                    ng-click="showConsolAgent()" class="selectPicker-sm">
                                                                                    <i class="fa fa-chevron-right" data-placement="bottom" bs-tooltip="selectAgentAddress"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <!--row ends-->
                                                                    </div>
                                                                    <div class="form-group mt-5 mb0">
                                                                        <div class="row">
                                                                            <div class="col-xs-11">
                                                                                <input ng-disabled="consol.directShipment || consol.agent == null" class="form-control" type="text" ng-model="consol.agentAddress.addressLine2"
                                                                                    maxlength="100">
                                                                                <span class="error-message" ng-if="errorMap.get('consol.agentAddress.addressLine2')!=null">
                                                                                    <small>{{errorMap.get('consol.agentAddress.addressLine2')}}</small>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <!--row ends-->
                                                                    </div>
                                                                    <div class="form-group mt-5 mb0">
                                                                        <div class="row">
                                                                            <div class="col-xs-11">
                                                                                <input ng-disabled="consol.directShipment || consol.agent == null" class="form-control" type="text" ng-model="consol.agentAddress.addressLine3"
                                                                                    maxlength="100">
                                                                                <span class="error-message" ng-if="errorMap.get('consol.agentAddress.addressLine3')!=null">
                                                                                    <small>{{errorMap.get('consol.agentAddress.addressLine3')}}</small>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <!--row ends-->
                                                                    </div>
                                                                    <div class="form-group mt-5 mb0">
                                                                        <div class="row">
                                                                            <div class="col-xs-11">
                                                                                <input ng-disabled="consol.directShipment || consol.agent == null" class="form-control" type="text" ng-model="consol.agentAddress.addressLine4"
                                                                                    maxlength="100">
                                                                                <span class="error-message" ng-if="errorMap.get('consol.agentAddress.addressLine4')!=null">
                                                                                    <small>{{errorMap.get('consol.agentAddress.addressLine4')}}</small>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <!--row ends-->
                                                                    </div>
                                                                </div>
                                                                <!--COL ENDS-->


                                                                <div class="col-xs-5" ng-if="consol.id!=null">
                                                                    <label class="block">Date
                                                                        <span>*</span>
                                                                    </label>

                                                                    <div class="text-left disabled-box">
                                                                        <h6 class="mt0">{{dateAndTimeToString(consol.masterDate)}}</h6>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                            <!--ROW ENDS-->
                                                        </div>
                                                        <!--COL ENDS-->
                                                        <div class="col-xs-7 col-md-7 col-lg-7 ptb-15">
                                                            <div class="form-group mb0">
                                                                <div class="row">
                                                                    <div class="col-xs-3 col-md-4 col-lg-3">
                                                                        <label>Freight
                                                                            <span>*</span>
                                                                        </label>
                                                                        <ul class="list-inline">
                                                                            <li ng-class="{'opc-5':consol.ppcc}">Prepaid</li>
                                                                            <li class="v-align-top">
                                                                                <switch tabindex="0" id="freightTerm" name="enabled"
                                                                                    ng-model="consol.ppcc" class="green"></switch>
                                                                            </li>
                                                                            <li ng-class="{'opc-5':!consol.ppcc}">Collect</li>
                                                                        </ul>
                                                                    </div>
                                                                    <!--COL ENDS-->
                                                                    <div class="col-xs-3 col-md-3 col-lg-3" ng-hide="consol.serviceMaster.importExport=='Import'">
                                                                        <label>Direct</label>
                                                                        <ul class="list-inline">
                                                                            <li ng-class="{'opc-5':direct}">No</li>
                                                                            <li class="v-align-top">
                                                                                <switch tabindex="0" ng-model="consol.directShipment"
                                                                                    ng-change="directShipmentChange()" class="green"></switch>
                                                                            </li>
                                                                            <li ng-class="{'opc-5':!direct}">Yes</li>
                                                                        </ul>
                                                                    </div>
                                                                    <!--COL ENDS-->

                                                                    <div class="col-xs-3 col-md-3 col-lg-3">
                                                                        <label>Currency</label>
                                                                        <div class="select-auto">
                                                                            <input type="text" class="form-control" id="currencyConsol" input-focus="{{errorMap.get('consolCurrency')!=null}}" autocomplete="off"
                                                                                ng-model="consol.currency" uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxCurrencyEvent($viewValue)"
                                                                                typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                                typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                typeahead-on-select="selectedCurrency('currencyRate');"
                                                                                typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                typeahead-editable="false" typeahead-min-length="1"
                                                                                typeahead-wait-ms="500">
                                                                            <span class="select-arrow">
                                                                                <b></b>
                                                                            </span>
                                                                        </div>
                                                                        <div>
                                                                            <span class="error-message" ng-if="errorMap.get('consolCurrency')!=null">
                                                                                <small>{{errorMap.get('consolCurrency')}}</small>
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-xs-3">
                                                                        <label>Currency Rate</label>


                                                                        <input type="text" class="form-control text-right" input-focus="{{errorMap.get('currencyRate')!=null}}" id="currencyRate"
                                                                            ng-model="consol.currencyRate" ng-class="{'error-control':errorMap.get('currencyRate')!=null}"
                                                                            maxlength="12" ng-change="validateConsol(13)">
                                                                        <div>
                                                                            <span class="error-message" ng-if="errorMap.get('currencyRate')!=null">
                                                                                <small>{{errorMap.get('currencyRate')}}</small>
                                                                            </span>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <!--row ends-->
                                                                <div class="row">


                                                                    <div class="col-xs-6 mt10">
                                                                        <label>Origin
                                                                            <span>*</span>
                                                                        </label>
                                                                        <div class="select-auto">
                                                                            <input type="text" class="form-control" id="originConsol" input-focus="{{errorMap.get('consolOrigin')!=null}}" autocomplete="off"
                                                                                ng-model="consol.origin" uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxOriginEvent($viewValue)"
                                                                                typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                                typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                typeahead-on-select="selectedOrigin('aolConsol');"
                                                                                typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                typeahead-editable="false" typeahead-min-length="1"
                                                                                typeahead-wait-ms="500">
                                                                            <span class="select-arrow">
                                                                                <b></b>
                                                                            </span>
                                                                        </div>

                                                                        <span class="error-message" ng-if="errorMap.get('consolOrigin')!=null">
                                                                            <small>
                                                                                {{errorMap.get('consolOrigin')}}
                                                                            </small>
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-xs-6 mt10">
                                                                        <!-- Change Port of loading to Airport of Loading -->
                                                                        <label class="text-inherit">{{consol.serviceMaster.transportMode == 'Air'?'Airport
                                                                            of Loading':'Port of Loading'}}
                                                                            <span>*</span>
                                                                        </label>

                                                                        <div class="select-auto">
                                                                            <input type="text" class="form-control" id="aolConsol" input-focus="{{errorMap.get('consolPol')!=null}}" autocomplete="off"
                                                                                ng-model="consol.pol" uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortOfLoadingEvent($viewValue)"
                                                                                typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                                typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                typeahead-on-select="selectedPortOfLoading('aodConsol');"
                                                                                typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                typeahead-editable="false" typeahead-min-length="1"
                                                                                typeahead-wait-ms="500">
                                                                            <span class="select-arrow">
                                                                                <b></b>
                                                                            </span>
                                                                        </div>

                                                                        <span class="error-message" ng-if="errorMap.get('consolPol')!=null">
                                                                            <small>{{errorMap.get('consolPol')}} </small>
                                                                        </span>
                                                                    </div>
                                                                    <!--ROW ENDS-->
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-6 mt10">
                                                                        <!-- Change Port of Discharge to Airport of Discharge -->
                                                                        <label class="text-inherit">{{consol.serviceMaster.transportMode == 'Air'?'Airport
                                                                            of Discharge':'Port of Discharge'}}
                                                                            <span>*</span>
                                                                        </label>

                                                                        <div class="select-auto">
                                                                            <input type="text" class="form-control" id="aodConsol" input-focus="{{errorMap.get('consolPod')!=null}}" autocomplete="off"
                                                                                ng-model="consol.pod" uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortOfDischarge($viewValue)"
                                                                                typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                                typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                typeahead-on-select="selectedPortOfDischarge('destinationConsol');"
                                                                                typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                typeahead-editable="false" typeahead-min-length="1"
                                                                                typeahead-wait-ms="500">
                                                                            <span class="select-arrow">
                                                                                <b></b>
                                                                            </span>
                                                                        </div>

                                                                        <span class="error-message" ng-if="errorMap.get('consolPod')!=null">
                                                                            <small>{{errorMap.get('consolPod')}} </small>
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-xs-6 mt10">
                                                                        <label>Destination
                                                                            <span>*</span>
                                                                        </label>
                                                                        <div class="select-auto">
                                                                            <input type="text" class="form-control" id="destinationConsol" input-focus="{{errorMap.get('consolDestination')!=null}}"
                                                                                autocomplete="off" ng-model="consol.destination"
                                                                                uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxDestination($viewValue)"
                                                                                typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
                                                                                typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                typeahead-on-select="selectedDestination('currencyConsol');"
                                                                                typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                typeahead-editable="false" typeahead-min-length="1"
                                                                                typeahead-wait-ms="500">
                                                                            <span class="select-arrow">
                                                                                <b></b>
                                                                            </span>
                                                                        </div>

                                                                        <span class="error-message" ng-if="errorMap.get('consolDestination')!=null">
                                                                            <small>{{errorMap.get('consolDestination')}}</small>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!--form group ends-->
                                                        </div>
                                                        <!--COL ENDS-->
                                                    </div>
                                                </div>
                                                <!--ROW ENDS-->
                                                <div class="row nopadding bor-0 ">
                                                    <hr class="nomargin">
                                                </div>
                                            </div>
                                            <!--FROM GROUP ENDS-->
                                            <div class="row pb60  ">
                                                <div class="col-xs-12 pl0 pr0 mt-5">
                                                    <div class="form-group mb0 overflow-hidden">
                                                        <div class="row nomargin nopadding">



                                                            <div class="col-xs-3 ">
                                                                <div class="row ">
                                                                    <div class=" col-md-11 col-xs-10 ">
                                                                        <label>Carrier
                                                                            <span>*</span>
                                                                        </label>
                                                                        <div class="select-auto">
                                                                            <input type="text" class="form-control" id="carrierMaster" input-focus="{{errorMap.get('consolCarrier')!=null}}" autocomplete="off"
                                                                                ng-model="consol.carrier" uib-typeahead="lovObject as lovObject.carrierName for lovObject in ajaxCarrierEvent($viewValue)"
                                                                                typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                                                                typeahead-show-hint="true" typeahead-show-loading="true"
                                                                                typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                                                                typeahead-on-select="selectedCarrierMaster('flightConsol');"
                                                                                typeahead-focus-on-select="false" typeahead-focus-first="true"
                                                                                typeahead-editable="false" typeahead-min-length="1"
                                                                                typeahead-wait-ms="500">
                                                                            <span class="select-arrow">
                                                                                <b></b>
                                                                            </span>
                                                                        </div>
                                                                        <span class="error-message" ng-if="errorMap.get('consolCarrier')!=null">
                                                                            <small>{{errorMap.get('consolCarrier')}}</small>
                                                                        </span>
                                                                    </div>
                                                                    <!--COL ENDS-->
                                                                    <div class="col-md-1 col-xs-2 paddingl2px">
                                                                        <button type="button" class="btn btn-default btn-xs margintop22px paddingtrbl" ng-click="flightmodel()" tabindex="-1">
                                                                            <span class="icon-air-plane airsize" data-placement="top" title="Flight Schedule"></span>
                                                                        </button>
                                                                    </div>


                                                                </div>
                                                            </div>


                                                            <div class="col-xs-3 bor-fix">
                                                                <label>Flight No
                                                                    <span>*</span>
                                                                </label>
                                                                <input type="text" id="flightConsol" input-focus="{{errorMap.get('flight')!=null}}"
                                                                    ng-class="{'error-control':errorMap.get('flight')!=null}"
                                                                    maxlength="10" ng-change="validateConsol(67)" capitalize
                                                                    ng-model="consol.consolDocument.routeNo" class="form-control text-left">
                                                                <div>
                                                                    <span class="error-message" ng-if="errorMap.get('flight')!=null">
                                                                        <small>{{errorMap.get('flight')}}</small>
                                                                    </span>
                                                                </div>
                                                            </div>






                                                            <div class="col-xs-3 col-md-3 col-lg-3 bor-fix">
                                                                <label>ETD
                                                                    <span>*</span>
                                                                </label>


                                                                <div class="inputBox">
                                                                    <input class="form-control" id="etdExpoDocument{{selectedTabIndex+'_'+$index}}" ng-model="consol.etd" datetimepicker date-callback="selectEtdDateNavigation('etaMoreInfoConsol')"
                                                                        datetimepicker-options="{{directiveDateTimePickerOpts}}">

                                                                    <span class="inputIcon">
                                                                        <i class="icon-date" aria-hidden="true"></i>
                                                                    </span>
                                                                    <span class="error-message" ng-if="errorMap.get('etd')!=null">
                                                                        <small>{{errorMap.get('etd')}}</small>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-3 col-md-3 col-lg-3 bor-fix">
                                                                <label>ETA
                                                                    <span>*</span>
                                                                </label>
                                                                <div class="inputBox">

                                                                    <input id="etaMoreInfoConsol" class="form-control" ng-model="consol.eta" datetimepicker datetimepicker-options="{{dateTimePickerOptionsLeft}}"
                                                                        date-callback="selectEtaDateNavigation('mawbMoreInfoConsol','mawbDateMoreInfoConsol')">
                                                                    <span class="inputIcon">
                                                                        <i class="icon-date" aria-hidden="true"></i>
                                                                    </span>
                                                                    <span class="error-message" ng-if="errorMap.get('eta')!=null">
                                                                        <small>{{errorMap.get('eta')}}</small>
                                                                    </span>
                                                                </div>
                                                            </div>


                                                            <!--row ends-->

                                                        </div>
                                                        <!--form group ends-->
                                                        <div class="row nomargin">
                                                            <div class="col-xs-12 pl0 pr0 mt-5">
                                                                <div class="form-group  overflow-hidden">
                                                                    <div class="row nomargin nopadding">


                                                                        <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3 bor-fix pl0">
                                                                            <div class="col-xs-9 col-sm-9  col-md-9 col-lg-9">

                                                                                <label>MAWB No
                                                                                    <span>*</span>
                                                                                </label>
                                                                                <input type="text" id="mawbMoreInfoConsol"
                                                                                    ng-disabled="consol.id!=null" input-focus="{{errorMap.get('mawbNo')!=null}}"
                                                                                    ng-class="{'error-control':errorMap.get('mawbNo')!=null}"
                                                                                    maxlength="11" ng-change="validateConsol(70);"
                                                                                    ng-model="consol.consolDocument.mawbNo" class="form-control text-left">
                                                                                <div>
                                                                                    <span class="error-message" ng-if="errorMap.get('mawbNo')!=null">
                                                                                        <small>{{errorMap.get('mawbNo')}}</small>
                                                                                    </span>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-xs-3 col-md-3 col-lg-3 col-sm-3 pl0">
                                                                                <button type="button" class="btn accent-btn margintop22px  mr0" ng-click="fetchMawb(consol,'mawbDateMoreInfoConsol')" tabindex="-1">fetch MAWB</button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
                                                                            <label>MAWB Date</label>
                                                                            <div class="inputBox">
                                                                                <input id="mawbDateMoreInfoConsol" class="form-control" ng-model="consol.consolDocument.mawbGeneratedDate" datetimepicker
                                                                                    date-callback="nextToFocus('atdDateMoreInfoConsol')"
                                                                                    datetimepicker-options="{{directiveDatePickerOpts}}">

                                                                                <span class="inputIcon">
                                                                                    <i class="icon-date" aria-hidden="true"></i>
                                                                                </span>
                                                                                <span class="error-message" ng-if="errorMap.get('masterIssueDate')!=null">
                                                                                    <small>{{errorMap.get('masterIssueDate')}}</small>
                                                                                </span>
                                                                            </div>
                                                                        </div>





                                                                        <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
                                                                            <label>ATD</label>
                                                                            <div class="inputBox">
                                                                                <input id="atdDateMoreInfoConsol" class="form-control" ng-model="consol.atd" datetimepicker date-callback="navigateATDdate('ataMoreInfoConsol')"
                                                                                    datetimepicker-options="{{directiveDateTimePickerOpts}}">
                                                                                <span class="inputIcon">
                                                                                    <i class="icon-date" aria-hidden="true"></i>
                                                                                </span>
                                                                                <span class="error-message" ng-if="errorMap.get('atd')!=null">
                                                                                    <small>{{errorMap.get('atd')}}</small>
                                                                                </span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
                                                                            <label>ATA</label>
                                                                            <div class="inputBox">
                                                                                <input id="ataMoreInfoConsol" class="form-control" ng-model="consol.ata" datetimepicker date-callback="navigateATAdate('consolwhorouted')"
                                                                                    ng-blur="navigateToNextField('consolwhorouted')"
                                                                                    datetimepicker-options="{{dateTimePickerOptionsLeft}}">
                                                                                <span class="inputIcon">
                                                                                    <i class="icon-date" aria-hidden="true"></i>
                                                                                </span>
                                                                                <span class="error-message" ng-if="errorMap.get('ata')!=null">
                                                                                    <small>{{errorMap.get('ata')}}</small>
                                                                                </span>
                                                                            </div>
                                                                        </div>



                                                                    </div>
                                                                    <!--row ends-->
                                                                </div>
                                                                <!--form group ends-->


                                                            </div>
                                                        </div>
                                                        <div class="row nomargin nopadding bor-0 ">
                                                            <hr class="nomargin">
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-xs-12 mtb-15 pb60">
                                                    <connection-table index-key="'MasterShipment'" table-data="consol.connectionList" depend-data="consol" table-check="isConnectionCheck"
                                                        calc-fn="calculateDocWeight(param)" fn-role="roleAccess(param)" add-role="$roleConstant.AIR_MASTER_SHIPMENT_MASTER_WIZARD_CONNECTION_CREATE"
                                                        delete-role="$roleConstant.AIR_MASTER_SHIPMENT_MASTER_WIZARD_CONNECTION_DELETE">
                                                    </connection-table>
                                                </div>

                                            </div>


                                        </div>


                                        <div ng-if="Tabs=='consol'">
                                            <div class="row nomargin fx-fade-left fx-duration-200 fx-speed-200 " ng-if="addShipment" ng-init="addShipment=true">
                                                <div class="col-xs-12">
                                                    <ul class="list-inline" ng-if="consol.serviceMaster.importExport=='Import'">
                                                        <li ng-if="consol.shipmentLinkList.length>0 && consol.id!=null">
                                                            <button type="button" class="btn accent-btn" ng-click="downloadDo()">Download DeliveryOrder</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btn accent-btn" ng-click="addShipmentFromConsol(consol)">
                                                                <i class=""></i>Add Shipment</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btn accent-btn" ng-click="consolpopup()">
                                                                <i class="fa fa-link"></i> link services</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-include="'app/components/air/consol_shipments/views/consol_tabnewlyadded.html'"></div>
                                            </div>
                                            <div class="row nomargin">
                                                <div class="col-xs-12 mt-15 fx-fade-left fx-duration-800  fx-speed-800 ng-hide pb60">
                                                    <div ng-include="'app/components/crm/shipment/views/shipment_service_edit.html'"></div>
                                                </div>
                                                <!--panel ends-->
                                            </div>
                                        </div>
                                        <!--CONSOL TAB ENDS-->
                                        <div ng-if="Tabs=='documents'">
                                            <div class="wrapper shade3 pt-15">
                                                <div class="row " ng-if="consol.serviceMaster.importExport=='Export'">
                                                    <div class="col-xs-12 pb60 pl0 pr0">
                                                        <div ng-include="'app/components/air/consol_shipments/views/documents_tab_export_edit.html'"></div>
                                                    </div>
                                                </div>
                                                <div class="row nomargin " ng-if="consol.serviceMaster.importExport=='Import'">
                                                    <div class="col-xs-12 pb60 pl0 pr0">
                                                        <div ng-include="'app/components/air/consol_shipments/views/documents_tab_import_edit.html'"></div>
                                                    </div>
                                                </div>
                                                <!--Import Shipments-->
                                            </div>
                                            <!--wraper ends-->
                                        </div>
                                        <!--TAB CONTENT ENDS-->
                                    </div>
                                </div>
                                <!-- Nice scroll ends -->

                        </form>
                        </div>
                        <!--wrapper ends-->
                    </div>
                    <!--panel body ends-->

                    <div ng-hide="!showConsolAgentAddressList" class="wrapper-back-drop"></div>
                    <!--BACK DROP ENDS-->
                    <div ng-hide="!showConnPol" class="wrapper-back-drop"></div>
                    <div ng-hide="!showConnPod" class="wrapper-back-drop"></div>
                    <div ng-hide="!showConnCarrierList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showDocumentList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showTransporterPartyList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showPickUpPointPartyList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showPickUpFromList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showDeliveryPointList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showDeliveryFromList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showDoorDeliveryPointList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showDoorDeliveryFromList" class="wrapper-back-drop"></div>



                    <div ng-hide="!showTriggerMasterList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showTriggerTypeMasterList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showAssignedToList" class="wrapper-back-drop"></div>

                    <div ng-hide="!showEventMasterList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showEventAssignedToList" class="wrapper-back-drop"></div>
                    <div ng-hide="!showPickUpPlaceAddressList" class="wrapper-back-drop"></div>

                    <div ng-if="showPickUpPlaceAddressList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItem" data="pickUpPlaceAddressListShipment" cancel-event="cancelPickUpPlacePartyAddress()"
                            click-event="selectedPickUpPlacePartyAddress(param)" config="pickUpPlaceAddressListConfig"> </select-list-picker>
                    </div>


                    <!-- Agent Address Select Picker -->
                    <div ng-if="showConsolAgentAddressList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItem" data="consolAgentList" cancel-event="cancelConsolAgentAddress()"
                            click-event="selectedConsolAgentAddress(param)" config="consolAgentAddressListConfig">

                        </select-list-picker>
                    </div>




                    <div ng-if="showDocumentList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItem" data="documentMasterList" cancel-event="cancelDocumentMasterList()"
                            click-event="selectedDocumentMaster(param)" ajax-event="ajaxDocumentMaster(param)" config="documentListConfig">
                        </select-list-picker>
                    </div>




                    <!-- Address Starts-->
                    <div ng-if="showConsolShipperAddressList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItemDocSAdd" data="consolAgentList" cancel-event="cancelConsolShipperAddress()"
                            click-event="selectedConsolShipperAddress(param)" config="consolDocShipperAddressListConfig">

                        </select-list-picker>
                    </div>


                    <!-- Address Starts-->
                    <div ng-if="showConsolForwarderAddressList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItemDocFAdd" data="consolAgentList" cancel-event="cancelConsolForwarderAddress()"
                            click-event="selectedConsolForwarderAddress(param)" config="consolDocForwarderAddressListConfig">

                        </select-list-picker>
                    </div>



                    <!-- Address Starts-->
                    <div ng-if="showConsolConsigneeAddressList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItemDocCAdd" data="consolAgentList" cancel-event="cancelConsolConsigneeAddress()"
                            click-event="selectedConsolConsigneeAddress(param)" config="consolDocConsigneeAddressListConfig">

                        </select-list-picker>
                    </div>



                    <!-- Address Starts-->
                    <div ng-if="showConsolFirstNotifyAddressList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItemDocFNAdd" data="consolAgentList" cancel-event="cancelConsolFirstNotifyAddress()"
                            click-event="selectedConsolFirstNotifyAddress(param)" config="consolDocFirstNotifyAddressListConfig">

                        </select-list-picker>
                    </div>




                    <!-- Address Starts-->
                    <div ng-if="showConsolSecondNotifyAddressList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItemDocSNAdd" data="consolAgentList" cancel-event="cancelConsolSecondNotifyAddress()"
                            click-event="selectedConsolSecondNotifyAddress(param)" config="consolDocSecondNotifyAddressListConfig">

                        </select-list-picker>
                    </div>




                    <!-- Address Starts-->
                    <div ng-if="showConsolDocAgentAddressList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItemDocAgentAdd" data="consolAgentList" cancel-event="cancelConsolDocAgentAddress()"
                            click-event="selectedConsolDocAgentAddress(param)" config="consolDocAgentAddressListConfig">

                        </select-list-picker>
                    </div>


                    <!-- Address Starts-->
                    <div ng-if="showConsolIssuingAgentAddressList" class="logs-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItemDocIssuingAgentAdd" data="consolAgentList" cancel-event="cancelConsolIssuingAgentAddress()"
                            click-event="selectedConsolIssuingAgentAddress(param)" config="consolDocIssuingAgentAddressListConfig">

                        </select-list-picker>
                    </div>





                    <div ng-if="showEventMasterList" class="hide-transition sideView">
                        <select-list-picker panel-title="panelTitle" selected="selectedItem" data="eventMasterList" cancel-event="cancelEventMaster()"
                            click-event="selectedEventMaster(param)" ajax-event="ajaxEventMasterEvent(param)" config="eventMasterlistConfig"></select-list-picker>
                    </div>


                </div>
                <!--PANEL ENDS-->
                <modal-spinner spinner-status="spinner"></modal-spinner>
            </div>
            <!--COLUMN 8 ENDS-->

        </div>
        <!--ROW ENDS-->
    </div>
    <!--CONTAINER FLUID ENDS-->