<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h6 ng-hide="errorMap.get('AlreadyGenerated')!=null"><span>There are</span> {{totalRecordStock}} MAWB(s) <span>Generated</span></h6>
                         <h6 ng-if="errorMap.get('AlreadyGenerated')!=null"><span></span>{{errorMap.get("AlreadyGenerated")}}</h6>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button ng-hide="errorMap.get('AlreadyGenerated')!=null" type="button" class="btn accent-btn pull-right"  ng-click="$hide()">done</button>
                        <button ng-if="errorMap.get('AlreadyGenerated')!=null" type="button" class="btn accent-btn pull-right"  ng-click="$hide()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
