<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h6><span>There are</span> {{totalRecordStock}} MAWB(s) <span>Available for</span> {{stockGenerationSearchDto.carrierName}}.{{stockGenerationSearchDto.portCode}}</h6>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn accent-btn pull-right"  ng-click="$hide()">done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
