<div class="container-fluid resPortAddPage" ng-controller="slOperationCtrl">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading flexTitle">
					<div>
						<h4>
							Edit Subledger 
						</h4>
					</div>
					<div>
						<button class="btn btn-property cancel-btn" ng-click="cancel()">cancel</button>
						<button class="btn btn-property accent-btn">update</button>
					</div>
				</div>
				<div class="panel-body edit-body pt0" panel-height ng-nicescroll
					nice-option="{{ngScrollConfig}}">
					<form role="form">
						<div class="row blue-shade">
							<div class="col-xs-12">
								<div show-response></div>
								<div success-response></div>
								<span class="reqColor nomargin">*</span> <small
									class="opc-5 f-12b4">Indicates Mandatory Fields</small>
							</div>
						</div>

						<div class="row blue-shade bor-btm-1">
							<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-6">
										<div class="form-group">
											<label>name<span>*</span></label> <input type="text"
												class="form-control" value="Pooja Expenses">
										</div>
									</div>
									 <div class="col-xs-6">
										<div class="form-group">
											<label>code<span>*</span></label> <input type="text"
												class="form-control" value="S000080">
										</div>
									</div> 
									
									
									
								</div>
							</div>
							<div class="col-xs-6">
								<div class="row">
								<div class="col-xs-4">
										<div class="form-group">
											<label>Job Account<span>*</span></label>
											<ul class="list-inline">
																		<li ng-class="{'opc-5':credit}">Yes</li>
																		<li class="v-align-top"><switch tabindex=""
																				id="enabled" name="enabled" ng-model="credit"
																				class="green"></switch></li>
																		<li ng-class="{'opc-5':!credit}">No</li>
																	</ul>

										</div>
									</div>
									<div class="col-xs-4">
										<div class="form-group">
											<label>Bank Account</label>
											<ul class="list-inline">
																		<li ng-class="{'opc-5':credit}">Yes</li>
																		<li class="v-align-top"><switch tabindex=""
																				id="enabled" name="enabled" ng-model="credit"
																				class="green"></switch></li>
																		<li ng-class="{'opc-5':!credit}">No</li>
																	</ul>
										</div>
									</div>	
									
									<div class="col-xs-4">
										<div class="form-group" >
											<label>Status </label> <select class="form-control statuscolor whitecolor">
												<option >Active</option>
											</select>
										</div>
									</div> 

								</div>
							</div>
						</div>

						

						<div class="row">
							<div class="col-xs-12 nopadding">
								<ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap"
									theme-class="btn-tabs" ng-init="Tabs='subledger'">
									<li data-menu-item="charge">
										<button type="button" class="btn"
											ng-class="Tabs=='subledger'?'active':'btn-normal'"
											ng-click="Tabs='subledger'">Account Details</button>
									</li>
									<li data-menu-item="notes">
										<button type="button" class="btn"
											ng-class="Tabs=='bankDetails'?'active':'btn-normal'"
											ng-click="Tabs='bankDetails'">Bank Details</button>
									</li>
								</ul>
								<!--TAB MENUS ENDS-->
								<div class="tab-content ">
									<div class="row nomargin">
										<div class="col-xs-12 nopadding ">
											<div ng-show="Tabs=='subledger'">
												<div class="row mt-15">
													<div class="col-xs-12  mb-15">
														<button type="button" class="btn btn-property accent-btn">
															<span class="icon-add"></span>add account details
														</button>
													</div>
													<div class="col-xs-12 ">
														<div class="table-responsive">
															<table class="table  table-inline-nopad mb-10">
																<thead>
																	<tr>
																		<th class="inl_xs">#</th>
																		<th class="inl_l">Location<span class="reqColor">*</span></th>
																		
																		<th class="inl_l">Account Name<span
																			class="reqColor">*</span></th>
																		<th class="inl_l">Account Code</th>
																		<th class="inl_m">Status</th>
																		<th class="inl_xs">Action</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>1</td>
																		<td>
																		<div class="select-auto">
														<input type="text" class="form-control" 
														value="Chennai">
														<span class="select-arrow"><b></b></span>
													  </div>
																			
																		</td>
																		<td>
																		<div class="form-group mb0 ">
																			<input type="text"
												class="form-control" value="Bank Balance Local currency">
																			</div>	
																				<!-- <div class="select-auto">
																				<input type="text" auto-complete ng-model=""
																					 class="form-control"  />
																			</div> -->
																			
																		</td>
																		<td><input type="text" class="form-control  noneditable" readonly/></td>
																		<td>
																			<div class="form-group mb0 ">
																				<select class="form-control  statuscolor whitecolor">
																					<option>ALL</option>
																					<option selected>Active</option>
																					<option>Block</option>
																					<option>Hide</option>
																				</select>
																			</div>
																		</td>
																		<td>
																		 <ul class="list-inline">
                        
                        	
                            
                            <li>
                                <a href="javascript:void(0);"
                                   ng-click="fnRole({param:deleteRole})?removeObj(dataObj,$index):''" data-placement="bottom" bs-tooltip="delete">
                                   <i class="icon-delete"    ></i>
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                        </td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											<!--charge TAB ENDS-->

											<div ng-show="Tabs=='bankDetails'">
												<div class="row pb10">
													
													
													<div class="col-xs-12">
													
													<div class="col-xs-6 pt5">	
													<div class="row nomargin bor-with-rad">
															<div class="col-xs-6">
																<div class="form-group mb0">
																	<label>Account No</label> <input type="text"
																		class="form-control" value="21445787899">
																</div>
															</div>
															<div class="col-xs-6">
																<label>Bank Name</label>
																
														<input type="text" class="form-control" 
														value="OBC Bank - OBC">
														
													 
																
															</div>
														<div class="col-xs-6 mt-5">
																<label>Branch Name</label>
																<input type="text"
																		class="form-control" value="Velachery">
																
																
															</div>	
														<div class="col-xs-6 mt-5">
																<label>IFSC Code</label>
																
														<input type="text" class="form-control" 
														value="OBC0000050">
																
															</div>	
															
														<div class="col-xs-6  mt-5 mb-5">
																<div class="form-group  mb0">
																	<label>Multiple Credit</label>
																	<ul class="list-inline">
																		<li ng-class="{'opc-5':credit}">Yes</li>
																		<li class="v-align-top"><switch tabindex=""
																				id="enabled" name="enabled" ng-model="credit"
																				class="green"></switch></li>
																		<li ng-class="{'opc-5':!credit}">No</li>
																	</ul>
																</div>
															</div>
															<div class="col-xs-6 mt-5 mb-5">
																			<label>IBAN No</label> <input type="text"
																				class="form-control">
																		</div>	
														</div>	
													</div>
														
													<div class="col-xs-6 pt5">
													<div class="row nomargin bor-with-rad">
												<div class="col-xs-6 ">
																			<div class="form-group mb0">
																				<label>Bank Address</label> 
																				<input type="text" 	class="form-control"  value="123, 7th Avenue">
																			</div>
																			<div class="row">
																				<div
																					class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5 mb0 ">
																					<input type="text" class="form-control"   value="Velachery">
																				</div>
																			</div>
																			<div class="row">
																				<div
																					class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5">
																					<input type="text" class="form-control" value="Chennai" >
																				</div>
																			</div>
																		</div>		
															
													<div class="col-xs-6 ">
																			<div class="form-group mb0">
																				<label>Swift Address</label>
																				<input type="text" 	class="form-control"  value="4, Zuroang Street">
																			</div>
																			<div class="row">
																				<div
																					class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5 mb0 ">
																					<input type="text" class="form-control"    value="Andheri">
																				</div>
																			</div>
																			<div class="row">
																				<div
																					class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5">
																					<input type="text" class="form-control" value="Mumbai">
																				</div>
																			</div>
																		</div>	
														
															
														</div>	
													</div>
														
													</div>
													
												
													
													
													
													</div>
											
											
											</div>
											<!--notes TAB ENDS-->
										</div>
									</div>
								</div>
								<!--TAB CONTENT TAB ENDS-->
							</div>
							<!--Col ends-->
						</div>
						<!--row ends-->
					</form>
				</div>
			</div>
			<!--panel ends-->
		</div>
	</div>
</div>


