<div class="container-fluid resPortAddPage" ng-controller="slOperationCtrl">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>Edit Subledger Code <span>1301010111</span></h4>
                    </div>
                    <div>
                        <button class="btn btn-property cancel-btn" ng-click="cancel()">cancel</button>
                        <button class="btn btn-property accent-btn">save</button>
                    </div>
                </div>
                <div class="panel-body edit-body pt0" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <form role="form">
                        <div class="row blue-shade">
                            <div class="col-xs-12">
                                <div show-response></div>
                                <div success-response></div>
                                <span class="reqColor nomargin">*</span>
                                <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
                            </div>
                        </div>

                        <div class="row blue-shade ">
                            <div class="col-xs-7">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label>name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label>Base Currency</label>
                                            <div class="select-auto">
                                                <input type="text"  auto-complete ng-model="" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Account Type</label>
                                            <div class="select-auto">
                                                <input type="text"  auto-complete ng-model="" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select class="form-control">
                                                <option>Active</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row blue-shade bor-btm-1">
                            <div class="col-xs-7">
                                <div class="row nopadding">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label>Bank Name</label>
                                            <div class="select-auto">
                                                <input type="text"  auto-complete ng-model="" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="Tabs='subledger'">
                                    <li data-menu-item="charge">
                                        <button type="button" class="btn" ng-class="Tabs=='subledger'?'active':'btn-normal'" ng-click="Tabs='subledger'">Subledger Mapping</button>
                                    </li>
                                    <li data-menu-item="notes">
                                        <button type="button" class="btn" ng-class="Tabs=='bankDetails'?'active':'btn-normal'" ng-click="Tabs='bankDetails'">Bank Details</button>
                                    </li>
                                </ul><!--TAB MENUS ENDS-->
                                <div class="tab-content ">
                                    <div class="row nomargin">
                                        <div class="col-xs-12 nopadding ">
                                                <div ng-show="Tabs=='subledger'">
                                                    <div class="row mt-15">
                                                        <div class="col-xs-12  mb-15">
                                                            <button type="button" class="btn btn-property accent-btn"><span class="icon-add"></span>add GL mapping</button>
                                                        </div>
                                                        <div class="col-xs-12 ">
                                                            <div class="table-responsive" >
                                                                <table  class="table  table-inline-nopad mb-10">
                                                                    <thead>
                                                                    <tr>
                                                                        <th class="inl_xs">#</th>
                                                                        <th class="inl_l">Location</th>
                                                                        <th class="inl_l">GL Account Code</th>
                                                                        <th class="inl_l">GL Name</th>
                                                                        <th class="inl_m">Status</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>
                                                                            <div class="select-auto">
                                                                                <input type="text"  auto-complete ng-model="" class="form-control"/>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="select-auto">
                                                                                <input type="text"  auto-complete ng-model="" class="form-control"/>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control"/>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group mb0">
                                                                                <select class="form-control">
                                                                                    <option></option>
                                                                                </select>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--charge TAB ENDS-->

                                                <div ng-show="Tabs=='bankDetails'">
                                                    <div class="row shade1 nomargin pt5">
                                                        <div class="col-xs-7">
                                                            <div class="row">
                                                                <div class="col-xs-4">
                                                                    <div class="form-group">
                                                                        <label>Bank Account No</label>
                                                                        <input type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-8">
                                                                    <label>Bank Name</label>
                                                                    <div class="select-auto">
                                                                        <input type="text"  auto-complete ng-model="" class="form-control"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <div class="row">
                                                                <div class="col-xs-6">
                                                                    <label>Branch Name</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <label>City</label>
                                                                    <div class="select-auto">
                                                                        <input type="text"  auto-complete ng-model="" class="form-control"/>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row shade1 nomargin pt5">
                                                        <div class="col-xs-7">
                                                            <div class="row">
                                                                <div class="col-xs-4">
                                                                    <div class="form-group">
                                                                        <label>Multiple Credit</label>
                                                                        <ul class="list-inline">
                                                                            <li ng-class="{'opc-5':credit}">Yes</li>
                                                                            <li class="v-align-top">
                                                                                <switch tabindex="" id="enabled" name="enabled" ng-model="credit" class="green"></switch>
                                                                            </li>
                                                                            <li ng-class="{'opc-5':!credit}">No</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <label>Overdraft Amount</label>
                                                                    <input type="text" class="form-control text-right">
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <label>Temp. Overdraft Amount</label>
                                                                    <input type="text" class="form-control text-right">
                                                                </div>
                                                            </div>
                                                            <div class="row pb10">
                                                                <div class="col-xs-4">
                                                                    <label>Guarantee Limit</label>
                                                                    <input type="text" class="form-control text-right">
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <label>Interest Limit</label>
                                                                    <input type="text" class="form-control text-right">
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <label>Overdraft Limit Warning</label>
                                                                    <ul class="list-inline">
                                                                        <li ng-class="{'opc-5':Overdraft}">Yes</li>
                                                                        <li class="v-align-top">
                                                                            <switch tabindex="" id="enabled" name="enabled" ng-model="Overdraft" class="green"></switch>
                                                                        </li>
                                                                        <li ng-class="{'opc-5':!Overdraft}">No</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <div class="row">
                                                                    <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Notes</label>
                                                                <textarea style="height: 69px !important; resize: none"
                                                                        msd-elastic
                                                                        class="form-control "
                                                                        id="Notes" name="Notes"  ng-change=""
                                                                        ng-model="gl.Notes">
                                                                </textarea>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row nomargin nopadding">
                                                        <div class="col-xs-12 nopadding ">
                                                            <div ng-click="otherInfo=!otherInfo" ng-init="otherInfo=true" class=" mb0 cursorPt flex align-justify align-middle title">
                                                                <div>
                                                                    <h5 class="">More Info</h5>
                                                                </div>
                                                                <div>
                                                                    <i class="{{otherInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
                                                                </div>

                                                            </div>
                                                            <div class=" fx-fade-normal fx-ease-sine pt5  bor-btm-1" ng-hide="!otherInfo">
                                                                <div class="row nomargin nopadding ">
                                                                    <div class="col-xs-7">
                                                                        <div class="row">
                                                                            <div class="col-xs-6">
                                                                                <div class="form-group">
                                                                                    <label>Swift Address</label>
                                                                    <textarea style="height: 69px !important; resize: none"
                                                                              msd-elastic
                                                                              class="form-control"
                                                                              id="Swift" name="Swift"  ng-change=""
                                                                              ng-model="gl.SwiftAddress">
                                                                    </textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6">
                                                                                <div class="form-group">
                                                                                    <label>Bank Address</label>
                                                                     <textarea style="height: 69px !important; resize: none"
                                                                               msd-elastic
                                                                               class="form-control"
                                                                               id="Bank" name="Bank"  ng-change=""
                                                                               ng-model="gl.BankAddress">
                                                                    </textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-5">
                                                                        <div class="row">
                                                                            <div class="col-xs-6">
                                                                                <label>IBAN No</label>
                                                                                <input type="text" class="form-control">
                                                                            </div>
                                                                            <div class="col-xs-6">
                                                                                <label>VAT Id</label>
                                                                                <input type="text" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>

                                                    </div>


                                                </div><!--notes TAB ENDS-->
                                            </div>
                                        </div>
                                </div><!--TAB CONTENT TAB ENDS-->
                            </div><!--Col ends-->
                        </div><!--row ends-->
                    </form>
                </div>
            </div><!--panel ends-->
        </div>
    </div>
</div>


