
<div data-ng-if="quotationDetail.quotationCarrierList[0].quotationChargeList.length>0" class="table-responsive">
    <table class="table table-inline">
    <thead>
    <tr>
			<th rowspan="2" class="inl_sno">#</th>
			<th rowspan="2" class="inl_s">Charge Code</th>
			<th rowspan="2" class="inl_sm">Charge Name</th>
			<th rowspan="2" class="inl_xs">Currency</th>
			<th rowspan="2" class="text-right inl_xs">ROE</th>
			<th rowspan="2" class="inl_xs">Unit</th>
			<th rowspan="2" class="inl_xs text-center bor-b-0">No of Units</th>
			<th colspan="3" class="text-center bor-b-0"><b>Sell Rate</b></th>
			<th ng-show="buyRateAccess" colspan="3" class="text-center bor-b-0"><b>Buy Rate</b></th>
			<th rowspan="2" class="text-left inl_m">Chargeable <br/>/ Actual Weight</th>
			<th rowspan="2" class="inl_s" ng-hide="true">Group</th>
		</tr>
    <tr>
        <th colspan="1" class="text-right inl_s">Amt per Unit</th>
        <th colspan="1" class="text-right inl_s">Min Amount</th>
        <!-- <th colspan="1" class="text-right inl_s">Rate Amount</th> -->
        <th colspan="1" class="text-right inl_s">Local Amount</th>
        <th ng-show="buyRateAccess" colspan="1" class="text-right inl_s">Cost per Unit</th>
        <th ng-show="buyRateAccess" colspan="1" class="text-right inl_s">Min Cost</th>
		<!-- <th colspan="1" class="text-right inl_s">Cost Amount</th> -->
        <th ng-show="buyRateAccess" colspan="1" class="text-right inl_s">Local Amount</th>
    </tr>
    </thead>
    <tbody data-ng-repeat="charge in quotationDetail.quotationCarrierList[0].quotationChargeList track by $index">
	    <tr>
	
					<td>{{$index+1}}</td>
					<td>{{charge.chargeMaster.chargeCode}}</td>
					<td>{{charge.chargeName}}</td>
					<td>{{charge.currencyMaster.currencyCode}}</td>
					<td class="text-right ">{{currencyRoeFormat(charge.currencyMaster,charge.roe)}}</td>
					<td>{{charge.unitMaster.unitCode}}</td>
					<td class="text-left ">{{charge.numberOfUnit}}</td>
                    <td class="text-right ">{{currencyFormat(charge.currencyMaster,charge.sellRateAmountPerUnit)}}</td>
                    <td class="text-right ">{{currencyFormat(charge.currencyMaster,charge.sellRateMinAmount)}}</td>
                    <!-- <td class="text-right ">{{currencyFormat(charge.currencyMaster,charge.sellRateAmount)}}</td> -->
                    <td class="text-right ">{{currencyFormat(quotation.localCurrency,charge.sellRateLocalAmount)}}</td>
                    <td ng-show="buyRateAccess" class="text-right ">{{currencyFormat(charge.currencyMaster,charge.buyRateCostPerUnit)}}</td>
                    <td ng-show="buyRateAccess" class="text-right ">{{currencyFormat(charge.currencyMaster,charge.buyRateMinCost)}}</td>
                    <!-- <td class="text-right ">{{currencyFormat(charge.currencyMaster,charge.buyRateCostAmount)}}</td> -->
                    <td ng-show="buyRateAccess" class="text-right ">{{currencyFormat(quotation.localCurrency,charge.buyRateCostLocalAmount)}}</td>
                    <td >{{charge.actualchargeable | chargeType}}</td>
                    <td ng-hide="true">
                       {{charge.groupName}}
                    </td>

    </tr>
    </tbody>
    <tfoot >
	    <tr>
	
					<td></td>
					<td>Total</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right ">{{currencyFormat(quotation.localCurrency,quotationDetail.quotationCarrierList[0].lumpSum)}}</td>
                    <td ng-show="buyRateAccess" ></td>
                    <td ng-show="buyRateAccess" ></td>
                    <td ng-show="buyRateAccess" class="text-right " >{{currencyFormat(quotation.localCurrency,quotationDetail.quotationCarrierList[0].lumpSumBuyAmt)}}</td>
                    <td ></td>
                   
    </tr>
    </tfoot>
</table>
</div>
<empty-record ng-if="quotationDetail.quotationCarrierList[0].quotationChargeList.length==0" icon="charge" text="Looks like there are no records here"></empty-record>
