
<div class="">
    <div class="col-xs-12 ">
        <div class="row nomargin">
            <div class="col-xs-12 nopadding">
                <button type="button" class="btn btn-primary btn-xs btn-property accent-btn mtb-15 fx-fade-left fx-duration-200 fx-speed-200" ng-show="!showEditCharge" ng-click="goToAddCharge()"><i class="icon-add opcfull"></i> Add Charge</button>
            </div>
        </div>
        <div class="table-responsive pad-5 fx-fade-left fx-duration-200 fx-speed-200" ng-show="!showEditCharge">
            <table class="table tab-width tab-border table-default  ">
                <thead>
                <tr>
                    <th class="text-center" rowspan="2">#</th>
                    <th rowspan="2">Charge Code</th>
                    <th rowspan="2">Charge Name</th>
                    <th rowspan="2">Currency</th>
                    <th rowspan="2">Unit</th>
                    <th colspan="2" class="text-center bor-b-0"><b>No of Units</b></th>
                    <th colspan="2" class="text-center bor-b-0"><b>Sell Rate</b></th>
                    <th colspan="2" class="text-center bor-b-0"><b>Buy Rate</b></th>
                    <th rowspan="2">Chargeable Weight / Actual</th>
                    <!--<th rowspan="2">Notes</th>-->
                    <th class="text-center" rowspan="2"> Actions </th>
                </tr>
                <tr>
                    <th colspan="1" class="text-right">Min</th>
                    <th colspan="1" class="text-right">Max</th>
                    <th colspan="1" class="text-right">Amt per unit	</th>
                    <th colspan="1" class="text-right">Min amount</th>
                    <th colspan="1" class="text-right">Cost per unit</th>
                    <th colspan="1" class="text-right">Min cost</th>
                </tr>
                </thead>
                <tbody ng-repeat = "charge in quotationDetail.quotationChargeList track by $index">
                <tr>
                    <td class="text-center">{{$index+1}}</td>
                    <td>{{charge.chargeMaster.chargeCode}}</td>
                    <td>{{charge.chargeName}}</td>
                    <td>{{charge.currencyMaster.currencyCode}}</td>
                    <td>{{charge.unitMaster.unitCode}}</td>
                    <td class="text-right">{{charge.noOfMinUnit}}</td>
                    <td class="text-right">{{charge.noOfMaxUnit}}</td>
                    <td class="text-right">{{charge.sellRateAmountPerUnit}}</td>
                    <td class="text-right">{{charge.sellRateMinAmount}}</td>
                    <td class="text-right">{{charge.buyRateCostPerUnit}}</td>
                    <td class="text-right">{{charge.buyRateMinCost}}</td>
                    <td>{{charge.actualchargeable}}</td>
                    <!--<td>-->
                        <!--<a href="javascript:;" data-placement="top-right" data-content="{{charge.note}}" data-trigger="focus" bs-popover><i class="fa fa-file-o" aria-hidden="false"></i>-->
                       <!--</a>-->
                    <!--</td>-->
                    <td class="pad-25 text-center">
                    	<div class="rel">
                                <div class="actIcon cursorPt cur-pointer" placement="bottom" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </div>
                                <ul class="dropdown-menu custom-dropDwn popover-options" role="menu">
                                    <li class="cursorPt"><a  data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0);" ng-click="chargeEditShow($index)" ><i class="icon-edit"></i>&nbsp;Edit</a></li>
                                    <li class="cursorPt"><a  data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0);" ng-click="chargeRemoveShow($index)"><i class="fa fa-trash"></i>&nbsp;Delete</a></li>
                                </ul>
                            </div>
                    </td>


                </tr>

                </tbody>
            </table>
        </div>
        <div class="fx-fade-left fx-duration-800  fx-speed-800 ng-hide" ng-show="showEditCharge">
            <div ng-include="'app/components/sales/quotation/view/quotation_change.html'"></div>
        </div>
    </div>
</div>