<div class="subHeading">
    <h5>Container Details</h5>
</div>
<ul class="list-unstyled">
    <li>
        <div class="row">
            <div class="col-xs-12">
                <table class="table tab-width tab-empty table-default">
                    <thead>
                    <th><label>#</label> </th>
                    <th><label>Container</label> </th>
                    <th><label>Container Name</label> </th>
                    <th><label>No of containers</label> </th>
                    <th><label></label> </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>45G0</td>
                        <td>40 HC</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr class="tab-txthide">
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>
</ul>