
<div class="row">
    <div class="col-xs-12">
        <div class="row bor-0 nomargin">
            <div class="col-xs-12 ptb-15">
                <button type="button" ng-init="showEditContainerDetails=false" ng-show="!showEditContainerDetails" ng-click="showEditContainerDetails=true" class="btn btn-primary btn-xs btn-property accent-btn"><i class="icon-add opcfull"></i> Add Container Details</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div ng-show="showEditContainerDetails">
                    <div ng-include="'app/components/sales/enquiry/view/add_container_details.html'"></div>
                </div>
            </div>
        </div>
        <div class="pad-5" ng-show="!showEditContainerDetails">
            <table class="table table-bordered tab-width tab-border tfoot-bor0 table-default text-left">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Container</th>
                    <th>Container Name</th>
                    <th class="text-right">No. of containers</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>45G0</td>
                    <td>40 HC</td>
                    <td class="text-right">1</td>
                    <td>
                        <ul class="list-inline pull-right">
                            <li><i class="icon-edit"></i></li>
                            <li><i class="icon-delete"></i></li>
                        </ul>
                    </td>
                </tr>
                <tr class="tab-txthide">
                    <td>2</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td></td>
                </tr>
                <tr class="tab-txthide">
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="tab-txthide">
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>