<div class="table-responsive" ng-if="quotationDetail.quotationDimensionList.length>0">
        <table  class="table table-inline">
            <thead>
            <tr>
                <th class="inl_sno">#</th>
                <th class="text-right inl_m">No of Pieces</th>
                <th class="text-right inl_m">Length ({{!quotationDetail.dimensionUnit?'cm':'in'}})</th>
                <th class="text-right inl_m">Width ({{!quotationDetail.dimensionUnit?'cm':'in'}})</th>
                <th class="text-right inl_m">Height ({{!quotationDetail.dimensionUnit?'cm':'in'}})</th>
                <th class="text-right inl_m">Volume Weight (KG)</th>
                <th  class="text-right inl_m">Gross Weight ({{!quotationDetail.dimensionUnit?'KG':'LBS'}})</th>
                <th  class="text-right inl_m" ng-show="quotationDetail.dimensionUnit">Gross Weight (KG)</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="dimention in quotationDetail.quotationDimensionList track by $index">
                <td>{{$index+1}}</td>
                <td class="text-right">{{integerFormat(dimention.noOfPiece,quotation.countryMaster.locale)}}</td>
                <td class="text-right">{{integerFormat(dimention.length,quotation.countryMaster.locale)}}</td>
                <td class="text-right">{{integerFormat(dimention.width,quotation.countryMaster.locale)}}</td>
                <td class="text-right">{{integerFormat(dimention.height,quotation.countryMaster.locale)}}</td>
                <td class="text-right">{{weightFormat(dimention.volWeight,quotation.countryMaster.locale)}}</td>
                <td class="text-right">{{weightFormat(dimention.grossWeight,quotation.countryMaster.locale)}}</td>
                <td  class="text-right" ng-show="quotationDetail.dimensionUnit">{{weightFormat(dimention.grossWeightKg,quotation.countryMaster.locale)}}</td>
            </tr>
            </tbody>
            <tfoot class="bg-danger">
            <tr>
                <td>Total</td>
                <td class="text-right">{{integerFormat(quotationDetail.totalNoOfPieces,quotation.countryMaster.locale)}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">{{weightFormat(quotationDetail.dimensionVolWeight,quotation.countryMaster.locale)}}</td>
                <td class="text-right">{{weightFormat(quotationDetail.dimensionGrossWeight,quotation.countryMaster.locale)}}</td>
                <td  class="text-right" ng-show="quotationDetail.dimensionUnit">{{weightFormat(quotationDetail.dimensionGrossWeightInKg,quotation.countryMaster.locale)}}</td>
            </tr>
            </tfoot>
        </table>
    </div>
<empty-record ng-if="quotationDetail.quotationDimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>
