<div class="row nomargin">
    <div class="col-xs-12 ">
        <div class="row overflow-hidden">
            <div class="col-xs-6 mt-15  ">
                <div class=" padfull-8 shade1 bor-fix minH-150">
                    <span>Header Note</span>
                    <h6>{{quotation.headerNote}}</h6>
                    <br>
                    
                </div>
            </div>
            <div class="col-xs-6 mt-15  ">
                <div class=" padfull-8 shade1 bor-fix minH-150 ">
                    <span>Footer Note</span>
                    <h6 class="pb10">{{quotation.footerNote}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row nomargin">
        <div class="col-xs-12  nopadding">
        <h5 class="title">General Note</h5>
        <div class="row nomargin ">
            <div class="col-xs-12 pad-15">
                <div class="table-responsive mt10" ng-if="quotation.generalNoteList.length>0">
                    <table class="table table-inline-nopad">
                        <thead>
                        <tr>
                            <th class="inl_xs">#</th>
                            <th >Notes</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in quotation.generalNoteList track by $index">
                            <td>{{$index+1}}</td>
                            <td>
                                {{item.note}}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <empty-record ng-if="quotation.generalNoteList.length==0" icon="note" text="Looks like there are no note records here"></empty-record>
            </div>
        </div>
    </div>
    </div>

</div>
