
<div class="row nomargin">
 <div class="col-xs-6 nopadding mtb-15">
	<div class="row  nomargin">
		<div class="col-xs-6 "><label class="custom-label text-inherit">Pick up Address </label></div>
	</div>
	<div class="row nomargin">
		<div class="col-xs-11 ">

					<div class="form-group ">

						<textarea msd-elastic class="form-control elastic-ht" rows="7"
							id="pickup" name="pickup" ng-model="quotationDetail.pickUpAddress"
							maxlength="500"></textarea>
					</div>

		</div>
		<div class="col-xs-1 plr0">
				<a tabIndex="-1"
				   data-placement="bottom"
				     bs-tooltip="selectPickUpAddress"
				   href="javascript:void(0)"
				   class="selectPicker-sm rel" ng-click="goToPickup()"> <i
					class="fa fa-chevron-right"></i>
				</a>
		</div>
	</div>
 </div>

	<div class="col-xs-6 nopadding mtb-15">
		<div class="row  nomargin">
			<div class="col-xs-6 ">	<label class="custom-label">Delivery Address </label></div>
		</div>
		<div class="row nomargin">
	       <div class="col-xs-11">

				<div class="form-group ">

					<textarea msd-elastic class="form-control elastic-ht" rows="7"
						id="delivery" name="delivery"
						ng-model="quotationDetail.deliveryAddress" maxlength="500"></textarea>
				</div>

		   </div>
			<div class="col-xs-1 plr0">
					<a  tabIndex="-1"
					    data-placement="bottom"
					      bs-tooltip="selectDeliveryAddress"
	                    href="javascript:void(0)"
						class="selectPicker-sm rel" ng-click="goToDelivery()">
						<i class="fa fa-chevron-right"></i>
				    </a>
			</div>
		</div>
	</div>
</div>