<div class="row">
    <!-- <div class="col-xs-4">
        <ul class="list-unstyled">
            <li><span>Pick up Address</span> </li>
            <li>
                <ul class="list-unstyled">
                    <li>{{quotationDetail.pickUpAddress}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xs-4">
        <ul class="list-unstyled">
            <li><span>Delivery Address</span> </li>
            <li>
                <ul class="list-unstyled">
                    <li>{{quotationDetail.deliveryAddress}}</li>
                </ul>
            </li>
        </ul>
    </div> -->
    
    <div>
                                                            <div class="col-xs-6">
                                                                <ul class="list-unstyled">
                                                                    <li><span>Pick up Address</span> </li>
                                                                    <li>
	                                                                    <ul class="list-unstyled mb-15 break-list">
										                                    <li>{{quotationDetail.pickupAddress.addressLine1}}</li>
										                                    <li>{{quotationDetail.pickupAddress.addressLine2}}</li>
										                                    <li>{{quotationDetail.pickupAddress.addressLine3}}</li>
										                                    <li>{{quotationDetail.pickupAddress.city.cityName}} {{quotationDetail.pickupAddress.poBox}}</li>
										                                    <li>{{quotationDetail.pickupAddress.state.stateName}} {{quotationDetail.pickupAddress.country.countryName}}</li>
										                                </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <ul class="list-unstyled">
                                                                    <li><span>Delivery Address</span> </li>
                                                                    <li>
                                                                        <ul class="list-unstyled mb-15 break-list">
										                                    <li>{{quotationDetail.deliveryAddress.addressLine1}}</li>
										                                    <li>{{quotationDetail.deliveryAddress.addressLine2}}</li>
										                                    <li>{{quotationDetail.deliveryAddress.addressLine3}}</li>
										                                    <li>{{quotationDetail.deliveryAddress.city.cityName}} {{quotationDetail.deliveryAddress.poBox}}</li>
																			<li>{{quotationDetail.deliveryAddress.state.stateName}} {{quotationDetail.deliveryAddress.country.countryName}}</li>
										                                </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
</div>