<div class="col-xs-12">
							<div class="col-xs-5 pr0">

								<label class="text-inherit">Pick up Address</label> 
									
								<input id = "{{'pickupAddress'+$index}}" type="text" placeholder="Address 1" class="form-control" ng-model="quotationDetail.pickupAddress.addressLine1" maxlength="100"  id="{{'pickupAddress.addressLine1'+$index}}"/>
								<div class="row">
									<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5 mb0">
										<input type="text" placeholder="Address 2" class="form-control" ng-model="quotationDetail.pickupAddress.addressLine2" maxlength="100"/>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 form-group mt-5 mb0">
										<input type="text" placeholder="Address 3" class="form-control" ng-model="quotationDetail.pickupAddress.addressLine3" maxlength="100"/>
									</div>
									<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group mt-5 mb0">
												<input type="text" placeholder="PO Box" class="form-control" ng-model="quotationDetail.pickupAddress.poBox" maxlength="100"/>
									</div>
								</div>


								<div class="row">
									<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5 ">
										<div class="row">
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb0">
											
												<div class="select-auto">
														<input 
															type="text" 
															class="form-control" 
															id="{{'quotationDetail.pickupAddress.city.'+$index}}"
															placeholder="City"
															autocomplete="off" 
															ng-model="quotationDetail.pickupAddress.city"
															input-focus="{{errorMap.get('quotationDetail.pickupAddress.city'+$index)!=null}}"
															ng-class="{'error-control':errorMap.get('quotationDetail.pickupAddress.city'+$index)!=null}"
															uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedPickupCity(quotationDetail, 'quotationDetail.pickupAddress.state.', $index);"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true" typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500">
																<span class="select-arrow"><b></b></span>
												</div>
												<div>
																<span class="error-message"
																  ng-show="errorMap.get('pickupCity')!=null"><small>{{errorMap.get('pickupCity')}}</small>
														       </span>
																</div>
												
											</div>
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb0">
													<div class="select-auto">
																<input 
																	type="text" 
																	class="form-control" 
																	placeholder="State"
																	id="{{'quotationDetail.pickupAddress.state.'+$index}}"
																	autocomplete="off" 
																	ng-model="quotationDetail.pickupAddress.state"
																	input-focus="{{errorMap.get('quotationDetail.pickupAddress.state'+$index)!=null}}"
																	ng-class="{'error-control':errorMap.get('quotationDetail.pickupAddress.state'+$index)!=null}"
																	uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue, {id:-1})"
																	typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																	typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																	typeahead-on-select="selectedPickupState(quotationDetail, 'quotationDetail.pickupAddress.country.', $index);"
																	typeahead-focus-on-select="false"
																	typeahead-focus-first="true" typeahead-editable="false"
																	typeahead-min-length="1" typeahead-wait-ms="500">
																		<span class="select-arrow"><b></b></span>
													</div>
													<div>
																<span class="error-message"
																  ng-show="errorMap.get('pickupState')!=null"><small>{{errorMap.get('pickupState')}}</small>
														       </span>
																</div>
											</div>
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb0">
												<div class="select-auto">
																<input 
																	type="text" 
																	class="form-control" 
																	placeholder="Country"
																	id="{{'quotationDetail.pickupAddress.country.'+$index}}"
																	autocomplete="off" 
																	ng-model="quotationDetail.pickupAddress.country"
																	input-focus="{{errorMap.get('quotationDetail.pickupAddress.state'+$index)!=null}}"
																	ng-class="{'error-control':errorMap.get('quotationDetail.pickupAddress.country'+$index)!=null}"
																	uib-typeahead="lovObject as lovObject.countryName for lovObject in $AutoCompleteService.getCountryList($viewValue, {id:-1})"
																	typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
																	typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																	typeahead-on-select="selectedPickupCountry(quotationDetail, 'deliveryAddress', $index);"
																	typeahead-focus-on-select="false"
																	typeahead-focus-first="true" typeahead-editable="false"
																	typeahead-min-length="1" typeahead-wait-ms="500">
																		<span class="select-arrow"><b></b></span>
													</div>
													<div>
																<span class="error-message"
																  ng-show="errorMap.get('pickupCountry')!=null"><small>{{errorMap.get('pickupCountry')}}</small>
														       </span>
																</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-1 mt-23">
								<a tabindex="-1" data-placement="bottom" bs-tooltip="selectPickUpAddress" href="javascript:void(0)" class="selectPicker-sm" ng-click="goToPickup(quotationDetail)">
									<i class="fa fa-chevron-right"></i>
								</a>
							</div>
							<div class="col-xs-5 pr0">

								<label for="comment">Delivery Address</label> 
									<input  id = "{{'deliveryAddress'+$index}}" type="text" placeholder="Address 1" class="form-control" ng-model="quotationDetail.deliveryAddress.addressLine1" maxlength="100" id="{{'deliveryAddress.addressLine1'+$index}}"/>
								<div class="row">
									<div
										class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5 mb0">
										<input type="text" placeholder="Address 2" class="form-control" ng-model="quotationDetail.deliveryAddress.addressLine2" maxlength="100" />
									</div>
								</div>


								<div class="row">
									<div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 form-group mt-5 mb0">
										<input type="text" placeholder="Address 3" class="form-control" ng-model="quotationDetail.deliveryAddress.addressLine3" maxlength="100"/>
									</div>
									<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 form-group mt-5 mb0">
												<input type="text" placeholder="PO Box" class="form-control" ng-model="quotationDetail.deliveryAddress.poBox" maxlength="100"/>
									</div>
								</div>


								<div class="row">
									<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 form-group mt-5 ">
										<div class="row">
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb0">
											
												<div class="select-auto">
														<input 
															type="text" 
															class="form-control" 
															id="{{'quotationDetail.deliveryAddress.city.'+$index}}"
															placeholder="City"
															autocomplete="off" 
															ng-model="quotationDetail.deliveryAddress.city"
															input-focus="{{errorMap.get('quotationDetail.deliveryAddress.city'+$index)!=null}}"
															ng-class="{'error-control':errorMap.get('quotationDetail.deliveryAddress.city'+$index)!=null}"
															uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedDeliveryCity(quotationDetail, 'quotationDetail.deliveryAddress.state.', $index);"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true" typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500">
																<span class="select-arrow"><b></b></span>
												</div>
												   <div>
																<span class="error-message"
																  ng-show="errorMap.get('deliveryCity')!=null"><small>{{errorMap.get('deliveryCity')}}</small>
														       </span>
																</div>
											
											</div>
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb0">
													<div class="select-auto">
																<input 
																	type="text" 
																	class="form-control" 
																	placeholder="State"
																	id="{{'quotationDetail.deliveryAddress.state.'+$index}}"
																	autocomplete="off" 
																	ng-model="quotationDetail.deliveryAddress.state"
																	input-focus="{{errorMap.get('quotationDetail.deliveryAddress.state'+$index)!=null}}"
																	ng-class="{'error-control':errorMap.get('quotationDetail.deliveryAddress.state'+$index)!=null}"
																	uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue, {id:-1})"
																	typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																	typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																	typeahead-on-select="selectedDeliveryState(quotationDetail, 'quotationDetail.deliveryAddress.country.', $index);"
																	typeahead-focus-on-select="false"
																	typeahead-focus-first="true" typeahead-editable="false"
																	typeahead-min-length="1" typeahead-wait-ms="500">
																		<span class="select-arrow"><b></b></span>
													</div>
													 <div>
																<span class="error-message"
																  ng-show="errorMap.get('deliveryState')!=null"><small>{{errorMap.get('deliveryState')}}</small>
														       </span>
																</div>
											</div>
											<div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 form-group mb0">
												<div class="select-auto">
																<input 
																	type="text" 
																	class="form-control" 
																	placeholder="Country"
																	id="{{'quotationDetail.deliveryAddress.country.'+$index}}"
																	autocomplete="off" 
																	ng-model="quotationDetail.deliveryAddress.country"
																	input-focus="{{errorMap.get('quotationDetail.deliveryAddress.country'+$index)!=null}}"
																	ng-class="{'error-control':errorMap.get('quotationDetail.deliveryAddress.country'+$index)!=null}"
																	uib-typeahead="lovObject as lovObject.countryName for lovObject in $AutoCompleteService.getCountryList($viewValue, {id:-1})"
																	typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
																	typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																	typeahead-on-select="selectedDeliveryCountry(quotationDetail, 'deliveryAddress', $index);"
																	typeahead-focus-on-select="false"
																	typeahead-focus-first="true" typeahead-editable="false"
																	typeahead-min-length="1" typeahead-wait-ms="500"
																	ng-keydown="openTab($event,'notes')">
																		<span class="select-arrow"><b></b></span>
													</div>
													<div>
																<span class="error-message"
																  ng-show="errorMap.get('deliveryCountry')!=null"><small>{{errorMap.get('deliveryCountry')}}</small>
														       </span>
																</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-1 mt-23">
								<a tabindex="-1" data-placement="bottom"
									bs-tooltip="selectDeliveryAddress" tabindex=""
									href="javascript:void(0)" class="selectPicker-sm"
									ng-click="goToDelivery(quotationDetail)"> <i
									class="fa fa-chevron-right"></i>
								</a>
							</div>
						</div>