<div class="panel panel-default"  >
    <div class="panel-heading flex align-middle align-justify">
        <div>
            <div class="panelTitle">
                <div class="flex align-justify align-middle">
                    <span>
                        <a  href="javascript:void(0)" ng-click="cancelList()"
                           class="list-panel-back" style="position: relative; top: 2px;"><i class="icon-back-menu" data-placement="bottom"   bs-tooltip="close"></i></a>
                    </span>
                    <h4 ng-show="!config.multiple" class="pl5">Select {{panelTitle}}</h4>
                    <h4 ng-show="config.multiple" class="pl5">{{panelTitle}}</h4>
                </div><!--flex ends-->
                <!--<span>
                    <a title="Close" href="javascript:void(0)" ng-click="cancelList()"
                       class="list-panel-back"><i class="icon-back-menu"></i></a>
                </span>
                <span ng-show="!config.multiple" class="pl5">Select {{panelTitle}}</span>
                <span ng-show="config.multiple" class="pl5">{{panelTitle}}</span>--><!--OLD TITLE-->
            </div>
        </div>
        <div>
            <div class="flex align-justify align-middle">
                <div>
                    <div ng-show="config.multiple">
                        <button type="button"
                                class="btn btn-primary btn-xs btn-property accent-btn"
                                ng-click="fetchAll()">Done
                        </button>
                    </div>
                </div>
                <div>
                    <div ng-show="config.createButton">
                        <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addNew()"><i class="icon-add opcfull"></i> New {{panelTitle}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="pull-left">
            <div class="panelTitle">
							<span>
								<a title="Close" href="javascript:void(0)" ng-click="cancelList()"
                                   class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
                <span ng-show="!config.multiple" class="pl5">Select {{panelTitle}}</span>
                <span ng-show="config.multiple" class="pl5">{{panelTitle}}</span>
            </div>
        </div>
        <div class="pull-right text-right"  ng-show="config.multiple">
            <button type="button"
                    class="btn btn-primary btn-xs btn-property accent-btn"
                    ng-click="fetchAll()">Done
            </button>
        </div>
        <div class="pull-right text-right" ng-show="config.createButton">
            <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="addNew()"><i class="icon-add opcfull"></i> New {{panelTitle}}</button>
        </div>--><!--OLD HEADER TITLE-->
    </div>
    <div class="panel-body" id="selectList-Panel" ng-nicescroll nice-option="{cursorcolor: '#3F8DEB', cursorwidth: '8px',smoothscroll: true}">
        <div class="row">
            <div class="col-md-12 ptb-15 picker-search-section" ng-show="config.search">
                <div class="input-group">
                    <span class="input-group-addon input-group-addon-border cursorPt" ><i class="icon-search" style="position: relative; top: 1px;"></i></span>
                    <input type="text" class="form-control"  id="picker-search-text" ng-change="watchText(searchText)" placeholder="Search" capitalize ng-model="searchText" tabindex="0">
                </div>
            </div>
            <div class="col-md-12 pt10 select-action" ng-show="config.multiple">
                <ul class="list-inline">
                    <li class="col-xs-12">
                        <input  type="checkbox" ng-click="checkAll()" ng-model="selectedAll"/> <span>Select All</span>
                    </li>
                </ul>

                <!--<input class="magic-checkbox" ng-init="selectedAll=false" ng-model="selectedAll" type="checkbox" id="selectAllField" >-->
                <!--<label class="text" for="selectAllField" >-->
                <!--Select All-->
                <!--</label>-->

            </div>
            <div class="col-md-12 mt0 pl0 pr0" ng-show="config && !config.address" tabindex="1">
                <ul class="list-group" ng-show="!ajaxBusy">
                    <li class="cur-pointer selectPicker-list list-group-item blnone brnone " ng-repeat="dataObj in data| filter:searchText track by $index" ng-class="{'status-danger':dataObj.status=='Block'}" ng-keyup ="goToOnSpace($event,dataObj,$index)" ng-click="rowSelect(dataObj,$index);" tabindex="{{$index+2}}">
                        <div ng-show="!config.multiple" ng-class="{'select-icon' : selected == $index}"></div>
                        <div ng-show="config.multiple" class="checkbox-list in">
                            <input  type="checkbox" ng-model="dataObj.Selected">
                        </div>
                    <span ng-show="!config.showCode" class="text-capitalize">
                        {{config.modelName?dataObj[config.modelName]:dataObj}}

                    </span>
                     <span class="pull-right opc-5 text-capitalize" ng-show="!config.showCode && config.modelName1">
                         {{dataObj[config.modelName1]}}
                     </span>

                    <span ng-show="config.showCode" ng-repeat="columnObj in config.columns">
                        <span class="text-capitalize" ng-show="!columnObj.seperator"  ng-class="{'text-danger':dataObj.status=='Block'}">{{dataObj[columnObj.title]}}</span>
                        <span class="text-capitalize" ng-show="columnObj.seperator"  ng-class="{'text-danger':dataObj.status=='Block'}">[{{dataObj[columnObj.title]}}]</span>
                    </span>
                    </li>
                </ul>
            </div>
            <div ng-show="config && config.address" >
                <div class="row  nomargin ptb-15 bor-btm-1" ng-repeat="dataObj in  data track by $index" ng-click="rowSelectAddress(dataObj,$index);" ng-class="{'bg-info' : selected == $index}">
                    <div class="col-xs-12" >
                        <ul class="list-unstyled mb-15">
                            <li class="text-info mb-10"><i ng-show="dataObj.addressType=='Primary'" class="fa fa-star-o"></i> {{dataObj.addressType}}</li>
                            <li>#{{dataObj.poBox}} {{dataObj.addressLine1}},</li>
                            <li>{{dataObj.addressLine2}}</li>
                            <li ng-show="dataObj.addressLine3">{{dataObj.addressLine3}}</li>
                            <li>{{dataObj.cityMaster.cityName}} - {{dataObj.zipCode}}</li>
                            <li>{{dataObj.stateMaster.stateName}}</li>
                        </ul>
                        <div class="row">
                            <div class="col-xs-6" ng-show="dataObj.mobileNo">
                                <p><i class="fa fa-phone"></i> {{dataObj.mobileNo}}</p>
                            </div>
                            <div class="col-xs-6" ng-show="dataObj.phone">
                                <p><i class="fa fa-phone-square"></i> {{dataObj.phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!--ROW ENDS-->
    </div>
</div>