<style>
.daterangepicker { 
  z-index:999999 !important;
  /* Calendars */ }
</style>

<div class="modal resModal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Charge Details</h4>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="saveEnquiryChargeList(enquiryRateChargeDummy.enquiryChargeIndex)">Save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:367px; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bor-t1">
                   <div class="row nomargin pt5 noborder shade3">
                        <enquiry-charge-table
                                depend-data="tableData[enquiryRateChargeDummy.enquiryChargeIndex]"
                         		index-key = "enquiryRateChargeDummy.enquiryChargeIndex"
                                table-data="tableData[enquiryRateChargeDummy.enquiryChargeIndex].chargeList"
                                table-check="rateRequest.isRateChargeCheck"
                                fn-role="roleAccess(param)"
                                add-role="$roleConstant.SALE_ENQUIRY_RATE_REQUEST_CREATE"
                                edit-role="$roleConstant.SALE_ENQUIRY_RATE_REQUEST_MODIFY"
                                delete-role="$roleConstant.SALE_ENQUIRY_RATE_REQUEST_DELETE"
                                >
                        </enquiry-charge-table>
                    </div>
                    </div>
                </div>
            </div><!--body ends-->


<!--             <div class="modal-footer modfooter">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="flightScheduleLimit"
                                                        ng-change="flightScheduleLimitChange(flightScheduleLimit)" ng-options="v for v in flightScheduleLimitArray">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <pagination-dr  page="flightSchedulePage" size="flightScheduleLimit" total=flightScheduleTotalRecord page-change="flightScheduleChangePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                                         -->
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


