<div class="container-fluid pl0 pr0 page-style">
    <div class="row " >
        <div class="list-container col-md-12" ng-show="enquiryLog.id==null" >
            <div class="row nomargin">
                <ul class="nav btn-tab2">
                    <li ng-init="detailTab=true; quoteCreated=false; all=false" 
                    ng-class="detailTab==true?'activeBtnblue':'active'" ng-click="detailTab=true; quoteCreated=false; all=false ">
                        GL Setup
                    </li>
                    <li ng-class="quoteCreated==true?'activeBtnblue':'active'" ng-click="detailTab=false; quoteCreated=true; all=false ">
                        AR & AP Setup
                    </li>
                    <li ng-class="all==true?'activeBtnblue':'active'" ng-click="detailTab=false; quoteCreated=false; all=true ">
                        Charge Setup
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                    
                    
            <!--tab one start--> 
                    
           <div ng-hide="!detailTab">
              <div class="col-md-12 nopadding "> 
                <div class="col-md-10 pl0 pr0 mt-5">
                <div class="col-xs-12">
                 <div class="panelTitle">
                 
                 <button type="button" tabindex="-1" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="quotemodel()">
										<i class="icon-add"></i>  Add GL
									</button> 
                    </div> 
                       </div>
                        </div>
              
                        <div class="col-md-10 pl0 pr0">
                      <div class="col-md-12 pl0 pr0">  
                        <!-- start first coloum -->                    
                           <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                               <label>GL Head Name<span>*</span></label> 
                                 <div class="select-auto">
									<input type="text" class="form-control" placeholder="Assets">
									<span class="select-arrow"><b></b></span>
									 </div>
								    </div><!--COL ENDS-->
                                  
                                  </div>  
                                         
                                 <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                             <label>Group Name<span>*</span></label> 
                                 <div class="select-auto">
									<input type="text" class="form-control" placeholder="Fixed Assets">
									<span class="select-arrow"><b></b></span>
									 </div>
								    </div><!--COL ENDS-->
                                   
                                  </div>  
                                   
                                    
                            <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                              <label>Group Code<span>*</span></label> 
								  <input type="text" class="form-control text-left" placeholder="1">
                                    </div><!--COL ENDS-->
                                   </div>
                                  
                                  
                                  
                               <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                              <label>Sub Group Name<span>*</span></label> 
                                 <div class="select-auto">
									<input type="text" class="form-control" placeholder="Fixed assets at cost">
									<span class="select-arrow"><b></b></span>
									 </div>
								    </div><!--COL ENDS-->
                                 </div>
                                 </div>
                                   <!-- End first coloum --> 
                                
                                  
                                    <!-- start second coloum -->     
                              <div class="col-md-12 pl0 pr0">                
                              <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                             <label>Sub Group<span>*</span></label> 
                                <input type="text" class="form-control" placeholder="10">
									</div><!--COL ENDS-->
                                   </div>  
                                         
                                 <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                             <div class="row nomargin">
                                 <label>GL Account Name<span>*</span></label> 
                                 <div class="select-auto">
									<input type="text" class="form-control" placeholder="Cell Phone">
									<span class="select-arrow"><b></b></span>
									 </div>
								    </div><!--COL ENDS-->
                                   </div>  
                                  
                                   
                                    
                            <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                               <div class="row nomargin">
                                 <label>Account Name<span>*</span></label> 
								 <div class="select-auto">
									<input type="text" class="form-control" placeholder="Mobile">
									<span class="select-arrow"><b></b></span>
									 </div>
                                    </div><!--COL ENDS-->
                                   </div>  
                                
                                  
                               <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                               <label>Account No<span>*</span></label> 
                                 <input type="text" class="form-control" placeholder="1010010">
									 </div><!--COL ENDS-->
                                   </div>  
                                
                                   <!-- End second coloum --> 
                                 </div>  

 
                       <div class="col-md-12 pl0 pr0"> 
                                  
                                   <!-- start third coloum -->   
                                    <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                               <label>Account Code<span>*</span></label> 
                                 <input type="text" class="form-control" placeholder="110101010010" disabled>
									 </div><!--COL ENDS-->
                                   </div>  
                               
                                                     
                            <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                              <label>Subledger Account</label>
                                    <ul class="list-inline">
															<li ng-class="{'opc-5':vm.locationMaster.isHeadOffice}">No</li>
															<li class="v-align-top">
																<span class="green switch green ng-not-empty ng-valid" ng-click="undefined ? vm.locationMaster.isHeadOffice : vm.locationMaster.isHeadOffice=!vm.locationMaster.isHeadOffice" ng-class="{ checked:vm.locationMaster.isHeadOffice, disabled:undefined }" tabindex="0" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice"><small></small><input type="checkbox" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice" style="display:none" class="ng-pristine ng-untouched ng-valid ng-empty"><span class="switch-text"> </span></span>
															</li>
															<li ng-class="{'opc-5':!vm.locationMaster.isHeadOffice}" class="opc-5">Yes</li>
														</ul>
                                    </div><!--COL ENDS-->
                                   </div>  
                                 
                                  
                                         
                                 <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                              <label>Subledger Code<span>*</span></label> 
                                 <input type="text" class="form-control" placeholder="0">
									  </div><!--COL ENDS-->
                                   </div>  
                                  
                             <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                             <label>Group Account</label>
                                    <ul class="list-inline">
															<li ng-class="{'opc-5':vm.locationMaster.isHeadOffice}">No</li>
															<li class="v-align-top">
																<span class="green switch green ng-not-empty ng-valid" ng-click="undefined ? vm.locationMaster.isHeadOffice : vm.locationMaster.isHeadOffice=!vm.locationMaster.isHeadOffice" ng-class="{ checked:vm.locationMaster.isHeadOffice, disabled:undefined }" tabindex="0" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice"><small></small><input type="checkbox" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice" style="display:none" class="ng-pristine ng-untouched ng-valid ng-empty"><span class="switch-text"> </span></span>
															</li>
															<li ng-class="{'opc-5':!vm.locationMaster.isHeadOffice}" class="opc-5">Yes</li>
														</ul>
                                    </div><!--COL ENDS-->
                                   </div>  
                                 
                                  <!-- End first coloum --> 
                                  
                                </div>
                                
                                

                               <div class="col-md-12 pl0 pr0"> 
                                   <!-- start third coloum -->   
                                    <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                                       <div class="row nomargin">
                                      <label>Job Account</label>
                                    <ul class="list-inline">
															<li ng-class="{'opc-5':vm.locationMaster.isHeadOffice}">No</li>
															<li class="v-align-top">
																<span class="green switch green ng-not-empty ng-valid" ng-click="undefined ? vm.locationMaster.isHeadOffice : vm.locationMaster.isHeadOffice=!vm.locationMaster.isHeadOffice" ng-class="{ checked:vm.locationMaster.isHeadOffice, disabled:undefined }" tabindex="0" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice"><small></small><input type="checkbox" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice" style="display:none" class="ng-pristine ng-untouched ng-valid ng-empty"><span class="switch-text"> </span></span>
															</li>
															<li ng-class="{'opc-5':!vm.locationMaster.isHeadOffice}" class="opc-5">Yes</li>
														</ul>
                                    </div><!--COL ENDS-->
                                   </div> 
                                                     
                            <div class="col-xs-3 col-md-3 col-lg-3 mt-5">
                              <div class="row nomargin">
                               <label>Acrual Account</label>
                                    <ul class="list-inline">
															<li ng-class="{'opc-5':vm.locationMaster.isHeadOffice}">No</li>
															<li class="v-align-top">
																<span class="green switch green ng-not-empty ng-valid" ng-click="undefined ? vm.locationMaster.isHeadOffice : vm.locationMaster.isHeadOffice=!vm.locationMaster.isHeadOffice" ng-class="{ checked:vm.locationMaster.isHeadOffice, disabled:undefined }" tabindex="0" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice"><small></small><input type="checkbox" id="isHeadOffice" ng-model="vm.locationMaster.isHeadOffice" style="display:none" class="ng-pristine ng-untouched ng-valid ng-empty"><span class="switch-text"> </span></span>
															</li>
															<li ng-class="{'opc-5':!vm.locationMaster.isHeadOffice}" class="opc-5">Yes</li>
														</ul>
                                    </div><!--COL ENDS-->
                                   </div>  
                                 
                                  <!-- End first coloum --> 
                                  
                                </div>
                            </div>   
                            
                            
                            
                        
                        
                        <div class="col-md-2 pl0 pr0">
                        <div class="col-xs-12  pl0 pr0" style="margin-top:-20px;">
											<input tabindex="0" type="checkbox" ng-model="quotationDetail.quotationValueAddedTmpServiceList[$index].selected" ng-change="pupulateQuotationChargeList(quotationDetail.quotationValueAddedTmpServiceList[$index])" id="valueAddedServices5" class="magic-checkbox ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false"> 
												<label class="text custom-label ng-binding" for="valueAddedServices5">
												For Upload Multiple Records</label>
										</div>
                        
            
        <!-- start first coloum -->                    
                               <div class="col-xs-12 col-md-112 col-lg-12 mt-5">
            
                               <div class="logo-box mt-3">
                                     <div class="col-md-12 text-center">
                                         <ul class="list-unstyled">
                                            <li>XLS, CSV, XLX</li>
                                              <li> Drop Here</li>
                                               <li>  Or</li>
                                             <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
                                         </ul>
                                     </div>
                                  </div> 
                               </div> 
                                 <div class="col-xs-6  pr0 pt10">
                 <div class="panelTitle">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Template <i class="fa fa-download" aria-hidden="true"></i></a>
                       </div> 
                       </div> 	
                             	
                      <div class="col-xs-6 pl0 pr0 pt10">
                     <div class="panelTitle ml-10">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Upload <i class="fa fa-upload" aria-hidden="true"></i></a>
                       </div> 
                       </div>
                           </div>
                           
              <div class="col-xs-12 pl0 pr0">                   
           <div class="modal-body pt0" style="height:auto; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive pt10" >
                            <table class="table table-inline">
                                 <thead>
                                 <tr>
                                 <th class="text-left inl_xxs text-center">#</th>
                                 <th class="inl_l">GL Head Name</th>
                                 <th class="inl_l" >Group Name</th>
                                  <th class="text-left inl_xl text-center">Sub Group Name</th>
                                 <th class="inl_l">Accout Name</th>
                                 <th class="inl_l" >Accout Code</th>
                                 <th class="inl_s" >Action</th>
                                 </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="qData in quotationData">
                 					<td class="text-left inl_xxs text-center verticalaln">{{qData.Sno}}</td>
                                    <td class="inl_l verticalaln"><input class="form-control" type="text" ng-model="qData.Name"></td>
                                    <td class="inl_l" ><input class="form-control" type="text" ng-model="qData.Values"></td>
	                                  <td class="text-left inl_xl text-center"><input class="form-control" type="text" ng-model="qData.subgroupname"></td>
	                                 <td class="inl_l"><input class="form-control" type="text" ng-model="qData.accoutname"></td>
	                                 <td class="inl_l" ><input class="form-control" type="text" ng-model="qData.accountcode"></td>
	                                 <td>
			                        <ul class="list-inline">
			                        
			                        	<li>
			                                <a href="javascript:void(0);">
			                                   <i class="fa fa-pencil-square-o"></i>
			                                </a>
			                            </li>
			                            
			                            <li>
			                                <a href="javascript:void(0);" >
			                                   <i class="icon-delete"></i>
			                                </a>
			                            </li>
			                          </ul>
			
			                      </td> 
	                                 
                                  </td>
                                    </tr>
                                    </tbody>
                             </table>
                         </div>
                    </div>
                </div></div>
            </div><!--body ends-->           
                                  <!-- End first coloum --> 
                 
                    
           <div class="col-md-12"> 
                 <div class="row"> 
                    <hr class="nomargin">
                     <div class="col-xs-1 pull-right">
                      <div class="panelTitle pt10">
                       <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Next</a>
                       </div> 
                       </div>
                     </div>
                   </div> 
                 </div>
                       </div>  
                      <!--tab one end-->
                      
                      
                      
                      
                      
                      
                      
                         <!--tab two start-->
                        
                      <div ng-hide="!quoteCreated">
                        <div class="col-md-12 wizard-height-tab nomargin pl0">
                        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pr0 pl0 bor-right">
           <div class="row nomargin">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  mt-5">
            <label>Accounts Receivables</label>
               <input type="text" class="form-control" placeholder="receivablefiles.xls" disabled>
              </div>
                      <div class="col-xs-12 col-md-12 col-lg-12 pt10">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                      <!-- <span class="custom-label"><span class="fcolor">Company Logo</span> <span class="reqColor"></span></span> -->
                     <div class="file-drop-box mt-3">
                                     <div class="col-md-12 text-center">
                                         <ul class="list-unstyled">
                                             <li>XLS, CSV, XLX</li>
                                              <li> Drop Here</li>
                                               <li>  Or</li>
                                             <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
                                         </ul>
                                     </div>
                                  </div> 
                                        	
                   <div class="col-xs-6 pl0 pt10">
                 <div class="panelTitle">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Template <i class="fa fa-download" aria-hidden="true"></i></a>
                       </div> 
                       </div> 	
                             	
                       <div class="col-xs-6 pl0 pt10 ">
                     <div class="panelTitle ml-10">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Upload <i class="fa fa-upload" aria-hidden="true"></i></a>
                       </div> 
                       </div>        	
                             	
                             </div>    	
                              <div class="col-md-2"></div> 
                             </div>
                          
                       </div>
                     </div>
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pr0 pl0 bor-right">
         <div class="row nomargin">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  mt-5">
            <label>Accounts Payables</label>
                <input type="text" class="form-control" placeholder="payablefile.xls" disabled>
              </div>
                      <div class="col-xs-12 col-md-12 col-lg-12 pt10">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                      <!-- <span class="custom-label"><span class="fcolor">Company Logo</span> <span class="reqColor"></span></span> -->
                     <div class="file-drop-box mt-3">
                                     <div class="col-md-12 text-center">
                                         <ul class="list-unstyled">
                                             <li>XLS, CSV, XLX</li>
                                              <li> Drop Here</li>
                                               <li>  Or</li>
                                             <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
                                         </ul>
                                     </div>
                                  </div> 
                                        	
                   <div class="col-xs-6 pl0 pt10">
                 <div class="panelTitle">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Template <i class="fa fa-download" aria-hidden="true"></i></a>
                       </div> 
                       </div> 	
                             	
                       <div class="col-xs-6 pl0 pt10 ">
                     <div class="panelTitle ml-10">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Upload <i class="fa fa-upload" aria-hidden="true"></i></a>
                       </div> 
                       </div>        	
                             	
                             </div>
                                  <div class="col-md-2"></div>     	
                             </div>
                       </div>
                     </div>
                   </div>
                        
               <div class="col-md-12"> 
               <div class="row">
                 <hr class="nomargin">
                    <div class="col-xs-1 pull-right">
                    <div class="panelTitle pt10">
                      <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Next</a>
                       </div> 
                       </div>
                     </div> 
                    </div>  
                   </div>    
                         <!--tab two ends-->
                      
                      
                      
                      
                      
                       <!--tab three set-->
                     
                        <div ng-hide="!all">
                   <div class="col-md-12 nopadding "> 
                <div class="col-md-9 pl0 pr0 mt-5">
                <div class="col-xs-12">
                 <div class="panelTitle">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn">  <span class="icon-add"></span> Add Charge</a>
                       </div> 
                       </div>
                      
                      <div class="col-md-12 pl0 pr0">  
                        <!-- start first coloum -->                    
                           <div class="col-xs-6 col-md-6 col-lg-6 mt-5">
                              <div class="row nomargin">
                               <label>Charge Name<span>*</span></label> 
                                 <input type="text" class="form-control" placeholder="Airway bill">
									  </div><!--COL ENDS-->
                                  
                                  </div>  
                                         
                                <div class="col-xs-6 col-md-6 col-lg-6 mt-5">
                              <div class="row nomargin">
                             <label>Charge Code<span>*</span></label> 
                                	<input type="text" class="form-control" placeholder="Awb">
								    </div><!--COL ENDS-->
                                   
                                  </div>  
                                  </div>
                                   <!-- End first coloum --> 
                                   
                                   
                                   <div class="col-md-12 pl0 pr0">  
                        <!-- start first coloum -->                    
                           <div class="col-xs-6 col-md-6 col-lg-6 mt-5">
                              <div class="row nomargin">
                               <label>Charge Type<span>*</span></label> 
                                 <div class="select-auto">
									<input type="text" class="form-control" placeholder="Origin">
									<span class="select-arrow"><b></b></span>
									 </div>
								    </div><!--COL ENDS-->
                                  
                                  </div>  
                                         
                                 <div class="col-xs-6 col-md-6 col-lg-6 mt-5">
                              <div class="row nomargin">
                             <label>Calculation Type<span>*</span></label> 
                                 <div class="select-auto">
									<input type="text" class="form-control" placeholder="Shipment">
									<span class="select-arrow"><b></b></span>
									 </div>
								    </div><!--COL ENDS-->
                                   
                                  </div>  
                                  </div>
                                   <!-- End first coloum -->
                                </div>   
                            
                            
                            
                        
                        
                        <div class="col-md-3 pl0 pr0">
                        <div class="col-md-offset-2 col-md-10">
                        <div class="col-xs-12  pr0 mt-5 ">
											<input tabindex="0" type="checkbox" ng-model="quotationDetail.quotationValueAddedTmpServiceList[$index].selected" ng-change="pupulateQuotationChargeList(quotationDetail.quotationValueAddedTmpServiceList[$index])" id="valueAddedServices5" class="magic-checkbox ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false"> 
												<label class="text custom-label ng-binding" for="valueAddedServices5">
												For Upload Multiple Records</label>
										</div>
                        
                         <!-- start first coloum -->                    
                               <div class="col-xs-12 col-md-112 col-lg-12 mt-5">
            
                               <div class="file-drop-box mt-3">
                                     <div class="col-md-12 text-center">
                                         <ul class="list-unstyled">
                                            <li>XLS, CSV, XLX</li>
                                              <li> Drop Here</li>
                                               <li>  Or</li>
                                             
                                             <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
                                         </ul>
                                     </div>
                                  </div> 
                               </div> 
                                 <div class="col-xs-6 pt10">
                 <div class="panelTitle">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Template <i class="fa fa-download" aria-hidden="true"></i></a>
                       </div> 
                       </div> 	
                             	
                      <div class="col-xs-6  pr0 pt10">
                     <div class="panelTitle ml-10">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Upload <i class="fa fa-upload" aria-hidden="true"></i></a>
                       </div> 
                       </div>
                           </div>
                            </div>
              <div class="col-xs-12 pl0 pr0">                   
           <div class="modal-body pt0" style="height:auto; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive mt-15" >
                            <table class="table table-inline">
                                 <thead>
                                 <tr>
                                 <th class="text-left inl_xxs text-center">#</th>
                                 <th class="inl_xl">Charge Name</th>
                                 <th class="inl_l" >Charge Code</th>
                                  <th class="text-left inl_l text-center">Charge Type</th>
                                 <th class="inl_l">Calculation Type</th>
                                 <th class="inl_s" >Action</th>
                                 </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="allData in alltabData">
                 					<td class="text-left inl_xxs text-center verticalaln">{{allData.Sno}}</td>
                                    <td class="inl_l verticalaln"><input class="form-control" type="text" ng-model="allData.Name"></td>
                                    <td class="inl_l" ><input class="form-control" type="text" ng-model="allData.Values"></td>
	                                  <td class="text-left inl_xl text-center"><input class="form-control" type="text" ng-model="allData.subgroupname"></td>
	                                 <td class="inl_l"><input class="form-control" type="text" ng-model="allData.accoutname"></td>
	                                 <td>
			                        <ul class="list-inline">
			                        
			                        	<li>
			                                <a href="javascript:void(0);">
			                                   <i class="fa fa-pencil-square-o"></i>
			                                </a>
			                            </li>
			                            
			                            <li>
			                                <a href="javascript:void(0);" >
			                                   <i class="icon-delete"></i>
			                                </a>
			                            </li>
			                          </ul>
			
			                    </td> 
                                  </td>
                                    </tr>
                                    </tbody>
                             </table>
                         </div>
                    </div>
                </div></div>
            </div><!--body ends-->           
                                  <!-- End first coloum --> 
                    </div>
                   
            <div class="col-md-12"> 
                 <div class="row"> 
                 <hr class="nomargin">
                    <div class="col-xs-1 pull-right">
                 <div class="panelTitle pt10">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Next</a>
                       </div> 
                       </div>
                     </div>
               </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
</div>