<div class="row wizard-height">
	<div class="col-xs-12 col-md-12 col-sm-12 mt-5">
		<h4>Let's get started with your company info</h4>
	</div>
	<div class="row">
		<div class="col-xs-12 nomargin nopadding bor-0 pr0 pl0">
			<hr class="nomargin">
		</div>
	</div>

	<div class="col-xs-9 pl0 pr0">
		<div class="form-group mb0 overflow-hidden">
			<div class="row nomargin nopadding">
				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Salutation</label> 
						<select  class="form-control" id="salutation"
							ng-options="item for item in enum['SalutationType']"
							ng-model="locationSetup.salutation"
							ng-change="navigateToNextField('firstName')">
						</select>
					</div>
				</div>


				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
					<label>First Name<span>*</span></label>
						<input class="form-control" type="text" id="firstName"
							ng-model="locationSetup.firstName" 
							maxlength="100"/>
					</div>
				</div>



				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Last Name<span>*</span></label> 
						<input class="form-control" type="text" id="lastName"
							ng-model="locationSetup.lastName" 
							maxlength="100"/>
					</div>
				</div>


				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Country<span>*</span></label>
						<div class="select-auto">
							<input type="text" class="form-control" id="locationSetup.countryMaster"
								input-focus="{{errorMap.get('locationSetup.countryMaster')!=null}}"
								ng-class="{'error-control-auto':errorMap.get('locationSetup.countryMaster')!=null}"
								class="form-control" 
								autocomplete="off"
								ng-model="locationSetup.countryMaster"
								uib-typeahead="lovObject as lovObject.countryName for lovObject in getCountryList($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedCountry('phone');"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
						</div>
					</div>
				</div>


				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Phone<span>*</span></label>
						<input class="form-control" type="text" id="phone" ng-model="locationSetup.phone" maxlength="100"/>
					</div>
				</div>



				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Company Reg Name<span>*</span></label> 
						<input class="form-control" type="text"  ng-model="locationSetup.companyRegisteredName" maxlength="100"/>
					</div>
				</div>

				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Company Reg Address 1<span>*</span></label>
						<input class="form-control" type="text" ng-model="locationSetup.addressLine1" maxlength="100"/>
					</div>
				</div>

				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label> Address 2</label> 
						<input class="form-control" type="text" ng-model="locationSetup.addressLine2" maxlength="100"/>
					</div>
				</div>

				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label> Address 3</label> 
						<input class="form-control" type="text" ng-model="locationSetup.addressLine3" maxlength="100"/>
					</div>
				</div>

				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Area</label>
						<input class="form-control" type="text"  ng-model="locationSetup.area" maxlength="100"/>
					</div>
				</div>

				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Province / state</label>
						<div class="select-auto">
							<input type="text" class="form-control"
								id="stateProvince"
								ng-class="{'error-control-auto':errorMap.get('state')!=null}"
								autocomplete="off" 
								ng-model="locationSetup.stateMaster" 
								uib-typeahead="lovObject as lovObject.stateName for lovObject in getStateList($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedState();"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> 
								<span class="select-arrow"><b></b></span>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>City</label>
						<div class="select-auto">
							<input type="text" 
								class="form-control"
								id="city"
								ng-class="{'error-control-auto':errorMap.get('city')!=null}"
								autocomplete="off" 
								ng-model="locationSetup.cityMaster" 
								uib-typeahead="lovObject as lovObject.cityName for lovObject in getCityList($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedCity('locationSetup.zipCode');"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> 
								<span class="select-arrow"><b></b></span>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Zip</label>
						<input type="text" class="form-control" ng-model="locationSetup.zipCode" maxlength="10" id="zipCode"/>
					</div>
				</div>

				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin">
						<label>Region</label>
						<div class="select-auto">
							<input type="text" class="form-control" id="regionName"
								autocomplete="off" ng-model="locationSetup.regionMaster"
								uib-typeahead="lovObject as lovObject.regionName for lovObject in getRegionList($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-on-select="selectedRegion('zoneName');"
								typeahead-focus-on-select="false"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-focus-first="true" typeahead-editable="false"
								typeahead-min-length="1" typeahead-wait-ms="500">
							<span class="select-arrow"><b></b></span>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4 col-lg-4 mt-5 mb10">
					<div class="row nomargin">
						<label class="custom-label">Head Office</label>
						<ul class="list-inline">
							<li class="pl0" ng-class="{'opc-5':locationSetup.isHeadOffice}">No</li>
							<li class="v-align-top">
								<switch id="isHeadOffice"
									tabindex="0" ng-model="locationSetup.isHeadOffice"
									class="green">
								</switch>
							</li>
							<li ng-class="{'opc-5':!locationSetup.isHeadOffice}">Yes</li>
						</ul> 
					</div>
				</div>


				<div class="col-xs-4 col-md-4 col-lg-4 mt-5 mb-20">
					<div class="row nomargin">
						<div class="col-md-12 pl0 pr0 captchas">
							<div class="col-md-1 "></div>
							<div class="col-md-11 ">
								<input tabindex="0" type="checkbox" class="magic-checkbox">
								<label>Iam not a Robot</label> <img
									src="../../../../assets/images/captcha.png" /><br>
							</div>
							<!--COL ENDS-->
						</div>
					</div>
				</div>



				<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
					<div class="row nomargin pt15">

						<div class="col-md-2 pl0 ">
							<input tabindex="0" type="checkbox" class="magic-checkbox">
							<label></label>
						</div>
						<div class="col-md-8 pl0">
							<label class="border-blue">Terms and Conditions</label>
						</div>
					</div>
					<!--COL ENDS-->

				</div>

				<!-- End sixth coloum -->

			</div>
		</div>
	</div>



	<div class="col-xs-3 pl0 pr0 mt-5">
		<div class="form-group mb0 overflow-hidden">
			<div class="row nomargin nopadding">
				<div class="col-xs-12 col-md-12 col-lg-12 ">
					<div class="row">
						<div class="col-md-12">
							<label>Email<span>*</span></label> 
							<input type="text" class="form-control"
								id="email"
								ng-model="locationSetup.email"
								ng-blur="validateEmail(locationSetup)?'':navigateToNextField('email')"
								ng-class="{'error-control':errorMap.get('email')!=null}"
								maxlength="500">
							<div>
								<span class="error-message" ng-show="errorMap.get('email')!=null"><small>{{errorMap.get('email')}}</small></span>
							</div>
						</div>
						<!--COL ENDS-->
					</div>
				</div>


				<!-- Logo Starts Here -->
				<div class="col-xs-12 col-md-12 col-lg-12 mt-5">
                            <label class="custom-label">Company Logo</label>

                            <div ng-show="uploadText == true && isBusy != true" ngf-drop ngf-select ng-model="logo"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                                 accept="image/*" ng-change="uploadImage(logo)"
                                 ngf-pattern="'image/*'"
                                 class="file-drop-box">
                                <div class="col-md-12 text-center">
                                    <ul class="list-unstyled">
                                        <li>Drop Here</li>
                                        <li>Or</li>
                                        <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
                                    </ul>
                                </div>
                            </div>

                            <div ng-show="!uploadText && isBusy ==true" class="rel img-box">
                                <attach-Spinner  spinner-status="true"></attach-Spinner>
                            </div>

                            <div ng-show="uploadText == false && isBusy != true" ngf-select ngf-drop ng-model="logo" ngf-multiple="false" ng-change="uploadImage(logo)" class="rel img-box" ng-mouseover="showBackDrop=true"
                                 ng-mouseleave="showBackDrop=false">
                                <img ng-src="data:image/jpeg;base64,{{locationSetup.encodedLogo}}" class="display-block">
                                <div class="wrapper-back-drop hide-transition" ng-show="showBackDrop">
                                        <span class="cursorPt overlay-img-btn" ngf-select ngf-drop ng-model="logo" ngf-multiple="false" ng-change="uploadImage(logo)">
                                            <i class="fa fa-upload"></i>
                                        </span>
                                </div>
                            </div>
					<div>
						<span class="error-message" ng-show="errorMap.get('logo')!=null"><small>{{errorMap.get('logo')}}</small></span>
					</div>

				</div>
				<!-- Logo Stops Here -->
			</div>
		</div>
	</div>
</div>



<hr class="nomargin">
<div class="row">
	<div class="col-xs-1 pull-right">
		<button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="createLocation()">Submit</button>
	</div>
</div>
