<div class="row wizard-height">
	<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 pr0 pl0 mt-5">
		<div class="row nomargin ">
			<div class="col-xs-4 col-sm-4 col-xs-12">
				<div class="row nomargin">
					<label>Currency</label>
					<div class="select-auto">
							<input type="text" class="form-control" id="currencyMaster"
								input-focus="{{errorMap.get('locationSetup.configInformation.currencyMaster')!=null}}"
								ng-class="{'error-control-auto':errorMap.get('locationSetup.configInformation.currencyMaster')!=null}"
								class="form-control" 
								autocomplete="off"
								ng-model="locationSetup.configInformation.currencyMaster"
								uib-typeahead="lovObject as lovObject.currencyName for lovObject in getCurrencyList($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedCountry('phone');"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
					</div>
				</div>
			</div>


			<div class="col-xs-4 col-sm-4 col-xs-12">
				<div class="row nomargin">
					<label class="custom-label ">Decimal<span class="reqColor">*</span></label> 
					<select class="form-control"
						ng-model="locationSetup.configInformation.decimalPoint"  ng-change="bindDenomination()">
						<option></option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
			</div>


			<div class="col-xs-4 col-sm-4 col-xs-12 ">
				<div class="row nomargin">
					<label class="custom-label">Measurements</label>
					<ul class="list-inline">
							<li class="pl0" ng-class="{'opc-5':locationSetup.configInformation.measurements}">No</li>
							<li class="v-align-top">
								<switch id="measurements"
									tabindex="0" ng-model="locationSetup.configInformation.measurements"
									class="green">
								</switch>
							</li>
							<li ng-class="{'opc-5':!locationSetup.configInformation.measurements}">Yes</li>
					</ul> 
				</div>
			</div>
		</div>
	</div>



	<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 pr0 pl0 mt-5">
		<div class="row nomargin ">
			<div class="col-xs-4 col-sm-4 col-xs-12">
				<label>Financial Start Month and year</label>
				<div class="inputBox">
					<input id="blockDate"
						class="form-control ng-pristine ng-valid ng-isolate-scope ng-empty ng-touched"
						ng-model="vm.daybookMaster.blockDate" datetimepicker=""
						date-callback="nextFocus('status')"
						datetimepicker-options="{&quot;format&quot;:&quot;YYYY-MM-DD&quot;,&quot;useCurrent&quot;:false,&quot;widgetParent&quot;:&quot;body&quot;}"
						aria-invalid="false" placeholder="April/2017"> <span
						class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
				</div>
			</div>

			<div class="col-xs-4 col-sm-4 col-xs-12">
				<label>Financial End Month and year</label>
				<div class="inputBox">
					<input id="blockDate"
						class="form-control ng-pristine ng-valid ng-isolate-scope ng-empty ng-touched"
						ng-model="vm.daybookMaster.blockDate" datetimepicker=""
						date-callback="nextFocus('status')"
						datetimepicker-options="{&quot;format&quot;:&quot;YYYY-MM-DD&quot;,&quot;useCurrent&quot;:false,&quot;widgetParent&quot;:&quot;body&quot;}"
						aria-invalid="false" placeholder="March/2018"> <span
						class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
				</div>
			</div>

			<div class="col-xs-4 col-sm-4 col-xs-12">
				<div class="row ">
					<div class="col-md-12 col-xs-12 ">
						<label>Language</label>
						<div class="select-auto">
							<input type="text" class="form-control" id="language"
								input-focus="{{errorMap.get('locationSetup.configInformation.language')!=null}}"
								ng-class="{'error-control-auto':errorMap.get('locationSetup.configInformation.language')!=null}"
								class="form-control" 
								autocomplete="off"
								ng-model="locationSetup.configInformation.language"
								uib-typeahead="lovObject as lovObject.languageName for lovObject in getLanguageList($viewValue)"
								typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
								typeahead-show-hint="true" typeahead-show-loading="true"
								typeahead-select-on-exact="true" typeahead-append-to-body="true"
								typeahead-on-select="selectedCountry('phone');"
								typeahead-focus-on-select="false" typeahead-focus-first="true"
								typeahead-editable="false" typeahead-min-length="1"
								typeahead-wait-ms="500"> <span class="select-arrow"><b></b></span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>




	<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 pr0 pl0 mt-5">
		<div class="row nomargin">
			<div class="col-xs-4 col-sm-4 col-xs-12">
				<div class="row ">
					<div class="col-md-12 col-xs-10 ">
						<label>Time Zone</label>
						 <select 	class="form-control" 
									ng-options="item for item in timeZoneList" ng-model="locationSetup.configInformation.timeZone">
						</select>
					</div>
				</div>
			</div>

			<div class="col-xs-4 col-sm-4 col-xs-12">
				<div class=" nomargin pl0">
					<label class="custom-label">Date Format</label> <input type="text"
						class="form-control" placeholder="5/8/2017"
						input-focus="{{vm.errorMap.get('dateFormat')!=null}}"
						maxlength="100" id="dateFormat" maxlength="100"
						ng-class="{'error-control':vm.errorMap.get('dateFormat')!=null}"
						ng-change="vm.validate('dateFormat', 5)"
						ng-model="vm.locationMaster.dateFormat" /> <span> <small
						class="fsmallsize">(Note:DD-date,MM-month,YYYY-year)</small>
					</span> <span class="error-message"
						ng-show="vm.errorMap.get('dateFormat')!=null"> <small>{{vm.errorMap.get('dateFormat')}}</small>
					</span>
				</div>

			</div>

			<div class="col-xs-4 col-sm-4 col-xs-12">
				<div class="row nomargin">
					<label>Time Format</label>
					<div class="select-auto">
						<input type="text" class="form-control" placeholder="0-12 hrs">
						<span class="select-arrow"><b></b></span>
					</div>
				</div>
				<!--COL ENDS-->
			</div>
		</div>

	</div>
</div>


<div class="row">
	<hr class="nomargin">
	<div class="col-xs-1 pull-right">
		<div class="panelTitle pt10">
			<a href="#" class="btn btn-primary btn-xs btn-property accent-btn">
				Next</a>
		</div>
	</div>
</div>
<!--row ends-->

