<div class="row wizard-height">
	<div class="row">
		<div class="col-xs-12 nomargin nopadding bor-0 pr0 pl0">
			<hr class="nomargin">
		</div>
	</div>

	<div class="col-md-4"></div>



	<div class="col-xs-4 col-md-4 col-lg-4 mt-5">
		<div class="col-xs-12 col-md-12 col-lg-12 pl0 pr0 mt-5">
			<div class="row nomargin login-form">
				<label>Position<span>*</span></label> 
				<input type="text" class="form-control" ng-model="locationSetup.loginInformation.position" maxlength="100">
			</div>
			<!--COL ENDS-->
		</div>


		<div class="col-xs-12 col-md-12 col-lg-12 pl0 pr0 mt-5">
			<div class="row nomargin login-form">
				<label>Username<span>*</span></label> 
				<input type="text" class="form-control" ng-model="locationSetup.loginInformation.userName" maxlength="100">
			</div>
		</div>



		<div class="col-xs-12 col-md-12 col-lg-12 pl0 pr0 mt-5">
			<div class="row nomargin login-form">
				<label>Password<span>*</span></label> 
				<input type="text" class="form-control" ng-model="locationSetup.loginInformation.password" maxlength="100">
			</div>
		</div>



		<div class="col-xs-12 col-md-12 col-lg-12 pl0 pr0 mt-5">
			<div class="row nomargin login-form">
				<label>Confirm Password<span>*</span></label> 
				<input type="text" class="form-control" ng-model="locationSetup.loginInformation.confirmPassword" maxlength="100">
			</div>
		</div>


		<div class="col-xs-12 col-md-12 col-lg-12 pl0 pr0 mt-5">
			<div class="row nomargin login-form">
				<label>Select Services<span>*</span></label>
				<div class="select-auto">
					<input type="text" class="form-control" placeholder="Air Import">
					<span class="select-arrow"><b></b></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>



<div class="row">
	<hr class="nomargin">
	<div class="col-xs-1 pull-right">
		<div class="panelTitle pt10">
			<a class="btn btn-primary btn-xs btn-property accent-btn" ng-click="createLogin()"> Continue </a>
		</div>
	</div>
</div>


