<div class="container-fluid pl0 pr0 page-style">
    <div class="row " >
        <div class="list-container col-md-12 mainview" ng-show="enquiryLog.id==null" >
            <div class="row nomargin">
                <ul class="nav btn-tab2" >
                    <li ng-init="detailTab=true; quoteCreated=false; all=false; adns=false" ng-class="detailTab==true?'activeBtnblue':'active'" ng-click="detailTab=true; quoteCreated=false; all=false ">
                        Tax/VAT Setup
                    </li>
                    <li ng-class="quoteCreated==true?'activeBtnblue':'active'" ng-click="detailTab=false; quoteCreated=true; all=false; adns=false ">
                       Job Number Setup
                    </li>
                    <li ng-class="all==true?'activeBtnblue':'active'" ng-click="detailTab=false; quoteCreated=false; all=true; adns=false ">
                        Job Date Setup
                    </li>
                    <li ng-class="adns==true?'activeBtnblue':'active'" ng-click="detailTab=false; quoteCreated=false; all=false; adns=true ">
                        Accounting Document Number Setup
                    </li>
                    
                </ul>
                 
            </div>
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                    
                    
                    <!--tab one start--> 
                    
           <div ng-hide="!detailTab">
              <div class="col-md-12 nopadding wizard-height-tab"> 
                 <div class="col-xs-4 col-md-4 col-lg-4 mt-5">
                              <div class="row nomargin">
                               <label>Service Tax No</label> 
                              <input type="text" class="form-control" >
									  </div><!--COL ENDS-->
                                  
                                  </div> 
                      	
                <div class="col-xs-12 pl0 pr0">                   
           <div class="modal-body pt0" style="height:auto; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive mt-15" >
                            <table class="table table-inline">
                                 <thead>
                                 <tr>
                                 <th class="text-left inl_xxs text-center">#</th>
                                 <th class="inl_l">Service Name</th>
                                 <th class="inl_l" >Charge Name</th>
                                 <th class="inl_l ">Charge Code</th>
                                 <th class="inl_m">Catagory Name</th>
                                 <th class="inl_m" >Catagory Code</th>
                                 <th class="inl_s">Percentage</th>
                                 <th class="inl_l" >Valid From</th>
                                 <th class="inl_s" >Action</th>
                                 </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="othersData in otherstabData">
                 					<td class="text-left inl_xxs text-center verticalaln">{{othersData.Sno}}</td>
                                    <td class="inl_l verticalaln">
                                    <div class="select-auto">
									<input class="form-control" type="text" ng-model="othersData.Name">
									<span class="select-arrow"><b></b></span>
									 </div>
                                    </td>
                                    <td class="inl_l" >
                                    <div class="select-auto">
                                    <input class="form-control" type="text" ng-model="othersData.chaName">
                                    <span class="select-arrow"><b></b></span>
									 </div></td>
	                                <td class="inl_l"><input class="form-control" type="text" ng-model="othersData.chacode"></td>
	                                <td class="inl_m">
	                                <div class="select-auto">
	                                <input class="form-control" type="text" ng-model="othersData.catname">
	                                <span class="select-arrow"><b></b></span>
									 </div>
	                                </td>
	                                <td class="inl_m" ><input class="form-control" type="text" ng-model="othersData.catcode"></td>
	                                <td class="inl_s"><input class="form-control" type="text" ng-model="othersData.percentage"></td>
	                                <td class="inl_l" >
	                                 <div class="inputBox">
                                 <input type="text" class="form-control" ng-model="othersData.date">
                               <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                      </div>
	                                   </td>
	                                 <td class="inl_s">
			                        <ul class="list-inline">
			                        
			                        	<li>
			                                <a href="javascript:void(0);">
			                                   <i class="fa fa-plus-square-o"></i>
			                                </a>
			                            </li>
			                            
			                            <li>
			                                <a href="javascript:void(0);" >
			                                   <i class="icon-delete"></i>
			                                </a>
			                            </li>
			                          </ul>
			
			                    </td>   
	                                   
	                            
                                  </td>
                                    </tr>
                                    </tbody>
                             </table>
                         </div>
                    </div>
                </div></div>
            </div><!--body ends-->           
                                  <!-- End first coloum --> 
                    </div>
                 
            <div class="col-md-12"> 
                 <div class="row"> 
                 <hr class="nomargin">
                    <div class="col-xs-1 pull-right">
                 <div class="panelTitle pt10">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Next</a>
                       </div> 
                       </div>
                     </div>
               </div>
                  </div>      
                      
                        
                          <!--tab one end-->
                         <!--tab two start-->
                        
                      <div ng-hide="!quoteCreated">
                     
                     <div class="col-xs-12 pl0 pr0 wizard-height-tab">                   
            <div class="modal-body pt0" style="height:auto; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive mt-15" >
                            <table class="table table-inline">
                                 <thead>
                                 <tr>
                                 <th class="text-left inl_xxs text-center">#</th>
                                 <th class="inl_l">Service Name</th>
                                 <th class="inl_m" >Number Of Digits</th>
                                 <th class="inl_m ">Prefix</th>
                                 <th class="inl_m">Year</th>
                                 <th class="inl_m" >Month</th>
                                 <th class="inl_l">Starting Job Number</th>
                                 <th class="inl_l" >Suffix</th>
                                 <th class="inl_s" >Action</th>
                                 </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="jobsetdata in jobnumsetup">
                 					<td class="text-left inl_xxs text-center verticalaln">{{jobsetdata.Sno}}</td>
                                    <td class="inl_l verticalaln">
                                    <div class="select-auto">
									<input class="form-control" type="text" ng-model="jobsetdata.Servicename">
									<span class="select-arrow"><b></b></span>
									 </div>
                                    </td>
                                    <td class="inl_m" ><input class="form-control" type="text" ng-model="jobsetdata.Nofdigit">   </td>
                                 <td class="inl_m"><input class="form-control" type="text" ng-model="jobsetdata.prefix"></td>
	                                <td class="inl_m">
	                               <input class="form-control" type="text" ng-model="jobsetdata.year">
	                                 </td>
	                                <td class="inl_m" ><input class="form-control" type="text" ng-model="jobsetdata.month"></td>
	                                <td class="inl_s"><input class="form-control" type="text" ng-model="jobsetdata.sjn"></td>
	                                <td class="inl_l" >
	                                <input type="text" class="form-control" ></td>
                                <td class="inl_s">
			                        <ul class="list-inline">
			                        
			                        	<li>
			                                <a href="javascript:void(0);">
			                                   <i class="fa fa-plus-square-o"></i>
			                                </a>
			                            </li>
			                            
			                            <li>
			                                <a href="javascript:void(0);" >
			                                   <i class="icon-delete"></i>
			                                </a>
			                            </li>
			                          </ul>
			
			                    </td>  
                                  </td>
                                    </tr>
                                    </tbody>
                             </table>
                         </div>
                    </div>
                </div></div>
            </div>
                        
               <div class="col-md-12"> 
                 <div class="row"> 
                    <hr class="nomargin">
                     <div class="col-xs-1 pull-right">
                      <div class="panelTitle pt10">
                       <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Next</a>
                       </div> 
                       </div>
                     </div>
                   </div>    
                        
                      </div>    
                        
                        <!--tab two ends-->
                      
                        <div ng-hide="!all">
                        
                <div class="col-xs-12 wizard-height-tab">
                    <div class="col-xs-3 pt10">
                     <label>Export</label> 
                             <button-group 
                                   states="setUpexport"
									btn-id="transportMode"
									state="othexport.transportMode"
									on-state-change="validatePortMaster(1)"
									input-focus="{{errorMap.get('transportMode')!=null}}"> </button-group>
                                        </div>                          
            
           <div class="col-xs-3 pt10">
           <label>Import</label> 
                             <button-group 
                                   states="setUpimport"
									btn-id="transportMode"
									state="impotMaster.transportMode"
									on-state-change="validatePortMaster(1)"
									input-focus="{{errorMap.get('transportMode')!=null}}"> </button-group>
                                        </div>  
                                        </div>   
                                        
                                        
                                        
                                        
                                        
                                        <div class="col-md-12"> 
                 <div class="row"> 
                 <hr class="nomargin">
                    <div class="col-xs-1 pull-right">
                 <div class="panelTitle pt10">
                     <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Next</a>
                       </div> 
                       </div>
                     </div>
               </div>  
                          </div>
                    
                    
                    
                <div ng-hide="!adns">     
                    
                <div class="col-xs-12 pl0 pr0 wizard-height-tab">                   
            <div class="modal-body pt0" style="height:auto; overflow:auto;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive mt-15" >
                            <table class="table table-inline">
                                 <thead>
                                 <tr>
                                 <th class="text-left inl_xxs text-center">#</th>
                                 <th class="inl_l">Service Name</th>
                                 <th class="inl_m" >Number Of Digits</th>
                                 <th class="inl_m ">Prefix</th>
                                 <th class="inl_m">Year</th>
                                 <th class="inl_m" >Month</th>
                                 <th class="inl_l">Starting Job Number</th>
                                 <th class="inl_l" >Suffix</th>
                                 <th class="inl_s" >Action</th>
                                 </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="adnsetup in accoutdocumentsetup">
                 					<td class="text-left inl_xxs text-center verticalaln">{{adnsetup.Sno}}</td>
                                    <td class="inl_l verticalaln">
                                    <div class="select-auto">
									<input class="form-control" type="text" ng-model="adnsetup.Servicename">
									<span class="select-arrow"><b></b></span>
									 </div>
                                    </td>
                                    <td class="inl_m" ><input class="form-control" type="text" ng-model="adnsetup.Nofdigit">   </td>
                                 <td class="inl_m"><input class="form-control" type="text" ng-model="adnsetup.prefix"></td>
	                                <td class="inl_m">
	                               <input class="form-control" type="text" ng-model="adnsetup.year">
	                                 </td>
	                                <td class="inl_m" ><input class="form-control" type="text" ng-model="adnsetup.month"></td>
	                                <td class="inl_s"><input class="form-control" type="text" ng-model="adnsetup.sjn"></td>
	                                <td class="inl_l" >
	                                <input type="text" class="form-control" ></td>
                              
                                  <td class="inl_s">
			                        <ul class="list-inline">
			                        
			                        	<li>
			                                <a href="javascript:void(0);">
			                                   <i class="fa fa-plus-square-o"></i>
			                                </a>
			                            </li>
			                            
			                            <li>
			                                <a href="javascript:void(0);" >
			                                   <i class="icon-delete"></i>
			                                </a>
			                            </li>
			                          </ul>
			
			                    </td>  
                                  </td>
                                    </tr>
                                    </tbody>
                             </table>
                         </div>
                    </div>
                </div></div>
            </div>
                        
               <div class="col-md-12"> 
                 <div class="row"> 
                    <hr class="nomargin">
                     <div class="col-xs-1 pull-right">
                      <div class="panelTitle pt10">
                       <a href="#" class="btn btn-primary btn-xs btn-property accent-btn"> Finish</a>
                       </div> 
                       </div>
                     </div>
                   </div>    
                        
                   </div>   
                    
        
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>