<div class="container-fluid resPortListPage resLandListPage">
	<div class="row ml0 mr0">
		<div ng-show="deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12 " >
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()">
									<i class="icon-add"></i> Add Document Prefix
								</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>

				<div class="panel-body no-tab-table p00" panel-height>
				<div success-message></div>
					<div show-response></div>
					<div class="table-fixed table-responsive"  ng-click="showLogs=false">
						<super-table 	data="documentPrefixArr"
										head="docPrefixHeadArr"
										sort="sortSelection"
										click-event="rowSelect(param)"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page" size="limit" >
						</super-table>
					</div>
					<!--<custom-table data="documentPrefixArr"-->
								  <!--head="docPrefixHeadArr"-->
								  <!--sort="sortSelection" -->
								  <!--search-event="changeSearch(param)" -->
								  <!--click-event="rowSelect(param)" -->
								  <!--sort-event="sortChange(param)"></custom-table>-->
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit"
										ng-change="limitChange(limit)" ng-options="v for v in limitArr">

								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12   m-pl0 ">
			<div class="panel panel-default detail-transition" ng-show="docPrefixMaster.id!=null">
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom"   bs-tooltip="back"  href="javascript:void(0)" ng-click="cancel()"
								   class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<span class="pl5">Document Prefix</span>
						</div>
					</div>
					<div>
						<ul class="list-inline">
							<!--<li><i class="icon-settings"></i></li>-->
							<li><a  href="javascript:void(0)" ng-class="{'active-activityBtn':showLogs}" ng-click="showLogs=!showLogs"
									><i class="icon-logs" data-placement="bottom"   bs-tooltip="activity" ></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="edit()"
								   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)"
								   ng-click="deleteMaster()" class="list-panel-edit-btn cursorPt"><i
									class="icon-delete"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="showLogs=false">
					<div class="row metadata-detail">
						<span >Name</span>
						<h5 >{{docPrefixMaster.documentName}}</h5>
					</div>
					<div class="row ">
						<ul class="list-inline">
							<li class="col-xs-6">
								<span >Code</span>
								<h5 >{{docPrefixMaster.documentCode}}</h5>
							</li>
							<li class="col-xs-6">
								<span >Status</span>
								<show-status status="{{docPrefixMaster.status}}"></show-status>
							</li>
						</ul>
					</div>
					<div class="row ">
						<ul class="list-inline">
							<li class="col-xs-6">
								<span >Prefix</span>
								<h5>{{docPrefixMaster.docPrefix}}</h5>
							</li>
							<li class="col-xs-6">
								<span>Suffix</span>
								<h5>{{docPrefixMaster.docSuffix}}</h5>
							</li>
							<!--<li class="col-xs-4">
								<span>Formula</span>
								<h5>{{docPrefixMaster.formula}}</h5>
							</li>-->
						</ul>
					</div>
					<div class="row bor-0 ">
						<ul class="list-inline">
							<li class="col-xs-6" ng-show="docPrefixMaster.addPOR!=null && docPrefixMaster.addPOR!='FALSE'">
								<span >POR</span>
								<h5>{{docPrefixMaster.addPOR=='TRUE'?'Yes':'No'}}</h5>
							</li>
							<li class="col-xs-6" ng-show="docPrefixMaster.addFDC!=null&&docPrefixMaster.addFDC!='FALSE'">
								<span>FDC</span>
								<h5>{{docPrefixMaster.addFDC=='TRUE'?'Yes':'No'}}</h5>
							</li>
						</ul>
					</div>
					<div>
						<h5 class="pad-15 sub-title">Formula</h5>
						<div class="jumbotron mlr-15 mb-15 formula-area">
							<p><span>{{docPrefixMaster.formula}}</span></p>
						</div>
					</div>
					<div class="row tableBox" ng-show="docPrefixMaster.docPrefixTypeMappingList!=null">
						<div class="col-md-12 pl0 pr0">
							<h5 class="pad-15 sub-title">Doc Prefix Type Mapping</h5>
							<div class="plr15 mt15px">
								<div class="table-responsive bor-0">
									<table  class="table table-inline mb-10">
								<thead class="borderthead">
								<tr>
									<th class="inl_sno">#</th>
									<th class="inl_sm">Logo</th>
									<th class="inl_m">Location</th>
									<th class="inl_m">Document Type</th>
									<th class="text-left inl_m">ReportName</th>
								</tr>
								</thead>
								<tbody>
								<tr data-ng-repeat="docTypeObj in docPrefixMaster.docPrefixTypeMappingList">
									<td>{{$index + 1}}</td>
									<td>
										<img class="img-circle" width="30" height="30"
											 data-ng-src="data:image/png;base64,{{docTypeObj.encodedLogo}}"
												>
									<td>{{docTypeObj.locationMaster.locationName}}</td>
									<td>{{docTypeObj.docType}}</td>
									<td class="text-left">{{docTypeObj.reportName}}</td>
								</tr>
								</tbody>
							</table>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="logs-view logs-transition " ng-show="showLogs">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="showLogs=false"
											   class="list-panel-back"><i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span >Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body">
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="docPrefixMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{docPrefixMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(docPrefixMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="docPrefixMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{docPrefixMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(docPrefixMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
