<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-md-12 col-lg-8 col-sm-12 col-xs-12">
            <form role="form" id="documentprefixform" name="documentprefixform"
                  ng-submit="docPrefixMaster.id!=null?update():save()">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading ">
                        <div>
                            <h4>{{docPrefixMaster.id!=null?'Edit':'Add'}} Document Prefix </h4>
                        </div>
                        <div>
                            <div class="btngrp">

                                    <button type="button" tabindex="-1" class="btn cancel-btn" ng-click="cancel()">Cancel </button>

                                    <button type="button" tabindex="-1" ng-click="docPrefixMaster.id!=null?update():save()"  class="btn accent-btn" >{{docPrefixMaster.id!=null?'Update':'Save'}}</button>

                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-detail" id="docprefix-panel" panel-height ng-nicescroll
                         nice-option="{{ngScrollConfig}}" tabindex="-1">
                        <div class="pad-15">
                            <div show-response></div>
                            
                            <div><span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group nomargin pl0">
                                
                                
                                
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 form-group nomargin pl0">
									<label class="custom-label">
                                    Name<span class="reqColor">*</span></label>
                                <input input-focus="true" type="text" class="form-control" id="documentName"
                                       name="documentName" ng-change="validateDocPrefixMaster(1)"
                                       ng-model="docPrefixMaster.documentName"
                                       ng-class="{'error-control':errorMap.get('documentName')!=null}"
                                       maxlength="100"  >
                                <div>
                                    <span class="error-message" ng-show="errorMap.get('documentName')!=null"><small>
                                        {{errorMap.get('documentName')}}
                                    </small></span>
                                </div>
								</div>
                               
                            </div>
                          </div>
                        
                       
                        <!--end row-->
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group nomargin pl0">
                                
                                
                                
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 form-group nomargin pl0">
									<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input type="text" class="form-control" id="documentCode"
										name="documentCode" ng-model="docPrefixMaster.documentCode"
										ng-class="{'error-control':errorMap.get('documentCode')!=null}"
										maxlength="10" capitalize ng-change="validateDocPrefixMaster(2)" ng-disabled="docPrefixMaster.id!=null">
									<div>
										<span class="error-message" ng-show="errorMap.get('documentCode')!=null"><small>{{errorMap.get('documentCode')}}</small></span>
									</div>
								</div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 form-group nomargin "
                                     ng-show="docPrefixMaster.id!=null">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="setStatus(docPrefixMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="docPrefixMaster.status" required>
                                    </select>
                                </div>
                            </div>
                          </div>
                        <div class="row ptb0">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group nomargin ptb-15 pl0">
                                <div class="row pad-15">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 form-group nomargin pl0">
                                    <label class="custom-label ">Prefix</label>
                                    <input type="text" ng-change="validateDocPrefixMaster(4)"
                                           class="form-control" id="docPrefix" name="docPrefix"
                                           ng-model="docPrefixMaster.docPrefix"
                                           ng-class="{'error-control':errorMap.get('docPrefix')!=null}"
                                           maxlength="20" 
                                           capitalize>

                                    <div>
                                        <span class="error-message" ng-show="errorMap.get('docPrefix')!=null"><small>
                                            {{errorMap.get('docPrefix')}}
                                        </small></span>
                                    </div>
                                    <span>Note: Date format in between #DD/MM/YYYY#</span>
                                    
                                </div>                                    
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 form-group nomargin">
                                    <label class="custom-label ">Suffix</label>
                                    <input type="text" ng-change="validateDocPrefixMaster(5)"
                                           class="form-control" id="docSuffix" name="docSuffix"
                                           ng-model="docPrefixMaster.docSuffix"
                                           ng-class="{'error-control':errorMap.get('docSuffix')!=null}"
                                           maxlength="20" 
                                           capitalize>

                                    <div>
                                        <span class="error-message" ng-show="errorMap.get('docSuffix')!=null"><small>
                                            {{errorMap.get('docSuffix')}}
                                        </small></span>
                                    </div>
                                      <span>Note: Date format in between #DD/MM/YYYY#</span>
                                </div>
                                </div>
                                <div class="row pad-15 mt15px">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 form-group nomargin pl0">
                                        <label class="custom-label">
                                            POR</label>
                                        <br/>
                                        <ul class="list-inline">
                                            <li ng-class="{'opc-5':docPrefixMaster.addPOR}">No</li>
                                            <li class="v-align-top"><switch tabindex="0" id="porenabled"
                                                        name="porenabled" 
                                                        ng-model="docPrefixMaster.addPOR"
                                                        class="green"></switch>
                                            </li>
                                            <li ng-class="{'opc-5':!docPrefixMaster.addPOR}">Yes</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 form-group nomargin pr0">
                                        <label class="custom-label">
                                            FDC</label>
                                        <br/>
                                        <ul class="list-inline">
                                            <li ng-class="{'opc-5':docPrefixMaster.addFDC}">No</li>
                                            <li class="v-align-top"><switch tabindex="0" id="fdcenabled"
                                                        name="fdcenabled"  
                                                        ng-model="docPrefixMaster.addFDC"
                                                        class="green"></switch></li>
                                            <li ng-class="{'opc-5':!docPrefixMaster.addFDC}">Yes</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group nomargin ptb-15 plr0">
                                <label class="custom-label">Formula Preview</label>

                                <div class="jumbotron nomargin formula-area">
                                    <p ng-bind="docPrefixMaster.formula">

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row nopadding bor-0">
                            <h5 class="title nomargin">Doc Prefix Type Mapping</h5>
                        </div>
                        <!--row ends-->
                        <div class="row noborder" ng-init="showForm=false">
                            <!--<div class="col-md-12 col-lg-12 col-xs-12 form-group nomargin pl0 pr0">-->
                                <!--<div class="fx-fade-left fx-duration-200 fx-speed-200" ng-show="!showForm">-->
                                    <!--<a href="javascript:void(0)" ng-click="addrow()" tabindex="-1"-->
                                       <!--class="btn btn-primary btn-xs btn-property accent-btn pull-left mb10">-->
                                        <!--<span class="icon-add "></span> Add Doc Prefix Type-->
                                    <!--</a>-->
                                    <!--<table class="table table-hover">-->
                                        <!--<thead>-->
                                        <!--<th>#</th>-->
                                        <!--<th>Logo</th>-->
                                        <!--<th>Location</th>-->
                                        <!--<th>Document Type</th>-->
                                        <!--<th>Report Name</th>-->
                                        <!--<th>Actions</th>-->
                                        <!--</thead>-->
                                        <!--<tbody>-->
                                        <!--<tr data-ng-repeat="docTypeObj in docPrefixMaster.docPrefixTypeMappingList track by $index">-->
                                            <!--<td>{{$index + 1}}</td>-->
                                            <!--<td>-->


                                            <!--<img-->
                                                     <!--ng-src="data:image/jpeg;base64,{{docTypeObj.encodedLogo}}"-->
                                                     <!--class="img-circle" width="30" height="30"/>-->
                                            <!--</td>-->
                                            <!--<td>{{docTypeObj.locationMaster.locationName}}</td>-->
                                            <!--<td>{{docTypeObj.docType}}</td>-->
                                            <!--<td>{{docTypeObj.reportName}}</td>-->
                                            <!--<td>-->
                                                <!--<ul class="list-inline">-->
                                                    <!--<li><a data-placement="bottom"   bs-tooltip="editIcon" class="cursorPt text-danger"><i-->
                                                            <!--class="icon-edit"-->
                                                            <!--ng-click="editMapping($index)"></i> </a></li>-->
                                                    <!--<li><a data-placement="bottom"   bs-tooltip="delete" class="cursorPt text-danger"><i-->
                                                            <!--class="icon-delete"-->
                                                            <!--ng-click="deleteMapping($index)"></i> </a></li>-->
                                                <!--</ul>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</div>-->
                                <!--<div class="fx-fade-left fx-duration-800  fx-speed-800 ng-hide" ng-show="showForm">-->
                                    <!--<form role="form"  id="doctypeForm" name="doctypeForm">-->
                                    <!--<div class="panel panel-default masOpertion">-->
                                        <!--<div class="panel-heading bg-trans">-->
                                            <!--<div class="w-50">-->
                                                <!--<h4>{{editIndex !=null?'Edit':'Add'}} Doc Prefix Type</h4>-->
                                            <!--</div>-->
                                            <!--<div class="w-50">-->
                                                <!--<ul class="list-inline text-right masopertion-action">-->
                                                    <!--<li>-->
                                                        <!--<button type="button" class="btn btn-default btn-xs btn-property cancel-btn"-->
                                                                <!--ng-click="cancelMapping()">Discard-->
                                                        <!--</button>-->
                                                    <!--</li>-->
                                                    <!--<li><input type="button" ng-click="saveMapping(docPrefixMaster.relatedData.docPrefixTypeMapping)"-->
                                                               <!--class="btn btn-primary btn-property accent-btn"-->
                                                               <!--ng-value="editIndex !=null?'Update':'Save'"/></li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="panel-body" panel-height-fit ng-nicescroll-->
                                             <!--nice-option="{{ngScrollConfig}}">-->
                                            <!--<div class="pad-15">-->
                                                <!--<div show-response></div>-->

                                                <!--<div><span class="reqColor">*</span>-->
                                                    <!--<small class="opc-5 f-12b4"> Indicates Mandatory fields</small>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row ">-->
                                                <!--<div class="col-md-12 col-lg-12 col-sm-12 form-group nomargin pl0 drop-box">-->

                                                    <!--<label class="custom-label">Logo <span class="reqColor">*</span></label>-->

                                                   <!--  <div ng-show="uploadText" ngf-drop ngf-select ng-model="logo"
                                                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                                                         accept="image/*" ng-change="uploadImage(logo)"
                                                         ngf-pattern="'image/*'"
                                                         class="file-drop-box">
                                                        <div class="col-md-12 text-center">
                                                            <ul class="list-unstyled">
                                                                <li>Drop Here</li>
                                                                <li>Or</li>
                                                                <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
                                                            </ul>
                                                        </div>
                                                    </div> -->

                                                    <!--<div ng-show="!uploadText && isBusy == true" class="rel img-box">-->
                                                        <!--&lt;!&ndash;<div class="loader">Loading..&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                                        <!--<attach-Spinner  spinner-status="true"></attach-Spinner>-->
                                                    <!--</div>-->
                                                    <!--<div ng-show="!uploadText && isBusy == false" ngf-select ngf-drop ng-model="logo" ngf-multiple="false" ng-change="uploadImage(logo)" class="rel img-box" ng-mouseover="showBackDrop=true"-->
                                                         <!--ng-mouseleave="showBackDrop=false">-->


                                                        <!--<img ng-src="data:image/jpeg;base64,{{docPrefixMaster.relatedData.docPrefixTypeMapping.encodedLogo}}" class="display-block">-->



                                                        <!--<div class="wrapper-back-drop hide-transition" ng-show="showBackDrop">-->
                                        <!--<span class="cursorPt overlay-img-btn" ngf-select ngf-drop-->
                                              <!--ng-model="logo" ngf-multiple="false" ng-change="uploadImage(logo)"><i class="fa fa-upload"></i></span>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div>-->
                                    <!--<span class="error-message" ng-show="errorMap.get('logo')!=null"><small>-->
                                        <!--{{errorMap.get('logo')}}-->
                                    <!--</small></span>-->

                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row">-->



                                                <!--<div class="col-md-7 col-xs-12 col-lg-7 form-group nomargin pl0">-->
                                                    <!--<label class="custom-label">Location <span class="reqColor">*</span></label>-->
                                                    <!--<div class="select-auto">-->
                                                        <!--<input type="text"-->
                                                               <!--id="locationName"-->
                                                               <!--auto-complete-->
                                                               <!--selected-value="locationName"-->
                                                               <!--ng-model="docPrefixMaster.relatedData.docPrefixTypeMapping.locationMaster"-->
                                                               <!--render-item="locationRender"-->
                                                               <!--call-fun="ajaxLocationEvent(param)"-->
                                                               <!--on-select="selectLocation('docType')"-->
                                                               <!--class="form-control"-->
                                                                <!--/>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash;<oi-select&ndash;&gt;-->
                                                    <!--&lt;!&ndash;oi-options="item.locationName for item in ajaxLocationEvent($query)"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;ng-model="docPrefixTypeMapping.locationMaster"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;ng-change="selectedLocation()"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;oi-select-options="{&ndash;&gt;-->
                                                    <!--&lt;!&ndash;editItem: 'correct',&ndash;&gt;-->
                                                    <!--&lt;!&ndash;debounce: 200,&ndash;&gt;-->
                                                    <!--&lt;!&ndash;dropdownFilter: 'myDropdownFilter',&ndash;&gt;-->
                                                    <!--&lt;!&ndash;saveTrigger:'enter tab blur',&ndash;&gt;-->
                                                    <!--&lt;!&ndash;listFilter: 'oiSelectAscSort:[\'locationCode\']'&ndash;&gt;-->
                                                    <!--&lt;!&ndash;}"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</oi-select>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<ui-select&ndash;&gt;-->
                                                    <!--&lt;!&ndash;ng-model="docPrefixTypeMapping.locationMaster"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;theme="select2"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;style="width: 100%"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;title="{{docPrefixTypeMapping.locationMaster==null?'':docPrefixTypeMapping.locationMaster.locationName}}"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;tabindex=""&ndash;&gt;-->
                                                    <!--&lt;!&ndash;ng-change="selectedLocation()"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;>-->
                                                    <!--&lt;!&ndash;<ui-select-match >&ndash;&gt;-->
                                                    <!--&lt;!&ndash;{{$select.selected.locationName}}&ndash;&gt;-->
                                                    <!--&lt;!&ndash;&lt;!&ndash;<a href="javascript:void(0);"><i class="icon-close"></i></a>&ndash;&gt;&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<a tabindex="-1" href="javascript:void(0);" ng-click="serviceMaster.costCenter={}"><i class="icon-close"></i></a>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</ui-select-match>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<ui-select-choices refresh="ajaxLocationEvent($select.search)" refresh-delay="250" repeat="dataObj in  locationList">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<span ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.locationName | highlight: $select.search"></span>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;[<small ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.locationCode | highlight: $select.search"></small>]&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</ui-select-choices>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</ui-select>&ndash;&gt;-->


                                                    <!--&lt;!&ndash;<a href="javascript:void(0)" ng-click="showLocation()"-->
                                                       <!--ng-model="docPrefixTypeMapping.locationMaster.locationName"-->
                                                       <!--class="btn btn-default btn-outline selectPicker" title="{{docPrefixTypeMapping.locationMaster==null?'':docPrefixTypeMapping.locationMaster.locationName}}">-->
                                                        <!--{{docPrefixTypeMapping.locationMaster==null?'':docPrefixTypeMapping.locationMaster.locationName}}<i-->
                                                            <!--class="fa fa-chevron-right pull-right"></i>-->
                                                    <!--</a>&ndash;&gt;-->
                                                    <!--<div>-->
                                    <!--<span class="error-message" ng-show="errorMap.get('location')!=null"><small>-->
                                        <!--{{errorMap.get('location')}}-->
                                    <!--</small></span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-md-7 col-xs-12 col-lg-7 form-group nomargin pl0">-->
                                                    <!--<label class="custom-label">Document Type <span class="reqColor">*</span></label>-->
                                                   <!--&lt;!&ndash;  <input focus="true" type="text" class="form-control"-->
                                                           <!--id="docType" -->
                                                           <!--name="docType"-->
                                                           <!--ng-model="docPrefixMaster.relatedData.docPrefixTypeMapping.docType"-->
                                                           <!--ng-class="{'error-control':errorMap.get('docType')!=null}"-->
                                                           <!--maxlength="50" ng-change="validateDocPrefixMasterMapping(3)">-->
                                                            <!--&ndash;&gt;-->
                                    <!--<select class="form-control"   id="docType" -->
                                            <!--ng-class="setDocStatus()"-->
                                            <!--ng-options="item for item in enum['DocPrefixDocumentType']"-->
                                            <!--ng-model="docPrefixMaster.relatedData.docPrefixTypeMapping.docType" required>-->
                                    <!--</select>-->
                                                    <!--<div>-->
                                                        <!--<span class="error-message" ng-show="errorMap.get('docType')!=null"><small>{{errorMap.get('docType')}}</small></span>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash;  <input class="form-control" type="text" ng-model="selectedMapping.docType" /> &ndash;&gt;-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!-- -->
                                            <!-- -->
                                            <!-- -->
                                            <!-- -->
                                            <!-- -->
                                            <!--<div class="row">-->
                                                <!--<div class="col-md-7 col-xs-12 col-lg-7 form-group nomargin pl0">-->
                                                    <!--<label class="custom-label">Report Name <span class="reqColor">*</span></label>-->
                                                    <!--&lt;!&ndash;  <input class="form-control" type="text" ng-model="selectedMapping.reportName" /> &ndash;&gt;-->
                                                    <!--<input focus="true" type="text" class="form-control"-->
                                                           <!--id="reportName" name="reportName"-->
                                                           <!--ng-model="docPrefixMaster.relatedData.docPrefixTypeMapping.reportName"-->
                                                           <!--ng-class="{'error-control':errorMap.get('reportName')!=null}"-->
                                                           <!--maxlength="100" ng-change="validateDocPrefixMasterMapping(4)">-->
                                                    <!--<div>-->
                                                        <!--<span class="error-message" ng-show="errorMap.get('reportName')!=null"><small>{{errorMap.get('reportName')}}</small></span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--&lt;!&ndash;<div ng-hide="!showLocationSelectList" class="wrapper-back-drop"></div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="col-xs-12 pl0">
                                <button type="button" class="btn accent-btn mb10" 
                                tabindex="-1" ng-click="addRow()"><i class="icon-add"></i>Add Address Mapping</button>
                            </div>
                            <div>
                            <div class="col-xs-12 nopadding">
                            <div class="table-responsive">
                               <table class="table table-inline"  tab-nav tab-row="addRow()">
									<thead class="borderthead">
										<tr>
											<th class="inl_sno">#</th>
											<th class="inl_sm">Logo <span class="reqColor">*</span></th>
											<th class="inl_sm">Location <span class="reqColor">*</span></th>
											<th class="inl_sm">Document Type <span class="reqColor">*</span></th>
											<th class="inl_sm">Report Name<span class="reqColor">*</span></th>
											<th class="inl_s">Actions</th>
										</tr>
									</thead>
									<tbody>
                                    <tr ng-repeat="docPrefixTypeMapping in 
                                    docPrefixMaster.docPrefixTypeMappingList track by $index">
                                        <td ng-class="{'error-cell text-center':secondArr[$index].errRow}" ng-click="errorShow(secondArr[$index],$index)">
	                         <span ng-show="secondArr[$index].errRow" >
	                             <a tabindex="-1" href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList"  class="color-white" >
                                     <b class="glyphicon glyphicon-warning-sign"></b>
                                 </a>
	                         </span>
	                        <span ng-show="!secondArr[$index].errRow">
	                        {{$index+1}}
	                        </span>
                        </td>
                                        <td class="col-xs-3 pl0 pr0">
                                               <span class="cirlce-img">
                                               <img ng-if="docPrefixTypeMapping.encodedLogo!=null"
                                                     ng-src="data:image/jpeg;base64,{{docPrefixTypeMapping.encodedLogo}}"
                                                     />
                                               </span>
                                                 
                                               
                                                         <a href="javascript:void(0);" 
                                                          id="{{'browse'+$index}}"
                                       ngf-select ng-model="docPrefixTypeMapping.logo"  
                                       accept="image/*"
                                       ngf-multiple="false" 
                                       ngf-allow-dir="true"
                                       ng-change="uploadImage(docPrefixTypeMapping.logo,docPrefixTypeMapping)"
                                       class="btn mt-6 btn-primary btn-property browse-btn pull-right ml-5">Browse</a>
                                            <!--<span ng-class="{'text-danger':secondArr[$index].fileName}">{{dataObj.fileName?dataObj.fileName:dataObj.file.name}}</span>-->
                                        </td>
                                        <td> <div class="select-auto mt-6">
                                         <input type="text" class="form-control" id="{{'locationName'+$index}}"
										autocomplete="off"  ng-model="docPrefixTypeMapping.locationMaster" 
										uib-typeahead="lovObject as lovObject.locationName for lovObject in ajaxLocationEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectLocation('docType'+$index)"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                        </div>
                                        </td>
                                        <td><select class="form-control mt-6"  
                                               id="{{'docType'+$index}}"
                                            ng-class="setDocStatus()"
                                            ng-change="selectLocation('reportName'+$index)"
                                            ng-options="item for item in enum['DocPrefixDocumentType']"
                                            ng-model="docPrefixTypeMapping.docType" required>
                                    </select>
                                        <td><input type="text" 
                                        class="form-control mt-6 last-child" 
                                         id="{{'reportName'+$index}}"
                                        ng-model="docPrefixTypeMapping.reportName" maxlength="100" ></td>
                                        <!--<td>{{docTypeObj.reportName}}</td>-->
                                        <td>
                                            <ul class="list-inline mt-6" ng-show="docPrefixMaster.docPrefixTypeMappingList.length>1">
                                                <li><a data-placement="bottom"   bs-tooltip="delete" class="cursorPt text-danger"><i
                                                        class="icon-delete" tabindex="-1"
                                                        ng-click="deleteMapping($index)"></i> </a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                           </div>
                           </div>
                        </div>

                    </div>
                    <!--<div ng-hide="!docPrefixMaster.relatedData.showMapping" class="wrapper-back-drop"></div>-->
                </div>
            </form>

    </div>
    <!--panel ends-->
    <!--<div class="detail-container col-md-4">
        <div ng-hide="!showLocationSelectList" class="hide-transition">
            <select-list-picker panel-title="panelTitle" selected="selectedItem" data="locationList"
                                cancel-event="cancelList()" click-event="selectedLocation(param)" ajax-event="ajaxLocationEvent(param)"
                                config="listConfig"></select-list-picker>
        </div>

    </div>-->
</div>
    <script type="text/ng-template" id="errorPopUp.html">
        <div class="modal resPError" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header nopadding">
                        <div class="row plr14px">
                            <div class="col-xs-6">
                                <h4>Following Error List</h4>
                            </div>
                            <div class="col-xs-6 mt-7">
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body pt35 pb35">
                        <ul>
                            <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
