<div class="container-fluid resPortAddPage resLandAddPage">
	<div class="row ">
		<div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
			<form role="form" id="packMasterform" name="packMasterform" ng-submit="packMaster.id!=null?update():save()">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{packMaster.id!=null?'Edit':'Add'}} Pack</h4>
						</div>
						<div>
							<div class="btngrp">

									<button tabindex="5" type="button" class="btn cancel-btn" ng-click="cancel()">
										Cancel
									</button>

									<input tabindex="4" type="submit" class="btn accent-btn" value="{{packMaster.id!=null?'Update':'Save'}}">
							</div>
						</div>
					</div>
					<div class="panel-body half-master-edit" id="pack-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="pad-15">
							<div show-response></div>
							<div>
								<span class="reqColor">*</span>
								<small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
							</div>
						</div>
						<div class="row ">
							<div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input 
									input-focus="true" tabindex="1"
									focus="{{errorMap.get('packName')!=null}}" type="text"
									class="form-control" id="packName" name="packName"
									ng-model="packMaster.packName" maxlength="100"
									ng-class="{'error-control':errorMap.get('packName')!=null}"
									ng-change="validatePackMaster(1)">
								<div>
									<span class="error-message" ng-show="errorMap.get('packName')!=null">
										<small>{{errorMap.get('packName')}}</small>
									</span>
								</div>
							</div>
						</div>
						<div class="row ">
						<div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group mt0 nomargin plr0">
							<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 pl0">
								<label class="custom-label">Code<span class="reqColor">*</span></label>
									<input 
										tabindex="2" focus="{{errorMap.get('packCode')!=null}}"
										type="text" class="form-control" id="packCode" name="packCode"
										ng-model="packMaster.packCode" maxlength="10"
										ng-class="{'error-control':errorMap.get('packCode')!=null}"
										capitalize ng-change="validatePackMaster(2)"
										ng-disabled="packMaster.id!=null">
									<div>
										<span class="error-message" ng-show="errorMap.get('packCode')!=null">
											<small>{{errorMap.get('packCode')}}</small>
										</span>
									</div>
								</div>
								<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form-group  pl0" ng-class="packMaster.id!=null?'visible-show':'visible-hide'">
									<label class="custom-label"> Status </label> 
									<select tabindex="3" class="form-control status" id="status"
										ng-class="setStatus(packMaster.status)"
										ng-options="item for item in enum['LovStatus']"
										ng-model="packMaster.status" required>
									</select>
								</div>
							
							</div>
						</div>
					</div>
					<!--panel body ends-->
				</div>
				<!--panel ends-->
			</form>
		</div>
		<!--col ends-->
	</div>
</div>
