<div class="container-fluid resPortListPage" >
	<div class="row nomargin">
		<div ng-show = "afm.deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12" >
			<div show-response></div>
			<div success-message></div>
			<!--panel starts-->
			<div class="panel panel-default" ng-click="afm.showHistory=false">
				<div class="panel-heading flexTitle">
					<button
						type="button"
						class="btn btn-property accent-btn"
						ng-click=" afm.addNew()">
						<span class="icon-add"></span>
						Add AES Filer
					</button>
				</div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table  data="afm.dataArr"
									  head="afm.tableHeadArr"
									  sort="afm.sortSelection"
									  click-event="afm.rowSelect(param)"
									  search-event="afm.changeSearch(param)"
									  sort-event="afm.sortChange(param)"
									  page="afm.page" size="afm.limit">
						</super-table>
					</div>
				</div>
				<div class="panel-footer flexTitle">
					<div>
						<ul class="list-inline">
							<li>Show</li>
							<li><select class="form-control legend-show-ctrl"
										ng-model="afm.limit"
										ng-change="afm.limitChange(afm.limit)"
										ng-options="v for v in afm.limitArr">
							</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div>
						<div class="pull-right text-right">
						<pagination-dr  page="afm.page" size="afm.limit" total="afm.totalRecord" page-change="afm.changepage(param)" class="pull-right" ></pagination-dr>
					</div>
					</div>
				</div>
			</div><!--Panel Ends-->
		</div>
		
	<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12 m-pl0 " ng-hide="!afm.aesMasteView" >
			<div class="panel panel-default detail-transition" >
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom" bs-tooltip="back" href="javascript:void(0)"  ng-click="afm.backToList()" class="list-panel-back">
									<i class="icon-back-menu"></i>
								</a>
							</span>
							<span>AES Filer</span>
						</div>
					</div>
					<div>
						<ul class="list-inline">
							<li>
								<a href="javascript:void(0)" ng-class="{'active-activityBtn':afm.showHistory}" ng-click="afm.showHistory=!afm.showHistory">
									<i class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i>
								</a>
							</li>
							<li>
								<a data-placement="bottom"   bs-tooltip="edit"
								   href="javascript:void(0)" class="list-panel-edit-btn cursorPt" ng-click="afm.edit(afm.aesFilerMaster.id)"  >
									<i class="icon-edit"></i>
								</a>
							</li>
							<li>
								<a data-placement="bottom" ng-click="afm.delete(afm.aesFilerMaster.id)" bs-tooltip="delete" href="javascript:void(0)" class="list-panel-edit-btn cursorPt">
									<i class="icon-delete"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view"  ng-click="afm.showHistory=false">
						<div class="row metadata-detail">
							<span>AES Filer Filter Code</span>
									<h5>{{afm.aesFilerMaster.aesFilerCode}}</h5>
						</div>

						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>Schema Name</span>
							<h5>{{afm.aesFilerMaster.schemaName}}</h5>
								</li>
								<li class="col-xs-6">
									<span>Transmitter Code</span>
									<h5>{{afm.aesFilerMaster.transmitterCode}}</h5>
								</li>
							</ul>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>Country</span>
									<h5><img ng-show="afm.aesFilerMaster.countryMaster.image!=null"  data-ng-src="data:image/png;base64,{{afm.aesFilerMaster.countryMaster.image}}" style="padding-right:3px;" width="23" height="20">{{afm.aesFilerMaster.countryMaster.countryName}}</h5>
								</li>
								<li class="col-xs-6">
									<span>Location</span>
									<h5>{{afm.aesFilerMaster.locationMaster.locationName}}</h5>
								</li>
							</ul>
						</div>
						
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>Company</span>
									<h5>{{afm.aesFilerMaster.companyMaster.companyName}}</h5>
								</li>
								<li class="col-xs-6">
									<span>Status</span>
									<show-status status="{{afm.aesFilerMaster.status}}"></show-status>
								</li>
							</ul>
						</div>
						
					</div>
					<div class="logs-view logs-transition" ng-show="afm.showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="afm.showHistory=false" class="list-panel-back">
												<i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i>
											</a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="afm.aesFilerMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{afm.aesFilerMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(afm.aesFilerMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="afm.aesFilerMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{afm.aesFilerMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(afm.aesFilerMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		</div></div>