<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="afm.aesFilerMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{afm.aesFilerMaster.id==null?'Add AES Filer':'Edit AES Filer'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="afm.cancel(afm.aesFilerMaster.id)">
                                        Cancel
                                    </button>
                                    
       <button type="button"  class="btn accent-btn"  ng-click="afm.aesFilerMaster.id==null?afm.create():afm.update()"> {{afm.aesFilerMaster.id==null?'Save':'Update'}}</button>							
                        </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit"
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
								 <div class="col-sm-5 col-xs-6 col-md-5 col-lg-6 form-group nomargin pl0">
                                <label class="custom-label">Schema Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="schemaName"
                                 ng-class="{'error-control':afm.errorMap.get('schemaName')!=null}"
                                 ng-change="afm.validate('schemaName', 1)" ng-model="afm.aesFilerMaster.schemaName"/>
                                 <span class="error-message" ng-show="afm.errorMap.get('schemaName')!=null">
									 <small>{{afm.errorMap.get('schemaName')}}</small>
								</span>
                            </div>
								<div class="col-sm-5 col-xs-6 col-md-5 col-lg-6 form-group nomargin pl0">
							    <label class="custom-label">Company<span class="reqColor">*</span></label> 
								    <div class="select-auto">
														<input type="text" 
															class="form-control" id="company" 
															input-focus="{{afm.errorMap.get('companyName')!=null}}"
															autocomplete="off"
															ng-model="afm.aesFilerMaster.companyMaster"
															uib-typeahead="lovObject as lovObject.companyName for lovObject in afm.ajaxCompanyEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="afm.selectedCompany('country');"
															typeahead-focus-first="true"
															typeahead-focus-on-select="false"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" >
															
															<span class="select-arrow"><b></b></span>
										          </div>
								<span class="error-message"
									ng-show="afm.errorMap.get('companyName')!=null"> <small>
										{{afm.errorMap.get('companyName')}} </small>
								</span>
							</div>
										     </div>
										      <div class="row ">
								<div class="col-sm-5 col-xs-6 col-md-5 col-lg-6 form-group nomargin pl0">
							    <label class="custom-label">Country<span class="reqColor">*</span></label> 
								    <div class="select-auto">
														<input type="text" 
															class="form-control" id="country" 
															input-focus="{{afm.errorMap.get('countryName')!=null}}"
															autocomplete="off"
															ng-model="afm.aesFilerMaster.countryMaster"
															uib-typeahead="lovObject as lovObject.countryName for lovObject in afm.ajaxCountryEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="afm.selectedCountry('location');"
															typeahead-focus-first="true"
															typeahead-focus-on-select="false"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" >
															
															<span class="select-arrow"><b></b></span>
										          </div>  
										          <span class="error-message"
									ng-show="afm.errorMap.get('countryName')!=null"> <small>
										{{afm.errorMap.get('countryName')}} </small>
								</span> 
										     </div>
							
                        
								 
								<div class="col-sm-5 col-xs-6 col-md-5 col-lg-6 form-group nomargin pl0">
							    <label class="custom-label">Location<span class="reqColor">*</span></label> 
								    <div class="select-auto">
														<input type="text" 
															class="form-control" id="location" 
															input-focus="{{afm.errorMap.get('locationName')!=null}}"
															autocomplete="off"
															ng-model="afm.aesFilerMaster.locationMaster"
															uib-typeahead="lovObject as lovObject.locationName for lovObject in afm.ajaxLocationEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="afm.selectedLocation('aesFilerCode');"
															typeahead-focus-first="true"
															typeahead-focus-on-select="false"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" >
															
															<span class="select-arrow"><b></b></span>
										          </div>   
										          <span class="error-message"
									ng-show="afm.errorMap.get('locationName')!=null"> <small>
										{{afm.errorMap.get('locationName')}} </small>
								</span> 
										     </div>
										     </div>
										     <div class="row ">
								 <div class="col-sm-5 col-xs-6 col-md-5 col-lg-6 form-group nomargin pl0">
                                <label class="custom-label">AES Filer Filter Code<span class="reqColor">*</span></label> 
						       <input 
                                 type="text" class="form-control" maxlength="30" id="aesFilerCode"
                                 ng-class="{'error-control':afm.errorMap.get('aesFilerCode')!=null}"
                                 ng-change="afm.validate('aesFilerCode', 5)" ng-model="afm.aesFilerMaster.aesFilerCode"/>
                                 <span class="error-message" ng-show="afm.errorMap.get('aesFilerCode')!=null">
									 <small>{{afm.errorMap.get('aesFilerCode')}}</small>
								</span>
								 </div>
								  <div class="col-sm-5 col-xs-6 col-md-5 col-lg-6 form-group nomargin pl0">
                                <label class="custom-label">Transmitter Code<span class="reqColor">*</span></label> 
                              
						       <input 
                                 type="text" class="form-control"  maxlength="30" id="transmitterCode"
                                 ng-class="{'error-control':afm.errorMap.get('transmitterCode')!=null}"
                                 ng-change="afm.validate('transmitterCode', 6)" ng-model="afm.aesFilerMaster.transmitterCode"/>
                                 <span class="error-message" ng-show="afm.errorMap.get('transmitterCode')!=null">
									 <small>{{afm.errorMap.get('transmitterCode')}}</small>
								</span>
								 </div>
								</div>
								<div class="row" ng-if="afm.aesFilerMaster.id!=null">
								<div class="col-sm-5 col-xs-6 col-md-5 col-lg-6 form-group nomargin pl0">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="afm.setStatus(afm.aesFilerMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="afm.aesFilerMaster.status" required >
                                    </select>
                                </div>
								</div>
								
                       </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
