<div class="row">
	<div class="col-xs-12 col-lg-8 mb-15">
		<div class="panel panel-default fgmb0">
			<div class="panel-heading flexTitle">
				<div>
					<h4>Add Service Mapping</h4>
				</div>
				<div>
					<ul class="list-inline text-right masopertion-action">
						<li class="mr0 pr0">
							<button type="button" class="btn btn-default btn-xs btn-property cancel-btn mr0" ng-click="cancel()">Cancel</button>
						</li>
						<li class="ml0 plr0">
							<button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="save()" >Save</button>
						</li>
					</ul>
				</div>
			</div>
			<!--PANEL HEADING ENDS-->
			<div class="panel-body half-master-edit pt0" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
				<div class="row">
					<div show-response></div>
					
					<client-error message="clientMessage"></client-error>
					<div class="col-xs-12 ptb-15">
						<span class="reqColor">*</span> <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
					</div>
				</div>
				<button type="button" class="btn btn-property accent-btn mb-15" ng-click="addServiceMapping()">
					<span class="icon-add"></span> Add Service Mapping
				</button>
				<form role="form" name="serviceMappingForm">
					<div class = "col-xs-12 plr0">
					<div class="table-responsive">
						<table class="table table-inline-nopad" tab-nav tab-row="addServiceMapping()">
							<thead class="borderthead">
							 	<tr>
									<th class="inl_sno">#</th>
									<th class="inl_l">Import<span class="reqColor">*</span></th>
                                    <th class="inl_l">Export<span class="reqColor">*</span></th>
									<th class="inl_xs">Action</th>
								</tr>
							</thead>
							<tbody>
							   <tr  ng-repeat="serviceMapping in serviceMappingList track by $index" >
									<td ng-class="{'error-cell text-center':errorArray[$index].errRow}">
										<span ng-show="errorArray[$index].errRow"> 
											<a href="javascript:void(0);"
											   data-placement="right"   bs-tooltip="errorList"
											   ng-click="errorShow(errorArray[$index],$index)"
											class="color-white"> 
											<img src="../../../../assets/images/error.png" />
										   </a>
									</span> <span ng-show="!errorArray[$index].errRow"> {{$index+1}}
									</span>
									</td>
									<td>
										<div class="select-auto">
										<input  type="text" class="form-control" input-focus="true"
												ng-class="{'error-control':errorArray[$index].serviceImportErr}"
												autocomplete="off"
												ng-model="serviceMapping.importService"
												uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue,'importService',serviceMapping)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="navigateToNextField('exportService'+$index)"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500"> <span
												class="select-arrow"><b></b></span>
										</div>
									</td>
									<td>
										<div class="select-auto">
										<input  type="text" class="form-control" 
											    id="{{'exportService'+$index}}"
												ng-class="{'error-control':errorArray[$index].serviceExportErr}"
												autocomplete="off"
												ng-model="serviceMapping.exportService"
												uib-typeahead="lovObject as lovObject.serviceName for lovObject in ajaxServiceEvent($viewValue,'exportService',serviceMapping)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500"> <span
												class="select-arrow"><b></b></span>
										</div>
									</td>
									
									<td>
										<span ng-show="serviceMappingList.length>1" class="icon-delete" ng-click="deleteRow($index)"
											  data-placement="bottom"   bs-tooltip="delete" ></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>


