<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
            <form role="form">
            	<!--panel starts-->
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div >
                            <h4>{{departmentMaster.id == null ? 'Add' : 'Edit'}} Department </h4>
                        </div>
                        <div >
                            <ul class="list-inline text-right masopertion-action">
                                <li>
                                    <button  type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">Cancel</button>
                                </li>
                                <li>
                                    <button  type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveOrUpdate()"> {{departmentMaster.id == null ? 'Save' : 'Update'}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit" id="group-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name <span class="reqColor">*</span></label>
                                <input 	type="text" 
                                		class="form-control"
                                       	id="departmentName" 
                                       	ng-model="departmentMaster.departmentName"
										input-focus="{{errorMap.get('departmentName')!=null}}"
                                       	ng-class="{'error-control':errorMap.get('departmentName')!=null}"
                                       	maxlength="100" 
                                       	ng-change="validateDepartmentMaster(1)">
                                    <span class="error-message" ng-show="errorMap.get('departmentName')!=null">
                                    	<small> {{errorMap.get('departmentName')}} </small>
                                    </span>
                            </div>
                        </div>
                    	<div class="row ">
                    	<div class="col-xs-12 col-md-9 col-lg-7 col-sm-9 form-group nomargin pl0">
                           <div class="col-xs-6 form-group nomargin pl0">
                                <label class="custom-label">Code</label>
                                <input 	type="text" 
                                		class="form-control" 
                                		id="departmentCode"
                                       	ng-model="departmentMaster.departmentCode"
                                       	input-focus="{{errorMap.get('departmentCode')!=null}}"
                                       	ng-class="{'error-control':errorMap.get('departmentCode')!=null}"
                                       	maxlength="10" 
                                       	capitalize 
                                       	ng-change="validateDepartmentMaster(2)"
                                       	ng-disabled="true">

                                    <span class="error-message" ng-show="errorMap.get('departmentCode')!=null">
                                    	<small>{{errorMap.get('departmentCode')}} </small>
                                    </span>
							</div>
							
							 <div class="col-xs-6 form-group nomargin pr0">
                                       <label class="custom-label">Department Head <span class="reqColor">*</span></label>
                                       <div class="select-auto" >
						<input type="text" class="form-control" id="departmentHead"
							autocomplete="off" 
							ng-model="departmentMaster.departmentHead"
							input-focus="{{errorMap.get('departmentHead')!=null}}"
							uib-typeahead="lovObject as lovObject.employeeName for lovObject in $AutoCompleteService.getSalesmanList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedDepartmentHead('status')"
							typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
							typeahead-wait-ms="500"> <span
							class="select-arrow"><b></b></span>
					</div>
                                                         <span class="error-message" style="color: red;" ng-show="errorMap.get('departmentHead')!=null"><small>
                                                             {{errorMap.get('departmentHead')}}
                                                         </small></span>
                                       
                                       
							</div>
							</div>
                        </div>
                        <div class="row ">
                        <div class="col-xs-12 col-md-9 col-lg-7 col-sm-9 form-group nomargin pl0" >
                           <div class="col-xs-6 form-group nomargin pl0" ng-class="departmentMaster.id!=null?'visible-show':'visible-hide'">
                                 <label class="custom-label">Status</label>
                                        <select  class="form-control status" id="status"
                                                ng-class="setStatus(departmentMaster.status)"
                                                ng-options="item for item in enum['LovStatus']"
                                                ng-model="departmentMaster.status" required>
                                        </select>
							</div>
							
							 
							</div>
							</div>
                    </div>
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>

