<div class="container-fluid resPortListPage">
	<div class="row ml0 mr0">
 		<div ng-show="vm.deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12 " >
			<div class="panel panel-default" ng-click="vm.showHistory = false">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="vm.addNew()" >
									<i class="icon-add"></i> Add Event
								</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
						<div show-response></div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 	data="vm.eventArr"
										head="vm.tableHeadArr"
										sort="vm.sortSelection"
										click-event="vm.rowSelect(param)"
										search-event="vm.changeSearch(param)"
										sort-event="vm.sortChange(param)"
										page="vm.page" size="vm.limit" >
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="vm.limit"
										ng-change="limitChange(limit)" ng-options="v for v in vm.limitArr">
								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="vm.page" size="vm.limit" total="vm.totalRecord" page-change="vm.changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12   m-pl0 " ng-show="vm.showDetail">
			<div class="panel panel-default detail-transition">
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom"   bs-tooltip="back"  href="javascript:void(0)" ng-click="vm.backToList()"
									 class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<span>Event</span>
						</div>
					</div>
					<div class="pull-right ">
						<ul class="list-inline text-right">
							<li><a href="javascript:void(0)" ng-class="{'active-activityBtn':vm.showHistory}" ng-click="vm.showHistory=!vm.showHistory"
									><i class="icon-logs" data-placement="bottom"   bs-tooltip="activity"></i></a></li>
							<li ng-hide="vm.eventMaster.eventMasterType!=null"><a data-placement="bottom"   bs-tooltip="edit"  href="javascript:void(0)" ng-click="vm.editEvent(vm.eventMaster.id)"
								   class="list-panel-edit-btn cursorPt" ><i class="icon-edit"></i></a></li>
							<li ng-hide="vm.eventMaster.eventMasterType!=null"><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)"
								   ng-click="vm.deleteEvent(vm.eventMaster.id)" class="list-panel-edit-btn cursorPt"><i
									class="icon-delete"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
					<div class="detail-view" ng-click="vm.showHistory=false">
					
						<div class="row metadata-detail">
							<span >Name</span>
							<h5 >{{vm.eventMaster.eventName}}</h5>
						</div>
					
					<div class="row ">
						<ul class="list-inline ">
							<li class="col-xs-6">
								<span >Code</span>
								<h5 >{{vm.eventMaster.eventCode}}</h5>
							</li>
							<li class="col-xs-6">
								<span >Status</span>
								<show-status status="{{vm.eventMaster.status}}"></show-status>
							</li>
						</ul>
					</div>
					<div class="row " >
						<ul class="list-inline">
							<li class="col-xs-12">
								<span >Country</span>
								<h5 ><img ng-show="vm.eventMaster.countryMaster.image!=null"  data-ng-src="data:image/png;base64,{{vm.eventMaster.countryMaster.image}}" style="padding-right:3px;" width="23" height="20">{{vm.eventMaster.countryMaster.countryName}}</h5>
							</li>
						</ul>

					</div>
					<div class="row noborder" ng-hide="true">
						<ul class="list-inline ">
							<li class="col-xs-6">
								<span >Event Type</span>
								<h5 >{{vm.eventMaster.eventMasterType}}</h5>
							</li>
						</ul>
					</div>
					</div>
					<div class="logs-view logs-transition" ng-show="vm.showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="vm.showHistory=false"
											   class="list-panel-back">
												<i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span >Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.eventMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.eventMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.eventMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="vm.eventMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{vm.eventMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(vm.eventMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
