<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row">
        <div class="col-md-12 col-lg-7 col-sm-12 col-xs-12">
            <form role="form" id="vm.eventMasterform" name="vm.eventMasterform"
                  ng-submit="vm.eventMaster.id!=null?vm.update():vm.save()" novalidate>
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.eventMaster.id!=null?'Edit':'Add'}} Event  </h4>
                        </div>
                        <div>
                            <div class="btngrp">

                                    <button type="button" class="btn cancel-btn"
                                            ng-click="vm.cancel()">Cancel
                                    </button>
                                    <input id="submit" type="submit" class="btn accent-btn"
                                           value="{{vm.eventMaster.id!=null?'Update':'Save'}}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit" id="currency-panel" panel-height ng-nicescroll
                         nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div><span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory fields </small>
                            </div>
                        </div>
                        <!--row ends-->
                        <div class="row ">
                            
                                <div class="col-sm-6 col-xs-10 col-md-6 col-lg-6 form-group nomargin pl0">
                                <label class="custom-label"
                                      >
                                    Name<span class="reqColor">*</span></label>
                                <input input-focus="true" type="text" class="form-control" id="eventName"
                                       name="eventName" ng-change="validateEventOnChange(vm.eventMaster,1)"
                                       ng-model="vm.eventMaster.eventName"
                                       ng-class="{'error-control':vm.errorMap.get('eventName')!=null}"
                                       input-focus="{{vm.errorMap.get('eventName')!=null}}"
                                       maxlength="100" 
                                        />
                                <div>
                                    <span class="error-message" ng-show="vm.errorMap.get('eventName')!=null"><small>
                                        {{vm.errorMap.get('eventName')}}
                                    </small></span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-10 col-md-6 col-lg-6 plr0">
                            <div class="col-sm-6 col-xs-6 col-md-3 col-lg-6 pl0 form-group mb0">
                                <label class="custom-label"
                                       ng-class="{'error-label':eventMasterform.eventCode.$error.required && !eventMasterform.eventCode.$pristine}">
                                    Code<span class="reqColor">*</span></label>
                                <input type="text" id="eventCode"
                                       name="eventCode" ng-change="validateeventMaster(2)"
                                       ng-change="validateEventOnChange(vm.eventMaster,2)"
                                       class="form-control"
                                       ng-class="{'error-control':vm.errorMap.get('eventCode')!=null}"
                                       ng-model="vm.eventMaster.eventCode" minlength=1
                                       maxlength="10"
                                       input-focus="{{vm.errorMap.get('eventCode')!=null}}"
                                       capitalize ng-disabled="vm.eventMaster.id!=null">
                                <div>
                                    <span class="error-message" ng-show="vm.errorMap.get('eventCode')!=null"><small>
                                        {{vm.errorMap.get('eventCode')}}
                                    </small></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-3 col-lg-6 pl0 form-group mb0 "
                                 ng-class="vm.eventMaster.id!=null?'visible-show':'visible-hide'">
                                <label class="w-100 custom-label">Status</label>
                                <select class="form-control status" id="status"
                                        ng-class="setStatus(vm.eventMaster.status)"
                                        ng-options="item for item in enum['LovStatus']"
                                        ng-model="vm.eventMaster.status" required>
                                </select>
                            </div>
                           
                        </div>
                        </div>
                        <!--row ends-->
                        <div class="row ">
                            <div class="col-sm-6 col-xs-10 col-md-6 col-lg-6 pl0">
                                <label class="custom-label">Country<span class="reqColor">*</span></label>
                                <div class="select-auto">
                                     <input type="text" class="form-control" 
										input-focus="{{vm.errorMap.get('country')!=null}}" 
										autocomplete="off" ng-model="vm.eventMaster.countryMaster"
										uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxCountryEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="vm.moveToNextFeild('submit',4);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                </div>
                                <div>
                                    <span class="error-message" ng-show="vm.errorMap.get('country')!=null"><small>
                                        {{vm.errorMap.get('country')}}
                                    </small></span>
                                </div>
                            </div>
                        </div>
                        <div class="row noborder" ng-hide="true">
                            
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pl0">
                                    <label class="custom-label ">Event Type<span class="reqColor">*</span></label>
                                      <!-- <input type="text" class="form-control" ng-model="vm.eventMaster.eventMasterType" 
                                          ng-disabled="vm.eventMaster.id!=null"  name="eventMasterType" input-focus="{{errorMap.get('eventMasterType')!=null}}"/> -->
                                           <select class="form-control" id="eventMasterType"
                                        ng-options="item for item in enum['EventMasterType']"
                                          ng-class="{'error-control':vm.errorMap.get('eventMasterType')!=null}"
                                           input-focus="{{vm.errorMap.get('eventMasterType')!=null}}"
                                        ng-model="vm.eventMaster.eventMasterType" required>
                                </select>
										<span class="error-message" ng-show="vm.errorMap.get('eventMasterType')!=null">
											<small>
                                            	{{vm.errorMap.get('eventMasterType')}}
                                        	</small>
                                        </span>
                                </div>
                            
                        </div>
                        <!--row ends-->
                        <!--btn group ends-->
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
