<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="vm.commentMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.commentMaster.id==null?'Add Comment':'Edit Comment'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="vm.cancel(vm.commentMaster.id)">
                                        Cancel
                                    </button>
                         <button type="button"  class="btn accent-btn"  ng-click="vm.commentMaster.id==null?vm.create():vm.update()"> {{vm.commentMaster.id==null?'Save':'Update'}}</button>							

                            </div>
                        </div>
                    </div>
                    <div class="panel-body pt0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="commentName"
                                 ng-class="{'error-control':errorMap.get('commentName')!=null}"
                                 ng-change="vm.validate('commentName', 1)" ng-model="vm.commentMaster.commentName"/>
                                 <span class="error-message" ng-show="errorMap.get('commentName')!=null" pattern="^[a-zA-Z0-9]+$">
									 <small>{{errorMap.get('commentName')}}</small>
								</span>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin plr0">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input 
                                    type="text" class="form-control" maxlength="10" id="commentCode"
                                    ng-disabled="vm.commentMaster.id!=null" capitalize
                                    input-focus="{{vm.errorMap.get('commentCode')!=null}}"
                                    ng-class="{'error-control':errorMap.get('commentCode')!=null}"
                                    ng-model="vm.commentMaster.commentCode" ng-change="vm.validate('commentCode', 2)"/>
                                 <span class="error-message" ng-show="errorMap.get('commentCode')!=null">
									 <small>{{errorMap.get('commentCode')}}</small>
								</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6  pl0" ng-class="vm.commentMaster.id!=null?'visible-show':'visible-hide'">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="vm.setStatus(vm.commentMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="vm.commentMaster.status" required >
                                    </select>
                                </div></div>
                                </div>
                        </div>
                              <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Description<span class="reqColor">*</span></label>
                                    <textarea 
									class="form-control elastic-htyaxisscroll" rows="1" msd-elastic
									id="description" class="form-control"
									ng-model="vm.commentMaster.description"
									ng-class="{'error-control':errorMap.get('description')!=null}"
									maxlength="2000">
                                    </textarea>
                                    <span class="error-message" ng-show="errorMap.get('description')!=null">
									 <small>{{errorMap.get('description')}}</small>
								</span>
                                </div>
                            </div>
                        </div>
                        
                            
                        
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
