<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Note</h4>
						
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
						 <li>
								<button type="button" class="btn cancel-btn"
									ng-click="cancelFlightSchedule();$hide()">close</button>
							</li> 
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pt0 elastic-ht">
				<div class="row mt-15 nomargin">
					<div class="col-xs-12 pl0 pr0">

					<textarea ng-model="object.notes" class="form-control txtarea130 txtresize" ng-disabled="true"
					placeholder="Received"></textarea>
                                                      

					</div>
				</div>
			</div>
			<!--body ends-->




		</div>
		<!--panel end document-->
	</div>
</div>
<!--modal ends-->









