<style>
.daterangepicker {
	z-index: 999999 !important;
	/* Calendars */
}
</style>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="flex align-justify align-middle">
					<div>
						<h4>Journal Details</h4>
						
					</div>
					<div>
						<ul class="list-inline text-right mt-5 masopertion-action">
							 <li>
								<button type="button" class="btn cancel-btn"
									ng-click="cancelFlightSchedule();$hide()">close</button>
							</li> 
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-body pb-25 pt0 elastic-ht">
				<div class="row nomargin">
					<div class="col-xs-12 mt-15 pl0 pr0">
					
					

						<div class="table-responsive">
							<table class="table table-inline-nopad mb-10" sm-table-responsive
								watch-data="tableData" tab-nav tab-row="addNewParty()">
								<thead class="borderthead">
									<tr>
										<th class="inl_sno">#</th>
										<th class="inl_m">Date</th>
										<th colspan="3" class="inl_m text-center">Document Reference</th>
										<th class="inl_m  text-right">Local Amount</th>
										<th class="inl_m">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									<td>1</td>
										<td>2016-23-10</td>
										<td></td>
										<td></td>
										<td></td>
										<td class="text-right">29.00</td>
										<td></td>
									</tr>

								</tbody>
							</table>
						</div>


					
						

					</div>
				</div>
			</div>
			<!--body ends-->




		</div>
		<!--panel end document-->
	</div>
</div>
<!--modal ends-->









