
.msg_box{
	position:fixed;
	bottom:-5px;
	width:250px;
	background:white;
	border-radius:5px 5px 0px 0px;
}

.msg_head{
	background:#3498db;
}

.msg_body{

	height:370px;
	font-size:12px;
	padding:2px;
	overflow:auto;
	overflow-x: hidden;
}

.user:before{
	content:'';
	position:absolute;
	background:#2ecc71;
	height:10px;
	width:10px;
	left:10px;
	top:15px;
	border-radius:6px;
}
.msg_a{
	background:#aae4f0;
	color:#333 !important;
    padding:10px 5px;
    width: 100%;
	height:100%;
	float: left;
	position:relative;
	margin-left:10px;
	margin-top:15px;
	border-radius:5px;
}
.msg_a span{color:#333 !important;}
.msg_b span{color:#333 !important;}
.msg_a:after{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent transparent transparent #aae4f0;
	right:-20px;
	top:10px;
}

.msg_b{
    width:100%;
    position:relative;
	background:#f1f1f1;
    padding:10px 5px;
     width: 100%;
	height:100%;
	float: left;
    margin-right:10px;
	margin-top:15px;
	border-radius:5px;
}
.msg_b:before{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent #f1f1f1 transparent transparent;
	left:-20px;
	top:10px;
}
.chat{padding-top:10px !important;}
.chat-time{padding-top:30px !important;float:left;}
.chat-text-right{float:right !important;}
.chat-text-left{float:left !important;}