@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?2j27u9');
    src:    url('fonts/icomoon.eot?2j27u9#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2j27u9') format('truetype'),
        url('fonts/icomoon.woff?2j27u9') format('woff'),
        url('fonts/icomoon.svg?2j27u9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-chevron-right:before {
    content: "\e90b";
    font-family: 'icomoon' !important;
}
.fa-clock-o:before {
    content: "\e939";
    font-family: 'icomoon' !important;
}

.icon-gsearch:before {
    content: "\e934";
}
.icon-chat:before {
    content: "\e93a";
}
.icon-bell:before {
    content: "\e945";
}
.icon-r-arr:before {
    content: "\e911";
}
.icon-air-plane:before {
    content: "\e918";
}
.icon-v-ellipse:before {
    content: "\e926";
}
.icon-recent-doc:before {
    content: "\e927";
}
.icon-downarr:before {
    content: "\e928";
}
.icon-help:before {
    content: "\e92d";
}
.icon-masters:before {
    content: "\e92e";
}
.icon-finance:before {
    content: "\e92f";
}
.icon-train:before {
    content: "\e930";
}
.icon-truck:before {
    content: "\e931";
}
.icon-crm:before {
    content: "\e935";
}
.icon-sales:before {
    content: "\e936";
}
.icon-calendar:before {
    content: "\e937";
}
.icon-dashboard:before {
    content: "\e938";
}
.icon-add:before {
    content: "\e93b";
}
.icon-bookings:before {
    content: "\e93c";
}
.icon-quotes:before {
    content: "\e93f";
}
.icon-lock:before {
    content: "\e941";
}
.icon-user:before {
    content: "\e942";
}
.icon-ocean:before {
    content: "\e944";
}
.icon-menu:before {
    content: "\e929";
}
.icon-swap:before {
    content: "\e943";
}
.icon-search:before {
    content: "\e900";
}
.icon-notes:before {
    content: "\e901";
}
.icon-drarrow:before {
    content: "\e902";
}
.icon-milestone:before {
    content: "\e903";
}
.icon-dlarrow:before {
    content: "\e904";
}
.icon-edit:before {
    content: "\e905";
}
.icon-copy:before {
    content: "\e906";
}
.icon-routeplane:before {
    content: "\e907";
}
.icon-upload:before {
    content: "\e908";
}
.icon-download:before {
    content: "\e909";
}
.icon-uparrow:before {
    content: "\e90a";
}
.icon-r-arrow:before {
    content: "\e90b";
}
.icon-downarrow:before {
    content: "\e90c";
}
.icon-close:before {
    content: "\e90d";
}
.icon-breadcrumb:before {
    content: "\e90e";
}
.icon-back-menu:before {
    content: "\e90f";
}
.icon-ascending-arrow:before {
    content: "\e910";
}
.icon-phone:before {
    content: "\e912";
}
.icon-mobile:before {
    content: "\e913";
}
.icon-import:before {
    content: "\e914";
}
.icon-fax:before {
    content: "\e915";
}
.icon-export:before {
    content: "\e916";
}
.icon-email:before {
    content: "\e917";
}
.icon-date-picker:before {
    content: "\e919";
}
.icon-date:before {
    content: "\e919";
}
.icon-hazards .path1:before {
    content: "\e91a";
    color: rgb(255, 218, 98);
}
.icon-hazards .path2:before {
    content: "\e91b";
    margin-left: -0.998046875em;
    color: rgb(0, 0, 0);
}
.icon-badgefav .path1:before {
    content: "\e91c";
    color: rgb(234, 128, 252);
}
.icon-badgefav .path2:before {
    content: "\e91d";
    margin-left: -1.2255859375em;
    color: rgb(255, 255, 255);
}
.icon-rectangle32:before {
    content: "\e91e";
}
.icon-lost:before {
    content: "\e91f";
}
.icon-won:before {
    content: "\e920";
}
.icon-approved:before {
    content: "\e921";
}
.icon-pagerightarrow .path1:before {
    content: "\e922";
    color: rgb(255, 255, 255);
}
.icon-pagerightarrow .path2:before {
    content: "\e923";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.7);
}
.icon-pageleftarrow .path1:before {
    content: "\e924";
    color: rgb(255, 255, 255);
}
.icon-pageleftarrow .path2:before {
    content: "\e925";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.7);
}
.icon-id:before {
    content: "\e932";
}
.icon-delete:before {
    content: "\e933";
}
.icon-logs:before {
    content: "\e939";
}
.icon-fsl:before {
    content: "\e93d";
}
.icon-bairplane:before {
    content: "\e93e";
}
.icon-successfullupload:before {
    content: "\e940";
}
.icon-close-detail:before {
    content: "\e90d";
}

.icon-xls:before {
    content: "\e92a";
}
.icon-rtf:before {
    content: "\e92b";
}
.icon-pdf:before {
    content: "\e92c";
}
.icon-setup:before {
    content: "\e946";
}

.icon-treeview-expand:before {
    content: "\e949";
}

.icon-treeview-collapse:before {
    content: "\e948";
}

.icon-treeview-circle:before {
    content: "\e947";
}

.icon-location:before {
    content: "\e94a";
}
.icon-report:before {
    content: "\e94c";
}
.sprite { background: url('../../../../assets/images/myTasks_sprite.png') no-repeat top left; width: 18px; height: 18px;  } 
.sprite.box { background-position: 0 -2px; } 
.sprite.clearance { background-position: 0 -24px; width: 20px; height: 20px; } 
.sprite.confirmation { background-position: 0 -50px; } 
.sprite.depot { background-position: 0 -76px; } 
.sprite.enquiry { background-position: 0 -101px; } 
.sprite.invoice { background-position: 0 -122px; width: 20px; height: 20px; } 
.sprite.job { background-position: 0 -146px; } 
.sprite.link { background-position: 0 -170px; } 
.sprite.padlock { background-position: 0 -264px; } 
.sprite.pickup { background-position: 0 -218px; } 
.sprite.quotation { background-position: 0 -241px; width: 16px; height: 16px; } 
.sprite.shipment { background-position: 0 -264px; } 
.sprite span{
    color: #337AB7;
    margin-left: 20px;
}