<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
            <form role="form" name="valueAddedServicesrForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{valueAddedServices.id==null?'Add Value Added Service':'Edit Value Added Service'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="cancel()">
                                        Cancel
                                    </button>

                                    <input type="button" ng-click="saveOrUpdate()"  class="btn accent-btn" ng-value ="valueAddedServices.id==null?'Save':'Update'">

                            </div>
                        </div>
                    </div>
                    <div class="panel-body pt0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15 pt5">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="valueAddedSevicesName"
                                 ng-class="{'error-control':errorMap.get('valueAddedSevicesName')!=null}"
                                 ng-change="validate('valueAddedSevicesName', 1)" ng-model="valueAddedServices.valueAddedSevicesName"/>
                                 <span class="error-message" ng-show="errorMap.get('valueAddedSevicesName')!=null">
									 <small>{{errorMap.get('valueAddedSevicesName')}}</small>
								</span>
                            </div>
                            </div>
                            <div class="row ">
                            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input 
                                    type="text" class="form-control" maxlength="10" id="valueAddedSevicesCode"
                                    ng-disabled="valueAddedServices.id!=null" capitalize
                                    input-focus="{{errorMap.get('valueAddedSevicesCode')!=null}}"
                                    ng-class="{'error-control':errorMap.get('valueAddedSevicesCode')!=null}"
                                    ng-model="valueAddedServices.valueAddedSevicesCode" ng-change="validate('valueAddedSevicesCode', 2)"/>
                                 <span class="error-message" ng-show="errorMap.get('valueAddedSevicesCode')!=null">
									 <small>{{errorMap.get('valueAddedSevicesCode')}}</small>
								</span>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="row">

							<div class="container-fluid mt-5">

								<div class="row ptb0">
									<div class="col-xs-12 nopadding">
										<div class="col-xs-12 nopadding  ">
											<div class="row nomargin">
												<div class="col-xs-12 pl16">
													<button type="button"
														class="btn btn-primary btn-xs btn-property accent-btn "
														ng-click="addNewcharge()" >
														<i class="icon-add"></i> Add Charge
													</button>
												</div>
											</div>
											<div class="row nomargin">
												<div class="col-xs-12 mt10">
											<form role="form" name="chargeForm">
												
												<div class="table-responsive">
													<table class="table table-inline-nopad mb0" tab-nav tab-row="addNewcharge()">
														<thead class="borderthead">
															<tr>
																<th class="inl_sno">#</th>
																<th class=" inl_mpp">Charge<span
																	class="reqColor">*</span></th>
																<th class="inl_m">Code</th>
																<th class="inl_xxs">Action</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="charge in valueAddedServices.valueAddedChargeList track by $index">
																<td ng-class="{'error-cell text-center':errorArray[$index].errRow}">
																	<span ng-show="errorArray[$index].errRow"> 
											                           <a tabindex="-1" href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(errorArray[$index],$index)"
											class="color-white"> <img
												src="../../../../assets/images/error.png" />
										</a>
									</span> <span ng-show="!errorArray[$index].errRow"> {{$index+1}}
									</span>
																</td>
																<td>
																	<div class="select-auto">
																		<input autocomplete="off" 
																			type="text" 
																			id="chargeName{{$index}}"
																			ng-model="valueAddedServices.valueAddedChargeList[$index].chargeMaster"
																			class="form-control last-child"
																			uib-typeahead="chargeObject as chargeObject.chargeName for chargeObject in getChargeNotInList($viewValue)"
																			typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																			typeahead-show-hint="true" typeahead-show-loading="true" 
																			 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																			typeahead-focus-on-select="false"
																			typeahead-focus-first="true"
																			typeahead-editable="false" typeahead-min-length="1"
																			typeahead-wait-ms="500"
																			input-focus="{{errorMap.get('chargeName')!=null}}"
																			ng-class="{'error-control':errorArray[$index].chargeName}" 
																			typeahead-on-select="selectedCharge()">
																		<span class="select-arrow"><b></b></span>
																	</div>
																</td>

																<td>
																<div class="inputBox">
																<input type="text" tabindex="-1" class="form-control"
																	ng-class="{'error-control':errorArray[$index].chargeCode}"
																	ng-disabled="true" id="chargeCode{{$index}}" 
																	ng-model="valueAddedServices.valueAddedChargeList[$index].chargeMaster.chargeCode" />
																	</div>
																	</td>

																<td>
																	<ul class="list-inline">
																		<li ng-show="valueAddedServices.valueAddedChargeList.length>1">
																			<a   ng-click="removeCharge($index)" tabindex="-1">
																				<i class="icon-delete" data-placement="bottom"  bs-tooltip="delete"></i></a></li>
																	</ul>
																</td>
															</tr>
														</tbody>
													</table>
													</div>
												
											</form>
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-8">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-4 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>