<div class="container-fluid resPortListPage" >
	<div class="row nomargin">
		<div ng-show="deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12" >
			<div show-response></div>
			<div success-message></div>
			<!--panel starts-->
			<div class="panel panel-default" ng-click="showHistory=false">
				<div class="panel-heading ">
					<button
						type="button"
						class="btn btn-property accent-btn"
						ng-click=" addNew()">
						<span class="icon-add"></span>
						Add Value Added Service
					</button>
				</div>
				<div class="panel-body p00 no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table  data="dataArr"
									  head="tableHeadArr"
									  sort="sortSelection"
									  click-event="rowSelect(param)"
									  search-event="changeSearch(param)"
									  sort-event="sortChange(param)"
									  page="page" size="limit">
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li><select class="form-control legend-show-ctrl"
										ng-model="limit"
										ng-change="limitChange(limit)"
										ng-options="v for v in limitArr">
							</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
						<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
					
				</div>
			</div><!--Panel Ends-->
		</div>
		
	<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12 m-pl0 " ng-hide="!valueAddedServicesView" >
			<div class="panel panel-default detail-transition" >
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom" bs-tooltip="back" href="javascript:void(0)"  ng-click="backToList()" class="list-panel-back">
									<i class="icon-back-menu"></i>
								</a>
							</span>
							<span>Value Added Service</span>
						</div>
					</div>
					<div>
						<ul class="list-inline">
							<li>
								<a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory">
									<i class="icon-logs" data-placement="bottom" bs-tooltip="activity"></i>
								</a>
							</li>
							<li>
								<a data-placement="bottom"   bs-tooltip="edit"
								   href="javascript:void(0)" class="list-panel-edit-btn cursorPt" ng-click="vasEdit(valueAddedServices.id)"  >
									<i class="icon-edit"></i>
								</a>
							</li>
							<li>
								<a data-placement="bottom" ng-click="vasDelete(valueAddedServices.id)" bs-tooltip="delete" href="javascript:void(0)" class="list-panel-edit-btn cursorPt">
									<i class="icon-delete"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view"  ng-click="showHistory=false">
						<div class="row metadata-detail">
							<span>Name</span>
							<h5>{{valueAddedServices.valueAddedSevicesName}}</h5>
						</div>
								<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span>Code</span>
									<h5>{{valueAddedServices.valueAddedSevicesCode}}</h5>
								</li>
							</ul>
						</div>
				<div class="row nopadding bor-0" >
							<h5 class="pad-15 sub-title">Charge</h5>
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-12 mt-15">
								<div class="table-responsive" ng-show="valueAddedServices.valueAddedChargeList.length>0">
									<table  class="table table-inline nomargin" >
										<thead class="borderthead">
										<tr>
											<th class="inl_sno">#</th>
											<th class="inl_mpp">Name</th>
											<th class="inl_sm">Code</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="charge in valueAddedServices.valueAddedChargeList  track by $index"> 
											<td>{{$index + 1}}</td>
														<td>{{charge.chargeMaster.chargeName}}</td>
														<td class="text-left">{{charge.chargeMaster.chargeCode}}</td>
										</tr>
										</tbody>
									</table>
								</div>
								<empty-record ng-show="!valueAddedServices.valueAddedChargeList || valueAddedServices.valueAddedChargeList.length==0" icon="edi" text="Looks like there are no value added charge records here"></empty-record>
							</div>
						</div>
							
						
					</div>
					<div class="logs-view widP55per widL55per logs-transition" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span> 
											<a href="javascript:void(0)" ng-click="showHistory=false" class="list-panel-back">
												<i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i>
											</a>
										</span> 
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="valueAddedServices.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{valueAddedServices.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(valueAddedServices.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="valueAddedServices.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{valueAddedServices.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(valueAddedServices.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		</div></div>