<div class="container-fluid resPortAddPage resLandAddPage" >
    <div class="row ">
        <div class=" col-xs-12 col-sm-12  col-md-12 col-lg-7">
            <form role="form" name="vm.cfsMasterForm" >
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{vm.cfsMaster.id==null?'Add CFS':'Edit CFS'}}</h4>
                        </div>
                        <div>
                            <div class="btngrp">
                                    <button type="button" class="btn cancel-btn"  ng-click="vm.cancel(vm.cfsMaster.id)">
                                        Cancel
                                    </button>
                                   <button type="button"  class="btn accent-btn"  ng-click="vm.cfsMaster.id==null?vm.create():vm.update()"> {{vm.cfsMaster.id==null?'Save':'Update'}}</button>							
                   </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div>
                                <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9 plr0">
                            <div class="col-xs-6  form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span></label>
                                <input 
                                 type="text" class="form-control" input-focus="true" maxlength="100" id="cfsName"
                                 ng-class="{'error-control':errorMap.get('cfsName')!=null}"
                                 ng-change="vm.validate('cfsName', 1)" ng-model="vm.cfsMaster.cfsName"/>
                                 <span class="error-message" ng-show="errorMap.get('cfsName')!=null">
									 <small>{{errorMap.get('cfsName')}}</small>
								</span>
                            </div>
                            <div class="col-xs-6 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Code<span class="reqColor">*</span></label>
                                    <input capitalize
                                    type="text" class="form-control" maxlength="3" id="cfsCode"
                                    ng-disabled="vm.cfsMaster.id!=null"
                                    input-focus="{{vm.errorMap.get('cfsCode')!=null}}"
                                    ng-class="{'error-control':errorMap.get('cfsCode')!=null}"
                                    ng-model="vm.cfsMaster.cfsCode" ng-change="vm.validate('cfsCode', 2)"/>
                                 <span class="error-message" ng-show="errorMap.get('cfsCode')!=null">
									 <small>{{errorMap.get('cfsCode')}}</small>
								</span>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                        
                        <div class="row">
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9  plr0">
							
								<div class="col-xs-12 plr0">
									<label class="text-inherit">Address</label>
								</div>
							

							<div class="row  ">
								<div class="col-xs-12 mb-10 ">

									<div class="row nomargin">
										<div class="col-xs-12 pl0">
											<input id="{{'addressLine1'}}" type="text"
												input-focus="{{errorMap.get('addressLine1')!=null}}"
												class="form-control"
												ng-model="vm.cfsMaster.addressMaster.addressLine1" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine1')!=null}"
												>
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1')!=null">
													<small> {{errorMap.get('addressLine1')}} </small>
												</span>
											</div>
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 ">
											<input id="{{'addressLine2'}}" type="text"
												input-focus="{{errorMap.get('addressLine1')!=null}}"
												class="form-control"
												ng-model="vm.cfsMaster.addressMaster.addressLine2" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine2')!=null}"
												>
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1')!=null">
													<small> {{errorMap.get('addressLine1')}} </small>
												</span>
											</div>
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 ">
											<input id="{{'addressLine3'}}" type="text"
												input-focus="{{errorMap.get('addressLine1')!=null}}"
												class="form-control"
												ng-model="vm.cfsMaster.addressMaster.addressLine3" maxlength="100"
												ng-class="{'error-control':errorMap.get('addressLine3')!=null}"
												>
											<div>
												<span class="error-message"
													ng-show="errorMap.get('addressLine1')!=null">
													<small> {{errorMap.get('addressLine1')}} </small>
												</span>
											</div>
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 plr0 ">
											<div class="col-xs-4 pl0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'state'}}" autocomplete="off"
														ng-model="vm.cfsMaster.addressMaster.state"
														uib-typeahead="lovObject as lovObject.stateName for lovObject in $AutoCompleteService.getStateList($viewValue,userProfile.selectedUserLocation.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedState('city')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('state')!=null">
													<small>{{errorMap.get('state')}}</small>
												</span>

											</div>

											<div class="col-xs-4 pl0 ">
												<div class="select-auto">
													<input type="text" class="form-control"
														id="{{'city'}}" autocomplete="off"
														ng-model="vm.cfsMaster.addressMaster.city"
														uib-typeahead="lovObject as lovObject.cityName for lovObject in $AutoCompleteService.getCityList($viewValue,userProfile.selectedUserLocation.countryMaster)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedCity('zip')"
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														> <span class="select-arrow"><b></b></span>
												</div>

												<span class="error-message"
													ng-show="errorMap.get('city')!=null">
													<small>{{errorMap.get('city')}}</small>
												</span>

											</div>
											<div class="col-xs-4 pl0 ">
												<input id="{{'zip'}}" type="text"
												input-focus="{{errorMap.get('zip')!=null}}"
												class="form-control"
												ng-model="vm.cfsMaster.addressMaster.zipCode" maxlength="20"
												ng-class="{'error-control':errorMap.get('zip')!=null}"
												>

												<span class="error-message"
													ng-show="errorMap.get('zip')!=null">
													<small>{{errorMap.get('zip')}}</small>
												</span>

											</div>
										</div>
									</div>
								</div>
								
							</div>
							</div>
						</div>
                        
                        
                        <div class="row">
                         <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9 plr0">
                        <div class="col-xs-6 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Contact Person</label>
                                    <input 
                                    type="text" class="form-control" maxlength="100" id="contact"
                                     
                                    input-focus="{{vm.errorMap.get('contact')!=null}}"
                                    ng-class="{'error-control':errorMap.get('contact')!=null}"
                                    ng-model="vm.cfsMaster.addressMaster.contact" ng-change="vm.validate('contact', 4)"/>
                                 <span class="error-message" ng-show="errorMap.get('contact')!=null">
									 <small>{{errorMap.get('contact')}}</small>
								</span>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Phone</label>
                                    <input 
                                    type="text" class="form-control" maxlength="100" id="phone"
                                     
                                    input-focus="{{vm.errorMap.get('phone')!=null}}"
                                    ng-class="{'error-control':errorMap.get('phone')!=null}"
                                    ng-model="vm.cfsMaster.addressMaster.phone" ng-change="vm.validate('phone', 5)"/>
                                 <span class="error-message" ng-show="errorMap.get('phone')!=null">
									 <small>{{errorMap.get('phone')}}</small>
								</span>
                                </div>
                            </div>
                            </div>
                            
                        </div>
                         <div class="row">
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9 plr0">
                        <div class="row col-xs-6  form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Mobile No</label>
                                    <input 
                                    type="text" class="form-control" maxlength="100" id="mobileNo"
                                     
                                    input-focus="{{vm.errorMap.get('mobileNo')!=null}}"
                                    ng-class="{'error-control':errorMap.get('mobileNo')!=null}"
                                    ng-model="vm.cfsMaster.addressMaster.mobile" ng-change="vm.validate('mobileNo', 6)"/>
                                 <span class="error-message" ng-show="errorMap.get('mobileNo')!=null">
									 <small>{{errorMap.get('mobileNo')}}</small>
								</span>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Email</label>
                                    <input 
                                    type="text" class="form-control" maxlength="100" id="email"
                                     
                                    input-focus="{{vm.errorMap.get('email')!=null}}"
                                    ng-class="{'error-control':errorMap.get('email')!=null}"
                                    ng-model="vm.cfsMaster.addressMaster.email" ng-change="vm.validate('email', 7)"/>
                                 <span class="error-message" ng-show="errorMap.get('email')!=null">
									 <small>{{errorMap.get('email')}}</small>
								</span>
                                </div>
                            </div>
                            
                        </div>
                        </div>
                             <div class="row">
                              <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9 plr0">
                             <div class="col-xs-6 form-group nomargin pl0">
                                <div class="form-group nomargin pr0">
                                    <label class="custom-label">Port</label>
									<div class="select-auto">
										<div class="select-auto">
											<input type="text" class="form-control" id="portName"
												autocomplete="off" ng-model="vm.cfsMaster.portMaster"
												input-focus="{{vm.errorMap.get('portName')!=null}}"
												ng-class="{'error-control':errorMap.get('portName')!=null}"
												uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortEvent($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="vm.validate('portName', 8)"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true" typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500"> <span
												class="select-arrow"><b></b></span>
										</div>

									</div>
									<span class="error-message" ng-show="errorMap.get('portName')!=null">
									 <small>{{errorMap.get('portName')}}</small>
								</span>
                                </div>
                            </div>
                         <div class="col-xs-6 form-group nomargin pl0" ng-class="vm.cfsMaster.id!=null?'visible-show':'visible-hide'">
                               <div class="form-group nomargin pr0">
                                    <label class="custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="vm.setStatus(vm.cfsMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="vm.cfsMaster.status" required >
                                    </select>
                                </div></div>
                                </div>
                        
                        </div>
                        
                        
                        
                        
                        
                    </div>
                    <!--panel body ends-->
                </div>
                <!--panel ends-->
            </form>
        </div>
    </div>
</div>
