    <div class="pad-15">
        <div show-response></div>

        <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory fields</small></div>
    </div>
   <div class="row">
        <div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
            <label class="custom-label">Group Name<span class="reqColor">*</span></label>
            <div class="select-auto">
               <input type="text" class="form-control" id="serviceCode"
							input-focus="true" tabindex="1" autofocus
							autocomplete="off" ng-model="autoMailMaster.autoMailGroupMaster" 
							uib-typeahead="lovObject as lovObject.messageGroupName for lovObject in ajaxGroupEvent($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="selectedGroup();" 
							typeahead-focus-on-select="false"
							typeahead-focus-first="true" typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500">
						<span class="select-arrow"><b></b></span>
            </div>
            <!--<oi-select-->
                    <!--autofocus="true" tabindex="1"-->
                    <!--oi-options="item.messageGroupName for item in ajaxGroupEvent($query)"-->
                    <!--ng-model="autoMailMaster.autoMailGroupMaster"-->
                    <!--ng-change="selectedGroup()"-->
                    <!--oi-select-options="{-->
                                                               <!--editItem: 'correct',-->
                                                               <!--debounce: 200,-->
                                                               <!--dropdownFilter: 'myDropdownFilter',-->
                                                               <!--saveTrigger:'enter tab blur',-->
                                                               <!--listFilter: 'oiSelectAscSort:[\'messageGroupCode\']'-->
												            <!--}"-->
                    <!--</oi-select>-->
            <!--<ui-select-->
                    <!--ng-model="autoMailMaster.autoMailGroupMaster"-->
                    <!--theme="select2"-->
                    <!--style="width: 100%"-->
                    <!--title="{{autoMailMaster.autoMailGroupMaster.id==null?'':autoMailMaster.autoMailGroupMaster.messageGroupName}}"-->
                    <!--tabindex=""-->
                    <!--ng-change="selectedGroup()"-->
                    <!-->
                <!--<ui-select-match >-->
                    <!--{{$select.selected.messageGroupName}}-->
                    <!--&lt;!&ndash;<a href="javascript:void(0);"><i class="icon-close"></i></a>&ndash;&gt;-->
                    <!--<a tabindex="-1" href="javascript:void(0);" ng-click="serviceMaster.costCenter={}"><i class="icon-close"></i></a>-->
                <!--</ui-select-match>-->
                <!--<ui-select-choices refresh="ajaxGroupEvent($select.search)" refresh-delay="250" repeat="dataObj in  autoMailGroupList">-->
                    <!--<span ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.messageGroupName | highlight: $select.search"></span>-->
                    <!--[<small ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.messageGroupCode | highlight: $select.search"></small>]-->
                <!--</ui-select-choices>-->
            <!--</ui-select>-->


            <!--<a title="{{autoMailMaster.autoMailGroupMaster.id==null?'':autoMailMaster.autoMailGroupMaster.messageGroupName}}" href="javascript:void(0)"
               ng-click="showAutoMailGroups(autoMailMaster.autoMailGroupMaster.messageGroupCode)" name="group"
               class="btn btn-default btn-outline selectPicker">
                {{autoMailMaster.autoMailGroupMaster.id==null?'':autoMailMaster.autoMailGroupMaster.messageGroupName}}<i class="fa fa-chevron-right pull-right"></i>
            </a>-->
            <div>
                                    <span class="error-message" ng-show="errorMap.get('group')!=null"><small>
                                        {{errorMap.get('group')}}
                                    </small></span>
            </div>
        </div>
    </div>
    
    <div class="row ">

        <div class="col-md-7 col-lg-7 col-xs-12 form-group nomargin pl0">
            <label class="custom-label">Name <span class="reqColor">*</span></label>
            <input  type="text" class="form-control" tabindex="2"
                   id="messageName" name="messageName"
                   ng-model="autoMailMaster.messageName"
                   ng-class="{'error-control':errorMap.get('messageName')!=null}"
                   maxlength="100" ng-change="validateAutoMailMaster(2)">
            <div>
                <span class="error-message" ng-show="errorMap.get('messageName')!=null"><small>{{errorMap.get('messageName')}}</small></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
            <div class="col-xs-6 form-group nomargin pl0">
                <label class="custom-label">Code <span class="reqColor">*</span></label>
                <input type="text" class="form-control" id="messageCode"  tabindex="3"
                       name="messageCode" ng-model="autoMailMaster.messageCode"
                       ng-class="{'error-control':errorMap.get('messageCode')!=null}"
                       maxlength="10" capitalize ng-change="validateAutoMailMaster(3)" ng-disabled="autoMailMaster.id!=null">
                       <div>
                <span class="error-message" ng-show="errorMap.get('messageCode')!=null"><small>{{errorMap.get('messageCode')}}</small></span>
            </div>
                
            </div>

            <div class=col-xs-6 form-group nomargin pr0" ng-show="autoMailMaster.id!=null">
                 <label class="custom-label">Status</label>
                <select tabindex="4" class="form-control status" id="autoMailStatus"
                        ng-class="setStatus(autoMailMaster.autoMailStatus)"
                        ng-options="item for item in enum['Status']"
                        ng-model="autoMailMaster.autoMailStatus" required>
                </select>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0" ng-show="autoMailMaster.id!=null">
           

            
                <label class="custom-label">Status</label>
                <select tabindex="6" class="form-control autoMailStatus" id="autoMailStatus"
                        ng-class="setStatus(autoMailMaster.autoMailStatus)"
                        ng-options="item for item in enum['Status']"
                        ng-model="autoMailMaster.autoMailStatus" required>
                </select>
           
        </div>
    </div> -->

<div class="row">
        <div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
            <label class="custom-label">Internal / External</label>
            
            <button-group btn-index="5" states="enum['MessageSendType']"
                                        state="autoMailMaster.messageSendType">
            </button-group>
            
            
            <!--<button-group-->
                    <!--states="enum['TransportMode']"-->
                    <!--state="carrierMaster.transportMode"-->
                    <!--on-state-change="modeSelect()">-->
            <!--</button-group>-->

             <div>
                <span class="error-message" ng-show="errorMap.get('messageSendType')!=null"><small>{{errorMap.get('messageSendType')}}</small></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
                <label class="custom-label">Event Type</label>
                <select tabindex="6"  id="eventType"  class="form-control"
                        ng-options="item | MailEventType for item in enum['MailEventType']"
                        ng-model="autoMailMaster.eventType" required>
                        <option value=""></option>
                </select>
           
        </div>
    </div>
    
    
                            