<div class="container-fluid" >

    <div class="row ml0 mr0" ng-init="showDetail=false">
        <div class="list-container col-md-12" ng-show="!showDetail">
            <div class="row nomargin">
                <ul class="nav btn-tab2">
                    <li ng-class="detailTab=='active'?'activeBtn':''" ng-click="tabChange('active')" >
                        Active
                    </li>
                    <li ng-class="detailTab=='all'?'activeBtn':''" ng-click="tabChange('all')">
                        All
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                        <div ng-if="detailTab=='all'">
                            <div class="panel panel-default">
                                <div class="panel-body tab-only-table" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table 	data="importToExportArr"
                                                        sort="activeSortSelection"
                                                        head="importToExportHeadAllArr"
                                                        click-event="rowSelect(param,index)"
                                                        search-event="changeSearch(param)"
                                                        sort-event="sortChange(param)"
                                                        link-event="goToShipmentView(param.shipmentUid)"
                                                        page="page" size="limit"
                                                >
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div>

                        <div ng-if="detailTab=='active'">
                            <div class="panel panel-default">
                                <div class="panel-body tab-only-table" panel-height>
                                    <div class="table-fixed table-responsive">
                                        <super-table 	data="importToExportArr"
                                                        head="importToExportHeadArr"
                                                        sort="activeSortSelection"
                                                        click-event="rowSelectActive(param,index)"
                                                        search-event="changeSearch(param)"
                                                        sort-event="sortChange(param)"
                                                          link-event="goToShipmentView(param.shipmentUid)"
                                                        page="page" size="limit"
                                                >
                                        </super-table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
