<div class="panel panel-default" >
    <div class="panel-heading flexTitle">
        <div>
            <ul class="flexTitle">
                <li class="mr8" ng-hide="true"><a href="javascript:;" ng-click="listview()"><span class="icon-back-menu"></span></a> </li>
                <li  ng-if="!copyFlag"><h4>{{flightPlan.id == null?'Add':'Edit'}}  Flight Schedule </h4></li>
                <li  ng-if="copyFlag"><h4>Copy Flight Schedule  </h4></li>
            </ul>
        </div>
        <div>
            <ul class="flexTitle masopertion-action">
                <li>
                    <button type="button" class="btn btn-default" ng-click="cancel()">cancel</button>
                </li>
                <li>
                    <button type="button" class="btn accent-btn"  ng-click="flightPlan.id!=null?update():save()"  ng-if="!copyFlag">{{flightPlan.id==null?'Save':'Update'}}</button>
                    <button type="button" class="btn accent-btn"  ng-click="save()" ng-if="copyFlag" >Save</button>
                </li>

            </ul>
        </div>
    </div>
    <div show-response></div>
    <client-error message="clientMessage"></client-error>
    <div class="panel-body edit-body" ng-click="showHistory=false" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
        <form role="form" name="flightPlanForm">
            <flight-connection-table 	table-data="flightPlan.connectionList"
                                        table-state="fnConnectionTableState(param)"
                                        show-errors="connectionTableError"
                                        table-check="tableValidCheck">
            </flight-connection-table>



            <div  class="row nomargin  minH-100">
                <div class="col-xs-3 bor brad3 ">
                    <span class="error-message" style="color: red;" ng-if="errorMap.get('connectionList')!=null">
                            <small>{{errorMap.get('connectionList')}}</small>
                    </span>

                    <span class="error-message" ng-if="errorMap.get('connectionError')!=null">
                        <small>{{errorMap.get('connectionError')}}</small>
                    </span>


                    <!--<h6 style="position: relative; top: -10px;">Capacity</h6>-->
                    <div class="row">
                        <div class="col-xs-6 minH-100" style="position: relative; top: 20px">
                            <div class="form-group mb0">
                                <label>Capacity Reserved (KG)</label>
                                <input 	type="text"
                                		class="form-control text-right"
                                		ng-model="flightPlan.capacityReserved"
                                		ng-change="validateFlightPlan(1)"
                                		maxlength="12"
                                		input-focus="{{errorMap.get('capacityReserved')!=null}}"
                                		tabindex="8">
                           		<span class="error-message" style="color: red;" ng-if="errorMap.get('capacityReserved')!=null">
                           			<small>{{errorMap.get('capacityReserved')}}</small>
                                </span>
                            </div>
                        </div>

                        <!--<div class="col-xs-4">
                            <div class="form-group mb0">
                                <label>Status</label>
                                <select
                                	class="form-control"
                                	ng-options="item for item in enum['FlightPlanStatus']"
                                	ng-model="flightPlan.flightPlanStatus"
                                	tabindex="9">
                                </select>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="col-xs-6 bor brad3" style="margin-left: 15px;">
                    <div class="row">
                        <!--<div class="col-xs-3 bor-l-1 minH-100 ">
                            <div style="position: relative; top: 20px">
                                <div class="form-group mb0">
                                    <label>Status</label>
                                    <select
                                            class="form-control"
                                            ng-options="item for item in enum['FlightPlanStatus']"
                                            ng-model="flightPlan.flightPlanStatus"
                                            tabindex="9">
                                    </select>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="col-xs-3 bor-l-1  minH-100">
                            <div style="position: relative; top: 20px">
                                <div class="form-group mb0">
                                    <label>Flight Frequency (in Days) <span class="reqColor">*</span></label>
                                    <input 	type="text" ng-disabled="{{flightPlan.id!=null}}" ng-if="!copyFlag"
                                    		class="form-control text-right"
                                    		ng-model="flightPlan.flightFrequency"
                                    		maxlength="3"
                                    		ng-change="validateFlightPlan(3)"
                                    		input-focus="{{errorMap.get('flightFrequency')!=null}}"
                                    		tabindex="10">

                                    <input 	type="text"  ng-if="copyFlag"
                                    		class="form-control text-right"
                                    		ng-model="flightPlan.flightFrequency"
                                    		maxlength="3"
                                    		ng-change="validateFlightPlan(3)"
                                    		input-focus="{{errorMap.get('flightFrequency')!=null}}"
                                    		tabindex="10">
                                    <span class="error-message" style="color: red;" ng-if="errorMap.get('flightFrequency')!=null">
                           				<small>{{errorMap.get('flightFrequency')}}</small>
                                	</span>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-xs-4 minH-100">
                            <div style="position: relative; top: 20px">
                                <div class="form-group mb0">
                                    <label>Flight Frequency (in Days)<span class="reqColor">*</span></label>
                                    <input 	type="text" ng-disabled="{{flightPlan.id!=null}}" ng-if="!copyFlag"
                                              class="form-control text-right"
                                              ng-model="flightPlan.flightFrequency"
                                              maxlength="3"
                                              ng-change="validateFlightPlan(3)"
                                              input-focus="{{errorMap.get('flightFrequency')!=null}}"
                                              tabindex="10">

                                    <input 	type="text"  ng-if="copyFlag"
                                              class="form-control text-right"
                                              ng-model="flightPlan.flightFrequency"
                                              maxlength="3"
                                              ng-change="validateFlightPlan(3)"
                                              input-focus="{{errorMap.get('flightFrequency')!=null}}"
                                              tabindex="10">
                                    <span class="error-message" style="color: red;" ng-if="errorMap.get('flightFrequency')!=null">
                           				<small>{{errorMap.get('flightFrequency')}}</small>
                                	</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4  minH-100">
                            <div style="position: relative; top: 20px">
                                <div class="form-group mb0">
                                    <label>ETD Upto<span class="reqColor">*</span></label>
                                    <div class="inputBox">
                                        <input  class="form-control"   ng-disabled="{{flightPlan.id!=null}}"
                                        		datetimepicker
                                        		datetimepicker-options="{{datePickerOptions}}"
                                        		ng-model="flightPlan.effectiveUpto"
                                        		ng-change="validateFlightPlan(3)"
                                        		tabindex="11" >
                                        		<span class="inputIcon">
                                        			<i class="icon-date" aria-hidden="true"></i>
                                        		</span>
                                         <span class="error-message" style="color: red;" ng-if="errorMap.get('effectiveUpto')!=null">
                           					<small>{{errorMap.get('effectiveUpto')}}</small>
                                		 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4  minH-100 pl0">
                            <div style="position: relative; top: 43px">
                                <div class="form-group mb0">
                                    <button type="button" class="btn btn-green" ng-disabled="false" ng-click="copyFlightPlan()">copy schedule</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div><!--panel body ends-->

</div><!--panel ends-->