<div class="container-fluid" >
    <div class="row ml0 mr0" >
        <div class="col-md-12 list-container maintable" ng-if="!detailView">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()">
                            <i class="icon-add"></i>add flight schedule</button>
                    </div>
                    <div>
                        <a href="javascript:;" ng-hide="true"> <span class="fa fa-cog"></span></a>
                    </div>
                </div>
                <div class="panel-body detail-body" panel-height>
                    <div class="table-fixed table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
                        <super-expand-table
                                data="flightPlanArr"
                                head="searchHeadArrAll"
                                click-event="rowSelectAll(param,index)"
                                sort="searchSortSelection"
                                search-event="changeSearchAll(param)"
                                sort-event="sortChangeAll(param)">
                        </super-expand-table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="pull-left">
                        <ul class="list-inline">
                            <li>Show</li>
                            <li>
                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                </select>
                            </li>
                            <li>Entries</li>
                        </ul>
                    </div>
                    <div class="pull-right text-right">
                        <pagination-dr  page="page" size="limit" total=totalRecord page-change="changePage(param)" class="pull-right" >
                        </pagination-dr>
                    </div>
                </div>
            </div><!--panel ends-->
            <!--<div class="row nomargin">-->
                <!--<ul class="nav btn-tab2">-->
                    <!--<li ng-class="detailTab=='active'?'activeBtn':''" ng-click="tabChange('active')" >-->
                        <!--Active-->
                    <!--</li>-->
                    <!--<li ng-class="detailTab=='all'?'activeBtn':''" ng-click="tabChange('all')">-->
                        <!--All-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-xs-12 tab-list-container">-->
                <!--<div class="row">-->
                    <!--<div class="tab-content">-->
                        <!--<div ng-if="detailTab=='all'">-->
                            <!--<div class="panel panel-default">-->
                                <!--<div class="panel-heading flexTitle">-->
                                    <!--<div>-->
                                        <!--<button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()">-->
                                            <!--<i class="icon-add"></i>add flight schedule</button>-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<a href="javascript:;" ng-hide="true"> <span class="fa fa-cog"></span></a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="panel-body nav-tab-container" panel-height>-->
                                    <!--<div class="table-fixed table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">-->
                                        <!--<super-expand-table-->
                                                        <!--data="flightPlanArr"-->
                                                        <!--head="searchHeadArrAll"-->
                                                        <!--click-event="rowSelectAll(param,index)"-->
                                                        <!--sort="searchSortSelection"-->
                                                        <!--search-event="changeSearchAll(param)"-->
                                                       	<!--sort-event="sortChangeAll(param)">-->
                                        <!--</super-expand-table>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="panel-footer">-->
                                    <!--<div class="pull-left">-->
                                        <!--<ul class="list-inline">-->
                                            <!--<li>Show</li>-->
                                            <!--<li>-->
                                                <!--<select class="form-control legend-show-ctrl" ng-model="limit"-->
                                                        <!--ng-change="limitChange(limit)" ng-options="v for v in limitArr">-->

                                                <!--</select>-->
                                            <!--</li>-->
                                            <!--<li>Entries</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="pull-right text-right">-->
                                        <!--<pagination-dr  page="page" size="limit" total=totalRecord page-change="changePage(param)" class="pull-right" >-->
                                        <!--</pagination-dr>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash;panel ends&ndash;&gt;-->
                        <!--</div>-->

                        <!--<div ng-if="detailTab=='active'">-->
                            <!--<div class="panel panel-default">-->
                                <!--<div class="panel-heading">-->
                                    <!--<section class="row">-->
                                        <!--<div class="col-xs-3">-->
                                            <!--<div class="panelTitle">-->
                                                <!--<button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()"><i class="icon-add">-->
                                                <!--</i>add flight schedule</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-3" ng-hide="true">-->
                                            <!--<button-group btn-index="3"-->
                                                          <!--states="btnGrp.TypeArr"-->
                                                          <!--state="activeSearchDto.importExport"-->
                                                          <!--on-state-change="activeSearch()"-->
                                                    <!-->
                                            <!--</button-group>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-9 pull-right text-right">-->
                                            <!--<i class="icon-settings"></i>-->
                                        <!--</div>-->
                                    <!--</section>-->
                                <!--</div>-->
                                <!--<div class="panel-body nav-tab-container" panel-height>-->

                                    <!--<div ng-if="detailTab=='active'" class="table-fixed table-responsive" ng-nicescroll nice-option="{{ngScrollConfigScroll}}">-->
                                          <!--<super-expand-table-->
                                                        <!--data="flightPlanArr"-->
                                                        <!--head="searchHeadArrAll"-->
                                                        <!--click-event="rowSelectAll(param,index)"-->
                                                        <!--sort="searchSortSelection"-->
                                                        <!--search-event="changeSearchAll(param)"-->
                                                       	<!--sort-event="sortChangeAll(param)">-->
                                        <!--</super-expand-table>-->
                                    <!--</div>-->

                                <!--</div>-->
                                <!--<div class="panel-footer">-->
                                    <!--<div class="pull-left">-->
                                        <!--<ul class="list-inline">-->
                                            <!--<li>Show</li>-->
                                            <!--<li>-->
                                                <!--<select class="form-control legend-show-ctrl" ng-model="limitActive"-->
                                                        <!--ng-change="limitChangeActive(limitActive)" ng-options="v for v in limitArrActive">-->

                                                <!--</select>-->
                                            <!--</li>-->
                                            <!--<li>Entries</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="pull-right text-right">-->
                                        <!--<pagination-dr  page="pageActive" size="limitActive" total=totalRecordActive page-change="changePageActive(param)" class="pull-right" ></pagination-dr>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash;panel ends&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div ng-if="detailView" ng-include="'app/components/air/flight_plan/view/flight_plan_details.html'"></div>
    </div>
</div>