<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{purchaseOrder.id!=null?'Edit Purchase Order ':'Add Purchase Order'}}</h4>
                    </div>
                    <div>
                        <ul class="list-inline">
                        
                            <li class="nomargin nopadding">
                            	<button class="btn btn-property cancel-btn" ng-click="cancel()">cancel</button>
                           	</li>
                            <li class="nomargin nopadding">
                            	<button class="btn btn-property accent-btn" ng-disabled="disableSubmitBtn" ng-click="purchaseOrder.id!=null && purchaseOrder.id!=-1 ?submitPO(true):submitPO(false)">{{purchaseOrder.id!=null && purchaseOrder.id!=-1 ?'Update':'Save'}}</button>
                           	</li>
                        </ul>

                    </div>
                </div>
                <div class="panel-body  pt0 fgmb0 edit-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <form role="form">
                        <div class="row shade1">
                            <div class="col-xs-12 pt5">
                                <div show-response></div>
                                <div success-response></div>
                                <span class="reqColor nomargin">*</span>
                                <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
                            </div>
                        </div>
                        <div class="row shade1">
                            <div class="col-xs-5">
                                <div class="row ptb-15">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>BC<span>*</span></label>
                                            <div class="select-auto">
											 <input type="text" class="form-control" id ="bcMaster" 
											ng-class="{'error-control':errorMap.get('bcMaster')!=null}" 
											autocomplete="off" 
											input-focus="true"
											ng-model="purchaseOrder.buyer" 
											uib-typeahead="lovObject as lovObject.bcName for lovObject in ajaxBuyerEvent($viewValue)"
											typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
											typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
											typeahead-on-select="selectedBuyer('purchaseOrderDate');" 
											typeahead-focus-on-select="false"
											typeahead-focus-first="true" typeahead-editable="false"
											typeahead-min-length="1" typeahead-wait-ms="500">
											<span class="select-arrow"><b></b></span>
                                            </div>
                                        </div>
                                        <div>
                                          	<span class="error-message" ng-show="errorMap.get('bcMaster')!=null"><small>
                                                {{errorMap.get('bcMaster')}}
                                            </small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-7   ">
                                <div class="row ptb-15">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label>PO No<span>*</span></label>
                                           <input type="text" class="form-control"
                                           id="purchaseOrderNumber"
                                           ng-class="{'error-control':errorMap.get('purchaseOrderNumber')!=null}"
                                           ng-model="purchaseOrder.poNo"
                                           ng-disabled="true"
                                           maxlength="100"
                                           >
                                        </div>
                                        
                                        <div>
                                          	<span class="error-message" ng-show="errorMap.get('purchaseOrderNumber')!=null">
                                          		<small>{{errorMap.get('purchaseOrderNumber')}}</small>
                                        	</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label>PO Date<span>*</span></label>
                                            <div class="inputBox">
                                                <input class="form-control" id="purchaseOrderDate" datetimepicker
                                                       datetimepicker-options="{{datePickerOptions}}"
                                                       ng-class="{'error-control':errorMap.get('purchaseOrderDate')!=null}"
                                                       ng-model="purchaseOrder.poDate"
                                                        date-callback="navigateToNextField('POstatus')"
                                                >
                                                <span class="inputIcon">
                                                    <i class="icon-date" aria-hidden="true"></i>
                                                </span>
                                        	</span>
                                            </div>
                                        </div>
                                        
                                        <div>
                                          	<span class="error-message" ng-show="errorMap.get('purchaseOrderDate')!=null">
                                          		<small>{{errorMap.get('purchaseOrderDate')}}</small>
                                        	</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select
                                                    class="form-control status " id="POstatus"
                                                    ng-class="setStatus(purchaseOrder.status)"
                                                    ng-options="item for item in enum['LovStatus']"
                                                    ng-model="purchaseOrder.status"
                                                    ng-change="navigateToNextField('poSupplier');" >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row shade1 ">
                            <div class="col-xs-5 ">
                                <div class="row ptb-15">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Supplier<span>*</span></label>
                                            <div class="select-auto">
	                                              <input type="text" class="form-control" id="poSupplier" 
														 input-focus="{{errorMap.get('poSupplier')!=null}}" 
														autocomplete="off" ng-model="purchaseOrder.supplier" 
														 ng-class="{'error-control':errorMap.get('poSupplier')!=null}"
														uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedParty('poOriginAgent');" 
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false" 
														typeahead-add-new="routePartyEvent('purchaseOrder.supplier', true, null)" 
														typeahead-min-length="1" typeahead-wait-ms="500">
														<span class="select-arrow"><b></b></span>
	                                        </div>
	                                        <div>
	                                          	<span class="error-message" ng-show="errorMap.get('poSupplier')!=null"><small>
	                                                {{errorMap.get('poSupplier')}}
	                                            </small></span>
	                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-7   ">
                                <div class="row ptb-15">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="text-inherit">Agent at Origin<span>*</span></label>
											
                                            <div class="select-auto">
	                                            <input type="text" class="form-control" id="poOriginAgent" 
														input-focus="{{errorMap.get('poOriginAgent')!=null}}" 
														ng-class="{'error-control':errorMap.get('poOriginAgent')!=null}"
														autocomplete="off" ng-model="purchaseOrder.originAgent" 
														uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedOriginAgent('poDestinationAgent');" 
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false" 
														typeahead-add-new="routePartyEvent('purchaseOrder.originAgent', true, null)" 
														typeahead-min-length="1" typeahead-wait-ms="500">
														<span class="select-arrow"><b></b></span>
	                                        </div>
	                                        <div>
	                                          	<span class="error-message" ng-show="errorMap.get('poOriginAgent')!=null"><small>
	                                                {{errorMap.get('poOriginAgent')}}
	                                            </small></span>
	                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="text-inherit">Agent at Destination<span>*</span></label>
                                            <div class="select-auto">
	                                            <input type="text" class="form-control" id="poDestinationAgent" 
														input-focus="{{errorMap.get('poDestinationAgent')!=null}}" 
														ng-class="{'error-control':errorMap.get('poDestinationAgent')!=null}"
														autocomplete="off" ng-model="purchaseOrder.destinationAgent" 
														uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxPartyEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedDestinationAgent('poOrigin');" 
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false" 
														typeahead-add-new="routePartyEvent('purchaseOrder.destinationAgent', true, null)"  
														typeahead-min-length="1" typeahead-wait-ms="500">
														<span class="select-arrow"><b></b></span>
	                                        </div>
	                                        <div>
	                                          	<span class="error-message" ng-show="errorMap.get('poDestinationAgent')!=null"><small>
	                                                {{errorMap.get('poDestinationAgent')}}
	                                            </small></span>
	                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row shade1 bor-btm-1 ">
                            <div class="col-xs-5 ">
                                <div class="row ptb-15">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Origin<span>*</span></label>
                                            <div class="select-auto">
												<input type="text" class="form-control" id="poOrigin" 
													autocomplete="off" ng-model="purchaseOrder.origin"
													ng-class="{'error-control':errorMap.get('poOrigin')!=null}"
													uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                    typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedOrigin('poDestination');" 
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500">
												<span class="select-arrow"><b></b></span>
													
											</div>
											<span class="error-message" style="color: red;" ng-show="errorMap.get('poOrigin')!=null">
												<small>{{errorMap.get('poOrigin')}}</small>
											</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 ">
                                        <div class="form-group">
                                            <label>Destination<span>*</span></label>
                                            <div class="select-auto">
												<input type="text" class="form-control" id="poDestination"  
													input-focus="{{errorMap.get('serviceCode')!=null}}"
													ng-class="{'error-control':errorMap.get('poDestination')!=null}"
													autocomplete="off" ng-model="purchaseOrder.destination" 
													uib-typeahead="lovObject as lovObject.portName for lovObject in ajaxPortEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-port-template.html"
                                                    typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portpopup.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedDestination('poTransportMode');" 
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500">
												<span class="select-arrow"><b></b></span>
											</div>
											<span class="error-message" style="color: red;" ng-show="errorMap.get('poDestination')!=null">
												<small>{{errorMap.get('poDestination')}}</small>
											</span>
											
                                            <span class="error-message" style="color: red;" ng-show="errorMap.get('poSimilarPorts')!=null">
                                                <small>{{errorMap.get('poSimilarPorts')}}</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-7   ">
                                <div class="row ptb-15">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <label>Transport Mode<span>*</span></label>
                                         <select class="form-control " id="poTransportMode"
                                                    ng-options="item for item in enum['TransportMode']"
                                                    ng-model="purchaseOrder.transportMode" 
                                                    ng-change="navigateToNextField('PoConsolRdirect');">
                                            </select>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                                        <label>Direct / Consol</label>
                                        <ul class="list-inline">
                                            <li  ng-class="{'opc-5':purchaseOrder.consolRdirect}">Direct</li>
                                            <li class="v-align-top">
                                                <switch tabindex="0" id="PoConsolRdirect" ng-model="purchaseOrder.consolRdirect" class="green"></switch>
                                            </li>
                                            <li ng-class="{'opc-5':!purchaseOrder.consolRdirect}">Consol</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label class="text-inherit">Terms of Shipment</label>
											<div class="select-auto">
												<input type="text" class="form-control" id="poTos" 
													autocomplete="off" ng-model="purchaseOrder.tosMaster"
													ng-class="{'error-control':errorMap.get('poTos')!=null}" 
													uib-typeahead="lovObject as lovObject.tosName for lovObject in ajaxTosEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedTos('poItemNo0');" 
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500">
												<span class="select-arrow"><b></b></span>
											</div>
											<span class="error-message" style="color: red;" ng-show="errorMap.get('poTos')!=null">
												<small>{{errorMap.get('poTos')}}</small>
											</span>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="clickOnTabView('items')">
                                    <li data-menu-item="Items">
                                        <button tabindex="-1" type="button" class="btn" ng-class="Tabs=='items'?'active':'btn-normal'" ng-click="clickOnTabView('items');actAfterFiveHunMilliSec('poItemNo0');">Items</button>
                                    </li>
                                    <li data-menu-item="Attachments">
                                        <button tabindex="-1" type="button" class="btn" ng-class="Tabs=='attachments'?'active':'btn-normal'" ng-click="clickOnTabView('attachments');actAfterFiveHunMilliSec('poAttachmentdateFormat');">Attachments</button>
                                    </li>
                                    <li data-menu-item="Vehicle Info">
                                        <button tabindex="-1" type="button" class="btn" ng-class="Tabs=='vehicleInfo'?'active':'btn-normal'" ng-click="clickOnTabView('vehicleInfo');actAfterFiveHunMilliSec('poVehicleInfoVehicleNo0');">Vehicle Info</button>
                                    </li>
                                    <li data-menu-item="Remarks">
                                        <button tabindex="-1" type="button" class="btn" ng-class="Tabs=='remarksFollowUp'?'active':'btn-normal'" ng-click="clickOnTabView('remarksFollowUp');actAfterFiveHunMilliSec('poRemarkFollowDate0');">Remarks Follow Up</button>
                                    </li>
                                    <li data-menu-item="Others">
                                        <button tabindex="-1" type="button" class="btn" ng-class="Tabs=='others'?'active':'btn-normal'" ng-click="clickOnTabView('others');actAfterFiveHunMilliSec('poSupplierReferenceNo');">Others</button>
                                    </li>
                                    <li data-more-menu-item >
                                        <button ng-show="false" tabIndex="-1" type="button" class="btn btn-normal"> more <span class="icon-downarr"></span></button>
                                    </li>
                                </ul><!--TAB MENUS ENDS-->
                                <div class="tab-content " >
                                    <div ng-show="Tabs=='items'" class="shade3">
                                        <div class="row nomargin">
                                            <div class="col-xs-12 mt-15">
                                                <a tabindex="-1" href="javascript:void(0)" ng-click="addNewItem()" class="btn btn-primary btn-xs btn-property accent-btn pull-left mb10">
                                                    <span class="icon-add"></span> Add Item
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table table-inline">
                                                        <thead>
                                                        <tr>
                                                            <th rowspan="2" class="inl_sno">#</th>
                                                            <th rowspan="2">Item No<span class="reqColor">*</span></th>
                                                            <th rowspan="2" class="inl_xl">Description<span class="reqColor">*</span></th>
                                                            <th rowspan="2" class="inl_m text-right">No of Pieces<span class="reqColor">*</span></th>
                                                            <th rowspan="2">Pack Type</th>
                                                            <th rowspan="2" class="text-right">Pcs / Ctn<span class="reqColor">*</span></th>
                                                            <th colspan="3" class="text-center">Ordered</th>
                                                            <th rowspan="2" class="text-right">Net Weight (KG)</th>
                                                            <th rowspan="2"></th>
                                                            <th rowspan="2" class="inl_s">Action</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-right">Pieces<span class="reqColor">*</span></th>
                                                            <th class="text-right">Volume (CBM)</th>
                                                            <th class="text-right">Weight (KG)</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="purchaseOrderItem in purchaseOrder.purchaseOrderItemList track by $index">
                                                            <td ng-class="{'error-cell text-center':purchaseOrderItem.error}">
																	<span ng-show="purchaseOrderItem.error"> 
																		<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(purchaseOrderItem.errorList)" class="color-white">
																			<img src="../../../../assets/images/error.png" />
																		</a>
																	</span> 
																	<span ng-show="!purchaseOrderItem.error"> {{$index+1}} </span>
																</td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input tabindex="0" type="text" class="form-control" id="{{'poItemNo'+$index}}" 
                                                                         ng-class="{'error-control':errorMap.get('poItemNo'+$index)!=null}"
                                                                         ng-model="purchaseOrderItem.itemNo" maxlength="250"
                                                                         ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="{{'poItemDescription'+$index}}"  
                                                                        ng-class="{'error-control':errorMap.get('poItemDescription'+$index)!=null}"
                                                                         ng-model="purchaseOrderItem.description" maxlength="100"
                                                                         ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control text-right" id="{{'poItemNoOfPiece'+$index}}"  
                                                                        ng-class="{'error-control':errorMap.get('poItemNoOfPiece'+$index)!=null}"
                                                                         ng-model="purchaseOrderItem.noOfPiece" maxlength="100"
                                                                         ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div class="select-auto">
                                                                        <input type="text" class="form-control" id="{{'poItemPack'+$index}}" 
																		input-focus = "{{errorMap.get('poItemPack'+$index)!=null}}" 
																		ng-class="{'error-control':errorMap.get('poItemPack'+$index)!=null}" 
																		autocomplete="off" ng-model="purchaseOrderItem.packMaster" 
																		uib-typeahead="lovObject as lovObject.packName for lovObject in ajaxPackEvent($viewValue)"
																		typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																		typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
																		typeahead-on-select="selectedPack(purchaseOrderItem,$index,'poItemPcsAndCnt');"
																		typeahead-focus-on-select="false"
																		typeahead-focus-first="true" typeahead-editable="false"
																		typeahead-min-length="1" typeahead-wait-ms="500"
																		ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">
																	<span class="select-arrow"><b></b></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control text-right" id="{{'poItemPcsAndCnt'+$index}}"  
                                                                        ng-class="{'error-control':errorMap.get('poItemPcsAndCnt'+$index)!=null}"
                                                                         ng-model="purchaseOrderItem.pieceRCount" maxlength="100"
                                                                         ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control text-right" id="{{'poItemPieces'+$index}}" 
                                                                        ng-class="{'error-control':errorMap.get('poItemPieces'+$index)!=null}"
                                                                        ng-model="purchaseOrderItem.orderPiece" maxlength="100"
                                                                        ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control text-right" id="{{'poItemVolume'+$index}}" 
                                                                        ng-class="{'error-control':errorMap.get('poItemVolume'+$index)!=null}"
                                                                         ng-model="purchaseOrderItem.orderVolume" maxlength="100"
                                                                         ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control text-right" id="{{'poItemWeight'+$index}}" 
                                                                        ng-class="{'error-control':errorMap.get('poItemWeight'+$index)!=null}" 
                                                                         ng-model="purchaseOrderItem.orderWeight" maxlength="100"
                                                                         ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control text-right" id="{{'poItemNetWeight'+$index}}"
                                                                        ng-class="{'error-control':errorMap.get('poItemNetWeight'+$index)!=null}" 
                                                                         ng-model="purchaseOrderItem.netWeight" maxlength="100"
                                                                         ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button type="button" 
                                                                        class="btn accent-btn" 
                                                                        ng-click="editmorepopup($index)"
                                                                        ng-disabled="purchaseOrderItem.checkRolesToDisable && purchaseOrderItem.checkRolesToDisable!=null">More Info</button>
                                                            </td>
                                                            <td>
                                                                <span class="icon-delete cur-pointer" ng-click="removeItem($index)"   data-placement="left"   bs-tooltip="delete"></span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--Accounting TAB ENDS-->
                                    <div ng-show="Tabs=='others'" class=" bor-btm-1">
                                        <div class="row  nomargin shade2">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  ">
                                                <div class="form-group ptb-15">
                                                    <label>Supplier Reference No</label>
                                                    <input type="text" id="poSupplierReferenceNo"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poSupplierReferenceNo')!=null}"
                                                        ng-model="purchaseOrder.supplierReferenceNo" maxlength="50">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poSupplierReferenceNo')!=null">
		                                          		<small>{{errorMap.get('poSupplierReferenceNo')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  ">
                                                <div class="form-group ptb-15">
                                                    <label>Supplier Remark</label>
                                                        <input type="text" id="poSupplierRemark"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poSupplierRemark')!=null}"
                                                        ng-model="purchaseOrder.supplierRemark" maxlength="4000">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poSupplierRemark')!=null">
		                                          		<small>{{errorMap.get('poSupplierRemark')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  ">
                                                <div class="form-group ptb-15">
                                                    <label>Special Instruction</label>
                                                        <input type="text" id="poSpecialInstruction"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poSpecialInstruction')!=null}"
                                                        ng-model="purchaseOrder.specialInstruction" maxlength="4000">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poSpecialInstruction')!=null">
		                                          		<small>{{errorMap.get('poSpecialInstruction')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  ">
                                                <div class="form-group ptb-15">
                                                    <label>Received From</label>
                                                        <input type="text" id="poReceivedFrom"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poReceivedFrom')!=null}"
                                                        ng-model="purchaseOrder.receivedFrom" maxlength="100">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poReceivedFrom')!=null">
		                                          		<small>{{errorMap.get('poReceivedFrom')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4   ">
                                                <div class="form-group ptb-15">
                                                    <label>Delivery To</label>
                                                    <input type="text" id="poDeliveryTo"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poDeliveryTo')!=null}"
                                                        ng-model="purchaseOrder.deliveryTo" maxlength="100">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poDeliveryTo')!=null">
		                                          		<small>{{errorMap.get('poDeliveryTo')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2  ">
                                                <div class="form-group ptb-15">
                                                    <label>Document Received Date</label>
                                                    <div class="inputBox">
                                                        <input class="form-control" datetimepicker
                                                               datetimepicker-options="{{datePickerOptions}}"
                                                               ng-model="purchaseOrder.docReceivedDate"
                                                        date-callback="navigateToNextField('poFamilyProductCode')"
                                                        >
                                                        <span class="inputIcon">
                                                                        <i class="icon-date" aria-hidden="true"></i>
                                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2  ">
                                                <div class="form-group ptb-15">
                                                    <label>Family Product Code</label>
                                                    <input type="text" id="poFamilyProductCode"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poFamilyProductCode')!=null}"
                                                        ng-model="purchaseOrder.familyProductCode" maxlength="100">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poFamilyProductCode')!=null">
		                                          		<small>{{errorMap.get('poFamilyProductCode')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                        </div>
                                        <div class="row nomargin shade1">
                                            <h5 class="title nomargin">eMails</h5>
                                            <div class="col-xs-12 mt-5 "><small class=" opc-5 f-12b4">Use ; to enter multiple eMail address</small></div>
                                        </div>

                                        <div class="row  nomargin shade1">

                                            <div class="col-xs-4 ">
                                                <div class="form-group ptb-15">
                                                    <label class="text-inherit">BC eMail</label>
                                                    <input type="text" id="poBCeMail"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poBCeMail')!=null}"
                                                        ng-model="purchaseOrder.bccEmail" maxlength="500">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poBCeMail')!=null">
		                                          		<small>{{errorMap.get('poBCeMail')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                            <div class="col-xs-4 ">
                                                <div class="form-group ptb-15">
                                                    <label class="text-inherit">Supplier eMail</label>
                                                    <input type="text" id="poSupplierMail"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poSupplierMail')!=null}"
                                                        ng-model="purchaseOrder.supplierEmail" maxlength="500">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poSupplierMail')!=null">
		                                          		<small>{{errorMap.get('poSupplierMail')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                            <div class="col-xs-4  ">
                                                <div class="form-group ptb-15">
                                                    <label class="text-inherit">Origin Agent eMail</label>
                                                    <input type="text" id="poOriginAgenteMail"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poOriginAgenteMail')!=null}"
                                                        ng-model="purchaseOrder.originAgentEmail" maxlength="500">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poOriginAgenteMail')!=null">
		                                          		<small>{{errorMap.get('poOriginAgenteMail')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                            <div class="col-xs-4 ">
                                                <div class="form-group ptb-15">
                                                    <label class="text-inherit">Destination Agent eMail</label>
                                                    <input type="text" id="poDestinationAgenteMail"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poDestinationAgenteMail')!=null}"
                                                        ng-model="purchaseOrder.destinationAgentEmail" maxlength="500">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poDestinationAgenteMail')!=null">
		                                          		<small>{{errorMap.get('poDestinationAgenteMail')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                            <div class="col-xs-4 ">
                                                <div class="form-group ptb-15">
                                                    <label class="text-inherit">Processing Person eMail</label>
                                                    <input type="text" id="poProcessingPersoneMail"
                                                    	class="form-control"  
                                                    	ng-class="{'error-control':errorMap.get('poProcessingPersoneMail')!=null}"
                                                        ng-model="purchaseOrder.processingPersonEmail" maxlength="500">
                                                </div>
                                                
		                                        <div>
		                                          	<span class="error-message" ng-show="errorMap.get('poProcessingPersoneMail')!=null">
		                                          		<small>{{errorMap.get('poProcessingPersoneMail')}}</small>
		                                          	</span>
		                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="Tabs=='attachments'" class="shade3">
                                        <div class="row nomargin ptb-15">
                                            <div class="col-xs-2">
                                                <span>Uploaded PO File Name</span>
                                                <input type="text" disabled="true" class="form-control mt-5 "value="R12355453">
                                                <!--<h6 class="cur-pointer hyperLink">R12355453</h6>-->
                                            </div>
                                            <div class="col-xs-2">
                                                <span>Date Format</span>
                                                <input type="text" class="form-control mt-5 " id="poAttachmentdateFormat">
                                            </div>
                                            <div class="col-xs-3 mt-12">
                                                <div class="mt-12">
                                                    <button type="button" class="btn btn-property green-btn">Upload</button>
                                                    <button type="button" class="btn btn-property accent-btn">Download</button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row line">
                                            <hr>
                                        </div>
                                        <div class="row nomargin">
                                            <div class="row nomargin pt-15 noborder">
                                                <attachment-section-advance 
                                                                    table-data="purchaseOrder.purchaseOrderAttachmentList"
                                                                    attachment-config="attachConfig"
                                                                    download-fn="downloadAttach(param)"
                                                                    fn-role="roleAccess(param)"
                                                                    add-role="$roleConstant.CRM_PURCHASE_ORDER_ATTACHMENT_CREATE"
                                                                    edit-role="$roleConstant.CRM_PURCHASE_ORDER_ATTACHMENT_MODIFY"
                                                                    delete-role="$roleConstant.CRM_PURCHASE_ORDER_ATTACHMENT_DELETE"
                                                                    download-role="$roleConstant.CRM_PURCHASE_ORDER_ATTACHMENT_DOWNLOAD">
												</attachment-section-advance>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="Tabs=='vehicleInfo'" class="shade3">
                                        <div class="row nomargin">
                                            <div class="col-xs-12 mt-15">
                                                <a tabindex="-1" href="javascript:void(0)" ng-click="addNewVehicle()"  class="btn btn-primary btn-xs btn-property accent-btn pull-left mb10">
                                                    <span class="icon-add"></span> Add Vehicle
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table table-inline">
                                                        <thead>
                                                        <tr>
                                                            <th class="inl_sno">#</th>
                                                            <th class="inl_s">Vehicle No</th>
                                                            <th class="inl_l">Vehicle Type</th>
                                                            <th class="inl_l">Driver Name</th>
                                                            <th class="inl_sm">Pick up Date<span class="reqColor">*</span></th>
                                                            <th class="inl_sm">Delivery Date<span class="reqColor">*</span></th>
                                                            <th class="inl_sm text-right">No of Pieces<span class="reqColor">*</span></th>
                                                            <th class="inl_m text-right">Net Weight (KG)<span class="reqColor">*</span></th>
                                                            <th class="inl_m text-right">Volume (CBM)<span class="reqColor">*</span></th>
                                                            <th class="inl_s">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        
	                                                        <tr ng-repeat="purchaseOrderVehicleInfo in purchaseOrder.purchaseOrderVehicleInfoList track by $index">
	                                                            <td ng-class="{'error-cell text-center':purchaseOrderVehicleInfo.error}">
																		<span ng-show="purchaseOrderVehicleInfo.error"> 
																			<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(purchaseOrderVehicleInfo.errorList)" class="color-white">
																				<img src="../../../../assets/images/error.png" />
																			</a>
																		</span> 
																		<span ng-show="!purchaseOrderVehicleInfo.error"> {{$index+1}} </span>
																	</td>
	                                                            <td>
	                                                                <div class="form-group">
	                                                                    <input type="text" class="form-control" id="{{'poVehicleInfoVehicleNo'+$index}}"
	                                                                    
                                                                        ng-class="{'error-control':errorMap.get('poVehicleInfoVehicleNo'+$index)!=null}" 
	                                                                         ng-model="purchaseOrderVehicleInfo.vehicleNo" maxlength="50"
	                                                                          ng-disabled="purchaseOrderVehicleInfo.checkRolesToDisable && purchaseOrderVehicleInfo.checkRolesToDisable!=null">
	                                                                </div>
	                                                            </td>
	                                                            <td>
	                                                                <div class="form-group">
	                                                                    <input type="text" class="form-control" id="{{'poVehicleInfoVehicleType'+$index}}" 
	                                                                         ng-class="{'error-control':errorMap.get('poVehicleInfoVehicleType'+$index)!=null}"
	                                                                         ng-model="purchaseOrderVehicleInfo.vehicleType" maxlength="50"
	                                                                         ng-disabled="purchaseOrderVehicleInfo.checkRolesToDisable && purchaseOrderVehicleInfo.checkRolesToDisable!=null">
	                                                                </div>
	                                                            </td>
	                                                            <td>
	                                                                <div class="form-group">
	                                                                    <input type="text" class="form-control" id="{{'poVehicleInfoDriverName'+$index}}" 
	                                                                         ng-class="{'error-control':errorMap.get('poVehicleInfoDriverName'+$index)!=null}"
	                                                                         ng-model="purchaseOrderVehicleInfo.driverName" maxlength="100"
	                                                                         ng-disabled="purchaseOrderVehicleInfo.checkRolesToDisable && purchaseOrderVehicleInfo.checkRolesToDisable!=null">
	                                                                </div>
	                                                            </td>
	                                                            <td>
	                                                                <div class="inputBox">
	                                                                    <input class="form-control" datetimepicker
	                                                                     	   id="{{'poVehicleInfoPickUpDate'+$index}}" 
	                                                                           ng-class="{'error-control':errorMap.get('poVehicleInfoPickUpDate'+$index)!=null}"
	                                                                           datetimepicker-options="{{datePickerOptions}}"
	                                                                           ng-model="purchaseOrderVehicleInfo.pickupDate"
                                                        					   date-callback="navigateToNextField('poVehicleInfoDeliveryDate'+$index)"
                                                        					   ng-disabled="purchaseOrderVehicleInfo.checkRolesToDisable && purchaseOrderVehicleInfo.checkRolesToDisable!=null"
	                                                                    >
	                                                                    <span class="inputIcon">
	                                                                        <i class="icon-date" aria-hidden="true"></i>
	                                                                    </span>
	                                                                </div>
	                                                            </td>
	                                                            <td>
	                                                                <div class="inputBox">
	                                                                    <input class="form-control" 
	                                                                     	   id="{{'poVehicleInfoDeliveryDate'+$index}}" 
	                                                                           ng-class="{'error-control':errorMap.get('poVehicleInfoDeliveryDate'+$index)!=null}"
	                                                                    	   datetimepicker
	                                                                           datetimepicker-options="{{datePickerOptions}}"
	                                                                           ng-model="purchaseOrderVehicleInfo.deliveryDate"
                                                        					   date-callback="navigateToNextField('poVehicleInfoNoOfPiece'+$index)"
                                                        					   ng-disabled="purchaseOrderVehicleInfo.checkRolesToDisable && purchaseOrderVehicleInfo.checkRolesToDisable!=null"
	                                                                    >
	                                                                    <span class="inputIcon">
	                                                                        <i class="icon-date" aria-hidden="true"></i>
	                                                                    </span>
	                                                                </div>
	                                                            </td>
	                                                            
	                                                            <td class="text-right">
	                                                                <div class="form-group">
	                                                                    <input type="text" class="form-control text-right" id="{{'poVehicleInfoNoOfPiece'+$index}}" 
	                                                                         ng-class="{'error-control':errorMap.get('poVehicleInfoNoOfPiece'+$index)!=null}"
	                                                                         ng-model="purchaseOrderVehicleInfo.noOfPiece" maxlength="15"
	                                                                         ng-disabled="purchaseOrderVehicleInfo.checkRolesToDisable && purchaseOrderVehicleInfo.checkRolesToDisable!=null">
	                                                                </div>
	                                                            </td>
	                                                            <td class="text-right">
	                                                                <div class="form-group">
	                                                                    <input type="text" class="form-control text-right" id="{{'poVehicleInfoNetWeightKg'+$index}}" 
	                                                                         ng-class="{'error-control':errorMap.get('poVehicleInfoNetWeightKg'+$index)!=null}"
	                                                                         ng-model="purchaseOrderVehicleInfo.netWeightKg" maxlength="15"
	                                                                         ng-disabled="purchaseOrderVehicleInfo.checkRolesToDisable && purchaseOrderVehicleInfo.checkRolesToDisable!=null">
	                                                                </div>
	                                                            </td>
	                                                            <td class="text-right">
	                                                                <div class="form-group">
	                                                                    <input type="text" class="form-control text-right" id="{{'poVehicleInfoVolumeCBM'+$index}}" 
	                                                                         ng-class="{'error-control':errorMap.get('poVehicleInfoVolumeCBM'+$index)!=null}"
	                                                                         ng-model="purchaseOrderVehicleInfo.volumeCBM" maxlength="15"
	                                                                         ng-disabled="purchaseOrderVehicleInfo.checkRolesToDisable && purchaseOrderVehicleInfo.checkRolesToDisable!=null">
	                                                                </div>
	                                                            </td>
	                                                            <td>
	                                                                <span class="icon-delete cur-pointer"  ng-click="removeVehicle($index)" data-placement="bottom"   bs-tooltip="delete"></span>
	                                                            </td>
	                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="Tabs=='remarksFollowUp'" class="shade3">
                                        <div class="row nomargin">
                                            <div class="col-xs-12 mt-15">
                                                <a tabindex="-1" href="javascript:void(0)" ng-click="addNewRemark()" class="btn btn-primary btn-xs btn-property accent-btn pull-left mb10">
                                                    <span class="icon-add"></span> Add Remark
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table table-inline-nopad">
                                                        <thead>
                                                            <tr>
                                                                <th class="inl_sno">#</th>
                                                                <th class="inl_mpp">Date<span class="reqColor">*</span></th>
                                                                <th class="inl_mpp">Type<span class="reqColor">*</span></th>
                                                                <th class="inl_mpp">Follow up Date<span class="reqColor">*</span></th>
                                                                <th class="">Remarks</th>
                                                                <th class="inl_xs">Action</th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="purchaseOrderRemarkFollowUp in purchaseOrder.purchaseOrderRemarkFollowUpList track by $index">
	                                                            <td ng-class="{'error-cell text-center':purchaseOrderRemarkFollowUp.error}">
																		<span ng-show="purchaseOrderRemarkFollowUp.error"> 
																			<a href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(purchaseOrderRemarkFollowUp.errorList)" class="color-white">
																				<img src="../../../../assets/images/error.png" />
																			</a>
																		</span> 
																		<span ng-show="!purchaseOrderRemarkFollowUp.error"> {{$index+1}} </span>
																	</td>
																	
	                                                            
                                                                <td>
                                                                    <div class="form-group">
                                                                <div class="inputBox">
                                                                            <input class="form-control" 
                                                                            	id="{{'poRemarkFollowDate'+$index}}" 
	                                                                         	ng-class="{'error-control':errorMap.get('poRemarkFollowDate'+$index)!=null}"
                                                                            	datetimepicker
                                                                                datetimepicker-options="{{datePickerOptions}}"
                                                                                ng-model="purchaseOrderRemarkFollowUp.date"
                                                      					        date-callback="navigateToNextField('poRemarkFollowUpType'+$index)"
                                                      					        ng-disabled="purchaseOrderRemarkFollowUp.checkRolesToDisable && purchaseOrderRemarkFollowUp.checkRolesToDisable!=null"
                                                                                />
                                                                        <span class="inputIcon">
                                                                        <i class="icon-date" aria-hidden="true"></i>
                                                                    </span>
                                                                    </div>
                                                                    </div>
                                                                </td>
	                                                            <td>
	                                                                <div class="form-group">
								                                         <select class="form-control " 
								                                         	id="{{'poRemarkFollowUpType'+$index}}" 
								                                         	ng-class="{'error-control':errorMap.get('poRemarkFollowUpType'+$index)!=null}"
							                                                    ng-options="item for item in enum['RemarkType']"
							                                                    ng-model="purchaseOrderRemarkFollowUp.type" 
							                                                    ng-change="navigateToNextField('poRemarkFollowUpDate'+$index);"
							                                                    ng-disabled="purchaseOrderRemarkFollowUp.checkRolesToDisable && purchaseOrderRemarkFollowUp.checkRolesToDisable!=null">
							                                            </select>
	                                                                </div>
	                                                            </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <div class="inputBox">
                                                                            <input class="form-control" 
                                                                            	   id="{{'poRemarkFollowUpDate'+$index}}" 
	                                                                         	   ng-class="{'error-control':errorMap.get('poRemarkFollowUpDate'+$index)!=null}"
	                                                                         	   datetimepicker
                                                                                   datetimepicker-options="{{datePickerOptions}}"
                                                                                   ng-model="purchaseOrderRemarkFollowUp.followDate"
                                                        					   	   date-callback="navigateToNextField('poRemarkFollowUpRemark'+$index)"
                                                        					   	   ng-disabled="purchaseOrderRemarkFollowUp.checkRolesToDisable && purchaseOrderRemarkFollowUp.checkRolesToDisable!=null"
                                                                                    >
                                                                        <span class="inputIcon">
                                                                        <i class="icon-date" aria-hidden="true"></i>
                                                                    </span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                    <textarea class="form-control"
	                                                                     id="{{'poRemarkFollowUpRemark'+$index}}" 
	                                                                     ng-class="{'error-control':errorMap.get('poRemarkFollowUpRemark'+$index)!=null}"
	                                                                     maxlength="4000"
                                                                         ng-model="purchaseOrderRemarkFollowUp.remark"
                                                                         ng-disabled="purchaseOrderRemarkFollowUp.checkRolesToDisable && purchaseOrderRemarkFollowUp.checkRolesToDisable!=null">
                                                                    </textarea>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <span class="icon-delete cur-pointer" ng-click="removeRemark($index)" data-placement="bottom"   bs-tooltip="delete"></span>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--TAB CONTENT TAB ENDS-->
                            </div><!--Col ends-->
                        </div><!--row ends-->
                    </form>
                </div>
            </div><!--panel ends-->
        </div>
    </div>
</div>



<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
