<div class="row">
	<div class="col-xs-12 mb-15">
		<div class="panel panel-default fgmb0">
			<div class="panel-heading flexTitle">
				<div>
					<h4>Add EDI Configuration</h4>
				</div>
				<div>
					<ul class="list-inline text-right masopertion-action">
						<li class="mr0 pr0">
							<button type="button" class="btn btn-default btn-xs btn-property cancel-btn mr0" ng-click="cancelEDI()">Cancel</button>
						</li>
						<li class="ml0 plr0">
							<button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveEDI()" >Save</button>
						</li>
					</ul>
				</div>
			</div>
			<!--PANEL HEADING ENDS-->
			<div class="panel-body half-master-edit pt0" panel-height ng-nicescroll nice-option="{{ngScrollConfigScroll}}">
				<div class="row">
					<div show-response></div>
					
					<client-error message="clientMessage"></client-error>
					<div class="col-xs-12 ptb-15">
						<span class="reqColor">*</span> <small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
					</div>
				</div>
				<button type="button" class="btn btn-property accent-btn mb-15" ng-click="addEDI()">
					<span class="icon-add"></span> Add EDI Configuration
				</button>
				<form role="form" name="serviceMappingForm">
					<div class="table-responsive">
						<table class="table table-inline-nopad" tab-nav tab-row="addEDI()">
							<thead class="borderthead">
							 	<tr>
									<th class="inl_sno">#</th>
									<th class="inl_l">Key<span class="reqColor">*</span></th>
                                    <th class="inl_l">Value<span class="reqColor">*</span></th>
                                    <th class="inl_l">Description</span></th>
									<th class="inl_xs">Action</th>
								</tr>
							</thead>
							<tbody>
							   <tr  ng-repeat="ediConfig in ediConfigList track by $index" >
									<td ng-class="{'error-cell text-center':errorArray[$index].errRow}">
										<span ng-show="errorArray[$index].errRow"> 
											<a href="javascript:void(0);"
											   data-placement="right"   bs-tooltip="errorList"
											   ng-click="errorShow(errorArray[$index],$index)"
											class="color-white"> 
											<img src="../../../../assets/images/error.png" />
										   </a>
									</span> <span ng-show="!errorArray[$index].errRow"> {{$index+1}}
									</span>
									</td>
									<td>
										<input  type="text" class="form-control" input-focus="true"
												ng-model="ediConfig.ediConfigurationKey"
												ng-class="{'error-control':errorArray[$index].key}"
												 maxlength="400">
									</td>
									<td>
										<input  type="text" class="form-control"
												ng-model="ediConfig.ediConfigurationValue"
												ng-class="{'error-control':errorArray[$index].value}"
												 maxlength="400">
									</td>
									<td>
										<input  type="text" class="form-control"
												ng-model="ediConfig.description"
												 maxlength="400">
									</td>
									<td>
										<span ng-show="ediConfigList.length>1" class="icon-delete" ng-click="deleteRow($index)"
											  data-placement="bottom"   bs-tooltip="delete" ></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>


