<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row ">
        <div class=" col-md-12 col-lg-7 col-sm-12 col-xs-12">
        <form role="form"  id="partyTypeMasterForm" name="partyTypeMasterForm"
              ng-submit="partyTypeMaster.id!=null?update():save()">
            <div class="panel panel-default masOpertion">
                <div class="panel-heading flexTitle">
                    <div>
                        <h4>{{partyTypeMaster.id!=null?'Edit':'Add'}} {{appMasterData['Party_Label']}} Type </h4>
                    </div>
                    <div>
                        <div class="btngrp">

                                <button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>


                                <input type="submit" class="btn accent-btn" value="{{partyTypeMaster.id!=null?'Update':'Save'}}">

                        </div>
                    </div>
                </div>
                <div class="panel-body half-master-edit pt0" id="partyType-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                  <form role="form">
                     <div class="row nomargin bor-btm-0 pt5 pb0">
                            <div class="col-xs-12 plr0">
                        <div show-response></div>
                        <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory Fields</small></div>
                    </div>  
                    </div> 
                    <div class="row ">
                        
                        <div class="col-md-6 col-lg-6 col-xs-8 col-sm-6 form-group nomargin pl0">
								<label class="custom-label">Name <span class="reqColor">*</span></label>
								<input type="text" input-focus="true" class="form-control"  ng-change="validatePartyTypeMaster(1)"  ng-class="{'error-control':errorMap.get('partyTypeName')!=null}"
                                       ng-model="partyTypeMaster.partyTypeName"
                                       maxlength="30"  >
								 <div>
                                       <span class="error-message" ng-show="errorMap.get('partyTypeName')!=null"><small>{{errorMap.get('partyTypeName')}}</small></span>                         
                                  </div>
							</div>
                        
                        
                                            </div>
                    <div class="row ">
                        <div class="col-md-6 col-lg-6 col-xs-8 col-sm-6 form-group nomargin pl0">
                        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 form-group nomargin pl0">
									<label class="custom-label">Code <span class="reqColor">*</span></label>
									<input type="text" class="form-control" ng-model="partyTypeMaster.partyTypeCode"  ng-change="validatePartyTypeMaster(2)" ng-class="{'error-control':errorMap.get('partyTypeCode')!=null}"
                                           maxlength="10" capitalize ng-disabled="partyTypeMaster.id!=null">
									 <div>
                                       <span class="error-message" ng-show="errorMap.get('partyTypeCode')!=null"><small>{{errorMap.get('partyTypeCode')}}</small></span>                         
                                  </div>
								</div>
                             <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 form-group nomargin pr0"
                                 ng-show="partyTypeMaster.id!=null">

                                <label class="custom-label">
                                    Status
                                </label>


                                <select class="form-control status" id="status"
                                        ng-class="setStatus(partyTypeMaster.status)"
                                        ng-options="item for item in enum['LovStatus']"
                                        ng-model="partyTypeMaster.status" required>
                                </select>
                            </div>
                        </div>
                    </div>
                   <!--  <div class="row ">
                            <div class="col-md-7 col-lg-7 col-xs-12 form-group nomargin pl0">
                                <label class="custom-label">{{appMasterData['Party_Label']}} Type</label>

                                <div class="btn-group btn-group-justified" ng-model="unitMaster.decimals"
                                     bs-radio-group>
                                    <label class="btn btn-default fsl-btn-group"
                                           ng-repeat="item in enum['UnitDecimals']">
                                        <input type="radio" class="btn btn-default" value="{{item}}"> {{item |
                                        unitDecimals}}
                                    </label>
                                </div>
                                <span class="reqColor">* </span>
                                <button-group  
                                        states="enum['PartyType']"
                                        state="partyTypeMaster.partyType"
                                        on-state-change="validatePartyTypeMaster(3)">
                                </button-group>
                                </div>
                     </div> -->
                     </form>
                </div><!--panel body ends-->
            </div><!--panel ends-->
        </form>
    </div><!--col ends-->
    </div>
</div>


