<div class="row">
    <div class="col-xs-12">
        <canvas id="doughnut" class="chart chart-doughnut"
                chart-data="fieldData.widgetData.data" chart-labels="fieldData.widgetData.labels" chart-legend="true" chart-colours="fieldData.widgetData.colours">
        </canvas>
    </div>
</div>