<div class="row">
    <div class="table-responsive bg-lgray ptb-15 mtminus-15 bor-btm-1">
        <table class="table table-stripped">
            <tbody class="tabBor-0">
            <tr>
                <td colspan="2">
                    <div>
                        <span >Shipment ID</span>
                        <span >#0410011</span>
                    </div>
                </td>
                <td class="text-right">
                    <div>
                        <ul class="list-inline">
                            <li class="nopadding">
                                <span class="icon-ocean rel"></span>
                                <span>LE</span>
                                <span>( <span class="f-13b-4">DXB </span><span class="icon-r-arr"></span><span class="f-13b-4"> MAA</span> )</span>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div><span >LG Electronics</span></div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul class="list-inline">
                        <li><span >Update</span></li>
                        <li><span >New Nomination</span></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive bg-lgray ptb-15 ">
        <table class="table table-stripped ">
            <tbody class="tabBor-0">
            <tr>
                <td colspan="2">
                    <div>
                        <span >Shipment ID </span>
                        <span>#0710011</span>
                    </div>
                </td>
                <td class="text-right">
                    <div>
                        <ul class="list-inline">
                            <li class="nopadding">
                                <span class="icon-ocean rel"></span>
                                <span>LI</span>
                                <span>( <span >NYC </span><span class="icon-r-arr"></span><span> DXB</span> )</span>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div ><span >Blue Chip Computers</span></div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul class="list-inline">
                        <li><span >Update</span></li>
                        <li><span >Cargo will be ready On 24/04/16</span></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>