<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Chandru</td>
            <td>UI</td>
            <td>Senior Software Engineer</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kalai</td>
            <td>System</td>
            <td>Software Engineer</td>
        </tr>
        </tbody>
    </table>
</div>
