<div class="row">
    <div class="col-xs-12 p00 mtminus-15" >
        <div class="table-responsive">
            <table class="table table-stripped mb0">
                <tbody class="tabBor-0 {{task.tasktheme}}" ng-repeat="task in fieldData.widgetData.taskdata">
                <tr>
                    <td colspan="2">
                        <div>
                            <span>Shipment ID</span>
                            <span> {{task.shipid}}</span>
                        </div>
                    </td>
                    <td class="text-right">
                        <ul class="list-inline tab-cell ">
                            <li class="nopadding">
                                <span ng-class="task.icon" class="rel"></span>
                                <span class="f-13b-5 opc-8">{{task.aircode}}</span>
                                <span>( <span class="f-13b-4  opc-8">{{task.routo}} </span><span class="icon-r-arr"></span><span class="f-13b-4 opc-8"> {{task.roufrm}}</span> )</span>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="pb-15"><span class="f-13b-4 opc-8 ">{{task.dename}}</span></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="row nomargin">
                            <div class="col-xs-9 nopadding">
                                <ul class="list-inline tab-cell table-fluid li-50">
                                    <li><span class="f-12b5 opc-5">Current Milestone</span></li>
                                    <li><span class="f-13b-5 opc-8">{{task.curms}}</span></li>
                                </ul>
                            </div>
                            <div class="col-xs-3 text-right nopadding">
                                <span class="rel opc-8 text-right">{{task.curdate}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="row nomargin">
                            <div class="col-xs-9 nopadding">
                                <ul class="list-inline tab-cell table-fluid li-50">
                                    <li><span class="f-12b5 opc-5">Next Milestone</span></li>
                                    <li><span class="f-13b-5 opc-8">{{task.nxtms}}</span></li>
                                </ul>
                            </div>
                            <div class="col-xs-3 text-right nopadding">
                                <span class="rel opc-8 text-right">{{task.nxtdate}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!--table res ends-->
    </div>
</div>