    <div class="modal awbReport_modal" role="dialog" style="overflow-y: hidden; padding: 0 15px" ng-controller="hawbController" ng-init="switchStyle ='blue'">
        <div class="modal-dialog" style="width: 1024px; height: 100%">
            <div class="modal-content" style="margin-top: 30px;" ng-init="mainpreloder=false">
                <div class="modal-header nopadding">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>{{docType}}</h4>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default btn-small pull-right mr0" ng-click="$hide();closeDynamicDocument()">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <div show-response></div>	
                    <div class="row" style="margin-left: 0px;margin-right: 0px;">
                        <div class="col-md-12 pattern-header" style="padding-left: 0px;padding-right: 0px">
                            <div class="row border-between">
                                <div class="col-xs-2">
                                    <span style="padding-left: 16px;"></span>
                                </div>
                                <div class="col-xs-3">
                                    <ul class="list-inline" style="margin-bottom: 0px">
                                        <li>
                                            <input class="magic-checkbox" type="checkbox" ng-model="shipmentServiceDetailClone.isAgreed" ng-change="agreedChange()" name="docOptions" id="agreedOption">
                                            <label class="text custom-label" for="agreedOption">
                                                As Agreed
                                            </label>
                                        </li>
                                        <li>
                                            <input class="magic-checkbox" type="checkbox" ng-model="shipmentServiceDetailClone.isMarksNo" ng-change="agreedChange()" name="markNo" id="markNo" >
                                            <label class="text custom-label" for="markNo">
                                                Marks & No
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3">
                                    <ul class="list-inline" style="margin-bottom: 0px;margin-top: 4px;">
                                        <li>
                                            <span class="switcher blue-switcher" ng-click="switchStyle = 'blue'"></span>
                                        </li>
                                        <li>
                                            <span class="switcher red-switcher" ng-click="switchStyle = 'red'"></span>
                                        </li>
                                        <li>
                                            <span class="switcher violet-switcher" ng-click="switchStyle = 'violet'"></span>
                                        </li>
                                        <li>
                                            <span class="switcher gray-switcher" ng-click="switchStyle = 'black'"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-4">
                                    <div class=" pull-right" style="margin-top: -3px; padding-right: 15px">
                                        <button type="button" class="btn btn-success dw-small mr0" style="min-width: 80px" ng-click="downloadDynamicHawb()">Download</button>
                                        <button type="button" class="btn btn-success dw-small" style="min-width: 80px" ng-click="printDynamicHawb()">Print</button>
                                        <button type="button" class="btn btn-success dw-small accent-btn" style="min-width: 80px" ng-click="update()">Update</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row hide-transition" style="margin-left: 0px;margin-right: 0px;" ng-show="errorMap.size()>0">
                        <div class="col-md-12 error-header">
                            <ul class="list-inline pull-left">
                                <li><span>{{errorMap.size()}}</span></li>
                                <li><span>Errors Found</span></li>
                            </ul>
                            <div class="pull-right downicon_arr" ng-init="modelOption.showErrors=false">
                                <span ng-if="modelOption.showErrors==false" ng-click="modelOption.showErrors=true">
                                <i class="icon-uparrow"></i>
                                </span>
                                <span ng-if="modelOption.showErrors==true" ng-click="modelOption.showErrors=false">
                                    <i class="icon-downarrow"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row error_body"  ng-show="modelOption.showErrors==true && errorMap.size()>0">
                        <div class="col-md-12">
                            <ul class="error_list" ng-repeat="key in errorMap.allKeys()">
                                <li class="text-danger">{{errorMap.data[key]}}</li> 
                            </ul>
                        </div>
                    </div>
                    <div modal-height class="scrollAuto" style="position:relative;overflow-y: auto;overflow-x:hidden;padding-top: 0px">

                        <div class="containerFluid" id="awb_image"><!--viewBox="13 0 584 808"-->

                            <!--<object data="../assets/images/reportImg/blue_awb.svg" type="image/svg+xml" ng-if="switchStyle == 'blue'">-->
                                <img src="../assets/images/reportImg/blue_awb.png" ng-if="switchStyle == 'blue'"/>
                                <!--<img src="violet_awb.png"  style="margin-left: -22px; margin-top: -2px"/>-->
                            <!--</object>-->
                            <!--<object data="../assets/images/reportImg/violet_awb.svg" type="image/svg+xml" ng-if="switchStyle == 'violet'">-->
                                <img src="../assets/images/reportImg/violet_awb.png"  ng-if="switchStyle == 'violet'" />
                                <!--<img src="violet_awb.png"/>-->
                                <!--<img src="violet_awb.png"  style="margin-left: -22px; margin-top: -2px"/>-->
                            <!--</object>-->
                            <!--<object data="../assets/images/reportImg/black_awb.svg" type="image/svg+xml" ng-if="switchStyle == 'black'">-->
                                <img src="../assets/images/reportImg/black_awb.png"  ng-if="switchStyle == 'black'"/>
                                <!--<img src="violet_awb.png"/>-->
                                <!--<img src="violet_awb.png"  style="margin-left: -22px; margin-top: -2px"/>-->
                            <!--</object>-->
                            <!--<object data="../assets/images/reportImg/red_awb.svg" type="image/svg+xml" ng-if="switchStyle == 'red'">-->
                                <img src="../assets/images/reportImg/red_awb.png"  ng-if="switchStyle == 'red'"/>
                                <!--<img src="violet_awb.png"/>-->
                                <!--<img src="violet_awb.png"  style="margin-left: -22px; margin-top: -2px"/>-->
                            <!--</object>-->
                            <div class="form" id="awbimage" name="awbimage">
                                <form>
                                    <input type="text" class="ii_1_0"  id="carrierNo" input-focus=true ng-model="documentDetailClone.carrier.carrierNo" maxlength="10" next="portCode1"  ng-change="validateDynamicDocument(1)">
                                            <input type="text"
													id="portCode1"
                                                   class="select-auto form-control bor-0 ii_1"
                                                   uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,shipmentServiceDetailClone.serviceMaster)"
													ng-model="documentDetailClone.pol"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicDocument(2,'mawbPrefix1');"
                                                   />
                                                   
                                    <!-- <input type="text" class="ii_1" ng-model="documentDetailClone.pol.portName" ng-change=""> -->
                                    <input type="text" class="ii_1_1" ng-model="documentDetailClone.mawbNowithoutPrefix1" id="mawbPrefix1">
                                    <label class="ii_1_3">{{docType}}</label>{{documentDetailClone.hawbNo}}
                                    <input type="text" class="ii_2" ng-model="documentDetailClone.hawbNo" id="hawb">
                                    <div class="ii_2_1 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                                 id="shipper"
                                                 uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														class="form-control bor-0 ii_2_1_text"
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="
														choosePartyAddress('shipper');validateDynamicDocument(3,'carrier1');getAccounts(1)"
                                                   ng-model="documentDetailClone.shipper"
  												ng-class="{'error-control':errorMap.get('documentShipper')!=null}"
                                                    />
                                        </div>
                                    </div>
                                     <!-- Shipper adress-->
                                    <div class="abs txt_1">
                                        <!--NEWlY ADDED INPUT FIELD-->
                                        <input type="text" ng-model="documentDetailClone.shipperAddress.addressLine1" ng-change="validateDynamicDocument(25)" maxlength="100">
                                        <input type="text" ng-model="documentDetailClone.shipperAddress.addressLine2" maxlength="100">
                                        <input type="text" id="shipperAddress3" ng-model="documentDetailClone.shipperAddress.addressLine3" maxlength="100">
                                        <input type="text" id="shipperAddress4" ng-model="documentDetailClone.shipperAddress.addressLine4" maxlength="100">

                                        <!--<b-dir ng-model="documentDetailClone.shipperAddress.addressLine1" maxlength="100"></b-dir><br>
                                         <b-dir ng-model="documentDetailClone.shipperAddress.addressLine2" maxlength="100"></b-dir><br>
                                          <b-dir ng-model="documentDetailClone.shipperAddress.addressLine3" maxlength="100"></b-dir><br>
                                           <b-dir ng-model="documentDetailClone.shipperAddress.addressLine4" maxlength="100"></b-dir>-->
                                    </div>
                                    <!--<textarea class="txt_1">shanmuganathan building material company india pvt ltd</textarea>-->
                                     <!-- Shipper account num-->
                                    <input type="text"  class="i_2" ng-model="documentDetailClone.shipperAccount" tabindex="-1">
                                    <!-- Consignee -->
                                    <div class="ii_3 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="carrier1"
                                              class="form-control bor-0 i_14_text"
                                           uib-typeahead="lovObject as lovObject.carrierName for lovObject in $AutoCompleteService.getCarrierList(shipmentServiceDetailClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                           typeahead-on-select="validateDynamicDocument(11,'issuingAgent1');" 
																					typeahead-focus-on-select="false"
																					typeahead-focus-first="true" typeahead-editable="false"
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                                   ng-model="documentDetailClone.carrier"
                                                />
                                        </div>
                                    </div>
                                    <!--<div class="abs ii_3">-->
                                        <!--<b-dir ng-model="awb.issueName"></b-dir>-->
                                    <!--</div>-->

                                       <div class="ii_3_1 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="issuingAgent1"
                                            class="form-control bor-0 ii_3_text"
                                              uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="choosePartyAddress('issuingAgent');validateDynamicDocument(4,'consignee1');"
                                                   ng-model="documentDetailClone.issuingAgent"
  												ng-class="{'error-control':errorMap.get('partyIssuingAgent')!=null}"
                                               input-focus = "{{errorMap.get('partyIssuingAgent')!=null}}"
                                                    />
                                        </div>
                                    </div>
                                       <div class="abs itxt_3">
                                           <!--newly added input field-->
                                           <input type="text" ng-model="documentDetailClone.issuingAgentAddress.addressLine1"  ng-change="validateDynamicDocument(26)" maxlength="100">
                                           <input type="text" ng-model="documentDetailClone.issuingAgentAddress.addressLine2" maxlength="100">
                                           <input type="text" id="issuingAgentAddress3" ng-model="documentDetailClone.issuingAgentAddress.addressLine3" maxlength="100">
                                           <input type="text" id="issuingAgentAddress4" ng-model="documentDetailClone.issuingAgentAddress.addressLine4" maxlength="100">

                                        <!--<b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine" maxlength="100"></b-dir>-->
                                        <!--<b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine2" maxlength="100"></b-dir><br>
                                          <b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine3" maxlength="100"></b-dir>
                                          <b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine4" maxlength="100"></b-dir><br> -->
                                    </div>
                                      <div class="itxt_3_1 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                             id="consignee1"
                                               class="form-control bor-0 ii_2_1_text"
                                             uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="validateDynamicDocument(5,'issuingAgent2');choosePartyAddress('consignee');getAccounts(2);"
                                                   ng-model="documentDetailClone.consignee"
  												ng-class="{'error-control':errorMap.get('consignee')!=null}"
                                               	input-focus = "{{errorMap.get('consignee')!=null}}"
                                                    />
                                        </div>
                                    </div>
                                      <div class="abs txt_3">

                                          <!--NEWlY ADDED INPUT FIELD-->
                                          <input type="text" ng-model="documentDetailClone.consigneeAddress.addressLine1" ng-change="validateDynamicDocument(27)" maxlength="100">
                                          <input type="text" ng-model="documentDetailClone.consigneeAddress.addressLine2" maxlength="100">
                                          <input type="text" id="consigneeAddres3" ng-model="documentDetailClone.consigneeAddress.addressLine3" maxlength="100">
                                          <input type="text" id="consigneeAddres4" ng-model="documentDetailClone.consigneeAddress.addressLine4" maxlength="100">


                                       <!--<b-dir ng-model="documentDetailClone.consigneeAddress.addressLine1" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="documentDetailClone.consigneeAddress.addressLine2" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="documentDetailClone.consigneeAddress.addressLine3" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="documentDetailClone.consigneeAddress.addressLine4" maxlength="100"></b-dir>-->
                                    </div>
                                     <input type="text" class="i_4" ng-model="documentDetailClone.consigneeAccount" tabindex="-1">
                                    <!--<textarea class="txt_3">shanmuganathan trading india india pvt ltd</textarea>-->
                                    <div class="i_4_1 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="issuingAgent2"
                                              class="form-control bor-0 i_4_1_text"
                                              uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="validateDynamicDocument(4,'iataCode');choosePartyAddress('issuingAgent');getAccounts(3)"
                                                  ng-model="documentDetailClone.issuingAgent"
  												ng-class="{'error-control':errorMap.get('partyIssuingAgent')!=null}"
                                               input-focus = "{{errorMap.get('partyIssuingAgent')!=null}}"
                                                    />
                                        </div>
                                    </div>
                                    <div class="abs txt_5">
                                        <!--NEWlY ADDED INPUT FIELD-->

                                        <input type="text" ng-model="documentDetailClone.issuingAgentAddress.addressLine1" ng-change="validateDynamicDocument(26)" maxlength="100">
                                        <input type="text" ng-model="documentDetailClone.issuingAgentAddress.addressLine2" maxlength="100">
                                        <input type="text" id="issuingAgentAddress13" ng-model="documentDetailClone.issuingAgentAddress.addressLine3" maxlength="100">
                                        <input type="text" id="issuingAgentAddress14" ng-model="documentDetailClone.issuingAgentAddress.addressLine4" maxlength="100">
                                        <!--<b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine1" maxlength="100"></b-dir><br>
                                         <b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine2" maxlength="100"></b-dir><br>
                                          <b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine3" maxlength="100"></b-dir><br>
                                           <b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine4" maxlength="100"></b-dir>-->
                                    </div>
                                    <!--<textarea class="txt_5" ng-model="documentDetailClone.issuingAgentNamecity"></textarea>-->
                                    <input type="text" class="i_6 "  ng-model="documentDetailClone.issuingAgent.partyDetail.iataCode"  maxlength="30" id="iataCode" ng-change="validateDynamicDocument(6)">
                                    <input type="text"  
                                    class="i_7" ng-model="documentDetailClone.issuingAgent.partyDetail.accountNumber"  
                                    ng-blur="navigateToNextField('accNot')" maxlength="30"/>
                                    <div class="i_8 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="portCode2"
                                            class="form-control bor-0 "
                                            uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,shipmentServiceDetailClone.serviceMaster)"
													ng-model="documentDetailClone.pol"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicDocument(2,'optInfo');"
                                            />
                                        </div>
                                    </div>
                                    <div class="i_8_1 abs">
                                    {{documentDetailClone.pol.portName}}
                                        <!-- <input type="text" id="portName2" maxlength="100"
                                               ng-model="documentDetailClone.pol.portName"
                                               ng-blur="navigateToNextField('optInfo')"
                                        /> -->
                                    </div>
                                    <textarea class="txt_9" ng-model="documentDetailClone.accountandNotify" id="accandNot" ng-change="validateDynamicDocument(7)"
                                    ng-blur="navigateToNextField('portCode2')"
                                     maxlength="4000" id="accNot"></textarea>
                                    <input type="text" class="i_10" ng-model="shipmentServiceDetailClone.serviceUid" id="serviceUid"  ng-disabled="true">
                                    <input type="text" class="i_11" ng-model="documentDetailClone.optionalShippingInfo" id="optInfo" ng-change="validateDynamicDocument(8)" maxlength="4000">
                                    <!--<input type="text" class="i_12">-->
                                   <!--  <input type="text" class="i_13" ng-model="documentDetailClone.routingTo" ng-change="validateDynamicDocument(9)" maxlength="4000"> -->
                                    <div class="i_13 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="pod1"
                                            class="form-control bor-0 i_13_text"
                                            	uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,shipmentServiceDetailClone.serviceMaster)"
													ng-model="documentDetailClone.pod"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicDocument(10,'carrier2');"
                                                   />
                                        </div>
                                    </div>
                                    <div class="i_14 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                             id="carrier2"
                                             class="form-control bor-0 i_14_text"
                                              uib-typeahead="lovObject as lovObject.carrierName for lovObject in $AutoCompleteService.getCarrierList(shipmentServiceDetailClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                           typeahead-on-select="validateDynamicDocument(11,'connPod');" 
																					typeahead-focus-on-select="false"
																					typeahead-focus-first="true" typeahead-editable="false"
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                             
                                             ng-model="documentDetailClone.carrier"
                                                   />
                                        </div>
                                    </div>
                                    <!--<input type="text" class="i_14" ng-model="documentDetailClone.byFirstCarrier">-->
                                    <input type="text" class="i_15"
                                     id="connPod"
                                       class="select-auto form-control bor-0 i_13_text"
                                     	uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,shipmentServiceDetailClone.serviceMaster)"
													ng-model="cloneConnectionList.pod"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="updateList(cloneConnectionList.pod,'pod-0');validateDynamicDocument(12,'connCarrier');"
                                     />
                                    <input type="text" class="i_16"
                                    id="connCarrier"
                                    class="select-auto form-control bor-0 i_14_text"
                                      uib-typeahead="lovObject as lovObject.carrierCode for 
                                      lovObject in $AutoCompleteService.getCarrierList(shipmentServiceDetailClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-on-select="updateList(cloneConnectionList.carrierMaster,'carrier');validateDynamicDocument(13,'connPod1')" 
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                             ng-model="cloneConnectionList.carrierMaster"
                                                   />

                                    <input type="text" class="i_17"
                                    id="connPod1"
                                     class=" select-auto form-control bor-0 i_13_text"
                                    	uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,shipmentServiceDetailClone.serviceMaster)"
													ng-model="cloneConnectionList.pod1"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													 typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="updateList(cloneConnectionList.pod1,'pod-1');validateDynamicDocument(14,'connCarrier1');"
                                     />
                                    <input type="text" class="i_18"
                                    id="connCarrier1"
                                                   class="select-auto form-control bor-0 i_14_text"
                                      uib-typeahead="lovObject as lovObject.carrierCode for lovObject in $AutoCompleteService.getCarrierList(shipmentServiceDetailClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-on-select="updateList(cloneConnectionList.carrierMaster1,'carrier1');validateDynamicDocument(15,'locCurrency')" 
																					typeahead-focus-on-select="false"
																					typeahead-focus-first="true"
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                                   ng-model="cloneConnectionList.carrierMaster1"
                                                 />
                                  <!--   //<input type="text" class="i_19" ng-model="documentDetailClone.currency"> -->
                                    <div class="i_19 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="locCurrency"
                                             class="form-control bor-0 i_19_text"
                                             ng-model="shipmentServiceDetailClone.localCurrency"
                                            uib-typeahead="lovObject as lovObject.currencyCode for lovObject in $AutoCompleteService.getCurrencyIncludeList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="validateDynamicDocument(16,'decCarriage')"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
                                                  />
                                        </div>
                                    </div>
                                    <input type="text" class="i_20" ng-model="documentDetailClone.chgs" title="Charge Code" data-content="chargeCode" ng-change="changeCollPre(0)" maxlength="10" tabindex="-1"
                                           >
                                    <input type="text" class="i_21" ng-model="documentDetailClone.wtValPrepaid" maxlength="2" tabindex="-1"
                                           title="CWT/Val PP"
                                            >
                                    <input type="text" class="i_22" ng-model="documentDetailClone.wtValCollect"  maxlength="2" tabindex="-1"
                                           title="CWT/Val COLL"
                                            >
                                    <input type="text" class="i_23" ng-model="documentDetailClone.othersPrepaid" maxlength="2" tabindex="-1"
                                           title="Other PP"
                                            >
                                    <input type="text" class="i_24" ng-model="documentDetailClone.othersCollect" maxlength="2" tabindex="-1"
                                           title="Other COLL"
                                            >
                                    <input type="text" class="i_25" ng-model="documentDetailClone.declaredValueForCarriage" maxlength="10" id="decCarriage"> 
                                    <input type="text" class="i_26" ng-model="documentDetailClone.declaredValueForCustoms" maxlength="10" id="decCustoms">

                                    <div class="i_27 abs">
                                        <div class="select-autoo">
                                           <input type="text"
                                             id="dest1"
                                             	uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,shipmentServiceDetailClone.serviceMaster)"
													ng-model="documentDetailClone.destination"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicDocument(17,'flightanddate1')"
                                            />
                                        </div>
                                    </div>
<!--                                    <input type="text" class="i_27_1 abs" ng-model="documentDetailClone.destination.portName" maxlength="10">
 -->                                   <div class="i_277_1 abs elastic-ht"> 
                                           {{documentDetailClone.destination.portName}}
                                   </div> 

                                    <input type="text" class="i_28" ng-if="isOnlyConsoleConnection==true" ng-model="shipmentServiceDetailClone.flightanddate" id="flightanddate0" ng-change="updateflightanddate(shipmentServiceDetailClone.flightanddate)">
                                    <input type="text" class="i_28" ng-if="isOnlyConsoleConnection==false" ng-model="cloneConnectionList.flightanddate0" id="flightanddate1" ng-change="updateList(cloneConnectionList.flightanddate0, 'flightanddate0')">
                                    <input type="text" class="i_29" ng-model="cloneConnectionList.flightanddate" id="flightanddate2" ng-change="updateList(cloneConnectionList.flightanddate, 'flightanddate')">
                                    <input type="text" class="i_30" ng-model="documentDetailClone.amountOfInsurance" id="amountOfInsurance">
                                    <!--<textarea class="txt_31"></textarea>-->
                                    <div class="txt_32 abs">
                                        <textarea ng-model="documentDetailClone.handlingInformation" maxlength="4000" id="handling"></textarea>
                                        <div class="txt_321" ng-show="shipmentServiceDetailClone.origin.countryCode=='IN'">
                                            <label>PAN No :</label>
                                            <input type="text" ng-model="documentDetailClone.panNo"  id="panNo" maxlength="20">
                                        </div>
                                        <!--  <div class="txt_3212">
                                            <label>Diversion contrary to U.S.law prohibited</label>
                                        </div> -->
                                    </div>
                                    <input type="text" class="i_33" ng-model="documentDetailClone.diversionContray" maxlength="10" id="diversion"  ng-blur="navigateToNextField('noofpiece')"/>
                                    <div class="Table">
                                        <div class=""  ng-show="shipmentServiceDetailClone.isMarksNo" style="position: relative;z-index: 10;" >
                                            <textarea class="absTextarea" ng-model="documentDetailClone.marksAndNoClone" id="mawksandNo" maxlength="4000" ng-blur="navigateToNextField('totPiec')"></textarea>
                                        </div>
                                        <table >
                                            <tbody>
                                            <tr>
                                                <td class="td1" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_1" id="noofpiece" ng-model="documentDetailClone.noOfPieces" maxlength="9" ng-change="validateDynamicDocument(18)">
                                                </td>

                                                <td class="td2"  ng-style="set_tablestyle()">
                                                    <input type="text" class="t_2" 
                                                    efsdecimals="$root.weightDecimalPoint" 
                                                    efsdecimal-point="shipmentServiceDetailClone.country.locale"
                                                    ng-model="documentDetailClone.grossWeight" id="grossweight" maxlength="15" ng-change="validateDynamicDocument(19)">
                                                </td>
                                                <!-- <td class="td2" ng-style="set_tablestyle()" ng-show="documentDetailClone.dimensionUnit">
                                                    <input type="text" class="t_2" 
                                                    efsdecimals="$root.weightDecimalPoint" 
                                                    efsdecimal-point="shipmentServiceDetailClone.country.locale"
                                                    ng-model="documentDetailClone.grossWeightInPound" id="grossweight" maxlength="15" ng-change="validateDynamicDocument(19)">
                                                </td> -->
                                              <td class="td3" ng-class="{'normalCell':documentDetailClone.dimensionUnit=='CENTIMETERORKILOS','smallCell':documentDetailClone.dimensionUnit!='CENTIMETERORKILOS'}" ng-style="set_tablestyle()">
                                                    <!-- <input type="text" class="t_3" ng-model="consolClone.kg_lb"> -->
                                                    KG
                                                </td>
                                                <td class="td4" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_4" ng-model="documentDetailClone.rateClass" id="rateClass" maxlength="1" ng-change=" validateDynamicDocument(20)">
                                                </td>
                                                <td class="td5" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_5 text-right" ng-model="documentDetailClone.commodityNo" id="commNo" maxlength="5">
                                                </td>
                                                <td class="td6" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_6" 
                                                    ng-model="documentDetailClone.chargebleWeight"  
                                                    efsdecimals="$root.weightDecimalPoint" 
                                                    efsdecimal-point="shipmentServiceDetailClone.country.locale"
                                                    id="chargeWeight" maxlength="15" ng-change="calculateTotalAmount();validateDynamicDocument(21)">
                                                </td>
                                                <td class="td7" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_7 text-right" 
                                                    efsdecimals="$root.weightDecimalPoint" 
                                                    efsdecimal-point="shipmentServiceDetailClone.country.locale"
                                                    ng-model="documentDetailClone.ratePerChargeClone" 
                                                    id="rateCharge" maxlength="10" ng-change="calculateTotalAmount();validateDynamicDocument(22)">
                                                </td>
                                                <td class="td8" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_8" ng-class="{'text-right':!shipmentServiceDetailClone.isAgreed,'text-center':documentDetailClone.agreedCheck}"
                                                    efsdecimals="$root.weightDecimalPoint" 
                                                    efsdecimal-point="shipmentServiceDetailClone.country.locale"
                                                    ng-model="documentDetailClone.totalAmountClone" ng-change="validateDynamicDocument(23)" id="totalAmount">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <textarea class="t_9" ng-bind-html="documentDetailClone.dimensionClone" maxlength="4000" id="dimension" ng-blur="navigateToNextField('mawksandNo')"></textarea>

                                    <input type="text" class="one"
                                    style="font-size: 13px !important;"
                                     ng-model="documentDetailClone.noOfPieces" maxlength="9" ng-change="validateDynamicDocument(18)" id="totPiec">
                                    
                                    
                                    <input type="text" 
                                    class="two" 
                                    style="font-size: 13px !important;"
                                    ng-model="documentDetailClone.grossWeight" 
                                    efsdecimals="$root.weightDecimalPoint" 
                                                    efsdecimal-point="shipmentServiceDetailClone.country.locale"
                                    maxlength="15" ng-change="validateDynamicDocument(19)" id="totGross">
                                    
                                    
                                  <input type="text" class="three" ng-class="{'text-right':!documentDetailClone.agreedCheckFLag,
                                    'text-center':documentDetailClone.agreedCheck}"
                                    ng-model="documentDetailClone.totalAmountClone"
                                     ng-change="validateDynamicDocument(23)"
                                      maxlength="15" id="totalAmount1">
                                    <input type="text" class="ii_34"  style="text-align:center;" 
                                    ng-model="documentDetailClone.preWeightChargeClone" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                     id="preWeightChargeClone" ng-change="caluclatePrepaid()" maxlength="15">
                                     
                                     
                                    <input type="text" class="ii_35" style="text-align:center;" 
                                    ng-model="documentDetailClone.collWeightChargeClone" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    id="collWeightChargeClone" ng-change="caluclateCollect()" maxlength="15">

                                    <input type="text" class="i_34 text-center" 
                                    style="text-align:center;" ng-model="documentDetailClone.preValuationChargeClone" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    id="preValuationCharge"  ng-change="caluclatePrepaid()" maxlength="15">
                                    
                                    <input type="text" class="i_35 text-center" 
                                    style="text-align:center;" ng-model="documentDetailClone.collValuationChargeClone" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    id="collValuationCharge"  ng-change="caluclateCollect()" maxlength="15">

                                    <input type="text" class="i_36 text-center" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    style="text-align:center;" ng-model="documentDetailClone.prepaidTaxClone" id="prepaidTax" ng-change="caluclatePrepaid()">

                                    <input type="text" class="i_37 text-center" 
                                    style="text-align:center;" ng-model="documentDetailClone.collectTaxClone"
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                     id="collectTax" ng-change="caluclateCollect()">

                                    <input type="text" class="i_38 text-center"
                                     style="text-align:center;" ng-model="documentDetailClone.otherChargesDuePreAgentClone" 
                                      efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                     id="otherChargesDuePreAgent" ng-change="caluclatePrepaid()" maxlength="15">
                                     
                                    <input type="text" class="i_39 text-center" 
                                    style="text-align:center;"  ng-model="documentDetailClone.otherChargesDueCollAgentClone" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    id="otherChargesDueCollAgent" ng-change="caluclateCollect()" maxlength="15">


                                    <input type="text" class="i_40 text-center" 
                                    style="text-align:center;" ng-model="documentDetailClone.otherChargesDuePreCarrierClone"  
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    id="otherChargesDuePreCarrier" ng-change="caluclatePrepaid()" maxlength="15">
                                    
                                    
                                    <input type="text" class="i_41 text-center"
                                     style="text-align:center;" ng-model="documentDetailClone.otherChargesDueCollCarrierClone" 
                                      efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                     id="otherChargesDueCollCarrier" ng-change="caluclateCollect()" maxlength="15">
                                    <input type="text" class="i_42" >
                                    <input type="text" class="i_43" >
                                    <!--<input type="text" class="i_44">
                                    <input type="text" class="i_45">-->
                                    <input type="text" class="i_46 text-center" style="text-align:center;" 
                                    ng-model="documentDetailClone.totalPrepaidClone" id="totalPrepaidClone"
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                      maxlength="15">
                                    <input type="text" class="i_47 text-center"  style="text-align:center;"
                                    ng-model="documentDetailClone.totalCollectClone" id="totalCollectClone" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    ng-disabled="true" maxlength="15">

                                    <input type="text" class="i_48 text-center" style="text-align:center;" 
                                    ng-model="documentDetailClone.currencyConversionRates" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    id="currencyConversionRates" maxlength="15">
                                    <input type="text" class="i_49 text-center" style="text-align:center;" 
                                    ng-model="documentDetailClone.chargesInDestCurrency" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    id="chargesInDestCurrency" maxlength="15">
                                    <!--<input type="text" class="i_50">-->

                                    <input type="text" class="i_51 text-center" style="text-align:center;" 
                                    ng-model="documentDetailClone.chargesAtDestination" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                    id="chargesAtDestination" maxlength="15">
                                    <input type="text" class="i_52 text-center" style="text-align:center;" 
                                    ng-model="documentDetailClone.totalCollectCharges" 
                                     efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                     efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                     id="totalCollectCharges" maxlength="15">
                                    <div class="txt_53">
                                        <div class="tables">
                                            <div>
                                                <table>
                                                    <tbody>
                                                    <tr ng-repeat="shipmentCharge in range(0,2) track by $index">
                                                        <td class="td11" >
                                                            <div class="select-auto">
                                                                <input type="text"
                                                                id="charge1"
                                                                  class="form-control bor-0"
                                                                  ng-model="shipmentCharge.chargeMaster"
                                                                uib-typeahead="lovObject as lovObject.chargeCode for lovObject in $AutoCompleteService.getChargeList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratetemplate.html"
							typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratepopup.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="validateDynamicDocument(24,'locChargeLeft'+$index)"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
                                                                        />
                                                            </div>
                                                            <!--<input type="text" class="t_1" ng-model="carrier.code">-->
                                                        </td>
                                                        <td class="td21">
                                                            <input type="text"  ng-if="rateMergedValue || rateMergedValue=='true'" class="t_2" ng-model="shipmentCharge.localTotalRateAmount" 
                                                                 efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                                               efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                                             id="locChargeLeft{{$index}}" maxlength="15">
                                                            
                                                             <input type="text" class="t_2" ng-if="!rateMergedValue || rateMergedValue=='false'"
                                                              ng-model="shipmentCharge.localTotalNetSale"
                                                              efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                                                               efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                                             id="locChargeLeft{{$index}}" maxlength="15"
                                                             >
                                                        
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div style="left: 123px;position: relative;">
                                                <table>
                                                    <tbody>
                                                    <tr ng-repeat="shipmentCharge in  range(3,5) track by $index">
                                                        <td class="td11">
                                                            <div class="select-auto">
                                                                <input type="text"
                                                                id="charge2"
                                                                 class="form-control bor-0"
							ng-model="shipmentCharge.chargeMaster"
							uib-typeahead="lovObject as lovObject.chargeCode for lovObject in $AutoCompleteService.getChargeList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratetemplate.html"
							typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratepopup.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="validateDynamicDocument(24,'locChargeRight'+$index)"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
                                                                        />
                                                            </div>
                                                            <!--<input type="text" class="t_1" ng-model="carrier.code">-->
                                                        </td>
                                                        <td class="td21">
                                                            <input type="text" class="t_2"  ng-if="rateMergedValue || rateMergedValue=='true'"
                                                              ng-model="shipmentCharge.localTotalRateAmount"
                                                              efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                                                               efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                                             id="locChargeRight{{$index}}" maxlength="15">
                                                        
                                                            <input type="text" class="t_2"  ng-if="!rateMergedValue || rateMergedValue=='false'"
                                                              ng-model="shipmentCharge.localTotalNetSale"
                                                              efsdecimals="shipmentServiceDetailClone.localCurrency.decimalPoint" 
                                                               efsdecimal-point="shipmentServiceDetailClone.localCurrency.countryMaster.locale"
                                                             id="locChargeRight{{$index}}" maxlength="15"
                                                             >
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="txt_54 abs">
                                        <div class="select-auto">
                                            <input style="width:347px !important;" type="text"
                                            id="issuingAgent3"
                                            
                                              class="form-control bor-0 ii_3_text"
                                            uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="validateDynamicDocument(4,'shipersign');"
                                                   ng-model="documentDetailClone.issuingAgent"
  												ng-class="{'error-control':errorMap.get('partyIssuingAgent')!=null}"
                                               input-focus = "{{errorMap.get('partyIssuingAgent')!=null}}"
                                                    />
                                        </div>
                                    </div>
                                    <!--<textarea class="txt_54" ng-model="awb.signature.shipper" ></textarea>-->
                                     <div class="txt_55 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                             id="shipersign"
                                                   class="form-control bor-0 txt_55_text"
                                                   ng-model="documentDetailClone.shipperSignature"  maxlength="20"
                                                    />
                                        </div>
                                    </div>
                                    <div class="txt_556">
                                       <!--  <label>Issuing Agent</label> -->
                                        <input type="text"
                                        id="issuingAgent4"
                                        class="form-control bor-0 ii_3_text"
                                        uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="validateDynamicDocument(4,'hawbReceivedOn');choosePartyAddress('issuingAgent');getAccounts()"
                                                   ng-model="documentDetailClone.issuingAgent"
  												ng-class="{'error-control':errorMap.get('partyIssuingAgent')!=null}"
                                               input-focus = "{{errorMap.get('partyIssuingAgent')!=null}}"
                                                    />
                                    </div>
                                    <input type="text" class="i_56" ng-model="documentDetailClone.hawbReceivedOn" id="hawbReceivedOn">
                                    <div class="i_57 abs">
                                        <div class="select-auto">
                                                      <input type="text"
                                                      id="portCode3"
                                                   class="-form-control bor-0 ii_3_text"
                                                      	uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,shipmentServiceDetailClone.serviceMaster)"
													ng-model="documentDetailClone.pol"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicDocument(2,'carrier3');"
                                                    />
                                        </div>
                                    </div>
                                     <div class="i_58 abs">
                                        <!--  <label>As Agents For</label> -->
                                        <div class="select-auto">
                                            <input type="text"
                                            id="carrier3"
                                             uib-typeahead="lovObject as lovObject.carrierName for lovObject in $AutoCompleteService.getCarrierList(shipmentServiceDetailClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                           typeahead-on-select="validateDynamicDocument(11,'agentsign')" 
																					typeahead-focus-on-select="false"
																					typeahead-focus-first="true" typeahead-editable="false"
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                                   ng-model="documentDetailClone.carrier"
                                                    />
                                        </div>
                                    </div>
                                    <div class="in_588 abs">
                                        <input type="text" class="text-center" ng-model="documentDetailClone.issCarrierAgentSign"  id="agentsign"  maxlength="30">
                                    </div>
                                    <!--<input type="text" class="i_58" ng-model="awb.signature.issueCarrierAgent" >-->
                                    <input type="text" class="i_59" ng-model="documentDetailClone.mawbNowithoutPrefix2" id="mawbNowithoutPrefix2" maxlength="11" ng-blur="navigateToNextField('shipper')">
                                </form>
                            </div>
                        </div>
                    </div>
               </div>
            	<mainefs-spinner spinner-status="mainpreloder"></mainefs-spinner>
            </div>
        		
        </div>
    </div>
    <script type="text/ng-template" id="popOver.html">
        <div class="popover" tabindex="-1" ng-show="content">
            <div class="arrow"></div>
            <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
            <div class="popover-content">
                <ul class="list-inline">
                    <li>Prepaid</li>
                    <li class="v-align-top"><switch ng-model="enabled" class="green" ng-click="callFunction();$hide();"></switch></li>
                    <li>Collect</li>
                </ul>

            </div>
        </div>
    </script>
