<div class="modal do_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>Delivery {{consol.serviceMaster.transportMode=='Air'?'Advice':Order}}</h4>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-small" style="margin-top: 6px" ng-click="$hide()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="padding: 0px" >
                 <div modal-height style="position:relative;overflow-y: auto;overflow-x:hidden;padding-top: 0px">
                 <div class="row hide-transition" style="margin-left: 0px;margin-right: 0px;" ng-show="errorMap.size()>0">
                    <div class="col-md-12 error-header">
                        <ul class="list-inline pull-left">
                            <li><span>{{errorMap.size()}}</span></li>
                            <li><span>Errors Found</span></li>
                        </ul>
                        <div class="pull-right downicon_arr" ng-init="modelOption.showErrors=false">
                                <span ng-if="modelOption.showErrors==false" ng-click="modelOption.showErrors=true">
                                    <i class="icon-uparrow"></i>
                                </span>
                            <span ng-if="modelOption.showErrors==true" ng-click="modelOption.showErrors=false">
                                    <i class="icon-downarrow"></i>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="row error_body"  ng-show="modelOption.showErrors==true && errorMap.size()>0">
                    <div class="col-md-12">
                        <ul class="error_list" ng-repeat="key in errorMap.allKeys()">
                            <li class="text-danger">{{errorMap.data[key]}}</li>
                        </ul>
                    </div>
                </div>
                    <div class="delivery_order" id="doallimage">
                        <div class="do_header">
                            <div>
								<img ng-src="data:image/jpeg;base64,{{doResponseDto.logo}}">
							</div>
                            <div>
                                <h3 class="bold_font" style="margin: 0">{{doResponseDto.companyName}}</h3>
                                <!--<input type="text" ng-model="deliveryOrder_companyName" class="bold_font">-->
                                <textarea ng-model="doResponseDto.companyAddress"></textarea>
                            </div>
                            <div>
                                <!--<img ng-src="data:image/jpeg;base64,{{encodedLogo}}">-->
                               <!--  <img src="../../../../assets/images/reportImg/iata.png" /> -->
                            </div>
                        </div>
                        <div class="do_Title">
                            <div>
                                <h3 class="bold_font">DELIVERY {{consol.serviceMaster.TransportMode=='Air'?'ADVICE':ORDER}} </h3>
                            </div>
                        </div>
                        <div class="do_detail">
                            <div>
                                <ul class="list-inline row" style="margin-left: 0px">
                                    <li class="col-xs-5 pr0">
                                        <span>Carrier Do.:</span>
                                    </li>
                                    <li class="col-xs-7 pl0 rel" style="left: -10px">
                                        <input type="text" maxlength="10"
                                        ng-disabled="true"
                                         ng-model="doResponseDto.carrierDo" ng-change="validateDeliveryOrder(1)">
                                    </li>
                                </ul>
                                <ul class="list-inline row" style="margin-left: 13px;">
                                    <li class="col-xs-4" style="text-align: right;">
                                        <span>Date:</span>
                                    </li>
                                    <li class="col-xs-8 pl0">
                                        <input type="text" ng-model="doResponseDto.doDate" ng-change="validateDeliveryOrder(2)">
                                    </li>
                                </ul>
                            </div>
                            <div style="margin-right: 32px;">
                                <ul class="list-inline">
                                    <li class="col-xs-4 text-right">
                                        <span>DO.No.:</span>
                                    </li>
                                    <li class="col-xs-8">
                                        <input type="text" maxlength="30" ng-model="doResponseDto.doNumber" ng-change="validateDeliveryOrder(3)">
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="col-xs-4" style="text-align: right;">
                                        <span>Date:</span>
                                    </li>
                                    <li class="col-xs-8">
                                        <input type="text" ng-model="doResponseDto.doDate" ng-change="validateDeliveryOrder(4)">
                                    </li>	
                                </ul>
                            </div>
                        </div>
                        <div class="do_to">
                            <div>
                                <ul class="list-inline row">
                                    <li class="col-xs-1 pt5"><span>TO</span></li>
                                    <li class="col-xs-6">
                                        <textarea class="form-control" style="height: 41px; padding: 0; top: 2px" ng-model="doResponseDto.toAddress" 
                                        ng-change="validateDeliveryOrder(5)"></textarea>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul class="list-inline row mb0" style="margin-top: 5px; margin-bottom: 14px">
                                    <li class="col-xs-3"><span style="display: block; position: relative">DELIVER TO MESSERS:</span></li>
                                    <li class="col-xs-7 rel" style="left: -70px;top: -7px;">
                                        <input type="text" ng-model="doResponseDto.address" maxlength="100" ng-change="validateDeliveryOrder(6)"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="do_table">
                            <div>
                                <table>
                                    <caption>OR ORDER THE FULL PACKAGE WHICH ARRIVED ON THE BELOW FLIGHT:</caption>
                                    <tr>
                                        <th class="text-center">IGM No</th>
                                        <th class="text-center">Reference No</th>
                                        <th class="text-center">Flight No</th>
                                        <th class="text-center">ETA Date</th>
                                        <th class="text-center">Gross Weight</th>
                                    </tr>
                                    <tr>
                                        <td style="height: 20px !important;"><input  style="height: 20px !important;" type="text" 
                                        ng-disabled="true"
                                        ng-model="doResponseDto.igmNo" maxlength="20" ng-change="validateDeliveryOrder(7)"></td>
                                        <td style="height: 20px !important;"><input  style="height: 20px !important;" type="text"
                                         ng-disabled="true" ng-model="doResponseDto.referenceNo"
                                         maxlength="20" ng-change="validateDeliveryOrder(8)"></td>
                                        <td style="height: 20px !important;"><input style="height: 20px !important;" 
                                        type="text" ng-model="doResponseDto.flightNo" maxlength="30" ng-change="validateDeliveryOrder(9)"></td>
                                        <td style="height: 20px !important;"><input style="height: 20px !important;" type="text"
                                         ng-model="doResponseDto.eta" ng-change="validateDeliveryOrder(10)"></td>
                                        <td style="height: 20px !important;"><input style="height: 20px !important;" type="text"  id="doGross"
                                        ng-model="doResponseDto.totalGrossWt" maxlength="15"  
                                         efsdecimals="$root.weightDecimalPoint" 
                                   efsdecimal-point="consolCloneDO.country.locale"
                                        ng-change="validateDeliveryOrder(11)"></td>
                                    </tr>
                                </table>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>MAWB No</td>
                                        <td><input type="text" ng-model="doResponseDto.mawbNo" 
                                        ng-disbaled="true"
                                        maxlength="11" ng-change="validateDeliveryOrder(12)"></td>
                                        <td><span style="position: relative; left: 20px">No.of Pcs</span></td>
                                    </tr>
                                    <tr>
                                        <td>HAWB No</td>
                                        <td ><input type="text" ng-model="doResponseDto.hawbNo" maxlength="20"></td>
                                        <td>
                                            <input type="text" ng-model="doResponseDto.totalPieces" maxlength="9" ng-change="validateDeliveryOrder(13)">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td style="width: 160px">Description of Goods</td>
                                        <td><textarea type="text" ng-model="doResponseDto.descriptionOfGoods"  maxlength="4000"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>Remark</td>
                                        <td><textarea type="text" ng-model="doResponseDto.remark" maxlength="4000"></textarea></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table style="margin-bottom: 0px !important;">
                                    <tr>
                                        <div class="row mt-15">
                                            <div class="col-xs-4 col-xs-push-8">
                                                <ul class="list-inline row" >
                                                    <li class="col-xs-4"><span>SIGNATURE</span></li>
                                                    <li class="col-xs-8">
                                                        <input class="form-control" type="text" style="border-bottom: 1px solid #000 !important; border-radius: 0px !important;">
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12">
                                                <ul class="list-inline pull-right" style="width: 301px">
                                                    <li style="width: 100%">
                                                        <textarea class="form-control" maxlength="20" 
                                                        style="min-height: 70px" ng-model="doResponseDto.doSignature"></textarea>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </tr>
                                </table>
                                <table >
                                    <tr>
                                        <hr style="margin: 0px !important;">
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--<div class="do_footer">
                            <div class="col-xs-12">
                                <ul class="list-inline">
                                    <li class="col-xs-3">SIGNATURE</li>
                                    <li class="col-xs-6">
                                        <input type="text" style="border-bottom: 1px solid #000 !important; border-radius: 0px !important;">
                                    </li>
                                </ul>
                                <textarea ng-model="consolDocumentCloneDO.doSignature"></textarea>
                            </div>
                        </div>
                        <div class="do_end">
                            <div>
                                <hr>
                            </div>
                        </div>-->
                    </div>
                </div><!--modal body ends-->
            </div>
 <mainefs-spinner spinner-status="mainpreloder"></mainefs-spinner>
        </div>
    </div>
</div>
