   <div class="modal awbReport_modal" role="dialog" style="overflow-y: hidden; padding: 0 15px" ng-init="switchStyle='violet'" ng-controller="mawbController">
        <div class="modal-dialog" style="width: 1024px; height: 100%">
            <div class="modal-content" style="margin-top: 30px;">
                <div class="modal-header nopadding">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>{{docType}}</h4>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default btn-small pull-right mr0" ng-click="$hide();closeDynamicDocument()">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <div show-response></div>
                    <div class="row" style="margin-left: 0px;margin-right: 0px;">
                        <div class="col-md-12 pattern-header" style="padding-left: 0px;padding-right: 0px">
                            <div class="row border-between">
                                <div class="col-xs-2">
                                    <span style="padding-left: 16px;"></span>
                                </div>
                                <div class="col-xs-3">
                                    <ul class="list-inline" style="margin-bottom: 0px">
                                        <li>
                                            <input class="magic-checkbox" type="checkbox" ng-model="consolClone.consolDocument.isAgreed" ng-change="agreedChange()" name="docOptions" id="agreedOption" >
                                            <label class="text custom-label" for="agreedOption">
                                                As Agreed
                                            </label>
                                        </li>
                                        <li>
                                            <input class="magic-checkbox" type="checkbox" ng-model="consolClone.consolDocument.isMarksNo"  ng-change="agreedChange()" name="docOptions" id="markNo" >
                                            <label class="text custom-label" for="markNo">
                                                Marks & No
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3">
                                    <ul class="list-inline" style="margin-bottom: 0px;margin-top: 4px;">
                                        <li>
                                            <span class="switcher blue-switcher" ng-click="switchStyle = 'blue'"></span>
                                        </li>
                                        <li>
                                            <span class="switcher red-switcher" ng-click="switchStyle = 'red'"></span>
                                        </li>
                                        <li>
                                            <span class="switcher violet-switcher" ng-click="switchStyle = 'violet'"></span>
                                        </li>
                                        <li>
                                            <span class="switcher gray-switcher" ng-click="switchStyle = 'black'"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-4">
                                    <div class=" pull-right" style="margin-top: -3px; padding-right: 15px">
                                     <button type="button" class="btn btn-success dw-small mr0" style="min-width: 80px" ng-click="downloadMAWB()">Download</button>
                                      <button type="button" class="btn btn-success dw-small" style="min-width: 80px" ng-click="printDynamicMawb()">Print</button>
                                        <button type="button" class="btn btn-success dw-small accent-btn" style="min-width: 80px" ng-click="update()">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row hide-transition" style="margin-left: 0px;margin-right: 0px;" ng-show="errorMap.size()>0">
                        <div class="col-md-12 error-header">
                            <ul class="list-inline pull-left">
                                <li><span>{{errorMap.size()}}</span></li>
                                <li><span>Errors Found</span></li>
                            </ul>
                            <div class="pull-right downicon_arr" ng-init="modelOption.showErrors=false">
                                <span ng-if="modelOption.showErrors==false" ng-click="modelOption.showErrors=true">
                                    <i class="icon-uparrow"></i>
                                </span>
                                <span ng-if="modelOption.showErrors==true" ng-click="modelOption.showErrors=false">
                                    <i class="icon-downarrow"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row error_body"  ng-show="modelOption.showErrors==true &&  errorMap.size()>0">
                        <div class="col-md-12">
                            <ul class="error_list" ng-repeat="key in errorMap.allKeys()">
                                <li class="text-danger">{{errorMap.data[key]}}</li> 
                            </ul>
                        </div>
                    </div>
                    <div modal-height class="scrollAuto" style="position:relative;overflow-y: auto;overflow-x:hidden;padding-top: 0px">

                        <div class="containerFluid" id="awb_image"><!--viewBox="13 0 584 808"-->


                            <!--<object data="../assets/images/reportImg/blue_awb.svg" type="image/svg+xml" ng-if="switchStyle == 'blue'">-->
                            <img src="../assets/images/reportImg/blue_awb.png" ng-if="switchStyle == 'blue'"/>
                            <!--<img src="violet_awb.png"  style="margin-left: -22px; margin-top: -2px"/>-->
                            <!--</object>-->
                            <!--<object data="../assets/images/reportImg/violet_awb.svg" type="image/svg+xml" ng-if="switchStyle == 'violet'">-->
                            <img src="../assets/images/reportImg/violet_awb.png"  ng-if="switchStyle == 'violet'" />
                            <!--<img src="violet_awb.png"/>-->
                            <!--<img src="violet_awb.png"  style="margin-left: -22px; margin-top: -2px"/>-->
                            <!--</object>-->
                            <!--<object data="../assets/images/reportImg/black_awb.svg" type="image/svg+xml" ng-if="switchStyle == 'black'">-->
                            <img src="../assets/images/reportImg/black_awb.png"  ng-if="switchStyle == 'black'"/>
                            <!--<img src="violet_awb.png"/>-->
                            <!--<img src="violet_awb.png"  style="margin-left: -22px; margin-top: -2px"/>-->
                            <!--</object>-->
                            <!--<object data="../assets/images/reportImg/red_awb.svg" type="image/svg+xml" ng-if="switchStyle == 'red'">-->
                            <img src="../assets/images/reportImg/red_awb.png"  ng-if="switchStyle == 'red'"/>
                            <!--<img src="violet_awb.png"/>-->
                            <!--<img src="violet_awb.png"  style="margin-left: -22px; margin-top: -2px"/>-->
                            <!--</object>-->
                            <div class="form" id="awbimage" name="awbimage">
                                <form>
                                      <input type="text"  input-focus=true class="ii_1_0" ng-model="consolClone.firstcarrierNo"  id="carrierNo" maxlength="10" ng-change="validateDynamicMAWBDocument(28);getFirstCarrier()">
                                            <input type="text"
                                            id="portCode1"
                                            
                                            class="select-auto form-control bor-0 ii_1"
                                             uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,consolClone.serviceMaster)"
													ng-model="consolClone.pol"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicMAWBDocument(2,'mawbPrefix1');"
                                             ng-class="{'error-control':errorMap.get('pol')!=null}"
                                                   />
                                    <input type="text" class="ii_1_1" ng-model="consolDocumentClone.mawbNowithoutPrefix1" id="mawbPrefix1" maxlength="11">
                                    <!-- <label class="ii_1_3">{{docType}}</label> -->
                                    <input type="text" class="ii_2" ng-model="consolDocumentClone.mawbNowithoutPrefix2" id="mawbPrefix2" maxlength="11">
                                    <div class="ii_2_1 abs">
                                        <div class="select-auto">
                                            <input type="text" 
                                            id="shipper"
                                              class="form-control bor-0 ii_2_1_text"
                                                 uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														class="form-control bor-0 ii_2_1_text"
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="
														choosePartyAddress('shipper');validateDynamicMAWBDocument(3,'carrier1');getAccounts(1)"
                                                   ng-model="consolDocumentClone.shipper"
  												ng-class="{'error-control':errorMap.get('documentShipper')!=null}"
                                            input-focus = "{{errorMap.get('documentShipper')!=null}}"
                                               />
                                        </div>
                                    </div>
                                    <div class="abs txt_1">
                                        <input type="text" ng-model="consolDocumentClone.shipperAddress.addressLine1" ng-change="validateDynamicMAWBDocument(25)" maxlength="100">
                                        <input type="text" ng-model="consolDocumentClone.shipperAddress.addressLine2" maxlength="100">
                                        <input type="text" id="shipperAddress3" ng-model="consolDocumentClone.shipperAddress.addressLine3" maxlength="100">
                                        <input type="text" id="shipperAddress4" ng-model="consolDocumentClone.shipperAddress.addressLine4" maxlength="100">

                                         <!--<b-dir ng-model="consolDocumentClone.shipperAddress.addressLine1" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="consolDocumentClone.shipperAddress.addressLine2" maxlength="100"></b-dir><br>
                                          <b-dir ng-model="consolDocumentClone.shipperAddress.addressLine3" maxlength="100"></b-dir><br>
                                           <b-dir ng-model="consolDocumentClone.shipperAddress.addressLine4" maxlength="100"></b-dir>-->
                                    </div>
                                    <!--<textarea class="txt_1">shanmuganathan building material company india pvt ltd</textarea>-->
                                    <input type="text" class="i_2" ng-model="consolDocumentClone.shipperAccount" maxlength="30" tabindex="-1">
                                    <div class="ii_3 abs">
                                        <div class="select-auto">
                                             <input type="text"
                                              id="carrier1"
                                              class="form-control bor-0 i_14_text"
                                                ng-model="consolClone.firstCarrier"
                                                uib-typeahead="lovObject as lovObject.carrierName for lovObject in $AutoCompleteService.getCarrierList(consolClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                           typeahead-on-select="validateDynamicMAWBDocument(28,'issuingAgent1');" 
																					typeahead-focus-on-select="false"
																					typeahead-focus-first="true" typeahead-editable="false"
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                                />
                                        </div>
                                    </div>
                                    <div class="ii_3_1 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                             id="issuingAgent1"
                                              class="form-control bor-0 ii_3_text"
                                              uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="validateDynamicMAWBDocument(4,'consignee1');choosePartyAddress('issuingAgent');"
                                                   ng-model="consolDocumentClone.issuingAgent"
  												ng-class="{'error-control':errorMap.get('partyIssuingAgent')!=null}"
                                              input-focus = "{{errorMap.get('partyIssuingAgent')!=null}}"
                                         
                                                    />
                                        </div>
                                    </div>
                                      <div class="abs itxt_3">
                                          <input type="text" ng-model="consolDocumentClone.issuingAgentAddress.addressLine1" ng-change="validateDynamicMAWBDocument(26)" maxlength="100">
                                          <input type="text" ng-model="consolDocumentClone.issuingAgentAddress.addressLine2" maxlength="100">
                                          <input type="text" id="issuingAgentAddress3" ng-model="consolDocumentClone.issuingAgentAddress.addressLine3" maxlength="100">
                                          <input type="text" id="issuingAgentAddress4" ng-model="consolDocumentClone.issuingAgentAddress.addressLine4" maxlength="100">
                                        <!--<b-dir ng-model="consolDocumentClone.issuingAgentAddress.addressLine" maxlength="100"></b-dir>-->
                                        <!--  <b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine2" maxlength="100"></b-dir><br>
                                          <b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine3" maxlength="100"></b-dir>
                                          <b-dir ng-model="documentDetailClone.issuingAgentAddress.addressLine4" maxlength="100"></b-dir><br> -->
                                    </div>
                                    <div class="itxt_3_1 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                             id="consignee1"
                                             class="form-control bor-0 ii_2_1_text"
                                             uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="validateDynamicMAWBDocument(6,'issuingAgent2');choosePartyAddress('consignee');getAccounts(2)"
                                                   ng-model="consolDocumentClone.consignee"
                                                   	ng-class="{'error-control':errorMap.get('consignee')!=null}"
                                               	input-focus = "{{errorMap.get('consignee')!=null}}"
                                                    />
                                        </div>
                                    </div>
                                    <div class="abs txt_3">

                                        <input type="text" ng-model="consolDocumentClone.consigneeAddress.addressLine1" ng-change="validateDynamicMAWBDocument(27)" maxlength="100">
                                        <input type="text" ng-model="consolDocumentClone.consigneeAddress.addressLine2" maxlength="100">
                                        <input type="text" id="consigneeAddres3" ng-model="consolDocumentClone.consigneeAddress.addressLine3" maxlength="100">
                                        <input type="text" id="consigneeAddres4" ng-model="consolDocumentClone.consigneeAddress.addressLine4" maxlength="100">

                                       <!--<b-dir ng-model="consolDocumentClone.consigneeAddress.addressLine1" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="consolDocumentClone.consigneeAddress.addressLine2" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="consolDocumentClone.consigneeAddress.addressLine3" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="consolDocumentClone.consigneeAddress.addressLine4" maxlength="100"></b-dir>-->
                                    </div>
                                    <!--<textarea class="txt_3">shanmuganathan trading india india pvt ltd</textarea>-->
                                    <input type="text" class="i_4" ng-model="consolDocumentClone.consigneeAccount" maxlength="30" tabindex="-1">
                                    <div class="i_4_1 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                             id="issuingAgent2"
                                             class="form-control bor-0 i_4_1_text"
                                               uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="validateDynamicMAWBDocument(4,'portCode2');choosePartyAddress('issuingAgent');getAccounts(3)"
                                                  ng-model="consolDocumentClone.issuingAgent"
  												ng-class="{'error-control':errorMap.get('partyIssuingAgent')!=null}"
                                              input-focus = "{{errorMap.get('partyIssuingAgent')!=null}}"
                                                    />
                                        </div>
                                    </div>
                                    <div class="abs txt_5">
                                        <input type="text" ng-model="consolDocumentClone.issuingAgentAddress.addressLine1" ng-change="validateDynamicMAWBDocument(26)" maxlength="100">
                                        <input type="text" ng-model="consolDocumentClone.issuingAgentAddress.addressLine2" maxlength="100">
                                        <input type="text" id="issuingAgentAddress13" ng-model="consolDocumentClone.issuingAgentAddress.addressLine3" maxlength="100">
                                        <input type="text" id="issuingAgentAddress14" ng-model="consolDocumentClone.issuingAgentAddress.addressLine4" maxlength="100">

                                      <!--  <b-dir ng-model="consolDocumentClone.issuingAgentAddress.addressLine1" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="consolDocumentClone.issuingAgentAddress.addressLine2" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="consolDocumentClone.issuingAgentAddress.addressLine3" maxlength="100"></b-dir><br>
                                        <b-dir ng-model="consolDocumentClone.issuingAgentAddress.addressLine4" maxlength="100"></b-dir>-->
                                    </div>
                                    <!--<textarea class="txt_5" ng-model="awb.issuingAgentNamecity"></textarea>-->
                                    <input type="text" class="i_6"  ng-model="consolDocumentClone.issuingAgent.partyDetail.iataCode" maxlength="30" ng-change="validateDynamicMAWBDocument(8)">
                                    <input type="text" class="i_7" ng-model="consolDocumentClone.issuingAgent.partyDetail.accountNumber" maxlength="30">
                                    <div class="i_8 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="portCode2"
                                            class="form-control bor-0 i_8_1_text"
                                              uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,consolClone.serviceMaster)"
													ng-model="consolClone.pol"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicMAWBDocument(2,'optInfomawb')"
                                              ng-class="{'error-control':errorMap.get('pol')!=null}"
                                            />
                                        </div>
                                    </div>
                                    <div class="i_8_1 abs">
                                    {{consolClone.pol.portName}}{{consolClone.firstCarrier!=null?'('+(consolClone.firstCarrier.carrierCode)+')':''}} 
                                        <!-- <input type="text" id="portName2" maxlength="100"
                                               ng-model="consolClone.pol.portName" -->
                                    </div>
                                    <!--<input type="text" class="i_8" ng-model="consolClone.pol.portCode">-->

                                                        <!-- <h1 class="txt_9"> Freight {{Consol.ppcc}}</h1> -->
                                    <textarea class="txt_9" ng-model="consolDocumentClone.accountandNotify" id="accNot" ng-change="validateDynamicMAWBDocument(9)" maxlength="4000"></textarea>
                                    <input type="text" class="i_10" ng-model="consolClone.consolUid" id="consolUid" maxlength="20">
                                    <input type="text" class="i_11" ng-model="consolDocumentClone.optShipInfo" id="consolUid" id="optInfomawb" maxlength="10">
                                    <!--<input type="text" class="i_12">-->
                            <!--  <input type="text" class="i_13" ng-model="awb.routingTo"> -->
                                    <div class="i_13 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="pod1"
                                            class="form-control bor-0 i_13_text"
                                            	uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,consolClone.serviceMaster)"
													ng-model="consolClone.pod"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicMAWBDocument(9,'carrier2')"
                                                   />
                                        </div>
                                    </div>
                                    <div class="i_14 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            
                                            id="carrier2"
                                              class="form-control bor-0 i_14_text"
                                             uib-typeahead="lovObject as lovObject.carrierName for lovObject in $AutoCompleteService.getCarrierList(consolClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                           typeahead-on-select="validateDynamicMAWBDocument(5,'connPod')" 
																					typeahead-focus-on-select="false"
																					typeahead-focus-first="true" typeahead-editable="false"
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                              ng-model="consolClone.carrier"
                                                   />
                                        </div>
                                    </div>
                                    
                                    <!--<input type="text" class="i_14" ng-model="awb.byFirstCarrier">--><!-- ConnectionListt -->
                                    <input type="text" class="i_15"  
                                    id="connPod"
                                      class="select-auto form-control bor-0 i_13_text"
                                    uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,consolClone.serviceMaster)"
													ng-model="cloneConnectionList.pod"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="updateList(cloneConnectionList.pod,'pod-0');validateDynamicMAWBDocument(10,'connCarrier')"
                                 >
                                     
                                     
                                    <input type="text" class="i_16"    
                                    id="connCarrier"
                                     class="select-auto form-control bor-0 i_14_text"
                                     
                                     uib-typeahead="lovObject as lovObject.carrierCode for 
                                      lovObject in $AutoCompleteService.getCarrierList(consolClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-on-select="updateList(cloneConnectionList.carrierMaster,'carrier');validateDynamicMAWBDocument(11,'connPod1')" 
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                             ng-model="cloneConnectionList.carrierMaster"
                                                   >
                                                   
                                                   
                                    <input type="text" class="i_17" 
                                     id="connPod1"
                                     class=" select-auto form-control bor-0 i_13_text"
                                     	uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,consolClone.serviceMaster)"
													ng-model="cloneConnectionList.pod1"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													 typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="updateList(cloneConnectionList.pod1,'pod-1');validateDynamicMAWBDocument(12,'connCarrier1')"
                                 >
                                     
                                    <input type="text" class="i_18"    
                                    id="connCarrier1"
                                    class="select-auto form-control bor-0 i_14_text"
                                      uib-typeahead="lovObject as lovObject.carrierCode for lovObject in $AutoCompleteService.getCarrierList(consolClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-on-select="updateList(cloneConnectionList.carrierMaster1,'carrier1');validateDynamicMAWBDocument(13,'locCurrency')" 
																					typeahead-focus-on-select="false"
																					typeahead-focus-first="true"
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                                   ng-model="cloneConnectionList.carrierMaster1"
                                    >
                                    <!--<input type="text" class="i_19" ng-model="awb.currency">-->
                                    <div class="i_19 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="locCurrency"
                                            class="form-control bor-0 i_19_text"
                                            ng-model="consolDocumentClone.localCurrency"
                                            uib-typeahead="lovObject as lovObject.currencyCode for lovObject in $AutoCompleteService.getCurrencyIncludeList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="validateDynamicMAWBDocument(14,'decCarriage')"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
                              >
                                                   
                                        </div>
                                    </div>
                                    <input type="text" class="i_20" ng-model="consolDocumentClone.chgs" ng-change="changeCollPre()"  title="Charge Code" data-content="chargeCode" maxlength="2" tabindex="-1"
                                          >
                                    <input type="text" class="i_21" ng-model="consolDocumentClone.wtValPrepaid" maxlength="2" tabindex="-1"
                                            >
                                    <input type="text" class="i_22" ng-model="consolDocumentClone.wtValCollect" maxlength="2" tabindex="-1"
                                            >
                                    <input type="text" class="i_23" ng-model="consolDocumentClone.othersPrepaid" maxlength="2" tabindex="-1"
                                            >
                                    <input type="text" class="i_24" ng-model="consolDocumentClone.othersCollect" maxlength="2" tabindex="-1"
                                            >

                                    <input type="text" class="i_25" ng-model="consolDocumentClone.declaredValueForCarriage" maxlength="10" id="decCarriage">

                                    <input type="text" class="i_26" ng-model="consolDocumentClone.declaredValueForCustoms" maxlength="10" id="decCustoms">
                                    <div class="i_27 abs">
                                        <div class="select-autoo">
                                            <input type="text"
                                            id="dest1"
                                            class="form-control bor-0"
                                            	uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,consolClone.serviceMaster)"
													ng-model="consolClone.destination"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicMAWBDocument(15,'flightanddate1')"
                                            />
                                        </div>
                                    </div>

                                    <div class="i_277_1 abs">
                                     {{consolClone.destination.portName}}
                                       <!--  <input type="text" ng-model="consolClone.destination.portName"  id="destName1"  maxlength="100"> consolClone.flightanddate -->
                                    </div>
                                    <input type="text" class="i_28" ng-if="isOnlyConsoleConnection==true" ng-model="consolClone.flightanddate" id="flightanddate0" ng-change="updateflightanddate(consolClone.flightanddate)"> 
                                    <input type="text" class="i_28" ng-if="isOnlyConsoleConnection==false" ng-model="cloneConnectionList.flightanddate0" id="flightanddate1" ng-change="updateList(cloneConnectionList.flightanddate0,,'flightanddate0')"> 
                                    <input type="text" class="i_29" ng-model="cloneConnectionList.flightanddate" id="flightanddate2" ng-change="updateList(cloneConnectionList.flightanddate,'flightanddate')">
                                    <input type="text" class="i_30" ng-model="consolDocumentClone.amountOfInsurance" id="amountOfInsurance">
                                    <!--<textarea class="txt_31"></textarea>-->
                                    
                                     <div class="txt_32 abs">
                                        <textarea ng-model="consolDocumentClone.handlingInformation" maxlength="4000" id="handling"></textarea>
                                        <div class="txt_321" ng-show="consolClone.origin.countryCode=='IN'">
                                            <label>PAN No :</label>
                                            <input type="text" ng-model="consolDocumentClone.panNo" id="panNo"  maxlength="20">
                                        </div>
                                         <!-- <div class="txt_3212">
                                            <label>Diversion contrary to U.S.law prohibited</label>
                                        </div> -->
                                    </div>
                                    <input type="text" class="i_33" ng-model="consolDocumentClone.diversionContray"  id="diversion" maxlength="10"  ng-blur="navigateToNextField('noofpiece')"/>
                                    <div class="Table">
                                        <div class=""  ng-show="consolClone.consolDocument.isMarksNo || consolClone.consolDocument.isMarksNo=='Yes' " style="position: relative;z-index: 10;">
                                            <textarea class="absTextarea" ng-model="consolDocumentClone.marksAndNoClone" id="mawksandNo" maxlength="4000" ng-blur="navigateToNextField('totPiec')"></textarea>
                                        </div>
                                        <table >
                                            <tbody>
                                            <tr>
                                                <td class="td1" ng-style="set_tablestyle()" >
                                                    <input type="text" class="t_1"  id="noofpiece" ng-model="consolDocumentClone.noOfPieces" maxlength="9" ng-change="validateDynamicMAWBDocument(16)">
                                                </td>
                                                <td class="td2" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_2"
                                                     ng-model="consolDocumentClone.grossWeight"
                                                     efsdecimals="$root.weightDecimalPoint"
                                                      efsdecimal-point="consolClone.country.locale"
                                                      id="grossweight" maxlength="15" ng-change="validateDynamicMAWBDocument(17)">
                                                </td>
                                                 <!-- <td class="td2" ng-style="set_tablestyle()"  
                                                 
                                                 ng-show="consolDocumentClone.dimensionUnit">
                                                    <input type="text" class="t_2"
                                                     efsdecimals="$root.weightDecimalPoint"
                                                      efsdecimal-point="consolClone.country.locale"
                                                     ng-model="consolDocumentClone.grossWeightInPound" id="grossweight" maxlength="15" ng-change="validateDynamicMAWBDocument(17)">
                                                </td> -->
                                                <td class="td3" ng-class="{'normalCell':consolDocumentClone.dimensionUnit=='CENTIMETERORKILOS','smallCell':consolDocumentClone.dimensionUnit!='CENTIMETERORKILOS'}" ng-style="set_tablestyle()">
                                                    <!-- <input type="text" class="t_3" ng-model="consolClone.kg_lb"> -->
                                                    KG
                                                </td>
                                                <td class="td4" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_4" ng-model="consolDocumentClone.rateClass" id="rateClass" maxlength="1" ng-change="validateDynamicMAWBDocument(18)">
                                                </td>
                                                <td class="td5" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_5 text-right" ng-model="consolDocumentClone.commodityNo" id="commNo" maxlength="5">
                                                </td>
                                                <td class="td6" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_6"
                                                     ng-model="consolDocumentClone.chargebleWeight" 
                                                      efsdecimals="$root.weightDecimalPoint"
                                                      efsdecimal-point="consolClone.country.locale"
                                                     id="chargeWeight"  maxlength="15" ng-change="calculateTotalAmount();validateDynamicMAWBDocument(19)">
                                                </td>
                                                <td class="td7" ng-style="set_tablestyle()">
                                                    <input type="text" id="ratePerCharge" class="t_7 text-right" 
                                                    ng-model="consolClone.iataRateClone"
                                                       efsdecimals="consolClone.currency.decimalPoint" 
                                                           efsdecimal-point="consolClone.currency.countryMaster.locale"
                                                     id="rateCharge"  maxlength="10" ng-change="calculateTotalAmount();validateDynamicMAWBDocument(20)">
                                                </td>
                                                <td class="td8" ng-style="set_tablestyle()">
                                                    <input type="text" class="t_8" ng-class="{'text-right':!consolClone.consolDocumentClone.isAgreed,'text-center':consolClone.consolDocumentClone.isAgreed}" 
                                                    ng-model="consolDocumentClone.totalAmountClone"
                                                    efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                                     id="totalAmount"  maxlength="15"
                                                     ng-change="validateDynamicMAWBDocument(22)"
                                                    >
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <textarea class="t_9"  contenteditable="true" cols="50" rows="10" ng-bind-html="consolDocumentClone.dimensionClone" ng-model="consolDocumentClone.dimensionClone" id="dimension" ng-blur="navigateToNextField('mawksandNo')"></textarea>
                                    <input type="text" style="font-size: 13px !important;" class="one" ng-model="consolDocumentClone.noOfPieces" maxlength="9" ng-change="validateDynamicMAWBDocument(16)" id="totPiec">
                                 
                                     <input type="text" 
                                    class="two"  style="font-size: 13px !important;"
                                    ng-model="consolDocumentClone.grossWeight" 
                                     efsdecimals="$root.weightDecimalPoint"
                                                      efsdecimal-point="consolClone.country.locale"
                                    maxlength="15" ng-change="validateDynamicMAWBDocument(17)" id="totGross">
                                     <!-- <input type="text" 
                                     ng-show="consolDocumentClone.dimensionUnit"
                                    class="two" ng-model="consolDocumentClone.grossWeightInPound"
                                     efsdecimals="$root.weightDecimalPoint"
                                                      efsdecimal-point="consolClone.country.locale"
                                     maxlength="15" ng-change="validateDynamicMAWBDocument(17)" id="totGross">
                                      -->
                                     
                                    <input type="text" class="three" ng-class="{'text-right':!consolDocumentClone.isAgreed,'text-center':consolDocumentClone.isAgreed}" 

                                    efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    
                                    ng-model="consolDocumentClone.totalAmountClone" id="totalAmount1">




                                    <input type="text" class="ii_34" style="text-align:center;"  
                                    ng-model="consolDocumentClone.preWeightChargeClone"
                                    efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                     ng-change="caluclatePrepaid()"  id="preWeightChargeClone" maxlength="15">
                                    
                                    <input type="text" class="ii_35" style="text-align:center;"  
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    
                                    ng-model="consolDocumentClone.collWeightChargeClone" ng-change="caluclateCollect()" id="collWeightChargeClone" maxlength="15">
                                    
                                    
                                    <input type="text" class="i_34" style="text-align:center;" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    
                                    ng-model="consolDocumentClone.preValuationChargeClone" ng-change="caluclatePrepaid()"  id="preValuationCharge"  maxlength="15">
                                    <input type="text" class="i_35" style="text-align:center;" 
                                    ng-model="consolDocumentClone.collValuationChargeClone" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    ng-change="caluclateCollect()" id="collValuationCharge" maxlength="15">
                                    
                                    <input type="text" class="i_36" style="text-align:center;" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    
                                    ng-model="consolDocumentClone.prepaidTaxClone" ng-change="caluclatePrepaid()" id="prepaidTax" maxlength="15">
                                    <input type="text" class="i_37" style="text-align:center;"
                                     ng-model="consolDocumentClone.collectTaxClone" 
                                                                         efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                     
                                     ng-change="caluclateCollect()" id="collectTax" maxlength="15">
                                    
                                    <input type="text" class="i_38" style="text-align:center;" 
                                    ng-model="consolDocumentClone.otherChargesDuePreAgentClone" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    ng-change="caluclatePrepaid()"  id="otherChargesDuePreAgent" maxlength="15">
                                    
                                    <input type="text" class="i_39" style="text-align:center;"
                                     ng-model="consolDocumentClone.otherChargesDueCollAgentClone" 
                                                                         efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                     ng-change="caluclateCollect()" id="otherChargesDueCollAgent" maxlength="15">
                                    
                                     
                                    <input type="text" class="i_40" style="text-align:center;" 
                                    ng-model="consolDocumentClone.otherChargesDuePreCarrierClone" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    ng-change="caluclatePrepaid()"  id="otherChargesDuePreCarrier" maxlength="15">
                                    
                                    <input type="text" class="i_41" style="text-align:center;" 
                                    ng-model="consolDocumentClone.otherChargesDueCollCarrierClone" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    ng-change="caluclateCollect()" id="otherChargesDueCollCarrier" maxlength="15">
                                    <input type="text" class="i_42" >
                                    <input type="text" class="i_43" >
                                    <!--<input type="text" class="i_44">
                                    <input type="text" class="i_45">-->
                                    <input type="text" class="i_46" style="text-align:center;"
                                     ng-model="consolDocumentClone.totalPrepaidClone" 
                                                                         efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                     
                                     id="totalPrepaidClone"  maxlength="15">
                                    <input type="text" class="i_47" style="text-align:center;" 
                                    ng-model="consolDocumentClone.totalCollectClone" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    id="totalCollectClone" maxlength="15">
                                    <input type="text" class="i_48" style="text-align:center;" 
                                    ng-model="consolDocumentClone.currencyConversionRates" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    
                                    id="currencyConversionRates" maxlength="15">
                                    <input type="text" class="i_49" style="text-align:center;"
                                     ng-model="consolDocumentClone.chargesInDestCurrency"
                                                                         efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                      id="chargesInDestCurrency" maxlength="15">
                                    <!--<input type="text" class="i_50">-->
                                    <input type="text" class="i_51" style="text-align:center;" 
                                    ng-model="consolDocumentClone.chargesAtDestination" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    
                                    id="chargesAtDestination" maxlength="15">
                                    <input type="text" class="i_52" style="text-align:center;" 
                                    ng-model="consolDocumentClone.totalCollectCharges" 
                                                                        efsdecimals="consolClone.currency.decimalPoint" 
                                                       efsdecimal-point="consolClone.currency.countryMaster.locale"
                                    id="totalCollectCharges" maxlength="15">
                                    <div class="txt_53">
                                        <div class="tables">
                                            <div>
                                                <table>
                                                    <tbody>
                                                    <tr ng-repeat="consolCharge in range(0,2) track by $index">
                                                        <td class="td11" >
                                                            <div class="select-auto">
                                                                <input type="text"
                                                                id="charge1"
                                                                   class="form-control bor-0"
                                                                 uib-typeahead="lovObject as lovObject.chargeCode for lovObject in $AutoCompleteService.getChargeList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratetemplate.html"
							typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratepopup.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="validateDynamicMAWBDocument(23,'locChargeLeft'+$index)"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
                                                                ng-model="consolCharge.chargeMaster"
                                                       />
                                                            </div>
                                                            <!--<input type="text" class="t_1" ng-model="carrier.code">-->
                                                        </td>
                                                        <td class="td21">
                                                            <input type="text" class="t_2" 
                                                             efsdecimals="consolCharge.currency.decimalPoint" 
                                                           efsdecimal-point="consolCharge.currency.countryMaster.locale"
                                                            ng-model="consolCharge.localAmount" id="locChargeLeft{{$index}}" maxlength="15"> 
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div style="left: 123px;position: relative;">
                                                <table>
                                                    <tbody>
                                                    <tr ng-repeat="consolCharge in range(3,5) track by $index">
                                                        <td class="td11">
                                                            <div class="select-auto">
                                                                <input type="text"
                                                                 id="charge2"
                                                                  class="form-control bor-0"
                                                                 uib-typeahead="lovObject as lovObject.chargeCode for lovObject in $AutoCompleteService.getChargeList($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratetemplate.html"
							typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratepopup.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="validateDynamicMAWBDocument(23,'locChargeRight'+$index)"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
                            ng-model="consolCharge.chargeMaster"                   
                                                                        />
                                                            </div>
                                                            <!--<input type="text" class="t_1" ng-model="carrier.code">-->
                                                        </td>
                                                        <td class="td21">
                                                            <input type="text" class="t_2"  
                                                             efsdecimals="consolCharge.currency.decimalPoint" 
                                                           efsdecimal-point="consolCharge.currency.countryMaster.locale"
                                                            ng-model="consolCharge.localAmount" id="locChargeRight{{$index}}" maxlength="15">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="txt_54 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                             id="issuingAgent3"
                                              class="form-control bor-0 i_54_text"
                                               ng-model="consolDocumentClone.issuingAgent"
                                                  uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="validateDynamicMAWBDocument(4,'shipersign');"
  												ng-class="{'error-control':errorMap.get('partyIssuingAgent')!=null}"
                                             	input-focus = "{{errorMap.get('partyIssuingAgent')!=null}}"
                                          />
                                        </div>
                                    </div>
                                   <!--  <textarea class="txt_54" ng-model="consolDocumentClone.shipperSignature" ></textarea> -->
                                    <div class="txt_55 abs">
                                        <div class="select-auto">
                                            <input type="text"  maxlength="20"
                                              id="shipersign"
                                                   class="form-control bor-0 txt_55_text"
                                                   ng-model="consolDocumentClone.shipperSignature"
                                                   render-item="partyRender"
                                                    />
                                        </div>
                                    </div>
                                     <div class="txt_556">
                                      <!--   <label>Issuing Agent</label> -->
                                       <input type="text"
                                       id="issuingAgent4"
                                        class="form-control bor-0 i_54_text"
                                        uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
	                                              typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										 				typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"  
															typeahead-focus-on-select="false"
														typeahead-focus-first="true" 
														typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500"
														typeahead-on-select="validateDynamicMAWBDocument(4,'portCode3')"
                                                   ng-model="consolDocumentClone.issuingAgent"
                                               input-focus = "{{errorMap.get('partyIssuingAgent')!=null}}"
                                       	input-focus = "{{errorMap.get('partyIssuingAgent')!=null}}"
                                                    />
                                    </div>
                                    <!--<textarea class="txt_55" ng-model="awb.signature.agent" ></textarea>-->
                                    <input type="text" class="i_56" ng-model="consolDocumentClone.mawbIssueDate" id="mawbReceivedDate" >
                                    <div class="i_57 abs">
                                        <div class="select-auto">
                                            <input type="text"
                                            id="portCode3"
                                             class="form-control bor-0 i_57_text"
                                             ng-class="{'error-control':errorMap.get('pol')!=null}"
                                           	uib-typeahead="lovObject as lovObject.portCode for
                                            	 lovObject in $AutoCompleteService.getPortListByTransportMode($viewValue,null,consolClone.serviceMaster)"
													ng-model="consolClone.pol"
													 typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcode-template.html"
                            typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-portcodepopup.html" 	
													typeahead-focus-on-select="false" typeahead-focus-first="true"
							typeahead-editable="false" typeahead-min-length="1"
													typeahead-on-select="validateDynamicMAWBDocument(2,'carrier3');"
                                                    />
                                        </div>
                                    </div>
                                    <!--<input type="text" class="i_57" ng-model="awb.signature.place" >-->
                                    <div class="i_58 abs">
                                      <!--  <label>As Agents For</label> -->
                                        <div class="select-auto">
                                            <input type="text"
                                             id="carrier3"
                                                class="form-control bor-0 i_14_text"
                                                uib-typeahead="lovObject as lovObject.carrierName for lovObject in $AutoCompleteService.getCarrierList(consolClone.serviceMaster.transportMode,$viewValue)"
                                           typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
                                           typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
                                           typeahead-on-select="validateDynamicMAWBDocument(5,'agentsign');" 
																					typeahead-focus-on-select="false"
																					typeahead-focus-first="true" typeahead-editable="false"
																					typeahead-min-length="1" typeahead-wait-ms="500"
                                                   ng-model="consolClone.carrier"
                                                    />
                                        </div>
                                    </div>
                                    <div class="in_588 abs">
                                        <input type="text" class="text-center" ng-model="consolDocumentClone.issCarrierAgentSign" id="agentsign" maxlength="30">
                                    </div>
                                    <!--<input type="text" class="i_58" ng-model="awb.signature.issueCarrierAgent" >-->
                                    <input type="text" class="i_59" ng-model="consolDocumentClone.mawbNowithoutPrefix3" ng-blur="navigateToNextField('shipper')" id="mawbNowithoutPrefix3" maxlength="11">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                 <mainefs-spinner spinner-status="mainpreloder"></mainefs-spinner>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="popOver.html">
        <div class="popover" tabindex="-1" ng-show="content">
            <div class="arrow"></div>
            <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
            <div class="popover-content">
                <ul class="list-inline">
                    <li>Prepaid</li>
                    <li class="v-align-top"><switch ng-model="enabled" class="green" ng-click="callFunction();$hide();"></switch></li>
                    <li>Collect</li>
                </ul>

            </div>
        </div>
    </script>