<div class="container-fluid pl0 pr0 page-style">
    <div class="row ml0 mr0">
        <div class="col-xs-12 editview">
        <form id="proForm" name="proForm">
            <div class="panel panel-default masOpertion">
                <div class="panel-heading bg-trans">
                    <div class="w-50">

                        <h4>{{provisional.id !=null?'Edit':'Add'}} Provisional Revenue / Cost</h4>
                    </div>

                    <div class="w-50">
                        <ul class="list-inline text-right masopertion-action">
                            <li>
                                <button tabindex="40" type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancelProvisional()">Cancel</button>
                            </li>
                            <li>
                                <button  type="button"  class="btn btn-primary btn-xs btn-property accent-btn" ng-click="provisional.id!=null?update():save()" >
                                {{provisional.id!=null?'Update':'Save'}}</button>
                            </li>
                        </ul>
                    </div>
                </div><!--PANEL HEADING ENDS-->
                <div class="pad-15">
                    <div>
                         <span class="error-message">
                             <small></small>
                         </span>
                    </div>
                </div><!--RESPONSE MESSAGE ALERT BOX ENDS-->
                <div class="panel-body pt0 edit-body" ng-click="showHistory=false" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                    <!--EDIT VIEW-->
                    <div class="row nopadding bor-0">
                        <div class="col-xs-8 ptb-15">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span>Master ID</span>
                                    <h6 class="text-blue">{{provisional.masterUid}}</h6> <!--This should be link... please handle it-->
                                </div>
                                <div class="col-xs-3">
                                    <span>Shipment ID</span>
                                    <h6 class="text-blue">{{provisional.shipmentUid}}</h6><!--This should be link... please handle it-->
                                </div>
                                <!--<div class="col-xs-3">
                                    <span>Service ID</span>
                                    <h6 class="text-blue">SER1000343</h6>
                                </div>-->
                                <div class="col-xs-3">
                                    <span>Service Name</span>
                                    <h6>Air Export</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row line nopadding bor-0">
                        <hr>
                    </div>
                    <div class="row nopadding bor-0">
                        <div class="col-xs-12 ptb-15 ">
                            <div class="flexTitle">
                                <div>
                                    <button type="button" class="btn btn-property accent-btn" ng-click="addNewProvisionalItem()"><span class="icon-add"></span> Add Provision</button>
                                </div>
                                <div>
                                    <div class="checkbox check-btn check-default">
                                        <label><input type="checkbox" ng-model="morePro">Show More Info</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 fgmb0">
                            <div class="table-responsive">
                                <table class="table table-inline-nopad mb0"  tab-nav tab-row="addNewProvisionalItem()">
                                    <thead>
                                    <tr>
                                        <th rowspan="2" class="text-center inl_sno">#</th>
                                        <th rowspan="2" class="inl_m">Service ID<span class="reqColor">*</span></th>
                                        <!--<th rowspan="2" class="w150px">Charge code</th>-->
                                        <th rowspan="2" class="inl_mp">Charge<span class="reqColor">*</span></th>
                                        <th ng-hide="morePro" rowspan="2" class="inl_sm">Unit</th>
                                        <th ng-hide="morePro" rowspan="2" class="text-right inl_s">No of Units</th>
                                        <th ng-hide="morePro"  colspan="6" class="text-center"><b>Sell</b></th>
                                        <th ng-hide="morePro"  colspan="6" class="text-center inl_m"><b>Buy</b></th>

                                        <th ng-show="morePro" colspan="2" class="text-center"><b>Sell</b></th>
                                        <th ng-show="morePro" colspan="2" class="text-center inl_m"><b>Buy</b></th>
                                        <!--<th rowspan="2" class="w100px"> Ref. Type	</th>-->
                                        <th ng-hide="morePro" rowspan="2"  class="inl_xs">More</th>

                                        <th rowspan="2"  class="inl_sm" ng-show="morePro">Reference Type</th>
                                        <th rowspan="2"  class="inl_sm" ng-show="morePro">Reference #</th>
                                         <th rowspan="2"  class="inl_sm" ng-show="morePro">Is Neutral</th>
                                        <th rowspan="2" class="text-center inl_xs">Action</th>

                                    </tr>
                                    <tr>
                                        <th ng-show="morePro" colspan="1"  class="inl_m" ng-show="morePro">Bill to party</th>
                                        <th ng-show="morePro" colspan="1"  class="inl_lp" ng-show="morePro">Sell Description</th>
                                        <th ng-show="morePro" colspan="1"  class="inl_m" ng-show="morePro">Vendor Subledger</th>
                                        <th ng-show="morePro" colspan="1"  class="inl_lp" ng-show="morePro">Buy Description</th>


                                        <th ng-hide="morePro" colspan="1" class="inl_s">Curr<span class="reqColor">*</span></th>
                                        <th ng-hide="morePro" colspan="1" class="text-right inl_xs">ROE<span class="reqColor">*</span></th>
                                        <th ng-hide="morePro" colspan="1" class="text-right inl_s" >Amt per Unit	</th>
                                        <th ng-hide="morePro" colspan="1" class="text-right inl_sm" >Amount</th>
                                        <th ng-hide="morePro" colspan="1" class="text-right inl_sm" >Amount({{userProfile.selectedUserLocation.countryMaster.currencyMaster.currencyCode}})</th>
                                        <!--<th colspan="1" class=" w250px">Bill to {{appMasterData['Party_Label']}}</th>
                                        <th colspan="1" title="Description" class="w50px">Des.</th>-->
                                        <th ng-hide="morePro" colspan="1" class="inl_xs">Tax</th>

                                        <th ng-hide="morePro" colspan="1" class="inl_s" title="Currency Code" >Curr<span class="reqColor">*</span></th>
                                        <th ng-hide="morePro" colspan="1" class="text-right inl_xs" >ROE<span class="reqColor">*</span></th>
                                        <th ng-hide="morePro" colspan="1" class="text-right inl_s" >Amt per Unit</th>
                                        <th ng-hide="morePro" colspan="1" class="text-right inl_sm" >Amount</th>
                                         <th ng-hide="morePro"colspan="1" class="text-right inl_sm" >Amount({{userProfile.selectedUserLocation.countryMaster.currencyMaster.currencyCode}})</th>
                                        <!--<th colspan="1" class="w250px">Vendor Subledger</th>
                                        <th colspan="1" title="Description" class="w50px">Desc.</th>-->
                                        <th ng-hide="morePro" colspan="1" class="inl_s text-center">+ / -</th>
                                         
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                       
                                       
                                       <tr ng-repeat="provisionalItem in provisional.provisionalItemList track by $index">
					              <td
						ng-class="{'error-cell text-center':secondArr[$index].errRow}"><span
						ng-show="secondArr[$index].errRow"> <a
							href="javascript:void(0);"  data-placement="right"   bs-tooltip="errorList"
							ng-click="errorShow(secondArr[$index],$index)"
							class="color-white"> <img
								src="../../../../assets/images/error.png" />
						</a>
					</span> <span ng-show="!secondArr[$index].errRow"> {{$index+1}} </span></td>


												<td><select class="form-control " input-focus="true"
													id="serviceUid{{$index}}"
													ng-class="{'error-control-auto':secondArr[$index].serviceId}"
													ng-options="item.serviceUid for item in serviceList track by item.id"
													ng-change="chargeCalculation($index);findServiceChargeTaxCategoryMapping($index);selectedService('chargeName',$index);"
													ng-model="provisionalItem.shipmentService">
															
															<option value="" ng-if="provisional.shipmentUid==null" selected="provisional.shipmentUid==null">
															{{provisional.masterUid}}</option>
															
												</select></td>
												<td>
                                            <div class="select-auto">
                                                    <input type="text"
						                              class="form-control"
                            input-focus="{{secondArr[$index].chargeFocus}}"
                            ng-class="{'error-control-auto':secondArr[$index].chargeName}"
                      		id="chargeName{{$index}}"
							autocomplete="off"
							ng-disabled="(!editRole&&charge.id!=null)" 
							ng-model="provisionalItem.chargeMaster"
							uib-typeahead="lovObject as lovObject.chargeCode for lovObject in ajaxChargeEvent($viewValue)"
							typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratetemplate.html"
							typeahead-popup-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-ratepopup.html"
							typeahead-show-hint="true" typeahead-show-loading="true" 
							 typeahead-select-on-exact="true" typeahead-append-to-body="true"
							typeahead-on-select="setDeafultValues(provisionalItem);chargeCalculation($index);findServiceChargeTaxCategoryMapping($index);selectedCharge(charge,'unitName',$index);"
							typeahead-focus-on-select="false"
							typeahead-focus-first="true"
							typeahead-editable="false"
							typeahead-min-length="1" typeahead-wait-ms="500" 
                                                      />
                                                      <span class="select-arrow"><b></b></span>
                                            </div>
                                        </td>
                                        <!--<td class="w150px" ng-hide="true"><input type="text" class="form-control"></td>-->
                                        <td ng-hide="morePro">
                                            <div class="select-auto">
                                                     <input type="text" class="form-control" id="unitName{{$index}}" 
														ng-class="{'error-control-auto':secondArr[$index].unitName}" 
														autocomplete="off" ng-model="provisionalItem.unitMaster"  
														uib-typeahead="lovObject as lovObject.unitCode for lovObject in ajaxUnitEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="chargeCalculation($index);selectedUnit(unit,'noOfUnits',$index);" 
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
                                            </div>
                                        </td>
                                        <td ng-hide="morePro"><input type="text"id="noOfUnits{{$index}}" 
                                        efsdecimals="$root.weightDecimalPoint" efsdecimal-point="provisionalItem.shipmentService.country.locale"
                                        ng-model="provisionalItem.noOfUnits"  maxlength="8"
                                        ng-class="{'error-control-auto':secondArr[$index].noOfUnits}"
                                        ng-change="chargeCalculation($index)"  class="form-control text-right"></td>
                                        <td ng-hide="morePro" >
                                        
                                        <div class="select-auto">
											<input type="text" 
												class="form-control" id="sellCurrency{{$index}}"
												ng-class="{'error-control-auto':secondArr[$index].sellCurrencyName}"
												autocomplete="off"
												ng-model="provisionalItem.sellCurrency" 
												uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxSellCurrency($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true" 
												 typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="chargeCalculation($index);selectedSellCurrency(provisionalItem,'sellRoe',$index);"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true"
												typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500" 
												>
												<span class="select-arrow"><b></b></span>
										</div>
					
                                           
                                        </td>
                                        <td ng-hide="morePro" class="text-right"><input type="text" id="sellRoe{{$index}}"   maxlength="12"
                                         ng-class="{'error-control-auto':secondArr[$index].sellRoe}"
                                         ng-change="chargeCalculation($index)"  
                                         ng-model="provisionalItem.sellRoe" 
                                         class="form-control text-right"></td>
                                        <td ng-hide="morePro" class="text-right"><input type="text" id="sellAmountPerUnit"  maxlength="15"
                                        ng-class="{'error-control-auto':secondArr[$index].sellAmountPerUnit}"
                                        ng-change="chargeCalculation($index)" 
                                        efsdecimals="provisionalItem.sellCurrency.decimalPoint" efsdecimal-point="provisionalItem.sellCurrency.countryMaster.locale"
                                        ng-model="provisionalItem.sellAmountPerUnit" 
                                        class="form-control text-right"></td>
                                        <td ng-hide="morePro" class="text-right"><input type="text" id="sellAmount"  maxlength="15"
                                        ng-class="{'error-control-auto':secondArr[$index].sellAmount}"
                                        ng-change="chargeCalculation($index)" 
                                        efsdecimals="provisionalItem.sellCurrency.decimalPoint" efsdecimal-point="provisionalItem.sellCurrency.countryMaster.locale"
                                        ng-model="provisionalItem.sellAmount"  
                                        class="form-control text-right"></td>
                                        <td ng-hide="morePro" class="text-right"><input type="text" id="sellLocalAmount"  maxlength="15" disabled="true"
                                        ng-class="{'error-control-auto':secondArr[$index].sellLocalAmount}"
                                        ng-change="chargeCalculation($index);" 
                                        efsdecimals="provisional.localCurrency.decimalPoint" efsdecimal-point="provisional.localCurrency.countryMaster.locale"
                                        ng-model="provisionalItem.sellLocalAmount"  class="form-control text-right"></td>
                                        
                                        <td ng-hide="morePro" class="text-center">
                                            <div class="mt-2">
                                                <label><input type="checkbox" id="isTaxable" value="provisionalItem.isTaxable" 
                                                ng-model="provisionalItem.isTaxable" disabled="true"></label>
                                            </div>
                                        </td>
                                        <td ng-hide="morePro">
                                        
                                        <div class="select-auto" ng-disabled="provisionalItem.id!=null">
											<input type="text" 
												class="form-control"  id="buyCurrency{{$index}}"
												ng-class="{'error-control-auto':secondArr[$index].buyCurrencyName}"
												autocomplete="off"
												ng-model="provisionalItem.buyCurrency" 
												uib-typeahead="lovObject as lovObject.currencyCode for lovObject in ajaxBuyCurrency($viewValue)"
												typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
												typeahead-show-hint="true" typeahead-show-loading="true" 
												 typeahead-select-on-exact="true" typeahead-append-to-body="true"
												typeahead-on-select="chargeCalculation($index);selectedBuyCurrency(provisionalItem,'buyRoe',$index);"
												typeahead-focus-on-select="false"
												typeahead-focus-first="true"
												typeahead-editable="false"
												typeahead-min-length="1" typeahead-wait-ms="500" 
												ng-disabled="provisionalItem.id!=null"
												>
												<span class="select-arrow"><b></b></span>
										</div>
										
                                        </td>
                                        <td ng-hide="morePro" ><input ng-disabled="provisionalItem.id!=null" type="text" id="buyRoe{{$index}}" ng-change="chargeCalculation($index)"
                                        ng-class="{'error-control-auto':secondArr[$index].buyRoe}"  maxlength="12"
                                        ng-model="provisionalItem.buyRoe" class="form-control text-right"></td>
                                        <td ng-hide="morePro" ><input ng-disabled="provisionalItem.id!=null" type="text" id="buyAmountPerUnit" ng-change="chargeCalculation($index)" maxlength="15"
                                        ng-class="{'error-control-auto':secondArr[$index].buyAmountPerUnit}"
                                        efsdecimals="provisionalItem.buyCurrency.decimalPoint" efsdecimal-point="provisionalItem.buyCurrency.countryMaster.locale"
                                        ng-model="provisionalItem.buyAmountPerUnit" class="form-control text-right"></td>
                                        <td ng-hide="morePro" ><input ng-disabled="provisionalItem.id!=null" type="text" id="buyAmount" ng-change="chargeCalculation($index)" maxlength="15"
                                        ng-class="{'error-control-auto':secondArr[$index].buyAmount}"
                                        efsdecimals="provisionalItem.buyCurrency.decimalPoint" efsdecimal-point="provisionalItem.buyCurrency.countryMaster.locale"
                                        ng-model="provisionalItem.buyAmount"  class="form-control text-right"></td>
                                        <td ng-hide="morePro"  class="text-right"><input ng-disabled="provisionalItem.id!=null" type="text" id="buyLocalAmount" maxlength="15" disabled="true"
                                        ng-class="{'error-control-auto':secondArr[$index].buyLocalAmount}"
                                        ng-change="chargeCalculation($index)" 
                                        efsdecimals="provisional.localCurrency.decimalPoint" efsdecimal-point="provisional.localCurrency.countryMaster.locale"
                                        ng-model="provisionalItem.buyLocalAmount" class="form-control text-right" ></td>
                                        <!--<td><input type="text" class="form-control"></td>
                                        <td class="text-center"> <span class="icon-notes"  ng-click="notesmodel()"></span></td>-->
                                        <td ng-hide="morePro"  class="text-green">
                                            <select  class="form-control last-child" id="plusMinus"  
                                            ng-model="provisionalItem.plusMinus"  ng-change="chargeCalculation($index)" >
                                                <option value="+">+</option>
                                                <option value="-">-</option>
                                            </select>
                                        </td>
                                        
                                        <td ng-hide="morePro" class="text-center v-align-mid" tabindex="-1">
                                            <span 	class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" 
                                            		ng-click="refeditmodel(provisionalItem,$index)"></span>
                                        </td>
                                        <td ng-show="morePro">
                                            <div class="form-group">
                                                <div class="select-auto">
                                                   <input type="text" class="form-control" id="billToParty" 
														input-focus="true"
														autocomplete="off" ng-model="provisionalItem.billToParty" 
														uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxBillToPartyEvent($viewValue)"
														typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
														typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
														typeahead-on-select="selectedBillToParty('salesdesc');" 
														typeahead-focus-on-select="false"
														typeahead-focus-first="true" typeahead-editable="false"
														typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
                                                </div>
                                            </div>
                                        </td>
                                       <td ng-show="morePro">
                                           <div class="form-group">
                                               <input  class="form-control" id="salesdesc"
                                                          ng-change="validateProvisionItem(provisionalItem,16)"
                                                          ng-model="provisionalItem.sellDescription"
                                                          >
                                           </div>
                                       </td>
                                       <td ng-show="morePro">
                                           <div class="form-group">
                                               <div class="select-auto">
                                                   	<input type="text" class="form-control"  id="vendorSubledger" 
													
													autocomplete="off" ng-model="provisionalItem.vendorSubledger" 
													uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxVendorEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedVendor('buydesc');" 
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500">
													<span class="select-arrow"><b></b></span>
                                               </div>
                                           </div>
                                       </td>
                                       <td ng-show="morePro">
                                           <div class="form-group">
                                               <input class="form-control" id="buydesc"
                                                         ng-change="validateProvisionItem(provisionalItem,17)"
                                                         ng-model="provisionalItem.buyDescription"
                                                         >
                                           </div>
                                       </td>
                                       <td ng-show="morePro">
                                           <div class="form-group">
                                               <div class="select-auto">
                                                   	<input type="text" class="form-control" id="referenceType" 
                                                   	 ng-change="validateProvisionItem(provisionalItem,20)" 
													autocomplete="off" ng-model="provisionalItem.referenceType" 
													uib-typeahead="lovObject as lovObject.referenceTypeName for lovObject in ajaxReferenceTypeEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedReferenceType(referenceType,'reference',$index);" 
													typeahead-focus-on-select="false"
													typeahead-focus-first="true" typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500">
												<span class="select-arrow"><b></b></span>
                                               </div>
                                           </div>
                                       </td>
                                       <td ng-show="morePro">
                                           <div class="form-group">
                                               <input 	type="text"  id="reference{{$index}}"  ng-change="validateProvisionItem(provisionalItem,18)" 
														ng-model="provisionalItem.reference" class="form-control">
                                           </div>
                                       </td>
                                       
                                       
                                       <td ng-show="morePro">
										<ul class="list-inline">
								       <li><input type="checkbox"
									ng-model="provisionalItem.isNeutral"></li>
							          </ul>
                                       </td>
                                       
                                        <td class="v-align-mid" tabindex="-1">
                                            <div class="text-center cur-pointer" ng-show="provisionalItem.id==null" ng-click="deleteProvisionalItem($index)">
                                                <span class="icon-delete"></span>
                                            </div>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row pb0 pt10">
                    <div class="col-xs-3 pl0">
                    <div class="sm-inline-box" >
                        <div>Total Revenue</div>
                        <div>{{currencyFormat(provisional.localCurrency,provisional.totalRevenue)}} <span>{{provisional.localCurrency.currencyCode}}</span></div>
                    </div>
                </div>
                <div class="col-xs-3 pl0">
                    <div class="sm-inline-box" >
                        <div>Total Cost</div>
                        <div>{{currencyFormat(provisional.localCurrency,provisional.totalCost)}} <span>{{provisional.localCurrency.currencyCode}}</span></div>
                    </div>
                </div>
                <div class="col-xs-3 pl0">
                    <div class="sm-inline-box">
                        <div>Net</div>
                        <div>{{currencyFormat(provisional.localCurrency,provisional.netAmount)}} <span>{{provisional.localCurrency.currencyCode}}</span></div>
                    </div>
                </div>
                       
                    </div>
                </div><!--PANEL BODY ENDS-->
            <!--panel body ends-->

        </div><!--PANEL ENDS-->
        </form>

    </div><!--COLUMN 8 ENDS-->
</div><!--ROW ENDS-->
</div><!--CONTAINER FLUID ENDS-->

<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>










