<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog width85per">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex align-justify align-middle">
                    <div>
                        <h4>Booking / Job Charge Details </h4>
                         <span class="error-message" ng-show="errorMap.get('linkService')!=null">
                             <small>{{errorMap.get('linkService')}}</small>
                         </span>
                    </div>
                    <div>
                        <ul class="list-inline text-right mt-5 masopertion-action">
                            <li>
                                <button type="button" class="btn cancel-btn" ng-click="$hide()">cancel</button>
                            </li>
                            <li>
                                <button type="button" class="btn accent-btn" ng-click="getRatesData();$hide();">Get</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pb-25 pt0" style="height:410px; overflow:auto;">
            <div class="nopadding">
            <span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Hightlighted charges are already billed for this shipment</small>
                                </div>
             
                <div class="row">
                    <div class="col-xs-12 bor-t1">
                        <div class="table-responsive mt-15" >
                            <table class="table table-inline">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>C/R/N <span  style="right:10px;" class="pull-right transform180deg"></span></th>
                                    <th>Charge </th>
                                    <th>Currency</th>
                                    <th>ROE</th>
                                    <th>Unit</th>
                                    <th>Amount Per Unit<span  style="right:10px;" class="pull-right transform180deg"></span></th>
                                    <th>Amount<span  style="right:10px;" class="pull-right transform180deg"></span></th>
                                    <th>Local Amount<span  style="right:10px;" class="pull-right transform180deg"></span></th>
                                     <th>Cr/Dr<span  style="right:10px;" class="pull-right transform180deg"></span></th>
                                    <th>Select All</th>
                                 </tr>
                                <tr class="textHead">
                                    <th class="text-center"><span class="icon-search"></span></th>
                                    <th><input type="text" class="form-control" ng-model="chargeSearch.crn"></th>
                                    <th><input type="text" class="form-control" ng-model="chargeSearch.chargeMaster.chargeCode"></th>
                                    <th><input type="text" class="form-control" ng-model="chargeSearch.currencyMaster.currencyCode"></th>
                                    <th><input type="text" class="form-control" ng-model="chargeSearch.roe"></th>
                                    <th><input type="text" class="form-control" ng-model="chargeSearch.unit"></th>
                                    <th><input type="text" class="form-control" ng-model="chargeSearch.amountPerUnit"></th>
                                    <th><input type="text" class="form-control" ng-model="chargeSearch.amount"></th>
                                    <th><input type="text" class="form-control" ng-model="chargeSearch.localAmount"></th>
                                    <th><input type="text" class="form-control" ng-model="chargeSearch.debitCredit"></th>
                                    <th class="tdtext-wrap text-center pt20">
                                    <input type="checkbox" ng-model="selectAll" ng-click="selectAll?checkAll():uncheckAll()">       
                                    </th>
                                    
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rate in rateData | filter:chargeSearch:startsWith track by $index">
                 					<td >{{$index+1}}</td>
                                    <td class="tdtext-wrap" >{{rate.crn}}</td>
                                    <td class="tdtext-wrap" ng-style="set_color(rate.invoiceNo)" title="{{rate.chargeMaster.chargeCode}}">{{rate.chargeMaster.chargeCode}}</td>
                                    <td class="tdtext-wrap" title="{{rate.currencyMaster.currencyCode}}">{{rate.currencyMaster.currencyCode}}</td>
                                    <td class="tdtext-wrap text-right" title="{{rate.roe}}">{{rate.roe}}</td>
                                    <td class="tdtext-wrap text-right" title="{{rate.unit}}">{{rate.unit}}</td>
                                    <td class="tdtext-wrap text-right" title="{{rate.amountPerUnit}}">{{rate.amountPerUnit}}</td>
                                    
                                    <td class="tdtext-wrap text-right" title="{{rate.amount}}">{{rate.amount}}</td>
                                    <td class="tdtext-wrap text-right" title="{{rate.localAmount}}">{{rate.localAmount}}</td>
                                    <td class="tdtext-wrap" title="{{rate.debitCredit}}">{{rate.debitCredit}}</td>
                                    <td class="tdtext-wrap text-center ptop">
                                    <!-- <input type="checkbox" name="optradio" class="nomargin" ng-model="rate.isSelected">     -->
                                    <input type="checkbox" checklist-model="getUpdatedData()" checklist-value="rate" ng-change="check(rate,checked)" >                           
                                    </td>
                                    
                                    </tr>
                                    
                                </tbody>
                            </table>
                            
                            
                           
                            
                            
                        </div>
                    </div>
                </div>
            </div><!--body ends-->
 <div class="modal-footer popuppadding">

				<div class="col-md-12 nopadding">


					<div class="col-md-6 nopadding">
						<table>
							<tbody>
								<tr>
									<td class="popuptextpadding"><span class="pull-right"><strong>Charge
												Name:</strong></span></td>
									<td class="popuptextpadding"><span><strong>{{chargeName}}</strong></span></td>
								</tr>
								<tr>
									<td class="popuptextpadding"><span class="pull-right"><strong>Total
												Debit : </strong></span></td>
									<td class="popuptextpadding"><span><strong>{{totalDebit.toFixed(2)}}</strong></span></td>
								</tr>
								<tr>
									<td class="popuptextpadding"><span class="pull-right"><strong>Total
												Credit : </strong></span></td>
									<td class="popuptextpadding"><span><strong>{{totalCredit.toFixed(2)}}</strong></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- <div class="col-md-4">
						<label class="custom-label">Note : </label> <input type="text"  class="form-control"
						    ng-model="message"
							ng-disabled="true">

					</div> -->
					<div class="col-md-6 no-padding"
						style="padding-right: 23px !important;">
						<label class="custom-label">Note</label>
						<textarea class="form-control noteauto" ng-model="warnMessage"
							ng-disabled="true"></textarea>
					</div>
				</div>
			</div>

            <div class="modal-footer modfooter" style="margin-top:0px !important">
            
            
            
            
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <pagination-dr  page="page" size="limit" total=totalRecord page-change="changePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                                        
 
        </div><!--panel end document-->
    </div>
</div><!--modal ends-->


