<div class="container-fluid pl0 pr0 page-style">
	<div class="row ml0 mr0">
		<div class="col-xs-10 editview">
			<div class="panel panel-default masOpertion">
				<div class="panel-heading bg-trans">
					<div class="w-50">
						<h4 style="font-size:16px;font-weight:bold;">
							Company and Location Set Up (<span class="reqColor nomargin">*</span>
							<small class="opc-5 f-12b4">Indicates Mandatory Fields</small>)
						</h4>
					</div>

					<div class="w-50">
						<div class="pull-right">
							<span style="font-size: 16px;">Step: {{step}} of
								{{noOfStep}}</span>
						</div>
					</div>
				</div>
				<!--PANEL HEADING ENDS-->

				<div class="panel-body pt0 pb0"
					style="padding-bottom: 0px !important;">
					<div class="wrapper">
						<form role="form">
							<div class="row " style="border-bottom: 1px solid #ccc; background:#f2f2f2;">
								<div class="" style="width: 100%;">
									<div class="bs-wizard borderbt0 mt10 ">

										<!-- tab-one -->
										<div class="width13per-tab bs-wizard-step complete">
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
											<a ng-init="currentTab='companyTab'"
												ng-click="setTab('companyTab')"
												ng-class="currentTab=='companyTab'?'bs-wizard-dotchange':'bs-wizard-dot'"
												class="bs-wizard-dot"> <span class="tickmrk"
												data-placement="top">&#xf0f7;</span>
											</a>
											<div class="bs-wizard-info2 text-center pr15">Company</div>
										</div>
										<!-- tab-one -->


										<!-- tab-two -->
										<div class="width13per-tab bs-wizard-step complete">
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
											<a ng-click="setTab('loginTab')"
												ng-class="currentTab=='loginTab'?'bs-wizard-dotchange':'bs-wizard-dot'"
												class="bs-wizard-dot"> <span class="tickmrk"
												data-placement="top" style="color:#fff;">&#xf023;</span>
											</a>
											<div class="bs-wizard-info2 text-center pr15">Login
												Creation</div>
										</div>
										<!-- tab-two -->


										<!-- tab-three -->
										<div class="width13per-tab bs-wizard-step complete">
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
											<a ng-click="setTab('configurationTab')"
												ng-class="currentTab=='configurationTab'?'bs-wizard-dotchange':'bs-wizard-dot'"
												class="bs-wizard-dot"> <span class="tickmrk"
												data-placement="top">&#xf013;</span>
											</a>
											<div class="bs-wizard-info2 text-center">Configuration</div>
										</div>
										<!-- tab-three -->


										<!-- tab-four -->
										<div class="width13per-tab bs-wizard-step complete">
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
											<a ng-click="setTab('metaTab')"
												ng-class="currentTab=='metaTab'?'bs-wizard-dotchange':'bs-wizard-dot'"
												class="bs-wizard-dot"> <span class="tickmrk"
												data-placement="top">&#xf085;</span>
											</a>
											<div class="bs-wizard-info2 text-center">Meta
												Configuration</div>
										</div>
										<!-- tab-four -->

										<!-- tab-five -->
										<div class="width13per-tab bs-wizard-step complete">
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
											<a ng-click="setTab('financeTab')"
												ng-class="currentTab=='financeTab'?'bs-wizard-dotchange':'bs-wizard-dot'"
												class="bs-wizard-dot"> <span class="tickmrk"
												data-placement="top">&#xf1ec;</span>
											</a>
											<div class="bs-wizard-info2 text-center">Finance Setup</div>
										</div>
										<!-- tab-five -->

										<!-- tab-six -->
										<div class="width13per-tab bs-wizard-step complete">
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
											<a ng-click="setTab('chargeTab')"
												ng-class="currentTab=='chargeTab'?'bs-wizard-dotchange':'bs-wizard-dot'"
												class="bs-wizard-dot"> <span class="tickmrk"
												data-placement="top">&#xf1c0;</span>
											</a>
											<div class="bs-wizard-info2 text-center">Charge Setup</div>
										</div>
										<!-- tab-six -->

										<!-- tab-seven -->
										<div class="width13per-tab bs-wizard-step complete">
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
											<a ng-click="setTab('otherTab')"
												ng-class="currentTab=='otherTab'?'bs-wizard-dotchange':'bs-wizard-dot'"
												class="bs-wizard-dot"> <span class="tickmrk"
												data-placement="top">&#xf039;</span>
											</a>
											<div class="bs-wizard-info2 text-center">Others</div>
										</div>
										<!-- tab-seven -->
									</div>
								</div>
							</div>




							<!--TAB MENUS TAB-->


							<div class="row nopadding console-bodyTabDesign2"
								id="consol-panel" panel-height ng-nicescroll
								nice-scroll-object="niceObject" nice-option="{{ngScrollConfig}}">
								<div class="col-md-12">
									<div class="tab-content pb0">
										<div ng-show="currentTab=='companyTab'">
											<div
												ng-include="'app/components/setup/company_location_setup_wizard/views/company_tab.html'"></div>
										</div>
									</div>

									<div ng-show="currentTab=='loginTab'">
										<div class="row nomargin fx-fade-left fx-duration-200 fx-speed-200 ">
											<div ng-include="'app/components/setup/company_location_setup_wizard/views/login_tab.html'"></div>
										</div>
									</div>

									<div ng-show="currentTab=='configurationTab'">
										<div class="row nomargin fx-fade-left fx-duration-200 fx-speed-200 ">
											<div ng-include="'app/components/setup/company_location_setup_wizard/views/configuration_tab.html'"></div>
										</div>
									</div>

									<div ng-show="currentTab=='metaTab'">
										<div class="row nomargin fx-fade-left fx-duration-200 fx-speed-200 ">
											<div ng-include="'app/components/setup/company_location_setup_wizard/views/meta_configuration_tab.html'"></div>
										</div>
									</div>


									<div ng-show="currentTab=='financeTab'">
										<div class="row nomargin fx-fade-left fx-duration-200 fx-speed-200 ">
											<div ng-include="'app/components/setup/company_location_setup_wizard/views/finance_tab.html'"></div>
										</div>
									</div>


									<div ng-show="currentTab=='chargeTab'">
										<div class="row nomargin fx-fade-left fx-duration-200 fx-speed-200 ">
											<div ng-include="'app/components/setup/company_location_setup_wizard/views/charge_tab.html'"></div>
										</div>
									</div>


									<div ng-show="currentTab=='otherTab'">
										<div class="row nomargin fx-fade-left fx-duration-200 fx-speed-200 ">
											<div ng-include="'app/components/setup/company_location_setup_wizard/views/others_tab.html'"></div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

