<div class="container-fluid resPortViewPage resLandViewPage">
	<div class="row ">
		<div class="col-md-12 col-lg-12  col-sm-12 col-xs-12">
			<form role="form" name="carrierRateEditForm">
				<div class="panel panel-default masOpertion" ng-show="detailPageFlag">
					<div class="panel-heading bg-trans">
						<div>
						<h4>
							<span>
								<a ng-click="cancel()" href="javascript:void(0)" class="list-panel-back">
									<i class="icon-back-menu" data-placement="bottom"   bs-tooltip="back"></i>
								</a>
							</span> 
							<span>Carrier Rate Master</span>
						</h4>
					</div>
						<div>
						<ul class="list-inline text-right">
							<li>
								<a  href="javascript:void(0)"
								   ng-class="{'active-activityBtn':showHistory}"
								   ng-click="showHistory=!showHistory">
									<i class="icon-logs"
									   data-placement="bottom"   bs-tooltip="activity"
									></i></a>
							</li>

							<li>
								<a  href="javascript:void(0)" ng-click="editCarrierRate()" class="list-panel-edit-btn cursorPt"><i class="icon-edit" data-placement="bottom"   bs-tooltip="editIcon"></i></a>
							</li>

							<li>
								<!-- <a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" ng-click="deleteTos()" class="list-panel-edit-btn cursorPt"><i class="icon-delete"></i></a> -->
							</li>
						</ul>
					</div>
					</div>

					<div class="panel-body half-master-edit pt0"  panel-height
						ng-nicescroll nice-option="{{ngScrollConfig}}" ng-click="showHistory=false">
						
						<div class="row metadata-detail nomargin" style="background-color: rgba(33, 150, 243, 0.12);">
							
								<div class="col-xs-4 plr0">
									<span >Carrier</span>
									<h5><img ng-show="carrierRateMaster.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{carrierRateMaster.carrierMaster.image}}" style="padding-right:3px;" width="23" height="20">{{carrierRateMaster.carrierMaster.carrierName}}</h5>
							   </div>
								<div class="col-xs-4 plr0">
									<span >Charge</span>
									<p>{{carrierRateMaster.chargeMaster.chargeName}}</p>
								</div>
								<div class="col-xs-4 plr0">
									<span >Unit</span>
									<p>{{carrierRateMaster.unitMaster.unitName}}</p>
								</div>
								
							</div>
						<div class="row nomargin">
						
							<div class="col-xs-4 plr0">
								<span >Chargeable Weight  / Actual</span>
								<h5>{{carrierRateMaster.actualChargeable=='ACTUAL'?'Actual':'Chargeable Weight'}}</h5>
							</div>
							<div class="col-xs-4 plr0">
								<span >Origin</span>
								<p >{{carrierRateMaster.origin.portName}}</p>
							</div>
							<div class="col-xs-4 plr0">
								<span >Destination</span>
								<p >{{carrierRateMaster.destination.portName}}</p>
							</div>
						</div>
						<div class="row nomargin bor-btm-0">
							<div class="col-xs-12 plr0">
							<div class="table-responsive">
							<table class="table table-inline nomargin">
								<thead class="borderthead">
								<tr>

									<th colspan="3" class="text-center bor-b-0"><b>First Effective</b></th>
									<th colspan="3" class="text-center bor-b-0"><b>Second Effective</b></th>



								</tr>
								<tr>
									<th colspan="1" class="text-left inl_s">From Date</th>
									<th colspan="1" class="text-right inl_s">Amount</th>
									<th colspan="1" class="text-right inl_s">Min Amount</th>
									<th colspan="1" class="text-left inl_s">From Date</th>
									<th colspan="1" class="text-right inl_s">Amount</th>
									<th colspan="1" class="text-right inl_s">Min Amount</th>

								</tr>
								</thead>
								<tbody>
								<tr>


									  <td>{{dateToString(carrierRateMaster.firstFromDate)}}</td>
									<td class="text-right">{{currencyFormat(carrierRateMaster.origin.portGroupMaster.countryMaster.currencyMaster, carrierRateMaster.firstAmount)}}</td>
									<td class=" text-right">{{currencyFormat(carrierRateMaster.origin.portGroupMaster.countryMaster.currencyMaster, carrierRateMaster.firstMinAmount)}}</td>
									<td >{{dateToString(carrierRateMaster.secondFromDate)}}</td>
									<td class=" text-right">{{currencyFormat(carrierRateMaster.origin.portGroupMaster.countryMaster.currencyMaster, carrierRateMaster.secondAmount)}}</td>
									<td class=" text-right">{{currencyFormat(carrierRateMaster.origin.portGroupMaster.countryMaster.currencyMaster, carrierRateMaster.secondMinAmount)}}</td>





								</tr>

								</tbody>
							</table>
						</div>
							</div>
						</div>
						
						
						<div class="logs-view logs-transition  width42per widP55per widL55per" ng-show="showHistory">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<div class="panelTitle">
										<span>
											<a href="javascript:void(0)" ng-click="showHistory=false"
											   class="list-panel-back">
												<i class="icon-close-detail" data-placement="bottom"   bs-tooltip="close"></i></a>
										</span>
										<span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}" >
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="carrierRateMaster.systemTrack.createUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{carrierRateMaster.systemTrack.createUser | uppercase}}</b> - Created an item</li>
												<li class="span text-muted">{{dateAndTimeToString(carrierRateMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="card">
									<ul class="list-inline card-cell">
										<li>
											<hm-init-icon customer-name="carrierRateMaster.systemTrack.lastUpdatedUser"></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5">
												<li><b>{{carrierRateMaster.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
												<li class="span text-muted">{{dateAndTimeToString(carrierRateMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>

						</div>

					</div>
						
						
						
					</div>
					<!--panel body ends-->
				</div>
			</form>
		</div>
		<!--col ends-->
	</div>
</div>

