<div class="container-fluid resPortListPage">
    <div class="row ml0 mr0" >
        <!-- Table View -->
        <div class="list-container col-md-12  maintable" >
            <div class="row nomargin">
                <ul class="nav btn-tab2" ng-init="detailTab='documentmaster'">
                                    </ul>
            </div>
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                        <div ng-if="detailTab=='documentmaster'">
                            <div class="panel panel-default">
                                <div class="panel-heading flexTitle">
                                    <div>
                                        <button type="button" class="btn btn-property accent-btn" ng-click="addPage()">
                                            <span class="icon-add"></span> Add Document</button>
                                    </div>
                                </div>
                                <div class="panel-body no-tab-table p00" panel-height>
                                    <div show-response></div>
                                    <client-error message="clientMessage"></client-error>
                                    <div success-message></div>
                                    <div class="table-fixed table-responsive">
                                        <super-table-edit data="documentArray"
                                                          head="documentConfigHead"
                                                          sort="sortSelection"
                                                          is-delete="true" 
                                                           page="page" size="limit" 
                                                          click-event="rowSelect(param,index)"
                                                          search-event="changeSearch(param)"
                                                          sort-event="sortChange(param)"
                                                          action-event="actionClick(param)">
                                        </super-table-edit>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    
                                        <div class="pull-left">
                                            <ul class="list-inline">
                                                <li>Show</li>
                                                <li>
                                                    <select class="form-control legend-show-ctrl" ng-model="limit"
                                                            ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                    </select>
                                                </li>
                                                <li>Entries</li>
                                            </ul>
                                        </div>
                                        <div class="pull-right">
                                            <pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
                                        </div>
                                   
                                </div>
                            </div><!--panel ends-->
                        </div><!--Tab Ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

