<div class="row resPortAddPage resLandAddPage">
	<div class="col-xs-12 mb-15">
		<div class="panel panel-default fgmb0">
			<div class="panel-heading flexTitle">
				<div>
					<h4>Add Document</h4>
				</div>
				<div>
					<ul class="list-inline text-right masopertion-action">
						<li class="mr0 pr0">
							<button type="button"
								class="btn btn-default btn-xs btn-property cancel-btn mr0"
								ng-click="cancel()">Cancel</button>
						</li>
						<li class="ml0 plr0">
							<button type="button"
								class="btn btn-primary btn-xs btn-property accent-btn"
								ng-click="saveDocument()">Save</button>
						</li>
					</ul>
				</div>
			</div>
			<!--PANEL HEADING ENDS-->
			<div class="panel-body edit-body pt0" panel-height ng-nicescroll
				nice-option="{{ngScrollConfigScroll}}">
				<div class="row mb-5">
					<div show-response></div>

					<client-error message="clientMessage"></client-error>
					<div class="col-xs-12 ptb-15">
						<span class="reqColor">*</span> <small class="opc-5 f-12b4">Indicates
							Mandatory Fields</small>
					</div>
				</div>
				<button type="button" class="btn btn-property accent-btn"
					ng-click="addRow()">
					<span class="icon-add"></span> Add Document
				</button>
				<div class="row mt-5">
					<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
						<form role="form" name="dateConfigForm">
							<div class="table-responsive mt-5">
								<table class="table table-inline-nopad" sm-table-responsive
									watch-data="documentMasterList" tab-nav tab-row="addRow()">
									<thead class="borderthead">
										<tr>
											<th class="inl_sno">#</th>
											<th class="inl_lpp">Name<span class="reqColor">*</span></th>
											<th class="inl_mp">Code<span class="reqColor">*</span></th>
											<th class="inl_s">Is Protected<span class="reqColor">*</span></th>
											<th class="inl_xs">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="documentMaster in documentMasterList track by $index">
											<td data-nofloat="true"
												ng-class="{'error-cell text-center':errorArray[$index].errRow}" 
												ng-click="errorShow(errorArray[$index],$index)">
												<span ng-show="errorArray[$index].errRow"> <a
													href="javascript:void(0);" data-placement="right"
													bs-tooltip="errorList" class="color-white"> <img
														src="../../../../../assets/images/error.png" />
												</a>
											</span> <span ng-show="!errorArray[$index].errRow">
													{{$index+1}} </span>
											</td>

											<td data-headtitle="Name" data-required="true"
												data-width="tw30per">
												<div class="select-auto">
													<input input-focus="{{firstFocus}}" type="text" id="{{'dateLogicType'+$index}}"
														ng-class="{'error-control':errorArray[$index].documentName}"
														class="form-control "
														ng-model="documentMaster.documentName"></input>
												</div>
											</td>
											<td data-headtitle="Code" data-required="true"
												data-width="tw30per">
												<div class="select-auto">
													<input  type="text"
														class="form-control last-child" id="documentCode" name="documentCode"
														ng-model="documentMaster.documentCode"
														ng-class="{'error-control':errorArray[$index].documentCode}"
														maxlength="10">
												</div>
											</td>
											<td data-headtitle="Is Protected" data-required="true"
												data-width="tw30per">
												<ul class="list-inline">
													<li ng-class="{'opc-5':dontCall}">No</li>
													<li class="v-align-top"><switch
															ng-model="documentMaster.isProtected" class="green" ng-blur="addRow()"></switch>
													</li>
													<li ng-class="{'opc-5':!dontCall}">Yes</li>
												</ul>
											</td>
											<td data-nofloat="true" data-action="true"><span
												ng-show="documentMasterList.length>1" class="icon-delete"
												ng-click="deleteRow($index)" data-placement="bottom"
												bs-tooltip="delete"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="errorPopUp.html">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Following Error List</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body pt35 pb35">
                    <ul>
                        <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
