<div class="container-fluid resPortAddPage resLandAddPage">
	<div class="row">
		<div class="col-md-12 col-lg-7 col-sm-12 col-xs-12">
			<!-- autoMail master starts-->
			<form role="form" ng-show="pageAction=='AUTOMAIL'"
				id="autoMailMasterForm" novalidate name="autoMailMasterForm"
				ng-submit="autoMailMaster.id!=null?update():save()">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{autoMailMaster.id!=null?'Edit':'Add'}} Auto Mail</h4>
						</div>
						<div>
							<div class="btngrp">

									<button type="button"
										class="btn cancel-btn"
										ng-click="cancel()">Cancel</button>


									<input type="submit"
										class="btn accent-btn"
										ng-disabled="subPanelTable"
										value="{{autoMailMaster.id!=null?'Update':'Save'}}">

							</div>
						</div>
					</div>
					<div class="panel-body half-master-edit nopadding" id="autoMail-panel"
						panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="include-wrapper">
							    <div class="pad-15">
        <div show-response></div>
        <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory fields</small></div>
    </div>
   <div class="row">
        <div class="col-md-8 col-lg-7 col-sm-8 form-group nomargin pl0">
            <label class="custom-label">Group Name<span class="reqColor">*</span></label>
									<div class="select-auto">
										<input type="text" class="form-control" id="mailGroup"
											input-focus="true"
											autocomplete="off"
											ng-model="autoMailMaster.autoMailGroupMaster"
											uib-typeahead="lovObject as lovObject.messageGroupName for lovObject in ajaxGroupEvent($viewValue)"
											typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
											typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
											typeahead-on-select="selectedGroup(autoMailMaster.autoMailGroupMaster,'automessageName');"
											typeahead-focus-on-select="false"
											typeahead-focus-first="true" typeahead-editable="false"
											typeahead-min-length="1" typeahead-wait-ms="500"> <span
											class="select-arrow"><b></b></span>
									</div>

									<!--<oi-select-->
                    <!--autofocus="true" tabindex="1"-->
                    <!--oi-options="item.messageGroupName for item in ajaxGroupEvent($query)"-->
                    <!--ng-model="autoMailMaster.autoMailGroupMaster"-->
                    <!--ng-change="selectedGroup()"-->
                    <!--oi-select-options="{-->
                                                               <!--editItem: 'correct',-->
                                                               <!--debounce: 200,-->
                                                               <!--dropdownFilter: 'myDropdownFilter',-->
                                                               <!--saveTrigger:'enter tab blur',-->
                                                               <!--listFilter: 'oiSelectAscSort:[\'messageGroupCode\']'-->
												            <!--}"-->
                    <!--</oi-select>-->
            <!--<ui-select-->
                    <!--ng-model="autoMailMaster.autoMailGroupMaster"-->
                    <!--theme="select2"-->
                    <!--style="width: 100%"-->
                    <!--title="{{autoMailMaster.autoMailGroupMaster.id==null?'':autoMailMaster.autoMailGroupMaster.messageGroupName}}"-->
                    <!--tabindex=""-->
                    <!--ng-change="selectedGroup()"-->
                    <!-->
                <!--<ui-select-match >-->
                    <!--{{$select.selected.messageGroupName}}-->
                    <!--&lt;!&ndash;<a href="javascript:void(0);"><i class="icon-close"></i></a>&ndash;&gt;-->
                    <!--<a tabindex="-1" href="javascript:void(0);" ng-click="serviceMaster.costCenter={}"><i class="icon-close"></i></a>-->
                <!--</ui-select-match>-->
                <!--<ui-select-choices refresh="ajaxGroupEvent($select.search)" refresh-delay="250" repeat="dataObj in  autoMailGroupList">-->
                    <!--<span ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.messageGroupName | highlight: $select.search"></span>-->
                    <!--[<small ng-class="{'text-danger':dataObj.status=='Block'}" ng-bind-html="dataObj.messageGroupCode | highlight: $select.search"></small>]-->
                <!--</ui-select-choices>-->
            <!--</ui-select>-->


            <!--<a title="{{autoMailMaster.autoMailGroupMaster.id==null?'':autoMailMaster.autoMailGroupMaster.messageGroupName}}" href="javascript:void(0)"
               ng-click="showAutoMailGroups(autoMailMaster.autoMailGroupMaster.messageGroupCode)" name="group"
               class="btn btn-default btn-outline selectPicker">
                {{autoMailMaster.autoMailGroupMaster.id==null?'':autoMailMaster.autoMailGroupMaster.messageGroupName}}<i class="fa fa-chevron-right pull-right"></i>
            </a>-->
            <div>
                                    <span class="error-message" ng-show="errorMap.get('group')!=null"><small>
                                        {{errorMap.get('group')}}
                                    </small></span>
            </div>
        </div>
    </div>
    
    <div class="row ">

        <div class="col-md-8 col-sm-8 col-lg-7 col-xs-12 form-group nomargin pl0">
            <label class="custom-label">Name <span class="reqColor">*</span></label>
            <input  type="text" class="form-control" 
           
                   id="automessageName" name="messageName"
                   ng-model="autoMailMaster.messageName"
                   ng-class="{'error-control':errorMap.get('messageName')!=null}"
                   maxlength="100" ng-change="validateAutoMailMaster(2)">
            <div>
                <span class="error-message" ng-show="errorMap.get('messageName')!=null"><small>{{errorMap.get('messageName')}}</small></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-7 col-sm-8 form-group nomargin pl0">
            <div class="col-xs-6 form-group nomargin pl0">
                <label class="custom-label">Code <span class="reqColor">*</span></label>
                <input type="text" class="form-control" id="messageCode"  
                       name="messageCode" ng-model="autoMailMaster.messageCode"
                       ng-class="{'error-control':errorMap.get('messageCode')!=null}"
                       maxlength="10" capitalize ng-change="validateAutoMailMaster(3)" ng-disabled="autoMailMaster.id!=null">
                       <div>
                <span class="error-message" ng-show="errorMap.get('messageCode')!=null"><small>{{errorMap.get('messageCode')}}</small></span>
            </div>
                
            </div>

            <div class=col-xs-6 form-group nomargin pr0" ng-show="autoMailMaster.id!=null">
                 <label class="custom-label">Status</label>
                <select  class="form-control status" 
                id="autoMailStatus"
                        ng-class="setStatus(autoMailMaster.autoMailStatus)"
                        ng-options="item for item in enum['Status']"
                        ng-model="autoMailMaster.autoMailStatus" required>
                </select>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-8 col-lg-7 col-sm-8 form-group nomargin pl0" ng-show="autoMailMaster.id!=null">
           

            
                <label class="custom-label">Status</label>
                <select tabindex="6" class="form-control autoMailStatus" id="autoMailStatus"
                        ng-class="setStatus(autoMailMaster.autoMailStatus)"
                        ng-options="item for item in enum['Status']"
                        ng-model="autoMailMaster.autoMailStatus" required>
                </select>
           
        </div>
    </div> -->

<div class="row">
        <div class="col-md-8 col-lg-7 col-sm-8 form-group nomargin pl0">
            <label class="custom-label">Internal / External</label>
            <button-group  states="enum['MessageSendType']"
                                        state="autoMailMaster.messageSendType">
            </button-group>
            
            
            <!--<button-group-->
                    <!--states="enum['TransportMode']"-->
                    <!--state="carrierMaster.transportMode"-->
                    <!--on-state-change="modeSelect()">-->
            <!--</button-group>-->

             <div>
                <span class="error-message" ng-show="errorMap.get('messageSendType')!=null"><small>{{errorMap.get('messageSendType')}}</small></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-7 col-sm-8 form-group nomargin pl0">
                <label class="custom-label">Event Type</label>
                <select  id="eventType"  class="form-control"
                        ng-options="item | MailEventType for item in enum['MailEventType']"
                        ng-blur="navigateToNextField('mailGroup')"
                        ng-model="autoMailMaster.eventType" required>
                        <option value=""></option>
                </select>
        </div>
    </div>
    </div>
					</div>
					<!--panel body ends-->
					<div ng-hide="!showGroupList" class="wrapper-back-drop"></div>
				</div>
				<!--panel ends-->
			</form>
			<!--autoMail master end-->
			<!--group master starts-->
			<form role="form"
				ng-show="pageAction=='GROUP' && !addAutoMailMapping.show"
				id="groupmasterform" name="groupmasterform"
				ng-submit="autoMailMaster.id!=null?update(autoMailGroupMaster):save(autoMailGroupMaster)">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{autoMailGroupMaster.id!=null?'Edit':'Add'}}
								Group</h4>
						</div>
						<div>
							<div class="btngrp">

									<button type="button"
										class="btn cancel-btn"
										ng-click="cancel()">Cancel</button>

								<input type="submit"
									class="btn accent-btn"
									value="{{autoMailGroupMaster.id!=null?'Update':'Save'}}">

							</div>
						</div>
					</div>
					<div class="panel-body edit-body" id="group-panel" panel-height
						ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="pad-15">
							<div show-response></div>

							<div>
								<span class="reqColor">*</span> <small class="opc-5 f-12b4">
									Indicates Mandatory fields</small>
							</div>
							<client-error message="clientMessage"></client-error>
						</div>
						<div class="row ">


							<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 form-group nomargin pl0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input input-focus="true" type="text" class="form-control"
									id="messageGroupName" name="messageGroupName"
									ng-model="autoMailGroupMaster.messageGroupName"
									ng-class="{'error-control':errorMap.get('messageGroupName')!=null}"
									maxlength="100" ng-change="validateAutoMailMaster(1)">

								<div>
									<span class="error-message"
										ng-show="errorMap.get('messageGroupName')!=null"><small>
											{{errorMap.get('messageGroupName')}} </small></span>
								</div>
							</div>
						</div>
						<div class="row bor-0">

							<div class="col-md-6 col-xs-12 col-sm-6 col-lg-4 form-group nomargin pl0">
								<label class="custom-label">Code<span class="reqColor">*</span></label>
								<input type="text" class="form-control" id="messageGroupCode"
									name="messageGroupCode"
									ng-model="autoMailGroupMaster.messageGroupCode"
									ng-class="{'error-control':errorMap.get('messageGroupCode')!=null}"
									maxlength="10" capitalize ng-change="validateAutoMailMaster(2)"
									ng-disabled="autoMailGroupMaster.id!=null">

								<div>
									<span class="error-message"
										ng-show="errorMap.get('messageGroupCode')!=null"><small>{{errorMap.get('messageGroupCode')}}</small></span>
								</div>
							</div>

						</div>

						<div class="row nopadding nomargin bor-0">
							<div class="col-xs-12 nopadding">
							<h5 class="title nomargin">Auto Mail Mapping</h5>
							</div>
						</div>

						<div class="row nopadding bor-0">
							<div class="col-xs-12 ">
								<mail-group-table
									table-data="autoMailGroupMaster.autoMailMasterList"
									table-check="isListValid"
									calc-fn="tableEdiCb(param)">
								</mail-group-table>
							</div>
						</div>


					</div>
				</div>
				<!--panel ends-->
			</form>
			<!--group master ends-->
			<!--add autoMail mapping start-->
			<form role="form" ng-show="addAutoMailMapping.show"
				name="autoMailMasterMappingForm" ng-hide="true">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading bg-trans">
						<div class="w-50">
							<h4>{{selectedAutoMailMaster.messageName!=null && editIndex
								!= null?'Edit':'Add'}} Auto Mail</h4>
						</div>
						<div class="w-50">
							<ul class="list-inline text-right masopertion-action">
								<li>

									<button type="button"
										class="btn btn-default btn-xs btn-property cancel-btn"
										ng-click="discardMapping()">Discard</button>
								</li>
								<li><input type="button"
									class="btn btn-primary btn-xs btn-property accent-btn"
									ng-disabled="subPanelTable"
									value="{{selectedAutoMailMaster.messageName!=null && editIndex != null?'Update':'Save'}}"
									ng-click="saveMapping()"></li>
							</ul>
						</div>
					</div>
					<div class="panel-body edit-body nopadding" panel-height ng-nicescroll
						nice-option="{{ngScrollConfig}}">
						<div class="include-wrapper">


							<div class="pad-15">
								<div show-response></div>

								<div>
									<span class="reqColor">*</span><small class="opc-5 f-12b4">
										Indicates Mandatory fields</small>
								</div>
							</div>


							<div class="row ">

								<div class="col-md-7 col-lg-7 col-xs-12 form-group nomargin pl0">
									<label class="custom-label">Name <span class="reqColor">*</span></label>
									<input input-focus="true" type="text" class="form-control"
										id="messageName" name="messageName"
										ng-model="selectedAutoMailMaster.messageName"
										ng-class="{'error-control':errorMap.get('messageName')!=null}"
										maxlength="100" ng-change="validateGroupAutoMailMaster(1)">
									<div>
										<span class="error-message"
											ng-show="errorMap.get('messageName')!=null"><small>{{errorMap.get('messageName')}}</small></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
									<div class="col-xs-6 form-group nomargin pl0">
										<label class="custom-label">Code <span
											class="reqColor">*</span></label> <input type="text"
											class="form-control" id="messageCode" name="messageCode"
											ng-model="selectedAutoMailMaster.messageCode"
											ng-class="{'error-control':errorMap.get('messageCode')!=null}"
											maxlength="10" capitalize
											ng-change="validateGroupAutoMailMaster(2)"
											ng-disabled="selectedAutoMailMaster.id!=null">
										<div>
											<span class="error-message"
												ng-show="errorMap.get('messageCode')!=null"><small>{{errorMap.get('messageCode')}}</small></span>
										</div>
									</div>

									<div class="col-xs-6 form-group nomargin pr0"
										ng-show="autoMailMaster.id!=null">
										<label class="custom-label">Status</label> <select
											 class="form-control autoMailStatus"
											id="autoMailStatus"
											ng-class="setStatus(autoMailMaster.autoMailStatus)"
											ng-options="item for item in enum['Status']"
											ng-model="selectedAutoMailMaster.autoMailStatus" required>
										</select>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
									<label class="custom-label">Internal / External</label>
									<div class="btn-group btn-group-justified"
										ng-model="selectedAutoMailMaster.messageSendType"
										data-bs-radio-group>
										<label class="btn btn-default fsl-btn-group"> <input
											type="radio" class="btn btn-default" value="Internal">
											Internal
										</label> <label class="btn btn-default fsl-btn-group"> <input
											type="radio" class="btn btn-default" value="External">
											External
										</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-7 col-lg-7 col-sm-12 form-group nomargin pl0">
									<label class="custom-label">Event Type</label> 
									<select
										id="eventType" class="form-control"
										ng-options="item as item for item in enum['MailEventType']"
										ng-model="selectedAutoMailMaster.eventType" required>
									</select>

								</div>
							</div>

						</div>
					</div>
					</div>
			</form>
			<!--add autoMail mapping ends-->
		</div>
	</div>
</div>