<div class="container-fluid pl0 pr0 page-style resPortAddPage resLandAddPage">
	<div class="row ml0 mr0">
		<div class="col-xs-12 editview">
			<div class="panel panel-default masOpertion">
				<div class="panel-heading bg-trans">
					<div class="w-50">
						<h4>{{employeeMaster.id == null ? 'Add' : 'Edit' }} Employee </h4>
					</div>
					<div class="w-50">
						<ul class="list-inline text-right masopertion-action">
							<li>
								<button tabIndex="-1" type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancel()">
									Cancel
								</button>
							</li>
							<li>
								<button tabIndex="-1" type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="saveOrUpdateEmployee()"> 
									{{employeeMaster.id == null ? 'Save' : 'Update'}}
								</button>
							</li>
						</ul>
					</div>
				</div>
				<!--PANEL HEADING ENDS-->
				<div class="panel-body  pt0 pb0  edit-body" id="employee-panel" panel-height ng-nicescroll nice-scroll-object="niceObject" nice-option="{{ngScrollConfig}}">
					<div class="row shade1 nopadding bor-0">
						<div class="col-xs-12 ptb5 ">
							<span class="reqColor nomargin">*</span> 
							<small class="opc-5 f-12b4">Indicates Mandatory Fields</small>
						</div>
					</div>
					<client-error message="clientMessage"></client-error>
					<div show-response></div>
					<div class="wrapper ">
						<div class="row shade1">
								<div class="col-xs-12 col-md-12 col-lg-12 ">
									<div class="row pb20">
									<div class="col-md-10">
										<div>
											<div>
												<div class="row ">
													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label>Employee Code<span></span></label>
														<div class="select-auto">
															<input id="employeeCode" type="text" class="form-control"
																ng-model="employeeMaster.employeeCode"
																ng-class="{'error-control':errorMap.get('employeeCode')!=null}"
																input-focus="{{errorMap.get('employeeCode')!=null}}"
																maxlength="10" ng-disabled="true" />
														</div>
														<span class="error-message"
															ng-show="errorMap.get('employeeCode')!=null"> <small>{{errorMap.get('employeeCode')}}</small>
														</span>
													</div>


													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label>First Name</label>
														<div class="select-auto">
															<input id="firstName" type="text" class="form-control"
																ng-model="employeeMaster.firstName"
																ng-change="createDefaultValue()"
																ng-class="{'error-control':errorMap.get('firstName')!=null}"
																input-focus="true"
																maxlength="100" />
														</div>
														<span class="error-message"
															ng-show="errorMap.get('firstName')!=null"> <small>{{errorMap.get('firstName')}}</small>
														</span>
													</div>


													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label>Middle Name</label>
														<div class="select-auto">
															<input type="text" class="form-control"
																ng-model="employeeMaster.middleName"
																ng-change="validateEmployeeMaster(3)"
																ng-class="{'error-control':errorMap.get('middleName')!=null}"
																input-focus="{{errorMap.get('middleName')!=null}}"
																maxlength="100" />
														</div>
														<span class="error-message"
															ng-show="errorMap.get('middleName')!=null"> <small>{{errorMap.get('middleName')}}</small>
														</span>
													</div>


													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label>Last Name</label>
														<div class="select-auto">
															<input type="text" class="form-control"
																ng-model="employeeMaster.lastName"
																ng-change="validateEmployeeMaster(4)"
																ng-class="{'error-control':errorMap.get('lastName')!=null}"
																input-focus="{{errorMap.get('lastName')!=null}}"
																ng-blur="createAliasName()"
																maxlength="100" />
														</div>
														<span class="error-message"
															ng-show="errorMap.get('lastName')!=null"> <small>{{errorMap.get('lastName')}}</small>
														</span>
													</div>


												</div>



												<div class="row ">
													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label>Alias Name<span>*</span></label>
														<div class="select-auto">
															<input type="text" class="form-control"
																ng-model="employeeMaster.aliasName"
																ng-change="validateEmployeeMaster(5)"
																ng-class="{'error-control':errorMap.get('aliasName')!=null}"
																input-focus="{{errorMap.get('aliasName')!=null}}"
																maxlength="100" />
														</div>
														<span class="error-message"
															ng-show="errorMap.get('aliasName')!=null"> <small>{{errorMap.get('aliasName')}}</small>
														</span>
													</div>


													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label class="custom-label">Employee Status<span>*</span></label>
														<div class="select-auto">
															<input type="text" id="employementStatus"
																auto-complete-manual
																ng-model="employeeMaster.employementStatus"
																ng-change="validateEmployeeMaster(6)"
																ng-class="{'error-control':errorMap.get('employementStatus')!=null}"
																on-select="navigateToNextField('salesman')"
																item-data="mappingUnitData"
																first-letter-upper="true"
																class="form-control" />
														</div>
														<span class="error-message"
															ng-show="errorMap.get('employementStatus')!=null">
															<small> {{errorMap.get('employementStatus')}} </small>
														</span>
													</div>


													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label>Salesman<span>*</span></label>
														<ul class="list-inline">
															<li ng-class="{'opc-5':employeeMaster.isSalesman}">No</li>
															<li class="v-align-top"><switch tabindex="0"
																	id="salesman" ng-model="employeeMaster.isSalesman"
																	blur-focus-forward="navigateToNextField('email')"
																	class="green" /></li>
															<li ng-class="{'opc-5':!employeeMaster.isSalesman}">Yes</li>
														</ul>
														<span class="error-message"
															ng-show="errorMap.get('salesman')!=null"> <small>
																{{errorMap.get('salesman')}} </small>
														</span>
													</div>

													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														 <label class="custom-label text-inherit">eMail<span>*</span></label> <input type="text"
															class="form-control" id="email"
															input-focus="{{errorMap.get('email')!=null}}"
															ng-model="employeeMaster.email" maxlength="500"
															ng-class="{'error-control':errorMap.get('email')!=null}"
															ng-blur="emailValidEmployeeMaster()" maxlength="500">
														<span class="error-message"
															ng-show="errorMap.get('email')!=null"> <small>
																{{errorMap.get('email')}} </small>
														</span>
													</div>
												</div>




												<div class="row ">
													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label>Phone<span></span></label>
														<div class="select-auto">
															<input type="text" class="form-control" 
																ng-model="employeeMaster.employeePhoneNo"
																ng-change="validateEmployeeMaster(9)"
																ng-class="{'error-control':errorMap.get('employeePhoneNo')!=null}"
																input-focus="{{errorMap.get('employeePhoneNo')!=null}}"
																maxlength="100" />
														</div>
														<span class="error-message"
															ng-show="errorMap.get('employeePhoneNo')!=null"> <small>
																{{errorMap.get('employeePhoneNo')}} </small>
														</span>
													</div>
													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label>Reason For Resignation<span></span></label>
														<div class="select-auto">
															<input type="text" class="form-control"
																ng-model="employeeMaster.reasonForRegistration"
																maxlength="100"
																ng-class="{'error-control':errorMap.get('employeeMaster.reasonForRegistration')!=null}"
																ng-change="validateEmployeeMaster()" maxlength="100">
														</div>
														<span class="error-message"
															ng-show="errorMap.get('employeeMaster.reasonForRegistration')!=null">
															<small>
																{{errorMap.get('employeeMaster.reasonForRegistration')}}
														</small>
														</span>
													</div>


													<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
														<label class="custom-label text-inherit">Call Entry CC eMail ID</label>
														<div class="select-auto">
															<input type="text" class="form-control"
																ng-model="employeeMaster.cc_email" maxlength="500"
																ng-class="{'error-control':errorMap.get('cc_email')!=null}"
																ng-blur="validateEmployeeMaster(10)" maxlength="500" />
															<span class="error-message"
																ng-show="errorMap.get('cc_email')!=null"> <small>
																	{{errorMap.get('cc_email')}} </small>
															</span>
														</div>

													</div>
												</div>
											</div>
										</div>
										<div class="row ptb-10">
											<div class="col-md-7 col-lg-7">
												<div class="row"></div>
											</div>
											<div class="col-md-5 col-lg-5">
												<div class="row"></div>
											</div>
										</div>
										
									</div>
									<div class="pt10 col-md-2 col-xs-6 col-sm-6 col-lg-2">
											<label class="custom-label">Upload Image <span class="reqColor"></span></label>
											<div ng-show="uploadText == true && isBusy != true" ngf-drop ngf-select ng-model="image"
	                                 			 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
	                                 			 accept="image/*" ng-change="uploadImage(image)"
	                                 			 ngf-pattern="'image/*'" class="file-drop-box">
					                                <div class="col-md-12 text-center">
					                                    <ul class="list-unstyled">
					                                        <li>Drop Here</li>
					                                        <li>Or</li>
					                                        <li><button type="button" class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
					                                    </ul>
					                                </div>
											</div>
											 <div ng-show="!uploadText && isBusy ==true" class="rel img-box">
				                                <attach-Spinner  spinner-status="true"></attach-Spinner>
				                            </div>
											<div ng-show="uploadText == false && isBusy != true" ngf-select ngf-drop ng-model="image" ngf-multiple="false" ng-change="uploadImage(image)" class="rel img-box" ng-mouseover="showBackDrop=true" ng-mouseleave="showBackDrop=false">
				                                <img ng-src="data:image/jpeg;base64,{{employeeMaster.image}}" class="display-block">
				                                <div class="wrapper-back-drop hide-transition" ng-show="showBackDrop">
			                                        <span class="cursorPt overlay-img-btn" ngf-select ngf-drop ng-model="image" ngf-multiple="false" ng-change="uploadImage(image)">
			                                            <i class="fa fa-upload"></i>
			                                        </span>
				                                </div>
                          				   </div>
										</div>
										<span class="error-message" ng-show="errorMap.get('image')!=null"><small>{{errorMap.get('image')}}</small></span>
									</div>
								</div>
							</div>
					</div>
					<div>
						 <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" >
						  	<li data-menu-item="personal" tabindex="-1">
	                            <button type="button" class="btn" ng-class="Tabs=='personal'?'active':'btn-normal'" tabindex="-1" ng-click="clickOnTab('personal','dateOfBirth')">Personal</button>
							</li>
						  	<li data-menu-item="professional">
	                            <button type="button" class="btn" ng-class="Tabs=='professional'?'active':'btn-normal'" tabindex="-1" ng-click="clickOnTab('professional','dateOfJoining')">Professional</button>
							</li>
						 
							<li data-menu-item="documents">
	                            <button type="button" class="btn" ng-class="Tabs=='documents'?'active':'btn-normal'" tabindex="-1" ng-click="clickOnTab('documents','attachRefNo0');navigateToNextField('attachRefNo0')">Documents</button>
							</li>	
							<li data-more-menu-item>
                    			<button type="button" class="btn btn-normal" tabindex="-1"> More <span class="icon-downarr"></span> </button> 
                    		</li>	
						 </ul>
					</div>

					<!--TAB MENUS TAB-->
					<div class="tab-content">
						<div ng-show="Tabs=='professional'">
							<div class="row nomargin  ">
								<div class="flex align-justify align-middle title">
											<div>
												<h5>Genaral Details</h5>
											</div>
										</div>
								<div class="col-xs-12 ">
									<div class="col-xs-12 ">
										<div class="row shade1" style="margin-bottom:14px" >
											<div class="col-xs-12 ">
												<div class="row">
													<div class="col-md-12">
														<div class="row pb20">
															
																
																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Date of Joining</label>
																	<div class="inputBox">
								                                            <input type="text"
							                                                       id="dateOfJoining"
							                                                       autocomplete="off"
							                                                       ng-class="{'error-control':errorMap.get('dateOfJoining')!=null}"
							                                                       class="form-control"
							                                                       ng-model="employeeMaster.employeeProfessionalDetail.dateOfJoining"
							                                                       datetimepicker
							                                                       datetimepicker-options="{{dateTimePickerOptionsLeft}}"
							                                                       date-callback="selectDateOfJoining('probationStatus');validateEmployeeMaster(26) "/>
								                                            	   <span class="inputIcon" tabindex="-1"><i class="icon-date" aria-hidden="true"></i></span>
								                                    </div>
								                                    <span class="error-message" ng-show="errorMap.get('dateOfJoining')!=null">
								                                    	<small> {{errorMap.get('dateOfJoining')}} </small>
								                                    </span>
																	</div>


																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Status<span></span></label>
																		<div class="select-auto">
							                                                    <input type="text"
							                                                           id="probationStatus"
							                                                           auto-complete-manual
							                                                           ng-model="employeeMaster.employeeProfessionalDetail.probationStatus"
							                                                           on-select="navigateToNextField('probitionPeriod')"
							                                                           item-data="enum['ProbationStatus']"
							                                                           class="form-control" />
			                                                			</div>
							                                                    <span class="error-message" ng-show="errorMap.get('employeeMaster.employementStatus')!=null">
							                                                    	<small> {{errorMap.get('employeeMaster.employementStatus')}} </small>
							                                                    </span>
																	</div>


																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Probation Period</label>
																		<input 	type="text" class="form-control" id="probitionPeriod"
																				ng-model = "employeeMaster.employeeProfessionalDetail.probationPeriod" 
																				ng-class="{'error-control':errorMap.get('probationPeriod')!=null}"
																				maxlength="3" 
																				ng-change= "validateEmployeeMaster(23)">
																				<span class="error-message" ng-show="errorMap.get('probationPeriod')!=null">
									                                                    	<small> {{errorMap.get('probationPeriod')}} </small>
									                                            </span>
																	</div>

															


															
															

																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>National ID<span></span></label>
																		<input 	type="text" class="form-control" 
																				ng-model = "employeeMaster.employeeProfessionalDetail.nationalId" 
																				maxlength="100" 
																				ng-class="{'error-control':errorMap.get('employeeMaster.employeeProfessionalDetail.nationalId')!=null}"
																				maxlength="100" >
																				<span class="error-message" ng-show="errorMap.get('employeeMaster.employeeProfessionalDetail.nationalId')!=null">
									                                                    	<small> {{errorMap.get('employeeMaster.employeeProfessionalDetail.nationalId')}} </small>
									                                            </span>
																	</div>


																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Transfer Date</label>
																			<div class="inputBox">
								                                            <input type="text"
							                                                       id="transferDate"
							                                                       autocomplete="off"
							                                                       class="form-control"
							                                                       ng-disabled="employeeMaster.employementStatus=='Transferred'?false:true"
							                                                       input-focus="{{errorMap.get('transferDate')!=null}}"
							                                                       ng-class="{'error-control':errorMap.get('transferDate')!=null}"
							                                                       ng-model="employeeMaster.employeeProfessionalDetail.transferDate"
							                                                        datetimepicker
																					datetimepicker-options="{{directiveDatePickerOpts}}"
							                                                       date-callback="navigateToNextField('employmentEndDate')"/>
								                                            	   <span class="inputIcon" tabindex="-1"><i class="icon-date" aria-hidden="true"></i></span>
								                                   			 </div>
											                                    <span class="error-message" ng-show="errorMap.get('transferDate')!=null">
											                                    	<small> {{errorMap.get('transferDate')}} </small>
											                                    </span>
																	</div>


																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Employment End Date</label>
																		<div class="inputBox">
								                                            <input type="text"
							                                                       id="employmentEndDate"
							                                                       autocomplete="off"
							                                                       class="form-control"
							                                                        ng-disabled="(employeeMaster.employementStatus=='Resigned'|| employeeMaster.employementStatus=='Terminated')?false:true"
							                                                       input-focus="{{errorMap.get('employmentEndDate')!=null}}"
							                                                       ng-class="{'error-control':errorMap.get('employmentEndDate')!=null}"
							                                                       ng-model="employeeMaster.employeeProfessionalDetail.employmentEndDate"
							                                                       datetimepicker
							                                                       datetimepicker-options="{{directiveDatePickerOpts}}"
							                                                       date-callback="navigateToNextField('location')"/>
								                                            	   <span class="inputIcon" tabindex="-1"><i class="icon-date" aria-hidden="true"></i></span>
								                                   			 </div>
											                                    <span class="error-message" ng-show="errorMap.get('employmentEndDate')!=null">
											                                    	<small> {{errorMap.get('employmentEndDate')}} </small>
											                                    </span>

																	</div>

																

														</div>

													</div>

												</div>

											</div>

										</div>

									</div>

								</div>

							</div>






<div class="row nomargin  ">

									<div class="flex align-justify align-middle title">
										<div>
											<h5>Employee Department</h5>
										</div>
									</div>
	<div class="col-xs-12 ">


		<div class="col-xs-12 ">
			<div class="row shade1 " style="margin-bottom:14px">
				<div class="col-xs-12 ">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="row pb20">
										<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
											<label>Location<span>*</span></label>
											 <div class="select-auto">
                    
												<input type="text" 
													class="form-control"
						                            ng-class="{'error-control':errorMap.get('locationName')!=null}"
						                            input-focus="{{errorMap.get('locationName')!=null}}"
						                      		id="location"
													autocomplete="off"
													ng-model="employeeMaster.locationMaster"
													uib-typeahead="lovObject as lovObject.locationName for lovObject in ajaxLocationEvent($viewValue)"
													typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
													typeahead-show-hint="true" typeahead-show-loading="true" 
													 typeahead-select-on-exact="true" typeahead-append-to-body="true"
													typeahead-on-select="selectedLocation('department');validateEmployeeMaster(19)"
													typeahead-focus-on-select="false"
													typeahead-focus-first="true"
													typeahead-editable="false"
													typeahead-min-length="1" typeahead-wait-ms="500" 
													>
													<span class="select-arrow"><b></b></span>

												</div>
												<span class="error-message" ng-show="errorMap.get('locationName')!=null">
											                 <small> {{errorMap.get('locationName')}} </small>
							                   </span>
										
									</div>
																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Department<span>*</span></label>
																		 <div class="select-auto">
                    
																		<input type="text" 
																			class="form-control"
												                            ng-class="{'error-control':errorMap.get('departmentName')!=null}"
												                            input-focus="{{errorMap.get('departmentName')!=null}}"
												                      		id="department"
																			autocomplete="off"
																			ng-model="employeeMaster.employeeProfessionalDetail.departmentMaster"
																			uib-typeahead="lovObject as lovObject.departmentName for lovObject in ajaxDepartmentEvent($viewValue)"
																			typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																			typeahead-show-hint="true" typeahead-show-loading="true" 
																			 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																			typeahead-on-select="selectedDepartment('departmentHead');validateEmployeeMaster(20)"
																			typeahead-focus-on-select="false"
																			typeahead-focus-first="true"
																			typeahead-editable="false"
																			typeahead-min-length="1" typeahead-wait-ms="500" 
																			>
																			<span class="select-arrow"><b></b></span>
						
																		</div>
																		 <span class="error-message" ng-show="errorMap.get('departmentName')!=null">
											                                    	<small> {{errorMap.get('departmentName')}} </small>
											                                    </span>

																	</div>


																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Department Head<span></span></label>
																		 <div class="select-auto">
                    
																			<input type="text" 
																				class="form-control"
													                            ng-class="{'error-control': errorMap.get('employeeMaster.employeeProfessionalDetail.departmentHead')!=null}"
													                            input-focus="{{errorMap.get('employeeMaster.employeeProfessionalDetail.departmentHead')!=null}}"
													                      		id="departmentHead"
																				autocomplete="off"
																				ng-model="employeeMaster.employeeProfessionalDetail.departmentHead"
																				uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxEmployeeEvent($viewValue)"
																				typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																				typeahead-show-hint="true" typeahead-show-loading="true" 
																				 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																				typeahead-on-select="selectedDepartmentHead('reportHead');validateEmployeeMaster(21)"
																				typeahead-focus-on-select="false"
																				typeahead-focus-first="true"
																				typeahead-editable="false"
																				typeahead-min-length="1" typeahead-wait-ms="500" 
																				>
																				<span class="select-arrow"><b></b></span>
							
																			</div>
																			 <span class="error-message" ng-show="errorMap.get('employeeName')!=null">
											                                    	<small> {{errorMap.get('employeeName')}} </small>
											                                    </span>

																	</div>

																


															
														

																	<div class="pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Reporting To<span></span></label>
																		 <div class="select-auto">
                    
																			<input type="text" 
																				class="form-control"
													                            ng-class="{'error-control': errorMap.get('employeeMaster.employeeProfessionalDetail.reportingTo')!=null}"
													                            input-focus="{{errorMap.get('employeeMaster.employeeProfessionalDetail.reportingTo')!=null}}"
													                      		id="reportHead"
																				autocomplete="off"
																				ng-model="employeeMaster.employeeProfessionalDetail.reportingTo"
																				uib-typeahead="lovObject as lovObject.employeeName for lovObject in ajaxEmployeeEvent($viewValue)"
																				typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																				typeahead-show-hint="true" typeahead-show-loading="true" 
																				 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																				typeahead-on-select="selectedReportingTo('designationStartDate');validateEmployeeMaster(22)"
																				typeahead-focus-on-select="false"
																				typeahead-focus-first="true"
																				typeahead-editable="false"
																				typeahead-min-length="1" typeahead-wait-ms="500" 
																				>
																				<span class="select-arrow"><b></b></span>
																				
							
																			</div>
																			<span class="error-message" ng-show="errorMap.get('employeeName')!=null">
											                                    	<small> {{errorMap.get('employeeName')}} </small>
											                                    </span>


																	</div>
</div>

</div>



															

														</div>

													</div>

												</div>

											</div>

										</div>

									</div>

								</div>

							</div>










							<div class="row nomargin  ">
							
									<div class="flex align-justify align-middle title">
										<div>
											<h5>Employee Designation</h5>
										</div>
									</div>
								<div class="col-xs-12 ">
									

									<div class="col-xs-12 ">

										<div class="row shade1 " style="margin-bottom:14px">

											<div class="col-xs-12 ">

												<div class="row">

													<div class="col-md-12">
														<div class="row  pb20">
															
															

																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Designation Start Date<span></span></label>
																		<div class="inputBox">
								                                            <input type="text"
							                                                       id="designationStartDate"
							                                                       autocomplete="off"
							                                                       class="form-control"
							                                                       ng-model="employeeMaster.employeeProfessionalDetail.designationStartDate"
							                                                       datetimepicker
							                                                       datetimepicker-options="{{dateTimePickerOptionsLeft}}"/>
								                                            	   <span class="inputIcon" tabindex="-1"><i class="icon-date" aria-hidden="true"></i></span>
									                                    </div>
									                                    <span class="error-message" ng-show="errorMap.get('designationStartDate')!=null">
									                                    	<small> {{errorMap.get('designationStartDate')}} </small>
									                                    </span>

																	</div>


																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Payroll Employee ID<span></span></label>
																		<div>
																		<input type="text" class="form-control" ng-model = "employeeMaster.employeeProfessionalDetail.payrollEmployeeId" 
																		       ng-change="validateEmployeeMaster(25)" 
																				ng-class="{'error-control':errorMap.get('payrollEmployeeId')!=null}"
																				maxlength="10" >
																			</div>
																		   <span class="error-message" ng-show="errorMap.get('payrollEmployeeId')!=null">
									                                    	<small> {{errorMap.get('payrollEmployeeId')}} </small>
									                                    </span>

																	</div>


																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Grade<span></span></label>
																		<div class="select-auto">
																			<input type="text" class="form-control"
																				id="gradeMaster"
																				input-focus="{{errorMap.get('gradeName')!=null}}"
																				autocomplete="off" ng-model="employeeMaster.employeeProfessionalDetail.gradeMaster"
																				uib-typeahead="lovObject as lovObject.gradeName for lovObject in $AutoCompleteService.gradeList($viewValue)"
																				typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-carrier-image.html"
																				typeahead-show-hint="true" typeahead-show-loading="true" 
																				 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																				typeahead-on-select="selectedGradeMaster('designation');"
																				typeahead-focus-on-select="false"
																				typeahead-focus-first="true"
																				typeahead-editable="false" typeahead-min-length="1">
																			<span class="select-arrow"><b></b></span>
																		</div>

																	</div>

															


															
														

																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Designation<span>*</span></label>
																		 <div class="select-auto">
                    
																			<input type="text" 
																				class="form-control"
																				ng-class="{'error-control':errorMap.get('designation')!=null}"
													                            input-focus="{{errorMap.get('designation')!=null}}"
													                      		id="designation"
																				autocomplete="off"
																				ng-model="employeeMaster.employeeProfessionalDetail.designationMaster"
																				uib-typeahead="lovObject as lovObject.designationName for lovObject in ajaxDesignationEvent($viewValue)"
																				typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
																				typeahead-show-hint="true" typeahead-show-loading="true" 
																				 typeahead-select-on-exact="true" typeahead-append-to-body="true"
																				typeahead-on-select="selectedDesignation('qualifier');validateEmployeeMaster(24)"
																				typeahead-focus-on-select="false"
																				typeahead-focus-first="true"
																				typeahead-editable="false"
																				typeahead-min-length="1" typeahead-wait-ms="500" 
																				>
																				<span class="select-arrow"><b></b></span>
							
																			</div>
	                                                                        <span class="error-message" ng-show="errorMap.get('designation')!=null">
										                                    	<small> {{errorMap.get('designation')}} </small>
										                                    </span>

																	</div>


																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3">
																		<label>Designation qualifier<span></span></label>
																		<input id = "qualifier" type="text" class="form-control" ng-model = "employeeMaster.employeeProfessionalDetail.designationQualifier" 
																			ng-class="{'error-control':errorMap.get('employeeMaster.employeeProfessionalDetail.designationQualifier')!=null}"
																			maxlength="100" >

																	</div>

																	<div class=" pt10 col-xs-6 col-sm-6 col-md-3 col-lg-3 ">
																		<label>Job Description<span></span></label>
																		<input id = "qualifier" type="text" class="form-control" ng-model = "employeeMaster.employeeProfessionalDetail.jobDescription"  
																			ng-class="{'error-control':errorMap.get('employeeMaster.employeeProfessionalDetail.jobDescription')!=null}"
																			maxlength="4000" 
																			ng-blur="clickOnTab('documents','attachRefNo0')">
																	</div>

																

														</div>

													</div>

											

											</div>

										</div>

									</div>

								</div>

							</div>
						</div>
					</div>
						<!-- Personal Tab Starts  -->
						
						<div ng-show="Tabs=='personal'">
							<div class="row nomargin fx-fade-left fx-duration-200 fx-speed-200 pb60">
								<div class="col-md-12">
									<div class="row pb-15">
										
												<div class=" pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Date of Birth<span>*</span></label>
													<div class="inputBox">
			                                            <input type="text"
		                                                       id="dateOfBirth"
		                                                       autocomplete="off"
		                                                       class="form-control"
		                                                       input-focus="{{errorMap.get('dateOfBirth')!=null}}"
		                                                       ng-change="validateEmployeeMaster(11)?navigateToNextField('gender'):''"
		                                                       ng-class="{'error-control':errorMap.get('dateOfBirth')!=null}"
		                                                       ng-model="employeeMaster.employeePersonalDetail.dateOfBirth"
		                                                       datetimepicker
		                                                       datetimepicker-options="{{dateTimePickerOptionsLeft}}"/>
			                                            	   <span class="inputIcon" tabindex="-1"><i class="icon-date" aria-hidden="true"></i></span>
			                                   		</div>
				                                    <span class="error-message" ng-show="errorMap.get('dateOfBirth')!=null">
				                                    	<small> {{errorMap.get('dateOfBirth')}} </small>
				                                    </span>

												</div>
												
												<div class="pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Nationality<span>*</span></label>
													 <div class="select-auto">
														<input type="text" 
															class="form-control"
								                            ng-class="{'error-control': errorMap.get('countryName')!=null}"
								                            input-focus="{{errorMap.get('countryName')!=null}}"
								                      		id="location"
															autocomplete="off"
															ng-model="employeeMaster.countryMaster"
															uib-typeahead="lovObject as lovObject.countryName for lovObject in ajaxCountryEvent($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-country-image.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedCountry('religion',12);"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
														</div>
														<span class="error-message" ng-show="errorMap.get('countryName')!=null">
                                                   		<small> {{errorMap.get('countryName')}} </small>
                                                   </span>
												</div>
												
													<div class="pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Gender<span>*</span></label>
													<ul class="list-inline">
														<li ng-class="{'opc-5':employeeMaster.employeePersonalDetail.gender}">Male</li>
														<li class="v-align-top">
															<switch tabindex="0" id="gender" ng-model="employeeMaster.employeePersonalDetail.gender"
																	class="green" />
														</li>
														<li ng-class="{'opc-5':!employeeMaster.employeePersonalDetail.gender}">Female</li>
													</ul>
													<span class="error-message" ng-show="errorMap.get('employeeMaster.employeePersonalDetail.gender')!=null">
                                                   		<small> {{errorMap.get('employeeMaster.employeePersonalDetail.gender')}} </small>
                                                   </span>

												</div>
											
												
											
										
												<div class=" pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Religion<span></span></label>
													<input  type="text" 
															id="religion"
															class="form-control" 
															ng-model = "employeeMaster.employeePersonalDetail.religion" 
															maxlength="100" 
															ng-class="{'error-control':errorMap.get('employeeMaster.employeePersonalDetail.religion')!=null}"/>
												</div>


												<div class=" pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
															<label class="custom-label">Marital Status</label>
	                                               			<div class="select-auto">
			                                                    <input type="text"
			                                                           id="employee.status"
			                                                           auto-complete-manual
			                                                           ng-model="employeeMaster.employeePersonalDetail.maritalStatus"
			                                                           on-select="navigateToNextField('anniversary')"
			                                                           item-data="enum['MaritalStatus']"
			                                                           class="form-control"
			                                                            />
	                                               			</div>
		                                                    <span class="error-message" ng-show="errorMap.get('employeeMaster.employeePersonalDetail.maritalStatus')!=null">
		                                                    	<small> {{errorMap.get('employeeMaster.employeePersonalDetail.maritalStatus')}} </small>
		                                                    </span>

												</div>


												<div class=" pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Wedding Anniversary<span></span></label>
													<div class="inputBox">
			                                            <input type="text"
		                                                       id="anniversary"
		                                                       autocomplete="off"
		                                                       class="form-control"
		                                                       ng-model="employeeMaster.employeePersonalDetail.weddingAnniversaryDate"
		                                                       datetimepicker
		                                                       datetimepicker-options="{{directiveDatePickerOpts}}"
		                                                       date-callback="navigateToNextField('phone')"/>
			                                            	   <span class="inputIcon" tabindex="-1"><i class="icon-date" aria-hidden="true"></i></span>
			                                   		</div>
				                                    <span class="error-message" ng-show="errorMap.get('employeeMaster.employeePersonalDetail.weddingAnniversaryDate')!=null">
				                                    	<small> {{errorMap.get('employeeMaster.employeePersonalDetail.weddingAnniversaryDate')}} </small>
				                                    </span>

												</div>
											
									
								
							
										
	
												<div class=" pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Office Phone No<span></span></label>
													<input  type="text" 
															class="form-control" 
															id="phone"
															ng-change="validateEmployeeMaster(13)"
															ng-class="{'error-control':errorMap.get('officialPhoneNo')!=null}"
															input-focus="{{errorMap.get('officialPhoneNo')!=null}}"
															ng-model = "employeeMaster.employeePersonalDetail.phoneNumber" 
															maxlength="100" 
															>
														<span class="error-message" ng-show="errorMap.get('officialPhoneNo')!=null">
				                                    		<small> {{errorMap.get('officialPhoneNo')}} </small>
				                                   		</span>
												</div>
	
	
												<div class="pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Fax<span></span></label>
													<input  type="text" 
															class="form-control" 
															ng-model = "employeeMaster.employeePersonalDetail.fax" 
															maxlength="100" 
															ng-class="{'error-control':errorMap.get('employeeMaster.employeePersonalDetail.fax')!=null}"/>
														<span class="error-message" ng-show="errorMap.get('employeeMaster.employeePersonalDetail.fax')!=null">
				                                    		<small> {{errorMap.get('employeeMaster.employeePersonalDetail.fax')}} </small>
				                                   		</span>
	
												</div>
	
	
												<div class=" pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label class="custom-label text-inherit">Personal eMail ID<span></span></label>
													<input  type="text" 
															class="form-control" 
															id ="personalEmail"
															ng-model = "employeeMaster.employeePersonalDetail.personalEmail" 
															maxlength="100" 
															ng-blur="validateEmployeeMaster(14)"
															input-focus="{{errorMap.get('personalEmail')!=null}}"
															ng-class="{'error-control':errorMap.get('personalEmail')!=null}"/>
														<span class="error-message" ng-show="errorMap.get('personalEmail')!=null">
				                                    		<small> {{errorMap.get('personalEmail')}} </small>
				                                   		</span>
												</div>
											
									
												<div class=" pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Mobile Number<span></span></label>
													<input  type="text" 
															class="form-control" 
															ng-model = "employeeMaster.employeePersonalDetail.mobileNumber" 
															maxlength="100" 
															ng-change="validateEmployeeMaster(15)"
															input-focus="{{errorMap.get('personalEmail')!=null}}"
															ng-class="{'error-control':errorMap.get('mobileNumber')!=null}"/>
														<span class="error-message" ng-show="errorMap.get('mobileNumber')!=null">
				                                    		<small> {{errorMap.get('mobileNumber')}} </small>
				                                   		</span>
												</div>
	
	
												<div class=" pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Home Town<span></span></label>
														<input  type="text" 
															class="form-control" 
															ng-model = "employeeMaster.employeePersonalDetail.homeTown" 
															maxlength="100" 
															ng-class="{'error-control':errorMap.get('employeeMaster.employeePersonalDetail.homeTown')!=null}"/>
														<span class="error-message" ng-show="errorMap.get('employeeMaster.employeePersonalDetail.homeTown')!=null">
				                                    		<small> {{errorMap.get('employeeMaster.employeePersonalDetail.homeTown')}} </small>
				                                   		</span>
												</div>
	
	
												<div class=" pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
													<label>Airport Name<span></span></label>
													<input  type="text" 
															class="form-control" 
															ng-model = "employeeMaster.employeePersonalDetail.airportName" 
															maxlength="100" 
															ng-class="{'error-control':errorMap.get('employeeMaster.employeePersonalDetail.airportName')!=null}"/>
														<span class="error-message" ng-show="errorMap.get('employeeMaster.employeePersonalDetail.airportName')!=null">
				                                    		<small> {{errorMap.get('employeeMaster.employeePersonalDetail.airportName')}} </small>
				                                   		</span>
	
												</div>
	
	
									
						
										<div class="pt10 col-xs-6 col-sm-6 col-md-4 col-lg-4">													
													<label>Permanent Address<span></span></label>
													<div class="select-auto">
														<textarea 
															ng-model="employeeMaster.employeePersonalDetail.permanentAddress" 
															msd-elastic 
															maxlength="4000" 
															class="form-control minH-80 ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched" 
															style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 80px;"></textarea>
													</div>
	
										</div>
										
										
										
											<div class="pt10 col-xs-6 col-sm-6 col-md-4 col-lg-4">													
	
													<label>Contact Address</label>
													<span class="pull-right">Same Address
													 <input 
													   ng-model="checkTemp"
													   ng-click="copyAsPermanentAddrees('temporaryAddress')" type="checkbox" ></span>
													<div class="select-auto">
														<textarea ng-model="employeeMaster.employeePersonalDetail.temporaryAddress" 
														 		  msd-elastic 
														 		  maxlength="4000" 
														 		  class="form-control minH-80 ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched" 
														 		  style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 80px;"></textarea>
													</div>
	
										</div>
										
										
										
											<div class="pt10 col-xs-6 col-sm-6 col-md-4 col-lg-4">													
	                                                                <div>
													<label>Emergency Address</label>
													<span class="pull-right">Same Address 
													<input 
													ng-model="checkEmergency"
													ng-click="copyAsPermanentAddrees('emergencyAddress')"
													type="checkbox" ></span>
													</div>
													
													<div class="select-auto">
														<textarea 	ng-model="employeeMaster.employeePersonalDetail.emergencyAddress" 
																	msd-elastic
																	maxlength="4000" 
																	class="form-control minH-80 ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched" 
																	style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 80px;"></textarea>
													</div>
	
										</div>
						
	
									
							
										<div class="pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
											<label>Phone Number<span></span></label>
											<input  type="text" 
															class="form-control" 
															ng-model = "employeeMaster.employeePersonalDetail.permanentPhoneNumber" 
															maxlength="100" 
															ng-change="validateEmployeeMaster(16)"
															input-focus="{{errorMap.get('permanentPhoneNumber')!=null}}"
															ng-class="{'error-control':errorMap.get('permanentPhoneNumber')!=null}"/>
														<span class="error-message" ng-show="errorMap.get('permanentPhoneNumber')!=null">
				                                    		<small> {{errorMap.get('permanentPhoneNumber')}} </small>
				                                   		</span>
										</div>



										<div class="pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">

											<label>Contact Phone Number<span></span></label>
											<input  type="text" 
															class="form-control" 
															ng-model = "employeeMaster.employeePersonalDetail.temporaryPhoneNumber" 
															maxlength="100" 
															ng-change="validateEmployeeMaster(17)"
															input-focus="{{errorMap.get('temporaryPhoneNumber')!=null}}"
															ng-class="{'error-control':errorMap.get('temporaryPhoneNumber')!=null}"/>
														<span class="error-message" ng-show="errorMap.get('temporaryPhoneNumber')!=null">
				                                    		<small> {{errorMap.get('temporaryPhoneNumber')}} </small>
				                                   		</span>

										</div>



										<div class="pt10 col-xs-6 col-sm-6 col-md-2 col-lg-2">
											<label>Emergency Phone Number<span></span></label>
											<input  type="text" 
															class="form-control" 
															id ="emergencyNumber"
															ng-model = "employeeMaster.employeePersonalDetail.emergencyPhoneNumber" 
															maxlength="100" 
															ng-change="validateEmployeeMaster(18)"
															input-focus="{{errorMap.get('emergencyPhoneNumber')!=null}}"
															ng-blur="clickOnTab('professional','dateOfJoining')"
															ng-class="{'error-control':errorMap.get('emergencyPhoneNumber')!=null}"/>
														<span class="error-message" ng-show="errorMap.get('emergencyPhoneNumber')!=null">
				                                    		<small> {{errorMap.get('emergencyPhoneNumber')}} </small>
				                                   		</span>
										</div>
									</div>
								</div>										
							</div>
						</div>
						
					<!-- Personal Tab Ends  -->
						
						
						<!-- Documents Starts -->
						<div ng-show="Tabs=='documents'"><br/>
						  <div class="row nomargin noborder ">
                                  <attachment-section-simple
                                  		  is-edit = "true" is-delete = "true"
                                          table-data="employeeMaster.attachmentList"
                                          attachment-config="attachConfig"
                                          table-check="attachConfig.isAttachmentCheck"
                                          download-fn="downloadAttach(param)"
                                          fn-role="roleAccess(param)"
                                          add-role="$roleConstant.MASTER_HRMS_EMPLOYEE_DOCUMENTS_CREATE"
                                          edit-role="$roleConstant.MASTER_HRMS_EMPLOYEE_DOCUMENTS_MODIFY"
                                          delete-role="$roleConstant.MASTER_HRMS_EMPLOYEE_DOCUMENTS_DELETE"
                                          download-role="$roleConstant.MASTER_HRMS_EMPLOYEE_DOCUMENTS_DOWNLOAD">
                                  </attachment-section-simple>
							</div>
						</div>
						<!-- Documents Ends -->						
					</div>
					<!--TAB CONTENT ENDS-->
				</div>
				<!--wrapper ends-->
			</div>
			<!--panel body ends-->

		</div>
		<!--PANEL ENDS-->

	</div>
	<!--COLUMN 8 ENDS-->

</div>
<!--ROW ENDS-->
</div>
<!--CONTAINER FLUID ENDS-->