<div class="col-xs-12 pl0 pr0">
    <div class="row nomargin">
    	<a 	ng-show="attachmentConfig.isEdit" 
    		tabIndex="-1" href="javascript:void(0)" 
    		ng-click="fnRole({param:addRole})?addRow():''" 
    		class="btn btn-primary btn-xs btn-property accent-btn pull-left mb10">
        		<span class="icon-add"></span> Add Attachment
    	</a>
    </div>
    <div class="row nomargin">
		<div class="pl0 pr0" ng-class="attachmentConfig.tableSize?attachmentConfig.tableSize:'col-xs-12'">
			<div class="table-fixed table-responsive" ng-show="tableData.length>0 && !attachmentConfig.isEdit">
				<table class="table table-inline">
					  <thead class="borderthead">
						<tr>
							<th>#</th>
							<th class="inl_l" ng-repeat="headObj in attachmentConfig.columnDefs" 
							ng-class="headObj.width" >{{headObj.name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dataObj in tableData track by $index">
							<td class="inl_mpp" 
							ng-class="!attachmentConfig.isEdit?'tdcolor':''">{{$index+1}}</td>
							<td  ng-repeat="headObj in attachmentConfig.columnDefs" class="{{headObj.width}} rel"
								title="{{setValue(headObj.type,dataObj,headObj.model)}}">
								
								<span
								ng-class="{'icon-span-ellipsis':headObj.type=='file'}">
								<span ng-class="!attachmentConfig.isEdit?'tdcolor':' '">
								{{setValue(headObj.type,dataObj,headObj.model)}}</span>
								</span>
								<span ng-if="headObj.type=='file' && setValue(headObj.type,dataObj,headObj.model)" class="icon-with-ellipsis">
                                    <a data-placement="bottom"   bs-tooltip="downloadIcon" class="cursorPt">
                                        <i class="icon-download" ng-click="download(dataObj,headObj.model)"> </i> 
                                    </a>
								</span>
								
								<ul class="list-inline" ng-show="headObj.type=='action'">
									<li ng-show="attachmentConfig.isEdit">
										<a data-placement="bottom"   bs-tooltip="editIcon" class="cursorPt cur-pointer">
											<i class="icon-edit" ng-click="fnRole({param:updateRole})?editAttach(dataObj):''"></i> 
										</a>
									</li>
										<li ng-show="attachmentConfig.isEdit && attachmentConfig.isDelete">
											<a data-placement="bottom"   bs-tooltip="delete" class="cur-pointer cursorPt">
												<i class="icon-delete" ng-click="fnRole({param:deleteRole})?deleteAttach(dataObj):''"></i> 
											</a>
										</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				
			</div>
			<empty-record ng-show="tableData.length==0 && !attachmentConfig.isEdit" icon="attachments" text="Looks like there are no attachment records here"></empty-record>
			
            <div class="table-fixed table-responsive" ng-show="attachmentConfig.isEdit">
                <table class="table table-inline-nopad" tab-nav tab-row="addRow()" >
                    <thead class="borderthead">
	                    <tr>
	                        <th class="inl_sno">#</th>
	                        <th class="inl_m sam-inl_m">Document Name</th>
	                        <th class="inl_m sam-inl_m">Reference No<span class="reqColor">*</span> </th>
	                        <th class="inl_sm sam-inl_m">Customs</th>
							<th class="inl_sm sam-inl_m">Protected</th>
	                        <th class="inl_l sam-inl_xl">File</th>
	                        <th class="inl_xs sam-inl_sm">Action</th>
	                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dataObj in tableData track by $index">
                        <td ng-class="{'error-cell text-center':secondArr[$index].errRow}">
	                         <span ng-show="secondArr[$index].errRow" >
	                             <a tabindex="-1" href="javascript:void(0);" data-placement="right"   bs-tooltip="errorList" ng-click="errorShow(secondArr[$index],$index)" class="color-white" >
                                     <b class="glyphicon glyphicon-warning-sign"></b>
                                 </a>
	                         </span>
	                        <span ng-show="!secondArr[$index].errRow">
	                        	{{$index+1}}
	                        </span>
                        </td>
                        <td>
                            <div class="select-auto">
								<input type="text" 
									class="form-control" 
									input-focus="{{secondArr[$index].documentMaster || (firstFocus && $index==0)}}"
									id="{{indexKey+'attachDocument'+$index}}"
									autocomplete="off"
									ng-model="dataObj.documentMaster"
									uib-typeahead="lovObject as lovObject.documentName for lovObject in ajaxDocumentMaster($viewValue)"
									typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
									typeahead-show-hint="true" typeahead-show-loading="true" 
									 typeahead-select-on-exact="true" typeahead-append-to-body="true"
									typeahead-on-select="selectDocument(indexKey+'refNo'+$index, $index, dataObj)"
									typeahead-focus-on-select="false"
									typeahead-focus-first="true"
									typeahead-editable="false"
									typeahead-min-length="1" 
									typeahead-wait-ms="500" 
									ng-disabled="(!updateRole&&dataObj.id!=null)"
									>
								<span class="select-arrow"><b></b></span>	
                            </div>
                        </td>
                        <td>
                            <input type="text" id="{{indexKey+'refNo'+$index}}" 
                                   ng-model="dataObj.refNo" 
                                   class="form-control" 
                                   maxlength="100" 
                                   ng-trim="false"
                                   ng-disabled="(!updateRole&&dataObj.id!=null)">
                        </td>
                        <td>
                            <ul class="list-inline">
                                        <li ng-class="{'opc-5':dataObj.isCustoms}">No</li>
                                        <li class="v-align-top">
                                        	<switch tabIndex="0" 
                                        			id="{{'customs'+$index}}" 
                                        	        ng-model="dataObj.isCustoms" 
                                        	        class="green">
                                        	</switch>
                                        </li>
                                        <li ng-class="{'opc-5':!dataObj.isCustoms}">Yes</li>
                                    </ul>
                        	</td>
                        <td>
                            <ul class="list-inline">
                                        <li ng-class="{'opc-5':dataObj.isProtected}">No</li>
                                        <li class="v-align-top">
                                        	<switch tabIndex="0"
                                             		id="{{'isProtected'+$index}}" 
                                                    name="enabled"
                                                    ng-change="unprotectedAlert(dataObj)"
                                                    ng-model="dataObj.isProtected" 
                                                    class="green"
                                                    ng-change="changeIsProtected(dataObj)"
                                                    >
                                             </switch>
                                        </li>
                                        <li ng-class="{'opc-5':!dataObj.isProtected}">Yes</li>
							</ul>
                        </td>
                         <td>
                            <div class="flex flex-row">
                                <div class="width75per  disabled-box" ng-change="uploadAttach(dataObj.file, dataObj, $index)" ng-model="dataObj.file" ngf-drop ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">
                                
                                    <h6 class="nomargin">{{dataObj.fileName?dataObj.fileName:(dataObj.file!=null?dataObj.file.name:'Drag and drop here')}}</h6>
                                </div>
                                <div class="width18per">
                                    <a href="javascript:void(0);"
                                       ngf-select 
                                       ng-model="dataObj.file"
                                       ngf-multiple="true" 
                                       ngf-allow-dir="true"
                                       ngf-change="uploadAttach(dataObj.file, dataObj, $index)"
                                       class="btn btn-primary btn-property ml-5 browse-btn last-child"
                                       ng-disabled="(!updateRole&&dataObj.id!=null)">Browse</a>
                                </div>
                            </div>
                        </td>
                        <td class="verticalaln">
                            <ul class="list-inline deleteicon">
                                <li>
                                	<a data-placement="bottom" bs-tooltip="delete" class="cur-pointer cursorPt" ng-click="fnRole({param:deleteRole})?removeObj(dataObj,$index):''">
                                		<i class="icon-delete delicon"></i> 
                                	</a>
                                </li>
                                <li>
	                                	<a data-placement="bottom"   bs-tooltip="downloadIcon" class="cursorPt">
	                                		<span class="icon-download" ng-click="download(dataObj)"></span> 
	                                	</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
			
		</div>

	</div>
    <script type="text/ng-template" id="errorPopUp.html">
        <div class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header nopadding">
                        <div class="row plr14px">
                            <div class="col-xs-4">
                                <h4>Following Error List</h4>
                            </div>
                            <div class="col-xs-8 mt-7">
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body pt35 pb35">
                        <ul>
                            <li class="text-danger" ng-repeat="errObj in errList track by $index">{{errObj}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
