<div class="container-fluid resPortListPage resLandListPage">
	<div class="row nomargin">
		<div ng-show="vm.deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12">
			<div show-response></div>
			<div success-message></div>
			<!--panel starts-->
			<div class="panel panel-default" ng-click="showHistory=false">
				<div class="panel-heading flexTitle">
					<button type="button" class="btn btn-property accent-btn" ng-click=" vm.addNew()">
						<span class="icon-add"></span> Add Service Tax Charge Group
					</button>
				</div>
				<div class="panel-body p00 no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table data="vm.dataArr" head="vm.tableHeadArr" sort="vm.sortSelection" click-event="vm.rowSelect(param)" search-event="vm.changeSearch(param)"
						    sort-event="vm.sortChange(param)" page="vm.page" size="vm.limit">
						</super-table>
					</div>
				</div>
				<div class="panel-footer ">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="vm.limit" ng-change="vm.limitChange(vm.limit)" ng-options="v for v in vm.limitArr">
								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div>
						<div class="pull-right text-right">
							<pagination-dr page="vm.page" size="vm.limit" total="vm.totalRecord" page-change="vm.changepage(param)" class="pull-right"></pagination-dr>
						</div>
					</div>
				</div>
			</div>
			<!--Panel Ends-->
		</div>



		<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12 m-pl0 " ng-hide="!vm.stcGroupMasterView">
			<div class="panel panel-default detail-transition">
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom" bs-tooltip="back" href="javascript:void(0) "  ng-click="vm.backToList() " class="list-panel-back ">
									<i class="icon-back-menu "></i>
								</a>
							</span>
							<span>Service Tax Charge Group</span>
						</div>
					</div>
					<div>
						<ul class="list-inline text-right ">
							<li><a href="javascript:void(0) "
								ng-class="{ 'active-activityBtn':showHistory} "
								ng-click="vm.showHistory=!vm.showHistory "> <i
									class="icon-logs " data-placement="bottom " bs-tooltip="activity "></i>
							</a></li>

							<li><a href="javascript:void(0) "
								ng-click="vm.edit(vm.stcGroupMaster.id) "
								class="list-panel-edit-btn cursorPt "><i class="icon-edit "
									data-placement="bottom " bs-tooltip="editIcon "></i></a></li>

							<li><a data-placement="bottom " bs-tooltip="delete "
								href="javascript:void(0) "
								ng-click="vm.delete(vm.stcGroupMaster.id) "
								class="list-panel-edit-btn cursorPt "><i class="icon-delete "></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail " panel-height ng-nicescroll nice-option="{{ngScrollConfig}} ">
					<div class="detail-view " ng-click="vm.showHistory ">
						<div class="row metadata-detail ">
							<span>Service</span>
						<h5>{{vm.stcGroupMaster.serviceMaster.serviceName}}</h5>
						</div>

						<div class="row ">
							<ul class="list-inline ">
								<li class="col-xs-6 ">
									<span>Charge</span>
							<h5>{{vm.stcGroupMaster.chargeMaster.chargeName}}</h5>
								</li>
								<li class="col-xs-6 ">
									<span>Category</span>
									<h5>{{vm.stcGroupMaster.chargeMaster.chargeName}}</h5>
								</li>
							</ul>
						</div>
						<div class="row ">
							<ul class="list-inline ">
								<li class="col-xs-6 ">
									<span>Note</span>
								<h5>{{vm.stcGroupMaster.note}}</h5>
								</li>
							</ul>
						</div>
					</div>
					<div class="logs-view logs-transition " ng-show="vm.showHistory ">
						<div class="panel panel-default ">
							<div class="panel-heading ">
								<div class="pull-left ">
									<div class="panelTitle ">
										<span> <a href="javascript:void(0) "
											ng-click="vm.showHistory=false " class="list-panel-back "><i
												class="icon-close-detail " data-placement="bottom "
												bs-tooltip="close "></i></a>
										</span> <span>Activity</span>
									</div>
								</div>
							</div>
							<div class="panel-body logs-body " panel-height ng-nicescroll
								nice-option="{{ngScrollConfig}} ">
								<div class="card ">

									<ul class="list-inline card-cell ">
										<li><hm-init-icon
												customer-name="vm.stcGroupMaster.systemTrack.createUser "></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5 ">
												<li><b>{{vm.stcGroupMaster.systemTrack.createUser |
														uppercase}}</b> - Created an item</li>
												<li class="span text-muted ">{{dateAndTimeToString(vm.countryMaster.systemTrack.createDate)}}</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="card ">
									<ul class="list-inline card-cell ">
										<li><hm-init-icon
												customer-name="vm.stcGroupMaster.systemTrack.lastUpdatedUser "></hm-init-icon>
										</li>
										<li>
											<ul class="list-unstyled mt-5 ">
												<li><b>{{vm.stcGroupMaster.systemTrack.lastUpdatedUser
														| uppercase}}</b> - Updated an item</li>
												<li class="span text-muted ">{{dateAndTimeToString(vm.stcGroupMaster.systemTrack.lastUpdatedDate)}}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>