<div class="container-fluid resLandAddPage resPortAddPage">
    <div class="row ">
        <div class="col-md-12 col-lg-7 col-sm-12 col-xs-12" data-ng-init="init()">
            <form role="form" id="currencyrateMasterform" name="currencyrateMasterform" ng-submit="currencyrateMasterform.$valid && currencyrateMaster.id!=null?update():save()">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{pageAction}} Currency Rate</h4>
                        </div>
                        <div>
                            <div class="btngrp">

                                <button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel
                                </button>

                                <input type="submit" class="btn accent-btn" ng-value="pageAction=='Edit'?'Update':'Save'">

                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit" id="currencyrate-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>

                            <div><span class="reqColor">*</span>
                                <small class="opc-5 f-12b4"> Indicates Mandatory fields</small>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-4 col-lg-3 col-xs-6 col-sm-4 form-group nomargin pl0 ">

                                <label class="custom-label ">Date<span class="reqColor">*</span></label>

                                <div class="inputBox">
                                    <input type="text"  class="form-control" ng-model="currencyDate" ng-change="validateEnquiryLog(2)" datetimepicker datetimepicker-options="{{datePickerOptions}}">
                                    <span class="inputIcon"><i class="icon-date" aria-hidden="true"></i></span>
                                    <span class="error-message" ng-show="errorMap.get('loggedOn')!=null">
                                    	<small>{{errorMap.get('loggedOn')}} </small>
                                   	</span>
                                </div>

                            </div>
                        </div>
                        <div class="row noborder">
                            <div class="col-md-7 col-sm-8 nomargin currency-rate-wrapper currenty-rate-ipod" ng-repeat="currencyRate in currencyRateMasterDataArrr">
                                <label class="custom-label ">To Currency<span class="reqColor">*</span></label>
                                <div class="select-auto">
									<input type="text" class="form-control" input-focus="true"
										autocomplete="off" ng-model="currencyRate.toCurrency"
										uib-typeahead="lovObject as lovObject.currencyName for lovObject in ajaxCurrencyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
										typeahead-on-select="selectedCurrency('buyRate',$index);"
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
										<span class="select-arrow"><b></b></span>
								</div>

                                <div>
                                    <span class="error-message" ng-show="errorMap.get($index+toCurrencyMessageKey)!=null "><small>
                                        {{errorMap.get($index+toCurrencyMessageKey)}}
                                    </small></span>
                                </div>
                                <div class="close-currency-rate" ng-show="cancelShow">
                                    <a data-placement="bottom"   bs-tooltip="close" ng-if="!$first" href="javascript:void(0);" ng-click="removeList($index)"><i
                                            class="icon-close-detail mapping-icon"></i></a>
                                </div>

                                <div class="form-group col-xs-6 nomargin  pt10 pl0">
                                    <label class="custom-label ">Buy Rate<span class="reqColor">*</span></label>
                                    <div class="input-group fsl-input-group">
                                        <input class="form-control text-right" id="buyRate{{$index}}" 
                                        
                                        ng-model="currencyRate.buyRate" maxlength="12" ng-change="validateCurrencyRateMaster(2)" ng-class="{'error-control':errorMap.get($index+buyRateMessageKey)!=null}">
                                        <span class="input-group-addon">{{currencyRate.fromCurrency.currencyCode}}</span>
                                    </div>
                                    <div>
                                        <span class="error-message" ng-show="errorMap.get($index+buyRateMessageKey)!=null"><small>{{errorMap.get($index+buyRateMessageKey)}}</small></span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-6 nomargin pt10 pr0">
                                    <label class="custom-label ">Sell Rate<span class="reqColor">*</span></label>
                                    <div class="input-group fsl-input-group">
                                        <input class="form-control text-right" 
                                      
                                        ng-model="currencyRate.sellRate" maxlength="12" ng-change="validateCurrencyRateMaster(3)" ng-class="{'error-control':errorMap.get($index+sellRateMessageKey)!=null}">
                                        <span class="input-group-addon">{{currencyRate.fromCurrency.currencyCode}}</span>

                                    </div>
                                    <div>

                                        <span class="error-message" ng-show="errorMap.get($index+sellRateMessageKey)!=null"><small>{{errorMap.get($index+sellRateMessageKey)}}</small></span>
                                    </div>
                                </div>

                            </div>
                            <!--row ends-->
                        </div>
                        <div class="row noborder">

                            <div class="col-md-7 col-sm-8 nomargin pr0">
                                <button type="button" class="btn btn-primary btn-xs btn-property accent-btn pull-right" ng-click="addCurrency()">
                                    <span class="icon-add"></span> Add Another
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
                <!--panel ends-->
            </form>

        </div>

    </div>
</div>