<div class="container-fluid resPortAddPage resLandAddPage">
	<div class="row ">
		<div class=" col-sm-12 col-xs-12 col-md-12 col-lg-7">
			<form role="form" name="vm.gradeMasterForm">
				<div class="panel panel-default masOpertion">
					<div class="panel-heading flexTitle">
						<div>
							<h4>{{vm.gradeMaster.id==null?'Add Grade':'Edit Grade'}}</h4>
						</div>
						<div>
							<div class="btngrp">
								<button type="button" class="btn cancel-btn"
									ng-click="vm.cancel()">Cancel</button>
								<button type="button" class="btn accent-btn"
									ng-click="vm.saveOrUpdate()">
									{{vm.gradeMaster.id==null?'Save':'Update'}}</button>

							</div>
						</div>
					</div>
					<div class="panel-body half-master-edit " panel-height
						ng-nicescroll nice-option="{{ngScrollConfig}}">
						<div class="pad-15">
							<div show-response></div>
							<div>
								<span class="reqColor">*</span> <small class="opc-5 f-12b4">
									Indicates Mandatory Fields</small>
							</div>
						</div>
						<div class="row ">
							<div
								class="col-sm-7 col-xs-7 col-md-7 col-lg-7 form-group nomargin pl0">
								<label class="custom-label">Name<span class="reqColor">*</span></label>
								<input type="text" class="form-control" input-focus="true"
									maxlength="100" id="gradeName"
									ng-class="{'error-control':errorMap.get('gradeName')!=null}"
									ng-change="vm.validate('gradeName', 1)"
									ng-model="vm.gradeMaster.gradeName" /> 
							<span class="error-message" ng-show="vm.errorMap.get('gradeName')!=null">
									<small>{{vm.errorMap.get('gradeName')}}</small>
						    </span>
							</div>
						</div>
						<div class="row ">
						 <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7 nomargin pl0">
                                <div class="form-group nomargin pl0">
                                    <label class="custom-label">Priority<span class="reqColor">*</span></label>
                                    <div class="select-auto">
                                                    <input type="text"
                                                           id="priority"
                                                           on-select="vm.validate('priority',2)"
                                                           auto-complete-manual
                                                           ng-model="vm.gradeMaster.priority"
                                                           item-data="vm.priorityArr"
                                                           class="form-control"/>
                                                </div>
                                <span class="error-message" ng-show="vm.errorMap.get('priority')!=null">
									 <small>{{vm.errorMap.get('priority')}}</small>
								</span>
                                </div>
                            </div>
                            </div>
						
                         <div class="row ">
                               <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Color Code</label>
                               <input id="colorCode" 
                                      type="color"  
                                      class="form-control"
                                      ng-model="vm.gradeMaster.colorCode" 
                                      ng-change = "vm.processColor('colorCode')"/>
							</div>	
                         </div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
