<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog width85per" >
        <div class="modal-content">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>Track Shipment Order</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li><button type="button" tabindex="5" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body">
				<div >	
				<div class="row mtb-15" >
				<div class="col-md-12 col-xs-12">		
						
        <ul class="progress-indicator">
            <li class="completed" data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                Booking Date<br/><small>01-04-2017</small>
            </li>            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                Pickup Date<br/><small>02-04-2017</small>
            </li>
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                Cargo Received Date<br/><small>02-04-2017</small>
            </li>
            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETD <br/><small>Chennai(MAA)</small>
            </li>
            
             <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETA <br/><small>Bangalore(BLR)</small>
            </li>
             <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETD <br/><small>Bangalore(BLR)</small>
            </li>
            
             <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETA <br/><small>Dubai(UAE)</small>
            </li>
            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETD <br/><small>Dubai(UAE)</small>
            </li>
            
            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                ETA <br/><small>Canada(CAN)</small>
            </li>
            
             <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                CAN Date <br/><small>12-04-2017</small>
            </li>
                        
            
            <li data-placement="top" bs-tooltip="activity">
                <span class="bubble"></span>
                Delivery Date <br/><small>14-04-2017</small>
            </li>           
            
            
        </ul>

					</div>
				</div>
				</div>
            </div>
        </div>
    </div>
</div>
