<!-- Booking Details Starts Here -->
<div class="row normargin">
   <div class="col-xs-12 pl0 pr0">
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">
      <span>Booking Person</span>
                               <h6>{{ifDataElseHifen(shipmentServiceDetail.customerService.employeeName)}}</h6>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">
       <span>Co-loader</span>
                               <h6>{{ifDataElseHifen(shipmentServiceDetail.coLoader.partyName)}}</h6>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">
      <span>Division</span>
             <h6>{{ifDataElseHifen(shipmentServiceDetail.division.divisionName)}}</h6>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">
       <span>Project</span>
             <h6>{{ifDataElseHifen(shipmentServiceDetail.project.projectName)}}</h6>
      </div>
   </div>
</div>
<!-- Booking Details ENds Here -->
<!-- Cargo Pack and Dimension Details Starts Here -->
<div class="row">
   <div class="col-xs-12 pl0 pr0">
      <div class="panel-body nopadding">
         <div class="mb0 bor-b-0  pb0">
            <div>
               <div ng-click="packsInfo=!packsInfo"
							ng-init="packsInfo=true"  ng-class="shipment.id!=null || $uiShipmentDataService.packAndDimensionStatus(shipmentServiceDetail)?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{shipment.id!=null || $uiShipmentDataService.packAndDimensionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}">Packs & Dimension Info</h5>
							</div>
							<div>
								<i  style="color:{{shipment.id!=null || $uiShipmentDataService.packAndDimensionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}" class="{{packsInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		      </div>
               <div class=" pt0 fx-fade-normal fx-ease-sin " ng-hide="!packsInfo">
                  <div class="row nomargin nopadding">
                     <div class="pt5 clearfix">
                        <div class="col-xs-12 pl0 pr0">
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                            <span>Pack</span>
                             <h6>{{ifDataElseHifen(shipmentServiceDetail.packMaster.packName)}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                               <span>No of Pieces</span>
                             <h6>{{integerFormat(shipmentServiceDetail.bookedPieces,shipmentServiceDetail.country.locale)}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group" ng-if="dynamicFormFieldMap.get('Shipment > Service > LBS')=='true'">
                               <span>Gross Weight (LBS)</span>
                             <h6>{{weightFormat(shipmentServiceDetail.bookedGrossWeightUnitPound,shipmentServiceDetail.country.locale)}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group" ng-if="dynamicFormFieldMap.get('Shipment > Service > LBS')=='true'">
                             <span>Volume Weight (LBS)</span>
                             <h6>{{weightFormat(shipmentServiceDetail.bookedGrossWeightUnitPound,shipmentServiceDetail.country.locale)}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                              <span>Gross Weight (KG)</span>
                             <h6>{{weightFormat(shipmentServiceDetail.bookedGrossWeightUnitKg,shipmentServiceDetail.country.locale)}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                            <span>Volume Weight (KG)</span>
                             <h6>{{weightFormat(shipmentServiceDetail.bookedVolumeWeightUnitKg,shipmentServiceDetail.country.locale)}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                            <span>Chargeable Weight (KG)</span>
                             <h6>{{weightFormat(shipmentServiceDetail.bookedChargeableUnit,shipmentServiceDetail.country.locale)}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                               <span>Volume (CBM)</span>
                             <h6>{{weightFormat(shipmentServiceDetail.bookedVolumeUnitCbm,shipmentServiceDetail.country.locale)}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                            <span>Haz</span>
			      <h6>{{ifDataElseHifen((shipmentServiceDetail.hazardous?'Yes':'No'))}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                                                       <span>Over Dimension</span>
			      <h6>{{ifDataElseHifen((shipmentServiceDetail.overDimension?'Yes':'No'))}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                              <span>Hold</span>
			      <h6>{{ifDataElseHifen((shipmentServiceDetail.holdShipment?'Yes':'No'))}}</h6>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                            <span>Minimum Shipment</span>
			      <h6>{{ifDataElseHifen((shipmentServiceDetail.isMinimumShipment?'Yes':'No'))}}</h6>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row nomargin nopadding bor-0 ">
                     <hr class="nomargin">
                  </div>
                  <div class="row nomargin">
                  </div>
                  <div class="row nomargin">
                     <div class="col-md-6 pt5 ">
                      <span>Hold Note</span>
                             <h6>{{ifDataElseHifen(shipmentServiceDetail.holdNote)}}</h6>
                     </div>
                     <div class="col-md-6 pt5">
                            <span>Hold Release Note</span>
                             <h6>{{ifDataElseHifen(shipmentServiceDetail.holdReleaseNote)}}</h6>
                     </div>
                  </div>
                  <div class="row nomargin">
                  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
									<span>Sell Rate</span>
									<h6>{{currencyFormat(shipmentServiceDetail.localCurrency,shipmentServiceDetail.documentList[0].ratePerCharge)}}</h6>
							</div>
                            
                                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                                    <span>Dimension Unit</span>
                                    <h6>{{shipmentServiceDetail.documentList[0].dimensionUnit==false?'Centimeter / Kilos':'Inch / Pounds'}}</h6>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 form-group">
                                    <span>Dimension Value</span>
                                    <h6>{{integerFormat(shipmentServiceDetail.documentList[0].dimensionUnitValue,shipmentServiceDetail.country.locale)}}</h6>
                                </div>
                            
  
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row shade3 pl0 pr0">

	

  <!--ROW ENDS-->
                        
                        

		<div class="col-xs-12 pl0 pr0">


			<div class="panel-body nopadding">
				<div class="mb0 bor-b-0  pb0">

					<div class=" ">

						<div ng-click="dimensionInfo=!dimensionInfo"
							ng-init="dimensionInfo=true"  ng-class="$uiShipmentDataService.dimensionStatus(shipmentServiceDetail)?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$uiShipmentDataService.dimensionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}">Dimensions</h5>
							</div>
							<div>
								<i  style="color:{{$uiShipmentDataService.dimensionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}" class="{{dimensionInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
		              </div>
						
						<div class=" pt0 fx-fade-normal fx-ease-sin mt10 marginlr15px mb-5"
							ng-hide="!dimensionInfo">
							<div class="row nomargin nopadding">
								       <div class="col-xs-12 pl0 pr0 table-responsive" ng-show="shipmentServiceDetail.documentList[0].dimensionList!=null && shipmentServiceDetail.documentList[0].dimensionList.length!=0">
                                <table class="table table-inline" >
                                    <thead class="borderthead">
                                    <tr>
                                        <th class="inl_sno">#</th>
                                        <th class="text-right inl_m" style="text-transform: inherit !important;">No of Pieces</th>
                                        <th class="text-right inl_m">Length(in)</th>
                                        <th class="text-right inl_m">Width(in)</th>
                                        <th class="text-right inl_m">Height(in)</th>
                                        <th class="text-right inl_m">Volume Weight(KG)</th>
                                        <th class="text-right inl_m">Gross Weight(LBS)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="dimensionObj in shipmentServiceDetail.documentList[0].dimensionList">
                                        <td>{{serialNo($index)}}</td>
                                        <td class="text-right">{{integerFormat(dimensionObj.noOfPiece,shipmentServiceDetail.country.locale) }}</td>
										<td class="text-right">{{integerFormat(dimensionObj.length,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{integerFormat(dimensionObj.width,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{integerFormat(dimensionObj.height,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{weightFormat(dimensionObj.volWeight,shipmentServiceDetail.country.locale)}}</td>
										<td class="text-right">{{weightFormat(dimensionObj.grossWeight,shipmentServiceDetail.country.locale)}}</td>

                                    </tr>
                                    </tbody>
                                    <tfoot class="bg-danger" style="border:1px solid #F8DDAD">
                                    <tr>
                                        <td class="text-right">Total</td>
                                        <td class="text-right">{{integerFormat(shipmentServiceDetail.documentList[0].dimensionNoOfPieces,shipmentServiceDetail.country.locale)}}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">{{weightFormat(shipmentServiceDetail.documentList[0].dimensionVolumeWeight,shipmentServiceDetail.country.locale)}}</td>
                                        <td class="text-right">{{weightFormat(shipmentServiceDetail.documentList[0].dimensionGrossWeight,shipmentServiceDetail.country.locale)}}</td>

                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <empty-record ng-show="!shipmentServiceDetail.documentList[0].dimensionList || shipmentServiceDetail.documentList[0].dimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

<!-- Cargo Pack and Dimension Details Starts Here -->