<div class="row nomargin ">
	<div class="col-xs-12 pl0 pr0">
		<div class="col-xs-3 mtb-15" ng-if="dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Party')==true || dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Party')=='true'">
			<span>Brokerage {{appMasterData['Party_Label']}}</span>
             <h6>{{ifDataElseHifen(shipmentServiceDetail.brokerageParty.partyName)}}</h6>
		</div>
		<div class="col-xs-3 mtb-15" ng-if="dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Percentage')==true || dynamicFormFieldMap.get('Shipment > Service > Rate > Brokerage Percentage')=='true'">
					<span>Brokerage Percentage</span>
             <h6>{{ifDataElseHifen(shipmentServiceDetail.brokeragePercentage)}}</h6>
			</div>
		</div>
	</div>
<div class="row nomargin">
	<div class="col-xs-12 pr0 pl0">
		<div class="col-xs-12 mtb-15 mt-5 nopadding">
                        <div ng-include="'app/components/crm/shipment/views/rate_display.html'"></div>
          </div>
	</div>
</div>

<div class="rows clearfix">
	<hr class="nomargin">
</div>

<div class="row nomargin" ng-show="shipmentServiceDetail.serviceMaster.importExport=='Export' && shipmentServiceDetail.origin.portGroupMaster.countryMaster.countryCode=='US' && shipmentServiceDetail.id!=null">
<div class="pb10">
<div class="col-xs-2"   style="margin-top: 3px !important;margin-bottom: 10px;" 
					ng-show="dynamicFormFieldMap.get('Shipment > AES No')=='true'">
 <span>AES No</span>
             <h6>{{ifDataElseHifen(shipmentServiceDetail.aesNo)}}</h6>
                       	 <div>
						</div>
					</div>
</div>


<div class="col-xs-12 nopadding ">
<div class="row">
              <h5 class="title">AES</h5>   
          </div></div>


    <div class="col-xs-12 mt5 nopadding" ng-show="shipmentServiceDetail.serviceMaster.importExport=='Export' && shipmentServiceDetail.origin.portGroupMaster.countryMaster.countryCode=='US' && shipmentServiceDetail.id!=null">
        <div  class="table-responsive">
            <table class="table table-inline">
                <thead>
                <tr>
                    <th class="inl_sno">#</th>
                    <th class="inl_m">Shipper</th>
                    <th class="inl_sm">Service ID</th>
                    <th class="inl_m">Consignee</th>
                    <!-- <th class="inl_m">Origin State</th>
                    <th class="inl_m">Destination Country</th> -->
                    <th class="inl_mp">Status</th>
                    <!-- <th class="inl_mp">Last Action</th>
                    <th class="inl_sm">AES ITN No</th>
                    <th class="inl_mp">AES Status</th> -->
                    <th class="inl_s">Action 
                    
                    </th>
                </tr>
                </thead>
                <tbody class="bor-0">
              
                <tr ng-repeat = "aesFile in finalArr | filter:aesSearch:startsWith track by $index " >
                    <td class="text-center " title="">{{$index+1}}</td>
                    <td class="tdtext-wrap" title="{{aesFile.shipperName}}">{{aesFile.shipperName}}</td>
                    <td class="tdtext-wrap" title="{{aesFile.serviceUid}}"><a ng-click="goToShipmentViewByServiceUid(aesFile.serviceUid)" href="javascript:void(0)" class=" hyperLink text-blue">{{aesFile.serviceUid}}</a></td>
                    <td class="tdtext-wrap" title="{{aesFile.consigneeName}}">{{aesFile.consigneeName}}</td>
                    <!-- <td class="tdtext-wrap" title="Newyork">{{aesFile.originStateName}}</td>
                    <td class="tdtext-wrap" title="India">{{aesFile.destinationCountryName}}</td> -->
                    <td class="tdtext-wrap" title="{{aesFile.status}}">{{aesFile.status}}</td>
                    <!-- <td class="tdtext-wrap" title="Add">{{aesFile.aesAction}}</td>
                    <td class="tdtext-wrap " title="">{{aesFile.aesItnNo}}</td>
                    <td class="tdtext-wrap">{{aesFile.aesStatus}}</td> -->
                    <td><!-- <input type="button"  ng-class="myClass"  title="Click here to generate AES"   class="btn btn-xs btn-property accent-btn" value="{{aesFile.status == 'Generate'?'Generate':'Update'}}" ng-click="aesFile.status=='Generate'?aesGenerateAdd(aesFile):aesGenerateView(aesFile)" /> -->
                     <!-- <input type="checkbox"  ng-model="aesFile.isSelected" ng-show="aesFile.status !='Update'" ng-change="chkAesStatus(aesFile.isSelected, aesFile);" id="aes"> -->
                     <input type="button"  ng-class="myClass"  title="Click here to generate all AES"  ng-show="aesFile.status =='Active'"    class="btn btn-xs btn-property accent-btn" value="Generate AES" ng-click="generateAllAes()" />
                    <input type="button"  ng-class="myClass"  title="Click here to generate AES"   class="btn btn-xs btn-property accent-btn" ng-show="aesFile.status =='Generated'"  value="Update AES" ng-click="aesGenerateView(aesFile)" />
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
