<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 mb-10">
                    <div class="flexTitle">
                        <div>
                            <div class="btngrp">
                                <button type="button" class="btn btn-xs btn-property btn-gray" ng-click="back()"><span class="icon-back-menu"></span>Back</button>
                                <button ng-show="showActionButton" type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="add()">
                            <span class="icon-add"></span> Add Shipment</button>
                            </div>
                        </div>


                        <!-- <div>
                        <ul class="list-inline" ng-show="showActionButton">
                            <li>
                                <ul class="list-inline li-p0">
                                    <li>{{searchDto.selectedPageNumber+1}}</li>
                                    <li>of</li>
                                    <li>{{searchDto.totalRecord}}</li>
                                </ul>
                            </li>
                            <li class="pr0">
                                <ul class="list-inline next-prev">
                                    <li  ng-click="singlePageNavigation(-1)"><i class="icon-r-arrow"  aria-hidden="true"></i></li>
                                    <li  ng-click="singlePageNavigation(1)"><i class="icon-r-arrow" aria-hidden="true"></i></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->
                    </div>
                </div>
            </div>

            <!-- Panel Starts Here -->
            <div class="panel panel-default masOpertion page-style">
                <div class="panel-heading">

                    <section class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <h4 class="enqft">Shipment ID: <span class="enqft">{{shipment.shipmentUid!=null?shipment.shipmentUid:'-'}}</span></h4>

                        </div>
                        <div class="col-xs-0 col-sm-3 col-md-3 col-lg-3 hidden-xs">
                            <h4><span class="enqft">{{shipment.shipmentReqDate!=null?dateAndTimeToString(shipment.shipmentReqDate):'-'}}</span></h4>
                        </div>
                        <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6 pad-Pl0 pad-Pr0">
                            <ul class="list-inline pull-right masopertion-action mt-5">

                                <li><button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="trackmodel(shipment.id)">Milestone</button></li>

                                <li class="nomargin nopadding" ng-show="showActionButton">
                                    <input class="magic-checkbox" type="checkbox" ng-model="shipment.statusChange" ng-disabled="shipment.lastUpdatedStatus.shipmentStatus=='Cancelled'" ng-change="shipmentStatusCancelled(shipment)" id="markOption">
                                    <label class="text custom-label text-inherit enqft" for="markOption">
                                    {{!markOption?'Cancel':'Cancelled'}}
                                </label>
                                </li>
                                <li class=" nomargin nopadding">
                                    <a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory" class="list-panel-edit-btn btn-icon">
                                        <i class="icon-logs" data-placement="bottom" bs-tooltip="activity" style="font-size:14px !important;"></i>
                                    </a>
                                </li>
                                <li class=" nomargin nopadding">
                                    <a data-placement="bottom" bs-tooltip="editIcon" href="javascript:void(0)" ng-click="edit()" class="btn-icon" ng-hide="shipment.statusChange">
                                        <i class="icon-edit" style="font-size:14px !important;"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </section>

                </div>
                <!--panel heading ends-->
                <!-- Panel Body Starts Here -->
                <div class="panel-body pt0 pb0 mb0 " style="padding-bottom: 0px !important;" ng-click="showHistory=false">
                    <client-error message="clientMessage"></client-error>
                    <div show-response></div>
                    <div class="wrapper">
                        <!-- Service List Row Starts Here -->
                        <div class="row">
                            <div class="col-xs-12 plr0">
                                <div class="tabs">
                                    <ul class="list-inline chromeTabs ml0">
                                        <li class="cur-pointer" ng-repeat="shipmentServiceDetail in shipment.shipmentServiceList track by $index" ng-show="shipmentServiceDetail.location.id==userProfile.selectedUserLocation.id" ng-click="changeShipmentServiceView($index,'serviceRouting')" title="{{shipmentServiceDetail.id!=null?(shipmentServiceDetail.lastUpdatedStatus.serviceStatus+' : '+shipmentServiceDetail.serviceMaster.serviceName):'New Service'}}"
                                            ng-class="{'tabActive':selectedShipmentServiceIndex==$index}">
                                            <i class="fa fa-star starrate" id="{{'blinker'+$index}}" style="color:{{shipmentServiceDetail.party.gradeMaster.colorCode}} !important;" ng-show="shipmentServiceDetail.party.gradeMaster!=null && shipmentServiceDetail.party.gradeMaster.priorityValue<=5"
                                                data-placement="top" bs-tooltip="Rating"></i> {{shipmentServiceDetail.id!=null?(shipmentServiceDetail.lastUpdatedStatus.serviceStatus+' : '+shipmentServiceDetail.serviceMaster.serviceName):'New
                                            Service'}}
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!-- Service List Row Ends Here -->

                        <!-- Group Row Starts Here -->
                        <div ng-repeat="shipmentServiceDetail in shipment.shipmentServiceList track by $index" ng-show="selectedShipmentServiceIndex==$index">
                            <div class="row blue-shade" ng-if="shipmentServiceDetail.serviceMaster != undefined && shipmentServiceDetail.serviceMaster != null && shipmentServiceDetail.serviceMaster.importExport=='Export'" ng-include="'app/components/crm/new-shipment/view_templates/ui-s-aeflow-view.html'">
                                <!--  -->
                            </div>
                            <div class="row blue-shade" ng-if="shipmentServiceDetail.serviceMaster != undefined && shipmentServiceDetail.serviceMaster != null && shipmentServiceDetail.serviceMaster.importExport=='Import'" ng-include="'app/components/crm/new-shipment/view_templates/ui-s-aiflow-view.html'">
                            </div>
                            <div class="row nopadding edit-bodyViewTab" panel-height id="{{'service-panel-'+$index}}" ng-nicescroll nice-scroll-object="niceObject" nice-option="{{ngScrollConfig}}">
                                <div class="col-md-12">
                                    <div class="tab-content pb0 shade3 " set-tab-height>

                                        <div ng-show="shipmentTab=='serviceRouting'" ng-include="'app/components/crm/new-shipment/view_templates/ui-s-servicerouting-view.html'">
                                        </div>

                                        <div ng-show="shipmentTab=='cargoDetails'" ng-include="'app/components/crm/new-shipment/view_templates/ui-s-cargodetails-view.html'">
                                        </div>

                                        <div ng-show="shipmentTab=='hawb'">
                                            <div ng-include="'app/components/crm/new-shipment/view_templates/ui-s-hawb-view.html'"></div>
                                        </div>
                                        <div ng-show="shipmentTab=='pickupDelivery'" ng-include="'app/components/crm/new-shipment/view_templates/ui-s-pickupdelivery-view.html'">
                                        </div>

                                        <div ng-show="shipmentTab=='aes&Rates'" ng-include="'app/components/crm/new-shipment/view_templates/ui-s-aes-view.html'">
                                        </div>

                                        <div ng-show="shipmentTab=='others'" ng-include="'app/components/crm/new-shipment/view_templates/ui-s-others-view.html'">
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="logs-view  width42per widP55per widL55per logs-transition bg-white" ng-show="showHistory">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                <div class="flex align-justify align-middle">
                                                    <div>
                                                        <a href="javascript:;">
                                                            <span class="icon-close-detail" ng-click="showHistory=false"></span>
                                                            <a data-placement="bottom" bs-tooltip="close" href="javascript:void(0)" class="list-panel-back"></a>
                                                            <span>Activity</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 pt15">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class=" ">
                                                        <div class="col-xs-6">
                                                            <span class="text-muted">Last Modified this Shipment</span>
                                                            <div class="card">
                                                                <ul class="list-inline card-cell">
                                                                    <li>
                                                                        <hm-init-icon customer-name="shipment.systemTrack.lastUpdatedUser"></hm-init-icon>
                                                                    </li>
                                                                    <li>
                                                                        <ul class="list-unstyled mt-5">
                                                                            <li>{{shipment.systemTrack.lastUpdatedUser|uppercase}}</li>
                                                                            <li class="span text-muted">{{dateAndTimeToString(shipment.systemTrack.lastUpdatedDate)}}</li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <span class="text-muted">Created this Shipment</span>
                                                            <div class="card">
                                                                <ul class="list-inline card-cell">
                                                                    <li>
                                                                        <hm-init-icon customer-name="shipment.systemTrack.createUser"></hm-init-icon>
                                                                    </li>
                                                                    <li>
                                                                        <ul class="list-unstyled mt-5">
                                                                            <li>{{shipment.systemTrack.createUser | uppercase}}</li>
                                                                            <li class="span text-muted">{{dateAndTimeToString(shipment.systemTrack.createDate)}}</li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Group Row Ends Here -->


                    </div>
                </div>


            </div>

            <!-- Panel Body Ends Here -->
            <modal-spinner spinner-status="spinner"></modal-spinner>
        </div>
        <!--panel ends-->


    </div>
    <!--column ends-->
</div>
<!--row ends-->
<script type="text/ng-template" id="holdStatusNote.html">
    <div class="modal" role="dialog" id="statusNote">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header nopadding">
                    <div class="row plr14px">
                        <div class="col-xs-6">
                            <h4>Reason for hold</h4>
                        </div>
                        <div class="col-xs-6 mt-7">
                            <ul class="list-inline pull-right">
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property cancel-btn mr0" ng-click="$hide()">Cancel</button> </li>
                                <li class="plr0"><button type="button" class="btn btn-primary btn-xs btn-property accent-btn ml0" ng-click="saveForHold(popUpNote)">Save</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body minH-180">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="form-group">

                                <textarea class="form-control minH-180" id="reasonfornote" ng-model="popUpNote" maxlength="255" ng-class="{'error-control':secondArr[$index].note}" ng-focus="dirtyIndex($index)" ng-disabled="statusUpdateObj.id!=null">
                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>