<div class="row"
		ng-repeat="documentDetail in shipmentServiceDetail.documentList track by $index">
		<div class="col-xs-12 pl0 pr0">
			<div class="panel panel-default bor-0">
				<div class="panel-body nopadding">
					<!-- Customer Info Starts Here -->
					<div class="mb0 bor-b-0  pb0">

						<div class="row nomargin nopadding">

							<div ng-click="partyIfo=!partyIfo" ng-init="partyIfo=true"
								ng-class="$uiShipmentDataService.hawbCustomerInfoStatus(documentDetail)?'done-approve':''"
								class=" mb0 cursorPt flex align-justify align-middle title">
								<div>
									<h5
										style="color: {{$uiShipmentDataService.hawbCustomerInfoStatus(documentDetail)?'#fff !important':'#000 !important;'">{{appMasterData['Party_Label']}}
										Info</h5>
								</div>
								<div>
									<i
										style="color: {{$uiShipmentDataService.hawbCustomerInfoStatus(documentDetail)?'#fff !important':'#000 !important;'"
										class="{{partyIfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
								</div>
							</div>

							<div class="fx-fade-normal fx-ease-sine nopadding"
								ng-hide="!partyIfo">


								<div class="col-xs-12 mtb-5 "
									ng-show="documentDetail.id!=null && (shipmentServiceDetail.directShipment==false || shipmentServiceDetail.directShipment=='No') && shipmentServiceDetail.serviceMaster.importExport=='Export'"
									ng-controller="hawbController">
									<button ng-disabled="disableSubmitBtn"
										class="btn green-btn pull-right" style="margin-bottom: 6px;"
										ng-show="documentDetail.id!=null" type="button"
										ng-click="previewReport(shipment,shipmentServiceDetail.shipmentUid,documentDetail.id,'HAWB',shipmentServiceDetail.id,false)">Preview
										HAWB Report</button>
								</div>



								<div class="row ptb10">
									<div class="col-xs-12 ">
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
										
												<div class="col-xs-12 new-shade">
													<span>Shipper</span>
													<div ng-show="documentDetail.shipper.id !=null">
														<div class="select-auto">
															{{documentDetail.shipper.partyName}}</div>

														<div>{{documentDetail.shipperAddress.addressLine1}}</div>

														<div>{{documentDetail.shipperAddress.addressLine2}}</div>

														<div>{{documentDetail.shipperAddress.addressLine3}}</div>

														<div>{{documentDetail.shipperAddress.addressLine4}}</div>

														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label> {{documentDetail.shipperAddress.email}}
														</div>


														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> {{documentDetail.shipperAddress.mobile}}
														</div>
														</div>
														</div>

										</div>





										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
										
												<div class="col-xs-12 new-shade">
													<span>Consignee</span>
													<div ng-show="documentDetail.consignee.id !=null">
														<div class="select-auto">
															{{documentDetail.consignee.partyName}}</div>

														<div>{{documentDetail.consigneeAddress.addressLine1}}</div>

														<div>{{documentDetail.consigneeAddress.addressLine2}}</div>

														<div>{{documentDetail.consigneeAddress.addressLine3}}</div>

														<div>{{documentDetail.consigneeAddress.addressLine4}}</div>

														<div ng-show="documentDetail.consigneeAddress.email!=null">
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label> {{documentDetail.consigneeAddress.email}}

														</div>

														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> {{documentDetail.consigneeAddress.mobile}}
														</div>

													</div>
											
											</div>
										</div>



										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
											
												<div class="col-xs-12 new-shade">
													<span>Notify Customer 1</span>
													<div ng-show="documentDetail.firstNotify.id !=null">
														<div class="select-auto">
															{{documentDetail.firstNotify.partyName}}</div>

														<div>{{documentDetail.firstNotifyAddress.addressLine1}}</div>

														<div>{{documentDetail.firstNotifyAddress.addressLine2}}</div>

														<div>{{documentDetail.firstNotifyAddress.addressLine3}}</div>

														<div>{{documentDetail.firstNotifyAddress.addressLine4}}</div>

														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label> {{documentDetail.firstNotifyAddress.email}}

														</div>

														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> {{documentDetail.firstNotifyAddress.mobile}}
														</div>

													</div>
												</div>
											</div>
									





										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group ">
											
												<div class="col-xs-12 new-shade">
													<span>Notify Customer 2</span>
													<div ng-show="documentDetail.secondNotify.id !=null">
														<div class="select-auto">
															{{documentDetail.secondNotify.partyName}}</div>

														<div>{{documentDetail.secondNotifyAddress.addressLine1}}</div>

														<div>{{documentDetail.secondNotifyAddress.addressLine2}}</div>

														<div>{{documentDetail.secondNotifyAddress.addressLine3}}</div>

														<div>{{documentDetail.secondNotifyAddress.addressLine4}}</div>

														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label> {{documentDetail.secondNotifyAddress.email}}

														</div>

														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> {{documentDetail.secondNotifyAddress.mobile}}
														</div>

													</div>
												</div>
											</div>
										</div>

									</div>

								<!--row ends-->




								<div class="row ptb-15">
									<div class="col-xs-12 ">
                                      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
										
												<div class="col-xs-12 new-shade">
													<span>Forwarder</span>
													<div ng-show="documentDetail.forwarder.id !=null">
														<div class="select-auto">
															{{documentDetail.forwarder.partyName}}</div>

														<div>{{documentDetail.forwarderAddress.addressLine1}}</div>

														<div>{{documentDetail.forwarderAddress.addressLine2}}</div>

														<div>{{documentDetail.forwarderAddress.addressLine3}}</div>

														<div>{{documentDetail.forwarderAddress.addressLine4}}</div>

														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label> {{documentDetail.forwarderAddress.email}}

														</div>

														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> {{documentDetail.forwarderAddress.mobile}}
														</div>

													</div>
												</div>
											</div>
									





										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
										
												<div class="col-xs-12 new-shade">
													<span>Agent</span>
													<div ng-show="documentDetail.agent.id !=null">
														<div class="select-auto">
															{{documentDetail.agent.partyName}}</div>

														<div>{{documentDetail.agentAddress.addressLine1}}</div>

														<div>{{documentDetail.agentAddress.addressLine2}}</div>

														<div>{{documentDetail.agentAddress.addressLine3}}</div>

														<div>{{documentDetail.agentAddress.addressLine4}}</div>

														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label> {{documentDetail.agentAddress.email}}

														</div>

														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> {{documentDetail.agentAddress.mobile}}
														</div>

													</div>
												</div>
											</div>
									



	                             <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">     
										
												<div class="col-xs-12 new-shade">
													<span>Issuing Agent </span>
													<div ng-show="documentDetail.issuingAgent.id !=null">
														<div class="select-auto">
															{{documentDetail.issuingAgent.partyName}}</div>

														<div>{{documentDetail.issuingAgentAddress.addressLine1}}</div>

														<div>{{documentDetail.issuingAgentAddress.addressLine2}}</div>

														<div>{{documentDetail.issuingAgentAddress.addressLine3}}</div>

														<div>{{documentDetail.issuingAgentAddress.addressLine4}}</div>

														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label> {{documentDetail.issuingAgentAddress.email}}

														</div>

														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> {{documentDetail.issuingAgentAddress.mobile}}
														</div>

													</div>
												</div>
											</div>
									




											<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
										
												<div class="col-xs-12 new-shade">
													<span>Custom House Agent </span>
													<div ng-show="documentDetail.chaAgent.id !=null">
														<div class="select-auto">
															{{documentDetail.chaAgent.partyName}}</div>

														<div>{{documentDetail.chaAgentAddress.addressLine1}}</div>

														<div>{{documentDetail.chaAgentAddress.addressLine2}}</div>

														<div>{{documentDetail.chaAgentAddress.addressLine3}}</div>

														<div>{{documentDetail.chaAgentAddress.addressLine4}}</div>

														<div>
															<label class="text-inherit"> <i
																class="fa icon-email pr8"></i> eMail :
															</label> {{documentDetail.chaAgentAddress.email}}

														</div>

														<div>
															<label class="text-inherit"> <i
																class="fa  icon-mobile pr8"></i> Mobile :
															</label> {{documentDetail.chaAgentAddress.mobile}}
														</div>

													</div>
												</div>
											</div>
										</div>
                                     </div>
								








								<!-- 			<div class="col-xs-4">
								<div class="pt5">
									<div class="form-group mb0">
										<div class="row">
											<div ng-class="documentDetail.shipper!=null?'col-xs-9':'col-xs-10'">
												<span>Shipper</span>
												<div class="select-auto">
													{{documentDetail.shipper.partyName}}
												</div>
											</div>
										</div>
									</div>
									<div class="form-group mt-5 mb0">
										<div class="row">
											<div class="col-xs-10">
												{{documentDetail.shipperAddress.addressLine1}}
											</div>
										</div>
										row ends
									</div>
									<div class="form-group mt-5 mb0">
										<div class="row">
											<div class="col-xs-10">
											{{documentDetail.shipperAddress.addressLine2}}
											</div>
										</div>
										row ends
									</div>
									<div class="form-group mt-5 mb0">
										<div class="row">
											<div class="col-xs-10">
												{{documentDetail.shipperAddress.addressLine3}}
											</div>
										</div>
										row ends
									</div>
									<div class="form-group mt-5 mb0">
										<div class="row">
											<div class="col-xs-10">
												{{documentDetail.shipperAddress.addressLine4}}
											</div>
										</div>
										row ends
									</div>
									<div class="form-group mt-5 mb0">
										<div class="row">
											<div class="col-xs-10">
												<label class="text-inherit">
												<i class="fa icon-email pr8"></i> eMail</label>
												 {{documentDetail.shipperAddress.email}}
											</div>
										</div>
										row ends
									</div>
									<div class="form-group mt-5 mb0">
										<div class="row">
											<div class="col-xs-10">
												<label class="text-inherit">
												<i class="fa  icon-mobile pr8"></i> Mobile</label>
												 {{documentDetail.shipperAddress.mobile}}
											</div>
										</div>
										row ends
									</div>
								</div>
							</div> -->




								<!-- 						<div class="col-xs-4">
								<div class="row pt5">
									<div class="col-xs-12">
										<div class="form-group mb0">
											<div class="row">
												<div
													ng-class="documentDetail.consignee!=null?'col-xs-9':'col-xs-10'">
													<label>Consignee</label>
													<div class="select-auto">
														{{documentDetail.consignee.partyName}}
													</div>
												</div>
											</div>
										</div>
										<div class="form-group mt-5 mb0">
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.consigneeAddress.addressLine1}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.consigneeAddress.addressLine2}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.consigneeAddress.addressLine3}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.consigneeAddress.addressLine4}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-email pr8"></i> eMail</label> {{documentDetail.consigneeAddress.email}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-mobile pr8"></i> Mobile</label> 
														{{documentDetail.consigneeAddress.mobile}}
												</div>
											</div>
											row ends
										</div>
									</div>
								</div>
								row ends
							</div> -->



								<!-- 					<div class="col-xs-4">

								<div class="row pt5">
									<div class="col-xs-12">
										<div class="form-group mb0">
											<div class="row">
												<div
													ng-class="documentDetail.firstNotify!=null?'col-xs-9':'col-xs-10'">
													<label>Notify Customer 1 </label>

													<div class="select-auto">
														{{documentDetail.firstNotify.partyName}}
													</div>
												</div>
											</div>
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.firstNotifyAddress.addressLine1}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.firstNotifyAddress.addressLine2}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.firstNotifyAddress.addressLine3}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.firstNotifyAddress.addressLine4}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-email pr8"></i> eMail</label> {{documentDetail.firstNotifyAddress.email}}
												</div>
											</div>
											row ends
										</div>

										<div class="form-group mt-5 mb0"
											ng-show="showFirstNotifyAddressModel">
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-mobile pr8"></i> Mobile</label> {{documentDetail.firstNotifyAddress.mobile}}
												</div>
											</div>
											row ends
										</div>
									</div>
								</div>
								row ends

							</div> -->

								<!-- 					<div class="col-xs-4  ">
								<div class="row pt5">
									<div class="col-xs-12">
										<div class="form-group mb0">
											<div class="row">

												<div
													ng-class="documentDetail.secondNotify!=null?'col-xs-9':'col-xs-10'">
													<label>Notify Customer 2</label>

													<div class="select-auto">
														{{documentDetail.secondNotify.partyName}}
													</div>
												</div>
											</div>
										</div>


										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label>Address <span>*</span></label>
													{{documentDetail.secondNotifyAddress.addressLine1}}
												</div>
												
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.secondNotifyAddress.addressLine2}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.secondNotifyAddress.addressLine3}}
												</div>

											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.secondNotifyAddress.addressLine4}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-email pr8"></i> eMail</label> {{documentDetail.secondNotifyAddress.email}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-mobile pr8"></i> Mobile</label> {{documentDetail.secondNotifyAddress.mobile}}
												</div>
											</div>
											row ends
										</div>
									</div>
								</div>
							</div> -->



								<!-- 			<div class="col-xs-4  ">

								<div class="row ">
									<div class="col-xs-12 pt5">
										<div class="form-group mb0 nomargin clearfix">
											<div class="row  ">
												<div
													ng-class="documentDetail.firstNotify!=null?'col-xs-9':'col-xs-10'">
													<label>Forwarder </label>

													<div class="select-auto">
														{{documentDetail.forwarder.partyName}}
													</div>
												</div>

											</div>
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.forwarderAddress.addressLine1}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.forwarderAddress.addressLine2}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.forwarderAddress.addressLine3}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.forwarderAddress.addressLine4}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-email pr8"></i> eMail</label> {{documentDetail.forwarderAddress.email}}
												</div>
											</div>
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-mobile pr8"></i> Mobile</label>{{documentDetail.forwarderAddress.mobile}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> -->

								<!-- 							<div class="col-xs-4 ">

								<div class="row ">
									<div class="col-xs-12 pt5">
										<div class="form-group mb0">
											<div class="row">
												<div
													ng-class="documentDetail.agent!=null?'col-xs-9':'col-xs-10'">
													<label>Agent </label>

													<div class="select-auto">
														{{documentDetail.agent.partyName}}
													</div>
												</div>

											</div>
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.agentAddress.addressLine1}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.agentAddress.addressLine2}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.agentAddress.addressLine3}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													{{documentDetail.agentAddress.addressLine4}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-email pr8"></i> eMail</label> {{documentDetail.agentAddress.email}}
												</div>
											</div>
											row ends
										</div>
										<div class="form-group mt-5 mb0"
											>
											<div class="row">
												<div class="col-xs-10">
													<label class="text-inherit"><i
														class="fa  icon-mobile pr8"></i> Mobile</label> {{documentDetail.agentAddress.mobile}}
												</div>
											</div>
											row ends
										</div>
									</div>
								</div>
								row ends
							</div> -->

								<!-- 
							<div class="row  nomargin">
								<div class="form-group nomargin clearfix">
									<div class="col-xs-4  ">

										<div class="row nomargin ptb-15">
											<div class="col-xs-12 nomargin nopadding">
												<div class="form-group mb0">
													<div class="row">
														<div
															ng-class="documentDetail.issuingAgent!=null?'col-xs-9':'col-xs-10'">
															<label>Issuing Agent </label>

															<div class="select-auto">
																{{documentDetail.issuingAgent.partyName}}
															</div>
														</div>
													</div>

												</div>
												<div class="form-group mt-5 mb0"
													>
													<div class="row">
														<div class="col-xs-10">
															{{documentDetail.issuingAgentAddress.addressLine1}}
														</div>
													</div>
													row ends
												</div>
												<div class="form-group mt-5 mb0"
													>
													<div class="row">
														<div class="col-xs-10">
															{{documentDetail.issuingAgentAddress.addressLine2}}
														</div>
													</div>
													row ends
												</div>
												<div class="form-group mt-5 mb0"
													>
													<div class="row">
														<div class="col-xs-10">
															{{documentDetail.issuingAgentAddress.addressLine3}}
														</div>
													</div>
													row ends
												</div>
												<div class="form-group mt-5 mb0"
													>
													<div class="row">
														<div class="col-xs-10">
															{{documentDetail.issuingAgentAddress.addressLine4}}
														</div>
													</div>
													row ends
												</div>
												<div class="form-group mt-5 mb0"
													>
													<div class="row">
														<div class="col-xs-10">
															<label class="text-inherit"><i
																class="fa  icon-email pr8"></i> eMail</label> {{documentDetail.issuingAgentAddress.email}}
														</div>
													</div>
													row ends
												</div>

												<div class="form-group mt-5 mb0"
													>
													<div class="row">
														<div class="col-xs-10">
															<label class="text-inherit"><i
																class="fa  icon-mobile pr8"></i> Mobile</label> {{documentDetail.issuingAgentAddress.mobile}}
														</div>
													</div>
													row ends
												</div>

											</div>
										</div>
										row ends
									</div>

								</div>
							</div> -->

								<div class="row nomargin  text-underline clear_both"></div>
							</div>
						</div>
						<div class="  "></div>
					</div>

					<!-- Customer Info Ends Here -->
					<!-- Pack & Dimension Info Starts Here -->
					<!-- <div class=" ">
					<div ng-click="packsInfo=!packsInfo" ng-init="packsInfo=true"
						class=" mb0 cursorPt flex align-justify align-middle title">
						<div>
							<h5 class="">Packs & Dimension Info</h5>
						</div>
						<div>
							<i class="{{packsInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
						</div>

					</div>
					<div class=" pt0 fx-fade-normal fx-ease-sin " ng-hide="!packsInfo">
						<div class="row nomargin nopadding">
							<div class="ptb-15 clearfix">
								<div class="col-xs-3">
									<label>Pack</label>
									<div class="select-auto">
										<input type="text" class="form-control"
											ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.issuingAgent.'+$index)!=null}"
											input-focus="{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.packMaster.'+$index)!=null}}"
											id="{{'shipment.serviceDetail.'+$parent.$index+'.document.packMaster.'+$index}}"
											autocomplete="off" ng-model="documentDetail.packMaster"
											uib-typeahead="lovObject as lovObject.packName for lovObject in $AutoCompleteService.getPackList($viewValue)"
											typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
											typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="true"
											typeahead-on-select="selectedDocumentPackMaster(documentDetail, $parent.$index, $index, 'shipment.serviceDetail.'+$parent.$index+'.document.packMaster.'+$index)"
											typeahead-focus-on-select="false"
											typeahead-focus-first="true" typeahead-editable="false"
											typeahead-min-length="1" typeahead-wait-ms="500"> <span
											class="select-arrow"><b></b></span>
									</div>
									<span class="error-message"
										ng-show="errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.packMaster.'+$index)!=null">
										<small>{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.packMaster.'+$index}}</small>
									</span>

								</div>
								<div class="col-xs-3">
									<label class="text-inherit">No of Pieces<span>*</span></label>
									<input class="form-control text-right"
										ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.noOfPieces.'+$index)!=null}"
										input-focus="{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.noOfPieces.'+$index)!=null}}"
										id="{{'shipment.serviceDetail.'+$parent.$index+'.document.noOfPieces.'+$index}}"
										maxlength="9"
										ng-disabled="isDocumentDimensionFound(documentDetail)"
										ng-model="documentDetail.noOfPieces"
										ng-change="validateFields(documentDetail, $parent.$index, $index, 313, shipmentServiceDetail)"
										type="text"> <span class="error-message"
										ng-show="errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.noOfPieces.'+$index)!=null">
										<small>{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.noOfPieces.'+$index}}</small>
									</span>
								</div>
								<div class="col-xs-2">
									<label>Sell Rate</label> <input class="form-control text-right"
										id="{{'shipment.serviceDetail.'+$parent.$index+'.document.ratePerCharge.'+$index}}"
										type="text "
										efsdecimals="shipmentServiceDetail.localCurrency.decimalPoint"
										efsdecimal-point="shipmentServiceDetail.localCurrency.countryMaster.locale"
										input-focus="{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.ratePerCharge.'+$index)!=null}}"
										ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.ratePerCharge.'+$index)!=null}"
										maxlength="15"
										ng-change="validateFields(documentDetail, $parent.$index, $index, 314)"
										ng-model="documentDetail.ratePerCharge"> <span
										class="error-message"
										ng-show="errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.ratePerCharge.'+$index)!=null">
										<small>{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.ratePerCharge.'+$index}}</small>
									</span>
								</div>

							</div>
						</div>

						<div class="row nomargin   nopadding bor-0">

							<div class="form-group">
								<div class="col-xs-12 ptb-15">
									<div class="row">
										<div class="col-xs-3 col-lg-3 col-md-3 ">
											<label>Gross Weight (KG)<span>*</span></label> <input
												type="text " class="form-control text-right"
												id="{{'shipment.serviceDetail.'+$parent.$index+'.document.grossWeightKg.'+$index}}"
												input-focus="{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.grossWeightKg.'+$index)!=null}}"
												efsdecimals="$root.weightDecimalPoint"
												efsdecimal-point="shipmentServiceDetail.country.locale"
												ng-disabled="isDocumentDimensionFound(documentDetail) || documentDetail.dimensionUnit"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.grossWeightKg.'+$index)!=null}"
												maxlength="15"
												ng-change="validateFields(documentDetail, $parent.$index, $index, 315, shipmentServiceDetail)"
												ng-model="documentDetail.grossWeight">
											<div>
												<span class="error-message"
													ng-show="errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.grossWeightKg.'+$index)!=null">
													<small>{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.grossWeightKg.'+$index}}</small>
												</span>
											</div>
										</div>

										<div class="col-xs-3 col-lg-3 col-md-3  m-mt-20">
											<label>Volume Weight (KG)<span>*</span></label> <input
												class="form-control text-right" maxlength="15"
												id="{{'shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightKg.'+$index}}"
												input-focus="{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightKg.'+$index)!=null}}"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightKg.'+$index)!=null}"
												efsdecimals="$root.weightDecimalPoint"
												efsdecimal-point="shipmentServiceDetail.country.locale"
												ng-disabled="isDocumentDimensionFound(documentDetail) || documentDetail.dimensionUnit "
												ng-model="documentDetail.volumeWeight"
												ng-change="validateFields(documentDetail, $parent.$index, $index, 316, shipmentServiceDetail)"
												type="text"> <span class="error-message"
												ng-show="errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightKg.'+$index)!=null">
												<small>{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightKg.'+$index}}</small>
											</span>
										</div>

										<div class="col-xs-3 col-lg-3 col-md-3  m-mt-20">
											<label>Chargeable Weight (KG) <span>*</span></label>
											
											 <input
												class="form-control text-right"
												ng-model="documentDetail.chargebleWeight" type="text"
												disabled>
										</div>

										<div class="col-xs-3 col-lg-3 col-md-3  ">
											<label>Volume (CBM)</label> <input
												class="form-control text-right" maxlength="15"
												id="{{'shipment.serviceDetail.'+$parent.$index+'.document.volumeCBM.'+$index}}"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeCBM.'+$index)!=null}"
												input-focus="{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeCBM.'+$index)!=null}}"
												efsdecimals="$root.weightDecimalPoint"
												efsdecimal-point="shipmentServiceDetail.country.locale"
												ng-disabled="isDocumentDimensionFound(documentDetail)"
												ng-model="documentDetail.bookedVolumeUnitCbm"
												ng-change="validateFields(documentDetail, $parent.$index, $index, 317)"
												type="text"> <span class="error-message"
												ng-show="errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeCBM.'+$index)!=null">
												<small>{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeCBM.'+$index}}</small>
											</span>
										</div>
										<div class="col-xs-3 col-lg-3 col-md-3  "
											ng-show="documentDetail.dimensionUnit">
											<label>Gross Weight (LBS)<span>*</span>
											</label> <input class="form-control text-right"
												id="{{'shipment.serviceDetail.'+$parent.$index+'.document.grossWeightLBS.'+$index}}"
												ng-disabled="isDocumentDimensionFound(documentDetail) || !documentDetail.dimensionUnit"
												maxlength="15" efsdecimals="$root.weightDecimalPoint"
												efsdecimal-point="shipmentServiceDetail.country.locale"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.grossWeightLBS.'+$index)!=null}"
												ng-model="documentDetail.grossWeightInPound"
												ng-change="validateFields(documentDetail, $parent.$index, $index, 318, shipmentServiceDetail)"
												input-focus="{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.grossWeightLBS.'+$index)!=null}}"
												type="text"> <span class="error-message"
												ng-show="errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.grossWeightLBS.'+$index)!=null">
												<small>{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.grossWeightLBS.'+$index}}</small>
											</span> <label class="whitespace-nr m-abs">1 kilogram =
												2.20462 pounds</label>

										</div>


										<div class="col-xs-3 col-lg-3 col-md-3 "
											ng-show="documentDetail.dimensionUnit">
											<label>Volume Weight (LBS)<span>*</span></label> <input
												class="form-control text-right" maxlength="15"
												id="{{'shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightLBS.'+$index}}"
												efsdecimals="$root.weightDecimalPoint"
												efsdecimal-point="shipmentServiceDetail.country.locale"
												ng-class="{'error-control':errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightLBS.'+$index)!=null}"
												ng-disabled="isDocumentDimensionFound(documentDetail) || !documentDetail.dimensionUnit"
												ng-model="documentDetail.volumeWeightInPound"
												ng-change="validateFields(documentDetail, $parent.$index, $index, 319, shipmentServiceDetail)"
												input-focus="{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightLBS.'+$index)!=null}}"
												type="text"> <span class="error-message"
												ng-show="errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightLBS.'+$index)!=null">
												<small>
													{{errorMap.get('shipment.serviceDetail.'+$parent.$index+'.document.volumeWeightLBS.'+$index}}</small>
											</span>
										</div>





									</div>
								</div>
							</div>
							form group ends

						</div>

						<div class="row nomargin nopadding bor-0 ">
							<hr class="nomargin">
						</div>
						<div class="row nomargin">
							<div class="col-xs-12 nopadding">
								<div class="row nomargin ">
									<div class="col-xs-3 mt-15">
										<span>Dimension Unit</span>
										<ul class="list-inline">
											<li ng-class="{'opc-5':documentDetail.dimensionUnit}">Centimeter
												/ Kilos</li>
											<li class="v-align-top"><switch tabIndex="0"
													ng-model="documentDetail.dimensionUnit" class="green"
													ng-change="changeDocumentDimension(documentDetail,shipmentServiceDetail)"></switch>
											</li>
											<li ng-class="{'opc-5':!documentDetail.dimensionUnit}">Inch
												/ Pounds</li>
										</ul>
									</div>
									<div class="col-xs-2 mt-15">
										<label>Dimension Value</label> <input type="text"
											class="form-control"
											ng-model="documentDetail.dimensionUnitValue" ng-disabled=true>
										<span class="whitespace-nr">It is used in calculating
											the volume weight</span>
									</div>
								</div>
							</div>
						</div>

						<div class="row nopadding nomargin">
							<div class="col-xs-12">
								<dimension-table country-master="shipmentServiceDetail.country"
									table-data="documentDetail.dimensionList"
									table-check="documentDetail.isDimensionStatus"
									unit-type="documentDetail.dimensionUnit"
									unit-value="documentDetail.dimensionUnitValue"
									calc-fn="calculateWeight(param,documentDetail)"
									fn-role="hasAccess(param)"
									add-role="userProfile.featureMap['CRM_SHIPMENT_SERVICE_DOCUMENT_DIMENSION_ADD']"
									edit-role="userProfile.featureMap['CRM_SHIPMENT_SERVICE_DOCUMENT_DIMENSION_EDIT']"
									delete-role="userProfile.featureMap['CRM_SHIPMENT_SERVICE_DOCUMENT_DIMENSION_DELETE']">
								</dimension-table>
							</div>
						</div>


					</div>

				</div>
				Pack & Dimension Info Ends Here -->

					<!-- Other Info Starts Here -->
					<div class="">
						<div ng-click="otherInfo=!otherInfo" ng-init="otherInfo=true"
							ng-class="$uiShipmentDataService.hawbOtherInfoStatus(documentDetail)?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div>
								<h5
									style="color: {{$uiShipmentDataService.hawbOtherInfoStatus(documentDetail)?'#fff !important':'#000 !important;'">Other
									Info</h5>
							</div>
							<div>
								<i
									style="color: {{$uiShipmentDataService.hawbOtherInfoStatus(documentDetail)?'#fff !important':'#000 !important;'"
									class="{{otherInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>
						</div>

						<div class="fx-fade-normal fx-ease-sine" ng-hide="!otherInfo">

							<div class="row ">
								<div class="col-xs-12 bor-btm-1 pt5 "
									ng-if="shipmentServiceDetail.serviceMaster.importExport=='Export'">

									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										<span>HAWB No </span>
										<h6>{{ifDataElseHifen(documentDetail.hawbNo)}}</h6>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										<span>HAWB Issued Person</span>
										<h6>{{ifDataElseHifen(documentDetail.hawbReceivedBy.employeeName)}}</h6>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										<span>HAWB Issued Date</span>
										<h6>{{ifDataElseHifen(dateToString(documentDetail.hawbReceivedOn))}}</h6>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										<span>Manifest HAWB No </span>
										<h6>{{ifDataElseHifen(documentDetail.manifestHawbNo)}}</h6>
									</div>

								</div>

								<div class="col-xs-12  pt5"
									ng-if="shipmentServiceDetail.serviceMaster.importExport == 'Import'">

									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										<span>HAWB No </span>
										<h6>{{ifDataElseHifen(documentDetail.hawbNo)}}</h6>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										<span>Manifest HAWB No </span>
										<h6>{{ifDataElseHifen(documentDetail.manifestHawbNo)}}</h6>
									</div>
									<!-- Reference No -->
									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										<span>Reference No</span>
										<h6>
										{{ifDataElseHifen(documentDetail.referenceNo)}}
										</h6>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										<span>DO No</span>
										<h6>{{ifDataElseHifen(documentDetail.doNumber)}}</h6>
									</div>
								</div>
								<div class="col-xs-12  pt5 "
									ng-if="shipmentServiceDetail.serviceMaster.importExport == 'Import'">
									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										
										<span>DO Issued On</span>
										<h6>{{ifDataElseHifen(dateAndTimeToString(documentDetail.doIssuedDate))}}</h6>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										
										<span>CAN NO</span>
										<h6>{{ifDataElseHifen(documentDetail.canNumber)}}</h6>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										
										<span>CAN Issued On</span>
										<h6>{{ifDataElseHifen(dateAndTimeToString(documentDetail.canIssuedDate))}}</h6>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
										
										<span>CAN Issued By</span>
										<h6>{{ifDataElseHifen(documentDetail.canIssuedBy.employeeName)}}</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="row bor-btm-1"
							ng-if="shipmentServiceDetail.serviceMaster.importExport=='Import'">
							<div class="col-xs-12 pt5 ">
								<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
									<span>CCN No</span>
									<h6>{{ifDataElseHifen(documentDetail.ccnNumber)}}</h6>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
									<span>CCN Date</span>
									<h6>{{ifDataElseHifen(dateToString(documentDetail.ccnDate))}}</h6>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
									<span>TRANS CCN No</span>
									<h6>{{ifDataElseHifen(dateToString(documentDetail.transCcnNumber))}}</h6>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 form-group">
									<span>TRANS CCN Date</span>
									<h6>{{ifDataElseHifen(dateToString(documentDetail.transCcnDate))}}</h6>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 ptb-15">
								<div class="col-xs-6 ">
									<span>Handling Information</span>
									<textarea ng-model="documentDetail.handlingInformation" 
									class="form-control mt-5 txtarea60 txtresize" ng-disabled="true"></textarea>
                                   </div>
								<div class="col-xs-6">
									<span>Accounting Information</span>
									<textarea ng-model="documentDetail.accoutingInformation" 
									class="form-control mt-5 txtarea60 txtresize" ng-disabled="true"></textarea>
									
								</div>
							</div>
						</div>
						<div class="row bor-btm-1">
							<div class="col-xs-12 pb15">
								<div class="col-xs-6">
									<span>Commodity Description</span>
									<textarea ng-model="documentDetail.commodityDescription" 
									class="form-control mt-5 txtarea60 txtresize" ng-disabled="true"></textarea>
									

								</div>
								<div class="col-xs-6">
									<span>Marks & No</span>
									<textarea ng-model="documentDetail.marksAndNo" 
									class="form-control mt-5 txtarea60 txtresize" ng-disabled="true"></textarea>
									

								</div>
							</div>
						</div>

						<div class="row ">
							<div class="col-xs-12 ">
								<div class="col-xs-4 pt5 pb15">
									<span>Rate Class</span>
									<h6>{{ifDataElseHifen(documentDetail.rateClass)}}</h6>
								</div>

							</div>
						</div>
                     </div>

				</div>
				<!-- Other Info Ends Here -->

			</div>
			<!--body ends-->
		</div>
	</div>
