<!--Pickup / Delivery Ends Here-->
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 form-group">
        <span>Transporter </span>
        <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.transporter.partyName)}}</h6>

    </div>

    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 form-group">
        <span>Pro Tracking Number</span>
        <h6>{{ifDataElseHifen(shipmentServiceDetail.proTrackingNo)}}</h6>
    </div>
    <div class="col-md-3 ptb-15">
        <span>Address</span>
        <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.transporterAddress)}}</h6>
    </div>

</div>

<div>
    <div class="row ">
        <div ng-click="picksInfo=!picksInfo" ng-init="picksInfo=false" tabindex="-1" ng-class="$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'pick')?'done-approve':''" class=" mb0 cursorPt flex align-justify align-middle title">
            <div>
                <h5 style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'pick')?'#fff !important':'#000 !important;'}}">Pick Up</h5>
            </div>
            <div>
                <i style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'pick')?'#fff !important':'#000 !important;'}}" class="{{picksInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
            </div>
        </div>

    </div>

    <div ng-hide="!picksInfo">
        <div class="row ptb10">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                <div class="new-shade">
                    <div class="col-xs-12 ptb-15">
                        <span>Our Pick Up</span>
                        <h6>{{ifDataElseHifen((shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp==true?'Yes':'No'))}}</h6>
                    </div>

                    <div class="col-xs-12 ptb-15">
                        <span>Pick up Point</span>
                        <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickupPoint.partyName)}}</h6>

                    </div>

                    <div class="col-xs-12 ptb-15">
                        <!-- <span>Pick up From</span>
                      <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickupFrom.portName)}}</h6> -->

                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                <div class="new-shade">
                    <div class="col-xs-12 ptb-15">
                        <span>Pick up Place</span>
                    </div>

                    <div class="col-xs-12 ptb-15" ng-show="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.id!=null">
                        <div>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1)}}</div>
                        <div>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine2)}}</div>
                        <div>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine3)}}</div>
                        <div>
                            {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.state.stateName)}}, {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.city.cityName)}}, {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode)}}

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                <div class="new-shade">
                    <div class="col-xs-12 ptb-15">
                        <span>Contact Details</span>
                    </div>
                    <div class="col-xs-12" ng-show="shipmentServiceDetail.pickUpDeliveryPoint.pickUpContactPerson!=null">

                        <div>
                            <label class="text-inherit">
                                <i class="fa fa-user pr8"></i>Person :</label>
                            {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpContactPerson)}}

                        </div>
                    </div>

                    <div class="col-xs-12" ng-show="shipmentServiceDetail.pickUpDeliveryPoint.pickUpEmail!=null">

                        <div>
                            <label class="text-inherit"><i class="fa fa fa-envelope pr8"></i>eMail : </label>
                            {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpEmail)}}
                        </div>

                    </div>

                    <div class="col-xs-12 " ng-show="shipmentServiceDetail.pickUpDeliveryPoint.pickUpMobileNo!=null">

                        <div>
                            <label class="text-inherit"><i class="fa fa fa-mobile pr8"></i>Mobile : </label>
                            {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpMobileNo)}}
                        </div>

                    </div>

                    <div class="col-xs-12 " ng-show="shipmentServiceDetail.pickUpDeliveryPoint.pickUpPhoneNo!=null">
                        <div>
                            <label class="text-inherit"><i class="fa fa fa-phone pr8"></i>Landline : </label>
                            {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPhoneNo)}}
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                <div class="new-shade">
                    <div class="col-xs-12 ptb-15">
                        <span>Pick up Follow Up Date</span>
                        <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpFollowUp))}}</h6>
                    </div>

                    <div class="col-xs-12 ptb-15">

                        <span>Planned Pick Up Date</span>
                        <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlanned))}}</h6>

                    </div>

                    <div class="col-xs-12 ptb-15">
                        <span>Actual Pick Up Date</span>
                        <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual))}}</h6>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 nopadding ">
            <div class="row nomargin">
                <!-- 				<div class="col-xs-7 col-md-7 col-lg-7 pl0 pr0">
							<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
								<div class="row nomargin">
									<div class="col-xs-12">

									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
								<div class="row nomargin">
									<div class="col-xs-12">

									</div>
								</div>
							</div>
							<div class="row nomargin">
								<div class="form-inline">
									<div class="col-xs-6 mb-10 pl0 pr0">
										<div class="col-xs-12 mb-10 mt-5">
										<span>Contact Details</span><br>
											<div class="form-group nopadding nomargin  col-xs-12">
														<i class="fa fa-user"></i>
									 	   				<h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpContactPerson)}}</h6>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group col-xs-12  nopadding">
														<i class="fa fa-envelope "></i>
													 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpEmail)}}</h6>
												</div>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group col-xs-12  nopadding">
														<i class="fa fa-mobile "></i>
														<h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpMobileNo)}}</h6>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group col-xs-12  nopadding">
														<i class="fa fa-phone"></i>
													<h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPhoneNo)}}</h6>
													</div>
											</div>
										</div>
									</div>

								</div> -->

                <!-- 		
								<div class="col-xs-6  col-md-6 col-lg-6 mb-5 mt-5">
                                      <span>Pick up Follow Up Date</span>									
									 <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpFollowUp))}}</h6>
								</div>
								<div class="col-xs-6 col-md-6 col-lg-6 mb-5">
								 <span>Planned Pick Up Date</span>									
									 <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlanned))}}</h6>
								</div>
								<div class="col-xs-12 col-md-8 col-lg-6 mb-10">
								 <span>Actual Pick Up Date</span>									
									 <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual))}}</h6>
								</div> -->
            </div>
        </div>
        <!-- 		<div class="col-xs-5 nomargin nopadding">
							<div class="row nomargin">
								<div class="col-xs-12">
									<span class="text-inherit">Pick up Place</span>
								</div>
							</div>

							<div class="row nomargin">
								<div class="col-xs-10 mb-10  pr0">
									<div class="row">
										<div class="col-xs-12">
									 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1)}}</h6>
											</div>
										</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
										 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine2)}}</h6>
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
										 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine3)}}</h6>
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
											<div class="col-xs-4 pl0 ">
											 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.state.stateName)}}</h6>
											</div>
											<div class="col-xs-4 pl0 ">
											 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.city.cityName)}}</h6>
											</div>
											<div class="col-xs-4 pl0 pr0">
												 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode)}}</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-2 mt-2 nopadding plr0 text-center">
								</div>
							</div>
						</div> -->
    </div>
</div>

<!-- <div class="row shade3 pl0 pr0">
	pickup place starts

	<div class="col-xs-12 nopadding pickupPanels">

		<div class="panel panel-default">
			<div ng-click="picksInfo=!picksInfo" ng-init="picksInfo=false"
				class="mb0 cursorPt flex align-justify align-middle title fillcolor">
				<h5>Pick Up</h5>
				<div>
					<i
						class="{{picksInfo==true?'icon-uparrow':' icon-downarrow'}} whitecolor"
						aria-hidden="true"></i>
				</div>
			</div>
			<div ng-hide="!picksInfo" class="panel-body  nopadding">
				<div class="row">
					<div class="col-xs-12 nopadding pl0 pr0">
						<div class="checkbox nomargin mt-5 marginl30">
						 <span>Our Pick Up</span>
                      <h6>{{ifDataElseHifen((shipmentServiceDetail.pickUpDeliveryPoint.isOurPickUp==true?'Yes':'No'))}}</h6>
						</div>
					</div>
				</div>
				<div class="col-xs-12 nopadding ">
					<div class="row nomargin">
						<div class="col-xs-7 col-md-7 col-lg-7 pl0 pr0">
							<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
								<div class="row nomargin">
									<div class="col-xs-12">
											 <span>Pick up Point</span>
                      <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickupPoint.partyName)}}</h6>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
								<div class="row nomargin">
									<div class="col-xs-12">
									<span>Pick up From</span>
                      <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickupFrom.portName)}}</h6>
									</div>
								</div>
							</div>
							<div class="row nomargin">
								<div class="form-inline">
									<div class="col-xs-6 mb-10 pl0 pr0">
										<div class="col-xs-12 mb-10 mt-5">
										<span>Contact Details</span><br>
											<div class="form-group nopadding nomargin  col-xs-12">
														<i class="fa fa-user"></i>
									 	   				<h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpContactPerson)}}</h6>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group col-xs-12  nopadding">
														<i class="fa fa-envelope "></i>
													 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpEmail)}}</h6>
												</div>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group col-xs-12  nopadding">
														<i class="fa fa-mobile "></i>
														<h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpMobileNo)}}</h6>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group col-xs-12  nopadding">
														<i class="fa fa-phone"></i>
													<h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPhoneNo)}}</h6>
													</div>
											</div>
										</div>
									</div>

								</div>
								<div class="col-xs-6  col-md-6 col-lg-6 mb-5 mt-5">
                                      <span>Pick up Follow Up Date</span>									
									 <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpFollowUp))}}</h6>
								</div>
								<div class="col-xs-6 col-md-6 col-lg-6 mb-5">
								 <span>Planned Pick Up Date</span>									
									 <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlanned))}}</h6>
								</div>
								<div class="col-xs-12 col-md-8 col-lg-6 mb-10">
								 <span>Actual Pick Up Date</span>									
									 <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual))}}</h6>
								</div>
							</div>
						</div>
						<div class="col-xs-5 nomargin nopadding">
							<div class="row nomargin">
								<div class="col-xs-12">
									<span class="text-inherit">Pick up Place</span>
								</div>
							</div>

							<div class="row nomargin">
								<div class="col-xs-10 mb-10  pr0">
									<div class="row">
										<div class="col-xs-12">
									 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine1)}}</h6>
											</div>
										</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
										 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine2)}}</h6>
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
										 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.addressLine3)}}</h6>
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
											<div class="col-xs-4 pl0 ">
											 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.state.stateName)}}</h6>
											</div>
											<div class="col-xs-4 pl0 ">
											 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.city.cityName)}}</h6>
											</div>
											<div class="col-xs-4 pl0 pr0">
												 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace.zipCode)}}</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-2 mt-2 nopadding plr0 text-center">
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> -->

</div>
</div>
<!--  pickup place ends -->

<div class="row">
    <div ng-click="deliveryInfo=!deliveryInfo" ng-init="deliveryInfo=false" ng-class="$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'delivery')?'done-approve':''" class=" mb0 cursorPt flex align-justify align-middle title">
        <div>
            <h5 style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'delivery')?'#fff !important':'#000 !important;'}}">Delivery to CFS / Depot</h5>
        </div>
        <div>
            <i style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'delivery')?'#fff !important':'#000 !important;'}}" class="{{deliveryInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
        </div>
    </div>

    <div ng-hide="!deliveryInfo">

        <div class="row ptb10">
            <div class="col-xs-12 ">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="new-shade">

                        <div class="col-xs-12 ptb-15">
                            <span>Delivery Point</span>
                            <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint.cfsName)}}</h6>

                        </div>

                        <div class="col-xs-12 ptb-15">
                            <!-- <span>Delivery to CFS / Depot</span>
             <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryFrom.portName)}}</h6> -->

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="new-shade">

                        <div class="col-xs-12 ptb-15">
                            <span>Delivery Place</span>

                        </div>

                        <div class="col-xs-12 ptb-15" ng-show="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.id!=null">
                            <div>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine1)}}</div>
                            <div>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine2)}}</div>
                            <div>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine3)}}</div>
                            <div>
                                {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.state.stateName)}}, {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.city.cityName)}}, {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.zipCode)}}

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="new-shade">
                        <div class="col-xs-12 ptb-15">
                            <span>Contact Details</span>

                        </div>

                        <div class="col-xs-12 " ng-show="shipmentServiceDetail.pickUpDeliveryPoint.deliveryContactPerson!=null">

                            <div>
                                <label class="text-inherit">
                                    <i class="fa fa-user pr8"></i>Person :</label>
                                {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryContactPerson)}}

                            </div>

                        </div>

                        <div class="col-xs-12 " ng-show="shipmentServiceDetail.pickUpDeliveryPoint.deliveryEmail!=null">
                            <div>
                                <label class="text-inherit"><i class="fa fa fa-envelope pr8"></i>eMail : </label>
                                {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryEmail)}}
                            </div>

                        </div>

                        <div class="col-xs-12 " ng-show="shipmentServiceDetail.pickUpDeliveryPoint.deliveryMobileNo!=null">

                            <div>
                                <label class="text-inherit"><i class="fa fa fa-mobile pr8"></i>Mobile : </label>
                                {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryMobileNo)}}
                            </div>

                        </div>

                        <div class="col-xs-12 " ng-show="shipmentServiceDetail.pickUpDeliveryPoint.deliveryPhoneNo!=null">
                            <div>
                                <label class="text-inherit"><i class="fa fa fa-phone pr8"></i>Landline : </label>
                                {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPhoneNo)}}
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="new-shade">
                        <div class="col-xs-12 ptb-15">

                            <span>Expected Delivery Date </span>
                            <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.deliveryExpected))}}</h6>

                        </div>

                        <div class="col-xs-12 ptb-15">
                            <span>Delivery Date</span>
                            <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.deliveryActual))}}</h6>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- <div class="col-xs-12 nopadding ">

					<div class="row nomargin">
						<div class="col-xs-7 col-md-7 col-lg-7 pl0 pr0">

							<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
								<div class="row nomargin">
									<div class="col-xs-12 mt10">
									<span>Delivery Point</span>
									<h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPoint.cfsName)}}</h6>

									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
								<div class="row nomargin">
									<div class="col-xs-12 mt10">
																		<span>Delivery to CFS / Depot</span>
									 <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryFrom.portName)}}</h6>
																		</div>
								</div>
							</div>

							<div class="row nomargin">

								<div class="form-inline">

									<div class="col-xs-6 mb-10 pl0 pr0">

										<div class="col-xs-12 mb-10 mt-5">
											<div class="form-group nopadding col-xs-12">
												<span>Contact Details</span><br>
												<div class="form-group nopadding nomargin  col-xs-12">
														<i class="fa fa-user"></i>
														{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryContactPerson)}}
												</div>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group nopadding col-xs-12">
														<i class="fa fa-envelope"></i>
                                                   <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryEmail)}}</h6>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group nopadding col-xs-12">
														<i class="fa fa-mobile"></i>
													<h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryMobileNo)}}</h6>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group nopadding col-xs-12">
														<i class="icon-phone"></i>
														<h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPhoneNo)}}</h6>
										  </div>
									    </div>
								</div>
								<div class="col-xs-6  col-md-6 col-lg-6 mb-5 mt-5">
									<span>Expected Delivery Date</span>
									{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.deliveryExpected))}}
								</div>
						<div class="col-xs-6 col-md-6 col-lg-6 mb-5">
								<span>Delivery Date</span>
								{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.deliveryActual))}}
						</div>
							</div>
						</div>
						<div class="col-xs-5 nomargin nopadding">
							<div class="row nomargin">
								<div class="col-xs-12 mt10">
									<span>Delivery Place</span>
								</div>
							</div>
							<div class="row nomargin">
								<div class="col-xs-10 mb-10 pr0">
									<div class="row">
										<div class="col-xs-12">
										{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine1)}}
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
										{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine2)}}
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
										{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.addressLine3)}}
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
											<div class="col-xs-4 pl0 ">
												{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.state.stateName)}}
											</div>
											<div class="col-xs-4 pl0 ">
											{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.city.cityName)}}
											</div>
											<div class="col-xs-4 pl0 pr0">
													{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace.zipCode)}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
    </div>

</div>

<div class="row">
    <div ng-click="doorInfo=!doorInfo" ng-init="doorInfo=false" ng-class="$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'door')?'done-approve':''" class=" mb0 cursorPt flex align-justify align-middle title">
        <div>
            <h5 style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'door')?'#fff !important':'#000 !important;'}}">Door Delivery</h5>
        </div>
        <div>
            <i style="color:{{$uiShipmentDataService.isPickUpDeliveyModified(shipmentServiceDetail.pickUpDeliveryPoint,'door')?'#fff !important':'#000 !important;'}}" class="{{doorInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
        </div>
    </div>

    <div ng-hide="!doorInfo" class="mb-5">

        <div class="row ptb10">
            <div class="col-xs-12 ">

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="new-shade">

                        <div class="col-xs-12 ptb-15">
                            <span>Door Delivery Point</span>
                            <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPoint.portName)}}</h6>

                        </div>

                        <div class="col-xs-12 ptb-15">

                            <!-- <span>Door Delivery To</span>
                      <h6>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryFrom.portName)}}</h6> -->

                        </div>

                        <div class="col-xs-12 ptb-15">

                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="new-shade">

                        <div class="col-xs-12 ptb-15">
                            <span>Door Delivery Place</span>

                        </div>

                        <div class="col-xs-12 ptb-15" ng-show="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.id!=null">
                            <div>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1)}}</div>
                            <div>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2)}}</div>
                            <div>{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3)}}</div>
                            <div>
                                {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.state.stateName)}}, {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.city.cityName)}}, {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.zipCode)}}

                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="new-shade">
                        <div class="col-xs-12 ptb-15">
                            <span>Contact Details</span>
                        </div>
                        <div class="col-xs-12" ng-show="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryContactPerson!=null">

                            <div>
                                <label class="text-inherit">
                                    <i class="fa fa-user pr8"></i>Person :</label>
                                {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryContactPerson)}}

                            </div>
                        </div>

                        <div class="col-xs-12" ng-show="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryEmail!=null">

                            <div>
                                <label class="text-inherit"><i class="fa fa fa-envelope pr8"></i>eMail : </label>
                                {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryEmail)}}
                            </div>

                        </div>

                        <div class="col-xs-12 " ng-show="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo!=null">

                            <div>
                                <label class="text-inherit"><i class="fa fa fa-mobile pr8"></i>Mobile : </label>
                                {{shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo}}
                            </div>

                        </div>

                        <div class="col-xs-12 " ng-show="shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPhoneNo!=null">
                            <div>
                                <label class="text-inherit"><i class="fa fa fa-phone pr8"></i>Landline : </label>
                                {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPhoneNo)}}
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="new-shade">

                        <div class="col-xs-12 ptb-15">
                            <span>Expected Door Delivery Date</span>
                            <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryExpected))}}</h6>

                        </div>

                        <div class="col-xs-12 ptb-15">
                            <span>Door Delivery Date</span>
                            <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryActual))}}</h6>

                        </div>

                        <!-- <div class="col-xs-12 ptb-15">
									<span>Actual Pick Up Date</span>
                      <h6>{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual))}}</h6>

								</div> -->

                    </div>
                </div>
            </div>
        </div>

        <!-- 					<div class="col-xs-12 nopadding ">
					<div class="row nomargin">
						<div class="col-xs-7 col-md-7 col-lg-7 pl0 pr0">

							<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
								<div class="row nomargin">
									<div class="col-xs-12 mt10">
										<span>Door Delivery Point</span>
										{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPoint.portName)}}
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-6 pl0 pr0">
								<div class="row nomargin">
									<div class="col-xs-12 mt10">
							          <span>Door Delivery To</span>
								{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryFrom.portName)}}
									</div>
								</div>
							</div>

							<div class="row nomargin">
								<div class="form-inline">
									<div class="col-xs-6 mb-10 pl0 pr0">
										<div class="col-xs-12 mb-10 mt-5">
											<span>Contact Details</span>
											<div class="form-group nopadding nomargin  col-xs-12">
														<i class="fa fa-user"></i>
														{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryContactPerson)}}
												</div>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group nopadding nomargin col-xs-12">
														<i class="fa fa-envelope"></i>
														{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryEmail)}}
												</div>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group nomargin nopadding col-xs-12">
														<i class="fa fa-mobile"></i>
														{{shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryMobileNo}}
												</div>
											</div>
										</div>
										<div class="col-xs-12 mb-10">
											<div class="form-group nomargin nopadding col-xs-12">
												<div class="input-group col-xs-12">
														<i class="fa fa-phone"></i>
                                                             {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPhoneNo)}}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-6  col-md-6 col-lg-6 mb-5 mt-5">
									<span>Expected Door Delivery Date</span>
									{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryExpected))}}
								</div>
								<div class="col-xs-6 col-md-6 col-lg-6 mb-5">
									<span>Door Delivery Date</span>
									{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryActual))}}
								</div>
								<div class="col-xs-12 col-md-8 col-lg-6 mb-10">
									<span>Actual Pick Up Date</span>
										{{ifDataElseHifen(dateAndTimeToString(shipmentServiceDetail.pickUpDeliveryPoint.pickUpActual))}}
								</div>

									<div class="col-xs-5 nomargin nopadding">
							<div class="row nomargin">
								<div class="col-xs-12 mt10">
									<span>Door Delivery Place</span>
								</div>
							</div>

							<div class="row nomargin">
								<div class="col-xs-10 mb-10 pr0 ">
									<div class="row">
										<div class="col-xs-12">
										{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine1)}}
											<div>
											</div>
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
								{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine2)}}
											</div>
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
											{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.addressLine3)}}
										</div>
									</div>
									<div class="row mt-15">
										<div class="col-xs-12 pl0 pr0">
											<div class="col-xs-4 pl0 ">
											{{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.state.stateName)}}
											</div>
											<div class="col-xs-4 pl0 ">
                                                 {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.city.cityName)}}												
												</div>
									</div>
											<div class="col-xs-4 pl0 pr0">
											 {{ifDataElseHifen(shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace.zipCode)}}		
																						</div>
										</div>
									</div>
								</div>							

							</div> -->
    </div>
</div>

<div ng-show="soushipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace!=null && shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace!='' && shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace!=null && shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace!='' ">
    <div class="row">

        <div class="map-point">
            <div class="col-xs-6 ">
                <h5 style="font-size: 13px; font-weight: normal;"><span style="font-weight:900;"><i class="fa fa-truck rotate-y" aria-hidden="true"></i> From </span>{{sourceMapPlace}} <span style="font-weight:900;">To</span>
										{{destinationMapPlace}} | <span style="font-weight:900;">Distance </span>
										{{map.directionsRenderers[0].directions.routes[0].legs[0].distance.text}}
									</h5>

            </div>
            <div class="col-xs-6 ">

                <div class="rigt-pont">
                    <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="googleMapModal(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace, shipmentServiceDetail.pickUpDeliveryPoint.deliveryPlace);">
                        <span style="float:left;"> Pickup From Shipper</span><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span><span style="float:right;">  CFS / Depot</span></button>
                    <button class="btn btn-primary btn-xs btn-property accent-btn" ng-click="googleMapModal(shipmentServiceDetail.pickUpDeliveryPoint.pickUpPlace, shipmentServiceDetail.pickUpDeliveryPoint.doorDeliveryPlace);">
                        <span style="float:left;">CFS</span><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span><span style="float:right;"> Delivery to Consignee</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div ng-if="true" style="margin-bottom:10px;margin-top:10px;">
        <div class="panel panel-default">

            <div class="panel-body nopadding nopanel_pattern">
                <div class="col-xs-12 nopadding mt10">
                    <div class="row nomargin">

                        <ng-map zoom="14" center="{{destinationMapPlace}}" style="height:100%;">
                            <directions draggable="true" travel-mode="DRIVING" origin="{{sourceMapPlace}}" destination="{{destinationMapPlace}}"> </directions>
                        </ng-map>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--  Door Delivery ends -->

<!--Pickup / Delivery Ends Here-->