
		<!--GENERAL TAB-->
		<div class="row shade1">
			<div class="col-xs-12 pl0 pr0">
				<div class="col-xs-12 col-md-5">
					<div class="row">
						<div class="col-xs-6 col-md-6  form-group">
							  <span>Service</span>
                               <h6>{{shipmentServiceDetail.serviceMaster.serviceName}}</h6>
						</div>
						<div class="col-xs-6 col-md-6 form-group">
							<span>{{appMasterData['Party_Label']}}</span>
                                       <h6 style="color:{{shipmentServiceDetail.party.gradeMaster.colorCode}}">{{shipmentServiceDetail.party.partyName}}</h6>
							</div>
						</div>
					</div>
				<div class="col-xs-12 col-md-7">
					<div class="row ">
						<div class="col-xs-6 col-md-4 col-sm-6 form-group">
							<span>Terms of Shipment</span>
							<h6>{{shipmentServiceDetail.tosMaster.tosName}}</h6>
						</div>
						<div class="col-xs-3 col-md-4 col-sm-3 col-lg-4 form-group">
							<span>Commodity Group</span>
							<h6>{{ifDataElseHifen(shipmentServiceDetail.commodity.hsName)}}</h6>
						</div>
						<div class="col-xs-3 col-md-4 col-sm-3 col-lg-4 form-group">
							<span>Direct</span>
							<h6>{{ifDataElseHifen((shipmentServiceDetail.directShipment?'Yes':'No'))}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- second tab -->
	<div class="row">
		<div class="col-xs-12 pl0 pr0 ">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                  <span>Freight</span>
			      <h6>{{ifDataElseHifen((shipmentServiceDetail.ppcc?'Collect':'Prepaid'))}}</h6>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
					 <span>Routed</span>
			      <h6>{{ifDataElseHifen((shipmentServiceDetail.whoRouted?'Agent':'Self'))}}</h6>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 form-group">
				<span>Routed By</span>
			      <h6 ng-hide="shipmentServiceDetail.whoRouted">{{ifDataElseHifen((shipmentServiceDetail.salesman.employeeName))}}</h6>
			      <h6 ng-hide="!shipmentServiceDetail.whoRouted">{{ifDataElseHifen((shipmentServiceDetail.agent.partyName))}}</h6>
				</div>
				<div class="col-xs-3 col-md-4 col-sm-3 col-lg-4 form-group">
					 <span>Master Shipment</span>
			      <h6>{{shipmentServiceDetail.consolUid}}</h6>
				</div>
				<div class="col-xs-3 col-md-4 col-sm-3 col-lg-4 form-group">
					 <span>Clearance</span>
			      <h6>{{shipmentServiceDetail.isClearance?'Yes':'No'}}</h6>
				</div>
			</div>
		</div>
		</div>
		</div>
		
		
		
	<div class="row ">
		<div class="col-xs-12 pl0 pr0 ">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5  ">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  form-group">
 					<span>Origin</span>
                        <h6>{{ifDataElseHifen((shipmentServiceDetail.origin.portName))}}</h6>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  form-group">
						<span>{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Loading':'Port of Loading'}}</span>
                        <h6>{{ifDataElseHifen((shipmentServiceDetail.pol.portName))}}</h6>
				</div>
			</div>
		</div> 
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4  form-group">
					<span>{{shipmentServiceDetail.serviceMaster.transportMode=='Air'?'Airport of Discharge':'Port of Discharge'}}</span>
                     <h6>{{ifDataElseHifen((shipmentServiceDetail.pod.portName))}}</h6>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 form-group">
					<span>Destination</span>
                     <h6>{{ifDataElseHifen((shipmentServiceDetail.destination.portName))}}</h6>
				</div>
					<div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 form-group">
					<span>Trade</span>
                     <h6>{{shipmentServiceDetail.isTranshipment?'Transhipment':shipmentServiceDetail.serviceMaster.importExport}}</h6>
				</div>
			</div>
		</div>
		</div>
		</div>
		
		
		
		<div class="row">
		<div class="col-md-12 pl0 pr0">
			<div ng-click="routInfo=!routInfo"
							ng-init="routInfo=true"  ng-class="$uiShipmentDataService.routingAndCarrierStatus(shipmentServiceDetail)?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$uiShipmentDataService.routingAndCarrierStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}">Routing & Carrier Info</h5>
							</div>
							<div>
								<i  style="color:{{$uiShipmentDataService.routingAndCarrierStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}" class="{{routInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>

		   </div>
		   
		<!-- third tab -->
		<div class=" pt0 fx-fade-normal fx-ease-sin mt10  mb10"
							ng-hide="!routInfo">
		<div class="col-xs-12 col-md-5 col-sm-12 col-lg-5">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 form-group">
                      <span>Carrier</span>
                     <h6><img ng-show="shipmentServiceDetail.carrier.image!=null"  data-ng-src="data:image/png;base64,{{shipmentServiceDetail.carrier.image}}" style="padding-right:3px;" width="23" height="20">{{ifDataElseHifen((shipmentServiceDetail.carrier.carrierName))}}</h6>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-6 col-lg-6 form-group">
				    <span>Flight No</span>
                     <h6>{{ifDataElseHifen((shipmentServiceDetail.routeNo))}}</h6>
					<div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-7 col-lg-7 col-sm-12">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
						  <span>MAWB No</span>
                     <h6>{{ifDataElseHifen((shipmentServiceDetail.mawbNo))}}</h6>
					</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
					  <span>ETD</span>
                     <h6>{{ifDataElseHifen((dateAndTimeToString(shipmentServiceDetail.etd)))}}</h6>
               </div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
		         <span>ETA</span>
                   <h6>{{ifDataElseHifen((dateAndTimeToString(shipmentServiceDetail.eta)))}}</h6>
                 </div>
				</div>
			</div>
			</div>
		</div>
		</div>

	<!--row ends-->
	<div class="row shade3 pl0 pr0">
		<div class="col-xs-12 pl0 pr0">


			<div class="panel-body nopadding">
				<div class="mb0 bor-b-0  pb0">

					<div class=" ">

						<div
							ng-click="conInfo=!conInfo"
							ng-init="conInfo=true"  ng-class="$uiShipmentDataService.connectionStatus(shipmentServiceDetail)?'done-approve':''"
							class=" mb0 cursorPt flex align-justify align-middle title">
							<div >
								<h5 style="color:{{$uiShipmentDataService.connectionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}">Connections</h5>
							</div>
							<div>
								<i  style="color:{{$uiShipmentDataService.connectionStatus(shipmentServiceDetail)?'#fff !important':'#000 !important;'}}" class="{{conInfo==true?'icon-uparrow':' icon-downarrow'}}"></i>
							</div>

						</div>
						<div class=" pt0 fx-fade-normal fx-ease-sin mt10 marginlr15px mb10"
							ng-hide="!conInfo">
							<div class="row nomargin nopadding">
								  <div class="col-xs-12 pl0 pr0">
                                                                    <div class=" table-responsive" ng-show="shipmentServiceDetail.connectionList.length>0">
                                                                        <table class="table table-inline">
                                                                            <thead class="borderthead">
                                                                            <tr>
                                                                            <th class="inl_xs">#</th>
                                                                            <th class="inl_mp">Move </th>
                                                                            <th class="inl_m">From</th>
                                                                            <th class="inl_m">To</th>
                                                                            <th class="inl_mp">ETD</th>
                                                                            <th class="inl_mp">ETA</th>
                                                                            <th class="inl_l">Carrier / Vessel</th>
                                                                            <th class="inl_s">Voy / Flt No</th>
                                                                            <th class="inl_m">Status</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr ng-repeat="serviceConnection in shipmentServiceDetail.connectionList track by $index">
                                                                                <td>{{serialNo($index)}}</td>
                                                                                <td>{{serviceConnection.move}}</td>
                                                                                <td>{{serviceConnection.pol.portName}}</td>
                                                                                <td>{{serviceConnection.pod.portName}}</td>
                                                                                <td><span>{{dateToString(serviceConnection.etd)}}</span> </td>
                                                                                <td><span>{{dateToString(serviceConnection.eta)}}</span> </td>
                                                                                <td><img ng-show="serviceConnection.carrierMaster.image!=null"  data-ng-src="data:image/png;base64,{{serviceConnection.carrierMaster.image}}" style="padding-right:3px;" width="23" height="20">{{serviceConnection.carrierMaster.carrierName}}</td>
                                                                                <td>{{serviceConnection.flightVoyageNo}}</td>
                                                                                <td>{{serviceConnection.connectionStatus}}</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                	<empty-record 	ng-show="!shipmentServiceDetail.connectionList || shipmentServiceDetail.connectionList.length==0" 
                                                                					icon="connections" text="Looks like there are no connection records here"></empty-record>
                                                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>