<div class="container-fluid pl0 pr0 page-style" >
    <div class="row ml0 mr0">                                  
        <div class="col-xs-12 editview">
          <form id="crnCostForm" name="crnCostForm">
            <div class="panel panel-default masOpertion">
                <div class="panel-heading bg-trans">
                    <div class="w-50">

                        <h4 >{{invoiceCreditNote.id!=null?'Edit':'Add'}} Credit Note Cost
                            <span ng-show="invoiceCreditNote.id!=null"># {{invoiceCreditNote.invoiceCreditNoteNo}}</span> </h4>
                    </div>

                    <div class="w-50">
                        <ul class="list-inline text-right masopertion-action">
                            <li>
                                <button tabindex="-1" type="button" class="btn btn-default btn-xs btn-property cancel-btn" ng-click="cancelCrnCost()">Cancel</button>
                            </li>
                            <li>
                                <button  tabindex="-1" type="button" ng-disabled="disableSubmitBtn" class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="invoiceCreditNote.id!=null?update():saveCrnCost()">{{invoiceCreditNote.id!=null?'Update':'Save'}}</button>
                            </li>
                        </ul>
                    </div>



                </div><!--PANEL HEADING ENDS-->
                <div class="pad-15">
                    <div>
                         <span class="error-message" ng-show="errorMap.get('consolServiceRequired')!=null">
                             <small>{{errorMap.get('consolServiceRequired')}}</small>
                         </span>
                    </div>
                </div><!--RESPONSE MESSAGE ALERT BOX ENDS-->
                
                
                <div class="panel-body pt0" ng-click="showHistory=false" id="creditnote-panel" panel-height-fit ng-nicescroll nice-option="{{ngScrollConfig}}">
                   
                   <div class="row nopadding shade1 bor-0">
							<div class="col-xs-12 ptb5">
								<span class="reqColor nomargin">*</span> <small
									class="opc-5 f-12b4">Indicates Mandatory Fields</small>
							</div>
						</div>
                      <client-error message="clientMessage"></client-error>
						<div show-response></div>

                    <div class="row shade1 ptb0">
                        <div class="col-xs-12">
                            <div class="row">

                                    <div class="page-body ptb0">
                                        <div class="row   ">
                                            <div class="col-xs-5 ">
                                                <div class="row">
                                                    <div class="flex-row ptb-15">
                                                        <div class="col-xs-6 ">
                                                            <label>Daybook <span>*</span></label>
                                                            <div class="select-auto">
															<input type="text" 
															class="form-control" id="daybook" 
														    input-focus="{{errorMap.get('invoice.daybookMaster')!=null || firstFocus}}"
															autocomplete="off"
															ng-model="invoiceCreditNote.daybookMaster"
															uib-typeahead="lovObject as lovObject.daybookName for lovObject in $AutoCompleteService.getSearchDaybookByDocumentTypeList($viewValue,documentTypeMaster.id)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedDaybook('customerAgent');"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
                                                              
                                                            </div>
                                                            <span class="error-message"
														      ng-show="errorMap.get('invoice.daybookMaster')!=null"><small>
															{{errorMap.get('invoice.daybookMaster')}} </small></span>
                                                        </div>
                                                        <div class="col-xs-5 ">
                                                        <label class=" custom-label">Agent / Customer <span>*</span></label> <select 
										class="form-control " id="customerAgent"
										 ng-change="changeType('invoiceParty');"
										ng-options="item for item in enum['CustomerAgent']"
										ng-model="invoiceCreditNote.customerAgent">
										<option disabled selected value>Select</option>
									</select>
									
									<span class="error-message"
														      ng-show="errorMap.get('invoice.customerAgent')!=null"><small>
															{{errorMap.get('invoice.customerAgent')}} </small></span>
                                                       
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-7 ">
                                                <div class="row">
                                                    <div class="flex-row ptb-15">
                                                        <div class="col-xs-4 ">
                                                            <label>Date <span>*</span></label>
                                                            <div class="inputBox">
                                                                <input  class="form-control" ng-model="invoiceCreditNote.invoiceCreditNoteDate"  
                                                                        datetimepicker  id="crnDate"
                                                                        datetimepicker-options="{{datePickerOptions}}"
                                                                        date-callback="nextFocus('billingCurrency')">
															         <span class="inputIcon">
                                                                         <i class="icon-date" aria-hidden="true"></i>
                                                                     </span>

                                                            </div>
                                                            <span class="error-message"
														      ng-show="errorMap.get('invoice.invoiceCreditNoteDate')!=null"><small>
															{{errorMap.get('invoice.invoiceCreditNoteDate')}} </small></span>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label>Due Date </label>
                                                            <div class="inputBox">
                                                                <input  class="form-control" ng-model="invoiceCreditNote.dueDate"  ng-disabled="true"
                                                                       datetimepicker
                                                                       datetimepicker-options="{{datePickerOptions}}">
															         <span class="inputIcon">
                                                                         <i class="icon-date" aria-hidden="true"></i>
                                                                     </span>

                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4"  ng-show="invoiceCreditNote.id!=null">
                                                            <span></span>
                                                            
                                                            
                                                            
                                       <label class=" custom-label">Status </label> <select 
										class="form-control " id="invoiceStatus"
										
										ng-options="item for item in enum['InvoiceStatus']"
										ng-model="invoiceCreditNote.invoiceStatus">
									    </select>
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="row">
                                                    <div class="col-xs-12 ptb-15">
                                                        <div class="form-group  mb0">
                                                            <div class="row">
                                                                <div class="col-xs-11">
                                                                    <label>{{appMasterData['Party_Label']}} <span>*</span></label>
                                                                    <div class="select-auto">
                                                                        <input type="text" 
															class="form-control" id="invoiceParty" 
															input-focus="{{errorMap.get('invoice.party')!=null}}"
															autocomplete="off"
															ng-model="invoiceCreditNote.party"
															uib-typeahead="lovObject as lovObject.partyName for lovObject in $AutoCompleteService.getPartyList($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedParty('addr1');"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															typeahead-add-new="routePartyEvent('invoiceCreditNote.party',true,null)"
															ng-change="clearPartyAddress(invoiceCreditNote.party)"
															>
															<span class="select-arrow"><b></b></span>
                                                                    </div>
                                                                    <span class="error-message"
                                                                          ng-show="errorMap.get('invoice.party')!=null"><small>
															{{errorMap.get('invoice.party')}} </small></span>


                                                                </div>
                                                                <div class="col-xs-1 pl0 mt-25">
                                                                    <!--<label class="visible-hide">Empty</label>-->
                                                                    <a tabIndex="-1"
                                                                            href="javascript:void(0)"
                                                                            class="selectPicker-sm"
                                                                            data-container="false" 
                                                                            data-placement="auto right" 
                                                                              bs-tooltip="editParty"
                                                                            ng-show="invoiceCreditNote.party!=null && invoiceCreditNote.party.id!=null"
                                                                            ng-click="routePartyEvent('invoiceCreditNote.party',false,invoiceCreditNote.party)">
                                                                        <i class="icon-edit"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mt-5 mb0">
                                                            <div class="row">
                                                                <div class="col-xs-11">
                                                                    <!--<label>Address <span>*</span></label>-->
                                                                    <input  class="form-control" type="text" id='addr1'
                                                                            ng-change="validateInvoiceHeader(2)"
                                                                            ng-model="invoiceCreditNote.partyAddress.addressLine1"
                                                                            maxlength="100"> <span class="error-message"
                                                                                                   ng-show="errorMap.get('invoiceCreditNote.partyAddress.addressLine1')!=null">
                                                                    <small>{{errorMap.get('invoiceCreditNote.partyAddress.addressLine1')}}</small>
                                                                </span>
                                                                </div>
                                                                <div class="col-xs-1 pl0">
                                                                    <!--<label class="visible-hide">Empty</label>-->
                                                                    <a  tabIndex="-1" href="javascript:void(0)" ng-show="invoiceCreditNote.party!=null && invoiceCreditNote.party.id!=null"
                                                                        ng-click="showPartyAddress()"
                                                                        class="selectPicker-sm"> <i
                                                                            class="fa fa-chevron-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <!--row ends-->
                                                        </div>
                                                        <div class="form-group mt-5 mb0">
                                                            <div class="row">
                                                                <div class="col-xs-11">
                                                                    <input  class="form-control" type="text"
                                                                            ng-change="validateInvoiceHeader(3)"
                                                                            ng-model="invoiceCreditNote.partyAddress.addressLine2"
                                                                            maxlength="100"> <span class="error-message"
                                                                                                   ng-show="errorMap.get('invoiceCreditNote.partyAddress.addressLine2')!=null">
                                                                    <small>{{errorMap.get('invoiceCreditNote.partyAddress.addressLine2')}}</small>
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <!--row ends-->
                                                        </div>
                                                        <div class="form-group mt-5 mb0">
                                                            <div class="row">
                                                                <div class="col-xs-11">
                                                                    <input  class="form-control" type="text"
                                                                            ng-change="validateInvoiceHeader(4)"
                                                                            ng-model="invoiceCreditNote.partyAddress.addressLine3"
                                                                            maxlength="100"> <span class="error-message"
                                                                                                   ng-show="errorMap.get('invoiceCreditNote.partyAddress.addressLine3')!=null">
                                                                <small>{{errorMap.get('invoiceCreditNote.partyAddress.addressLine3')}}</small>
                                                            </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mt-5 mb0">
                                                            <div class="row">
                                                                <div class="col-xs-11">
                                                                    <input  class="form-control" type="text"
                                                                            ng-change="validateInvoiceHeader(5)"
                                                                            ng-model="invoiceCreditNote.partyAddress.addressLine4"
                                                                            maxlength="100"> <span class="error-message"
                                                                                                   ng-show="errorMap.get('invoiceCreditNote.partyAddress.addressLine4')!=null">
                                                                    <small>{{errorMap.get('invoiceCreditNote.partyAddress.addressLine4')}}</small>
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <!--row ends-->
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 ptb-15">
                                                        <div class="row">
                                                            <div class="col-xs-7">
                                                                <label>{{appMasterData['Party_Label']}} Account No<span>*</span></label>
                                                                <div class="select-auto">
                                                                    <input type="text" 
															class="form-control" id="partyAccount"
														    input-focus="{{errorMap.get('invoice.partyAccount')!=null}}"
															autocomplete="off"
															ng-model="invoiceCreditNote.partyAccount"
															uib-typeahead="lovObject as lovObject.accountCode for lovObject in $AutoCompleteService.getSearchPartyAccountList($viewValue,invoiceCreditNote.party.id)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedAccountMaster('crnDate');"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false" 
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
                                                                </div>
                                                                <span class="error-message"
                                                                      ng-show="errorMap.get('invoice.partyAccount')!=null">
                                                                                 <small>{{errorMap.get('invoice.partyAccount')}}</small></span>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <label>Subledger</label>
                                                                <input type="text"  ng-disabled="true"  ng-model="invoiceCreditNote.subledger"  class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="row ptb-15">
                                                    <div class="col-xs-4">
                                                        <label>Master ID</label>
                                                        <input type="text"  ng-disabled="true"  ng-model="invoiceCreditNote.masterUid" class="form-control"/>
                                                    </div>
                                                    <div class="col-xs-4" ng-show="shipmentCreditNote">
                                                        <label>Shipment ID</label>
                                                        <input type="text"  ng-disabled="true" ng-model="invoiceCreditNote.shipmentUid"  class="form-control"/>
                                                    </div>
                                                </div>

                                                <div class="row ptb-15">
                                                    <div class="col-xs-4">
                                                        <label>Invoice Currency <span>*</span></label>
                                                        <div class="select-auto">
                                                            <input type="text" 
															class="form-control" id="billingCurrency" 
														    input-focus="{{errorMap.get('invoice.billingCurrency')!=null}}"
															autocomplete="off"
															ng-model="invoiceCreditNote.billingCurrency"
															uib-typeahead="lovObject as lovObject.currencyCode for lovObject in $AutoCompleteService.getCurrencyIncludeList($viewValue)"
															typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
															typeahead-show-hint="true" typeahead-show-loading="true" 
															 typeahead-select-on-exact="true" typeahead-append-to-body="true"
															typeahead-on-select="selectedCurrency('roe');"
															typeahead-focus-on-select="false"
															typeahead-focus-first="true"
															typeahead-editable="false"
															typeahead-min-length="1" typeahead-wait-ms="500" 
															>
															<span class="select-arrow"><b></b></span>
                                                        </div>
                                                        <span class="error-message"
                                                              ng-show="errorMap.get('invoice.billingCurrency')!=null">
                                                                             <small>{{errorMap.get('invoice.billingCurrency')}}</small>
                                                                </span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label>ROE <span>*</span></label>
                                                        <input type="text" ng-model="invoiceCreditNote.roe" id="roe"  maxlength="12" 
                                                        ng-change="validateCrnCost(11)==true?updateChargeListData():''"
                                                               class="text-right form-control"/>
                                                        <span class="error-message"
                                                              ng-show="errorMap.get('invoiceCreditNote.roe')!=null">
                                                                             <small>{{errorMap.get('invoiceCreditNote.roe')}}</small></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label>Credit Note Cost Amount <h ng-show="userProfile.selectedUserLocation.countryMaster.currencyMaster.currencyCode!=null">({{userProfile.selectedUserLocation.countryMaster.currencyMaster.currencyCode}})</h></label>
                                                        <input type="text"   ng-disabled="true"   ng-model="invoiceCreditNote.localAmount"  class="form-control text-right"/>
                                                    </div>
                                                </div>

                                                <div class="row ptb-15">
                                                    <div class="col-xs-4">
                                                        <label>Credit Note Cost Amount <h ng-show="invoiceCreditNote.billingCurrency.currencyCode!=null">({{invoiceCreditNote.billingCurrency.currencyCode}})</h></label>
                                                        <input type="text"  ng-disabled="true"   ng-model="invoiceCreditNote.currencyAmount"  class="form-control text-right"/>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label>Amount Received <h ng-show="invoiceCreditNote.billingCurrency.currencyCode!=null">({{invoiceCreditNote.billingCurrency.currencyCode}})</h></label>
                                                        <input type="text"  ng-disabled="true"  ng-model="invoiceCreditNote.amountReceived"  class="form-control text-right"/>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label>Outstanding <h ng-show="invoiceCreditNote.billingCurrency.currencyCode!=null">({{invoiceCreditNote.billingCurrency.currencyCode}})</h></label>
                                                        <input type="text"  ng-disabled="true"   ng-model="invoiceCreditNote.outstandingAmount"  class="form-control text-right"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>






                                    </div><!--page body ends-->

                            </div>
                        </div><!--Col Ends-->
                    </div><!--Row Ends-->
                    <div class="row nopadding">
                        <div class="col-xs-12 nopadding">
                            <ul df-tab-menu menu-control="{{Tabs}}" theme="bootstrap" theme-class="btn-tabs" ng-init="clickOnTabView('charge')">
                                <li data-menu-item="charge" >
                                    <button type="button" class="btn" ng-class="Tabs=='charge'?'active':'btn-normal'"   tabindex="-1" ng-click="clickOnTabView('charge');navigateToNextField('serviceList0');">charge</button>
                                </li>
                                <!-- <li data-menu-item="receipts">
                                    <button type="button" class="btn" ng-class="Tabs=='receipts'?'active':'btn-normal'" ng-click="Tabs='receipts'">receipts</button>
                                </li> -->
                                <li data-menu-item="attachments">
                                    <button type="button" class="btn" ng-class="Tabs=='attachments'?'active':'btn-normal'"  tabindex="-1" ng-click="clickOnTabView('attachments');navigateToNextField('attachRefNo0');">attachments</button>
                                </li>
                                <li data-menu-item="notes">
                                    <button type="button" class="btn" ng-class="Tabs=='notes'?'active':'btn-normal'"  tabindex="-1" ng-click="clickOnTabView('notes');navigateToNextField('invoiceNote');">notes</button>
                                </li>
                                <li data-more-menu-item>
                                    <button type="button" class="btn btn-normal">
                                        More <span class="icon-downarr"></span>
                                    </button>
                                </li>
                            </ul><!--TAB MENUS ENDS-->
                            <div class="tab-content shade3 pt-15">
                                <div ng-show="Tabs=='charge'">
                                    <div class="row nomargin">
                                        <div class="col-xs-12 ">
                                            <!--<div ng-include="'app/shared/inlineEditTables/invoice_charge/charge_table.html'"></div>-->
                                            <invoice-Charge-Table table-data="invoiceCreditNote.invoiceCreditNoteDetailList"
                                            update-charge="updateChargeListData"
                                            table-check="tableInvoiceDetailState"
                                            document-type="documentType"
                                            shipment-service-detail="shipmentServiceDetail"
                                            shipment-service-list="shipmentServiceList"
                                            consol="consol"
                                            depend-data="invoiceCreditNote"
                                            calc-fn="calculateChargeAmount(param)"
										    show-Errors="showRateErrorState"
										    btn-index="12" 
										    fn-role="roleAccess(param)"
                                            add-role="$roleConstant.FINANCE_CREDIT_NOTE_COST_CHARGE_CREATE"
                                            delete-role="$roleConstant.FINANCE_CREDIT_NOTE_COST_CHARGE_DELETE"
                                            rate-role="$roleConstant.FINANCE_CREDIT_NOTE_COST_CHARGE_GET_RATE_FROM_PROVISION_LIST"  >
                                            </invoice-Charge-Table>
											
										</div>
                                        <div class="col-xs-12 mt-25">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="table-responsive ">
                                                        <table class="table bor light-yellow">
                                                            <tbody>
                                                            <tr>
                                                                <td class=" pad-11-15 f-13b-4 v-align-mid nowrap">Total Debit</td>
                                                                <td class="text-right pad-11-15 ">
                                                                    <ul class="list-inline">
                                                                        <li class="nowrap">{{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNote.totalDebitCurrencyAmount)}} {{invoiceCreditNote.billingCurrency.currencyCode}}</li>
                                                                    </ul>
                                                                </td>
                                                                <td class="text-right pad-11-15 " >
                                                                    <ul class="list-inline">
                                                                        <li class="nowrap">{{currencyFormat(userProfile.selectedUserLocation.countryMaster.currencyMaster,invoiceCreditNote.totalDebitLocalAmount)}} {{userProfile.selectedUserLocation.countryMaster.currencyMaster.currencyCode}}</li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="table-responsive ">
                                                        <table class="table bor light-yellow">
                                                            <tbody>
                                                            
                                                            <tr>
                                                                <td class="pad-11-15 f-13b-4 v-align-mid nowrap">Total Credit</td>
                                                                <td class="text-right pad-11-15 bor-0">
                                                                    <ul class="list-inline">
                                                                        <li class="nowrap">{{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNote.totalCreditCurrencyAmount)}} {{invoiceCreditNote.billingCurrency.currencyCode}}</li>
                                                                    </ul>
                                                                </td>
                                                                <td class="text-right pad-11-15 bor-0">
                                                                    <ul class="list-inline">
                                                                        <li class="nowrap">{{currencyFormat(userProfile.selectedUserLocation.countryMaster.currencyMaster,invoiceCreditNote.totalCreditLocalAmount)}} {{userProfile.selectedUserLocation.countryMaster.currencyMaster.currencyCode}}</li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                           
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="table-responsive ">
                                                        <table class="table bor light-yellow">
                                                            <tbody>
                                                            <tr>
                                                                <td class="pad-11-15 f-13b-4 v-align-mid nowrap">Net</td>
                                                                <td class="text-right pad-11-15 bor-0">
                                                                    <ul class="list-inline">
                                                                        <li class="nowrap">{{currencyFormat(invoiceCreditNote.billingCurrency,invoiceCreditNote.netCurrencyAmount)}} {{invoiceCreditNote.billingCurrency.currencyCode}}</li>
                                                                    </ul>
                                                                </td>
                                                                <td class="text-right pad-11-15 ">
                                                                    <ul class="list-inline">
                                                                        <li class="nowrap">{{currencyFormat(userProfile.selectedUserLocation.countryMaster.currencyMaster,invoiceCreditNote.netLocalAmount)}} {{userProfile.selectedUserLocation.countryMaster.currencyMaster.currencyCode}}</li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!--charge TAB ENDS-->
                                <div ng-show="Tabs=='receipts'">
                                    <div class="row nomargin">
                                        <div class="col-xs-12 ">


                                                    <invoice-Receipt-Table table-data="dataObj.data"></invoice-Receipt-Table>

                                            <!--<div class="table-responsive">-->
                                                <!--<table class="table table-hover">-->
                                                    <!--<thead>-->
                                                    <!--<th class="width20px">#</th>-->
                                                    <!--<th>Daybook Code</th>-->
                                                    <!--<th>Document No.</th>-->
                                                    <!--<th>Currency</th>-->
                                                    <!--<th class="text-right">Amount</th>-->
                                                    <!--</thead>-->
                                                    <!--<tbody>-->
                                                    <!--<tr>-->
                                                        <!--<td></td>-->
                                                        <!--<td></td>-->
                                                        <!--<td></td>-->
                                                        <!--<td></td>-->
                                                        <!--<td class="text-right"></td>-->
                                                    <!--</tr>-->
                                                    <!--</tbody>-->
                                                <!--</table>-->
                                            <!--</div>-->

                                        </div>
                                    </div>
                                </div><!--charge TAB ENDS-->
                                <div ng-show="Tabs=='attachments'">
                                    <div class="row nomargin noborder ">
                                        <attachment-section-simple
                                        		is-edit = "true" is-delete = "true"
                                                picker-name="documentName"
                                                table-data="invoiceCreditNote.invoiceCreditNoteAttachmentList"
                                                attachment-config="attachConfig"
                                                manipulate-fn="manipulateAttach(param)"
                                                remove-fn="removeAttach(param)"
                                                download-fn="downloadAttach(param)"
                                                picker-fn="showDocList(param)"
                                                fn-role="roleAccess(param)"
                                                table-check="creditNoteTableCheck.isAttachmentCheck"
                                                add-role="$roleConstant.FINANCE_CREDIT_NOTE_COST_ATTACHMENT_CREATE"
                                                delete-role="$roleConstant.FINANCE_CREDIT_NOTE_COST_ATTACHMENT_DELETE"
                                                download-role="$roleConstant.FINANCE_CREDIT_NOTE_COST_ATTACHMENT_DOWNLOAD"
                                                edit-status="attachConfig.editStatus">
                                        </attachment-section-simple>
                                    </div>
                                    <!--<div class="row nomargin">-->
                                        <!--<div class="col-xs-12 ">-->
                                            <!--<div class="table-responsive">-->
                                                <!--<table class="table table-hover">-->
                                                    <!--<thead>-->
                                                    <!--<th class="width20px">#</th>-->
                                                    <!--<th>Reference #</th>-->
                                                    <!--<th>File Name</th>-->
                                                    <!--<th class="width20px">Actions</th>-->
                                                    <!--</thead>-->
                                                    <!--<tbody>-->
                                                    <!--<tr>-->
                                                        <!--<td></td>-->
                                                        <!--<td></td>-->
                                                        <!--<td>bill1.png</td>-->
                                                        <!--<td><i class="icon-download"></i></td>-->
                                                    <!--</tr>-->
                                                    <!--</tbody>-->
                                                <!--</table>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div><!--charge TAB ENDS-->

                                <div ng-show="Tabs=='notes'">
                                    <div class="row nomargin">
                                        <div class="col-xs-6">

                                            <label>Notes</label>
                                            <textarea
                                                    msd-elastic
                                                    class="form-control"
                                                    id="invoiceNote" name="note"
                                                    ng-model="invoiceCreditNote.note"
                                                    ng-class="{'error-control':errorMap.get('note')!=null}"
                                                    maxlength="4000"
                                                    capitalize style="height: 100px !important;"
                                                    >
                                        </textarea>
                                        </div>
                                    </div>
                                </div><!--notes TAB ENDS-->
                            </div><!--TAB CONTENT TAB ENDS-->
                        </div>
                    </div><!-- TAB CONTENT ROW ENDS-->
                    <!--ACTIVE LOG DETAILS STARTS-->
                    <div class="logs-view width42per logs-transition bg-white" ng-show="showHistory">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="title">
                                            <div class="flex align-justify align-middle">
                                                <div>
                                                    <a href="javascript:;">
                                                        <span class="icon-close-detail" ng-click="showHistory=false"></span>
                                                        <a data-placement="bottom"
                                                             bs-tooltip="close"
                                                           href="javascript:void(0)"
                                                           class="list-panel-back"></a>
                                                        <span>Activity</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 pt15">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class=" ">
                                                    <div class="col-xs-6">
                                                        <span class="text-muted">Last Modified this Invoice</span>
                                                        <div class="card">
                                                            <ul class="list-inline card-cell">
                                                                <li>
                                                                    <hm-init-icon customer-name="invoiceCreditNote.systemTrack.lastUpdatedUser"></hm-init-icon>
                                                                </li>
                                                                <li>
                                                                    <ul class="list-unstyled mt-5">
                                                                        <li>{{invoiceCreditNote.systemTrack.lastUpdatedUser|uppercase}}</li>
                                                                        <li class="span text-muted">{{dateAndTimeToString(invoiceCreditNote.systemTrack.lastUpdatedDate)}}</li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span class="text-muted">Created this Invoice</span>
                                                        <div class="card">
                                                            <ul class="list-inline card-cell">
                                                                <li>
                                                                    <hm-init-icon customer-name="invoiceCreditNote.systemTrack.createUser"></hm-init-icon>
                                                                </li>
                                                                <li>
                                                                    <ul class="list-unstyled mt-5">
                                                                        <li>{{invoiceCreditNote.systemTrack.createUser | uppercase}}</li>
                                                                        <li class="span text-muted">{{dateAndTimeToString(invoiceCreditNote.systemTrack.createDate)}}</li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                   <div class="row">
                                    <div class="col-xs-12">
                                        <div class="title">
                                            <div class="flex align-justify align-middle">
                                                <div><h5>Dimensions</h5></div>
                                                <div>
                                                    <span class="fa fa-chevron-right"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 ptb-15" >
                                            <table class="table tab-border tab-width table-default tab-col-bg">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>No. of Pieces</th>
                                                    <th class="text-right">Length</th>
                                                    <th class="text-right">Width</th>
                                                    <th class="text-right">Height</th>
                                                    <th class="text-right">Volume Weight</th>
                                                    <th class="text-right">Gross Weight</th>
                                                    <th>Created On</th>
                                                    <th>Created By</th>
                                                    <th>Modified On</th>
                                                    <th>Modified By</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>{{$index+1}}</td>
                                                    <td>10</td>
                                                    <td class="text-right">10</td>
                                                    <td class="text-right">10</td>
                                                    <td class="text-right">10</td>
                                                    <td class="text-right">1.700</td>
                                                    <td class="text-right">160.000</td>
                                                    <td>Jan 22, 2012  <span>22:20</span></td>
                                                    <td>Smith</td>
                                                    <td>Feb 12, 2012 <span>21:20</span></td>
                                                    <td>Smith</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                   <div class="row">
                                    <div class="title">
                                        <div class="flex align-justify align-middle">
                                            <div><h5>General Notes</h5></div>
                                            <div>
                                                <span class="fa fa-chevron-right"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15">
                                        <table class="table tab-border table-default">
                                            <thead>
                                            <tr>
                                                <th width="50">#</th>
                                                <th>Description</th>
                                                <th>Created On</th>
                                                <th>Created By</th>
                                                <th>Modified On</th>
                                                <th>Modified By</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{$index+1}}</td>
                                                <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                                <td>Jan 22, 2012  <span>22:20</span></td>
                                                <td>Smith</td>
                                                <td>Feb 12, 2012 <span>21:20</span></td>
                                                <td>Smith</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>&lt;!&ndash;general notes ends&ndash;&gt;
                                <div class="row">
                                    <div class="title">
                                        <div class="flex align-justify align-middle">
                                            <div><h5>Air Notes</h5></div>
                                            <div>
                                                <span class="fa fa-chevron-right"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15">
                                        <table class="table tab-border table-default">
                                            <thead>
                                            <tr>
                                                <th width="50">#</th>
                                                <th>Description</th>
                                                <th>Created On</th>
                                                <th>Created By</th>
                                                <th>Modified On</th>
                                                <th>Modified By</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{$index+1}}</td>
                                                <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                                <td>Jan 22, 2012  <span>22:20</span></td>
                                                <td>Smith</td>
                                                <td>Feb 12, 2012 <span>21:20</span></td>
                                                <td>Smith</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>&lt;!&ndash;Air notes ends&ndash;&gt;
                                <div class="row">
                                    <div class="title">
                                        <div class="flex align-justify align-middle">
                                            <div><h5>Charge History</h5></div>
                                            <div>
                                                <span class="fa fa-chevron-right"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span class="text-muted">Last Modified</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <div class="cardhexagon">
                                                                <span class="cardName">L</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled">
                                                                <li>Linda</li>
                                                                <li class="span text-muted">Dec 20, 2010  10:15</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <span class="text-muted">Created</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <div class="cardhexagon">
                                                                <span class="cardName">S</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled">
                                                                <li>Smith</li>
                                                                <li class="span text-muted">Jan 1, 2008  22:00</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="in pr8 text-muted">Charge</label>
                                                <select>
                                                    <option>FRT(FREIGHT CHARGE)</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="flex align-middle align-justify">
                                                    <div><label class="in pr8 text-muted">Action</label></div>
                                                    <div>
                                                        <div class="btn-group btn-group-justified"  bs-radio-group>

                                                            <label class="btn btn-default fsl-btn-group"> <input
                                                                    type="radio" class="btn btn-default" >
                                                                Inserted
                                                            </label>
                                                            <label class="btn btn-default fsl-btn-group"> <input
                                                                    type="radio" class="btn btn-default" >
                                                                Updated
                                                            </label>
                                                            <label class="btn btn-default fsl-btn-group"> <input
                                                                    type="radio" class="btn btn-default" >
                                                                Deleted
                                                            </label>
                                                            <label class="btn btn-default fsl-btn-group"> <input
                                                                    type="radio" class="btn btn-default" >
                                                                All
                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="flex align-middle flex-end">
                                                    <div><label class="in pr8 text-muted">User</label></div>
                                                    <div>
                                                        <select>
                                                            <option>Smith</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ptb-15">
                                        <table class="table tab-border table-default ">
                                            <thead>
                                            <tr>
                                                <th rowspan="2">#</th>
                                                <th rowspan="2">Charge</th>
                                                <th rowspan="2">Currency</th>
                                                <th rowspan="2">Unit</th>
                                                <th colspan="2" class="text-center"><b>No of Units</b></th>
                                                <th colspan="2" class="text-center"><b>Sell Rate</b></th>
                                                <th colspan="2" class="text-center"><b>Buy Rate</b></th>
                                                <th rowspan="2">Actual / Chargeable Weight	</th>
                                                <th rowspan="2">Notes</th>
                                                <th rowspan="2">Action</th>
                                                <th rowspan="2">User</th>
                                                <th rowspan="2">Date & TIme</th>
                                            </tr>
                                            <tr>
                                                <th colspan="1" class="text-right">Min</th>
                                                <th colspan="1" class="text-right">Max</th>
                                                <th colspan="1" class="text-right">Amount per unit	</th>
                                                <th colspan="1" class="text-right">Min amount</th>
                                                <th colspan="1" class="text-right">Cost per unit</th>
                                                <th colspan="1" class="text-right">Min cost</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>FRT (FREIGHT CHARGE)</td>
                                                <td>INR</td>
                                                <td>KG</td>
                                                <td class="text-right">10.00</td>
                                                <td class="text-right">20.00</td>
                                                <td class="text-right">12.00</td>
                                                <td class="text-right">100.00</td>
                                                <td class="text-right">12.00</td>
                                                <td class="text-right">90.00</td>
                                                <td>Chargable Weight</td>
                                                <td class="text-center">
                                                    <a href="javascript:;" data-placement="top-right" data-content=" {{charge.note}}" data-trigger="focus" bs-popover><i class="fa fa-file-o" aria-hidden="false"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <span class="label label-primary">Updated</span>
                                                </td>
                                                <td>
                                                    Smith
                                                </td>
                                                <td>
                                                    Jan 22, 2012 <span> 22:20</span>
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>&lt;!&ndash;Charge history ends&ndash;&gt;-->
                            </div>
                        </div>
                    </div>
                </div><!--PANEL BODY ENDS-->
            <!--panel body ends-->

       


              <div ng-hide="!showPartyAddressList" class="wrapper-back-drop"></div>
              


          
                     <div ng-show="showPartyAddressList"
						class="logs-transition sideView">
						<select-list-picker panel-title="panelTitle"
							selected="selectedItem" data="partyAddressList"
							cancel-event="cancelPartyAddress()"
							click-event="selectedPartyAddress(param)"
							config="partyAddressListConfig"> </select-list-picker>
					</div>
					


       </div><!--PANEL ENDS-->
</form>
    </div><!--COLUMN 8 ENDS-->

</div><!--ROW ENDS-->
</div><!--CONTAINER FLUID ENDS-->
