<div class="col-xs-12 detailview">
    <ul class="list-inline mb-10">
        <li>
	        <a href="javascript:void(0);" class="btn btn-xs btn-property btn-gray" ng-click="back()"><i class="icon-back-menu"></i>Back</a>
        </li>
        <li class=" pull-right">
            <!-- <ul class="list-inline">
                <li>
                    <ul class="list-inline li-p0">
                       <li>{{selectedRecordIndex+1}}</li>
                            <li>of</li>
                            <li>{{totalRecord}}</li>
                    </ul>
                </li>
                <li class="pr0">
                    <ul class="list-inline next-prev">
                        <li data-placement="auto bottom"   bs-tooltip="prev"><i class="icon-r-arrow"  aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                        <li data-placement="auto bottom"    bs-tooltip="next"><i class="icon-r-arrow" aria-hidden="true"  ng-click="singlePageNavigation(1)"></i></li>
                    </ul>
                </li>
            </ul> -->
        </li>
    </ul><!--ADD BAR ENDS-->
    <div class="panel panel-default">
        <div class="panel-heading" >
            <div class="row">
                <div class="col-xs-5">
                    <h4>Provisional Revenue / Cost</h4>
                </div>
                <div class="col-xs-7">
                    <ul class="list-inline pull-right masopertion-action mt-5">
                    <li><a  href="javascript:void(0)"
                           ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory" class="list-panel-edit-btn"><i data-placement="bottom"   bs-tooltip="activity" class="icon-logs"></i></a></li>
                    <li><a data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="edit()"><i class="icon-edit"></i></a></li>
                    <!--<li><a data-placement="bottom"   bs-tooltip="delete"  href="javascript:void(0)" ng-click="deleteMaster()" class="list-panel-edit-btn"><i class="icon-delete"></i></a></li>-->
                    </ul>
                </div>
            </div><!--Row ends-->
        </div><!--PANEL HEADING ENDS-->
        <div class="panel-body info-view pt0" ng-click="showHistory=false" id="service-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
            <div class="row">
                <div class="col-xs-8 ptb-15">
                    <div class="row">
                        <div class="col-xs-3">
                            <span>Master ID</span><!--master id should be hidden for shipment-->
                            <h6 class="text-blue">{{provisional.masterUid}}</h6><!--This should be link... please handle it-->
                        </div>
                        <div class="col-xs-2" ng-hide="true"><!--shipment id should be hidden for consol-->
                            <span>Shipment ID</span>
                            <h6 class="text-blue">{{provisional.shipmentUid}}</h6><!--This should be link... please handle it-->
                        </div>
                        <div class="col-xs-3">
                            <span>Service Name</span>
                            <h6>{{provisional.serviceName}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="flex align-right">
                        <div class="checkbox check-btn check-default nomargin">
                            <label><input type="checkbox" ng-model="morePro">Show More Info</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  bor-0">
                <div class="col-xs-12 ptb-15">
                    <div class="table-responsive">
                        <table class="table table-inline mb0">
                            <thead>
                            <tr>
                                <th rowspan="2" class="text-center inl_xxs">#</th>
                                <th rowspan="2" class="inl_sm">Service ID</th>
                                <!--<th rowspan="2" class="w150px">Charge code</th>-->
                                <th rowspan="2" class="inl_s">Charge</th>
                                <th ng-hide="morePro" rowspan="2" class="inl_s">Unit</th>
                                <th ng-hide="morePro" rowspan="2" class="text-right inl_s">No of Units</th>
                                <th ng-hide="morePro" colspan="6" class="text-center"><b>Sell</b></th>
                                <th ng-hide="morePro" colspan="6" class="text-center"><b>Buy</b></th>

                                <th ng-show="morePro" colspan="2" class="text-center"><b>Sell</b></th>
                                <th ng-show="morePro" colspan="2" class="text-center"><b>Buy</b></th>

                                <!--<th rowspan="2" class="w100px"> Ref. Type	</th>-->
                                <th ng-hide="morePro" rowspan="2"  class="inl_xxs">More</th>

                                <th rowspan="2"  class="inl_sm" ng-show="morePro">Reference Type</th>
                                <th rowspan="2"  class="inl_sm" ng-show="morePro">Reference No</th>
                                 <th rowspan="2"  class="inl_sm" ng-show="morePro">Is Neutral</th>
                                <!--<th rowspan="2" class="text-center inl_xs">Action</th>-->

                            </tr>
                            <tr>
                                <th ng-show="morePro" colspan="1"  class="inl_m" ng-show="morePro">Bill to party</th>
                                <th ng-show="morePro" colspan="1"  class="inl_lp" ng-show="morePro">Sell Description</th>
                                <th ng-show="morePro" colspan="1"  class="inl_m" ng-show="morePro">Vendor Subledger</th>
                                <th ng-show="morePro" colspan="1"  class="inl_lp" ng-show="morePro">Buy Description</th>


                                <th ng-hide="morePro" colspan="1" class="inl_xs">Currency</th>
                                <th ng-hide="morePro" colspan="1" class="text-right inl_xs">ROE</th>
                                <th ng-hide="morePro" colspan="1" class="text-right inl_s" >Amt per Unit	</th>
                                <th ng-hide="morePro" colspan="1" class="text-right inl_s" >Amount</th>
                                <th ng-hide="morePro" colspan="1" class="text-right inl_sm" >Amt ({{provisional.localCurrency.currencyCode}})</th>
                                <!--<th colspan="1" class=" w250px">Bill to {{appMasterData['Party_Label']}}</th>
                                <th colspan="1" title="Description" class="w50px">Des.</th>-->
                                <th ng-hide="morePro" colspan="1" class="inl_xs">Tax</th>
                                <th ng-hide="morePro" colspan="1" class="inl_xxs" title="Currency Code" >Currency</th>
                                <th ng-hide="morePro" colspan="1" class="text-right inl_xxs" >ROE</th>
                                <th ng-hide="morePro" colspan="1" class="text-right inl_s" >Amt per Unit</th>
                                <th ng-hide="morePro" colspan="1" class="text-right inl_s" >Amount</th>
                                <th ng-hide="morePro" colspan="1" class="text-right inl_sm" >Amt ({{provisional.localCurrency.currencyCode}})</th>
                                <!--<th colspan="1" class="w250px">Vendor Subledger</th>
                                <th colspan="1" title="Description" class="w50px">Desc.</th>-->
                                <th ng-hide="morePro" colspan="1" class="inl_xxs text-center" >+ / -</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat = "provisionalItem in provisional.provisionalItemList track by $index">

                                <td class="text-center">{{$index+1}}</td>
                                <td class="text-blue cur-pointer" >{{provisionalItem.serviceUid}}</td>

                                <td style="padding-left: 5px !important; padding-right: 5px !important;">{{provisionalItem.chargeMaster.chargeName}}</td>
                                <td ng-hide="morePro" style="padding-left: 5px !important; padding-right: 5px !important;">{{provisionalItem.unitMaster.unitCode}}</td>
                                <td ng-hide="morePro" class="text-right" style="padding-left: 5px !important; padding-right: 5px !important;">{{weightFormat(provisionalItem.noOfUnits,provisionalItem.shipmentService.country.locale)}}</td>
                                <td ng-hide="morePro" class="text-left" style=" padding-left: 5px !important; padding-right: 5px !important;"> {{provisionalItem.sellCurrency.currencyCode}} </td>
                                <td ng-hide="morePro" class="text-right">{{currencyRoeFormat(provisional.localCurrency,provisionalItem.sellRoe)}}</td>
                                <td ng-hide="morePro" class="text-right">{{currencyFormat(provisionalItem.sellCurrency,provisionalItem.sellAmountPerUnit)}}</td>
                                <td ng-hide="morePro" class="text-right">{{currencyFormat(provisionalItem.sellCurrency,provisionalItem.sellAmount)}}</td>
                                <td ng-hide="morePro" class="text-right">{{currencyFormat(provisional.localCurrency,provisionalItem.sellLocalAmount)}}</td>
                                <!--<td></td>
                                <td class="text-center">
                                    <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="notesmodel()"></span>
                                </td>-->
                                <td ng-hide="morePro" class="text-center">
                                    <div class="checkbox nomargin">
                                        <label><input type="checkbox" value="" ng-disabled = "showTax"></label>
                                    </div>
                                </td>
                                <td ng-hide="morePro" style=" padding-left: 5px !important; padding-right: 5px !important;">{{provisionalItem.buyCurrency.currencyCode}}</td>
                                <td ng-hide="morePro" class="text-right">{{currencyRoeFormat(provisional.localCurrency,provisionalItem.buyRoe)}}</td>
                                <td ng-hide="morePro" class="text-right">{{currencyFormat(provisionalItem.buyCurrency,provisionalItem.buyAmountPerUnit)}}</td>
                                <td ng-hide="morePro" class="text-right">{{currencyFormat(provisionalItem.buyCurrency,provisionalItem.buyAmount)}}</td>
                                <td ng-hide="morePro" class="text-right">{{currencyFormat(provisional.localCurrency,provisionalItem.buyLocalAmount)}}</td>
                                <!--<td></td>
                                <td class="text-center">
                                    <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="notesmodel()"></span>
                                </td>-->
                                <td ng-hide="morePro" class="text-center">{{provisionalItem.plusMinus}}</td>
                                <td ng-hide="morePro" class="text-center">
                                    <span class="icon-notes" data-animation="am-fade-and-scale" data-placement="center" ng-click="refmodel(provisionalItem)"></span>
                                </td>
                                <td ng-show="morePro">{{provisionalItem.billToParty.partyName}}</td>
                                <td ng-show="morePro">{{provisionalItem.sellDescription}}</td>
                                <td ng-show="morePro">{{provisionalItem.vendorSubledger.partyName}}</td>
                                <td ng-show="morePro">{{provisionalItem.buyDescription}}</td>
                                <td ng-show="morePro">{{provisionalItem.referenceType.referenceTypeName}}</td>
                                <td ng-show="morePro">{{provisionalItem.reference}}</td>
                                 <td ng-show="morePro">
                                 {{provisionalItem.isNeutral || provisionalItem.isNeutral=='Yes'?'Yes':'No'}}</td>
                                <!--<td>
                                    324663434576
                                </td>-->

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row pb0 pt10 nomargin">
                <div class="col-xs-3 pl0">
                    <div class="sm-inline-box" >
                        <div>Total Revenue</div>
                        <div>{{currencyFormat(provisional.localCurrency,provisional.totalRevenue)}} <span>{{provisional.localCurrency.currencyCode}}</span></div>
                    </div>
                </div>
                <div class="col-xs-3 pl0">
                    <div class="sm-inline-box" >
                        <div>Total Cost</div>
                        <div>{{currencyFormat(provisional.localCurrency,provisional.totalCost)}} <span>{{provisional.localCurrency.currencyCode}}</span></div>
                    </div>
                </div>
                <div class="col-xs-3 pl0">
                    <div class="sm-inline-box">
                        <div>Net</div>
                        <div>{{currencyFormat(provisional.localCurrency,provisional.netAmount)}} <span>{{provisional.localCurrency.currencyCode}}</span></div>
                    </div>
                </div>
            </div>


            <!--ACTIVE LOG DETAILS STARTS-->
            <div class="logs-view width42per logs-transition bg-white" ng-show="showHistory">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div>

                                            <a href="javascript:void(0)" ng-click="showHistory=false"
                                               class="list-panel-back"><i  data-placement="bottom"   bs-tooltip="close" class="icon-close-detail"></i></a>

                                                <span>Activity</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 pt15">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class=" ">
                                            <div class="col-xs-6">
                                                <span class="text-muted">Last Modified this Consol</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="provisionalObj.systemTrack.lastUpdatedUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{provisional.systemTrack.lastUpdatedUser|uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(consol.systemTrack.lastUpdatedDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="text-muted">Created this Consol</span>
                                                <div class="card">
                                                    <ul class="list-inline card-cell">
                                                        <li>
                                                            <hm-init-icon customer-name="provisionalObj.systemTrack.createUser"></hm-init-icon>
                                                        </li>
                                                        <li>
                                                            <ul class="list-unstyled mt-5">
                                                                <li>{{provisional.systemTrack.createUser | uppercase}}</li>
                                                                <li class="span text-muted">{{dateAndTimeToString(provisionalObj.systemTrack.createDate)}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--
                           <div class="row">
                            <div class="col-xs-12">
                                <div class="title">
                                    <div class="flex align-justify align-middle">
                                        <div><h5>Dimensions</h5></div>
                                        <div>
                                            <span class="fa fa-chevron-right"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 ptb-15" >
                                    <table class="table tab-border tab-width table-default tab-col-bg">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>No. of Pieces</th>
                                            <th class="text-right">Length</th>
                                            <th class="text-right">Width</th>
                                            <th class="text-right">Height</th>
                                            <th class="text-right">Volume Weight</th>
                                            <th class="text-right">Gross Weight</th>
                                            <th>Created On</th>
                                            <th>Created By</th>
                                            <th>Modified On</th>
                                            <th>Modified By</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{$index+1}}</td>
                                            <td>10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">10</td>
                                            <td class="text-right">1.700</td>
                                            <td class="text-right">160.000</td>
                                            <td>Jan 22, 2012  <span>22:20</span></td>
                                            <td>Smith</td>
                                            <td>Feb 12, 2012 <span>21:20</span></td>
                                            <td>Smith</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                           <div class="row">
                            <div class="title">
                                <div class="flex align-justify align-middle">
                                    <div><h5>General Notes</h5></div>
                                    <div>
                                        <span class="fa fa-chevron-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <table class="table tab-border table-default">
                                    <thead>
                                    <tr>
                                        <th width="50">#</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Created By</th>
                                        <th>Modified On</th>
                                        <th>Modified By</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                        <td>Jan 22, 2012  <span>22:20</span></td>
                                        <td>Smith</td>
                                        <td>Feb 12, 2012 <span>21:20</span></td>
                                        <td>Smith</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>&lt;!&ndash;general notes ends&ndash;&gt;
                        <div class="row">
                            <div class="title">
                                <div class="flex align-justify align-middle">
                                    <div><h5>Air Notes</h5></div>
                                    <div>
                                        <span class="fa fa-chevron-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <table class="table tab-border table-default">
                                    <thead>
                                    <tr>
                                        <th width="50">#</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Created By</th>
                                        <th>Modified On</th>
                                        <th>Modified By</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>Shipments to Canada do not require an EEI except in cases where an export license is required.</td>
                                        <td>Jan 22, 2012  <span>22:20</span></td>
                                        <td>Smith</td>
                                        <td>Feb 12, 2012 <span>21:20</span></td>
                                        <td>Smith</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>&lt;!&ndash;Air notes ends&ndash;&gt;
                        <div class="row">
                            <div class="title">
                                <div class="flex align-justify align-middle">
                                    <div><h5>Charge History</h5></div>
                                    <div>
                                        <span class="fa fa-chevron-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="text-muted">Last Modified</span>
                                        <div class="card">
                                            <ul class="list-inline card-cell">
                                                <li>
                                                    <div class="cardhexagon">
                                                        <span class="cardName">L</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <ul class="list-unstyled">
                                                        <li>Linda</li>
                                                        <li class="span text-muted">Dec 20, 2010  10:15</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <span class="text-muted">Created</span>
                                        <div class="card">
                                            <ul class="list-inline card-cell">
                                                <li>
                                                    <div class="cardhexagon">
                                                        <span class="cardName">S</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <ul class="list-unstyled">
                                                        <li>Smith</li>
                                                        <li class="span text-muted">Jan 1, 2008  22:00</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="in pr8 text-muted">Charge</label>
                                        <select>
                                            <option>FRT(FREIGHT CHARGE)</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="flex align-middle align-justify">
                                            <div><label class="in pr8 text-muted">Action</label></div>
                                            <div>
                                                <div class="btn-group btn-group-justified"  bs-radio-group>

                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        Inserted
                                                    </label>
                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        Updated
                                                    </label>
                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        Deleted
                                                    </label>
                                                    <label class="btn btn-default fsl-btn-group"> <input
                                                            type="radio" class="btn btn-default" >
                                                        All
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="flex align-middle flex-end">
                                            <div><label class="in pr8 text-muted">User</label></div>
                                            <div>
                                                <select>
                                                    <option>Smith</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ptb-15">
                                <table class="table tab-border table-default ">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">#</th>
                                        <th rowspan="2">Charge</th>
                                        <th rowspan="2">Currency</th>
                                        <th rowspan="2">Unit</th>
                                        <th colspan="2" class="text-center"><b>No of Units</b></th>
                                        <th colspan="2" class="text-center"><b>Sell Rate</b></th>
                                        <th colspan="2" class="text-center"><b>Buy Rate</b></th>
                                        <th rowspan="2">Actual / Chargeable Weight	</th>
                                        <th rowspan="2">Notes</th>
                                        <th rowspan="2">Action</th>
                                        <th rowspan="2">User</th>
                                        <th rowspan="2">Date & TIme</th>
                                    </tr>
                                    <tr>
                                        <th colspan="1" class="text-right">Min</th>
                                        <th colspan="1" class="text-right">Max</th>
                                        <th colspan="1" class="text-right">Amount per unit	</th>
                                        <th colspan="1" class="text-right">Min amount</th>
                                        <th colspan="1" class="text-right">Cost per unit</th>
                                        <th colspan="1" class="text-right">Min cost</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>FRT (FREIGHT CHARGE)</td>
                                        <td>INR</td>
                                        <td>KG</td>
                                        <td class="text-right">10.00</td>
                                        <td class="text-right">20.00</td>
                                        <td class="text-right">12.00</td>
                                        <td class="text-right">100.00</td>
                                        <td class="text-right">12.00</td>
                                        <td class="text-right">90.00</td>
                                        <td>Chargable Weight</td>
                                        <td class="text-center">
                                            <a href="javascript:;" data-placement="top-right" data-content=" {{charge.note}}" data-trigger="focus" bs-popover><i class="fa fa-file-o" aria-hidden="false"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="label label-primary">Updated</span>
                                        </td>
                                        <td>
                                            Smith
                                        </td>
                                        <td>
                                            Jan 22, 2012 <span> 22:20</span>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>&lt;!&ndash;Charge history ends&ndash;&gt;-->
                    </div>
                </div>
            </div>
        </div><!--PANEL BODY ENDS-->
    </div><!--PANEL ENDS-->
</div>
