<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rel">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="nopadding">
                                <button type="button" tabindex="9" ng-blur="cancelGenerate()" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">close</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pt0">
                <form role="form">
                    <div class="row">
                        <div class="col-xs-6 ptb-15">
                            <div class="row">
                                <div class="col-xs-12 mb-15">
                                    <span>Bill to party</span>
                                    <h6>{{provisionalItem.billToParty.partyName}}</h6>
                                </div>
                                <div class="col-xs-12">
                                    <span>Sell Description</span>
                                    <h6>{{provisionalItem.sellDescription}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 bor-l-1 ptb-15">
                            <div class="row">
                                <div class="col-xs-12 mb-15">
                                    <span>Vendor Subledger</span>
                                    <h6>{{provisionalItem.vendorSubledger.partyName}}</h6>
                                </div>
                                <div class="col-xs-12">
                                    <span>Buy Description</span>
                                    <h6>{{provisionalItem.buyDescription}}</h6>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span>Bill to party</span>
                                    <h6>-</h6>
                                </div>
                                <div class="col-xs-6">
                                    <span>Sell Description</span>
                                    <h6>-</h6>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="row line">
                        <hr class="mb-15">
                    </div>
                    <!--<div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span>Vendor Subledger</span>
                                    <h6>-</h6>
                                </div>
                                <div class="col-xs-6">
                                    <span>By Description</span>
                                    <h6>-</h6>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span>Reference Type</span>
                                    <h6>{{provisionalItem.referenceType.referenceTypeName}}</h6>
                                </div>
                                <div class="col-xs-6">
                                    <span>Reference #</span>
                                    <h6>{{provisionalItem.reference}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <span>Is Neutral</span>
                                    <h6>{{provisionalItem.isNeutral || provisionalItem.isNeutral=='Yes'?'Yes':'No'}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <modal-spinner spinner-status="popup.spinner"></modal-spinner>
        </div>
    </div>
</div>
