<div class="modal page-style" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rel">
            <div class="modal-header nopadding ">
                <div class="row plr14px">
                    <div class="col-xs-6">
                        <h4>More Info</h4>
                    </div>
                    <div class="col-xs-6 mt-7">
                        <ul class="list-inline pull-right">
                            <li class="nopadding">
                                <button type="button" tabindex="0" id="cancel" ng-blur="cancelGenerate()" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Cancel</button>
                                <button type="button" tabindex="0" ng-blur="cancelGenerate()" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="$hide()" >Save</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pt0 mb0">
                <form role="form">
                    <div class="row">
                        <div class="col-xs-6 ptb-15">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Bill to party</label>
                                    
                                    <div class="select-auto">
										<input type="text" class="form-control" id="billToParty" 
										input-focus="true"
										autocomplete="off" ng-model="provisional.provisionalItemList[provisinalindex].billToParty" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxBillToPartyEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedBillToParty('salesdesc');" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
										
																
													</div>
                                    <!-- <input input-focus="true" type="text" tabindex="1" 
                                    id="billToParty" ng-change="validateProvisionItem(provisionalItem,14)" 
                                    class="form-control" ng-model="provisional.provisionalItemList[provisinalindex].billToParty"> -->
                                </div>
                                <div class="form-group">
                                    <label>Sell Description</label>
                                    <textarea  class="form-control" id="salesdesc" 
                                    ng-change="validateProvisionItem(provisionalItem,16)" ng-model="provisional.provisionalItemList[provisinalindex].sellDescription" style="height: 40px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 bor-l-1 ptb-15">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Vendor Subledger</label>
                                     <div class="select-auto">
														<input type="text" class="form-control" id="vendorSubledger" 
										autocomplete="off" ng-model="provisional.provisionalItemList[provisinalindex].vendorSubledger" 
										uib-typeahead="lovObject as lovObject.partyName for lovObject in ajaxVendorEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedVendor('buydesc');" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
													</div>
                                    
                                    <!-- <input type="text" tabindex="2" ng-change="validateProvisionItem(provisionalItem,15)" ng-model="provisional.provisionalItemList[provisinalindex].vendorSubledger" class="form-control" > -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Buy Description</label>
                                <textarea class="form-control" id="buydesc"
                                ng-change="validateProvisionItem(provisionalItem,17)" 
                                ng-model="provisional.provisionalItemList[provisinalindex].buyDescription" 
                                style="height: 40px"></textarea>
                            </div>
                        </div>

                    </div>
                    <!--<div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Bill to party</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>Sell Description</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row line">
                        <hr class="mb-15">
                    </div>
                    <!--<div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Vendor Subledger</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>By Description</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!--<div class="row line">
                        <hr class="mb-15">
                    </div>-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>Reference Type</label>
                                        <div class="select-auto">
<!--                                             <input type="text" tabindex="5" auto-complete  tabindex="1"  ng-model="provisional.provisionalItemList[provisinalindex].referenceType"  class="form-control"/>
 -->                                        
 										 <input type="text" class="form-control" id="referenceType"  ng-change="validateProvisionItem(provisionalItem,20)"  
										autocomplete="off" ng-model="provisional.provisionalItemList[provisinalindex].referenceType"
										uib-typeahead="lovObject as lovObject.referenceTypeCode for lovObject in ajaxReferenceTypeEvent($viewValue)"
										typeahead-template-url="app/shared/ui-angular-bootstrap/ui-bootstrap-typeahead-template.html"
										typeahead-show-hint="true" typeahead-show-loading="true"   typeahead-select-on-exact="true" typeahead-append-to-body="false"
										typeahead-on-select="selectedReferenceType(referenceType,'reference',provisinalindex);" 
										typeahead-focus-on-select="false"
										typeahead-focus-first="true" typeahead-editable="false"
										typeahead-min-length="1" typeahead-wait-ms="500">
									<span class="select-arrow"><b></b></span>
                                                      
                                         </div>
 
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>Reference #</label>
                                        <input type="text"  id="reference{{provisinalindex}}"  ng-change="validateProvisionItem(provisionalItem,18)" ng-blur="moveTo('cancel')" ng-model="provisional.provisionalItemList[provisinalindex].reference" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>Is Neutral</label>
                                        <ul class="list-inline">
								       <li><input type="checkbox"
										ng-model="provisional.provisionalItemList[provisinalindex].isNeutral"></li>
							          </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <modal-spinner spinner-status="popup.spinner"></modal-spinner>
        </div>
    </div>
</div>
