<div class="container-fluid resPortListPage">
	<div class="row ml0 mr0">
		<div ng-show="deskTopView" class="list-container col-md-12 col-lg-8 col-xs-12 col-sm-12  " >
			<div class="panel panel-default" ng-click="showHistory=false">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-9">
							<div class="panelTitle">
								<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-property accent-btn text-inherit" ng-click="add()"><i class="icon-add"></i> Add Terms of Shipment</a>
							</div>
						</div>
						<div class="col-md-3 pull-right text-right">
							<i class="icon-settings"></i>
						</div>
					</div>
				</div>
						<div show-response></div>
				<div success-message></div>
				<div class="panel-body no-tab-table" panel-height>
					<div class="table-fixed table-responsive">
						<super-table 	data="tosArr"
										head="tosHeadArr"
										sort="sortSelection"
										click-event="rowSelect(param)"
										search-event="changeSearch(param)"
										sort-event="sortChange(param)"
										page="page" size="limit" >
						</super-table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<ul class="list-inline">
							<li>Show</li>
							<li>
								<select class="form-control legend-show-ctrl" ng-model="limit"
										ng-change="limitChange(limit)" ng-options="v for v in limitArr">

								</select>
							</li>
							<li>Entries</li>
						</ul>
					</div>
					<div class="pull-right text-right">
						<pagination-dr  page="page" size="limit" total="totalRecord" page-change="changepage(param)" class="pull-right" ></pagination-dr>
					</div>
				</div>
			</div><!--panel ends-->
		</div>
		<div class="detail-container col-md-12 col-lg-4 col-xs-12 col-sm-12   m-pl0  ">
			<div class="panel panel-default detail-transition" ng-show="tosMaster.id!=null">
				<div class="panel-heading panel-heading-sm">
					<div>
						<div class="panelTitle">
							<span>
								<a data-placement="bottom"   bs-tooltip="back" href="javascript:void(0)" ng-click="cancel()"
								   class="list-panel-back"><i class="icon-back-menu"></i></a>
							</span>
							<span>Terms of Shipment</span>
						</div>
					</div>
					<div>
						<ul class="list-inline">
							<!--<li><i class="icon-settings"></i></li>-->
							<li><a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory"
									><i class="icon-logs" data-placement="bottom"   bs-tooltip="activity"></i></a></li>
							<li><a  data-placement="bottom"   bs-tooltip="editIcon" href="javascript:void(0)" ng-click="edit()"
								   class="list-panel-edit-btn cursorPt"><i class="icon-edit"></i></a></li>
							<li><a data-placement="bottom"   bs-tooltip="delete" href="javascript:void(0)" ng-click="deleteTos()" class="list-panel-edit-btn cursorPt"><i class="icon-delete"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body half-master-detail" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
					<div class="detail-view" ng-click="showHistory=false">
						
							<div class="row metadata-detail">
								<span >Name</span>
								<h5>{{tosMaster.tosName}}</h5>
							</div>
						
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span >Code</span>
									<h5 >{{tosMaster.tosCode}}</h5>
								</li>
								<li class="col-xs-6">
									<span >Status</span>
									<show-status status="{{tosMaster.status}}"></show-status>
								</li>
							</ul>
						</div>
						<div class="row ">
							<ul class="list-inline">
								<li class="col-xs-6">
									<span >Freight</span>
									<h5 >{{tosMaster.freightPPCC}}</h5>
								</li>
							</ul>
						</div>
						<div class="row noborder">
							<span >Description </span>
							<h5 >{{tosMaster.description==null || tosMaster.description==''?'-':tosMaster.description}}</h5>
						</div>

					</div>
					<show-history display-flag = "showHistory"
								  created-by = "tosMaster.systemTrack.createUser"
								  created-on = "dateAndTimeToString(tosMaster.systemTrack.createDate)"
								  updated-by = "tosMaster.systemTrack.lastUpdatedUser"
								  updated-on = "dateAndTimeToString(tosMaster.systemTrack.lastUpdatedDate)">
					</show-history>
				</div>
			</div>
		</div>
	</div>
</div>
