<div class="container-fluid resPortAddPage resLandAddPage">
    <div class="row ">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-7 ">
            <form role="form"  id="tosMasterForm" name="tosMasterForm"
                  ng-submit="tosMaster.id!=null?update():save()">
                <div class="panel panel-default masOpertion">
                    <div class="panel-heading flexTitle">
                        <div>
                            <h4>{{tosMaster.id!=null?'Edit':'Add'}} Terms of Shipment </h4>
                        </div>
                        <div>
                            <div class="btngrp">

                                    <button type="button" class="btn cancel-btn" ng-click="cancel()">Cancel</button>

                                    <input type="submit" class="btn accent-btn" value="{{tosMaster.id!=null?'Update':'Save'}}">

                            </div>
                        </div>
                    </div>
                    <div class="panel-body half-master-edit" id="tos-panel" panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
                        <div class="pad-15">
                            <div show-response></div>
                            <div><span class="reqColor">*</span><small class="opc-5 f-12b4"> Indicates Mandatory fields</small></div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Name<span class="reqColor">*</span>
                                </label>
                                <input input-focus="true" focus="{{errorMap.get('tosName')!=null}}" type="text"
                                       class="form-control"  ng-change="validateTosMaster(1)"
                                       id="tosName"
                                       name="tosName"
                                       ng-model="tosMaster.tosName"
                                       ng-class="{'error-control':errorMap.get('tosName')!=null}"
                                       maxlength="100"
                                       >
                                <div>
                                       <span class="error-message" ng-show="errorMap.get('tosName')!=null"><small>{{errorMap.get('tosName')}}</small></span>                         
                                  </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 nomargin nopadding">
                                <div class="col-xs-6 form-group nomargin pl0">
                                <label class="custom-label">
                                     Code<span class="reqColor">*</span>
                                </label>
                                <input focus="{{errorMap.get('tosCode')!=null}}" type="text"
                                       id="tosCode"   ng-change="validateTosMaster(2)"
                                       name="tosCode"
                                       class="form-control"
                                       ng-class="{'error-control':errorMap.get('tosCode')!=null}"
                                       ng-model="tosMaster.tosCode"
                                       maxlength="3"
                                       capitalize ng-disabled="tosMaster.id!=null">
                                <div>
                                        <span class="error-message" ng-show="errorMap.get('tosCode')!=null"><small>{{errorMap.get('tosCode')}}</small></span>   
                                </div>
                            </div>
                                <div class="col-xs-6 form-group nomargin"  ng-show="tosMaster.id!=null">

                                    <label class="w-100 custom-label">Status</label>
                                    <select class="form-control status" id="status"
                                            ng-class="setStatus(tosMaster.status)"
                                            ng-options="item for item in enum['LovStatus']"
                                            ng-model="tosMaster.status">
                                    </select>
                                </div>
                             </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label">Freight<span class="reqColor">*</span></label>
                                <button-group
                                        states="enum['PPCC']"
                                        state="tosMaster.freightPPCC"
                                        on-state-change="validateTosMaster(3)">
                                </button-group>
                                <div>
									<span class="error-message"
										ng-show="errorMap.get('freightPPCC')!=null"><small>{{errorMap.get('freightPPCC')}}</small></span>

								</div>
                            </div>
                         </div>
                        <div class="row bor-0 ">
                            <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 form-group nomargin pl0">
                                <label class="custom-label"
                                       ng-class="{'error-control':errorMap.get('description')!=null}">Description</label>
                                        <textarea
                                                msd-elastic
                                                class="form-control elastic-ht"
                                                rows="7"
                                                id="description" name="description"  ng-change="validateTosMaster(4)"
                                                ng-model="tosMaster.description"
                                                ng-class="{'error-control':errorMap.get('description')!=null}"
                                                maxlength="4000">
                                        </textarea>
                                <div>
                                        <span class="error-message"
										ng-show="errorMap.get('description')!=null"><small>{{errorMap.get('description')}}</small></span>
                                </div>


                            </div>
                         </div>
                    </div><!--panel body ends-->
                </div><!--panel ends-->
            </form>
        </div><!--col ends-->
    </div>
</div>

