<div class="pl0 pr0 half-master-edit "
                         panel-height ng-nicescroll nice-option="{{ngScrollConfig}}">
<div class="row nomargin">
	<div class="col-xs-12 pl0 pr0">
	<div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 pr0 pl0 bor-right"></div>
	
	 <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pr0 pl0 bor-right">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt10">
				<label>Customer Upload</label> <input type="text" ng-model="customer.fileName"
					class="form-control" placeholder="" disabled>
			</div>
		
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 pt10">
				<!-- <span class="custom-label"><span class="fcolor">Company Logo</span> <span class="reqColor"></span></span> -->
					<div  ng-show="customerUploadText" class="file-drop-boxxx mt-3">
						<div class="col-md-12 text-center"
						     ngf-drop 
                        	 ngf-select 
                        	 ng-model="customer.file"
                             ngf-drag-over-class="'dragover'" 
                             ngf-multiple="false" 
                             ngf-allow-dir="true"
                             class="file-drop-boxxx"
                             ng-change="chooseFile(customer,'fileUpload','customerUploadText','custBtn')" >
							<ul class="list-unstyled">
								<li>XLSX or CSV</li>
								<li>Drop Here</li>
								<li>Or</li>
								<li><button type="button"
										class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
							</ul>
						</div>
					</div>
					 <div ng-show="!customerUploadText && isCustomerBusy == true"  class="file-drop-boxxx mt-3" >
                            <div class="loader"></div>
                     </div>
					<div 
                        		ng-show="!customerUploadText && isCustomerBusy ==false" 
                        		ngf-select 
                        		ngf-drop 
                        		ng-model="customer.file" 
                        		ngf-multiple="false" 
                        		ng-change="chooseFile(customer,'fileUpload','customerUploadText','custBtn')" 
                        		class="rel img-box" 
                        		ng-mouseover="custBackDrop=true"
                             	ng-mouseleave="custBackDrop=false">
                             	  <div class="overlay-attach">
                                        <i class="icon-successfullupload"></i>
                                    </div>
                            			<div class="wrapper-back-drop hide-transition" ng-show="custBackDrop">
                                       		<span class="cursorPt overlay-img-btn" ngf-select ngf-drop ng-model="customer.file" ngf-multiple="false" ng-change="chooseFile(customer,'fileUpload','customerUploadText','custBtn')">
                                            	<i class="fa fa-upload"></i>
                                        	</span>
                            			</div>
                        </div>
                      <div>
                        <span class="error-message" ng-show="errorMap.get('fileUpload')!=null"><small>{{errorMap.get('fileUpload')}}</small></span>
                    </div>
					<div class="col-xs-12 text-center pt10">
						<div class="panelTitle ">
							<a class="btn btn-primary btn-xs btn-property accent-btn" ng-click="downloadTemplate('CUSTOMER')" 
								>Template <i class="fa fa-download" aria-hidden="true"></i>
							</a>
						</div>
					</div>

				</div>
			
            
		</div>
	

 
 

	<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pr0 pl0 bor-right">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt10">
				<label>Agent Upload</label> <input type="text" class="form-control" ng-model="agent.fileName"
					placeholder="" disabled>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 pt10">
					<div  ng-show="agentUploadText" class="file-drop-boxxx mt-3">
						<div class="col-md-12 text-center"
						     ngf-drop 
                        	 ngf-select 
                        	 ng-model="agent.file"
                             ngf-drag-over-class="'dragover'" 
                             ngf-multiple="false" 
                             ngf-allow-dir="true"
                             class="file-drop-boxxx"
                             ng-change="chooseFile(agent,'agentUpload','agentUploadText','agentBtn')" >
							<ul class="list-unstyled">
								<li>XLSX or CSV</li>
								<li>Drop Here</li>
								<li>Or</li>
								<li><button type="button"
										class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
							</ul>
						</div>
					</div>
					 <div ng-show="!agentUploadText && isAgentBusy == true"  class="file-drop-boxxx mt-3" >
                            <div class="loader"></div>
                     </div>
					<div 
                        		ng-show="!agentUploadText && isAgentBusy ==false" 
                        		ngf-select 
                        		ngf-drop 
                        		ng-model="agent.file" 
                        		ngf-multiple="false" 
                        		ng-change="chooseFile(agent,'agentUpload','agentUploadText','agentBtn')" 
                        		class="rel img-box" 
                        		ng-mouseover="agentBackDrop=true"
                             	ng-mouseleave="agentBackDrop=false">
                             	  <div class="overlay-attach">
                                        <i class="icon-successfullupload"></i>
                                    </div>
                            			<div class="wrapper-back-drop hide-transition" ng-show="agentBackDrop">
                                       		<span class="cursorPt overlay-img-btn" ngf-select ngf-drop ng-model="agent.file" ngf-multiple="false" ng-change="chooseFile(agent,'agentUpload','agentUploadText','agentBtn')">
                                            	<i class="fa fa-upload"></i>
                                        	</span>
                            			</div>
                        </div>
                      <div>
                        <span class="error-message" ng-show="errorMap.get('agentUpload')!=null"><small>{{errorMap.get('agentUpload')}}</small></span>
                    </div>
					<div class="col-xs-12 text-center pt10">
						<div class="panelTitle ">
							<a 
								class="btn btn-primary btn-xs btn-property accent-btn" ng-click="downloadTemplate('AGENT')" 
								>Template <i class="fa fa-download" aria-hidden="true"></i>
							</a>
						</div>
					</div>
	
				</div>
		</div>
	



	<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pr0 pl0" ng-if="false">
		
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  mt10">
				<label>Agent Port Master</label> <input type="text" ng-model="agentPort.fileName"
					class="form-control" placeholder="" disabled>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 pt10">
					<!-- <span class="custom-label"><span class="fcolor">Company Logo</span> <span class="reqColor"></span></span> -->
					<div  ng-show="agentPortUploadText" class="file-drop-boxxx mt-3">
						<div class="col-md-12 text-center"
						     ngf-drop 
                        	 ngf-select 
                        	 ng-model="agentPort.file"
                             ngf-drag-over-class="'dragover'" 
                             ngf-multiple="false" 
                             ngf-allow-dir="true"
                             class="file-drop-boxxx"
                             ng-change="chooseFile(agentPort,'agentPort','agentPortUploadText','agentPortBtn')" >
							<ul class="list-unstyled">
								<li>XLSX</li>
								<li>Drop Here</li>
								<li>Or</li>
								<li><button type="button"
										class="btn btn-primary btn-property browse-btn">BROWSE</button></li>
							</ul>
						</div>
					</div>
					 <div ng-show="!agentPortUploadText && isAgentPortBusy == true"  class="file-drop-boxxx mt-3" >
                            <div class="loader"></div>
                     </div>
					<div 
                        		ng-show="!agentPortUploadText && isAgentPortBusy ==false" 
                        		ngf-select 
                        		ngf-drop 
                        		ng-model="agentPort.file" 
                        		ngf-multiple="false" 
                        		ng-change="chooseFile(agentPort,'agentPort','agentPortUploadText','agentPortBtn')" 
                        		class="rel img-box" 
                        		ng-mouseover="agentPortBackDrop=true"
                             	ng-mouseleave="agentPortBackDrop=false">
                             	  <div class="overlay-attach">
                                        <i class="icon-successfullupload"></i>
                                    </div>
                            			<div class="wrapper-back-drop hide-transition" ng-show="agentPortBackDrop">
                                       		<span class="cursorPt overlay-img-btn" ngf-select ngf-drop ng-model="agentPort.file" ngf-multiple="false" ng-change="chooseFile(agentPort,'agentPort','agentPortUploadText','agentPortBtn')">
                                            	<i class="fa fa-upload"></i>
                                        	</span>
                            			</div>
                        </div>
                      <div>
                        <span class="error-message" ng-show="errorMap.get('agentPort')!=null"><small>{{errorMap.get('agentPort')}}</small></span>
                    </div>
					<div class="col-xs-12 text-center  pt10">
						<div class="panelTitle ">
							<a 
								class="btn btn-primary btn-xs btn-property accent-btn" ng-click="downloadTemplate('AGENT PORT')" 
								>Template <i class="fa fa-download" aria-hidden="true"></i>
							</a>
						</div>
					</div>
               </div>
			
		</div>
	
	
	
	
	
	

</div>
</div>
</div>


<!--row ends-->
<div class="panel-footer">
	<div class=" col-md-12 mt10 ">

		<div class="btngrp pull-right">
			<button class="btn btn-xs btn-property accent-btn" ng-click="saveMetaConfigTab('app.configuration')">
				<span class="chevron-font">&#xf053;</span> Back
			</button>
			<!-- ngIf: !isNavigation -->
			<button class="btn btn-primary btn-xs btn-property accent-btn"
				ng-click="saveMetaConfigTab('app.finance')">
				Next <span class="chevron-font">&#xf054;</span>
			</button>
			<!-- end ngIf: !isNavigation -->

		</div>
	</div>
</div>
