<div class="container-fluid">

    <div class="row ml0 mr0" ng-init="showDetail=false">
        <div class="list-container col-md-12" ng-show="!showDetail">
            <div class="row nomargin">
                <ul class="nav btn-tab2">
                    <li ng-class="detailTab=='active'?'activeBtn':''" ng-click="setSearch('active')" >
                        Active
                    </li>
                    <li ng-class="detailTab=='all'?'activeBtn':''" ng-click="setSearch('all')">
                        All
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 tab-list-container">
                <div class="row">
                    <div class="tab-content">
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-body tab-only-table" panel-height>
                                    <div class="table-fixed table-responsive">
                                       
                                        <super-table 	data="invoiceArr"
                                                        head="searchHeadArr"
                                                        sort="sortSelection"
                                                        link-event="rowLink(param)"
                                                        click-event="rowSelect(param,index)"
                                                        search-event="changeSearch(param)"
                                                        sort-event="sortChange(param)"
                                                        page="page" size="limit" >
                                        </super-table>
                                        
                                        
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>Show</li>
                                            <li>
                                                <select class="form-control legend-show-ctrl" ng-model="limit"
                                                        ng-change="limitChange(limit)" ng-options="v for v in limitArr">

                                                </select>
                                            </li>
                                            <li>Entries</li>
                                        </ul>
                                    </div>
                                    <div class="pull-right text-right">
                                        <pagination-dr  page="page" size="limit" total=totalRecord page-change="changePage(param)" class="pull-right" ></pagination-dr>
                                    </div>
                                </div>
                            </div><!--panel ends-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-if="showDetail" ng-include="'app/components/finance/credit_note_revenue/view/cn_revenue_detail.html'"></div>
    </div>

    <!--<div class="row" >-->
        <!--<div class="col-xs-12">-->
            <!--<div ng-include="'app/components/finance/invoice/view/invoice_detail.html'"></div>-->
        <!--</div>-->
    <!--</div>-->
</div>
