
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog width75per" >
        <div class="modal-content">
            <div class="modal-header flexTitle">
                <div>
                    <h4>Widgets</h4>
                </div>
                <div>
                    <div class="btngrp">
                        <button type="button" class="btn btn-primary btn-xs btn-property cancel-btn" ng-click="$hide()">Close</button>
                        <button type="button" class="btn btn-primary btn-xs btn-property accent-btn" ng-click="$hide()">Apply</button>
                    </div>
                </div>
            </div>
            <div class="modal-body h600px scroll-y">
                <div class="row">
                    <div class="col-xs-4 ptb-15 pull-right">
                            <input type="text" class="form-control" placeholder="Search Widgets"/>
                    </div>
                </div>
                <div class="row">
                    <hr class="mb0 mt10"/>
                </div>
                <div class="widgets_wrapper" ng-repeat="widgetsObj in dashboard.widgetsPanelArr track by $index">
                    <div class="row Title">
                        <h5>Enquiry</h5>
                    </div>
                    <div class="row ptb-15">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="grid_box active">
                                        Top Enquiry
                                    </div>
                                </div>
                                <div class="col-xs-3 ">
                                    <div class="grid_box">
                                        XYZ
                                    </div>
                                </div>
                                <div class="col-xs-3 ">
                                    <div class="grid_box">
                                        Bos
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="grid_box">
                                        Bos
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>