<div class="row">
    <div class="col-xs-12 mb-9">
        <div class="flex align-justify align-middle">
            <div>
                <div class="btngrp">
                    <button class="btn btn-xs btn-property btn-gray" ng-click="back()">
                    	<i class="icon-back-menu"></i> Back 
                    </button>
                    <button ng-hide="showButtonFlag" class="btn btn-primary btn-xs btn-property accent-btn"  ng-click="add()">
                    	<i class="icon-add"></i> Add CFS Receive Entry
                    </button>
                </div>
            </div>
            <!-- <div ng-hide="showButtonFlag">
                <ul class="list-inline" ng-hide ="false">
                    <li>
                        <ul class="list-inline li-p0">
                            <li>{{selectedRowIndex+1}}</li>
                            <li>of</li>
                            <li>{{totalRecord}}</li>
                        </ul>
                    </li>
                    <li class="pr0">
                        <ul class="list-inline next-prev">
                            <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(-1)"></i></li>
                            <li><i class="icon-r-arrow" aria-hidden="true" ng-click="singlePageNavigation(1)"></i></li>
                        </ul>
                    </li>
                </ul>
            </div> -->
            
        </div>
    </div><!--COL ENDS-->
    <div class="col-xs-12">
        <div class="panel panel-default masOpertion">
            <div class="panel-heading">
                <section class="row">
                    <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 mt-5">
                        <h4 class="mt-5">Receipt No <span>{{cfsReceiveEntry.cfsReceiptNumber}}</span></h4>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mt-5 ">
                        <h4 class="mb0 mt-5"> <span>{{dateToString(cfsReceiveEntry.cfsReceiptDate)}}</span></h4>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right  pull-right">
                        <ul class="list-inline masopertion-action mt-5">
                            <li>
                                <a href="javascript:void(0)" ng-class="{'active-activityBtn':showHistory}" ng-click="showHistory=!showHistory" class="list-panel-edit-btn btn-icon" data-placement="bottom"     bs-tooltip="activity">
                                   <i class="fa fa-clock-o" style="font-size:14px !important;" ></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="editCFS()" class="list-panel-edit-btn btn-icon" data-placement="bottom" bs-tooltip="edit" ng-hide="showButtonFlag">
                                   <i class="icon-edit" aria-hidden="true" style="font-size:14px !important" ></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="remove()" class="list-panel-edit-btn btn-icon" ng-hide="true">
                                    <i class="icon-delete"  aria-hidden="true" style="font-size:14px !important" ></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div><!--panel heading ends-->
            <div  class="panel-body info-view" id="service-panel" panel-height ng-nicescroll nice-option="{cursorcolor: '#3F8DEB', cursorwidth: '8px',smoothscroll: true}">
                <div class="page mb0 mtminus-15">
                    <div class="page-body ptb0">
                        <div class="row overflow-hidden">
                            <div class="col-xs-5 bor-fix bor-r-1 ">
                                <div class="ptb-15">
                                    <span>CFS</span>
                                    <h5>{{cfsReceiveEntry.cfsMaster == null || cfsReceiveEntry.cfsMaster.cfsName == null ? '-' : cfsReceiveEntry.cfsMaster.cfsName}}</h5>
                                </div>
                            </div>
                            <div class="col-xs-7 bor-fix">
                                <div class="row ptb-15">
                                    <div class="col-xs-4">
                                        <span>Shipment UID</span>
                                       <h6> <a ng-click="goToShipmentViewByShipmentUid(cfsReceiveEntry.shipmentUid)" href="javascript:void(0)" class=" hyperLink text-blue">{{cfsReceiveEntry.shipmentUid}}</a></h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>PRO No</span>
                                        <h6>{{cfsReceiveEntry.proNumber == null || cfsReceiveEntry.proNumber == '' ? '-' : cfsReceiveEntry.proNumber}}</h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>PRO Date</span>
                                        <h6>{{cfsReceiveEntry.proDate == null ? '-' : dateToString(cfsReceiveEntry.proDate)}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div><!--ROW ENDS-->
                        <div class="row">
                            <hr class="nomargin">
                        </div>
                        <div class="row overflow-hidden">
                            <div class="col-xs-5 bor-fix bor-r-1  ">
                                <div class="ptb-15">
                                    <span>Shipper</span>
                                    <h5 >{{cfsReceiveEntry.shipper == null || cfsReceiveEntry.shipper.partyName == null ? '-' : cfsReceiveEntry.shipper.partyName}}</h5>
                                </div>
                            </div><!--COL ENDS-->
                            <div class="col-xs-7 bor-fix  ">
                                <div class="ptb-15">
                                    <span>Consignee</span>
                                    <h5 >{{cfsReceiveEntry.consignee == null || cfsReceiveEntry.consignee.partyName == null ? '-' : cfsReceiveEntry.consignee.partyName }}</h5>
                                </div>
                            </div><!--COL ENDS-->
                        </div>
                        <div class="row">
                            <hr class="nomargin">
                        </div>
                        <div class="row overflow-hidden">
                            <div class="col-xs-5 bor-fix bor-r-1  ">
                                <div class="row ptb-15">
                                    <div class="col-xs-6">
                                        <span>Transporter</span>
                                        <h6>{{cfsReceiveEntry.transporter == null || cfsReceiveEntry.transporter.partyName == null ? '-' : cfsReceiveEntry.transporter.partyName}}</h6>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Warehouse Location</span>
                                        <h6>{{cfsReceiveEntry.warehouseLocation == null || cfsReceiveEntry.warehouseLocation == '' ? '-'  : cfsReceiveEntry.warehouseLocation}}</h6>
                                    </div>

                                </div>
                            </div><!--COL ENDS-->
                            <div class="col-xs-7 bor-fix  ">
                                <div class="row ptb-15">
                                    <div class="col-xs-6">
                                        <span>Shipper Ref No</span>
                                        <h6>{{cfsReceiveEntry.shipperRefNumber == null || cfsReceiveEntry.shipperRefNumber == '' ? '-' : cfsReceiveEntry.shipperRefNumber }}</h6>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>On Hand</span>
                                        <h6>{{cfsReceiveEntry.onHand == null || cfsReceiveEntry.onHand == '' ? '-' : cfsReceiveEntry.onHand }}</h6>
                                    </div>
                                </div>
                            </div><!--COL ENDS-->
                        </div>
                    </div>
                </div>
                <div class="row tabBox bor-b-0">
                    <div class="col-md-12 col-xs-12 col-lg-12 nopadding">
                        <!--Detail VIEW-->
                        <ul class="nav btn-tabs" ng-init="clickOnTab('dimension')">
                            <li>
                                <button type="button" class="btn" ng-class="moreTab=='dimension'?'active':'btn-normal'" ng-click="clickOnTab('dimension')">Dimension</button>
                            </li>
                            <li>
                                <button type="button" class="btn" ng-class="moreTab=='attachment'?'active':'btn-normal'" ng-click="clickOnTab('attachment')" >Attachments</button>
                            </li>
                            <li>
                                <button type="button" class="btn" ng-class="moreTab=='notes'?'active':'btn-normal'" ng-click="clickOnTab('notes')" >Notes</button>
                            </li>
                        </ul>
                        <div class="tab-content remPad">
                            <div role="tabpanel" ng-if="moreTab=='dimension'" class="ptb-15">
                                <div class="col-xs-12 mt-15">
                                    <div class="row mb-15">
                                        <div class="col-xs-3">
                                            <span>Dimension Unit</span>
                                            <h5>{{cfsReceiveEntry.dimensionUnit==false?'Centimeter / Kilos':'Inch / Pounds'}}</h5>
                                        </div>
                                        <div class="col-xs-2">
                                            <span class="text-right block">Dimension Value</span>
                                            <h5 class="text-right">{{cfsReceiveEntry.dimensionUnitValue}}</h5>
                                        </div>
                                    </div><!--ROW ENDS-->
                                    <div class="row">
                                        <hr class="mt0">
                                    </div>
                                    <div class="table-responsive"> 
                                    <table  class="table table-inline" ng-if="cfsReceiveEntry.cfsDimensionList.length > 0">
                                            <thead>
                                            <tr>
                                            <th class="inl_s">#</th>
                                            <th class="text-right inl_l" >No of Pieces</th>
                                            <th class="text-right inl_l">Length(in)</th>
                                            <th class="text-right inl_l">Width(in)</th>
                                            <th class="text-right inl_l">Height(in)</th>
                                            <th class="text-right inl_xl">Volume Weight(KG)</th>
                                            <th class="text-right inl_xl">Gross Weight(KG)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="dimension in cfsReceiveEntry.cfsDimensionList track by $index">
                                                <td>{{$index + 1}}</td>
                                                <td class="text-right">{{integerFormat(dimension.noOfPiece, cfsReceiveEntry.country.locale)}}</td>
                                              	<td class="text-right">{{integerFormat(dimension.length, cfsReceiveEntry.country.locale)}}</td>
                                                <td class="text-right">{{integerFormat(dimension.width, cfsReceiveEntry.country.locale)}}</td>
                                                <td class="text-right">{{integerFormat(dimension.height, cfsReceiveEntry.country.locale)}}</td>
                                                <td class="text-right">{{weightFormat(dimension.volWeight,cfsReceiveEntry.country.locale) }}</td>
                                                <td class="text-right">{{weightFormat(dimension.grossWeight, cfsReceiveEntry.country.locale)}}</td>
                                            </tr>
                                            </tbody>
                                            <tfoot class="bg-danger">
                                            <tr>
                                                <td>Total </td><!--({{!cfsReceiveEntry.dimensionUnit?'KG':'LBS'}})-->
                                                <td class="text-right">{{integerFormat(cfsReceiveEntry.noOfPieces,cfsReceiveEntry.country.locale) }}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">{{weightFormat(cfsReceiveEntry.volumeWeight,cfsReceiveEntry.country.locale)}}</td>
                                                <td class="text-right">{{weightFormat(cfsReceiveEntry.grossWeight,cfsReceiveEntry.country.locale)}}</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                        <empty-record ng-if="cfsReceiveEntry.cfsDimensionList.length==0" icon="dimension" text="Looks like there are no dimension records here"></empty-record>
                                	</div>
                                </div>
                            </div>
                            <div role="tabpanel" ng-if="moreTab=='attachment'" class="ptb-15">
                               <div class="row nomargin noborder ">
                                   <div class="col-xs-12 nopadding">
                                            <attachment-section-simple 
                                            	is-edit = "false" is-delete = "false"
                                            	table-data="cfsReceiveEntry.cfsAttachementList" 
                                            	attachment-config="attachConfig" 
                                            	download-fn="downloadAttach(param)"
                                            	download-role="$roleConstant.AIR_CFS_RECIEVE_ENTRY_ATTACHMENT_DOWNLOAD">
                                            </attachment-section-simple>
                                            <empty-record ng-if="cfsReceiveEntry.cfsAttachementList.length==0" icon="attachment" text="Looks like there are no attachement records here"></empty-record>
                                   </div>
								</div>
                            </div>
                            <div role="tabpanel" ng-if="moreTab=='notes'" class="ptb-15">
                                <div class="row nomargin mtb-15">
                                    <div class="col-xs-12">
                                        <label>Notes</label>
                                        <div class="padfull-8 shade1 bor-fix minH-150">
                                            <h6>{{cfsReceiveEntry.notes == null || cfsReceiveEntry.notes == '' ? '-' : cfsReceiveEntry.notes }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--tabcontent ends-->
                    </div><!--tab ends-->
                </div>
                <div class="logs-view width42per logs-transition bg-white" ng-if="showHistory">
                    <div class="panel panel-default h100per">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <div class="panelTitle pt5">
                                        <span>
											<a
                                                href="javascript:void(0)"
                                                ng-click="showHistory=false"
												class="list-panel-back">
                                                <i class="icon-close-detail" 	data-placement="bottom"
                                                       bs-tooltip="close"></i>
                                            </a>
										</span>
                                    <span class="font-activity-name">Activity</span>
                                </div>
                            </div>
                        </div>
                        <div 	class="panel-body logs-body enquiry-activity" panel-height-fit-body activity-show="showHistory" 
                        		ng-nicescroll nice-option="{{ngScrollConfig}}" >
                            <div class="card">
                                <ul class="list-inline card-cell">
                                    <li>
                                        <hm-init-icon customer-name="cfsReceiveEntry.systemTrack.createUser"></hm-init-icon>
                                    </li>
                                    <li>
                                        <ul class="list-unstyled mt-5">
                                            <li><b>{{cfsReceiveEntry.systemTrack.createUser | uppercase}}</b> - Created an item</li>
                                            <li class="span text-muted">{{dateAndTimeToString(cfsReceiveEntry.systemTrack.createDate)}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <ul class="list-inline card-cell">
                                    <li>
                                        <hm-init-icon customer-name="cfsReceiveEntry.systemTrack.lastUpdatedUser"></hm-init-icon>
                                    </li>
                                    <li>
                                        <ul class="list-unstyled mt-5">
                                             <li><b>{{cfsReceiveEntry.systemTrack.lastUpdatedUser | uppercase}}</b> - Updated an item</li>
                                            <li class="span text-muted">{{dateAndTimeToString(cfsReceiveEntry.systemTrack.lastUpdatedDate)}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div><!--panel body ends-->


        </div><!--panel ends-->
        <div ng-hide="!hidePage" class="wrapper-back-drop"></div>
    </div><!--COL ENDS-->
</div><!--ROW ENDS-->